[2018-04-06 08:51] Tbaut commented on #8312
Let's keep this one open, I closed other related issues.

For the record, the workaround is :

- Enable "Contracts" tab in Parity Wallet (go to "Settings")
- Add a SMS/Email Verifier contract:
- Address for Email: 0x673f0dec1416803a39d50760c697fb26f4c539b0
- Address for SMS: 0x9ae98746eb8a0aeee5ff2b6b15875313a986f103
- ABI for SMS https://etherscan.io/address/0x9ae98746eb8a0aeee5ff2b6b15875313a986

[2018-04-06 09:37] niklasad1 commented on #7268
@dushad

Ok
1. Do you still have problem when running parity without the hardware wallet?
You can do that by running parity with the following configuration:
[code]
2. Can you run parity and provide the logs :
[code]

[2018-04-06 11:15] resolver commented on #5550
how can i start mine and and add miner account to blockchain with the docker container?

because without parity in bash, how can i do this?

[2018-04-06 11:46] ddorgan commented on #5550
@resolver this is using the AuRa proof of authority consensus engine, no mining is required.

See: https://wiki.parity.io/Aura.html

[2018-04-06 11:48] resolver commented on #5550
oh :D
And how i get ETH to my Test Accounts, if i create a new Account in Parity UI?

[2018-04-06 12:00] ddorgan commented on #5550
@resolver there's already an account provisioned within the chain with lots of eth. You can download the json file and import it: https://transfer.sh/i8Luj/testchain_recovery.json ... WARNING: This is an account with an empty recovery phrase. Never use on a public network.

Or you can edit the spec file and add a line like this in the accounts section:
[code]

[2018-04-06 12:04] resolver commented on #5550
many thanks ;)

my last question: how can i add this acount for example: "0xxxxxxxxxxxxxxxxxxxxx" in my Parity UI Wallet to interacte firstly in the WebInterface to learn how it works?

[2018-04-06 12:11] resolver commented on #5550
many thanks ddorgan - i hope this thread is also helpul to other guys, which learn ethereum fantastic blockchain ;)

[2018-04-06 12:15] ravensorb commented on #7212
Any update on being able to generate new tokens?

I am getting the following

[code]

[code]

I am running as root inside a docker container

[code]
and yes, I have remapped the location of the base folder inside the docker container via config.

Note: I can generate wallet addresses without issue.

[2018-04-06 13:03] Tbaut opened #8323 "Light client stuck Syncing #2953032 on Ropsten"
_Before filing a new issue, please **provide the following information**._

Launched with Parity bootnode to make sure I don't end up [on the wrong side of the fork](https://github.com/paritytech/parity/issues/8299) using `parity --chain ropsten --light --bootnodes "enode://6332792c4a00e3e4ee0926ed89e0d27ef985424d97b6a45bf0f23e51f0dcb5e66b875777506458aea7af6f9e4ffb69f43f3778ee73ced9d34c51c4b16b0b0

[2018-04-06 13:15] mudlee commented on #8315
I see, please notify me in this issue if its been patched. thx!

[2018-04-06 14:16] 5chdn commented on #8323
Not sure why we should track this here.

[2018-04-06 14:43] #8323 closed

[2018-04-06 17:05] tomusdrw commented on #8321
This info is available on the transaction itself, just use the hash to query a transaction. IMHO doesn't make sense to duplicate the data in those RPC calls.

[2018-04-06 18:20] rustyx opened #8327 "How to edit Parity wiki?"
There is a bug in the wiki. How can I contribute a fix? Can't find a way to edit the wiki.

[2018-04-06 18:34] rustyx commented on #8327
D'oh, https://github.com/paritytech/wiki

[2018-04-06 18:34] #8327 closed

[2018-04-06 19:10] rustyx opened #8328 ""No valid password for the consensus signer" appearing randomly on startup"
I followed the [PoA tutorial](https://github.com/paritytech/wiki/blob/master/Demo-PoA-tutorial.md) and the two nodes are working, but both nodes will randomly refuse to start with the following error message:

[code]

I checked that no other instance of `node0` is running.

The config is like [in the demo](https://github.com/paritytech/parity-poa-tutorial).

node0.toml:

[code]

node1.toml:

[code

[2018-04-06 19:15] rustyx opened #8329 "generate_seal: FAIL: Accounts secret key unavailable."
I followed the [PoA tutorial](https://github.com/paritytech/wiki/blob/master/Demo-PoA-tutorial.md) and the two nodes are working, but after a while `node0` begins to log this message:

[code]

An keeps on logging it every 10 seconds.

It never happens to `node1`:

[code]

The config is like [in the demo](https://github.com/paritytech/parity-poa-tutorial).

node0.toml:

[code]

node1.toml:

[code]

[2018-04-06 19:48] tsutsu commented on #8311
I've experienced the same problem. It's not actually any particular address, but it can _seem_ to be because, if you are executing a sequence of `eth_call` requests against a fresh parity instance, it will hang in the same place each time, seemingly in response to the same request. However, if you can get some of the requests done, restart parity, and then do the rest of the requests, the original

[2018-04-07 06:38] resolver commented on #5550
i have importet the account but the balance of ETH is 0. when i created an account in parity UI the balance is 0. how to i get eth to an account to test transaction and deploy smart contracts?

[2018-04-07 08:54] EralpB opened #8331 "Parity dev config + truffle deploy, no blocks auto-mined"
I'm trying to run truffle with parity dev, I'm unlocking the account but the transactions stay in the queue like following:

https://www.dropbox.com/s/c3hf08dz3fg1pmb/Screenshot%202018-04-07%2010.52.54.png?dl=0

[2018-04-07 13:21] ttt2008 opened #8332 "parity1.9.5"
wrap  store  keep on 63.64%，in win10

[2018-04-07 19:16] Mathyn opened #8333 "Build from source fails on Raspbian"
I am trying to install Partity on Raspbian by installing from source. The `cargo build --release` command fails with the following error:
[code]

I am building from the stable branch.

Version info:
Cargo: `cargo 0.24.0 (45043115c 2017-12-05)`
Rust: `rustc 1.23.0 (766bd11c8 2018-01-01)`

I also tried with Rust 1.25.0 (latest stable) and I ran into the same problem.

Anyone know what I can do to fi

[2018-04-07 21:10] JohnnySheffield commented on #7374
We have encountered similar issue with current docker images, and are preparing a PR for non-root CentOS image, as current one is not suitable for deploying on OpenShift (Kubernetes).

We had no luck in building current Parity CentOS Docker image, so we went on and created our own. Current image is wget-ing the rpm package, but we would like to build it from source.

The Dockerfile (and the Parity

[2018-04-08 00:46] jaspmf commented on #8333
Is the 32bit OS the issue? Pi 3's are 64bit but the OS's all tend to be 32bit, raspbian included

"Note, we temporarily disabled 32-bit releases. If you require binaries for 32-bit targets such as i686 or armv7, please stay tuned for a further patch-release."

[2018-04-08 09:38] Mathyn commented on #8333
Could be, maybe one of the developers can shed some light on this?

[2018-04-08 09:44] Mathyn commented on #8333
Just noticed 1.9.4 does have an ARM build and 1.9.5 does not. I'll try and build from source for 1.9.4, maybe it works.

[2018-04-08 16:26] andresilva commented on #8311
I haven't looked into this, but the contract at `0x6a0a0fc761c612c340a0e98d33b37a75e5268472` is one of the contracts from the state bloat DDoS (https://github.com/ethereum/statesweep)

[2018-04-08 17:27] tzapu commented on #8311
figured it might be related as it was really close to the start of the attack (didn't think to search for it though :P )

interestingly, geth returns in a timely fashion, i wonder if they are doing something specific about it...

[2018-04-08 19:48] Tbaut commented on #8333
Please make sure to have rust updated `rustup update` (which you already did) and make a `cargo clean && cargo build --release`.

I'll close the issue, let us know if it persists, we can re-open it.

[2018-04-08 19:48] #8333 closed

[2018-04-08 19:57] niklasad1 commented on #8333
@Mathyn

```rustc 1.25.0``` doesn't work on the stable branch unfortunately, see #8315 for more information.

But older versions of `rustc` should work if you follow @Tbaut's instructions

[2018-04-08 20:10] Tbaut commented on #8332
Can you please answer the questions :

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

and eventually [run parity with command line](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-using-the-command-line-on-windows-) and post here its output.

[2018-04-08 21:10] Tbaut commented on #5550
This is outside of the scope of this issue @resolver, please get in touch on the (Gitter channel)[https://gitter.im/paritytech/parity-poa] if you have any question related to PoA.

[2018-04-08 21:28] Tbaut commented on #8329
Not beeing able to access the password or the private key seems to be related https://github.com/paritytech/parity/issues/8328
Can you confirm that the error in this issue only happens to node0?

[2018-04-09 00:26] stone212 commented on #7212
@ravensorb What version of Parity are you using?  I opened this ticked with 1.7.x but have not had the error with 1.9.x.

[2018-04-09 00:30] ravensorb commented on #7212
I am running the docker stable image right now.

[2018-04-09 02:40] spiffylogic commented on #7340
I am getting this issue as well after upgrading to macOS High Sierra and getting my MacBook Pro logic board replaced.  It works if I do `--base-path $HOME` with `$HOME` set to a different directory, but then it doesn't have my existing account information. I'm stuck. Any updates?

[2018-04-09 09:05] Tbaut commented on #7212
Please give it a try with the following flags :
`sudo docker run --rm -ti --name parity -p 8180:8180 -p 8545:8545 -p 30303:30303 -p 8546:8546 -v ~/.local/share/io.parity.ethereum/docker/:/root/.local/share/io.parity.ethereum/ parity/parity:beta --ws-interface all --jsonrpc-interface all --ws-origins all --ui-interface all`
Please make sure that you eventually replace "all" with your IP

[2018-04-09 10:44] d10r commented on #7203
I agree with @stone212 about this issue not being solved.

Having bootnodes set correctly is no guarantee for avoiding this kind of cross-chain chatter which can effectively DoS an Ethereum network.

The root problem seems to be that devp2p has no concept of incompatible networks (e.g. because of different *network_id*).
As a consequence, while connection attempts between nodes of incompatible net

[2018-04-09 11:54] 5chdn commented on #7162
https://github.com/ethereum/EIPs/pull/987/files

[2018-04-09 12:40] congnghiakhiem opened #8336 "Parity in light mode, auto return ETH when received"
I use a parity wallet in light mode. I sent 0.01 Eth successfully. Then I sent 0.2 Eth successfully.
But it return 0.166528186212708 Eth automatically.
I tried to send more Eth, but it still return 0.166528186212708 Eth to the source address.
When its balance is 0.07483406893645824 Eth, I tried to send out 0.025 Eth. It return a transaction hash. But this transaction hash is unable to locate by et

[2018-04-09 12:59] Tbaut commented on #8336
Can you please anser the questions :

And give more insights about how you send your ETH (RPC, UI ?), and eventually give some Tx Hash for us to have a look.

What do you mean exactly with "return", did the Eth get out, and then in again (can you provide a Tx Hash also to verify it ?)

[2018-04-09 13:28] debris commented on #8336
I removed labels, cause it's technically not possible

[2018-04-09 14:34] #7392 closed

[2018-04-09 14:35] #6138 closed

[2018-04-09 14:38] congnghiakhiem commented on #8336
I'm running:

Which Parity version?: version Parity/v1.11.0-unstable-54c9c38-20180402/x86_64-linux-gnu/rustc1.25.0
Which operating system?: CentOS Linux release 7.4.1708 (Core)
How installed?: from source
Are you fully synchronized?: no (light = true)
Which network are you connected to?: default
Did you try to restart the node?: yes

[2018-04-09 14:38] #8336 closed

[2018-04-09 15:36] Pzixel opened #8339 "Cannot unlock account"
_Before filing a new issue, please **provide the following information**._

I'm trying to unlock account on the node via `--unlock` option in parity.

My steps:

1. Geth attach to the machine
1. Type `personal.newAccount()`. Copy Account address `0x4d871ec265596529da5940b3bfa6375faa6e00a9`
1. Enter passphrase `mypassword`
1. `echo "mypassword" > ./parity/config/passwords.txt`
1. add following to d

[2018-04-09 16:55] chevdor opened #8342 "Increase blocksize limit for the dev chain"
Currently, it does not seem possible to pass arguments while using `--chain dev` to influence the gas limit per block. Did I miss an option?

The limit seems to be current set around ~6.6M

Since the network runs now around 8M, I would suggest to bump the limit for the specs of the dev chain to 10~12M.

[2018-04-09 17:45] Tbaut commented on #8339
@Pzixel the message mentions that the consensus signer doesn't get unlocked. This is related to your `authority.toml`. Make sure to have the password for both `00bd…7c9e` **and** `4d871...00a9` in your `passwords.txt` as the `--password` flag will override anything you set in `authority.toml`

[2018-04-09 18:01] vieiralc opened #8343 "Retrieving data from a Parity Dapps"
_Before filing a new issue, please **provide the following information**._

I'm creating a voting dapp. In this dapp a user can register a candidate. This is the function of the smart contract that sets a candidate and the function the returns the total amount of candidates registered:

[code]

This is the code used in the UI that calls the contract and registers a candidate:

[code]

So I use thi

[2018-04-09 18:25] Tbaut commented on #8343
@vieiralc This repo is dedicated to Parity and I don't think web3 or general Dapp questions will be answered here. Please post on an appropriate forum such as https://ethereum.stackexchange.com/

[2018-04-09 18:25] #8343 closed

[2018-04-09 18:40] Pzixel commented on #8339
@Tbaut thank you for response. My authority accounts doesn't have password at all. Does app expect that it's possible?

[2018-04-09 20:31] awgneo commented on #7694
I can confirm that this fixes the time drift issue. Thank you!!

[2018-04-09 20:43] Tbaut commented on #8339
I don't think that Parity expects it. Could you try to set up your authorities with some passwords?

[2018-04-10 03:42] miningpoolhub opened #8344 "1.9.5-stable sync error"
_Before filing a new issue, please **provide the following information**._

I tried 1.9.5 stable version for mining but it doesn't even sync well.

Here's the log from 1.9.5
[code]

At the same time, v1.7.12 is working well. Here's v1.7.12 log.
Two nodes are running on different server. Even their block heights are far different
[code]

I don't think 1.9.5 is stable.
I also tested on Ethereum clas

[2018-04-10 03:49] tzapu commented on #8311
i have also have it happen consistently for the following addresses
[code]
Tried to look into what @tsutsu mentioned and my findings are:
- 1 core gets locked to 100% for as long as the request/connection is kept open
- this happens even if i restart parity
- this happens even if i reboot the server and it's the first request i run

[2018-04-10 05:29] tzapu commented on #7749
same here, started a light client sync on the brew beta and got
[code]

and can no longer sync

[2018-04-10 06:16] tzapu commented on #7749
a db kill and restart later and it synced

[2018-04-10 07:51] tomusdrw commented on #8344
Hi @miningpoolhub, was 1.9.5 synced from scratch?

1.9.5 has a slightly different database layout. High block import times (~11s) and low peer count suggest that there is some heavy CPU/io activity in the background.
I suspect it might be a database compaction/re-organization happening in the background.

[2018-04-10 08:36] #6706 closed

[2018-04-10 08:36] phahulin commented on #8006
@5chdn can you reopen this please? I'm still unable to speed up warp sync

I've set up 3 servers with 4 cpu cores, 16 GB RAM each, tried both aws and azure. Azure seems to be a bit faster.
Also tried 1 dedicated server on OVH with 8 cores, 32 GB RAM

Here's config of server clients:
[code]

I try to warp sync from scratch, here's my local client config:
[code]
Both locally and on servers I run par

[2018-04-10 08:45] tzapu commented on #8311
does not seem related to docker, ran on one of the server parity installed through snaps `Parity/v1.10.0-unstable-0a9d41e-20180320/x86_64-linux-gnu/rustc1.24.1`
same thing.
also noticed that while cores are locked at 100% from the requests, parity doesn't stop
[code]

[2018-04-10 08:47] shisoft opened #8345 "panicked at 'Transaction was signed by AccountsProvider; it never produces invalid signatures; qed: Ethkey(InvalidSignature)'"
I am getting this panic on an account defined in chain spec. The account was created in a placeholder chain spec through command line and then copy to the actual authority chain key folder before started.

This happened every time I tried to transfer balance to another account and parity wallet asked me to sign the transaction.

[2018-04-10 08:52] 5chdn commented on #8006
I reopen it if you can highlight the underlying pain point. A warp sync that takes 7 minutes is not a pain point. But if you have ideas to improve this whatsoever, feel free to create a pull request.

[2018-04-10 09:04] phahulin commented on #8006
Painpoint is that it syncs 82 snapshots in 7 minutes, while kovan's 202 snapshots take less than 5. So the sync speed is the pain point, how can we improve it?

[2018-04-10 09:16] Tbaut commented on #8301
A transaction ending up in the future queue should be either because of a nonce problem (your transaction has a nonce <=155 or >=156) or the transaction exceeds the nodes' gasLimit.

Could you please verify both cases?
Launching the nodes with `parity -ltxqueue=trace` could also help understand why you transaction ends up here.

[2018-04-10 09:25] raeder1986 opened #8349 "Docker-compose "IO error: directory: Invalid argument""
_Before filing a new issue, please **provide the following information**._

Good day! I am testing docker-compose version of cluster, and while docker-compose up yaml file I get all services working, except parity with this error in parity container logs:
Loading config file from /parity/config/authority.toml
2018-04-10 09:21:21 UTC Starting Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-linux-gnu/rus

[2018-04-10 09:30] Renatss opened #8351 "Cannot send funds into my exchange"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I'm having an issue in Parity ,
I can see my erc20 token balance with a query on the contract, i can also see on etherscan that the tokens are there but when I want to send them to my exchang

[2018-04-10 09:32] raeder1986 commented on #8349
Good day! I am testing docker-compose version of cluster, and while `docker-compose up` yaml file I get all services working, except parity with this error in parity container logs:
Loading config file from /parity/config/authority.toml
2018-04-10 09:21:21 UTC Starting Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-linux-gnu/rustc1.22.1
2018-04-10 09:21:21 UTC Keys path /root/.local/share/io.parity.et

[2018-04-10 09:41] resolver commented on #5550
i have accounts in spec.json (chain spec):

{

	"name": "parity",
    	"engine": {
        "authorityRound": {
            "params": {
                "gasLimitBoundDivisor": "0x400",
                "stepDuration": "2",
                "validators" : {
                    "list": [ "0x5f0d4538231a913af91769562a7f9d6f0aefe7a9", "0x8ba39f58f31da45453deadea716c2c67bd24ef43" ]
                }

[2018-04-10 09:54] rphmeier commented on #8006
Other than the information we've given above, we haven't done anything else in particular on Kovan to try and make warp sync faster.

[2018-04-10 10:29] phahulin commented on #8006
@rphmeier could you describe what's happening during `Waiting for the snapshot restoration`? Based on sync logs it seems to hang on this step for a long time. Is it verifying blocks and txs within? if there are blocks with 100-200 txs per block, can this be the cause of slow processing?

[2018-04-10 10:52] wnz99 opened #8353 "Info: data compression on disk"
Hi,

I am running a few Parity instances on a zfs filesystem with deduplication on, for testing purposes.

Having no info how Parity stores and organized data in the db folder, my initial expectation was that the content would have been quite similar between the instances given that the clients are syncing to the same network.

Unfortunately, the dedup ratio is very close to 1.1x. This leads me to

[2018-04-10 11:59] Tbaut commented on #8351
@Renatss To send tokens from your account, you need to have not only tokens but also ETH to be able to pay for the gas for this transaction. In this case, you require about 0.000094 ETH to be able to transfer your tokens. Please make sure to transfer some Eth to this account before giving it another try.

[2018-04-10 11:59] #8351 closed

[2018-04-10 12:10] miningpoolhub commented on #8344
@tomusdrw Oh I didn't sync from scratch.
How long will it take for database migration? I ran this node more than an hour.
Is there any log verbose option to see the db compaction status?

[2018-04-10 12:12] tzapu commented on #8311
same parity installation as above but started with `--light` works fine, returns fast

[2018-04-10 12:17] Tbaut commented on #8345
The steps to reproduce your issue aren't clear to me. Could you please describe your setup and provide your chain spec ?

[2018-04-10 13:06] debris commented on #8345
It was already reported in #7302

[2018-04-10 13:10] shisoft commented on #8345
My chain spec is
[code]

[2018-04-10 14:06] rphmeier commented on #8006
It could doing one of two things: rebuilding the state trie or checking finality proofs. Finality proof verification should be super cheap. State trie reconstruction can be expensive. You can profile to find out what's taking the most time.

[2018-04-10 14:15] #8315 closed

[2018-04-10 14:15] niklasad1 commented on #8315
@mudlee Should be fixed now

[2018-04-10 14:51] tomaka commented on #8317
Opened https://github.com/alexcrichton/cc-rs/issues/310

[2018-04-10 15:14] mudlee commented on #8315
Yes it does build now, thx!

[2018-04-10 15:30] tomaka commented on #8193
One open problem is how to handle command line arguments in order to possibly ensure a smooth transition to both the devp2p and libp2p backends simultaneously, or from devp2p to libp2p in case Ethereum as a whole changes its protocol.

Right now all the networking-related options of Parity look like `--port`, `--bootnodes`, and so on.
If I create `--libp2p-port`, `--libp2p-bootnodes`, etc. then wo

[2018-04-10 15:34] phahulin commented on #8006
@rphmeier thanks. Could you give me hint about profiling - is there any particular tool I could use or some parity/rust options?

[2018-04-10 15:41] rphmeier commented on #8006
`perf` or `Instruments` (on Mac), or even `gdb` where you interrupt periodically and see where it lands

[2018-04-10 15:53] andresilva opened #8358 "Allow defining call data for chain spec contract constructors"
Currently the contract constructors that are defined in the chain spec cannot have any call data, which means the contract must have a no-arg constructor.

[2018-04-10 18:10] Tbaut commented on #8342
As explained in the chat, please
- copy this file locally: https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json
- modify the `gasLimit` parameter to what is acceptable for your needs
- launch parity with the flag `--chain /path/to/modified_instant_seal.json`

[2018-04-10 18:10] #8342 closed

[2018-04-10 19:00] rstormsf opened #8361 "(Feature Request) Add whitelisting for unlocked accounts"
# Scenario:
If parity has unlocked account, provide an ability to whitelist a list of addresses to which this account can send transactions to.
For example:
`config.toml`
[code]
so in that case if someone gains access to public RPC port, the attacker will still not be able to withdraw all the funds from unlocked account

# WHY
1. I have made an experiment by deploying parity node with testnet Soko

[2018-04-10 22:04] Cole128 commented on #7514
Why is this still happening on the newest version? I'm installing it for the first time and getting 1 block every 10 seconds.

[2018-04-11 00:34] chevdor commented on #8342
ok, but that does not address the issue.
Why keeping dev at a low value, way below le 8M of mainnet?

[2018-04-11 07:40] usd-yamazaki commented on #8301
Both nonce and gas seem to be OK.
[code]

The log is as follows.

[code]

[2018-04-11 08:41] XertroV commented on #8007
I'm having the same sorts of issues except running a full archive node on an i3.2xlarge AWS instance. (Version 1.10.0-beta via auto-update)

This is occurring on requests like `eth_getBalance`, `eth_gasPrice`, `eth_getTransactionCount`

During this time the node will run 100% CPU on _only one_ core (when usually it has no problem using all 8). There's no real RAM usage change during this time (cur

[2018-04-11 08:56] Tbaut commented on #8301
Nonce looks good. I forgot to mention another possibility if you didn't provide enough gas for your transaction.

What is the [estimated gas](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethestimategas) for your transaction?

This might be higher than the gas you've provided (4.29Gwei)

[2018-04-11 09:10] miningpoolhub commented on #8344
Thanks!
I tried ETC resync from scratch.

Here's the 1.9.5 log.
[code]

And here's old v1.7.12 ETC network log
[code]

I see all things working great except new version's connection doesn't increase upto 50.
Is it normal?
I usually get 49~50 connections for all other ETC nodes.

[2018-04-11 09:39] usd-yamazaki commented on #8301
The result of estimateGas was this.

[code]

The details of the transaction are as follows.

[code]

With similar content, the following transactions were successfully imported.

[code]

The amount of gas used at this time was about 7.6Mgas.

[code]

Also, I set "usd_per_tx" to 0.

[2018-04-11 09:41] #8296 closed

[2018-04-11 09:41] Tbaut commented on #7514
You're on an HDD @Cole128, this is simply not manageable anymore for a full node with the size of the chain. Please consider using `--light` command to use the light client.

[2018-04-11 09:59] #8240 closed

[2018-04-11 12:02] Cole128 commented on #7514
That's too bad. What about `--no-ancient-blocks`, or is there no point?

[2018-04-11 12:09] Tbaut commented on #7514
@Cole128 this has no influence on the sync.

[2018-04-11 12:10] Cole128 commented on #7514
Oh ok. Thanks anyways. I'll try to run a full node when I get an SSD.

[2018-04-11 12:25] debris opened #8369 "parity::open should return error if it fails"
discussion: https://github.com/paritytech/parity/pull/8366#discussion_r180733188

[2018-04-11 15:53] scott-lew-is opened #8374 "parity crash on launch"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Can't start parity today, worked fine yesterday, getting this error message today:

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	parity.exe
  Application Version:	0.0

[2018-04-11 16:18] Tbaut commented on #8374
@scott-lew-is can you [launch parity with the command line](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-using-the-command-line-on-windows) and post here the results?

[2018-04-11 16:36] aydem673 opened #8375 "Parity doesn't open"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I installed parity yesterday. It didn't fully sync as it was stuck at 65.58 at some time and i closed it after that. Today, when i try to open, i get the endless message of "connecting to the

[2018-04-11 16:55] Tbaut commented on #8375
This is a similar problem as https://github.com/paritytech/parity/issues/7447
Please follow this issue.

[2018-04-11 16:55] #8375 closed

[2018-04-11 18:30] masonforest opened #8376 "Error: 'json_tests::chain::block_tests::BlockchainTests_GeneralStateTest_stCallCodes' has overflowed its stack"
Hello 👋

Thanks for building Parity!

I’m getting a stack overflow when running the JSON tests on master.

| | |
|---|---|
|Parity version| Latest master ([0a170efa](https://github.com/paritytech/parity/commit/0a170efaa5ee9a1df824630db2a997ad52f6ef57))|
|Operating system| macOS High Sierra 10.13.3|
|Installed| from source|

### Steps to reproduce

[code]

Full output: https://gist.github.com/mason

[2018-04-11 23:35] Cole128 commented on #6319
I'm still getting this, what's the fix?

[2018-04-12 00:17] thomaseizinger opened #8378 "Reuse evm interpreter in other project"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am trying to reuse code from this repo in one of my projects, but I am running into a few problems.
Since the code is not available on crates.io per se, I included it like this in my projec

[2018-04-12 06:15] chevdor commented on #8342
Thank you @Tbaut !

[2018-04-12 06:36] papayena opened #8379 "Parity Ethereum Classic - core dumped"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Node was running for a few hours after has been fully synchronized.

**Then I got the error below:**
stack backtrace:
   0:     0x55d5a6eb86ac - backtrace::backtrace::trace::he2a53911ce7ca877

[2018-04-12 06:54] 5chdn commented on #8342
Main network was at 3 million for quite a long time.

[2018-04-12 08:41] tomusdrw commented on #8301
@usd-yamazaki could you check if transaction with nonces between `[153-156)` where also included in the chain?

The only case where transactions go to future should be when there is a nonce gap, i.e. some previous nonce was not included and for some reason actually got removed from the queue. This can be caused by low gas price, too high gas or some other error. Running with `-lminer=debug,txqueue

[2018-04-12 08:49] tomusdrw commented on #8301
Just noticed this:
[code]

If transaction count is 155 then next transaction should have nonce `155` not `156` (when count is `0` the first transaction has nonce `0` as well).
Seems that you're just adding an unnecessary +1 somewhere.

[2018-04-12 10:25] usd-yamazaki commented on #8301
Oh! I was misunderstanding!

Probably I understood the cause.
The transaction of nonce 155 was a huge transaction with a data size of about 680KB.
I think that this huge transaction caused an error.

What is the upper limit of the transaction data size that can be used with Parity?

[2018-04-12 11:52] tomusdrw commented on #8301
The transaction payload (`data/input` field) is only limited by gas (you need to pay 4 gas for every `0` and `68` for non-zero), if the transaction is creating a contract the resulting code size cannot be larger than 24K

[2018-04-12 12:24] Tbaut opened #8383 "Light client sync stuck on Kovan"
_Before filing a new issue, please **provide the following information**._

My node starts syncing using `parity --chain kovan --light` but gets stuck at random block height.
[Here is a sync trace where the client gets stuck at block 1460487](https://gist.github.com/Tbaut/a27405011826da70370211e6a0e53d0b)
Relaunching the client makes it sync further for a couple minutes but gets stuck again some b

[2018-04-12 12:31] folsen commented on #8383
@tomaka @rphmeier this is one of the "sync gets stuck" causes that I found when I was investigating as well, and appears it's not fixed. Although I have no real idea what's causing it, it's the one of the 3 i didn't fully investigate. Somehow it gets stuck in a loop doing a common ancestor search.

[2018-04-12 12:53] Tbaut commented on #6319
@rphmeier @tomaka I could reproduce the reason 2 (AncestorSearch::Prehistoric state) with kovan. See issue here :  https://github.com/paritytech/parity/issues/8383

[2018-04-12 12:58] trustfarm-dev opened #8384 "Parity 1.9.5 fast sync killed , on #2430730 , #2430755"
**Which Parity version?**: Parity/v1.9.5-stable-ff821da-20180321/x86_64-linux-gnu/rustc1.24.1
**Which operating system?**: Ubuntu 16.04.03
**How installed?**: .deb package in release folder.
**Are you fully synchronized?**: no
**Which network are you connected to?**: ethereum
**Did you try to restart the node?**: yes several times. retry with scratch

**actual** :
Parity doesn't sync on +Fast +Fat

[2018-04-12 12:59] tomaka commented on #6319
The problem with this issue is that on my machine it happens only once every 10 hours or so, which makes debugging it very difficult. If you have a reproducible case, then it's very helpful.

[2018-04-12 13:09] mg6maciej commented on #8259
Hey,
I've tried to do this on my own, connecting to RocksDB and changing the data.
Here are the steps I followed:
* `sudo docker run -v /Users/mg6maciej/parityroot9:/storage parity/parity:v1.10.0 --base-path /storage --pruning archive --tracing 'on'`
* wait a bit to synchronize a few blocks
[code]
* Stop parity
[code]
* Read the newest block from RocksDB `best` key in HEADERS (col3)
`c9919ded297ba

[2018-04-12 13:13] sorpaas commented on #8384
Looks like the standard error near the suicide-attack blocks and running out of memory.

@trustfarm-dev Can you increase your swap memory size and make sure you have at least 8GB of memory in total?

[2018-04-12 13:13] 5chdn commented on #8383
Duplicate of #6319 ?

[2018-04-12 13:19] #8383 closed, assigned to nobody

[2018-04-12 13:51] trustfarm-dev commented on #8384
@sorpaas
thanks for fast reply.
16GB real memory. run with ubuntu desktop
16GB default swap.

-- NOW change swap size to additional 16GBswapfile , totally 48GB.

[code]

[2018-04-12 13:55] #8332 closed

[2018-04-12 14:02] trustfarm-dev commented on #8384
increased swap space to more 32GB , it has overcome ddos block.

@5chdn @sorpaas ,
How about skip checking give to known ddos block , when fast or archive mode of sync?
We already known that's several blocks of normal transactions' snapshots.
thanks.

In case of full archive mode of ETH syncing is not possible , over 1months in my server.

[2018-04-12 14:05] rphmeier commented on #8301
also I don't think nodes relay/accept transactions more than 300kb in size or so after the shanghai attacks.

[2018-04-12 14:11] 5chdn commented on #8384
You can't build an archive without actually processing the blocks.

Also, the spam blocks are no issue anymore. The real annoyance will be blocks 4_000_000 +

So, if your server has issues with the spam blocks, upgrade your hardware immediately. You should be able to sync the first 4 million blocks with an archive node within 48 hours on a decent enterprise-grade SSD.

[2018-04-12 15:01] trustfarm-dev commented on #8384
I've trying several nodes for sync chains.

Now, I'm using freshen 1T SSD and 64GB mem , windows server.
and trying to sync full , with above your comments.

check my configurations.
https://drive.google.com/file/d/1P8b7LhiwNAvZOJYKBrJ9rPSGysunb9py/view?usp=sharing

@5chdn

[2018-04-12 15:15] ascjones commented on #8033
Just the last bit needs doing now, changing decode to return `Result<_, DecoderError>`. I'll leave that here for now, I've unassigned myself for now so anyone else can pick it up or I'll come back to it later.

[2018-04-12 15:44] niklasad1 commented on #8379
I guess you don't have write privileges to the file `/home/user/snap/parity/10447/.local/share/io.parity.ethereum/chains/classic/db/906a34e69aec8c0d/overlayrecent/db/002875.log`.

You have to either change the privileges on the `file` itself or execute `parity` as a user/group with write privileges to the file!

[2018-04-12 15:47] lucachaco opened #8387 "Docker - Can't establish a connection to the server at ws://127.0.0.1:8546"
I managed to open the UI at localhost but in the console i get this error. Please see in the console the options i use to run parity

![ws error](https://user-images.githubusercontent.com/85146/38688329-04397e36-3e36-11e8-8214-9f055d25f036.PNG)

[2018-04-12 16:28] Tbaut commented on #8387
Try to remove `--ui-interface all`

[2018-04-12 16:38] rmulhol opened #8389 "Fetching Block Headers from Parity's Rocks DB in Go"
Parity/v1.11.0-unstable-d7a7f03-20180406/x86_64-macos/rustc1.25.0

MacOS

From source

yes

Ethereum

Yes

Hi! Posting here after referral from Parity Gitter. Feel free to redirect me elsewhere.

I'm trying to figure out how to read Block Header RLP data from Rocks DB in Go. I've been able to fetch this data from Level DB using tools in [go-ethereum](https://github.com/ethereum/go-ethereum/blob/ca

[2018-04-12 18:33] 5chdn commented on #8383
I'm happy with splitting up but I don't see any differences yet other than one reports Kovan and the other Foundation.

[2018-04-12 21:50] lucachaco commented on #8387
Hmm doesnt work

[2018-04-12 22:04] lucachaco commented on #8387
If I remove --ui-interface all it would not even load the ui. I am using docker

[2018-04-12 22:26] lucachaco commented on #8387
Ok, It work somehow with this combination `./parity --force-ui --ui-interface all --jsonrpc-interface all --ws-interface all --ws-origins all --ws-hosts all`

[2018-04-13 05:39] liyanhrxy opened #8391 "remix(web3provider) + parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
I use remix's web3provider to connect the private network which is contains parity*3 +geth . when I sendTransaction by remix-ide ,I can not find this transaction in localtransactions .even I g

[2018-04-13 07:42] sorpaas commented on #7162
If possible, I would like to help out on this issue.

[2018-04-13 07:51] tomusdrw opened #8392 "Have network-specific critical flag for auto-updater"
Currently we have a single `critical` flag defined in `util/version/Cargo.toml`.
This is a pain if the update is critical on say kovan, but not on mainnet.

Instead we should store separate flags for each network and update https://github.com/paritytech/push-release to read those.

[2018-04-13 07:53] tomusdrw opened #8393 "CLI signer does not work"
The CLI signer does not work, sends invalid requests to RPC. IMHO it's important to get it working since we are separating the UI and there will be no other way to confrim the request.

[2018-04-13 08:10] Tbaut commented on #8387
I updated your title to mention you're in a Docker since I wasn't stated anywhere ;)

[2018-04-13 08:10] #8387 closed

[2018-04-13 08:23] yihuang opened #8394 "``parity account list`` and ``personal.listAccounts`` are different."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I use ``parity account import`` to import account from geth's keystore.
The import is successful, and ``parity account list`` shows the account. But ``web3.personal.listAccounts`` is still em

[2018-04-13 08:57] Tbaut commented on #8391
Can you run parity with the flag `-l txqueue=trace` to get more insights and see if your transaction is received.

[2018-04-13 09:26] EighteenZi opened #8395 "ReceiptError & TrieError & Error"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I came into the usage of `Error` types.

In executive.rs,  the return type of 'transact_with_tracer'  is
[code]
and in the method, a lot of 'Err(**_From::from_**(**_ExecutionError_**::XXXX' a

[2018-04-13 09:28] chevdor opened #8396 "Unregistering of some badges"
Discussed with @Tbaut.

Please unregister the following badges on mainnet:
- [ ] id: 7
- [ ] id: 11

Happy to prove that I am the owner if you check (which I hope you do !)

[2018-04-13 09:35] tomusdrw commented on #8395
1. Probably legacy, in the past the output of the method might have been `ethore::Error` not more specific `ethcore::ExecutionError`.
2. Does it use `?` operator? That one does `From::from` automatically.

[2018-04-13 09:35] #8395 closed

[2018-04-13 10:37] sauliusgrigaitis opened #8397 "Stage 1 block verification failed for c913…53da: Block(InvalidProofOfWork(OutOfBounds { min: Some(307293), max: None, found: 307292 }))"
Parity node stops syncing with block verification error:

[code]

[code]

I got this issue two times with brand new local chains. First time it happened around 100000 block. Then I simply started new chain and it happend again on block 307711. Network runs a few latest stable version Geth nodes and a single latest stable Parity node (various stable versions of both Geth and Parity nodes as chains

[2018-04-13 10:58] nicholasfoden opened #8398 "parity ui not displaying wallets"
_Before filing a new issue, please **provide the following information**._

 Parity/v1.10.0-beta-0a9d41e29-20180320/x86_64-windows-msvc/rustc1.24.1
 via installer

**expected behavior**

open parity wallet ui,
click accounts,
see accounts.

 **actual**
open parity wallet ui,
click accounts,

check dev console and receive numerous errors

[code]

in regards to the service worker message, I dont und

[2018-04-13 11:27] kgcorps opened #8399 "Parity no syncing with main network."
Can't synchronize parity with main network. I am running node in configuration:

parity --no-ancient-blocks --no-serve-light --max-peers 250 --snapshot-peers 50 --min-peers 50 --mode active --tracing on --pruning fast --cache-size 4096 --jsonrpc-interface all --datadir=/var/lib/ethereum --db-compaction hdd

Impossible to syncronize with network.

,  0 req/s,   0 �s
2018-04-13 11:13:01 UTC Syncing

[2018-04-13 11:34] Tbaut commented on #8398
Moved to https://github.com/parity-js/shell/issues/53

[2018-04-13 11:34] #8398 closed

[2018-04-13 13:06] liyanhrxy commented on #8391
I hava a try with your way ,but it seems no results, is there any other way to confirm the reasons of the trouble ???????

[2018-04-13 13:51] tomaka commented on #8317
Opened https://github.com/alexcrichton/cc-rs/pull/311

[2018-04-13 14:14] trustfarm-dev commented on #8384
after  #2717788 block  , sync well.
I've used already synced archive chain after above blocknumber, then syncs well.

[2018-04-13 14:32] trustfarm-dev commented on #8384
2018-04-13 00:46:36  Syncing #2430730 9088…970f     0 blk/s    0 tx/s   0 Mgas/s      0+24572 Qed  #2455305   66/100 peers   15 MiB chain 29 GiB db 160 MiB queue 14 MiB sync  RPC:  0 conn,  0 req/s,   0 µs
2018-04-13 00:46:45  Syncing #2430739 57a9…aa68     1 blk/s   20 tx/s   0 Mgas/s      0+24564 Qed  #2455305   67/100 peers   15 MiB chain 29 GiB db 159 MiB queue 14 MiB sync  RPC:  0 conn,  0 re

[2018-04-13 14:35] trustfarm-dev commented on #8384
still #2430755 spam block makes sync fail.
How to disable or skip if spam blocks?

logs :: https://drive.google.com/open?id=12xqQEXNQZJHlt35cKDl9V05GbKZwTrYf

[2018-04-13 14:38] Tbaut commented on #8391
Can you please post the console logs when running parity with the flag `-l txqueue=trace` it's not meant to solve the issue, it's meant to show us what happens :)

[2018-04-13 16:09] Tbaut commented on #8394
I just tried and could not reproduce your issue.
`parity account list` and an RPC call to `personal_listAccounts` return the same.

Beware of being connected to the same network. For instance, I imported my account to Ropsten with `parity account import /path/to/geth/keystore` --chain ropsten`, then making the RPC call while my node is also connected to Ropsten.

[code]

[2018-04-13 16:50] ordian commented on #7999
This issue (tracing) was fixed (#7979, #8066) and backported to stable 1.9.5 (#8133).
Compiling parity multiple times to confirm this [wasn't fun](https://gist.github.com/ordian/29dbfa4080140dd26052566834ef6414).

[2018-04-13 16:50] #7999 closed

[2018-04-13 20:05] rphmeier commented on #8311
@tzapu Interesting, since light clients are just querying remote nodes for information. If the remote node returned quickly then it might be something in the RPC server itself.

[2018-04-13 20:11] tomusdrw commented on #8311
@tzapu Can you pass `gas` parameter to the request and see if it helps?

[2018-04-13 22:23] tomson189 opened #8403 "Cannot open GUI interface and start sync Parity 1.9.5"
**Which Parity version?**: 1.9.5 (stable)
**Which operating system?**: MacOS 10.13.3
**How installed?**: via installer
**Are you fully synchronized?**: no
**Which network are you connected to?**: ethereum main
**Did you try to restart the node?**: no / yes

Had used to Parity 1.3. before the Node stop synchronising and the message "Fix Connectivity" appeared. Had deleted Node.json, the issue didn'

[2018-04-14 00:02] yihuang commented on #8394
[code]

address1 is imported with ``parity account import``, address2 is created with personal json-rpc api.

[2018-04-14 00:12] yihuang opened #8404 "After finished block syncing, parity occasionally running with 100% CPU"
In the log I see something like:

``Transaction mined (hash ...)``

Is parity doing cpu mining by default? The json-rpc api is very slow, causing timeout error.
I only want to run a full node with json-rpc api, my current argument is follow, is that correctly?

[code]

[2018-04-14 10:20] debris opened #8405 "refactor parity-dapps-glue crate"
Currently `parity-dapps-glue` uses `quasi`, which is no longer maintained - [serde-deprecated/quasi](https://github.com/serde-deprecated/quasi). Let's use refactor it to use `proc-macro`, `syn` and `quote` instead

cc @tomusdrw

[2018-04-14 14:09] #8391 closed

[2018-04-14 14:55] Tbaut commented on #8394
I still can't reproduce...

[code]

In another shell :
[code]

Please provide clear steps for me to reproduce.

[2018-04-14 18:47] #7727 closed

[2018-04-14 20:00] dwking2000 commented on #6684
workaround for me per info from @chrisdcosta is to stop parity, change timezone in Mac settings, save, change it back to correct timezone, save, start parity.

[2018-04-14 21:07] hunterlong commented on #8403
+1

[2018-04-14 21:10] tomson189 commented on #8403
Loading config file from /Users/AV/Library/Application Support/io.parity.ethereum/config.toml
2018-04-15 01:00:40  Starting Parity/v1.10.0-beta-0a9d41e-20180320/x86_64-macos/rustc1.24.1
2018-04-15 01:00:40  Keys path /Users/AV/Library/Application Support/io.parity.ethereum/keys/Foundation
2018-04-15 01:00:40  DB path /volumes/db/parity/chains/ethereum/db/906a34e69aec8c0d
2018-04-15 01:00:40  Path

[2018-04-15 06:42] tomson189 commented on #8403
syncing interrupted at block #5440149:

---
 Syncing #5440149 1a86…6c47     0 blk/s    5 tx/s   0 Mgas/s      0+  481 Qed  #5440634   22/25 peers   4 MiB chain 92 MiB db 45 MiB queue 10 MiB sync  RPC:  0 conn,  0 req/s,   0 µs
2018-04-15 10:30:38  Block import failed for #5440150 (6536…68d9)
Error: Execution(Internal("Internal error: Database missing expected key: 0063…8ef1"))
2018-04-15 10:30:42

[2018-04-15 19:05] chebykin opened #8407 "How to setup hidapi linking on MacOS when reusing ethcore code?"
I'm trying to use ethcore::miner::Miner from my app (https://github.com/chebykin/miner-test):

[code]
 Linux compilation passes while MacOS fails on linking both on my laptop and travis-ci (https://travis-ci.org/chebykin/miner-test/jobs/366856303#L857-L861):
[code]

Also a have installeed `hidapi` using `brew install hidapi` but it seems doesn't work.

So my question is `How to setup hidapi linkin

[2018-04-16 04:43] lexibrent commented on #6593
I am experiencing the same problem as the other people posting here. It syncs fine for about a day or so, then gets stuck until I restart Parity. I will collect logs for you.

[2018-04-16 08:49] trustfarm-dev commented on #8384
@sorpaas  , plz check updated issue descriptions.
thnx

[2018-04-16 09:29] sorpaas commented on #8384
@trustfarm-dev What filesystem do you use? Can you run `df -h` and see how much free space do you have?

[2018-04-16 10:10] trustfarm-dev commented on #8384
ext4 . freespace is not a ploblem.
[code]

123GB free space on SSD.

now, copy 3.9M fast +FatDB , from windows server (same configuration), and now faster than windows server.

[code]
and, fast chain storage is followings::

[code]

[2018-04-16 12:12] TomaszWaszczyk commented on #6372
@5chdn What `--cache-size` do you prefer?

[2018-04-16 13:42] 5chdn commented on #6372
My favorite cache size is 12288 :)

[2018-04-16 14:49] fanatid commented on #7160
I also received this error =(
[code]

[2018-04-16 15:07] s1241 commented on #7611
I try to deploy a smart contract and every time i receive "queue limit" error.

Here is what i do:

[code]

and every time i receive following error, even when i unlock account several times.

[code]

This may be helpful : https://tobalaba.etherscan.com/address/0xa95523067A3bfF1B8aeB41F85D58C7fe2b88fde3

[2018-04-16 15:16] tomusdrw commented on #7611
@s1241 `unlock` is extremely unsafe and should be avoided. By default in Parity it only unlocks the account for one transaction. If you send multiple transactions you either need to run in `--geth` compatibility mode or better just use `personal_sendTransaction` instead of `eth_sendTransaction`.
For service-like deployments you can run with `--unlock` CLI parameter, but make sure to correctly set

[2018-04-16 15:21] s1241 commented on #7611
@tomusdrw Thank you very much for your response. however i need a bit more explanation :)
Would you please let me know exactly which part of my commands (above) must be changed ? thank you

[2018-04-16 15:41] tomusdrw commented on #7611
@s1241 You have 3 options:
1. Run Parity with `--geth`
2. Run Parity with `--unlock <address> --password <password-file>` and remove `personal.unlock` call from your script
3. or remove `personal.unlock` call from the script and ask on `web3` issue tracker how to use `personal_sendTransaction` instead of `eth_sendTransaction`. I'm pretty sure it's possible, but I'm not a web3 expert.

[2018-04-16 20:29] cseberino opened #8415 "ETC node reboots with about 20 nodes but after 1 week dwindles down to about 2. Why peer count degrades in time?"
I'm running Parity 1.9.5 on Ubuntu Linux 16.04 installed via the Debian package.
I'm fully synced and connected to ETC (CLASSIC).
I'm running Parity with these switches...
`/parity --chain classic --jsonrpc-apis eth,net,parity,personal,web3 --ipfs-api --ipfs-api-hosts all`

Issue is that when I restart Parity it obtains about 20 peer node connections but then
after 1 or 2 weeks it dwindles down to

[2018-04-16 23:00] mixer3256 opened #8416 "Musicoin getBlockByNumber produces null result"
Musicoin getBlockByNumber produces null result other than Block 0

- Version Parity/v1.10.1-beta-45c29a2-20180413/x86_64-linux-gnu/rustc1.25.0
- Ubuntu 16.04
- Tested both deb package and complied version
- Linux
- Fully synced
- Network Musicoin
- Node restarted - same issue

Command used,
[code]

Command works block 0
[code]

Command works on geth
[code]

[2018-04-17 07:37] usd-yamazaki commented on #8301
I tried sending some huge transactions using eth_sendRawTransaction.
Transactions less than 307,186 bytes were broadcasted to each node and sealed,
Transactions over 307,250 bytes did not broadcast and kept as pending.
Also, in any transaction eth_sendRawTransaction did not get an error.

If a transaction that can not be broadcasted to eth_sendRawTransaction was passed,
I thought it would be bette

[2018-04-17 08:10] tomusdrw commented on #8301
Completely agree. The limitation currently is imposed on the network layer (see `MAX_TRANSACTION_SIZE`) and we just ignore incoming transactions larger than 300kb, probably would be good to:
- [ ] make it configurable (spec?)
- [ ] return error for own transactions exceeding that limit (additional check in verification pipeline)

[2018-04-17 09:11] Tbaut opened #8417 "Return appropriate error when data>300kb for own transactions"
Following discussions at https://github.com/paritytech/parity/issues/8301

The limitation currently is imposed on the network layer (see MAX_TRANSACTION_SIZE) and we just ignore incoming transactions larger than 300kb, probably would be good to:

- return error for own transactions exceeding that limit (additional check in verification pipeline)
- make it configurable (spec?)

[2018-04-17 09:14] Tbaut commented on #8301
Thanks for the heads-up @usd-yamazaki, the feature request is logged, I'll close this issue (but it doesn't prevent the discussion to go on ;) ).

[2018-04-17 09:14] #8301 closed

[2018-04-17 09:25] Tbaut commented on #8415
@cseberino could you try with the flags `--min-peers 25 --max-peers 50` to force parity to constantly try to have at least 25 peers?

[2018-04-17 09:49] debris commented on #8417
@grbIzl could you look into this?

[2018-04-17 09:57] debris commented on #1198
I'm closing it, cause right now we do not have any plans to implement this

[2018-04-17 09:57] #1198 closed

[2018-04-17 10:32] debris commented on #1480
we should look at this issue again at some point, but I'm closing it for now, as it is too generic and currently we have no plans to fix these issues

[2018-04-17 10:32] #1480 closed

[2018-04-17 10:34] debris commented on #491
I believe it was sorted out to some degree a while ago by @tomusdrw. I'm closing this issue for now as we have no plans to improve it any further any time soon

[2018-04-17 10:34] #491 closed

[2018-04-17 10:34] debris commented on #1235
@tomusdrw any updates on this? Should we keep it open?

[2018-04-17 10:38] debris commented on #2152
I'm closing it as the issue seems to be inactive. Please reopen it in `parity-ui` repo if it's still relevant

[2018-04-17 10:38] #2152 closed

[2018-04-17 10:39] debris commented on #1966
I'm closing it, cause the new transaction queue was merged in #8074

[2018-04-17 10:39] #1966 closed

[2018-04-17 10:40] debris commented on #2415
Closing due to inactivity. please reopen this if still relevant (and add some details) ;)

[2018-04-17 10:40] #2415 closed

[2018-04-17 10:46] debris commented on #1988
I'm closing this issue as most of these deps are no longer forked. the only 2 remaining forks are `ws` and `ctrlc`. There is already an open issue to replace ws - https://github.com/paritytech/jsonrpc/issues/158

[2018-04-17 10:46] #1988 closed

[2018-04-17 10:47] #2813 closed

[2018-04-17 10:50] #3541 closed

[2018-04-17 10:52] debris commented on #5788
I believe I fixed a relevant cache problem some time ago. Please try the latest version of parity an reopen if still occurs

[2018-04-17 10:52] #5788 closed

[2018-04-17 10:53] debris commented on #5343
please reopen if still relevant

[2018-04-17 10:53] #5343 closed

[2018-04-17 10:55] debris commented on #6055
that's an epic task an I believe that it should not be a part of our issue list at parity repo, as it is most likely a standalone project

[2018-04-17 10:55] #6055 closed

[2018-04-17 10:59] debris commented on #6911
fixed in #8341

[2018-04-17 10:59] #6911 closed

[2018-04-17 11:04] debris commented on #8407
You don't need to setup linking hidapi, as hidapi is built statically as one of our dependencies.

I believe that your (brew) version of hidapi is different than the one we need. Unfortunately it is being linked as the first one. Can you uninstall hidapi from your disk and then build the project?

[2018-04-17 11:11] ValeryDubrava commented on #8265
I have the same version on Parity v1.9.5-20180321 stable.

[2018-04-17 11:16] debris commented on #6951
I believe that's just a hash of a different compiler version. Please reopen if still occurs in latest version of parity

[2018-04-17 11:16] #6951 closed

[2018-04-17 11:25] adirmola commented on #6018
regarding to "error":{"code":-32700,"message":"Parse error","data":null}, I had the same problem and the following answer solve it to me:
https://ethereum.stackexchange.com/a/38134/28304

[2018-04-17 11:28] debris commented on #7211
There were recently fixes done for this rpc and the issue should be solved. Please try the latest version of parity and reopen the issue if still relevant

[2018-04-17 11:28] grbIzl commented on #8417
Sure!

[2018-04-17 11:31] debris commented on #6417
in #8342 we added support for `$HOME` and `$BASE` variables. I believe we'll not do anything else so I'm closing this issue

[2018-04-17 11:31] #6417 closed

[2018-04-17 11:39] Tbaut commented on #8265
The queue future means a nonce problem you're right @ValeryDubrava.
It is mostly due to another transaction being stuck before for another reason (gas limit reached, data>300Kb, not enough gas...). To reset the transaction queue and make sure the transaction will get through, you should launch parity with the flag `--no-persistent-txqueue`.

[2018-04-17 11:39] #8265 closed

[2018-04-17 11:40] tomson189 commented on #8403
Any advice on log pasted?

[2018-04-17 11:47] cosminstefane opened #8418 "Parity default paths changed. (app-dirs)"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I updated parity first to 1.9.6 after running 1.9.5. For some reason it doesn't load up the config.toml file. Even when I use -c options it tells me the config is not a preset. I need to run

[2018-04-17 12:00] Tbaut commented on #8403
This is a duplicate, please follow the discussion at https://github.com/paritytech/parity/issues/7160

[2018-04-17 12:00] #8403 closed

[2018-04-17 12:08] Tbaut commented on #8418
You most probably have changed the work directory and your config file isn't found. How do you launch parity ? can you paste the logs here?
Try `parity --config /absolute/path/to/config.toml`

[2018-04-17 12:08] bittylicious commented on #8265
This should not be closed.

This **is** an issue. It may be a nonce issue, but the best guess is that Parity's nonce incrementor isn't working as it should be in these instances.

When I'm using Parity, I never specify a nonce and I'm not aware of any transactions getting rejected, yet this happens. As shown in my log, possibly this has something to do with a reorg happening.

[2018-04-17 12:14] Tbaut commented on #7160
ping @tomusdrw or @andresilva :)

[2018-04-17 12:31] cosminstefane commented on #8418
I did and it works. I believe the default locations have been changed on windows somehow. I noticed I also noticed neither one of my accounts are "imported" into parity either.
1.10.1 Keys path C:\Users\XXX\AppData\**Local**\Parity\Ethereum\keys\Foundation
1.9.5   Keys path C:\Users\XXX\AppData\**Roaming**\Parity\Ethereum\keys\Foundation
For some reason the location changed from ROAMING as before

[2018-04-17 12:31] fifinger opened #8420 "Unable to downgrade from 1.9.5 to 1.8.11 on Mac"
I am trying to downgrade from 1.9.5 stable to 1.8.11 in order to get back Ledger Nano functionality which broke when upgrading.

I have repeated this procedure several times but am unable to downgrade
- Quit parity
- open activity monitor to ensure no parity process is still running
- delete the Parity Ethereum.app from the Applications folder
- run the 1.8.11 installer (I have even once tried the

[2018-04-17 12:43] niklasad1 commented on #8420
Hey,
You can force parity to run the originally downloaded version of parity by:

```$ parity --force-direct```

[2018-04-17 13:06] debris commented on #5682
I believe this can be closed. All of our js repos are now a part of [parity-js](https://github.com/parity-js) org

[2018-04-17 13:06] #5682 closed

[2018-04-17 13:09] debris commented on #5301
please reopen if still occurs

[2018-04-17 13:09] #5301 closed

[2018-04-17 13:11] debris commented on #6285
please reopen if still relevant

[2018-04-17 13:11] #6285 closed

[2018-04-17 13:15] debris commented on #7705
I believe this was solved by @andresilva some time ago. I'm closing it

[2018-04-17 13:15] #7705 closed

[2018-04-17 13:30] fifinger commented on #8420
Thanks niklasad1, that seems to work. Is there a way to make this permanent? This only works as long as I keep the terminal window open. When I start parity from GUI again I go back to 1.9.5.

[2018-04-17 14:07] cosminstefane commented on #8418
Already did, thanks!

[2018-04-17 15:24] chevdor opened #8422 "UI: "Connected to only one peer" banner keeps on shifting the UI"
_Before filing a new issue, please **provide the following information**._

For whatever reason, my node is now alternating between having 1 and 2 peers. This is not great but that´s what it is now.

The way the UI is built makes very annoying as the red banner saying "You are connected to only one peer. Your node might not be reliable. Check your network connection." is shifting the UI down and u

[2018-04-17 15:33] chevdor opened #8423 "Multisig transfer from NanoLedgerS fails"
_Before filing a new issue, please **provide the following information**._

From a multisig, attempting to sign a first tx over the daily limit is made impossible:
![image](https://user-images.githubusercontent.com/738724/38880139-4cbc6622-4265-11e8-8f3c-7934caee4830.png)

This fails even before any confirmation can be seen on the Ledger.

[2018-04-17 15:35] chevdor commented on #8423
I tested a regular transfer from the ledger and it works fine.

[2018-04-17 16:00] Xiaoyang-Zhu commented on #7820
I got the same issue on version 1.9.6? any fix patches?

[2018-04-17 16:05] cwesystems commented on #7820
For me Trezor now works with "Parity 1.10.1-beta". Maybe you can give that version a try?

[2018-04-17 16:48] cubedro commented on #7211
Awesome, thank you @debris!

[2018-04-17 18:48] bittylicious commented on #8265
That **is** good news! I can't test until this is stable but I look forward to that day. Thank you for the update.

[2018-04-17 19:53] andresilva opened #8424 "Split test specs"
https://github.com/paritytech/parity/pull/8419#discussion_r182053038

Currently we just put all test specs in the `res` folder regardless of where they're used. We should split https://github.com/paritytech/parity/blob/master/ethcore/src/spec/spec.rs#L809 and move each spec to the module that uses it. We should also annotate test specs with `#[cfg(test)]` so that the spec isn't included in the bin

[2018-04-17 20:55] tomusdrw commented on #7160
@fanatid @mantoshelis @miningpoolhub What filesystem are you guys using?

[2018-04-17 21:05] fanatid commented on #7160
ext4 => luks => ssd samsung 960 evo

sorry, I'm already deleted bad files =(

[2018-04-17 23:25] chebykin commented on #8407
@debris thanks for the suggestion, but uninstalling hidapi using brew had no effect. I think I have found the cause. This is a build target mismatch in hidapi-rs.

[2018-04-18 05:29] JokerCatz commented on #6887
Hi , did version 1.9.6_stable is merge this ? I get status is null of eth_getTransactionReceipt in dev chain ...

[2018-04-18 06:29] TinyCalf opened #8425 "--force-sealing in dev chain does not generate block by parity v1.9.5-stable"
here is the config file

[code]

and i run parity with `./parity --geth --config="./dev.toml"`. the whole console is below:
[code]
After a long time `eth.blockNumber` is still 0. Only when i send a transaction, it will generate a block. I have tried restart the node and delete the whole data but still doesn't work. Did I do something incorrect or this is not supposed to happen?

[2018-04-18 07:12] simon-temple commented on #6948
There is a difference between the documented response to getTransactionReceipt and the actual response:

[code]
The documentation: https://wiki.parity.io/JSONRPC-eth-module#eth_gettransactionreceipt

I'm using Parity//v1.9.5-stable-ff821da-20180321/x86_64-linux-gnu/rustc1.24.1
and https://github.com/web3j/web3j version 3.3.0

My problem is with the lack 'status' value.  The expected value would be

[2018-04-18 08:12] Tbaut commented on #8422
Moved to https://github.com/parity-js/shell/issues/58

[2018-04-18 08:12] #8422 closed

[2018-04-18 08:42] Tbaut commented on #8423
Hy @chevdor, could you please reproduce the issue with the UI console open (press ctrl+shift+i and select console) and post a screenshot here?

[2018-04-18 09:05] Tbaut opened #8426 "Parity Chrome Integration extension not detecting node from v1.10"
The Chrome extension doesn't detect the local running node out of the box with Parity v1.10 and higher. Users need to launch Parity with the flag `--force-ui` for it to work as expected.

[2018-04-18 09:11] chevdor commented on #8423
Here you go:
![image](https://user-images.githubusercontent.com/738724/38922737-2c458362-42f9-11e8-97e8-7f791f208be3.png)

[2018-04-18 09:29] 5chdn opened #8427 "Constantinople Release"
Tracking issue for Constantinople EIPs implementation progress:

- [x] [EIP 145](http://eips.ethereum.org/EIPS/eip-145) Bitwise shifting instructions in EVM #8451
- [ ] ~~[EIP 210](http://eips.ethereum.org/EIPS/eip-210) Blockhash refactoring #5505 (needs to check current version compliance)~~
- [x] [EIP 1014](http://eips.ethereum.org/EIPS/eip-1014) Skinny CREATE2 #9268
- [x] [EIP 1052](http://eips

[2018-04-18 09:29] Tbaut commented on #8425
The InstantSeal engine does not support `--force-seal` and a block is only created when a transaction needs to be mined. Use a [PoA Network](https://wiki.parity.io/Demo-PoA-tutorial) if you wish to have constant block time or send a transaction at a constant interval with the Development chain for blocks to be sealed.

[2018-04-18 09:29] #8425 closed

[2018-04-18 10:42] tomusdrw opened #8428 "Persistent time-based peer disabling"
Currently we only "ban" peers in memory, when we detect they are on some different forks or different networks.

Every time the node is started though we again make a dozen of useless connections and requests, cause that info is not persisted.

I think it would make sense to have a file similar to `nodes.json` where we store peers that are temporarily banned (for some speciifc amount of time).

It

[2018-04-18 10:53] alessalessio opened #8429 "Build from source - error"
_Before filing a new issue, please **provide the following information**._

I'm running:
- **Which Parity version?**: latest stable
- **Which operating system?**:  Ubuntu 14.4
- **How installed?**: from source
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**:  none. it is breaking during the compilation
- **Did you try to restart the node?**: not applicable

![image

[2018-04-18 11:22] Emperornero opened #8430 "Can't access node over LAN via Remote Access options anymore"
I'm running:

Not really an issue rather.

With browser UI access being depreciated in 1.10.1, that means the node can't be accessed over LAN via Remote Access, which means you can't run the node on one computer and the client on another which reduces security.

I'm using --force-ui to regain the functionality.

I store none of my keys on the node computer, now I have to compromise by exposing the

[2018-04-18 12:46] rphmeier commented on #8429
Please make sure you have the latest `rustc`.

[2018-04-18 12:46] #8429 closed

[2018-04-18 13:06] alessalessio commented on #8429
I have the latest version
![image](https://user-images.githubusercontent.com/14346782/38933709-ae99eac0-4311-11e8-8211-71b09cf844f5.png)

[2018-04-18 13:11] rphmeier commented on #8429
given that the latest stable version is 1.25 (https://www.rust-lang.org/en-US/), I can say with certainty that you do not.

[2018-04-18 13:11] alessalessio commented on #8429
![image](https://user-images.githubusercontent.com/14346782/38933991-6e4a8974-4312-11e8-8f3f-9c0fdb43c0db.png)

[2018-04-18 13:12] rphmeier commented on #8429
better to install via (rustup)[https://rustup.rs/]; the `apt` repositories are unofficial and appear to be lagging behind

[2018-04-18 13:35] dkent600 opened #8433 "can't download installer for Parity for Windows"
When I go to https://www.parity.io and click on the button "Download Parity for Windows" nothing happens.  I've tried in Edge and Chrome, same behavior.

[2018-04-18 13:37] Tbaut commented on #8430
Parity UI is able to show the UI for a node launched on a remote server, as long as the Parity client is launched with the right flags (and I'm not talking about `--force-ui` here).
Parity UI is listening to the standard WS port. Please share your parity and network configuration for us to help.

[2018-04-18 13:43] Tbaut commented on #8433
@dkent600 Thanks for telling us. We will fix it. In the meantime, you can find the windows installer here : https://github.com/paritytech/parity/releases

[2018-04-18 14:00] Tbaut commented on #6948
@simon-temple thanks for the heads up, we will update the wiki shortly (https://github.com/paritytech/wiki/pull/75). Regarding `"status": null`. This field is only used if Byzantium EIP658 has been enabled.
Can you add `"eip658Transition": "0x0"` to the params of your chain spec [like here](https://github.com/paritytech/parity/blob/master/ethcore/res/authority_round.json)

[2018-04-18 14:31] Tbaut commented on #6948
Note that you should set up a hard fork in your chain and set the `eip658Transition` to a block number in the future. Starting from this block, you will be able to have a non-null status field, not before.

[2018-04-18 14:38] Tbaut commented on #8433
Should be fixed now (make sure to refresh the page with ctrl+R to clear your cache).

[2018-04-18 14:38] #8433 closed

[2018-04-18 14:44] Tbaut commented on #8420
@fifinger the HW wallet issue should be fixed soon (v1.11 hopefully). This shouldn't last long until you can upgrade. I'll close this issue since your problem has been worked around ;)

[2018-04-18 14:44] #8420 closed

[2018-04-18 14:47] Tbaut commented on #6887
@JokerCatz As explained in the comments above, adding `eip658Transition`, [as seen here](https://github.com/paritytech/parity/blob/3e5d9b92c19d50493364bee68c2a54c85e37518d/ethcore/res/ethereum/foundation.json#L158), with a block number in the future will let you see the status field as wished (starting from this block).

[2018-04-18 15:04] dkent600 commented on #8433
Yup, it works, thanks.

[2018-04-18 15:24] rmulhol commented on #8389
Update: it seems that the missing 18 bytes can be resolved by some gorocksdb plumbing. However, I'm still seeing issues that I believe relate to errors in attempting to replicate Parity's `rlp_compress` functionality.

As near as I can tell, successful decompression requires that (InvalidRLPs)[] be replaced with (CommonRLPs)[] if the InvalidRLP appears in a place where it (is_data)[]. Importantly,

[2018-04-18 15:29] Tbaut commented on #6887
@JokerCatz [The dev chain](https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json) does have this eipTransition. Tested with v1.10.1 and the status is present and not null. Your problem seems not related to this issue, please open a dedicated one if you can't figure out what's wrong.

[2018-04-18 15:37] sorpaas commented on #7704
You can already do this with `parity_chainId`, which will return you the current EIP155 id for the best block, or `null` if not enabled.

[2018-04-18 15:42] JokerCatz commented on #6887
@Tbaut I use latest stable version (1.9.6 stable) and default dev chain ... so this will not fix in 1.9.x version?

[2018-04-18 16:33] Tbaut commented on #6887
I'm not sure if it's related to the client or to the chain spec. Just can you try to copy [this file](https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json) on your computer, and launch parity with `--chain /path/to/file.json`?

[2018-04-18 17:04] JokerCatz commented on #6887
yep , I know & I tried it and succeeded by add `eip658Transition` or just use latest version of `instant_seal.json` ... but I think just merge the fix then latest "stable version" will be work , right? ...

[2018-04-18 17:07] cseberino commented on #8415
Tbaut:  I added those 2 switches overnight yet my Parity node is stuck at 6 node now.

[2018-04-19 04:29] jamesray1 opened #8436 "ethcore-bytes is not used"
Search results show that ethcore-bytes only appears in cargo.toml files: https://github.com/paritytech/parity/search?p=1&q=ethcore-bytes&type=&utf8=%E2%9C%93.

Since it is unused, you may as well remove it from the cargo.toml files.

[2018-04-19 05:54] Emperornero commented on #8430
parity --force-ui --mode=active --warp-barrier 5400000 --no-ancient-blocks --pruning=fast --pruning-history=8  --pruning-memory=32 --db-compaction="hdd" --ws-interface 192.168.1.7 --jsonrpc-interface 192.168.1.7 --ui-interface 192.168.1.7 --ws-hosts all --ws-origins all
pause

Is what I'm running with.

Is there a flag for Parity UI for specifying the WS host?

[2018-04-19 06:53] niklasad1 commented on #8436
Hey,

It is used as `[ dependency]` in the other crates specifies.

[2018-04-19 06:53] #8436 closed

[2018-04-19 07:55] MicahZoltu opened #8437 "Pass CLI options through from ptray."
Running `ptray --light` does not appear to run `parity.exe` with the `--light` option.  Since there doesn't appear to be any other way to enable the light client, this means the only way to run Parity as a light client is via the command line, which has no system tray icon.

As a user, I want to be able to update my shortcut to run Parity as a light client, without having to have a console window

[2018-04-19 08:07] tomusdrw commented on #8437
Setting `light=true` in a config file should also be possible: https://paritytech.github.io/parity-config-generator/#config=eyJfX2ludGVybmFsIjp7ImNvbmZpZ01vZGUiOiJhZHZhbmNlZCJ9LCJwYXJpdHkiOnsibGlnaHQiOnRydWV9fQ==

[2018-04-19 08:10] sorpaas commented on #8376
Looks like this passes on release build `cargo test --features json-tests --release -- BlockchainTests_GeneralStateTest_stCallCodes` but would stack overflow on debug build `cargo test --features json-tests -- BlockchainTests_GeneralStateTest_stCallCodes`.

[2018-04-19 08:14] MicahZoltu commented on #8437
Thanks.  This may be a viable workaround, but it doesn't solve the problem of "as a non-techy user I can't _easily_ run Parity as a light client".  Even having to update the shortcut is probably too much for a novice user, but it is a good first step to updating the installer to have a shortcut for `--light`.

[2018-04-19 08:58] #7976 closed

[2018-04-19 08:59] chevdor commented on #6654
Moved to https://github.com/parity-js/shell/issues/64

[2018-04-19 08:59] #6654 closed

[2018-04-19 10:02] gituser commented on #7228
So, just to re-iterate, to get this issue fixed you need:
* latest version of `parity 1.9.6` (right now)
* full re-sync of the blockchain with `tracing=On`

[2018-04-19 10:08] debris commented on #8407
@chebykin nice catch! Can you also make a pull request to parity updating this dependency? (just `cargo update -p hidapi` )

[2018-04-19 11:29] sorpaas commented on #8384
There's no panic message in the Parity log. So if it's killed, it means it's the kernel that did that. So I guess it still means you don't have enough memory. You mentioned you have 64GB memory on the host. Can you make sure you increased memory size for the VM?

And next time if the kill happens, please run `dmesg -T | grep 'killed process'` which will print the kernel logs for OOM killer.

[2018-04-19 12:32] Tbaut commented on #8415
Does your application require to have more? With not so good internet connection, I am used to seeing a lower amount of peers.
If you want to dig deeper you can run your node with `-l sync=trace` (very verbose) and post it in a gist.

[2018-04-19 12:35] Tbaut commented on #6887
@Joker, the next release will be in less than 2 weeks so I don't think we'll add this to a minor one considering the workaround.

[2018-04-19 13:03] s1241 opened #8440 "How to check transaction situation via CLI"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I did a transaction and got transaction hash. How can I check this transaction is mined (or confirmed) via CLI (command-line interface) ? What is related command for this? Here is transaction

[2018-04-19 15:31] Tbaut commented on #8430
@Emperornero have a look at https://github.com/parity-js/shell/pull/46 regarding `--
ws-port` and `--ws-interface`.

[2018-04-20 01:13] umegaya opened #8442 "when require() fails, eth_call behavior different between parity and truffle develop"
partiy and truffle develop chain behavior different, when running solidity code by eth_call raises error by failure of __require()__.

I expect jsonrpc to return error code when require fails, and if contract deployed into truffle develop, it behaves as I expect. but at same situation, parity returned strange success response like ```{"jsonrpc":"2.0","result":"0x","id":114}```.

its expected behav

[2018-04-20 02:01] AyushyaChitransh commented on #6307
How can it be done using CLI or without using UI?

[2018-04-20 03:45] roynalnaruto commented on #8157
@bgrieder Hi, I am trying to do a similar setup (using docker containers [ref](https://github.com/orbita-center/parity-poa-playground)). Even for me, the blocks are not being mined. Have you found the reason? My `tendermint-config` file looks like :
[code]

I am getting this log in the still running authority/validator:
[code]

Also, one container failed and stopped due to this error:
[code]

What

[2018-04-20 04:15] Emperornero commented on #8430
I see now.

It might be best to add something on the page when it shows the "Browser UI Depreciated" message regarding this for Parity UI.   I would of done this myself but couldn't find documentation about it.

[2018-04-20 04:15] #8430 closed

[2018-04-20 06:38] boneyard93501 opened #8444 "Thread '<unnamed>' panicked at 'other was less than the current instant'"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
[code]

[2018-04-20 07:22] schmidsi opened #8445 "Syncing crashed with message: Thread 'IO Worker #2' panicked at 'nonce will return Some when given BlockId::Latest. nonce was given BlockId::Latest. Therefore nonce has returned Some; qed', libcore/option.rs:917"
I was running the node overnight to sync. In the morning I came back and saw this error:

[code]

Expected behavior: Sync complete or still syncing
Actual behaviour: Crashed

Maybe interesting to note: I copied my chain files from `~/Library/Application Support/io.parity.ethereum` to `/Volumes/EXTERNAL/Parity`, an external USB thumb drive before running sync. It ran for 4 hours before crashing.

T

[2018-04-20 07:31] Tbaut commented on #8444
Could you please upgrade to 1.9.6 or 1.10.1 and tell if the problem still persists?

[2018-04-20 08:10] ordian commented on #8157
@roynalnaruto the panic was fixed in #8367 (not yet in stable), however the parity's tendermint engine is still not ready for production use.

The error you're getting (`Engine(NotAuthorized(...))`) is different though, make sure you have [engine_signer](https://github.com/ordian/parity-issue8157/blob/3562cead4bb4b497751e9898f635d86b129d03fc/config/node01.toml#L15-L17) in your node config (see [de

[2018-04-20 08:38] #8418 closed

[2018-04-20 09:56] sorpaas commented on #8442
It looks like we store all errors in `Executed` struct, and `eth_call` ignores any `Executed::exception`. The spec does not say anything about this. Is this the expected behavior? Or should we change `eth_call` to return errors in case `Executed::exception.is_some()`?

[2018-04-20 09:58] tomusdrw commented on #8442
@sorpaas Indeed it's not specified, imho it makes sense to return errors there.

[2018-04-20 10:32] #7879 closed

[2018-04-20 10:34] 5chdn commented on #7162
https://github.com/ethereum/EIPs/pull/1011

[2018-04-20 10:43] 5chdn commented on #6307
curl --data '{"method":"parity_newAccountFromSecret","params":["0x1db2c0cf57505d0f4a3d589414f0a0025ca97421d2cd596a9486bc7e2cd2bf8b","hunter2"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545

https://wiki.parity.io/JSONRPC-parity_accounts-module#parity_newaccountfromsecret

[2018-04-20 14:04] trustfarm-dev commented on #8384
@sorpaas  , All is killed by OOM.
So, I tried close desktop GUI Program, it go.
and, Recent 5.27M blocks, in case of fast sync that's very slow in Ubuntu and Windows.
Anyway close this issue now.
thnx.

[2018-04-20 14:04] #8384 closed

[2018-04-20 17:35] c0deright commented on #7531
My test instance had no peers for hours so I finally have some logs.

Parity was restarted at the time the chart was snapshotted, around Fri, 20 Apr 2018 19:20 +0200. The node was behind ~1400 blocks.

Find attached nodes.json from *before* parity was restarted with `-lsync=trace`.
log.txt is from *after* parity was restarted.

nodes.json and network key were *not* deleted this time.

When the nod

[2018-04-21 09:41] #8442 closed

[2018-04-21 10:54] #8369 closed

[2018-04-21 11:13] villesundell commented on #8247
I think I have a variation of the same problem: I accidentally participated twice to EOS crowdsale, instead of only one transaction I planned originally to do :laughing: For me the damage is not huge (both were 1 ETH each), but the problem is real.

It is possible that I accidentally pressed the confirmation button on the signer twice, but because both of the transactions had different nonce, both

[2018-04-21 19:42] cseberino commented on #8415
Tbaut:  Thanks for the help.  Indeed those switches produced a huge amount of output.  To answer your questions, I don't *need* to have more.  (I currently have 8.)  I just don't know what is normal and if my inability to get 25 on ETC network is indicative of a mistake in my setup or not.  If you say that is expected I'm ok with it.

If I have any concern it is just that the count may drop to 1 o

[2018-04-21 21:13] marginweb opened #8458 "Cannot sync Kovan after block 6950124"
I'm running:
- **Which Parity version?**: 1.10.1 and 1.9.6
- **Which operating system?**:  Linux
- **How installed?**: deb
- **Are you fully synchronized?**: no
- **Which network are you connected to?**: kovan
- **Did you try to restart the node?**: yes

I'm not able to sync Kovan anymore, I've tried both 1.9.6 and 1.10.1 with a ``db kill`` with the same result below:

[code]

After the block gets

[2018-04-21 21:48] marginweb commented on #8458
1.8.11 has the same issue.

[2018-04-22 16:05] shane1900 commented on #7820
Same error for me even after trashing app and installing latest stable release on mac.

[2018-04-22 20:47] mgbvox opened #8459 "Parity UI Warp Restore Stuck at 66.85%"
I installed Parity UI via the installer .DMG; left it syncing on my iMac (High Sierra v10.13.4) returned to find it at 66.85% sync. Left again, came back four hours later - still at 66.85%. There appears to be only one log, made at 12:25:05 2018-04-22 (four hours ago, ish), which says: "Syncing snapshot 843/1261 #868400 26/50 peers 994 KiB chain 66 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 1 r

[2018-04-23 02:58] roynalnaruto commented on #8157
@ordian I had used `--engine-signer` while launching the docker container. What is the id in the brackets of the above error `66ae460c87cca597b3b8fee210b07cad7b9a448d`? Because, that is not the public address of any of the 4 validators that I am using. Below is the `docker-compose.yml` I am using:
[code]

Is there something else wrong?

[2018-04-23 04:51] vladyslav2 commented on #1425
@5chdn any updates on this issue?

[2018-04-23 06:59] jamespic commented on #7820
@shane1900 What about 1.10.1, which is the latest *beta* release?

[2018-04-23 07:15] trustfarm-dev commented on #8416
Did you checked parity node sync with fast or warp on musicoin chain?
try it get block on latest blocks, if it shows well then you may be sync with default fast and pruning_history 64 blk mode.

try it sync with --pruning=archive  and call api.

[2018-04-23 08:42] Tbaut commented on #8430
It should also be documented: https://github.com/paritytech/wiki/issues/81

[2018-04-23 08:44] #7704 closed

[2018-04-23 09:31] 5chdn commented on #8416
`null` means the block is not known to your node. Once the block is synced, it's available via RPC.

[2018-04-23 09:31] #8416 closed

[2018-04-23 09:35] Tbaut commented on #8459
@mgbvox the warp sync should not hang more than a couple minutes. If it does, please [launch parity within the Terminal](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-using-the-command-line-on-mac-osx) to read eventual errors and post them here.

[2018-04-23 09:37] 5chdn commented on #8459
That's a UI glitch and should be tracked in the https://github.com/Parity-JS/shell/ repository: The UI does not reset the warp sync status if it fails.

The warp sync issues are listed here. https://paritytech.github.io/wiki/Known-Issues-Priorities

[2018-04-23 09:39] Tbaut commented on #8415
I understand. If you do drop to 1/2 peers, please launch parity with the flags `-l sync=trace` and post the output here. We'd reopen the issue.

[2018-04-23 09:39] #8415 closed

[2018-04-23 09:42] brucexiu opened #8461 "eth_sendRawTransaction rpc response ReadTimeoutError"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I called json-rpc 'eth_sendRawTransaction'  to broadcast a tx, but get ReadTimeoutError。Parity already receive the transaction but wait a long time to response the tx hash。Is there a lock to

[2018-04-23 09:44] niklasad1 commented on #1425
Hrm, I think it would be possible by using `conditional compilation` to make `libusb` a `Linux, OSX, Windows and Android` only. Something like:

[code]

[2018-04-23 09:46] Tbaut commented on #8440
We'd be able to advise you better if you filled the required information in your first post (parity version, your OS, the chain you're syncing).
Regarding your question, have a look at the `blockHash` and `status` fields from [eth_gettransactionreceipt](https://wiki.parity.io/JSONRPC-eth-module.html#eth_gettransactionreceipt). If your transaction was mined, the blockHash shouldn't be `null` and th

[2018-04-23 09:46] #8440 closed

[2018-04-23 09:47] 5chdn commented on #8458
I can not reproduce this.

[code]

Can you remove your `nodes.json` and reset the DB and try again?

[2018-04-23 09:57] ddorgan commented on #8349
Can you paste a copy of your docker-compose.yml file please.

[2018-04-23 10:05] Tbaut commented on #8458
Couldn't reproduce either.

[2018-04-23 10:12] 5chdn commented on #8415
#7531

[2018-04-23 11:30] ddorgan commented on #8331
Are you sure truffle is trying to use this unlocked account? e.g. have you added this to your trufle.js under the correct network:
[code]
Also do you see transactions in the signer tab of the UI?

[2018-04-23 13:51] sorpaas commented on #6880
Duplicate of #7994

[2018-04-23 14:11] Tbaut commented on #6806
tackling it right now.

[2018-04-23 14:32] Tbaut commented on #7646
Moved to https://github.com/parity-js/shell/issues/70

[2018-04-23 14:32] #7646 closed

[2018-04-23 16:44] mgbvox commented on #8459
@Tbaut I did as you recommended, and it looks like syncing will finish! Thanks for the recommendation.

[2018-04-23 19:00] lucachaco opened #8465 "wiki website is down"
The wiki https://wiki.parity.io/ is not available anymore

[2018-04-23 19:18] #8465 closed, assigned to nobody

[2018-04-23 19:23] stephendliang opened #8466 "ZeroMQ Support"
Does Parity (or Geth or Cpp-ethereum) support zeromq sub socket functionality the same way bitcoind lets you subscribe to new raw transactions and blocks? I've seen the JSON-RPC format, but I think that is too ineffecient

[2018-04-23 20:39] lucachaco commented on #8465
![screenshot 16](https://user-images.githubusercontent.com/85146/39151997-13c315e8-4704-11e8-91bf-34194b644154.png)

[2018-04-23 21:06] Tbaut commented on #8465
Hmm it looks like a local issue, please visit the cached website and try again in a couple hours:
![image](https://user-images.githubusercontent.com/33178835/39153184-a96c9254-474a-11e8-8cf3-bf4698a3fe09.png)

[2018-04-23 22:30] #8459 closed

[2018-04-23 23:05] Yonom commented on #8345
Hey,

Pick another number! Parity doesn't like networkID 0

[2018-04-23 23:29] drandreaskrueger commented on #8145
I have now helped myself to a **bootstrap file**

*  [parity-mainchain_20180423 .zip](https://mega.nz/#!VzwwyLzL!nto17YDIuD1rCzg7h4ST6ew8skQLE5dbhogdbvzC7J4) bootstrap file

   * (might be gone, because superseded by a newer file; 50 GB max; see these instructions:
* short [manual](https://gist.github.com/drandreaskrueger/88cf4e27c69272e68d44076aaf9a8844) how I did that

For now, I keep a cloud ma

[2018-04-23 23:31] drandreaskrueger commented on #8148
I have given up on that.

Instead I have now helped myself to a **bootstrap file**

*  [parity-mainchain_20180423 .zip](https://mega.nz/#!VzwwyLzL!nto17YDIuD1rCzg7h4ST6ew8skQLE5dbhogdbvzC7J4) bootstrap file

   * (might be gone, because superseded by a newer file; 50 GB max; see these instructions:
* short [manual](https://gist.github.com/drandreaskrueger/88cf4e27c69272e68d44076aaf9a8844) how I di

[2018-04-23 23:31] drandreaskrueger commented on #8215
Any progress on the light client? Does it show tokens now?

I have now helped myself to a **bootstrap file**

*  [parity-mainchain_20180423 .zip](https://mega.nz/#!VzwwyLzL!nto17YDIuD1rCzg7h4ST6ew8skQLE5dbhogdbvzC7J4) bootstrap file

   * (might be gone, because superseded by a newer file; 50 GB max; see these instructions:
* short [manual](https://gist.github.com/drandreaskrueger/88cf4e27c69272e6

[2018-04-24 06:30] AyushyaChitransh commented on #7939
The function which requires change is most probably this one:

https://github.com/paritytech/parity/blob/14361cc7b154af46ea0efca79d1c297d32181b40/ethcore/src/miner/miner.rs#L951

	fn is_currently_sealing(&self) -> bool {
		self.sealing.lock().queue.is_in_use()
	}

I think the above function does not take into account internal sealing. Not sure though. Here are the miner logs from authority nodes w

[2018-04-24 08:47] Tbaut commented on #7820
@shane1900 Could you please try with Parity v1.10 and to connect the Ledger Nano S before launching Parity and Parity UI ?

[2018-04-24 09:10] Tbaut commented on #8148
As stated before, Parity v1.11 should solve this problem.

[2018-04-24 10:51] kevinaquick opened #8467 "Problem implementing Transaction Type permissioning"
Parity version:  Parity/v1.8.2-beta-1b6588c-20171025/x86_64-linux-gnu/rustc1.21.0
OS: Ubuntu 14.04.5

We are trying to implement Transaction Type permissioning on our private POA and have been using the documentation https://wiki.parity.io/Permissioning.html#transaction-type as a guide - we have created a contract that matches format as laid out- compiled and published to our blockchain (reduced t

[2018-04-24 11:29] marginweb commented on #8458
I upgraded to 1.10.2, removed the nodes.json file and did another ``db kill`` and this time I was able to sync completely.

[2018-04-24 11:57] #8458 closed

[2018-04-24 12:23] phahulin opened #8468 "Light clients broken on chains with genesis validator-set contract"
How to properly start `light` client on a custom sidechain, not using any hardcoded sync block? I tried using 1.10.0, 1.10.2, 1.11.0 (master)

I tried to set it in config toml file:
[code]
also tried
[code]
also with `--light --no-hardcoded-sync` cmd options,
but I get either
[code]
or
[code]
Also compiled `master` and got the error message as if `--no-hardcoded-sync` is ignored:
[code]

[2018-04-24 12:41] vidhyaramani opened #8469 "Unable to deploy the contract"
_

My code is running successfully no error. Got the truffle migrate results.  I have checked in migrations.js and deploy_contract.js
deployer.deploy is same as my program name.

So,do i need to change anything?
y my program is not deploying?

[2018-04-24 13:05] kamilk91 commented on #7211
`{"jsonrpc":"2.0","result":[],"id":1}
`

parity 1.9.7, ubuntu 17.04, still empty

[2018-04-24 13:11] kamilk91 commented on #8169
tested on ubuntu 17, testnet kovan, parity 197, still the same

[2018-04-24 14:14] Tbaut commented on #8169
Couldn't reproduce using curl [as shown in this example](curl --data '{"method":"trace_filter","params":[{"fromBlock":"0x2ed0c4","toBlock":"0x2ed128","toAddress":["0x8bbB73BCB5d553B5A556358d27625323Fd781D37"]}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545
)
- Can you confirm that you have tracing enabled (e.g using `--tracing on`)?
- Can you try using a Hex b

[2018-04-24 14:24] drandreaskrueger commented on #8148
when stable?

[2018-04-24 14:27] Tbaut commented on #8148
Will go live next week as beta (light mode is experimental for 1.9 and 1.10 too).

[2018-04-24 14:36] Tbaut commented on #8469
Would you mind answering these questions and give us more details:

_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2018-04-24 14:40] vidhyaramani commented on #8469
'm running:

    Which Parity version? node: version 9.9.0, npm: 5.8.0, truffle: version 4.1.6, ganache-cli(TestRPC): version 6.1.0, solidity: 0.4.18, solidity compiler(solcjs): 0.4.22
    Which operating system?: Windows
    How installed?: via installer
    Are you fully synchronized?:  yes
    Which network are you connected to?: ethereum /truffle/solidity
    Did you try to restart the node?:

[2018-04-24 14:42] mgbvox opened #8472 "Web3 Console Not Functioning"
When attempting to run the syncing check describes in the FAQs on the Parity UI Web3 Console, I got the following errors:

<img width="1198" alt="screen shot 2018-04-24 at 10 37 29 am" src="https://user-images.githubusercontent.com/26420601/39194550-fffe3206-47ab-11e8-867f-f8d342f5e61f.png">

I would assume this means I haven't installed web3 - but how can I be sure? I can't seem to find a list of

[2018-04-24 14:45] Tbaut commented on #8468
We have only implemented the hardcoded header for 1.11 mainnet chain spec. This command shouldn't do anything on other networks.
What exactly do you want to achieve ?

[2018-04-24 14:53] phahulin commented on #8468
Is it possible to use light client for a custom sidechain? It seems like if I use `--no-hardcoded-sync` it should get headers starting from genesis, so it should be applicable to any chain, not necessarily mainnet?
If this is correct, then it doesn't seem to be working

[2018-04-24 14:54] drandreaskrueger commented on #8148
Great. Looking forward to light being stable, and incl. token transfers.

Until that dream becomes reality \*g\* --> https://gist.github.com/drandreaskrueger/88cf4e27c69272e68d44076aaf9a8844

[2018-04-24 15:08] shubhamy commented on #7736
Back then, I opened up the parity and went to etherdelta.com. There I was seeing this.

[2018-04-24 15:16] Tbaut commented on #8472
Moved to https://github.com/parity-js/shell/issues/72

[2018-04-24 15:16] #8472 closed

[2018-04-24 15:18] Tbaut commented on #7852
Should be solved in 1.10, can you confirm ?

[2018-04-24 15:28] Tbaut commented on #7328
Moving the project to https://github.com/parity-js/shell we will not migrate lower prio issues. Please reopen it there if you really think it's needed.

[2018-04-24 15:28] #7328 closed

[2018-04-24 15:31] Tbaut commented on #7736
I get it, you were using the web3 browser. This is not possible anymore with >v1.9. It is now advised to use the chrome plugin: https://chrome.google.com/webstore/detail/parity-ethereum-integrati/himekenlppkgeaoeddcliojfddemadig?hl=fr

[2018-04-24 15:31] #7736 closed

[2018-04-24 15:32] Tbaut commented on #7505
Problem solved with Parity UI :tada:

[2018-04-24 15:32] #7505 closed

[2018-04-24 15:33] Tbaut commented on #7321
@jacogr is it still a problem? Worth taking it to the new repo?

[2018-04-24 15:35] 5chdn commented on #8468
Light client sync is available in any chain that has parity nodes serving light clients.

A way to enable hard-coded synchronization is documented at our wiki:

https://wiki.parity.io/Chain-specification

[2018-04-24 15:39] Tbaut commented on #7257
Moved to https://github.com/parity-js/shell/issues/74

[2018-04-24 15:39] #7257 closed

[2018-04-24 15:43] Tbaut commented on #7249
This issue hasn't been updated for a while. Please reopen it in the dedicated UI repo if it still happens https://github.com/parity-js/shell/issues/new

[2018-04-24 15:43] #7249 closed

[2018-04-24 15:48] Tbaut commented on #8468
As I said, since you are on a custom chain, and since no hardcoded header was setup (I assume) you will anyway end up downloading all headers from the beginning, so no need for `--no-hardcoded-sync` :)

[2018-04-24 15:51] Tbaut commented on #8469
You'll probably need to give us more information, step y step of what you did, error you see, or anything for us to be able to help you since we can not guess what could go wrong :)

[2018-04-24 15:57] Tbaut commented on #7201
Moving to a new repo, we will not migrate low prio issues. Please reopen it in the new repo if you believe it should be addressed: https://github.com/parity-js/shell/issues/new

[2018-04-24 15:57] #7201 closed

[2018-04-24 15:58] Tbaut commented on #7220
Moving to a new repo, we will not migrate low prio issues. Please reopen it in the new repo if you believe it should be addressed: https://github.com/parity-js/shell/issues/new

[2018-04-24 15:58] #7220 closed

[2018-04-24 15:59] Tbaut commented on #7112
Moving to a new repo, we will not migrate low prio issues. Please reopen it in the new repo if you believe it should be addressed: https://github.com/parity-js/shell/issues/new

[2018-04-24 15:59] #7112 closed

[2018-04-24 16:03] Tbaut commented on #6958
moved to https://github.com/parity-js/shell/issues/75

[2018-04-24 16:03] #6958 closed

[2018-04-24 16:09] shane1900 commented on #7820
@Tbaut Yes that works with v1.10 thank you.  I was not wanting to use the beta since previously it had not worked with Maker / Dai CDP's.  Another bug though, setting custom gas did not take on the first screen.  Had to edit it manually again on the confirmation popup.

[2018-04-24 17:16] phahulin commented on #8468
@5chdn @Tbaut sorry, maybe I'm missing something, but docs say that to generate value for `hardcodedSync` I need light client synced first, then I can do export. But to get client started I need `hardcodedSync`? it seems like "chicken or the egg" problem.

I tried to run with `--light` option alone against my chain, but got the error mentioned above:
[code]
Do I need something else to run light cl

[2018-04-24 17:49] halfgaar opened #8476 "Parity 1.9 breaks ABI on Ubuntu 14.04 (at least)"
The current build of Parity 1.9.6 for Ubuntu has these ABI errors when running on Ubuntu 14.04 (Linux Mint 17 in my case):

[code]

Parity 1.10.1 also has ABI errors:

[code]

Ubuntu 14.04's libstdc++ has symbols up to GLIBCXX_3.4.19, CXXABI_1.3.7 and OPENSSL OPENSSL_1.0.1d. These are all differences in minor version, and probably not required.

Can an Ubuntu 14.04 compatible build be released?

[2018-04-24 18:26] 5chdn commented on #8476
No. But you can compile it yourself, it's not very hard.

1) get rustup, 2) get partity, 3) cargo build --release :)

[2018-04-24 18:26] #8476 closed

[2018-04-24 18:50] 5chdn commented on #8468
Sounds like a valid bug though; is that 1.11? @Tbaut can you reproduce this?

[2018-04-24 19:44] phahulin commented on #8468
It's `master` as of this morning

[2018-04-24 20:43] xenoexclusive commented on #7961
Just to confirm, I fixed this by starting parity with the line:

`$ SSL_CERT_DIR=/etc/ssl/certs /usr/bin/parity`

[2018-04-24 20:48] tomusdrw opened #8478 "Parity consuming 200% CPU when fully synced"
The problem goes away when running with `--mode=offline`.
It might have been transactions verification (Geth releases notes mentioned a bug that caused excessive transaction broadcast - might be related).

[2018-04-24 22:31] ghettodev commented on #7852
Can confirm, works in 1.10 versions.

[2018-04-25 04:28] ChittaMadhobi opened #8479 "Cannot connect to peers"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Getting the following kind of output:
2018-04-24 21:25:04    #2491213    0/25 peers     92 KiB chain   60 MiB db  0 bytes queue   83 KiB sync  RPC:  1 conn,  0 req/s, 240 µs
2018-04-24 21:25:

[2018-04-25 04:55] ChittaMadhobi commented on #7937
This is what I did (Windows 10)::
1. Deleted the old-versions completely (installation directory and from c:/users/comname/AppData/Roaming/Parity/).
2. Downloaded Parity installer  parity_1.9.7_windows_installer.exe
3. Re-installed.

The thing is: Parity automatically started syncing (I did not start like I used  to do before). Now it says (on browser) that 14% synced and 20/25 peers connected but

[2018-04-25 08:08] #8339 closed

[2018-04-25 08:09] #8374 closed

[2018-04-25 08:30] #7211 closed

[2018-04-25 08:31] #8379 closed

[2018-04-25 08:33] 5chdn commented on #8396
Who is the owner of the badgeregistry?

[2018-04-25 08:33] Tbaut commented on #7937
@ChittaMadhobi this post is not related. Our Wiki is available here: http://wiki.parity.io/ do not hesitate to pass by our Gitter chat if you have other questions: https://gitter.im/paritytech/parity

[2018-04-25 08:34] Pzixel commented on #8339
@Tbaut yes, it currently works with passwords, however accounts may actually have no passwords so it may be considered as a bug.

[2018-04-25 08:34] 5chdn commented on #8397
That's clearly a consensus issue between Geth and Parity.

How did you configure the chains?

[2018-04-25 08:36] 5chdn commented on #8404
@yihuang parity does not contain any miner. `transaction mined`, means _someone_ confirmed your transaction and sealed a block.

[2018-04-25 08:36] #8404 closed

[2018-04-25 08:37] Tbaut commented on #8479
Please upgrade your parity client: https://github.com/paritytech/parity/releases
Make sure to read this about the move to 1.10: https://wiki.parity.io/Parity-Wallet
Note that `--warp` and ` --pruning fast` are now set by default. No need to specify them.

[2018-04-25 08:43] 5chdn commented on #8468
I can not reproduce this.

    ~/.opt/parity/target/release master
    ❯ ./parity --light
    2018-04-25 10:39:51  Starting Parity/v1.11.0-unstable-7fdb87ad3-20180425/x86_64-linux-gnu/rustc1.25.0
    2018-04-25 10:39:51  Keys path /home/user/.local/share/io.parity.ethereum/keys/Foundation
    2018-04-25 10:39:51  DB path /home/user/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0

[2018-04-25 08:43] sauliusgrigaitis commented on #8397
Thanks @5chdn , I used pretty much standard Puppeth setup. I believe if you try to setup it and leave it for prolonged periods sooner or later you should get the same problem.

BTW, only one Geth node was mining in the entire network.

[2018-04-25 09:00] ppratscher opened #8480 "Node stops responding to RPC calls"
Since upgrading our parity nodes to 1.9.6 / 1.10.1 / 1.10.2 we see cases where the nodes stop responding to any kind of RPC call. When querying such a node in this state via curl we just get a connection refused error back.

It happens more frequently on nodes that have a high volume of RPC calls. We were able to somewhat reliable reproduce the issue using the following stress test script (the RPC

[2018-04-25 09:10] yihuang commented on #8394
``/usr/bin/parity --rpcport=8357 --port=30305 --jsonrpc-apis=all --cache-size=2048 --geth --mode=active --min-peers=50 --max-peers=100 --db-compaction=ssd``

This is the current full running command, run with root user. Currently there are several addresses created with rpc api, but ``sudo parity account list`` still only shows one.

The content of file ``/root/.local/share/io.parity.ethereum/keys

[2018-04-25 09:20] yihuang opened #8482 "Call ``getTransaction`` json-rpc api in pending filter callback returns None"
I'm using json-rpc api to process new transactions, my code is like this:

[code]

Expected behavior: ``getTransaction`` shouldn't return ``None``.
Actual behavior: it returns ``None`` very often.
What should I do?

[2018-04-25 09:34] 5chdn commented on #8466
No :)

[2018-04-25 09:36] Tbaut commented on #8469
@vidhyaramani This doesn't look like a problem on parity side. Could you please investigate with Truffle team ?

[2018-04-25 09:45] #7852 closed

[2018-04-25 09:51] tomusdrw commented on #8482
Are you running in `--geth` mode? What pool size do you have? Any CLI set for `--relay-set`?

[2018-04-25 09:59] Tbaut commented on #8467
@kevinaquick you are using an old version of Parity. Please upgrade to the [latest release](https://github.com/paritytech/parity/releases) if possible to get the most up to date client. I can definitely imagine that it's the source of your problems.

[2018-04-25 10:03] Tbaut commented on #8461
@brucexiu do you always get the ReadTimeoutError for the same rawTransaction?
It looks like a sync problem, how many peers are you connected to?

[2018-04-25 10:07] Tbaut commented on #8339
It is somehow unexpected I agree, but low prio as not advised. Also using `--unlock` isn't secure, consider using `personal_sendTransaction` if this suits your needs.

[2018-04-25 10:09] kevinaquick commented on #8467
Thanks Tbaut - will give it a go again once we have updated (we tried updating earlier and had some issues getting "parity: relocation error: parity: symbol _ZNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEE6assignEPKc, version GLIBCXX_3.4.21 not defined in file libstdc++.so.6 with link time reference" when we tried starting parity again - so we are just seeing if we can work out how to put tha

[2018-04-25 10:27] jamartinb17 opened #8484 "Purchased ico was not reflecting on my wallet"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I purchased a coin shping during ico and created an ERC20 wallet in parity but I still did not received my purchased coin until today.

[2018-04-25 10:39] chebykin commented on #8407
The PR above resolved the problem. I've tried to rebuild my demo-app and everything works fine now.

[2018-04-25 10:39] #8407 closed

[2018-04-25 10:58] Tbaut commented on #8484
Crossposted on Gitter. I'll continue here :
- ERC20 token : SHP (shping) available in token registery
you said on the chat that you are not fully synced yet. Please get back here when you are.

[2018-04-25 11:12] josepajay opened #8485 "Parity ropsten chain syncing stuck at 2953152"
I am trying to sync ropsten chain in parity with tracing on. Sync gets stuck at 2953152 for more than a day.  Please see the logs here  https://gist.github.com/josepajay/b9b8aa49a20052cbe7cf08cf7a99f0f7

[2018-04-25 11:38] jamartinb17 commented on #8484
Ok Tbaut I'll get back to you to the soonest once my node is fully synced.

[2018-04-25 11:43] Tbaut commented on #4123
Moved to https://github.com/parity-js/shell/issues/77

[2018-04-25 11:43] #4123 closed

[2018-04-25 11:46] Tbaut commented on #3910
Moving to a new repo https://github.com/parity-js/shell we will not migrate low prio issues. Please reopen if you believe it should be addressed soon.

[2018-04-25 11:46] #3910 closed

[2018-04-25 11:46] Tbaut commented on #2928
Moving to a new repo https://github.com/parity-js/shell we will not migrate low prio issues. Please reopen if you believe it should be addressed soon.

[2018-04-25 11:46] #2928 closed

[2018-04-25 11:51] Tbaut commented on #4474
Stale issue. Please reopen if you think it's still relevant for Parity UI.

[2018-04-25 11:51] #4474 closed

[2018-04-25 11:53] Tbaut commented on #4702
Stale issue. Please reopen to https://github.com/parity-js/shell/ if you think it's still relevant for Parity UI

[2018-04-25 11:53] #4702 closed

[2018-04-25 11:54] Tbaut commented on #4705
Stale issue. Please reopen to https://github.com/parity-js/shell/ if you think it's still relevant for Parity UI

[2018-04-25 11:54] #4705 closed

[2018-04-25 12:14] Tbaut commented on #7820
Thanks @shane1900, can you confirm you're on windows?

[2018-04-25 12:25] Tbaut commented on #6172
Moved to https://github.com/parity-js/shell/issues/78

[2018-04-25 12:25] #6172 closed

[2018-04-25 12:26] Tbaut commented on #5389
Public node is deprecated.

[2018-04-25 12:26] #5389 closed

[2018-04-25 12:36] tomusdrw commented on #8467
The wiki seems to be a bit misleading.
`allowedTxTypes` should most likely be a constant function, even if you modify the state, the changes are not persistent.
CC @grbIzl

[2018-04-25 12:39] chebykin opened #8487 "What is the best way to collect metrics at the moment?"
* chain: private aura
* parity version: 1.9.7

I'm looking for collecting and passing the following metrics to aggregation services like [`statsd`](https://github.com/etsy/statsd) or [`telegraf`](https://github.com/influxdata/telegraf):

- tx queue size (total count each second)
- "external_tx": "Importing external transactions" event https://github.com/paritytech/parity/blob/45116099c5a0fa7e37a4c

[2018-04-25 12:49] ppratscher commented on #8480
Small update, I am unable to replicate the issue using parity v1.9.5 & the script posted above.

[2018-04-25 12:56] ilhanu commented on #6319
I'm having the same issue on foundation:

2018-04-25 14:51:35  Starting Parity/v1.10.2-beta-f4ae813fd-20180423/x86_64-windows-msvc/rustc1.25.0
2018-04-25 14:51:35  Running in experimental Light Client mode.
2018-04-25 14:51:36  Multi-threaded server is not available on Windows. Falling back to single thread.
2018-04-25 14:51:36  Multi-threaded server is not available on Windows. Falling back to si

[2018-04-25 12:58] yihuang commented on #8482
Full command of running parity:

``/usr/bin/parity --rpcport=8357 --port=30305 --jsonrpc-apis=all --cache-size=2048 --geth --mode=active --min-peers=50 --max-peers=100 --db-compaction=ssd``

[2018-04-25 13:03] chevdor commented on #8396
`0x3FF047E5E803e20f5eF55eA1029aDB89618047Db`

[2018-04-25 13:10] Tbaut commented on #6319
@ilhanu the workaround for mainnet is to use v1.11 that will be released soon ([here](https://github.com/paritytech/parity/releases)). Right now you can build it yourself [from the source](https://wiki.parity.io/Setup#building-from-source). The v1.11 uses hardcoded block headers that prevents you from having to download them.

[2018-04-25 13:16] tomusdrw commented on #8480
@ppratscher With 1.9.5 do you see some of the requests fail?

[2018-04-25 13:23] 5chdn opened #8488 "Light client does not report new blocks after being fully synchronized."
It does not have any "Imported ..." statements, it just looks like it stalls (but it isn't).

Can we have some logging that indicates it's not stalling?

[2018-04-25 13:26] kevinaquick commented on #8467
@tomusdrw in fact the contract as detailed in the wiki won't compile without setting the function allowedTxTypes to "pure" I think. Mind you if you do that the abi does not then exactly match that in the wiki as the stateMutability is no longer "nonpayable" - how critical that is I don't know - in my very much cut down test contract it just happens that as I am setting a test variable within the a

[2018-04-25 13:29] ppratscher commented on #8480
No, not a single request failed during the 3+ hours the test script was running with v1.9.5

[2018-04-25 13:34] ppratscher commented on #8480
Edit: With a more aggressive version of the test script I was able to get the request to fail also with v1.9.5:

[code]

[2018-04-25 13:48] 5chdn commented on #8485
Your node was only running for 26 seconds. What happens if you remove your `nodes.json` and keep it running for 1+ hours?

https://ropsten-stats.parity.io/

[2018-04-25 13:51] 5chdn commented on #6319
There are also [binaries for 1.11](https://vanity-service.parity.io/parity-binaries?version=nightly&format=markdown) if you want to test light sync before it is actually released.

[2018-04-25 13:55] 5chdn commented on #8396
Good news, I removed them! :)

[2018-04-25 13:55] #8396 closed

[2018-04-25 14:05] shane1900 commented on #7820
Yes v.1.10 on windows @Tbaut

[2018-04-25 14:07] tomusdrw commented on #8480
I'm trying to reproduce it now. Would you mind testing if it also happens for you with `--mode=offline`?

[2018-04-25 14:10] ilhanu commented on #6319
v1.11 doesn't change much, I deleted the cache folder in 1.10 and started anew.

Here you can see the output with 1.11 - binary I downloaded from sources of @5chdn

[code]

[2018-04-25 14:15] Tbaut commented on #4748
Stale issue. Closing as we move to the new repo https://github.com/parity-js/shell

[2018-04-25 14:15] #4748 closed

[2018-04-25 14:16] Tbaut commented on #5333
Stale issue. Please reopen to https://github.com/parity-js/shell/ if you think it's still relevant for Parity UI

[2018-04-25 14:16] #5333 closed

[2018-04-25 14:20] Tbaut commented on #6319
@ilhanu you need to `parity --light db kill` first, then relaunch.

[2018-04-25 14:24] ppratscher commented on #8480
Yes, it also happens when running the node with mode=offline

[2018-04-25 14:51] 5chdn commented on #8468
Now I can reproduce. Spec seems valid.

Ref #8075 - @tomaka can you look into this? It should not throw this error.

[2018-04-25 15:01] tomusdrw commented on #8480
@ppratscher It's mostly `web3` issue not us. Let me explain:
1. Web3 is using `XMLHttpRequest` to create new request to the server
2. For node.js they are using a polyfill: https://github.com/driverdan/node-XMLHttpRequest which creates a new connection for each request. What's more those connections have `keep-alive` set to true (so the server is not closing them right away)

So the issue is that

[2018-04-25 15:01] yihuang commented on #8394
[code]

[2018-04-25 15:03] tomusdrw commented on #8394
@yihuang are you using a config file?

[2018-04-25 15:07] yihuang commented on #8394
@tomusdrw No, below is full supervisor configuration I used to run parity. There are no other arguments.

[code]

[2018-04-26 05:41] trustfarm-dev opened #8492 "How can I remove OLD SST , not using DB files?"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**actual** running well.
for full sync parallelize,
sync started with 2 ~ 3 nodes simulataneously.
Some nodes go faster then copy its chain db to another one.
and another one will sync after pervious sync.
first 2 times didn't full clean directory, and lates synced d

[2018-04-26 07:05] josepajay commented on #8485
@5chdn  As I have already mentioned I have been running parity for more than two days and its still stuck at 2953152. Even though the initial gist was the log of parity in 26 seconds, this is the behaviour it follows even when running for hours.  Please check this new gist https://gist.github.com/josepajay/eaf0f437f631460ca3cd9c939cc1736d

I tried removing nodes.json file (/chains/test/network/nod

[2018-04-26 10:53] Toadria opened #8494 "I'm trying to register a token and when I register it says "The address is not a regular token contract address""
_Before filing a new issue, please **provide the following information**._

Hello Parity Team,

I'm trying to register several tokens bought at ICOs, in many of these I continue to receive the same message:

"The address is not a regular token contract address". Further, if I try to watch those same contracts, the balance is 0 vs whatever the amount should be. Can you please help?

[2018-04-26 11:12] adirmola opened #8495 "The `trace` Module - stateDiff"
Hi, I'm trying to explore the influence of transaction on accounts state.

Here is how Etherscan represent the transaction:
https://etherscan.io/tx/0xa567744e4a4b267fecbfd95e6df4b058adb9afa0f22355d11cfdc2bceed446b5

I had running the following query:
[code]
following is the response (I copied only the contract section):
[code]

The first "from-to" couple should be the change in the token balance o

[2018-04-26 11:40] c0deright commented on #7531
Here are some more logs.

parity was running on AWS ec2 instance type t2.medium. CPU and volume stats show that the instance is not running in any AWS imposed limits. parity had only 9 peers for a long time and I decided to stop parity, clear the log and start parity again.

For the next 27 minutes when parity sits there with only 3 peers connected sync trace is covered in log.txt. After 27 minute

[2018-04-26 12:24] clowestab commented on #8485
Our Ropsten nodes are also getting stuck at 2953152. Been running for weeks.

[2018-04-26 12:59] Tbaut commented on #8495
Can you please post the whole response to have a better overview?

[2018-04-26 13:00] sorpaas commented on #8495
Duplicate of #6520 and should be fixed in #8491. Yay!

[2018-04-26 13:02] #8495 closed

[2018-04-26 13:11] Tbaut commented on #8494
The `totalSupply` need to be greater than 0.

[2018-04-26 13:11] #8494 closed

[2018-04-26 13:40] Toadria commented on #8494
When giving the address I can't see where to put the total supply?

[2018-04-26 14:09] Tbaut commented on #8494
Are you sure you're fully synced? what's the address of the token contract?

[2018-04-26 14:15] Toadria commented on #8494
I'm fully synced. The address is the following:

0x919c9b9621b3da0809431b213c431a796cb8fa1f

[2018-04-26 14:31] 5chdn commented on #8485
And what if your remove your database and try again?

[2018-04-26 14:32] Tbaut commented on #8494
This is not an ERC20 token contract address, what you are looking for is most probably https://etherscan.io/token/0x57ad67acf9bf015e4820fbd66ea1a21bed8852ec BTW it's already registered on mainnet:
![image](https://user-images.githubusercontent.com/33178835/39312226-554c0336-496f-11e8-9bde-ddae52180612.png)

[2018-04-26 14:38] Toadria commented on #8494
I've just copied from etherscan, see attachded. Also, when I watch that contract the balance on parity is $0. I have done this with other tokens and it show the right balance?
<img width="1110" alt="screen shot 2018-04-26 at 15 35 08" src="https://user-images.githubusercontent.com/38754432/39312570-cb8fda0c-4967-11e8-893c-9e9c58f984bd.png">
![Uploading Screen Shot 2018-04-26 at 15.27.25.png…]()

[2018-04-26 14:55] Tbaut commented on #6565
Moving to a new repo (https://github.com/parity-js/shell/) we will not migrate low prio issues. Please reopen if you believe it should be addressed.

[2018-04-26 14:58] Toadria commented on #8494
However, I have another contract with balance 20,000 in etherscan and in parity, 2. Can you help?
<img width="1402" alt="screen shot 2018-04-26 at 15 52 02" src="https://user-images.githubusercontent.com/38754432/39313619-614b3a62-496a-11e8-93f8-466e2879cec4.png">
![Uploading Screen Shot 2018-04-26 at 15.49.47.png…]()

[2018-04-26 15:00] kevinaquick commented on #8467
we have upgraded one of our ubuntu 16 servers to parity 1.9.7 and have tried setting this up for transaction permissioning. The issue we  now have is that with the contract in place and specified in our spec file as above - no transactions are being allowed by any account. I have even reduced the allowedTxTypes function down so all it does is return 'All' for every call (where  all is defined as u

[2018-04-26 15:01] Toadria commented on #8494
<img width="1161" alt="screen shot 2018-04-26 at 15 49 47" src="https://user-images.githubusercontent.com/38754432/39313881-fcb5349e-496a-11e8-821f-3455e846fbdf.png">

[2018-04-26 15:11] Tbaut commented on #6783
Moved to https://github.com/parity-js/shell/issues/80

[2018-04-26 15:11] #6783 closed

[2018-04-26 15:14] Tbaut commented on #6784
Moved to https://github.com/parity-js/shell/issues/81

[2018-04-26 15:14] #6784 closed

[2018-04-26 15:19] Tbaut commented on #6797
Could not reproduce in v1.10

[2018-04-26 15:19] #6797 closed

[2018-04-26 15:24] imkane opened #8496 "Parity UI 0.1.1.0: change data dir?"
I'm not sure why or how, but my Parity Windows app recently prompted me to install the UI app, which I download from some Github repo yesterday. I'm pretty sure the release was fairly recent, like sometime in April.

Now I cannot find where in the heck I download this "Parity UI" from. I was hoping to log an issue there or even find some documentation.

![screenshot - 4_26_2018 8_21_50 am](https:/

[2018-04-26 15:48] Tbaut commented on #6881
Stale issue. Moving to the new reop, we will not migrate low prio issues.

[2018-04-26 15:48] #6881 closed

[2018-04-26 16:12] Tbaut commented on #8496
Parity UI is just a user interface for the Parity Ethereum client. To use another data dir, you need to launch parity (the node) with the command line and use `--datadir` flag to change your data directory.
Here are more info about the UI move : https://paritytech.io/creating-a-lighter-experience/

[2018-04-26 16:12] #8496 closed

[2018-04-26 16:23] tomzuu opened #8498 "Make sure the spec file has a correct genesis seal"
I'm running:

**Which Parity version?**: 1.9.5-stable-ff821daf1-20180321
 **Which operating system?**: Linux Debian 4.9.65-3+deb9u1
**How installed?**: binaries
**Are you fully synchronized?**: yes
**Which network are you connected to?**: kovan
 **Did you try to restart the node?**: yes

2018-04-25 13:26:18 UTC IO Worker #3 DEBUG sync  Sent up to 3 transactions to 4 peers.
2018-04-25 13:26:20 UTC

[2018-04-26 16:31] Tbaut commented on #8498
Duplicates https://github.com/paritytech/parity/issues/7880

[2018-04-26 16:31] #8498 closed

[2018-04-26 18:48] allquantor opened #8499 "Including transaction hashes into replay_block_transactions."
Right now, RPC call `replay_block_transactions` does not contain TxHash for trace, state diff.

As far I can see from [here](https://github.com/paritytech/parity/blob/14361cc7b154af46ea0efca79d1c297d32181b40/ethcore/src/client/client.rs#L1587) they are available in scope.

Is there a way to get them out together with this call?
Especially when you are interested on tracing historical blocks this i

[2018-04-26 19:32] tomusdrw commented on #2285
@jacogr do we still want this to be maintained by the node? I think that currently with the standalone Parity UI the dapps might not be distinguishable for the node, right?

[2018-04-26 19:33] tomusdrw commented on #8467
@grbIzl ^^ Can you help with that?

[2018-04-26 20:35] imkane commented on #8496
Ok thanks, I got the new --datadir working now :)

But now after running the node from a Windows command line, the UI isn't working, I'm stuck at this page. I have to use ANOTHER command line window to generate the token, but it's never accepted. How are we supposed to run the Node + UI?

![screenshot - 4_26_2018 1_32_50 pm](https://user-images.githubusercontent.com/2041683/39330495-aeb79034-4956-

[2018-04-26 20:44] imkane opened #8500 "--datadir not actually working"
re: https://github.com/paritytech/parity/issues/8496

Sorry, I was mistaken. Only these folders are appearing when I change the default --datadir:

![screenshot - 4_26_2018 1_40_34 pm](https://user-images.githubusercontent.com/2041683/39330820-aa83b212-4957-11e8-9be1-955029e36c34.png)

And they only take up 249 bytes. Everything else seems to be continued to be stored in:
`\AppData\Local\Parity\Et

[2018-04-26 21:32] grbIzl commented on #8467
@tomusdrw already started looking into the code

[2018-04-27 04:11] hayeah commented on #1215
While this is a "won't fix", there is a workaround to get both geth, parity, and gnache-cli to work.

Just pass `null` as the third argument.

[2018-04-27 04:54] shisoft opened #8501 "Genesis constructor execution at 0000…0005 failed: Out of gas, then panicked at 'proof produced by this engine'"
I am setting up a private PoA network with a safeContract with following configuration. On first launch, it has output `Genesis constructor execution at 0000…0005 failed: Out of gas`. The contract was intended for validator set, the application quickly panic with

I am not sure those are tied up out of gas does not looks right to me. This should be related to #8065

[code]

[2018-04-27 06:40] mpolci opened #8502 "Thread '<unnamed>' panicked at 'arithmetic operation overflow'"
I'm running:

- **Which Parity version?**: 1.9.7  (Parity/v1.9.7-stable-7919629f3-20180423/x86_64-linux-gnu/rustc1.25.0)
- **Which operating system?**: Linux Debian 9
- **How installed?**: binaries (official .deb package)
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: ethereum
- **Did you try to restart the node?**: yes

The parity daemon crash with the following

[2018-04-27 07:43] shisoft commented on #8501
I am going to close this issue for some faulty configuration triggered. Some more clean configuration does not have such problem.

[2018-04-27 07:43] #8501 closed

[2018-04-27 08:28] Tbaut commented on #8500
Using `--base-path=` should achieve what you want. Can you try?

[2018-04-27 09:38] clowestab commented on #8485
I am reluctant to do that as I am running fully traced and archived nodes. Re-syncing will take a very long time. Is the implication that that is the only resolution?

[2018-04-27 09:51] Tbaut commented on #8485
@clowestab are you running with `--pruning archive`? There was a fork on Ropsten a couple weeks ago. Running with such a flag could avoid letting your node stuck.

[2018-04-27 10:40] Pzixel opened #8503 "Parity doesn't allow contracts to call other contracts"
Here is sample code contract which just trying to call pure function on another contract:

[code]

Contract ABI:

Contract Bin:

Expected behaviour:
`getRequestsByFilter` returns true.

Actual behaviour:
`getRequestsByFilter` returns default value (false in this case) because it throws an exception when trying to call `r.IsMatch()`.

On the other hand, **this very bytecode works fine when deployed

[2018-04-27 12:06] Tbaut commented on #8503
This is a functionality problem linked to Parity UI. It has been moved to a new repo: https://github.com/parity-js/shell
As you might know [reading our blog](https://paritytech.io/creating-a-lighter-experience/), our UI will be given to the community soon. As a result of this, we will not maintain it further since other tools such as [Remix](http://remix.ethereum.org) do the same.

[2018-04-27 12:13] Pzixel commented on #8503
@Tbaut why you label it as UI problem? I have same results by calling API via JSONRPC.

[2018-04-27 12:28] Tbaut commented on #8503
Sorry, the description made me think of a UI problem. Can you then describe how to reproduce using RPC and a contract you deployed?

[2018-04-27 12:39] Pzixel commented on #8503
[code]

[2018-04-27 14:47] AyushyaChitransh opened #8506 "Stage 5 block verification failed for #7020003 in Kovan sync"
### What Fails:

    ./target/release/parity --chain kovan --base-path ~/kovan/

But after snapshots are complete, I get the following error:

[code]

Tried these too:
 - Restarting parity with same `--base-path` after snapshots were downloaded.
 - Restarting parity with new `--base-path`

### What works:

    ./target/release/parity --chain kovan --base-path ~/kovan/ --no-warp

This has been sync

[2018-04-27 14:55] Tasselhoff opened #8507 "IO Worker panic"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
During snapshot, using command as follows:
./par.sh: line 2: 11217 Aborted                 (core dumped) parity --cache-size 8192 --db-compaction ssd --mode active --warp --author xxx --stratu

[2018-04-27 15:05] imkane commented on #8500
That worked - thanks!

On Fri, Apr 27, 2018 at 1:28 AM, Thibaut S <notifications@github.com> wrote:

[2018-04-27 15:29] #8500 closed

[2018-04-27 15:36] Tbaut commented on #8507
Duplicates https://github.com/paritytech/parity/issues/7536

[2018-04-27 15:36] #8507 closed

[2018-04-27 15:41] grbIzl commented on #8467
@kevinaquick Can you please help with the following:
- Can you please paste the code for the contract, that you're testing (the latest one). I assume from your description, that it's something like
function allowedTxTypes(address sender) public returns (uint32) { return All; }
But want to make sure.
- (The main request) Can you start Parity with the following logging option added in Parity's start

[2018-04-27 17:43] tms1337 opened #8508 "Connecting to dockerized instance"
Hey guys and girls,
Could somebody possibly help me, I am not providing usual info thats required since I am running official dockerized version. I am using MacOS High Sierra.

I am running parity with

`docker run -d -p 8545:8545 parity/parity --jsonrpc-cors all --mode active --tracing off --pruning fast --db-compaction ssd --cache-size 512`

, but cant seem to connect from localhost by running `

[2018-04-28 01:03] xenoexclusive commented on #6319
I'm having the same issue, but also whenever this happens my I/O is going absolutely through the roof. Can anyone confirm the same? Using iotop my I/O is at 100%, often 'more', constantly once I stop receiving headers.

[2018-04-28 08:55] lriman opened #8509 "Panicked at 'Expected to find transaction hash'"
_Before filing a new issue, please **provide the following information**._

====================
parity_1  |
parity_1  | stack backtrace:
parity_1  |    0:     0x55c74985eb1c - <no info>
parity_1  |    1:     0x55c74985e1c2 - <no info>
parity_1  |    2:     0x55c748d59725 - <no info>
parity_1  |
parity_1  | Thread '<unnamed>' panicked at 'Expected to find transaction hash. Database is probably cor

[2018-04-28 09:13] mpolci commented on #8502
I discovered that the error happened every time after a call to web3.eth.sendRawTransaction() (web3 connected via IPC)

[2018-04-28 19:07] tomachinz commented on #3607
How about

`--nat extip:domainname.com
`
Possible to use domain names in this spec?

[2018-04-28 20:54] Toadria opened #8510 "Amount of Axpire Token in Parity different from amount in Etherscan"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hi There,

I've recently added several tokens in my parity wallet. One of these Axpire, shows in parity a different amount. In Etherscan it clearly shows I have 20,000, whilst in Parity it sh

[2018-04-29 06:11] saltyminer opened #8512 "Does Parity support the PIRL chain?"
After reviewing the https://wiki.parity.io/Chain-specification page and doing some digging around it looks like Parity does not support PIRL.  If it is possible to use PIRL where can I find more info on how to set the json config?  If it is not supported, is this on the roadmap?  I looked at the projects and did some searching, but I did not find any relevant info.

[2018-04-29 07:31] ja-weber opened #8513 "Parity docker is crashing"
_Before filing a new issue, please **provide the following information**._

I starting my docker and after 20 - 24 hours it is shutting down and I cannot see any running parity process. I have started the parity with trace log, to show potential problems. What can I do? The last logs are:
[code]

[2018-04-29 10:11] calebrate opened #8514 "WS Subscriptions Missing Events and Block Headers"
- When subscribed to new headers and events via ws api, parity will push incomplete event sequence and also headers and events are coming out of order.
- Chain reorg block headers are not double pushed (replacement header missing).
- `Imported X + another X blocks` will push in sequence (X, X-1, X-2...) instead of (...X-2, X-1, X)
- **Events from "synced" blocks between "imported" ones, in case pa

[2018-04-29 10:25] calebrate commented on #8514
For the example Parity output:
[code]

The output of
[code]
is:
[code]

[2018-04-29 17:02] diogogmt opened #8515 "All peers dropping and getting stuck at: Can't connect to address"
Starting parity with the following args:
[code]

* First time I started the node it managed to get up to block `865655`
* Second time after rebooting it went to block `1635330` and then got stuck in the error message listed below
* Third time after rebooting had to fully resync the snapshot (why? it was already downloaded previously) and then only went to block `1663958` and got stuck again

Some

[2018-04-29 20:49] kryvel commented on #7531
Have the same issue.
Two parity instances, two virtual servers.
One instance works fine, second one drops peers.
  version Parity/v1.10.2-beta-f4ae813fd-20180423/x86_64-linux-gnu/rustc1.25.0

[2018-04-30 06:07] tomusdrw commented on #8394
@yihuang let me get this straight, are you running `parity list accounts` on the host machine, but the RPC-queries parity is inside docker container?

If so it will print completely different results.

[2018-04-30 06:11] tomusdrw commented on #8487
@chebykin you can try out version 1.11 it has a new queue implementation that should be significantly faster than the previous one.

If that still doesn't work for you parsing logs will be the best option (with 1.11 the log structure is a bit different).
In general you are only interested in `txqueue` logs, `external_tx` and `own_tx` will be duplicated with `txqueue`, but alllow you to distinguish

[2018-04-30 07:03] Toadria commented on #8510
Also, I've just noticed that in the total supply it shows 35 million whilst Axpire has 350 million. Can someone help to rectify?

[2018-04-30 07:47] Tbaut commented on #8508
The default port for Jsonrpc API is 8546. Please make sure to forward this port and to connect to it with setProvider. Some more info on the best way to access to a parity instance in a docker: https://wiki.parity.io/Docker.html

[2018-04-30 07:47] #8508 closed

[2018-04-30 07:49] c0deright commented on #7531
![Peers connected](https://i.imgur.com/QiWkAs5.png)

This is getting out of hand. Less than 48 hours after removing nodes.json, network key and restarting parity peer count begins to decrease slowly. After another 24 hours peer count dropped to *3* and doesn't recover.

Again my question to the community: how is anybody running parity nodes in production with this issue? Is this only effecting a s

[2018-04-30 08:08] Tbaut commented on #8510
Your token has 8 decimals. So 20,000x10^-8 or 0.0002 is the same. The way Etherscan shows the tokens is misleading IMO.

[2018-04-30 08:08] #8510 closed

[2018-04-30 08:30] Tbaut commented on #8515
If you have only synced to let's say block number 1M and then rebooting your node, if parity finds a snapshot with a state more recent than what you have, you might download it to get to the top of the chain quicker.
To skip the validation of ancient blocks (this is unsecure but could be wished if you just mine) run with the flag `--no-ancien-blocks`.
Note that the time it requires to sync the who

[2018-04-30 08:30] #8515 closed

[2018-04-30 08:50] Tbaut commented on #8513
Since the docker is crashing and not parity itself, it probably is a docker issue and you should have a look at [the docker logs](https://docs.docker.com/engine/reference/commandline/logs/) to understand what is happening.

[2018-04-30 08:50] #8513 closed

[2018-04-30 08:52] ahiatsevich opened #8516 "Thread 'IO Worker #1' panicked at 'arithmetic operation overflow' if RewardContract is activated"
_Before filing a new issue, please **provide the following information**._

I'm running:

- **Which Parity version?**: v1.12.0-unstable-44c68221a-2018042
- **Which operating system?**: MacOS
- **How installed?**: from source, `master` branch
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: private local network: bootnode + 3 parity nodes
- **Did you try to restart

[2018-04-30 08:55] Tbaut commented on #8512
PIRL isn't supported out of the box but you can still use parity to sync with it if it is based on ethereum. Have a look at our [Wiki about chain specifications](https://wiki.parity.io/Chain-specification) to learn how to build it.

[2018-04-30 08:55] #8512 closed

[2018-04-30 09:07] Tbaut commented on #8502
Would you mind providing the signed transaction that causes this issue?

[2018-04-30 09:26] andresilva commented on #7531
@c0deright could you try running with `--no-discovery`? I was able to easily replicate this using the `nodes.json` you provided. Looking at the logs it seems the node is only finding peers from other chains:

[code]

[2018-04-30 09:38] Tbaut commented on #8506
What is the difference with https://github.com/paritytech/parity/issues/6503 ?

[2018-04-30 09:53] AyushyaChitransh commented on #8506
@Tbaut I faced  #6503 on my private chain and that was due to incorrect genesis file. Also, user in that issue told that

Following things are different in this issue:

 - Private chain is not being used, instead, this happened on kovan
 - The problem does not seem to concern with the genesis file.
 - This occured on the latest version of parity.
 - This issue is resolved using `--no-warp`

Theref

[2018-04-30 10:55] folsen commented on #7748
Closing as it's probably an issue with the memory on the client machine.

[2018-04-30 10:55] #7748 closed

[2018-04-30 10:58] andresilva commented on #7748
@unixfox Thanks a lot for running the memtest! 👍

For anyone else still having this issue please run some hardware tests, I posted some general tips on a duplicate issue:

[2018-04-30 11:52] c0deright commented on #7531
@andresilva Running test machine with

[code]

and removed nodes.json and network key. Will report back in a couple of days.

[2018-04-30 13:58] pattyoli commented on #6541
A friend of mine tried to use the Parity Wallet to recover his Tierion tokens (ERC20) after an ICO, but it didn’t work. He created a new account. After that, He successfully entered the Contract details (incl. contact address) and added the Tierion contract. After following all the required steps, he clicked QUERY. Unfortunately, the result was that he couldn’t see any amount regarding the contrac

[2018-04-30 14:01] pattyoli opened #8518 "#Problems to access tokens - Parity Wallet"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
A friend of mine tried to use the Parity Wallet to recover his Tierion tokens (ERC20) after an ICO, but it didn’t work. He created a new account. After that, He successfully entered the Contra

[2018-04-30 14:07] Tbaut commented on #6541
crosspost @pattyoli, let's sync on gitter

[2018-04-30 14:46] sorpaas commented on #8503
This issue looks really weird. I'm not even able to deploy the contract using dev chain spec.

[2018-04-30 15:38] fulldecent opened #8519 "Remove potentially redundant log column for light client"
This column is duplicated with this column. The end result is wasted screen space. And in my case unnecessary.

![screen shot 2018-04-30 at 5 37 12 pm](https://user-images.githubusercontent.com/382183/39436042-34430ba4-4c9d-11e8-96ca-1170e739c290.png)

Remove the latter to save space.

[2018-04-30 15:42] Tbaut commented on #7321
Stale issue. Closing it as we move to the new repo. Feel free to reopen it if needed.

[2018-04-30 15:42] #7321 closed

[2018-04-30 17:38] tomusdrw commented on #8519
With full node, the second column shows the highest block number seen in the network.

You seem to be running light node, perhaps it indeed makes sense to remove that for light client.

[2018-04-30 19:54] xenoexclusive commented on #7531
Not working for me. Am having the exact same genesis hash mismatch errors. All with --no-discovery flag.

Somehow, even when reverting to older binaries, my parity client in the last 2-3 weeks has gone from 100% perfect and not missing a beat to completely unusable 1-2 hours after launch.

[2018-04-30 22:10] x3medima17 commented on #4400
@tomusdrw but what if I want to set-up keys path from a specific directory, without adding chain name?
Thanks.

[2018-05-01 03:28] mason commented on #8265
I confirm that I also have the same issue. I think what happened was that I was trying to transfer a token and ran out of gas. then I tried to do another transaction (eth or token transfer) and they all got stuck.

--no-persistent-txqueue fixed it for me

[2018-05-01 07:03] jigneshiFour opened #8521 "Deployed Contract doesnt work if i use Contract linking feature"
My conract use link contract feature in which i deploy subcontract first and than while deploying main contract i am providing subcontract address.
but it stop working when i call trasaction that i define in subcontract from main contract.
this process works using truffle migration script. but not in parity tech

following is my tools and system details:

Parity version: v1.8.0-unstable-36d046f3c-

[2018-05-01 08:47] sorpaas commented on #8503
@Pzixel I suspect this is indeed an UI problem. It seems to be a bug related to different behaviors in browsers.

* In Firefox, I'm able to reproduce your problem. The issue seems that Parity UI didn't pass the correct gas value to RPC, and thus execution failed.
* In Chrome, everything works as expected. The contracts you provided deploy without problem, and `getRequestsByFilter` shows `true`.
*

[2018-05-01 08:55] dvdplm commented on #8033
I'll have a stab at the `decode` changes. :)

[2018-05-01 10:47] Pzixel commented on #8503
@sorpaas I doubt it's UI bug because I was deploying through Chrome which should be ok corresponding to you.

I'l try to publish it via API and brb with results.

[2018-05-01 11:47] jamesray1 commented on #7748
The test passed with no errors.

![img_20180501_214523](https://user-images.githubusercontent.com/16969914/39471893-508d467e-4d35-11e8-8ef4-99c9016299d9.jpg)

![img_20180501_213230](https://user-images.githubusercontent.com/16969914/39471924-6d29dbbc-4d35-11e8-8ec5-f77f76236af7.jpg)

[2018-05-01 12:16] #8488 closed

[2018-05-01 12:38] Pzixel commented on #8503
Okay, here we are:

[code]

[2018-05-01 13:07] x3medima17 opened #8523 "failed to join thread: Resource deadlock avoided (os error 35)', libstd/sys/unix/thread.rs:178"
_Before filing a new issue, please **provide the following information**._

I am trying to run a private Ethereum network using docker containers.
You can find all files that I am using here: https://gist.github.com/x3medima17/102c69b83ce4e931c824463d89abc087

When I run `deploy.sh` sometimes I get this error:
[code]
As I was asked, I report it here

[2018-05-01 13:49] sorpaas commented on #8503
@Pzixel Would it be possible to get the raw HTTP requests sent in Nethereum? It might help to debug this issue.

And is there a way for you to set a custom gas value when calling `getRequestsByFilter`, as in [here](https://wiki.parity.io/JSONRPC-eth-module#eth_call)?

Also what network did you connect in the above test?

[2018-05-01 14:33] Pzixel commented on #8503
@sorpaas I can try to install fiddler, however, it may be cumbersome because some apps don't use proxy (which Fiddler hook is) and thus I can't get its traffic. It's solvable, but takes some time.

What's about providing more gas - yes, it's possible, but I don't think it's an issue so I'd like to provide HTTP requests first.

[2018-05-01 16:30] ntulsy opened #8525 "Unable to deploy contract when constructor invokes functions from another contract"
I'm running:

I ran into a weird issue with parity dev chain. To illustrate the problem, I have two simple contracts below:

Foo.sol:
[code]
Bar.sol:
[code]

I compiled the two contracts with truffle and used web3 to deploy them. Deployment of Foo works fine. I added one address as admin and used that address to deploy Bar, but it is giving error “The contract code couldn't be stored, please check

[2018-05-01 19:08] rstormsf opened #8526 "Question: Reward call"
https://github.com/paritytech/parity/blob/d1f5284fe665665a98f36ad73606c4a72c25f3d3/rpc/src/v1/types/trace.rs#L367-L378

what is Reward call ?

I assume it's used when `suicide` was executed  to refund eth to sender?
https://kovan.etherscan.io/vmtrace?txhash=0x5a645a1e1fa892f90b3bcce48a270855dfc19cda46e3b3f81948463eae04d936&type=parity

example of suicide with `refundAddress`

[2018-05-01 23:59] jamesray1 commented on #7748
![img_20180502_095615](https://user-images.githubusercontent.com/16969914/39499111-97295daa-4d9b-11e8-9bf7-2eec41d52c5a.jpg)

The laptop also tested fine. The CPU config was round robin, switch CPU after each test.

[2018-05-02 00:39] jamesray1 commented on #7748
`smartctl -t long /dev/sdb4` tested fine on the desktop:

![screenshot from 2018-05-02 10-37-33](https://user-images.githubusercontent.com/16969914/39500013-f75fbe54-4df4-11e8-977d-2b2a49817590.png)

[2018-05-02 01:45] yihuang commented on #8394
@tomusdrw No, they are running in same machine, by supervisor I mean http://supervisord.org, just a process manager, not a container.

[2018-05-02 02:58] linzhoushi2017 commented on #8506
I have the same problem. I want to know how you handled it. Can you help me?

[2018-05-02 03:06] AyushyaChitransh commented on #8506
@linzhoushi2017 as I said, I used `--no-warp` and it synced correctly without errors.

[2018-05-02 05:44] gengxuelei commented on #7281
centos6 install c++11，gcc11：
https://edwards.sdsu.edu/research/c11-on-centos-6/

Install the devo repo:
[code]
Once you have installed that, do an upgrade on yum:
[code]
Next, install C++11:
[code]
Finally, use the software collections to **enable it in the current shell**:
[code]
Check the version again:
[code]
When you log out, you will be using the default system version.

[2018-05-02 06:59] tomusdrw commented on #8394
@yihuang Do you run it by the same users? You are showing us content of `/root/.local` and then supervisor config showing `/home/huangyi`. Please run a following test on the same machine with the same user:
[code]

[2018-05-02 07:28] Tbaut commented on #8521
You are using an older version of Parity, please upgrade.
If the problem persists, giving us your code would help us dig deeper.

[2018-05-02 07:40] #7994 closed

[2018-05-02 08:42] c0deright commented on #7531
@andresilva without discovery peer count never get's close to 25 but instead stays around 9 peers. Will report back in a week if it keeps stable at ~9 peers or decreases over time, too.

[2018-05-02 08:59] Tbaut commented on #8523
Thanks for reporting. This issue is a duplicate from https://github.com/paritytech/parity/issues/8088 Please follow it.

[2018-05-02 08:59] #8523 closed

[2018-05-02 09:13] Tbaut commented on #8526
I believe these are trace for uncle and mining rewards, I don't think it's visible anywhere yet as suggested in https://github.com/paritytech/parity/issues/4858

[2018-05-02 09:13] #8526 closed

[2018-05-02 10:08] chriseth commented on #8503
Since this (or similar) problems are reported to work with older Solidity versions, my guess would be that the VM is not configured to support returndatasize, but this is just a guess.

[2018-05-02 10:26] Pzixel commented on #8503
@cdetrio No, I checked it with `1.7.x` or `1.6.x` and it had the same behavior.

[2018-05-02 10:56] andresilva commented on #7748
@jamesray1 Thanks for taking the time to run these tests, it seems no hardware errors have been found. Are you getting DB corruption issues constantly or is this something that only happened once for you?

[2018-05-02 12:37] andresilva commented on #7531
@c0deright The issue (at least in your case) seems to be useless peers (peers from other chains, offline, etc.) taking over the node table and basically we just waste time trying to connect to bad peers. I guess this wasn't an issue before because there weren't that many Ethereum-based public chains. I'm working on a fix for this.

[2018-05-02 12:40] c0deright commented on #7531
Thanks. Happy to test/debug.

[2018-05-02 13:28] chriseth commented on #8503
@Pzixel I'm talking about solidity (which should be 0.4.18 / 0.4.23)

[2018-05-02 13:45] Pzixel commented on #8503
@chriseth ah, I see.

Well, I didn't try older compilers, that's true, because I use some features from 21+

[2018-05-02 13:46] jurglic commented on #8445
I got into same issue, multiple times running `v1.10.2-beta` on MacOS. Mostly while syncing, as well as after sync.

[2018-05-02 13:55] c0deright commented on #7531
@xenoexclusive

Can't confirm. With discovery set to false I don't have any genesis mismatch warnings in log.txt at all. Log file size is only some MegaBytes compared to GigaBytes with discovery set to true.

[2018-05-02 13:59] gituser commented on #7531
I have the same issue and with latest stable version `v1.9.7` as well.

The only workaround is to stop parity, remove nodes.json and start it again.

Nice that someone finally opened an issue on github with graphs and detailed debug info. Good work, @c0deright !

[2018-05-02 14:01] c0deright commented on #7531
@gituser try the `--no-discovery` option @andresilva pointed out.

[2018-05-02 14:11] Tbaut commented on #8445
Duplicates https://github.com/paritytech/parity/issues/5968

[2018-05-02 14:11] #8445 closed

[2018-05-02 14:13] rphmeier commented on #8503
@Pzixel have you activated the byzantium changes like `returndatasize` in your chain spec?

[2018-05-02 14:31] Pzixel commented on #8503
@rphmeier I'm not sure what it is. I'm using playground with following [docker-compose.yml](https://github.com/orbita-center/parity-poa-playground/blob/master/docker-compose.yml).

[2018-05-02 14:40] sorpaas commented on #8503
@Pzixel Can you post `/parity/config/authority.toml` file?

[2018-05-02 14:43] sorpaas commented on #8503
@Pzixel Yeah it looks like byzantium changes are not enabled in the chain config: https://github.com/orbita-center/parity-poa-playground/blob/master/parity/config/chain.json

Try adding those in the `"params"` section:

[code]

And then recreate the chain.

[2018-05-02 14:45] Pzixel commented on #8503
@sorpaas okay, i'm going to check it tomorrow. Thank you for reply!

[2018-05-02 14:47] #6520 closed

[2018-05-02 15:13] lopezm94 commented on #7124
@5chdn could you elaborate a bit on `ethash-specific Byzantium-params` or point where I can find this information?

Thanks!

[2018-05-02 15:16] axelchalon opened #8529 "Parity injects inject.js to Dapps at invalid position in HTML"
Parity adds `<script src="/parity-utils/inject.js"></script>` to the HTML of dapps served on port 8545. However, this is added right at the beginning of the response, before `<!DOCTYPE html>`, and as such the doctype is ignored and the layout breaks (thanks @amaurymartiny for figuring it out!)

[code]

https://github.com/paritytech/parity/blob/eec7364760e760c798e744bba7c05f2ae9dd700a/dapps/src/pag

[2018-05-02 20:23] cachvico opened #8531 "Parity taking days to (fail to) sync on warp-barrier"
I'm running:

Parity taking days to (fail to) sync despite multiple restarts as follows:

1) Initial run started with canonical `parity` - cancelled after a couple of days, deleted `~/.local/share/io.parity.ethereum`

2) `parity --mode active --tracing off --pruning fast --db-compaction ssd --cache-size 1024` - again cancelled, deleted parity dir and then:

3) `parity --db-compaction ssd --cache-s

[2018-05-02 20:30] cachvico commented on #8531
Having deleted the data dir and restarted, I'm going to copy here the first page of output. Perhaps there will be something obviously wrong here (to those in the know):

[code]

[2018-05-02 21:31] afiorenza opened #8532 "WARN client Stage 5 block verification failed for #200049"
I have 5 nodes running https://stats.bitsign.io/ with the following configuration:
Genesis:

toml

and when i try to sync a local node i got the following error:

**Note**
We change the genesis.json including the EIP transitions parameters near the block which is failing.

Thanks.

[2018-05-03 00:44] past2017 opened #8533 "I want only my application node can access my parity node by RPC"
_Before filing a new issue, please **provide the following information**._

My application server and my parity node are all deployed on public network, and I want only my application server can access my parity node by RPC
Is there some way to realize it? By now i do it by iptables
thank you very much

[2018-05-03 01:58] anton44eg opened #8534 "eth_getLogs does not return historical logs"
I have synced from scratch node with `--pruning archive` but I can't query logs prior block 4886072.

`curl 'http://127.0.0.1:8545' -H 'Content-Type: application/json' -H 'Accept: application/json' --data-binary '{"id":1,"jsonrpc":"2.0","params":[{"toBlock":"0x4a8e37","address":"0xa74476443119a942de498590fe1f2454d7d4ac0d"}],"method":"eth_getLogs"}' --compressed | grep -o logIndex | wc -l`

returns

[2018-05-03 05:41] jamesray1 commented on #7748
Yeah sorry, forgot to mention, it only happened once.

[2018-05-03 06:53] christianascone opened #8535 "InvalidDifficulty with Parity node syncing with Geth nodes"
I have a private chain with following Geth genesis file:
[code]

and Parity
[code]

My parity node starts syncing, but it stops at block 81 due to *InvalidDifficulty*
( `Error: Block(InvalidDifficulty(Mismatch { expected: 136058, found: 135992 }))` ).
I tried changing `difficultyBoundDivisor` in Parity configuration and after many attempts it started syncing again but stopped at block 105, so I ca

[2018-05-03 07:31] debris commented on #8239
yes, it can!

[2018-05-03 07:31] #8239 closed

[2018-05-03 08:36] josepajay commented on #8485
I got this sync issue resolved by running node publicly in aws.

[2018-05-03 09:27] Pzixel commented on #8503
P.S. Give me an advice which repo should I use?

https://github.com/paritytech/parity-ui redirects me to https://github.com/ethcore/parity which redirects me to https://github.com/paritytech/parity .

[2018-05-03 10:15] Tbaut commented on #8503
@Pzixel it's in https://github.com/Parity-JS/shell/

[2018-05-03 11:33] dipenchawlaoodles commented on #7488
Hi @5chdn I am not able to sync my peers as i have tried all the steps you told.. but it is showing 0 peers

[2018-05-03 11:55] vincentserpoul commented on #8525
The contract deployment works on go-ethereum, so it must be a parity issue.

[2018-05-03 12:05] Tbaut commented on #8531
cc: @dvdplm, @ngotchac and  @tomusdrw

[2018-05-03 12:13] Tbaut commented on #8532
If I understand correctly, you changed the genesis and added:
[code]
And then it fails. The blockTransition needs to be in the future. Setting the blockTransition to 0 means there is no transition, the whole chain should always support the EIPs, which is obviously not the case.

Set these transitions for some future block and it should work as expected.

[2018-05-03 13:35] Tbaut commented on #8533
To restrict access to a specific domain, you can use the flags :
[code]

for a specific IP :
[code]

However, it is asvised to not open the apis and use a ssh tunnel instead as described here: https://wiki.parity.io/Wallet-Remote-Access.html

[2018-05-03 13:35] #8533 closed

[2018-05-03 13:36] Tbaut commented on #8533
cc @ddorgan  if you have anything to add.

[2018-05-03 13:40] ddorgan commented on #8533
@past2017 I think the instructions that @Tbaut sent on are very accurate for your case.

If you're doing something complex could you describe how the  infrastructure is setup please. E.g. how many VM's, what networks they're connected to etc...

In the easiest case your application would be on the same system as parity and you could just allow jsonrpc or websocket access to 127.0.01, if they're on

[2018-05-03 13:44] ddorgan commented on #8535
@christianascone have you tried running https://github.com/keorn/parity-spec on the geth file? Does the output file for parity look different to what you're using right now?

[2018-05-03 13:46] ddorgan commented on #8349
Any update on this? Or else the issue will be closed.

[2018-05-03 14:12] christianascone commented on #8535
Hi @ddorgan . Thanks for you reply.
Yeah, I tried it and Parity genesis I posted has been generated with that tool.
It seems the problem is related to ByzantiumBlock which is ignored by https://github.com/keorn/parity-spec.
My node is syncing now (I solved 30 minutes ago). I'm just waiting to see if it is working then I'll post the solution (I hope everything goes well).

[2018-05-03 14:24] Tbaut commented on #8534
Please try using `fromBlock` parameter too.

[2018-05-03 17:18] tomusdrw opened #8540 "Killing via Ctrl+C hangs on latest master"
Happens randomly.

From @Tbaut

[2018-05-03 19:52] anton44eg commented on #8534
Same result

[2018-05-03 20:33] noobcola commented on #8397
I'm having this same issue as well.

geth genesis.json
[code]

parity genesis file
[code]

[2018-05-04 01:06] trappist commented on #7212
I just fixed possibly the same problem (same symptoms) on ubuntu by installing the xdg-utils package. `strace -e -fF trace=file` showed `xdg-open` as the missing file.

[2018-05-04 02:35] maxidev commented on #8532
@Tbaut weird thing is that with transitions on 0x0 some nodes work and some others don't.

[2018-05-04 05:08] maxidev commented on #4324
Is there 'rollback' subcommand working on any version?
Regards.

[2018-05-04 05:28] maxidev commented on #7746
+1 same here.

[2018-05-04 07:34] ethernomad opened #8542 "CORS Max-Age is not set resulting in 2 requests for each command on Firefox"
Parity/v1.9.7-stable-7919629-20180423/x86_64-linux-gnu/rustc1.25.0
connected to MIX Blockchain

Currently every RPC command is 2 requests from Firefox. First the OPTIONS pre-flight and then the actual request. By setting CORS Max-Age to 10 minutes the number of requests can be cut in half. For high latency connections to the node, this has significant performance improvements.

Geth had the exact

[2018-05-04 07:47] nlandeker commented on #7531
@Tbaut

Deploying a clean parity 1.9.7 (latest stable) on Ubuntu LTS 16.04 I have stumbled upon the following findings:

1. it works much better with `--no-discovery` option.
2. it looses peers on exactly 1 hour and then recovers them in matter of minutes.
3. it is not able to connect to minimum number of peers (set to 50)
4. no special events happen at that time, no network problems, nothing spec

[2018-05-04 07:47] past2017 commented on #8533
@ddorgan sorry, i did not describe this issue clearly
for example, i have 2 application server named A and B and a parity node named C, they are all VMs
A have local network IP 192.168.0.11
B have local netowrk IP 192.168.0.12
C have local network IP 192.168.0.13
and maybe the local network also have some other vm named D who have ip like 192.168.0.14, i cannot control it
**I want to only A and B

[2018-05-04 07:51] kevinaquick commented on #8467
@jackieWhn I am afraid we didn't - we were already in the process of updating our Ubuntu machines to 16, so basically moved our testing to one that was already Ubuntu 16 and upgraded parity on that machine - and now will get all our machines upgraded to ubuntu 16 as soon as we are able to.

[2018-05-04 08:08] #8222 closed

[2018-05-04 08:37] Tbaut commented on #8542
Thanks! PR always welcome :)

[2018-05-04 08:41] Tbaut commented on #8532
All nodes should be updated with the new genesis file, with a block in the futures.

[2018-05-04 08:41] #8532 closed

[2018-05-04 09:04] Tbaut commented on #8534
There simply isn't any log for the specified address...
Check with :
`curl --data '{"method":"eth_getLogs","params":[{"fromBlock":"0x4a8e37","toBlock":"0x4a8e37","address":"0xd7f21117ea7f137e12d89b16adbf683f71d72c9c"}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545
`

Result:
[code]

[2018-05-04 09:04] #8534 closed

[2018-05-04 09:07] lastperson commented on #8534
@Tbaut your statement is not true. Check etherscan for example https://etherscan.io/address/0xd7f21117ea7f137e12d89b16adbf683f71d72c9c#events

[2018-05-04 09:26] tomusdrw commented on #8542
Neat! Requires implementation in https://github.com/paritytech/jsonrpc

[2018-05-04 09:30] Tbaut commented on #8534
I did, the OP is about `0xa74476443119a942de498590fe1f2454d7d4ac0d` so if you
- visit https://etherscan.io/address/0xa74476443119a942de498590fe1f2454d7d4ac0d#events
-  search for the block number `4886071`
- you simply get nothing because there are no events for this block :

![image](https://user-images.githubusercontent.com/33178835/39621198-2cb5001a-4f8e-11e8-99a9-30409d8bb80d.png)

[2018-05-04 11:00] lastperson commented on #8534
@Tbaut try searching for the events *before* that block, because that is what "toBlock" parameter should do, return all events before the mentioned block. In tx receipt example the log is in the block `2607801` which is before `4886071` and as such should be included in the response.
![image](https://user-images.githubusercontent.com/6198746/39624859-1198230c-4fc5-11e8-95fc-670d3a59170a.png)

[2018-05-04 11:52] ravensorb commented on #7212
Good find -- the hard part is, those are part of the Desktop system (X windows based) correct?  If so, that doesn't go over to well on a server deployment :)

[2018-05-04 12:12] Tbaut commented on #8534
I don't see where your problem is. Just use `fromBlock` as explained above, it works.
[code]
Result
[code]

[2018-05-04 13:30] ddorgan commented on #8533
@past2017 I think there are two possible solutions here....

1. Use --jsonrpc-cors to specify to domain name which it will accept connections from. This for example could be appserver.domain.com ... and then have the IP's 192.168.0.11 and 192.168.0.12 resolve to this domain name.

or

2. So with this version it wouldn't be as secure on the parity layer but would make up for this in ip filtering. U

[2018-05-04 19:35] trappist commented on #7212
It does sound like that kind of thing, and this was on a headless ubuntu box (which may have X headers and libs installed).

[2018-05-04 20:07] gnunicorn commented on #6339
So the underlying ethcore/stratum doesn't show that problem in the test, but considering that each line has a new ID I suspect that something _reacts_ to the event and as a result triggers a second notify with the same parameters. While I suppose it is fine to assume that listeners aren't changing the behavior if called twice with the same parameters, it is an unnecessary call...

Let's see if we

[2018-05-05 03:28] gituser commented on #5968
I had the same bug with `parity v1.9.6`:
[code]

[2018-05-05 08:13] chapsuk opened #8547 "Incorrect parity account command output"
For master branch (commit 66c0638f3bddd262e4de19eb565413f82fda08fb) `account new|list` commands contains double `0x`, expected single:

[code]

Reproduced in docker versions:
* nightly
* v1.11.0-ci0

Not reproduced in:
* latest
* v1.10.3-ci0

[code]

[2018-05-05 08:37] neocarmack opened #8548 "restore my account from the 12 words mnemonic phrase, but get new account with new address."
_Before filing a new issue, please **provide the following information**._

 I'm running:

 **Which Parity version?**: 1.10.0
 **Which operating system?**:Linux，Ubuntu
 **How installed?**: via installer
 **Are you fully synchronized?**: no， not yet
 **Which network are you connected to?**: ethereum
 **Did you try to restart the node?**: yes，many times

I‘m trying to restore my account from the 12

[2018-05-05 13:07] kcanty commented on #7689
Can the range of parity versions with this issue be defined or is it all up to and including 1.9.5?  Probably a side issue but any thought around adding an eth_getBlockTransactionReceipts rpc call? we may do this.

[2018-05-05 15:56] MarkusTeufelberger opened #8549 "No config file entry for --no-ancient-blocks switch"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I would expect to have a `ancient_nodes = true` setting or similar in the default config file.

From what I can find, this setting is only available as a command line switch. This clashes wit

[2018-05-06 10:12] JSterling8 commented on #8531
Same here. Seems to start with warp sync, then switches to full sync.

My system specs are as follows:

CPU: Intel® Core™ i7-7500U CPU @ 2.70GHz × 4
GPU: N/A
RAM: 16GB
HD: 512GB
Internet: 50 Mb/s down, 20 Mb/s up, fiber

Output:

[code]

[2018-05-06 10:47] JSterling8 commented on #8531
CTRL+C'ing then rerunning with the same command appears to be working now. At snapshot 365 of 1337 at present. Will update if it completes or switches back to full syncing again.

[2018-05-06 12:28] JSterling8 commented on #8531
Just got a full sync. Total time about 2.5 hours. @cachvico - Instead of deleting `~/.local/share/io.parity.ethereum` and restarting, simply CTRL+C then run again with the same params. I used: `parity --db-compaction ssd --cache-size 1024 --warp-barrier 5520000`

[2018-05-06 22:35] outofgas commented on #8521
Hello,

I'm not sure if this is exactly the mentioned problem but it sounds similiar to mine:

    pragma solidity 0.4.23;

    contract Foo {
        uint public x = 42;
    }

    contract Bar {
        constructor(Foo foo) public {
            require(foo.x() == 42);
        }
    }

The contract `Bar` cannot be deployed if compiled with version 0.4.22 or greater.
If choosing compiler version u

[2018-05-06 22:54] outofgas commented on #8525
I can reproduce this issue on Parity v1.8.6 and v1.10.2 on an Ubuntu VM:

    contract Foo {
        uint public x = 42;
    }

    contract Bar {
        constructor(Foo foo) public {
            require(foo.x() == 42);
        }
    }

Contract `Bar` cannot not be deployed if compiled with 0.4.22 or greater; versions up to 0.4.21 are working.

[2018-05-07 01:17] stnbu opened #8550 "Delete `user_defaults` when doing `db kill`"
_Before filing a new issue, please **provide the following information**._

[code]

[code]

compiled rustc (1.25.dev) --> compiled cargo (0.26) --> compiled parity (git:e30839e85ff74cd5eb087ef19a48d70afd1fd285)

Yes. Completely new setup using `--config dev`

built-in dev config

n/a. The problem appears immediately after start

_Your issue description goes here below. Try to include **actual** vs

[2018-05-07 01:17] p-s-dev opened #8551 "osx "Start at Logon" unable to disable"
Version: Parity/v1.10.2-beta-f4ae813-20180423/x86_64-macos/rustc1.25.0
OS: macOS
installed: PKG release
fully synchronized?: no
Did you try to restart the node?: yes

Once "Start at Logon" is turned on, it can not be toggled-off.

expected:
 - The "Start at Logon" open can be enabled and disabled

[2018-05-07 05:36] usd-yamazaki opened #8552 "Blooms recomputation in case of a fork is very slow"
### Node list
- AU1: Sealing node
- AU2: Sealing node
- OB1: eth_sendRawTransaction execution node (not seal)
- OB2: ordinary node (not seal)

I am sending externally created transactions to private PoA chain with eth_sendRawTransaction.
Send 6400 transactions from one account at a time and wait for synchronization.
Each transaction uses 1649 bytes and uses approximately 1.15 M gas.
If a temporary

[2018-05-07 05:44] NoviceF commented on #7748
I having the same issue (Corruption: block checksum mismatch).

![memory1](https://user-images.githubusercontent.com/2798499/39686228-80a97130-51d0-11e8-85c2-0f28fdfaccef.jpg)

![memory2](https://user-images.githubusercontent.com/2798499/39686235-88c99fa2-51d0-11e8-9b30-404c47b50f2e.jpg)

![hdd1](https://user-images.githubusercontent.com/2798499/39686324-16316c3a-51d1-11e8-811c-1c9577702fc4.png)

[2018-05-07 06:14] tomusdrw commented on #8552
Might have something to do either with bloom re-orgs or transaction re-importing. The latter should be fixed with the new transaction pool implementation present in 1.11.
Do the transactions produce many log statements/emit many events?

[2018-05-07 08:16] dvdplm opened #8553 "Decoding headers can fail"
In ethcore, encoder.rs does not handle decoding errors. Make `Header::decode`, `Block::decode` return `Result` and fix the resulting problems in consuming code.

- [x] `Header::decode` returns `Result` (PR #8527)
- [x] `Block::decode` returns `Result`

[2018-05-07 08:42] Tbaut commented on #8549
I guess you are right, can't find it [in the code](https://github.com/paritytech/parity/blob/1cd93e4cebeeb7b14e02b4e82bc0d4f73ed713d9/parity/cli/mod.rs#L425)
PR welcome :)

[2018-05-07 08:50] MarkusTeufelberger commented on #8549
Sure, but apparently there's a bot that checks some kind of CLA? I can't even see the CLA without logging in on your website and it is not documented in any obvious place (README or CONTRIBUTING file) what this CLA is supposed to be or entail.

Is it really that "welcome"? :-/

[2018-05-07 08:54] tomusdrw commented on #8549
The entry is not there for security reasons, running without `ancient_blocks` is not something that you should do. IMHO it's better not to make it easier than it is right now.

Please consider a light client if you can't store the entire blockchain.

[2018-05-07 08:55] sorpaas commented on #8550
Try `parity --config dev export state foo.txt`.

[2018-05-07 08:56] EighteenZi opened #8554 "An question about Snapshot & AccountDB."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

When creating AccountDB,  'account.**address_hash**(address)' is always used in Mangled mode, so the AccountDB store the hash of account address.

When taking Snapshot in 'chunk_state', **acc

[2018-05-07 09:35] Tbaut commented on #8551
Should be logged in the UI repo instead: https://github.com/parity-js/shell/issues/88

[2018-05-07 09:35] #8551 closed

[2018-05-07 09:43] MarkusTeufelberger commented on #8549
In that case please document this and/or move respective CLI options that can't be set in the config file to a dedicated section in the `--help` overview.

[2018-05-07 10:41] Tbaut commented on #8547
confirmed in `Parity/v1.12.0-unstable-b100945-20180502/x86_64-linux-gnu/rustc1.25.0`

[2018-05-07 10:58] #8514 closed

[2018-05-07 12:15] Tbaut commented on #8548
Then the mnemonic you entered is not the one given originally. You should double check, make sure  the spelling is good, white space, the words [here is the supported list](https://raw.githubusercontent.com/paritytech/wordlist/master/res/wordlist.txt)

You are not synced as the top of the chain is currently around 5.xM blocks. I believe that the warp sync failed. Here is what I advise you to do:

[2018-05-07 13:32] 5chdn commented on #4324
@maxidev this was never done.

[2018-05-07 13:32] #8549 closed

[2018-05-07 13:34] MarkusTeufelberger commented on #8549
That's one way to do it...

Thanks.

[2018-05-07 13:49] 5chdn commented on #7124
Sorry, for ethash, you need to activate:

    "eip161dTransition": "0x0",
    "eip649Reward": "0x29A2241AF62C0000",
    "eip100bTransition": "0x0",
    "eip649Transition": "0x0"

Where eip649Reward is your desired block reward. For more information about the parameters, look up the according EIPs here: https://github.com/ethereum/EIPs/tree/master/EIPS

[2018-05-07 15:15] yuelipeng opened #8559 "failed to run custom build command for `parity-ui-old-dev v1.9.0"
_Before filing a new issue, please **provide the following information**._

cargo build --no-default-features --features ui

Compiling ethcore v1.9.0 (file:///Users/yuelipeng/parity/ethcore)
error: failed to run custom build command for `parity-ui-old-dev v1.9.0 (file:///Users/yuelipeng/parity/js-old)`
process didn't exit successfully: `/Users/yuelipeng/parity/target/debug/build/parity-ui-old-dev-

[2018-05-07 15:52] jacobrosenthal opened #8560 "light client: subscribe over websockets doesnt send new events"
Not sure if its related to the light client or websocket. If I use a recent from block I get some events, if I use latest I get nothing, and either way I never get any new events (as I can open a second script attached to infura's websocket)

[code]

[code]

[code]

_Before filing a new issue, please **provide the following information**._

a7a46f425369fd662042cb4a1c9ffc301b3b5b75
and "web3": "^1.

[2018-05-07 16:37] Tbaut commented on #8560
Could you reproduce with a full node (you can try quickly syncing on kovan)?

[2018-05-07 17:00] lopezm94 commented on #7124
Thanks!

[2018-05-07 18:36] jacobrosenthal commented on #8560
Im traveling atm so Ill try to get kovan going, any recommendations on a chatty contract to watch?

[2018-05-07 20:48] jacobrosenthal commented on #8560
OK got synced and found a random contract on etherscan. New events are coming through fine on kovan full node with any filter options, so maybe the light client code?

[2018-05-07 21:16] cachvico commented on #8531
I have restarted first with `parity` (accidentally) then `parity --warp-barrier 5520000`. I've updated my log (in the second post in this thread) with the complete output appended.

[2018-05-07 21:27] Trystaero opened #8561 "Pirl support using Parity?"
Which Parity version?: Parity 1.9.7-stable
Which operating system?: Windows
How installed?: via installer
Are you fully synchronized?: no
Which network are you connected to?: PIRL (Would like to anyway)
Did you try to restart the node?: n/a

After reviewing the https://wiki.parity.io/Chain-specification page and Google'ing a bit, it looks like Parity does not support PIRL.  I would like to add PIR

[2018-05-07 21:36] JSterling8 commented on #8531
@cachvico - Does it get further for you now after the restart? Mine didn't complete the first time, but completed on the first restart.

[2018-05-08 02:38] zabirauf opened #8562 "JSON RPC service seems to die when under load and not recover"
_Before filing a new issue, please **provide the following information**._

I have a script running that is making a lot (in order of 1000s) of RPC calls to localhost parity node.

**Expected behavior**
I expect the Parity node to be reliable and have it return response or wait till it can i.e. queue the request

**Actual behavior**
The JSON RPC service seems to die and does not recover unless par

[2018-05-08 03:25] cachvico commented on #8531
@JSterling8 not really - still only up to #4638589

I've updated my log at https://github.com/paritytech/parity/issues/8531#issuecomment-386110738

[2018-05-08 04:09] usd-yamazaki commented on #8552
Since 20 events are created per transaction, a total of 128,000 events are created.
Does event creation slow down synchronization?

[2018-05-08 05:35] tomusdrw commented on #8562
This is a limitation of your system. You can modify number of open files using `ulimit -n 8000`

[2018-05-08 05:35] #8562 closed

[2018-05-08 05:38] tomusdrw commented on #8552
@usd-yamazaki Indeed it might be an issue, Parity is maintaining a tree of event bloom filters (mipmap) to allow efficient log querying.
In case of the re-org the bloom filters need to be recomputed, most likely that's suboptimal, since the forks should not happen often.

[2018-05-08 05:48] nlandeker commented on #7531
Update to my previous comment, after cleaning nodes.json node worked with 30-40 peers (minimum set to 50) for 3 days. After that it dropped to 4 and stayed there. Restart did not help. Only deleting the nodes.json helped to wake it up.

This is really problematic.

[2018-05-08 06:05] BenjaminSchaaf opened #8563 "getBalance incorrect output for dead contract."
I'm running:

- **Version**: Parity/v1.9.7-unstable-7919629-20180423/x86_64-linux-gnu/rustc1.25.0
- **How installed?**: snap
- **Are you fully synchronized?**: no
- **Which network are you connected to?**: ethereum
- **Did you try to restart the node?**: no
- **Which API are you using**: RPC using Web3js

In block `1605122`, the contract `0x1f78775c8260df084f9a0e5fbdf06487b875ac4d` suicides with t

[2018-05-08 07:45] c0deright commented on #7531
I can confirm that with `--no-discovery` peer count is stable, however peer count is only at 7-10 peers. It doesn't drop near zero like parity does with discovery enabled. So this is a workaround I can live with in production.

Since https://github.com/paritytech/parity/pull/8541 has been merged future releases of parity should contain a fix for our issue.

[2018-05-08 07:51] TinyCalf commented on #8265
Problem solved in my situation. I am using web3 1.0. When I set "from" to a lowercase address, it will always meet ""In queue: Future" issue and will never be broadcast. Solved by setting "from" to a eip55 address like "0x8663Ee83fc7a13d324d3BAC3005bBe3C4b7B3043"

[2018-05-08 08:01] bittylicious commented on #8265
@TinyCalf I'm not a Parity dev but I would be surprised if this is the problem.

I strongly think it's nonce related, as usually when I get a transaction stuck in this state, if I edit/re-sign any transaction coming from the same account, it usually pushes the others though (this can only be done easily via Parity 0.8). To me, this implies that a nonce is getting skipped, and re-signing fills in t

[2018-05-08 08:14] TinyCalf commented on #8265
@bittylicious  I am sorry that I get the nonce of a wrong address to get a wrong conclusion, after i get the correct nonce, it succeed.

[2018-05-08 08:46] Tbaut commented on #8561
Thanks for logging your issue.

Parity remains quite open in terms of chain support but PIRL hasn't been considered as far as I could see. Nevertheless, we welcome PR and getting a working genesis file is a must for the team to add it to default chains.

The specifications you linked is the most up to date doc we have. I recommend having a look at other [ethereum based chains](https://github.com/p

[2018-05-08 08:46] #8561 closed

[2018-05-08 08:58] Leonard-Henriquez opened #8564 "Trace_filter queries never get a response"
I am trying to verify transactions on the Ethereum main network through the command `trace_filter`.
Problem : `trace_filter` doesn't give me any response.

Configuration :
[code]

When I tried with the example given in the documentation at [](https://wiki.parity.io/JSONRPC-trace-module), I got the expected response.
Command : `curl --data '{"method":"trace_filter","params":[{"fromBlock":"0x0","toB

[2018-05-08 09:30] Tbaut commented on #8560
Thanks for narrowing down the scope. Can you edit your first post and title to reflect the fact that it's in the light client?

[2018-05-08 09:48] rphmeier opened #8565 "Warp Sync: Alternative snapshot formats"
We want to investigate new snapshot formats which are better for the following properties:
  - Generation of (partial) snapshots on nodes
  - Reusability of chunks between snapshots to make finding them easier
  - Trustworthiness of data

Snapshot chunks are currently divided into two categories:
  - state chunks encode the entire account state of the blockchain at some block
  - security chunks p

[2018-05-08 09:50] EighteenZi opened #8566 "Does the 'SnapShot' really works??"
In my option, the Account Trie stores the Address-Account pair, and the AccountDB uses the hash of address to create the Mangled key.
`trie.insert(address, &account.rlp())?;`  state/mod.rs: 798L
`let accountdb = self.factories.accountdb.readonly(self.db.as_hashdb(), account.address_hash(a));` state/mod.rs: 964L

But when i read the code of snapshot, i became confused.
Looking the code in 'chunk_st

[2018-05-08 09:51] rphmeier commented on #8566
well, yes, it clearly works. note that the ethereum state trie uses address hashes as its key.

[2018-05-08 09:51] #8566 closed

[2018-05-08 09:51] Tbaut commented on #8563
Can you confirm that you a running a node with pruning archive?
Could you try calling this RPC directly?
`curl --data '{"method":"eth_getBalance","params":["0x1f78775c8260df084f9a0e5fbdf06487b875ac4d","0x187E02"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545`

I do not have any archive node handy but doing a getBalance with the latest block seems to have the s

[2018-05-08 09:51] rphmeier commented on #8554
duplicate

[2018-05-08 09:51] #8554 closed

[2018-05-08 09:55] BenjaminSchaaf commented on #8563
I'm running the node with everything enabled, ie: `parity --tracing on --fat-db on --pruning archive`.

[code]

[2018-05-08 09:57] BenjaminSchaaf commented on #8563
I'm also getting the same result with `latest`:
[code]

[2018-05-08 10:09] EighteenZi commented on #8566
Oh i see, i read the code of 'TrieDB', and ethereum uses the 'SecTrieDB'.
Sorry for the trouble.
Thanks.

[2018-05-08 10:57] lopezm94 opened #8567 "Improve docs on registrar + fee whitelist (service transactions) smart contracts set up"
Hello, I'm trying to set up a white listing contract for users to have 0 gas transactions as depicted [here](https://wiki.parity.io/Permissioning#gas-price). For the first step, which is to have a registrar contract on the chain, I've got some doubts about the set up:

- Is registrar specification valid for Aura consensus? (In the [docs](https://wiki.parity.io/Proof-of-Work-Chains.html) the regist

[2018-05-08 11:04] Tbaut commented on #8554
https://github.com/paritytech/parity/issues/8566

[2018-05-08 11:49] Tbaut commented on #8563
@BenjaminSchaaf the kill function got called at and some more 0.0000001 Ether have been sent at block 3994185. This is what Etherscan is showing as well. I think the question is more: why is the balance 0 if the kill function was called with the same address and should have the reward fund as balance. Am I right?

[2018-05-08 11:51] BenjaminSchaaf commented on #8563
Yep, that's what I'm trying to ask. Sorry if the reference to etherscan was confusing. The `stateDiff` clearly shows the balance hasn't changed, but `getBalance` returns `0`.

[2018-05-08 12:03] sorpaas commented on #8563
@BenjaminSchaaf @Tbaut This is the expected behavior for EVM. EVM kills accounts during transaction finalization. So if an account SUICIDE to itself, the fund will be transferred to it, and then killed, effectively reducing the total supply a little bit, but considerably harmless. The additional 0.00..01 Ether is unrelated and is injected in a future block.

However, the tracing log part indeed lo

[2018-05-08 12:08] sorpaas commented on #8563
It looks like our tracer just ignore state changes during transaction finalization. Guess that's the expected behavior right now, but we may want to consider to change it in the future.

[2018-05-08 12:17] BenjaminSchaaf commented on #8563
That's interesting: I was under the impression the supply of ether couldn't ever go down. Oh well, thanks for the help.

[2018-05-08 12:33] rphmeier commented on #8565
@ngotchac and I had a conversation about more predictable state chunk starting points and came to this proposal:

We get rid of duplicate-code optimizations where contract code shared between accounts is only present once (this may not affect size significantly for a few reasons).

We follow the same chunk-splitting algorithm as normal, but also enforce that groups of chunks only cover certain ran

[2018-05-08 12:49] tomusdrw commented on #8565
That will only work given uniform distribution of accounts, seems that it could be easily attacked by creating a bunch of addresses within that particular chunk range.
That said, if we can handle over-sized chunks without any significant performance implications we should be fine.

[2018-05-08 12:50] rphmeier commented on #8565
another algorithm for account-counting: do 1024 random walks down the account trie. build `branching_factors: [u8; 32]` where the i'th entry represents the number of children observed at branches with depth i.

calculate approximate number of accounts with:
[code]

[2018-05-08 13:52] Tbaut commented on #8564
Can you point me to where it is written?

The documentation's example is
`curl --data '{"method":"trace_filter","params":[{"fromBlock":"0x2ed0c4","toBlock":"0x2ed128","toAddress":["0x8bbB73BCB5d553B5A556358d27625323Fd781D37"]}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545`

where `fromBlock` is close to `toBlock`. Any query on a large part of the chain is exp

[2018-05-08 15:45] zabirauf opened #8571 "Syncing has gone dead slow around blocks 239****"
_Before filing a new issue, please **provide the following information**._

I have parity running as systemd service. I'm trying to sync the whole mainnet blockchain. My setting includes no warp and pruning is archive. Around 239**** block the syncing has gone dead slow. I previously ran into this issue and removed `nodes.json` along with running `parity db kill` to restart the syncing again but s

[2018-05-08 16:01] cachvico commented on #8531
And we're off! Fingers crossed

[2018-05-08 16:03] ntulsy commented on #8525
@outofgas Thank you for verifying!

[2018-05-08 16:40] JesusTheHun commented on #8571
I have the same issue. They will probably say it's not a bug, that is what they always do. Just pick another ethereum node software...

[2018-05-08 16:46] cachvico commented on #8531
I deleted `~/.local/share/io.parity.ethereum`, built from source using `~/.cargo/bin/cargo build --release` on branch `ng-warp-resume`, and invoked `./target/release/parity  --db-compaction ssd --cache-size 1024 --warp-barrier 5520000`.

Observe that I still seemed to need to hit Ctrl-C and restart, in order for sync from snapshots to work:

[code]

[2018-05-08 16:49] cachvico commented on #8531
In fact it seems to choose randomly between snapshot sync and regular sync when restarting after ctrl-c

[2018-05-08 16:59] ngotchac commented on #8531
@cachvico Actually the logs saying "Syncing #0" is quite misleading because it could be that the node is just waiting for valid peers to start the snapshot. So the issue here is that it can't find one.
I could see two reasons :
1. The peer is blocking the connection or not answering the requests
2. There are already too many other peers connected (and that's something we could/should fix)

Just to

[2018-05-08 17:00] ngotchac commented on #8531
(The issue on the mainnet is that currently there seem to be only one peer serving snapshots)

[2018-05-08 17:03] cachvico commented on #8531
Obviously the `$ ./target/release/parity  --db-compaction ssd --cache-size 1024 --warp-barrier 5520000 -l sync,warp,snapshot,network=trace` command generates gobs of logs - how many minutes-worth would you like me to send?

[2018-05-08 17:07] ngotchac commented on #8531
Yeah sure, just the first minute should be fine.

[2018-05-08 17:13] cachvico commented on #8531
Here we go:

[output.txt](https://github.com/paritytech/parity/files/1984952/output.txt)

[2018-05-08 17:50] ngotchac commented on #8531
So reading from the logs, it seems that the only peer that could provide a snapshot (`0x1d1f7...`) closes the TCP connection as soon as a Handshake is initialized (tried 3 times in your run).
I'm not sure why that is, it could be that it already has too many open connections (cc @arkpar ?).
A potential solution would be to delete your `~/.local/share/io.parity.ethereum/chains/ethereum/network` fol

[2018-05-08 17:52] Tbaut commented on #8571
As you can read [here](https://ethereum.stackexchange.com/questions/9883/why-is-my-node-synchronization-stuck-extremely-slow-at-block-2-306-843) or [there](https://theethereum.wiki/w/index.php/Ethereum_Wallet_Syncing_Problems) as well as in our [wiki](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#sync-is-stuck-around-block-2421000-or-2675000): These blocks ar

[2018-05-08 17:52] #8571 closed

[2018-05-08 18:05] cachvico commented on #8531
Can I just check that there aren't any LAN port-forward requirements?

[2018-05-08 19:03] cachvico commented on #8531
I deleted my network folder and restarted with `--no-discover`.

I've been trying to sync with Parity for 10 days now.. should I restart *without* `--warp-barrier` if it has a greater chance of success?

[2018-05-08 19:40] robdoesstuff opened #8572 "Max HTTP connection count is not configurable, defaults to 250"
As of latest Parity (1.10.3) I don't see a way to set the maximum number of open HTTP connections. Recently WS connection max was added, which is great, but it doesn't appear to apply to HTTP unless I misread the code somehow. Our back-end services are distributed and need more than 250 possible connections, even when pooling a few parity nodes together. I suspect others will also have this need.

[2018-05-08 20:36] tomusdrw commented on #8572
Can you elaborate on what issues you are running into currently (logs, error messages, etc)? HTTP max connections is not configurable, cause I'm pretty confident there is no hard limit in the server itself.

[2018-05-08 22:50] lbrep commented on #7850
I have one node with geth version 1.8, in a private chain. It has two different blocks with height 63 but different hashes. The current height is at 656, but you can query both blocks by eth.getBlock("0xade3223....") and similiarly the other one. and you will see that blockNumber is same for both but hash is different.
How is this possible? You are welcome to access and diagnose the chain.

[2018-05-08 23:31] robdoesstuff commented on #8572
Here are some results when I run wrk to load test a parity RPC command. I have no issues until I get to around 240 connections, then wrk reports socket errors.

  16 threads and 230 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   169.83ms   16.87ms 633.89ms   99.75%
    Req/Sec    77.78     44.76   141.00     52.21%
  3136 requests in 3.08s, 0.97MB read
  Non-2xx or 3

[2018-05-08 23:35] robdoesstuff commented on #8572
To test quickly, install wrk (https://github.com/wg/wrk), run this command `./wrk -t8 -c500 -d3s -s ./jsonrpc.lua <host>:8545` with the following as jsonrpc.lua:

[code]

[2018-05-09 02:03] rmulhol commented on #4172
What's the rationale for not including the block body as a type in the spec?

[2018-05-09 02:57] cachvico commented on #8531
Restarted without warp, in branch `ng-warp-resume`, and after 8 hours, finally synced!

\o/

[2018-05-09 05:51] tomusdrw commented on #8572
[code]

Definitely not a server property, since as you can see I have different results on my machine. If you inspect `dmesg|tail` after running wrk you might find something like this:
[code]

[2018-05-09 06:47] #4842 closed

[2018-05-09 06:48] #7765 closed

[2018-05-09 06:57] tomaka opened #8574 "Make it possible to control logging in parity-clib"
Right now the logs are always printed on stdout with no way of retrieving them or filtering them.

[2018-05-09 06:58] tomaka opened #8575 "Make it possible to customize the database and network backends in parity-clib"
So that you can use your own custom implementation.

Important especially for the database for Android/iOS/emscripten.

[2018-05-09 06:59] tomaka opened #8576 "Improve error return codes in parity-clib"
Right now it's very binary: success or failure.
Unfortunately there are too many different errors in parity to consider having numeric return values, but there should at least be a way to get the precise error message.

[2018-05-09 07:00] tomaka opened #8577 "Make it possible to perform RPC requests without a socket through parity-clib"
Right now you have to connect through IPC or HTTP.
This doesn't really make sense if we're using Parity as a library.

[2018-05-09 08:03] tomusdrw commented on #8577
Perhaps we could use directly the RPC namespaces and types to do direct calls?

[2018-05-09 08:29] tomaka commented on #8577
@tomusdrw Yeah I glanced at it and this is what I was going for.

[2018-05-09 09:14] ascjones commented on #8033
All done!

[2018-05-09 09:14] #8033 closed

[2018-05-09 09:48] 5chdn commented on #2285
Yes, please move this to the Parity UI repository.

[2018-05-09 09:48] #2285 closed

[2018-05-09 09:49] 5chdn commented on #6030
Should be tracked in Parity-Contracts

https://github.com/paritytech/contracts/issues/110

[2018-05-09 09:49] #6030 closed

[2018-05-09 10:11] tzapu commented on #7113
just wanted to mention here that the latest builds crash if you specify `--tx-queue-size 18446744073709551615` with `Thread 'main' panicked at 'capacity overflow', libcore/option.rs:917`

[2018-05-09 10:16] 5chdn commented on #7113
Try `4294967295`.

[2018-05-09 10:28] tzapu commented on #7113
yeah, works with that, thought it was useful here as people use this thread as recommendation (i suppose, i do anyway)

[2018-05-09 10:40] lopezm94 commented on #8567
Could you guys give me a hint on how to proceed with the registrar set up? I don't know how much priority this issue has but I would like to solve it soon if possible.

[2018-05-09 11:16] debris commented on #7787
@tomusdrw can this be related to the new transaction pool?

[2018-05-09 11:30] debris commented on #8321
Agreed with @tomusdrw. `eth_getTransactionReceipt` is standardised and it's the same for all ethereum implementations. If you want to change it, please propose appropriate changes either to [ethereum wiki](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt) or create an EIP for that.

[2018-05-09 11:30] #8321 closed

[2018-05-09 11:38] debris commented on #6410
I can't reproduce this issue. It's quite old and there were a lot of changes since then. I'm closing it, but please reopen if it still occurs

[2018-05-09 11:38] #6410 closed

[2018-05-09 11:52] PavelBass opened #8583 "DB corrupted: Corruption: block checksum mismatch"
I'm running:
- Parity version: 1.10.3
- operating system: `uname -a: Linux pbu16 4.13.0-39-generic #44~16.04.1-Ubuntu SMP Thu Apr 5 16:43:10 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
- installed: via `parity_1.10.3_ubuntu_amd64.deb`
- Are you fully synchronized: yes
- Which network are you connected to: ethereum

Logs:
[code]

- **Did you try to restart the node?**: yes. Logs:
[code]

[2018-05-09 11:58] past2017 commented on #8533
@ddorgan got it, thank you very much

[2018-05-09 12:04] 5chdn commented on #8190
https://github.com/paritytech/parity/releases/tag/v1.11.0

[2018-05-09 12:04] #8190 closed

[2018-05-09 12:06] past2017 commented on #8533
@ddorgan sorry to disturb you again, there is another issue i want to get your help
I have a ETH pool with 1.6 TH hash and use parity as mine wallet
But it is always high uncle rate with about 30% and 0.5% orphan block rate
I run my parity as
**parity --no-ui --no-serve-light --no-ws --max-peers 100 --reserved-peers=static_node_list/static-nodes-eth-parity.json --port 30302 --jsonrpc-port 8588 --n

[2018-05-09 12:09] tomusdrw commented on #7787
1.9 does not have the new queue. perhaps an issue with `using_queue` crate?
Does the client import new blocks, maybe it just doesn't have enough peers?

[2018-05-09 12:34] sorpaas commented on #6030
Migrated to https://github.com/parity-contracts/token-registry/issues/3

[2018-05-09 12:59] c0deright commented on #7531
1.11.0-beta has been released today, which contains this fix: https://github.com/paritytech/parity/blob/master/CHANGELOG.md

Please test this release and report back if it fixes this issue for you.

[2018-05-09 13:07] saulbein commented on #6410
I haven't encountered this again, so it doesn't seem to be relevant anymore.

[2018-05-09 13:51] debris commented on #2582
please reopen if still applicable

[2018-05-09 13:51] #2582 closed

[2018-05-09 13:58] #6972 closed

[2018-05-09 14:00] debris commented on #3248
guess I can close it since js has been moved out of parity repo

[2018-05-09 14:00] #3248 closed

[2018-05-09 14:04] debris commented on #5985
I'm closing this one, cause it is a guideline, not an actual issue.

[2018-05-09 14:04] #5985 closed

[2018-05-09 14:07] debris commented on #5972
I'm closing this one, cause it is a guideline, not an actual issue.

[2018-05-09 14:07] #5972 closed

[2018-05-09 14:10] Tbaut commented on #8533
@past2017 this issue is close and your question isn't related. Please post a new issue.

[2018-05-09 15:06] Tbaut commented on #8583
Thanks, it's a duplicate, please follow this issue: https://github.com/paritytech/parity/issues/7748

[2018-05-09 15:06] #8583 closed

[2018-05-09 15:13] Tbaut commented on #8321
@debris the [ethereum wiki ](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt) does specify the transaction hash as a result of `eth_getTransactionReceipt` :)

[2018-05-09 15:56] ngotchac commented on #8531
Daily update : we actually found 2 bugs you might have run into:
1. The remote node would disconnect while your node was fetching the snapshot manifest, so your node would be stuck indefinitely. This is now fixed in `ng-warp-resume` #8544
2. The remote node would disconnect every 3.5 seconds. The fix is here #8555 or you can fix it manually by running `--no-serve-light`

[2018-05-09 17:55] kumavis commented on #4172
@rmulhol All values returned by IPFS lookups must match their hash. Block hashes do not reference the block bodies, just the block headers. Block bodies aren't referenced by hash anywhere, or we could add another IPLD type for block-bodies.

IPFS is working on their selector spec, which would allow you to make queries over multiple hash-referenced objects. e.g. Get block by hash and all transactio

[2018-05-09 19:57] tomusdrw commented on #8321
@Tbaut We do return transaction hash, the issue is mentions other transaction fields such as: from, to, gasPrice, timestamp (most likely block timestamp)

[2018-05-09 21:28] #3565 closed

[2018-05-09 21:33] 5chdn commented on #8531
The 2nd one should not be on 1.10 branch.

[2018-05-09 21:47] Tbaut commented on #8321
Need a coffee :)

[2018-05-09 23:08] zabirauf commented on #8571
@Tbaut Is there a way it can be made faster by increasing any particular system resources?

[2018-05-10 00:23] Emperornero opened #8592 "Make an option to host snapshots only and make those default for warp-barrier flagged nodes."
Running with

[code]

Cannot get snapshot going even after DB Kill.  It simply defaults to normal sync.

I think I've tried around 20 times now.

Can we make a node that only serves snapshots?  Warp has been amazingly hit or miss as of lately and it's like a lottery actually connecting to a client that can serve snapshots.  This seems like it would be a huge quality of life improvement and I would

[2018-05-10 01:09] past2017 opened #8593 "How to reduce uncle/orphan block rate of my eth pool"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**environment information:**
I have a eth pool with 1.6 TH , there are 1 miner wallet node and 10 sync wallet node
The miner wallet node is located in China
The 10 sync wallet node is located

[2018-05-10 04:15] robdoesstuff commented on #8572
tomusdrw, thank you for digging into it and attempting to reproduce. I did some googling and found that with wrk at least, my ulimit on OSX is what limits how many connections I can have open, so after making a few sysctl changes and a ulimit change, I was able to test Parity up to 16000 connections. While there probably is a reason to limit the max number of connections, it appears as though it's