[2018-06-30 11:04] axelchalon commented on #8405
parity-dapps-glue removed in https://github.com/paritytech/parity/pull/9017

[2018-06-30 11:04] #8405 closed

[2018-06-30 11:52] pluswave commented on #9019
This is on a clound server (Aliyun). I run parity as a api service for local wallet.

[2018-06-30 16:20] Tbaut commented on #9019
Then there is probably nothing else you can do other than `parity db kill` and resync.

[2018-07-01 19:11] uluhonolulu commented on #8143
@dmitrysenkovich have you made it work?

[2018-07-01 21:06] hansik377 commented on #6477
hi,
I had installed Parity browser and have used it to acquire  .eth domain names, there are some .eth on it as well.
Now the Parity browser is disabled... could you please tell me how I can access my funds and domain names? Should I first create a .eth wallet on another platform? I have very little knowledge.
I do have a copy of my ethereum folder and the 12 words seed.
Thanks!

[2018-07-01 21:44] 5chdn commented on #6477
You can use your keys on https://mycrypto.com or https://myetherwallet.com

As far as I know they do support ENS.

[2018-07-01 21:53] hansik377 commented on #6477
thanks. I should choose "Unlock your Mnemonic Phrase" correct?
I understand it's not a standard way to use this in the browser, but for once...

But that doesnt work when I paste my 12 words seeds. I am being asked an optional password, but no idea which one.

Sorry if I sound stupid, I have no experience.

[2018-07-02 09:22] dvdplm opened #9022 "Refactor: alleviate painful AsHashDB impls with macro (or magic)"
In the course of [Make HashDB generic](https://github.com/paritytech/parity/pull/8739) changes were made to the `HashDB` trait that made it impossible to keep the generic impls of `AsHashDB` we had before. To work around this concrete impls for `AsHashDB` were added in many places. Find a more elegant way to deal with the issue, e.g. by adding a `impl_as_hash_db!` macro.

See the [`NOTE`](https://

[2018-07-02 09:41] Tbaut commented on #6477
The password asked is to secure your account. As you pointed out, it's optional. You can chose any password, that you will need to type in any time you want to make a transaction or extract your keys (to use it on MyCrypto for instance)

[2018-07-02 09:48] stone212 opened #9023 "UTC Sending warning alert CloseNotify"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

A possibly incorrect user bug report made me to check a long-running Parity node with open ports 30303 and 30304/udp   I restarted the node and looked at Parity output and it looked very heal

[2018-07-02 11:10] hansik377 commented on #6477
I don't know what I'm doing wrong, but after giving in the 12 words... there is no OK button or NEXT button or so... does that mean there is an issue? The words are separated by one space.

[2018-07-02 12:32] c0deright commented on #8618
Memory Usage of 1.11.4 so far (144 hours/6 days)
![parity](https://user-images.githubusercontent.com/20477825/42163839-58d0b62c-7e04-11e8-8ffa-24cd4a23bcb6.png)

Files used to generate the graph:

* [log_parity_mem_usage.sh](https://github.com/paritytech/parity/files/2155174/log_parity_mem_usage.sh.txt)
* [memory.log](https://github.com/paritytech/parity/files/2155184/memory.log)
* [parity.plot](h

[2018-07-02 12:43] tzapu commented on #8907
seems we are getting the same on 2288034

[2018-07-02 13:07] Tbaut commented on #6477
@hansik377 please create a new issue in the Parity UI repo: https://github.com/parity-js/shell/issues/new mentioning your setup (what OS, Parity version, Parity UI version etc) for us to provide the best possible support.

[2018-07-02 13:39] Tbaut commented on #9023
The message "Sending warning alert CloseNotify" is actually an indication that peers got disconnected. It is in this case, it is, therefore, the consequence, not the cause of disconnections (There is BTW a PR to hide it as irrelevant for the end user https://github.com/paritytech/parity/pull/9025).

This problem of peer disconnection should be solved in [1.11](https://github.com/paritytech/parity/

[2018-07-02 13:39] #9023 closed

[2018-07-02 13:58] dmitrysenkovich commented on #8143
@uluhonolulu hey man, no, I haven't. Eventually I switched to using Hyperledger Fabric as I didn't want to mine eth, I just wanted to create a dapp on top of a private network

[2018-07-02 14:20] tzapu commented on #8907
with the following settings
[code]
using `latest` docker image and running only one `trace_replayBlockTransactions` it did the trace

[2018-07-02 14:36] 5chdn commented on #8604
Hey, @oogetyboogety, thanks for your pull request. Unfortunately, I have to inform you that I have to reject your contributions in #8947 as it does not meet any minimum quality standards to be included in our repository. Furthermore, I could not find anyone giving you additional assistance from our team.

[2018-07-02 14:37] Tbaut commented on #8907
@tzapu Thanks for the feedback. Please upgrade to the latest release as it contains a security fix (since v1.11.3)

@bem7 could you please try with the proposed configuration?

[2018-07-02 15:13] famfamfam opened #9028 "The Parity doesn't send new transactions to network"
_Before filing a new issue, please **provide the following information**._

1) Im have tx in pending queue with low fee, tx not confirmed. When I send new tx via json-rpc api, parity return txid, but I can't see this transaction in etherscan, balance does not locked, I can create new full balance transaction and parity will return txid, but etherscan doesn't display it too...
2) Can I change gasPr

[2018-07-02 15:18] ordian commented on #8825
I have a memory profile of 11GB peak:
![memory_peak](https://user-images.githubusercontent.com/4211399/42172306-4b3f3d38-7e24-11e8-8fee-6a1678ddb95f.png)
![memory_peak_profile](https://user-images.githubusercontent.com/4211399/42172311-4d85aa3c-7e24-11e8-9a07-22fc1b748b7f.png)

[2018-07-02 16:12] ceresstation commented on #7642
Hey @gnunicorn! Just wanted to bump this once more, did you get a chance to connect with @vs77bb for payout?

[2018-07-02 16:13] alexcos20 commented on #9028
Same here:
Which Parity version?: Parity/v1.11.3-beta-a66e36b-20180605/x86_64-linux-gnu/rustc1.26.1
Which operating system?: Ubuntu 16.04
How installed?: via https://d1h4xl4cr1h0mo.cloudfront.net/v1.11.3/x86_64-unknown-linux-gnu/parity_1.11.3_ubuntu_amd64.deb
Are you fully synchronized?: yes
Which network are you connected to?: ropsten
Did you try to restart the node?: yes
Did you try to delete da

[2018-07-02 18:11] S3bb1 commented on #8994
Hi, tried it again ... fresh chain

Spec: https://gist.github.com/S3bb1/e4d2e4689edd18b314b13ee64fc120f4
ValidatorContract: https://gist.github.com/S3bb1/cbfbc206b5a1d218a88b80ab144d7fd3

First now with a list (to exclude issues with the contract at block 0) ...
 - Deploy the validatorset contract
 - add it to the spec at block 20
 - Now make transactions with account 0x4a6723fc5a926fa150baeaf04bf

[2018-07-02 18:16] andresilva commented on #8994
The contract you're using is an older version and it's deprecated. Could you test this one instead: https://github.com/parity-contracts/kovan-validator-set
You want to use the `OwnedSet` from there.

[2018-07-02 18:59] S3bb1 commented on #8994
Same result with this contract. The Contract isn't finalized when created so i can't add new validators too

[2018-07-02 19:03] andresilva commented on #8994
Are both validators online and sealing blocks? You need signatures from >50% validators to finalize a block, which when using 2 validators means that both validators need to sign.

[2018-07-02 19:24] danuker commented on #8976
Seems to work on Kovan for me as well.

[2018-07-02 19:29] S3bb1 commented on #8994
This was the trick!

Now it works like a charm!

I get this log message now which never appears before and after 1 additional block the validatorset is finalized.

many thanks and kudos to your patience!

[2018-07-02 19:29] andresilva commented on #8994
Cheers 👍

[2018-07-02 19:29] #8994 closed

[2018-07-02 20:55] alexcos20 commented on #9028
after 2 restarts, everything is fine now..

i will try to duplicate...

[2018-07-02 22:37] ferrouswheel commented on #8675
Not sure if it's relevant or helps investigation, but I ended up getting the same error:

`ValueError: {'code': -32015, 'message': 'Transaction execution error.', 'data': 'Internal("Requires higher than upper limit of 79921890")'}`

when using the wrong identity to call a smart contract.

As I understand it, for the contract I was working with, this would cause a VM exception. Perhaps this is a mi

[2018-07-03 08:25] ankitarora121 opened #9030 "Inconsistent API Health Check responses"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**Expected Behavior:**
'API Health' should be a solid and reliable indicator of node health. I would expect a more accurate representation of the state of the node, so that I can kick in necessary mitigation procedures.

**Actual Behavior:**
Here are 3 calls to `/api

[2018-07-03 08:36] tzapu commented on #8907
@Tbaut thanks, forgot to mention, the last test was made with the `latest` docker image

[2018-07-03 09:21] Tbaut commented on #8923
@palevoo do you have a WIP PR to submit?

[2018-07-03 09:33] Tbaut commented on #8996
Must be a duplicate: https://github.com/paritytech/parity/issues/8918

[2018-07-03 09:34] #8996 closed

[2018-07-03 09:35] Tbaut commented on #8918
I could reproduce and trace. Any RPC such as getBalance don't get answered.
Here is a
- [gist](https://gist.github.com/Tbaut/c184a0918d9a2775cfea683e5baa5f58) of 1min of logs when it happens with `-l pip,rpc,network`
- [gist](https://gist.github.com/Tbaut/a14020c4da174326a645a4822a9ac5be) of the same 1min of logs when it happens with `network` **filtered out** for readability
- [gist](https://gist

[2018-07-03 09:47] Tbaut opened #9031 "[Light client] NotEnoughBaseGas for RPC without specifying any Gas."
Edit:
I could reproduce with Parity Ethereum `--light` v2.1.3 this call on Kovan and mainner:
[code]

The node with `rpc` logging:
[code]

----------------------
I get the error `NotEnoughBaseGas` when calling:
[code]

a workaround is to specify the gas, but the default one should be higher.

[2018-07-03 09:52] rphmeier commented on #8918
@niklasad1 this is correct

[2018-07-03 13:57] trustfarm-dev opened #9033 "Proposal on DB Storage, tune rocksdb options for store multiple SSD/HDD."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**actual**
Blockheights 58986xxx , FULL Archive mode sync :  Storage is 1.24TB in 2TB SSD.
It is increasing very stiff. when 2TB SSD will be full soon.

**suggestion**
For solve this kind of

[2018-07-03 14:13] trustfarm-dev opened #9034 "Proposal, distributed snapshotdb making."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**actual**
When node try to warp sync , snapshotdb will be fetched by anonymous peer node, which have it generated snapshotdb.

In snapshotdb holder node, will have a very little node. so, if

[2018-07-03 14:30] roninkaizen commented on #8974
https://gist.github.com/roninkaizen/c8afc10d3f949c287899ec175f077bbc
same here,
reductions brought just a little "cure"-
only the continous addition of reserved peers with the parity-ui
changed it into productive again

[2018-07-03 14:33] Njcrypto commented on #8974
This was fixed for me on 1.11.5. Considerably better performance both in peering and chain reorgs.

[2018-07-03 14:55] niklasad1 commented on #8976
@danuker @Tbaut

I can reproduce this on the  `main net` what I have discovered is that the merkle proof fails because your `account` is not in the `state db` and then it will just return an empty `account`!

This gets then propagated via the network to the `rpc helper` which in turn pattern match on the account to get the nonce. Thus, if the nonce is `missing` it will be regarded as an invalid bl

[2018-07-03 15:03] niklasad1 commented on #8976
@rphmeier
Is it safe to provide a default value for the `nonce` in this context, i.e. either https://github.com/paritytech/parity/blob/master/ethcore/light/src/on_demand/request.rs#L830-#L840 or https://github.com/paritytech/parity/blob/master/rpc/src/v1/helpers/light_fetch.rs#L212-#L239?

I'm not sure of the implication of the other `RPCs`!

[2018-07-03 15:20] Tbaut commented on #9030
Can you precise why it is inconsistent in your case and what would be a "more accurate representation of the state" ?

[2018-07-03 15:32] Tbaut commented on #9033
@andresilva @debris @folsen what's your opinion on this?

[2018-07-03 15:38] InsidiousMind opened #9035 "Add 'Step' to VM?"
I am currently using the Parity EVM for a project of mine, and was wondering what the community thought of adding some extra functionality to the EVM.

Specifically, I think it would be useful to add a 'step' function to the vm::Vm trait (and consequently to the Interpreter struct that implements the trait) allowing a program to only execute one instruction at a time. Adding a public-facing functi

[2018-07-03 15:57] rphmeier commented on #8976
The right place to change it would be in `light_fetch`, where we should use the default account nonce when we get the `None` variant of the returned `Option<BasicAccount>`.

[2018-07-03 18:58] theictgirl opened #9037 "Parity not connecting to node anymore"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Parity is not starting up properly anymore. Gets stuck at the connecting to node.
See here: [https://cl.ly/silG](https://cl.ly/silG)

I have directories all over the place:
Parity Technologie

[2018-07-04 01:29] shihao-guo opened #9039 "trace_transaction not producing the right gas used"
When I run the `trace_transaction` module through RPC in parity like this
`curl --data '{"method":"trace_transaction","params":["0x9040e7355b4b9237c114c748702285bc79260463dd72042a23a14c2d751d172f"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545`

I get the following result
[code]

The `gas` field in `action` is 69000, while `gasUsed` in `result` section is 0. I

[2018-07-04 03:12] btaro001234567 commented on #6372
Hay!!!      I suffered an accident. Out of hospital

[2018-07-04 04:49] gituser opened #9040 "Nonce increment when transaction failed"
**Summary**
When you try to send a transaction with gas less than 21000 or (if you specify amount of the transaction bigger than your actual address balance) it fails, but nonce still increments, thus all future transactions will be forever in the queue, until someone fills the nonce gap between that last successful transaction and the one in the queue or restarts the parity.

**Here is how to rep

[2018-07-04 06:50] palevoo commented on #8923
@Tbaut sincere apologies, the task completely fell under my radar, have now stopped working on gitcoin issue, as I wouldn't be able to do it in near future, again apologies for causing the delay :(
and thanks for the given opportunity

[2018-07-04 07:02] folsen commented on #9033
It's something we've talked about, but almost definitely won't be that easy. Worth investigating though.

[2018-07-04 07:16] boumanb opened #9041 "Parity through snap causing AppArmor violations"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

The node is running fine but is causing AppArmor violations according to my syslog.

[code]

I found out about this AppArmor violation while investigating why my VPS sometimes reboots all of

[2018-07-04 09:23] Tbaut commented on #9037
It is important (and maybe not stated clearly enough in the wiki) to distinguish the parity Ethereum client, also called the node and Parity UI, which is the User interface that will connect to the node.

What the message shows is that the user interface cannot find the node. To understand why the node is not running, or not running properly we need to launch it with the command line.

Please make

[2018-07-04 09:35] theictgirl commented on #9037
Thank you for your clear reply. You are right, I did not realise that the node and the UI were two separate things. Anyway..
This is what is printed when run from the command line:

C:\Program Files\Parity Technologies\Parity>parity
2018-07-04 11:34:00  Starting Parity/v1.10.7-stable-ba79cad67-20180619/x86_64-windows-msvc/rustc1.26.1
2018-07-04 11:34:00  Keys path C:\Users\marja_000\AppData\Roamin

[2018-07-04 09:52] Tbaut commented on #9037
I edited your message to ass ` ``` ` and improve readability.
It looks like your database is corrupted. There is not much you can do except deleting the database and resync.

To do this, please launch `parity.exe db kill`. Then relaunch Parity UI (first please make sure you have the latest version of Parity UI: https://github.com/parity-js/shell/releases/tag/v0.2.7)

Note that it seems that your k

[2018-07-04 10:16] Tbaut commented on #9039
This is indeed the expected behavior. Any transaction will use min 21000 gas. Depending on the input of the Tx and the function called (for smart contract calls), gas will be consumed.
You submitted 90000, used 21000 for the Tx (implicit), and not contract was called (with no input), so 0 was used.

More info on how things works in this nice answer: https://ethereum.stackexchange.com/questions/314

[2018-07-04 10:40] gituser commented on #9040
The issue here is not about gas amount, but rather about nonce increment. Why parity does increment the nonce when in fact there was no previous transaction?

[2018-07-04 10:59] 5chdn commented on #8923
Should be moved to wiki tracker.

[2018-07-04 13:06] tomaka commented on #7955
I've looked a bit into this issue today, as I had exceptionally access to a Mac.

The heapsize situation is quite problematic.
We should be able to replace it with the `malloc_size_of` crate of servo, but that means we have to propagate the change throughout the dependency tree.

[2018-07-04 14:08] tomaka commented on #7955
We also need `cc-rs` to pass a flag to the linker when building a library. Unfortunately, the `rust-crypto` crate still uses `gcc-rs` and doesn't seem to be maintained anymore. Hence the build fails.

Either we fork `rust-crypto` to use `cc-rs`, or we remove the `rust-crypto` dependency entirely. I would suggest the latter.

[2018-07-04 15:07] andresilva commented on #9033
IMO this should be solved at a lower level, i.e. pooling disks together using RAID/LVM or a filesystem with multi-disk capabilities (ZFS/btrfs). RocksDB, which is the database we're currently using, doesn't have any support for multiple disks. We'd have to shard the database to handle this use case and I don't see it providing any benefit over just creating a large virtual disk (both from a perfor

[2018-07-04 16:04] Tbaut commented on #9041
Could you please try to launch parity with the binaries instead of the snap. It causes us a lot of problems and we will most probably not propose it in the future.

[2018-07-04 17:20] shrugs opened #9047 "low-level database error after unsafe exit"
I was attempting to kill my node in order to take a snapshot (gotta remove the lock file). I pressed ctrl-C and it began safely exiting as usual. Exiting was taking a while, and I'd unsafely killed it before without issue, so I ctrl-C'd again. Booting back up gives

[code]

**NOTE** after restarting once more, parity seems to be happy and is importing blocks in real-time, so in this case turning i

[2018-07-04 21:01] tjayrush opened #9048 "Aborted (core dumped)"
Probably a 'dup' but it says I should report the bug.

_Before filing a new issue, please **provide the following information**._

v1.11.3

Linux

via installer

Nearly

Mainnet

yes.

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]

[2018-07-04 22:28] debris commented on #8942
I don't think this is a vm problem. Opcode `fe` does not exist. @Ochir can you paste here the bytecode of the contract?

[2018-07-04 23:00] MarkusTeufelberger opened #9049 "Feature request - connect to enode via rpc call"
I haven't found a way to hand parity an enode string and make it (try to) connect once or a few times to that host. This would be really useful in some situations (e.g. net splits, testing small networks).

I know that there's a "reserved_peers" setting, I'm proposing to add peers manually at runtime. There's also https://wiki.parity.io/JSONRPC-parity_set-module#parity_addreservedpeer, but I don't

[2018-07-04 23:19] debris commented on #9047
I believe the database was still shutting down when you killed parity. This is low-level rocksdb error and there is nothing we can do about it, therefore I'm closing this issue

[2018-07-04 23:19] #9047 closed

[2018-07-04 23:34] #8993 closed

[2018-07-04 23:49] debris commented on #8950
this is not trivial, because of how we treat `null_node` and `null_node_rlp`. it is exactly the same issue that prevents us from decoupling `NodeCodec` from rlp

[2018-07-05 07:06] dvdplm commented on #8950
Good point.

[2018-07-05 07:13] #9000 closed

[2018-07-05 09:05] tomusdrw commented on #6744
@InsidiousMind maybe just block the thread in the tracer?

[2018-07-05 09:13] Tbaut commented on #9034
Would you mind participating in this discussion as it's very much related: https://github.com/paritytech/parity/issues/8565 ?

[2018-07-05 09:23] sorpaas commented on #6744
@InsidiousMind @tomusdrw I think there is a way to do that. We basically just need to add an additional "initialize" lifecycle to `Interpreter`, and then replace the while loop by a step function. With proper inlining the performance shouldn't be of difference too much. (And shameless self-advertising -- SputnikVM can already step individual opcodes as of today. :smile:)

I mostly got the design f

[2018-07-05 09:31] Tbaut commented on #9048
Thanks for the report, This is indeed a duplicate from #7748
This error indicates a DB corruption most likely due to a memory error. Could you please make sure that your memory passes a memtest?

You will have to resync from scratch I'm afraid.

[2018-07-05 09:31] #9048 closed

[2018-07-05 14:39] Pzixel commented on #8829
@tomusdrw hello. Sorry for not replying for so long, but I just didn't have a chance: I had to backup-restore the network on the test server before answering.

I tried to send 500 transactions simultaneously and here is logs of what happened:

https://pastebin.com/K8e0sJYT

In a nutshell: it didn't work well.

DB size is currently 1.3gb.

[2018-07-05 15:02] mikonieminen opened #9053 "Using Ledger Nano S not possible when using Light Client mode"
When running Parity in Light Client mode, I cannot use my Ledger Nano S. Using it in normal mode works fine, but when Light Client mode is enabled, communication seems to fail.

First I tested by running parity in Light Client mode and connecting Parity UI and then connecting my Ledger Nano S. After giving my PIN, I would expect it to appear in my Parity UI accounts view, but it never did. When ru

[2018-07-05 15:05] tomusdrw commented on #8829
Ok, so what do you mean exactly by "it didn't work well"
You have submited 506 transactions:
[code]

496 went directly to `current` queue:
[code]
10 went to `future` for a while (because they were imported out of order)
[code]

379 transactions were mined:
[code]

while the network created 380 blocks (one block was empty):
[code]

So everything looks fine for me, the real question is:
1. Why you h

[2018-07-05 15:23] Pzixel commented on #8829
1. I've just checked - average gasUsed of one tx is 975911. I'm not sure if it's a high value tough
2. I'm not sure what exactly should be configured differently. Could you elaborate, please?

my chains:

[code]

authority.toml

[code]

[2018-07-05 16:47] #9034 closed

[2018-07-05 23:40] mttmartin commented on #8927
@Tbaut, should all directories be separate(except keys) or just the chains directory?

[2018-07-06 01:03] wallaceturner commented on #8833
Can you say why this has closed?
This has happened to me again. What is happening is my hosting provider shutdowns my VM due to high CPU... after I reboot it and start parity, parity is hung

[code]

So after at least 24hrs... nothing more has been written to the logfile but parity continues to use a huge amount of memory and CPU - its clearly doing something but nothing more has been written to t

[2018-07-06 02:10] trustfarm-dev commented on #8565
for fast search of state_root , how about add indexing table for state_root and blockheight by 1000 or 10000?
it will helpful offset based block and state search.

I've modified simple offset based export function. it is little time decrease, but, if index is provided for search, it will very faster and distributed function.

It also applied to making snapshotdb.

[2018-07-06 03:11] shihao-guo commented on #9039
Thanks! it was very helpful

[2018-07-06 06:05] #9039 closed

[2018-07-06 07:50] ppratscher opened #9057 "Add parity_getRawBlockByNumber and parity_submitRawBlock RPC API endpoints"
In order to allow for a little bit more flexibility when mining blocks it would be nice to have a more low level block API available. Currently the eth_getWork and eth_submitWork RPC calls do not allow miners to make any changes to the pending block which in turn make large scale mining setups quite complicated given the deficits of the Ethereum stratum protocol variants currently in use.

Thus I

[2018-07-06 08:53] Tbaut commented on #8927
The keys and db are the 2 directories that matter. keys can prob. be shares (didn't try it) the db should not.

[2018-07-06 09:20] celeduc commented on #6303
This happens when installing stable parity from a snap (`sudo snap install parity`). It does not happen when installing stable parity from a `.deb` (`bash <(curl https://get.parity.io -L)`.

[2018-07-06 10:46] Pzixel commented on #8829
@tomusdrw hmm, it seems that it helped. Speed is slowly recovering. It already saves ~4tx/sec after 10 minutes of block propagation.

Could gas restoration be enforced somehow to the maximum or I have to send multiple transaction to recover gas level? Sorry if my question sounds stupid, but I'm really trying to get the technologie and parity implementation itself.

[2018-07-06 11:40] Tbaut commented on #8833
Make sure you kill every parity process.
Make sure to install the latest parity available: https://github.com/paritytech/parity/releases and launch it again. You will surely not need to resync.

[2018-07-06 11:43] tomusdrw commented on #8829
Please read about `gasLimitBoundDivisor` parameter that you have configured in your spec file, the amount the gas changes (up or down) is part of consensus mechanism and controlled by this specific param.
So after the chain is already set-up, there is no way to change that (you would have to hard fork the network, but Parity does not support hardforks to change this particular parameter (yet)).

U

[2018-07-06 11:44] Tbaut commented on #8550
@gitcoinbot :)

[2018-07-06 11:55] wallaceturner commented on #8833
I was already using the latest - in fact i downgraded to latest stable (v1.10.8)... and its still stuck doing something (24hrs+)
nothing additional in log file, last line is as before:
[code]

[2018-07-06 12:12] wallaceturner commented on #8833
it is not technically 'hung' - i'm just trying to describe what is happening... the process starts and logs to the file then starts showing cpu/ram usage so its doing something - however it never logs anything additional NOR does the RPC/API server start listening (Yes i am running it with the correct args to do this)
I can simply 'fix' this by re-syncing the entire node but this takes days and da

[2018-07-06 12:19] ordian commented on #8938
@eqzip The problem may be that the snapshot you started to sync is outdated and there are no peers with the given snapshot. Try removing the snapshot dir manually (in your case `/Users/apple/Library/Application Support/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d/snapshot`, not that `db kill` has no effect on that dir) and start the warp sync again.
Ideally, we should detect if that it i

[2018-07-06 12:29] Pzixel commented on #8829
Thank you for the great reply.

I'd just like to clarify one thing:

I don't really get this part of spec. It's quite unclear to me what "limit adjustment" means. Is it explained more detailed anywhere?

[2018-07-06 13:07] Pzixel commented on #8829
@tomusdrw wow, that's complicated. It would take some time. *Shame on you all who told me math never would be required in my work*.

I do believe that you answered all my questions. All fixes basically go to two buckets:

1. Client-side nonce managing and signing
2. Proper network configuration - high gas floor and gas limit

Hope it would be helpful for newcomers.

Thank you again, you're great.

[2018-07-06 13:07] #8829 closed

[2018-07-06 14:01] Tbaut commented on #8833
How do you launch parity?

As long as we don't know what is happening, it's not clear whether a resync would fix it. To test it without deleting the whole db, you can try to launch it with `-base-path ./whatever_directory` so that it starts from scratch without deleting the original DB.

[2018-07-06 15:03] Pzixel opened #9061 "Panic at unix/time.rs"
At some moment node just died. I'm not sure if it's reproducable, but before he died he asked me to create an issue with logs:

[code]

[2018-07-06 16:42] IvIazen opened #9062 "Receiving error when trying to transfer Erc20 tokens"
I'm running: Parity v1.11.5

Whenever I try to transfer my Erc20 token through contracts I keep receiving the following error:
Warning! Error encountered during contract execution [Reverted]
I have confirmed through a query that I have a balance. Just as I side not I have transferred Erc20 tokens before without any issue.

Can someone please help...

[2018-07-06 20:55] j4ys0n opened #9065 "Should the Dockerfiles build the stable branch?"
Could be just me, but I feel like since Docker is often used for production automation, the Dockerfiles should checkout and build the stable branch (not master/unstable). Happy to put in a PR for this update but thought I'd ask first. Is this a good idea?

[2018-07-07 07:16] Logeshwaran21 opened #9067 "How to permanently unlock geth accounts?"

[2018-07-07 09:39] ppratscher commented on #8974
I am seeing the same behavior on 1.11.5 on multiple production nodes (all dedicated servers or high performance cloud machines). I am currently gathering logs with -lnetwork,sync on one of the affected nodes. For us the issue started after upgrading from 1.10 to the 1.11 series.

[2018-07-07 11:01] ppratscher commented on #8813
Ever since upgrading to 1.11.5 parity seems to utilize a large number of open files and I have run into this issue even with an open file limit of 64000.

An old v1.9 node running since more than 2 weeks only has 635 open files (output of `ls -l /proc/<PID>/fd | wc -l`).

A new 1.11.5 node running only for a day has already over 30000 open files. 30292 of them are from the type `lrwx------ 1 <user

[2018-07-07 11:46] MaxXor opened #9068 "[Aura] Transactions from non-sealing nodes don't get confirmed"
I deployed a small contract in a private PoA aura network and try to execute a function of the contract. However the transaction I've submitted keeps pending forever. Below you can find the transaction. I've allowed free transactions in the parity config (`usd_per_tx = "0"`). The deployment of the contract worked fine with 0 gasPrice. So maybe it's something else?

Transaction:

[2018-07-07 23:33] quantumproducer commented on #6303
Yep, switching to .deb install from snap fixed it for me.

[2018-07-08 01:56] Thoughtscript commented on #8835
Hi @Tbaut - is this one still available? I'd love to work on this! Thanks!

[2018-07-08 02:36] Njcrypto commented on #8813
My four 1.11.5 nodes have 875, 872, 748, 621 open files. All nodes have been running 1.11.5 with > 5 days uptime. All nodes are mining.

I was a victim of the 1.11.4 open file issue, and it has been solved for me under my specific configuration.

[2018-07-08 08:17] MaxXor commented on #9068
After debugging this issue for a while I found out that only transactions from non-validator addresses are pending forever. When I submit the same transaction from validator address it gets sealed into a block immediately. Is there any configuration option to change this behavior or is this a bug?

[2018-07-08 09:18] saitam1 commented on #5411
Parity still doesn't show a successfully deployed contract automatically. At least not with this setup:

Parity client version: v1.10.8-stable-bd20c45-20180628/x86_64-linux-gnu/rustc1.27.0
Parity UI version: 0.1.4
Operating system: Linux
Installed via: .deb file
Fully synchronized: Yes
Network: Kovan

And if watching the contract manually, parity doesn't show any values on the variables which were

[2018-07-08 10:58] chevdor commented on #5411
That sounds like a UI problem so you are better off reporting this issue in
the UI repo.

[2018-07-08 17:05] ppratscher opened #9070 "Import of locally mined block takes more than 3 seconds"
Given the current Ethereum network conditions we observed that it takes Parity sometimes up to 3 second to import a locally mined block and propagate it to other nodes.

We managed to capture a full timeline of one such example:
[code]

Log from the block import from the local parity node:
[code]
Log from the block import from a remote parity node (with a direct connection to the node that mined t

[2018-07-09 01:03] wallaceturner commented on #8833
Heres how i start parity
[code]

after 4 days parity is still running but the JSON/RPC/WS interfaces are still not listening.
what other log files can i check to see what its doing ?

[2018-07-09 01:50] wallaceturner commented on #8833
Ok I am running it now with `-l=debug`
The following is *an example* of what is appearing in the log. There are many many more rows like this (it is continually doing this)
[code]

sometimes after many rows it will output this:
[code]

then it will resume with
[code]

please note, rpc interfaces never come up (ports 8545/6)

[2018-07-09 07:23] zhjgit opened #9071 "parity private Transactions issue"
How to ensure that the transaction is confirmed when performing a private transaction。
![111_20180709151902](https://user-images.githubusercontent.com/11417141/42436255-f8a24bc0-838b-11e8-80e6-99ff4801f933.png)

[2018-07-09 07:29] zhjgit commented on #9071
I still have a question, Is the zero step in the picture above.“0) (Pre-requisite) Contracts registry must be deployed on the chain. ”  what means contracts registry ?Is it a public contract that I want to deploy myself?

[2018-07-09 07:33] zhjgit commented on #9071
If you have a complete private Transactions contract tutorial please give me a link,thanks.

[2018-07-09 08:13] 5chdn commented on #8813
Can you tripple-check your version string? @ppratscher

[2018-07-09 08:13] #8813 closed

[2018-07-09 08:31] stone212 opened #9073 "parity signer new-token displays old information"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Using the new ParityUI I am directed to create a new token.  I do:

The new token appears and I can use it in the Parity UI.  But there is also this message:

Because the browser UI does not

[2018-07-09 08:41] Tbaut commented on #9067
Are you using `--geth` flag?
you can unlock accounts with a *.toml or the `--unlock`. More info https://wiki.parity.io/Configuring-Parity

[2018-07-09 08:41] #9067 closed

[2018-07-09 08:45] ppratscher commented on #8813
Yeah, it could be the case that the binary on the affected node was updated but has not been restarted. We will continue to monitor the situation and reply in case it happens again.

[2018-07-09 08:58] Tbaut commented on #8835
@Thoughtscript, it looks like @dilatebrave is still working on it at the moment, so it's not available.

[2018-07-09 09:00] Tbaut commented on #9068
Are you sure that you non validator node is connected to the network and synced?

[2018-07-09 09:00] medvedev1088 opened #9075 "Add option to include transaction receipts in eth_getBlockByHash"
In [some applications](https://github.com/medvedev1088/ethereum-etl) where performance is important it's convenient to query all receipts in a block in a single request.

Since receipts are part of a block, as defined in the yellowpaper, it makes sense to allow including them in the block response for [eth_getBlockByHash](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbyhash) and [eth_

[2018-07-09 09:04] stone212 opened #9076 "Invalid key file"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

1. Run Parity 1.10.8.

2. Create two addresses.  See that they work as expected.

3. Create a third address.  See this error with one of the original two:

Invalid key file: "/path/to/UTC-key

[2018-07-09 09:44] Tbaut commented on #9070
There was a lot of work involved in the Tx queue in the 1.11 branch. It's about to be stable so I'd suggest you give it a try and tell us if you see a difference.

[2018-07-09 09:57] Tbaut commented on #9062
Please describe precisely the steps you perform (including the contract address etc).

[2018-07-09 10:02] Tbaut commented on #8833
These errors don't seem related to your problem.
Could you post the beginning of the log file (the best is to put it in a gist)? What happens after startup is important.

[2018-07-09 10:05] ppratscher commented on #9070
Unfortunately we observed another issue with the 1.11 branch (https://github.com/paritytech/parity/issues/8974) that prevented us from upgrading up to now.

[2018-07-09 10:08] Tbaut commented on #9071
There is no difference with a normal transaction. It could probably be useful to have tests to make sure the private contract is working as expected.

You have to deploy it yourself yes, it looks like this: https://github.com/paritytech/contracts/blob/master/SimpleRegistry.sol

We do not have it yet, but it's planned for soon: https://github.com/paritytech/wiki/issues/175

[2018-07-09 10:58] wandergeek opened #9078 "Non-standard port handling"
I'm running:

## Actual
I have several parity processes spread across two VMs. The processes connect up to the bootnode ok, but the peers can't connect with one another. My environment is broken down as follows:

52.221.214.121
    'tx' - parity process on 30304

13.229.143.177
    'bootnode' - on port 30303
    'validator' on port 30302

When the nodes spin up, both validator and tx peer to the b

[2018-07-09 11:05] MaxXor commented on #9068
I am directly connected to the validator node, but using a third-party wallet MetaMask. I loaded some Ether on the MetaMask wallet and try to call contract functions. I can find the transaction in the mempool of the validator node, so it gets correctly submitted, but never included in a block. If I try it from a validator account and use the same transaction extra data it is working. So I guess th

[2018-07-09 11:11] Tbaut commented on #9061
Thanks for the report. It's a duplicate of https://github.com/paritytech/parity/issues/8444

[2018-07-09 11:11] #9061 closed

[2018-07-09 11:16] wallaceturner commented on #8833
yes ok, here is [the gist][1]

the command to start parity was
[code]

[1]: https://gist.githubusercontent.com/wallaceturner/baef13088de2a5c5afbfdd9a008dee2e/raw/968917770cd6c60fdf966d9506301d0dccfd4236/gistfile1.txt

[2018-07-09 11:17] Tbaut commented on #9076
How do you create the addresses? This could be linked to https://github.com/parity-js/shell/issues/106 which is solved in the latest Parity UI releases.

[2018-07-09 11:19] Tbaut commented on #9070
Seems to be fixed in later releases as of https://github.com/paritytech/parity/issues/8974#issuecomment-402178888 Let us know.

[2018-07-09 12:02] diadal opened #9079 "UI not running on deferent port"
I just want to say Parity UI should ask for the rcp port while open I notice UI not working for the parity running on different port that is not default port

[2018-07-09 12:45] Tbaut commented on #9079
This should be asked in the UI repo: https://github.com/Parity-JS/shell/issues
You can launch the ui with different ports if you wish: https://wiki.parity.io/Configuring-Parity#cli-options-for-for-parity-ui

[2018-07-09 12:45] #9079 closed

[2018-07-09 13:40] Tbaut commented on #9078
Is there any log mentioning an error/impossibility to connect?

As a workaround, can you connect your peers manually with reserved-peers (flag or RPC)?

How long did you let all VM run (discovery can take several hours)?

[2018-07-09 14:13] Tbaut commented on #9068
Your validator account is probably unlocked on the validator node. I guess the problem is more on the signing part. I've just tried a similar setup with Metamask and my node is not a validator but still could send and broadcast the Tx... Is your contract function callable by any account and not restricted to the owner for instance?

[2018-07-09 14:19] MaxXor commented on #9068
It's perfectly fine callable from anyone ([see here](https://github.com/MaxXor/iuk-blockchain/blob/4eede6b1d54869cd350333705e4b7a4e30445288/contracts/Documents.sol#L36)). I don't use any non-validator nodes. I generated a fresh wallet address in MetaMask, sent some Ether to it and try to call the contract function by broadcasting the transaction to one of the validator nodes. Maybe we have a misun

[2018-07-09 16:23] Tbaut commented on #9068
I think I understand correctly.
Can you send a normal transaction (not a contract call) from this non-validator account?

[2018-07-10 07:34] ppratscher commented on #9070
The issue has not been fixed for us, we are still seeing occasional weird Syncing behavior with 1.11.5 like for example:

[code]
I have provided additional logs in the other ticket.

[2018-07-10 07:59] stone212 commented on #9076
@Tbaut Good question.  #3 should read:

3. Create a third address on the command line with "parity account new".  Then see the error.

[2018-07-10 08:05] vs77bb commented on #8604
Hi @5chdn - would it make sense for this to be sent back out to the crowd?

[2018-07-10 08:07] Tbaut commented on #8927
@mttmartin wait, I think this is already addressed in another PR

[2018-07-10 08:09] Tbaut commented on #8927
edit: all good @mttmartin, that's your PR :)

[2018-07-10 08:10] vs77bb commented on #8835
@Tbaut As we haven't heard from @dilatebrave in a while here, we removed him as it may make more sense for this to go back out to the crowd.

@Thoughtscript: We'd love to have you ['Start Work'](https://gitcoin.co/issue/paritytech/parity/8835/648) here and pick this one up if you're still interested!

[2018-07-10 10:17] #8178 closed

[2018-07-10 12:45] Tbaut commented on #9076
Did you see my comment regarding parity-js/shell#106? I have been using `parity account new` extensively lately and I couldn't reproduce.

Could you manually verify the JSON file? is there some kind of repetition toward the end of it?

[2018-07-10 14:09] vnistor commented on #8905
@5chdn I found these in apport.log today:
[code]

[2018-07-10 14:28] ppratscher opened #9087 "Parity 1.11.6 is rejecting transactions from local accounts"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

The new tx queue implementation in 1.11.6 seems to treat transactions from local accounts different compared to previous versions. Previously the tx queue always accepted transactions from lo

[2018-07-10 14:34] vnistor commented on #8905
Running v1.11.6-beta non-deamonized:
[code]

[2018-07-10 14:38] #8725 closed

[2018-07-10 14:42] vnistor commented on #8905
Running v1.10.9-stable non-deamonized:
[code]

[2018-07-10 15:07] vnistor commented on #8905
This might be what was happening before or not. The error is only printed when not running daemonized, so no way to know really, as I was running daemonized before.

[2018-07-10 15:33] #8779 closed

[2018-07-10 17:27] phahulin opened #9089 "Using gasprice oracle for a custom network"
It looks like currently gasprice oracle can only be used for foundation chain

https://github.com/paritytech/parity/blob/da5de4a6ffd275961cff124798caaef7b9d57483/parity/configuration.rs#L655-L657

Maybe I'm missing something. Docs mention that

        USD value of a single ETH. SOURCE may be either an amount
        in USD, a **web service** or 'auto' to use each web service in
        turn and f

[2018-07-10 19:08] comodoro commented on #7241
I have encountered probably this, Transaction execution error on `estimateGas()`, with `parity --mode offline --config dev --gasprice 0 --force-sealing --reseal-min-period 3000 -l DEBUG --unlock 0x00a329c0648769a73afac7f9381e08fb43dbea72 --password pwd` there is quite a lot of logs, but relevant seems to be this:

[code]
From that this
[code]
tries to suggest something, unfortunately I have no ide

[2018-07-10 19:23] Pet3ris opened #9090 "Dev mode times out on send transaction"
**How to reproduce**

Running parity like so:

`docker run -d -p 8545:8545 parity/parity --config dev --jsonrpc-interface all --jsonrpc-apis all --jsonrpc-cors "*"`

I'm having trouble with transactions that never complete.

Web3.py (this code times out):

[code]

Web3.js (this code hangs):

[code]

The same code works perfectly fine with `geth --dev` or `ganache` nodes.

[2018-07-10 19:28] MaxXor commented on #9068
I've tried now again with the updated parity v1.11.6-beta and it all is working fine now.

[2018-07-10 19:28] #9068 closed

[2018-07-10 19:29] comodoro commented on #7241
Just FYI, the code in question passes with `geth --dev --nodiscover --maxpeers 0 --ws --wsorigins="*"`

[2018-07-10 23:00] wallaceturner commented on #8833
@Tbaut
the RPC/JSON interface never boots up - that to me sounds like a clue. is there something i can investigate my side? I can install a special build if you have one available to further track down the issue

[2018-07-11 07:01] NinjaTurtle007 opened #9091 "Sending out a token that is NOT registered?"
Is there a way to send out a token that is not registered with the Token Registry Dapp?

Most project don't seem to register their tokens and I don't feel like paying the fee for all of them.

[2018-07-11 08:15] stone212 commented on #9076
@Tbaut I do see that now and possible the metadata was rewritten but I don't know how.  Is there a way to delete and re-create metadata?

Maybe and I don't know.  I have it open but I don't know what to look for.  There is not anything that is obviously repetition.  I am comparing to the other good one.  I can not share because these are actual live keys.

I am hoping there is a way to re-create m

[2018-07-11 09:49] Tbaut commented on #9087
@tomusdrw can you have a look?

[2018-07-11 10:05] tomusdrw commented on #9087
@ppratscher are you submitting the transactions via `eth_signTransaction` or `eth_sendRawTransaction`? The min effective gas price check is actually guarded by `!is_own` so the transaction submitted on a local node should never reach that check.

The situation is indeed a bit different if we have a local account, but the transaction is received over the network (i.e. sent from some other node). Is

[2018-07-11 10:05] ppratscher commented on #9087
Yeah, the node does receive that transaction via the P2P network and not via a local RPC call.

[2018-07-11 10:17] onpaws commented on #7288
@ddorgan thanks for the `.yaml` config, that's helpful.

@fevo1971 are you aware of any Parity PRs or open issues for supporting CIFS shares?
I'm curious what the technical reason is (e.g. does Parity data depend on symlinks/etc)

[2018-07-11 10:18] Tbaut commented on #9090
You need to unlock the account you are using, pre-sign the transaction or use personal_sendTransaction. Web3 is waiting for you to sign it in this case.

[2018-07-11 10:50] nandubatchu opened #9092 "Facing Timeout Exceptions while trying "eth_sendRawTransaction""
Facing read timeout issue while hitting the RPC call "eth_sendRawTransaction" on the node which does not involve accounts available on the nodes. (Unlocking accounts is not required I suppose.)

However, the transaction is broadcast after multiple retries by the web3.py library.

[2018-07-11 11:04] #8825 closed

[2018-07-11 11:20] c0deright commented on #8618
After almost 15 days with 1.11.4 running I don't see any indications of a memory leak. Memory consumption stays below 4GB:
![parity 1.11.4 memory usage](https://user-images.githubusercontent.com/20477825/42568154-76d50402-850c-11e8-9b0c-03e785ab5ef9.png)
On the other side memory consumption is considerably higher (peak at 3.3 GiB) than the specified `cache_size` (2000 MiB)

[2018-07-11 11:34] tomusdrw commented on #9087
I guess the solution would be to add a CLI flag to bring back the previous behaviour. The optimization here was introduced to improve performance of the node in case the queue is full, and avoid doing (very costly) ecrecover for every incoming transaction.

So with the flag it would be possible to opt-in to the less performant old behaviour.

@ppratscher As a workaround I'd suggest:
1. Running wit

[2018-07-11 12:01] ppratscher commented on #9087
Thanks, we will try to increase the queue size and check how it affects the mining performance and uncle rate of the node. Unfortunately the second workaround is not really an option as we also need to include external transactions in the blocks.

Indeed it would be great to have an opt-in flag for the previous behavior available as the additional ecrecover operations should not be an issue with o

[2018-07-11 12:10] Tbaut commented on #8426
Closing in favor of https://github.com/paritytech/parity-extension/issues/123

[2018-07-11 12:16] #8426 closed

[2018-07-11 12:16] 5chdn commented on #8426
:p

[2018-07-11 12:45] Tbaut commented on #7241
@comodoro There are 1 or 2 issues related already that you could contribute to: https://github.com/paritytech/parity/issues/8675 and https://github.com/paritytech/parity/issues/8893

[2018-07-11 13:03] tomusdrw commented on #9087
@ppratscher The long time you are seeing is related to how the informant is implemented, it waits for all the local work to be finished before reporting the block time. Indeed clearing out larger queues takes longer (seconds), but recently in 1.11.6 new pending block is created before the queue is being cleared (see https://github.com/paritytech/parity/pull/9024#issue-198665155), so it shouldn't i

[2018-07-11 13:05] Pet3ris commented on #5335
Hi @MicahZoltu , was this ever documented ? I'm struggling with this problem in the following Issue: https://github.com/paritytech/parity/issues/9090.

[2018-07-11 13:06] Pet3ris commented on #9090
Thanks for the note @Tbaut . I've traced the same problem in this thread: https://github.com/paritytech/parity/issues/5335 which was apparently resolved by https://github.com/paritytech/parity/pull/5612. However despite what https://github.com/paritytech/parity/pull/5612 claims, accounts 0 and 1 are not unlocked.

[2018-07-11 13:16] Tbaut commented on #9090
The ticket mentioned creates an account, it's in `~/.local/share/io.parity.ethereum/keys/DevelopmentChain/` but there is no mention of unlock it.

[2018-07-11 13:16] #9090 closed

[2018-07-11 13:17] Pet3ris commented on #9090
@Tbaut, in this [StackOverflow thread](https://ethereum.stackexchange.com/questions/15753/parity-private-blockchain-gain-ether) I've found an explanation that suggests the "rich" account is the account recovered with an empty passphrase, however, this code reveals it to have 0 balance.

[code]

[2018-07-11 13:56] Tbaut commented on #9091
Yes. You need to know the contract and (and its ABI if it's not an ERC20 standard) to watch it, and call the transfer function. (some more info [here](https://wiki.parity.io/Smart-Contracts)) Or you can use MyCrypto Desktop with your key files, which could be somewhat much easier.

[2018-07-11 13:56] #9091 closed

[2018-07-11 13:56] AndreiD commented on #7372
having the same issue: I installed all deps. Here's the output with verbose

[code]

[2018-07-11 13:59] nandubatchu commented on #8461
I am facing the same issue on my parity node (version: 1.11.5) - Issue #9092

[2018-07-11 14:12] ppratscher commented on #9087
@tomusdrw I sent you the logs directly via DM on gitter + some additional info

[2018-07-11 14:17] Tbaut commented on #9076
There is no easy way to create metadata. This must be done manually. What you could look for would something like an invalid json indentation. Here is an example I gave in the issue

This is the key that got corrupted (having a look at it quickly, it's not obvious), it's in `bad-key.json` file:
[code]
Now using `jq` cli tool, you can print the valid part of the key :

[code]

Now you can actually

[2018-07-11 14:18] #8927 closed

[2018-07-11 14:46] kelvintyb commented on #9057
@ppratscher much appreciated if you could clarify on my 2 questions above :)

[2018-07-11 15:14] comodoro commented on #8675
I have encountered probably this, Transaction execution error on estimateGas(), with `parity --mode offline --config dev --gasprice 0 --force-sealing --reseal-min-period 3000 -l DEBUG --unlock 0x00a329c0648769a73afac7f9381e08fb43dbea72 --password pwd` there is quite a lot of logs, but relevant seems to be this:

[code]
In `web3.js` there is gas estimation before calling the particular contract, wh

[2018-07-11 15:15] comodoro commented on #7241
Thanks, I have added to the first one

[2018-07-11 15:47] Tbaut commented on #9090
Check this out, it's the chain spec of the `dev` chain. This account is rich and it is already been created for you:
https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json#L49

[2018-07-11 15:54] Tbaut commented on #9087
@ppratscher could you please also post it here (in a gist?) for the record :)

[2018-07-11 15:56] tomusdrw commented on #9087
@Tbaut stratum notification is being sent after `chain_new_blocks` is finished, so miners are not notified about the new pending block (even though it's already created). I'm preparing a patch soon.

[2018-07-11 16:31] Pet3ris commented on #9090
@Tbaut sorted, I was able to send using `personal.sendTransaction' like so:

[code]

Thanks a lot for helping me out, will summarise the steps and feed back from all relevant tickets for future stumblers.

[2018-07-11 17:29] Hex-Capital opened #9100 "Unable to connect Parity: Blocked connection due to invalid token"
I'm trying to connect my local Parity node to the Augur desktop ui (in Chrome) and having issues - Parity keeps returning the following error even though I'm running --ui-no-validation which I thought should stop this from happening.

WARN parity_rpc::v1::extractors  Blocked connection from http://localhost:8080 using invalid token.

Parity is able to sync and update the Augur local db. This issue

[2018-07-11 21:45] Pet3ris commented on #9090
Summary:

- Parity is a more secure node, so behaves differently in dev mode compared to geth or ganache
- It does offer a "coinbase" account with significant ether in address `00a329c0648769a73afac7f9381e08fb43dbea72` unlocked by the empty passphrase `""`
- However, every account either needs to be unlocked or signed on transaction
- Moreover, unlocking is only active for one request, so signatur

[2018-07-11 22:40] stone212 commented on #9076
@Tbaut Thank you.  Explaining the jq tool make all the difference.  I'm not a programmer I'm a systems guy.  Yes the error is gone.  Here is an example of what I found:

`"meta":"{\"descriptio\\d:\"\",\"passwordHi\"pa:\"\",\"tags\":[]}"}tags\":[]}"}`

Also I saw:

`"name":"M,`

[2018-07-11 22:43] #9076 closed

[2018-07-12 00:43] vs77bb commented on #8709
@vikasyadav could you expand on the additional details you are looking for here?

[2018-07-12 03:19] XertroV opened #9101 "Parity exits uncleanly on archive node during upgrade (timeout and shutdown at ~5m; restarting normally takes 22s)"
While debugging another issue (RPC threads dying) I noticed that during the auto-upgrade to 1.10.9 my node shut itself down uncleanly :/

Apparently the timeout for detecting a "longer than expected" shutdown is not very long at all, and unsuitable for archive nodes.

Logs: (note, right hand side is truncated, but don't think there's much important missing)

[code]

[2018-07-12 03:24] XertroV opened #9102 "RPC threads dying w/ "Too many open files""
pretty self explanatory - all RCP threads die simultaneously, but everything else keeps working (including websockets according to netstat; RPC ports disappear but websocket ports don't)

(Most of those requests are 2x eth-stats running via pm2)

Logs:

[code]

[2018-07-12 05:50] ppratscher commented on #9057
@kelvintyb sorry but I cannot provide support in regards to the implementation detail. I suggest you direct your question to @Tbaut

[2018-07-12 08:09] tomusdrw commented on #8974
@ppratscher could you dump the list of peers when that happens? Just invoke `parity_netPeers` RPC.

[2018-07-12 08:30] Tbaut commented on #8833
Did you try as I recommended with `--base-path ./whatever_directory`. This will simulate a new sync (in the new directory).

[2018-07-12 08:34] Tbaut commented on #9100
Can you tell me more about this "Augur desktop UI (Chrome)"? Is it an electron container? How does it connect to your local node (WS/HTTP using which port)?

[2018-07-12 08:48] tomusdrw opened #9103 "Optional ethcore features should be enabled by default"
Recently some parts for ethcore and ethcore-miner were made optional: see #9020

However, we import `ethcore` and `ethcore-miner` crate from multiple places, an all of those places should specify the required features. It is however easly forgotten.

We should make the features `default`, and other crates that don't require them should just include the crate with `no-default-features`.

Also using

[2018-07-12 08:52] tomusdrw commented on #9103
My bad, it seems that the features are set up correctly, although `work-notify` is the only one broken, see:
https://github.com/paritytech/parity/pull/9020/files#r201957185

That said I still believe that the features should be on by default. It never makes sense to compile Parity without them, it should only be used as an optimization feature for crates dependent on `ethcore`.

[2018-07-12 09:06] Tbaut commented on #9101
[code]

The timeout is actually 1min 5sec in your case.

[2018-07-12 09:10] sorpaas commented on #9073
This should be fixed in #8783. I don't remember we backported it to current beta or stable yet, but this will land on next beta, at least. :)

[2018-07-12 09:10] #9073 closed

[2018-07-12 09:31] Tbaut commented on #9102
Is it something that you were able to reproduce? Any way to give us more logs (`-l debug` could probably give us a hint ).

[2018-07-12 09:56] Tbaut commented on #9057
@kelvintyb

Not particularly.

Did you have a look at the codebase? Other RPCs use RLP encoding, you can pick it up from here.

[2018-07-12 10:53] sorpaas commented on #8612
I'm going to reopen this issue. `ring` build breaks again on the current glibc NixOS is using (for nixos-unstable).

[2018-07-12 11:00] Tbaut opened #9106 "DB atomic swap failed: renameat2 failed with code: 22 at the end of a warp sync"
_Before filing a new issue, please **provide the following information**._

At the end of a warp-sync and before having the normal sync, I get the error: `DB atomic swap failed: renameat2 failed with code: 22`

This does not prevent the sync to continue.

[code]

[2018-07-12 11:21] ascjones commented on #9102
Related: https://github.com/paritytech/parity/issues/8123 and https://github.com/paritytech/parity/issues/8813. It might be fixed in 1.11.5?

[2018-07-12 11:32] ascjones commented on #9100
Yes I was trying to connect Augur to my local Parity node and ran into the same issue.

I did some digging and it might be related to this https://github.com/paritytech/parity/issues/8603. Caused by a bug in web3.js https://github.com/ethereum/web3.js/issues/1559.

Note that it looks like Augur is using 0.18.4 of web3.js: https://github.com/ethereum/web3.js/issues/1559.

So needs confirming with t

[2018-07-12 12:05] XertroV commented on #9101
@Tbaut - ahh! My bad, didn't see the minutes change.

But yeah is a bit worrying if it's shutting down uncleanly automatically; but one of the curious things is a `systemctl restart parity` only takes 10-15s before I get RPC connections back. Maybe the shutdown routine is different?

[2018-07-12 12:10] XertroV commented on #9102
@Tbaut - not sure how to reproduce except to leave nodes running long term. Will add `-l debug` and see if that captures some more interesting detail.

As an aside, I've looked before for how to increase the log level and it wasn't easy to find (well, at least when I looked I didn't find anything). Might be worth adding a wiki page on debugging / increased logging.

@ascjones I think the above iss

[2018-07-12 12:19] Tbaut commented on #9106
Is that something for you @ngotchac?

[2018-07-12 12:47] XertroV commented on #9102
Happened to another node a few hours ago - just checked.

A thing I noticed:

[code]

There are ~5-6 minutes between those two log lines. 🤔

[code]

[2018-07-12 14:42] Tbaut commented on #9102
What keyword did you use? it's here: https://wiki.parity.io/FAQ.html#how-can-i-make-parity-to-write-logs

[2018-07-12 14:54] niklasad1 commented on #9106
@Tbaut
The right person for this is @debris  (as many other things in parity :crab: )

But this is just a warning that atomic swaps of the directories (including it files) failed and parity fallbacks to non-atomic swaps instead!

Maybe, just change the `warn! message` a bit something like ```DB atomic swap of directories failed during restore falling back to non-atomic swap```

[2018-07-12 15:24] debris commented on #9106
Yes, it's not a critical warning, but just a warning. I will change the message into something less negative. :)

[2018-07-12 16:48] kerematam opened #9109 "Parity is connecting very few peers or no peer at all while netPeers showing"
_Before filing a new issue, please **provide the following information**._

I've tried to remove nodes.json and restart parity as it is suggested previously in few issues. But no hope for my case. I have very similar setup for Robsten network on different PC and different network and i have far more connected client. My transactions is not broadcasted well enough because of this issue.

Output of

[2018-07-12 16:57] nicexe opened #9110 "toml parser does not evaluate windows system variables"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

### Description

It seems like the toml parser that parity uses does not evaluate windows system variables (like `%AppData%`).

I tried also escaping the percentage signs but no luck.

### Ex

[2018-07-12 23:29] shamardy commented on #8725
@vs77bb can you please approve this. Thanks.

[2018-07-13 00:35] sorpaas opened #9114 "Remove engine to client circular reference"
In `ethcore`, the `Engine` trait is usually invoked by `Client`. However, in some cases, an `Engine` would also need to query additional state, and requires a reference back to `Client`. We have `Engine::register_client` and `Error::RequiresClient`. Because this is circular, it may be better if we can remove it.

Currently we only use this feature for Aura engine in two places:

* In `on_close_blo

[2018-07-13 01:33] XertroV commented on #9102
I think I must have just derped pretty hard. Some vague memories: might have been before the current wiki (was it on github before?) and I think I used google more than searching a particular site. In any case thanks for linking me.

[2018-07-13 02:07] MyS5Droid commented on #8709
### Hi, I am available for work immediately

If you can specify where the log file is located, either a) inside the Ubuntu host system or b) inside the docker container system.

I am able to setup and install logrotate, set up daily cronjob, and I can explain how to invoke log rotation manually, or I can also set up a shell script for /sbin so you can just run "rotate-logs" or similar command to i

[2018-07-13 04:36] wallaceturner commented on #8833
@Tbaut  Yes it worked but it just started syncing the entire chain again from scratch

[2018-07-13 05:44] MyS5Droid commented on #8709
I have something to test, if you want here:
https://github.com/MyS5Droid/parity

The main file changed:
https://github.com/MyS5Droid/parity/blob/master/docker/ubuntu/Dockerfile

I still need to make it restart parity using the default config file location if you want it to do that.

Currently it rotates daily and holds 30 days logs uncompressed.

[2018-07-13 08:16] 5chdn commented on #6402
Still happens with 1.11.6

[2018-07-13 09:04] #7542 closed

[2018-07-13 09:12] Tbaut commented on #9109
Some improvements have been made on 1.11 (will be marked as stable in the next days).
Could you please give it a try? How long did you wait until having this amount of peers?

[2018-07-13 09:40] Tbaut commented on #8833
That was the goal. Ok then it's most probably a problem with your DB and a resync is inevitable. It takes a couple hours with warp sync so I think that's your best bet.

[2018-07-13 09:40] #8833 closed

[2018-07-13 10:36] #9103 closed

[2018-07-13 10:44] debris opened #9116 "rlp views refactor"
similar to https://github.com/paritytech/parity/issues/8033 but requires refactoring all views, to avoid issues like #8905

[2018-07-13 10:46] debris commented on #8905
I analysed the code and this is clearly an issue with our rlp views and verification of *external* data. Thanks @vnistor for this awesome report

[2018-07-13 11:41] kerematam commented on #9109
Yeah. Ropsten :D. Well, i waited more than one day. I will be trying 1.11. Hopefully it will solve my problem.

[2018-07-13 11:55] tomaka commented on #7915
Notes for myself for crypto libraries alternatives:
- https://github.com/dalek-cryptography
- https://github.com/RustCrypto

[2018-07-13 12:13] gsalgado commented on #8038
Since this is a trivial bugfix, would it make sense to backport it to 1.10 as well?

[2018-07-13 12:43] 5chdn commented on #8038
this made it into 1.10

[2018-07-13 12:46] gsalgado commented on #8038
Are you sure, @5chdn ? I don't see it on https://github.com/paritytech/parity/blob/v1.10.9/util/network/src/discovery.rs#L382 but maybe that's not where 1.10 was cut from?

[2018-07-13 12:48] gsalgado commented on #8038
Also, I've tested locally against a 1.10.8 instance and it is not fixed there either

[2018-07-13 13:02] 5chdn commented on #8038
We are not releasing any further 1.10 version anyways. Could you check 1.11?

[2018-07-13 14:09] gsalgado commented on #8038
It is fixed in 1.11, the problem is that there are lots of 1.10 nodes out there and py-evm cannot use them for node discovery because of this bug.

[2018-07-13 14:20] tomusdrw opened #9118 "Alternative scoring implementation"
## Why
Currently our scoring implementation is using a simple mapping of:
[code]
and every transaction is considered independently.

However a chain of transactions from a single sender:
[code]
is blocked by the score of the first transaction (we will never include `Tx1` if there are other transactions with `gas_price > 10` that can be included).
Including though `Tx1` would (most likely) allow us

[2018-07-13 15:29] vogelito commented on #8974
Hi - over the last 24 hours we've seen this behavior in our parity nodes as well. This is new behavior.

We are running a slightly older version Parity/v1.10.6-unstable-bc0d134-20180605/x86_64-linux-gnu/rustc1.25.0 (it's a stable release but since we build the binaries ourselves the tag says unstable).

Here's a graph of the block height between geth and parity (Geth Block Height - Parity Block He

[2018-07-13 15:32] vogelito commented on #8974
Oh, and our DB dir is ~1.4TB:
[code]

[2018-07-13 16:21] TimBobkov commented on #8829
Hello guys.
Sorry for oftop, but how it's better to test transaction speed? I see @Pzixel create some kind of graphs... So how can I do testing in same way?
Thanks.

[2018-07-13 16:34] TimBobkov commented on #8829
@Pzixel how can I contact you?
Sorry for contact you here...

[2018-07-13 16:39] Pzixel commented on #8829
Sorry, I'm not sure I can help you any further.

_просто поставь из тутора монитор, на нем все хорошо видно_

[2018-07-13 16:45] TimBobkov commented on #8829
@Pzixel thanks :)
_я хотел узнать, как вы скорость транзакций повышали_

[2018-07-13 16:47] Pzixel commented on #8829
_я ж выше всё написал, см. https://github.com/paritytech/parity/issues/8829#issuecomment-403028832 - повысили gas-floor и сделали подпись транзакций на клиентской стороне, с не на стороне parity_

[2018-07-13 17:38] Tbaut commented on #8829
Please keep it in English as my Russian is not good enough :)

[2018-07-13 17:54] cheeselord1 opened #9122 "eth_getFilterChanges returns "Filter not found" for a previously existing filter"
I'm using eth_getFilterChanges to check for specific events after each block confirmation. After creating a new Filter_ID, this will work without issue for several dozens of blocks until suddenly eth_getFilterChanges will return "Filter Not Found" and I'll have to recreate my filter.

Edit: I believe I only have this issue for filters created via eth_newFilter (specifying a specific list of topics

[2018-07-14 02:49] XertroV commented on #9102
@Tbaut - so good news! 2 of my nodes seem to have lost RPC again. I'll try and get those logs up later today (though they might be large) and filter through for anything relevant I can find.

[2018-07-14 11:44] LefterisJP opened #9123 "IO Worker #0 panicked at DB flush failed. DB is corrupt and not repairable."
**Which Parity version?**: v1.10.8-stable-bd20c45898-20180628/x86_64-linux-gnu/rustc1.27.0
**Which operating system?**: Linux
**How installed?**:  Package manager
**Are you fully synchronized?**:  yes -- up until the time of the crash. Now DB is corrupt
**Which network are you connected to?**: ethereum mainnet
**Did you try to restart the node?**: yes

My node was running fine for a long time but

[2018-07-14 18:46] cpurta commented on #8761
@gitcoinbot still working on it.

[2018-07-14 20:37] andrevmatos commented on #9122
Can confirm I've seen this too, sometimes as soon as 3min after filter install + polling started. I couldn't narrrow down the issue to any particular interaction, the app just polls the fiter, and suddenly crashes because of the above error.

[2018-07-14 20:46] cheeselord1 commented on #9122
I think the issue may be that the filter is time'ing out, even though I call eth_getFilterChanges every confirmed block.  I haven't seen the filter timeout duration in the docs - anyone know what it is? I think Filter timeout should be set sufficiently high that it doesn't occur during a slightly longer-than-normal block interval. E.g. set it to maybe 5-10 minutes?

I updated my app to call eth_ge

[2018-07-14 21:00] holiman opened #9124 "Error during compilation (Fedora)"
Parity `master` at `9dc512349a8dd33df4160d1bdd7b7e61f13c9604`, on Fedora.
Trying to run some benchmarks with `home/user/.cargo/bin/cargo bench -p ethcore`, but hitting the following error during compilation:

[code]
Any help appreciated!

[2018-07-14 21:35] roninkaizen commented on #9124
rust version 1.26?
left a comment on gitter as well

[2018-07-15 05:00] MicahZoltu commented on #5335
@Pet3ris I don't remember the specifics of this issue, but I do have a workflow for testing against a Parity node that isn't too bad.  [This repository](https://github.com/Keydonix/parity-instantseal) has a parity node with one account that has a bunch of ETH and is running instant seal, so blocks are mined as soon as transactions are submitted.  This makes for very fast integration tests using so

[2018-07-15 06:35] vikaskyadav commented on #8709
@MyS5Droid

We can rotate the logs daily at some time in the early morning. 2-4 log rotations are good to keep. I don't think there is any need to compress the files right now.

[2018-07-15 07:04] phahulin opened #9125 "[Feature request] parity_setMinGasPrice"
It looks like `parity_setMinGasPrice` and some other apis are deprecated now

https://github.com/paritytech/parity/blob/494eb4ab6b518278fe7bf029de35f4e6de58b464/rpc/src/v1/impls/parity_set.rs#L78-L91

Could someone clarify why they are deprecated and how can those values (gas price, transactions limit, gas limit) be dynamically updated now?

[2018-07-15 07:42] holiman commented on #9124
[code]

[2018-07-15 16:07] kelvintyb commented on #9057
Thanks will take reference from the codebase and submit a WIP PR within the week!

[2018-07-15 18:37] MyS5Droid commented on #8709
**Ok,** I was just going to make it use variables inside the config file so that other users could use the Logrotate feature on their servers as well - as a feature of Parity (when run in docker)

If you like I could hack together a quick docker image that will work for only you (everything hard coded) so you could implement it now... Then I could work on the rest (making it useable with config op

[2018-07-15 20:07] nhynes opened #9127 "Incorrect implementation of EIP 86"
The specification of [EIP 86](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-86.md) suggests that new contracts be created using the semantics of the `CREATE2(value, salt, mem_start, mem_size)` opcode. Primarily, this requires new contract addresses be created from `hash(sender + salt + code_hash)`.

Currently it seems that Parity does not match the spec since:
* [`FromSenderAndCodeHash`](h

[2018-07-15 20:26] 4ntoine opened #9128 "Empty response from server"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**Actual**

Sometimes i get empty response to `web3_clientVersion` request.

**Expected**

I get normal response every time

**Steps to reproduce**

1. create docker-compose.yaml:
[code]
2. r

[2018-07-15 20:29] 4ntoine commented on #9128
failure ratio can vary a lot:
[code]

[2018-07-15 22:32] wallaceturner commented on #8833
I don't think its right to close this. Invariably someone else is going to run into this issue again (likely me) - requiring an entire re-sync (especially on a production environment) is not an acceptable long term solution.

[2018-07-15 23:05] MyS5Droid commented on #8709
@mtrubs & @vs77bb  :

I got the issue owners mixed up. Once vikasyadav's application expires, could you please approve mine to secure my position? I am nearly done, just hammering out the rest of it.

**Please note: The repository I referenced above is currently UNSTABLE and should not be run on a STABLE server, only on a TESTING server!**

Ok, I was just going to make it use variables inside the

[2018-07-16 06:19] nandubatchu commented on #9092
I suppose this is an issue related to node activity. I had this issue while the node had the flag --tx-queue-size 4294967295.

The issue seems to be resolved after removing this flag.

[2018-07-16 06:39] 4ntoine commented on #9128
It looks like after updating to parity 1.11.6 and restarting of docker daemon i can't reproduce it.

[2018-07-16 06:58] vikaskyadav commented on #8709
@MyS5Droid It was supposed to be a group task dude. Since you already took
charge that's why I am trying to cross-check all the milestones. Don't do
this again! @vs77bb please take note of this.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&ut

[2018-07-16 08:44] jackieWhn opened #9129 "Error(Encrypt(\"failed to lookup address information: Name or service not known\"), State { next_error: None, backtrace: None"
_Before filing a new issue, please **provide the following information**._

Did I missing something?
I got this error "Error(Encrypt(\"failed to lookup address information: Name or service not known\"), State { next_error: None, backtrace: None })" when i deployed private contracts.

**RPC Call**
[code]
**Error**
[code]
**Here is my config file**
[code]

[2018-07-16 08:52] 5chdn commented on #8974
compile with `--features final` to get a stable version string.

I can reproduce this on pruned nodes, too, so I guess it's unrelated.

[2018-07-16 09:58] phahulin commented on #9125
I'm mostly interested in using this for custom chain (not Foundation), to set gasprice depending on the current exchange price, so this is related to https://github.com/paritytech/parity/issues/9089

[2018-07-16 11:35] #8935 closed

[2018-07-16 11:36] Tbaut commented on #9123
This is a duplicate from #7748
This error indicates a DB corruption most likely due to a memory error. Could you please make sure that your memory passes a memtest?

[2018-07-16 11:36] #9123 closed

[2018-07-16 11:50] Tbaut commented on #9122
As per https://github.com/paritytech/parity/issues/8741#issuecomment-395690801 the filter indeed needs to be called at least every 60sec.

[2018-07-16 12:13] andresilva commented on #8550
I don't think we should delete the `user_defaults`. We already have code to handle this properly, whenever we do `db kill` we set the `user_defaults` to be considered as "first launch" which gives us the ability to switch on/off fatdb and tracedb afterwards. The issue is that the JSON deserializer is currently not looking at this field. PR #9130 fixes this.

[2018-07-16 13:03] Tbaut commented on #9127
@sorpaas can you help?

[2018-07-16 13:09] msbachler opened #9131 "POA issue with finalizeChange not being called"
I'm running a private chain with:

Parity version: 1.9.7, but also tried updating one node to 1.10.9 as part of our testing
Ubuntu 14
Installed with deb package

We are running a private chain using a Validator contract. We are encountering situations where finalizeChange is never apparently called by Parity and we are trying to understand exactly what conditions need to be met for finalizeChange

[2018-07-16 13:09] Tbaut commented on #9124
That crate doesn't exist anymore: https://github.com/paritytech/parity/pull/7180/files

[2018-07-16 13:20] Tbaut commented on #8833
A DB corruption can have a lot of sources that are most of the time this is due to a HW problem. This is just closed as we will not investigate it in the near future. Be sure that it can be reopened should it happen again.

[2018-07-16 13:21] #9092 closed

[2018-07-16 13:22] Tbaut commented on #9128
Thanks for the update. Please let us know if this happens again with newer versions, I'd reopen the issue.

[2018-07-16 13:22] #9128 closed

[2018-07-16 13:33] andresilva commented on #9131
`finalizeChange` is called after the engine sees signatures from more than 50% of authorities in the validator set, built on top of the block that signaled the change. Which means that if you have a system with 3 nodes and 1 goes down, in order to be able to trigger a change in the validator set the remaining 2 nodes must be online and producing blocks.

[2018-07-16 13:34] 4ntoine opened #9133 "Light client does not respond to eth_getTransactionReceipt request"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**Background**

The app connects to Parity which is running in Docker over http://127.0.0.1:8545:

After connection the app subscribes to smart contract events and calls smart contract method

[2018-07-16 13:38] 4ntoine commented on #9133
It looks like 10 seconds interval between request and socket closed

[2018-07-16 13:45] 4ntoine commented on #9133
there is no reply to this

[2018-07-16 13:47] 4ntoine commented on #9133
i've tried to set different timeouts for OkHttpClient and still having 10 seconds socket closed so i doubt it's client fault:
[code]

[2018-07-16 13:47] niklasad1 commented on #9124
@holiman
Thanks for the report #9134  should solve these issues but in addition, you need to use the `nightly toolchain` to run the benches!

[2018-07-16 13:47] msbachler commented on #9131
We technically have 5 nodes in the network. One then went down. One external was running and we control three, that where all running. So it should defintaley have had at least 3 of the 4 if not all 4 validate and only the one that went down, not validate. Our contract is not a voting one, so I assume you mean that the 50% rule is at the core Parity level.

We did up the logging level to see engin

[2018-07-16 13:49] 4ntoine commented on #9133
Socker is closed too BTW ;)

[2018-07-16 13:52] 4ntoine commented on #9133
I'd happy to assist in solving this, i can try with the latest "branch topic" source code.
Let me know.

[2018-07-16 13:59] andresilva commented on #9131
So currently your validator set has 5 authorities of which 3 are definitely online, you're correct that this majority should be enough to finalize those changes. Did those 3 authorities produce any block after the change was triggered? They have to be online but also produce blocks, because signing blocks is the only way that authorities implicitly signal their support for a chain. Are you running

[2018-07-16 14:02] Tbaut commented on #9129
Is this a specific problem with this transaction? Have you been able to perform this call in the past?

[2018-07-16 14:12] kevinaquick commented on #9131
Hi - I work with Michelle.

We have force-sealing set to false on our nodes.

Re. the other authorities producing a block - we will have to write a script to do this and get back. When we have been testing - after adding a new validator we have pushed through a few money transfers to create transaction and hence  blocks to try to trigger the finalizeChange, but as those were all sent to the one no

[2018-07-16 14:15] Tbaut commented on #9125
They are deprecated and not used anymore in v1.11 in favor of the following config:
[code]

More info on the new Tx queue here https://wiki.parity.io/Transactions-Queue

[2018-07-16 14:17] andresilva commented on #9131
@kevinaquick try enabling `--force-sealing` on each authority node. It will basically make sure that authorities **always** produce a block when its their turn (even if there are no transactions, it will produce an empty block). This will guarantee that blocks keep getting sealed at every step by all authorities and therefore makes the engine able to finalize blocks in a timely fashion.

[2018-07-16 14:39] kevinaquick commented on #9131
@andresilva thanks for the explanation - that really has clarified how the validation contract functions and the necessary conditions for getting a finalizeChange being triggered.

We have tried with our private network by publishing a number of transactions sufficient to cause the validators to take their turn validating a block and this has indeed led to the finalizeChange being triggered. We ar

[2018-07-16 14:50] andresilva commented on #9131
We recently added a feature in aura called "empty steps" to solve this exact issue, nodes send messages among themselves to avoid creating empty blocks while still maintaining the same finality guarantees, you could try enabling it (https://wiki.parity.io/Aura#empty-steps). Mind you this feature is recent so I'd advise you to try it in a test network first. Feel free to open other issues if you ha

[2018-07-16 14:50] #9131 closed

[2018-07-16 15:03] phahulin commented on #9125
@Tbaut these are configuration options. My question is about updating those values via api (especially gas price), without client restarts.

[2018-07-16 15:30] Pzixel opened #9136 "Major upgrade of network is impossible"
I'm trying to update my network to 1.10. To perform such a conversion I updated docker image one one machine and changed `chains.json`:

![image](https://user-images.githubusercontent.com/11201122/42767300-46f76fbe-8925-11e8-8e37-fc8c98807d17.png)

_I merely moved `gasLimitBoundDivisor` to the new location_

When I start the node it outputs following:

[code]

And it fails to reconnect to the netw

[2018-07-16 15:37] folsen commented on #8618
@c0deright thank you for the hard work profiling, it's super helpful. Closing this unless you find some new discoveries.

[2018-07-16 15:37] #8618 closed

[2018-07-16 15:53] Vagabondtq opened #9137 "how to send local address"
I created some accounts on my computer use Parity. I'm sent ETH to this accounts.
Now, i want move all balance of all accounts to new account *without fee*.
I can?

[2018-07-16 16:01] Tbaut commented on #9125
Answered above

You can't fo it dynamically, it's a feature request :)

[2018-07-16 16:02] Tbaut commented on #9125
Please modify the title accordingly.

[2018-07-16 16:07] Tbaut commented on #9136
Why did you change the `chains.json`? The new docker should have the right one. Is there any other error that could help us understand what happened (launching with `-l debug` for instance)?

[2018-07-16 16:08] Tbaut commented on #9137
No you can't without fee.

[2018-07-16 16:08] #9137 closed

[2018-07-16 16:18] Pzixel commented on #9136
@Tbaut because they was moved from the original location in https://github.com/paritytech/parity/pull/6134 . With original json I get

[2018-07-16 18:36] vogelito commented on #8974
Thanks @5chdn . I can confirm we haven't seen this issue since my report last Friday.

[2018-07-16 19:20] #9124 closed

[2018-07-16 20:34] phahulin commented on #9125
@Tbaut OK, I updated the title, but is there any way to get more insight on why these api calls were deprecated? I mean -  these methods were already there and then were removed on purpose. Maybe this feature request doesn't make sense in the new tx queue implementation? Maybe there's some other way to update the price now?

[2018-07-17 01:50] sorpaas opened #9139 "pwasm with FromSenderSaltAndCodeHash scheme contract creation"
rel #9140

Currently, in parity-ethereum's wasm engine, we use `FromSenderAndCodeHash` scheme for `create` extern runtime. This seems to be from the old EIP-86 CREATE_P2SH opcode. The issue with this, as pointed out in EIP-86, is that one contract cannot create multiple "sub"-contracts with the same init code.

Would we consider to add a new `create2` extern runtime for pwasm to support `FromSende

[2018-07-17 01:58] jackieWhn commented on #9129
@Tbaut, this is my first time to use private tx. I think mybe i missing something about secretstore. Do you know how to config the permission contract address? thanks

[2018-07-17 03:16] Aludirk commented on #8000
is the TokenReg stop maintained?
404 for this repository: https://github.com/paritytech/contracts/

[2018-07-17 06:34] MyS5Droid commented on #8709
**@vikaskyadav** no it was not... Also you ran off without responding, so I responded for the issue owners so they can get the issue resolved. You can't just apply for many projects, disappear, and then when someone else works on it, come back and say "oh I actually meant to do that" when you were not communicating with the owners.

**Issue type is "Traditional".** If you wanted a multiple coder p

[2018-07-17 08:11] vikaskyadav commented on #8709
Are you dumb man? Didn't you see me on the task before starting the work?
Who the hell are you and why should I respond to you?? That is the issue
between me and the repo owner. You don't need to work on someone else's
task till the time somebody has got charge of it. Just understand this. and
it's not of your concern even if I am running of from the project. Mind
your business and see how gitcoin

[2018-07-17 08:19] 5chdn commented on #8000
@Aludirk sorry it moved here: https://github.com/parity-contracts/token-registry

[2018-07-17 08:23] c0deright opened #9142 "Upgrading from 1.11.5 to 1.11.6 → CPU usage through the roof"
I'm running a parity beta test machine for all kinds of things. Yesterday I upgraded the machine from 0.11.4 to 0.11.6 and now parity uses much more CPU. Last night the CPU credits for the AWS ec2 t2.medium instance went to zero because of that (t2 instances have a CPU credit system. using your CPU less than a certain limit earns you credits that you can use later for CPU heavy tasks).

I upgraded

[2018-07-17 08:47] Tbaut commented on #9136
Got it, so in your first post should have the following not to be misleading:

What were the outputs of the logs?

[2018-07-17 08:55] jchen86 commented on #8970
Hi,

I'm having the same problem on 1.11.5, local network of 3 nodes, PoA engine.

This error doesn't seem to be recoverable, I had to wipe my local data to get my dev environment running again. I don't have the server logs at the moment but this is the client side error I got when when I tried to send a transaction over WebSocket:
`Error: Returned error: There are too many transactions in the que

[2018-07-17 09:19] Tbaut commented on #9125
We completely changed the logic of the queue. The idea was to push the changes and test them, see how it works (pretty smooth so far) and then adapt to the needs. I believe there is no other way to change the gas price.

@tomusdrw can tell if this makes sense to build `parity_setMinGasPrice` for the new logic.

[2018-07-17 09:23] Tbaut commented on #9129
I wrote a Secret Store tutorial available here: the Part 4 tells how to configure the permissioning contract, have a look: https://wiki.parity.io/Secret-Store-Tutorial-overview

[2018-07-17 09:33] tomusdrw commented on #9125
The methods were deprecated cause they might interfere with internal changes done inside miner (like automatic min gas price based on USD rate).

Also it was a bit unclear whether those methods should apply for transactions already in the pool or not.

For the new quue, it's possible to have `parity_setMinGasPrice` and `parity_setTxGasLimit` back, but `setMinGasPrice` should either error or disabl

[2018-07-17 09:41] c0deright commented on #9142
Testing 1.11.5 right now

[2018-07-17 09:45] phahulin commented on #9125
@tomusdrw thanks, I think it makes sense to error `parity_setMinGasPrice` if automatic calibration is used.
These seem to be unrelated "modes" of how gasprice value is obtained: either read from config and updatable via `parity_setMinGasPrice` OR obtained from external api

[2018-07-17 10:48] Pzixel commented on #9136
It wasn't on the possible option list. It's probably worth adding it into issue template.

[code]

That's all the logs.

[2018-07-17 10:59] axic opened #9147 "Split out bn128 helpers into a separate package"
This is kind of a feature request.

Currently the precompiled contracts are implemented in [ethcore/builtin](https://github.com/paritytech/parity/blob/c7f608ec740882eac94038249037ddd955b60d31/ethcore/src/builtin.rs). The bn128 ecadd/ecmul/ecpairing precompiles are implemented there as well, using the `bn` crate as the underlying library.

In ethereumjs-vm the same underlying library is used and pa

[2018-07-17 11:51] c0deright commented on #9142
#### 1.11.5
1.11.5 doesn't show the high CPU usage constantly. It has burst of 100% CPU, yes, but it declines to 3-6% CPU usage afterwards real quick without problems and certainly stays below 30% CPU on average. Looking at cacti and top I would say it equals 1.11.4 in CPU usage.

**AWS ec2 t2 CPU credits are increasing while running this version.**

#### 1.11.6
1.11.6 however is completely differ

[2018-07-17 12:32] debris opened #9150 "SyncHandler decoding errors are silently ignored"
Some `PacketDecodeErrors` are silently ignored by `SyncHandler`

e.g.

error originates from here:

https://github.com/paritytech/parity/blob/21e0cd7781f55f0007d5c7d87929f49513367e27/ethcore/sync/src/chain/handler.rs#L290

and is propagated to here:

https://github.com/paritytech/parity/blob/21e0cd7781f55f0007d5c7d87929f49513367e27/ethcore/sync/src/chain/handler.rs#L77

and logged here:

https://g

[2018-07-17 13:33] nicexe commented on #9110
The same problem exists on *nix systems. Confirmed on CentOS 7 and macOSX 10.13

(the env variables on such systems look more like `$THIS` though)

[2018-07-17 13:55] vikaskyadav commented on #8709
Yeah, It would be better if docker image does that automatically. Some
scheduler will do in this scenario. Even hacky way will do for reloading
the log.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>

On Tue, J

[2018-07-17 14:06] Tbaut commented on #9136
Please launch it with `-l debug` and paste the logs here.

[2018-07-17 15:14] holiman opened #9152 "Missing benchmarks"
Before Byzantium, we did some benchmarks on the `metropolis-update` branch, and got these nice benchmarks when doing `cargo bench -p ethcore`:

[code]
When I redid it on `master` now, I only get these:
[code]
Could someone please resurrect the old benchmarks that are not present on `master`?

[2018-07-17 16:12] Tbaut commented on #8923
@iamonuwa are you still working on this issue? Please submit a WIP PR or comment back within the next 3 days or you will be removed from this ticket and it will be returned to an ‘Open’ status. Please let us know if you have questions!

[2018-07-17 16:55] niklasad1 commented on #9053
@mikonieminen
Hey,
It works fine for me on the `latest master`

[code]

Just to verify, did you start the `Ledger ethereum app` before running it?

[2018-07-17 18:57] rohstar commented on #6548
Still having this issue:

`ubuntu@ip-172-17-1-44:~$ bash <(curl https://get.parity.io -L)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   170    0   170    0     0    612      0 --:--:-- --:--:-- --:--:--   611
100  4347  100  4347    0     0   8454      0 --:--:-- --:--:-- --:--:--

[2018-07-17 20:05] phutchins commented on #8974
At first I thought that this was resolved with the x.6 release as I hit 100
peers and stayed there for a few days. Unfortunately however as soon as I
pushed transactions through the node it dropped back to the single digits
and isn't holding up now.

On Mon, Jul 16, 2018, 2:44 PM Daniel Vogel <notifications@github.com> wrote:

[2018-07-17 20:17] tomusdrw commented on #8974
@phutchins Can you elaborate on "pushing transactions through the node", did you submit multiple transactions over the RPC? Were these signed (`eth_sendRawTransaction`) or do you use `eth_sendTransaction`? What transaction queue settings do you have?

[2018-07-17 20:46] Pzixel commented on #9136
Here they are:

`authority1_1  | Loading config file from /parity/config/authority.toml
authority1_1  | 2018-07-17 20:17:12 UTC main WARN parity::run  Parity browser interface is deprecated. It's going to be removed in the next version, use standalone Parity UI instead.
authority1_1  | 2018-07-17 20:17:12 UTC main WARN parity::run  Standalone Parity UI: https://github.com/Parity-JS/shell/releases

[2018-07-17 21:27] nostdm opened #9155 "Instant seal engine - private network - transactions with correct nonce sometimes get stuck"
I set up a private dev network with 3 Parity nodes using the instant seal engine (the same issue occurs with a single node).

Whenever I send a bunch of transactions from the same account in quick succession, I almost always end up with the following network state:

Given an account with a nonce of 50:
[code]
There are transactions in the pending pool which look like this:
[code]

All the transact

[2018-07-18 03:35] jackieWhn commented on #9129
So, if i want to use private tx, i hava to build Parity Ethereum client which support Secret Store? @Tbaut

[2018-07-18 05:45] eosclassicteam opened #9156 "[WIP] Add EOS Classic support"
We would like to add EOS Classic mainnet as a side chain of Ethereum,

However our current logic for rewarding miners isn't compatible with parity client

We need the following logic for our chain consensus

- [ ] **Check if it is EOS Classic chain ( Need hash check for genesis block )** - We need this feature for PR
- [ ] If it is EOS Classic chain use new reward logic ( We use modification logic

[2018-07-18 05:45] eosclassicteam commented on #9156
@5chdn

[2018-07-18 07:35] 5chdn commented on #9156
Thanks, just create a PR once you are finished.

[2018-07-18 07:35] #9156 closed

[2018-07-18 07:56] eosclassicteam commented on #9156
@5chdn We need help 😂

[2018-07-18 08:04] umegaya opened #9157 "VM execution error when calling function with bytes[] argument (ABIEncoderV2)"
**steps to reproduce**
1. deploy following contract into parity

[code]

2. then call it from truffle test
[code]

**expected behavior**
```retval 1``` should shown on console and truffle test success

**actual**
1. truffle raises VM execution error and test fails

[code]

2. parity actually shows VM execution error on their log
[code]

**thought**
with ganache-cli and truffle, calling function wh

[2018-07-18 08:10] 5chdn commented on #9156
Any specific question?

[2018-07-18 08:30] eosclassicteam commented on #9156
@5chdn Yes here is our question https://github.com/paritytech/parity-ethereum/pull/9158 We will give the bounty for parity team if needed 😄

[2018-07-18 08:50] Tbaut commented on #9136
Hmm it doesn't give much more info, can you tell what differences you have between your genesis and the one from Kovan for instance: https://github.com/paritytech/parity-ethereum/blob/master/ethcore/res/ethereum/kovan.json

[2018-07-18 08:54] 5chdn commented on #8619
:tada:

[2018-07-18 08:54] #8619 closed

[2018-07-18 08:55] c0deright commented on #9142
I'm testing 1.11.7 right now and it looks good so far. Did you remove a CPU intense feature or how come 1.11.7 looks normal?

Will report back in a couple of hours.

[2018-07-18 08:56] jackieWhn commented on #9129
hi @Tbaut  how to write the value of **sstore_url**  under [private tx] ？
I set "sstore_url = "http://127.0.0.1:8082" and to deploy the private contracts getting the error below ：

 GetDocumentKey request /000000000000000000000000122641af7886a1713f74d6751056ac8f1b8bf0d9/2b8e889c2a6491ae22e22a74da877499a6f1492ef342899a104ae22fd545694474ff7e669c352d64883be686a7577dd9dbbe8835c88004e55e9ea53ad9aff76f0

[2018-07-18 08:56] Tbaut commented on #9155
Can you provide a web3.js codes to reproduce? Are you sure that all the Txs before get mined and that you do not have a nonce gap? We generally advise handling the nonce counting in your code if you wish to send a lot of Txs in a short time frame.

[2018-07-18 09:38] Pzixel commented on #9136
This is complete `chain.json` for currently running 1.7.7 node:

[code]

And here is the fixed json for 1.10.9:

[code]

[2018-07-18 09:52] 5chdn commented on #8974
@MicahZoltu is that what your nodes experience, too?

[2018-07-18 10:02] andresilva commented on #9106
More importantly, why is it failing? It this something that happened only once? The error number seems to point to EINVAL which for `renameat2` means:

"The new pathname contained a path prefix of the old, or, more generally, an attempt was made to make a directory a subdirectory of itself."

[2018-07-18 10:03] umegaya commented on #9157
FYI: I try to invoke same call with ethers.js, it can work fine. so its more likely to be caused by truffle or web3.js.

[2018-07-18 10:17] c0deright commented on #9142
1.11.7 doesn't show this high CPU issue. In fact, it seems to have even lower CPU usage on average than 1.11.4 or 1.11.5.

Will close this issue now.

[2018-07-18 10:17] #9142 closed

[2018-07-18 11:59] debris commented on #9106
@Tbaut what are the cli options that parity was started with?

[2018-07-18 12:37] Tbaut commented on #9136
can you tell what differences you have between your genesis and the one from Kovan?

[2018-07-18 12:58] Pzixel commented on #9136
Sorry, I don't understand the question and why are you talking about Kovan. As far as I know it's a pwasm-enabled network, and I'm talking about simple private ethereum network.

I have shown entire configuration for the old and new versions.

And yes, I don't know how to check genesis of anything or compare it anyhow.

[2018-07-18 13:08] MicahZoltu commented on #8974
No, when my node gets into the bad state I just see this line repeated every `n` seconds and nothing else:
[code]

When in this state, the latest block returned by `eth_getBlockByNumber('latest')` never changes, and I don't see the other log line I normally see when blocks arrive.

[2018-07-18 14:52] 4ntoine opened #9165 ""geth attach" hangs"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**Background**

**Actual**
`geth attach http://127.0.0.1:8545` hangs:
[code]

**Expected**
after `geth attach` I can see ">" to type commands

Relates to 1.11.7 and 2.0.0-beta too, can not be

[2018-07-18 14:54] kerematam opened #9166 "Transactions have higher nonce value than it supposed to be and they are not listed in pendingTransactions"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I've actually two issues where i believe they are related to each other.

1- Somehow Parity make transactions with future nonce values (as long as i wont set it manually). I might have done s

[2018-07-18 16:07] NikVolf commented on #9147
Hi axic!

Sure, we will accept the pr, no reason against it.

But the code in ethcore/builtin is merely deserialization and serialization of points and field members, all the work is done in bn itself, what do you want to split out exactly?

[2018-07-18 17:12] Tbaut commented on #9106
It was `--warp-barrier` and `--no-ancient-blocks`@debris

[2018-07-18 17:19] axic commented on #9147
If you can have a look at https://github.com/ewasm/ethereum-bn128.rs/blob/master/src/lib.rs it has the parts we need to be split: the (de)serialisation and the test cases.

I'd assume these internal helpers would then be called by the `Builtin`
 implementation for the said precompiles.

The gas calculation could also go in there, but not necessarily.

[2018-07-18 22:17] aarlt opened #9167 "je_malloc_usable_size not found"
I having an issue building `parity-clib`. I get the following linker error, because of undefined symbols:
[code]

I used `cargo build -p parity-clib` to build `parity-clib`.

[2018-07-19 02:54] crow123 opened #9168 "db flush panic"
Thread 'Verifier #0' panicked at 'DB flush failed.: Error(Msg("IO error: While open a file for appending: /root/snap/parity/14219/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d/overlayrecent/db/133213.log: Permission denied"), State { next_error: None, backtrace: None })', libcore/result.rs:945

[2018-07-19 08:37] iamonuwa commented on #8923
@Tbaut I am looking at finishing this task today

[2018-07-19 08:38] niklasad1 commented on #9167
Hey,

I think this is an issue with the [heapsize crate](https://github.com/servo/heapsize) crate because it assumes ```je_malloc``` exists and in debug builds clang disables ```je_malloc```!

For further description see: https://github.com/servo/heapsize/issues/80

I don't have any Mac machine to confirm this but may just try ```cargo build -p parity-clib --release```

@tomaka  any thoughts on th

[2018-07-19 08:44] tomaka commented on #9167
Shouldn't this also happen when compiling the parity binary?

[2018-07-19 09:02] holiman commented on #9152
cc @arkpar -- do you know whatt happened to them?

[2018-07-19 10:46] #9150 closed

[2018-07-19 11:06] arkpar commented on #9152
Not sure why they did not make it to master. I've restored the branch though.

[2018-07-19 11:08] arkpar commented on #9152
These commits should be merged:
https://github.com/paritytech/parity-ethereum/commit/ea60a528c85789c3f53d8f8ee22c74bf43860959
https://github.com/paritytech/parity-ethereum/commit/e93a68ce447ed5c6683c2ae33e583d9c3e763696
https://github.com/paritytech/parity-ethereum/commit/fe3cfa862d40bc87b9305dcd53383f44bc8ac8d5

[2018-07-19 11:35] aarlt commented on #9167
@niklasad1 unfortunately `cargo build -p parity-clib --release` is also not working.

@tomaka a normal parity build with `cargo build --release --features final` works - no linking problems.

[2018-07-19 11:44] niklasad1 commented on #9167
I think this only applies dynamically linked libraries i.e, with rust terms ```dylib``` or ```cdylib```. If I have understood this correctly `heapsize` assumes that symbol `je_malloc_usable_size` exist in the binary when it is statically linked it does but when it dynamically linked it might not!

[2018-07-19 12:58] aarlt commented on #9167
Hmm.. after looking into `https://github.com/servo/heapsize/blob/master/src/lib.rs` it seems that there is an dependency to the `jemalloc` library. After just running `brew install jemalloc` to install that library the problem still persists. After checking the exported symbols of that lib, it looks like that the symbol `_je_malloc_usable_size` doesn't exist there, but there is a symbol named `_ma

[2018-07-19 13:08] 4ntoine opened #9169 "Parity does not process transactions in light mode"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**Actual**
Curl hangs forever

**Expected**
Transaction receipt is returned

**Background**

v1.11.7 is running on mac:
[code]
log:
[code]

After that tested using curl (just hangs):
[code]

[2018-07-19 13:10] 4ntoine commented on #9169
After retrying i've got:
[code]

[2018-07-19 13:31] aarlt commented on #9167
I found a workaround for this, but I'm not sure whether this problem will also exist on ios / android. Those are the first rust lines I wrote :D

However, I added the following function to `parity-ethereum/parity-clib/src/lib.rs` - this will just be a proxy function that will call the correct function exported by jemalloc on macos. If the code is correct I would be also able to create a pull reque

[2018-07-19 13:32] debris commented on #9168
Process clearly doesn't have enough credentials to open the file.

Please provide more details. Does it happen on application start? Which version of parity? Is it run in a docker etc.

[2018-07-19 13:35] debris commented on #9157
afaik web3.js does not support ABIEncoderV2. This is not a parity/vm issue, but the problem with those libraries. Therefore I'm closing the issue ;)

[2018-07-19 13:35] #9157 closed

[2018-07-19 13:44] debris commented on #9133
@4ntoine thanks for the report. We will investigate the problem.

TL;DR;

parity does not respond to `eth_getTransactionReceipt` request

[2018-07-19 13:45] Tbaut commented on #9168
That a problem related to snap, could you please use the binaries?

[2018-07-19 13:46] debris commented on #9102
@XertroV are you using rpc over http or ipc?

[2018-07-19 14:00] 4ntoine commented on #9133
Oh, so it's intentional behaviour? #9169
So it will not work with `web3j` for smart contract for all synchronous calls?

[2018-07-19 14:02] Tbaut commented on #9136
As explained on the chat, Kovan is very similar that your private chain. It's PoA based and the genesis should be very similar. Jumping from 1.7 to 1.10 is pretty big though.
Are all of your Authorities running on 1.7 and you tried upgrading 1 is that right?

A could you try with 1.8 and gradually update all the authorities?

[2018-07-19 14:02] debris commented on #9133
It's not. It's a bug :)

[2018-07-19 14:05] 4ntoine commented on #9133
Thanks for reply. Waiting for the bugfix/workaround ..

[2018-07-19 14:05] Tbaut commented on #9165
Why makes you think it's a parity problem? Can you tell what flags you launch parity with?

[2018-07-19 14:08] 4ntoine commented on #9133
btw any older parity version where it's responding to `eth_getTransactionReceipt`?

[2018-07-19 14:18] Tbaut commented on #9166
In general, Parity Ethereum will increment the nonce automatically when a transaction is sent. There are multiple reasons for a transaction not to be mined, have a look at https://wiki.parity.io/Transactions-Queue#accepting-conditions. This usually means that your subsequent transaction will have a nonce gap and will not get mined. To prevent this you can reset the mem pool by launching parity wit

[2018-07-19 14:19] 4ntoine commented on #9165
Running it in docker with:

Any reasons to think it's not parity? I can check if you point up

[2018-07-19 14:21] 4ntoine commented on #9165
BTW it seems it's in sync and getting block number blocks the output

[2018-07-19 14:32] mikonieminen commented on #9053
@niklasad1 I tested same steps with the light and non-light (yes, enabling ethereum app in my Ledger). When ever I used light, I failed to connect with my Ledger.

I can do another test run with latest stable and beta.

[2018-07-19 14:34] TildeSlashC0re commented on #7531
I am running the "**stable**" branch `Parity v1.11.7-20180717 stable` and never even reach the minimum nodes set in the config (which is 25) ... at most I get 5 nodes to connect and those get dropped constantly.

Port 30303 is forwarded. Cache is cleared. Nodes.json is also cleared.
All of the above doesn't change the fact.

It is mind-boggling to me how this issue has been closed when clearly it'

[2018-07-19 14:45] cseberino commented on #7531
TildeSlashC0re - Strange because for me it has been fixed since the v11 unstable package.  I don't always get 25 but often 23 or so.

[2018-07-19 15:34] andresilva commented on #9152
Some of them did make it to master, added the missing ones in #9170.

[2018-07-19 15:43] aarlt commented on #9167
@tomaka yeah that may be true. I guess thats really an issue within `https://github.com/servo/heapsize`. My understanding - I'm not a `rust` developer - https://github.com/servo/heapsize/blob/master/src/lib.rs#L44 seem to change the symbol name for `macos`, `ios` and `android` to be what is not correct - at least for `macos`. The symbol name need to be `malloc_usable_size` - as it would normally b

[2018-07-19 16:00] aarlt commented on #9167
I just created an issue here: https://github.com/servo/heapsize/issues/97

[2018-07-19 16:14] tomaka commented on #9167
Unfortunately I think they have been having a pretty long discussion about this already, and the conclusion is that `heapsize` is wrong *by design* and that something else should be used.

[2018-07-19 16:20] aarlt commented on #9167
Ah ok.. sounds not good..

However, I think it might be a good idea to add `cargo build -p parity-clib --release` to your CI. I guess youre also doing there `ios` and `android` builds - so at least there seem to be an easy way to find out whether this is not only an `macos` issue.

[2018-07-19 16:22] cpurta commented on #8761
Currently have add some functionality to the blockchain implementation to add/get bad blocks. Currently trying to expose that to the blockchain client for the rpc api to have access. Will try and get a PR open within the next week.

[2018-07-19 16:32] TildeSlashC0re commented on #7531
Tried the classic chain .. the problem persists.

I have disabled the whisper protocol now and topped out at 18 peers at first just to drop down to 1 peer about 15 minutes later and overall the connection to peers is highly inconsistent.

here's the **config.toml**
[code]

Here's an hour worth of parity-log running on foundation chain
[code]

[2018-07-19 16:41] ascjones commented on #9106
I also had this just now with `--warp-barrier`

[2018-07-19 17:05] aarlt commented on #9167
@tomaka please see https://github.com/servo/heapsize/issues/97#issuecomment-406333603

[2018-07-19 17:42] cseberino commented on #7531
I had the peer count problem for months so I know how annoying it is.  I'm not so good at
debugging Parity setups.  All I can tell you is I have Ubuntu 18.04 with this systemd file to start and
it works..

[Service]

User=cs
ExecStart=/usr/bin/parity --chain classic                                      \
                          --jsonrpc-apis eth,net,parity,personal,web3          \

[2018-07-19 17:56] TildeSlashC0re commented on #7531
well I'll leave it at that for now I guess...

really frustrating to see that even the stable branch can't handle a persistent peer-count over a relatively short time-span.

Regarding my [initial comment](https://github.com/paritytech/parity-ethereum/issues/7531#issuecomment-406298102) in here it seems to have originated from having whisper protocol enabled.

[2018-07-19 18:27] Tbaut commented on #9155
Is there any reason why you did not use the `--chain dev`?
Your config file is full of default values and not used params, it is therefore quite hard at first glance to debug/understand what your setup has in particular.

I do not have the ability to run anything with go on my machine, unfortunately.

[2018-07-19 18:34] Tbaut commented on #9169
This is most probably linked to https://github.com/paritytech/parity-ethereum/issues/8918
BTE, `tracing`, `ui-interface`, `pruning` flags don't do anything in light mode

[2018-07-19 18:34] #9169 closed

[2018-07-19 18:43] Tbaut commented on #9165
You're asking in a parity repo why `geth` command doesn't answer :)

I don't get that.

[2018-07-19 18:48] 4ntoine commented on #9165
because `geth` requests block number from parity

See where it hanged - the following line should be block number in regular input message.

[2018-07-20 00:40] XertroV commented on #9102
@debris HTTP - the nodes are all remote (publicly accessible) and don't run anything else on them besides stats, healthcheck, etc. Didn't check if IPC was affected, and haven't been able to replicate. Actually just disabled debug logging because the log files were about 20GB

[2018-07-20 01:43] xenoexclusive opened #9176 "DB Atomic Swap Failed: MoveFileTransactionW failed with code: 5"
Unfortunately each time I complete a warp sync, I get this error which then restarts the sync from scratch, resorting to 0/1777 of snapshots and an entire new attempt at syncing, repeating with this error. Have tried deleting user data numerous times, restarting etc. EG:

2018-07-20 13:35:35  Syncing snapshot 1774/1777        #0   16/25 peers      9 KiB chain    3 MiB db  0 bytes queue   10 KiB sy

[2018-07-20 05:03] vs77bb commented on #8761
Thanks for the update @cpurta!

[2018-07-20 06:17] wallaceturner commented on #8833
ok its happened again - this time without a parity crash (i stopped it cleanly)
its exactly same problem as before... looks to start up correctly however the logging never 'makes' it to the final stage, that is the part where it says '
[code]
but its missing the usual next line in the log
[code]

is there something I can do?

[2018-07-20 07:13] vs77bb commented on #8709
@vikaskyadav @mtrubs @MyS5Droid To clear things up from the Gitcoin side, this is listed as a 'Traditional' ticket with 'Applicants', **one** of which is to work independently on the ticket. In this case, I'd agree that @MyS5Droid has made progress on this ticket and thus should be the applicant who moves forward.

I'd like to take responsibility for not approving a worker sooner. @vikaskyadav Fee

[2018-07-20 08:34] ppratscher commented on #8974
We are still seeing this with the new 2.0.0 version:
[code]
All of those incidents we observed have in common that the highest block number seen on the network is always lower than the block that is currently processed. For example in the output above the currently processed block is 5997033 but the highest block seen on the network varies between 5997026, 5997033 and 5997014.

[2018-07-20 08:41] aarlt commented on #9167
@tomaka @niklasad1 I still don't really understand why there is no linking issue with the normal parity build - any ideas?

[2018-07-20 08:55] tzapu commented on #7531
got a couple of betas (rc2 i think), one has 0 peers, one has 1 peer :|

[2018-07-20 11:32] nostdm commented on #9155
As far as I'm aware, `--chain dev` doesn't allow me to set up a custom private network with multiple parity nodes and a bootnode.

[2018-07-20 11:37] nostdm commented on #9155
@Tbaut

I used a custom config and genesis file mainly because it allows me to set up a private network with more control. But here is the same example with `--chain dev` and using a JavaScript program instead of Go:

Docker command to run the container:
[code]

Script to send a couple of asynchronous transactions (`test.js`):
[code]

Dependencies (`package.json`):
[code]

CURL command to check pe

[2018-07-20 12:58] vogelito commented on #9102
RPC in one of our parity nodes stopped working for us a few hours ago. The following line lines up perfectly with our software being unable to talk to parity:
[code]

We had never seen this issue before and not entirely sure that it is related to @XertroV's problems but wanted to post it here. This node had been running for a month:
[code]

We're currently upgrading to v1.11.7 and will restart our

[2018-07-20 13:06] #9152 closed

[2018-07-20 13:22] Pzixel commented on #9136
Hmm, I probably could. However, I'm not sure if it worth. It's probably easier to me to just create a new network and migrate data. My boss is very upset that network is not working for a week so unfortunately I probably don't have time to try this way.

this is `ethbot` output for my nodes (thanks to @NikVolf ):

-- authority0

-- authority2

So it seems that I didn't change genesis or something.

[2018-07-20 13:31] mtbitcoin opened #9177 "Parith RPC eth_call failing"
_Before filing a new issue, please **provide the following information**._

Running the following curl command returns an empty value

[code]

[2018-07-20 15:17] holiman commented on #9152
Thanks! Would be great if you can help me determine the gas cost of each testcase/benchmark

[2018-07-20 19:31] antonislav opened #9178 "Gas used according to transaction trace doesn't match transaction receipt"
It appears that the amount of used gas according to the transaction traces (obtained by the RPC call `trace_block`) doesn't match the amount according to the transaction receipt (obtained by the RPC call `eth_getTransactionReceipt`).

Here is one concrete example, for the transaction hash `0xcbaa1b514a4565003fa0708a21cf0ddb115ab20d2c9373ffda0c129d1deaeebc`:

transaction trace:
[code]

transaction

[2018-07-21 12:15] computerality opened #9180 "archivedb assertion on when syncing and launch"
I'm running parity with the following arguments:
`./parity  --no-ipc --pruning=archive --tracing=on --fat-db=on`

An assertion happened in util/journaldb/src/archivedb.rs while syncing and now happens every time parity is launched using the dame data dir.

[code]
When running with -l debug, the following are a few debug messages before the assertion:
[code]
And the following messages appear after

[2018-07-21 12:50] ghassheee opened #9181 "build failure on NixOS"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hi, I failed to build hidapi when compiling on nixos.
I tried to pass library path via LD_LIBRARY_PATH and LIBRARY_PATH but I could not...
I cannot solve it right now and I did not see what i

[2018-07-21 13:15] akru commented on #8612
@sorpaas Yes, as I see, parity fork of `ring` packages are merged with upstream and my hack disabled.

@briansmith What you think about using environment variable (flag) to enabling use of pregenerated asms? Because using of pregenerated files by default is not so good, as we can see in this case.

[2018-07-21 13:33] niklasad1 commented on #9181
Hey @ghassheee,

Do you have `libudev` installed? Because, it looks like ```libudev.h``` is not found!

@sorpaas  Any thoughts on this?

[2018-07-21 14:19] ghassheee commented on #9181
In nixos I have libudev.h at
[code]

I think I could not pass it to the compiler.

[2018-07-21 14:46] ghassheee commented on #9181
Sorry for my upset...
I could pass it and I could build it.
with passing directly ...

[code]

[2018-07-21 14:50] ghassheee commented on #9181
And encountered another problem :-(

[code]

[2018-07-21 14:55] ghassheee commented on #9181
Some of these issues seem to be problems of rustc-version.
I will try it with `nightly` again.

[2018-07-21 15:04] niklasad1 commented on #9181
Hey again, you need to update your Rust toolchain and everything should be ok!

[2018-07-21 15:43] ghassheee commented on #9181
Finally, I could build it with the following configuration file:
 `shell.nix`
[code]

[2018-07-21 16:10] #9181 closed

[2018-07-21 16:12] phutchins commented on #8974
@tomusdrwsome details on 'pushing transactions'... I have written an application that sends out batches (300) of transactions from a list of transactions (can be 10k-150k in total volume). I'm currently using RPC and calling the transfer method on an erc20 contract which I assume is calling eth.sendTransaction in the background. I can dig through the library to find out if necessary.

After this,

[2018-07-21 20:43] mttmartin commented on #8550
@vs77bb to remind you, I asked you on slack whether I should stop work or whether you should cancel the bounty, and you said to submit work.

[2018-07-22 08:26] redeyeSPB opened #9182 "Delay on Time transactions"
_Before filing a new issue, please **provide the following information**._

when there was a parity UI, it became noticeably slower program, the main problem today is that when I send a transaction from my wallet (time transaction)  at a time says at, for example 5:00 I set the timer... and always get a delay of 2-3 minutes...(I mean transaction will be sent only 5:02-5:03 (help with this problem

[2018-07-22 09:57] kelvintyb commented on #9057
Still WIP

[2018-07-22 16:10] wongwf82 commented on #6995
FYI, the transaction that Successfully completed here:
https://etherscan.io/tx/0x47f7cff7a5e671884629c93b368cb18f58a993f4b19c2a53a8662e3f1482f690

[2018-07-22 16:21] vikaskyadav commented on #8709
Check with @MS5Droid. I am off with this bounty.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality3&>

On Sun, Jul 22, 2018 at 9:45 PM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-07-22 16:46] raphadko opened #9183 "ERC20 Tokens in JSONRPC?"
From the documentation:

"The Parity Ethereum wallet supports any ERC20-compliant token by displaying balances and enabling transfers to be as simple as Ether transactions"

How to register new tokens and sign transactions of ERC20 tokens through the RPC?
I looked through the documentation but didn't find anything related to this.

[2018-07-22 17:40] jimpo opened #9184 "eth_getLogs RPC is unreliable in light mode"
The eth_getLogs RPC only works for recent blocks in light mode. Specifically, it only works if logs are created on blocks where the headers are stored. If the headers are pruned, the client does not fetch them from the network on-demand to scan for logs.

I noticed this when using Augur and opened an [issue there](https://github.com/AugurProject/augur-app/issues/161). This [gist](https://gist.gith

[2018-07-22 17:50] Vagabondtq opened #9185 "Build fail"
i'm clone source from git with branch master.

i get:
[code]

[2018-07-22 18:47] jimpo opened #9188 "Add error message for eth_getTransactionReceipt when ancient blocks haven't been downloaded yet (warp-sync)"
A warp-synced full node returns empty responses to `eth_getTransactionReceipt` RPC requests for transactions before the snapshot point.

[code]

I assume Parity does not back fill transaction receipts from ancient blocks in warp mode, but the current behavior seems broken. The RPC should either return an error if the receipt is missing or fetch it on demand.

[2018-07-22 20:46] debris commented on #9185
please get `cmake`:

[code]

[2018-07-22 20:46] #9185 closed

[2018-07-22 20:54] debris commented on #9178
thanks for the report

something really weird is happening here:

https://etherscan.io/tx/0xcbaa1b514a4565003fa0708a21cf0ddb115ab20d2c9373ffda0c129d1deaeebc

gas_limit: 50.000
gas_used: 21612
gas in transaction_trace: 28388 (which is 50.000 - 21612)

[2018-07-22 21:15] debris commented on #9178
lol, found the issue.

over here we create a variable `init_gas`. It's already reduced by `base_gas_required`  which is 21k for a transaciton call + cost of attaching data to it

https://github.com/paritytech/parity-ethereum/blob/7e6a571cbaa164a7d17824a1a40dc357e8dbcf13/ethcore/src/executive.rs#L258

and we initiate `ActionParams` with it

https://github.com/paritytech/parity-ethereum/blob/7e6a571

[2018-07-22 21:17] debris commented on #9178
same issue #6964

[2018-07-22 21:18] debris commented on #9178
#8015

[2018-07-22 22:59] #9183 closed

[2018-07-23 02:56] XertroV opened #9192 "DB corruption+panic in 2.0 beta during sync (full archive node)"
This is particularly painful as a full archive sync takes weeks and we're only 100k blocks from the head.

Any help with a workaround would be much appreciated (e.g. can I just delete the problem file `665741.sst`, or delete that file and all others that follow, etc)

I'm not sure exactly what's caused this, maybe a race condition? The volume the chain db is stored on is a Raid 5 volume with 3x 1T

[2018-07-23 05:43] mtbitcoin commented on #9177
without the light command, this only breaks with the latest stable.

The previous stable release works fine. I have been able to product these on multiple nodes with no other changes in the settings except for the parity version

[2018-07-23 07:44] ppratscher opened #9193 "eth_getWork should not return a work package during warp sync"
Actual behavior: During a warp sync the eth_getWork request return a valid work package for block number 1:
[code]

Expected behavior: eth_getWork should return an error as long as the node is not fully synced:
[code]

[2018-07-23 08:20] Tbaut commented on #9165
I can't reproduce on kovan, ropsten.. while syncing, while synced... The only difference I could have would be the reserved-peers. Could you try without them and let me know if you can reproduce?

[2018-07-23 08:38] Tbaut commented on #9192
@debris can you have a look?

[2018-07-23 08:43] Tbaut commented on #8833
Can you confirm it's from a freshly synced node? Did you reproduce it on the latest stable or beta?

[2018-07-23 10:29] Tbaut commented on #9155
Thanks a lot for the detailed post.
I tested with web3 1.0.0-beta.33 as the 34 was causing some troubles and parity v2.0.
I could also reproduce even without sending the Txs in random order (commenting out the `await sleep(1000)`).

@tomusdrw can you have a look?

[2018-07-23 10:38] tomusdrw commented on #9155
Does running with `--force-sealing` help? Most likely some issues in miner (we decide that we don't need to create a pending block). InstantSeal had such issues in the past as well.

[2018-07-23 11:48] Tbaut commented on #9155
Got it, `--force-sealing` didn't help, unfortunately. @nostdm you will probably have to go for a PoA based chain if you wish to continue the testing.

[2018-07-23 11:57] #8550 closed

[2018-07-23 12:08] Tbaut commented on #9180
@debris can you have a look at this one?

[2018-07-23 12:10] debris commented on #9065
I don't think that this is a good idea for multiple reasons:

- `master` and `stable` branch may require different dependencies
- current configuration of docker is flexible and allows you to easily build whatever you want. If you want to use stable, just do `git checkout stable`, if you want master, just `git checkout master`

[2018-07-23 12:10] #9065 closed

[2018-07-23 12:14] debris commented on #9028
@tomusdrw I know that you recently fixed several things in transaction queue. Were those fixes somehow related with this issue? If not, do you know what may have caused the problem?

[2018-07-23 12:15] debris commented on #8981
Closing as I believe it was fixed in #9002

[2018-07-23 12:15] #8981 closed

[2018-07-23 12:15] nostdm commented on #9155
@Tbaut Could you point me in the direction of how to go about setting up Parity PoA network? Alternatively are there any CPU miners I could use for the private network instead of PoA? Thanks a lot.

[2018-07-23 12:18] tomusdrw commented on #9028
Should be fixed with recent changes to local transactions. Regarding the low gas price transactions:
1. You can re-submit with higher gas price in TxQueueViewer
2. We cannot do much about `etherscan` not showing your local low-gas price transaction, their queues are most likely full as well.

[2018-07-23 12:34] debris commented on #9110
parity config files do not evaluate system variables.

https://github.com/paritytech/parity-ethereum/blob/8dd4db5d85e34e9c66be5db1d7664e51f915a38b/util/dir/src/helpers.rs#L20-L32

The only supported variables are:

- `$HOME` - which is home directory
- `$BASE` - which is a parity root directory
- `$LOCAL` - which is a local path

We may consider adding system variables evaluation in future, but fo

[2018-07-23 12:37] debris commented on #9180
@computerality is it possible for you to compile from scratch and run a debug version of parity? So we could see the full backtrace :)

[2018-07-23 12:37] #9028 closed

[2018-07-23 12:44] Tbaut commented on #9182
This is most probably due to the gas price you use and the congestion of the network. You can pay more if you think it really needs to get through quickly.

[2018-07-23 12:44] #9182 closed

[2018-07-23 12:55] Tbaut commented on #9188
Was your node fully synced (with blocks older than the snapshot)?
Warp-sync is a way to get in sync quickly, but the node will download and verify all the ancient blocks once the sync is performed.
The logs looks like this (see Verifying blocks after a warp sync) https://wiki.parity.io/FAQ#what-does-paritys-command-line-output-mean

[2018-07-23 13:09] Tbaut commented on #9177
As asked in the chat, please be precise on `latest stable` and also add how you launch parity (what flags you use).

[2018-07-23 13:15] grbIzl opened #9196 "[PrivateTransactions] n-of-m secret validators implementation"
Current implementation of Private Transaction requires signatures of all N secret validators to apply the changes.
The admin should be able to customize MxN validation scheme during private contract setup.

[2018-07-23 13:20] grbIzl opened #9197 "[PrivateTransactions] Support in light client"
Private packets validation and broadcasting is not enabled for light clients. Light client should support creation of the private transactions and validation with signing of changes in private contract.

[2018-07-23 13:22] mtbitcoin commented on #9177
Release: Parity 1.11.7-stable "Prosperity"

Launch:
parity.exe" --tracing on --jsonrpc-interface 127.0.0.1 --jsonrpc-port 8545 --jsonrpc-hosts all  --no-dapps --cache-size 5000 --tx-queue-gas off --no-ws

[2018-07-23 13:22] grbIzl opened #9198 "[PrivateTransactions] Migration of the system with private contract setup"
Admin should be able to change the set of secret validators and participants in private transactions system after the deployment.

[2018-07-23 13:23] grbIzl commented on #9198
Investigation of the proper migration's solution needed

[2018-07-23 13:25] grbIzl opened #9199 "[PrivateTransactions] Call of private contract's methods inside the other private contract"
The author of the private contract should be able to call methods of other private contracts in the methods of original private contract

[2018-07-23 13:26] grbIzl opened #9200 "[PrivateTransactions] Tracking pending private state to enable multiple secret transactions per contract per block"
Current implementation allows only one private transaction per block (after all signatures are received)

[2018-07-23 13:28] grbIzl opened #9201 "[PrivateTransactions] Off-chain private state storage"
This task requires https://github.com/paritytech/parity-ethereum/tree/private_transactions/with_offchain_storage merge

[2018-07-23 13:29] grbIzl opened #9202 "[PrivateTransactions] Tracing of private transactions"
All changes in private contract must be traced

[2018-07-23 13:30] grbIzl commented on #9202
Investigation of the technical solution with permissioning model is required for the issue

[2018-07-23 13:43] grbIzl opened #9204 "[Permissioning] Implement permissioning for RPC calls"
"BC-1a-ApiCallPermissioning: Implementations SHOULD provide separate access control permissions for API calls which are Administrative, API calls which allow viewing the state of the distributed ledger or are View calls, API calls which result in a transaction, API calls which result in deploying a contract, and API calls which transfer Ether." from https://arxiv.org/pdf/1806.09834.pdf
The further

[2018-07-23 13:43] grbIzl commented on #9204
@tomusdrw FYI

[2018-07-23 13:53] tomusdrw commented on #8974
@phutchins I see. I suppose the issue you are experiencing is caused by following:
1. We run 4 threads for sync processing (IoWorkers)
2. We run additional 4 threads for JSON-RPC methods handling (on supported platforms)

When you are starting to send multiple transactions via RPC the 4 threads are mostl likely saturating all the cores you have, starving the sync threads. That causes the sync requ

[2018-07-23 13:55] tomusdrw commented on #8974
Also please note that @phutchins issues is completely unrelated to @ppratscher logs provided in recent comment, from the logs it seems that the node has higher block than every other in the network, which causes it to go to "Syncing" mode - why it happens is yet to debug. @Tbaut could you open a separate issue for this? @ppratscher is the node mining? Is it possible that it mined all the blocks bu

[2018-07-23 13:55] Tbaut commented on #9155
The quickest would be to follow the PoA tutorial: https://wiki.parity.io/Demo-PoA-tutorial.

[2018-07-23 13:57] smaxzs opened #9205 "DB Corrupted when running parity --geth first time"
Parity/v1.10.9-stable-23a9eef-20180707/x86_64-linux-gnu/rustc1.27.0

4.16.0-2-amd64 #1 SMP Debian 4.16.16-2

Binary executable, after initial sync and subsequent initialization of client with ~4 day breaks in between usage.

On ethereum network: using parity --geth when previous ~5 initializations just executed parity sans attributes.

[code]

upon restart

[code]

results in error and return to p

[2018-07-23 14:03] smaxzs commented on #9205
stopped syncing snapshots at 27/1781 and began regular sync.

killed db again and executed parity -warp, eliminating some background processes that may be resource hungry (but i have over 10 threads free still)

[2018-07-23 14:41] redeyeSPB commented on #9182
it is not in the gas price problem.sorry, i'am not full idiot :))  when I submit a transaction with the same parameters without a timer everything goes perfectly. the timer itself has 1-2 delay :( i don't know why...
problem came with parity UI. Help please ;)

[2018-07-23 15:22] Pzixel commented on #9136
I tried to drop the db and resync it from scratch, but it doesn't work

[code]

However, if I connect to the same network via `1.7.7` it starts syncing successfully.

[2018-07-23 15:25] Ochir opened #9206 "Error while adding new account to PoA"
_Before filing a new issue, please **provide the following information**._

_I have 2 nodes in PoA cluster. I wanted to expand PoA network so added 3rd node to genesis file, then restarted old authorities and started new one. After start, I got the following error messages:

`2018-07-23 14:32:04 UTC IO Worker #1 DEBUG sync Connected 23:Parity/v1.10.9-stable-23a9eef-20180707/x86_64-linux-gnu/rustc1

[2018-07-23 16:17] cpurta commented on #8761
I have a pretty rough merge request open https://github.com/paritytech/parity-ethereum/pull/9207. Would appreciate someone from parity to look over the merge and review.

[2018-07-23 16:32] smaxzs commented on #9205
`2018-07-23 12:25:01  Stage 2 block verification failed for 2cb5…c49c: Block(MismatchedH256SealElement(Mismatch { expected: a7f80137dcf8be8e34bade0bf774e415491598c6e08786dc10aee61c3d9f3f6a, found: fc8cc3439def8bd8b2f8e31cccd4acca0eb8cb92274ac904ac4a3ceb5402a6b0 }))`

seemed fine syncing via snapshop, walked away after 500+ of 1700 sync'd only to return to above error and multiple attempts to sync

[2018-07-23 16:43] Tbaut commented on #9177
Working without problem on linux with:
`$ curl --data '{"method":"eth_call","params":[{"to": "0xd850942ef8811f2a866692a623011bde52a462c1","data": "0x70a082310000000000000000000000001a2786c684a794d30f57b968e01dc4e40e3377b2"}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545
{"jsonrpc":"2.0","result":"0x00000000000000000000000000000000000000000000000000000000000000

[2018-07-23 17:06] Vagabondtq opened #9208 "ERRR! Auto send transaction version beta"
when i update new version and send transaction with api rpc:

`personal_sendTransaction`

Data:

[code]
I get API is  **null**
But, wen i check: `parity_localTransactions`, i see transaction:
`0x208f18ce3866a9746754238cbee54050b52c3226d3e1d8953922882dc31c3045`

 same time, same value but send to
`0x7097f41f1c1847d52407c629d0e0ae0fdd24fd58`

i don't know account.

[2018-07-23 17:30] smaxzs commented on #9205
of note while syncing snapshots block #2769 was listed entire process of snapshot download.. until sync then it started syncing from that block.

only 1657 snapshots are listed after this recent "parity kill db" execution, but its back to block 0.

previously 1797 snapshots were available to dl.

a few minutes in and its still only at snap 2/1657

[2018-07-23 17:35] smaxzs commented on #9205
`2018-07-23 14:32:05  Stage 2 block verification failed for f69f…dbca: Block(MismatchedH256SealElement(Mismatch { expected: 447dfbb9bdd51ec8906c465ec630d664ed2ad00aa53731a7b67bfe93dc404034, found: fdd6f300e8f2edfd8b4e28ea04503d0a36f3715194df4ed1a1ede3c9f8c9215a }))
`
manually nuking db, and user_defaults file

[2018-07-23 17:59] cpurta commented on #8835
Thinking about picking up this task. Just want to clarify if the ask of this issue to to add a stage in CI to generate the docs using https://github.com/parity-js/jsonrpc?

[2018-07-23 21:06] wnz99 opened #9209 "Thread 'Verifier #1' panicked at 'Integer overflow when casting U256'"
As per below:
[code]

Parity is started as follows:

[code]

v1.11.6-beta works fine.

[2018-07-24 01:13] XertroV commented on #9192
Okay - this is a bit of a problem in that it's probably worth me experimenting with Geth now over parity since this has been a bit problematic on this particular machine.

FWIW I ran memtest for 19 hours overnight and in that time it found exactly one error (off by 1 bit, and was like 16+ hours in). Not sure if that'd be enough to bork parity, though.

![image](https://user-images.githubuserconten

[2018-07-24 02:12] smaxzs commented on #9205
2018-07-23 22:35:00  DB corrupted: Corruption: Corrupted internal key not expected.. Repair will be triggered on next restart

at it again and its giving above error now.

snapshot syncing ceases at random places.. 107/1781 370/1781..

i am guessing i'll have to nuke my eth wallets and reinsert them after sync?

i'll let one more attempt at snapshot sync run its course.

[2018-07-24 04:16] sorpaas commented on #6744
Just some update on removing crossbeam/recursive stack: This turns out to be a much bigger refactoring than I thought. In addition, I'm having some local commit mess while trying to pull master... So I'm planning to submit try to split it and submit smaller PRs. Here's the list of refactoring to be done before we can change `executive` to be resumable:

* Make VmFactory creation not dependent on `

[2018-07-24 05:21] acidfreako commented on #8603
thanks @Levino  downgrading web3 to beta 33 worked for me using infura ropsten web socket . however parity still does not work for me

i am booting my parity using
parity --chain ropsten --unsafe-expose --password password.file --jsonrpc-apis all --jsonrpc-interface all --jsonrpc-cors all --ws-port 8546 --ws-interface all --ws-origins all --ws-hosts all --rpccorsdomain "*"

[2018-07-24 06:21] jimpo commented on #9188
Hmm, my ancient block download seems to be getting stuck at #54. I'll have to look into that separately.

I didn't know about the ancient block backfill, that makes sense. Thanks! But the RPC should still return an error saying "The receipt may or may not exist, but we won't know until we're done syncing" rather than `null` for the receipt.

[2018-07-24 07:39] olekon opened #9212 "Parity warp sync doesn't return event logs"
_Before filing a new issue, please **provide the following information**._

Hello.

Our Dapp uses events as a form of storage. For connection to blockchain we use local Parity node.

A couple of days ago I needed to resync it after the server failure. After the resync all methods that use web3's getPastEvents (which uses eth_getLogs, I believe) return an empty array.

It seems that warp sync doesn

[2018-07-24 08:13] Tbaut commented on #9129
Give me a couple more days and I will give you a step by step tutorial to understand this all.

[2018-07-24 08:36] Tbaut commented on #9182
Parity UI repo is the following: https://github.com/Parity-JS/shell/issues
Please log your issue here. Note that Parity UI is not actively maintained anymore. This means that your issue will probably not get a lot of attention.

[2018-07-24 08:40] Tbaut commented on #9136
v1.10 is now End of Life (EoL). I'd advise to go for 1.11 already.
Same questions as before  :

[2018-07-24 08:49] Pzixel commented on #9136
I tried 1.9 with same result. I didn't try 1.8 and I don't recall why exactly: probably I just forgot it. But there is chances that if it didn't work with 1.9 and 1.10 then it won't work with 1.8 too. I'l try to try it if I get access to the test server, but I don't truly believe in success :)

[2018-07-24 09:47] Tbaut commented on #9206
I can reproduce too.

[2018-07-24 10:01] Tbaut commented on #9208
Please paste your whole RPC here and answer.

[2018-07-24 10:15] Levino commented on #8603
Dear @acidfreako, please file a new issue. This one here has been closed. Also please take some time to produce a more detailed and specific issue report. More specifically you should answer the following two questions: "What did you expect?" "What happened actually?"

[2018-07-24 11:12] Tbaut commented on #8835
@cpurta yes, add a test in CI and automatically generate a PR in the https://github.com/paritytech/wiki repo

[2018-07-24 11:18] Tbaut commented on #9205
This is most probably a hardware problem (RAM or SSD). Please verify them.

[2018-07-24 11:19] Tbaut commented on #9205
https://github.com/paritytech/parity-ethereum/issues/7748

[2018-07-24 11:19] #9205 closed

[2018-07-24 12:02] luchenyuxx opened #9213 "Parity stops syncing at certain block with tracing on and pruning archive"
I'm running:

 - **Which Parity version?**: version Parity-Ethereum/v2.0.0-beta-6eae372-20180717/x86_64-linux-gnu/rustc1.27.1
 - **Which operating system?**: Linux
 - **How installed?**: One-line Binary Installer
 - **Are you fully synchronized?**: no
 - **Which network are you connected to?**: ethereum / ropsten
 - **Did you try to restart the node?**: yes

I started to sync from scratch the rops

[2018-07-24 12:03] luchenyuxx commented on #9213
This won't happen in latest stable version `Parity/v1.11.7-stable-085035f-20180717/x86_64-linux-gnu/rustc1.27.1`

[2018-07-24 12:20] Tbaut commented on #8974
Thanks for your help on that @tomusdrw .
This particular issue seems to be related to many different causes. I will close it as many users were able to "solve" it with better hardware or updating their node. I'd ask @ppratscher  to open a specific issue that we can debug accordingly.

[2018-07-24 12:20] #8974 closed

[2018-07-24 12:48] olekon commented on #9212
Yeah, logs look like in the wiki, thanks.
So it seems I should wait until all the ancient blocks are synced. I wonder how long will it take?

[2018-07-24 12:48] #9212 closed

[2018-07-24 12:48] olekon commented on #9188
Is there a way to download only event logs after warp sync?
Or is it possible to warpsync only to specific block and then switch to full sync?

[2018-07-24 13:04] #9087 closed

[2018-07-24 14:28] areebmajeed opened #9214 "Light Node Sending Pending Events Only"
I am running a light node which is run through the following command "parity --no-ancient-blocks --jsonrpc-hosts "all" --unsafe-expose --tracing off --warp --light".

I listen to a contract's Transfer logs using the code below.

`var Transfer = contract.Transfer({}, {fromBlock: 'latest', toBlock: 'latest'});`

While I am using a full node, the event logs I receive are with the status/type "mined",

[2018-07-24 14:29] areebmajeed commented on #9214
This is what the event looks like:

    blockHash: null,
    blockNumber: null,
    logIndex: null,
    removed: false,
    transactionHash: null,
    transactionIndex: null,
    transactionLogIndex: null,
    type: 'pending',
    event: 'Transfer',
    args:
     { from: '0xd2355e862506fd647c5fbffbe2fa5e3a3e141a0a',
       to: '0xb36efd48c9912bd9fd58b67b65f7438f6364a256',
       value: [Object] }

[2018-07-24 14:34] computerality commented on #9180
[code]

[2018-07-24 14:36] areebmajeed commented on #9214
Could this be related to https://github.com/ethereum/go-ethereum/issues/3752 somehow?

[2018-07-24 15:06] mtrubs commented on #8709
@MyS5Droid what is next in order for my support of your?

[2018-07-24 15:44] aarlt commented on #9167
@tomaka @niklasad1 I was able to understand what is happening here, but due to lack of rust & parity-ethereum codebase knowledge I will probably not yet be able to create fix for this issue.

@tomaka you where right, my work-around is extremely hazardous.

I just read https://doc.rust-lang.org/1.9.0/book/custom-allocators.html. `rust` is shipped with two default allocators - `alloc_system` and `al

[2018-07-24 18:37] olekon commented on #9188
Is it possible to track the progress of this backfill? The block numbers in logs are unordered
47690, then 53915, then 34549
[code]

[2018-07-24 20:39] dipenjoshi commented on #6216
happens to me once every week. running it on staging AWS-micro instance with 90GB storage. `df -h` shows 50% disk usage, ram ~500MB out of 1GB. also swap enabled with 2GB assigned.
I don't think this is a storage full issue. Seems more like a `# of files open` at any given time, issue.

[2018-07-25 00:18] xenoexclusive commented on #9184
Am I incorrect in believing EIP234 would resolve this in any way?

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-234.md

[2018-07-25 00:19] smaxzs commented on #9205
ok.. so i did have some out of spec higher memory settings that i was getting by with mining but possibly were too much for parity.

no kernel alerts presented themselves at any point, i'm not sure its what resolved the issue in the end.

i downloaded the new parity 1.11.7 binary, and deleted the entire hierarchy down from .local/share/io.parity.ethereum

before resorting to this i tried light cli

[2018-07-25 02:50] jimpo commented on #9184
@xenoexclusive It is related but doesn't solve the issue. Firstly, it's just an additional option, though it would likely be easier to handle the `blockHash` case than `fromBlock` + `toBlock`.

[2018-07-25 03:37] yamarkz commented on #8970
I'm having the same problem

[2018-07-25 09:54] Tbaut commented on #9213
I believe that the following do not apply in `archive` mode
[code]

How did you determine the other config params? Is your bootnode online (you can verify it with `reserved-peers` and `reserved-only`) ?

Could you relaunch the node with `-l sync` and post some logs here?

[2018-07-25 10:03] Tbaut commented on #9214
Can you show more of your code? this how is this `contract.Transfer` is supposed to get the logs?

As a side note: `--no-ancient-blocks`, `--tracing off` and `--warp` are useless in light mode as there is no warp-sync (yet), no tracing and no block download.

[2018-07-25 10:06] luchenyuxx commented on #9213
@Tbaut
I didn't use `reserved-peers` or `reserved-only`.
Other params are used to increase the performance. I make it use a lot of memory since I have very powerful machine with 64G memory.
The log with `-l sync` is provided. Look at the last line.

[2018-07-25 10:17] areebmajeed commented on #9214
[code]

The same code returns ONLY MINED transactions when I am using a different node, but it shows ONLY PENDING transactions without transaction ID, block number, etc (basically all information that I need to identify that particular transaction).

[2018-07-25 13:04] AyushyaChitransh commented on #9102
Facing this issue in v1.11.7(latest stable version). As is the case of other users, I too am running parity along with its monitoring via pm2 using eth-net-intelligenceAPI. So they are the onlyRPC connections to my parity node.

[2018-07-25 13:22] onpaws commented on #7288
I have a "Parity on k8n" security question and would appreciate any insight.

So I deployed the Parity k8n manifests @ddorgan shared above -- they're great, thanks!
The logs on the Parity pod show Parity syncing to the blockchain - excellent.

I see the k8n docs [indicate](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types) services of type `ClusterI

[2018-07-25 13:37] Tbaut commented on #9188
@olekon what you experience (unordered download of older blocks) is not related to the OP and looks like a bug. Could you please open a dedicated issue?

[2018-07-25 13:39] olekon commented on #9188
@Tbaut  I've opened https://github.com/paritytech/parity-ethereum/issues/9212 earlier but you asked me to comment here for some reason

[2018-07-25 13:41] Tbaut commented on #8835
@tomusdrw @5chdn Any other relevant info you want to add to help @cpurta to perform this task?

[2018-07-25 14:09] Tbaut commented on #9188
#9212 is about logs not available for older blocks, that's fine. Now we shouldn't discuss anything else such as "the block numbers in logs are unordered". This is a different issue that I ask you to open :)

[2018-07-25 14:42] Tbaut commented on #9213
Thanks for the logs, I missed them. It looks like the peers you have are not sufficient. I was asking you to test your bootnode, to see if it was up and running and could provide you with the blocks you need. Alternatively, I'd suggest to add the bootnodes we use:
[code]

[2018-07-25 14:53] luchenyuxx commented on #9213
@Tbaut Thank you for the response. For the boot nodes, I actually used the ones I found in go-ethereum repository, the same as you provided.
Please note that it works on stable version with the same configuration.

[2018-07-25 15:51] Tbaut commented on #9214
Not sure the light client supports logs.
@axelchalon you can probably help us here.

[2018-07-25 16:06] Tbaut commented on #7288
@onpaws this is a different issue right? Please open a different issue.

[2018-07-25 16:21] onpaws commented on #7288
Yes I suppose so. Sorry for hijacking, will open a new issue.

[2018-07-25 16:24] onpaws commented on #7374
I recently learned the same background and arrived at the same conclusion.
@JohnnySheffield did you manage to get anywhere with this?

[2018-07-25 16:40] onpaws opened #9218 "Parity on Kubernetes"
I have a "Parity on Kubernetes" security question and would appreciate any insight.

I've deployed the Parity k8n manifests @ddorgan shared [here](https://github.com/paritytech/parity-ethereum/issues/7288#issuecomment-393500569) -- they've been working great, thanks!
I see the logs on the Parity pod show syncing to the blockchain - excellent.

I also see the Kubernetes docs indicate services of ty

[2018-07-25 16:41] axelchalon commented on #9214
not sure. cc @tomusdrw maybe?

[2018-07-25 18:18] Tbaut commented on #9214
My 2cents, I could reproduce the issue with the following code:
[code]

I get the logs with a full node, an empty arry with a light node (kovan). Now I'm not 100% sure if there is a better way to do it (pubsub to get the logs from new blocks) or if it's not possible at all with the light client.

[2018-07-25 18:24] Tbaut commented on #7288
I'll close as stale.

[2018-07-25 18:24] #7288 closed

[2018-07-26 10:42] Tbaut commented on #9213
@5chdn do you have any spare node to try to reproduce this?

[2018-07-26 11:36] #8880 closed

[2018-07-26 13:13] nandubatchu opened #9223 "Unclean closing of long pending requests making node unresponsive"
Making some long pending RPC requests is not timing out and is forcing the client to close the request unclean while the process is not killed on the node end. With a couple of long pending requests, our node has become completely unresponsive to the RPC requests.

Curl command used to make the long pending request (a very broad block duration with large number of transactions):
[code]

Edit from

[2018-07-26 13:17] roninkaizen commented on #9223
--reading again the last release

There will be no official support for any versions prior to 1.11.7, however (EOL).

it could be senseful to upgrade, to get help.

[2018-07-26 13:33] Tbaut commented on #9206
This is actually not a bug :) it's intended. You need to use a Validator set as described here: https://wiki.parity.io/Pluggable-Consensus#aura and set a future block number, with another list.

[2018-07-26 13:33] #9206 closed

[2018-07-26 13:49] Ochir commented on #9206
@Tbaut As far as I understood, new list should be set up for each validator?

[2018-07-26 14:12] MichaelA2014 opened #9224 "How do I migrate from version 1.9.5 to latest and keep using the wallet/keys?"
_Before filing a new issue, please **provide the following information**._

Hello. I have been running an old version of Parity . Parity v1.9.5-20180321 stable. I read that wallet has been deprecated in the latest version and I am a bit confused. I have two wallets in my vault. If I update the Parity will I loose access to those vaults/wallets?
Also I have an old key that I made in Geth when ether

[2018-07-26 14:18] andresilva commented on #9192
We've had a couple of reports like this in the past and we always asked people to check their hardware. This is a data corruption issue at the RocksDB level. Next time this happens, before restarting parity backup RocksDB's `LOG` file and the corrupt `SST` file, we can use this information to help RocksDB developers check if there is any issue. Still, since memtest has found a memory error I would

[2018-07-26 15:13] ascjones opened #9225 "Fails to sync ancient blocks from peer with the same difficulty"
**Reproduce:**

Create a `reserved-peers` file with a node you know is fast and up to date with the best block.

`parity -l sync=trace --log-file=log-file --reserved-peers=reserved-peers --reserved-only`

Logs like the following should be produced:

[code]

Note that `0x12f966affeebce9f577 == 5600202211188051408247`

We would expect to be able to download old blocks from this peer. This also has t

[2018-07-26 16:29] computerality commented on #9180
This also seems to reproduce on 1.11.7. Looks like it happened around a similar block number too.

[2018-07-26 18:21] cheeselord1 opened #9227 "Irrelevant/confusing warning: Local tx [hash] below minimal gas price accepted"
_Before filing a new issue, please **provide the following information**._

My local node min_gas_price is set very high (e.g. 100gwei). Whenever I send a local transaction with lower than 100gwei gas price, I see a warning saying "Local tx [hash] below minimal gas price accepted"

However, does this impact local transaction broadcasting in any way, right? In my experience the localtransaction is

[2018-07-26 19:35] nandubatchu commented on #9223
@roninkaizen I just upgraded my parity node to 1.11.7. And tried to do couple of long-pending RPC calls with command:
[code]

The issue still persists. The RPC endpoint becomes unresponsive. Is there any way to timeout long-pending requests on the node? Or is there any method to kill these requests without restarting the node?

[2018-07-26 21:03] 5chdn commented on #9213
This is ugly if true.

@Tbaut I fully synced no-warp nodes 2.0 and 2.1 without any issue. Might be related to the archive?

[2018-07-26 21:54] gituser commented on #9166
this issue might be related to your case: https://github.com/paritytech/parity-ethereum/issues/9040

[2018-07-26 23:30] JohnnySheffield commented on #7374
@folsen @onpaws Here's a nonroot centos image that i've finally got to build and start. Still needs more work to reduce final image size.

[2018-07-27 08:46] JohnnySheffield commented on #9218
I think the traffic on 30303 should be UDP, not TCP so something like:

[code]
But it would be best if somebody can confirm this.

Be it tcp or udp, your DockerFile must expose this port so your service can target it, eg:

`EXPOSE 8080 8545 8180 30303/udp`

I'm also not sure what would be the best practice - generally what ports should be exposed on Parity docker images?

Related to #9231

[2018-07-27 09:01] Tbaut commented on #9206
Yes. The most elegant way to perform updated remains to setup a validator-set contract, so that you can make the changes on chain without hardfork. More info here: https://wiki.parity.io/Validator-Set

[2018-07-27 09:07] mahuaibo opened #9233 "byte index 2 is not a char boundary.(bug)"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
=========================================================================
Thread '<unnamed>' panicked at 'byte index 2 is not a char boundary; it is inside '锅' (bytes 0..3) of `锅煸豆腐`', libcore

[2018-07-27 09:08] Tbaut commented on #9224
No you should not loose anything. if you update parity, you will simply have to use [Parity UI](https://github.com/Parity-JS/shell/releases) to have a user interface and connect to your node. This replaces the older browser UI.

Your key will still be on your pc. Before updating, make sure that you store your keystore files in a safe place (here is how to extract them: https://wiki.parity.io/Backi

[2018-07-27 09:08] #9224 closed

[2018-07-27 09:13] #9225 closed

[2018-07-27 09:40] Tbaut commented on #9227
Why is this irrelevant/confusing ? If you set a limit and push local transactions below this limit, I find it normal to have a warning.

Local transaction are special as initiated by yourself, in this sense, they still make their way to the tx pool.

BTW, can you upgrade to 1.11.7 or 2.0 as some minor changes have been added.

[2018-07-27 09:40] #9227 closed

[2018-07-27 09:42] Tbaut commented on #9182
There are dozens of wallets out there. MyCrypto Desktop would be my choice of the day. Note that you can still connect it to your parity node to be totally free of any centralized node.

[2018-07-27 09:54] Vagabondtq opened #9235 "ERRR! Auto send transaction"
https://github.com/paritytech/parity-ethereum/issues/9208

I used command RPC API:
`personal_sendTransaction`

Data:
[code]

i get result: `null`

Before send, balance of `0x54278d67c69c38ae4a7f175d4d1cf4b2e3bfdfa1` is: 0.395 ETH.

**API auto send All Balance**,  Why? i don't know: `0x6ef57be1168628a2bd6c5788322a41265084408a`

I have encountered this error twice with 2 different versions. Help me.

[2018-07-27 10:07] #9209 closed

[2018-07-27 10:17] andresilva commented on #8970
Could you explain what you changed for this to happen? If you tried to change the step duration this is expected. You have to restart a new chain if you want to change any option in the chainspec that doesn't have a transition flag.

[2018-07-27 10:19] andresilva commented on #8065
Could you check if this is still happening on the latest versions?

[2018-07-27 10:34] Tbaut commented on #9213
I can reproduce.. I'm blocked at 599180.

`2018-07-27 09:59:26 UTC Syncing  #599180 0x1de5…7605     0.00 blk/s    0.0 tx/s    0 Mgas/s      0+    0 Qed   #599178    5/1024 peers    776 MiB chain  365 MiB db  0 bytes queue  114 MiB sync  RPC:  0 conn,    2 req/s, 2869 µs`

[2018-07-27 11:16] andresilva commented on #8961
There's already an option for this `--jsonrpc-max-payload`. The server is returning a 413 (Payload Too Large) HTTP status code but web3 is not handling this correctly (it just exposes an empty error). You can test this by making the batch request with curl and checking the returned status code.

[2018-07-27 11:16] #8961 closed

[2018-07-27 11:46] pabloruiz55 opened #9238 "Mainnet sync stuck at random snapshots"
Running Parity like so:
`parity --rpcapi "eth,net,web3,personal,parity" --unlock 0x123.... --password [password file]`

I've been trying to sync mainnet for days now using the terminal. I'm at block #5940424 and it's trying to sync a big snapshot. At some point, during random snapshots (not always the same) it just gets stuck. For example, left it for 5 hours and it's always showing the same messa

[2018-07-27 12:10] ordian commented on #9238
This is duplicate of #8938. Try [this suggestion](https://github.com/paritytech/parity-ethereum/issues/8938#issuecomment-403017502).

[2018-07-27 12:10] Tbaut commented on #9223
That curl is querying 300K blocks.. that would probably work on a beefy work station in a reasonable time.. The node I try it on definitely had troubles too. Not sure how we can handle that better.
The workaround is straightforward: smaller queries.

@ascjones can you share your expertise regarding how we can handle that better?

[2018-07-27 12:42] andresilva commented on #9136
I believe this can be caused by `maximumUncleCount` which was probably introduced after 1.7.7 and defaults to 0. @Pzixel can you try setting `maximumUncleCountTransition` in your chain spec to a future block number and retrying with that? You should update the chainspecs of all validators before this block number is reached, but if you just want to try set a really large block number.

[2018-07-27 13:05] Pzixel commented on #9136
@andresilva great idea. Gonna try it out, BRB with resuls.

[2018-07-27 13:19] drgrog commented on #9106
Another instance of #9176 - mine keeps failing and re-starting the entire snapshot sync:

[code]

[code]

Using 2.0.0, Windows 10, db killed, default options (no command line args or anything in config)

[2018-07-27 13:31] Tbaut commented on #9166
We can reopen if it happens again. The best would be to provide a way for us to reproduce.

[2018-07-27 13:31] #9166 closed

[2018-07-27 13:52] Tbaut commented on #9233
Can you please describe what you were doing, what parity version, etc (edit your first post)

[2018-07-27 14:00] Tbaut commented on #9235
Please give me the exact RPC you used for me to reproduce.

[2018-07-27 14:07] onpaws commented on #7374
Thanks for sharing!
Will check this out over the weekend :)

[2018-07-27 14:19] emiliomarin opened #9240 "Attempting to cull queued transactions"
So I'm sending many transactions at the same time, let's say 1000, via web3js. Some transactions get pending and you can see them on etherscan, around 100-200, then if I keep the node running, about 10 minutes later it will show the message:

`Attempting to cull queued transactions from 1 sender`

and if I check etherscan I will see that another 100-200 are there. Is it possible to reduce that tim

[2018-07-27 14:21] #9238 closed

[2018-07-27 14:38] folsen commented on #8427
Geth implementation of 1087 https://github.com/ethereum/go-ethereum/pull/17208

[2018-07-27 15:02] meganuke-tech opened #9241 "get latest stable version of parity"
Hello.
I need to get a latest stable version of parity, via API or CLI. How can I pull it? I was tried to pull it via parity -v but I pulled too many strings for robotic parsing.

[2018-07-27 15:03] Pzixel commented on #9136
It didn't work to me:

[code]

If I run it on existing database it doesn't sync.
If I run it without database (to sync it from scratch ) is starts syncing but stopps at block 943 (just for reference) without any known reason.

[2018-07-27 15:06] 5chdn commented on #9213
escalating

[2018-07-27 15:07] onpaws commented on #9218
Ah, interesting to hear about UDP.

The reason my example has TCP is simply because @ddorgan's example, what I started with, had it [here](https://github.com/paritytech/parity-ethereum/issues/7288#issuecomment-393500569).

[2018-07-27 15:08] onpaws commented on #9218
Facing precisely the same question and keen to learn the answer also!

[2018-07-27 15:15] onpaws commented on #9218
I just checked the "official" parity release as available on the public Docker registry, aka `parity/parity:v2.0.1`.
The image appears to be Ubuntu.
@JohnnySheffield I'm curious what you make of [this](https://github.com/paritytech/parity-ethereum/blob/master/docker/ubuntu/Dockerfile#L41) port configuration?

[2018-07-27 15:30] Vagabondtq commented on #9235
@Tbaut I do not understand. Please tell me what to do?

[2018-07-27 16:09] Tbaut commented on #8923
Fixed by https://github.com/paritytech/wiki/pull/205, sorry @iamonuwa but this task simply took way too long for what it was.

[2018-07-27 16:09] #8923 closed

[2018-07-27 16:12] Tbaut commented on #9241
Use the One line installer or the binaries as explained here: https://wiki.parity.io/Setup#one-line-binary-installer

[2018-07-27 16:12] #9241 closed

[2018-07-27 16:20] onpaws commented on #9218
(whoops sorry for accidental close)

[2018-07-27 16:31] JohnnySheffield commented on #9218
`EXPOSE 8080 8545 8180` seems reasonable.

I was brave enough to add 30301/udp for a [image](https://github.com/DAPowerPlay/parity-openshift/blob/master/docker/centos/Dockerfile#L18) that we're running on openshift as i reasoned it will be easier to expose this port with a service if needed.

[2018-07-27 16:37] Tbaut commented on #9235
There must be a problem with the way you send your transaction.
By using:
[code]
Sending 2 ETH from one address to the other.. while it contains 3 ETH. There are 1 remaining. I can't reproduce what you describe with Parity Ethereum v2.0 on Kovan...

[2018-07-27 16:43] cpurta commented on #8835
PR is currently being reviewed.

[2018-07-27 16:44] ddorgan commented on #9218
@onpaws so you have a custom container that connects to the parity service, right? And does jsonrpc calls to it?

You should be able to run the service internal to the cluster. You can also use the DNS discovery built in to kubernetes, e.g. in your example the hostname parity-service.default.svc.cluster.local should resolve to the host behind your service. You can then connect with your applicatio

[2018-07-27 17:55] Vagabondtq commented on #9235
My code is PHP, i used: https://github.com/kesar/ethereum-php
but, some time sometimes error.

[code]

[2018-07-28 00:54] onpaws commented on #9218
Yes, that's right @ddorgan. What you're describing is prescient and precisely what we're aiming to build.

If my app doesn't need to use 30303, is there any harm in removing it from the `Service` manifest?
I'm a bit fuzzy on whether that port is actually needed for e.g. blockchain syncing or some other critical functionality.

[2018-07-28 07:54] kelvintyb commented on #9057
WIP

[2018-07-28 16:12] Vagabondtq commented on #9235
@Tbaut
here, i'm send with command of you:
Transaction:
https://etherscan.io/tx/0xf444735e28caa66e41a07043273b6bf87eb783252e6377227e41842bf97167fd

Json:

`{ "from": "0x76885a0f4b0adf834b2aece56c7b6070663013bd", "to": "0x4B58973a32FCAc241517599B20389e0A883d3904", "gas": "0x5208", "gasPrice": "0x77359400", "value": "0xffffd9cd1ceb6000" }`

[code]

[2018-07-29 02:04] wiryonolau commented on #7342
need to have double quote

[2018-07-29 02:08] wiryonolau commented on #7342
try adding double quote in the value

[2018-07-29 05:51] adyshimony opened #9245 "Thread '<unnamed>' panicked at 'other was less than the current instant'"
* parity stopped working with this error:

stack backtrace:
   0:     0x56324107d1fc - <no info>

Thread '<unnamed>' panicked at 'other was less than the current instant', libstd/sys/unix/time.rs:292

This is a bug. Please report it

[2018-07-29 06:46] jatinshah opened #9246 "Error syncing ropsten node with parity"
Tried to sync a ropsten node with 'parity --pruning archive --tracing on --fat-db on  --chain=ropsten  --cache-size=2048 --db-compaction=ssd --mode=active' and got this error message

stack backtrace:
   0:     0x55fbc7d2364c - <no info>
   1:     0x55fbc7d22c12 - <no info>
   2:     0x55fbc7d2216a - <no info>
   3:     0x55fbc68aaa85 - <no info>
   4:     0x55fbc7d7ed55 - <no info>
   5:     0x55

[2018-07-29 11:03] sg552 commented on #7342
Still not work.

[code]

I thin I have to switch my code from Geth to Parity .  ...

[2018-07-29 11:51] wiryonolau commented on #7342
the quote thing is correct, not it show different problem xD. Why don't you use personal_sendTransaction directly ?

[2018-07-29 12:09] gituser opened #9247 "Build of v1.11.8 failed on Debian Jessie 9"
Trying to build `parity v1.11.8` on Debian Jessie 9 and build is failed because of the new cmake requirement:

[code]

It seems to require more recent cmake version for some reason? Is it really necessary ?

Can you guys fix this?

[2018-07-30 00:53] sg552 commented on #7342
thanks @wiryonolau    .

My legacy code uses Geth interface to make transaction. it contains 2 steps:
1. unlock the coinbase account
2. send transaction (without password)

But I found Geth is too heavy and hard to use, and unstable, so I switched to Parity.

OK,  I will change my code and use personal_sendTransaction method as you suggested.

[2018-07-30 01:58] sg552 opened #9249 "How to send transaction ? Parity gives me correct response but actually no transaction happens."
Hi ,

  I switched my ETH node  from Geth to Parity , so I know something about ETH but not familiar with Parity.
  Currently I am running a Parity node , with following config.toml:

[code]

    And my running command is :  parity -C config.toml    ( I am sure this config file is loaded correctly)

   data fold is:  /opt/parity  .   and all sync is done. ( I can query the

   So I send a transact

[2018-07-30 02:42] mahuaibo commented on #9233
IMAGE ID: "parity/parity"  0a0fa44fe677

The main reason is that the Chinese character set is not supported

[2018-07-30 08:09] Tbaut commented on #9240
This message is not related to your concern IMHO. It just shows that the node is cleaning the queue for Txs that where included in a block.

This is network dependant. Are you sure that your gas is high enough?

[2018-07-30 08:10] sorpaas commented on #8427
I'm having some issues getting EIP-1087 implemented in our codebase. With our current state cache method, we can do it, but with (probably noticeable) performance penalty. The issue is that we optimize state commitment to only happen at the end of a block, but EIP-1087 makes the assumption that state commitment happens at the end of every transaction.

So to implement current spec, it seems that w

[2018-07-30 08:31] Tbaut commented on #9235
Please consider raising the question with Ethereum PHP, I can't see any problem with Parity Ethreum here.

[2018-07-30 08:31] #9235 closed

[2018-07-30 08:34] Tbaut commented on #9245
Duplicates https://github.com/paritytech/parity-ethereum/issues/8444

[2018-07-30 08:34] #9245 closed

[2018-07-30 08:39] sorpaas commented on #9233
Looks like we're not handling UTF-8 correctly. @mahuaibo Do you mind to do a search to see where this phrase `锅煸豆腐` comes from (i.e. config files or key metadata)?

[2018-07-30 08:39] Tbaut commented on #9246
Thanks for the report. This is a duplicate of https://github.com/paritytech/parity-ethereum/issues/9180, please comment in this issue.

[2018-07-30 08:39] #9246 closed

[2018-07-30 08:59] Tbaut commented on #9249
As explained in our [security best practices](https://wiki.parity.io/FAQ#what-are-the-security-best-practices), please consider using personal_sendTransaction

You log show that you are not connected to any peers.
`2018-07-30 01:09:58 UTC    0/25 peers  `

Have a look here to understand what the logs mean: https://wiki.parity.io/FAQ#what-does-paritys-command-line-output-mean

Your transactions are

[2018-07-30 08:59] #9249 closed

[2018-07-30 09:07] mahuaibo commented on #9233
When a get Transaction or Block is encoded using an illegal utf-8 encode, it is not normally processed.

[2018-07-30 09:38] TimBobkov opened #9250 "Can't deploy private contract at Parity 1.11.7 using wiki"
I try to configure private transactions using this wiki data: https://wiki.parity.io/Private-Transactions.html. I try to deploy contract from [Setup of the private network](https://wiki.parity.io/Private-Transactions.html#setup-of-the-private-network) section. But curl command from 2.1 does not provide transaction as a result of work. So I try to use **eth_signTransaction** - it provide signed tra

[2018-07-30 09:45] sorpaas commented on #9233
@mahuaibo Would you mind providing an example of such block/transaction?

[2018-07-30 09:47] 5chdn commented on #9247
You can use the binary or just update cmake. We are not going to support any old Debian distributions. FYI, Jessie reaced EOL in June 2018.

[2018-07-30 09:47] #9247 closed

[2018-07-30 09:49] 5chdn commented on #8835
Yeah, I'm on it. https://gitlab.parity.io/parity/parity/pipelines/21869

[2018-07-30 10:06] Vurich commented on #9233
Can you recreate this bug with the `RUST_BACKTRACE` environment variable set to 1? On Linux you would do this with:

[code]

If you run Parity Ethereum with extra command-line flags you would add them after `parity`.

[2018-07-30 10:08] sg552 commented on #9249
got it~  thanks a lot!

[2018-07-30 10:17] Tbaut commented on #9250
You need to use at least parity v2 to be able to profit from the latest changes in the Secret Store.
I will publish a tutorial soon (following this one https://wiki.parity.io/Secret-Store-Tutorial-overview). Note that there is currently a problem with private transactions, it is solved on the PrivatePacketsVerification branch.

[2018-07-30 10:41] kerematam commented on #9166
Thank you for the responses. It was indeed very related to issue you have sent.

[2018-07-30 11:24] fabioberger opened #9251 "Add blockHash option to eth_getLogs (EIP 234)"
As described in [EIP 234](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-234.md), `eth_getLogs` currently only supports querying logs by **block number** and not **block hash**.

This makes it impossible to know whether the logs returned are from the expected block, or if a block-reorg happened and the logs returned are actually from another block. Help!

Since the EIP's acceptance, the `bl

[2018-07-30 12:21] TimBobkov commented on #9250
@Tbaut so, does I understand correctly:
1. I should use Parity v2.x.y for better performance?
2. For now private transactions does not work properly, so I build image by myself from PrivatePacketsVerification branch or wait till this branch will be merged to master?

[2018-07-30 14:13] Tbaut commented on #9250
1. Not for better performances, but because bugs have been fixed and features added to the Secret Store.

2. Yes, exactly

[2018-07-30 14:58] Tbaut commented on #9213
From Riot Support channel by @ansermino
Reproduced on Mainnet using the following configuration: https://gist.github.com/ansermino/4557597c167e81d63638eff1f7bcbcb0

Logs: https://gist.github.com/ansermino/b0ed2105b8e404dbeee6189810dca99a

[2018-07-30 15:02] luchenyuxx commented on #9213
By the way, it also happened to me on main net, with the same configuration.

[2018-07-30 16:13] avonian commented on #9251
this is a serious problem affecting my projects as well

[2018-07-30 17:30] vs77bb commented on #7203
@lastjms Let us know how you're doing here, please 🙂

[2018-07-30 18:08] lastmjs commented on #7203
I didn't know I had been approved to work on this, since the issue said I had only applied to work on it. Is there some way of notifying me if I get accepted? I'm hoping to make significant progress on this this week

[2018-07-30 18:33] TimBobkov commented on #9250
@Tbaut ok, thanks, will build image from this branch

[2018-07-30 20:24] vs77bb commented on #8709
Hi @MyS5Droid do you have an update here?

[2018-07-30 20:29] vs77bb commented on #9057
Hi @kelvintyb do you have an open PR here? We'd like to see what you've come up with thus far to assess whether it makes sense to continue down this path or send this one back to the crowd.

[2018-07-30 21:42] computerality commented on #9213
An assert happens at a nearby block number on mainnet when running with --fast-db as reported in #9180

[2018-07-31 08:12] 5chdn commented on #9247
We provide a lot of alternatives for you, if you don't want to get the binary, you can also use snapcraft.

Don't get me started on all the different Linux distros, if we want to support all of them, we would probably not do anything else than messing around dependencies :)

Personally, I'd recommend not to rely on distributions that only provide point releases, especially if you care about securi

[2018-07-31 08:34] Caoxuyang opened #9255 "After upgraded to 1.11.8, new bottleneck appears"
I developed a benchmark tools to test TPS performance on Parity private chain.
Before I upgrade to 1.11.8, I was using 1.11.5. And my benchmark tests went our fine.
Tps can go above 3000.

My test goes like this:

 I usually start 20 processes and send totallly 200000 signed txs to the network and calculate TPS from the blocks. The network consists of one transaction node to receive RPC requests a

[2018-07-31 09:00] Tbaut commented on #9255
This looks like an interesting project, thanks for building it.
What is your actual question?

[2018-07-31 10:07] gituser commented on #9247
@5chdn

If you care about stability you won't use cutting edge versions of software rather you'd be conservative. Debian is so far a very good choice for us for server environment. Whilst Ubuntu is not good at all and tend to break things there.

Anyways, I'd appreciate if you guys stop breaking things in old release line. You have now another new branch out there `v2.0` or `v2.1` why not experime

[2018-07-31 11:29] phahulin commented on #8954
I'm still seeing this in 1.11.8.
Is this error a blocker for update to 1.11.8 or can it be ignored?

[2018-07-31 11:52] #9193 closed

[2018-07-31 12:28] MicahZoltu commented on #9251
Killing Augur at the moment as well.

[2018-07-31 12:37] Dumiefana commented on #4177
![capture](https://user-images.githubusercontent.com/33212452/43459790-3771b134-9501-11e8-9a76-2d18bda7dcd3.PNG)
need help the transaction was sucess..but im still not recive my transfer to westland store.
when i check to txVisualizer no further transaction

[2018-07-31 12:39] Dumiefana commented on #4177
![capture png 1](https://user-images.githubusercontent.com/33212452/43459985-d5083102-9501-11e8-8312-cf9a81827158.PNG)

[2018-07-31 12:48] Tbaut commented on #8954
@andresilva should know about this :)

[2018-07-31 13:14] tzumby opened #9258 "Parity JSON-RPC parity_deriveAddressIndex without unlocking / passing the password for account"
I'm trying to setup a Parity node to generate a tree of HD addresses based on a root account.

The scenario is a JSON-RPC client that wants to generate receive only addresses. I understand that I can derive those addresses on my client  using the same path derivation, but seems like over kill.

I understand the security/privacy implications of deriving a whole address tree for an account, but givi

[2018-07-31 13:35] onpaws commented on #9218
Thanks @ddorgan!

Despite using Kovan vs MainNet as far as I can see, the advice should still apply.
I tried to verify this today by dropping 30303 from the manifest, `kubectl apply`-ing, and restarting the pod just in case.
And I do still see the blockchain messages in the pod logs.
[code]

So I think we're in a good place here. Thanks @ddorgan!

[2018-07-31 13:50] ddorgan commented on #9218
@onpaws great to hear. Are you ok with this issue being closed then?

[2018-07-31 15:32] tomaka opened #9259 "Android binary depends on libc++_shared"
Right now the Parity binary depends on `libc++_shared.so`, which means that it fails to start on an Android device. After investigation, this is caused by [these lines](https://github.com/paritytech/rust-snappy/blob/798408ffef8f86dd51481673aca10f5348d7491b/snappy-sys/build.rs#L36-L41). The correct fix is to remove them, but doing so breaks non-Android platforms for a reason that should be investig

[2018-07-31 15:43] andresilva commented on #9136
@Pzixel `maximumUncleCountTransition` should inside `authorityRound` params.

[code]

[2018-07-31 15:49] phahulin opened #9260 "Clarify jsonrpc threads parameters"
In documentation https://wiki.parity.io/Configuring-Parity-Ethereum.html please clarify what are
`--jsonrpc-threads` and `--jsonrpc-server-threads` parameters:
1. what is the difference between them? they both seem to be related to performance of rpc, but it's not clear what they do
2. is there any preferred or limiting value to set? like number of CPU cores
3. what are their corresponding names i

[2018-07-31 15:50] Pzixel commented on #9136
Wow. I read this spec ( https://wiki.parity.io/Chain-specification ) and I was sure that it goes into `params` as optional... It's not very clear from the spec. Thank you, I will try this one too.

[2018-07-31 16:16] cpurta commented on #8761
Still working on this, waiting for the parity team to review the current PR.

[2018-07-31 17:52] EZS-JD opened #9261 "Parity docker image: update documentation"
Looks like parity versions >1.10 no longer include the UI (parity wallet), correct?
=> please update the docker documentation and explain
a) which version still includes the wallet
b) how to best deal with the new situation when running parity in docker (e.g. https://github.com/parity-js/shell/issues/28)

[2018-07-31 18:19] onpaws commented on #9218
I did have another question that pertains to Parity on Kubernetes -- if this should be posted elsewhere, all good, happy to move/close this as appropriate.

Now I have my app running inside a cluster thanks to you @ddorgan I'm interested to go a bit deeper in the Parity on Kubes world. I realize it's a big topic and I'm still pretty new to Parity -- but here's my goal: what does it take to scale a

[2018-07-31 18:32] emiliomarin commented on #9240
Thanks for the answer @Tbaut, yes I'm using high gas since I'm testing for now. I had set 40gwei.

Not sure if same behavior would apply to main network

[2018-07-31 19:05] ddorgan commented on #9218
@onpaws yes could you open another issue for this. It's much more useful if people are searching for answers later, so they don't get confused by multi topics in one ticket.

[2018-07-31 19:05] #9218 closed

[2018-07-31 20:07] TimBobkov commented on #9250
@Tbaut hi again.
I have recreate image from PrivatePacketsVerification branch. Configure secretstore. And try to compose private transaction again. Now I receive different error: Private transactions call failed. Error(Encrypt(\"Connection reset by peer (os error 104)\"), State { next_error: None, backtrace: InternalBacktrace { backtrace: None } }).
Config for private node:
[code]

[2018-07-31 21:56] lastmjs commented on #7203
I'm sorry, assessing my situation yesterday and today, I don't realistically have the bandwidth right now...good luck

[2018-08-01 02:07] etscrivner commented on #8846
Seeing this issue repeat itself. This is consistently killing parity 1.11.8 nodes in Amazon AWS with hundreds of gigabytes of remaining disk space. Currently testing on 1.11.7, if this fails will just revert back to 1.10.6

[2018-08-01 03:45] etscrivner opened #9262 "Parity 1.11.X panicing with "No space left on device" error despite having plenty of disk space."
This issue appeared after attempting to upgrade from 1.10.6 to 1.11.8. It reappears on 1.11.7 as well. Nodes reliably and repeatedly die despite having plenty of remaining disk space after syncing a few blocks. These nodes are using the ext4 filesystem and the nodes are being started using pre-existing data from a 1.10.6 node.

This seems isolated to mainnet for unclear reasons, as ropsten nodes i

[2018-08-01 04:02] sorpaas commented on #9262
What's your file system? Is it BTRFS?

[2018-08-01 04:14] etscrivner commented on #9262
@sorpaas It's ext4

[2018-08-01 05:04] emizzle opened #9263 "Parity + Whisper (via web3) in browser not working"
I am not able to get a whisper subscription data when using Parity 1.10.9-stable nor 2.0.1-20180726. I am using web3 `1.0.0-beta.33`.

The js used to reproduce is from a basic react app (for demo purposes) but the code is essentially straight from [web3's shh docs](https://web3js.readthedocs.io/en/1.0/web3-shh.html#id74), with fields `topics` and `priority` added to the `shh.post` object, as Parit

[2018-08-01 05:26] Caoxuyang commented on #9255
@Tbaut Question is everything works fine with parity v 1.11.5. (TPS was around 3000.)
But after I upgrade my parity to 1.11.8, the performance of mining node seems to appear a new bottleneck.
In each block, there are at most 4096 txs mined. (TPS is only around 800 now)
I wonder if you guys added some new tags to restrict the performance?

[2018-08-01 07:46] debris commented on #9255
@tomusdrw were there any changes to tx queue that could affect this?

[2018-08-01 07:53] TimBobkov commented on #9250
Maybe there is some manual for new version of private transactions?

[2018-08-01 08:19] tomusdrw commented on #9255
Yes: https://github.com/paritytech/parity-ethereum/blob/master/ethcore/sync/src/chain/mod.rs#L155

We only propagate up to 4096 transactions from the queue, so the mining nodes just don't have more transactions. I suppose we should make this number dynamic (dependent on the block gas limit) and propagate up to `BLOCKS * block_gas_limit / 21_000` transactions from the pool, with `BLOCKS =  4 | 5`.

[2018-08-01 09:37] barakman commented on #2908
@gavofyork:

I'm getting this problem with `--force-sealing` and `--tx-gas-limit=0x1000000000`.

Is it possible that I also need `--reseal-on-txs=all`?

I am currently using `--reseal-on-txs=none`.

Thanks

[2018-08-01 10:31] Tbaut commented on #9260
`jsonrpc-server-threads` is multi-threaded HTTP server (can handle multiple incoming requests at the same time),
`jsonrpc-threads` is a cpupool to dispatch all RPC requests to (shared between all transports) so when you have some heavy calls they are dispatched in parallel on different threads.
:
WebSockets and IPC are single-threaded transports that can dispatch deserialized requests on multiple

[2018-08-01 10:32] #9260 closed

[2018-08-01 10:39] phahulin commented on #9260
@Tbaut thank you. I'd like to clarify a few more things:
2. since `jsonrpc-threads` is a cpupool, it doesn't make sense to set this value higher than number of cpu cores, right?
3. what are their corresponding names in config.toml?

[2018-08-01 10:41] Tbaut commented on #9136
This is indeed not very clear from the chain spec. The Aura dedicated page is clearer IMO: https://wiki.parity.io/Pluggable-Consensus.html#aura

[2018-08-01 11:17] #9127 closed

[2018-08-01 12:06] debris commented on #5987
I'm closing this issue as it is not very spicific

[2018-08-01 12:06] #5987 closed

[2018-08-01 12:07] debris commented on #2053
I believe that ethereum will move to libp2p before we'll prioritize this task. Therefore I'm closing it

[2018-08-01 12:07] #2053 closed

[2018-08-01 12:09] debris commented on #5571
I believe this was cause by one of the retain cycles we had in our event loop. I believe they are fixed now. If not, please reopen the issue

[2018-08-01 12:21] tomaka opened #9266 "Redirect panic messages to the logs on Android"
Writing to stderr on Android doesn't automatically write the message to the logs.
It should be the case, for easier debugging when a panic occurs.

[2018-08-01 12:22] #8942 closed, assigned to nobody

[2018-08-01 12:26] Tbaut commented on #9240
The transaction throughput is linked to the network, there is not much we can do here unfortunately. If you wish to have a higher throughput while testing, you should try Kovan.

[2018-08-01 12:26] #9240 closed

[2018-08-01 12:31] debris commented on #9030
There is nothing to do here

[2018-08-01 12:31] #9030 closed

[2018-08-01 14:31] nionis commented on #9251
EIP 234 helps alot with quarantining consistency of state due to reorgs when using indexers, right now the only alternative has a bandwidth trade off

[2018-08-01 16:11] Tbaut commented on #9263
Thanks for the details. Parity does not support whisper as it is implemented in web3.js right now. As detailed in this issue, we do not believe it's ready yet https://github.com/ethereum/web3.js/issues/937

[2018-08-01 19:08] TimBobkov commented on #9250
Thanks a lot. Will try again :)

[2018-08-01 19:41] TimBobkov commented on #9250
@Tbaut I have some questions:
1) Can be one account private signer and private validator?
2) Will private transaction work without ACL contract (I mean `acl_contract = "none"`) or it should be deployed first and permissions should be added?
3) Does `--private-sstore-url` corresponding to secret store `secretstore.http_port` or `secretstore.port`?
4) Should private tx validator be chain validator o

[2018-08-02 07:41] Tbaut commented on #9250
1. Not really, this is not meant to work this way.
2. It can work with `acl_contract = "none"` yes
3. It's the `secretstore.http_port` to communicate with the HTTP API. the `secretstore.port` is for the Secret Store nodes to communicate between each other.
4. I'm not sure I understand the question. the tutorial is made with a Dev chain that has no validator. In case of a PoA network, the blockchai

[2018-08-02 07:59] Tbaut commented on #9260
2. right
3. they are called `server_threads`, `processing_threads` (for here https://github.com/paritytech/parity-ethereum/blob/1b1941a896c8485a05fa3e9ffe8b251b498eb541/parity/cli/mod.rs#L486)

[2018-08-02 08:03] tomusdrw commented on #9255
@Caoxuyang yes, although have a look at the submitted PR (#9265) it should solve the issue and bring the perf back. Let me know the tests results :)

[2018-08-02 08:50] phahulin commented on #8954
@andresilva please take a look, I'd really appreciate it.

[2018-08-02 09:12] sorpaas commented on #9262
@etscrivner Can you run `df -i` to see whether it's caused by having too many files on this system? Also, I remember that Linux by default reserves 5% disk space to `root`, can you check you have more than 5% disk space free?

[2018-08-02 09:17] TimBobkov commented on #9250
Thanks a lot. It seams I understand where I have problem - I set the same account as validator and as signer... Will try to separate this roles today

[2018-08-02 09:18] tomaka opened #9271 "Add a method in the C bindings to replace the websocket API"
If you want to embed Parity in a binary, there should be some interface in the bindings in order to use the websocket capabilities of Parity without having to open a dummy TCP connection.

[2018-08-02 10:32] Tbaut commented on #9250
:+1: I'll close this issue but feel free to answer here still to keep me up to date.

[2018-08-02 10:32] #9250 closed

[2018-08-02 10:58] #9255 closed

[2018-08-02 13:08] andresilva commented on #9188
Related #7411.

[2018-08-02 13:36] andresilva commented on #6956
The node health API has been removed. We have a parity specific API that allows you to track the progress of ancient block download [`parity_chainStatus`](https://wiki.parity.io/JSONRPC-parity-module#parity_chainstatus). It will return `undefined` if the chain is fully synced or still syncing (major sync/warp). But you can use it coupled with `eth_syncing`:
- Check if node is syncing with `eth_syn

[2018-08-02 13:47] phahulin commented on #8954
Seem to happen only during warp sync

[2018-08-02 14:19] andresilva commented on #8954
I haven't been able to reproduce this yet. Could you share the multi validator definition from your contract? (so that I can replicate similar validator set migrations).

[2018-08-02 17:32] cpurta commented on #8604
Is this still wanted and if so what other languages do you want examples in. Would it be good to just start with Go and Python?

[2018-08-03 04:19] zqzqz opened #9276 "x-contract-call failed: EVM execution error"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am trying to use wasm contracts on Parity development chain.
Contract is based on [pwasm-tutorial: step5](https://github.com/paritytech/pwasm-tutorial/tree/master/step-5)
Add one cross-cont

[2018-08-03 09:31] tomaka commented on #9167
With Rust 1.28, adding `je_malloc_usable_size` ourselves could actually be a solution if we use the system allocator that is now stable.

[2018-08-03 13:18] Rom1kz opened #9278 "Parity returns past work on eth_getWork request"
Some time ago i've migrated from geth to parity (to use it with my pool), and now i getting some strange behavior - after few hours of work parity stuck and returns past work, but importing of new blocks still continues.

From last example - the parity stuck on block 6080556 and eth_getWork continues to return the work from this block, but in console i saw importing of blocks 6080646 and further.

[2018-08-03 14:29] EZS-JD commented on #9261
Didn't see the Link to the docker wiki section, thanks for that.

I was talking about the docker image description on [Docker Hub](https://hub.docker.com/r/parity/parity/)

Given you have outsourced the relevant information to your wiki, I'd suggest you remove most of the information on hub.docker.com and make the link to the wiki more prominent.
Most of the info on your docker hub page seems misp

[2018-08-03 14:33] Tbaut commented on #9250
Since this is a new problem, I think we could have opened a new issue.

Your problem comes from the fact that you didn't specify `server_set_contract = "none"` in the Secret Store nodes config.

When calling the `private_composeDeploymentTransaction` the SS0 was printing :
[code]

Meaning that it wasn't able to contact the 2 other nodes. I found the error by simply comparing my ss0.toml with yours

[2018-08-03 14:44] Tbaut commented on #9276
@pepyakin can you have a look?

[2018-08-03 15:06] Tbaut commented on #6616
@gitcoinbot up

[2018-08-03 15:10] Tbaut commented on #7625
Closing as stalled. Please reopen if it happens again.

[2018-08-03 15:10] #7625 closed

[2018-08-03 15:20] pepyakin commented on #9276
Haven't worked with tutorial. I think @fckt should know better.

[2018-08-03 15:22] Tbaut commented on #8964
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:22] #8964 closed

[2018-08-03 15:25] Tbaut commented on #8979
Close as stalled. I'll reopen if it happens again.

[2018-08-03 15:25] #8979 closed

[2018-08-03 15:26] Tbaut commented on #9008
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:26] #9008 closed

[2018-08-03 15:27] Tbaut commented on #9037
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:27] #9037 closed

[2018-08-03 15:28] Tbaut commented on #9062
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:28] #9062 closed

[2018-08-03 15:28] Tbaut commented on #9041
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:28] #9041 closed

[2018-08-03 15:30] Tbaut commented on #9078
Close as stalled. Please reopen if it happens again.

[2018-08-03 15:30] #9078 closed

[2018-08-03 15:32] Tbaut commented on #9071
The tutorial is being reviewed, have a look at it here: https://github.com/paritytech/wiki/blob/Tbaut-private-transactions-tutorial/Private-Transactions-Tutorial-Overview.md
I'll close this issue, feel free to answer if you have other questions.

[2018-08-03 15:32] #9071 closed

[2018-08-03 15:35] Tbaut commented on #9122
60sec seems to be enough for most cases. Please reopen if flexible setting is needed.

[2018-08-03 15:35] #9122 closed

[2018-08-03 15:36] Tbaut commented on #9168
Closing as stalled, please reopen if needed.

[2018-08-03 15:36] #9168 closed

[2018-08-03 15:37] Tbaut commented on #9053
@mikonieminen how did the test go? please close if the issue is solved.

[2018-08-03 15:40] Tbaut commented on #9155
Closing as "not a bug" but a feature we decided not to develop for now.

[2018-08-03 15:40] #9155 closed

[2018-08-03 15:42] Tbaut commented on #9129
The Private Tx tutorial is beeing reviewed, you can have a look at it already here: https://github.com/paritytech/wiki/blob/Tbaut-private-transactions-tutorial/Private-Transactions-Tutorial-Overview.md

[2018-08-03 15:42] #9129 closed

[2018-08-03 15:43] Tbaut commented on #9208
closing as stalled.

[2018-08-03 15:43] #9208 closed

[2018-08-03 15:44] Tbaut commented on #9214
@tomusdrw can you have a look when you have a moment?

[2018-08-03 15:45] Tbaut commented on #8065
Closing as stalled.

[2018-08-03 15:45] #8065 closed

[2018-08-03 16:08] phahulin commented on #8954
Now I also can't reproduce it reliably. It sometimes happen when warp-syncing 1.11 from 1.10 node

[2018-08-03 16:15] Tbaut commented on #9261
Definitely, thanks a lot for the heads-up.

[2018-08-03 16:30] fckt commented on #9276
@zqzqz interesting. The contract call throws panic.

[code]

So, by default contracts are compiled without proper error reporting. This is because by default we want to have small binaries. In order to see the panic message you'll need to compile the contract with the `pwasm-std/panic_with_msg` feature on.

[2018-08-03 16:39] Tbaut commented on #9261
Updated, I'll close this issue.

[2018-08-03 16:39] #9261 closed

[2018-08-03 16:51] jakublipinski opened #9279 "parity.getTransactionReceiptsFromBlock()"
If you want to analyze all the receipts from a particular Ethereum block, you need to request the transaction hashes by calling `eth.getBlock()` and for each `tx` returned you need to call `eth.getTransactionReceipt(tx)` to retrieve its receipts. It may require more than 200 API calls to retrieve all the receipts for a particular block.

It'd be great to have a `parity.getTransactionReceiptsFromBl

[2018-08-03 17:03] tjayrush commented on #9279
Here, here. But why not make the same suggestion to Geth? In other words, I think I mean, why not make this an EIP? I'd be happy to help you edit it / prepare it if you write it up.