[2017-09-13 12:57] arkpar commented on #6496
parity 1.7.0 uses less memory by default and should run fine on a Raspberry Pi

[2017-09-13 14:46] AlexVN74 opened #6513 "Docker. Unable to make a connection to the Parity Secure API"
Can't connect form Chrome on one PC(Windows 10) to docker container on another PC(Ununtu server 16.04) in the same LAN started by command:
 docker run -d -p 8180:8180 -p 8545:8545 -p 8546:8546 -p 30303:30303 -p 30303:30303/udp --restart=always  parity/parity:beta --ui-interface all --jsonrpc-interface all

I tried also:
--nat extip:192.168....   NOT WORK
token from "parity signer new-token"  NOT W

[2017-09-13 15:15] tomusdrw commented on #6513
@AlexVN74 Can you start the node with `-lsigner=trace` and post the logs here?
Could you also make sure that the time is synchronized on both machines?

[2017-09-13 15:21] gituser commented on #6456
Any update on this? Maybe there is possible to implement some trivial fix for this?

Thank you.

[2017-09-13 15:32] thomasfire commented on #6501
No, after resetting db it syncs normally, but I thought that parity would just delete corrupted block (or next blocks), but wouldn`t panic so that and I would have to download whole blockchain again.

[2017-09-13 15:33] tomusdrw commented on #6456
Related: #6170

This particular issue should be already solved by #4583. Could you test if the problem persists on 1.7.x?

[2017-09-13 15:39] gituser commented on #6456
@tomusdrw thank you for the update, I'm trying v1.7.2 hopefully it won't break anything else.
Building it right now and will report back soon.

Thanks.

[2017-09-13 15:49] AlexVN74 commented on #6513
Time is synchronized, but timezone was different - fixed in docker container
Restarted with -lsigner=trace
docker run -d -p 8180:8180 -p 8545:8545 -p 8546:8546 -p 30303:30303 -p 30303:30303/udp --restart=always parity/parity:beta --ui-interface all --jsonrpc-interface all -lsigner=trace

Where I can get logs? Command "docker logs ..." shows no new information

[2017-09-13 15:50] rphmeier commented on #6501
"block" in this case is referring to a rocksdb chunk of data, not a block in the chain. It means that the database has become corrupted, and there's not much that can be done in that case.

[2017-09-13 15:50] #6501 closed

[2017-09-13 15:54] roninkaizen commented on #6506
@5chdn it seems as if this is not a real bug.
i have seen this before, but noticed that the database was corrupted therefore killed it.
As i was told i issue an error after third time of appearance.
@CryptoMagnetron i am in gitter- we could go through it step by step just to assure your parity.confidence- as this does not lead to stable running software, you will be able to report issues better in

[2017-09-13 16:11] gituser commented on #6456
Trying to build `parity v1.7.2` without luck with `rustc 1.19.0`, getting this:

[code]

any idea how to fix this?

[2017-09-13 17:36] rstormsf commented on #6487
Got it. and I made a mistake there: I set `base`: `18` while I should have set to 1e18 ( 1000000000000000000) so now I'm looking for an owner of this contract to call `unregister` with an ID of 448.
@5chdn any help on that?
Do you know who is the owner of this contract? [owner](https://etherscan.io/address/0x3ff047e5e803e20f5ef55ea1029adb89618047db)

[TokenReg](https://etherscan.io/address/0x5F028

[2017-09-13 17:45] rstormsf commented on #6487
Someone told me that you are the owner of TokenReg.sol @5chdn
You can also find me in Telegram or gitter: @rstormsf

[2017-09-13 20:25] rstormsf opened #6515 "TokenReg upgrade proposal"
1)I believe the way it should work - it has to read Symbol and Decimals from the token contract without user's input.

Example:
Register Token -> Enter address -> scan blockchain to find:
1)Symbol
2)Decimals

to prevent somebody to just take your symbol name from registry.

There should also be somehow proof-of-ownership. But it's more complicated:
find who created the contract If isNotContract(ad

[2017-09-13 21:22] carver opened #6516 "RAM and open files very high"
I'm running:

- **Parity version**: 1.7.0
- **Operating system**: Xubuntu 17.04
- **And installed**: via *.deb from parity.io website

I'm running with command:
`parity --auto-update all --base-path /mnt/ssd-drive --no-ui --no-ws --no-jsonrpc --no-dapps --db-compaction ssd --geth --log-file /var/log/parity.log`

My RAM usage increases over a day to 12+ GB, and number of open files clocked in at `7

[2017-09-14 00:28] AyushyaChitransh commented on #6513
@AlexVN74 Don't use the `-d` flag, and you will be able to see the output. Use this command to run:

    docker run -p 8180:8180 -p 8545:8545 -p 8546:8546 -p 30303:30303 -p 30303:30303/udp --restart=always parity/parity:beta --ui-interface all --jsonrpc-interface all -lsigner=trace

[2017-09-14 05:03] carver commented on #6516
Interesting, `lsof -p $MY_PARITY_PID` shows that the vast majority of the open handles are: `$BASE/jsonrpc.ipc`.

I'm making a lot of requests over IPC, and each one does open a connection, but AFAICT the code is closing all of them: https://github.com/pipermerriam/web3.py/blob/master/web3/providers/ipc.py#L34

Maybe parity is not letting go of the open file handle when the client closes the strea

[2017-09-14 07:30] 5chdn commented on #6516
What exactly are you doing? 12 GB memory are either a memory leak (unlikely) or releated to whatever you are doing there :)

Same could apply to the number of open files, but please try to share more details.

How long have you been running this node? Can you try again after removing `~/.local/share/io.parity.ethereum/chains/ethereum/network/nodes.json` ?

Have you seen the convenience options? Tr

[2017-09-14 07:37] 5chdn commented on #6515
Thanks for your proposal, I added it to our long-term goals in https://github.com/paritytech/parity-long-term-issues/issues/1

[2017-09-14 07:37] #6515 closed

[2017-09-14 07:38] 5chdn commented on #6515
Strongly related to #6030

[2017-09-14 07:41] 5chdn commented on #6513
Try `docker attach  ...`

[2017-09-14 07:42] tomusdrw commented on #6513
I think the issue might be invalid host headers being sent or disallowed origing. Can you try with `--unsafe-expose` instead of `--ui-interface all --jsonrpc-interface all` and see if it works?

[2017-09-14 07:45] #6506 closed

[2017-09-14 09:42] NikVolf commented on #6511
Would like to keep it open for some discussions

[2017-09-14 10:28] chevdor opened #6518 "Badge display no longer works"
See #3665
This feature used to work. I report this one now as I just noticed it but I think the regression is rather old. I also see the issue on `Parity/v1.7.0-unstable-f22745eb0-20170630/x86_64-macos/rustc1.18.0`

Your issue description goes here below.
**actual** The badges do not show up (tested on mainnet with the SMS verif and ropsten with the Oprah contract)
**expected behavior** The badges

[2017-09-14 12:13] 5chdn commented on #6518
Thanks for confirming. Adding it to https://github.com/paritytech/parity-long-term-issues/issues/1 until we release the new UI.

[2017-09-14 15:01] carver commented on #6516
I'm doing a bunch of mapping lookups back to back. So maybe 10-20k reads, pause a bit, then run it again.

It sure looks like it's keeping an open file handle for every request to the IPC. I sampled this while my reader wasn't running:

[code]

Then ran the reader again until completion. Then counted the open files again:

[code]

~18k new file handles opened, permanently.

---

Maybe a week. I'm

[2017-09-14 17:26] roninkaizen commented on #6506
thx, agree,ack

[2017-09-14 21:10] etscrivner commented on #5805
@tomusdrw Here is the relevant information. It looks like a slightly different error from the one above:

Configuration Flags:

[code]

Strace Results:

[code]

[2017-09-14 21:16] Nogreedy opened #6519 "Why don't you support ENS queries?"
Thanks in advance for your answer.

[2017-09-14 22:01] AlexVN74 commented on #6513
--unsafe-expose WORKS!
Is it correct to use parity with this option?

[2017-09-14 22:43] Diones commented on #6513
The same problem here! I'm unable to get through Parity Secure API.

[2017-09-14 23:04] rstormsf commented on #6030
Here is the problem:
1)In my token ERC20 contracts, I reassign an owner to crowdsale contract.
2)Some people use Ownable.sol `owner == msg.sender` some other TokenController.sol `controller == msg.sender `. So there is no way to know which contract is used to check ownership.

What we can do, however, is to find the creator of the contract and check the ownership.

[2017-09-15 06:46] 5chdn commented on #6516
Thanks for sharing the details. I'll try to reproduce the IPC/open-files issue without web3.py to confirm this is a parity problem soon.

[2017-09-15 06:49] 5chdn commented on #6519
Because no developer or contributor had the time to implement this. PR welcome. #4928

[2017-09-15 06:49] #6519 closed

[2017-09-15 06:57] 5chdn commented on #6513
This option is UNSAFE and should be used with great care!

Now that you know this works for you, you should disable it again and play around with all interfaces and allow your host.

    --ui-hosts $HOSTS \
    --jsonrpc-hosts $HOSTS \
    --ws-hosts $HOSTS \
    --ui-interface $IP \
    --jsonrpc-interface $IP \
    --ws-interface $IP

Where `$IP` is your docker interface IP(s) and `$HOSTS` is yo

[2017-09-15 07:31] jo-tud commented on #6280
I created a chart of the chain folder size while syncing parity (v1.6.0) in `--pruning fast` and `--pruning archive` mode.

A) For the purple line the zig-zag is due to the regular pruning that occurs, right?
B) But what I don't understand is the spikes in the blue line, in archive mode. Looks like also some type of pruning - but there shouldn't be any, right?

![Parity chain folder size](https://

[2017-09-15 08:37] jo-tud opened #6520 "Incorrect stateDiff in trace_replaytransaction"
- **Parity version**: v1.8.0-unstable-d520aa2-20170829/x86_64-linux-gnu/rustc1.19.0
 - **Operating system**: Linux
 - **And installed**: from source

# Problem:
The problem relates to the [trace_replaytransaction](https://github.com/paritytech/parity/wiki/JSONRPC-trace-module#trace_replaytransaction) RPC call.

If A has balance 1000 and B has balance 1000, there are two storage keys with both a va

[2017-09-15 09:28] jo-tud commented on #6520
This supports that this is a bug:
**Before the token transfer (Block 3000002) - this is displayed incorrectly in the state diff:**
```curl --data '{"method":"eth_getStorageAt","params":["0xa74476443119a942de498590fe1f2454d7d4ac0d","0x3122cf52ca415f61f9a275b9b68122794febbe33bf20650f5a17717ee0875719","3000002"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545```
**

[2017-09-15 09:50] c0deright commented on #6280
This seems to be the result of compacting the RocksDB. RocksDB writes a LOT to disk and from time to time this is compacted, resulting in massive disk usage drops.

[2017-09-15 12:59] tomusdrw commented on #5805
The issue was addressed in #6212 and will be part of 1.7.2.

[2017-09-15 12:59] #5805 closed

[2017-09-15 13:06] #6388 closed

[2017-09-15 13:24] ntallar opened #6523 "ECIP 1017: Different behaviour for go-ethereum and Parity"
I'm running the latest versions that include the ECIP 1017:

- **Parity version**: 1.7.0
- **Geth classic version**: 4.0.0
- **Operating system**: Linux
- **And installed parity**: via installer

## Description

When having a Geth classic and a Parity client connected, with a miner being connect to the Parity node, the blocks eventually start not being accepted by the Geth classic client, due to:

[2017-09-15 15:14] rphmeier commented on #6523
cc @sjmackenzie as the original author of ECIP1017 implementation.

[2017-09-15 15:38] denisgranha opened #6525 "only one instance of babel-polyfill is allowed"
---

I'm trying to integrate https://management-beta.gnosis.pm/ with the parity provider but I get an error:
[code]
I need to babel-polyfill in order to serve the page the code is here https://github.com/gnosis/gnosis-management/tree/development

If I disable the babel-polyfill import https://github.com/gnosis/gnosis-management/blob/development/src/index.js#L1 it works with parity but doesn't work

[2017-09-15 16:09] sjmackenzie commented on #6523
@splix @whilei can you take a look at this please.

[2017-09-15 16:23] chevdor opened #6526 "Gas calculation wrong/skipped at first run"
It seems that parity calulcates wrong (or not) when executing the first tx after a new install on a new system. I usually see 21000 no matter what. Helping on the first, things seem to resolve with the next txs.

---

[2017-09-15 17:15] whilei commented on #6523
Projected geth block winner rewards for era(s) in question for comparison:
[code]

@ntallar Can you explain your reasoning more why a loop vs exponentiation would yield different values?

[2017-09-15 17:41] rphmeier commented on #6523
would be accumulated rounding error, I suppose. it should just use the same approach as the go code to take `reward * (4**era) / (5**era)`

[2017-09-15 17:55] ntallar commented on #6523
That's right @rphmeier , I think it's a rounding error as `reward * (4**era) / (5**era)` is different than `calc_reward = reward; for _ in 0..eras { calc_reward = calc_reward / U256::from(5) * U256::from(4); }` if `reward=5000000000000000000` (5 ether) and `era=21`. If I didn't make any mistake the first way has `46116860184273879` as a result and the second way `46116860184273876`.
Either way, I

[2017-09-15 19:17] splix commented on #6523
We discussed Rounding Error as a potential issue for ECIP-1017, but decided as it isn't going to happen in next few decades we can postpone the solution. That will probably include a formal definition how you should make calculation/rounding, or even a value table for some eras.

I guess it's a question to @snaproII which number to choose as correct 46116860184273879 or 46116860184273876, so we ca

[2017-09-16 00:03] rickw opened #6527 "Thread 'IO Worker #0' panicked at 'DB flush failed.: "IO error:"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
`====================

stack backtrace:
   0:       0x94bc0626bc - backtrace::backtrace::trace::h9b9a5fb45660e72d

Thread 'IO Worker #0' panicked at 'DB flush failed.: "IO error: /mnt/data/cha

[2017-09-16 06:40] stone212 opened #6528 "libssl1.0.2 not acceptable to 1.7.0 .deb package"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Failure running:

`# dpkg -i parity_1.7.0_amd64.deb`

Error:

[code]

The system does have libssl1.0.2 installed.  That is the default for Debian 9 stable.  But Parity does not know to look f

[2017-09-16 21:05] ItsmeJulian opened #6530 "After loading Root Certs, loaded==false: NSS error code: -8018"
![pa](https://user-images.githubusercontent.com/16867291/30521705-688facee-9bc4-11e7-909f-bed8ec8b54c1.png)
i installed via bash <(curl https://get.parity.io -Lk) on
chromium Version 57.0.2987.98 Built on 8.7, running on Debian 8.8 (64-bit), **no extension** **EDIT**

installed build dependencies and are up to date
then i start parity with parity ui
Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86

[2017-09-17 02:29] asmello opened #6531 "Javascript API: invalid params on contract creation"
I'm running:

- **Parity version**: Parity/v1.7.0-beta-5f2cabd-20170727
- **Operating system**: Linux (Ubuntu 16.04 x64)
- **And installed**: via installer (apt)

[code]

This last line fails with a JSON invalid params error. This is because the parser expects data's byte string to be prefixed with '0x', which doesn't apply to solc's bytecode. This wouldn't be considered a bug, except this require

[2017-09-17 06:17] leopoldjoy commented on #6250
@tomusdrw When I add the flag `--ws-interface 192.168.10.80`, I get the error: `Unknown flag: '--ws-interface'. Did you mean '--ui-interface'?` Any idea why I can't set flags prefixed with `--ws`?

[2017-09-17 08:02] 5chdn commented on #6526
That's in the wallet (UI) isn't it?

[2017-09-17 08:03] 5chdn commented on #6527
Your disk is full :)

[2017-09-17 08:03] #6527 closed

[2017-09-17 08:04] 5chdn commented on #6528
Yeah, this needs to be fixed. Duplicate of #5893

cc @paritytech/ci

[2017-09-17 08:04] #6528 closed

[2017-09-17 08:06] 5chdn commented on #6530
Do you use the parity chrome extension? Or does this happen without?

cc @tomusdrw

[2017-09-17 09:04] 5chdn commented on #6250
@leopoldjoy ws interface is only available in 1.7.0 and later.

[2017-09-17 10:33] 5chdn commented on #6518
@chevdor Could you tell me, do you see token balances on ropsten? It seems the registries are broken.

[2017-09-17 11:50] chevdor commented on #6526
Yep

On Sun, Sep 17, 2017, 10:02 Afri Schoedon <notifications@github.com> wrote:

[2017-09-17 11:52] chevdor commented on #6518
On ropsten, good question. I need to check. On Kovan I am positive that
everything related to tokens is ok: I see both balance and image.

On Sun, Sep 17, 2017, 12:33 Afri Schoedon <notifications@github.com> wrote:

[2017-09-17 12:57] chevdor commented on #6518
After a check on ropsten, I confirm: I can see token balances:
![image](https://user-images.githubusercontent.com/738724/30521010-650ccd88-9bb8-11e7-8ac7-22e8015207d5.png)
(You made me buy some GavCoins 🥇 )

[2017-09-17 13:07] chevdor commented on #6518
Oprah confirms I am 'OK' :)
![image](https://user-images.githubusercontent.com/738724/30521097-daa4a0e2-9bb9-11e7-9dd8-0dcc395bf907.png)

[2017-09-17 14:10] chevdor commented on #6518
@5chdn There is something weird.
I am assuming that BadgeReg on Ropsten is 0xcF5A62987294fd2087252FD812443508528C52bF
I am assuming that the Oprah badge is 0xdD6a26f8971dF44698a2A3213512A5e3a0f97F61

The BadgeReg is not aware of 0xdD6a26f8971dF44698a2A3213512A5e3a0f97F61
![image](https://user-images.githubusercontent.com/738724/30521624-af63490c-9bc2-11e7-8cc4-f32341a05544.png)

[2017-09-17 14:26] chevdor commented on #6518
Closing this issue. The problem was in the issue providing the addresses of the badges on ropsten.
I found the real Oprah badge contract: 0x72f4b7a806d8fd0a2f7d66c0CD1D71ea40Be5669
The contract was deployed 2 times and the first deploy probably had an issue and got revoked.

This one IS in the BadgeReg and it works all fine on Ropsten as the picture below shows.

That also answers my previous ques

[2017-09-17 16:10] chevdor opened #6534 "Badges do not survive browser refresh"
See also #6518.

I am using a badge known as working (Oprah2).
After certification (calling the certify() function of the badge contract), I wait for the event to fire.
At that point, the badge appears in Parity without any user action.

If the user refreshes the page, the badges are no longer displayed... ever. No refresh, parity restart, etc... make the badge appear again.

The only workaround I

[2017-09-17 20:02] chevdor commented on #6534
This applies to stopping parity, closing the web page and restarting parity.
So the TTL of badges is currently rather short 😢
I just testing that as well on Fundation.

[2017-09-17 20:48] phahulin commented on #6508
@rphmeier Could you reopen this and keep it opened until PR that solves it is issued.
We are making a private PoA network, currently we use 1.7, and it is important to us to start testing 1.8 as soon as possible to mitigate possible problems.
Thank you.

[2017-09-17 21:03] tomusdrw commented on #6530
The errors/warnings you see are unrelated to the issue (and not even related to Parity at all). My guess is that the browser does a lot of work right after it's started (#6387) and it causes Chrome to kill it. Most likely fixed in 1.7.2

[2017-09-17 23:51] rickw commented on #6527
So it seems 700GB is not enough for a full Archive sync.  I've restarted with 1.5TB disk.

[2017-09-18 00:34] julian1 opened #6535 "seg fault after synching snapshot"
same behavior on two different digital ocean servers. restart and it crashes again

**I'm running:**

[code]

**Operating system**:
[code]

**Compiled rom source:**

[code]

**actual behavor:**
[code]
---

Edit. with gdb on release binary,

[code]

[2017-09-18 01:01] julian1 commented on #6535
probably a duplicate, https://github.com/paritytech/parity/issues/6446. Is this a known bug in the compiler or parity?

[2017-09-18 01:43] 3esmit commented on #6130
How to configure ntp server?

[2017-09-18 04:55] julian1 commented on #6535
reopening, still present when parity is compiled with rust 1.19.0 as indicated in the [readme](https://github.com/paritytech/parity/blob/master/README.md)

[code]

datadir deleted and restarted,
[code]

[2017-09-18 06:18] detailyang commented on #6319
+1 for `Parity//v1.7.0-beta-5f2cabd-20170727/x86_64-macos/rustc1.18.0`

[2017-09-18 07:57] julian1 commented on #6535
ok, so 1.18.0 does work.

[2017-09-18 07:57] #6535 closed

[2017-09-18 08:44] travs opened #6536 "parity.js : unable to properly deploy a contract"
I'm running:
- **Parity version**: Parity/v1.8.0-unstable-b731ccea1-20170903/x86_64-linux-gnu/rustc1.19.0
- **Operating system**:  Linux
- **And installed**: via `pacman -S parity-git`
- **parity.js** installed via `npm i @parity/parity.js`

---

I want to deploy a small contract using `parity.js`, but I ran into a snag.
Perhaps I am using the library incorrectly?

What I tried:
[code]

Expected r

[2017-09-18 08:50] 5chdn commented on #6535
Yes, stable requires 1.18.0

[2017-09-18 08:52] 5chdn commented on #6527
500 GB free space should be sufficient for a full archive sync. Did you enable tracing or fatdb?

[2017-09-18 08:54] travs commented on #6536
*Addendum*:

Please let me know if this is a separate issue, and I will create a new one.
After running the code above, I set the `_api` manually, and get another error:

Further input:

[code]

Output:

[code]

The promise is rejected with "request not found", but the transaction [appears to have succeeded](https://kovan.etherscan.io/tx/0x76161b35c213a8ce6d9073f6ece2be7fc5ce31ad9cf910670788811df4

[2017-09-18 08:54] 5chdn commented on #6518
For future reference: All registries used by the wallet can be found in the JS console.

    [lookupAddress] dappreg: 0xD36d48C274af1a169857C9721e122aa023A0eE01
    [lookupAddress] signaturereg: 0x61792B7bB39b2C359660Ed1082154c1daf7fc96a
    [lookupAddress] tokenreg: 0x04a4FA2AdABbDbE6910A3222BfE73Eab472ec9E2
    [lookupAddress] githubhint: 0xFf73370Ff5AF5B3A1D5B97a7E368392fD7457429
    [lookupAdd

[2017-09-18 08:57] 5chdn commented on #6534
Thanks for your report, added this to the long list of annoyances which are not going to be fixed until the new wallet is released. :)

[2017-09-18 09:01] 5chdn commented on #6530
Parity 1.7.2 will be released today, please report back if this still persists with the new version.

[2017-09-18 09:01] #6530 closed

[2017-09-18 09:08] giacomolicari opened #6537 "personal_importRawKey throws method not found"
Hi guys,
I'm getting **Method Not Found** error when executing **importRawKey**.

I'm running:
- **Parity version**: Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0
- **Operating system**: Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-107-generic x86_64
- **And installed**: bash <(curl https://get.parity.io -kL)

Here is the stacktrace:
    self.web3.personal.importRawKey(self.privkey, pas

[2017-09-18 09:17] chevdor commented on #6534
Looking forward to the new wallet then :)

[2017-09-18 09:35] travs commented on #6282
@5chdn
is this a duplicate of #5022 ?

[2017-09-18 09:36] 5chdn commented on #6537
There is no importRawKey in the personal API:

https://github.com/paritytech/parity/wiki/JSONRPC-personal-module

You probably want `parity_newAccountFromSecret`:

https://github.com/paritytech/parity/wiki/JSONRPC-parity_accounts-module#parity_newaccountfromsecret

[2017-09-18 09:36] #6537 closed

[2017-09-18 09:37] 5chdn commented on #6282
Yes, thanks.

[2017-09-18 09:37] #6282 closed

[2017-09-18 11:38] rphmeier commented on #6508
Instability of the master branch will not be solved until it becomes the beta branch. There isn't much more I can do about that.

[2017-09-18 13:20] travs commented on #6536
this was a small error in the docs, which #6539 should address.
Opening my comment as a separate issue

[2017-09-18 13:27] jpritikin commented on #5893
Is this already fixed by PR #4260 ?

[2017-09-18 13:28] travs opened #6540 "Parity.js cannot deploy contracts from an unlocked node"
*Moved from #6536*

---

I'm running:
- **Parity version**: Parity/v1.8.0-unstable-b731ccea1-20170903/x86_64-linux-gnu/rustc1.19.0
- **Operating system**:  Linux
- **And installed**: via `pacman -S parity-git`
- **parity.js** installed via `npm i @parity/parity.js`

---

What I tried:
[code]

Expected result: Contract deployed on Kovan network.

Actual result:

The promise is rejected with "reques

[2017-09-18 13:33] GelatinousFury opened #6541 "Propy (PRO) ERC20 tokens not appearing in Parity wallet"
I recently bought some Propy (PRO) ERC20 tokens from their ICO.  I sent the tokens from Orderbook.io to my Parity wallet address, and the transaction was successful:

https://etherscan.io/tx/0x93bd3e6a5e832685ae3d497ccbf58e6601e725f3fd2ffaf1de1d0d506c497760

I verified that the receiving address was correct, but I cannot see the PRO tokens within my Parity wallet.  I have never had this issue with

[2017-09-18 13:52] 5chdn commented on #6541
Replied on Twitter :)

https://github.com/paritytech/parity/wiki/Token-Registry

[2017-09-18 13:52] #6541 closed

[2017-09-18 13:53] GelatinousFury commented on #6541
Thanks!

[2017-09-18 13:54] 5chdn commented on #5893
No, PR #4260 introduced this issue.

[2017-09-18 17:43] ItsmeJulian commented on #6530
built from source  :
Starting Parity/v1.8.0-unstable-9196c72-20170918/x86_64-linux-gnu/rustc1.19.0

same error:

[code]

parity 1.6 worked fine until i clicked update in the bottom bar. Then removed all installed new ( then openend issue), now built new version from source, same behaviour. Could y at least give me pointers, what is the error code etc?

[2017-09-18 18:47] cdeyoung opened #6543 "Parity fails to start when config.toml contains any values on macOS Sierra"
I've added a config.toml file at ~/Library/Application Support/io.parity.ethereum/config.toml.  If I leave that file blank and type, "brew services start parity," at the command line, Parity starts fine and I am able to connect to and use it, both via the JSON RPC and the web interface on port 8180.  However, if I put any values in the config.toml file at all, Parity refuses to start.

For example

[2017-09-18 20:10] gituser commented on #6456
I've tested `v1.7.2` it didn't fix it either. With 35K accounts there is constant 100% cpu load.

after moving 25k out of the keys dir the CPU usage goes down a bit.

[2017-09-18 20:44] gaia opened #6544 "Pruning: method and history defaults"
No issue here, just a clarification needed.

[Here](https://github.com/paritytech/parity/wiki/Configuring-Parity) it says the default pruning method is "auto" and pruning_history = 64

[Here](https://github.com/paritytech/parity/wiki/FAQ:-Basic-Operations,-Configuration,-and-Synchronization) it says the default method is "fast" and pruning_history = 1200.

The latter doc is only one day older than

[2017-09-18 21:57] zimmerflo8 opened #6545 "update failes with homebrew"
# parity --version
    version Parity/v1.6.10-stable-1a5b176-20170721/x86_64-macos/rustc1.18.0

    # brew update
    ==> Upgrading paritytech/paritytech/parity --stable
    ==> Downloading http://d1h4xl4cr1h0mo.cloudfront.net/v1.6.10/x86_64-apple-darwin/parity
    ######################################################################## 100.0%
    Error: Empty installation
    Warning: Skipping pa

[2017-09-18 22:03] jjziets opened #6546 "error: aborting due to previous error"
Any idea what I am dowing wrong?

My steps was follows

new fresh Ubuntu 16.04

    $ curl https://sh.rustup.rs -sSf | sh
    sudo apt-get install -y  gcc    , g++, libssl-dev , openssl, libudev-dev and pkg-config
    $ git clone https://github.com/paritytech/parity
    $ cd parity
    $ ~/.cargo/bin/cargo build --release

    result after some time:

    /stable-x86_64-unknown-linux-gnu/lib/rustl

[2017-09-18 23:07] sandakersmann opened #6547 "Error installing 1.7.2 with one-line installer on Ubuntu 17.04"
Hi. I'm trying to install Parity 1.7.2 with one-line installer on Ubuntu 17.04.
I'm currently running 1.7.0. I get this in the terminal:

`~$ bash <(curl https://get.parity.io -Lk)    `

`  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current    `

`                                 Dload  Upload   Total   Spent    Left  Speed    `

`100   170    0   170    0     0    491

[2017-09-19 00:33] drobsarma commented on #6547
Similar Issue on 16.04 freshly installed

[2017-09-19 00:47] davux commented on #6513
Great!

Now that we know that `--unsafe-expose` works (unsecurely) around the problem, do we know why there is a difference between expectation and reality in the headers? This problem seems to be specific to Parity running inside Docker. (I'm having exactly the same issue.)

[2017-09-19 00:49] drobsarma opened #6548 "Online installer not working in FRESH Ubuntu 16.04. Nor in any other distro."
Hello. I Love Parity.
But since 10 hours nobody is installing parity any longer via the online installerlllll.
Actually i hardly believe any non developer can install parity on ubuntu since the .deb package has not worked, ever.
Thanks, its amazing software, and i hope for online installers archive with older versions.
And i really need an online installer of the previous version

Here is the issu

[2017-09-19 00:59] sleepndevelop commented on #5474
Happened to me as well, it crashed after a few seconds under Windows 10 Home.

Log:
-----------------
2017-09-19 02:53:18  Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-windows-msvc/rustc1.18.0
2017-09-19 02:53:18  Keys path C:\Users\Developer\AppData\Roaming\Parity\Ethereum\keys\Foundation
2017-09-19 02:53:18  DB path C:\Users\Developer\AppData\Local\Parity\Ethereum\chains\ethereum\db\906a3

[2017-09-19 01:54] ddorgan commented on #6548
Can you please re-try now...

[2017-09-19 01:56] ddorgan commented on #6547
Can you please retry now.

[2017-09-19 02:07] drobsarma commented on #6548
Thank you, it is now working.
 it will be really really great if there are online installers of the previous versions.
Or atleast a fokder wjth bash installers of older versions.
Thanks.

[2017-09-19 03:33] GelatinousFury opened #6549 "Registered new token but balance still not showing up"
_Before filing a new issue, please **provide the following information**._

A few moments ago I registered the Propy token in the Parity token registry (I had to use PR0 because PRO was already taken...I had no other choice).  I sent my Propy tokens to my Parity wallet last night (tx https://etherscan.io/tx/0x93bd3e6a5e832685ae3d497ccbf58e6601e725f3fd2ffaf1de1d0d506c497760), not knowing that the P

[2017-09-19 04:25] AyushyaChitransh commented on #6547
I am on 16.04

    ~$ bash <(curl https://get.parity.io -Lk)

It works and I was able to upgrade to `version Parity/v1.7.2-beta-9f47909-20170918/x86_64-linux-gnu/rustc1.19.0`

[2017-09-19 04:26] mtbitcoin opened #6550 "Thread '<unnamed>' panicked at 'Unexpected rlp error: RlpIsTooShort' (Ropsten Byzantium Fork)"
When running on the new Byzantium Ropsten fork and attempting to do a eth_getTransactionReceipt for this specific TxHash  0x360ae8131ff5c56694a85b4cc442921dd0cfcf8151927eda497583ad9041e9cf

curl http://localhost:8546 -X POST --data "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getTransactionReceipt\",\"params\":[\"0x360ae8131ff5c56694a85b4cc442921dd0cfcf8151927eda497583ad9041e9cf\"],\"id\":1}" -H "Conten

[2017-09-19 07:24] tomusdrw commented on #6513
It's fine to run with `--jsonrpc-interface all --ui-interface all --ws-interface all` inside docker container. For additional security you can limit what external address can be used to access the node using `--*-hosts` options.
So for instance if you use `http://localhost:8180` to open Parity Wallet on the host machine you should set:
`--ui-hosts localhost:8180 --jsonrpc-hosts localhost:8545 --ws

[2017-09-19 07:29] travs commented on #6540
This *may* be because I am running on an unlocked node.
Looking at [this](https://github.com/paritytech/parity/blob/9196c7268abad6c0f0dc872d6c5936ace5d794d8/js/src/api/contract/contract.js#L134-L138) block of code, if `postTransaction` returns a hash, as it does in [the unlocked node case](https://github.com/paritytech/parity/wiki/JSONRPC-parity-module#returns-29) then maybe this confuses the next

[2017-09-19 07:32] 5chdn commented on #6530
That's not a parity log but a browser log.

[2017-09-19 07:33] 5chdn commented on #6543
Please share the logs, how does it refuse to start? Any errors?

[2017-09-19 07:36] 5chdn commented on #6544
This is the default. Will update the docs.

    --pruning METHOD               Configure pruning of the state/storage trie. METHOD
                                   may be one of auto, archive, fast:
                                   archive - keep all state trie data. No pruning.
                                   fast - maintain journal overlay. Fast but 50MB used.

[2017-09-19 07:36] #6544 closed

[2017-09-19 07:38] 5chdn commented on #6544
auto defaults to fast btw if no preset is found.

[2017-09-19 07:39] 5chdn commented on #6545
You are on the stable channel. Try

    brew install parity --beta

[2017-09-19 07:39] #6545 closed

[2017-09-19 07:40] 5chdn commented on #6546
Which Rust version is that?

[2017-09-19 07:42] 5chdn commented on #5474
Please don't use `--fast-and-lose`. Can you share the full logs after the conversion rate?

[2017-09-19 07:44] 5chdn commented on #6548
What's not working with the deb?

[2017-09-19 07:45] 5chdn commented on #6549
Can you please check this with 1.7.2 ?

[2017-09-19 07:46] 5chdn commented on #6547
Duplicate of #6548

[2017-09-19 07:46] #6547 closed

[2017-09-19 07:49] #6513 closed

[2017-09-19 07:53] 5chdn commented on #6536
Tests failing https://gitlab.parity.io/parity/parity/-/jobs/65193

[code]

Probably related.

[2017-09-19 08:07] giacomolicari commented on #6537
Thanks @5chdn , using parity_newAccountFromSecret works.

[2017-09-19 08:10] ItsmeJulian commented on #6530
**chromium Version 57.0.2987.98 Built  bug confirmed**

[2017-09-19 08:26] travs commented on #6540
With @tomusdrw : Moved [here](https://github.com/paritytech/parity.js/issues/2) ; PR there shortly

[2017-09-19 08:44] jjziets commented on #6546
O ok it is rustc 1.20.0 (f3d6973f4 2017-08-27)

I should unstall it I assume and install 1.19? How do i do that?

$curl https://sh.rustup.rs -sSf | sh

this seems to give me 1.20

[2017-09-19 09:20] travs commented on #6536
Not sure why this build is failing since I changed just one word in the readme.
I have moved the proposed change over [here](https://github.com/paritytech/parity.js/pull/3), so we can close this and the PR on this repo

[2017-09-19 09:20] #6536 closed

[2017-09-19 09:38] 5chdn commented on #6546
Can you try

    ~/.cargo/bin/cargo clean
    ~/.cargo/bin/cargo build --release --verbose

[2017-09-19 12:20] GelatinousFury commented on #6549
I just installed 1.7.2 but the problem persists.  My Propy balance is still listed as 0.000.  Anything else to try?

[2017-09-19 12:31] 5chdn commented on #6549
Are you fully synchronized? What's your node status?

[2017-09-19 12:37] GelatinousFury commented on #6549
Node Health
Chain Synchronized (yes)
Connected Peers (25/25)
Time Synchronized (862 ms):  "Your clock is not in sync.  Detected difference is too big for the protocol to work: 862ms.  Synchronize your clock."

[2017-09-19 13:10] mtbitcoin commented on #6550
fyi only, i have also tried purging all the chain data folder and re syncing from scratch with the same error result.

[2017-09-19 13:14] nandod opened #6554 "Wrong number of decimals for Propy token"
I'm running:

- **Parity version**: 1.7.2
- **Operating system**: Windows
- **And installed**: via installer

Propy tokens (PR0, please mind the zero) are registered in the token registry with the wrong number of decimals (18 instead of 8), thus the balance in Parity is displayed incorrectly.
The contract is located at 0x226bb599a12C826476e3A771454697EA52E9E220.

I have WATCHed the contract in the

[2017-09-19 13:15] 5chdn commented on #6549
It's not registered yet, just checked. If tell me the number of decimals I can try it for you.

[2017-09-19 13:27] GelatinousFury commented on #6549
When you say "it", do you mean the transaction itself?  If so, the transaction amount was exactly 1501.85947999

[2017-09-19 14:39] cdeyoung commented on #6543
@5chdn - Parity doesn't seem to be writing logs when run with brew services, which is one of the things I was trying to configure in config.toml.  Parity seems to load the config.toml file fine if I run parity from the command line directly, but if I try to run it as a daemon via brew services, it dies without any indication as to why.

[2017-09-19 15:01] sleepndevelop commented on #5474
That was the full log file
And the issue was there even for the first 2 tries without --fast-and-loose

[2017-09-19 15:30] 5chdn commented on #6549
No the token in the registry.

[2017-09-19 15:32] GelatinousFury commented on #6549
That doesn't make sense to me.  This morning I searched the token registry by address, entered in the contract address for the Propy token and it queried the token successfully.

[2017-09-19 17:15] sandakersmann commented on #6547
Yes, works now :)

[2017-09-19 17:51] daverod24 commented on #6513
in Docker there are still problems for the new-token signer

  synchronize the clock and timezone

I execute
[code]

to have a code I do
``` /parity/parity --chain dev --ui-interface 0.0.0.0 signer new-token ```

And with all that not open to me the message continues to appear
Unable to make a connection to the Parity Secure API. To update your secure token or to generate a new one, run parity sig

[2017-09-19 18:11] zimmerflo8 commented on #6545
why not update stable channel? beta is beta and is not stable @5chdn

[2017-09-19 20:31] nevillepettersson opened #6557 "Can't connect to app on firefox?"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Last night I installed and transferred some ETH to my new wallet. It never showed up. I think it had a problem connecting?

This morning I'm trying to open the app again and it won't wor

[2017-09-19 22:22] coinsoncoins commented on #6548
not sure if this is related, but i am getting the same error on Mac OS

$ bash <(curl https://get.parity.io -Lk)
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   170    0   170    0     0    170      0 --:--:-- --:--:-- --:--:--   257
100  2990  100  2990    0     0   2990      0  0:0

[2017-09-19 22:31] nevillepettersson opened #6558 "Where is my ETH gone?"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I transferred some ETH from my coinbase to ma Parity address:

https://etherscan.io/tx/0xe6ec3eb65a27ec1e13443e91f78eac17ba54538aca58b2d901dde4fd32c7ebd2

I had some trouble getting my P

[2017-09-19 22:33] ddorgan commented on #6548
Can you give it a try now.

[2017-09-19 22:35] #6557 closed

[2017-09-19 22:50] coinsoncoins commented on #6548
works now, thanks

[2017-09-20 07:29] 5chdn commented on #6558
Have you tried to restart your node? Warp sync usually takes only 15 minutes.

You are not fully synchronized, that's why your balance is not displayed correctly. Which block are you on? Does the footer say "Warp Restore"?

In addition, please go to the status tab and scroll down and enable the logs, and please, share them here, I will have a look at it.

Are you on HDD or SSD? How much RAM do you

[2017-09-20 07:33] jo-tud commented on #6520
@5chdn Can I somehow contribute to speed this up?

[2017-09-20 07:59] mrbrdo commented on #6083
This is crucial to support using EtherDelta with Ledger Nano through Parity (I don't think there is any other alternative right now to use ED with a hardware wallet)!

👍  @arkpar

[2017-09-20 08:44] 5chdn commented on #6479
let me format that for you https://jsonformatter.curiousconcept.com/ :smile:

[code]

JSON is not meant to be human-readable. What are you trying to do?

[2017-09-20 08:46] 5chdn commented on #6513
You are missing the websocket ports. `-p 8546:8546`

Please see https://github.com/paritytech/parity/wiki/Docker

[2017-09-20 08:47] 5chdn commented on #6545
You already have 1.6.10 installed which is our latest stable.

[2017-09-20 08:51] 5chdn commented on #6543
Try

    $ sudo launchctl log level debug
    $ tail -f /var/log/system.log

Or stop the service and run it manually

    $ launchctl stop parity
    $ parity

[2017-09-20 09:11] 5chdn commented on #6372
@arkpar I was able to reproduce this on my office laptop today and logged the full trace of sync, network, and snapshot: https://5chdn.co/dump/g7xny97o/8i4h/warp-sync-fail.log.tar.bz2

It's around 65 minutes of logs, warp sync was stuck at 32% and fetching blocks in background.

[2017-09-20 10:37] arkpar commented on #6372
@5chdn could repeat the test with the `sync-fix` branch?

[2017-09-20 12:40] 5chdn commented on #6372
@arkpar compiled and running. So far it looks good. However, I had to reset my configuration this morning to unregister some tokens. I wasn't able to fix the warp sync until I removed everything in `chains/ethereum/*`. A `db kill` command wasn't sufficient.  Maybe some old `nodes.json`? Or some messed up `user_defaults`?

[2017-09-20 13:09] 5chdn commented on #6372
Here is another user with this issue: https://www.screencast.com/t/bBcU5oYXKm

For some reasons it tries to fetch 700+ snapshots (and eventually fails) while a normal warp sync should only fetch ~360.

[2017-09-20 13:49] avatar-lavventura commented on #6479
ah got it :) Well I was just trying the obtain connected peers information such as their ip-addresses, enode-id, their open port etc.@5chdn

[2017-09-20 15:40] charcoal3256 commented on #6250
Hi, I am having problems running parity on my computer. It give an error of 'Connecting to the Parity Node. If this informational message persists, please ensure that your Parity node is running and reachable on the network. ' even after running it for 5-6 hours, it still display this error message. Anyone can help?

Thanks

[2017-09-20 16:03] GelatinousFury commented on #6549
Any updates or other suggestions to get Parity to show these Propy tokens?

[2017-09-20 16:32] drandreaskrueger opened #6561 "when starting Ropsten first time, my keys were moved (not copied)"
Perhaps this is not an issue at all, and I don't understand what is really happening here, then just close it (and perhaps give me a pointer to understand it better, thanks). But perhaps it is an issue:

# rather use `copy` instead of `move` ?

I had a parity (mainnet) instance, with a few keys.
Now I have (upgraded parity, then) started Ropsten for the first time, with

```parity --chain ropsten

[2017-09-20 17:10] drandreaskrueger opened #6562 "not snapshot-syncing (Ropsten) by default"
I had expected to --warp sync Ropsten via:

    rm -rf /home/akrueger/.local/share/io.parity.ethereum/chains/test/db/ae90623718e47d66
    parity --warp --chain ropsten --bootnodes "enode://20c9ad97c081d63397d7b685a412227a40e23c8bdc6688c6f37e97cfbc22d2b4d1db1510d8f61e6a8866ad7f0e17c02b14182d37ea7c3c8b9c2683aeb6b733a1@52.169.14.227:30303,enode://6ce05930c72abc632c58e2e4324f7c7ea478cec0ed4fa2528982cf

[2017-09-20 19:41] 5chdn commented on #6561
This is an edge case. We did not expect that you run a different chain after upgrading your client.

Feel free to manually move your keys to the desired location.

[2017-09-20 19:42] 5chdn commented on #6562
Please share the full version string of your parity instance including commit hash and date.

[2017-09-20 19:43] 5chdn commented on #6562
Note that `--warp` is enabled by default and does nothing.

Note that manually removing the chain is not required anymore, just run `parity --chain ropsten db kill`

[2017-09-20 19:45] 5chdn commented on #6549
I removed PR0 today, you can go ahead and register it again.

[2017-09-20 19:46] 5chdn commented on #6549
Someone registered it with 18 decimals, that's why your parity node showed 0.000.

[2017-09-20 20:55] nevillepettersson commented on #6558
Thanks, I left it on overnight and it’s now caught up.

My balance is showing now J

Thanks

Neville Pettersson

(06) 6511 384

021 08767132

From: Afri Schoedon [mailto:notifications@github.com]
Sent: Wednesday, 20 September, 2017 7:30 PM
To: paritytech/parity
Cc: nevillepettersson; Author
Subject: Re: [paritytech/parity] Where is my ETH gone? (#6558)

Have you tried to restart your node? Warp sy

[2017-09-20 22:41] zimmerflo8 commented on #6545
yes correct, but doing "brew update" I get an error message "Error: Empty installation" (see OP)
no error with --beta version but using stable and running "brew update" I get error
when is it fixed in stable? i dislike beta

[2017-09-20 23:36] sleepndevelop commented on #5474
Restarted my PC and still crashes, and i'm not using --fast-and-loose.

Is there a verbose mode option to write a more detailed log and easily spot the bugs?
Or can you implement it in a next release?

[2017-09-21 00:37] GelatinousFury commented on #6549
I'm unable to re-register the Propy token.  Parity tells me "This Token address is already registered".

Token address is 0x226bb599a12c826476e3a771454697ea52e9e220

[2017-09-21 06:14] #6558 closed

[2017-09-21 06:17] 5chdn commented on #5474
Try

    "C:\Program Files\Parity\Parity\ptray.exe" --logging trace --log-file=X:\eth-wallet\parity-debug.log ui

[2017-09-21 06:20] 5chdn commented on #6549
Probably someone else registered it. Is your balance displayed correctly?

[2017-09-21 06:43] charcoal3256 commented on #6250
@5chdn Windows 8, parity 1.7, I install it by downloading from parity.io, I just installed it and let it run.
I managed it get into the login in page after 7 hrs, but it says that 'your node is still syncing, the values you see might be outdated, wait until it's fully sync.
![parity](https://user-images.githubusercontent.com/32134943/30682197-350e5aae-9edb-11e7-9e10-c2cfccd12fa7.jpg)

[2017-09-21 08:10] #6540 closed

[2017-09-21 08:11] #6550 closed

[2017-09-21 08:49] 5chdn commented on #6250
Oh yes, please upgrade to 1.7.2 :)

[2017-09-21 09:08] rstormsf opened #6564 "STRESS testing: submitting too many requests kills parity"
[code]

I simply throw a lot of transactions at the node

Parity//v1.7.0-beta-5f2cabd-20170727/x86_64-macos/rustc1.18.0

I can provide the script, once I get an approval
---

[2017-09-21 09:10] arkpar commented on #6545
@zimmerflo8 try updating homebrew itself with `brew upgrade` this should fix confusing error message, but as @5chdn said you already have the latest stable version installed.

[2017-09-21 09:11] 5chdn commented on #6564
`too many open files` is an OS error. https://superuser.com/questions/433746/is-there-a-fix-for-the-too-many-open-files-in-system-error-on-os-x-10-7-1

Should not panic though.

[2017-09-21 09:12] arkpar commented on #6564
A script would be useful indeed. How exactly do you connect to parity API? Could it be that you are creating a new connection for each request?

[2017-09-21 09:20] 5chdn commented on #6564
Might be related: #6516

[2017-09-21 09:20] arkpar commented on #6372
There are multiple problems here:
1. When all peers with currently syncing snapshot disconnect sync pauses snapshot sync and falls back to full mode until a snapshot peer appears again. The log still reports snapshot sync as ongoing though. This is fixed in #6560

2. Parity does not preference peers with snapshots, leading to cases when all slots are taken by peers without a snapshot in the middle

[2017-09-21 09:30] 5chdn commented on #6372
Re: 2) can't we force a default number of "snapshot peers"?

[2017-09-21 09:50] riartem opened #6565 "UI slowing down when exists transactions with many parameters"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

When we have even one transaction with many parameters (after calling contract with parameter-array) — the UI is lowing down seriously. Expected behavior: parity must collapse transaction parameters in transactions list.

![image](https://user-images.githubuserc

[2017-09-21 10:51] charcoal3256 commented on #6250
Awesome. Issue is solved after upgrading. Thanks!

[2017-09-21 11:31] 5chdn commented on #6565
What are you trying to do? Could you upgrade to 1.7.2 please?

[2017-09-21 11:39] riartem commented on #6565
@5chdn I trying to get account transactions list. One of that transactions has parameter[array]
If it exists — Parity UI slowing down, freezes and hanging up.

Updated to 1.7.2 — the same. I propose collapse transaction parameters to improve rendering speed.

[2017-09-21 11:54] sleepndevelop commented on #5474
Here the log: https://1drv.ms/u/s!Ao4pRXNsgcpfi0CyTXZI5Fvr81XA

I notice it could not load a json file

[2017-09-21 12:01] GelatinousFury commented on #6549
My balance is still not showing up.  Upon further inspection, the Propy token was re-registered as "Pro" but for some reason the decimal places are wrong again.  The decimal places should be 8, but the token registry is telling me someone put the decimal places in as 0.9030899869919435.

You may need to remove Propy from the registry again and register it correctly.  Is this something you can do o

[2017-09-21 12:15] 5chdn commented on #6549
Can you please share your public account address, you can also PM me on gitter, I want to look into this.

[2017-09-21 12:22] 5chdn commented on #5474
Not sure what the reason is, maybe this:

    2017-09-21 13:45:54  main TRACE diskmap  path="C:\\Users\\Developer\\AppData\\Roaming\\Parity\\Ethereum\\keys\\ethereum\\address_book.json"
    2017-09-21 13:45:54  main TRACE diskmap  revert "C:\\Users\\Developer\\AppData\\Roaming\\Parity\\Ethereum\\keys\\ethereum\\address_book.json"
    2017-09-21 13:45:54  main TRACE diskmap  save "C:\\Users\\Develo

[2017-09-21 12:26] GelatinousFury commented on #6549
My public address is 0x00af741329ca16Ff38F9230F7f6856c79acF6dF1

Let me know if you need anything else.

[2017-09-21 12:27] Fredouh commented on #6549
Having the same issue with token XID 0xb110ec7b1dcb8fab8dedbf28f53bc63ea5bedd84

i saw a balance wrong by decimals a while ago. now it is gone again, so i registered it myself, without any result. I see the balanace on etherscan and in BalanceOf function but not in my account, so I can not transfer them

[2017-09-21 12:31] AlexanderSupersloth commented on #6549
I am also having this problem. I am running Parity//v1.7.2-beta-9f47909-20170918/x86_64-macos/rustc1.19.0 installed via the installer.

I registered the ChainLink token as LNK (usual name LINK). The token is visible on the token registry. However, I cannot view it in Parity.

I downgraded to 1.7.0 where the token is viewable. When I upgraded back to 1.7.2, I am once again unable to see the token.

[2017-09-21 12:46] GelatinousFury commented on #6549
In my case, Propy was not registered correctly within the Parity token registry.  So the first thing to do is get it registered correctly in the token registry.

[2017-09-21 12:50] AlexanderSupersloth commented on #6549
I'm unable to register LINK exactly as it appears, because the registry only accepts symbols of 3 characters in length. LNK was the closest I could get.

I registered everything else correctly.

[2017-09-21 13:18] Mitteau commented on #6530
Same problem with GpsTab of bitcraze/crazyflie-clients/python in gitHub repository...
What can I do?
Jean-Claude

[2017-09-21 14:30] sleepndevelop commented on #5474
Actually C:\\Users\\Developer\\AppData\\Roaming\\Parity\\Ethereum\\keys\\ethereum\\dapps_accounts.json
does not exits.
And neither dapps_policy.json .
Maybe the wallet was supposed to create them.

Now i will try to re-install and update the wallet

[2017-09-21 15:12] GelatinousFury commented on #6549
I would suggest making a separate thread for your issue, since it's different than mine.

[2017-09-21 15:48] AlexanderSupersloth commented on #6549
From what I can tell, neither of us are able to see a newly registered token in our accounts. That is the important factor here.

I don't think the problems during registration are having a meaningful effect one way or another on that core problem. Those differences between our reports are superficial.

However I can move it if @5chdn thinks the problems are different.

[2017-09-21 15:53] GelatinousFury commented on #6549
In your case, the LINK token is registered correctly (although named LNK, which is only an annoyance) but you still cannot see your LINK (LNK) balance in your Parity wallet.

In my case, the Propy token is not registered correctly.  The decimal places are wrong in the Parity token registration database, which prevents my Propy balance from being shown in my Parity wallet.

To know if I have the sa

[2017-09-21 15:58] AlexanderSupersloth commented on #6549
I can see your incorrectly registered tokens when I add your address to my address book. They should be showing up in your account as I see them here. I think this is the same problem.

Anyway, I am sure Afri can decide if they're the same. He has the ability to split issues and whatnot. We'll leave it to his trained eye.

![screen shot 2017-09-21 at 16 55 41](https://user-images.githubusercontent

[2017-09-21 16:07] GelatinousFury commented on #6549
That's very interesting.  I've run both 1.7.0 and 1.7.2 and those Propy tokens do not show up at all for me, as you're seeing them.  We may be experiencing the same issue after all, then.

[2017-09-21 20:43] sleepndevelop commented on #5474
I've just downloaded the wallet from the site and this is the log, but seems to be 1.7.0-beta.
I will look for 1.7.2

---
2017-09-21 22:40:27  main TRACE spec  Header hash is d4e5…8fa3
2017-09-21 22:40:27  main TRACE mode  mode is Passive(Duration { secs: 300, nanos: 0 }, Duration { secs: 3600, nanos: 0 })
2017-09-21 22:40:27  main INFO parity::run  Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86

[2017-09-21 20:49] sleepndevelop commented on #5474
Just installed and tried 1.7.2-beta:
------------
2017-09-21 22:47:12  main TRACE spec  Header hash is d4e5…8fa3
2017-09-21 22:47:12  main TRACE mode  mode is Passive(Duration { secs: 300, nanos: 0 }, Duration { secs: 3600, nanos: 0 })
2017-09-21 22:47:12  main INFO parity::run  Starting Parity/v1.7.2-beta-9f47909-20170918/x86_64-windows-msvc/rustc1.19.0
2017-09-21 22:47:12  main INFO parity::run

[2017-09-21 23:21] tjones94 commented on #6548
I'm having this issue as well.  Ubuntu 16.04.3

"basename: missing operand
Try 'basename --help' for more information.
Existing version of parity: 0.0.0 is newer than the version you attempting to install:"

[2017-09-22 00:31] CyberShivago opened #6567 "Malwarebytes blocking port and IP's"
I run Malwarebytes 3.2.2.2018 & nothing else on my PC (basically fresh install) besides Antivirus, Anti-keylogging, FW. No web surfing done, no cookies, scanned  and fresh. PC is in DMZ and can not speak to the rest of my network.

Sometimes I see a popup, blocking a specific IP and Port called by Parity.exe.

ex:
178.62.219.246 port 58079
178.62.219.246 port 63697
93.170.123.197 port 55352

1. Wh

[2017-09-22 00:38] CyberShivago commented on #6567
I found an answer to this in Stack Exchange, can someone confirm this is true and I should unblock all outbound access from Parity?:

_______________________
You can think of the Ethereum blockchain as a big file or database that is constantly being updated. When you use a web browser like Chromium to download a file, the file comes from a single (centralized) provider (though they may have severa

[2017-09-22 00:51] GelatinousFury commented on #6549
Interestingly, here's what I'm seeing on my screen at the moment.  As you can see, although the token registry for "PR0" was deleted, Parity never updated for me.  It's still showing PR0 as well as a balance of 0.000.  Since then, a new version (Pro) was registered, but Parity is not recognizing it (I believe because the decimal places are wrong.  That token registry entry needs to be deleted as w

[2017-09-22 00:56] GelatinousFury commented on #6549
UPDATE:

Out of curiosity, I just reinstalled Parity 1.7.0.  Parity now actually shows me my Pro tokens, but the balance is completely wrong since the number of decimals in the token registry is wrong.  This should be corrected to the correct 8 decimal places.  Here's what I'm seeing now:

![parity 2](https://user-images.githubusercontent.com/32066600/30724966-ebac6802-9f06-11e7-8d3c-2a0e03d439bc.

[2017-09-22 01:42] aas312 opened #6568 "UTC Stage 1 block verification failed"
_Before filing a new issue, please **provide the following information**._

I am running the https://github.com/dstarcev/parity-poa-playground.  On member0 I get the error UTC Stage 1 block verification failed
I have checked time.is and my time is exact.
Block numbers on authority0, 1, and 2 are same
Block numbers on member0, 1 and 2 are same
But blocknumbers on member nodes are different than on

[2017-09-22 02:08] WyseNynja commented on #6319
+1 for Parity//v1.7.2-beta-9f47909-20170918/x86_64-linux-gnu/rustc1.19.0

laptop went to sleep. came back and its stuck at 1938838. restarting doesn't change anything.  how should i enable better logging to help debug?

[2017-09-22 02:27] xorxornop commented on #6494
No, the intention was to transfer ETH to BTC.

[2017-09-22 04:03] achillesss commented on #2794
@iFA88 Hi, i've met the same problem with 'InvalidStateRoot' Error in geth & parity cross-client syncing, and i tried both your geth and parity genesis block file, but the error seems still there.

can you give me some suggestions on solving this problem?

[2017-09-22 06:03] iFA88 commented on #2794
@achillesss Hi! Sadly I don't remember what was the exact problem. But I know you need the builtin accounts with 1 wei. If you don't has it, then the contracts with these calls would be thrown.

[2017-09-22 06:10] 5chdn commented on #6567
Parity is a peer in a peer-to-peer network. It connects to other nodes directly.

No.

No :)

[2017-09-22 06:10] #6567 closed

[2017-09-22 06:11] 5chdn commented on #6568
please report at https://github.com/dstarcev/parity-poa-playground

or follow our demo poa tutorial https://github.com/paritytech/parity/wiki/Demo-PoA-tutorial

[2017-09-22 06:11] #6568 closed

[2017-09-22 06:12] 5chdn commented on #6530
@Mitteau not sure, this is the Parity bug tracker.

[2017-09-22 06:19] WyseNynja commented on #6319
Ran parity inside docker (https://hub.docker.com/r/bwstitt/parity/ which uses the 1.7.2 deb) with `--logging pip=trace --light`

https://gist.github.com/WyseNynja/30fd6df9ca726604043a452e5bc525fc

[2017-09-22 06:19] 5chdn commented on #5474
Does it still crash/exit with 1.7.2?

[2017-09-22 08:13] MaxXor opened #6569 "Option to limit bandwidth"
It would be nice to have an option to limit the bandwidth of parity node. I got 100mbit/s up and down but want parity to use only 10% of it. This limit is not for the interface, only for syncing with the network.

For example:
`parity --bw-limit 10` for 10mbit/s

[2017-09-22 08:16] achillesss opened #6570 "InvalidStateRoot Error in Private Chain with cross-client that mining with geth and syncing with parity"
**actual logs:**
[code]
**expected behavior**
i'm using a genesis block in geth:
[code]
and in parity another genesis block which converted by the `parity-spec` project:

[code]
everything goes well from the geth's initializing to that my parity node connecting to the geth node.
Then I create a new account in geth as it's coinbase, start to mine for 1 sec and got 3 fresh blocks in geth.

It's expe

[2017-09-22 09:05] ddorgan commented on #6548
Tjones, is this still an issue?

[2017-09-22 09:48] 5chdn commented on #6570
solved with using 1.7.2 and https://github.com/5chdn/crossclient-chainspec

[2017-09-22 10:13] jeffanthony opened #6571 "Spammy Pop-up Warning"
Upon fresh install, warp sync complete and initial wallet creation the window which states "Your node is still syncing, the values you see might be outdated. Wait until it is fully synced." displays and disappears too quickly to check the box and then click 'I understand' when the node is on the last block and appears to happen each time it is behind by one block.

An annoyance because the window

[2017-09-22 10:39] sleepndevelop commented on #5474
Yes it crashes every time, just tried again today. Log:
----------
2017-09-22 12:36:05  main TRACE spec  Header hash is d4e5…8fa3
2017-09-22 12:36:06  main TRACE mode  mode is Passive(Duration { secs: 300, nanos: 0 }, Duration { secs: 3600, nanos: 0 })
2017-09-22 12:36:06  main INFO parity::run  Starting Parity/v1.7.2-beta-9f47909-20170918/x86_64-windows-msvc/rustc1.19.0
2017-09-22 12:36:06  main

[2017-09-22 10:40] MaxXor commented on #6571
Noticed this too, the warning popup should stay visible for at least 5sec so you get the chance to check `Do not show again`.

[2017-09-22 10:50] aas312 commented on #6568
I think this is related to the parity docker image and not with the parity-poa-playground.

[2017-09-22 12:42] 5chdn commented on #6571
@tomusdrw could you check that?

[2017-09-22 12:44] 5chdn commented on #6568
Please share the full logs please.

[2017-09-22 12:44] tomusdrw commented on #6571
Sure. Probably caused by switching to pub/sub, it now fires the notifcations too often. The UI should debounce triggering of the action.

[2017-09-22 12:47] aas312 commented on #6568
[logs.txt](https://github.com/paritytech/parity/files/1324556/logs.txt)

[2017-09-22 12:48] aas312 commented on #6568
![screenshot from 2017-09-22 08-47-50](https://user-images.githubusercontent.com/26353423/30745068-c655d824-9f72-11e7-867d-5e5bfc635363.png)

[2017-09-22 12:49] aas312 commented on #6568
![screenshot from 2017-09-22 08-49-04](https://user-images.githubusercontent.com/26353423/30745108-f0f21a16-9f72-11e7-813f-11ec0992ad2f.png)

[2017-09-22 15:40] GelatinousFury commented on #6549
5chdn, are you able to change the number of Propy decimals in the token registry to 8?

I'm guessing that's why my balance is showing up wrong.

[2017-09-22 17:30] aas312 commented on #6568
So I deleted the volumes which had the db data.  After that it works.

[2017-09-22 19:15] WyseNynja commented on #6319
Started a light client from scratch with pip=trace logging: https://gist.github.com/WyseNynja/4a956ca5e3a5a8b24be3aa0376eff030

[2017-09-22 21:40] iFA88 opened #6575 "Parity can't handle too much RPC calls"
Greetings.

`Parity/v1.7.2-beta-9f47909-20170918/x86_64-linux-gnu/rustc1.19.0`
Linux Debian Jessie.
Installed from dpkg binary.

Run with:
`parity --no-ws --no-ui --tracing on --chain classic --base-path "/mnt/etc" --peers 50 --no-dapps`

While scanning from 0 block to the current with `trace_block`, after 2-3k block i got this error and the clients crashing:
[code]
I know this is a lot of RPC cal

[2017-09-23 09:22] chevdor opened #6576 "UI: Bug when opening Multisig"
_Before filing a new issue, please **provide the following information**._

Click on a multisig (no matter how many cosigners).
- The list of past TX wont
- trying to send a tx from the account fails getting ANY account as cosigner
[code]

I tested without any extension loaded and get the same result.
The loader keeps spinning foreva!
---

[2017-09-23 14:20] zhangsoledad commented on #6575
yeah, same issue happen when i upgrade to v1.7.2

[2017-09-23 18:12] ethdevrook opened #6577 "Parity repeatedly crashes after watching multisig created before Byzantium hf"
[Report.txt](https://github.com/paritytech/parity/files/1326719/Report.txt)

I had parity v1.7 and installed https://github.com/paritytech/parity/releases/tag/v1.7.2

I deleted my \AppData\Local\Parity\Ethereum\chains\test folder.

Re-synced the entire blockchain to the current 173**** block.

Added my wallet created before the byzantium hf.

As soon as i add my multisig wallet to be watched ( cre

[2017-09-24 07:03] crsCR commented on #6287
V. 1.7.2-beta Windows 10 64... Still problem with this - have tried resynching with time servers, turning off and on, etc. Keep getting 'Your clock is not in sync...'

[2017-09-24 07:06] crsCR opened #6578 "Still problem with 'your clock is not in sync...'"
V. 1.7.2-beta / Windows 10 64 / installer.

Still problem with this - have tried resynching with time servers, turning off and on, etc. Keep getting 'Your clock is not in sync...'

[2017-09-24 07:08] bitxchg opened #6579 "Rename "Gas" to "Gas limit"in UI"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Is it possible to rename the field "gas" to "Gas limit" in the UI when sending transaction?
Right now It's really confusing what's field is what

Also  "gas" and "price"  are in differen

[2017-09-24 11:53] AntoniosHadji commented on #6287
@blockchainhong Yes, if your parity wallet is not synced you will not see transactions from the blocks that have yet to be synced.

[2017-09-24 11:56] crsCR commented on #6578
Actually, seems to have sorted itself after a few hours… See how it goes.

[2017-09-24 13:12] HaleTom opened #6580 "Configuration file option to run with `--geth`"
I've looked at:
https://github.com/paritytech/parity/wiki/Configuring-Parity

But I can't find the option to always start parity as if it was called with `--geth`.

Is it possible?

[2017-09-24 13:13] HaleTom commented on #6580
Use:
[code]

[2017-09-24 13:14] #6580 closed

[2017-09-24 17:36] asymmetric commented on #5413
I'm working on this so I'd be happy to be assigned :)

[2017-09-24 17:47] DaleChristopher opened #6581 "Recovery phrase not being fully displayed during account creation."
There is an issue during account creation regarding the recovery phrase issuance process. If parity is displayed in a windowed browser or on a screen in portrait orientation where the window width is insufficient, the recovery phrase will be cut off (partially not displayed )due to the QR code image covering it.

The recovery phrase process provides a "copy to clipboard" button to obtain the phras

[2017-09-24 18:32] MicahZoltu opened #6583 "Unable to adjust gas price with limited funds in account."
---

I have an account that has a small amount of ETH in it, enough to submit 1-2 transactions with low gasprice (1-4 nanoeth).  When attempting to transact, Parity blocks me from moving forward with the error

This error appears _before_ I get a chance to adjust the gas price and checking the `advanced sending options` box does not let me move forward (Next button is greyed out).  The problem her

[2017-09-24 21:14] julian1 opened #6584 "Effect of --pruning-history flags on disk usage behavior not as expected"
**Parity version**:
$ parity --version | grep version
 version Parity/v1.6.10-unstable-1a5b17626-20170721/x86_64-linux-gnu/rustc1.18.0

 **Operating system**:
$ uname -a
Linux p-test 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u2 (2017-06-26) x86_64 GNU/Linux

**And installed**:
compiled from source

I am trying to run a parity instance on a digital-ocean node with a main parition of 30GB for develop

[2017-09-24 22:28] edevil commented on #6503
In my case I have run into this problem on my private testnet that has been running with mostly "geth" clients for 2 months.

I have tried the following parity versions:
[code]

The error:
[code]

The block in question:
[code]

[2017-09-25 06:42] HaleTom opened #6585 "Make wiki community editable"
I want to update the [parity with mist wiki page](https://github.com/paritytech/parity/wiki/Using-Parity-with-Mist) with how to put the equivalent of `--geth` in the config file as it [was not obvious to me](https://github.com/paritytech/parity/issues/6580) how to do it.

I'd be happy to make this edit online.

In gitter, @AyushyaChitransh suggested using https://docs.readthedocs.io.

Any chance o

[2017-09-25 06:49] AyushyaChitransh commented on #6585
I think keeping documentation content in a separate repository would

 - Ease out mapping docs to the releases
 - Encourage user to suggest edits and improvements
 - Easily add and verify new content from other community members.

+1 for https://docs.readthedocs.io

[2017-09-25 08:00] drandreaskrueger commented on #6562
Parity/v1.8.0-unstable-65ca9afce-20170920/x86_64-linux-gnu/rustc1.20.0

[2017-09-25 08:03] drandreaskrueger commented on #6562
[code]
there is stuff that survives that, because afterwards:
[code]

[2017-09-25 08:24] joeshae commented on #6445
Hi, has this issue been resolved?

[2017-09-25 08:25] stone212 opened #6586 "Trusted Signer Problem: "Unable to make a connection to the Parity Secure API.""
_Before filing a new issue, please **provide the following information**._

Currently running a reverse proxy to connect to Parity UI.   I have done this before with success.

The Parity UI comes up when I navigate to http://mydomain.com:8180/ (also tested with http://127.0.0.1:8180) however it asks me for a trusted signer code.

When I provide one that I create at that moment, the page does not g

[2017-09-25 08:31] drandreaskrueger commented on #6562
syncing still causes problems:

[code]

[2017-09-25 08:45] drandreaskrueger commented on #6561
Ah. Alright. So one two more conditions to be checked before you start moving keys?

Yes sure, no worries. I was thinking about noobs who might panic when suddenly their keys are gone.

[2017-09-25 09:25] drandreaskrueger commented on #6562
As there were commits in the past days, I have now recompiled parity again, to
 `Parity/v1.8.0-unstable-684b14271-20170921/x86_64-linux-gnu/rustc1.20.0`

Now it is *not snapshot-syncing* by default!:
[code]
so

[code]
Looks like that did the trick.

Thanks to whoever fixed the `Encountered error during block restoration: RlpIsTooShort` problem!

[2017-09-25 09:27] drandreaskrueger commented on #6562
I had to manually add `--warp` for snapshot-syncing Ropsten. See comment above.

[2017-09-25 09:37] drandreaskrueger commented on #6562
Curious, for the future:  Should I perhaps have simply gone back to a readily tested [release version (e.g. 1.7.2)](https://github.com/paritytech/parity/releases/tag/v1.7.2)? Would Ropsten warpsyncing have worked properly without those problems above? [I am doing all this just to try out Raiden, I guess I won't need a cutting edge newest parity commit version for that. Or do I ?]

If so then how c

[2017-09-25 11:21] 5chdn commented on #6584
Can you have a look at #6280 ? It looks like you are affected. Wasn't aware this also happens with fast pruning though.

[2017-09-25 11:23] 5chdn commented on #6583
Yeah I also noticed this recently. :)

[2017-09-25 11:25] 5chdn commented on #6581
It's impossible to create an account without knowing the full phrase.

That's exactly what Parity does before creating the account. Can you verify you are really on version 1.7.0?

[2017-09-25 11:30] 5chdn commented on #6579
What different units? Unit for gas is `1` ("1 unit of gas") and for price is `wei` ("1 wei").

"gas, estimated: 21000" is twenty-one thousand units of gas. "price, current: 21000000000" is twenty-one giga-wei.

What do you propose?

[2017-09-25 12:56] 5chdn commented on #6549
I already removed PR0, please, make sure you register it with the correct number of decimals.

[2017-09-25 13:23] rphmeier commented on #5413
thanks and noted, but unfortunately we can't assign issues to people outside the organization :(

[2017-09-25 13:24] GelatinousFury commented on #6549
@5chdn Yes, but someone re-registered it under "Pro".  That registry needs to be deleted before I can re-register the Propy contract with the correct number of decimal places.  Thanks in advance.

[2017-09-25 13:26] #5413 closed

[2017-09-25 13:36] 5chdn commented on #6503
@ildr3him your client does not support ropsten, please upgrade to the latest version

[2017-09-25 13:39] 5chdn commented on #6503
@edevil might be unrelated.

@ildr3him could you try 1.7.2?

[2017-09-25 13:43] 5chdn commented on #6562
It only warp-syncs if enough peers provide snapshots.

    cargo install --tag 1.7.2 --git https://github.com/paritytech/parity.git parity

[2017-09-25 13:44] edevil commented on #6503
@5chdn I'll open a new issue. Maybe it's a bug.

[2017-09-25 13:51] edevil opened #6587 "Geth and parity disagree on correct gasUsed of mined block"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I have a testnet with several geth nodes, which are mining, and a parity node which is not mining. This has been running fine for some months but yesterday the parity node stopped syncing the block chain due to a disagreement with the gasValue of a mined block:

[2017-09-25 14:32] rphmeier commented on #6584
The minimum pruning history allowed is 8. I think the drive running out of memory is mostly a consequence of the state trie being pretty large at this point.

[2017-09-25 14:39] maciejhirsz commented on #6445
@joeshae I've looked into it more and, just as I thought before, there isn't any feasible way for this to work on public nodes. Even if we added an RPC endpoint to schedule pre-signed transactions that wouldn't cause issues with nonce. We will hide this feature in the public node UI.

[2017-09-25 15:54] perissology opened #6590 "parity pubsub returns multiple logs, where as geth returns 1 log at a time if multiple logs in tx"
_Before filing a new issue, please **provide the following information**._

**actual**
If multiple events occur in a single tx, parity will return will return an array containing all logs when subscribed using pubsub.

**expected**
This is different then geth's behavior where geth will emit each event individually.

**steps to reproduce**
1. subscribe to event logs.
2. call a contract method that

[2017-09-25 16:05] rphmeier commented on #6579
I don't think transaction gas should be conflated with the block gas limit. Maybe "gas provided"?

[2017-09-25 16:58] DaleChristopher commented on #6581
Yer I'm on 1.7.0, the account was created in a prior version however the issue still exists. I must have just used the "copy" button to transfer the phrase to the second confirmation field however I backed up the phrase using a pen-paper and taking a screenie and saving it on a USB for safe keeping.
Saving it as a text file copied using the "copy button" would no doubt have been the way to go but

[2017-09-25 18:34] WyseNynja commented on #6319
My node got stuck again. Pretty useless logs.

[code]

[2017-09-25 22:44] sleepndevelop commented on #5474
I would debug it myself if i was familiar with your code.
Seems like it crashes soon after it prints "main TRACE spec Header hash is " the second time.

Please add more logs after that point in order to spot the exact line of code where it crashes, thanks

[2017-09-26 00:18] AntoniosHadji opened #6592 "default parity.service file allows unclean exit"
Using the default parity.service file on linux I get the follow log messages after
`sudo systemctl stop parity.service`

`Sep 25 17:45:09 hadji systemd[1]: Stopping Parity Daemon...  `
`Sep 25 17:45:09 hadji parity[14783]: 2017-09-25 17:45:09  main INFO parity::run  Finishing work, please wait...  `
`Sep 25 17:45:14 hadji parity[14783]: 2017-09-25 17:45:14  IO Worker #0 INFO import  Syncing  #4311

[2017-09-26 00:23] miningpoolhub opened #6593 "Parity mainnet sync stuck."
I'm running Parity/v1.7.0-unstable-5f2cabd-20170727/x86_64-linux-gnu/rustc1.19.0
Ubuntu
installed from source.

I run several parity instances and one of them stuck

[code]

It doesn't move forward even I restart.

[2017-09-26 00:35] noswald opened #6594 "Auto_update flag not working within config.toml file"
I'm running:
**Parity version**: 1.7.0
**Operating system**:  Linux
**And installed**: via installer or source (can't remember which)

I recently noticed that parity was not auto updating on my machine, even after using the config.toml file, as outlined here: https://github.com/paritytech/parity/wiki/Configuring-Parity#cli-options

The config.toml file has the following lines:

    [parity]
    #

[2017-09-26 00:49] julian1 commented on #6584
Thanks for the information. I am trying to replicate on an aws node with a large drive, to see where the disk usage stabilizes.  But it's failing during at restoration stage.

[code]

[2017-09-26 01:06] Serpent6877 commented on #5878
I don't see this on the list. I need this option as well when running multiple parity on a server with multiple IP's. Each parity has it's own IP. Yes I could change the ports. But would be nice to use the same port and assign an IP.

[2017-09-26 07:19] tomusdrw commented on #6581
On the confirmation step it's not possible to paste the recovery phrase (you need to actually type it) on non-test networks.
Are you suggesting that you could actually paste the phrase? What browser are you running?

[2017-09-26 07:21] tomusdrw commented on #6579
`gas limit` is actually quite common. I think it would be best to just put additional explanations to those fields and change the default unit for `gas price` to `gwei`.
Something for UI2 though.

[2017-09-26 07:24] tomusdrw commented on #6590
Are there any compelling reasons for that? What's the point of splitting it on the node side and increasing the total payload size?

[2017-09-26 07:33] 5chdn commented on #6593
The interesting part is missing from the log. What happens before that? Right after you start? How is your client configured? Is this Foundation or Classic?

[2017-09-26 07:35] 5chdn commented on #6592
Feel free to submit a PR, https://github.com/paritytech/parity/blob/master/scripts/parity.service :)

[2017-09-26 07:41] 5chdn commented on #6587
I'm running out of ideas for that one, what we tried so far:

- disable the eip150 transition
- disable the eip160 transision
- disable the eip161 transision
- disable the eip161abc transision
- add builtin solidity contracts 0x1 - 0x4

If starting a new chain is not an option, I do not know how to dive into that further.

[2017-09-26 07:48] rphmeier commented on #6579
Although transaction gas is commonly referred to as gas limit, it's only loosely correct and confusing because gas limit usually refers to the block gas limit.

Default unit of GWei makes sense, but it should be manipulable at a 0.1 granularity easily. Often gas prices in the 1-2GWei range are more than enough

[2017-09-26 07:50] hrishikeshio commented on #6593
Mine is stuck too. Its running default configuration on foundation chain.

[2017-09-26 08:01] 5chdn commented on #5474
There is nothing in the logs that indicates a panic, a crash, or a shutdown. Are these complete logs?

[2017-09-26 08:04] #6466 closed

[2017-09-26 08:05] 5chdn commented on #6581
I'm able to CTRL+V it on any network with Chromium/Linux.

[2017-09-26 08:06] rphmeier commented on #6319
@WyseNynja Currently there isn't any logic that gives reserved peers infinite credits, although that would definitely be a useful addition! In general, it can be pretty hard to find peers to serve light client data, because many do not. An upgraded peer discovery protocol could alleviate that for sure.

[2017-09-26 08:17] 5chdn commented on #6593
Are you on HDD or SSD?

[2017-09-26 08:27] arkpar commented on #6593
@hrishikeshio could you try running with `-l sync=trace` and posting the log?

[2017-09-26 08:39] 5chdn commented on #6319
I was able to light-sync musicoin with latest master and the sync was also stuck at some point. I was connected to my own archive node (nobody else is running a light-serving node on musicoin), and after shutting down the light client, restarting the archival node, and restarting the light client, it was able to finish the sync.

Minor annoyance: after completing the sync, the logs do not show the

[2017-09-26 08:39] hrishikeshio commented on #6593
@5chdn  Using SDD. Its stuck since 2+ hours. I restarted parity multiple times to make it work. I didn't provide whole log since it was repetitive.
@arkpar https://pastebin.com/MMFCx0mY

[2017-09-26 08:53] 5chdn commented on #6319
Very interesting, now being aware of the credits, I just managed to get a stuck foundation light-sync to continue after changing the `--node-key`

	2017-09-26 10:46:12  Syncing #2120393 b092…e206   483 hdr/s  28094+    0 Qed  #2120393   21/50 peers   10 MiB cache 24 MiB queue  RPC:  0 conn,  0 req/s,   0 µs
	2017-09-26 10:46:17  Syncing #2123054 c757…f8df   532 hdr/s  27867+    0 Qed  #2123054   2

[2017-09-26 09:09] edevil commented on #6587
Yeah, I've also ran out of ideas. If I can provide more information please say so.

For now I'll just mandate that every node has to run Geth, parity is not supported.

Thanks for the help anyway.

[2017-09-26 10:44] sleepndevelop commented on #5474
This is the full log file:
https://1drv.ms/u/s!Ao4pRXNsgcpfi0CyTXZI5Fvr81XA

[2017-09-26 11:05] #6571 closed

[2017-09-26 12:28] perissology commented on #6590
I'm not sure. I can't think of any. However I submitted PR to web3 to handle this case and it was closed, so I thought I'd submit a bug here.

I can take it up with web3 as well.

[2017-09-26 12:33] DaleChristopher commented on #6581
@tomusdrw,
Hi ^_^, it is indeed possible for me to paste the copied clipboard text into the confirmation field using CTRL+V. I believe this is correct on the current version of the Microsoft Edge browser and also Brave browser. On the mainnet.

[2017-09-26 12:46] 5chdn commented on #5474
This is the log, what does the console say?

[2017-09-26 12:58] sleepndevelop commented on #5474
[code]

[2017-09-26 13:38] arkpar commented on #6590
quoting @frozeman on the issue:
"the point of a subscription notifications is one notifcation per event
thats what we speced up a year ago
it also makes the code on the client side cleaner"

[2017-09-26 13:39] frozeman commented on #6590
Yes :) The point of a subscriptions is one notifcation per event. This is in the specs since more than a year. Its also easier to process than iterating over arrays on the client side.
And as it stands one side has to change, either geth or parity, and i am in favour of one notification per event.

[2017-09-26 14:08] 5chdn commented on #5474
Can you please reset your database with `parity.exe db kill` and try again?

[2017-09-26 16:13] GelatinousFury commented on #6549
I checked the token registry again this morning but Pro still has not been deleted yet (contract
 0x226bb599a12c826476e3a771454697ea52e9e220).  Please remove this token from the registry so I can re-register it correctly.

Thanks in advance.

[2017-09-26 20:16] WyseNynja commented on #6319
I think we should add more verbose logging when credits run out along with a countdown for when we will retry. Then users like me will know to just be patient instead of thinking something is actually broken. Hopefully more peers that serve light clients will join the network. Is there an open issue tracking better peer discovery?

On a related note (maybe this is what https://github.com/paritytec

[2017-09-26 22:07] sleepndevelop commented on #5474
Done.
First output lines:

`
c:\Program Files\Parity\Parity> parity.exe db kill
2017-09-26 16:13:29  Database deleted.

c:\Program Files\Parity\Parity> parity.exe --geth
2017-09-26 16:13:40  Starting Parity/v1.7.2-beta-9f47909-20170918/x86_64-windows-msvc/rustc1.19.0
2017-09-26 16:13:40  Keys path C:\Users\Developer\AppData\Roaming\Parity\Ethereum\keys\Foundation
2017-09-26 16:13:40  DB path C:\Us

[2017-09-27 05:26] ShaggyDogDog opened #6599 "Tokens not showing up in Parity"
_Before filing a new issue, please **provide the following information**._

Purchased some tokens from a well know platform. Withdrew those token to my parity wallet. 29 hours has elapsed and they (tokens) have still not shown up.  I have purchase token (the same token) at least 7 times from this platform and transferred them to my parity wallet each time without issue.  I can see the transaction

[2017-09-27 08:17] 5chdn commented on #6599
Are you on 1.7.0 or 1.7.2?

Probably duplicate of #6549

[2017-09-27 08:17] #6599 closed

[2017-09-27 08:28] 5chdn commented on #6554
Removed it.

[2017-09-27 08:28] #6554 closed

[2017-09-27 08:59] ShaggyDogDog commented on #6599
if i go to home in the parity wallet is state 1.7. Is there a more thorough
way to confirm version?

Thanks

Dan

On Wed, Sep 27, 2017 at 6:17 PM, Afri Schoedon <notifications@github.com>
wrote:

[2017-09-27 09:01] julian1 commented on #6584
I set up two identical digital-ocean instances, with `--pruning fast` and `--pruning-history 8`. They look to have converged at 25GB after 24 hours. So, if I had started with just a bit more than the initial 23GB spare, it would have been OK.

This is more disk usage than I expected - based on information I could find in blogs or stack-overflow posts about running parity. But I am not sure it's ac

[2017-09-27 09:01] #6584 closed

[2017-09-27 09:10] ignus2 commented on #6549
I also had problems with just-registered tokens' balance not showing up. For me it was some browser caching issue. Using a different browser and connecting to parity with a new security token (see "parity signer new-token") the token balance did show up correctly.
So going back and deleting the cookies for 127.0.0.1 in my original browser and re-connecting to parity made the token balance show up

[2017-09-27 09:20] AlexanderSupersloth commented on #6549
This fix worked for me.

The first time I tried it, nothing happened. Then I restarted my browser and the Parity app, and now my tokens are showing.

Thank you, @ignus2!

[2017-09-27 09:23] 5chdn commented on #6319
Providing my own archive node via reserved peers helps to get the light client synced and gives me some control over "credits" (at least it feels like it does, not sure how they work). I'm now at block 3.7m with the light client on foundation.

[2017-09-27 09:34] 5chdn commented on #6599
After launching parity it says

    2017-09-27 11:33:26  Starting Parity/v1.7.2-beta-9f47909ed-20170918/x86_64-linux-gnu/rustc1.20.0

Or in the wallet you can find the version in the footer like this

    Parity//v1.7.2-beta-9f47909ed-20170918/x86_64-linux-gnu/rustc1.20.0

[2017-09-27 09:40] 5chdn commented on #6523
Did you decide yet which formula you are going to use?

[2017-09-27 09:56] 5chdn commented on #6500
Closing, probably cause by #6387, please report back if this still occurs with 1.7.2 or later.

[2017-09-27 09:56] #6500 closed

[2017-09-27 09:56] 5chdn commented on #6490
Closing due to inactivity.

[2017-09-27 09:56] #6490 closed

[2017-09-27 09:59] 5chdn commented on #6489
I'm afraid we are getting close to the limits of modern hard-drives.

Can you try again with 1.7.2? We improved warp sync to get you faster to the top.

[2017-09-27 09:59] #6489 closed

[2017-09-27 10:01] 5chdn commented on #6486
Can you please try again with 1.7.2? And can you confirm it freezes for more than a short amount of time?

[2017-09-27 10:04] 5chdn commented on #6485
I'm not sure what this ticket is about.

    0 ✓ user@alcor ~ $ parity --please-exit-gracefully
    Unknown flag: '--please-exit-gracefully'

    Usage:
      parity [options]
      parity ui [options]
      parity dapp <path> [options]
      parity daemon <pid-file> [options]
      parity account (new | list ) [options]
      parity account import <path>... [options]
      parity wallet import <p

[2017-09-27 10:07] 5chdn commented on #6484
Why did you lose all peers between `13:21:43` and `13:22:13`?

[2017-09-27 10:08] 5chdn commented on #6482
Please also share the contract, not only the ABI.

[2017-09-27 10:09] 5chdn commented on #6462
Should be working with 1.7.2 now.

[2017-09-27 10:09] #6462 closed

[2017-09-27 10:13] ngotchac commented on #6485
It used to work this way, but doesn't actually on `master`.

[2017-09-27 10:14] 5chdn commented on #6454
Updated the checksums to Sha256 #6473 #4672

[2017-09-27 10:14] #6454 closed

[2017-09-27 10:18] 5chdn commented on #6445
Is this fixed via #6588?

[2017-09-27 10:24] 5chdn commented on #6443
Can help drafting the file if someone roughly explains what's about to go into that file.

Tabs not spaces? :-p

https://github.com/paritytech/parity/commits/714f01fda737b24f2be3ff20837899c7f0a213f5/CONTRIBUTING.md

[2017-09-27 10:25] 5chdn commented on #5976
Should this go into #6443 or https://github.com/paritytech/parity/wiki/Coding-guide ?

[2017-09-27 10:28] 5chdn commented on #6416
Does this also happen with latest beta 1.7.2? Can you share the full logs after launching parity?

[2017-09-27 10:32] ngotchac commented on #6520
To simplify this a bit :
[code]

1. Deploy this contract
2. Call `api.eth.getStorageAt('0xdead...', '0x0')` : should be 10
3. Call the `set` method on the contract with `100`
4. Call `api.eth.getStorageAt('0xdead...', '0x0')` : should be 100
5. Call `api.trace.replayTransaction('0xdead...', ['stateDiff'])` : the only storage diff is for key `0x0` (that's right), and goes from `0x0` to `0x64` (shou

[2017-09-27 10:35] 5chdn commented on #6587
For future reference, I would advise to base new shared networks on something close to the ropsten genesis/chainspec:

- https://github.com/5chdn/crossclient-chainspec
- https://ethereum.stackexchange.com/questions/16866/geth-not-connecting-to-private-network/25640#25640
- https://dev.to/5chdn/solving-the-problem-with-ethereum-cross-client-private-networks

[2017-09-27 10:35] #6587 closed

[2017-09-27 10:42] 5chdn commented on #6583
Added this to the UI-2 checklist. https://github.com/paritytech/parity-long-term-issues/issues/1

[2017-09-27 10:42] #6583 closed

[2017-09-27 10:44] 5chdn commented on #6579
Added to UI-2 checklist. https://github.com/paritytech/parity-long-term-issues/issues/1

[2017-09-27 10:44] #6579 closed

[2017-09-27 10:45] 5chdn commented on #6577
Can't find the logs, can you attach them again please?

[2017-09-27 10:48] 5chdn commented on #6576
The logs suggest there is some chrome extension issue. What is `chrome-extension://ffemldjbbfhimggdkkckolidemlllklk`? Is it Mooltipass?

https://chrome.google.com/webstore/detail/mooltipass-extension/ffemldjbbfhimggdkkckolidemlllklk?hl=en

[2017-09-27 10:49] #6576 closed

[2017-09-27 10:51] #6570 closed

[2017-09-27 10:54] 5chdn commented on #6564
Closing due to inactivity.

[2017-09-27 10:54] #6564 closed

[2017-09-27 10:56] 5chdn commented on #6561
Closing as it's not worth to keep this upgrade path forever.

[2017-09-27 10:56] #6561 closed

[2017-09-27 10:57] 5chdn commented on #6546
Closing due to inactivity.

[2017-09-27 10:57] #6546 closed

[2017-09-27 10:58] 5chdn commented on #6543
Closing due to inactivity.

[2017-09-27 10:58] #6543 closed

[2017-09-27 11:00] 5chdn commented on #6485
True.

[2017-09-27 11:14] 5chdn commented on #6531
What do you suggest?

[2017-09-27 11:16] 5chdn commented on #6562
It's probably a node giving you an invalid snapshot (forked node).

[2017-09-27 11:16] #6562 closed

[2017-09-27 11:20] 5chdn commented on #6594
Can reproduce with `--auto-update all --release-track beta` on 1.6.10

[2017-09-27 12:35] maciejhirsz commented on #6445
Yap! Was meant to close this.

[2017-09-27 12:35] #6445 closed

[2017-09-27 12:56] tomusdrw commented on #6586
1.7 requires a WebSockets port to be exposed/proxied as well. By default it's `8546`. Also the dapps are now served over `:8545` instead of `:8080` so it's required as well.

[2017-09-27 12:58] tomusdrw commented on #6594
Is it a Parity issue or the new release was just not pushed to the contract?

[2017-09-27 13:00] tomusdrw commented on #6531
All hex-encoded fields (bytes, uint) are required to be prefixed with `0x` - it has been like that since version 1.0 and is clearly documented in JSONRPC docs.

IIRC the requirements are relaxed when running with `--geth`, but it also produces warnings that this behaviour will be removed in future.

[2017-09-27 13:13] mikhail-manuilov commented on #6516
Running parity of various versions in kubernetes. Memory usage grows with version numbers: 1.6.8 - 2.5-3.5GB, 1.7.0 - 6-8.2GB, 1.7.2 - 8GB-11.7GB. These parities are not loaded at all, 3 connections to jsonrpc max. What's happening?

[2017-09-27 13:31] madhavajay commented on #6454
Awesome 👍

[2017-09-27 13:39] asmello commented on #6531
@tomusdrw fair enough, it does make more sense to prefix with `0x` for all data, but this is in the lower level JSONRPC documentation, not in the Javascript docs, and it's very hard to trace this bug to its cause. If it was a corner case I wouldn't even have opened this issue, but the Parity implementation was failing with very simple demo code when both Geth and TestingRPC didn't even give me a w

[2017-09-27 14:44] carver commented on #6516
@5chdn any luck reproducing?

[2017-09-27 17:01] KenoLeon commented on #6486
Err, I am having issues, do I need to uninstall and then reinstall without --stable, upgrade does not seem to work:

Error: parity 1.6.10 is already installed
To upgrade to 1.7.2, run `brew upgrade parity`
Kenos-MacBook-Air:~ kenoleon$  brew upgrade parity
Updating Homebrew...
==> Upgrading 1 outdated package, with result:
paritytech/paritytech/parity 1.7.2
==> Upgrading paritytech/paritytech/pari

[2017-09-27 17:06] tomusdrw commented on #6531
@asmello Yeah, imho the web3 library should add the prefixes if needed, since it's handling those conversions for other types. The RPC is as strict as possible to prevent some undefined behaviour and we prefer to keep it this way.
You can check `parity.js` library which is a `web3` replacement with Promises support. It does prefix the data correctly.

[2017-09-27 17:19] KenoLeon commented on #6486
@5chdn : Uninstalled and reinstalled and now it works great on Safari Thanks

[2017-09-27 17:19] #6486 closed

[2017-09-27 18:19] asmello commented on #6531
@tomusdrw thanks, I didn't know about `parity.js` - I suppose it's less portable, but I find the Promises support to be very interesting.

Actually, now that you mention it, the JS API is not mentioned anywhere in the docs except in the Basic Usage page, and that one just points to the Ethereum docs. Which means I've probably just been using the vanilla `web3.js` implementation, haven't I? I shoul

[2017-09-27 21:35] carver commented on #6402
I just wanted to note that I had **exactly** the same error on the same block, with the light client:

...

...

I'm using `--db-compaction ssd`, so that seems unrelated.

[2017-09-28 01:55] KimiWu123 opened #6601 "Error when I set websockets section on Windows"
version: v1.6.10-stable-1a5b176-20170721
platform: Windows 10

I set the following in my config file as wiki suggested

    [websockets]
    disable = false
    port = 8546
    interface = "192.168.1.103"
    apis = ["web3", "eth", "net", "parity", "traces", "rpc", "secretstore"]

but I execute parity --config node.ini, it shows

    You have some extra fields in your config file:
    [websockets]

[2017-09-28 06:14] miningpoolhub commented on #6593
Here's log from my stuck parity.

https://pastebin.com/XYkAsWrH
https://pastebin.com/MFgTKKZY
https://pastebin.com/qJDuECBN

I divided them due to pastebin's size limit.
This instance uses SSD.

[2017-09-28 07:31] stone212 commented on #6586
@tomusdrw Please help me understand by answering a few things:

1. If 8545 is where dapps are hosted then does the RPC interface (that I use with curl queries embedded into PHP) change?

2. Why is Parity using port 8080 if it is not used anymore?

3. What does Websockets have to do with the UI and authentication?

[2017-09-28 07:38] 5chdn commented on #6601
The wiki describes 1.7.x beta :)

Websockets are not available in 1.6.10 stable, please upgrade :)

[2017-09-28 07:38] #6601 closed

[2017-09-28 07:56] ShaggyDogDog commented on #6599
thanks they finally showed up - not sure why the significant delay. Thanks
for your input.

On Wed, Sep 27, 2017 at 7:34 PM, Afri Schoedon <notifications@github.com>
wrote:

[2017-09-28 08:29] tomusdrw commented on #6586
1. The RPC and dapps servers have been merged (you can do RPC queries on :8545 and it also serves the dapps)
2. Parity 1.7, does not use `:8080` at all. The UI is served on `:8180`
3. The WebSockets interface is required by the UI.

[2017-09-28 08:55] HaleTom commented on #6402
Me also, with *exactly the same numbers*. I don't have any compaction setting.

[code]

[2017-09-28 09:11] 5chdn commented on #3574
I could sign the binaries if desired, preview:

https://gist.github.com/5chdn/93da7b952f1294152b3c3e20f9953eea

[2017-09-28 09:13] 5chdn commented on #6402
@rphmeier ^

[2017-09-28 11:08] drandreaskrueger commented on #6562
[code]
[code]

[2017-09-28 11:11] drandreaskrueger commented on #6562
ah, because it is rather:

    --tag v1.7.2

[2017-09-28 12:29] HaleTom commented on #6402
Any tips on my question about the database reset would be appreciated. Doing my `rm` caused the block number count to start at `0` again.

[2017-09-28 12:48] 5chdn commented on #6562
Yes sorry it`s `v1.7.2`

[2017-09-28 13:01] 5chdn commented on #6594
Probably not pushed. Where is the contract?

[2017-09-28 13:27] 5chdn commented on #6402
Yes resetting the database means you start at `0`, a good way is to run `parity --light db kill`. But I think this is a confirmed issue and wont resolve this.

[2017-09-28 13:29] #6531 closed

[2017-09-28 13:42] kondratovich commented on #4978
Hello, any update here? Is it possible to provide low difficulty jobs by stratum?

[2017-09-28 15:05] HaleTom opened #6603 "Allow community editing of wiki"
I would like to update the page:

https://github.com/paritytech/parity/wiki/FAQ:-Backup,-Restore,-and-Files

To say to stop parity before removing the database.

Could the wiki be community editable?

What about using https://readthedocs.org/ ?

[2017-09-28 15:16] HaleTom opened #6604 "Allow --no-light if `light = true` in configuration"
I have:
[code]
In my configuration file.

`--warp` has `--no-warp`. Is there a way of disabling light mode from the command line?

[code]

[2017-09-28 16:09] artjoma commented on #6568
Parity 1.7.0 POA
Same problem :
2017-09-28 17:03:32  Stage 1 block verification failed for 6a96…e8af: Block(DifficultyOutOfBounds(OutOfBounds { min: None, max: Some(340282366920938463463374607431768211455), found: 340282366920938463463374607431768211456 }))

[2017-09-28 19:03] 5chdn commented on #6603
Duplicate of #6585

[2017-09-28 19:03] 5chdn commented on #6603
Working on something. Stay tuned.

[2017-09-28 19:03] #6603 closed

[2017-09-28 19:05] 5chdn commented on #6604
you can just use `--no-config` :)

[2017-09-28 19:05] #6604 closed

[2017-09-28 19:59] chevdor opened #6606 "Error in the fee calculation when uing token"
I noticed a strange behavior while trying to transfer all tokens from an account to another.
See how the fee in ETH is deducted from the total amount of token?
![image](https://user-images.githubusercontent.com/738724/30987681-2b5523ae-a498-11e7-82e6-5ae9a65136d1.png)

Trying to take over also cause troubles:
![image](https://user-images.githubusercontent.com/738724/30987704-41a48aaa-a498-11e7-9f8

[2017-09-28 20:21] chevdor commented on #6576
@5chdn Did you see my comment about testing as well without any extension and getting the same issue?

[2017-09-29 02:51] detailyang opened #6607 "improve: current binary download url is not https"
Hello. Now the release url like [http://parity-downloads-mirror.parity.io/v1.7.0/x86_64-unknown-linux-gnu/parity_1.7.0_amd64.deb](http://parity-downloads-mirror.parity.io/v1.7.0/x86_64-unknown-linux-gnu/parity_1.7.0_amd64.deb) looks like forget  enable HTTPS as default. It's potential risk especially in china although we have provided the sha256 checksum.

[2017-09-29 03:32] crsCR opened #6608 "6578 need opening"
https://github.com/paritytech/parity/issues/6578 needs reopening. Keeps dropping out and this is with Parity running 24/7.

[2017-09-29 04:12] stone212 commented on #6586
@tomusdrw Thank you but 3 doesn't really answer my question.  It's "required" okay.  But what is the connection you are suggesting between WebSockets and the "Unable to make a connection to the Parity Secure API" error?  Any why would it prevent --ui-no-validation for having its usual effect?

[2017-09-29 04:53] stone212 commented on #6261
I am also having this issue on a node that was working great for some time.  I am using Parity 1.6.10 (there is a reason for the older version but I forget why at this moment).  The reason I think it is worth mentioning this here is because I also have the symptom that "hitting the UI gets me the 'generate a new token' modal i cannot get past" as I have referenced here:

https://github.com/parityt

[2017-09-29 05:07] stone212 opened #6609 "Provided Host header is not whitelisted."
_Before filing a new issue, please **provide the following information**._

After setting a reverse proxy to point to my Parity UI and visiting [ip-address]:8180, I get the following error:

Provided Host header is not whitelisted.

I am invoking Parity with --jsonrcp-hosts="all"

This is the result if my Apache2 reverse proxy directive includes "ProxyPreserveHost On" because that tells Parity tha

[2017-09-29 05:20] HaleTom commented on #6604
@5chdn The problem with that work-around is that I would need to re-specify *every single* option that I have set in my configuration file at the command line.

What about a generic `--no` parameter that sets the following config item to `false`? Eg:

    parity --no light --no geth --no public_node --no force_direct --no fast_unlock ...

I've edited the title to reflect this more generic case and

[2017-09-29 05:46] HaleTom commented on #6603
@5chdn Sorry, my workflow on this sucked to not catch that issue already raised!!

Thanks!

[2017-09-29 09:19] #6608 closed

[2017-09-29 09:21] 5chdn commented on #6578
Can you explain what exactly is happening, what do you mean by _keeps dropping out_?

Are you fully synchronized? How is your Parity configured? What is the difference in actual versus expected behavior?

[2017-09-29 09:23] 5chdn commented on #6607
Fixed.

[2017-09-29 09:23] #6607 closed

[2017-09-29 09:28] 5chdn commented on #6606
Which version of Parity are you running? (master is no version)

Please indicate the exact steps how to reproduce. Probably strongly related to #5658

[2017-09-29 09:31] 5chdn commented on #6603
Meanwhile just write here what you want to add to the wiki, I can pass this through.

[2017-09-29 09:32] 5chdn commented on #6604
What prevents you from creating different config files?

[2017-09-29 09:34] 5chdn commented on #6576
Yes, but you would need to provide logs that indicate what's going on after you remove the mooltipass extension. The errors above are coming from that extension.

[2017-09-29 09:40] 5chdn commented on #6586
You need to allow the UI to connect to websockets. Disabling the UI validation does not bypass websockets security.

[2017-09-29 09:48] chevdor commented on #6606
Well it was HEAD of master at the time of the report.
I saw the issue last week, so definitely after you fixed #5658 but it sounds indeed quite related.

[2017-09-29 10:20] crsCR commented on #6578
I keep getting 'your clock is out of sync...' message. Fully synced - have tried with with Parity set to sync continuous and to sleep/wake - same. I'm running the node 24/7 to help the network - I'm getting a message telling me the protocol can't work because of this issue. How serious that actually is, I don't know - but not much point in me wasting electricity if it's not helping.

[2017-09-29 10:20] detailyang commented on #6607
Good work:)

[2017-09-29 11:02] 5chdn commented on #6578
You can ignore this warning. As long as you are connected to peers and fully synced with the network, you are fine. Is the status indicator green?

[2017-09-29 11:05] 5chdn commented on #6606
I'm asking because #5658 was never fixed as we were never able to reproduce it. Please help us to figure out what's causing this.

[2017-09-29 11:38] crsCR commented on #6578
Everything green apart from Time Synchronized.

[2017-09-29 11:43] 5chdn commented on #6578
What offset does it display (in ms)?

[2017-09-29 11:58] crsCR commented on #6578
Last time I looked was 900 or so ms.

On 29 Sep 2017 6:48 pm, "Afri Schoedon" <notifications@github.com> wrote:

[2017-09-29 13:02] GelatinousFury commented on #6549
FINALLY, after re-registering the Propy token (PR0) in the Parity Token Registry, and also deleting my browser cookies, my Propy balance is correctly showing in Parity 1.7.2.

Thanks for all the help!

[2017-09-29 14:48] rphmeier commented on #6604
a smart config parser that lets you toggle flags with `--light=on` and `--light=off`, with defaults customizable would solve this issue. clap might be able to do it, but we'd have to break backwards compatibility.

[2017-09-29 15:11] 5chdn commented on #6578
Ok, there is nothing you have to worry about.

[2017-09-29 15:11] #6578 closed

[2017-09-29 15:26] drandreaskrueger opened #6611 "Compiling evm v0.1.0 error[E0308]: match arms have incompatible types"
Error during `cargo` install of `parity v1.7.2` on `arch linux`:
[code]

details:
[code]

I'm running:

[code]

Installed via cargo:

[code]

[2017-09-29 16:18] tomusdrw commented on #6611
`cargo install` is broken (doesn't respect the `Cargo.lock` file). Please clone the repo and build manually.

[2017-09-29 16:23] tomusdrw commented on #6586
`--ui-no-validation` is a feature that should never be used (it was created for a specific use case of UI development).
Instead please try `--unsafe-expose` which is actually what you need - it exposes all servers and disables the validation for them.

Re. 3: Parity Secure API = WebSockets + Authorization

[2017-09-29 16:24] tomusdrw commented on #6609
Please start with `--unsafe-expose` and check if it works. After that you can start to secure your instance by using `--*-hosts` and `--*-interface` options.

[2017-09-29 16:53] drandreaskrueger commented on #6562
@5chdn I have just been told https://github.com/paritytech/parity/issues/6611#issuecomment-333171441 cargo install is broken.

[2017-09-29 17:04] fanatid opened #6612 "Return block with not-exists transaction"
Parity return block 0x3b3dfb with not-exists transaction:
[code]

[2017-09-29 17:28] drandreaskrueger commented on #6611
Thanks a lot.

This now worked indeed:

[code]

thank you very much.

[2017-09-29 18:06] tomusdrw commented on #6611
Closing as a duplicate of #6007

[2017-09-29 18:07] #6611 closed

[2017-09-29 19:14] AyushyaChitransh commented on #6581
Pardon me if I am late to address the issue, as I see that fix has already arrived. But I really like to have that ability to paste the code. And I think most developers need to create new parity test wallets every now and then, and would prefer to be able to paste the code.

To address the issue of users having missed part of recovery code by viewing, we can provide a download option, which would

[2017-09-29 19:23] 5chdn commented on #6581
If you are a developer, just set `allYourBaseAreBelongToUs` true in local storage. :octocat:  https://github.com/paritytech/parity/pull/6602/commits/b565108792cb659f64c65d1d38cafc626ebd4086#diff-c3b306c9e26b82caff87d668e0502423R227

If you are not a developer, you certainly want to write down the full phrase or print it out.

You still can copy it. And "download" it, but I would strongly advise ag

[2017-09-30 06:36] chevdor commented on #6606
Oh ok. I should be able to get back to this and test next week.

[2017-09-30 07:44] fanatid commented on #6612
Same for block 3973654:
hash not in in block, but exists: 0xcda7e454ca5af2a755aaf044b010c8464000781c14681f1aaa3672030f71a965
hash in block, but not exists: 0xef3713a6e6c7392492403ee1f14e378752f010a1445a6a7832c3f659bde984a0

[2017-09-30 23:53] CryptoLuke opened #6613 "Token balance not showing in the UI"
_Before filing a new issue, please **provide the following information**._

Hi,
I created a new contract deployed on Kovan network at the address 0x784AEc86609BeC066d4081E8ff21D816BBbAEd98 with the ownership of the account 0x002d46ee888A3Bc03b63520ECAd32eD16EB285BA.
I registered the token NoManches (NMC) in the Token Registry but still I'm unable to see the balance and the image I uploaded in the

[2017-10-01 02:00] ydaniels opened #6614 "unable to start parity"
Sorry this is it
_Before filing a new issue, please **provide the following information**._

I have tried all possible setup apart from building , I can't get parity to work on my server Debian x64 wheezy.
I have also installed openssl libssl-dev libudev-dev
But I always get this error

parity: error while loading shared libraries: libudev.so.1: cannot open shared object file: No such file or dire

[2017-10-01 02:01] ydaniels commented on #6614
Sorry this is it
_Before filing a new issue, please **provide the following information**._

I have tried all possible setup apart from building , I can't get parity to work on my server Debian x64 wheezy.
I have also installed openssl libssl-dev libudev-dev
But I always get this error

parity: error while loading shared libraries: libudev.so.1: cannot open shared object file: No such file or dire

[2017-10-01 09:34] stone212 commented on #6609
@5chdn What do you mean?  This is the output from starting Parity:

017-10-01 09:32:14 UTC Starting Parity/v1.8.0-unstable

It is 1.8.0 unstable as I said.  Is there something I don't understand?

I will try these suggestions soon.

[2017-10-01 09:36] stone212 commented on #6609
@tomusdrw I will try this when I can but why would --jsonrcp-hosts="all" not fix the error?  You can see why the error sounds like it would be fixed with --jsonrcp-hosts="all", yes?

[2017-10-01 14:46] tomusdrw commented on #6609
You most likely need `--ui-hosts=all` not `--jsonrpc-hosts`.

[2017-10-01 15:52] CryptoLuke commented on #6613
There they are now. Perhaps they're a synchronization time between when you register your token and when you can see it in Parity UI.

[2017-10-01 15:52] #6613 closed

[2017-10-01 19:47] AndreyNag opened #6615 "What format must have a password file?"
Hi. I try to use parity to local ETC wallet. But can't unlock acc by password file.
When i start parity i have recieve this message:

    Loading config file from /home/user/parity/config.toml
    You might have supplied invalid parameters in config file.
    invalid type: string "$HOME/.local/share/io.parity.ethereum/ppp", expected a sequence for key
    `account.password`

What format must have

[2017-10-01 23:45] thiagobbt commented on #2326
I believe this doesn't apply anymore as parity/main.rs has changed and doesn't contain those expressions anymore.

[2017-10-02 01:13] stone212 commented on #6609
@tomusdrw oh of course!  I don't know why I didn't realize that.  It's so obvious when you write those two things next to each other.  Yes, this fixed this problem.  I still have the other bug (https://github.com/paritytech/parity/issues/6586) so I can't use the interface yet but this bug is solved.  Thank you.

[2017-10-02 01:24] stone212 commented on #6586
@tomusdrw I have not had the opportunity to test --unsafe-expose with the same server I filed the report for.  Instead I tried on a system running Parity 1.6.0.  It tells me "--unsafe-expose" is an Unknown flag.

But in no case does this solve the problem.  The problem is that the trusted signer token is not being accepted.  I *want* security.  I also want the key that I generate to work. :)  The

[2017-10-02 03:15] interfect opened #6616 "Parity rejects MetaMask's `x-metamask-origin` header, and consequently all MetaMask/Firefox requests, during CORS preflight"
I'm running:

- **Parity version**: 1.6.10
- **Operating system**: Linux
- **And installed**: via `parity/parity:stable` Docker image

When using MetaMask 3.10.8 on Firefox 55 on Windows 7, pointed at my Parity node running on another Ubuntu machine, I observe an HTTP exchange that goeth thusly:

[code]

This is a CORS preflight for an actual request, but the actual request is never sent.

MetaMas

[2017-10-02 06:11] stone212 commented on #6586
@tomusdrw I have tried --unsafe-expose.  Parity does not invoke and this is the error:

`UI WALLET address 0.0.0.0:8180 is already in use, make sure that another instance of an Ethereum client is not running or change the address using the --ui-port and --ui-interface options.`

If I disable my reverse proxy then this error goes away.  But if I am not using the reverse proxy, there is nothing to "

[2017-10-02 09:12] drandreaskrueger opened #6618 "(1.7.2) Unexpected rlp error: RlpIsTooShort (Taking snapshot starting at block 1790000)"
### problem:

    Taking snapshot at #1790000
    panicked at 'Unexpected rlp error: RlpIsTooShort', src/libcore/result.rs:860

### details:
[code]

### versions

[code]

compiled from newest release version `git checkout tags/v1.7.2`

[2017-10-02 09:26] arkpar commented on #6618
Is that a public blockchain?

[2017-10-02 10:05] drandreaskrueger commented on #6618
oh, yes, sorry:

    parity --chain ropsten

[2017-10-02 10:06] drandreaskrueger commented on #6618
I have restarted it, the problem did not re-appear:

[code]

[2017-10-02 10:07] drandreaskrueger commented on #6618
the folder

            ~/.local/share/io.parity.ethereum/chains/test/db/ae90623718e47d66/snapshot/

is empty

[2017-10-02 10:17] HaleTom commented on #6604
@5chdn granted, my last example was a bit contrived. I'm currently using `--light` or not, so specifying this (or not) is easier than naming a config file.

[2017-10-02 10:28] 5chdn commented on #6614
Try installing from source (see README for instructions) if the binary does not work.

[2017-10-02 10:29] arkpar commented on #6618
This is already fixed. The fix is scheduled for 1.7.3

[2017-10-02 10:29] #6618 closed

[2017-10-02 10:37] 5chdn commented on #6612
Can not reproduce with 1.8

[2017-10-02 10:46] 5chdn commented on #6586
what happens if you set `--ws-interface`?

[2017-10-02 10:57] bluen commented on #2478
We were also hit by this, and in addition to the rules mentioned in https://github.com/paritytech/parity/issues/2478#issuecomment-286050016 it seems an additional rule for dropping packets to RFC6333 network 192.0.0.0/29 addresses is also necessary.

[2017-10-02 12:22] #2326 closed

[2017-10-02 12:23] wnz99 opened #6619 "wallet.parity.io"
I'm running:

**Parity version**: 1.8.0-unstable
**Operating system**: Linux
**And installed**: from source

I set up remote node with nginx proxy.

Is there a way to run my own node as configured on wallet.parity.io, meaning that users are required to create an account on the first visit?

I have searched the wiki and looked into all the possible parameters but really could not figure out how to

[2017-10-02 13:05] gooodmorningopenstack commented on #4226
I can give it a hand, it seriously needs to be refactored/outsourced with scripts.
Also, we can rationalize the `.gitlab-ci.yml` file with YAML anchors to not repeat the same blocks.

[2017-10-02 13:36] rphmeier commented on #6619
Check out the `--public-node` flag.

[2017-10-02 13:36] #6619 closed

[2017-10-02 13:56] wnz99 commented on #6619
I did and apparently I can create an account from the accounts tab. However, I am not presented with a Welcome guided page as in https://wallet.parity.io. Is that something custom for your that specific node?

[2017-10-02 13:58] tomusdrw commented on #6619
Try clearing `localStorage` / running in private mode, maybe `firstRun` is set to `false`, because you visited the same domain in the past.

[2017-10-02 14:03] wnz99 commented on #6619
that worked. Many thanks.

[2017-10-02 14:49] gituser commented on #2478
@bluen yes, the problem though you need to stretch these rules a bit, because otherwise parity might stop syncing on ropsten (testnet).

[2017-10-02 16:21] 5chdn commented on #4226
@gooodmorningopenstack see #6600 before you start working on this :)

[2017-10-02 16:43] robbiehanson commented on #5538
I'm also encountering this bug. Since it still isn't fixed, is there an older version of parity I can run where it's known this problem doesn't occur ? (I can run it just long enough to get my contracts deployed, and then I can switch back to the latest.)

[2017-10-02 16:46] tomusdrw commented on #5538
Actually it might be just a chain re-organization imho, the library shouldn't assume that if the receipt is ok, then the code will be there (cause the re-org can happen in the middle).

[2017-10-02 17:40] robbiehanson commented on #5538
That's a good point. But my impression is that at this junction it would appear there's an incompatibility between parity & web3. And parity is the most popular server. And web3 is the most popular client. And an awful lot of people are deploying their contracts using web3 (either directly or indirectly via a tool like Truffle).

So if the parity team claims it's a problem with web3, and they're n

[2017-10-02 17:48] dondreytaylor opened #6622 "Non-stop pending transactions under signer tab"
For some reason I keep getting a flurry of pending transactions coming in. I'm not the one initiating them and even when I reject them all they keep coming back. Has anyone experienced this issue before. I'm connected to the Kovan network and according to Parity I'm at the most current block when this occurs. I've included a screenshot below.

Here is the command that I'm using to run parity.

`pa

[2017-10-02 18:34] tomusdrw commented on #5538
I'm not suggesting that there are no issues in Parity. It's still open and marked as a bug and needs further investigation. Just pointed out that the current web3 approach might not work reliably as well.

Actually just looked at the initial report and it seems that the receipt is indeed returned but the transaction is still pending (note that blocknumber is missing in the receipt). This can be ad

[2017-10-02 19:26] rphmeier commented on #5538
Yeah, I completely misdiagnosed this issue initially. @tomusdrw another solution would be to fetch contract code with block `pending` instead of `latest`, right? But that's probably not useful if you are waiting for a contract to actually be deployed.

[2017-10-02 21:34] reiven commented on #6586
Hi! i'm running the same issue trying to run parity inside a docker-compose , which works fine with v1.6 but i cannot make it work with v1.7

i've added `--ws-interface 0.0.0.0` but it keeps requesting for token
log says

`parity-local_1  | 2017-10-02 21:32:06 UTC Blocked connection from http://127.0.0.1:8180 using invalid token.
parity-local_1  | 2017-10-02 21:32:06 UTC Blocked connection to WebS

[2017-10-02 23:14] kumavis commented on #6616
I think its safe to say this is a MetaMask issue - will address

[2017-10-02 23:14] kumavis commented on #6616
But I agree with this sentiment

[2017-10-03 04:30] stone212 commented on #6586
@5chdn When I add --wd-interface="all" there is no change.  I still get the box telling me to create and paste a new signer token.  But when I do this, the interface takes the token and briefly changes the display to say "Connecting to the Parity Secure API" for a moment.  Then the same screen is displayed asking me for a token.  This happens with the reverse proxy and it also happens when I am us

[2017-10-03 04:51] stone212 commented on #6586
@tomusdrw @5chdn I changed the title of this Issue to be more clear.  The problem is not access to the UI.  I think the problem is Trusted Signer is not accepting the tokens.

[2017-10-03 08:03] #6581 closed

[2017-10-03 08:24] chuacw opened #6623 "Allow finding of text in the Parity app's contract develop section."
Unable to find text in contract section when developing.
Implement a find text feature, so that text can be found.

1.  Start the Parity app, so that it opens up a browser window to browse the parity app.
2.  Go to the contracts section.
3.  Click on Develop. Enter a lot of text into the editor.
4.  Now, try to find any text you've entered.
---

[2017-10-03 09:10] boshido commented on #6513
For me it does not work even have -p 8546:8546, I still stuck with this page
![image](https://user-images.githubusercontent.com/3489862/31117818-6b8eba82-a855-11e7-9794-7b5681e0d86a.png)

command is
[code]

[2017-10-03 11:03] tomusdrw commented on #6586
Ok, let me get this straight. The setup you need is:
1. Going to `http://<someip>:8180` should render Parity Wallet.
1. Nginx listening at `<someip>` and proxying ports `:8180, :8545, :8546 (websockets)` to `127.0.0.1:<port>`
2. Parity running with options:
[code]

This is a setup that should work correctly for you. `<someip>` can also be replaced with a domain name.
If the tokens are still not ac

[2017-10-03 11:04] tomusdrw commented on #6586
@reiven please run with `--ws-origins 127.0.0.1:8180`

[2017-10-03 11:08] tomusdrw commented on #6622
Running with `--jsonrpc-interface 0.0.0.0` exposes your node to outside world. *Anyone* within the same network can access the RPC interface and request some transactions to be sent.

Seems that there is either a python script running on you machine or some other machine in your local network that tries to request those transactions.

Solution: Don't expose the RPC interface to the world or protec

[2017-10-03 11:08] #6622 closed

[2017-10-03 11:20] gooodmorningopenstack commented on #4226
Thanks, I see that it's almost done :+1:

[2017-10-03 13:29] dawsonfi commented on #5484
Hi @se3000,

Do you think that using an `Toml` file to hold this configuration would be a good idea?

[2017-10-03 14:57] reiven commented on #6586
@tomusdrw no, i cannot make it work with v1.7.x, inside a docker-compose

FYI i've created [a gist](https://gist.github.com/reiven/7f1951c86a978dc809656c3d5ede6ec2) to show the parameters i'm using for 1.6, which works fine, and 1.7 which i cannot find a way to make it work yet

[2017-10-03 15:01] tomusdrw commented on #6586
@reiven Please use this instead:
[code]

[2017-10-03 15:20] reiven commented on #6586
Thanks a lot @tomusdrw with that parameters it is working fine!

[2017-10-03 17:14] ctzjc commented on #6593
And they go silent....I have SAME issue

[2017-10-03 17:18] ctzjc opened #6626 "First time syncing...taking forever. Makes no sense."
I'm running:
**Parity version**: 1.7.2
**Operating system**: Windows
 **And installed**: via installer

I have been waiting for sync of block chain for over 12 hours now, and it is only 1/2 done.
Tried reinstall. Tried deleting database. Tried starting over and over.
No change, still slow as shit. My connection is 100mbps through my ISP.

What am I doing wrong?
This is really disgusting if this is

[2017-10-03 17:48] rphmeier commented on #6626
The bottleneck is block processing, not block download. The blocks at around 2.3 to 2.5 million are extremely heavy due to some DoS attacks at the time and will take a long time to process, especially with an HDD.

[2017-10-03 17:53] ctzjc commented on #6626
Thats what I read.....that the Ethereum block never recovered.
Can I ask, will Metropolis effect Parity?
Will it make it faster?

[2017-10-03 18:01] rphmeier commented on #6626
You should run "parity.exe" with that flag after shutting down the currently running instance of "parity.exe".

Metropolis will only affect the rules for creating new blocks. But it's a blockchain and the new blocks depend on older ones. The old blocks will still be heavy to process.

[2017-10-03 18:13] ctzjc commented on #6626
ohhhhhhh.....but im afraid to do it because what if I will have to load all over? Or that wont happen? lol...im at 2.5 mil...thats was a lot of time XD

And I understand. So basically these old blocks cannot be purged or discarded at ANY point of the block existence?

[2017-10-03 19:01] VoR0220 commented on #6181
This would be very useful right about now. I'm going through a very complicated process to run a remote node access routine, and it would be nice to have this simplified.

[2017-10-03 21:49] dondreytaylor commented on #6622
Oh wow, you're right @tomusdrw. I had made it open like that in an attempt to connect from an outside IP, but that seemed to be the issue. Changing the jsonrpc interface to the local IP of the machine seemed to work. Thanks for pointing this.

[2017-10-04 01:32] knarz commented on #6615
`echo "mypassword" > passwordfile` should do the trick, i.e. just a simple file containing your password on a single line.

[2017-10-04 01:42] tom-seddon opened #6627 "Wallet export doesn't show password hint"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

When using Export Account, parity asks for the account password, but no hint is shown and there's no obvious way to get it.

This applies to export of an individual account (`ACCOUNTS` t

[2017-10-04 03:18] gellesrinivas opened #6628 "Dear Parity,"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am new to Parity and I created an account and transferred ETH from myEthernetwallet.com to Parity. I do not see the balance on my Parity UI.

Below is the transaction.

https://etherscan.io

[2017-10-04 04:13] WyseNynja opened #6629 "Multiple external IPs"
My node is behind a NAT and has both IPv4 and IPv6 addresses. Right now I've set `--nat extip:IPV6:ADDR:HERE::`, but that means I think I'm not announcing my IPv4 address to peers. Does that matter? Is there any way to advertise both IPs?

[2017-10-04 07:15] stone212 commented on #6586
@tomusdrw Thank you but this did cause anything to change.  Actually it raised more questions so I will try to go through everything:

1. Just a reminder that I do not have this problem with 1.6.10.

2. I am using apache2, not nginx but anyway it works with 1.6.10 so I don't think we can blame apache2.

3. Why should it be necessary to proxy the RPC port?  That seems dangerous.  I did it as you sa

[2017-10-04 08:04] tomusdrw commented on #6586
Re 1. As I mentioned earlier - WebSockets were added in 1.7 and UI requires them to work.
Re 3. The RPC port in 1.7 is also a dapps server in 1.7, if you don't plan to use dapps you don't need to do it. Exposing any ports without a proper firewall whitelisting is dangerous since anyone can trigger RPCs on your node.
Re 6: the port is 8546 not 8586
Re 7: you need to put `*` in quotes: `"*"` (or jus

[2017-10-04 09:27] 5chdn commented on #6615
exactly, a simply text file containing your password.

[2017-10-04 09:27] #6615 closed

[2017-10-04 09:33] 5chdn commented on #6623
Thanks for your heads-up.

Duplicate of #5483

[2017-10-04 09:33] #6623 closed

[2017-10-04 09:34] 5chdn commented on #6626
A snapshot sync takes around 30 minutes to get you to the latest head. You don't have to be afraid to start over :)

[2017-10-04 09:34] #6626 closed

[2017-10-04 09:36] 5chdn commented on #6627
Thanks for the report. Will add this to the UI-2 checklist for the next generation wallet we will publish soon. https://github.com/paritytech/parity-long-term-issues/issues/1

[2017-10-04 09:36] #6627 closed

[2017-10-04 09:37] 5chdn commented on #6628
I see your balance, no worries. You need to wait until your wallet is fully synchronized.

[2017-10-04 09:37] #6628 closed

[2017-10-04 09:38] arkpar commented on #6593
@miningpoolhub would it be possible for you to upload contents of `/home/xxxxx/.parity_stuck20170926/chains/ethereum/db/906a34e69aec8c0d` somewhere?

[2017-10-04 10:08] 5chdn commented on #6513
@boshido try with `--ws-interface all`

[2017-10-04 10:11] 5chdn commented on #5484
`toml` is probably the best idea.

[2017-10-04 10:14] 5chdn commented on #6181
Well, let me get a coffee and draft that right now.

Meanwhile try running:

    parity --public-node

And report back if it works for you. ;)

[2017-10-04 10:18] 5chdn commented on #6629
Why would they need to use both IPv4 and IPv6 address if IPv4 is available? Nodes do not implement any preference to connect over IPv6 and peer selection is random.

Parity will only listen on IPv6 interface if it is specified in the `listen_address` config option.

[2017-10-04 10:18] #6629 closed

[2017-10-04 10:22] arkpar commented on #6593
@miningpoolhub Also, If you have any older logs (around block 4234295) that would be helpful.

[2017-10-04 10:42] fidaaayoub commented on #6250
i am getting the same issue . chain synchronized, and i have 3/25 peers, but still getting time synchronized as NO.  i have check my time.is and it's exact!
i was trying to make transaction, it never went out. transaction showing under Signer tab, local transaction.... if i try to cancel or anything, it creates a zero value transaction between me and myself! within the wallet, and keep going

[2017-10-04 10:54] fidaaayoub opened #6632 "not able to send transactions out of my wallet (Unable to reach time API: NTP error: NTP server is not provided.. Make sure that your clock is synchronized.)"
_Before filing a new issue, please **provide the following information**._

Unable to reach time API: NTP error: NTP server is not provided.. Make sure that your clock is synchronized.

I am  getting Unable to make a connection to the Parity Secure API. in status. chain synchronized, and i have 3/25 peers, but still getting time synchronized as **NO.** i have check my time.is and it's exact!
i was

[2017-10-04 11:09] fidaaayoub commented on #6632
10/4/2017, 3:08:45 PM]  IO Worker #2 TRACE sync  Status timeout 41

[10/4/2017, 3:08:44 PM]  IO Worker #0 TRACE sync  Status timeout 41

[10/4/2017, 3:08:43 PM]  IO Worker #3 TRACE sync  == Disconnecting 7: Parity/v1.8.0-unstable-339f63a-20170922/x86_64-linux-gnu/rustc1.20.0

[10/4/2017, 3:08:43 PM]  IO Worker #0 TRACE sync  Sending status to 7, protocol version 2

[10/4/2017, 3:08:43 PM]  IO Work

[2017-10-04 11:11] fidaaayoub commented on #6632
10/4/2017, 3:11:06 PM]  IO Worker #3 TRACE sync  Status timeout 41

[10/4/2017, 3:11:05 PM]  IO Worker #0 DEBUG sync  Sent up to 8 transactions to 1 peers.

[10/4/2017, 3:11:05 PM]  IO Worker #0 TRACE sync  52 <- Transactions (8 entries)

[10/4/2017, 3:11:05 PM]  IO Worker #0 TRACE sync  Status timeout 41

[10/4/2017, 3:11:04 PM]  IO Worker #0 DEBUG sync  Sent up to 64 transactions to 2 peers.

[1

[2017-10-04 11:19] HaleTom opened #6634 "~/.parity used instead of $XDG_DATA_HOME/io.parity.ethereum"
I'm running:

I run two Manjaro Linux boxen, both updated to the latest packages (it's a rolling release distro).

On one machine, `parity` mentions `~/.local/share/io.parity.ethereum` in its startup for the DB location.

On the other, it mentions `~/.parity`. The only difference I can think of is that on this machine I first ran v1.7.0 before upgrading to 1.7.2.

---
[code]
----
Is there some con

[2017-10-04 11:19] HaleTom commented on #6634
As a work-around I have:
[code]

[2017-10-04 11:20] fidaaayoub commented on #6632
@tomusdrw @5chdn

[2017-10-04 11:43] chevdor commented on #6606
@5chdn I wanted to test now but currently my parity does no longer show any token at all.
I will rebuild and test again, hoping I can reproduce the issue.

[2017-10-04 12:33] IdiomoftheGods opened #6635 "Installation duplication on windows"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---
Logged in as User.
Download installer exe.
Install. OS requests privilege escalation.
Enter Administrator Password.
Parity installs and runs.
Browser UI comes up, syncing takes about 10-1

[2017-10-04 12:40] chevdor opened #6636 "Tokens no longer show up"
_Before filing a new issue, please **provide the following information**._

I no longer see tokens:
- no icon attached to the accounts
- no longer appearing in the list when doing a transfer

Some of the tokens I expect to see are valid ERC-20 that showed up 2 weeks ago.
If I query the balance of contract, I can see that some of my accounts do have a positive balance.

---

[2017-10-04 12:41] chevdor commented on #6606
I cannot test due to #6636

[2017-10-04 12:59] AndreyNag commented on #3429
--force-ui is not helped for me. : (
 sudo netstat -natp |grep parity
tcp        0      0 0.0.0.0:30303           0.0.0.0:*               LISTEN      8910/parity
tcp        0      0 192.168.1.111:8545      0.0.0.0:*               LISTEN      8910/parity
tcp        0      0 192.168.1.111:8546      0.0.0.0:*               LISTEN      8910/parity
There is no 8180. --force-ui hangs up daemon with erro

[2017-10-04 13:17] lastperson opened #6637 "Missing entries in eth_getLogs response"
I'm running:
**Parity version**: 1.6.10
**Operating system**: Linux
**And installed**: from source
**Starting params**: --jsonrpc-interface all --jsonrpc-hosts=“all” --pruning archive --max-peers 100 --base-path /var/parity --geth --force-direct -l own_tx=trace --mode active --no-download --tx-queue-size 65536 --tx-queue-gas off --force-sealing --reseal-on-txs all --reseal-min-period 1000 --work-q

[2017-10-04 13:29] dawsonfi commented on #5484
Alright, i'll start working on it today.

I'm thinking on looking for a `Toml` file in the current and home folders of the user.
And if it doesn't have the property, we could use the default 60 seconds.

[2017-10-04 14:04] reiven commented on #6586
agree on add documentation for this

[2017-10-04 14:07] miningpoolhub commented on #6593
It's about 20GB. Any suggestion for file transferring big files?
I don't have old logs currently. It's already truncated when I restarted parity.

[2017-10-04 14:16] jo-tud commented on #6637
I get 937 entries with Parity/v1.6.0-unstable-32f64e9-20170914/x86_64-linux-gnu/rustc1.14.0

[2017-10-04 14:45] rphmeier commented on #5484
@dawsonfi wouldn't it make more sense to put this with the rest of the configuration in the CLI and config.toml?

[2017-10-04 15:46] dawsonfi commented on #5484
Sounds good to me @rphmeier, i'll take a look at the CLI and see how can i do this.

[2017-10-04 18:59] asymmetric commented on #6209
Hi, I'm trying to take this issue and I have a question. At the moment there are 3 files that seem to contain helper functions dealing with paths:

* [parity::dir](https://github.com/paritytech/parity/blob/master/parity/dir.rs)
* [ethstore::dir::paths](https://github.com/paritytech/parity/blob/master/ethstore/src/dir/paths.rs)
* [util::path](https://github.com/paritytech/parity/blob/master/util/pa

[2017-10-04 20:30] jeremie-H opened #6640 "number of peers drop while long syncing and is unstable"
Hello,

I was running geth node before, and time to time, geth node crash, so i decided to test parity.
My first interrogation was that the client doesn't create upnp access port in my router as geth did. but anyway, i've manually configured to access to port 30303.

[network]
port = 30303
nat = "extip:X.X.X.X"

While the first step of syncing snapshot, everything goes ok and quickly syncing with

[2017-10-04 20:53] stone212 commented on #6586
@tomusdrw

Re re 6: I have 8546 open.  I typed it wrong in the comment but it is correct on the server

Re re 7: I managed to figure this out after I wrote but this could be made explicit on the Basic Usage page, since other options do not require the "" and because most examples on that page don't use the quotes.

Re re 8: The log displayed when I start Parity does not throw any errors.  The only

[2017-10-04 23:04] tomusdrw commented on #6586
@stone212 Please open Chrome Dev Tools and refresh the UI. Then post a screenshot of what you see in network tab.

[2017-10-05 00:42] VoR0220 commented on #5538
I too have run into this issue. Weirdly I *was* able to deploy a contract at one point but with the current truffle code I have it's just dying every time. When checking the docker logs, I see the transaction has been mined and has gone through...not sure why this is happening even with the comments here. Has anyone stewed further on this and figured out WHY it's happening?

[2017-10-05 05:05] akahncmu opened #6642 "Ledger Nano S not detected"
Parity does not recognize my Ledger Nano S.  I see the following in the output when I run parity with cmdline args "-l hardware_wallet=trace"

`2017-10-04 21:55:38  hw_wallet TRACE hardware_wallet::ledger  Checking device: HidDeviceInfo { path: "/dev/hidraw5", vendor_id: 11415, product_id: 1, serial_number: Some("0001"), release_number: 512, manufacturer_string: Some("Ledger"), product_string: Som

[2017-10-05 07:01] 5chdn commented on #3429
How are you running parity? What does your config look like?

[2017-10-05 07:34] tomusdrw commented on #3429
The `[wallet] interface` in your config file is invalid. `192.168.111` is not a valid IP address.

[2017-10-05 08:00] 5chdn commented on #6632
Does the transaction show up on etherscan? Can you open APPLICATIONS > TX QUEUE VIEWER and locate your transaction there?

[2017-10-05 08:03] 5chdn commented on #6636
Does this state persist or do the tokens show up after waiting a while?

cc @ngotchac

[2017-10-05 08:07] 5chdn commented on #6640
An instant drop from 25 to ~1 is a strong indicator for network issues not directly related to (but maybe caused by) parity. Can you confirm your network connection was always fine when this happened?

Out of curiousity, are you on HDD or SSD?

[2017-10-05 08:10] 5chdn commented on #6642
Is browser support disabled? Have you previously been able to use the device with parity? Or any other vendor (My Ether Wallet, Ledger Wallet)? Did you follow [this guide for Ledger on Linux](http://support.ledgerwallet.com/knowledge_base/topics/ledger-wallet-is-not-recognized-on-linux)?

[2017-10-05 08:13] bipbippp opened #6643 "Error (0xc000007b) at starting application after installation"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

i install parity via installer and after installation when i tried to start it gives me error unable to start correctly (0xc000007b)

---

[2017-10-05 08:16] 5chdn commented on #6643
Can you please open a command prompt and

`cd "C:\Program Files\Parity\Party"`

and run

`parity.exe`

And share the output here?

[2017-10-05 08:22] bipbippp commented on #6643
https://i.imgur.com/qNcSDXM.png

[2017-10-05 09:04] slothbag commented on #6637
I'm getting some wierd responses from the latest Parity 1.7.2, previous version was working fine.. now half the event filters are returning empty or missing large numbers of entries.

[2017-10-05 09:14] fidaaayoub commented on #6632
@5chdn , i opened applications, tx queue viewer, and I can see all these zero transactions between myself
<img width="861" alt="image" src="https://user-images.githubusercontent.com/29645094/31219659-110a8610-a9cf-11e7-89e3-f081c249cd44.png">

[2017-10-05 09:20] qjawe opened #6644 "token deployment application: link to etherscan.io does not work"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **https://** https// vs. **https://https//** and **go to token deployment and check on the link of any token deployed and you get the error on https://https//  example https://https//etherscan.io/tx/0x06d56c8652778440cad29ee1bb4dbd1b686da1862788382621cb3519aaa5484a **

[2017-10-05 09:32] Ochir commented on #5689
alright, I reproduced this issue with 1.7.2. It happened after several disconnects between 2 nodes and snapshot was created.

[2017-10-05 09:58] 5chdn commented on #6632
You set the gas price to 0 which means no miner will probably accept it. Try increasing the gas price to at least 1 shannon.

[2017-10-05 09:58] #6632 closed

[2017-10-05 10:04] fidaaayoub commented on #6632
i didn't set anything.... these they got  created by automatically when i was cancelling 1 transaction

i was trying to contribute in some fund raise and i created transaction, with 300k gas.  it was hanging and never went to network.

i tried to cancel. then all these created by themselves

[2017-10-05 10:06] fidaaayoub commented on #6632
@5chdn i want to cancel them. i was trying to cancel , each time i click cancel, it creates another one of those zero transactions

[2017-10-05 10:15] fidaaayoub opened #6645 "parity clock not syncing while my time is exact"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

my clock is exact, but parity showing time not synced

screenshots attached

<img width="1267" alt="image" src="https://user-images.githubusercontent.com/29645094/31222240-87737fac-a9d7-11e7-

[2017-10-05 10:19] jeremie-H commented on #6640
Hi @5chdn !
I'm on HDD (with ZFS on linux filesystem ;-) )
I've tried the same test on a different computer, and see the same behavior.
During the snapshot syncing the peers seems to be stable, and grow up to 25, then regular sync is unstable, and number of peers varies a lot, even after 12 hours, sometimes i've got 10 peers, and one minute after, i've got 1 peer or 2..
I've got a pretty good inte

[2017-10-05 10:35] #6261 closed

[2017-10-05 10:35] 5chdn commented on #6645
That's an ntp warning you can ignore.

[2017-10-05 10:35] #6645 closed

[2017-10-05 10:36] 5chdn commented on #6632
Ah okay, what you see are the cancelled transactions. Probably. Try restarting your node with `--no-persistent-txqueue`

[2017-10-05 10:37] 5chdn commented on #6640
Could you run your node with `-l sync=trace`?

[2017-10-05 11:10] fidaaayoub commented on #6632
@5chdn  how i can run this command? from where? sry i am not an expert in parity

[2017-10-05 11:42] 5chdn commented on #6632
open a terminal, change directory

`cd /Applications/Parity\ Ethereum.app/Contents/MacOS/`

and run

`parity --no-persistent-txqueue`

[2017-10-05 12:07] chevdor commented on #6636
I cannot say I tested for hours but definitely nothing shows up even after a few minutes.
Neither the icons, nor the tokens in the lists beside Ether.

[2017-10-05 12:27] fidaaayoub commented on #6632
i have done that,  but still as is

Client service error: Client(Database("IO error: lock /XXXXX/XXXX/Library/Application Support/io.parity.ethereum/chains/ethereum/db/XXXXXXXXXXX/overlayrecent/db/LOCK: Resource temporarily unavailable"))
PCNAMEs-mbp:MacOS XXXX$

[2017-10-05 12:45] chevdor commented on #6636
I just rebuilt, the issue remains but I did an additional test: I see the issue on Kovan and NOT on fundation.

[2017-10-05 13:00] jeremie-H commented on #6640
i've posted logs here :
https://pastebin.com/Hk2yeZjm

it's a little huge, but to resume, here is the states :
[code]

[2017-10-05 13:06] bipbippp commented on #6643
i tried few different versions and still that error

[2017-10-05 13:36] c0deright commented on #6280
Just for documentation:

![CPU Usage and load average](https://i.imgur.com/Pz044PX.png)

The CPU usage has a very odd pattern, going up over the course of ~48 hours and then repeating. I guess this is the result of RocksDB with the compaction process running every so often.

I'm not complaining about ~20% CPU usage - just for documentation as I suspect this to be linked to the disk IO issue descri

[2017-10-05 13:52] Ochir commented on #5689
@5chdn what info can I collect to help with resolving this bug? I'm able to reproduce it each time.

[2017-10-05 13:53] chevdor commented on #6636
I rebuilt a version from 18.09 (commit 9196c7268abad6c0f0dc872d6c5936ace5d794d8) and my tokens do show up again.

[2017-10-05 14:01] deanstef commented on #5689
@Ochir how can you reproduce the bug? Just with several network interruptions?

[2017-10-05 14:11] Ochir commented on #5689
No, after load testing. It usually happens when 5000 blocks are imported.

чт, 5 окт. 2017 г., 17:01 Stefano De Angelis <notifications@github.com>:

[2017-10-05 14:22] #6636 closed

[2017-10-05 14:23] 5chdn commented on #6636
The following issues are probably related:

- #6636 all tokens no longer show up
- #6549 new registered tokens do not show up
- #6534 badges are gone after browser refresh
- #6518 all badges no longer show up

In addition, tokens like GavCoin are totally malformed in the wallet, missing TLA and icon, and decimal places are ignored.

I marked these issues with highest priority as this needs to be f

[2017-10-05 14:23] 5chdn commented on #6549
The following issues are probably related:

- #6636 all tokens no longer show up
- #6549 new registered tokens do not show up
- #6534 badges are gone after browser refresh
- #6518 all badges no longer show up

In addition, tokens like GavCoin are totally malformed in the wallet, missing TLA and icon, and decimal places are ignored.

I marked these issues with highest priority as this needs to be f

[2017-10-05 14:23] 5chdn commented on #6534
The following issues are probably related:

- #6636 all tokens no longer show up
- #6549 new registered tokens do not show up
- #6534 badges are gone after browser refresh
- #6518 all badges no longer show up

In addition, tokens like GavCoin are totally malformed in the wallet, missing TLA and icon, and decimal places are ignored.

I marked these issues with highest priority as this needs to be f

[2017-10-05 14:23] 5chdn commented on #6518
The following issues are probably related:

- #6636 all tokens no longer show up
- #6549 new registered tokens do not show up
- #6534 badges are gone after browser refresh
- #6518 all badges no longer show up

In addition, tokens like GavCoin are totally malformed in the wallet, missing TLA and icon, and decimal places are ignored.

I marked these issues with highest priority as this needs to be f

[2017-10-05 14:25] 5chdn commented on #6632
Yes, your node is already running. Stop it first :)

[2017-10-05 14:27] karalabe opened #6647 "Parity violates EIP-8, causing the network to partition"
The DEVp2p protocol originally expected version numbers to match exactly for two peers to communicate with each other. This turned out to be a very bad idea because it locked in the protocol to one particular version, and upgrading became semi-impossible due to the network needing to switch over all at once to any update.

As a result, in 2015, [EIP-8](https://github.com/ethereum/EIPs/blob/master/

[2017-10-05 14:38] karalabe commented on #6647
I'm assuming this line is the main culprit: https://github.com/paritytech/parity/blob/c49beccadcd3c60c9fd90d1393921b91598c8eb0/util/network/src/session.rs#L522

Though I'm unsure if https://github.com/paritytech/parity/blob/c49beccadcd3c60c9fd90d1393921b91598c8eb0/util/network/src/handshake.rs#L188 should also be changed from `PROTOCOL_VERSION` to `remote_version` (which needs retrieval) or not.

[2017-10-05 14:44] rphmeier commented on #6636
it was caused by changes which are only in master. there isn't anything to backport.

[2017-10-05 15:12] chevdor commented on #6636
I just rebuilt and I can confirm that I now see many tokens again. Happy we caught it in master.
![image](https://user-images.githubusercontent.com/738724/31234642-bc7395bc-a9ef-11e7-8fcc-0b376a6d3ad4.png)

The last fixes DID some good to the Badges as well.
#6534/#6518 are still issues but at least now, if a Badge is issued it DOES show up when the event is 'heard'.

[2017-10-05 15:16] MysticRyuujin opened #6648 "JSON RPC Not to Standard"
#### System information

Parity version: `1.7.2-beta`
OS & Version: `Linux 64bit`

#### Description

Parity appears to violate the JSON RPC Standard defined here:
https://github.com/ethereum/wiki/wiki/JSON-RPC

#### Actual behaviour
[code]

#### Expected behaviour (Parity)
[code]

It seems that Parity is accepting raw integers (as string) where 4000000 is automatically being translated to "0x3d090

[2017-10-05 15:26] fidaaayoub commented on #6632
I have tried to shut the node down and run but the same result... maybe i even tried to restart

Best Regards,

Fidaa Ayoub, PMP
Program Manager

[2017-10-05 15:35] rphmeier commented on #6648
@tomusdrw seems like it's time to remove the leniency we put in place last year when Geth was the one accepting misformatted parameters, not Parity.

[2017-10-05 15:43] chevdor commented on #6518
I am closing this one since the token issues are now fixed and #6534 is there and describes the issue better.

[2017-10-05 15:43] #6518 closed

[2017-10-05 15:45] chevdor commented on #6534
The current workaround for anyone having the issue is to keep your parity open and running, do no refresh, revoke your badge, grant the badge again.
Your badge will show up until you close parity. This is of course a poor workaround but allows you validating your Badge until this issue is fixed.

[2017-10-05 15:49] chevdor commented on #6642
@5chdn FYI: I tested on master with 223467c81 and the Nano S pops up nicely.

[2017-10-05 16:06] #6592 closed

[2017-10-05 16:07] #6647 closed

[2017-10-05 17:34] 5chdn commented on #6534
This is not an acceptable workaround :D

[2017-10-05 17:43] jlopp commented on #6280
I've been unable to sync a fresh Parity 1.7.2 archive node after two weeks, the disk usage is so terrible that I had to write a script to restart the node every half hour to free up space. Now that I finally got within sight of the chain tip, parity won't start up at all and just spins while maxing out the disk I/O and not syncing any blocks or logging any activity.

[2017-10-05 18:01] chevdor opened #6653 "UI: Address is not returned properly"
Parity seems to fail returning/matching an address with its name.

Consider the following contract:
Deployed on Kovan at: 0x476b8AB2bDa63882A8A4361e23a3d3C71a44Bae2

ABI:
[code]
The contract is a registry and you can see that something has been registered for the key 'AAA': 0x414141

An event has been fired:
https://kovan.etherscan.io/tx/0x0f2fe6ae07a7f8f2df09d3a9fe2ca00c8f23ccba8e8f5875683622f2e6

[2017-10-05 18:09] chevdor opened #6654 "UI: Allow setting tags on contract watch & deploy"
This is not an issue with a specific version but a suggestion of a new feature.

Currently, one may watch or deploy a contract and then use the Edit button to add tags.
The suggestion consists in offering a way to define tags (optionally) from the UI used to watch / deploy and save a step.

[2017-10-05 18:26] WyseNynja commented on #6181
Thanks @5chdn! I'd be happy to test and review your docs :-)

[2017-10-05 18:54] 5chdn commented on #6181
_(I didn't even make it to the coffee machine yesterday.)_

[2017-10-05 19:14] WyseNynja commented on #6629
I'm trying to transition all my systems over to IPv6 but not all of them support it yet. I also have some systems that are IPv6 only. While I wait for AWS to support IPv6, I was hoping to have one of my systems bridge both v4 and v6 so that all my nodes can connect directly.

Is it possible to pass listen_address through the command line? I don't have a file config for this nodes since they are ju

[2017-10-05 20:44] NikVolf commented on #6511
and we close it since we decided to ban floats from wasm (but they may reappear if we figure out how to avoid NaN non-determinism)

[2017-10-05 20:44] #6511 closed

[2017-10-05 21:53] akahncmu commented on #6642
Got it!  I had to run this script - https://www.ledgerwallet.com/support/add_udev_rules.sh (which I found thanks to @5chdn ) thanks all for the help!

[2017-10-05 21:53] #6642 closed

[2017-10-06 06:21] 5chdn commented on #6629
Actually, it doesn't matter how you configure it, parity is listening on all network devices. If you run a node listening on

    172.16.16.11:30303

and IPv6 is available on the same device, its also available on

    [f8:59:71:1c:e8:14]:30303

You could try to simply wire IPv4-only nodes to

    enode://ac1977d...4ed44b8@172.16.16.11:30303

and IPv6-only nodes to

    enode://ac1977d...4ed44b8@[

[2017-10-06 07:12] 5chdn opened #6656 "PoA: proof produced by this engine; therefore it is valid; qed: Util(UtilError(Decoder(RlpExpectedToBeList)"
Running 1.7.0 on kovan works fine. Upgrading to 1.8.0 from latest master causes the following issue:

	====================

	stack backtrace:
	   0:     0x55d2bc1d7a7c - backtrace::backtrace::trace::hdaa42453d8ce8a14

	Thread 'Verifier #0' panicked at 'proof produced by this engine; therefore it is valid; qed: Util(UtilError(Decoder(RlpExpectedToBeList), State { next_error: None, backtrace: None

[2017-10-06 07:17] 5chdn opened #6657 "Archive +Fat +Trace node suddenly starts snapshot-sync."
_Before filing a new issue, please **provide the following information**._

This should not happen, shouldn't it?

	0 ✓ user@eros ~ $ .opt/parity/target/release/parity
	2017-10-06 09:14:44  Starting Parity/v1.8.0-unstable-d7db8487d-20171003/x86_64-linux-gnu/rustc1.19.0
	2017-10-06 09:14:44  Keys path /home/user/.local/share/io.parity.ethereum/keys/Foundation
	2017-10-06 09:14:44  DB path /home/use

[2017-10-06 07:19] 5chdn opened #6658 "Token Metadata probably not correctly displayed in Wallet"
---

Some tokens are not displayed in wallet #6549 and all badges are only visible once after certification #6534, in addition, some ERC-20 tokens are not correctly displayed.

Prominent example: GavCoin, it shows no icon, incorrect number of decimals, and no TLA. I observed multiple such malformed entries, but was only identify GAV as specific example.

[2017-10-06 07:22] 5chdn opened #6659 "Downgrading from 1.8 to 1.7 causes panic: RlpExpectedToBeData"
Downgrading from v1.8.0-unstable-d7db8487d-20171003 to 1.7.0 causes panic:

    0 ✓ user@eros ~ $ parity
    2017-10-06 09:20:14  Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0
    2017-10-06 09:20:14  Keys path /home/user/.local/share/io.parity.ethereum/keys/Foundation
    2017-10-06 09:20:14  DB path /home/user/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e

[2017-10-06 08:13] radek1st opened #6662 "Incorrect Chain Synchronized flag"
---
This is minor. I'm half way though syncing and when I lost all the peers in the UI I could see `Chain Synchronized (yes)`. I would expect it to be still `no`. It corrected itself when I connected to some peers again.  I didn't manage to get a screenshot, will attempt if it repeats.

[2017-10-06 08:27] drandreaskrueger commented on #4833
Is here the right place to ask about [EIP658](https://github.com/raiden-network/raiden/issues/1067#issuecomment-333641359)? Supposedly needed for raiden.
Thanks.

[2017-10-06 08:35] tomusdrw commented on #6662
There is no way to figure out what is the highest block if you are not connected to any peers. The status should show that chain is synchronized, although additional warning regarding no peers should be presented and the general status should still be warning/error.

[2017-10-06 08:56] radek1st commented on #6662
Yeah, that's what I thought, but I didn't notice any other warnings. Thanks.

[2017-10-06 08:56] #6662 closed

[2017-10-06 09:17] xphoniex opened #6663 "Parity fires confirmation when state is not changed yet"
~$ parity -v
    Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0

Already posted this question on [stackexchange](https://ethereum.stackexchange.com/questions/26976/occasionaly-web3-returns-contract-old-state-even-though-transaction-is-mined)

I'm running a single node private chain using ethash engine and try to reset `items` in my contract every time I start my dapp and immediat

[2017-10-06 09:19] fidaaayoub commented on #6632
@5chdn can you please help? i tried even after restart, still no luck.
i tried to initiate another transaction from my parity to myethwallet..... and same thing, nothing going through!!!

[2017-10-06 09:20] 5chdn commented on #4833
@drandreaskrueger EIP-658 is included in #5855 and should be included in master.

[2017-10-06 09:30] Ochir commented on #5689
As I had already written before, the version 1.6.6 works well after heavy load.

[2017-10-06 09:53] 5chdn commented on #6632
More drastic approach would be

0. stop parity
1. back up your keys
2. uninstall parity
3. remove all parity files (except your keys)
4. install parity
5. run parity
6. import your keys

[2017-10-06 09:55] fidaaayoub commented on #6632
that’s too risky, i have many ICO contributions and i would be worried to lose tokens in between……

no safer step?
is there a command to fully shut down parity? then run the 2 commands you recommended? or it’s just closing the browser?

[2017-10-06 09:57] 5chdn commented on #6663
Are you calling RPC methods? Which? How?

[2017-10-06 09:58] 5chdn commented on #6632
You need to stop the Parity daemon.

[2017-10-06 10:13] xphoniex commented on #6663
I connect to parity using ws and call the contract method :

`contract.methods.reset().send({from: my_wallet})`

Here's also how I run parity :

`parity --rpcapi 'eth,web3,personal' --ws-apis 'eth,web3,personal,pubsub' --chain chain.json --no-discovery --reserved-only --ws-origins all`

[2017-10-06 10:18] fidaaayoub commented on #6632
how is that?

[2017-10-06 10:21] fidaaayoub commented on #6632
here is the logs

10/6/2017, 2:20:43 PM] IO Worker #1 TRACE sync 11 -> Transactions (1 entries)

[10/6/2017, 2:20:43 PM] IO Worker #3 TRACE sync 49 -> Transactions (1 entries)

[10/6/2017, 2:20:43 PM] IO Worker #2 TRACE sync 67 -> Transactions (1 entries)

[10/6/2017, 2:20:43 PM] IO Worker #3 TRACE sync 47 -> Transactions (1 entries)

[10/6/2017, 2:20:43 PM] IO Worker #0 TRACE sync 10 -> Transacti

[2017-10-06 10:23] rphmeier commented on #6663
How are you checking for confirmations? If it's by getting the block receipt, make sure the block number and hash are set. Otherwise, the receipt will be for the "pending" block.

[2017-10-06 10:25] xphoniex commented on #6663
I wait for `confrimation` event to be fired :

    contract.methods.reset().send({from: my_wallet})
    .on('confirmation', confirmation => {
        if (confirmation) return;
       for (var i = 0 ; i < 10 ; ++i) {
            (function(i){
                contract.methods.items(i).call()
                .then( res => console.log(i + " " + res) );
            }(i));
        }
    })

Am I doing a

[2017-10-06 10:26] fidaaayoub commented on #6632
XXXXXXs-MacBook-Pro:~ XXXXXX$ parity --chain testnet

Loading config file from /Users/XXXXXX/Library/Application Support/io.parity.ethereum/config.toml
2017-10-06 14:24:28  main INFO parity::run  Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-macos/rustc1.18.0
2017-10-06 14:24:28  main INFO parity::run  Keys path /Users/XXXXXX/Library/Application Support/io.parity.ethereum/keys/Kovan
2017-10-

[2017-10-06 11:53] tomusdrw commented on #6663
My wild guess that `on('confirmation')` uses transaction receipt and Parity returns a receipt for pending transactions as well.
This can be resolved either by ignoring the first confirmation or by running in `--geth` compatibility mode.

[2017-10-06 13:30] rphmeier commented on #6663
Duplicate of #5538 ?

[2017-10-06 13:37] rphmeier commented on #6663
(workaround is to use `parity.js` for now, it doesn't have this broken behavior when waiting for confirmations)

[2017-10-06 14:32] rphmeier commented on #4833
We need to implement the difficulty-adjustment JSON tests (currently residing in BasicTests folder) if we haven't already.

[2017-10-06 15:36] #6656 closed

[2017-10-06 15:36] #6659 closed

[2017-10-06 17:13] chevdor commented on #6653
This is NOT a parity issue.

[2017-10-06 17:13] #6653 closed

[2017-10-06 18:08] xphoniex commented on #6663
@tomusdrw I tried running with `--geth`, failure rate seems to have dropped a lot but it still fails occasionally. Regarding waiting for 1 confirmation, is it deterministic that the transaction is confirmed in one block?

@rphmeier are you talking about this ? https://github.com/paritytech/js-api

---

Guys, I've imported a wallet using it's json file from another chain (on parity). The wallet had

[2017-10-06 19:46] fidaaayoub commented on #6632
i was trying to make a transaction to my other wallet.

i kept increase gas until it got mined, but still i am not able to clear the queue…. how i can cancel all these transactions

[2017-10-06 20:07] fidaaayoub opened #6666 "transactions not going of my parity,"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
i have been trying to send ethers to my other wallet, transactions not going through. i try to cancel, but it generates another transaction between me and myself! with zero value and gas.
i ha

[2017-10-06 21:33] AndreyNag commented on #6166
Can't connect by websocket too.
[code]
My config:
[code]
What's wrong?
Thanx.

[2017-10-06 21:37] tomusdrw commented on #6166
@AndreyNag `origins` and `hosts` need to contain a port as well. Try this:
[code]

[2017-10-06 21:38] bjornwgnr opened #6667 "Signer on public node (wallet.parity.io) broken"

[2017-10-06 21:46] AndreyNag commented on #6166
Not help. :( Need more ideas.

[2017-10-06 21:47] Molinist commented on #4940
they are probably hijacking your cpu to mine coins for them

[2017-10-06 22:15] jeremie-H commented on #6640
Hi !
I can give additionnal informations :)
To resume, there are 4 phases in syncing
1) sync snapshot up to last snapshot ~4,335,000
2) sync from 4,335,000 to last block (for example 4,337,123)
3) the syncing is up to date and download all new blocks when they are mined, in the same time, parity download all blockchain from 0 to last block.
4) the blockchain is complete and the syncing continue to

[2017-10-06 22:19] AndreyNag commented on #6166
Thanx. I don't know what happend byt webinterface is working. Here my working config.toml
[code]
May be open 8546 by ufw help me?

[2017-10-07 02:06] stone212 commented on #6586
I tried this in Chrome and the page crashes instead of loading.  I have not investigated more than this so far.  I just discovered the problem.  I attached a screenshot as you asked.
![chromecrash](https://user-images.githubusercontent.com/26020999/31303799-8c9ea65c-ab0b-11e7-8925-667add9bfb70.png)

[2017-10-07 02:12] stone212 commented on #6586
..aaand it's magically working in all browsers.  I will work on this over the weekend to see if it comes back.  If not, I will close this issue.

[2017-10-07 03:02] stone212 opened #6668 "Chain Specification Values Definitions"
I think the Parity team does a very good job and I do not wish for this issue to offend the people who put hard work into writing and documenting the code.  But I do find that the documentation is very inadequate regarding the definitions of the values in the Chain Specification file:

https://github.com/paritytech/parity/wiki/Chain-specification

I request that the team *please* take the time to

[2017-10-07 03:08] elopio commented on #6180
Hey @arkpar, I've just noted that 1.7.2 was not annotated. Maybe something to note down in your release procedure?

[2017-10-07 03:38] stone212 commented on #6586
Okay.  I now can access the UI from the localhost.  I made no changes.  Gremlins.

I can also access the UI from the remote IP.  To do this, I re-set the --ws-interface to the external IP.

Everything is working.  I currently do not understand why.  The only thing I did was to reboot the nodes and my own computer.

[2017-10-07 03:38] #6586 closed

[2017-10-07 08:17] rphmeier commented on #6663
With Ethash there is no guarantee that the transaction is confirmed in one block or that once confirmed that it will stay confirmed. That's the purpose of waiting for a confirmation N blocks deep, to reduce probability of the transaction being reorganized out of the chain. Your code needs to handle that possibility.

[2017-10-07 08:18] rphmeier commented on #6640
These peers might disconnect from you because you don't have anything useful to serve each other.

[2017-10-07 08:20] stone212 opened #6669 "An error occurred: Request not found"
I am deploying a test contract while running parity on --chain dev.  I am using Truffle 3.4.11, migrating to the development network (localhost:8545) and this happens:

1 - Truffle command line migration seems successful and says "Saving successful migration to network" as expected.

2 - Parity, as expected, asks me to confirm each transaction with an empty password for the development account.  I

[2017-10-07 08:27] rphmeier commented on #6668
I'm not sure what the best plain english resource for explaining gas limits or merkle tries as used in Ethereum, but they are comprehensively covered in the yellow paper.

The gas limit of a block is a dynamic "block size" parameter, which dictates how much computation the transactions within it can do. The chain can adjust to the target gas limit of the miners/sealers, so it doesn't _really_ matt

[2017-10-07 08:47] timsomers commented on #6402
I can confirm I've just had the same issue twice in a row, resetting the db in between. Twice on the same block, there must be something in it that light mode doesn't like.
[code]
I'm running parity 1.7.2 downloaded from https://github.com/paritytech/parity/releases, running on debian testing.

[2017-10-07 08:49] stone212 commented on #6668
Me too.  That's why I am hoping that the excellent Parity team will improve the documentation.  Then I can learn what the terms mean and play with them until I know what I'm doing.  How else would I get to that level?

Who mentioned merkle trees?  Are those even included in a chain spec file in some way?

[2017-10-07 08:54] Vourhey commented on #6669
I'm having the same problem. Every transaction seems to be successful, but parity says "an error occurred: request not found"

Parity
  version Parity/v1.7.2-beta-9f47909-20170918/x86_64-linux-gnu/rustc1.19.0

[2017-10-07 13:16] 5chdn commented on #6667
cc @maciejhirsz

[2017-10-07 13:20] 5chdn commented on #4940
@Molinist _shhh!_

[2017-10-07 14:58] unixfox commented on #5770
I've the same error, here is the logs:
[code]

[2017-10-07 15:49] mtbitcoin opened #6670 "DB flush failed.: "Corruption: block checksum mismatch""
Issue appears on windows build of parity fairly consistently

C:\>"C:\Program Files\Parity\Parity\parity.exe" --tracing on --jsonrpc-port 8547 --db-compaction ssd --cache-size 2000 --tx-queue-gas off --no-ws
2017-10-07 23:45:03  Starting Parity/v1.7.2-beta-9f47909-20170918/x86_64-windows-msvc/rustc1.19.0
2017-10-07 23:45:03  Keys path C:\Users\XX\AppData\Roaming\Parity\Ethereum\keys\Foundation
201

[2017-10-07 16:44] dev-dan commented on #4940
To my knowledge this is currently caused by two things:

1) Parity uses an extension to the ethereum protocol called WarpSync, this downloads snapshots of chain and once has the most recent snapshot will show you as up to date/synchronized -- because parity has enough data to be sure your chain is valid and are caught up. However these snapshots dont include the blocks between them, so parity down

[2017-10-07 17:31] maciejhirsz commented on #6667
Any details?

[2017-10-07 21:22] 5chdn commented on #4940
1. RocksDB will be replaced at some point but not for 1.8 yet :)
2. is already addressed and fixed in 1.7.2 :)

[2017-10-07 23:02] jvalleroy commented on #6206
@debris Would you expect address/public to be displayed in abbreviated form like ```c4c5…fcf4```? That's due to the display function implementation for the bigint.hash types.

[2017-10-08 07:52] stone212 opened #6671 "gasLimit and minGasLimit same value in wiki?"
This is related to the files found here:
https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/expanse.json
and here:
https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/foundation.json

Both of these have the value of 0x1388 for these two variables:

gasLimit
minGasLimit

I am not an expert and I still wish I had documenation that tells me what each of these thin

[2017-10-08 14:42] hheeb commented on #5968
Just happened to me with version 1.7.2 beta on a PC:

thread ‘IO Worker #1’ panicked at ‘nonce will return Some when given BlockId::latest. Nonce was given BlockId::latest. Therefore nonce has returned Some; qed’, src\libcore\option.rs:823

[2017-10-08 17:20] mirocana opened #6672 "Forever loading transactions history on multi-sig"
I created a new multi-sig wallet and unable to see the transactions. It's loading forever.

![photo_2017-10-08_20-20-19](https://user-images.githubusercontent.com/20560640/31319102-22371cac-ac66-11e7-8d3a-b920865a4469.jpg)

[2017-10-08 17:56] xphoniex commented on #6663
@rphmeier That's what I thought. Thanks for the clarification.

[2017-10-08 19:55] bjornwgnr commented on #6667
The signer doesn't pop up after pressing 'send' button in transfer view.

[2017-10-09 01:57] slothbag commented on #6637
I just spent a few days getting my geth node back to a full sync and can confirm that geth is returning all logs correctly.  Parity 1.7.2 appears to have an issue.  I get 319 logs/events in geth, and 2 in Parity for my particular contract.

[2017-10-09 07:53] 5chdn commented on #6667
Can reproduce with chromium. Was about to take screenshots and it does not allow me to send transactions. The signer is simply not showing up. This needs to be addressed asap.

[2017-10-09 08:01] 5chdn commented on #6672
implication: does not show pending requests. should be addressed asap.

also affected: transaction lists of normal accounts.

[2017-10-09 08:29] folsen commented on #6667
Just tested this as well, nothing shows up in the logs and when you go the signer page it says: "There are no requests requiring your confirmation."

It essentially just silently swallows the transaction and does nothing with it.

[2017-10-09 08:34] 5chdn commented on #6640
Just observed the same on kovan.

    2017-10-09 10:24:20  Syncing snapshot 43/60        #0   18/256 peers   8 KiB chain 7 KiB db 0 bytes queue 10 KiB sync  RPC:  0 conn,  0 req/s,   0 µs
    2017-10-09 10:25:47  Syncing snapshot 47/60        #0   19/256 peers   8 KiB chain 7 KiB db 0 bytes queue 10 KiB sync  RPC:  0 conn,  0 req/s,   0 µs
    2017-10-09 10:26:26  Syncing snapshot 53/60        #0

[2017-10-09 09:02] AyushyaChitransh commented on #6668
@stone212 There are plans for improving the wiki and issue #6585 takes care of that.

[2017-10-09 09:23] 5chdn commented on #6562
I repeatedly run into this issue on Ropsten. There are probably still some nodes on the wrong fork. If this issue persists, I'll consider reopening this.

[2017-10-09 09:28] ngotchac opened #6674 "Invalid transaction block number"
On Kovan, after sending a transaction that got stuck on my local node (could not get it mined, not sure why), this happens:
![image](https://user-images.githubusercontent.com/2864519/31331950-bb4fde8c-ace4-11e7-8c9c-ecb263113912.png)
It seems (wrongly) that it's included in a block. But on new block, the block number sent back by `eth_getTxByHash` is increasing...

[2017-10-09 09:30] rphmeier commented on #6674
Workaround: check if `r.blockHash` is null or present

[2017-10-09 09:36] ngotchac commented on #6674
Yep sure. `eth_transactionReceipt` returns `null` as well. But the main issue is that in the UI it shows the transaction as already included in a block, which is mis-leading

[2017-10-09 09:41] rphmeier commented on #6668
@stone212 The `*Root` fields you brought up refer to root hashes of merkle tries. these root hashes are contained in the header.

IMO when comparing the YP definition of a block header to the genesis structure in the spec, it is pretty evident which fields map to what. The merkle trie root fields don't really need to be messed with, but the gas limit fields are worth configuring in many cases.

[2017-10-09 11:11] #6672 closed

[2017-10-09 11:14] #6056 closed

[2017-10-09 11:27] jacogr opened #6677 "Account does not display all available (older) transactions"
As reported via e-mail.

---

It turns out to me that, after upgrading to Parity v1.7.2, the Transaction history is no longer visible to me. That worked good before upgrading.

Steps:
1. The account history was showing properly this morning, on Parity v1.7.0
2. Then I downloaded and upgraded to latest v1.7.2, Win64
3. After upgrading, I waited some time before blocks synced to latest.
4. the Trans

[2017-10-09 11:56] jacogr commented on #6677
List does show up on latest master once warp-sync blocks have caught up.

![parity 2017-10-09 13-56-17](https://user-images.githubusercontent.com/1424473/31336999-aae05756-acf9-11e7-885c-00b10360d61e.png)

[2017-10-09 12:21] 5chdn commented on #6670
Your probably only option is a `parity db kill` and try again. If this keeps happening again after a reset of the db, your disk might be corrupted

[2017-10-09 12:21] #6670 closed

[2017-10-09 12:37] 5chdn commented on #6666
Could you please resubmit `0x7e34 ...` with a higher gas price? Once this is mined you will be able to proceed as usual.

[2017-10-09 12:41] #6666 closed

[2017-10-09 13:08] 5chdn commented on #5968
Assigning to @rphmeier he has written _QED_ https://github.com/paritytech/parity/commit/3c7e4b8c6cebb9d108fbb4f370d36a806657206a#diff-3465bc775978072092164dda354243b6 :-P

[2017-10-09 13:10] #6663 closed

[2017-10-09 13:14] 5chdn commented on #6181
Started the draft. Need @maciejhirsz to confirm a list of additional / disabled features.

https://github.com/paritytech/parity/wiki/Public-Node

[2017-10-09 13:30] assafY opened #6679 "Trace module methods not found"
I'm running Parity version 1.7.0 on a Linux machine, installed from sources.

I am using the following flags:
`--rpcaddr=127.0.0.1 --tracing=on --rpc --datadir=/var/parity --no-ui --rpcapi=eth,net,parity,traces,web3`

I am trying to call the `trace_transaction` method from a nodeJS service via web3.js as follows:

[code]

I expected this method to be found, as I added the `--tracing=on` flag menti

[2017-10-09 13:40] rphmeier commented on #5968
yes, and it's still accurate IMO. This indicates a corrupted state, or perhaps being out of disk space.

[2017-10-09 14:09] jbentke opened #6680 "Config toml is prioritized over chain specification file for picking network-id"
In the wiki is no mentioning that the parity configuration file is overruling the chain specification file. I guess its a question of taste, but I expected the chain specification file to act like an unchangeable part of one specific network.

Tested on 1.7.0 and 1.8.0 with mac and aws. Network size tested with 2 and 3 nodes.

_Config takes precedence over specification_
**steps to reproduce**: Se

[2017-10-09 14:20] 5chdn commented on #6680
Priority is ordered like that (top overrides bottom):

0. Command-Line Flags (fastest way to change the behavior)
1. Configuration File (fast way to change the behavior, but more persistent than CLI)
2. Chain Spec (you usually only change that once per chain and use client configuration for everything else)
3. Client Defaults (you usually do not alter the parity code base to change network params

[2017-10-09 14:20] #6680 closed

[2017-10-09 14:23] 5chdn commented on #6679
The RPC module is called `trace` not `traces` :)

[2017-10-09 14:23] #6679 closed

[2017-10-09 14:47] assafY commented on #6679
Thanks, but FYI, it actually should be `traces`. Anyway, the issue was a separate internal one and unrelated to Parity.

https://github.com/paritytech/parity/wiki/JSONRPC

[2017-10-09 15:02] maciejhirsz commented on #6667
So the issue is that the subscriptions aren't emulated on the public node, and the signer is expecting messages coming from the Node instead of handling it within the confines of the browser (as it was intended to happen).

The fix is pretty straight forward but I need to make sure to plug it in the right place that kind of makes sense and doesn't break everything terribly (CC: @jacogr remembers t

[2017-10-09 17:24] se3000 commented on #5484
Toml makes sense to me, preferably with the rest of the config settings.
On Wed, Oct 4, 2017 at 8:47 AM Dawson Freitas Israel <
notifications@github.com> wrote:

[2017-10-09 19:32] johnerfx opened #6681 "Edit, cancel transaction randomly does not work (increments "nonce" sometimes)"
Parity/v1.8.0-unstable-9196c72-20170918/x86_64-linux-gnu/rustc1.20.0
installed from source code (`cargo build --release`)

Editing or cancelling transaction sometimes does not work.
It broadcasts new transaction with **'nonce' incremented**. I can't reproduce this easily because sometimes it works just fine and I like to play around with low gasPrice to check if tx gets mined.
Maybe it would be po

[2017-10-09 20:15] krakn commented on #3936
I'm currently experiencing the blue spinner on my multisig wallet.

What information can I provide to assist in resolving this issue?

Parity versions tested: 1.7.2, nightly builds

[2017-10-10 04:23] sayyesman opened #6682 "Support for Etherite fork"
# FEATURE REQUEST

Please support Etherite, it is a fork of Ethereum to keep the block reward at 5 ether, removing the difficulty bomb and keeping in the other features of the fork.

Please add it as an option like in classic, right now only geth is supported!

https://www.reddit.com/r/Etherite/comments/75bttb/what_is_etherite_and_how_to_help_out/

[2017-10-10 06:18] 0x7CFE commented on #5988
What is the status for this issue? I think I could handle it, if it's not taken.

[2017-10-10 07:12] debris commented on #5988
I believe we still use `rustc_serialize` in several places

[code]

[2017-10-10 07:36] 5chdn commented on #6682
Do you have a working chain-spec? Feel free to create a pull-request.

[2017-10-10 07:52] 0x7CFE commented on #5988
What about `ethcore/src/miner/price_info.rs`? I couldn't see this path on `master`.

[2017-10-10 08:17] 5chdn commented on #6417
Same applies for macos.

[2017-10-10 08:20] tomusdrw commented on #6417
Environment variables in CLI are resolved by the terminal, for configs we would need to build our own parser to support that.
While I agree that it shouldn't panic if the logger cannot be initialized supporting env variables is a bit more involved **enhancement** or perhaps **annoyance**.

[2017-10-10 08:25] tomusdrw commented on #6326
Most lilkely related to WS errors being printed out. @xenoexclusive do you have any service connecting to websockets interface? Do you use Parity Wallet in the browser?

[2017-10-10 08:42] debris commented on #5988
it was relocated to `price-info/src/lib.rs` and it's already updated and uses serde

[2017-10-10 08:57] chuacw opened #6684 ""Your clock is not in sync""
_Before filing a new issue, please **provide the following information**._

I'm seeing the following message at the bottom of the browser where the yellow bar/charts are:

"Your node is still syncing, the values you see might be outdated. Wait until it's fully synced.
Your clock is not in sync. Detected difference is too big for the protocol to work. 573ms. Synchronize your clock."

This is despit

[2017-10-10 09:02] JanKalin commented on #4664
Oh, well, here it goes again. Updating to 1.7.3 changed the setting to "syncs initially, then sleeps,..."

[2017-10-10 09:59] 5chdn commented on #4664
:sob: :rofl:

[2017-10-10 10:01] sjStefan opened #6685 "eth_estimateGas issues "Transaction execution error""
_Before filing a new issue, please **provide the following information**._

**Actual bevaviour:**

Executing eth_estimateGas with a contract address

`{
  "jsonrpc": "2.0",
  "id":   1,
  "method": "eth_estimateGas",
  "params": [
    {
      "to": "0x459F7854776ED005B6Ec63a88F834fDAB0B6993e",
      "value": "0x6f05b59d3b20000"
    }
  ]
}`

issues the following error:

Error-Message: Transaction

[2017-10-10 10:02] 5chdn commented on #6684
573ms is fine. You can ignore that warning.

The actualy warning is:

This means your blockchain is not synchronized yet.

[2017-10-10 10:12] rphmeier commented on #6685
This means that the node couldn't find an amount of gas that leads to the call succeeding. The behavior of `eth_estimateGas` in such a case is undefined, so Parity chooses to return an error. Can you ensure that the contract call doesn't unconditionally throw?

[2017-10-10 10:12] 5chdn commented on #3936
@krakn it's fixed in 1.7.3, #6672

Please upgrade :)

[2017-10-10 10:32] sjStefan commented on #6685
I'm sorry.
I don't understand, what you're trying to say with "contract call doesn't unconditionally throw".
The thing is, on a different node, which uses a docker-image and parity 1.7.2, the command finely works.

[2017-10-10 10:46] xenoexclusive commented on #6326
@tomusdrw Yes I am using the Parity Wallet in browser in Chrome.

[2017-10-10 10:54] chuacw commented on #6684
If this warning about the clock not being in sync can be ignored, then please do not provide such a warning. It is confusing.

[2017-10-10 11:45] JanKalin commented on #4664
Perhaps it's something specific on my machine or upgrade procedure. The  way I do the upgrade is to:
- Download InstallParity.exe
- Kill running Parity process
- Install new Parity
- Immediately after Parity starts use the ptray app to:
  - Uncheck "Start At Login"
  - Exit the app
- Then I run my own command `par.btm`, which contains lines line `detach "C:\Progra~1\Parity\Parity\parity.exe --log-

[2017-10-10 12:59] 5chdn commented on #4833
can we close this btw?

[2017-10-10 13:18] 5chdn opened #6688 "Release next-beta 1.8.0."
**Step 1**: Wind up development:

- [x] check for known bugs (~~feel free to add tickets here~~, **bold are blockers**)
  - [x] [**#4833** metropolis release](https://github.com/paritytech/parity/issues/4833) core **consensus**
  - [ ] ~~[#5968 panicked; qed;](https://github.com/paritytech/parity/issues/5968) core~~
  - [ ] ~~[#6280 sync io / disk usage](https://github.com/paritytech/parity/issues

[2017-10-10 13:25] 5chdn commented on #6684
Actually, you are right, this should be addressed but we are clueless why it shows such high time offsets, it somehow includes latency from somewhere. We are currently unable to fix it, any volunteers welcome! I can give some pointers.

[2017-10-10 13:51] chuacw commented on #6684
What files are involved?

[2017-10-10 13:58] 5chdn commented on #6684
This is the formula:

https://github.com/paritytech/parity/blob/master/dapps/node-health/src/time.rs#L22-L31

Here is the actual code:

https://github.com/paritytech/parity/blob/master/dapps/node-health/src/time.rs#L167-L172

The problem is one of these four variables includes the time to create the package (probably) and this introduces some additional latency.

[2017-10-10 14:12] 5chdn commented on #6681
While this issue is probably valid and I know other users facing similar issues #6666 I would like to ask you to rebuild your client from master daily if you are not running stable or beta releases. Otherwise this will be hard to give you support in such a fast moving environment.

And we are about to move on to a new wallet, so this ticket will be probably never addressed before the new UI is rel

[2017-10-10 14:14] 5chdn commented on #6685
What do you mean by _changing the address to a different one_?

[2017-10-10 14:23] XelionIO commented on #6373
Quick update :

I'm running :
    Parity version: 1.7.1
    Operating system: Windows 10 Pro
    Ledger Firmware: 1.3.1
    Ethereum App: 1.0.18
    Type: via installer

Same error :
`C:\Program Files\Parity\Parity>parity.exe -l hardware_wallet=trace
2017-10-10 16:21:58  main INFO parity::run  Starting Parity/v1.7.3-beta-d097956-20171009/x86_64-windows-msvc/rustc1.20.0
2017-10-10 16:21:58  main IN

[2017-10-10 14:23] krakn commented on #3936
Just did, that fixed it.

Thanks! :)

[2017-10-10 14:28] sjStefan commented on #6685
Rather than using the contract address (0x459F7854776ED005B6Ec63a88F834fDAB0B6993e) as a recipient-address, I can use this address for instance: 0xacf14ab404274b72e919f22ae4638f52797833a3

Calling eth_estimateGas with 0xacf14ab404274b72e919f22ae4638f52797833a3 works perfectly.

[2017-10-10 14:53] arkpar commented on #6373
@XelionIO Please also make sure ledger chrome app is not running.

[2017-10-10 14:54] XelionIO commented on #6373
@arkpar No it doesn't run

[2017-10-10 15:01] opcahf commented on #6682
@5chdn We will need this, too. LOL our competitor

[2017-10-10 15:14] chuacw commented on #6684
// In the code, drift = ((T2 - T1) + (T3 - T4)) / 2

The problem is that your algorithm doesn't take into account the case where the  incoming and outgoing routes between the client and the server do not have similar delay.

Also, is T2 always > T1 and is T3 always > T4? If not, I suggest using the absolute function, eg,

i32::abs(T2 - T1)
i32::abs(T3 - T4)

or i64::abs (Use the appropriate type)

[2017-10-10 16:17] amal commented on #6578
Same problem with Parity 1.7.3

[code]

[2017-10-10 16:54] arkpar commented on #6484
@tomusdrw does this still happen? Could use a `sync=trace` log

[2017-10-10 17:11] KenoLeon opened #6692 "Can't add new abi when adding new erc20 Token"
_Before filing a new issue, please **provide the following information**._

Parity//v1.7.2-beta-9f47909-20170918/x86_64-macos/rustc1.19.0

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
---

Actual:

Trying to add an erc20 Token, the Abi field is locked displaying the information of a previous Token

Expected:
I s

[2017-10-10 17:19] #6681 closed

[2017-10-10 17:28] 5chdn commented on #6578
@amal see #6684

[2017-10-10 17:30] chevdor commented on #6692
you need to select *custom*, then you can enter the ABI of your choice.

[2017-10-10 17:34] 5chdn commented on #6684
The formula is not the issue, it's taken from SNTP, see https://tools.ietf.org/html/rfc1769 (page 9).

The round trip delay was also my first suspection, but the formula takes care of that.  The unexplained offset happens somewhere between T1 and T2. You can use something like

    trace!(target: "dapps", "T1: {:?}", orig_time);

and run the client with `-l dapps=trace` to debug the formula.

[2017-10-10 17:35] 5chdn commented on #6682
@opcahf sure, just submit a PR and we will discuss implementation details there.

[2017-10-10 17:37] 5chdn commented on #6692
what @chevdor said. ^

[2017-10-10 17:37] #6692 closed

[2017-10-10 17:40] KenoLeon commented on #6692
@5chdn @chevdor Thanks, got it working both ways.

[2017-10-10 18:01] #6418 closed

[2017-10-10 18:04] debris opened #6693 "Last part of util refactor"
last part of #6418

- [x] `kvdb` should be separated into 2 separate crates: `kvdb` and `kvrocksdb` which implements key-value interface for rocksdb
- [x] `journal` crate should be separated from util. `overlaydb` and `util_error` crate should be merged into it. also `UtilError` should be just renamed to `Error`.
- [x] `cache` should be separated from `util`
- [ ] `util` should be dissolved

[2017-10-10 18:33] arkpar commented on #6484
nm, issue identified

[2017-10-10 19:51] #6657 closed

[2017-10-10 20:56] eranhirs opened #6695 "0.00% warp restore - Windows - upgrading parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I upgraded parity to 1.7.3, and since then (2 hours already) I am only seeing "0.00% warp restore".
The warning says "Your node is still syncing, the values you see might be outdated. Wa

[2017-10-10 21:15] skozin opened #6696 "Cannot access personal APIs using Parity/web3 console app"
I'm running Parity with these flags:

[code]

(I also tried to run it with `--dapps-apis-all` with the same result.)

Trying to unlock my default account in "Parity/web3 console" application fails with "Method not found" error. No `personal` APIs seem to work, not just `unlockAccount`:

[code]

`web3.eth.accounts` contains my accounts, though.

Inspecting HTTP request for `listAccounts` using Chro

[2017-10-10 21:43] #6695 closed

[2017-10-10 21:43] eranhirs commented on #6695
I happened to restart my computer.
The problem did not reproduce when re-opening parity after that.

[2017-10-11 03:13] mrbrdo commented on #6402
I have the same issue on parity 1.7.3 on Mac OS X High Sierra.
`2017-10-11 04:57:48  Syncing #3099722 e2ef�1c6c   737 hdr/s  16607+    0 Qed  #3099722    7/150 peers   10 MiB cache 14 MiB queue  RPC:  0 conn,  0 req/s,   0 µs
2017-10-11 04:57:48  Stage 3 block verification failed for #3100000 (55a0�4876)
Error: Block(InvalidDifficulty(Mismatch { expected: 13828535640678, found: 13828267205222 }))

[2017-10-11 04:33] liuchengxu opened #6697 "Low-level database error"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Hi, I run into an low-level database error when starting parity. Can I roughly remove the DB to fix it?

[code]

[2017-10-11 05:02] stone212 commented on #6668
@rphmeier

I would not have guessed this in years of trying.  This is a perfect example of why I am requesting the team work on the definitions.  Really, who would guess this, except someone who is already an expert.  The purpose of documentation is to go from nothing to expertise.

Perhaps you are an expert?  Or just smarter than I am?  But IMO, it is not at all clear.  I'm not asking about a TL;

[2017-10-11 05:54] 5chdn commented on #6696
`lockAccount` is not implemented in Parity. See https://github.com/paritytech/parity/wiki/JSONRPC-personal-module

some more dedicated APIs are available in https://github.com/paritytech/parity/wiki/JSONRPC-parity_accounts-module :)

[2017-10-11 05:54] #6696 closed

[2017-10-11 05:56] 5chdn commented on #6697
Run `parity db kill` to reset your database. If you keep running into this issue, please make check your disk health.

[2017-10-11 05:56] #6697 closed

[2017-10-11 06:51] iceVeryCold opened #6698 "I have two questions. Please let me know"
1.What does the source code do？
2.Is the Parity client connected directly to the Ethernet server?
thanks

[2017-10-11 07:15] jorgeorpinel opened #6699 "No installer works on MacOS"
I tried https://github.com/paritytech/homebrew-paritytech and the brew install finished, then I even ran `brew services start paritytech/paritytech/parity` Now what? The documentation doesn't give any more info. There's no apps on my OS, no local server running.

Then tried https://github.com/paritytech/parity#simple-one-line-installer-for-mac-and-ubuntu which simply doesn't work (I use oh-my-shel

[2017-10-11 07:23] tomusdrw opened #6700 "Dapp Registration is broken"
_Before filing a new issue, please **provide the following information**._

After clicking "Yes, Register" in Dapp Registration dapp you get an error in the console regarding converting a circular structure to JSON.

Tried to trace it and it seems that `estimateGas` is failing. I suppose it might be some missing middleware?
@ngotchac any ideas?

---

[2017-10-11 07:43] 5chdn commented on #6699
Please share the exact error messages. I just installed 1.7.3 on macos high sierra yesterday both via installer and brew, so technically it should work, but I can look into it if you could share some details on how it's failing.

[2017-10-11 07:53] 5chdn commented on #6698
Thank you for that question, I'll try to quickly wrap this up. This repository contains source-code for multiple connected projects. This is mainly the Parity Ethereum Client implementation (see `parity/`, `ethcore/`, etc.) and the graphical user interface, the so called Parity Wallet (see `js/`, `dapps/`, etc.). This repository also includes some more rust crates and binaries, most importantly to

[2017-10-11 07:53] #6698 closed

[2017-10-11 08:21] jorgeorpinel commented on #6699
Hi

1.

2.

In reference to https://get.parity.io . Here's what happened

![image](https://user-images.githubusercontent.com/1477535/31429132-292d3f24-ae3b-11e7-8e46-caea5adb49dd.png)

Safari opens and displays this numerous times: ![image](https://user-images.githubusercontent.com/1477535/31429156-3682ba5a-ae3b-11e7-97ab-e26c974920f6.png)

I click [Cancel] as the option is:
![image](https://user-

[2017-10-11 08:40] iceVeryCold commented on #6698
Thanks。But I still have a question, what does the Parity mainly do, what is the purpose of providing the source code

[2017-10-11 08:41] iceVeryCold opened #6703 "But I still have a question"
What does the Parity mainly do, what is the purpose of providing the source code？ Thanks

[2017-10-11 09:11] bert2002 opened #6704 "Stage 1 block verification failed"
Hi,

I tried to export and import the kovan chain from a healthy node and it fails with following error:

[code]
The export and import was made by following commands:
[code]
Any help appreciated. If you need more information, let me know :)

bert

[2017-10-11 09:37] 5chdn commented on #6698
Please check our wiki for some more details on what it does.

https://github.com/paritytech/parity/wiki

[2017-10-11 09:41] 5chdn commented on #6703
You might wish to read up some comments by Richard Stallman on Free/Libre Open Source Software: https://www.gnu.org/philosophy/floss-and-foss.en.html

Wikipedia is also a helpful resource here. https://de.wikipedia.org/wiki/Free/Libre_Open_Source_Software

You can use our source-code to compile your Parity software on your own, or you can contribute to the development by cloning our repository.

[2017-10-11 09:41] #6703 closed

[2017-10-11 09:43] 5chdn commented on #6699
These are some weird macos issues unrelated to Parity.

What happens if you run `parity ui` in your terminal?

[2017-10-11 11:41] gchollier opened #6706 "getFilterChanges not answer if the filter unexist"
When i ask
[code]
The result stay empty when the we add an id of a filter down or unexist
and the behavior in Geth 1.6.7 are the good behavior
[code]

[2017-10-11 12:51] axelchalon commented on #6485
So, this is caused by
[code]
https://github.com/paritytech/parity/blob/master/parity/cli/usage.rs#L540

[2017-10-11 13:10] NikVolf commented on #6073
https://github.com/paritytech/parity/pull/6591

related, is it done?

[2017-10-11 13:22] rphmeier commented on #6073
Yep, that addresses all the important points of this issue.

[2017-10-11 13:22] #6073 closed

[2017-10-11 13:32] 0x7CFE commented on #4490
What's the status on this issue?

[2017-10-11 13:41] kirushik commented on #4490
@0x7CFE I've picked it up, and working on some final touches in #6689.

Let's chat in Matrix maybe if you want to join?

[2017-10-11 13:53] 0x7CFE commented on #6476
What's the status for this issue?

[2017-10-11 14:13] mcgravier commented on #4500
Small suggestion - Myetherwallet is supporting Trezor with derivation path m/44'/60'/0'/0 - Using this path will make switching between MEW and Parity more intuitive/user frendly.

Another argument for using this path is that Jaxx, Metamask and few other wallets are using it as well - that would simplify wallet restoration from seed in case Trezor is lost or damaged

[2017-10-11 14:26] skozin commented on #6696
@5chdn thanks, didn't know it. But `unlockAccount` is implemented, right? The problem is that it doesn't work in console app.

I've updated the issue description to mention only supported APIs, which still don't work in console app.

[2017-10-11 14:41] folsen commented on #4500
@mcgravier this is the path that is supported in the current implementation, but we want to add the functionality to let the user switch to whatever path they want.

[2017-10-11 14:52] prusnak commented on #4500
I am not against the user switch, but it has to be well hidden and not shown by default, because otherwise people will choose incompatible paths.

[2017-10-11 14:54] chevdor opened #6709 "UI: Account search currently broken"
_Before filing a new issue, please **provide the following information**._

I just noticed that the search function is broken and returns incorrect results.

To reproduce:
- pick one of your accounts
- Click on Transfer to send Ether or Tokens to another
- Click in the recipient address field
- The search dialog opens, that´s where the issues are:
    - the results of the search is incoherent, the

[2017-10-11 15:39] tomusdrw commented on #6476
Done.

[2017-10-11 15:39] #6476 closed

[2017-10-11 16:11] 5chdn commented on #4833
Assuming done with #6686

[2017-10-11 16:11] #4833 closed

[2017-10-11 17:01] debris commented on #6693
I will take
- `kvdb` should be separated into 2 separate crates: `kvdb` and `kvrocksdb` which implements key-value interface for rocksdb

[2017-10-11 17:10] jorgeorpinel commented on #6699
I doubt it.

[code]

Can you at least confirm the steps to fully remove this software from my Mac?

[2017-10-11 17:33] 5chdn commented on #6696
Does it work if you directly call that API with `curl`? (see wiki for examples)

[2017-10-11 18:00] 5chdn commented on #6709
git pull :)

#6701

[2017-10-11 18:00] #6709 closed

[2017-10-11 18:12] chevdor commented on #6606
Ok now that I can test again, I can tell that I still see the issue.
I made a multisig with 2 cosigners and a limit of 10.
I sent loads of tokens to it. You see only the issue if your token as decimals.
Then just send the **full account balance** checkbox.

This is NOT a UI only issue.
After signing with my 2nd cosigner, the tx went thru and I can see that the displayed value is the one considered

[2017-10-11 18:12] #6606 closed

[2017-10-11 18:13] chevdor commented on #6709
I have seen also the issue in the latest stable binary for windows btw.

[2017-10-11 18:21] 5chdn commented on #6709
latest beta? shouldn't be broken in stable. backport is in #6713

[2017-10-11 18:24] #6667 closed

[2017-10-11 18:37] 5chdn commented on #6606
Why did you close it?

[2017-10-11 19:05] #6700 closed

[2017-10-11 23:23] roninkaizen commented on #6688
great overview-
thank you!

[2017-10-12 00:49] banteg opened #6717 "Signing via hardware wallets is not supported"
---

Signing with Ledger Nano S doesn't work.

I'm trying:
[code]
When I click "Confirm Request", I immediately get an error:
[code]

I've digged into this a bit and successfully signed a message with `eth.signPersonalMessage_async` from [ledger-node-js-api](https://github.com/LedgerHQ/ledger-node-js-api#using-with-ethereum) (see example at the very bottom). Maybe it could help somehow.

[2017-10-12 03:46] 0x7CFE commented on #5988
Looks like we've finished all of the related work. Should this issue be closed for now?

[2017-10-12 05:48] iceVeryCold commented on #6698
I want to configure a local ETH chain. Do you have a detailed tutorial? thank you

[2017-10-12 06:21] chevdor commented on #6606
I don´t think this is a parity issue. At least I cannot prove it so far.