[2018-06-04 13:23] AyushyaChitransh commented on #8696
**More attempts to solve this issue**: Tried following parameters:
 - increased the CPU from 2 core to 4 core
 -  `--no-hardware-wallets` did not help.
 - `--jsonrpc-threads 1 --jsonrpc-server-threads 1`
 - `--no-ancient-blocks` also did not resolve the issue.

We are using Amazon Linux, 2 core CPU. This has been a gradual issue in our v1.10.0 versions. We received warnings for CPU usage upto 60%

[2018-06-04 13:47] Tbaut commented on #7880
It didn't hit many users and was hard to reproduce, so it didn't get prioritized. Did it still happen to you on newer versions?

[2018-06-04 14:01] Tbaut commented on #8467
ping @grbIzl for the question above?
@kevinaquick, could you please answer the question from https://github.com/paritytech/parity/issues/8467#issuecomment-385009396 ?

[2018-06-04 14:23] andresilva commented on #8747
I don't think so since that PR just extends whatever we already had for tracing rewards to tag the kind of reward. So if it wasn't showing up in `stateDiff` then that shouldn't have changed. I'm not very familiar with the tracing module so I would have to test this.

[2018-06-04 14:29] Tbaut commented on #8773
Parity UI has been separated from the node and it now has its own repository: https://github.com/Parity-JS/shell/issues to be managed and maintained by the community. Please report your issue here.

It is advised to get your token listed here as we will push a more general knowledge base in teh future. https://github.com/ethereum-lists/tokens

[2018-06-04 14:29] #8773 closed

[2018-06-04 16:18] Meshugah commented on #8698
I've got the same error.
which returns `/usr/bin/parity`

[2018-06-04 18:36] gnunicorn commented on #8774
Issues seems to be on the side of parity or the specific way we use jsonrpc. With the script against a [minimal rpc socket (gist), I see that every connection is properly closed](https://gist.github.com/gnunicorn/b7a6410a868e030a5f299aa81a85c0a2#file-output-log-L5):
[code]

A message, we are lacking, when run against Parity master (`RUST_LOG=ipc=trace cargo run`)
[code]

We are leaking those conne

[2018-06-04 18:56] Tbaut commented on #8772
:) PR in the wiki are always welcome: https://github.com/paritytech/wiki/

[2018-06-04 19:03] Tbaut commented on #8779
As said in the chat, any feature that would allow to speed-up parity while not giving any guarantee for unclean exit would be on by default. I agree that the `--help` could give an extra warning. PR welcome :)

[2018-06-04 19:18] Tbaut commented on #8698
@Meshugah can you confirm that the problem you have is the one from the first post?
https://github.com/paritytech/parity/issues/8698#issue-325863282

[2018-06-04 19:23] Tbaut commented on #8770
I'd be happy to debug the above-mentioned issue. Could you provide the code you're using for me to reproduce?

[2018-06-04 21:14] gnunicorn commented on #8774
Small update. I figured out the root `Arc` causing the leak. Our `extractor`, run at the establishing of every ipc request, also creates a `Session` for `PubSub`-Facilities. However, this `Arc` is somewhere not being returned properly (or we might even have a cycle somewhere) and stays around even after the connection has closed. However, as the closing-code is supposted to be run during `drop` an

[2018-06-04 21:33] oogetyboogety commented on #8604
should have a pr for a python example by Wednesday
________________________________
From: Gitcoin.co Bot <notifications@github.com>
Sent: Saturday, June 2, 2018 12:15:44 PM
To: paritytech/parity
Cc: oogetyboogety; Mention
Subject: Re: [paritytech/parity] Write examples for parity-clib in other languages (#8604)

@oogetyboogety<https://github.com/oogetyboogety> Hello from Gitcoin Core - are you sti

[2018-06-04 22:12] menxit opened #8788 "web3.eth.getBlock sometimes returns null"
Hi, I'm running:

- **Which Parity version?**: v1.12.0-ci2 and Parity 1.10.4-stable
- **Which operating system?**: Linux (docker)
- **How installed?**: docker
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: ethereum
- **Did you try to restart the node?**: yes

**When I use rpc (web3.eth.getBlock) it seems that the first and the latest 1000 blocks return the conten

[2018-06-05 01:26] kchernyshev opened #8789 "JSON RPC eth_getBlockByNumber slow on local machine (1-2 req/s)"
parity.exe --cache-size 5000 --fast-and-loose --mode offline

So querying an offline local node seems ridiculously slow (it's 2018 after all), I expected that requests to a simple key-value storage would be executed much faster.

[2018-06-05 03:42] jimpo commented on #6225
Seems to me the bigger problem is that the import is not logged until the next block comes out, not that the import logs are batched if they are within 1s of each other. Instead of just delaying the log for the InstantSeal engine, the informant could batch up "Imported ..." logs on the `new_blocks` notification and flush them on a 1s timer? Though that would introduce a timer that does nothing mos

[2018-06-05 05:44] aaroncolaco commented on #8467
I'm running into similar issues.

For the address with the `Create` permission, I cannot deploy any contracts. The transaction doesn't get mined. For the address with the `All` permission I can deploy contracts.

Yesterday, in a previous trial, after using this same contract I couldn't deploy, nor send eth with the account with the `All` permission.

The permissions contract has been deployed at `

[2018-06-05 06:43] iFA88 commented on #8770
Alright, here is a script with you can reproduce the issue:
[code]

[2018-06-05 07:36] menxit commented on #8789
Are you using tcp? Try to use udp in order to avoid the overhead of communication:

[code]

[2018-06-05 07:40] sorpaas commented on #6880
@folsen @debris @tomusdrw

Right now we have `type` field in log, which will be set to `"removed"` if a log is removed in reorg. This is equivalent to, as in this issue, having a `removed` field set to `true`. If the goal for resolving the issue is to keep compatibility, then maybe we can support both `type` and `removed`?

[2018-06-05 08:03] 5chdn commented on #7642
@gitcoinbot  :roll_eyes: :rofl:

[2018-06-05 08:45] folsen commented on #6880
@sorpaas makes sense to me

[2018-06-05 09:09] folsen commented on #8646
@amaurymartiny should this issue be closed with your latest PR?

[2018-06-05 09:20] amaurymartiny commented on #8646
Yes, we can close this issue, my PR fixes double clicking on the confirm button described in the original post - will be out in Parity UI 0.3.

However, in the future, if there are still double spend problems, @tomusdrw proposed to also have a look at the RPC level.

[2018-06-05 09:20] #8646 closed

[2018-06-05 09:29] folsen commented on #8646
@tomusdrw could you open a new ticket for the RPC level problem? Sounds like it could be a good easy pick issue?

[2018-06-05 09:32] candro commented on #8767
I found the case. After calling the method **eth_sendTransaction** or **eth_signTransaction**, this "call" is placed in the signer. You can get the list through the **signer_requestsToConfirm** method, and you already have to confirm it using **signer_confirmRequest**.  This is not the correct behavior or documentation is not complete.

[2018-06-05 09:40] Tbaut commented on #8767
Thanks for the feedback. If no account got unlocked, or you are not using [personal_sendTransaction](https://wiki.parity.io/JSONRPC-personal-module#personal_sendtransaction), then this behavior is expected. I don't think we have any tutorial inherently right or wrong. Feel free to submit a PR in the wiki if you think some info could have helped you.

[2018-06-05 09:40] #8767 closed

[2018-06-05 10:11] JokerCatz opened #8797 "same nonce when I use eth_sendRawTransaction twice ..."
Parity v1.9.6 / Ubuntu / docker , I know this is old version ... I did not try this to new version

I sign a transaction by myself use low gas_price , broadcast it use `eth_sendRawTransaction` at mainchain & I use `eth_getTransactionCount 0xWALLET pending` to get pending nonce to sign

after half hour or more , I sign same transaction again , same from wallet / to wallet / gas limit , but more gas

[2018-06-05 10:20] MicahZoltu commented on #8672
Possibly duplicate of https://github.com/paritytech/parity/issues/5727

[2018-06-05 10:53] gnunicorn commented on #8774
I was able to create an [example with jsonrpc alone](https://github.com/gnunicorn/jsonrpc/commit/911ea0d450d36dfc61d8da70e61e9545a850e782) in the way the objects are structured there. Therefore I consider this a jsonrpc bug (as it must be fixed there) and not strictly parity (as parity does how it should be but the underlying crate causes the issue although it is being used properly).

[2018-06-05 11:22] 5chdn opened #8798 "Snapshot restoration improvements"
- [ ] Snapshot restoration does not honor --warp-barrier:

[code]

^ This does take _any_ partial snapshot found locally and warp-syncs from there after restoration. cc @tomusdrw

- [ ]  Snapshot restoration logging does not indicate the progress, it would be good do have something like:

[code]

cc @ngotchac

[2018-06-05 12:14] tomusdrw opened #8799 "Fix concurrent access to signer queue"
Currently it's possible that two parallel RPC requests to with password to sign a signer queue entry will cause two transactions to be sent to the network.

The issue exists since we are running a multi-threaded RPC, and the signer queue doesn't have explicit lock while accessing an item.

Code: https://github.com/paritytech/parity/blob/7d7d4822a5087b24b49f2a1ddb111f2daa51a017/rpc/src/v1/impls/sig

[2018-06-05 12:14] tomusdrw commented on #8646
Done #8799

[2018-06-05 12:28] 5chdn commented on #8215
No, but thanks :)

[2018-06-05 12:29] 5chdn commented on #8667
That does not prevent your machine from running out of memory though.

[2018-06-05 12:52] 5chdn commented on #7436
I'm unsure. This issue is far from being resolved and it gets more urgent every day. Please close if you are _really_ sure this will be fixed soon by any other workaround.

[2018-06-05 12:56] Tbaut commented on #8789
Please test with the above code and give us some more info on how you do your queries.

[2018-06-05 13:04] tomusdrw commented on #6880
@sorpaas yup, although I believe that filters never report removed log entries at all, so the fix is only for pubsub implementation. So #8796 doesn't fully address this issue I believe.

[2018-06-05 13:07] sorpaas commented on #6880
@tomusdrw I think that one is fixed in https://github.com/paritytech/parity/pull/8463. So on the filter level removed logs should be returned as normal on master. :)

[2018-06-05 13:52] drandreaskrueger commented on #8215
yes please, me too

[2018-06-05 14:09] 5chdn commented on #8215
Please ask direct questions. Parity does not even have any wallet anymore at this point.

[2018-06-05 14:11] drandreaskrueger commented on #8215
how move tokens?

[2018-06-05 14:19] 5chdn commented on #8667
How much memory does your machine have?

[2018-06-05 14:49] 5chdn opened #8800 "Discovery: Do not Receive ping from self"
On 1.12 latest master:

[code]

Should not happen as discussed in #8784 cc @jimpo @andresilva

[2018-06-05 14:54] grbIzl commented on #8467
@aaroncolaco would you mind to help me with logs as well? I have the same request for you as for @kevinaquick :
Can you start Parity with the following logging option added in Parity's startup arguments, try to make a transaction and attach the resulting console log? The option I need is
-l "ethcore=trace,own_tx=trace"
Thanks!

[2018-06-05 14:57] vittico opened #8801 "Parity just won't start!"
Hello!

I currently have two parity servers running on ubuntu. Versions:
Parity/v1.9.7-unstable-7919629-20180423/x86_64-linux-gnu/rustc1.25.0
Parity/v1.10.4-unstable-39b9f1e-20180514/x86_64-linux-gnu/rustc1.26.0

None of them seems to be able to start...
"ubuntu@ip-172-31-82-238:~$ parity --ws-interface=all --jsonrpc-interface=all --ui-interface=all --log-file /home/ubuntu/parity.log -lsync,tpc=wa

[2018-06-05 15:11] Tbaut commented on #8467
@wulfraem ^ some changes to the wiki were proposed to make things clearer regarding how parity calls `allowedTxTypes`. Let's try to keep this issue focused on the problem raised in the OP.

[2018-06-05 15:21] Tbaut commented on #8797
This is not really related to parity, or to your version. What you should probably use is [`parity_nextnonce`](https://wiki.parity.io/JSONRPC-parity-module#parity_nextnonce) or keep the nonce in a local variable and iterate it for each transaction. Your 2nd transaction will need to wait for the first to be mined if the nonce is higher than the first transaction.

[2018-06-05 15:21] #8797 closed

[2018-06-05 15:33] JokerCatz commented on #8797
okay I got it , and I search found like this

https://github.com/ethereum/go-ethereum/issues/2880

it looking good for using `parity_nextnonce` , many thanx :)

[2018-06-05 15:40] vittico commented on #8801
snap info:

ubuntu@ip-172-31-37-243:~$ snap list
Name    Version    Rev    Tracking  Developer      Notes
core    16-2.32.8  4650   stable    canonical      core
parity  1.10.4     12080  stable    devops-parity  -

[2018-06-05 16:17] debris opened #8804 "Panic (deadlock) on Parity shutdown when using Tendermint engine"
basically the same as #8088

[2018-06-05 16:32] vittico commented on #8801
Switched to beta channel, started but now I am seeing this:

2018-06-05 16:31:18 UTC Local tx 0xb1da46036445552795c77b781d0425a9cd0074f832eecccf275fa845e9c69eb5 below minimal gas price accepted
2018-06-05 16:31:18 UTC Transaction pushed out because of limit (hash 0x9c376adfeb1cf08b0c3a00431bb4524c102651956b9f34afe52d89b6a98244bf, replacement: 0xb1da46036445552795c77b781d0425a9cd0074f832eecccf275fa

[2018-06-05 16:41] holiman commented on #8761
Update: Geth returns headers. It would be better to return the complete blocks, so we have all offending transactions aswell. We will change that behaviour.

[2018-06-05 16:47] jimpo commented on #8800
This is fixed for me in #8771 due to [this check](https://github.com/paritytech/parity/pull/8771/files#diff-3193558172eb0ec141a7afd53b7a1118R166).

[2018-06-05 17:28] rasarasan commented on #8729
My node is almost synced and I am able to see my tokens now. When I try to transfer I get this error now.  :(
![paritysenderror](https://user-images.githubusercontent.com/45295/40992264-52120278-68c4-11e8-9b0c-112795a0c5ff.jpeg)

[2018-06-05 17:44] holiman commented on #8781
If I understand the question above correctly, it is as it should be.

https://eips.ethereum.org/EIPS/eip-211

[2018-06-05 17:47] #8781 closed

[2018-06-05 19:19] postables opened #8811 "Is parity node backwards compatible with the go-ethereum golang APIs?"
Getting tired of dealing with geth node issues and have been considering switching to parity. However my main concern is incompatabilities with the go-ethereum golang API. Is there full compatability, if not what works and doesn't work?

[2018-06-05 20:29] niklasad1 commented on #8540
@tomusdrw can we close this now when #8751 is merged?

[2018-06-05 20:41] techtravis commented on #6622
Made this mistake too.   Thanks

[2018-06-05 21:31] tomusdrw commented on #6880
I think #8463 fixes the re-org messages, but only for pubsub. The regular RPC filters never had anything like that implemented (not even sure if it was ever speced), have a look here: https://github.com/paritytech/parity/blob/master/rpc/src/v1/impls/eth_filter.rs#L168-L206

[2018-06-05 21:33] tomusdrw commented on #8540
Yeah, let's re-open if the issue persists.

[2018-06-05 21:33] #8540 closed

[2018-06-05 21:39] vs77bb commented on #8604
@oogetyboogety Thanks for the update!

[2018-06-05 23:27] XertroV opened #8813 "parity crashes with too many open files"
Node regularly crashes due to "too many open files"

Going to bump up ulimit and upgrade nodes - will let you know if this issue persists.

(Reporting because the logs tell me to)

**Note: although we're having issues with the 1.10.4 node still, I can't find the same crash occurring.**

One thing you'll note: (here's a sample of two lines in the logs

    Jun 05 **17:59:37** eth-eu-node-01 parity[

[2018-06-06 02:44] XertroV opened #8814 "Archive node takes 75 min to restart"
"Solution" in _edit 3_

**Note, this is an archive node**

**edit 1: 1.11.3 sees to have resolved this** - the node starts in like ~1-10 min.

**edit 2:** getting lots of msgs on node startup like `Jun 06 07:10:05 eth-aws-syd-node-02 parity[26924]: 2018-06-06 07:10:05 UTC Local tx 0x2f4d989baffb45a13c37d5d82fa532a479e018716b215cbe2e3c08c187d4aa5f below minimal gas price accepted` - like _thousands

[2018-06-06 03:32] LYY commented on #8178
I'm using parity on centos 7. Today parity had auto-updated, but restarted failed. It seems like download general linux version, not centos version.

I deleted error logs, it looks like this:

[code]

[2018-06-06 04:43] andrewheadricke opened #8815 "[Feature request] storage or caching for light nodes"
It would be great if Parity stored data when running in `light` mode.  I find myself querying the same blocks, contracts over and over, it would be great if Parity stored data it had received so that it didn't have to keep going to the network and asking again.

I know Geth has some caching in this regard, I would prefer it to be storage to disk, but caching would be better than nothing IMO.

[2018-06-06 06:29] 0v1se opened #8816 "Parity auto-update downloads broken package (possibly build for another system)"
On the last auto-update incorrect binary was downloaded. Here is the log:
[code]

Resolved this issue by deleting .local/share/io.parity.ethereum-updates folder and updating manually using rpm for centos.

[2018-06-06 07:19] Levino opened #8817 "v1.11.3-beta does not work with Kovan"
I'm running:
- **Which Parity version?**: 1.11.3
- **Which operating system?**: Linux (Docker)
- **How installed?**: docker hub
- **Are you fully synchronized?**:
- **Which network are you connected to?**: kovan
- **Did you try to restart the node?**: yes

# Config:
[code]
# Logs:
[code]
# Expected behaviour:
`:8545/api/health` returns `200`
# Actual behaviour:
`:8545/api/health` does not return `

[2018-06-06 07:45] tomusdrw commented on #8816
I suppose we should only enable updater on supported distros, the version string for unsupported platform is most likely incorrect.

[2018-06-06 07:46] tomusdrw commented on #8392
I'd bump priority on this one.

[2018-06-06 08:09] Tbaut commented on #8817
Downgrading to a previous version is not a workaround, it's a security threat.
There was a fork on kovan yesterday, bootnodes and authorities were also split on 2 different chains. The v1.11.3 has been pushed to correct it. The reason you had these errors is because you were on the wrong side of the fork.

We are currently pushing to update authorities and a full-sync will be needed. Please upgrad

[2018-06-06 08:29] Tbaut commented on #8817
If you don't see any `Invalid EC signature` log after the upgrade, it means that you were on the right side of the fork :)

[2018-06-06 08:32] XertroV opened #8818 "v1.11.3-beta stuck on mainnet - 3x nodes stopped processing blocks"
Upgraded to v1.11.3 to get around some other issues

3x archive nodes have stopped processing new blocks / or are processing them EXTREMELY slowly (minutes per block)

Things noticed:
* 1 cpu pinned to 100%
* Ram usage low (like 5GB out of 60GB w 16GB cache)
* ~Restarting node gets past the blockage~ This returns after some time.
* It does seem to recover, but it takes like 30 minutes -- see logs

[2018-06-06 08:35] vn-linescode commented on #8679
Did anyone solve?

[2018-06-06 08:41] folsen commented on #8811
All the standardised APIs (e.g. those under the `eth_*` namespace, should all be identical, if they aren't it's a bug that you can report here).

Parity has some stuff under the `parity_*` namespace just like geth has some of their own stuff too. Ideally you should be able to build your dapps such that they only use standardised APIs.

[2018-06-06 08:53] #8814 closed

[2018-06-06 08:57] debris commented on #8804
This case is actually slightly more complicated than #8088 . `TransitionHandler` from `engines/transition.rs` is generic over `Engine<Machine>`. The ideal solution would be one of the following:

a) internal refactor of out event loop
b) injecting event loop to an engine, so an engine never has an ownership of event loop (it shouldn't imo)
c) decoupling step logic from engine (I don't know if it's

[2018-06-06 08:59] debris commented on #8679
yes, it was solved in #8691 and it was released in `1.11.3`

[2018-06-06 08:59] luarx commented on #8816
I don't understand why a tagged Docker image can update the Parity version if it wants!
**IT DOESN'T MAKE SENSE** I think...

As I understand, I can be using image Docker image v1.10.4 but internally this image is using Parity v1.11...
Yes, it is true that with "auto-update=none" parameter it can be disabled, but by default it's set to "critical".

Finally, another thing is that if an update is cr

[2018-06-06 09:10] tomusdrw commented on #8816
@luarx Parity is upgrading to critical updates by default, as you already know you can disable that by specifiying `auto-update=none`.
The update happens only within a release track, so `stable` release will only update to another `stable` release (i.e. 1.9-stable can update to 1.10-stable), 1.11 is now in beta, so it'd only update if you were running (rather old) 1.10-beta series.

Critical updat

[2018-06-06 09:17] tomusdrw commented on #8818
@XertroV
1. It seems that you are experiencing #8696 that causes peers to drop to 0-1, that prevents the node from syncing. As a workaround please downgrade to `stable` version of Parity (currently 1.10.x, which I believe you got auto-upgraded from).

2. Regarding transactions, it seems that they originate from an address that you have a private key for imported in your node. Such transactions are

[2018-06-06 09:18] Levino commented on #8817
@Tbaut Like tossing a coin? That is not very nice.

[2018-06-06 09:29] ascjones commented on #8392
Should we aggregate network specific auto-updater settings e.g

[code]

or just add another section with critical flags for each network? Is the existing critical flag is only used by `push-release`?

[2018-06-06 09:36] XertroV commented on #8818
@tomusdrw - cool, thanks for the looking over things

Actually just _upgraded_ to 1.11.3 to get around #8814 which I think was caused by a large tx backlog. It seems like `no_persistent_txqueue = true` fixed that (maybe) though.

Will try downgrading and swapping back to stable stream. The only thing I care about is reliability of historical access (not so great today) and having the node be respo

[2018-06-06 09:53] Tbaut commented on #8729
This is not a related issue @rasarasan. Please open a new one (in https://github.com/Parity-JS/shell/issues if related to the UI).

[2018-06-06 10:08] Tbaut commented on #8813
Please upgrade as this has been solved. Duplicates https://github.com/paritytech/parity/issues/8123

[2018-06-06 10:14] tomusdrw commented on #8392
1. IMHO aggregate looks nicer.
2. Critical is only used by push-release

[2018-06-06 10:23] tomusdrw opened #8820 "Option to not mark transactions as local when received over RPC"
Currently the node will mark transactions submitted using `eth_sendRawTransaction` as local ones.

This means that such transactions will have a higher priority and also can go below configured minimal gas price.
Such situation can cause issues for public-facing nodes that expose `eth` namespace.

Solution:
1. Either allow disabling RPC methods name-by-name, so that you can choose to expose `eth`

[2018-06-06 10:24] tomusdrw commented on #8818
Oh, so actually transactions received over `eth_sendRawTransaction` are treated as local (even though we don't have a private key for them).
That was the case for 1.10.x I believe, we just didn't print info message for that.

I've created a separate issue for that: https://github.com/paritytech/parity/issues/8820

[2018-06-06 10:49] luarx commented on #8816
@tomusdrw as I understand auto updating system by default (critical updates only) works like:
- `Non stable release` --update to-->` Last non stable release`. Example: v1.10.2-beta ---> v1.11.3-beta
- `Stable release` --update to--> `Last stable release`. Example: v1.10.3-stable ---> v1.10.6-stable. Because v1.10.6 is the last stable version and, also, v1.10.4-stable won't be used automatically be

[2018-06-06 10:56] wulfraem commented on #8467
@Tbaut Okay. ^^

Maybe the following helps on this issue. What @aaroncolaco was describing reminded me of update issues I had with the permission check, but I can't tell if it is the issue, OP was having.

What gave me some trouble when trying to use the `allowedTxTypes` function, was that I had to wait at least 1 Block, before changes took effect. I tested it with an instantSeal test chain:
- res

[2018-06-06 11:36] debris commented on #8774
working on a solution now

[2018-06-06 11:40] XertroV commented on #8820
While granular control over RPC methods would be nice, what about a CLI flag that can simply turn off local transactions all together? That might be a lot simpler, and for public facing nodes - they don't really matter.

In the worst case, it's not _that_ difficult to write a proxy that filters particular methods, just doesn't feel like a good solution.

[2018-06-06 12:11] dvdplm commented on #8703
@folsen ok to close this?

[2018-06-06 12:20] Tbaut commented on #8817
We made sure that all authorities upgrade and sync the right fork, you can follow this here: https://kovan-stats.parity.io/

[2018-06-06 12:20] #8703 closed

[2018-06-06 13:11] santtu commented on #8618
@c0deright Can you reproduce the problem and check with `lsof` whether the number of file descriptors is continuously increasing? It would be nice to know whether this has the same underlying cause as #8774 or whether this is actually something completely different.

[2018-06-06 13:13] #8811 closed

[2018-06-06 13:17] 5chdn commented on #8816
We need to give this some thoughts as we are reducing the number of supported distros significantly soon.

[2018-06-06 13:22] 5chdn commented on #2913
Can we remove "Legacy Options" from `--help`?

[2018-06-06 13:27] folsen commented on #6443
@5chdn i went looking for this quite hard and somehow missed it! Maybe link from the readme as well or something

[2018-06-06 13:54] c0deright commented on #8618
@santtu Just checked my running 0.11.1 test instance. No open sockets like you described. the test instance is queried via rpc port 8545 only for nagios/cacti purposes. I don't see any open files/port/sockets besides hundreds of open sst files and outgoing tcp connections on port 30303.

In https://github.com/paritytech/parity/issues/8618#issuecomment-390907865 I wrote:

With 8 GB of RAM available

[2018-06-06 14:06] 5chdn commented on #6443
It's automatically integrated into the Github interface. Happy to link it somewhere else.

![screenshot at 2018-06-06 16-05-21](https://user-images.githubusercontent.com/15729797/41043140-8c90b7e8-69a3-11e8-994d-9acd5e344152.png)

[2018-06-06 14:11] Tbaut opened #8825 "Parity process killed when warp-syncing"
_Before filing a new issue, please **provide the following information**._

When syncing with `--warp-barrier` the process gets "randomly killed". If I restart, the snapshot restoraion kicks in (with the chunks previously downloaded), this goes through and the snapshot DL process continues.. until the process gets killed at some point.

Console without snapshot restoration:
[code]

Console with sn

[2018-06-06 14:19] santtu commented on #8618
Thanks, I wanted to make sure this issue isn't closed when https://github.com/paritytech/jsonrpc/issues/275 gets closed if and since this does not appear to be due to that bug. I get about ~550 files open on a non-IPC-loaded parity (e.g. either untouched, or via HTTP only) so that looks quite normal.

[2018-06-06 14:19] Njcrypto opened #8826 "Parity 1.11.3 mis-representing version information"
Nothing to see here.

[2018-06-06 14:28] #8826 closed

[2018-06-06 14:36] c0deright commented on #8618
Just for some perspective: We upgraded our production servers from parity-1.9.7 to 1.10.4 on 24th of may (13 days ago) and these servers are t2.medium AWS EC2 instances (4 GB of RAM).

**Parity 1.10.4 is running perfectly fine with only 4 GB of RAM** available, in fact the residential memory consumed with 1.10.4 is only ~2.1 GB (virtual: ~3.5 GB).

This tells me a) some feature implemented in 1.11

[2018-06-06 14:46] Tbaut commented on #8825
Could be linked to https://github.com/paritytech/parity/issues/8618 ?

[2018-06-06 14:51] Njcrypto commented on #8703
Nope. Mayhem. Will come back with troubleshooting information - but this does not fix the application case for getblockbynumber(pending). Do not upgrade if you are running open-eth-pool.

[2018-06-06 15:06] pangwa opened #8827 "TxQueue viewer says "mined" while getTransactionReceipt shows status false"
_Before filing a new issue, please **provide the following information**._

I'm following the demo poa chain tutorial(https://wiki.parity.io/Demo-PoA-tutorial) to setup a private poa chain.  The transactions stays local in the mined status.
Also the status of the transaction stays false using web3 api: web3.eth.getTransactionReceipt(transId).then(ret => console.log(ret))

[2018-06-06 16:06] folsen commented on #8703
@Njcrypto https://github.com/sammy007/open-ethereum-pool/issues/343 this needs to be fixed, but the software isn't maintained anymore. Need to get someone to look into fixing the issue where it's coming from.

[2018-06-06 17:10] gituser commented on #8708
Could be related issue - https://github.com/paritytech/parity/issues/6456

I've opened it some time ago.

For me the only workaround is to move out empty accounts from time to time out of keys directory somewhere else.

[2018-06-06 17:18] aaroncolaco commented on #8467
@grbIzl, so, weird thing.
When I work on my home network it shows me my public IP when I start the node.
[code]
And when I try to make the transaction with the the account where the `Create` permission is given, the transaction never gets mined and the the logs show:
[code]
(I think it shows _future: 2_ because I tried it twice)

If I try the **exact** same thing when I'm on another wifi network,

[2018-06-06 17:23] folsen commented on #6443
@5chdn man I feel so old, I remember a time when github was barely helpful at all

[2018-06-06 17:25] Pzixel opened #8829 "Parity timeout on RPC after intensive work"
I have a critical issue with the parity chain.

I have a smart contract which has one method `createRequest(foo, bar)` that adds a new entry into inner array.
The problem is that when I run this method once per second then it works like a charm. But when I start to run multiple requests at parallel (30+/sec) then at some moment it just breaks. All RPCs including pure functions calls stop to work,

[2018-06-06 18:22] vs77bb commented on #7642
@5chdn Sorry about Gitcoin Bot, we're still training it over here 🤖 😂 appreciate any feedback.

Also @gnunicorn - we haven't seen a submission from you yet [here](https://gitcoin.co/issue/paritytech/parity/7642/504), this is necessary for us to pay out the bounty!

[2018-06-06 18:51] AyushyaChitransh commented on #8827
@pangwa The issue you are facing because byzantium features were not enabled in your network. They can be enabled by setting EIP658transition in the genesis file.

[2018-06-06 18:56] vs77bb commented on #8725
@shamardy Hello - any update on your side? Would appreciate a WIP PR for review whenever is possible 🙂

[2018-06-06 19:35] tomusdrw commented on #8820
What exactly do you mean by

Is it the same as with my option (2)? So that the transactions from `eth_sendRawTrasnaction` are not handled in a special way?

[2018-06-06 21:22] Pneumaticat commented on #8478
I think I can reproduce. Using:

    Which Parity version?:Parity/v1.12.0-nightly-6771539-20180605/x86_64-linux-gnu/rustc1.26.2.
    Which operating system?: Linux
    How installed?: docker
    Are you fully synchronized?: yes
    Which network are you connected to?: ethereum
    Did you try to restart the node?: yes

[2018-06-06 22:22] Tbaut commented on #8817
The authorities and bootnodes have been upgraded and fully synced. Doing a warp sync should get you to the right chain. Checking the block number and hash against etherscan or https://kovan-stats.parity.io/ tells you quickly if you're on the right chain. Please resync if you still have the issue.

[2018-06-06 22:22] #8817 closed

[2018-06-06 22:47] Tbaut commented on #8827
I had the problem on kovan I think a couple days ago. I'll try to reproduce and share a script soon.

[2018-06-07 00:53] pangwa commented on #8827
@AyushyaChitransh confirmed, Adding eip658 config resolved this issue.
now my demo-spec.json looks like below:
`
{
    "name": "DemoPoA",
    "engine": {
        "authorityRound": {
            "params": {
                "stepDuration": "5",
                "validators": {
                    "list": [
                        "0x00Bd138aBD70e2F00903268F3Db08f2D25677C9e",
                        "

[2018-06-07 01:46] XertroV commented on #8813
@Tbaut (cc @5chdn) - recarding this being solved, apparently not. Just noticed this from last night:

(this occurred in v1.11.3)

(note: using default of 1024 (via `ulimit -n`))

[code]

[2018-06-07 02:01] XertroV commented on #8820
Also, @tomusdrw - I think I have a temporary fix.

Although our RPC port on the node was set to `38545` for various reasons (initially had an nginx+https proxy running on 8545) our AWS security group was open to the world. I suspect someone's running a bot that finds the IPs of Ethereum nodes, does a port scan, then if RPC is enabled (even on non-std port) they'll send in `eth_sendRawTx` methods.

[2018-06-07 03:38] vladyslav2 commented on #8092
My parity in a docker updated automatically and got into this problem cause docker container did not update himself. I believe you should do some kind of check if system is actually support new version of the parity

[2018-06-07 05:01] aaroncolaco commented on #8467
Tried it on my work network again today and now it isn't working here either. Logs:
[code]

[2018-06-07 05:43] aaroncolaco commented on #8467
After some time, without doing anything, the logs:
[code]

[2018-06-07 06:59] wallaceturner opened #8833 "parity hung after startup - extra parity process running in io.parity.ethereum-updates"
I restarted parity and the log stops at

After this point no more log output is produced however the CPU usage as reported by `top` is very high. The CPU usage is not being used by `parity` but rather by `io.parity.ethereum-updates/parity-1.10.6-bc0d134bb43c65a5b82bd18c311319c7036d2c8d`

That is, there is an extra parity process that i have not noticed before
`/home/me/.local/share/io.parity.ether

[2018-06-07 07:38] #8827 closed

[2018-06-07 07:45] kgcorps commented on #7880
Yes, this still occurs on the latest version.

[2018-06-07 07:58] c0deright commented on #7531
@andresilva This issue is fixed for me with the 1.11 branch. My test machine on 1.11 has constantly ~25 peers, not decreasing over time.

The newly released 1.10.6 with https://github.com/paritytech/parity/pull/8541 backported doesn't seem to help much, as 1.10.6 peer count is ~6 only. But with 1.11 low peer count is definately gone.

[2018-06-07 08:03] tomusdrw commented on #8820
@XertroV ok, I see. So that's similar to what I thought, but a bit more extreme (i.e. doesn't even treat transactions that you have private key for as local).

Good that you found a workaround, we should fix it anyway though.

[2018-06-07 09:07] Tbaut commented on #8663
close as stale.

[2018-06-07 09:07] #8663 closed

[2018-06-07 09:30] Tbaut opened #8835 "Auto-Generate JSON-RPC API docs"
Originally from https://github.com/paritytech/wiki/issues/58 but transferred here for better visibility.

We have 2 tools
1. Generate markdown docs from js files (should be run during the CI to make sure we document methods in JS format)
1.  Make sure that no rust RPC is missing in JS files (can be automated to make a PR to wiki for example.)

@tomusdrw  can you add anything relevant for this issu

[2018-06-07 09:34] holiman commented on #8816
This happens for me also on docker, using `parity/parity:latest`
[code]

[2018-06-07 10:16] fidaaayoub opened #8836 "Parity service running in background, but not launching in browser"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

when i click on parity from Launchpad, it appears for few seconds and then disappear.

when i catch it and click open parity... no action happens.
if i go directly to browser and put the IP a

[2018-06-07 10:29] tomusdrw commented on #8835
Have a look at this: https://github.com/parity-js/jsonrpc It pretty much has all we want

[2018-06-07 10:54] mixedrlt commented on #7795
I have somewhat the same problem but from a different version.
I had installed 1.10.2 version with auto_update config set to "critical". Yesterday parity auto updated to 1.11.3. Because of other bugs the parity process just froze so i wanted to downgrade to 1.10.4. When i call parity --version i get 1.10.4, when parity starts i see Starting Parity/v1.11.3. Tried repeatedly to downgrade but nothing

[2018-06-07 11:02] luarx commented on #8816
@jasonOramo @holiman Have you tried to execute Parity with the parameter `--auto-update=none`?

[2018-06-07 11:22] holiman commented on #8816
@luarx good idea, will try it

[2018-06-07 12:27] Tbaut commented on #8816
@jasonOramo what do you mean "it doesn't work"  please be more precise for us to be able to help.

[2018-06-07 12:53] Pzixel commented on #8829
My stress test code:

[code]

It just creates 1000 tasks and runs them in parallel. But it doesn't work, it just hangs and RPC stop to work. I just reproduced it on fresh installed 1.10.6.

[2018-06-07 13:02] Pzixel commented on #8829
Btw it's not just annoyance, it's complete unavailability of the network.

[2018-06-07 13:12] holiman commented on #8816
`--auto-update=none` works for me. Though, a bit surprising that the docker image does not seem to be updated automatically to the most recent version. I can recommend using docker hub's integrated builds, that's what go-ethereum uses.

[2018-06-07 13:21] Tbaut commented on #8829
From the chat, using [Nethereum](https://nethereum.readthedocs.io/en/latest/).

[2018-06-07 13:25] wcw84 opened #8837 "parity crash"
_Before filing a new issue, please **provide the following information**._

[code]
The process of parity just crashed, the log is:
[code]
![image](https://user-images.githubusercontent.com/7152596/41102342-382a4b50-6a99-11e8-86a6-6338f4432c40.png)

[2018-06-07 13:30] jasonOramo commented on #8816
@luarx I install the version 1.10.6 manually and it works this morning. But now it hangs and I kill it.
After I start parity again, I get this issue https://github.com/paritytech/parity/issues/8833. And all the things stuck here. No ideas about what I can do.

[2018-06-07 13:31] jasonOramo commented on #8833
Same things is happened for me. The cpu is quite high (more than 60%)

[2018-06-07 13:34] Tbaut commented on #8813
Can you tell us more regarding what you are doing with these nodes, querying the blockchain over WS according to your config? How heavy is the load?

[2018-06-07 14:07] gituser commented on #7531
For me `parity v1.10.6` keeps 88/100 on ethclassic chain and 97/100 peers on ethereum chain, so backport fixed this issue for now!

Though, need to monitor over a week at least to get better perspective.

[2018-06-07 14:22] Tbaut commented on #8829
@tomusdrw any idea?

[2018-06-07 15:23] shamardy commented on #8725
@vs77bb  sorry for the delay it took me some time to run the parity node.

I ran parity using
`parity --chain=ropsten --pruning=archive --jsonrpc-apis traces --base-path ./foobar`

then I ran the following command after syncing with the block
`curl -X POST -H "Content-Type: application/json" -o "output.txt" --data "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"trace_replayBlockTransactions\",\"params

[2018-06-07 15:37] nlandeker opened #8838 "Unable to call http://127.0.0.1:8545/api/health in dockerized parity"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Parity startup config:
[code]

When calling `curl 'http://127.0.0.1:8545/api/health'` json response should be returned.

**actual**
This is the response i get with calling `curl 'http://127.0.0.1:8545/api/health'`:
Used HTTP Method is not allowed. POST or OPTIONS is

[2018-06-07 15:37] shamardy commented on #8725
sorry I forgot to write the results with stateDiff, for this I ran this command:
`curl -X POST -H "Content-Type: application/json" -o "output.txt" --data "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"trace_replayBlockTransactions\",\"params\":[\"0x8265\",[\"trace\",\"stateDiff\"]]}" http://127.0.0.1:8545`

results:
`{"jsonrpc":"2.0","result":[{"output":"0x","stateDiff":{"0x06eadbd0b793d7614bf42d8d09

[2018-06-07 16:04] adirmola commented on #8725
Hey @shamardy,
I think u missing the point.
I didn't say there isn't transactions but the transactions don't retrieved with there hashes.
Also, can u please delete all the data and left a few first transactions for example, it's kind of overloading the thread without any need.

[2018-06-07 16:05] adyshimony opened #8839 "Get pending block return null."
I'm running:

 Parity version 1.11.3-beta
Which operating system ubuntu
How installed bash <(curl https://get.parity.io -LK)
Are you fully synchronized? yes
Network ethereum
Did you try to restart the node? yes

Trying to get pending block, return null.
let block = await web3.eth.getBlock('pending') return null
****
Latest is working good.
let block = await web3.eth.getBlock('latest')

* same code

[2018-06-07 16:35] Njcrypto commented on #8839
They changed the RPC response in 1.11.x - you have to use an earlier version if you want to continue using this functionality (still works with 1.10.6) - or use the 4th parameter from the eth_getWork response.

[2018-06-07 17:22] adyshimony commented on #8839
Why to break API? I don't get it... I need to change a lot of places in my code.
Thanks for the info, I will use getWork.

[2018-06-07 18:18] Tbaut commented on #8838
Confirmed on 1.11.3 too.

[2018-06-07 18:58] vieiralc commented on #5409
Can I use the events to display feed back in the UI?

[2018-06-07 19:03] niklasad1 commented on #8833
@wallaceturner @jasonOramo

This actually intended behaviour your `parity clients` have been updated and executes the new version in a separate process which is `io.parity.ethereum-updates/parity-1.10.6-bc0d134bb43c65a5b82bd18c311319c7036d2c8`in your case.

The `orignal parity process` is just `idle` and is waiting for in case `parity` actually needs to restarted and so on.

Is `parity` using sign

[2018-06-07 20:30] adyshimony commented on #8839
Well I don't get it, latest return the same as pending, what I am missing here?

[2018-06-08 00:31] XertroV commented on #8813
@Tbaut sure

The purpose of the nodes is arbitrary public historical access. Technically we only need this from certain dates and on certain (somewhat unpredictable) contracts, but I don't think there's any option besides running a full archive node atm. This is to support our voting platform (most code is public atm at @secure-vote). We'd use infura or something like that except they don't provid

[2018-06-08 00:33] XertroV commented on #8820
@tomusdrw - yeah, I don't mind how extreme the measure is personally, I just thought that might be quicker/safer to implement.

It's sort of a workaround - technically ppl can still submit raw txs. One thing that would be nice to know is if there's a way to log when this is happening. If it keeps happening I'll implement a small shim that sits between the load balancer and the RPC interface and fi

[2018-06-08 00:36] XertroV opened #8840 "Would you like more nodes for stats.parity.io and/or kovan-stats.parity.io"
@secure-vote runs 3x parity archive nodes on both kovan and mainnet in 3 DCs (EU, NA, and AUS). We have them set up for our own stats dashboards atm (https://stats.eth.secure.vote and https://stats.kovan.eth.secure.vote). I'd happily add the config needed to put them on your stats pages too if you're interested.

Email if you need: max@secure.vote

[2018-06-08 08:15] Tbaut commented on #8836
From your description, I am not sure if there is an actual problem or if this is expected, here is why.
As you can read [here](https://wiki.parity.io/Parity-Wallet) the user interface from the browser is not available anymore, it's therefore normal to not see it. Please have a look at the link above to learn how to see the User Interface in Parity UI, a dedicated app.

Once you installed it and la

[2018-06-08 08:15] #8836 closed

[2018-06-08 08:28] Tbaut commented on #7795
What does `which parity` gives?

[2018-06-08 08:31] Tbaut commented on #8837
As the error says, it looks like your database is corrupted.
Please erase it with `parity db kill` and resync using `parity --warp-barrier 5740000`

[2018-06-08 08:31] #8837 closed

[2018-06-08 08:35] sorpaas commented on #8741
@iFA88 Yes. The current `POLL_TIMEOUT` is 60 seconds, which means if there's no query after a minute, the filter will be uninstalled. Before 1.11, when querying an non-existing filter id, it would return empty array. On 1.11, this is changed to return "Filter not found" error.

So I think if you upgrade to 1.11, the code snippets you provided (https://github.com/paritytech/parity/issues/8741#issue

[2018-06-08 08:40] stevenroose commented on #3148
It seems that I'm again missing the `mixHash` field..

[2018-06-08 08:40] clowestab commented on #7176
If you have the time I would be appreciative to understand why this was considered a misconfiguration error? and what the new transaction pool means in practice? A link to the improved documentation would also be appreciated.

[2018-06-08 08:43] #8839 closed

[2018-06-08 08:43] mixedrlt commented on #7795
When i start parity i see in logs Starting Parity/v1.11.3
When i say parity version i get 1.10.4
When i say which parity i get /usr/bin/parity
When i downgrade with dpkg i see from (1.10.4) to (1.10.2)
So only when i start parity i see 1.11.3 and it does not matter what i do (downgrade/upgrade or rm -Rf on parity folder)

[2018-06-08 09:40] stevenroose opened #8841 "RPC missing `mixHash` and `nonce` fields in Header responses"
_Before filing a new issue, please **provide the following information**._

[code]

I use the Go [ethclient](https://github.com/ethereum/go-ethereum/tree/master/ethclient) package to interface with the Parity RPC. When calling `eth_getBlockByNumber`, it complaints about missing the `mixHash` and `nonce` fields.

The same issue was reported before (~2 years ago), and then supposedly fixed: https://

[2018-06-08 09:42] iFA88 commented on #8741
@sorpaas Thank you, then I think right. Sadly there is no 1.11.x stable version.

I think this case is solved. Thanks!

[2018-06-08 09:42] #8741 closed

[2018-06-08 10:43] liberat0r opened #8842 "Thread 'main' panicked at 'Logger is initialized only once; qed: "Cannot write to log file given"
Hello,

Suddenly my parity node started throwing the following error upon init:

[code]

[2018-06-08 10:46] Tbaut commented on #8840
Always happy to have some more nodes here. I'll email you.

[2018-06-08 10:46] #8840 closed

[2018-06-08 10:54] agericke opened #8843 "Syncing Very Slow Around Block 4.700.000"
_Before filing a new issue, please **provide the following information**._

[code]

My parity node has been syncing for more than two weeks more or less. Initially it was syncing at high speeds, but during the last week speed has been very slow. In the 31 of june i was synchronized until block 4480000, and my node was processing the data at speeds around 4-8 Mgas/s.

Before, i was processing at sp

[2018-06-08 11:13] Tbaut commented on #8842
It looks like you do you have the access to write the logs. It is related to the snap package (which I#ve seen a lot of problems with recently.

Could you try to uninstall parity and install it with the [one line installer](https://wiki.parity.io/Setup#one-line-binary-installer)

[2018-06-08 11:20] Tbaut commented on #8841
- transaction's `nonce` was present in my test (kovan).
- the [Ethereum documentation](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbyhash) doesn't state that it returns any `mixHash`.

Can you point me to the source document where it states that this RPC should return it?

For the record:
`curl --data '{"method":"eth_getBlockByNumber","params":["latest",true],"id":1,"jsonrpc":"2.0"}

[2018-06-08 11:29] Tbaut commented on #7176
Here is the documentation about the [new Tx queue](https://wiki.parity.io/Transactions-Queue)

[2018-06-08 11:38] Tbaut commented on #7795
what about `parity --force-direct` ?

[2018-06-08 11:46] mixedrlt commented on #7795
Parity force direct Parity/v1.10.6-stable

[2018-06-08 12:11] stevenroose commented on #8841
Here the ethclient parses the response:
https://github.com/ethereum/go-ethereum/blob/master/ethclient/ethclient.go#L96

And here is the parsing of `types.Header` done:
https://github.com/ethereum/go-ethereum/blob/master/core/types/gen_header_json.go#L130

I don't say either side is wrong about what should be returned. I'm just observing that ethclient is not working with Parity. When I reported th

[2018-06-08 12:13] stevenroose commented on #8841
(Unrelated, I patched another incompatibility in ethclient recently: https://github.com/ethereum/go-ethereum/pull/16924/files)

[2018-06-08 12:55] Tbaut commented on #7795
The upgraded version is in a separate folder. To force the older version not to use it, please try to move the updates directory with:
`mv ~/.local/share/io.parity.ethereum-updates/ ~/.local/share/io.parity.ethereum-updates-backup/`

Then upgrade parity with the [one-line installer](https://wiki.parity.io/Setup#one-line-binary-installer): `bash <(curl https://get.parity.io -L) stable` to upgrade t

[2018-06-08 13:21] grbIzl commented on #8467
@aaroncolaco Thanks for logs! From them and your descriptions I see the two issues:
- Deployment of the permissioning contract. The contract's address should be specified in chain spec (was done in your example) and of course the transaction should be deployed in the chain (meaning, that it should be added into the block, block mined, all participating nodes should be synced). From your descriptio

[2018-06-08 13:31] Njcrypto commented on #8813
Since upgrading to 1.11.3 I have had similar error out problems. Happening on two 1.11.3 production nodes - both serving mining functions. Peers set to 300 / 500. The peer boundary was lowered from 1500 to 500 as anything over 500 peers and this problem happened much faster.

2018-06-08 09:22:22   WARN jsonrpc_http_server  Incoming streams error, closing sever: Os { code: 24, kind: Other, message:

[2018-06-08 14:29] liberat0r commented on #8842
After installing parity via the one line installer and copying in my database to avoid a complete re-sync I am still getting the same error, but with slightly less details as it seems:
[code]

[2018-06-08 14:30] #8088 closed

[2018-06-08 14:34] Tbaut commented on #8842
What does `which parity` ouptut?
Can you launch partiy with `/usr/bin/parity` successfully (without this error)?

[2018-06-08 14:35] liberat0r commented on #8842
[code]
[code]

[2018-06-08 14:40] liberat0r commented on #8842
This was my bad, a remnant in my config file linked to the old (snap) install folder.

[2018-06-08 14:45] liberat0r commented on #8842
OK, fixing the config file solved this!

[2018-06-08 14:48] Tbaut commented on #8843
Thanks for the detailed report. Can you monitor the resources of the computer to see where the bottleneck is? (how much RAM, CPU, IOPS used).
The latest blocks (from 5M) are heavier so this situation will probably not get better on your side :/

[2018-06-08 16:16] ammar4243 commented on #6626
But Total Block are Almost 5.7 Million What Should 2.4 Million done in 72 hours but still Incomplete

[2018-06-08 17:17] melnikaite opened #8845 "Ropsten bootnodes use wrong fork"
**actual**
Running with option --warp-barrier 3000000
Last block is 3380734

**expected behavior**
Block number should grow every minute

**steps to reproduce**
Stop parity
Remove database folder
Run parity
Wait to be synced

[2018-06-08 17:38] wcw84 commented on #8837
@Tbaut
I just restart pairty, and it works.

[2018-06-08 19:54] niklasad1 commented on #6083
Update, I got it working but it will take some time to get it `PR` ready!

[2018-06-08 20:56] cowpig opened #8846 "Background parity process thrashing disk & causing parity to panic"
Parity keeps running something as root in the background that I don't recognize and thrashes my hard disk to the point where it crashes other processes because my OS thinks I'm out of disk space.

`root     17934  7.4  0.0  27976   952 ?        D    16:14   2:35  \_ cp -av ~/snap/parity/12080 ~/snap/parity/13200`

Not sure that this is or why it's running with `root`, but it keeps appearing and ca

[2018-06-09 01:57] Njcrypto commented on #8813
Increasing open file limit from 4,092 to 500,000 has solved this for me for the moment. Overkill adjustment? Maybe.

I adjusted the limit as a parameter in the systemd service file directly. It did not take with the ulimit console function.

[2018-06-09 06:11] madnadyka opened #8847 "Node gets stuck and doesn't synchronize blocks"
Few times in a day my node gets stuck and doesn't synchronize blocks.
In the screen below node doesn't have blocks from 04:18:41  to 04:35:41 - 17 minutes!

<img width="1446" alt="2018-06-09 9 58 48" src="https://user-images.githubusercontent.com/29851936/41188344-d434f174-6bcc-11e8-94e3-028f48611339.png">

my node config:
parity --mode=active --no-warp --pruning fast  --pruning-memory 1024 --db-p

[2018-06-09 08:00] stone212 opened #8848 "Support/Question: Delete multiple signer requests pending"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

After a long time I logged into the Parity UI of a node on a private blockchain.  I see multiple requets to unlock the account and transfer funds.  NOTE: This is actually supposed to happen a

[2018-06-09 08:34] finndev commented on #8714
Same issue here, the event is barely firing for us after upgrading to the latest beta. This is very bad, because we can't downgrade due to the recent security alert. Unfortunately our Rust skills are limited, so we can't really help.

[2018-06-09 12:21] c0deCn opened #8849 "Unable to fetch node health."
_Before filing a new issue, please **provide the following information**._

Why did I restart the node and the prompt "Unable to fetch node health." ?

[2018-06-09 12:46] c0deCn commented on #8849
2018-06-09 20:40:56  main WARN ethcore_network_devp2p::node_table  Error reading node table file: ErrorImpl { code: Message("invalid type: floating point `1.24`, expected struct NodeTable"), line: 1, column: 6 }
2018-06-09 20:40:56  main WARN jsonrpc_http_server  Multi-threaded server is not available on Windows. Falling back to single thread.
2018-06-09 20:40:56  main WARN jsonrpc_http_server  Mu

[2018-06-09 12:46] c0deCn commented on #8849
2018-06-09 20:42:17   WARN jsonrpc_ws_server::metadata  Error sending a subscription update: Error(ConnectionClosed, State { next_error: None, backtrace: None })
2018-06-09 20:42:18   WARN parity_rpc::v1::impls::pubsub  Cannot send notification: SendError("...")

[2018-06-09 13:14] rphmeier commented on #8704
I would lean away from adding too many "Multi" parameters, so we should consider this carefully before implementing. As a workaround for now you can write an upgradeable proxy contract for the block reward logic.

[2018-06-10 00:37] roninkaizen commented on #8849
annoyance/unwanted behavior-
found same while testing 1.11.3.on.windows8.64pro.system.
solved with a restart of os,
and a start from command line
parity.exe db kill first
and afterwards start from command line
with specific command line parameters
e.g.
parity.exe cache-size 2048 --log-file C:\Users\YOURNAMEHERE\Desktop\parity.1..11.3-date.log

[2018-06-10 00:46] roninkaizen commented on #8848
maybe starting parity after such an event with
--no-persistent-txqueue
this should bring the intended solution

[2018-06-10 00:56] roninkaizen commented on #8846
try an installation with the provided deb file with the actual version,
looking here https://github.com/paritytech/parity/releases
it should correct the behaviour,
after changing with ubuntu 18.04 to 1.10.6 the needed node stability came back-
definitely worth a try

[2018-06-10 08:09] AyushyaChitransh commented on #8696
In my case, I was monitoring the node using https://github.com/cubedro/eth-net-intelligence-api and as soon as I stopped the monitoring process, CPU usage came to normal in about 10 seconds. This happened three to four times.

I believe the RPC connections are causing the CPU issue in my case. If anyone else is facing this issue, can you verify if switching off RPC resolves this problem?

[2018-06-10 18:09] MarkusTeufelberger opened #8851 "--help option returns 1, not 0"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Expected behavior:

`ethkeys --help` (and the other binaries too) display a help message and exist the binary with code 0.

Actual behavior:

All binaries return with 1 instead. This usually indicates some failure mode.

[2018-06-10 20:13] cooganb commented on #6616
Hello! Still actively working on this. Although the work is in another
repo, not this one. Here is the PR I've submitted with regard to this issue:

https://github.com/paritytech/jsonrpc/pull/273

On Thu, Jun 7, 2018 at 11:16 AM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-06-11 00:48] zhuzhp opened #8852 "Thread 'IO Worker #1' panicked at 'All transactions in `current` and `future` are always included in `by_hash`', libcore/option.rs:917 This is a bug. Please report it at:https://github.com/paritytech/parity/issues/new"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2018-06-11 04:37] sorpaas commented on #8838
`node_health` is a dapp, so it fails because of you have `--no-dapps` flag in startup. Removing that should fix your issue.

[2018-06-11 04:37] #8838 closed

[2018-06-11 08:05] holiman commented on #8761
https://github.com/ethereum/go-ethereum/pull/16902 is now merged. Final format
[code]

[2018-06-11 08:23] Tbaut commented on #8714
You can downgrade to the latest stable release, v1.10.6 that also has the security patch ;)

[2018-06-11 08:39] 5chdn commented on #7531
Cool.

[2018-06-11 08:39] #7531 closed

[2018-06-11 08:45] gnunicorn commented on #8851
Thanks for reporting, @MarkusTeufelberger.

Confirming this is happening and is not as we want it to be. Looks like we are not properly using docopts to figure out, whether we have a fatal or non-fatal exit. I have a patch for that.

@MarkusTeufelberger

Can you tell me which ones show that behaviour? `parity`  itself works as expected (on master). If I am submitting a patch I'd like to fix it whe

[2018-06-11 08:56] nlandeker commented on #7531
I have deployed 2 new nodes fully synced. They behave strangely.

V1.10.6

See screenshot:
![image](https://user-images.githubusercontent.com/5507956/41221973-096d18cc-6d66-11e8-8b65-17e41b8b4ccb.png)

[2018-06-11 09:11] tomusdrw commented on #8696
@AyushyaChitransh what CLI flags are you running with? Do you mind providing logs of running with `-lrpc=trace`?

[2018-06-11 09:17] yudilevi opened #8858 "Transaction is sent with the wrong gas limit/price"
Hi,

1.10.6-stable

Windows

via installer

yes

ethereum

yes

Issue:
I send a transaction through the web UI, I choose the 'advanced options', I give some time for the client to actually estimate the gas limit (sometimes takes 20 seconds) and then I update the gas limit/price manually.
I then sign and send the transaction.

I open the transaction on etherscan and monitor it and after a while it

[2018-06-11 09:19] MarkusTeufelberger commented on #8851
Did you try the official binaries or are you building from master? I tried the binaries (1.10.6 as mentioned above) and all 4 had this behavior in a ubuntu:18.04 docker container from dockerhub.

[2018-06-11 09:31] tomusdrw opened #8859 "RPC tests fail on latest master"
Seems that running `cargo test -p parity-rpc` fails, but somehow works on CI.

CC @sorpaas

[2018-06-11 09:33] stevenroose opened #8860 "Tracing API methods not working in public mode"
I restarted the node with `--tracing on`, and have `apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub", "personal", "parity_accounts", "signer", "parity_set", "secretstore"]` in my config.toml file. Here is the complete setup: https://gist.github.com/stevenroose/5e180e4b7cee9f718de659f9dc8f6929

However, none of the `trace_` methods (documented

[2018-06-11 09:33] tomusdrw opened #8861 "The node does not sync immediately even though it has plenty of peers"
Perhaps it's trying to warp sync for some reason, cause restarting with `--no-warp` fixes the issue.
[code]

cc @ngotchac

Note it's not running with warp-barrier, so it should fallback to regular sync (definitely in less than 30 minutes)

[2018-06-11 09:39] Tbaut commented on #6626
@ammar4243 please join the [Gitter channel](https://gitter.im/paritytech/parity) to get help if you have any problem to sync.

[2018-06-11 09:46] stevenroose commented on #8860
I just tried the same after upgrading to the beta (`version Parity/v1.11.3-beta-a66e36b-20180605/x86_64-linux-gnu/rustc1.26.1`) and I get the same results for the `trace_` calls. The `allTransactions` call works there. I'll remove it from the issue.

[2018-06-11 09:56] gnunicorn commented on #8851
@MarkusTeufelberger yes, I am checking this against `master` -= ignoring where it has been fixed already.

I was able to confirm the bug on the CLI of whisper, ethstore and ethkey. parity and evmbin are not effected (in master). And I've send in a PR to fix them, so the behaviour should be fixed in the next release!

[2018-06-11 10:23] #8392 closed

[2018-06-11 10:28] sorpaas commented on #8859
Does #8862 fix this, or is a separate issue?

[2018-06-11 11:04] natamartchouk opened #8865 "Parity docker image stable or latest"
_Before filing a new issue, please **provide the following information**._

**Expected behavior:**
Parity docker container starts.

**Actual**
Parity docker container keeps restarting with the following failures

`/root/.local/share/io.parity.ethereum-updates/parity-1.10.6-bc0d134bb43c65a5b82bd18c311319c7036d2c8d: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version 'CXXABI_1.3.8' not found (required

[2018-06-11 11:31] drandreaskrueger opened #8866 "snapshots more often please"
I am trying to sync parity, but don't seem to ever get there.

Am I doing this right?

[code]
then the snapshot syncing is done, right?

It continues from block 4880000 then:

[code]

but etherscan says LAST BLOCK is 5769909, so

--> (5769909 - 4880004) / (4 blk/s) / 3600 seconds per hour =

**62 hours to catch up**

right?

That is an optimistic estimate, as I also see quite a few lines with `0 b

[2018-06-11 11:46] 5chdn commented on #8866
Just run `parity --warp-barrier 5750000` to filter out old snapshots

[2018-06-11 11:46] #8866 closed

[2018-06-11 12:11] Tbaut commented on #8845
Parity Bootnode is on the right side of the fork (can be checked here: https://ropsten-stats.parity.io/) but it seems that you were able to warp sync with it. Checking why now.

To make sure to warp-sync on the right one, you can specify our bootnode enode in a `reserved-peer-file` and force your node only to connect to this one with : `parity --no-ancient-blocks --chain ropsten --reserved-peers r

[2018-06-11 12:11] #8845 closed

[2018-06-11 12:15] Tbaut commented on #8852
Could you please fill the following info:

[2018-06-11 12:23] madnadyka commented on #8847
@ButtaTRiBot doesn't help.

[2018-06-11 12:32] drandreaskrueger commented on #8866
parity --warp-barrier 5750000

thanks.

is there a way to make that behaviour default?

Thanks

[2018-06-11 12:33] stevenroose commented on #8860
The reason seems to be that I had it configured as a public node.

[2018-06-11 12:34] stevenroose commented on #8860
It worked after I set `public_node = false`.

The documentation of this configuration variable, doesn't mention anything on tracing, though:

[2018-06-11 12:45] melnikaite commented on #8845
I tried to drop db and sync again and today it was successful. I guess it was related the recent consensus issue. Probably it make sense to add some mechanism to avoid synchronization with old clients. Also in this situation I could edit network.json and leave only geth nodes and latest parity nodes.

[2018-06-11 12:50] drandreaskrueger commented on #8866
I was sooooo optimistic. But:

Nope, sorry.

It worked - but only for a short while:

[code]
but then the snapshot syncing suddenly switched off, and normal syncing began:
[code]
That would take months now to catch up.

What is the reason that snapshot syncing stops suddenly?

Is there a way to forbid normal block-by-block syncing?

Until we have found a solution here, please reopen this issue, @5

[2018-06-11 12:57] melnikaite commented on #6372
I hope this log will be useful for investigating this issue https://pastebin.com/YN8sUs2t

[2018-06-11 13:29] iFA88 commented on #8770
Please paste your node console log also with the two transaction and block. Thanks!

[2018-06-11 13:32] Tbaut commented on #8849
Can you please give some more background. What's the problem? you see an error in the UI? does it fade away? When do those errors appear? I can't figure out if you're syncing fine in between or not.
`Sending warning alert CloseNotify` is not a blocking error, you can ignore it.

[2018-06-11 13:40] Tbaut commented on #8860
I guess it's more a bug than a documentation problem. As `--public-node` is deprecated and will be completely removed, the documentation will follow.

[2018-06-11 13:40] #8860 closed

[2018-06-11 13:43] drandreaskrueger commented on #8866
Another attempt.

I thought perhaps if I am more generous which older snapshots are within the barrier ... by setting the barrier to 5600000 ...

[code]
but then it fucks up too,

and the several-weeks-long-syncing is starting:

[code]

What to do, @5chdn ?

Thanks
Andreas

[2018-06-11 13:44] drandreaskrueger opened #8869 "please reopen 8866"
please reopen https://github.com/paritytech/parity/issues/8866#issuecomment-396227490 until the issue is really solved.

[2018-06-11 14:01] Tbaut commented on #8770
Nothing fancy to see here, I've been trying with 10, 100 txs without problems:

[code]

[2018-06-11 14:32] tomusdrw commented on #8859
It does, thanks!

[2018-06-11 14:32] #8859 closed

[2018-06-11 15:15] MarkusTeufelberger commented on #8851
Thanks! :-)

[2018-06-11 15:38] Tbaut commented on #8825
Some more info for @tomusdrw. I first ran it without log up to the point where it gets killer:
[code]
and then ran it with logs until it gets killed again:
[code]

Logs (truncated between 17:14:33 and to fit into a gist 17:21:47): https://gist.github.com/Tbaut/95e1260daf29fdc54f2bc520d05c442f

My memory usage looks like:
![24655 log](https://user-images.githubusercontent.com/33178835/41241284-cf03

[2018-06-11 15:53] #8848 closed

[2018-06-11 15:57] Tbaut commented on #8858
Duplicates https://github.com/parity-js/shell/issues/103 please follow this issue in our UI repo.

[2018-06-11 15:57] #8858 closed

[2018-06-11 16:00] drandreaskrueger commented on #8866
New attempt, with even wider `--warp-barrier 5500000`:

[code]

so:

* this needed 3 attempts, because `--warp` always switched off before finishing
  * approx 3 hours
* the lucky, successful, final attempt then took:
  * 56 minutes for the snapshot sync
  * 48 minutes for catching up from the end of the snapshot to the latest block

Open questions:

* why does the snapshot syncing suddenly drop b

[2018-06-11 16:26] Tbaut commented on #8847
You are running on an HDD right? This is far from ideal nowadays.
Does your node recover itself after such lag?

Your node seems open to any external connection (`--jsonrpc-interface "0.0.0.0" --jsonrpc-apis "all" --ws-interface "0.0.0.0" --ws-apis "all"`), is this needed? do you monitor the incoming traffic?

[2018-06-11 16:33] jrischma opened #8871 "please help"
Hi, i have a problem by idiot xD

1. sudo snap install parity -> with this i install partity, but was installed a beta version
2. i remove parity with snap
3. i install parity with bash <(curl https://get.parity.io -L) -r stable

when i remove parity i lost my wallet, can i recover my wallet ? how?

thanks

[2018-06-11 16:41] oogetyboogety commented on #8604
@vs77bbi'll play with this tonight and see if i can't get it working in cython. So far i have a class writte, but i havent given up on getting it working quite yet.

[2018-06-11 17:12] madnadyka commented on #8847
Yes, on HDD.
 Node recovers, but it may have pause for 20-30 mins.

External connections are needed for me, both rpc and ws - this connections used only by my other server, no other incoming traffic.

[2018-06-11 17:17] pyskell opened #8872 "Attempting to sync parity off of a single parity node on the ETC network does not give warp sync"
Expected behavior: Get warp sync on my `unsynced node` from `bootnode`.

Actual behavior: Syncs without warp sync.

[code]

At first I thought this was because there was a load balancer between the `unsynced node` and `bootnode` but I get the same issue starting fresh and connecting directly to the `bootnode`.

[2018-06-11 17:20] madnadyka commented on #8847
Pauses for more then 10 minutes happens 5-10 times per day.

[2018-06-11 17:50] ricmoo commented on #8788
We are having this issue as well with version 1.10.4.

Did you ever figure out the problem?

[2018-06-11 18:38] #8851 closed

[2018-06-11 23:50] jrischma opened #8873 "InsufficientBalance"
Public node URL: enode://08d05c2615d4c9ebfcdd1a453c5926983aad7c0268918289d06ef1a17fbe091c48d2859430170ebbe179b1cd92782e790c4b338172e76f147c1cf85b188c4fac@138.197.78.135:30303
2018-06-11 23:49:17 UTC Imported #5772915 9efe…56ae (111 txs, 7.97 Mgas, 162.91 ms, 20.07 KiB)
2018-06-11 23:49:31 UTC Error importing transaction: Transaction(InsufficientBalance { balance: 0, cost: 3002258388850000000 })
20

[2018-06-12 01:20] #8869 closed

[2018-06-12 05:09] LogvinovLeon commented on #8266
Any updates here? We've just managed to get it working in Geth and waiting for a PR to get merged into upstream.

[2018-06-12 05:13] #6880 closed

[2018-06-12 05:13] #6869 closed

[2018-06-12 06:21] #7939 closed

[2018-06-12 07:37] shao1555 opened #8874 "should use https for package URL in release notes"
there are many `http` url links  download links in https://github.com/paritytech/parity/releases/tag/v1.11.3 .

e.g. `http://d1h4xl4cr1h0mo.cloudfront.net/v1.11.3/x86_64-unknown-linux-gnu/parity_1.11.3_ubuntu_amd64.deb`

to improve security, you should use `https://d1h4xl4cr1h0mo.cloudfront.net/` instead of `http://`.

[2018-06-12 07:43] 5chdn commented on #8874
Fixed, thanks!

[2018-06-12 07:43] #8874 closed

[2018-06-12 07:46] 5chdn commented on #8801
Please upgrade to 1.11.3 or 1.10.6 - it's difficult to give support for older versions.

[2018-06-12 07:46] #8801 closed

[2018-06-12 07:50] 5chdn commented on #8866
Snapshots are created every 5000 blocks.

Snapshot sync can be interrupted if you lose peers serving the snapshot you download.

A full sync saves you from these annoyances :)

Have you tried --light yet? Warp is not sustainable for Ethereum.

[2018-06-12 07:52] 5chdn commented on #8871
You can simply restore your wallet from your backups or using the recovery phrase. You have backups, do you? :)

Snapcraft uses a different data directory I fear.

[2018-06-12 07:52] #8871 closed

[2018-06-12 08:13] drandreaskrueger commented on #8866
Hey!

Thanks for the infos.

Ah, good to know. Not 30k anymore.

Ah, yes. Any way to prevent that, in a future client version?

e.g. `--warp-wait 600`
to tell the client to rather wait 600 seconds
than to switch to fully syncing 5.8 million blocks
just because it has lost connection to snapshot peers for a few seconds.

Yes, but it takes ages.

And then my HD would be full. Because of <-- this, I'

[2018-06-12 08:21] Tbaut commented on #8847
Can you monitor the HDD, CPU, RAM activity to tell where is the resource bottleneck when the node is stuck?

[2018-06-12 08:51] Tbaut commented on #8872
Are you sure that the bootnode created a snapshot already? Do you have logs from it?
To see what happens in details you can launch your unsynced client with `-l warp,snapshot,sync` and post the logs here.

[2018-06-12 09:35] Tbaut commented on #8873
What are you trying to do?
Please answer these questions:
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2018-06-12 09:57] menxit commented on #8788
Ok, so when I use warp sync I'm downloading a snapshot close to the top of the chain and I think it means that after a couple of seconds I should obtain the blocks near the latest, while as you outlined the blocks that are retrieved are note the latest (-100, -1000, -10000), but the first (+100,+1000,+1000).

[2018-06-12 10:06] #8788 closed

[2018-06-12 10:57] artemii235 commented on #8820
Hi, I think not only me face this issue because of `eth_sendRawTransactions` are treated as local. My public Parity node (v1.11.3) requires `eth_sendRawTransaction` API to be enabled. Someone spams my node with zero gas price transactions filling queue out, seems like there is no way to prevent this by Parity config as these transactions are `local`.
I only get these messages in logs:
`2018-06-12

[2018-06-12 11:18] tomusdrw commented on #8820
@5chdn might be worth bumping priority on this one, perhaps a 1.11 release blocker as well.

[2018-06-12 13:21] #8799 closed

[2018-06-12 13:23] santtu commented on #8843
@agericke I've done a full archival sync, and while it took several weeks to complete, yours seems quite excessive. I understand you have been running the node since at least from start of the year, right?

As @Tbaut asked, you should check your machine metrics. Are you sure the system is not spending time in iowait? E.g. check top/vmstat and see how much io% is (should not be an issue with SSD, b

[2018-06-12 13:28] 5chdn commented on #8768
Addressed in #8830?

[2018-06-12 13:28] #8768 closed

[2018-06-12 16:03] #8774 closed

[2018-06-12 17:01] 5chdn commented on #8813
Having the same issue with nightly across different machines.

[2018-06-12 17:09] madnadyka commented on #8847
When node works normal:
<img width="1617" alt="before_1" src="https://user-images.githubusercontent.com/29851936/41305678-af536ac4-6e84-11e8-93d0-8743d4feb140.png">
<img width="1613" alt="before_2" src="https://user-images.githubusercontent.com/29851936/41305683-b151c410-6e84-11e8-8122-1290370c167d.png">

When node is stuck:
<img width="1607" alt="after_1" src="https://user-images.githubuserconten

[2018-06-12 17:29] ab320012 commented on #6948
@vs77bb this is resolved

[2018-06-12 19:10] roderik opened #8877 "Unable to send next chunk: SendError("...")"
My logs are flooded by the following error. The entire config is available on https://github.com/settlemint/mintnet

[code]

[2018-06-12 21:47] andresilva opened #8880 "Cleanup dependencies from Dockerfiles"
Remove `libssl`. Ref #8878.

[2018-06-12 23:29] nanopool opened #8881 "eth_getBlockByNumber panic with RlpExpectedToBeData"
Parity 1.10.6, 1.12
Linux
built from source and pre-compiled version tested,  synchronized,  eth and etc chains tested

Sending a valid 'eth_getBlockByNumber' rpc request kills parity with panic.
Example request:
`curl -X POST --data '{"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0x1b4", true],"id":1}' -H "Content-Type: application/json" http://localhost:[rpc_port]`

Parity console o

[2018-06-13 01:42] XertroV commented on #8820
So reading the thread this was forked from gave me an idea - the issue is that the node doesn't have the privkey for the transaction; why not just check the address against local known addresses and only mark local if we find it?

Is this how `eth_sendTransaction` works now? If so then I imagine it'd be easy..

[2018-06-13 02:29] XertroV commented on #8820
I have an idea:

Add a miner config variable: `tx_queue_allow_unknown_local: bool` - defaults to true to match current behaviour

When a tx is dispatched the dispatcher checks this flag and calls `miner.import_own_transaction` or `miner.import_external_transaction` depending on whether the account is found (if the flag is true)

Working on a PR for this now.

[2018-06-13 03:37] interfect commented on #8865
I'm having to pass `--auto-update=none` to work around this and get any version of Parity older than 1.10.6 to run. This is maybe due to the recent consensus issue and an ensuing critical update?

[2018-06-13 07:20] shamardy commented on #8725
submitted a pull request:
https://github.com/paritytech/parity/pull/8883

[2018-06-13 07:22] #8649 closed

[2018-06-13 07:28] 5chdn commented on #8880
Not only in docker, we need a remove-libssl-roundhouse-kick throughout our ci scripts.

[2018-06-13 07:38] 5chdn commented on #8865
Yes. Please don't run any older version of Parity unless you are aware of the risks. Disabling auto-update is what you usually want in this case otherwise.

[2018-06-13 07:39] 5chdn commented on #8865
@natamartchouk I'm sorry, the latest, beta, and stable docker tags are currently broken. they will be fixed once we release a new update, this is fixed in #8822 - please hold on and check out version tags directly if possible :)

[2018-06-13 07:39] #8865 closed

[2018-06-13 07:52] 5chdn commented on #8840
Please, CC me. Do you also run Ropsten nodes?

[2018-06-13 07:55] natamartchouk commented on #8865
Ok, thx, @5chdn

[2018-06-13 09:01] #6083 closed

[2018-06-13 09:22] Tbaut commented on #8847
This is not obvious. You are losing a lot of peers during these "freeze" periods.
What about your internet connection? Is it stable? If there were network issues, we could see it with some logs `-l network --log-file parity_network.log`. Could you please post a couple 100 lines of these logs when the freeze happen?

[2018-06-13 09:31] 5chdn commented on #8732
@http403 there is not much happening on the Parity side. The log indicates the Geth bootnode did a `Hup` - _hang up_ which basically means it closed the connection on their side.

You should investigate the Geth logs and eventually figure out why Geth does not want to accept the Parity connection.

[2018-06-13 09:31] #8732 closed

[2018-06-13 09:44] 5chdn commented on #8506
Just a misbehaving client. Please upgrade to 1.10.6 or 1.11.3, remove your `nodes.json` and try to resync the chain.

[2018-06-13 09:44] #8506 closed

[2018-06-13 10:02] XertroV commented on #8840
@5chdn - happy to. Yes but only 1 at the moment since we don't use the network much. It's an archive node too though. (Also run 1 classic node)

[2018-06-13 10:22] Tbaut commented on #8877
Can you try by adding in your toml:
[code]
as you obviously don't need them. I believe this will remove the error message.

[2018-06-13 11:02] madnadyka commented on #8847
Internet connection is stable.
Logs before and after freeze from 10:42:06 to 10:45:57:

2018-06-13 10:42:06 UTC IO Worker #0 TRACE network  60: Read 32 of 32 bytes
2018-06-13 10:42:06 UTC IO Worker #0 TRACE network  Expect to read 176 bytes
2018-06-13 10:42:06 UTC IO Worker #0 TRACE network  60: Read 64 of 176 bytes
2018-06-13 10:42:06 UTC IO Worker #0 TRACE network  60: Read 128 of 176 bytes
2018

[2018-06-13 11:45] afck opened #8888 "Support consensus engines without a single proposer."
We would like to implement a consensus engine based on [Honey Badger](https://eprint.iacr.org/2016/199.pdf) for the POA Network, and we are wondering whether:

* you would be open to merging it into master once it is functional,
* the current `Engine` trait is suitable for this kind of algorithm, and if not,
* you would be open to merging some refactorings to make Parity support it.

In Honey Badg

[2018-06-13 12:04] 5chdn commented on #8840
https://ropsten-stats.parity.io/ :)

[2018-06-13 13:02] dvdplm commented on #8813
@5chdn @Njcrypto is https://github.com/paritytech/parity/pull/8876 relevant for this?

[2018-06-13 13:37] 5chdn commented on #8619
Deferring 1.12 until further notice.

[2018-06-13 13:45] 5chdn commented on #8423
it's called "unconfirmed" to put it nicely ;-)

[2018-06-13 14:36] rphmeier commented on #8888
I'm familiar with honeybadgerBFT and similar consensus algorithms, and this was a part of the motivation for the `Engine`/`Machine` split in the architecture of Parity, where engines define exactly what properties of the state machine they need for their operation.

Although there is no actual "proposer" for HoneyBadgerBFT, there are a couple things to consider:

The EVM requires an `author` value

[2018-06-13 14:50] rphmeier commented on #8888
Also: I think these kinds of internal-communication-heavy consensus play really nicely with the `futures` model.

This feature would be orthogonal with #8664 which intends to make block production an asynchronous process within the engine, providing only a stream of network messages and a sink for output messages.

[2018-06-13 15:05] afck commented on #8888
Thanks, but don't congratulate us too early: `hbbft` isn't _quite_ done yet. (Encryption of the proposed transactions is still missing; common coin is under way.)

Yes, we were thinking of using 2f + 1 (or just f + 1?) signatures as the seal (in an extra message round, which could happen in parallel with the Honey Badger epoch for the _next_ block, I guess), but a threshold signature would make mo

[2018-06-13 15:39] pyskell commented on #8872
Ohh I see, after a couple days of running the `bootnode` has made a snapshot and now pushes it. All is fine.

[2018-06-13 15:39] #8872 closed

[2018-06-13 18:08] roderik commented on #8877
I assume you mean disable = true?

[2018-06-13 18:46] nanopool commented on #8881
It's the node with 1.9.7 version running without the issue.
[code]
The problem appears when I replace parity binary with a newer version. The old one is still working without an issue. Could it be I need to update anything else but 'parity' binary file?

[2018-06-13 19:19] dvdplm commented on #8881
@nanopool can you share what your configuration looks like please (command line options or config file)?

[2018-06-13 20:42] tcsiwula commented on #8860
Same error on build ``` version Parity/v1.11.3-beta-a66e36b-20180605/x86_64-macos/rustc1.26.1 ```

[2018-06-13 21:18] nanopool commented on #8881
It's quite simple:
`/root/bin/parity --chain=classic --rpcaddr 0.0.0.0 --jsonrpc-hosts="all" 2>&1 | tee -a /root/log/parity-$now.log`

The strange thing is I've found a random block number that works: "0x345566". None of the nearest blocks works though. Neigher "0x345565" nor "0x345567".

I've tested on my home linux machine and it works with the new binary version. Will upload the blockchain to t

[2018-06-13 23:00] Pzixel commented on #8829
I did multiple optimizations to make it work, and I was glad to see 40tx/sec. However, for some reason performance quickly gets downgraded:

![image](https://user-images.githubusercontent.com/11201122/41382791-713cd0a2-6f76-11e8-9e13-3ff62f34ee5c.png)
_I read messages from RabbitMQ and store it into smart contracts. Ack/get speed is parity tx confirmation speed_

Assuming I only have ~50% of CPU l

[2018-06-13 23:33] yrashk opened #8893 "Problem: eth.estimateGas blanket failure"
`eth.estimateGas` RPC function will always fail with `"Requires higher than upper limit of {}"` error even when an error is clearly not gas related (say, an exception thrown in the contract). This failure is very confusing as it doesn't tell the real story.

Proposed solution: try to use the result of `transact_virtual` to make a better determination.

My brief research yielded the following point

[2018-06-14 04:30] mining-visualizer commented on #8291
@Tbaut The information you gave was not correct.  The actual default path is `C:\Users\'username'\AppData\Roaming\Parity\Ethereum`  (note the 'Roaming' element)

[2018-06-14 05:18] 0x7CFE commented on #7098
@folsen No, it isn't.

[2018-06-14 05:31] 0x7CFE commented on #8186
@debris Recently I was skimming through a [blog post describing Actix API](https://simplabs.com/blog/2018/06/11/actix.html). Maybe we may use something similar.

The key idea is that instead of huge enums messages and handlers may be defined as trait impls:
[code]

That way code would be organized more naturally.

[2018-06-14 05:37] 0x7CFE commented on #8082
@tomusdrw, probably not. I wrote my opinion on that in [the trailing comment](https://github.com/paritytech/parity/pull/8074/files/1f1694b444592857bfd9811e72d4e40c0d835b64#r174054076).

[2018-06-14 06:15] dvdplm commented on #8881
Thank you, that is helpful. I can't reproduce the problem here and the `RlpExpectedToBeData` error seem to indicate a data corruption issue. Let us know how it goes with a restored DB.

[2018-06-14 06:26] ciphertang opened #8894 "eth_sendRawTransaction return "jsonrpc": "2.0", "error": { "code": -32010, "message": "There are too many transactions in the queue. Your transaction was dropped due to limit. Try increasing the fee.""
_Before filing a new issue, please **provide the following information**._

My parity start config:
parity --no-ui --no-ws --no-warp --min-peers=25 --cache-size=4096 --jsonrpc-hosts=all --jsonrpc-port=18545 --jsonrpc-interface=0.0.0.0 --jsonrpc-cors=* --jsonrpc-server-threads=100 --jsonrpc-threads=4 --min-gas-price=1 --log-file=/opt/logs/parity/parity.log

I saw the issue have been fixed on 1.11.3

[2018-06-14 07:01] #7956 closed

[2018-06-14 07:04] zhousi666 opened #8895 "Error importing transaction: Transaction(AlreadyImported)"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

My service had this problem while it was running.

[code]

After I rebooted, I still don't want to delete my chaindata and resyncing it. I saw in #7176 that there are other developers plus pa

[2018-06-14 07:08] zhousi666 commented on #8895
@tomusdrw  @khaschuluu  @simon-jentzsch Can you help me to solve this problem. Thank you very much.

[2018-06-14 08:27] afck commented on #8888
You're right, maybe 2f + 1 is safer. Honey Badger requires that many honest nodes anyway, so if we fail to collect that many signatures it's better to stop immediately rather than accept a block singned by fewer than that.

Most messages are broadcast, but not all: Crucially, the biggest ones are targeted, i.e. sent from a validator to a single other validator. Honey Badger only achieves a high th

[2018-06-14 08:41] Tbaut commented on #8847
I believe that it's an HDD problem. It is not sustainable anymore to sync the Ethereum blockchain on spinning disk anymore :(

[2018-06-14 08:42] #8847 closed

[2018-06-14 08:44] Tbaut commented on #8877
I edited my comment, yes I meant disable true :)

[2018-06-14 08:45] madnadyka commented on #8847
I’m syncing node now at SDD and I will test it.

[2018-06-14 08:49] 1scrooge opened #8897 "The node stuck at block #5899999"
I'm running:
docker parity:v1.9.3
Network: ethereum classic mainnet
Also I have tryed v1.10.6
[code]

[2018-06-14 10:08] gnunicorn commented on #7642
@vs77bb I have trouble claiming them as the faucet didn't give me ether and now I am stuck in some loop. I tried to email you about it, but the gmail-addr of your github profile bounces with Quota Limit reached...

[2018-06-14 10:27] Tbaut commented on #8291
Thanks, I edited

[2018-06-14 10:29] ordian commented on #8696
Looks like rocksdb's snappy compression may also be responsible for an increased memory usage (it takes 28.8% + 16.9% = 45.7% of total allocated memory when warp syncing):
![allocations](https://user-images.githubusercontent.com/4211399/41406999-be57a438-6fd6-11e8-93d1-262408a299aa.png)

[2018-06-14 10:35] asmodat commented on #8764
Here is theory what might be happening... (it might be it or not - didn't proven it)
I think it might have something to do with rapidly shutting down the parity process when its doing something with the files on the drive. Maybe it should be working on some tmp files and then rename them to whatever they supposed to be instead of corrupting the original ones and working on a live body.

[2018-06-14 10:39] Tbaut commented on #8894
Links to https://github.com/paritytech/parity/pull/8691
@tomusdrw can you have a look?

[2018-06-14 10:47] Tbaut commented on #8895
As you probably say in https://github.com/paritytech/parity/issues/7176 this error is most probably related to a previous transaction that got stuck. Please launch parity with `--no-persistent-txqueue`, this will not require you to resync and should solve your problem.

**Please upgrade your client to v1.10.6 to profit from a security fix.**

[2018-06-14 10:47] #8895 closed

[2018-06-14 10:52] Tbaut commented on #8897
did you try to restart parity?

[2018-06-14 10:55] fratellopartigiano opened #8898 "Transaction _out of gas_ even though it goes through"
I'm trying to deploy some smart contracts (pasted below) and perform some actions. **Although it runs fine in `kovan` or in `remix`**, it always failes on a development chain (I've tried custom PoW and PoA chainspecs, as well as a copy of kovan chainspec).

The problem appears when executing the `upgradeTo()` function. `web3js` reports the transaction ran out of gas, whereas it in fact goes throug

[2018-06-14 10:55] fratellopartigiano opened #8899 "While running a developement chain, execution of Solidity assembly code throws"
**Might be related to #8898.**
Avoiding the issue mentioned above by using `web3py` (or a more sophisticated `.js` script), I tried to run a proxy smart contract (written in Solidity using assembly `delegatecall`). **Although it works fine on `kovan` or in `remix`**, it always failed on a development chain (I've tried custom PoW and PoA chainspecs, as well as a copy of kovan chainspec).

Calling t

[2018-06-14 11:03] PaterSantyago commented on #8897
Experiencing same issue with Ropsten, restart does not help:
`2018-06-14 10:45:26 UTC main INFO parity::run  Operating mode: active
2018-06-14 10:45:26 UTC main INFO ethcore_service::service  Configured for Ropsten using Ethash engine
2018-06-14 10:45:27 UTC IO Worker #2 INFO network  Public node URL: enode://e7da1645b668539170ca0623edcad66aedc055e9f2e043f0b30b468713911db38866cd6075f6ce1018beccc0c

[2018-06-14 11:22] 1scrooge commented on #8897
@Tbaut shure.

[2018-06-14 11:35] smashin opened #8900 "error: Found argument '--tx-queue-per-sender' which wasn't expected, or isn't valid in this context. Did you mean --tx-queue-gas?"
Hi

Option error occurs when Parity starts.

[2018-06-14 12:30] Pzixel commented on #8829
Contract code:

[code]

[2018-06-14 12:33] tomusdrw commented on #8894
@ciphertang How many transactions are you sending? Perhaps the pool is full with your own/local transactions - in such case you need to increase the pool size.
Also it seems that your node is open to the external network, perhaps others are using this to propagate their own transactions through your node, see #8820

[2018-06-14 12:35] Tbaut commented on #8897
@PaterSantyago this is not related. Please see my comment https://github.com/paritytech/parity/issues/8845#issuecomment-396221925

@1scrooge please upgrade to the latest [parity release](https://github.com/paritytech/parity/releases).

[2018-06-14 12:37] tomusdrw commented on #8829
@Pzixel are you `eth_call`ing the contract or rather sending transactions to that contract? In the latter case the slowest part of that will be transaction signing and nonce checking.

For nonce checking we do some optimistic evaluation of the next nonce - in case there is a conflict (two concurrent RPC queries trying to send a transaction at the same time) it might happen that one of them will ne

[2018-06-14 12:38] tomusdrw commented on #8829
Could you also provide some logs with running with `-lrpc=trace`? Also could you consider switching to IPC transport? It's orders of magnitude faster than HTTP and also single threaded, so that will rule-out the nonce-checking problem (the bottleneck should be signing).

[2018-06-14 12:39] Njcrypto opened #8902 "Thread 'IO Worker #1' panicked at 'nonce will return Some when given BlockId::Latest."
1.11.3 hit open file limits (even after pushing them to 500,000, it just took longer).

restart the node server - this is what i get - needed to kill the entire db to get the node to start - now re-syncing.

[code]

[2018-06-14 12:52] Pzixel commented on #8829
Great, I wasn't aware it's possible. I'l try to implement it.

I asked my friend to run with trace. I will be busy with trying to send raw transaction. I hope my library allows it.

On the other side, I provided all required information. You could easily deploy contract and reproduce the problem with every flags (or even in debug) with simple script that pushes messages into the contract.

[2018-06-14 13:02] Tbaut commented on #8900
This flag is only available from 1.11.X

[2018-06-14 13:02] #8900 closed

[2018-06-14 13:33] PaterSantyago commented on #8897
@Tbaut nope, I'm syncing with --no-warp option, as you wrote in your comment

[2018-06-14 13:44] vs77bb commented on #7642
Ah @gnunicorn Can you DM me your MetaMask account details on [Gitcoin Slack](gitcoin.co/slack)? I'll send you over a bit more ETH so you can make the submission.

[2018-06-14 13:46] vs77bb commented on #8604
Hi @oogetyboogety thanks for your persistence. Keep us posted if you have any questions!

[2018-06-14 13:51] Pzixel commented on #8829
Just checked: I'm able to send transaction to the new network (and it seems to be faster, however, it may be just an illusion), but "corrupted" network is not able to execute even signer transaction. Going to check if there are any logs

[2018-06-14 14:29] Tbaut commented on #8898
The fact that you do not specify any gas when sending transaction leaves parity set it for you. Depending on the network you will be on, the gas and gasPrice will surely differ. web3 and web3py also probably have different behavior regarding this. Could you track what values are used and see if this could explain to the different behaviors?

[2018-06-14 14:31] Tbaut commented on #8898
Also please upgrade to the security fix release *1.11.3*: https://github.com/paritytech/parity/releases

[2018-06-14 14:37] Tbaut commented on #8899
What development chain did you use exactly? Please also upgrade to 1.11.3

[2018-06-14 14:47] Tbaut commented on #8902
Related to https://github.com/paritytech/parity/issues/8813 and duplicates https://github.com/paritytech/parity/issues/5968 I'll close in favor of #8813

[2018-06-14 14:47] #8902 closed

[2018-06-14 14:50] Tbaut commented on #8897
@PaterSantyago this is still not related (Ropsten vs ETC), please keep this issue on track and comment on the other issue.

[2018-06-14 15:15] fratellopartigiano commented on #8898
It always says `"gasUsed": 43442`, I tried also specifying the gas manually to higher values, but with no effect. The 43442 is the actual cost of the transaction, as I get this value when I execute on kovan, as well as when I execute with web3py on any chain.

I'm afraid 1.11.3 is not available dockerized yet, as I get:
[code]
and this is v1.11.1-beta-6654d02-20180515.

[2018-06-14 15:17] fratellopartigiano commented on #8899
Here is the chainspec I was using (in addition, I tried also with an exact copy of kovan chainspec with just modified validators so that I could use it privately).

[code]

[2018-06-14 16:05] fratellopartigiano commented on #8899
Looks like I've solved it, I was missing the transition blocks for the Byzantium hard fork in the chainspec. At least made the kovan-clone working now when I changed the block numbers to 1.

[2018-06-14 16:20] fratellopartigiano commented on #8899
I can confirm that the above chainspec also works after adding
[code]
to `params` and setting the existing transition blocks to 1. This also solved the #8898.

Thanks and apologies for confusion. I hope it may be useful for someone else in the future.

[2018-06-14 16:20] #8899 closed

[2018-06-14 16:21] fratellopartigiano commented on #8898
Solved along with #8899.

[2018-06-14 16:21] #8898 closed

[2018-06-14 17:00] nafem opened #8903 "Thread 'main' panicked at 'Unexpected rlp error: RlpExpectedToBeData'"
2018-06-14 17:54:44  State DB configuration: fast
2018-06-14 17:54:44  Operating mode: active
2018-06-14 17:54:44  Couldn't read disk map: invalid type: unit variant, expected struct variant at line 1 column 25
2018-06-14 17:54:44  Configured for Foundation using Ethash engine

====================

stack backtrace:
   0:     0x7ff6b8f3973c - hid_error
   1:     0x7ff6b8f38ed3 - hid_error
   2:

[2018-06-14 17:03] 1scrooge commented on #8897
@Tbaut v1.11.3 beta helped. Thank you

[2018-06-14 17:17] dvdplm commented on #8903
Hi, that looks like a data corruption error. Can you restore a known-good DB from a backup or resync?

[2018-06-14 18:11] Pzixel commented on #8829
Well, I tried to run it with executing pre-signed transactions and here is what I have:

![image](https://user-images.githubusercontent.com/11201122/41429963-5dd51d8e-7017-11e8-8706-2657c44e14a4.png)

All transaction was executed on top speed, no performance degradation signed. It seems that there is some problems with parity-signed transactions. Is it expected?

[2018-06-14 18:56] #7547 closed

[2018-06-14 19:51] MatthiasEgli-chainsecurity commented on #8843
We are seeing similar issues using a very powerful machine (8 cores, 32GB memory, 4x NVMe SSDs with performance-optimized ZFS setup). CPU usage is around 50% on one core, mostly waiting for IO even though IO is very fast. We see 7-8 MGas and ~200 Tx/s with this, which is still much slower compared to previous blocks where we had >200 MGas and corresponding higher number of transactions. All caches

[2018-06-14 21:00] Meshugah commented on #8698
Yes, this is the same one as in the original post.

[2018-06-14 21:14] Pzixel commented on #8829
It kept top speed on 100k txs (in 1 hour). So I think it's indeed signing/nonce issue. I wonder if it's described somewhere in spec or even intended to work this way.

[2018-06-15 00:05] cedricfung opened #8904 "eth_call some contract stuck and high CPU"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

curl --data '{"method":"eth_call","params":[{"data":"0x95d89b41","to":"0x532975d56cf18f597480e2521246b273ad9ae348"}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST http:

[2018-06-15 02:16] quantumproducer opened #8905 "Parity crashing with no error message"
_Before filing a new issue, please **provide the following information**._

I connected to my server and found this:

[code]

so I restarted it, because it wasn't running. Why is there no error message? How do I tell why it crashed? Can I make parity automatically restart or do I need to use a bash script for that?

[code]

started up again just fine

[2018-06-15 07:44] nafem commented on #8903
Thanks.
Resyncing solved the issue.

[2018-06-15 07:44] #8903 closed

[2018-06-15 08:24] usmananwar commented on #8845
Hi,
is it related with this issue: (Ropsten synchronization hangs at: 3383693, doesn't work even after restart)

`2018-06-15 17:00:18     6/50 peers     63 MiB chain   65 MiB db  0 bytes queue   10 KiB sync  RPC:  0 conn,  0 req/s,  55 µs
2018-06-15 17:00:28  Syncing #3383693 0xf4c9…88e4     0 blk/s    0 tx/s   0 Mgas/s      0+    0 Qed  #3381646    7/50 peers     64 MiB chain   65 MiB db  0 bytes

[2018-06-15 09:30] Tbaut commented on #8898
@fratellopartigiano is dockerised but we currently have a problem with our docker hub (will be solved in the next release). Please use the tags `parity/parity:v1.11.3` in the mean time

[2018-06-15 09:36] #8897 closed

[2018-06-15 09:50] Tbaut commented on #8698
@Meshugah what do the following command return:
- `/usr/bin/parity -v`
- `parity -v`
- `bash <(curl https://get.parity.io -Lk)`

[2018-06-15 12:55] bem7 opened #8907 "Parity crashes when executing trace_replayBlockTransactions on blocks related to the 2016 DDoS attack."
Issue: Parity crashes when I try to replay the transactions in block 2283417 (and a range of other blocks related to the Fall 2016 DDoS attack).

I am replaying transactions as follows:

    const payload = {
      "method": "trace_replayBlockTransactions",
      "params": [Web3.utils.toHex(blockNumber), ["trace", "stateDiff", "vmTrace"]],
      "id": 1,
      "jsonrpc": "2.0"
    };

    rpcProvi

[2018-06-15 14:17] Jeiwan opened #8908 "Ancient blocks are not downloaded"
After downloading all the snapshots and waiting for more than 24 hours:
[code]

The chain folder doesn't grow and stays at 22Gb:

[code]

Also, there are errors (total 47) in the log:
[code]

I tried removing the data folder and resyncing 3 times, the last one was using Docker.
I start the container with:
[code]

Before trying the Docker image, I ran the node with:
[code]

[2018-06-15 14:30] Tbaut commented on #8904
I don't think that your call is valid, you should pad the function signature to the left to 32 bytes.
Could you describe which function you want to call and what parameter?

Just tested a random call:

[code]
Result:
[code]

[2018-06-15 14:49] Tbaut commented on #8905
Thanks for the report. If you can manage to reproduce it, could you tell if any of your memory or CPU is at 100%?

There is no other way to restart parity automatically than with external tools (such as systemd).

[2018-06-15 15:15] phahulin opened #8909 "(Docs) pubsub in rpc section of toml file"
Is it correct that  `pubsub`, `eth_pubsub` and `shh_pubsub` apis are listed in `--jsonrpc-apis`, can subscriptions work over http?

[2018-06-15 15:47] Tbaut commented on #8907
Hey, Thanks for the report. Could you monitor your CPU, RAM and tell if one of them goes through the roof?
Does it print anything when it crashes?

[2018-06-15 16:14] cedricfung commented on #8904
I try to test whether the contract will respond to some method, all other contracts work as expected only the one I posted stuck.

I tried to pad the function signature to 32 bytes, the bug still exists.

[code]

[2018-06-15 16:29] cedricfung commented on #8904
The signature 95d89b41 is ERC20 symbol function, I want to know whether the contract is a valid ERC20 contract with all information. The contract which causes the bug is 0x532975d56cf18f597480e2521246b273ad9ae348

[2018-06-15 18:28] Njcrypto commented on #8905
I believe this is related to the open file issue. Same symptom.

[2018-06-16 01:08] Jeiwan commented on #8908
12 hours passed. It still takes 22Gb of disk space, and there's no sign of ancient blocks.

[2018-06-16 10:06] bem7 commented on #8907
Executing on block 2379718 (also contains DDoS transactions), I see Parity halt with the following message:

    thread '<unknown>' has overflowed its stack
    fatal runtime error: stack overflow
    Aborted (core dumped)

I'll see if I can bug some CPU/RAM stats. Meanwhile, a) how should I run Parity to have it output more useful logs, and b) is there any configuration change I can make that wou

[2018-06-16 18:13] hermanjunge commented on #4172
@folsen We prefer to understand that rather than storing data, what the IPFS/libp2p does, is making data available through its protocol.

While there are available ways in `eth/63` to ask for state and storage trie nodes, it is needed for a client, to be able to connect to a network of `devp2p` clients, preferably to ports `30303` or `30304`, making it difficult to browser peers, which are usually

[2018-06-16 19:52] WonkyGiraffe opened #8911 "Tx rejected for too low gas even at 90 shannon."
_Before filing a new issue, please **provide the following information**._

Since yesterday I'm trying to make a TX transferring some tokens and even with up to 90 shannon, I still can't enter the pool as per TX viewer.
Also when trying to send the transaction, the Parity UI interface says my fee is too low even when I use the highest recommended one.

![screenshot from 2018-06-16 22-48-30](https:

[2018-06-17 00:48] c0deCn commented on #8849
@Tbaut
18-06-17 08:40:54  IO Worker #0 ERROR client  Error importing ancient block: 0xc4a6…437e
2018-06-17 08:41:21  IO Worker #0 ERROR client  Error importing ancient block: 0x9a6c…3010
2018-06-17 08:41:35  IO Worker #0 ERROR client  Error importing ancient block: 0xee74…f5fe
2018-06-17 08:41:56  IO Worker #0 ERROR client  Error importing ancient block: 0x126d…bf84
2018-06-17 08:42:07  IO Worker

[2018-06-17 09:21] Jeiwan commented on #8908
2 days passed. There are still no ancient blocks, the folder takes 23Gb.

[2018-06-17 10:20] alexcos20 commented on #8908
Confimed on ropsten also:

Which Parity version?: Parity/v1.11.3-beta-a66e36b-20180605/x86_64-linux-gnu/rustc1.26.1
Which operating system?: Ubuntu 16.04
How installed?: via https://d1h4xl4cr1h0mo.cloudfront.net/v1.11.3/x86_64-unknown-linux-gnu/parity_1.11.3_ubuntu_amd64.deb
Are you fully synchronized?: yes
Which network are you connected to?: ropsten
Did you try to restart the node?: yes
Did you

[2018-06-17 15:44] sorpaas commented on #6744
I would like to take this refactoring, if that's okay.

I think I'll start with "evm should be executed in a loop"/"executive should not use crossbeam to reset the stack" refactoring -- changing CALL/CREATE to trap execution, loop to the next callstack item, and then feed result back in. We probably won't gain any memory improvement in this process, because it's basically just moving callstack fro

[2018-06-17 15:58] sorpaas commented on #6744
Another refactoring that might be beneficial is to use c style enum for instruction instead of a raw u8. This allows us to type-check match branches.

[2018-06-17 18:41] cooganb commented on #6616
Yes!

On Saturday, June 16, 2018, Gitcoin.co Bot <notifications@github.com> wrote:

[2018-06-18 07:01] WonkyGiraffe commented on #8911
That's the version I'm with. At least i've installed it, but when I start Parity UI, it still gives this version number in the top bar "Parity v1.11.1-20180515 beta"

[2018-06-18 08:41] Tbaut commented on #8911
So you're still on the old one. Uninstall and reinstall or visit [Gitter chat](https://gitter.im/paritytech/parity) for us to help.

[2018-06-18 08:48] barakman commented on #7340
@folsen:
Please reopen, I've also encountered this issue.
I believe that it is the result of starting Parity with the `--fast-and-loose` switch, and then shutting it down ungracefully (i.e., I closed the terminal instead of doing Ctrl+C).
I am guessing that the DB was left in a corrupted state, so Parity is unable to recover from that.

[2018-06-18 08:49] Tbaut commented on #8904
I have difficulties to follow you. There is no `ERC20 symbol function` in the [ERC20 standard](https://theethereum.wiki/w/index.php/ERC20_Token_Standard) and there is no `symbol function` in the [contract's code](https://etherscan.io/address/0x532975d56cf18f597480e2521246b273ad9ae348#code). It looks like you're trying to call a function that simply does not exist.

[2018-06-18 08:52] Tbaut commented on #8905
Related https://github.com/paritytech/parity/issues/8813 ?
@Njcrypto I'd expect parity to give an error message on this one...

[2018-06-18 09:06] cedricfung commented on #8904
It's not in the standard, but it's how most ERC20 tokens are using it. Almost all ERC20 tokens have a symbol function.

Anyway, no matter what the function is, parity should not stuck and consume high CPU. Is parity expected to stuck whenever people call a function not exist in a contract? Isn't it a bug?

[2018-06-18 09:29] WonkyGiraffe commented on #8911
I started it with "parity" from the terminal (ubuntu here) and then started parity UI and just then it shows the latest version i've installed.
Quite odd glitch I must say.

And now sending txs is just fine! :)

But still would be nice to know why it wouldnt start the latest version, but somehow is still using the previous one.

[2018-06-18 09:48] gnunicorn commented on #8426
So, if the default behaviour is that the UI isn't started and we need the user to run it with `--force-ui`, what is the expected fix? Showing that error in the UI/Chrome extention to give the user some context what to do?

[2018-06-18 09:48] Tbaut commented on #8907
Given your beefy configuration, I'd try with a bigger cache size. Regarding the logs, https://wiki.parity.io/FAQ#how-can-i-make-parity-to-write-logs I don't think there is any useful flag to give you a better trace.

[2018-06-18 09:53] Tbaut commented on #8849
This error is a bug (fixed in https://github.com/paritytech/parity/pull/8832 ), it's actually when the client does manage to import ancient blocks.

It simply looks like the UI is trying to fetch the node health while the node isn't ready yet. It's not a problem

[2018-06-18 09:53] #8849 closed

[2018-06-18 10:00] tomusdrw commented on #8426
@gnunicorn The extension shouldn't really require the UI for anything. Currently (afair) the extension is using :8180 for:
1. To extract authentication token
2. To query the RPC and figure out what the WS address is.
3. To check if the node is running by executing `/ping`

To address the issue we need to address all 3:
1. This should be a popup dialog asking for manual token input
2,3. We can use

[2018-06-18 10:01] Tbaut commented on #8911
It's a different problem, we can talk about it on the chat or in another issue.

[2018-06-18 10:19] Tbaut commented on #8904
I agree. It's reproducible on 1.11.3 also with `curl --data '{"method":"eth_call","params":[{"data":"0x95d89b410000000000000000000000000000000000000000000000000000000000000000","to":"0x532975d56cf18f597480e2521246b273ad9ae348"}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST http://localhost:8545`

[2018-06-18 10:32] alexcos20 commented on #8905
Could be related to [](https://github.com/paritytech/parity/issues/8908) ?

As soon as the messages dissapered, parity is fine for over 24 hours now..

[2018-06-18 11:20] Tbaut commented on #8908
There is a bug fixed in https://github.com/paritytech/parity/pull/8832 that makes this message get fired actually every time a block is downloaded. It'll be included in the next release.

[2018-06-18 11:20] #8908 closed

[2018-06-18 11:42] #5484 closed

[2018-06-18 11:57] Tbaut commented on #8909
I edited your title as it is not (only) a doc issue. RPC should be named HTTP in this case as it is the transport protocol. This is confusing indeed.

We need to:
- change RPC to HTTP for toml files
- change "rpc" to "http" for CLI flag such as `jsonrpc-apis` or `--no-jsonrpc` `--jsonrpc-port=[PORT]` `--jsonrpc-interface` ...
- Remove `pubsub`, `parity_pubsub`, `shh_pubsub` from the actual `--json

[2018-06-18 12:01] phahulin commented on #8909
Thanks for taking a look into it, but I think renaming rpc to http is too much a breaking change. Maybe just update the docs?

[2018-06-18 12:09] 5chdn commented on #8762
Fixed in #8891

[2018-06-18 12:09] #8762 closed

[2018-06-18 12:11] 5chdn commented on #8190
**Backports for 1.10.7-stable**
- [ ] #8803 Fixed AuthorityRound deadlock on shutdown
- [x] #8821 Specify critical release flag per network (via #8855)
- [ ] #8822 CI: Fix docker tags
- [ ] #8854 Fix concurrent access to signer queue
- [ ] #8876 update jsonrpc libs, fixed ipc leak
- [ ] #8886 Add new ovh bootnodes and fix port for foundation bootnode 3.2
- [ ] #8891 Block 0 is valid in queries
- [

[2018-06-18 13:32] #8820 closed

[2018-06-18 13:50] #6852 closed

[2018-06-18 15:01] Tbaut commented on #7340
@barakman what you describe is known. This issue is not related to `fast-and-loose` as it wasn't used by the OP: https://github.com/paritytech/parity/issues/7340#issuecomment-355516280

[2018-06-18 15:22] Tbaut opened #8917 "Clarify --poll-lifetime documentation"
After https://github.com/paritytech/parity/pull/8885

The scope and the need for it are not clear. Can we clarify @gnunicorn?

[2018-06-18 15:28] Tbaut commented on #8909
The doc is a translation of the code, it is possible to have aliases to avoid breaking things and have backward compatibility. Let's make things nice everywhere.

[2018-06-18 15:37] tomaka opened #8918 "Light client sometimes deadlocks from incoming RPC requests"
Sometimes, when making an RPC request, the light client doesn't answer and becomes unresponsive through the JSON-RPC interface.

The logs don't show anything out of the ordinary, except a lot of:

However this seems to happen even when the node was running correctly.

If I had an hypothesis, it would be that we disconnect from the peer we're making a request from. But I'm really not sure that this

[2018-06-18 16:07] Tbaut commented on #8835
Thanks,
From `npm run build:markdown`

[code]

[2018-06-18 16:28] avonian commented on #8708
Experiencing the exact same issue here as well by the way.

I used the same exact approach to isolate the issue, with a shell script repeating curl requests (in my case for `eth_getLogs`).. and even pointed it to an infura node, and it eventually, at some point, it just hangs.

[2018-06-18 16:46] aaroncolaco commented on #8467
Everything seems to be working now! So after starting the network and connecting the nodes, I restarted each node. Maybe it was a syncing issue.
Thanks @grbIzl

[2018-06-18 21:31] vs77bb commented on #7642
Hi @gnunicorn bumping to get your MetaMask details. Would love to pay this one out this week 🙂

[2018-06-19 00:47] Jeiwan commented on #8908
Anyway, I ran it with `--no-warp` and it's fine now.

[2018-06-19 03:13] ciphertang commented on #8894
I check the parity_localTransactions method ,there are so many Transactions. I changed the port but  it didn‘t resolve the problem.
I reinstall the client with 1.10.6-stable,there are also many pending Transactions,but it can send Transaction normally.
How to increase the pool size?

[2018-06-19 07:49] ciphertang commented on #8894
I have setted two-way ssl (no client cert can't connect the rpc)and changed the port  ,but why can i  also see many localTransactions is pending.

[2018-06-19 09:10] S3bb1 opened #8921 "parity auto updater hash mismatch"
We've setup the operations contract on our private net. All works fine but when we publish a new version to the operations contract, parity refuses the update due to "HashMismatch"

for example the 1.10.7 release.

used the sha256 from https://vanity-service.parity.io/parity-binaries?version=stable

executed transactions on Operations Contract:
![image](https://user-images.githubusercontent.com/76

[2018-06-19 09:30] Tbaut commented on #8467
I will close this issue as it is very broad and covers several topics. Please open a more specific one should any of you have further questions.

[2018-06-19 09:30] #8467 closed

[2018-06-19 12:00] sunrye opened #8922 "parity cannot transfer local transaction"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

It's very strange,our parity node can't transfer local transactions, but it can sync blocks and it can also receive transactions generated by other nodes

[2018-06-19 12:05] sorpaas commented on #6744
@pepyakin mentioned an issue that if we eliminate recursive calls for vm, it might break some of the wasm usage:

1. To eliminate recursive calls (and get rid of `crossbeam`), we would need the vm to be able to "pause" execution, during which it execute subsequent calls and feed result back in.
2. Currently, we cannot pause execution of wasm. This can be implemented in wasmi (https://github.com/pa

[2018-06-19 12:54] Tbaut opened #8923 "Make the sidebar on the wiki easier to read and navigate"
Ultimate goal:
- Have a more readable sidebar
- Usable on small screens (Mobile)

It should have:
- Drop-down menus instead of a list
- Make the difference between a link and a dropdown (see example)
- Should be based on an .md file (like right now with https://github.com/paritytech/wiki/blob/master/_includes/_Sidebar.md)

It should look like:
This example on the right side shows "Developing" and

[2018-06-19 12:56] Tbaut commented on #8567
BTW you can use the Registry Dapp in Parity UI, this might help.

[2018-06-19 12:56] tomusdrw commented on #6744
Can't we keep recursive calls for `wasm` but get rid of them for EVM? It probably means maintaining two different interfaces for the VMs (larger surface for bugs), but might still be worth it to boost EVM perf?

[2018-06-19 13:48] Tbaut commented on #8894
This might be related to this issue: https://github.com/paritytech/parity/issues/8820
What are you currently doing with your node, is it expected to get so many local transactions?

[2018-06-19 13:49] sorpaas commented on #6744
Yeah sounds good. I'll try to get the design based on that.

[2018-06-19 14:13] Tbaut commented on #8922
Please update your issue with:

[code]

as well as a clear description of what you do to send transactions, how do you do it, using the UI, RPC, what methods? what error message?

[2018-06-19 14:29] andresilva commented on #8921
@S3bb1 The auto-updater is expecting a SHA3 hash. Sorry for the lack of documentation, I'll work on some documentation for this soon. You can use the parity binary to do the SHA3.

[code]

[2018-06-19 15:16] Tbaut opened #8927 "Be able to run full and light client simultaneously (with portshift)"
As the title says, we should be able to run both clients on the same machine as long as there is a port-shift:

`$ parity --light # Run light client`
`$ parity  --ports-shift 100 # Run full client with ports-shift`

Light and full clients should use separated directories, the keys should be shared.
A particular attention should be paid to the directory code as it varies between platforms. Proper t

[2018-06-19 15:29] eqzip opened #8928 "After use ctrl+c close parity error occur and can't recovery"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
I use the following command start parity in console：
/Applications/Parity\ Ethereum.app/Contents/MacOS/parity --max-peers=50 --cache-size=2048 --fast-and-loose --ws-max-connections=1024   ui

[2018-06-19 16:00] Tbaut commented on #8873
closing as stale

[2018-06-19 16:00] #8873 closed

[2018-06-19 16:09] partyspy commented on #7513
Am I wrong I just don't see any Signer Tab?

[2018-06-19 16:19] Tbaut commented on #8927
Not possible without specifying a different directory for each call.

[2018-06-19 16:29] Tbaut commented on #8928
`fast-and-loose` basically makes you corrupt the db every time you exit.
Duplicates: https://github.com/paritytech/parity/issues/8779

[2018-06-19 16:29] #8928 closed

[2018-06-19 16:39] shamardy commented on #8725
Yes, I am still working on this issue, waiting for response from @debris in https://github.com/paritytech/parity/pull/8883

[2018-06-19 17:28] andresilva commented on #6948
Closed in #8756.

[2018-06-19 17:28] #6948 closed

[2018-06-19 18:59] andresilva opened #8929 "Code sign all distributed binaries"
Currently we code sign the main `parity` binary. We need to start code signing the remaining binaries: `ethkey`, `ethstore`, `ethabi`. We should check it for all platforms that we're currently signing.

[2018-06-20 01:14] themandalore commented on #6916
Can you guys update the demoPOA to reflect these changes?
https://wiki.parity.io/Demo-PoA-tutorial.html

[2018-06-20 03:41] ammar4243 commented on #7966
I'm waiting for 8 days but Node still only Sycned 4,169,084.... how i can Increase the Speed of Nodes?

[2018-06-20 07:32] 5chdn commented on #8921
Note, `stable` =/= `v1.10.7`, that are (not always but often) different binaries with different code

[2018-06-20 07:32] #8921 closed

[2018-06-20 07:34] 5chdn commented on #8921
- latest stable **release**: https://vanity-service.parity.io/parity-binaries?version=stable-release
- latest beta **release**: https://vanity-service.parity.io/parity-binaries?version=beta-release
- latest stable _branch head_: https://vanity-service.parity.io/parity-binaries?version=stable
- latest beta _branch head_: https://vanity-service.parity.io/parity-binaries?version=beta

[2018-06-20 07:38] S3bb1 commented on #8921
yep recognized that. I've read the documentation here https://github.com/paritytech/push-release and there it says

on the parameter for the checksum

thx for figuring it out!

[2018-06-20 08:07] Tbaut commented on #8923
@palevoo feel free to ask anything regarding testing or design. The screen in the example is a suggestion, feel free to propose anything that you'd find better/nicer...

[2018-06-20 08:45] Tbaut commented on #8927
I guess we should make sure they run per default on different directories.
The keys should be shared.

[2018-06-20 09:12] debris commented on #5484
I believe @gitcoinbot is wrong here. The issue is already resolved and the bounty belongs to @gnunicorn

[2018-06-20 09:19] Tbaut commented on #6916
I don't get it, it is in the general params in the wiki:
![image](https://user-images.githubusercontent.com/33178835/41649381-bbc6ef18-747b-11e8-9c43-22b5b090bcff.png)

[2018-06-20 09:20] 5chdn commented on #6916
Sorry, I'm blind. :see_no_evil:

[2018-06-20 09:20] 5chdn commented on #6916
@themandalore please upgrade your node

[2018-06-20 09:27] 5chdn commented on #8927
I don't see why this is relevant. It has never been possible to run two instances with the same data directory.

[2018-06-20 09:55] Tbaut commented on #7966
@ammar4243 This discussioin is closed. Please have a look at https://wiki.parity.io/FAQ#how-to-get-parity-in-sync-quickly or pay us a visit on our [Gitter channel](https://gitter.im/paritytech/parity) should you have further questions.

[2018-06-20 10:39] phahulin opened #8933 "Peer discovery issue - Error sending status request"
we run a poa-based network and I noticed that recently new nodes joining the network have very low peers count. This might be related to our security upgrade from 1.9.2 to 1.10.6.

"Old" nodes (the ones launched some time ago) maintain high peers count (30-40). However, when a new node joins the network peers count stays low (3-5). It appears that some of the old nodes no longer can be synced from

[2018-06-20 11:59] Tbaut commented on #8933
Duplicates https://github.com/paritytech/parity/issues/7531
Please run the node with `--no-discovery` or upgrade to 1.11.X

[2018-06-20 12:11] tjayrush opened #8935 "Core dump on long running, fully synced node"
_Before filing a new issue, please **provide the following information**._

(Got message: 'DB has been previously marked as corrpted, attempting repair."

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Long running node (many months, fully synced). I write software that very heavily hits against the node's RPC (m

[2018-06-20 13:15] phahulin commented on #8933
I updated parity to 1.11.4 both locally and on the remote node, but get the same error. Here's the [new log](https://gist.github.com/phahulin/4ee759b80c4ca02a6be6f35d933a0303)

[2018-06-20 15:39] vs77bb commented on #5484
@gnunicorn Mind clicking both 'Start Work' and 'Submit Work' [on Gitcoin here](https://gitcoin.co/issue/paritytech/parity/5484/538) in order to claim the bounty?

If you need a bit of ETH to make the submission, the [Gitcoin Faucet](gitcoin.co/faucet) can help.

[2018-06-20 16:33] Tbaut commented on #8935
This looks like https://github.com/paritytech/parity/issues/7748 and many others. The cause of this error could not be found. A full resync could each time resolve the issue.
Checking your RAM and SSD for error could also help.

[2018-06-20 17:18] tjayrush commented on #8935
DB corrupted: Invalid argument: You have to open all column families. Column families not opened: col3, col0, attempting repair

Also -- on the issues you referenced it says run memtest and system health. Can you explain to me how to do that?

I rebooted the machine.

[2018-06-20 20:39] ankitchiplunkar opened #8937 "Misleading storage from trace_replayTransactions upon executing suicide on contract"
_Before filing a new issue, please **provide the following information**._

## Issue:
Misleading storage from `trace_replayTransactions` upon executing suicide on contract.

#### Expected
Suppose a contract has 2 positions [`pos1`, `pos2`] in its storage with values [`value1`, `value2`] respectively. After contract suicide the storage of the contract should be wiped out. Thus a sample response of

[2018-06-21 00:36] roninkaizen commented on #8933
as you open each node individually and delete the nodes.json from the chains directory
and recheck, it could work again,
-->tested in distributed ubuntu 18.04 environment with poa-standard.environment as discribed within the wiki with 4 nodes over 4 hours parallel connect to main.chain with version parity_1.10.7<--

[2018-06-21 00:49] roninkaizen commented on #8927
works fine with 2 different config.toml files since version 1.9.x-
always tested with at least one node-
some examples within the wiki would be nice, to make the user aware of the
exact handling while using parity db kill in such constellations

[2018-06-21 04:04] eqzip opened #8938 "warp restore stopped at some Syncing snapshot number even after the restart the problem still exists so can not finished the syncing process"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]
[code]
[code]
... <edited>

[2018-06-21 04:15] eqzip opened #8939 "Parity syncing stopped at some block"
_Before filing a new issue, please **provide the following information**._

Which Parity version?: 1.11.3
Which operating system?: MacOS
How installed?: via installer
Are you fully synchronized?: no
Which network are you connected to?: ethereum
Did you try to restart the node?: yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduc

[2018-06-21 09:09] Tbaut commented on #8935
- Memtest: https://askubuntu.com/questions/591488/how-do-i-run-memtest86
- Disk test: https://askubuntu.com/questions/59064/how-to-run-a-checkdisk

[2018-06-21 10:06] andresilva commented on #8904
Can you check whether this is `parity` specific or does it also happen in `geth`? It would be easier if you could provide a smaller reproduction case (minimal set of contract functionality that triggers the issue).

[2018-06-21 10:08] Tbaut commented on #8937
Can you please try with 1.11 as https://github.com/paritytech/parity/pull/8297 should solve your problem. I couldn't try as I do not have any `archive` + `tracing` node handy.

[2018-06-21 10:09] Tbaut commented on #7176
in 1.11

[2018-06-21 10:16] Tbaut commented on #8904
@debris had ideas regarding this as it might be related to the way we call functions in the EVN with unlimited gas.

[2018-06-21 10:23] Ochir opened #8942 "Bad instruction fe"
_Before filing a new issue, please **provide the following information**._

_PoA network with 2 nodes at the same machine.
Using web3.js for sending requests.
Sometimes we got error "VM execution error".
And this error is reproduced only with 1.11.x versions.

eth_call was sent and got response `{"code":-32015,"message":"VM execution error.","data":"Bad instruction fe"}`.

Below part of log with t

[2018-06-21 10:30] cedricfung commented on #8904
I don't have geth, but I have called this function to the etherscan API, it
works

On Thu, Jun 21, 2018, 19:16 Thibaut S <notifications@github.com> wrote:

[2018-06-21 11:40] andresilva commented on #8904
It does work on Etherscan but doesn't return the appropriate result. Just returns "0x" because the contract runs out of gas. Currently in parity we have effectively unlimited gas for local calls, so if your contract is stuck on some loop it will keep looping "forever" (or just a really long time). I've capped the gas limit to make sure this doesn't happen (#8943). In the meantime you can enforce a

[2018-06-21 11:45] ankitchiplunkar commented on #8937
Updated to `1.11.4` using `bash <(curl https://get.parity.io -L)`

Still get the same misleading result.

#### Command
[code]

#### Relevant result
[code]

https://github.com/paritytech/parity/pull/8297 deals with *adding account* information to `stateDiff` after contract refund, this issue deals with *removing the contract storage* to `stateDiff` after contract suicide.

[2018-06-21 12:34] jjperezaguinaga opened #8945 "Please unregister MyB token"
👋 hi! We did a token swap a few weeks ago, and now our MyB token is officially MYB token 🎉

We are about to finish registering our token into your registry, so now we kindly ask you to remove our old one to avoid any confusions.

Old rusty MyB token - https://etherscan.io/address/0x94298f1e0ab2dfad6eeffb1426846a3c29d98090
New shinny MYB token - https://etherscan.io/address/0x5d60d8d7ef6d37e16ebabc

[2018-06-21 13:30] Tbaut commented on #8937
I could access an archive node and can confirm.

[2018-06-21 13:35] vs77bb commented on #8725
Thanks for the update @shamardy - snoozing Gitcoin bot for a bit here.

[2018-06-21 14:21] c0deright commented on #8618
My test machine is running 1.11.3 for 15 days now and I will keep running that version some more days to see if memory usage is increasing over time.

version | running (days) | VIRT (GB) | RES (GB)
-|-|-|-
1.11.0 | 8  | 5.40 | 2.851
1.11.1 | 14 | 5.47 | 3.324
1.11.3 | 15 | 5.29 | 3.091

Will report back in 2 weeks.

[2018-06-21 14:58] Tbaut commented on #8938
I edited your post. Please format your issue next time to make it readable using  ` ``` ` and avoiding to post too many times the same behavior.

This looks related to this issue: https://github.com/paritytech/parity/issues/8825

Can you tell if your CPU is running high or a lot of RAM is used when the process is stuck?
Can you confirm that this does not happen on 1.10.7?

[2018-06-21 14:59] Tbaut commented on #8939
Duplicates https://github.com/paritytech/parity/issues/8938

[2018-06-21 14:59] #8939 closed

[2018-06-21 16:39] dkrupiza commented on #8747
We checked the most current code of #8490 and miner rewards for blocks as well as uncles are not reflected in the `stateDiff`. Having this data in the `stateDiff` would be great, as it would provide a complete picture of the state change (at the moment, only the `stateDiff` of transactions is presented).

[2018-06-21 17:03] cedricfung commented on #8904
Yes, the gas limit fixes the problem

[2018-06-22 00:10] vnistor commented on #8905
Since updating to branches 1.10 and 1.11, our Ropsten node keeps crashing without an error.  Seems to have gotten worse in 1.11.4-beta. In 1.11.3 it would run for a few hours. Now it doesn't even last 1 minute.
5 < RPC / second.
While running in DEBUG, one of the last messages displayed is:
`dapps  Handling endpoint request: (None, None), referer: None`
We have
[code]

[2018-06-22 03:56] oogetyboogety commented on #8604
Cython example
https://github.com/paritytech/parity/pull/8947

[2018-06-22 06:38] liwei00wade opened #8948 "Can I use parity as plasma chain ?"

[2018-06-22 08:44] Tbaut commented on #8942
If I read that well you are calling the same function (witht the signature `0xeaf486ff`) multiple times with different arguments and it works properly.

Calling the function `0xa4edccb4` throws a `VM execution error`.

Can you please tell us more about this function/contract?
Does it happen ever time you call this specific one?

[2018-06-22 08:49] dvdplm opened #8950 "Decouple MemoryDB from RLP"
Currently the `memorydb` crate has a [hard dependency](https://github.com/paritytech/parity/blob/master/util/memorydb/src/lib.rs#L214) on `rlp`.

Make it generic over the encoding scheme using the `NodeCodec` trait from https://github.com/paritytech/parity/pull/8739.

[2018-06-22 09:12] #8311 closed

[2018-06-22 09:12] #8904 closed

[2018-06-22 09:34] briansoule commented on #8843
+1 also experiencing similar issues in a datacenter
`Syncing #4727543 0x6ee3…5a52     0 blk/s   70 tx/s   3 Mgas/s      0+  389 Qed  #4727934   26/50 peers      6 MiB chain   18 MiB db   46 MiB queue   15 MiB sync  RPC:  0 conn,  0 req/s,   0 µs`

[2018-06-22 09:56] #8929 closed

[2018-06-22 10:06] Tbaut commented on #8933
This Error appears here: https://github.com/paritytech/parity/blob/2060ea5de388f7b3b515ba5c2d58425585a8ac1e/ethcore/sync/src/chain/handler.rs#L128

It actually looks like you have connectivity issues. How many nodes do you have on the network?

[2018-06-22 12:16] Tbaut commented on #8825
Still happening on master from this morning.

[2018-06-22 12:21] Ochir commented on #8942
@Tbaut  we found out the reason of this bug.
We have contract with the following structure of storage:

struct Entry {
    uint[] items;
}
mapping (uint => Entry) Map;

The problem occurs when we get item at some index from items array but struct doesn't exist in mapping:

return Map[123].values[1];

So we guess that if Map[123] is not present items is empty array. In this case, Parity 1.10.6  ret

[2018-06-22 12:32] phahulin commented on #8933
In total there are about 60 nodes, we keep a list of 12 of them to use as `--reserved-peers` for new nodes joining the network and then it usually grows up to 30-40 peers.
I just check that telnet on 30303 port works for all 12 nodes except 1, so seems like there are 11 available peers in the list.

[2018-06-22 14:31] rudolfix commented on #8746
we have exactly same issue, 4 nodes behind load balancer on Digital Ocean with significant traffic being handled nicely EXCEPT `net_version` method call which takes 10-30 seconds.
Is there a plan to fix it?

[2018-06-22 14:47] Tbaut commented on #8905
@vnistor  Can you please tell us more about your configuration?

[2018-06-22 15:11] vnistor commented on #8905
Running inside a public subnet in AWS.

[code]

[2018-06-22 15:19] vnistor commented on #8905
`DEBUG before crash:`

[code]

[2018-06-22 15:43] Tbaut commented on #8933
It can take a while to connect to all nodes, but the reserved-peers should definitely connect quickly. Alternatively, you could try to sync with `--reserved-only` and check the logs to see what happens.

[2018-06-22 16:00] kyledewy commented on #8945
Hey @Tbaut, unless I'm missing something it seems the unregister function has an onlyOwner modifier instead of an onlyTokenOwner modifier.

[code]

[code]

[code]

[2018-06-22 16:01] phahulin opened #8954 "Error importing ancient block: Author is not a current proposer"
_Before filing a new issue, please **provide the following information**._

When using current master and trying to sync with an existing chain, I get a bunch of errors like this
[code]
after that the sync seem to continue normally.
We use PoA-based network with validators via safeContract.

[2018-06-22 16:50] crueber opened #8956 "RPC call to trace_filter not returning all block data that is available via trace_transaction"
Linux docker bin (on a huge box that has plenty of room to grow).

Version info: Parity/v1.10.4-stable-39b9f1e-20180514/x86_64-linux-gnu/rustc1.25.0

Args: `--unsafe-expose --mode=active --jsonrpc-server-threads 10 --jsonrpc-threads 10 --tracing on --pruning archive --chain mainnet --cache-size 8192 --cache-size-state 1024 --cache-size-db 4096 --min-peers 25 --no-serve-light --no-ui --ws-interface

[2018-06-22 18:09] 5chdn commented on #8945
Yeah, unfortunately the owner can not unregister it.

[2018-06-22 18:30] gaia opened #8957 "Set Network IP For Node"
how do i set
[code]

in the toml? I tried this with and without quotes around the IP
[code]

Since I am trying to get up and running quickly, I also tried to just put it into parity.service, with and without quotes:

`ExecStart=/usr/bin/parity --interface=<IP>`

Additionally, there is no option --interface under [Network] in in https://paritytech.github.io/parity-config-generator/ either

That bei

[2018-06-22 20:06] UGatgithub commented on #8212
1.11.4 beta still shows this issue!

[2018-06-22 21:59] tjayrush opened #8958 "Invalid compaction profile given. Expected default/hdd/ssd."
_Before filing a new issue, please **provide the following information**._

  version Parity/v1.10.6-stable-bc0d134-20180605/x86_64-macos/rustc1.26.1
Copyright 2015, 2016, 2017, 2018 Parity Technologies (UK) Ltd
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permit

[2018-06-22 22:00] tjayrush commented on #8958
Never mind. Started with invalid option

[2018-06-22 22:00] #8958 closed

[2018-06-22 22:52] jjperezaguinaga commented on #8945
@5chdn thanks for reopening the issue. Unfortunately we can’t register the new contract until the old one is removed. We appreciate your support!

[2018-06-22 22:58] Pzixel commented on #8829
Just had same behavior for simultaneous 20000 requests with client-side nonce management. ~1700 requests got confirmed in ~10 minutes then the network just hanged.

[2018-06-23 00:45] roninkaizen commented on #8957
![aw](https://user-images.githubusercontent.com/17592883/41803966-83a600fe-768f-11e8-8441-2515e6efbebb.JPG)
?

[2018-06-23 00:58] eqzip commented on #8938
@Tbaut Thanks for your kindly replay! sure my cpu is almost 100% on running. And my total memory is 4GB I used 2048mb for parity and the memory usage is more than 80%. I have tried several times on 1.10.7 seems this issue doesn't exist. But on 1.10.7 I meet another issue. The warp restore stopped at “7.02% warp restore22/25 peers” but in the node logs the sync is continuous running the syncing blo

[2018-06-23 02:00] mttmartin commented on #8841
Has this been fixed already, or am I missing something? I seem to see both mixHash and nonce fields getting returned. On the latest master branch I am getting this:

[code]

[code]

[2018-06-23 08:00] antonislav opened #8959 "How to extract genesis block via JSON RPC"
Is it possible to extract the genesis block, i.e. the inital balace allocations, using parity? For example on the mainnet. The usual RPC calls return empty results for block 0.

I searched through this repo and couldn't find the genesis block hardcoded anywhere. So it must be retrieved during syncing and there should be a way to extract it somehow.

[2018-06-23 09:20] antonislav commented on #8959
Didn't search hard enough. The information is in the file `ethcore/res/ethereum/foundation.json`.

[2018-06-23 09:20] #8959 closed

[2018-06-23 15:07] artjoma opened #8960 "Slow performance POA"
Parity:

        Which Parity version?: 1.10.7
        Which operating system?: Ubuntu server 16.04
        How installed?: via installer
        Which network are you connected to?: private POA.
        Did you try to restart the node?: yes

Hi folks ! I have a question about tuning and optimization Parity settings for POA network with block every 4sec. My network has 3 simple Parties and 3 valid

[2018-06-23 16:11] 5chdn commented on #8426
This is an extension issue, isn't it? We are not providing anything on :8180 anymore, so not much we can do on client side, right?

[2018-06-23 16:28] 5chdn commented on #8825
Oh, the other one is _not_ during warp sync. So we have two distinct issues here :-(

[2018-06-23 16:31] 5chdn commented on #8905
Is there anything in system logs? dmesg?

[2018-06-23 16:32] 5chdn commented on #8618
Can you confirm this oom happens _not_ during a warp sync but while under normal load?

[2018-06-23 16:42] 5chdn commented on #8843
Could anyone confirm this is not happening with 1.10.7?

[2018-06-23 16:47] 5chdn commented on #8843
That's very likely related to CryptoKitties congestion. https://qz.com/1145833/cryptokitties-is-causing-ethereum-network-congestion/

This is a very huge contract and would explain why it requires so much read operations and slows down the synchronization, especially on archive nodes significantly. Question remains: Is this worse compared to older versions or Parity?

[2018-06-23 16:53] 5chdn commented on #8813
@XertroV @Njcrypto can you confirm this is fixed (or not) with 1.11.4?

[2018-06-23 16:58] 5chdn commented on #8938
Looks like your node is just losing warp peers. Can you try the following?

1. Reset the database: ` /Applications/Parity\ Ethereum.app/Contents/MacOS/parity db kill`
2. Locate and remove `/Users/apple/Library/Application Support/io.parity.ethereum/chains/ethereum/network/nodes.json`
3. Restart with warp barrier: `/Applications/Parity\ Ethereum.app/Contents/MacOS/parity --warp-barrier 5800000`

Pl

[2018-06-23 16:59] 5chdn commented on #8689
That gist is gone.

Didn't we fix this deadlock? @gs201510 does this happen with the latest master?

[2018-06-23 17:08] 5chdn commented on #8217
@debris @folsen what's the status of this?

[2018-06-23 17:55] #8004 closed

[2018-06-23 17:57] 5chdn commented on #7967
Splitting the database into multiple disks does not address this issue directly, but would allow users to plug some devices together based on availability.

[2018-06-23 17:59] gaia commented on #8957
Can I add an IP after extip:? Because depending on the interface used, the external IP address will be different. There are two available, one is static the other is dynamic. I would like to force parity to use the dynamic one, with unmetered bandwidth.

[2018-06-23 18:03] 5chdn commented on #7880
Fails at `header_step()` here:

https://github.com/paritytech/parity/blob/master/ethcore/src/engines/authority_round/mod.rs#L494-L498

I'm unsure why this is related to sending transactions. You are not running an Authority on Kovan, are you?

[2018-06-23 18:04] 5chdn commented on #7865
Is this still something we want to do?

[2018-06-23 18:05] #7162 closed

[2018-06-23 18:07] 5chdn commented on #7080
What's a realistic timeline for the 2nd hardfork @andresilva

[2018-06-23 18:10] 5chdn commented on #8842
Should be easily fixable by checking permissions

[2018-06-23 18:11] 5chdn commented on #8804
#8664  :)

[2018-06-23 18:11] #8769 closed

[2018-06-23 18:13] 5chdn commented on #8764
Please reset your database and try again. If this persists, it's maybe a disk corruption? Also, try to cleanly shut down your parity node.

[2018-06-23 18:13] #8502 closed

[2018-06-23 18:14] 5chdn commented on #8345
Pull requests welcome :)

[2018-06-23 20:56] littleskunk opened #8961 "5MB limit for RPC requests"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**expected behavior**

I am running a script. I use web3 batch to send one single rpc request containing a few thousend balanceOf requests. In parity 1.9.3 it was working fine.

**actual**

I

[2018-06-24 04:15] XertroV commented on #8813
@5chdn its not going to be that easy for me to check now.

I think the original reasons we were getting this error is the "abuse" we were having via publicly accessible eth_sendRawTransaction (relating to #8820). I've made two (workaround) mitigations since then: upping the ulimit and cutting off an "easy way" they were sending RPC messages. I'd have to undo those and try and find some spammers :P

[2018-06-24 07:00] partyspy commented on #7730
Looks like a bug. But adding `--no-persistent-txqueue` did resolve the transfer-stucking problem.

[2018-06-24 10:33] #8922 closed

[2018-06-24 10:33] #8852 closed

[2018-06-24 10:34] #8888 closed

[2018-06-24 10:34] #8877 closed

[2018-06-24 10:34] #8789 closed

[2018-06-24 10:34] Pzixel commented on #8829
Well, we tried everything, but after we have written ~50k blocks network slowed down to 1tx/sec (from original 40tx/sec). I don't know what else can I do: I did client nonce checking and signing (it indeed speeded up the whole network), I removed extra authority nodes to lower networking, but it just doesn't work. I didn't toush any settings, but at some point it just slows down.

When network was

[2018-06-24 10:35] #8772 closed

[2018-06-24 10:35] #8724 closed

[2018-06-24 10:36] #8567 closed

[2018-06-24 10:37] 5chdn commented on #8397
Please follow the instructions here:

https://dev.to/5chdn/solving-the-problem-with-ethereum-cross-client-private-networks

[2018-06-24 10:37] #8397 closed

[2018-06-24 10:39] #8389 closed

[2018-06-24 10:40] 5chdn commented on #8389
Might be worth asking on https://ethereum.stackexchange.com to attract a broader audience.

[2018-06-24 10:40] #8141 closed

[2018-06-24 10:40] #8015 closed

[2018-06-24 10:42] #8593 closed

[2018-06-24 10:43] #7572 closed

[2018-06-24 10:43] 5chdn commented on #7958
closing in favor of #8696

[2018-06-24 10:43] #7958 closed

[2018-06-24 10:44] #8652 closed

[2018-06-24 10:45] #8881 closed

[2018-06-24 10:46] #8894 closed

[2018-06-24 10:48] 5chdn commented on #2913
Can help out here, just couldn't figure out how to hide them without breaking the whole logic of managing the CLI options.

[2018-06-24 11:42] 5chdn commented on #8779
`--fast-and-loose` does not cause any issues if you do a clean exit. But you often do not have control over how parity exits. Of course, it always tries to cleanly close the database and shut down. But what if your kids pull the power plug or your Bitcoin ransomware forces a reboot on your machine? Just try to avoid that flag. #8963

[2018-06-24 11:51] 5chdn commented on #8960
1. What's your actual block gas limit? What's your gasLimit in Genesis? Try starting with a high value, as Parity can only increase it by +1/1024 each block towards the desired gas-floor-target.
2. Reduce the bock time. Try 2 seconds.

[2018-06-24 11:51] #8960 closed

[2018-06-24 11:54] 5chdn commented on #8948
No

[2018-06-24 11:54] #8948 closed

[2018-06-24 11:59] 5chdn commented on #7746
What most likely happened here is that the blocks #772000...002 are valid both for the old and new validator contract. Can you check that? If yes, this is actually desired behavior.

[2018-06-24 12:04] 5chdn commented on #8616
Can you please test if this still happens with 1.11.4?

[2018-06-24 12:06] #8328 closed

[2018-06-24 12:15] #8552 closed

[2018-06-24 12:18] MicahZoltu commented on #8779
This does not appear to be true and is the source of all of this confusion.  If you clean exit (e.g., SIGINT or SIGTERM) Parity will drop the DB if using `--fast-and-loose`.  It appears `--fast-and-loose` doesn't actually write anything to disk or something.

I'm totally fine with `--fast-and-loose` corrupting the database on the way out during a power failure or SIGKILL.  My expectation (as a use

[2018-06-24 12:29] #8846 closed

[2018-06-24 12:37] #8661 closed

[2018-06-24 12:37] phahulin commented on #8933
This is basically what it did - I started with 0 peers and add a single peer as reserved peer. Link to logs are above.

[2018-06-24 12:47] #8698 closed

[2018-06-24 12:50] 5chdn commented on #8954
Uh, oh, did you have updates to the validator sets at some point?

[2018-06-24 12:52] 1scrooge opened #8964 "Docker container exited with code 139"
Sometimes docker container exit with code 139 and message:
[code]
Helps restart docker. It is not periodically, different time. Yesterday was 2 times

[2018-06-24 12:58] phahulin commented on #8954
Yes, we have a list of validators changed within a contract + we had some forks when validator contract itself changed (using `multi`).

[2018-06-24 13:21] phahulin commented on #7746
How can I check for that?
I resynced with `--no-warp` using 1.10.6

1. removed 772000 hardfork from genesis file and started sync. Got the same error message:
[code]
this is expected

2. then I corrected genesis file and restarted parity - it still can't get past that block
[code]
Interestingly, block number in 11th column started to change

[2018-06-24 13:50] axelchalon commented on #2913
@5chdn wrapping `if $group_name != "Legacy options" { ... }` around https://github.com/paritytech/parity/blob/dec390a89fe038337399315daf15e628ffbb4d8e/parity/cli/usage.rs#L446-L509 does the trick.

[2018-06-24 15:54] amexperts opened #8965 "jsonrpc module "parity" not available"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I have started parity with `parity --datadir /mnt/parity --jsonrpc-apis web3,eth,pubsub,net,parity,parity_pubsub,traces,rpc` also tried just `jsonrpc-apis safe` - when I then do geth attach a

[2018-06-24 16:53] cle1000 opened #8966 "g55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555hhhhhhhh"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2018-06-24 16:53] roninkaizen commented on #8965
in detail you try to call this
https://wiki.parity.io/JSONRPC-parity-module.html#parity_pendingtransactions ?
the call can be done with curl -
why are you using "geth attach" in your configuration?
-> as you tried the call it without, does it work like intended?

[2018-06-24 16:54] #8966 closed

[2018-06-24 16:59] 5chdn commented on #7746
Let it run for a bit, it should reorg.

[2018-06-24 16:59] #7746 closed

[2018-06-24 17:01] cle1000 commented on #8966
Sorry for the invalid issue. But actually it was not my fault

![cat](https://user-images.githubusercontent.com/5902525/41821424-e6953390-77e0-11e8-9240-c3c17b17944b.jpg)

[2018-06-24 17:10] amexperts commented on #8965
Yes, I can call with curl no problem. I was using geth attach as a convenient way for testing.. ie eth.syncing works nicely - eth being one of the JSONRpc modules, so I guess not all of the modules are exposed in the same way :)

[2018-06-24 17:21] 5chdn commented on #8966
Amazing. :cat2:

[2018-06-24 19:15] artjoma commented on #8960
Block with 501txs
gasLimit: 100000000000
gasUsed: 56866112
size: 122549

[2018-06-24 20:29] 5chdn opened #8968 "Parity 1.11 / 1.12 sync deadlock"
- Parity//v1.12.0-nightly-dec390a-20180622/x86_64-linux-gnu/rustc1.27.0
- Parity//v1.11.5-beta-13e2c00-20180622/x86_64-linux-gnu/rustc1.27.0

- Ubuntu Linux, from source

- no, Ethereum

I had four nodes running for 36 hours, 1.9.8, 1.10.8, 1.11.5, and nightly. Interestingly, the 1.11 and 1.12 node just deadlocked during sync. I noticed because they are on https://stats.parity.io/ which I'm monito

[2018-06-24 20:31] 5chdn commented on #8968
Escalating to P0 as this is a release blocker.

[2018-06-24 20:32] 5chdn commented on #8960
Interesting. At what rate are you generating the transactions? How many per second?

Are there any obvious network bottlenecks between the nodes?

[2018-06-24 21:19] 5chdn commented on #8968
lol nevermind, this is Azure fucking up.

[2018-06-24 21:19] #8968 closed

[2018-06-25 01:56] dilatebrave commented on #8835
i'm sill working on this issue

[2018-06-25 06:52] stone212 opened #8969 "Parity browser UI is deprecated."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

After upgrading to 1.10 stable, when I go to my Parity UI address at 127.0.0.1:8180 I get the error:

Parity browser UI is deprecated.

Obviously the UI has been made a separate software.  An

[2018-06-25 07:18] artjoma commented on #8960
Test generate ~210tx/s. No, any network issues found. All peers located in same DC.

[2018-06-25 07:26] zhjgit opened #8970 "Aborting seal generation for invalid step: 1529909210 > 764954879"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
----------------------
parity node update block time,restart parity node ,
this is a problem : Aborting seal generation for invalid step: 1529909210 > 764954879,
how should i solve it ?

[2018-06-25 07:29] 5chdn commented on #8969
Hi Stone,

this https://wiki.parity.io/Parity-Wallet

[2018-06-25 07:29] #8969 closed

[2018-06-25 07:32] sauliusgrigaitis commented on #8397
@5chdn could you tell why is it closed? The problem is not with the setup (chains runs correctly for hundreds of thousands of blocks), but it stops at some point with the error described above.

[2018-06-25 07:33] 5chdn commented on #8970
Hello. Please upgrade to 1.10.7 or 1.11.4.

Also, please share the full log that precedes the error message you pasted above. What does your configuration look like?

[2018-06-25 07:39] 5chdn commented on #8397
It's a problem with the setup but it's only triggered with some transaction in a certain block. It's really hard to tell from my chair what can cause this. The best would be to cleanly setup a new network based on the learnings I shared in the article linked above.

[2018-06-25 07:41] sauliusgrigaitis commented on #8397
Thanks @5chdn. It's interesting as the configs were generated with Puppeth. So it means we should open a ticket at `go-ethereum` project?

[2018-06-25 07:47] 5chdn commented on #8397
Sounds reasonable.

[2018-06-25 08:05] stone212 commented on #8969
@5chdn  Thank you for sending that link.  It is strange that that doesn't come up in search (https://wiki.parity.io/index.html?q=Parity+UI)

But it doesn't have the answer I need.  If you interpret my question as "How do I start the Parity UI" and that link says "launch Parity UI" with no instructions or link then I don't have an answer.

After some trial and error I find that there is a command c

[2018-06-25 08:10] stone212 opened #8971 "(parity-ui:1693): Gtk-WARNING **: cannot open display:"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

1. Install Parity-UI

2. type "sudo apt-get -f install" to install dependencies

3. type "sudo apt-get install libasound2" because that is not included somehow

4. type "parity-ui" as root or

[2018-06-25 08:16] 5chdn commented on #8618
I can confirm this on all versions 1.9.8, 1.10.8, 1.11.5 and 1.12.0 unfortunately.

[2018-06-25 08:38] gaoxiangxyz commented on #8616
@5chdn I deleted whole db and re-synced from scratch with 1.10.3 and the issue does not happen again.

[2018-06-25 08:41] 5chdn commented on #8616
Ok. Please upgrade to 1.10.7 or 1.11.4!

[2018-06-25 08:41] #8616 closed

[2018-06-25 08:42] 5chdn commented on #8971
Please report this in the UI repository https://github.com/Parity-JS/shell/issues

[2018-06-25 08:42] #8971 closed

[2018-06-25 08:52] tomusdrw commented on #8829
@Pzixel I don't see relation to the original issue any more, it seems that it's not a problem of slow RPC any more, it's somehow the whole network that is runing slow for you, right?

I'd close that issue and create a new one (or rename that one) to keep the discussion focused.

Could you also provide logs from both nodes (authority node and the node that you submit transactions to) with `-ltxqueu

[2018-06-25 09:38] edevil commented on #8675
Sorry guys, forgot about this issue.

So I tried in Kovan, the contract has address ```0xafF2e125054693758CB14fD7Ee03c4a8800aaAAA``` and got the same error:
```ValueError: {'code': -32015, 'message': 'Transaction execution error.', 'data': 'Internal("Requires higher than upper limit of 79921890")'}```

I used parity 1.10.7 and started it with ```parity --chain testnet```. @dvdplm

[2018-06-25 10:01] Tbaut commented on #8841
Your totally right @mttmartin these fields make no sense on PoA as there is no mining involved. I missed it.

[2018-06-25 10:01] #8841 closed

[2018-06-25 10:57] c0deright commented on #8618
@5chdn My test machine was a fully synced 1.9.7 node. And since it's config has `tracing = "on"` warp sync is disabled. This happened after several hours of normal 1.11.0 usage: parity was importing blocks and a monitoring machine did send 2 rpc calls every 5 minutes. `cache_size = 2000` seems to be to much with parity-1.11 with _only_ 4 GB of RAM.

[2018-06-25 11:03] 5chdn commented on #8618
@c0deright are you running any monitoring like ethstats on that machines?

[2018-06-25 11:11] c0deright commented on #8618
Nope. I have a machine running cacti and that machine just asks via snmpd the parity RPC daemon for `eth_blockNumber` and `net_peerCount` every 5 minutes.

I just discovered the test machine's parity died at the weekend because /home was full. damn. have to add alerts for the test machine to avoid that.

[2018-06-25 11:20] amexperts opened #8974 "Losing peers and falling out of sync"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

My parity node is dropping peers quickly and then falling out of sync. I have to restart often, at which time it connects to a bunch of peers, manages to sync and then shortly there after pee

[2018-06-25 11:43] 5chdn commented on #8974
Please share logs.

[2018-06-25 11:43] amexperts commented on #8974
How do I enable logs sorry

[2018-06-25 11:45] amexperts commented on #8974
![screen shot 2018-06-25 at 1 44 03 pm](https://user-images.githubusercontent.com/28491705/41848502-efa598b0-787d-11e8-96cd-9cfc462a24c1.png)

In meantime.. this is after about 30mins

[2018-06-25 12:15] 5chdn commented on #8974
And after that? Please show some more :)

[2018-06-25 12:34] roninkaizen commented on #8966
this is very
new -
cak (cat.at.keyboard) .cak -
nicest picture of an issuer ever seen although the topic
could have been --miaow=1 --cak= 1

[2018-06-25 12:39] phahulin commented on #7746
It doesn't reorg. With time it looses all peers and disconnects from the network. I tried to restart, but the end-result is the same.

[2018-06-25 12:44] 5chdn commented on #7746
reset the DB and try again

[2018-06-25 12:45] 5chdn commented on #7746
can you check whether `#772002 0b64…51a4` is the same block as the `#772002` on the other chain?

[2018-06-25 13:04] Tbaut commented on #8964
Could you check your RAM and Disk for errors?

[2018-06-25 13:56] asmodat commented on #8764
Database reset - db kill of course works every single time, but then it takes 1-2 working days to resync... Which basically makes it useless as part of some production environment. What's extra odd is that its not the "latest" part of db that is breaking, but most often, something that was originally created by parity day, weeks or months ago... I don't understand how file that should most likely

[2018-06-25 13:59] amexperts commented on #8974
after that it stalled.. you can see it fell to 0 and then nothing.. I tried going back to parity 1.10 stable and that was better for awhile.. but same issue.

[2018-06-25 14:29] Njcrypto commented on #8813
It has solved the open file issue for me, #8974 keeps it from being a production client though. More on that in that thread.

[2018-06-25 14:38] foxfromabyss commented on #8747
If you replay a Block, the miner rewards are part of the block. Therefore they should also be the a part of the StateDiff of that block. But now the problem is, that the RPC call says replay transactions, but the miner reward do not constitute transactions per se. Nonetheless, they are an important part of the StateDiff for the block. Would it be correct to add a StateDiff to replay_block_transact

[2018-06-25 14:57] danuker opened #8976 "Light client gas estimation does not work"
I am running the light client (`--light` CLI option).

**Steps to reproduce**
When I try to get a gas estimation for a plain transaction, I get a weird "Unknown block number" error.
[code]

**Actual behavior**
```{"jsonrpc":"2.0","error":{"code":-32602,"message":"Unknown block number"},"id":1}```

**Expected behavior**
I should either get a real gas estimate, or a useful error message.

[2018-06-25 15:00] danuker commented on #8976
Note: While waiting for a "real" sync, I can get a proper response to `eth_estimateGas`.

[2018-06-25 15:04] gaia commented on #8957
Thanks for the reply, @Tbaut. What part of this ticket is being added to the 1.12 milestone?

If specifying an interface is not possible, I thought of two other solutions.

A) Let some other mechanism update a DDNS service, and enter a domain name in the config.
B) I will script updating the config with the dynamic IP and restarting parity on my own when the IP changes

[2018-06-25 15:13] Tbaut commented on #8974
This always drops to 0 suddenly?
Could you provide some logs such as `-l network`?

[2018-06-25 15:48] phahulin commented on #7746
I'm not sure I understand what you want me to do. So here's what I did
1. synced from 0 to 772002 with incomplete genesis (missing fork at 772000). Checked hash of 772002 = 0x0b6439397610c4e9d2ed3abb6d1ef04bb470fe79be859c22ec372216dc3d51a4
2. replaced genesis file with correct one (including fork at 772000), restarted parity (not resynced!). Syncing doesn't continue past 772002 anyway, peers count

[2018-06-25 16:02] amexperts commented on #8974
yes, always drops quickly.. pretty much as soon as it is completely synched it starts dropping. Unfortunately, for now I have switched to trying geth again, as I have a server that costs me to much to have sitting now working.

I increased CPU and mem.. and again it helped for a bit.. but not for long

[2018-06-25 16:09] foxfromabyss commented on #8747
The current implementation of trace_replayBlockTransactions depends on TraceResults. Without adding a transaction (which would need a concept of an account that gives the miner its rewards) we can not add the information about the miner block/uncle reward to the JSON. What would be a good way to solve this issue?

[2018-06-25 16:11] folsen commented on #7340
Indeed using `--fast-and-loose` and doing ungraceful shutdowns may lead to a DB left in a corrupted state, that's the loose part of using `--fast-and-loose`

[2018-06-25 16:15] folsen commented on #8696
Seems like it is a mix of a lot of different issues, @tomusdrw has fixed some but is still working on more. I think in general we could use some more eyes on profiling and figuring out where are the cycles are spent.

[2018-06-25 16:24] andresilva commented on #8747
There are traces available for rewards when you trace the block:

[code]

You can check for an action of type `reward` and you can also test the `rewardType` (block author, uncle, etc.)

We have the notion of a `SYSTEM_ADDRESS` which could be used to create these virtual transactions for block rewards. This would also be useful for other kinds of system-level transactions that are part of consensu

[2018-06-25 16:34] tomusdrw commented on #8696
In general the increased CPU usage could be caused by couple of things depending on the settings:
1. Increased peer count causing way ore communication (AES enc/dec)
2. Due to higher peer count transactions were received multiple times hence verified multitple times. In case of small queues it lead to a lot of CPU spent on ecrecover, nonce checking etc, even though the transaction was rejected eve

[2018-06-25 16:39] roninkaizen commented on #8974
is a reduction of peers possible,
had the the same, with hard limiting to 20 peers
i came to "productive" results

[2018-06-25 17:13] amexperts commented on #8974
![screen shot 2018-06-25 at 7 13 54 pm](https://user-images.githubusercontent.com/28491705/41864923-ce0885e0-78ab-11e8-8f83-d15ead97d45f.png)

toomanypeers error there.

[2018-06-25 18:38] folsen commented on #4172
This I can agree with, and Parity has started some significant work towards making Parity nodes talk libp2p.

I'm not sure how this makes light clients better/more possible? A light client needs all headers and that's really the only thing it needs, if you had an ethereum node that spoke libp2p that's all you'd need to run a light client in a browser. Unless you're proposing some new light client

[2018-06-25 19:43] codyborn opened #8978 "Parity install script failing for specific version"
The Parity client install script fails when using a specific version.  Example:
`bash <(curl https://get.parity.io -Lk) -r v1.10.6`

The problem is that the installation script will accidentally download the .md5 file instead of the .deb file.
https://raw.githubusercontent.com/paritytech/scripts/master/get-parity.sh

This began failing when the versioned vanity-service began returning .md5 files.

[2018-06-25 20:48] codyborn commented on #8978
Ignore this issue. Re-opening under correct repo:
https://github.com/paritytech/scripts

[2018-06-25 20:48] #8978 closed

[2018-06-25 20:55] Tbaut opened #8979 "Light client: Error removing stale DAG cache - PermissionDenied"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

During the light synchronization, the following error appears regularly:
`Error removing stale DAG cache: Os { code: 5, kind: PermissionDenied, message: "Accès refusé." }`
[code]

Some user w

[2018-06-25 22:09] mttmartin commented on #8909
I want to note that I have a lot of this done so far at: https://github.com/mttmartin/parity/tree/8909

@Tbaut, could you clarify what documentation you had in mind from your "Update the Doc." point? It would be greatly appreciated.

[2018-06-26 00:49] littleskunk opened #8981 "Local transaction dropped"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**expected behavior**

I have a few pending transactions. They have a low fee and will need days to get confirmed.

A few days later I add a new transaction. The new transaction should be add

[2018-06-26 06:04] kgcorps commented on #7880
No, I am not running an Authority. I am running node with this configuration out of the box and no additional tinkering has been done with the config:
**parity --chain kovan --tracing on --datadir=~/kovan --jsonrpc-interface all**

[2018-06-26 06:41] wcw84 opened #8982 "parity crash"
My parity node crashed, and after restart, it run normally.

Parity
  version Parity/v1.10.6-stable-bc0d134-20180605/x86_64-linux-gnu/rustc1.26.1

crash Log:
![image](https://user-images.githubusercontent.com/7152596/41893629-01b5d8cc-794f-11e8-8d27-b8df1c9511c3.png)

[2018-06-26 06:51] sasikumar13 commented on #5639
same error as erelsgl

[2018-06-26 07:40] sorpaas commented on #8405
I think we probably still need to keep this issue open for a while. Currently `parity-dapps-glue` crate is still in the code -- we would either need to remove it or do the refactoring described in this issue.

[2018-06-26 08:22] ankitchiplunkar commented on #8747
@andresilva I discovered for the first time that `trace_block` returns miner/uncle rewards.

[code]
In that scenario, if the method `trace_replayTransactions` is not appropriate for returning block rewards, can you enable `stateDiff` during the `trace_block`?

Example parameters:
1. `Quantity | Tag` - Integer of a block number, or the string 'earliest', 'latest' or 'pending'.
2. `Array` - Type of

[2018-06-26 09:10] Tbaut commented on #8956
I was not able to reproduce:

[code]

What do you get when being a little more precise with the `fromAddress`:
`curl --data '{"method":"trace_filter","params":[{"fromBlock":"0x50a6e7","toBlock":"0x50a6e7","fromAddress":["0x8547d336f6979a504db5c49e69236f31aeeef95c"]}],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545`

[2018-06-26 09:15] 5chdn commented on #8813
Thanks

[2018-06-26 09:30] tomusdrw commented on #8405
What is the glue still used for? As a workaround we can just hardcode the generated code instead of rewriting it.

[2018-06-26 09:31] #8519 closed

[2018-06-26 09:45] sorpaas commented on #8405
@tomusdrw For our current code we're only using the `WebApp` trait and `Info` struct. They're perfectly fine to be moved to `parity-dapps` crate. The only issue is that if someone wants to create a new builtin dapp (https://github.com/paritytech/parity/tree/master/dapps/js-glue) in a customized version of parity, they rely on the js-glue crate right now.

No matter what we do, this will eventually

[2018-06-26 09:51] Tbaut commented on #8976
Thanks for reporting the issue.
Can you try with "latest":
[code]

[2018-06-26 09:54] 1scrooge commented on #8964
@Tbaut I have 2 different virtual machines, and both have a problem

[2018-06-26 10:03] Tbaut commented on #8957
The v1.12 is a running version tracker to see in what release the fix was deployed. It does not mean that it will be fixed in 1.12.

cc @ddorgan regarding the questions and suggestions

[2018-06-26 10:07] Tbaut commented on #8974
@amexperts Could you please copy/paste the last 30sec in a [gist](https://gist.github.com/) as screenshots a not convenient to look at.

[2018-06-26 10:15] Tbaut commented on #8909
Sure @mttmartin, I mean doing a grep on the [wiki repo](https://github.com/paritytech/wiki/) to see where `jsonrpc` is used and replace it.

Also a small heads-up, (I didn't check on your repo) can you make sure to have an alias to handle backward-compatibility? This was mentioned in the comments below the first post.

[2018-06-26 10:42] Tbaut commented on #8981
Can you confirm that you are sending transactions with Parity UI?
Can you precise how you launch parity (which flags/toml file)?

[2018-06-26 11:03] littleskunk commented on #8981
Config added above.

I am sending transactions with web3. `web3.eth.accounts.privateKeyToAccount(...).signTransaction(...)` and `web3.eth.sendSignedTransaction(...)`

On the logfile they are listed as local transactions. `Local tx ... below minimal gas price accepted`
I can track the progress on parity UI. It is showing them as pending the same way a transaction send with parity UI would look like

[2018-06-26 11:09] Tbaut commented on #8982
Thanks for reporting the issue. This is probably due to a disk/RAM error.
We can reopen if this happens too often.

[2018-06-26 11:10] #8982 closed

[2018-06-26 12:45] dafky2000 commented on #8974
This issue has been plaguing me lately as well... I'll try to get a `-l network` asap but essentially it is dropping connections to all peers once it finally catches up and then gets out of sync again... Parity v0.10.7

[code]

[2018-06-26 15:25] amexperts commented on #8974
So. I tried again on a new server - 32GB Ram, 8vCPUS and a dedicated 500GB SSD - and it seems to be holding for now.. hovers around 10 peers

[2018-06-26 15:31] gaia commented on #8957
I have a machine at home which uses a static VPN from a VPS for other chains via a Wireguard tunnel.

Ethereum works well with IPs that change every couple months, and I hope Casper staking continues to do so. The other chains require static IPs (masternodes)

Given that parity uses most of the bandwidth, I'd like it on the physical interface running thru my home ISP, not the wireguard tunnel.

[2018-06-26 15:32] debris commented on #8217
it's already merged and integrated

[2018-06-26 15:32] #8217 closed

[2018-06-26 16:00] Tbaut commented on #8964
This is a database corruption that is most likely related to your hardware. Can you please run a disk test and Memtest?

[2018-06-26 17:51] drandreaskrueger commented on #7690
Could this possibly be the same problem that we see over there? --> https://github.com/energywebfoundation/energyweb-client/issues/24#issuecomment-399896244

They seem to have forked from parity 1.8.0 ...

[2018-06-26 19:07] 5chdn commented on #8945
Removed it. Sorry for the Delay. https://etherscan.io/tx/0x720d7f487239a9f59d44d18047a3d156175a0d36b909f24fa29a5b344b230398

[2018-06-26 19:07] #8945 closed

[2018-06-26 19:37] 5chdn commented on #7690
most likely. :)

[2018-06-26 20:31] ankitarora121 commented on #8746
Facing the same issue, `net_version` takes ~30 seconds. Strange!

[2018-06-26 23:45] stone212 commented on #8971
@5chdn Done.  I did look for a parity-UI project under paritytech.  It is confusing that the Parity-JS project is not under paritytech and also that Parity-JS is the term for Parity UI.  That's two related organizational bugs.

[2018-06-26 23:56] adyshimony opened #8987 "Kovan only 3 peers"
I'm running v1.9.3-beta on unbuntu 16.04, not synced yet, chain - kovan, restarted node.

I am getting only 3 peers on kovan, is that normal?

* nodes.json deleted and node restarted didn't help.

Thanks,
Ady.

[2018-06-27 02:36] Vagabondtq opened #8988 "Syncing slow and overload disk"
My parity config

Computer uptime more than 5 days, and i get: **4.731.002** blocks and disk is: **452G/500Gb SDD**
now, syncing very slow and disk is full. Where did I go wrong? eth blocks occupy more drive space.
When disk full 500Gb, what should I do?

Please help me

[2018-06-27 04:33] amexperts opened #8989 "Question: How is parity calculating web3.eth.getGasPrice()"
At the moment when I check it is always a lot higher than other places (ethgasstattion, ethstats etc).
I am using this to determine what gasprice to send transactions.. however, it seems this is making us pay a lot more than we need to.. parity reports 20 - others only 4 or 5.

[2018-06-27 07:00] adyshimony commented on #8987
Now I have 0 peers. Again, deleting nodes.json is not helping.

[2018-06-27 07:27] wnz99 opened #8990 "Log explanation"
Hi,
I have searched on this GitHub and on the documentation but could not find a definitive answer.

Could anyone please explain the precise menaining of each columns in the logs?

For example:

I would like to write a small bash script to monitor Parity, I/O on disks and related stats.

Thank you.

[2018-06-27 07:55] amexperts opened #8991 "Question"
How can I open up websocket to allow connection from outside.
It is all working fine internally - but no matter what I try from outside the server, I get conection not open.

Thanks

[2018-06-27 08:03] usd-yamazaki opened #8992 "How should I synchronize Ethereum and RDB?"
I recorded events that occurred on Smart Contract in RDB,
I want to make it searchable by SQL from another system.

If you record events that occurred on that day once a day in a batch program,
It is necessary to deal with deletion of events by reorg that occurred since the last process,
It seems that there is no function to detect reorg that occurred in the past.

How should I synchronize Ethereu

[2018-06-27 08:16] amexperts commented on #8991
sorry.. typo. working now.

[2018-06-27 08:16] #8991 closed

[2018-06-27 08:37] 5chdn commented on #8990
https://ethereum.stackexchange.com/questions/10491/what-does-parity-logs-means :)

[2018-06-27 08:37] #8990 closed

[2018-06-27 08:49] wnz99 commented on #8990
Thank you, I googled for the wrong terms I suppose. May I suggest to add this information to Parity wiki? I also had look in there and could not find anything.

[2018-06-27 09:49] artjoma commented on #8960
Any suggestions?

[2018-06-27 09:55] amexperts opened #8993 "web3.js:1 WebSocket connection to 'ws://localhost:8546/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED"
_Before filing a new issue, please **provide the following information**._

I am writing a frontend to interact with the node. But am getting the error above. This is only seen in the browser console. and the odd thing is, that on the same server - I am connecting fine with pretty much the same credentials... so something is not letting the browser talk to websocket.

browser code: (fails)
`const

[2018-06-27 10:03] ordian commented on #8990
https://wiki.parity.io/FAQ#what-does-paritys-command-line-output-mean

[2018-06-27 10:28] wnz99 commented on #8990
great, so I missed that one too.... thanks.

[2018-06-27 11:36] 5chdn commented on #8960
I don't see what's the question here. If you want more transactions per second you should generate more. It does not look like your blocks are full yet.

[2018-06-27 11:39] 5chdn commented on #8992
Just don't log any events until a block has 32 confirmations. Long reorgs are very unlikely. Be creative. :)

[2018-06-27 11:39] #8992 closed

[2018-06-27 11:42] 5chdn commented on #8988
Please enable `pruning = "fast"`. An archive node requires more than 1 TB disk space.

[2018-06-27 11:42] #8988 closed

[2018-06-27 11:46] ordian commented on #8988
https://wiki.parity.io/FAQ#what-are-the-parity-disk-space-needs-and-overall-hardware-requirements

[2018-06-27 12:00] tomusdrw commented on #8918
Could be fixed by #8977 ?

[2018-06-27 12:01] folsen commented on #8345
@debris me either :S I just went by the last report, it may be inaccurate, that's why I also put it in needs investigation

[2018-06-27 12:01] 5chdn commented on #8987
I have good news for you! Just upgrade your client to 1.10.7 or 1.11.4 and all your issues are belong to history!

[2018-06-27 12:02] folsen commented on #8405
Ping @axelchalon this might be something semi-related to what you're working on and of interest for you to look at?

[2018-06-27 12:04] artjoma commented on #8960
But Parity buffer txs, doesn't include to block. I can generate 800tx/s but the picture will be the same. Only growing an internal Parity pending txs queue but not a block gasUsed (txs count).

[2018-06-27 12:30] S3bb1 opened #8994 "Multi ValidatorSet not working as expected, doesn't validate new nodes but uses old contract"
Hi there i'm currently testing the validator set multi option on AuRa ... my current workflow is

1. Deploy new OwnedSet Contract
2. Add to chain spec at a future block ( e.g.
[code]
3. restart mining nodes
4. wait until block is reached
see the log message that a new validator contract is active
5. add new validator to contract (with initiateChange event)
but now the new validator doesn't signs a

[2018-06-27 13:54] Tbaut opened #8996 "Light client does not answer RPC calls"
_Before filing a new issue, please **provide the following information**._

When running Fether, the wallet sometimes seems not to get any answer from the node.
Any RPC such as getBalance don't get answered.
Here is a
- [gist](https://gist.github.com/Tbaut/c184a0918d9a2775cfea683e5baa5f58) of 1min of logs when it happens with `-l pip,rpc,network`
- [gist](https://gist.github.com/Tbaut/a14020c4da17

[2018-06-27 14:18] Tbaut commented on #8956
This could be linked to https://github.com/paritytech/parity/issues/8217 (closed recently) could you check?

[2018-06-27 14:22] Tbaut commented on #8996
This seems to be a peer issue. In both cases, I end up having 1 or 2 peers, but they might not serve light clients as the logs do not show it. It could be related to https://github.com/paritytech/parity/issues/8974.

[2018-06-27 14:31] jjperezaguinaga commented on #8945
@5chdn thank you!

[2018-06-27 15:10] Tbaut commented on #8981
You can use the following flags to adapt your configuration to your needs:
[code]

You'll find here some more interesting flags such as `--min-gas-price` to accept low gas txs: https://wiki.parity.io/Configuring-Parity

[2018-06-27 15:15] folsen commented on #8909
I don't agree at all with this issue.

What do you mean? Should it be called `jsonhttp-apis`? That makes no sense, RPC has a well-defined meaning here, JSON-RPC is a "protocol" that sits on top of HTTP or on top of websockets. The websockets still speak jsonrpc as far as I know.

[2018-06-27 15:44] Tbaut commented on #8989
The gas price is determined by the last few blocks median gas. Other platforms have other ways to do. Feel free to change your logic and take less, or half of it. It might be spot on for some time, and far off some other times.

[2018-06-27 15:44] #8989 closed

[2018-06-27 15:52] Tbaut commented on #8993
That's probably a cors problem `--jsonrpc-cors all` should let you do what you want. It's not secure to let "all", Please make sure to specify your domain later on.

[2018-06-27 16:18] andresilva commented on #8994
I haven't tested using empty steps with a validator set yet. I think what you're seeing is a bug [here](https://github.com/paritytech/parity/blob/stable/ethcore/src/engines/authority_round/mod.rs#L1079). I'm working on this ATM so should have a fix soon.

[2018-06-27 16:37] niklasad1 commented on #8918
@tomusdrw
AFAIK the light client has its own implementation `chain_info()` (has limited trait) and is not using `ethcore::blockchain::BlockChain` so I guess they are not related!

@rphmeier Can you confirm or explain how wrong am I? :)

[2018-06-27 16:43] Tbaut commented on #8909
- Having things like `--jsonrpc-apis` and `--ws-apis` is very confusing as WS is talking JSON-RPC, and there is no mention of http...
- Same for `--jsonrpc-cors`.. the cors has nothing to do with JSON-RPC.
- Same for things like:
[code]
which doesn't make sense, HTTP interface has a port or can be disabled, not RPC.

It should be `--http-apis`, `--http-cors`, `[HTTP]`

My comment above  is probabl

[2018-06-27 16:53] folsen commented on #8909
While I agree that _might_ be confusing, i've never seen anyone be confused by it. It's the common norm, among all other clients and several other projects outside the blockchain space. There are JSON-RPC apis, you can either enable them by "normal" fashion or by websocket access, or both.

But it's a parameter for the JSON-RPC APIs.

RPC is accessed over HTTP which has a port, that's like saying,

[2018-06-27 17:16] adyshimony commented on #8987
v1.11.3-beta solved it, thanks

[2018-06-27 17:19] Tbaut commented on #8909
You're too used to it! It's not because geth has it wrong that we should follow.
I consulted (briefly) @debris about it before creating the issue... Hoping him to follow me on that :pray:

[2018-06-27 17:31] janincenio opened #8997 "Can not transfer my ERC20 Tokens?! | Tokens.net (DTR)"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Dear Parity-Team,

I can not transfer my DTR Tokens from my parity Wallet. I have tried it through regular Transaction (->Accounts->Transfer) and via Contracts (->Execute->transfer(_to: addre

[2018-06-27 17:50] S3bb1 commented on #8994
Cool, i will check if the problem still occurs if i setup a new chain without emtpy steps to proof that it comes from the empty step feature.

[2018-06-27 18:29] littleskunk commented on #8981
@Tbaut Thank you. I know all these flags but that doesn't change my expectation. There are ~8192 transaction on the list. A few hundert are mine. Drop one of the remaining 8000 transactions but don't drop my own transaction.

Min gas price doesn't matter for this. I could set it to a low value, add a few transaction, restart with a higher value and would still expect them to get broadcasted and no

[2018-06-27 18:59] S3bb1 commented on #8994
i tried it again without empty steps and the issue is the same:

at the start of the node, he tries to get the epoch set for block 0 and in the contract at block 0 the signer isn't added to the set so he turns into an endless loop

2018-06-27 20:55:33  IO Worker #3 DEBUG engine  Zooming to epoch for block 0xe8e5…1e77
2018-06-27 20:55:33  IO Worker #3 TRACE engine  extracting epoch set for epoch (0

[2018-06-27 19:29] S3bb1 commented on #8994
Update:

when i set
"immediateTransitions": true
in the authority round params all works fine

it seems that https://github.com/paritytech/parity/blob/master/ethcore/src/engines/authority_round/mod.rs#L889
returns the wrong epoch

[2018-06-27 20:02] andresilva commented on #8994
Could you try with this branch https://github.com/paritytech/parity/tree/andre/fix-aura-reporting ?

[2018-06-27 20:52] andresilva commented on #8704
Agreed, "multi" makes sense for validator set because there are different types of interfaces (static list, contract, safe contract). As @rphmeier suggested you should deploy an upgradeable proxy contract, this also has the advantage that you'll be able to update the block reward contract without an HF.

[2018-06-27 20:52] #8704 closed

[2018-06-27 20:56] Tbaut commented on #8997
Can you please upgrade to [the latest release](https://github.com/paritytech/parity/releases). There is a change since v1.10 regarding the UI. Have a look here to see how to download and use Parity UI: https://wiki.parity.io/Parity-Wallet

[2018-06-27 22:10] folsen commented on #8909
I think you'll confuse more people by changing it than you're helping, basically. So I'm not sure why we should go through all the work for the sake of being "right".

[2018-06-28 05:00] S3bb1 commented on #8994
i'll give it a try, one moment please :)

[2018-06-28 05:36] dvdplm commented on #8909
"jsonrpc" is shorthand for the complete "remote procedure call over http with json payload" I think, that's at least how I read it. RPCs can happen over other transports (e.g. websockets) and encode the payload in many ways (e.g. protobuf, bson, csv).

Maybe we can solve most of the ambiguity with `--jsonrpc-port=[PORT]` => `--jsonrpc-http-port`?
`--jsonrpc-cors` => `--jsonrpc-http-cors`? And chan

[2018-06-28 05:46] S3bb1 commented on #8994
doesn't seem to work. The messages appearing again:

2018-06-28 07:43:30  IO Worker #2 DEBUG engine  Zooming to epoch for block 0xacaf…239d
2018-06-28 07:43:30  IO Worker #2 TRACE engine  Fetched proposer for step 510054870: 0x4a67…a83d
2018-06-28 07:43:30  IO Worker #2 TRACE engine  generate_seal: 0x00ac…805b not a proposer for step 510054870.
2018-06-28 07:43:33  IO Worker #2 DEBUG engine  Zoomi

[2018-06-28 07:16] Tbaut commented on #8909
Sure, adding `http` to the already existing `jsonrpc`, or adding `jsonrpc` to the already existing `ws` would be equally acceptable to me.
You will not confuse anyone as long as you remain backward compatible (with aliases) and move away from inconsistencies...

[2018-06-28 07:21] tomusdrw commented on #8981
@littleskunk the new queue has additional limits, as seen in the docs. In your case most likely you need to increase `--tx-queue-per-sender`.
Local transactions are always prioritized, but we never allow them to exceed defined limits (why set limits otherwise?).
If you don't want to propagate non-local transactions feel free to increase `min-gas-price` - your transactions will get to the pool desp

[2018-06-28 07:42] littleskunk commented on #8981
In that case send me an error on the new transaction and don't drop the old transaction. If I am not watching my logfile i would not get any notification. That is not acceptable.

You are missunderstanding me. I want to propagate non-local transactions. Thats the reason I am running with default settings. I want to prioritize local transactions but that is not the case. In this issue my local tran

[2018-06-28 07:47] littleskunk commented on #8981
Meanwhile I will run a test with `--tx-queue-per-sender=8192`. That could be a good workaround. I would not call it a fix. I would expect an error message. Don't drop my local transaction silently.

[2018-06-28 07:52] tomusdrw commented on #8981
@littleskunk ok, sorry for misunderstanding. Your description suggest that the new transaction just got rejected because of limit. Was one of your previous transactions pushed out by a non-local transaction?
That should be addressed in #8691 and released with 11.3. Possibly #8980 might be related, but I would need some more detailed logs.

To be clear: we never intend to drop existing local transa

[2018-06-28 08:04] folsen commented on #8909
I think `--jsonrpc-http-port` is more acceptable to me since that still solves for people coming looking for jsonrpc options.

This is not true. People coming from _any_ other client (not just geth), or people coming from many other projects in this space and many other spaces, will come looking for `jsonrpc` options, and when they can't find it, they'll be confused. Simply having an alias buried

[2018-06-28 08:10] littleskunk commented on #8981
No. My previous transaction was pushed out by my new transaction.

I checked both transactions. They have different sender.

I checked that as well. The old transaction was not a future transaction. All of my pending trasactions have a different sender. I am using an HDKey for that.

I should be able to reproduce that. My script can regenerate the old transaction. Which loglevel would you like to

[2018-06-28 09:10] janincenio commented on #8997
Hey Tbaut, thanks for the quick response. I have downloaded the latest v.11.4 with the UI, but nothing has changed. Still displayed in ETH, I still see no possibility to send DTR Tokens.

[2018-06-28 09:13] danuker commented on #8976
I tried it. Same response:
[code]

[2018-06-28 09:42] tomusdrw commented on #8981
@littleskunk Ok, that's clear now. Let me add a test for that case and fix the issue.

[2018-06-28 09:50] adyshimony commented on #8987
v1.11.3-beta working great, I have now 25/25 peers.

[2018-06-28 09:50] #8987 closed

[2018-06-28 10:04] tomusdrw commented on #8909
My two cents:

I think it's a de facto standard right now, that the default transport for JSON-RPC is HTTP, and I think most of us use that nomenclature even in day-to-day discussions (like: "I've used JSON-RPC, but it didn't have subscriptions, so I switched to WebSockets").

Secondly, I'm planning to work on `jsonrpc-proxy` project, if that comes to fruition, we will drop all transports in Parit

[2018-06-28 10:20] niklasad1 opened #9000 "Wishlist: Link parity with `lld` instead of `ld`"
The benchmarks of linking with `ldd` instead of `ld` looks interesting (see https://github.com/rust-lang/rust/issues/50584),

Now, `ldd` is shipped on `nightly` but is not stabilized yet https://github.com/rust-lang/rust/issues/39915#issuecomment-400918730

However, if you have `clang` and `ldd` installed you can test it by:
[code]

TODO: `_present benchmarks here_`

[2018-06-28 10:29] 5chdn commented on #8989
See also https://wiki.parity.io/JSONRPC-parity-module#parity_gaspricehistogram

[2018-06-28 10:39] 5chdn commented on #8997
Please, synchronize your client first. Once done, you will be able to transfer your tokens.

[2018-06-28 10:39] #8997 closed

[2018-06-28 13:27] stephgosling opened #9004 "Health check endpoint checks eth_syncing rather than highestBlock?"
I'm running:
- **Which Parity version?**: Parity/v1.11.3-beta-a66e36b-20180605/x86_64-linux-gnu/rustc1.26.1
- **Which operating system?**: Ubuntu 16.04
- **How installed?**: official .deb from github
- **Are you fully synchronized?**:yes
- **Which network are you connected to?**: mainnet
- **Did you try to restart the node?**: n/a

Other information
- **Environment**: AWS
- **Instance type**: t2.m

[2018-06-28 14:12] andresilva commented on #8994
What you show in the logs of the authority constantly trying to seal a new block and then issuing:

`TRACE engine generate_seal: 0x00ac…805b not a proposer for step 510054871.`

It's normal, it's just the way the engine works. Could you explain to me the steps you take to replicate this? I just tried to replicate this and couldn't, here's what I did:

- Start with multiset contract pointing to a c

[2018-06-28 15:43] antze-k opened #9006 "receiving "Method not found" over JSONRPC when trying to call "trace_filter", parity started with both --tracing=on and --jsonrpc-apis=all"
I start parity with `parity --chain=ropsten --public-node --mode=active --tracing=on --jsonrpc-interface=all --jsonrpc-hosts=all --jsonrpc-apis=all -d /home/eth/.ethereum`.

Whenever I try to call "trace_filter" method over JSONRPC, I receive this:
`{"jsonrpc":"2.0","error":{"code":-32601,"message":"Method not found"},"id":1}`

(the request is as follows:)
`# curl -X POST -H "Content-Type: applica

[2018-06-28 16:05] Pzixel commented on #8652
I have successfully deployed a contract from `step-2`. It seems that I wasn't passing a value to the constructor or some configuration issue. Anyway, here is a complete code that works fine:

[code]

[2018-06-28 16:20] Tbaut commented on #8909
That kills it I guess. Thanks all for the feedback and my apologies to @mttmartin for the time loss.

[2018-06-28 17:11] candro opened #9007 "parity_removeTransaction does not work"
**Procedure:**

1. personal_signTransaction(txData, pwd);
2. eth_sendRawTransaction(rawTransaction);

Suppose that after the call to sendRawTransaction some error has returned. Money was not enough on this wallet. I can send money from another wallet, on which there is just enough money. But I have to delete the local transaction, otherwise, when the necessary amount appears on it, the money will

[2018-06-28 17:13] candro commented on #9007
Transaction status - "rejected"

[2018-06-28 17:53] fckt commented on #8652
@Pzixel good job and thanks for the report! I really apologize for not contacting you to confirm the fix, I was quite overflowed..

[2018-06-28 18:56] GeeeCoin commented on #8788
This happens when querying geth nodes as well. I've experienced it 10% of the time when querying for "latest."

[2018-06-28 18:57] GeeeCoin commented on #6334
@5chdn this still occurs when I query for "latest" block about 10-15% of the time.

[2018-06-28 22:05] fjl commented on #8757
I'm happy you're taking the initiative on those issues! I agree with all your points except one:

It's OK if discovery is slightly lossy in this regard. There are enough nodes around.

[2018-06-29 00:57] richardzhang41905 opened #9008 "Parity full node can't finish syncing. blocked in #5779528."
_Before filing a new issue, please **provide the following information**._

the program keeps outputting the following info in 2/3 days:
[code]
the start command is as following:
`./parity --no-ws --jsonrpc-interface=all --jsonrpc-cors="*" --jsonrpc-apis="eth,net,web3,personal" --base-path=/data/ethereum/data --cache-size=1536 --tx-queue-size=24576 --tx-queue-mem-limit=24 --no-persistent-txqueue`

[2018-06-29 07:40] dvdplm opened #9011 "Move common crates to parity-common"
To enable more ergonomic use and easier maintenance of crates in [parity-ethereum](https://github.com/paritytech/parity) in other projects, move common crates to a new `parity-common` repo and publish the subcrates to crates.io.

As a first approximation "common crates" are crates used both in parity-ethereum and [Polkadot](https://github.com/paritytech/polkadot) and that are not `ethcore`.

This

[2018-06-29 07:42] dvdplm commented on #9011
cc @5chdn @gavofyork @folsen looks about right to you?

[2018-06-29 08:13] Tbaut commented on #9004
Could not reproduce on Kovan.. needs investigation and check in the code.

[2018-06-29 08:35] 5chdn commented on #9011
is `ethcore-*` only used by parity ethereum?

[2018-06-29 09:22] Tbaut commented on #9006
Could not reproduce on 1.11.4 with:

[code]
[code]

[2018-06-29 09:31] dvdplm commented on #9011
Yes, at least I believe so. I think the sentiment when discussing this was that the `ethcore` crate is so big and somewhat unstructured that moving it (or any of the parts) would be a big undertaking. We'd risk ending up with all of `parity-ethereum` in `parity-common`.

(Note that there's at least one `ethcore-*` that is **not** part of the `ethcore` crate: `ethcore-bytes`. That one we can and wi

[2018-06-29 10:33] 5chdn commented on #9011
if we move anything from ethcore-* to parity-common, please rename it to parity-*

Because once in common, it's not ethereum specific anymore.

[2018-06-29 11:22] antze-k commented on #9006
If it helps, I had a response on Riot chat from Afri Schoedon that the problem could be reproduced. But I will try to provide the required information anyway.

[code]

[2018-06-29 11:52] antze-k commented on #9006
Reproduceable without Docker (1.11.5 as well):

[code]

[2018-06-29 11:56] iFA88 commented on #8714
Few months before I have issued also, that the` parity_pendingTransactions` request sometimes hanging forever, but then I have used filter to get the pending transactions.

[2018-06-29 12:02] tomusdrw commented on #8714
Yeah, `parity_pendingTransations` is quite heavy (especially with large pools), cause it has to get the entire pending set and serialize all transactions to JSON, the response payload on it's own is huge.

In 1.11.x series it has an optional `limit` parameter, that allows you to query only the tip of the pool (like 100 best transactions) - that should work much faster.

[2018-06-29 12:05] iFA88 commented on #8714
Getting 10-15k pending transaction have taken 6-12 sec. This is great speed, idk why was hanging.

[2018-06-30 06:55] pluswave opened #9019 "DB corrupted: Corruption: block checksum mismatch"
_Before filing a new issue, please **provide the following information**._

1.10.6

Linux (ubuntu 16.04)

downloaded binary from the web

yes

ethereum

doing restart, not synced yet.

2018-06-30 06:50:48  Imported #5877341 daf5…0e19 (187 txs, 7.99 Mgas, 390.30 ms, 25.48 KiB)
2018-06-30 06:50:58  Imported #5877342 4e00…c792 (112 txs, 8.00 Mgas, 548.91 ms, 21.16 KiB)
2018-06-30 06:51:08  Imported #

[2018-06-30 10:17] pluswave commented on #9019
after restart with "parity -c config.toml"
[code]

[2018-06-30 10:41] Tbaut commented on #9007
Please upgrade your node to the latest release: https://github.com/paritytech/parity/releases

To override a transaction, you should send another valid transaction with the same nonce (you can also make sure the gasPrice is also higher so that it gets prioritized).

The other way to do is to restart your node with `--no-persistent-txqueue`

[2018-06-30 10:41] #9007 closed

[2018-06-30 10:49] Tbaut commented on #9008
You are currently `Syncing snapshot`. There seems to be a problem with the snapshot you got.
What happens when you restart?

[2018-06-30 10:53] Tbaut commented on #9019
This is a duplicate from #7748
This error indicates a DB corruption most likely due to a memory error. Could you please make sure that your memory passes a memtest?

[2018-06-30 10:53] #9019 closed

[2018-06-30 10:58] axelchalon commented on #8405
Hey, I don't think parity-dapps-glue is used for anything anymore. Built-in dapps are now completely handled by Parity UI.

I was thinking that as soon as the [Parity UI network dapps PR](https://github.com/parity-js/shell/pull/144) is reviewed and merged, we can remove the whole dapps crate (incl. parity-dapps-glue) and dapps-related cli/config options in one fell swoop.