[2019-06-25 13:04] dvdplm commented on #10724
@iFA88 how are things looking today?

[2019-06-25 13:32] nathPay opened #10781 "Few peers with kubernetes on kovan."
- **Parity Ethereum version**: v2.4.7-stable
- **Operating system**: Linux
- **Installation**: docker 17.03.3-ce
- **Fully synchronized**: no
- **Network**: kovan
- **Restarted**: yes
- **Kubernetes Version**: v1.14.2 deployed with RKE
- **Where**: AWS

I am running a kubernetes cluster of `parity/parity:stable` docker image.
This is a part of the .yml config file of my cluster:

[code]

The probl

[2019-06-25 13:38] dvdplm commented on #10781
Things to try:

- do you have the same issue on mainnet or goerli?
- do you have the same issue if you run a node outside the kubernetes cluster?
- is there anything interesting in the logs (run with `-l network=trace` for instance)?

[2019-06-25 13:47] nathPay commented on #10781
@dvdplm

No ERROR tag but maybe thoses lines:
[code]
There is somes timeout and handshake to "Unknown"

[2019-06-25 13:55] dvdplm commented on #10781
AFAIK we have never had any reports of problems on kovan + kubernetes specifically. It sounds like a network problem but that's a guess of course. You'll want to compare the logs between a "good" run and a "bad" one, otherwise I think it's hard to know which messages are "normal" and which aren't.

You obviously checked your kube logs for networking issues already?

[2019-06-25 14:17] nathPay commented on #10781
I agree with that but is there something different between mainnet and kovan discovering protocol ?

 Yes nothing different with normal run.

Mainnet logs do not contain the handshake to "Unknown" and connection timeout.

[2019-06-25 14:30] shashisingh111 opened #10782 "Transaction hash missing when transaction is sent via attached geth console"
- **Parity Ethereum version**:  Parity-Ethereum/v2.4.7-stable
- **Operating system**:  Linux
- **Installation**: built from source
- **Fully synchronized**: no
- **Network**:  local
- **Restarted**:  NA

I'm just beginning to tinker with parity locally. I opened two accounts on a single node and wanted to send money from one to another by `eth.sendTransaction()` . The console should show the trans

[2019-06-25 14:48] iFA88 commented on #10724
Except the previous peer loss ( https://github.com/paritytech/parity-ethereum/issues/10724#issuecomment-505052717 ) the peers are in 33-35 range, soon for 23 hours. I think we should wait few days with this. Sometimes happens daily 5 times, sometimes one time in week.

[2019-06-25 14:54] dafky2000 commented on #10724
Can confirm, the past 2 days have been running uncharacteristically well compared to previous weeks.

[2019-06-25 18:40] richardpringle commented on #8259
docs?

[2019-06-25 19:33] Snuff opened #10783 "[CRITICAL] Parity sometimes skips PoW"
- **Parity Ethereum version**: 2.4.7
- **Operating system**: Linux
- **Installation**: one-line installer
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

We run a mining pool based on Parity nodes, today we've got an Uncle block, so we started an investigation. Another parity bug was found — it skips block in getWork. Here is an example when parity skips PoW for block *

[2019-06-25 19:46] joshua-mir commented on #10783
Can you enable force-sealing if it isn't already enabled?
If you do have it enabled, can you add `-l miner` (or add `logging = miner` to the `[misc]` section of your config) and share the logs you see with it enabled?

[2019-06-25 19:47] dvdplm commented on #10782
What if you submit the transaction with e.g. curl?

[2019-06-25 19:56] Snuff commented on #10783
Hi @joshua-mir, thanks for your effort. No, it wasn't. I will restart and recheck everything then.

[2019-06-25 21:10] shashisingh111 commented on #10782
The problem is resolved. I was not unlocking sender account before sending transaction that's why console  hangs and waiting.

[2019-06-25 21:10] #10782 closed

[2019-06-25 22:52] BelfordZ opened #10784 "feat: submitBlock"
# New JSON-RPC method submitBlock

## Purpose

I would like to be able to submitWork, but have the address used be one other than the etherbase of the node the work is being submitted by.

This would allow signing of new blocks to occur outside of the client, similar to sendRawTransaction allows you to externally sign a tx.

## Proposed solution

Named as per @sorpaas suggestion, perhaps this coul

[2019-06-26 08:29] or2008 opened #10789 "When importing new blocks Parity goes into sync mode very briefly"
- **Parity Ethereum version**: 2.5.2-beta
- **Operating system**: Linux - Ubuntu 19.04
- **Installation**: with curl
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

Parity would sometime goes into sync mode after importing new blocks, as you can see on the attached picture:

![Screenshot from 2019-06-26 11-08-11](https://user-images.githubusercontent.com/3414979/6016410

[2019-06-26 08:34] ordian opened #10790 "test `should_check_status_of_request_when_its_resolved` fails spuriously"
See e.g. https://gitlab.parity.io/parity/parity-ethereum/-/jobs/169369
[code]

[2019-06-26 09:50] debris commented on #10633
I think so as well. There is nothing we can do about it as it is not a bug in the codebase. I'm closing the issue

[2019-06-26 09:50] #10633 closed

[2019-06-26 09:52] #5628 closed

[2019-06-26 09:53] #5687 closed

[2019-06-26 11:09] dvdplm opened #10792 "Log progress when restoring snapshots"
Currently we print e.g. `Snapshot initializing (1220 chunks restored)` but it'd be better to see `Snapshot initializing (1220/2222 chunks restored, 55% done)`

[2019-06-26 11:17] dvdplm opened #10793 "Probable deadlock after UnlinkedAncientBlockChain"
If snapshot restoration fails with a `UnlinkedAncientBlockChain` (and you see `Encountered error during snapshot restoration: Snapshot error Unlinked ancient blocks chain` in the console) the client is stuck and Ctrl+c is not enough to shut down properly.

The error can be returned only from two places in [this method](https://github.com/paritytech/parity-ethereum/blob/d2120ded56d3035cce220550aba1

[2019-06-26 12:04] RostyslavBortman opened #10795 "Error: Node error: code 32010. Insufficient funds. The account you tried to send transaction from does not have enough funds"
Error: Node error: code 32010. Insufficient funds. The account you tried to send transaction from does not have enough funds. Required 376051000000000 and got: 0.

But ledger has enough funds and this issue is really random. Any thoughts?

[2019-06-26 19:37] or2008 commented on #10789
It is ok now, it was related to a poor internet connection.

[2019-06-27 05:02] debris commented on #10795
are you synced with the network?

[2019-06-27 05:29] soc1c commented on #10630
done #10766

[2019-06-27 05:29] #10630 closed

[2019-06-27 07:47] tomusdrw commented on #10672
`eth_getTransactionReceipt` includes pending block, you can filter out the pending receipts by comparing `blockNumber` with latest block number.

[2019-06-27 08:18] RostyslavBortman commented on #10795
@debris Sure, parity node is synced and running. I face this issue really random. For example, I can try to make a transaction from ledger 1 - get an error 32010. Insufficient funds, create another transaction from ledger 1 with the same parameters and transaction is success.

[2019-06-27 08:36] seunlanlege commented on #10784
this is already implemented in #10609

[2019-06-27 08:36] #10784 closed

[2019-06-27 08:40] seunlanlege commented on #10764
@prashant-1926 was @Genysys's comment helpful?

[2019-06-27 09:02] tomusdrw opened #10802 "Priority preparation of pending block"
In case a block is imported by client we should allow the PoW miners to start working on a new block as fast as possible.

Currently what happens is:
1. The client triggers `chain_new_block` (either [here - external import](https://github.com/paritytech/parity/blob/bf4fa658f37a97fcaad9f4b2f7f800fa71220326/ethcore/src/client/client.rs#L328) or [here - local (sealed) import](https://github.com/parit

[2019-06-27 09:15] dvdplm commented on #10802
cc @debris @ordian

[2019-06-27 09:50] SjonHortensius commented on #10226
Using **Parity-Ethereum/v2.4.6-stable-94164e1ca5-20190514/x86_64-linux-gnu/rustc1.34.1** this still happens. Strangely enough I do seem to connect to the maxium # peers, not the default 25

[code]

How am I supposed to recover, restart until it works?

[2019-06-27 10:32] dvdplm commented on #10226
@SjonHortensius If the syncing fails it will retry when you restart, so the "interesting" part comes at the very end. Can you enable logging with `-lsnapshot=trace` and let the sync finish? It is possible that something odd is happening at the very end. While importing the snapshot the number of peers is probably not relevant: your node is not yet fully operating.

[2019-06-27 13:14] iFA88 commented on #10724
In the last days worked well, may we can put solved to this issue.

[2019-06-27 18:14] dafky2000 commented on #10724
Let's not get too excited, I have been running well the last couple days as well and I am still running 2.4.5

[2019-06-27 20:38] #10790 closed

[2019-06-28 02:54] nbt-rezaem commented on #10753
I figured it out. `--config dev` is outdated, as is the wiki documentation at https://wiki.parity.io/Private-development-chain

`--config dev` does not have Constantinople EIPs activated. I passed this into the `--chain` config and it works:
[code]

[2019-06-28 02:54] #10753 closed

[2019-06-28 07:52] zet-tech commented on #10364
The problem is still present in current stable. When it will be merged?

[2019-06-28 07:59] joshua-mir commented on #10364
@zet-tech it should be resolved in 2.4.8 and 2.5.3 - it was merged into those releases - if you still have issues with shutdowns the source of the issue may be different

[2019-06-28 08:31] joshua-mir commented on #10774
I'll leave a line here that the recommendation I gave for your other issue, https://github.com/paritytech/parity-ethereum/issues/10783#issuecomment-505594864, among other changes like tweaking txpool and resealing settings, should also help address this issue.

[2019-06-28 08:41] zet-tech commented on #10364
It is present in 2.4.8 and the issue is for sure related to rpc. When I bind only to locahost and there is no rpc calls, restarts are correct. But when I bind parity do remote IP and it got request from our other software (even one second is enough which means 5-10 requests, only eth_getWork and eth_getBlockByNumber), restart is not possible and process is being killed. This result in DB corruptio

[2019-06-28 08:59] dvdplm commented on #10364
One thing worth noting about any of these shutdown problems is that different bugs can cause the same symptom. We recently fixed one instance where shutdown would fail while the node was taking a snapshot.
RPC usage causing deadlock during shutdown is quite possibly a distinct bug.

[2019-06-28 10:21] or2008 commented on #10789
ok unfortunately it happens again, and in this time the internet connection is ok, I will reopen the issue as it doesnt happen on Osx with same internet connection

[2019-06-28 11:39] SjonHortensius commented on #10226
@dvdplm After restarting with `-lsnapshot=trace`, unfortunately this works correctly now. I'll leave the trace enabled in case this happens again

[2019-06-28 11:52] dvdplm commented on #10226
yeah, these issues can be pesky to debug

Thank you, much appreciated.

[2019-06-28 13:01] seunlanlege commented on #10348
I think this issue is more likely to be caused by duplicate transactions being submitted to the tx queue with the same gas price and the error message doesn't communicate that.

[2019-06-28 14:03] dvdplm commented on #10777
@natamartchouk yes, the error is temporary and when the node has had time to sync the ancient blocks it should work as expected. :)

[2019-06-28 14:03] #10777 closed

[2019-06-28 14:05] #10764 closed

[2019-06-28 14:18] dvdplm commented on #10738
@sicute I'll close this issue now in the hope that @AC0DEM0NK3Y 's advice was useful to you. Feel free to re-open if not.

[2019-06-28 14:18] #10738 closed

[2019-06-28 15:23] dvdplm commented on #10594
@TriplEight I think this is fixed yes? Can you confirm and close if so.

[2019-06-28 15:43] uurcm16 opened #10815 "Do I need to change daemon for ETC Atlantis Hardfork?"
Hi,

I'm using Parity v2.4.7 for chain Classic. Do I need to update the daemon to the latest version for the ETC's Atlantis Hardfork?

[2019-06-28 16:23] BelfordZ commented on #10784
great! thanks @seunlanlege n friends!

[2019-06-29 15:14] thomaseizinger commented on #10672
That seems to be pretty counter-intuitive though. Having a `receipt` suggests that the transaction was executed. Especially in combination with the `instantSeal` engine, this causes problems.
`web3js` has a feature to wait for a certain number of confirmations for a transaction receipt is returned, however, with `instantSeal`, no other block is mined after the transaction is executed.

It seems to

[2019-06-29 20:35] dvdplm commented on #10364
@zet-tech That sounds really bad. I have tried to reproduce the shutdown problem after RPC on the latest master and could not see a problem. I'd need your assistance to debug this further.

- if you have the possibility to try your setup with a master build that'd be great
- can you share your configuration toml file with us so I can replicate your setup more closely?
- I'm not sure what you mean

[2019-06-30 09:38] gsalzer opened #10819 "Feature request: trace information of newest blocks only"
Archive nodes provide state and trace information for all blocks, from genesis to the recent block, at the expense of ever increasing disk space (2.7 TB at the moment).
What about a light archive mode that provides this information only for the last N blocks (N configurable) and that acts like the standard mode for older blocks? This would allow us to analyze recent block data with a limited amoun

[2019-06-30 09:54] iFA88 commented on #10724
I run my node with *only* my full node peer and without the sync parameter, yesterday three times lost the sync and after the last lost they can not recover:
[code]
My full node is working well.

Sadly the commit didn't solve the issue :(

[2019-06-30 13:25] grbIzl commented on #10724
@iFA88 do I understand correctly, that you don't have any logs for it? Also (just for my understanding) why only one node?

Can you try to reproduce it with sync trace enabled?

[2019-06-30 14:06] iFA88 commented on #10724
There is the log what I currently have:
https://www.fusionsolutions.io/doc/flog.tar.gz
The first problem happens on `2019-06-29 02:00:30`. Because I have only one peer which are full sync in all time, I think the problem that the node hangs is not the peer dropping. May the block import process hangs and the other peers drops our peer for the failure. If you check my logs you will see the correct

[2019-06-30 14:33] iFA88 opened #10821 "unreasonably high memory usage (without crash) and won't shut down"
Greetings, sadly my `Parity-Ethereum/v2.4.6-stable-94164e1-20190514/x86_64-linux-gnu/rustc1.34.1` node eats unreasonably high memory.
Node log and process statistics in CSV : https://www.fusionsolutions.io/doc/memlog.tar.gz

Start parameters are:
[code]
The memory usage will not be higher as 12gb.

On `16:20:20` have killed the process with `KILLSIG`, this is the only way that I can shut down the

[2019-06-30 14:54] dvdplm commented on #10821
How did you collect the memory stats showed in the csv?

[2019-06-30 14:59] iFA88 commented on #10821
Like in python:
[code]
Gives the same as the `htop`:
![kép](https://user-images.githubusercontent.com/18205395/60398445-670f6400-9b58-11e9-8ac6-c0db67650c9f.png)

[2019-06-30 15:36] dvdplm commented on #10821
So it's RSS, perfect! :)

The number of pending txs is pretty high, is that a normal amount in your setup?

[2019-06-30 15:37] iFA88 commented on #10821
Yeah i'm parsing pending transactions to my DB. Check the my start parameters :)

[2019-06-30 15:41] dvdplm commented on #10821
Other than staying in sync, what is the node doing? I.e. what kind of RPC traffic is it used for?

[2019-06-30 16:26] iFA88 commented on #10821
I'm using for every new block this RPC's: `trace_block` `eth_getBlockByNumber` `eth_getUncleByBlockHashAndIndex` `eth_blockNumber` `eth_getTransactionReceipt`.

[2019-06-30 20:06] grbIzl commented on #10724
@iFA88 Unfortunately without sync trace enabled it's impossible to say, what went wrong in your case. If we believe, that the problem is easier reproducible for such conf (with only one peer), can you try to run parity with this additional log parameter (-l sync=trace)?

[2019-06-30 20:37] iFA88 commented on #10724
Yes, I run again with the trace parameter. If they stops again i will report it.

If you think about it, if you have a fully usable node with the latest data what you need, and the syncing stops, it is high possible that the issue is not due the peer.

[2019-06-30 21:09] dvdplm commented on #10821
I've been running a recent master build with your params now for ~6h and memory usage seems stable. While it's possible that this has been fixed in master, it is more probable that the leak is somewhere in the RPC layer. I need to set up some kind of load testing script to debug this further.

[2019-06-30 21:11] dvdplm commented on #10821
@iFA88 Do you have the possibility to confirm my findings by running a node without RPC traffic, just to check that it is indeed the RPC layer causing issues? Also, if you have a load testing script or something similar already written, that'd be helpful too ofc. Thanks!

[2019-06-30 21:11] TriplEight commented on #10594
@dvdplm yes, I'll close, thanks. Anyways it's time for a new one.

[2019-06-30 21:11] #10594 closed

[2019-06-30 21:42] ltfschoen opened #10824 "whisper: Move Parity Ethereum Whisper to a separate external repo/crate. Update CLI to support switching implementation version"
* [ ] Create a separate repository for Parity Ethereum Whisper where the implementation of the latest spec version (i.e. [Geth Whisper V6](https://github.com/ethereum/go-ethereum/wiki/Whisper)) would be in the "master" branch, but each implementation of a specification version would be in its own branch.
* [ ] Move the [Parity Ethereum Whisper PoC V2 implementation](https://github.com/paritytech/p

[2019-07-01 04:34] skypper opened #10825 "Errors building from source"
- **Which Parity version?**: latest stable
- **Operating system**: MacOS
- **Installation**: built from source
rustc 1.35.0 (3c235d560 2019-05-20)

I googled some of the error messages and reinstalled Rust, XCode command line tools, followed the steps on README to build from source code (from stable) and I still have no clue about the issue.

Last error:
[code]

Here is a link to the build logs wi

[2019-07-01 06:58] Genysys commented on #10825
Why are you building from source?

[2019-07-01 07:23] prashant-1926 commented on #10764
@seunlanlege Yes, using @Genysys solution, though it was showing same error `error: linking with cc failed: exit code: 1` in existing machine, it compiled well on a clean CentOS 7 minimal install. However starting it was throwing error:
[code]
I tried again with `git checkout beta`. It compiled well and is running fine now:
[code]

Thank you @Genysys for sharing your solution.

[2019-07-01 08:15] niklasad1 commented on #10825
@skypper

Seems related https://github.com/saulius/croaring-rs/issues/41

Can you try `brew uninstall llvm`?

[2019-07-01 08:24] joshua-mir commented on #10819
Do you think this could be considered a duplicate of this feature request: https://github.com/paritytech/parity-ethereum/issues/9962 @gsalzer?

[2019-07-01 08:31] Genysys commented on #10764
`archive` is an illegal flag i.e it does not exist as a cli option..

it should be `pruning=archive`

https://wiki.parity.io/Configuring-Parity-Ethereum

[code]
that why you got that error. Glad it worked.

On Mon, Jul 1, 2019 at 8:23 AM prashant-1926 <notifications@github.com>
wrote:

[2019-07-01 08:45] prashant-1926 commented on #10764
Thanks for pointing it out. I'll give it a try.

However, I used `pruning` option from here: [https://wiki.parity.io/Getting-Synced#database-pruning](https://wiki.parity.io/Getting-Synced#database-pruning)

[2019-07-01 08:49] Genysys commented on #10764
Its confusing would be great to get clarity from the parity team as its implemented differently that the docs.. not sure why it would work in one version and not another

https://github.com/paritytech/parity-ethereum/blob/master/parity/cli/mod.rs#L869

[2019-07-01 08:53] joshua-mir commented on #10764
@Genysys I don't think the illegal instruction seen here is at all related to command line flags - it looks more like a failed OS call or a corrupt binary

[2019-07-01 09:57] tomusdrw commented on #10672
Well it was executed in a pending block. You can't rely on receipts in latest block either, since they are subject to change due to re-organisations. So if you query receipts you should always check the block number and compare it with the latest one anyway, to make sure you have enough confidence that it won't change.

How so? In such chain you don't really have re-orgs at all. If block is sealed

[2019-07-01 12:41] #10792 closed

[2019-07-01 12:47] dvdplm commented on #10781
No.

So now we know `Unknown` means that the peer did not have an address. It sounds likely that this boils down to some problem with the kubernetes networking; not sure how to advice you on debugging that tbh.

@seunlanlege To me it sounds like we should not attempt to send handshakes to `Unknown` peers and exclude such peers.

[2019-07-01 13:17] iFA88 commented on #10821
Sadly without any RPC call the memory usage increases continuously:
https://www.fusionsolutions.io/doc/memlog2.tar.gz

[2019-07-01 13:33] dvdplm commented on #10821
In the log I see you must be running with `--tracing on` but that's not present in the the startup params from the original ticket. Are you using a config.toml file too? Can you post the full config please?

[2019-07-01 13:33] iFA88 commented on #10821
I have run the node without any RPC call, but the memory has increased continuously. There is the log, but please ignore the peer and pending TX values:

https://www.fusionsolutions.io/doc/memlog2.tar.gz

Without any RPC call the shutdown works very fast.

[2019-07-01 13:36] gsalzer commented on #10819
I'm not sure I fully understand what  #9962 proposes. Setting `pruning_history` to some bigger value does not seem to help for my purpose. `trace_block` requests for even the newest blocks return nothing (`{"jsonrpc":"2.0","result":null,"id":1}`).

It seems that #10760 is more like what I'm looking for. My aim is to get requests like `trace_block` answered for the last 1000 or 10000 blocks. So bas

[2019-07-01 13:36] iFA88 commented on #10821
You have right, tracing was `ON` while I synced from scratch, and after at it is automatic enabled.
No, i don't use any configuration file, only the parameters what I given in the first ticket.

[2019-07-01 13:51] dvdplm commented on #10821
Ok, not a problem. It explains why I couldn't repeat it. I'd have to slow sync the whole chain to repeat now I think so I'm going to try using the Goerli testnet and see if I can see the issue there. If you have the means to do so it would be great if you could try on Goerli as well using 2.4.x.

Thanks!

[2019-07-01 13:57] iFA88 commented on #10821
@dvdplm Sadly that not, but if you wish I can set some trace parameter.

[2019-07-01 15:02] grbIzl commented on #10778
Hey @miguelmartinezinf  thanks for the issue and logs! Can you please clarify more details? Are your nodes not able to connect totally or is it just a stuck at the nodes' startup and after some time connectivity backs to normal? I'm asking this, because the reason of the observed behavior in network logs is hanging on the handshake session, that prevents other sessions to be created. And your log

[2019-07-01 19:44] dvdplm commented on #10821
Is your node synched?

[2019-07-01 21:44] skypper commented on #10825
@niklasad1 I tried and didn't work.

Build log for reference: https://pastebin.com/54eSEqCm.

[2019-07-02 07:06] dvdplm commented on #10825
@skypper this is most likely a problem with your local setup – building on MacOS is known to work. Perhaps it is easier to debug if you reduce scope to a single crate with the troublesome libraries as dependencies: `cargo new debug-build` and then:

[code]

[2019-07-02 07:06] #10825 closed

[2019-07-02 07:17] dvdplm commented on #10815
Yes, the latest [beta release](https://github.com/paritytech/parity-ethereum/releases/tag/v2.5.3) includes the Atlantis HF.

[2019-07-02 07:17] #10815 closed

[2019-07-02 07:17] #10793 closed

[2019-07-02 07:18] dvdplm commented on #10774
@Snuff can we close this issue now?

[2019-07-02 07:21] dvdplm commented on #10743
cc @joshua-mir

[2019-07-02 07:23] dvdplm commented on #10718
@KyuJeongKim just noticed that one of your nodes is running a really old version of Parity. Please consider upgrading. I'm going to close this issue now, feel free to re-open if you need further assistance.

[2019-07-02 07:23] #10718 closed

[2019-07-02 07:26] miguelmartinezinf commented on #10778
Hey @grbIzl , thanks for your comment. Nodes are not able to connect anymore after an "InternalBacktrace" error appears... If I re-launch each node individually or both nodes at the same time, they are working but not able to inter-connect, they get stuck in the handshake (as you can see in logs).
So, if I re-launch both nodes, node0 (which has a signer) goes on building blocks and node1 (just a r

[2019-07-02 07:40] iFA88 commented on #10821
Ofc, and you have seen that in the logs.

[2019-07-02 07:56] iFA88 commented on #10821
18.5h run:
https://www.fusionsolutions.io/doc/memlog3.tar.gz
![kép](https://user-images.githubusercontent.com/18205395/60494577-5a515400-9caf-11e9-96b1-dcb3d4483715.png)

[2019-07-02 08:02] niklasad1 commented on #10743
@vietthang207

I assume `parity API` == `rpc`.

```$ parity -l rpc=trace```

Alternatively, specify it in your `config.toml` instead

[2019-07-02 08:04] niklasad1 commented on #10824
/cc @gballet

[2019-07-02 08:20] joshua-mir commented on #10599
Hey @zscole, while exporting and importing state is definitely something we support, I don't think we can reasonably support changing the engine mid-chain without more significant changes at this stage, and I'm not sure we should spend time fixing issues for a usecase we don't really support.

Closing this for now, but we're open to discussion on how to do this properly.

[2019-07-02 08:20] #10599 closed

[2019-07-02 08:49] dvdplm commented on #10821
Yeah, still synching Kovan here with traces. Goerli is synched and after 12+ hours show no signs of memory leaks.

[2019-07-02 08:55] folsen commented on #9997
@stone212

There is no real plan around when we want to deprecate this honestly, it's been shelved a little bit while we work on other stuff.

There are HSM solutions provided on most cloud providers but you can also buy HSMs if you have dedicated machines deployed.

[clef](https://github.com/ethereum/go-ethereum/tree/master/cmd/clef) would be an example of an existing alternative.

[2019-07-02 08:57] ordian commented on #10821
@dvdplm are you testing this on macOS? The problem could be related to [heapsize](https://github.com/paritytech/parity-ethereum/blob/691580cc9c46d9e43eaba02c46b9a369e2bbd305/Cargo.toml#L149), which [uses jemallocator only on macOS](https://github.com/cheme/heapsize/blob/c07ffe843acb9da570682e290a48540741afdce1/Cargo.toml#L13-L14).
@iFA88 could you test it with a recent master build? We've removed

[2019-07-02 09:02] dvdplm commented on #10821
@ordian yes, and yes it is possible that this is a platform issue, but we'll see. For now I'm trying to rule out the obvious stuff. I'm not sure how long it takes to slow-sync mainnet with tracing on, but judging how long it takes on Kovan I think it could take weeks so I was hoping to find an easier way to reproduce this.

[2019-07-02 09:35] grbIzl commented on #10778
@miguelmartinezinf  Can you please just make a little bit longer log for both nodes with the same network trace level? 2-3 minutes will be enough. Simply launch nodes and wait a little bit, don't restart or do anything. If you're saying, that the nodes cannot connect to each other, it is the real problem already, and anything else (like issues with chainid etc) can be just a side effect.

[2019-07-02 09:57] Snuff commented on #10774
Yeah, thank you very much for the help, --force-sealing resolved this issue.

[2019-07-02 09:57] #10774 closed

[2019-07-02 09:58] Snuff commented on #10783
Thanks, force-sealing resolved the issue.

[2019-07-02 09:58] #10783 closed

[2019-07-02 10:01] iFA88 commented on #10821
@ordian I will upgrade my parity to https://github.com/paritytech/parity-ethereum/releases/tag/v2.4.9 I see that this build has the commit.

[2019-07-02 10:05] ordian commented on #10821
@iFA88 I don't think so, #10432 wasn't backported to stable and beta.

[2019-07-02 10:09] miguelmartinezinf commented on #10778
I think that chainId issue is not a side effect, but the main problem here...

This time I work with 3 nodes: node0 is the signer one, node1 and node2 are just replicas.
I followed this workflow:
1. launch 3 nodes
2. send my transactions with wrong chainId parameter
3. "Backtrace error" appears on node1 and node2.
4. I shut down node1 and node2.
5. I relaunch both node1 and node2 and they cannot c

[2019-07-02 10:18] iFA88 commented on #10821
@ordian Thats not the commit?:
https://github.com/paritytech/parity-ethereum/compare/v2.4.9...master
![kép](https://user-images.githubusercontent.com/18205395/60505176-6fd07900-9cc3-11e9-8fbe-44cc90a586b8.png)
Sorry if i'm wrong.

[2019-07-02 10:21] ordian commented on #10821
@iFA88 you're comparing v2.4.9 with master, so it shows you the difference, i.e. the commits that are in master and not in 2.4.9.

[2019-07-02 10:28] iFA88 commented on #10821
@ordian yes, i was wrong! If you can build the current master branch for linux, then I can use that, sadly i don't have any build tools now.

[2019-07-02 11:15] RostyslavBortman commented on #10795
@joshua-mir which details you need to understand the issue? **Insufficient funds** error when actually sender address balance is enough. Is it expected behavior?

[2019-07-02 11:19] dvdplm commented on #10795
@RostyslavBortman Not sure what you refer to but if you mean the `unconfirmed` label it means that nobody on the time has gotten round to debugging your issue which means we do not have a confirmation. Please feel free to provide any additional info that might help move this along, code examples, bash scripts, logs or anything similar will usually speed up response times. Thank you.

[2019-07-02 11:51] grbIzl commented on #10695
The original error message "Unable to sign consensus message" is totally legit. On the start Parity tries to find the proper engine signer account and uses all the passwords in order to find the corresponding one. This error message(s) is the result of this search. However, I agree, that showing it in such situation is not the best idea (if we have 100 passwords in the file, 99 errors might be sho

[2019-07-02 11:53] grbIzl commented on #10695
But the problem described by @hklee93  is might be different. So I cannot close the issue for now and I'm looking further into it

[2019-07-02 14:33] pdobacz opened #10832 "Parameters required in domain for `personal_signTypedData` too strict?"
- **Parity Ethereum version**: `Parity-Ethereum/v2.5.2-beta-ecbafb2-20190611/x86_64-linux-gnu/rustc1.35.0`
- **Operating system**: Linux
- **Installation**:  downloaded from releases
- **Fully synchronized**: yes
- **Network**: rinkeby
- **Restarted**: yes

#### Expected behavior

I'm not 100% sure, but it seems `personal_signTypedData` could accept a request even if some fields of the `domain` we

[2019-07-02 16:04] joshua-mir commented on #10778
Hey @miguelmartinezinf while the chainId issue is certainly a valid issue (and a known one at that, discussion in #10411), it's a different issue from what @grbIzl has been looking into recently and trying to fix.

While your logs are certainly helpful, what would be most helpful to resolve this issue is `network` level logs, from two nodes running/starting up in the same time period so that we ca

[2019-07-02 16:13] hklee93 commented on #10695
Oh that's why I didn't get the same error when I only stored one on each node.

[2019-07-02 16:14] hklee93 commented on #10695
So you're saying that I should be able to make transactions on any node, regardless of whether it is a validator node or not, right?

[2019-07-02 19:26] #10687 closed

[2019-07-02 21:50] stone212 commented on #9997
@folsen

I don't understand how this is related to the topic?

I will advise the developers.  Thank you.

[2019-07-02 22:31] slavserver commented on #9997
as mentioned above by post (gituser), make a few vervias, I don’t like this shit that you come up with ... but what about the pools that use soar, change something again, adjust again?

[2019-07-03 06:47] dvdplm commented on #10821
@iFA88 I __think__ you can download a recent nightly from [here](https://gitlab.parity.io/parity/parity-ethereum/-/jobs/174367) (click the "Download" button on the right). It would be great if you could repeat the problem using that.

An update on my end: Goerli is synched and does not leak any memory. Kovan is still synching (and has been really stable, but that is irrelevant here).

[2019-07-03 07:32] tomusdrw commented on #9997
Guys, calm down. We are planning to deprecate account management in the core client, but as you can see, no solid dates are mentioned, so it's only going to be removed if and when we make everybody happy with proposed alternatives.
No one plans to disrupt your business and break compatibility without proper notice. The deprecation was added to get your attention and discuss possible solutions.

Th

[2019-07-03 07:36] slavserver commented on #9997
Ok

[2019-07-03 07:42] stone212 commented on #9997
@tomusdrw I appreciate your comment but no one (well... one person only) is getting excited.

Yes, that's why I'm glad to be in the thread.  About your suggestions:

That is a good idea of course but I do not understand the specifics well enough.  It is better of course to keep keys and key management away from the node, agreed.  But what functionality would the client software use to send the tra

[2019-07-03 07:44] #10604 closed

[2019-07-03 07:48] slavserver commented on #9997
--i-know-what-im-doing-  use current rpc, ok)

Use 127.0.0.1 no one has canceled. and if the user does not understand the essence, these are his problems. Imho

[2019-07-03 07:50] stone212 commented on #9997
@slavserver

But the news report will be "ETH stolen from Parity nodes" and we can understand the devs do not want this.

Yes this is a good point I think I did not specify.  If the node only allows RPC on 127.0.0.1 then the security risk of maintaining the wallet is small.

[2019-07-03 07:53] slavserver commented on #9997
127.0.0.1 the most important thing is not to proxy through www and other tools. and everything is perfectly protected.)

[2019-07-03 08:00] slavserver commented on #9997
if you still change, do not forget to add the option (--i-know-what-im-doing) to use the current rpc standard. I really do not want to rewrite the mining pool code. Thank you for your answers and have a nice day))

[2019-07-03 08:04] iFA88 commented on #10821
@dvdplm Alright, I ran now that binary. Idk why, but the classic chain works flawless.

I have a trace about the shutdown, please look at it:
https://www.fusionsolutions.io/doc/shutdownerror.tar.gz

[2019-07-03 08:13] qiluge opened #10836 ""personal_sign" rpc interface result verify failed"
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-07-03 08:13] dvdplm commented on #10821
You mean running with `--chain classic` using the master build does not leak memory? Or using stable?

That is 2.4.6 so the latest fixes for shutdown problems are not included. Best would be to debug this further using the latest releases (or master builds). For shutdown issues it'd be good to enable `shutdown=trace` level logging. I don't think logging is going to provide enough info here, but be

[2019-07-03 08:15] qiluge commented on #10836
use https://etherscan.io/verifySig to verify result is passed.
![image](https://user-images.githubusercontent.com/19525062/60575245-cade9a80-9dad-11e9-96ad-50ebcc75689f.png)

[2019-07-03 08:17] stone212 commented on #9997
@slavserver This is maybe a little un-related but which pool are you using?

[2019-07-03 08:17] iFA88 commented on #10821
@dvdplm Yes, i have a classic node which runs in archive trace mode and the RES usage does not goes up as ~1.3gb, even not with `Parity-Ethereum/v2.4.6-stable-94164e1-20190514/x86_64-linux-gnu/rustc1.34.1` or `Parity-Ethereum/v2.4.9-stable-691580c-20190701/x86_64-linux-gnu/rustc1.35.0`

I let the shutdown trace parameter on now and running `Parity-Ethereum/v2.6.0-nightly-b4af8df-20190702/x86_64-li

[2019-07-03 08:20] qiluge commented on #10836
And when I use my code to verify signed result by remix sign tools, it passed.
![image](https://user-images.githubusercontent.com/19525062/60575463-2a3caa80-9dae-11e9-972e-e9abc07ca6a8.png)

![image](https://user-images.githubusercontent.com/19525062/60575478-30328b80-9dae-11e9-9536-910be688f081.png)

![image](https://user-images.githubusercontent.com/19525062/60575582-66700b00-9dae-11e9-9b47-06a0

[2019-07-03 08:21] slavserver commented on #9997
Clona.ru use parity, etc, ella. I admin

[2019-07-03 08:23] slavserver commented on #9997
By the way, you may not have noticed, but parity no longer works with musicoin, callisto, expanse. parity uses the old branch of the blockchain, on these coins was recently hardfork

[2019-07-03 09:35] grbIzl commented on #10695
Yes. I'm able to do that, using setup from the tutorial:
anton@anton-Latitude-E5470:~$ curl --data '{"jsonrpc":"2.0","method":"personal_sendTransaction","params":[{"from":"0x00Aa39d30F0D20FF03a22cCfc30B7EfbFca597C2","to":"0x00Bd138aBD70e2F00903268F3Db08f2D25677C9e","value":"0xde0b6b3a7640000"}, "node1"],"id":0}' -H "Content-Type: application/json" -X POST localhost:8541
{"jsonrpc":"2.0","result":"

[2019-07-03 09:37] grbIzl commented on #10724
@iFA88 do you have any updates on the issue?

[2019-07-03 09:41] miguelmartinezinf commented on #10778
Thanks, as @grbIzl is looking into the 2 nodes network I explained at the initial issue description, I decided to take that sceneario (2 nodes network). Here you have the network trace level logs for a 2 node network: [node0.log](https://pastebin.com/idr4xwej) [node1.log](https://pastebin.com/NTsAzCTY)

Workflow followed:
1. launch 2 nodes (node0 is signer, node1 is 1 replica)
2. send my transacti

[2019-07-03 10:48] grbIzl commented on #10778
@miguelmartinezinf thanks for the logs! After looking into them I can confirm, that the issue is in the incorrect chainId on node0. Node1 disconnects on every BlockHeader packet, code is here:
https://github.com/paritytech/parity-ethereum/blob/master/ethcore/sync/src/block_sync.rs#L326
I didn't find any other reasons for connectivity losses. And this reason seems to be valid (disconnect peer with

[2019-07-03 10:50] miguelmartinezinf commented on #10778
Great, thanks a lot @grbIzl @joshua-mir

[2019-07-03 10:53] #10778 closed

[2019-07-03 10:56] iFA88 commented on #10724
Sadly did not happen. I will report when it occurs.

[2019-07-03 11:35] iFA88 commented on #10821
Sadly the new parity (`Parity-Ethereum/v2.6.0-nightly-b4af8df-20190702/x86_64-linux-gnu/rustc1.35.0`) doesn't solved the memory issue:
https://www.fusionsolutions.io/doc/memlog3.tar.gz
![kép](https://user-images.githubusercontent.com/18205395/60588429-3c5f1e80-9d97-11e9-954b-6090dd580994.png)

[2019-07-03 11:38] dvdplm commented on #10821
Ok, and just to be clear: you ran it with mainnet with tracing on just like before, same settings except for shutdown logging?

Did you also experience shutdown problems with `Parity-Ethereum/v2.6.0-nightly`?

[2019-07-03 11:56] iFA88 commented on #10821
@dvdplm yes and yes :(

[2019-07-03 12:51] dvdplm commented on #10821
Ok, so @ordian, this that tells us that this is not related to jemalloc, do you agree?

[2019-07-03 17:01] hklee93 commented on #10695
Just to make sure, let me clarify my question. I did some test and this is what I figured out. Are we only allowed to call `personal_sendTransaction` on the node (regardless of being validator or not) with the only account that was created on that specific node?

Ex)
-On physical node0 -> created account node0 (validator)
-On physical node1 -> created account node1 (validator)
-On physical node2 -

[2019-07-03 17:08] seunlanlege commented on #10832
The enforced use of `verifyingContract` and `chainId` is for contract security so as to prevent being vulnerable signature replay attacks

[2019-07-04 01:40] slavserver commented on #9997
Please, fix this error

[2019-07-04 02:56] joshua-mir commented on #9997
@slavserver please keep conversation on topic, make new issues for musicoin and callisto. PRs are also welcome - here's the expanse hard fork tracking issue: #10570

[2019-07-04 08:43] grbIzl commented on #10695
Yes. When you create an account on nodeX, you generate key data, that stored in nodeX data folder. So only nodeX has access to it and can perform actions on behalf of this account. You can import keys to the other node, but you have to do it explicitly.

[2019-07-04 08:59] iFA88 commented on #10821
The `Parity-Ethereum/v2.6.0-nightly-b4af8df-20190702/x86_64-linux-gnu/rustc1.35.0` has been crashed at the night, the process runs, I can communicate trough RPC, they current block height is `8080446`, so the syncing has been stopped. There was no incident even in kernel log or syslog. Free space was more than enough. I switch back to `Parity-Ethereum/v2.4.9-stable-691580c-20190701/x86_64-linux-gn

[2019-07-04 09:16] qiluge commented on #10836
Is there anyone to help me?

[2019-07-04 09:42] niklasad1 commented on #10743
I think this answer it sufficient for your question, re-open if you don't agree

[2019-07-04 09:42] #10743 closed

[2019-07-04 09:44] iFA88 commented on #10724
I got an issue with the sync. My archive node got the blocks but doesn't imports it:
https://www.fusionsolutions.io/doc/syncissue.tar.gz

[2019-07-04 09:49] dvdplm commented on #10821
Ouch that doesn't sound good. When you say "crashed" do you mean that the process hung in some way or did it actually crash? I mean, you write that you could still query the node over RPC right?

I am still synching mainnet, am about half-way through but I anticipate it'll take a long while still.

I wonder if there's anyway you could share your database with us to speed up the investigation?

[2019-07-04 10:03] iFA88 commented on #10821
I called it crashed, because the logging and the syncing has stopped. Maybe the main thread has been hanged?! Yeah i have queried the block number to check for the sync works or not.

I would glad to help, but i don't see any possibility how can we speed up this. If you wish i can set some parameter for the party. If you have any ideas share it.

[2019-07-04 10:42] PendicGordan commented on #4523
Are bootnodes from https://github.com/ethereum/ropsten/ constantly up? I've lost connection about 1 hour ago, before that synced about 5 500 000 blocks. From time to time I got a connection and then a couple of minutes/seconds later it's lost again.

http://prntscr.com/oah45g
http://prntscr.com/oah5ef

[2019-07-04 13:47] grbIzl commented on #10724
Thank you for the logs! Did I understand correctly, that you're speaking about the issue at 2019-07-04 10:57:46.745713, when archive and full nodes had huge diff in last blocks? And this diff went to zero after one minute? (Asking because previously you had the different output for your watcher script).

If my understanding correct, here is my analysis of the provided logs: they are started at 201

[2019-07-04 14:04] iFA88 commented on #10724
I have need to cut the log because it was more than 10gb. What actual happened:
- First time the archive node syncs thought my full node.
- My full node crashed https://github.com/paritytech/parity-ethereum/issues/10821#issuecomment-508402080 and i have must to stop the process.
- So my archive node has now 0 peer.
- I started my full node and has began sync.
- Archive node connected to my full no

[2019-07-04 14:57] grbIzl commented on #10724
@iFA88 Thanks for info! Now I see bigger picture. You're right, that this checking of all blocks from scratch after full node's restart looks suspicious, and I will be looking into it. In my message I meant, nothing criminal from the original issue's standpoint, no connectivity loss, no sync loss etc

[2019-07-04 19:14] dvdplm opened #10842 "Remove all uses of mem::uninitialized"
1.36 is stable and we're using `mem::uninitialized` in a few places. Replace with `MaybeUninit`.

[2019-07-05 06:22] pnowosie commented on #10832
@seunlanlege could you be kind and support your words with spec?
I found the opposite in [EIP-712#abstract](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md#abstract)

Replay protection was proposed in [EIP-155](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md)

[2019-07-05 06:51] qiluge commented on #10836
please help help me

[2019-07-05 06:54] joshua-mir commented on #10836
@qiluge if I understand you correctly, parity performs personal_sign correctly as you can validate it on remix and etherscan correctly, but in your personal script, you are recovering the wrong address?

[2019-07-05 06:57] qiluge commented on #10836
Yes, but remix cannot verify sign result, only the ethersacn can verify.

[2019-07-05 06:59] qiluge commented on #10836
my script recover correct signed address of remix signed result, but mistake address of parity signed result.

[2019-07-05 07:08] qiluge commented on #10836
I don't known what difference of parity and remix's implementation of personal_sign.

[2019-07-05 07:11] joshua-mir commented on #10836
I'm looking into which method remix uses - it might be something you need https://wiki.parity.io/JSONRPC-personal-module#personal_sign191 to replicate

[2019-07-05 07:59] qiluge commented on #10836
So which rpc interface should I invoke so that I can get the result same with remix signed? I try the ```personal_sign191``` with "0x00" param and ```eth_sign```, and all the recover address is unmatched.

[2019-07-05 08:21] qiluge commented on #10836
The personal_sign and eth_sign return same result, so the both result are not recover the correct result while use my script. And what's the difference between your implementation and remix? In the other hand, using your rpc ```personal_ecrecover`` rpc interface would recover the correct address, why?

[2019-07-05 08:24] #10589 closed

[2019-07-05 08:28] joshua-mir opened #10844 "Retesteth compatibility tracker"
Tracking issue for potential https://github.com/ethereum/retesteth support in parity-ethereum.

RPC methods[(source)](https://github.com/ethereum/retesteth/wiki/RPC-Methods):
  [?] test_setChainParams
(https://wiki.parity.io/JSONRPC-parity_set-module#parity_setchain implements this functionality, but accepts a chainspec file not the actual chain specification json)
  [ ] debug_accountRangeAt
  [ ]

[2019-07-05 08:51] joshua-mir commented on #10836
I'm not immediately sure where the issue lies - its either in *both* remix and your script, or *both* parity and etherscan, based on what you've shared here so far.

[2019-07-05 10:08] qiluge commented on #10836
While I use Ganache ```eth_sign``` rpc interface, I cannot recover correct address.

[2019-07-05 10:23] qiluge commented on #10836
Does your message hash calculate correctlly? The signed hash should be prefix ```\x19Ethereum Signed Message:\n``` add message lenght add message original content.

[2019-07-05 10:37] joshua-mir commented on #10836
We have that prefix - https://github.com/paritytech/parity-ethereum/blob/17042e9c32005ded509dd821868acbd8d16cc475/rpc/src/v1/helpers/dispatch/mod.rs#L340-L346

[2019-07-05 11:55] #10832 closed

[2019-07-05 16:17] hklee93 commented on #10695
I see. So what I heard from Gitter channel when people said I should be able to make transactions on any nodes implies the fact that I should import the keys. I think then we are good to close this issue? Thanks again for answering!

[2019-07-05 16:19] joshua-mir commented on #10695
(@adilimroz are we still seeing this issue ourselves?)

[2019-07-05 20:21] iFA88 commented on #10724
@grbIzl It happened again, but you can have now an uncut log:
https://www.fusionsolutions.io/doc/syncissue.tar.gz

[2019-07-07 17:08] debris commented on #10290
I'm closing as we don't have enough information to do anything with this issue

[2019-07-07 17:08] #10290 closed

[2019-07-07 17:09] #10271 closed

[2019-07-07 17:39] #9646 closed

[2019-07-07 17:44] debris commented on #9147
we just split builtins into it's own crate (#10850). for now, further splits are not planned

[2019-07-07 17:44] #9147 closed

[2019-07-07 17:54] debris commented on #8542
implemented a long time ago in https://github.com/paritytech/jsonrpc/pull/280

[2019-07-07 17:54] #8542 closed

[2019-07-07 17:56] #7427 closed

[2019-07-07 17:57] debris commented on #3708
I'm closing as this is not a priority right now and will not be in a foreseeable future

[2019-07-07 17:57] #3708 closed

[2019-07-08 08:07] debris commented on #10824
I'll take care of it :)

[2019-07-08 15:27] grbIzl commented on #10724
@iFA88 the latest logs were very helpful. After the analysis I've tried to address the issue in it (massive blocks requests). Would you mind helping with testing of the patch? If yes, you can find binary here https://gitlab.parity.io/parity/parity-ethereum/-/jobs/179037/artifacts/download But please be aware, that it's based on our not stable master branch and if this node runs critical operations

[2019-07-08 17:36] iFA88 commented on #10724
I'm happy when I can help.

During the testing I'm operating with my full node, and I let archive node for testing. The most important is for me, that the database should be the same. It would be very bad when I got new database parity, upgrades my archive database and then I can not use the stable again.

I will download that file and will use it with sync trace, will report again when the issue

[2019-07-08 17:49] dvdplm commented on #10724
Please make sure you have a back up of your database before trying anything! AFAIK the database format did not change between 2.4 and 2.6.

[2019-07-08 18:07] iFA88 commented on #10724
@grbIzl The given parity doesn't sync even when I restart:
https://www.fusionsolutions.io/doc/syncissue3.tar.gz

@dvdplm I can not make backup from a 2.755T database, I don't have enough free space for that. If something get wrong I need to full re-sync. That takes 10-12 days. Its not a big problem, just slow.

[2019-07-08 18:29] grbIzl commented on #10724
@iFA88 bummer! I will look into the log and try to emulate the issue. Thank you for your help!

[2019-07-09 02:27] ysbae0928 opened #10869 "Transaciton results are different."
The result is different when the raw transmission is sent in parity light mode and fast mode respectively.
Why is the result different?
I sent the same transition.

fast node result
{"id":"1","jsonrpc":"2.0","error":{"message":"Transaction nonce is too low. Try incrementing the nonce.","code":-32010}}

light node result
{"id":"1","jsonrpc":"2.0","error":{"message":"Transaction with the same hash w

[2019-07-09 10:15] grbIzl commented on #10724
@iFA88 Are you sure, that your full node was working properly at this time? I see, that archive node doesn't receive any new blocks after 8111996. Also, if I understand correctly the format of your watcher's script output, it indicates, that the full node also had the latest block 8111996 all the time. If you believe, that the full node is operating properly, can you do me a favor and make a log f

[2019-07-09 10:24] iFA88 commented on #10724
@grbIzl My full node has worked fine in that time:
[code]
My watcher script doesn't check the full node. It checks every minute that how much block was the diff in the previous request,what is the current block height and how many peers are on the archive node.

Yesterday have put back the previous parity `Parity-Ethereum/v2.6.0-nightly-17e5d8c-20190624/x86_64-linux-gnu/rustc1.35.0` and that runs

[2019-07-09 10:33] iFA88 commented on #10724
@grbIzl Here is the log from the two node with trace sync + watcher for 2-3 min:
https://www.fusionsolutions.io/doc/betaParityIssue.tar.gz

[2019-07-09 13:08] grbIzl commented on #10724
@iFA88 thanks for the log! I've prepared the updated patch. My last one was too radical and broke fork logic handling (as a result archive node was hanging on such block). Can you give it a try? https://gitlab.parity.io/parity/parity-ethereum/-/jobs/180062/artifacts/download You need to apply it only for the archive node.

[2019-07-09 13:28] iFA88 commented on #10724
Okay, will report when the issue occurs.

[2019-07-10 06:39] qiluge opened #10870 "eth_getTransactionReceipt rpc interface return status is null, not "0x0" or "0x1""
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-07-10 06:44] qiluge commented on #10870
the tx hash is ```0xd58abe15c4d8fd8fff4072406ac3aa032931eb75becf823dd863977e6529f9d5```

[2019-07-10 06:57] iFA88 commented on #10724
Good morning,
Sadly the commit did not solved the sync issue. Logs:
https://www.fusionsolutions.io/doc/syncissue4.tar.gz
I have given 5GB limit for the logs, thats why that they end missing.

[2019-07-10 07:00] joshua-mir commented on #10870
@qiluge this has very likely already been resolved since v2.2.1 - if you still see this issue on a recent version of parity-ethereum, please let us know and I'll reopen this.

[2019-07-10 07:08] qiluge commented on #10870
After I upgrade parity to 2.5.5, the status field is still null. Should I delete old block and resynchronization block?

[2019-07-10 07:09] joshua-mir commented on #10870
Yes please.

[2019-07-10 07:30] qiluge commented on #10870
I am so sorry to tell you, the status field is still null after I resynchronized block...
[code]

[2019-07-10 08:44] joshua-mir commented on #10870
@qiluge 0x4829ba is the blocknumber where eip658 was enabled on Morden - before that block, transaction receipts did not have a status value, so this is expected behavior.

[2019-07-10 08:44] #10870 closed

[2019-07-10 08:46] qiluge commented on #10870
wow, thank you very much!

[2019-07-10 09:01] grbIzl commented on #10724
@iFA88 it seems, that something went wrong during the logging. Inside the archive tons of small files\folders (everyone represents one log message).

[2019-07-10 09:41] iFA88 commented on #10724
@grbIzl I dont know what happened, for me the archive is okay:
![kép](https://user-images.githubusercontent.com/18205395/60958452-af701400-a306-11e9-843c-04af906709c6.png)
Please download again and/or try other application.
I have extracted with `tar (GNU tar) 1.29 Copyright (C) 2015 Free Software Foundation, Inc.` without problem.

[2019-07-10 09:52] grbIzl commented on #10724
Yep, tried again and it worked. Don't know, that was it :-(

[2019-07-10 09:56] iFA88 commented on #10724
After this the client get block headers step by step n-1 from other peers:
[code]

[2019-07-10 10:01] grbIzl commented on #10724
Yep, already looking into this place

[2019-07-10 10:04] grbIzl commented on #10724
@iFA88 BTW do you have log from the full node for this timeframe?

[2019-07-10 10:09] iFA88 commented on #10724
@grbIzl Yes i have, but without trace sync :/

[2019-07-10 10:11] grbIzl commented on #10724
That's fine, I'd like to see, how deep was fork

[2019-07-10 10:14] iFA88 commented on #10724
Here is: https://www.fusionsolutions.io/doc/eth.tar.gz

[2019-07-10 10:39] soc1c commented on #10870
ref https://github.com/paritytech/parity-ethereum/pull/10731

[2019-07-10 11:10] qiluge commented on #10870
the tx after block 0x4829ba has status, but what is status of tx mined at block 0x4829ba? Null or value?

[2019-07-10 11:30] grbIzl commented on #10724
@iFA88 can you please share your config file and (or) startup parameters for your full node?

[2019-07-10 11:32] iFA88 commented on #10724
Yes:
[code]

[2019-07-10 14:00] VladLupashevskyi opened #10871 "AuRa node for chain with one validator does not reorg if has valid block with greater timestamp"
- **Parity Ethereum version**: 2.5.5-stable, 2.5.3-beta, 2.4.6-stable, 2.4.9-stable
- **Operating system**: MacOS / Linux
- **Installation**: homebrew / one-line installer
- **Network**: custom aura with 1 validator
- **Restarted**: yes

Network members:
- **V** - validator node - has V,S1,S2 enodes in reserved peers and chain json
- **S1**, **S2** - nodes on server - have V,S1,S2 enodes in reserv

[2019-07-10 14:02] joshua-mir commented on #10871
Thanks for the detailed report!

[2019-07-10 14:10] joshua-mir commented on #10871
The finality logic is described here: https://github.com/paritytech/parity-ethereum/blob/master/ethcore/src/engines/authority_round/finality.rs for aura - as you can see, if greater than half of authorities sign a chain it is considered finalized.

[2019-07-10 14:17] VladLupashevskyi commented on #10871
@joshua-mir Thank you very much for a quick reply. This explains a lot.

I would propose to add a line to the AuRa [documentation](https://wiki.parity.io/Aura) which would explicitly explain that and also note that it's not recommended to have it chain with one validator, because unexpected things can happen due to instant finality.

[2019-07-10 14:24] joshua-mir commented on #10869
@ysbae0928 a light node has less information available to it than a full node, so error messages are generally less descriptive. In this case, it might be the case that the transaction you sent to get the first response was in the mempool of the node serving your light node.

[2019-07-10 14:27] joshua-mir commented on #10871
https://github.com/paritytech/parity-ethereum/blob/34cdeac2a6a58f029c12cd89839b492e0ee4ee4f/ethcore/src/engines/validator_set/simple_list.rs#L38

Technically we already have some warnings about that - these are present in 2.6.0 beta for clarity.

[2019-07-10 14:27] #10871 closed

[2019-07-10 19:23] jwasinger commented on #10548
Hi @mariapaulafn , as you can see.. much longer than a week has passed :)  I am too busy with other work to take this on.  Happy to hand it off to be bountied to another contributor.

[2019-07-11 03:30] ghost opened #10872 "Provide "num_workers" configuration option"
re #10085

`num_workers` is currently hard-coded to 4
https://github.com/paritytech/parity-ethereum/blob/7c335e87642b848f61ab3ee7bbff5964b53d6f11/util/io/src/service_mio.rs#L198_

A configuration-option should be provided, with a default of 4.

## Implementation

Look at the `num_verifiers` config option as a guideline.

## Compatibility

Using a default of 4, the behavior should be the same

[2019-07-11 08:00] #10869 closed

[2019-07-11 08:03] ysbae0928 opened #10873 "Invalid "highest block number" value for parity."
Synchronization is normally performed, but the synchronization does not start suddenly at some point.
The "Qed" value is strange, as you can see in the picture. What should I do?

![error](https://user-images.githubusercontent.com/42667564/61033079-a7df6680-a3fd-11e9-9ced-011ee52d8745.PNG)

- **Parity Ethereum version**:
version Parity-Ethereum/v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc

[2019-07-11 08:09] joshua-mir commented on #10873
https://wiki.parity.io/FAQ#what-does-paritys-command-line-output-mean
This output means you are at a certain block (8128666) but the highest blocknumber you see on the network is less than what you have locally (8121221) and therefore there are no blocks in the queue for being processed locally (0 Qed)

[2019-07-11 08:24] ysbae0928 commented on #10873
The latest block on the other node is "8128853". And now it's connected normally to that node.
And the reason the peer is 1 was because the reserved_only option was enabled.

[2019-07-11 08:28] joshua-mir commented on #10873
Have the values in your local node's logs changed to reflect that?

[2019-07-11 08:33] ysbae0928 commented on #10873
@joshua-mir
I didn't understand what you were saying. Can you explain it in detail?

[2019-07-11 08:36] joshua-mir commented on #10873
The link I shared explains what each part of the log output means. What do you find strange about the Qed value?

[2019-07-11 08:41] ysbae0928 commented on #10873
@joshua-mir
I'm sorry...
I mistook the field.
The value of "highest block number" is invalid.

[2019-07-11 09:04] s3krit commented on #10598
@theretohere I've reached out to Kaspersky's virus whitelisting program and they have informed me that this will be fixed.

[2019-07-11 12:09] ArseniiPetrovich commented on #10763
We migrated to geth, so no chance to track is the issue still persists after #10772. Thanks.

[2019-07-11 12:09] #10763 closed

[2019-07-11 13:55] refi93 opened #10876 "Feature request: method to get Merkle proof of transaction inclusion within a block"
I know there is the `eth_getProof` JSON RPC call ([EIP-1186](https://github.com/ethereum/EIPs/issues/1186)), but this only returns the proof of balance of an account. I think it would be nice to have the ability to also get the Merkle proof of inclusion of a transaction within a block, similar to BTC's [getTxOutProof](https://bitcoin.org/en/developer-reference#gettxoutproof).

This would be a conv

[2019-07-11 14:14] joshua-mir commented on #10876
@refi93 the closest thing to this currently would probably be to use https://wiki.parity.io/JSONRPC-parity-module#parity_getblockheaderbynumber and use either the `transactionsRoot` or `receiptsRoot` - this would probably need an extra https://wiki.parity.io/JSONRPC-parity-module#parity_getblockreceipts call to get all the information needed to verify a specific transaction receipt in a block

[2019-07-11 15:47] Raid5594 commented on #10825
Hey

I had similar issues. As I found out the main issues were linked that some PATHs were not included.
When I installed yasm, cmake, and perl the installation proceeded as expected. You can also check and edit items included in path with: "sudo nano /etc/paths" if you are using Mac OS.

[2019-07-12 02:11] lazaridiscom commented on #10085
@debris, this is not solved by #10837.

[2019-07-12 03:40] lazaridiscom commented on #10872
@joshua-mir , this one is related to #10085 (which is still unsolved, possibly closed by automatism).

[2019-07-12 03:50] ghost opened #10878 "epoch_transistion_for does not fail on unequal hashes"
masks #10085

PR #10729 introduced a new problem/bug:

in case of an unequal hash, no error is raised, thus the client continues to operate, despite the chain being corrupted.

## Solution

At minimum, return `None` after the debug-log has been processed.

https://github.com/paritytech/parity-ethereum/pull/10729/files#diff-5bfc0a03ce9eda19d6d3927beaff4945R1006

[2019-07-12 05:49] PeterKimG opened #10879 "I have met a problem on parity port issue. It works with same port."
I made test1 files for running parity

and

test2 files with test1 file's enode.

First I run test1 parity and attach http://127.0.0.1 with geth.

But it didn't work with different port number so I change ports same with test1.

And... it worked.. why?

Please answer me...

[2019-07-12 07:15] joshua-mir commented on #10879
Hey, @PeterKimG if you want real-time communication, you might want to use https://gitter.im/paritytech/parity

I believe `geth attach` uses the default rpc ports unless configured otherwise - so using a non-standard port will likely not work, while using a standard port will.

[2019-07-12 07:15] #10879 closed

[2019-07-12 08:04] #10842 closed

[2019-07-12 12:20] debris commented on #10878
cc @ngotchac

[2019-07-12 18:44] dvdplm commented on #10350
`libudev` is not in use anymore.

[2019-07-12 18:44] #10350 closed

[2019-07-12 20:11] ghost opened #10881 "Provide a General Test-Setup"
(draft)

depends-on:  #10872

In order to simplify collaborative debugging, reproduction of bugs etc., a general test-setup should be provided.

An example (created for #10085) can be found here:

https://github.com/lazaridiscom/posdao-test-setup/tree/web3-bug

## Example Issues

Such a test-setup can be used to process issues like e.g.:

#10085, #10864, #10878, #10837

[2019-07-13 10:08] jsd9399 opened #10882 "Synchronization is not working."
Sync goes normally. Sync doesn't start at any point.
It starts to malfunction when the block height is strange.
You can see by looking at the log of parity below.
Because the reset option is enabled, peer 1 is normal.
When I deactivated the reserved option, there was a phenomenon where the peer was zero. Is it the same bug?
The options for the current node are enabled with the archive, trace, and

[2019-07-13 10:14] joshua-mir commented on #10882
@jsd9399 it would be very helpful to have logs from your reserved peer which is actually connected to the rest of the network, since we know that this node only gets blocks from a single source.

[2019-07-14 12:55] iFA88 commented on #10821
There is anything what I can do? The two parity which runs on main network eats my all of my RAM after 1-2 days. Daily restart is not the best solution :(

[2019-07-14 13:18] gafani opened #10883 "why shut down and start parity node during reorg"
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-07-14 13:21] joshua-mir commented on #10883
@gafani we can't help you with this version of parity, let us know if you see any similar issues with the latest stable release and I'll reopen this issue.

[2019-07-14 13:21] #10883 closed

[2019-07-14 21:09] ksolo opened #10885 "Corruption: block checksum mismatch: expected 2619177551, got 3305970101"
Hello there!

I'm running Parity 2.5.5 stable on MacOS Mojave (10.14.5) and am having problems with the initial sync.

I have deleted the db a few times using `parity db kill` and restarted the processes and each time hitting a checksum mismatch error

[code]

The logs:

[code]

At this point everything appears to be frozen and I have to kill the process.

[2019-07-15 03:06] andrewheadricke commented on #10821
I am facing similar issues with latest Parity releases.  I used to be able to sync easily and run other applications, however now after an hour or two of syncing consumes all my RAM and running other applications is not possible, even Parity alone causing the computer to lock up.

Parity used to be faster to sync and lighter on the RAM than Geth, but now I can control the RAM usage in Geth, so am

[2019-07-15 07:36] njmdk opened #10886 "rpc call eth_sendTransaction No Response"
- **Parity Ethereum version**: 2.4.6
- **Operating system**: ubuntu

Running Payment No Response
Parity config.
[rpc]
apis = ["personal","web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub"]

rpc addredd: 127.0.0.1:8545
rpc call personal_unlockAccount can success,but rpc call eth_sendTransaction Payment No Response, why???

[2019-07-15 07:47] joshua-mir commented on #10886
@njmdk what parameters are you passing to personal_unlockAccount, and have you considered using personal_sendTransaction?

FYI - if you are stuck in the state of waiting for a response from eth_sendtransaction, you can use https://wiki.parity.io/JSONRPC-signer-module#signer_confirmrequest to confirm the transaction instead of using the personal module (although you'll have to add `signer` to your

[2019-07-15 07:52] joshua-mir commented on #10885
@ksolo it looks like a peer is giving you a corrupt warp snapshot - if you see this repeatedly, I would consider deleting the `nodes.json` file in your `DATADIR/chains/ethereum/network` or maybe messing around with the `--warp-barrier` to avoid getting snapshots from that peer.

[2019-07-15 08:03] joshua-mir commented on #10732
@uurcm16 sorry for the late response, if you are still seeing this, how are you setting the nonce for your transaction? Generally transactions are culled if they have a duplicate nonce to the one on the network - if you are sending your two transactions "simultaneously"
@danrmiller are you doing something similar (sending very few transactions and having them culled)

[2019-07-15 08:30] njmdk commented on #10886
@joshua-mir i rpc call personal_unlockAccount,demo params: [
  "0x8f0227d45853a50eefd48dd4fec25d5b3fd2295e",
  "hunter2",
  null
]
Response  "true"
i can rpc call geth client eth_sendTransaction  success,but parity cann,t

[2019-07-15 08:37] ordian commented on #10885
Looks like a low-level disk/RocksDB failure.
AFAIK, `parity db kill` doesn't delete the snapshot folder, so you could try removing it manually
(in your case it's `/Users/ksolo/Library/Application Support/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d/snapshot`).

[2019-07-15 14:50] danrmiller commented on #10732
Yes I am letting parity assign the nonces. It turns out my program is checking the balance from parity and the returned balance includes the funds in the unconfirmed pending transaction, so my program thinks it has available funds to send another transaction. Thanks for your help.

[2019-07-15 15:29] ksolo commented on #10885
@joshua-mir @ordian Thanks for getting back to me! I'll try these suggestions and run it again.

[2019-07-15 16:20] deanstef commented on #9260
Hey guys. I am trying to send a lot of requests to my Parity private network. Each node has 2 cores (docker containers) and I am trying to achieve thousands of JSON-RPC tx/s spread over the network. I am using a workload generator ([tung](http://tsung.erlang-projects.org)).

I observed that my network performs well till 300 tx/s, after that Parity starts to ignore RPC requests and throughput decre

[2019-07-15 17:56] or2008 commented on #10671
having the same issue on 2.5.3. downgrading to 2.3.8 did fix the problem.

[2019-07-16 06:50] mikejanzen commented on #9394
I'm interested in this as well. In particular I'm wondering if there would have been a ZK approach to picops that would have sidestepped GDPR.

[2019-07-16 07:50] gituser commented on #10885
I just had a crash with DB corrupted on `v2.5.5` too.

And parity isn't restoring anything it's simply stuck in limbo and requires full resync. Super annoying.

I don't see any errors in dmesg or anywhere else about failed sectors on my NVME drives, so it has to be something to do with parity:

[code]

[2019-07-16 08:32] joshua-mir commented on #10885
@gituser could you please make a new issue for that? It doesn't appear to be related to this issue.

[2019-07-16 08:35] gituser opened #10893 "DB Corruption on parity v2.5.5"
- **Parity Ethereum version**: 2.5.5
- **Operating system**: Linux
- **Installation**: built from source
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I just had a crash with DB corrupted on `v2.5.5` too.

And parity isn't restoring anyt

[2019-07-16 08:35] gituser commented on #10885
@joshua-mir update my comment with issue link.

[2019-07-16 08:46] felipeargento opened #10894 "ethkey doesnt compile as a Cargo dependency"
_Before filing a new issue, please **provide the following information**._
- **Parity Ethereum version**: 2.5.5
- **Operating system**:  Linux

**actual**:
Building parity-ethereum as a Cargo dependency on either master or stable branch fails with the following error - while compiling ethkey (v0.3.0):

`error[E0277]: the trait bound rand::OsRng: secp256k1::rand::RngCore is not satisfied`

Cloning

[2019-07-16 09:29] ordian commented on #10894
@felipeargento `parity-ethereum` master (and beta) branch uses the `rand 0.6` and hence the latest revision of `eth-secp256k1` (https://github.com/paritytech/parity-ethereum/blob/14e7641835f2ece9d9fef66e6be53cce360d9c53/Cargo.lock#L776). For stable branch, a revision of `eth-secp256k1` is fixed inside of the `Cargo.lock`. We could add a `rev` to stable branch though to make it work for lib crates

[2019-07-16 10:52] #10534 closed

[2019-07-16 11:07] ordian commented on #10671
cc @ascjones

[2019-07-16 13:41] sorpaas opened #10896 "Implement retesteth for Parity Ethereum"
cc @ledgerwatch

To implement the retesteth protocol in parity, we can do it in a similar way how it is done in go-ethereum. Basically, implement it as an entirely separate program with separate RPC methods. The program initializes a `Client` struct without any other services, and can just operate on the RPC thread for simplicity. When we need to set new config parameters, drop the existing `Clien

[2019-07-16 15:15] grbIzl commented on #10724
@iFA88 can you please help with testing of the next patch? This time I'd like to apply the patch to your full node, the binary is here: https://gitlab.parity.io/parity/parity-ethereum/-/jobs/185203/artifacts/download Please keep the previously patched version for the archive node (if possible) and run both nodes with the same trace parameters as before (sync for archive, usual logging for full). I

[2019-07-16 15:20] refi93 commented on #10876
would you appreciate a PR that would add this call?

[2019-07-16 20:12] charles-cooper opened #10897 "parity_nextNonce race"
- **Parity Ethereum version**: 2.5.5
- **Operating system**: Linux
- **Installation**: github release
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: no

`parity_nextNonce` gives the same nonce shortly after a call to eth_sendRawTransaction. I noticed this issue in a previous release but waiting 1s between RPCs seemed to be a good workaround. With the new stable release, the

[2019-07-17 02:00] ysbae0928 commented on #10882
this is same issue #10724

[2019-07-17 03:39] ksolo commented on #10885
@joshua-mir @ordian I removed the files and things are moving further along. I'll close this issue. Thanks for the help!

[2019-07-17 03:39] #10885 closed

[2019-07-17 07:02] joshua-mir commented on #10882
Possibly.

@jsd9399 closing as duplicate unless you can share logs from your other node that suggest otherwise.

[2019-07-17 07:02] #10882 closed

[2019-07-17 08:58] iFA88 commented on #10724
So its something went very wrong..
What I have now:
archiveNode => specialParity (`Parity-Ethereum/v2.7.0-nightly-b82b0ad-20190709/x86_64-linux-gnu/rustc1.36.0`)
fullNode => specialFullParity (`Parity-Ethereum/v2.7.0-nightly-5277eb3-20190716/x86_64-linux-gnu/rustc1.36.0`)

Logs:
https://www.fusionsolutions.io/doc/speclog.tar.gz

Result:
The fullNode works with few new log output. The archive node

[2019-07-17 10:26] grbIzl commented on #10724
@iFA88 Thank again! Your help is invaluable! Is it possible to launch a short log session with both nodes patched and sync trace enabled on both as well? Just run them both and wait 1-2 mins

[2019-07-17 10:34] iFA88 commented on #10724
Here is:
https://www.fusionsolutions.io/doc/specissue2.tar.gz

[2019-07-17 10:51] grbIzl commented on #10724
@iFA88 you're saying, that archive node quits? Can you please explain in more details? Does it panic? How does it look like? From the logs it seems, that the node was simply shut down after several seconds :-(

[2019-07-17 11:32] iFA88 commented on #10724
:( https://gist.github.com/iFA88/10222ceb5e1ac5d62b32258804d670bd

[2019-07-17 11:38] iFA88 commented on #10724
I will try recover my parity database. May that was for that I can only shut down the parity with SIGKILL..

[2019-07-17 12:18] grbIzl commented on #10724
:-( I would also recommend check your disk and memory, in order to make sure, that it was not the reason for the corruption (fsck and memtest).

[2019-07-17 14:24] grbIzl commented on #10896
Duplicate for #10844 ?

[2019-07-18 10:51] #10896 closed

[2019-07-19 07:03] miguelmartinezinf opened #10903 "Crash with "Too many open files""
- **Parity Ethereum version**: Parity-Ethereum/v2.4.8-stable-25435c6-20190625/x86_64-linux-gnu/rustc1.35.0
- **Operating system**: Linux
- **Installation**: Docker official image parity/parity:stable
- **Fully synchronized**: no
- **Network**: private network
- **Restarted**: yes (once, automatically by node)

I am running a parity private network using docker-compose locally. The network is compo

[2019-07-19 07:41] joshua-mir commented on #10903
@miguelmartinezinf it would be quite helpful if you were able to check if this still occurs in 2.6.0 beta as there have been significant changes in that release that may have addressed this issue

[2019-07-19 08:40] miguelmartinezinf commented on #10903
@joshua-mir I will definitely try it on that version and I will come with feedback

[2019-07-19 11:33] deanstef commented on #9582
Hey @Pzixel are you still having that issue? I am experiencing something similar in my 4 nodes network with this configuration: [#10382 (comment)](https://github.com/paritytech/parity-ethereum/issues/10382)

If I spam the nodes with 1k req/s (simple RPC eth_sendTransaction over HTTP) I see a big degradation of de throughput and a lot of request simply get ignored.

@tomusdrw Do you have any update

[2019-07-19 23:55] Pzixel commented on #9582
Under huge load parity eventually stops processing transacitons. It just takes as many as specified in max queue parameter in toml and then hangs, in terms it never generates the block with those transactions whilst new txs gets rejected with "queue limit exceeded" error message.

We didn't find any better approach than just reboot all the mining nodes when this happens. Parity tech seems to be fo

[2019-07-21 12:58] debris opened #10905 "TransactionVerifier"
implement https://github.com/paritytech/parity-ethereum/pull/10891#pullrequestreview-262336856

[2019-07-22 05:13] sicute opened #10907 "parity stuck block 8160700 and 8160986"
- **Parity Ethereum version**: v2.2.11-stable-8e31051-20190220/x86_64-linux-gnu/rustc1.32.0
- **Operating system**: Linux ubuntu
- **Installation**: one-line installer
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**:  yes

the parity was stuck  at block 8160700 make  parity restart , then at 8160986 was block stuck until restart the parity.
[code]

[2019-07-22 07:20] joshua-mir commented on #10907
@sicute there have been many, many changes since 2.2.11 - which has been out of support for a while now. Can you please try again with the latest stable and see if you have the same problems? Will reopen if that is the case.

[2019-07-22 07:20] #10907 closed

[2019-07-22 07:36] sicute commented on #10907
ok thanks i will update to lates

[2019-07-22 08:15] adilimroz opened #10908 "Hive test failures on addition of new ethereum consensus tests"
- **Parity Ethereum version**: https://github.com/paritytech/parity-ethereum/tree/7f707fa524baaaccac499d69f9e452b380c31ffa

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[New Tests](https://github.com/ethereum/tests/tree/develop/BlockchainTests/GeneralStateTests/stRevertTest) has been added in ethereum consensus

[2019-07-22 09:05] gpersoon commented on #10378
I've tried the latest build and i still see the issue:

[code]

[2019-07-22 11:48] miguelmartinezinf commented on #10903
Hi, It is still happening with Parity-Ethereum/v2.6.0-beta-e38293b-20190708/x86_64-linux-gnu/rustc1.36.0

Number of open files increase little by little til reaching 4096 (open files limit). In this case, parity does not restart automatically (Idk why), and rejects any connections with no other reaction...
Logs: https://github.com/miguelmartinezinf/parityLogs/tree/beta

Thanks in advance,

[2019-07-22 15:28] ppratscher commented on #10228
We are still experiencing this issue with v2.6.0

[2019-07-22 16:10] zroper opened #10910 "Stage 5 block verification failed for #10685005 on kovan network"
I'm having trouble syncing with the kovan network. I get a stage 5 verification failure/ bad block error at #10685005. I've upgraded parity and run a kill db for kovan and I can get the snapshots after about 2 days of downloading but the error persists after snapshots. Deleted nodes.json and it didn't help either.

- **Parity Ethereum version**: 2.5.5
- **Operating system**: MacOS
- **Installation

[2019-07-22 16:19] joshua-mir commented on #10910
Does this result in a crash? Or just this error and the node continues working? If it's the latter case, what happens if you allow the node to continue syncing after you see the bad block error?

Also, in this scenario does block 10685005 represent the head of the chain and does this happen during sync, or is it a historical block?

@zroper can you try on 2.6.0 as well? That version includes many

[2019-07-22 16:34] zroper commented on #10910
No, it doesn't result in a crash, but it will keep attempting to sync with block 10685004 without success (error only throws once).

10685005 is a historical block. Head of chain is >12376085.

After upgrading to 2.6.0, I'm getting the same error.

[2019-07-23 11:09] stone212 commented on #10617
@joshua-mir

No.  I don't know what Aura engine is?

Yes.  I confused a release note about `eip1283DisableTransition` to mean I had to disable `eip1283Transition` for compatibility.  The upgrade works now that I re-entered `eip1283Transition`.

[2019-07-23 21:41] abunsen commented on #10621
Can confirm I've seen this as far back as `v2.3.4-beta` as well.

Here is the start command:

[code]

on a machine with 16GB RAM, 50GB disk + a 4.3TB mounted volume, the only thing that fixes it is a parity stop, `sync; echo 1 > /proc/sys/vm/drop_caches` (which only clears page cache) and then start command above will get blocks syncing again.

Would love to understand what's going on. Any way I c

[2019-07-24 06:16] joshua-mir commented on #10621
it's my understanding that (unless you are seeing blocks getting ignored repeatedly in your `-l sync` logs,) this issue is usually related to the time spent idling in io, which causes your peers to drop you, and makes it harder to get up to date blocks (which is why I was recommending increasing cache_size - especially in an archive node you want the state trie to be entirely in memory and flushed

[2019-07-24 06:49] jbunce opened #10912 "There are too many transactions in the queue: v2.5.0"
_Before filing a new issue, please **provide the following information**._

- **Parity Ethereum version**: 2.5.0
- **Operating system**: Linux
- **Installation**:  built from source (for rinkeby.json support) & Dockerised
- **Fully synchronized**: yes
- **Network**: Rinkeby
- **Restarted**: yes

We run blockchain services that use Parity with a substantial number of RPC usage (~1 million calls ove

[2019-07-24 07:01] joshua-mir commented on #10912
1) transactions can vary wildly in size but the *minimum* is a little bit over 100 bytes per transaction. You should probably be using the two simultaneously - both are maximums, so you will likely be running at less than configured for both of those limits.

2) transactions that are dropped are "dropped" immediately (a more accurate description would be "swapped out for" a higher rated transactio

[2019-07-24 07:07] jbunce commented on #10912
Thanks for the fast response @joshua-mir! I'll try that and report back :)

[2019-07-24 08:53] gituser commented on #9684
I just had this crash with `parity-v2.5.5-stable-3ebc769-20190708`

[code]

[2019-07-24 09:05] joshua-mir commented on #9684
@gituser can you share the output of `lscpu`?

[2019-07-24 10:19] jbunce commented on #10912
This was really useful @joshua-mir. `--no-persistent-txqueue` has a significant memory usage reduction and we're no longer getting that exception. If you're at DevCon in Osaka I'll buy you a beer! Cheers

[2019-07-24 10:19] #10912 closed

[2019-07-24 10:36] gituser commented on #9684
@joshua-mir

there you go:

[code]

[2019-07-24 10:42] joshua-mir commented on #9684
Ack sorry, I meant `cat /proc/cpuinfo` so we have the same info as above - I'll reopen this.

[2019-07-24 10:47] gituser commented on #9684
There you go:

[code]

[2019-07-24 10:48] ordian commented on #9684
@gituser could you tell us which versions don't crash for you (e.g. from 2.5.x)? (trying to bisect the regression)

[2019-07-24 10:49] gituser commented on #9684
@ordian the last version which worked I think was `parity-v2.4.9-stable-691580c-20190701`

[2019-07-24 12:10] axic opened #10914 "Schedule new_byzantium has create2 set to true"
In https://github.com/paritytech/parity-ethereum/blob/master/ethcore/vm/src/schedule.rs#L274 the `Schedule::new_byzantium()` helper has `have_create2` set to true, however it was only introduced with Constantinople. See [EIP-609: Byzantium](http://eips.ethereum.org/EIPS/eip-609) and [EIP-1013: Constantinople](http://eips.ethereum.org/EIPS/eip-1013)).

The reason it is not manifesting as an error i

[2019-07-24 12:39] ordian commented on #9684
@gituser hm, the error is no reproducible on my CPU, which differs from yours only in a couple of flags ('ept_ad', 'pti', 'epb'), but they shouldn't case that. Does the illegal instruction error occur on startup (e.g. with `parity --help`) or after some time? It could be caused by panicking inside of a panic for which the rust compiler generates an invalid instruction AFAIR.
It would help if you c

[2019-07-24 13:00] zet-tech opened #10915 "DB corrupted: Corruption: block checksum mismatch"
- **Parity Ethereum version**: 2.5.5 (and occurred in 2.4.x as well)
- **Operating system**: Linux (Ubuntu 18.04)
- **Installation**: binaries from GitHub
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

We encounter following issue:
2019-07-23 14:46:06  DB corrupted: Corruption: block checksum mismatch: expected 3848331410, got 863857200  in /mnt/HC_Volume_2853858/eth/c

[2019-07-24 13:02] joshua-mir commented on #10915
Thanks for the extremely detailed report!

[2019-07-24 15:04] charles-cooper opened #10917 "Insufficient funds with pending txns"
- **Parity Ethereum version**: 2.5.5
- **Operating system**: Linux
- **Installation**: github release
- **Fully synchronized**: no / yes
- **Network**: ethereum
- **Restarted**: no

I haven't reproduced this outside of observing it a couple times but I am fairly sure it has to do with pending txns with same nonce being applied as holds against account balance. E.g.,
1) acct balance 1.5 ETH
2) send

[2019-07-24 15:48] joshua-mir commented on #10917
@charles-cooper as per your gitter message, if the transactions have the same nonce this is indeed an error - the transaction should either be replaced or you should get an error that your gasPrice wasn't high enough to successfully replace the transaction.

[2019-07-24 15:49] deanstef opened #10918 "Parity accounts locked with simultaneous RPC eth_sendTransaction"
- **Parity Ethereum version**: v2.4.5-stable
- **Operating system**: Linux
- **Installation**: Docker
- **Fully synchronized**: n/a
- **Network**: Private PoA
- **Restarted**: n/a

I am running a Aura PoA network with 4 authority nodes with this configuration [#10382 (comment)](https://github.com/paritytech/parity-ethereum/issues/10382).

Each node has an authority account fully unlocked and this

[2019-07-24 15:57] joshua-mir commented on #10918
This is super useful, thanks!

[2019-07-24 18:54] gituser commented on #9684
@ordian I'm happy to test, the biggest issue is to reproduce the panic.

Not sure why it happens and how to reproduce it.

[2019-07-25 00:58] dtran320 commented on #10228
We're also seeing this issue in `version Parity-Ethereum/v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc1.36.0`.

[2019-07-25 06:39] adilimroz commented on #10695
@joshua-mir Yes we do. Fix is yet to be added to the latest beta and stable.

[2019-07-25 12:10] ayrat555 opened #10922 "`trace_replayBlockTransactions` doesn't distinguish between `create` and `create2`"
- **Parity Ethereum version**: Parity-Ethereum//v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc1.36.0
- **Operating system**: Linux
- **Network**: kovan

`trace_replayBlockTransactions` for block number `11368718` returns
[code]

the second trace marked as `create`. but it's actually  `create2`

[2019-07-25 12:40] 0age commented on #10922
This is the deployment of the [HomeWork](https://github.com/0age/HomeWork) contract on Kovan - you can see the deployment process at the start of the tests. It is indeed using `CREATE2`. Let me know if it’d be helpful to provide additional context.

[2019-07-25 22:19] gituser commented on #10915
This might be related to this issue: https://github.com/paritytech/parity-ethereum/issues/10893

[2019-07-26 18:40] dtran320 commented on #10228
@ppratscher Have you come up with any workarounds? Do changing up any of `—tx-queue-per-sender`, `--tx-queue-mem-limit`, and `—tx-queue-size` improve the instances of `Transaction culled`? What's strange is that occasionally we actually see a tx hash that gets culled in the parity logs actually gets mined.

[2019-07-26 21:08] dtran320 commented on #10897
We're running into this running `2.5.5` as well

[2019-07-27 20:35] deanstef commented on #10918
Hi guys! This was due to a bad load balancing client side. I was making bad requests to my nodes. I managed to fix my requests and everything is working well now. I close the issue.

[2019-07-27 20:35] #10918 closed

[2019-07-29 10:44] debris commented on #10922
That's true. They are essentially the same, only a different contract address is produced. Imo there is no need to implement this. @tomusdrw what do you think?

[2019-07-29 12:22] tomusdrw commented on #10922
We do distinguish `staticcall` and `call` and those are essentially the same as well. Imho might be worth implementingit, maybe adding `createType` to `action` (alike `callType`)?

[2019-07-29 14:20] debris commented on #10872
eventually we want to get rid of `util/io` so this feature is not a priority

[2019-07-29 14:20] #10872 closed

[2019-07-29 14:21] #10881 closed

[2019-07-29 14:25] debris commented on #10715
We should mention in our documentation (if we do not have it already) that we support VS2015 and VS2017, supporting default installation of VS2019 (if it actually doesn't work) is currently not a priority

[2019-07-29 14:25] #10715 closed

[2019-07-29 14:30] debris commented on #10625
@General-Beck run those tests in `--release` mode.

@ltfschoen I cannot reproduce any of the build failures that you have with latest master

[2019-07-29 14:30] #10625 closed

[2019-07-30 09:34] geigerzaehler opened #10925 "Receipt for failed Wasm contract deployment includes contract address"
When the creation of a Wasm contract exhausts its gas the transaction receipt includes the contract address. I would expect the contract address to be `null`

I deployed the `step-5` wasm contract from [`pwasm-tutorial`](https://github.com/paritytech/pwasm-tutorial) manually supplying to little gas. The receipt for the contract creation transaction included the following fields (some are omitted):

[2019-07-30 11:45] Parean commented on #10028
@joshua-mir I have the same issue and I don't think that the matter is in the ethminer, because the same version of the miner works fine if I connect to the ropsten testnet. For some reason, when working with a private network, the parity sends a job only once, in response to mining.subscribe request. But the miner ignores this first job because it waits for the job exactly in the notification, an

[2019-07-30 11:48] Parean commented on #10028
Also, I would be grateful if someone would tell me if there is a different, simpler method of generating new blocks in a private network at the moment. Without using ethminer.

[2019-07-30 11:54] joshua-mir commented on #10028
@Parean it might be worthwhile looking into the logs generated when running with `--logging miner`

Also, unless you are testing things related specifically to PoW networks, I would recommend using a PoA consensus algorithm (Aura/AuthorityRound for Parity-only networks, Clique if you want to connect with geth nodes as well) for private network - there is no need to run external mining software in

[2019-07-30 12:30] Parean commented on #10028
Yes, I know. But, unfortunately, I need to test the process of mining in the PoW network.

Here are the logs of the node running with the parameters `--logging engine, miner`. I called `eth_sendRawTransaction`   method three times while it was running.

[code]

[2019-07-30 12:37] joshua-mir commented on #10028
@Parean actually, could you make a new issue about this? This actually looks `txqueue` related, as the transactions never actually appear to have gotten to the miner.

[2019-07-30 13:11] Parean opened #10927 "New transactions never actually appear to have gotten to the miner if the parity connected to a private network"
- **Parity Ethereum version**: 2.3.8
- **Operating system**:  Linux
- **Installation**: built from source
- **Fully synchronized**: yes
- **Network**:  private network
- **Restarted**: yes

I try to make the node connected to a private network and the ethminer work together. For some reason, when working with a private network, the parity sends a job only once, in response to `mining.subscribe` re

[2019-07-30 13:14] joshua-mir commented on #10927
It might also be useful to see what's going on with the transactions with `--logging txqueue` as they don't appear to ever get into the pending transaction set of your node.

[2019-07-30 13:48] Parean commented on #10927
@joshua-mir
2019-07-30 15:42:22  main INFO parity_ethereum::run  Starting Parity-Ethereum/v2.5.5-stabl                                                                                                                                                   e-3ebc76975-20190708/x86_64-linux-gnu/rustc1.36.0
2019-07-30 15:42:22  main INFO parity_ethereum::run  Keys path /home/denis/.local/share/io

[2019-07-30 13:54] ayrat555 commented on #10922
geth has a different JSON RPC method for debugging transactions. and it do distinguish `create` and `create2`

[2019-07-30 13:54] Parean commented on #10927
@joshua-mir

[code]

[2019-07-31 05:08] Parean commented on #10927
@joshua-mir If this helps, I can provide my chain spec file and parameters with which I launch the node.

[2019-07-31 05:54] usd-yamazaki commented on #10903
- **Parity Ethereum version**: Parity-Ethereum/v2.1.10-stable-b47e064-20181213/x86_64-linux-gnu/rustc1.31.0
- **Operating system**: Linux (Ubuntu 18.04.1 LTS)
- **Installation**: one-line installer
- **Fully synchronized**: yes
- **Network**: private (Aura)
- **Restarted**: yes

I am using a slightly older version, but I am experiencing similar symptoms.
If you monitor the number of file descripto

[2019-07-31 15:42] sandakersmann opened #10930 "Thread 'tokio-runtime-worker-2' panicked at 'supplied instant is later than self', src/libcore/option.rs:1036"
2019-07-31 17:35:08  Imported #8259239 0xc538…74ff (236 txs, 7.96 Mgas, 8525 ms, 35.06 KiB)
2019-07-31 17:35:39    11/25 peers   141 MiB chain 321 MiB db 0 bytes queue 18 MiB sync  RPC:  0 conn,    0 req/s,    0 µs
2019-07-31 17:36:28    13/25 peers   141 MiB chain 321 MiB db 213 KiB queue 18 MiB sync  RPC:  0 conn,    0 req/s,    0 µs

====================

stack backtrace:
   0:     0x562ee64c20

[2019-07-31 18:52] gituser commented on #10893
It happened again:

[code]

I checked there is nothing in the logs this time.

[2019-07-31 20:51] tjayrush commented on #10925
This 'non-created' contract address has been part of the receipt since forever. It happens if the constructor throws or reverts (as best as we can tell). I don't think it can be changed in just Parity though. Aren't the contents of the receipt under consensus? (Just asking, don't know for sure.)

[2019-07-31 20:54] joshua-mir commented on #10925
Indeed - if the contract address wasn't in the receipt of a failed transaction, pwasm semantics wouldn't match the evm. Receipts are part of consensus.

[2019-07-31 21:10] dtran320 commented on #10348
Still seeing this in `2.5.5-stable` and on nodes without `pruning=archive` this time.

[2019-08-01 09:17] c0deright commented on #10371
Is there any progress in finding the root cause of this?

We're still running `v2.2.9` because of this single bug and I curse the day the next ethereum consensus upgrade/change is coming and we have no other option as to upgrade (or change to geth).

@joshua-mir Could you elaborate what that means exactly? How am I supposed to handle/manage my keys if not in the parity `keys` directory? What's the

[2019-08-01 09:40] joshua-mir commented on #10371
@c0deright we've put complete removal of key management mostly on ice while we do other refactoring, but I meant using tools like geth's `clef` or doing key management entirely on the client side or in external backends, instead of signing transactions using parity's rpc endpoints - in practice this wouldn't mean changing logic, but changing the endpoint you call when making a transaction.

have y

[2019-08-01 13:21] adamschmideg opened #10933 "Implement EIP-1767 GraphQL API to Ethereum node data"
This is a feature request.

The current JSON RPC API has shortcomings, so [EIP 1767, a GraphQL interface](https://eips.ethereum.org/EIPS/eip-1767) is proposed. It's implemented and released by [Geth 1.9.0](https://github.com/ethereum/go-ethereum/releases/tag/v1.9.0) and [Pantheon](https://github.com/PegaSysEng/pantheon/blob/master/CHANGELOG.md#111), and it's in progress for [Trinity](https://githu

[2019-08-01 15:14] gituser commented on #10371
@joshua-mir

I tend to disagree with this. If you're relying e.g. on `parity_localtransactions` ttps://wiki.parity.io/JSONRPC-parity-module#parity_localtransactions it won't be possible anymore to track those locally via this RPC call to track e.g. balance changes or pending transactions via this specific RPC call.

Not sure about `clef` tool, how mature is it?

And also `geth` didn't remove their

[2019-08-01 15:41] joshua-mir commented on #10371
This is starting to go off topic from this issue - we won't make any changes unless the upgrade path is clear and straightforward, the same likely applies to geth, but obviously I can't speak for them. We're trying to avoid the problem we had back in 1.11 -> 2.0 with no clear update path for many users.

Totally agree, but parity-ethereum wasn't designed to be that tool (or rather, it originally w

[2019-08-01 17:40] streetcrypto7 opened #10934 "Using parity for Exchange node"
Hello, I would like to ask which sync mode should I use for exchange's node

I need a state db of erc20 contracts in order to enable deposit and withdrawal function of exchange.

I am referring this article https://dev.to/5chdn/the-ethereum-blockchain-size-will-not-exceed-1tb-anytime-soon-58a however I still can't figure out the right configuration for my node.

[2019-08-01 17:46] joshua-mir commented on #10934
@streetcrypto7 - erc-20 token transfers emit event logs, which should be available in any sync mode with the https://wiki.parity.io/JSONRPC-eth-module#eth_getlogs rpc method - the only reason you would need a heavier sync mode (like `--pruning archive --tracing on`) is if you want to enable your users to deposit Ether into your exchange *from smart contracts*, this is because you may need to look

[2019-08-01 18:08] streetcrypto7 commented on #10934
@joshua-mir I've searched for the source code, and we don't use eth_getlogs for fetching erc20 transactions

![캡처](https://user-images.githubusercontent.com/52137633/62316544-aff96600-b4d2-11e9-97b7-b4b486e88cd7.PNG)

Instead we use `eth_getTransactionReceip`t and `eth_call`

[2019-08-01 18:11] joshua-mir commented on #10934
The answer doesn't change - you appear only to be using information from the `latest` block - that shouldn't require any node outside of the default.

[2019-08-01 18:41] streetcrypto7 commented on #10934
@joshua-mir Right now I've tested with `eth_call` api with ropsten testnet, parity warp sync without ancient blocks configuration.

[code]

While infura does
[code]

[2019-08-01 18:44] joshua-mir commented on #10934
@streetcrypto7 are you already in sync? You can either use warp or `--no-warp` - a `--light` client probably will not be sufficient for your usecase. There is no sync mode secure enough to use in an exchange other than that.

[2019-08-01 18:48] streetcrypto7 commented on #10934
I've finished the sync with warp mode but it is insufficient for dealing with ERC20 contracts, so I am trying with `--no-warp` instead of warp mode.

`--light` client of course is not a case for me 😂

[2019-08-01 19:04] streetcrypto7 commented on #10934
@joshua-mir I've finished the sync with warp mode but it is insufficient for dealing with ERC20 contracts, so I am trying with `--no-warp` instead of warp mode.

`--light` client of course is not a case for me 😂

[2019-08-02 06:44] cvl opened #10935 "Do you realise that your mac binary doesn't have an extension?"
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-08-02 06:49] cvl commented on #10935
My 2 cents: I understand that this high tech is still in development, but please make it _at least somewhat_ user friendly.
It was more user friendly 2 years ago than it is now.

[2019-08-02 06:53] joshua-mir commented on #10935
Yes, the Mac binary is a binary - not an image or application (.dmg/.app) - the lack of extension is intended

parity-ethereum used to bundle an end-user wallet (which has been removed, if you want to use that, I would recommend using github.com/paritytech/fether), it is currently a service you execute via the CLI.

[2019-08-02 09:06] #10935 closed

[2019-08-02 09:12] miguelmartinezinf commented on #10695
Hi, I am facing the same issue... getting "Not preparing block; cannot sign." message on node logs.

- **Parity Ethereum version**: Parity-Ethereum/v2.6.0-beta-e38293b-20190708/x86_64-linux-gnu/rustc1.36.0
- **Operating system**: Linux
- **Installation**: Docker official image parity/parity:stable
- **Fully synchronized:** no
- **Network:** private network (aura)
- **Restarted:** no

[2019-08-02 12:00] adilimroz opened #10936 "Authority nodes are not mining transactions and blocks."
- **Parity Ethereum version**: v.2.6.0
- **Operating system**: Linux
- **Installation**: built from source
- **Network**: Custom POA network.

**Steps to reproduce**

1. Follow the steps to create a poa network from [here](https://wiki.parity.io/Demo-PoA-tutorial)
    It will have two nodes with one(node0) having an authority account and a user account and      the other(node1) having just an auth

[2019-08-02 12:33] joshua-mir commented on #10695
@miguelmartinezinf are you seeing this message more often than just on startup? Apparently it is expected behavior to see this on startup, the issue is if you see it after your node is running. If you do, could you share `-l engine` logs in #10936?

[2019-08-02 12:33] #10695 closed

[2019-08-02 13:21] iFA88 commented on #10724
Still syncing.. It is on #5805037 block now..

[2019-08-02 14:24] streetcrypto7 opened #10937 "unable to get mut ref for engine for shutdown"
- **Parity Ethereum version**: 2.5.5
- **Operating system**: Linux
- **Installation**: release file
- **Fully synchronized**: no
- **Network**: ethereum / ropsten
- **Restarted**: no

Parity slow stop with error message: `unable to get mut ref for engine for shutdown`

Full log from serviced

[code]

[2019-08-02 15:08] grbIzl commented on #10936
I've prepared a PR for the issue, see #10938 But one thing is not covered in it. In our POA tutorial we have in config parameter reseal_on_txs set to "none". In order to have this fix working, this parameter has to be set to "own" or removed (that's identical, because its default value is "own").  From my point of view, such behavior is legit (do not seal block for own transaction, if reseal_on_tx

[2019-08-02 15:16] Genysys commented on #10937
do you have logs from when the service failed? i think `journctl -r | grep parity`  might be worth looking at

[2019-08-02 15:23] Genysys commented on #10934
Warp works eventually. It would go to the head of the chain and back fill.  When this returns nil, you would have fully synced and be able to query historic er20 contracts: https://wiki.parity.io/JSONRPC-parity-module#parity_chainstatus

[2019-08-02 16:25] joshua-mir commented on #10936
It took me a second to parse this, but yes I agree - if the behavior was different before #10529 and #10938, that was in error.

[2019-08-02 17:49] streetcrypto7 commented on #10934
@genysys How about '--no-ancient-block' option should I use them?

[2019-08-02 17:53] joshua-mir commented on #10934
@streetcrypto7 that's probably not secure enough to run an exchange on top of, at least on initial sync - it is trivial for someone to send you a bad snapshot of the chain and unless you manually compare blockhashes you won't know you are not on the correct network. Also you will have no historical block data (but it doesn't look like you are using it, so that might not be relevant).

Ultimately i

[2019-08-02 17:57] streetcrypto7 commented on #10934
@joshua-mir I am not very interested for p2p or network security, I just want to know if the states for erc20 contract is availsble or not?

[2019-08-02 18:01] joshua-mir commented on #10934
Only unpruned states, same as a warp or no-warp sync. You can't get historic data unless you run an archive node. Can you confirm that you are only querying states in the `latest` block? Otherwise you likely need to run an archive node, which is significantly more resource intensive.

[2019-08-02 18:10] streetcrypto7 commented on #10934
@joshua-mir So with `--no-warp -no-ancient-blocks' and after some time with parity_chainstatus returns nil I will be able to use eth_call for erc20 right? I will only use latest status right

[2019-08-02 18:12] joshua-mir commented on #10934
Yes. If you are still seeing nil on the latest block after you are in-sync, that is an issue and should be reported.

[2019-08-03 07:10] streetcrypto7 commented on #10934
@joshua-mir Do you know how to understand the `parity_chainstatus` api?

[code]

What does this, `"blockGap":["0x1","0x5d27a9"` means?

I've synced from block 1 to 6105001 ?

[2019-08-03 07:15] joshua-mir commented on #10934
@streetcrypto7 https://wiki.parity.io/JSONRPC-parity-module#parity_chainstatus

You have a gap in the chain from 1 to 6105001 - you have synced however many blocks your normal logs say you have after 6105001

[2019-08-03 08:33] zroper commented on #10910
After updating to 2.6.0 and starting over with a fresh Kovan db, I still get the stage 5 error but now at block #12600016.

Stage 5 block verification failed for #12600016 (0x9b59…4582)
Error: Block(InvalidStateRoot(Mismatch { expected: 0xfd0efcb4af63316e362b22347e863463390ab0d1cd8aafc4528083c4e2b1aebb, found: 0x5feb5e89c84ba7159ac8b67f614a39924ac57c726045611a1b12bd696380f5da }))

[2019-08-03 16:37] streetcrypto7 commented on #10893
Same here

[code]

[2019-08-03 19:11] adilimroz opened #10942 "The client is unable to import blockchain in hex format."
- **Parity Ethereum version**: 2.6.0
- **Operating system**: Linux
- **Installation**: Built from source
- **Fully synchronized**: Yes
- **Network**: Goerli
- **Restarted**: no / yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
**Steps to reproduce**

1. Export the blockchain in hex format.
2. Delete the data f

[2019-08-03 21:29] iFA88 commented on #10821
I suggest the shutdown problem comes true when i send a shutdown signal to the node, but the node still accepts RPC calls and that prevents the shutdown process..

[2019-08-04 10:05] streetcrypto7 commented on #10934
I've tested and parity warp default mode works fine with ERC20 contract, thank you!

[2019-08-04 10:05] #10934 closed

[2019-08-05 07:11] usd-yamazaki commented on #10903
I will supplement a little.
This number seems to increase when using eth_sendRawTransaction rather than accessing JSON-RPC.

[2019-08-05 07:12] joshua-mir commented on #10903
That's concerning, but quite helpful thanks!

[2019-08-05 16:19] seunlanlege commented on #10942
@adilimroz can you share your hex file?

[2019-08-05 16:22] seunlanlege commented on #10937
Previous occurrences of this error have been caused by your machine running out of disk space, can you confirm that's not the case?

[2019-08-05 17:15] streetcrypto7 commented on #10937
@seunlanlege Well I can say that is not a case, parity consumes about 50GB while I have 500GB ssd mounted.

[2019-08-05 17:30] streetcrypto7 opened #10944 "Cannot add reserved peers"
- **Parity Ethereum version**: 2.6.0
- **Operating system**: Linux
- **Installation**: release file
- **Fully synchronized**: no
- **Network**: ethereum
- **Restarted**: no

I've tried 2 methods to add reserved peers as described on wiki ( node.txt file & `parity_addReservedPeer` ), and here is what I got.

When I add them on file, the node doesn't connect to the peers that I've defined, and for t

[2019-08-05 17:38] joshua-mir commented on #10944
@streetcrypto7 do you have the parity_set api enabled in your config.json's [rpc] section?

[2019-08-05 17:44] streetcrypto7 commented on #10944
@joshua-mir After enabling the api parity_addReservedPeer works now, however I don't know why the reserved peer in text file doesn't work

Here is the command line

[code]

[2019-08-05 17:50] streetcrypto7 commented on #10944
I think those peers I've added are dead 😂 ( I've founded them on https://www.ethernodes.org/network/1/nodes to speed up sync ), thanks for your big help @joshua-mir !

[2019-08-05 17:50] #10944 closed

[2019-08-06 04:36] love386 opened #10945 "Snapshot initializing"
- **Parity Ethereum version**: version Parity-Ethereum/v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc1.36.0

- **Operating system**: / Linux
- **Installation**:  / built from source
- **Fully synchronized**: no
- **Network**: ethereum
- **Restarted**: no / yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2019-08-06 05:48] dvdplm commented on #10937
@streetcrypto7 you write that Parity is slow to stop. Looking at the log timestamps however seems to indicate that systemd takes 1 second to restart the node:

[code]

That seems normal or even faster than normal to me.

[2019-08-06 06:20] dvdplm commented on #10945
I am not sure what the question/bug here is. Can you provide a better explanation of what the problem is please?

[2019-08-06 09:07] #10936 closed

[2019-08-06 09:08] #10567 closed

[2019-08-06 13:58] streetcrypto7 opened #10947 "Bad block detected: TemporarilyInvalid on mainnet sync"
- **Parity Ethereum version**: 2.6.0
- **Operating system**: Linux
- **Installation**: release file
- **Fully synchronized**: no
- **Network**: ethereum
- **Restarted**: no

I can't start my Parity node due to the IO error.

See full log on https://pastebin.com/6gdpZEdU

[2019-08-06 13:58] streetcrypto7 commented on #10947
I am using warp sync and `parity db reset` doesn't work either, what can I do? Sync from scratch again?

[2019-08-06 13:59] joshua-mir commented on #10947
@streetcrypto7 can you make sure your system clock is in sync?

[2019-08-06 14:02] streetcrypto7 commented on #10947
I've just find out my server time is slower than my local computer ( about 1 minute late )

[2019-08-06 14:12] streetcrypto7 commented on #10947
It works! After updating the NTP server list and syncing time parity now works fine, thank you again @joshua-mir !

[2019-08-06 14:12] #10947 closed

[2019-08-06 17:11] azastrael opened #10950 "eth_sendTransaction deprecated and no response"
## Information

- **Parity Ethereum version**:v2.5.5-stable-3ebc769757-20190708/x86_64-linux-gnu/rustc1.35.0
- **Operating system**: 5.2.2-arch1-1-ARCH (Linux)
- **Installation**: pacman
- **Fully synchronized**: no
- **Network**: `dev` config
- **Restarted**: yes

## Steps to reproduce

Using the following files:
- `truffle.config.js`: https://gist.github.com/azastrael/81eba44100b4f9d46f5c0573307

[2019-08-07 03:48] krtschmr opened #10951 "is there no way to secure the RPC with user:pass?"
i didn't find one, i can only find snippets to secure it via nginx:http_auth

in the docs i can't find anything.

does geth have something like that?
 literally every node we run has something like that, what's the thoughtprocess on the decisionmaking why ethereum doesn't need it?

[2019-08-07 05:45] love386 commented on #10945
Hello, thank you very much for your reply, now my eth wallet is newly built, sync to #5083604 this block, the process of the program is automatically closed, the content of the screenshot has been appearing after the startup

[2019-08-07 05:47] love386 commented on #10945
![image](https://user-images.githubusercontent.com/45838695/62597859-f1967080-b919-11e9-81b0-13948ed3487a.png)

[2019-08-07 06:23] dvdplm commented on #10945
Hi! I am still not sure I understand your problem. When your Parity node starts and the DB is not fully synced it will try to download and import the missing data from the network. If the Parity node is closed before this syncing process finish (it takes a long while) it will continue the next time the node is started.
Did I answer your question? If not, can you try to reformulate once more please

[2019-08-07 06:29] love386 commented on #10945
Thank you

[2019-08-07 07:13] joshua-mir commented on #10951
@krtschmr this isn't implemented natively in parity, you would need to enable it on a proxy of some kind - adding it to wouldn't make your node more secure as you would still need to have an additional layer to encrypt requests to your node, which would need a proxy anyway.

 this is also why we don't recommend having node traffic be publicly accessible at all, especially if you use key management

[2019-08-07 07:59] love386 commented on #10945
Hello, I have rebuilt it again. Here is the command I executed. Can you help me to see if there is a problem?

apt-get install libpam-systemd
apt-get install gcc g++ libudev-dev pkg-config file make cmake  cargo
sudo apt-get install openssl git
sudo apt-get install libssl-dev
sudo apt-get remove rustc
curl https://sh.rustup.rs -sSf |sh
source $HOME/.cargo/env
</pre>

##下载程序
<pre>
git clone https:/

[2019-08-07 08:02] joshua-mir commented on #10945
@love386 there isn't a problem with building, parity is behaving as expected - you need to wait for the snapshot initialization to complete or run with --no-warp or set a value for --warp-barrier to hopefully get a different snapshot

[2019-08-07 08:06] love386 commented on #10945
Thank you, --no-warp  is this added to the start command?

[2019-08-07 08:08] joshua-mir commented on #10945
Yes

[2019-08-07 08:09] love386 commented on #10945
After rebuilding, there is a warning to install here

![image](https://user-images.githubusercontent.com/45838695/62605905-a38b6800-b92d-11e9-87d8-c905d2658863.png)

[2019-08-07 08:17] love386 commented on #10945
Thank you

[2019-08-07 08:51] joshua-mir commented on #10945
@love386 if you want to talk in realtime, I would recommend hopping into https://gitter.im/paritytech/parity

[2019-08-07 09:16] love386 commented on #10945
ok

[2019-08-07 09:17] #10945 closed

[2019-08-07 12:08] ds414 opened #10952 "Lag in eth_getTransactionByHash"
- **Parity Ethereum version**: 2.3.9
- **Operating system**: x86_64-linux
- **Installation**: one-line installer
- **Fully synchronized**: yes
- **Network**: ethereum(mainnet, 1)
- **Restarted**: no / yes
- **Mode**: archive

We regularly check the parity for new events. When a new event appears, we immediately try to get transaction properties - _eth_getTransactionByHash_.
Normally, _eth_getTrans

[2019-08-07 12:12] joshua-mir commented on #10952
@ds414 would it be possible for you to see if this is still the case on a more recent stable or beta release?

[2019-08-07 12:17] joshua-mir commented on #10950
@azastrael the account you are using to deploy your contract needs to be unlocked or the rpc call will remain hanging indefinitely.

[2019-08-07 12:18] #10886 closed

[2019-08-07 12:29] ds414 commented on #10952
We can today upgrade parity and need some time (day or two) to check problem. I will return after that.

[2019-08-07 13:39] azastrael commented on #10950
@joshua-mir Oh, sorry for that, then ^^'. Anyway, thank you! :)

[2019-08-07 13:40] #10950 closed

[2019-08-07 14:00] krtschmr commented on #10951
@joshua-mir so best way is to have the exchange-sever talk to the node-rpc via private ip?

[2019-08-07 14:05] joshua-mir commented on #10951
Yes. Make sure `hosts` or `interface` (in the [rpc] section of your config) only allows the node to be communicated with by the exchange server.

[2019-08-08 11:08] c0deright commented on #10371
@joshua-mir

Testing now.

[2019-08-08 14:24] ds414 commented on #10952
Parity updated - v2.5.5
but still sometime we get empty response:
`{"jsonrpc":"2.0","result":null,"id":1}`

[2019-08-08 14:27] joshua-mir commented on #10952
Would it be possible to run with the `-l rpc` flag and share the logs from your node when you have the null responses?

[2019-08-09 11:14] #10768 closed

[2019-08-10 19:53] andrewtoth opened #10959 "VM execution error"
- **Parity Ethereum version**: 2.5.0
- **Operating system**: Linux
- **Installation**: dockerfile
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: no

Sent an `eth_call` with the following params:
[code]

Expect a proper response. Receive `VM execution error`.

[2019-08-10 20:11] joshua-mir commented on #10959
@andrewtoth are you certain that in the case of this transaction, an execution error isn't the expected result? The transaction you are simulating with `eth_call` in this case is a token transfer of the REP token - but the account that is making the transfer has no REP so the transaction failing seems expected...

[2019-08-11 09:12] iFA88 commented on #10821
I have discovered, when I don't use the `--cache-size` parameter, then the parity RES usage doesn't goes up as 2gb. When I use that parameter with ANY number then the memory usage goes up to 14GB (probably more but i don't have more for free) in 24 hours.

[2019-08-11 20:34] ds414 commented on #10952
In attached file piece of rpc Request/Response log with empty responses on `eth_getTransactionReceipt`
[log.txt](https://github.com/paritytech/parity-ethereum/files/3490411/log.txt)

[2019-08-12 06:38] mewwts commented on #10371
Still having this issue on 2.6-beta.

[2019-08-12 07:09] mewwts commented on #10754
I hit this issue today when _removing_ the `cache_size=` entry in config.toml, the node would halt on the same log line as above. When entering _any_ number (4096, far lower than my inital cache size, 32000) it would start syncing.

[2019-08-12 09:51] adilimroz commented on #10942
@seunlanlege Sorry! somehow missed this. Its a 1.5G file. I'll try sending it to you over riot or may be google drive.

[2019-08-12 10:21] adilimroz commented on #10942
The hex file - https://drive.google.com/file/d/17DJW1iPlVvrgUP4dpckdrUPyOkiXqDDA/view?usp=sharing

[2019-08-12 10:30] c0deright opened #10960 "[2.6.0-beta] Syncing stops intermittently, requiring parity restart"
- **Parity Ethereum version**: 2.6.0-beta
- **Operating system**: Linux
- **Installation**: binary from github releases page
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

## Expected behavior

parity-ethereum is importing blocks without interruption

## Actual behavior

parity-ethereum stopped importing/syncing. parity was syncing the same block for ~39 hours before i

[2019-08-12 10:46] c0deright commented on #10361
I see this issue again with **2.6.0-beta**.

parity v2.6.0 is constantly reading from disk even with only 5 peers connected. I'm comparing disk IO to v2.2.9 we're still running in prod because of https://github.com/paritytech/parity-ethereum/issues/10371

Running parity on AWS EBS volumes of type gp2 is almost impossible because it drains the IO credits so fast.

[2019-08-12 12:01] c0deright opened #10962 "v2.6.0: 4 GB of RAM causing endless disk reads"
- **Parity Ethereum version**: 2.6.0-beta
- **Operating system**: Linux
- **Installation**: github binary
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

## Preface

We're still running v2.2.9 on our prod nodes. These prod nodes connect to the public ethereum network but the RPC ports are only accessible for us.

For us it boils down to choose between v2.2.9 (which work

[2019-08-12 12:12] joshua-mir commented on #10962
Can you confirm there aren't any similar outcomes by disabling light-serving with `--no-serve-light`?

[2019-08-12 12:20] joshua-mir commented on #10962
And if possible, sharing the contents of your nodes.json file when you *do* experience this issue would be helpful in identifying the troublesome peers and figuring out what to do about them.

[2019-08-12 12:21] joshua-mir commented on #10962
(or the `parity_netPeers` rpc method)

[2019-08-12 12:48] c0deright commented on #10962
Testing right now. From the _looks_ of it (running only for 7 minutes), this might be the culprit. Will report back tomorrow with more details.

[2019-08-13 10:21] grbIzl commented on #10724
Hey @iFA88 ! Has the sync completed?

[2019-08-13 10:46] iFA88 commented on #10724
@grbIzl Still syncing.. best block is 6743002 now.

[2019-08-13 11:06] iFA88 commented on #10724
Good that the node has cached many blocks, because the archive node drops lot of times my full node. I database is now 1.7T, so about 15% missing from the full size.. about 6-10 days.

[2019-08-13 11:47] c0deright commented on #10960
Just happened again yesterday with this config change:

[code]

Right now the node reports 10 connected peers but it is stuck syncing #8339200

[parity-sync-freeze.txt](https://github.com/paritytech/parity-ethereum/files/3496801/parity-sync-freeze.txt)

[2019-08-13 11:49] c0deright commented on #10371
Can't say for sure because of https://github.com/paritytech/parity-ethereum/issues/10960 but `top` reports the v2.6.0 binary using 89% of my 4GB RAM (5437612 VIRT, 3.38g RES).

So I would assume this issue is still a thing in v2.6.0

[2019-08-13 11:56] c0deright commented on #10962
What did look promising in the beginning went south after a while, so `--no-serve-light` didn't make a big difference. I will retest again just to be sure.

[2019-08-13 12:04] Daniel600 opened #10963 "Save Rejected TRXs"
- **Parity Ethereum version**: 2.5.0
- **Operating system**:  Linux
- **Installation**: built from source
- **Fully synchronized**:  yes
- **Network**: ethereum
- **Restarted**:  yes

HI - Trying to understand if it is possible to save trx information which are rejected by the Transaction Queue https://wiki.parity.io/Transactions-Queue , not dropped trxs but rather rejected - i.e a trx with the sa

[2019-08-13 12:05] chakhalyan1 commented on #10555
Hi All, I have one question can help anyone ?
I what listen rejected(means that a transaction was not added to the queue) transaction is possible or not?
Parity Ethereum version: 2.5.0
Operating system: Linux

[2019-08-13 12:08] joshua-mir commented on #10555
@chakhalyan1 you might be able to using `-l txqueue` logging.

[2019-08-13 12:12] joshua-mir commented on #10963
@Daniel600 you wouldn't be able to do this on the client itself using any existing features - you'd have to poll/subscribe to `parity_allTransactions`/`parity_allTransactionHashes` and then perhaps watch the `-l txqueue` logs to see which transactions get rejected.

[2019-08-13 12:15] chakhalyan1 commented on #10555
that queue included  rejected transactions ?

[2019-08-13 12:18] joshua-mir commented on #10555
@chakhalyan1 the txqueue logging module logs when transactions are rejected.

[2019-08-13 12:21] chakhalyan1 commented on #10555
ok, thanks.
will testing then  let You know

[2019-08-13 14:06] vladmelnyk opened #10967 "eth_sendRawTransaction() returns an empty response"
- **Parity Ethereum version**: v2.6.0-beta / v2.5.5-stable / 2.4.9-stable / 2.4.8-stable
- **Operating system**:  Linux
- **Installation**: download from GitHub
- **Fully synchronized**:  yes
- **Network**: ethereum
- **Restarted**: no

**Started parity with** :
`~/parity --warp --no-ancient-blocks --max-peers 250 --snapshot-peers 50 --min-peers 50 --mode active --tracing off --pruning fast --db-c

[2019-08-13 14:09] joshua-mir commented on #10967
Possibly related to #10950

[2019-08-13 14:10] joshua-mir commented on #10967
Possibly related to #10952?

[2019-08-13 14:13] vladmelnyk commented on #10967
I encountered it only for eth_sendRawTransaction().
Other methods seem to be fine.

[2019-08-13 14:15] roma4u commented on #10967
I have the same problem, temporarily switched to geth, but I need to use the parity logs and using geth is not an option.

[2019-08-13 14:21] chakhalyan1 commented on #10555
for me always problem depended to parity, can You help me what is the right way setup ?
i have stop and start parity sync process went down  202687 when finished sync

[2019-08-13 14:35] joshua-mir commented on #10555
@chakhalyan1 there are various other open issues about stalling sync - that question would probably be better in one of those, and if you can't find one that seems appropriate, feel free to open a new issue.

[2019-08-13 14:36] andrewtoth commented on #10959
Ah thanks makes sense.

[2019-08-13 14:36] #10959 closed

[2019-08-13 14:54] chakhalyan1 commented on #10555
thanks

On Tue, Aug 13, 2019 at 6:35 PM joshua-mir <notifications@github.com> wrote:

[2019-08-13 15:21] dvdplm commented on #10228
A few questions to @ppratscher and @dtran320:

1. can you confirm that the txs that are culled are never actually mined? If there is a block that imported a tx with the same `(sender, nonce)` then that'd be a (legit) reason for culling, but if the tx is never mined then there's something odd going on (local tx should not be culled);
1. approximately how much time passes between submitting the tx a

[2019-08-13 16:04] nikita-fuchs opened #10968 "Corrupted DB"
[code]

Restarting produced:

[code]

- **Parity Ethereum version**: Parity-Ethereum/v2.5.1-beta-adabd81-20190514/x86_64-linux-gnu/rustc1.34.1
- **Operating system**: Ubuntu-1604-xenial-64
- **Installation**: not known
- **Fully synchronized**: no / yes
- **Network**: ethereum
- **Restarted**: yes

[2019-08-13 16:54] dvdplm commented on #10968
Hi, this could be a hardware error. Can you use a different disk and try again? And/or use a disk analysis tool on the current harddrive?

[2019-08-13 17:08] dvdplm commented on #10960
How much RAM does the machine have?

[2019-08-13 17:18] c0deright commented on #10960
4GB and as mentioned in https://github.com/paritytech/parity-ethereum/issues/10371#issuecomment-520802721 parity did consume almost all of that when I killed the process (not sure how much RAM was used by parity when it got out of sync.

Wouldn't parity print something in the log if there was no more memory to allocate?

[2019-08-13 17:23] dvdplm commented on #10960
Do you have any way of trying with more RAM than 4Gb?

[2019-08-13 18:06] dtran320 commented on #10228
@dvdplm will get back to you shortly with as many details as possible. We don't store local keys on any of the nodes so we can rule out 5.

[2019-08-14 08:08] chakhalyan1 opened #10970 "Sync spontaneously rolled back version Parity-Ethereum/v2.5.5-stable"
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-08-14 08:15] joshua-mir commented on #10970
If you are only on block 202687 you haven't finished sync - can you share some logs so I'm more clear about what state your node is actually in?

Also what kind of hardware are you running on? Does it match what is described here? https://wiki.parity.io/FAQ#what-are-the-parity-ethereum-disk-space-needs-and-overall-hardware-requirements

[2019-08-14 09:10] chakhalyan1 commented on #10970
no, finished sync all blocks synced after restart that go down to  202687 and started sync from that block.

2019-08-14 09:09:18 UTC Syncing #2418581 0xc951…fc79     0.00 blk/s    0.0 tx/s    0.0 Mgas/s      0+11696 Qed  #2430289   33/50 peers   5 MiB chain 18 MiB db 64 MiB queue 29 MiB sync  RPC:  1 conn,    0 req/s, 4507 µs
2019-08-14 09:09:23 UTC Syncing #2418593 0xd65c…1ea1     2.40 blk/s    8

[2019-08-14 09:16] joshua-mir commented on #10970
I'm still fairly certain that was a misreading of the logs, but I'm not sure how we could confirm that - https://wiki.parity.io/FAQ#what-does-paritys-command-line-output-mean

Your sync looks reasonable now?

[2019-08-14 09:28] c0deright commented on #10960
Yes, I can increase RAM by changing the type of that ec2 instance and will do so tomorrow.

Right now I'm testing v2.6.0 (since yesterday) as outlined in https://github.com/paritytech/parity-ethereum/issues/10962#issue-479607874 under **v2.6.0 connected only to my own v2.2.9 nodes**:

With this config, parity did **not** get stuck this night. It's running fine for ~21 hours now whereas the above m

[2019-08-14 09:40] chakhalyan1 commented on #10970
I used it one month its synced. after restart log is that.
log is that now

2019-08-14 09:38:43 UTC Syncing #2422361 0x3849��e0fc     1.40 blk/s    5.4 tx/s    0.4 Mgas/s      0+ 8552 Qed  #2430925   34/50 peers   6 MiB chain 18 MiB db 41 MiB queue 36 MiB sync  RPC:  1 conn,    0 req/s, 4507 µs
2019-08-14 09:38:48 UTC Syncing #2422361 0x3849��e0fc     0.00 blk/s    0.0 tx/s    0.0 Mgas/s      0+ 8

[2019-08-14 09:54] chakhalyan1 commented on #10970
/0                       bus        Motherboard
/0/0                     memory     96KiB BIOS
/0/400                   processor  Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz
/0/401                   processor  Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz
/0/402                   processor  Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz
/0/403                   processor  Intel(R) Xeon(R) CPU E5-2680 v2 @ 2

[2019-08-14 09:59] joshua-mir commented on #10970
What's important is the type of storage you are using (SSD vs HDD, you need a SSD), I can't tell from what you provided here if that's the case, other than that your system seems good.

[2019-08-14 12:42] chakhalyan1 commented on #10970
we using ssd. can You send me steps that how can start fast sync and connect mach nodes, and how long tacks it ?

[2019-08-14 19:11] Genysys commented on #9471
Dont think that is a concern for Parity see : https://ethereum.stackexchange.com/questions/52185/eth-sendtransaction-vs-eth-sendtransactionasync-asynchronous-or-synchronous-re/55277

[2019-08-14 21:22] dtran320 commented on #10228
**Parity Ethereum version**: Parity-Ethereum/v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc1.36.0
**Operating system**: Linux
**Installation**: Binary
**Fully synchronized**: yes
**Network**: ethereum
**Restarted**: yes

@dvdplm

Across several mainnet full, non-archive `parity` (`pruning=fast`) nodes with the above specs, I tailed the last 50000 lines of `/mnt/data/parity.log` on each, goi

[2019-08-15 10:29] c0deright commented on #10960
@dvdplm

Looks like upgrading the VM from 4GB to 8GB did the trick.

No more intermittend syncing that were happending with 4GB and no more freezing being stuck at a single block for a long time. Peer count is stable at the min level (`10/10 peers`, min=10, max=15) in contrast heavy fluctuation when running with 4GB of RAM.

Upgrading from 4GB to 8GB also resolved https://github.com/paritytech/par

[2019-08-15 10:31] c0deright commented on #10962
@joshua-mir

Looks like upgrading the VM from 4GB to 8GB did the trick, please see https://github.com/paritytech/parity-ethereum/issues/10960#issuecomment-521595705.

With 8GB of RAM and 10 public peers the disk reads are as low as with 4GB of RAM and only 2 of my `reserved_peers` connected.

You might wanna note 8 GB of RAM as a requirement for running v2.6.0 or at least mention that 4 GB might r

[2019-08-15 10:39] #10960 closed

[2019-08-15 10:42] #10962 closed

[2019-08-15 10:57] dvdplm commented on #10960
Indeed, I believe even 8Gb is tight for some workloads.

Thank you for your patience and all the testing! :)

[2019-08-15 12:15] gituser commented on #10962
If `v2.2.9` works fine on 4GB and in `v2.6.0` 8GB is the minimum I think it should be a regression in performance.

[2019-08-15 12:19] gituser commented on #10962
`v2.5.5` consumes about 21GB of memory when runnning with `--cache-size=8192` and this is a non-public node.

[2019-08-15 12:22] joshua-mir commented on #10962
I certainly agree that we need to have better guarantees about our memory usage - currently I wouldn't be able to point out parts of the codebase that use memory and cache  things and that's probably part of the reason we have scenarios like this.

[2019-08-15 12:40] ordian opened #10975 "Convert all benchmarks to criterion"
Criterion works with rust stable, meaning we can `cargo check --all --benches` in our CI to prevent compilation regressions.

[2019-08-15 14:10] #10411 closed

[2019-08-15 14:48] #10348 closed

[2019-08-16 12:45] #9198 closed

[2019-08-16 12:45] #9201 closed

[2019-08-19 08:29] nikita-fuchs commented on #10968
At least S.M.A.R.T. didn't show any issues, "simply resyncing" did the trick and it runs stable now. What do you recommend to prevent such breakdowns ?

[2019-08-19 12:10] seunlanlege commented on #9703
The work required for this is quite a lot. :sweat_smile:  will wait first for async/await stabilization.

[2019-08-19 18:06] yxliang01 commented on #9703
Interesting. I thought it's simply a function call to set the file permission and it's pretty much. :joy: But, at least, good to know that this is being considered. :tada:

[2019-08-19 21:06] dvdplm commented on #10968
Common best practices apply I guess: backup the data and/or run some kind of redundant setup (e.g. RAID).

[2019-08-19 21:06] #10968 closed

[2019-08-20 04:50] stone212 commented on #9703
@seunlanlege I also thought it was simple but thank you for self-assigning.  I think as Parity grows in use cases and there are abstractions layered on top of a Parity server this will be very important, and it is already important to some people.

[2019-08-20 16:17] mnaboka commented on #10724
hey @APshenkin , i am facing the exact same problem with parity.
I noticed you have a nice [graph of cache usage](https://github.com/paritytech/parity-ethereum/issues/10724#issuecomment-499259980) , would you mind sharing what tools did you use for this graph. Thanks!

[2019-08-20 16:50] charles-cooper commented on #10897
I rolled back to 2.3.8 and still hit this issue

[2019-08-20 16:50] charles-cooper commented on #10917
Rolled back to 2.3.8 and still get this issue

[2019-08-21 06:25] dvdplm opened #10982 "EIP-1344: Add ChainID opcode"
Implement [EIP-1344](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1344.md).

[2019-08-21 18:31] dvdplm commented on #10952
@ds414 are you seeing this issue both for `eth_getTransactionReceipt` and `eth_getTransactionByHash`? Are those the only two calls that exhibit this behaviour?
Have you been able to discern a pattern of any kind, e.g. more common when the server is under heavy load?
This might be a silly question, but in the log you attached I see `Pause=x` (where `x` is 4, 8, 16, 32, 64 and 128). I don't find any

[2019-08-21 19:23] dvdplm commented on #10952
@ds414 Did you try to submit RPC calls using any other interface than http? If yes, do you see the same problem with, say, websockets? If no, can you try that?

[2019-08-21 19:28] ds414 commented on #10952
Yes, I catched this problem in eth_getTransactionReceipt and eth_getTransactionByHash only.
Our single parity server serve average 20-70 request per second all time. I did not notice a clear dependence on the load.
We have only one synced parity node and it's in production and generate huge volume of log. This error rare and I can not select chain of logs with this error from all log. So I wrote s

[2019-08-21 19:39] dvdplm commented on #10952
@ds414 What are your tx pool settings currently? I.e. what are `--tx-queue-mem-limit`, `--tx-queue-size` and `--tx-queue-per-sender` set to?
It would be interesting to see what `parity_pendingTransactionsStats` returns around the time when parity is responding with `null`.

[2019-08-21 19:43] dvdplm commented on #10952
I don't think this is a network issue either. I asked because it is possible that we hit a bug in the http code path that is absent in the websocket code path. It seems like an unlikely possibility but doesn't hurt to rule it out.

[2019-08-21 20:03] ds414 commented on #10952
We use default values of --tx-queue-mem-limit, --tx-queue-size and --tx-queue-per-sender.
I going to add parity_pendingTransactionsStats to script and run it again.

[2019-08-22 14:07] chakhalyan1 commented on #10555
Hi @joshua-mir.
I have  started my parity node `parity -l txqueue` it`s helped me. i have getting now rejected transaction on the parity logs. but i am using web3 and subscribed to pending transactions  but i thing i did not get rejected transactions. can You help how can listen it?

[2019-08-22 14:09] joshua-mir commented on #10555
There isn't an rpc method accessible via web3 or otherwise that gives you rejected transactions..

[2019-08-22 14:46] chakhalyan1 commented on #10555
if subscribed with pending transactions its also is not listing  rejected transactions?

[2019-08-22 14:47] joshua-mir commented on #10555
If they are rejected, that happens before they get into the pending transaction set

[2019-08-22 15:15] c0deright commented on #10371
Hi all,

I did some testing with 2.6.1 on my dedicated test node and it looks good so far.

Although 4GB of RAM isn't enough for v2.6.x anymore I'm not seeing any kinds of memory leaks so far.

## 7 days runtime: memory usage
![parity](https://user-images.githubusercontent.com/20477825/63526050-015baa80-c4ff-11e9-9b71-f30e754ab453.png)

## same graph over 90 days for the bigger picture
![parity2](

[2019-08-22 15:41] gituser commented on #10371
from you analysis it's obviously a bug, as `parity-v2.6.1` now consumes double memory comparing to `parity-v2.2.9` this should be investigated and fixed as there is no reason why it should be like that.

[2019-08-22 15:42] chakhalyan1 commented on #10555
oy ok, thanks. then i thing i can get it from parity log file. if i tack hash from log then can i query to get transaction info via web3?

[2019-08-22 16:31] dvdplm commented on #10371
@c0deright thank you for sharing that!

@gituser I'm not sure I agree. I think that Parity should take advantage of the larger headroom on the 8Gb server and put the available memory to good use. I'd expect it to use even more memory on a 16Gb server. The important datum is that it does not leak. That said it's worrying that recent versions misbehave when memory starved.

[2019-08-23 07:49] dvdplm opened #10986 "EIP-2028: Calldata gas cost reduction"
Reduce the gas cost of Calldata (GTXDATANONZERO) from its current value of 68 gas per byte to 16 gas per byte. EIP: https://eips.ethereum.org/EIPS/eip-2028

Part of #10770

[2019-08-23 07:56] joshua-mir commented on #10970
@chakhalyan1 you can't perform a fast sync if you are using `--pruning=archive` - if don't need that `--pruning=fast` will make sync significantly faster - archive will take around a month, `--no-warp` takes a week or two, and warp sync, the default, can take very little time, but depends on your network and peers.

The number of peers you have is a function of how long your node remains online.

[2019-08-23 07:57] #10951 closed

[2019-08-23 07:59] #10925 closed

[2019-08-23 12:13] #10986 closed

[2019-08-23 20:44] andrewtoth commented on #7686
I'm running v2.5.5 and there are no traces available.

[2019-08-23 20:46] andrewtoth opened #10988 "No traces available when in dev mode (instantSeal engine)"
#7686 Is now occurring when running in v2.5.5.

[2019-08-24 05:29] dvdplm commented on #10988
What was the last version you used where this worked?
Also: can you provide the full configuration you’re using?

[2019-08-24 14:54] iFA88 commented on #10724
I got critical error which i can not handle during syncing.
`2019-08-24 16:50:16  Block import failed for #7418712 (0xd32f…fab9): Parent not found (0xeef9…5f22)`
I have put all log to the archive file and i have also put the rocksdb LOG file:
https://www.fusionsolutions.io/doc/archiveEth.tar.gz

[2019-08-24 14:55] andrewtoth commented on #10988
I haven't used this before.
`parity --config dev --jsonrpc-apis all --tracing on --pruning fast`

[2019-08-24 15:03] andrewtoth commented on #10988
I removed the `DevelopmentChain` folder and started again and I have traces now. I originally started without `--tracing on`, so it looks like it saved that.

[2019-08-24 15:03] #10988 closed

[2019-08-24 15:42] dvdplm commented on #10988
Yeah that would explain it. Glad you figured it out. :)

[2019-08-25 07:16] Daniel600 commented on #10963
Thanks!
We are able to see the rejected trxs in the -l txqueue logs, but that only includes the Hash&reason not all info of the trx - I see parity_allTransactions only includes the Trx's in the queue. Any ideas of how we can get the information of the rejected trxs ?

[2019-08-26 12:08] gituser commented on #10371
@dvdplm

Yes, I agree with you of course parity should use all available resources if possible and auto tune if the user decides to run it without specifying any manual options on restricting it's memory usage.

However, if the user only wants to give parity e.g. 4GB of memory parity should honor this requirement.

And third: if `parity v2.2.9` worked just fine on 4GB and didn't require that high

[2019-08-26 13:40] c0deright commented on #10371
Still no sign of a memory leak here
![parity](https://user-images.githubusercontent.com/20477825/63694954-d7182e80-c817-11e9-8a00-eb477f511f23.png)

[2019-08-26 14:07] grbIzl commented on #10724
It's very sad to hear :-( It seems, that you bumped the bug in rocksDB implementation https://github.com/facebook/rocksdb/issues/3509 We see its sometimes, but still not able to address. I'm thinking, what I can do in order to help with resolution, but frankly there are not so many options available now (and all of them are not quick)

[2019-08-26 18:14] dvdplm opened #10990 "EIP 1884 repricing trie-size dependent opcodes"
Implement [EIP 1884](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1884.md).

Part of https://github.com/paritytech/parity-ethereum/issues/10770

[2019-08-27 09:01] seunlanlege opened #10994 "EIP-152"
[EIP-152](https://github.com/ethereum/EIPs/pull/2129):  Add Blake2 compression function F precompile

[2019-08-28 07:38] sg552 opened #10997 "How to stop Parity?"
How to stop parity in Linux ?

I searched but got no answer.

is it "kill -9 <parity process id>"  or  "kill -1 <parity pid> " ?

according to this script: https://raw.githubusercontent.com/paritytech/parity/master/scripts/parity.service

I found it actually used this command:  "kill -1 <pid>"

[2019-08-28 07:41] joshua-mir commented on #10997
I would use `kill -1` as `-9` may cause data corruption and make it necessary to resync.

[2019-08-28 07:51] sg552 commented on #10997
I used kill -1 and waited for more than 2 minutes, but the parity doesn't stop.

[2019-08-28 08:00] joshua-mir commented on #10997
That sounds like #10364 - in that case you would *have to* use `SIGKILL`/`kill -9` unfortunately. If you already gave "warning" to parity, it should be safe.

[2019-08-28 08:14] dvdplm commented on #10997
`kill -9` should not be needed and would be a bug i believe. Can you stop parity with Ctrl-c or is it “stuck “?

[2019-08-28 09:06] niklasad1 opened #10998 "EIP 1108: Reduce alt_bn128 precompile gas costs"
Tracking issue for https://eips.ethereum.org/EIPS/eip-1108

https://github.com/paritytech/parity-ethereum/issues/10770

[2019-08-28 09:21] niklasad1 commented on #10824
@debris I think this is handled right? Can we close this and move the remaining things to the `whisper repo`?

[2019-08-28 11:41] holiman commented on #10770
@sorpaas is it too early for you guys to know how the genesis/config will look like? Will there be an istanbulBlock, or a separate thing for each eip ?

[2019-08-28 12:09] joshua-mir commented on #10770
@holiman almost certainly a different item for each eip

[2019-08-28 13:54] viniul opened #11000 "json_tests/executive.rs: Call of value.unwrap() leads to crash when using DELEGATECALL opcode"
- **Parity Ethereum version**: Commit 175051bac706a7a5779c014ff0ec4098e6f7b522, master branch
- **Operating system**:Linux
- **Installation**: built from source, with `cargo build --release -p evmbin`

The `ethcore/src/json_tests/executive.rs` file implements the call functions like so:
[code]
The call of `value.unwrap()` is a problem if the code that is tested uses the `DELEGATECALL` opcode, see

[2019-08-28 14:15] #10982 closed

[2019-08-28 14:37] pragmaticadam opened #11001 "Not preparing block; cannot sign."
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-08-28 14:43] joshua-mir commented on #11001
If you are not an authority, you can ignore that message, as it's only a warning. The lack of sync is because of your lack of peers - can you check if port 30303 is open to udp traffic in addition to TCP?

[2019-08-28 14:59] pragmaticadam commented on #11001
Thanks

I will check, but it is strange since I have another pod running almost identical configuration for POA Sokol (testnet ) and it works just fine

[2019-08-29 00:48] sg552 commented on #10997
OK, it seems that to close an Parity daemon, we should :

step1. $ kill -1 [pid]

step2. wait for several minutes.  (more than 90 s ?)

step3. if parity still alive, $ kill -9 [pid]

I did the above steps yesterday, and it restarted and runs well now.

thank you all!

@dvdplm   I am running Parity in daemon mode, so there's no place to input Ctrl + c.

[2019-08-29 01:10] #10997 closed

[2019-08-29 04:24] past2017 opened #11003 "error report: There are too many transactions in the queue. Your transaction was dropped due to limit."
- **Parity Ethereum version**: 2.5.6
- **Operating system**: Ubuntu +16G mem+8core CPU cloud machine
- **Installation**:  download binary from release page
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

**step1:**
       start parity with

**step2:**
         send transaction about 5 transactions / per minutes

**step3:**
       often error report:
{"code":-32010,"mess

[2019-08-29 06:27] lastmjs opened #11004 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, I'm building a project that allows developers to setup one recurring donation that is split between all of their dependencies with an Ethereum address: https://sustainus.io

[2019-08-29 07:49] stone212 commented on #10617
I am re-opening this because I was wrong and it is not resolved.

I did do this and now the issue is how to get back to normal.

New nodes stop at a block that is higher than the block for `eip1283Transition` but lower than the current block height of the other nodes.

What information can I provide to help?

I have turned off mining (months ago) to prevent a fork.

[2019-08-29 07:53] vishalgupta96 opened #11005 "eth_getlogs does not return expected logs entries when tried with address filters"
- **Parity Ethereum version**: 2.5.6-stable
- **Operating system**: Linux
- **Installation**: built from source
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

**Actual Behaviour:**

Issue request over JSON RPC to eth_getLogs with params
"params": [{
	"fromBlock": "0x3CD7B3",
	"toBlock": "0x3CD7B3",
	"address": "0xb8c77482e45f1f44de1745f52c74426c631bdd52",
	"topics": ["

[2019-08-29 07:59] vishalgupta96 commented on #11005
This looks similar to below bug which seems to be closed in 2017:
https://github.com/ethereum/go-ethereum/issues/15404

[2019-08-29 11:19] #10990 closed

[2019-08-29 17:51] epheph commented on #10218
This seems related to https://github.com/paritytech/parity-ethereum/pull/11002 , is it possible this was fixed as a byproduct of fixing the trace_call+vmTrace ?

[2019-08-29 17:55] joshua-mir commented on #10218
Would be great if someone in the thread could confirm if this issue is resolved in 2.6.2/2.5.7

[2019-08-29 18:32] kwix commented on #10218
On 2.5.6 it is not fixed. Will upgrade to 2.5.7 and post back when I have a conclusion.

[2019-08-30 10:19] niklasad1 opened #11011 "unify `chain specs` indentation (tabs)"
The chain specs format differ for example [xDAI](https://github.com/paritytech/parity-ethereum/blob/master/ethcore/res/ethereum/xdai.json) is indented with space and the majority of the other chain specs are indented by tabs

[2019-08-30 14:15] adamschmideg commented on #10933
I put together an almost-client-agnostic [test suite](https://gitlab.com/offcode/ethereum-graphql/tree/master/test-graphql). Replace `init-and-run.sh` with a parity-specific script and you're ready to run the tests against your implementation. Beware, some test cases have issues, they are listed in the README, but the others are fine.
You can also join the [graphql.eth Slack channel](https://join.

[2019-08-30 18:58] tobz1000 commented on #7821
I'm interested in giving this a go. What is the goal of the deduplication architecture-wise?

If the idea is to remove registrar code from the client, it sounds like the plan would be:

- Remove `RegistryInfo` trait
- impl `RegistrarClient` for `ethcore::client::Client` (it looks like this impl is already more-or-less done in `parity::run::execute_impl`)
- Replace uses of `client.registry_address`

[2019-08-30 20:05] dvdplm commented on #7821
@tobz1000 cool! And thanks! :)

So the goal is essentially to simplify and clarify the code (and avoid potential bugs stemming from duplicates ofc). Yes, you are correct that using `registrar.get_address()` is what we want. As for the async-ness of the code I'd say it's prooooobably an artifact of intention rather than actual usage. It does indeed seem like the code using it today is all synchrono

[2019-08-31 08:19] niklasad1 opened #11014 "ethcore/builtins: refactor `Pricer` trait and introduce `JSON Address: builtinMulti`"
[ethcore/builtins](https://github.com/paritytech/parity-ethereum/blob/master/ethcore/builtin/src/lib.rs#L168-#L201) read the cost and other related data directly from JSON which works fine as long as there is only one value for each field.

However, [EIP 1108](https://eips.ethereum.org/EIPS/eip-1108) requires to reduce gas cost `bn128_operations` after a certain block number. Thus, it doesn't work

[2019-08-31 13:25] tobz1000 commented on #7821
Yeah, I think it's better to remove the async-ness from the trait - otherwise, as it stands, a user might expect it not to block when it will.

If the client is implemented asynchronously in future, we could introduce a `RegistrarClientAsync` or similar, if desired. `RegistryClient` could then have a blanket-impl over `RegistrarClientAsync` by blocking on its execution.

[2019-09-02 09:38] #10998 closed

[2019-09-02 14:21] devilrayzl commented on #10636
Same problem and I tried to increase  gasPrice to 30GWEI, it still not work.

[2019-09-02 14:26] joshua-mir commented on #10636
@devilrayzl can you share what version you are running? We've had a few fixes that may have addressed this (which should be available in the latest stable branch)

[2019-09-02 14:53] devilrayzl commented on #10636
Sure.
**version Parity-Ethereum/v2.5.7-stable-6bd7db9-20190829/x86_64-linux-gnu/rustc1.36.0**

[2019-09-03 10:01] ArvsIndrarys opened #11018 "Private network defined with "emptyStepsTransition": "0x0" and "maximumEmptySteps": "0x00" produces empty blocks"
- **Parity Ethereum version**: v2.5.7-stable
- **Operating system**: Linux
- **Installation**: Docker image
- **Fully synchronized**: yes
- **Network**: custom network
- **Restarted**: yes

Creating a custom parity network with `"emptyStepsTransition": "0x0"` and `"maximumEmptySteps": "0x00"` to avoid producing empty blocks does produce them.

The chain is [here](https://gist.github.com/ArvsIndrar

[2019-09-03 10:03] neelimabhukya commented on #7556
You are not connected to any peers. There is most likely some network issue. Fix connectivity.

[2019-09-03 15:26] dvdplm opened #11020 "Make a proper and fast impl of the blake2 compression function (F)"
As noted in #11017 we need to refactor the `util/eip-152` crate into something more rusty.

Our preference is to use an established blake2 library but none of the ones surveyed expose the compression function in their public API. We can go about this in a few different ways, in order of preference:

1. make our case with the library maintainers, and if one of them agrees, make a PR that exposes th

[2019-09-04 09:09] yxliang01 commented on #10248
Hmm I no longer encounter this problem recently and this issue is stale (no other new people reported encountering same issue recently). I suggest closing this issue. If anyone or me counter this again, we can reopen or create a new issue :) . @joshua-mir Sounds good?

[2019-09-04 09:12] #10248 closed

[2019-09-04 10:31] Vid201 opened #11021 "Unable to export state of the chain at the latest block"
- **Parity Ethereum version**: v2.6.2-beta
- **Operating system**: Linux (Ubuntu 18.04.3 LTS (Bionic Beaver))
- **Installation**: binary downloaded from releases
- **Fully synchronized**: yes
- **Network**: private development chain
- **Restarted**: yes

There is a bug when exporting state of the chain at the latest block.

**Command:** `$ parity export state ./state.json --chain demo-spec.json --

[2019-09-04 11:16] dvdplm commented on #11021
@Vid201 can you show us the content of `state.json` and `demo-spec.json` please?

[2019-09-04 11:20] Vid201 commented on #11021
@dvdplm

**state.json:** `{ "state": {`
**demo-spec.json:**
[code]

[2019-09-04 11:59] joshua-mir commented on #11021
Is that the entire content of state.json? It looks like something went wrong in it's creation.

[2019-09-04 12:05] Vid201 commented on #11021
Yes, that's all. It's same after every try.

[2019-09-04 14:32] wildmolasses commented on #2509
I wanted to set up an ssh tunnel that maps my local port 8145 to my remote machine's 8545. With @joshua-mir's help, was directed to this thread and got it working with `--jsonrpc-hosts http://localhost:8145`

Fyi, also takes comma separated values, e.g. `--jsonrpc-hosts http://localhost:8145,http://localhost:8245`

[2019-09-04 16:49] froller commented on #8954
Yes, it still present on Parity-Ethereum/v2.5.7-stable-6bd7db9-20190829/x86_64-linux-gnu/rustc1.36.0

[2019-09-04 21:38] juanpc2018 opened #11023 "Parity OSX"
the parity download, has No extension, and is Not detected properly as executable in HighSierra 12.13.6, when security is manually approved, opens in TextEdit...
should be inside .dmg or something...

try to make it compatible with older OSX, Maveriks for example..

[2019-09-05 08:15] dvdplm commented on #11021
@Vid201 how are you generating the `state.json`? Maybe the bug is in that process. As-is it is not valid json.

[2019-09-05 09:46] Vid201 commented on #11021
@dvdplm Not sure if I understand your question. In one terminal tab I am running the node and in the second tab I am executing the above **command** which generates the `state.json`.

[2019-09-05 10:39] dvdplm commented on #11021
Yeah, apologies, my question did not make sense. Please ignore.

[2019-09-05 10:40] dvdplm commented on #11021
Is the DB empty?

[2019-09-05 10:58] Vid201 commented on #11021
It's not empty.

**Path:** `~/Documents/TestChains/parity-poa-linux/parity0/chains/DemoPoA/db/955c4dfcb19b0ee6/overlayrecent/db`
**db contents:** `000006.log  blooms  CURRENT  IDENTITY  LOCK  LOG  MANIFEST-000005  OPTIONS-000022  OPTIONS-000024  trace_blooms`
**blooms contents:** `bot.bdb  mid.bdb  top.bdb`, these files are empty
**trace_blooms contents:** `bot.bdb  mid.bdb  top.bdb`

[2019-09-05 11:34] dvdplm commented on #11021
So the error comes from [here](https://github.com/paritytech/trie/blob/502740b973fcc9d66b8fe769189609c67f1dd88d/trie-db/src/fatdb.rs#L122) but that's not super helpful. Is it possible you ran your node(s) without `--fat-db=on` for some time? As with tracing, fatdb has to be turned on from the beginning.

[2019-09-05 11:55] dvdplm commented on #11021
Here's what I get on my end (`macos`):

[code]

On my system the node has to be shut down when exporting or I get `Failed to open database Custom { kind: Other, error: "IO error: While lock file: /Users/dvd/Library/Application Support/io.parity.ethereum/chains/DemoPoA/db/955c4dfcb19b0ee6/overlayrecent/db/LOCK: Resource temporarily unavailable" }` – is it possible that linux lets you open the DB an

[2019-09-05 12:25] joshua-mir commented on #11021
Nope, that's why they are cli commands and not rpc endpoints 👍

[2019-09-05 12:29] joshua-mir commented on #8954
@froller could you describe the situation you see this in? (which network, sync mode, stage of sync)

[2019-09-05 14:02] sansaian commented on #10618
Hello. Still getting this error. Any updates?

[2019-09-05 16:03] Vid201 commented on #11021
Oh ok. I'll try tomorrow with the node shut down. If that's the case, it could be mentioned in the docs (https://wiki.parity.io/CLI-Sub-commands.html).

[2019-09-05 17:28] #10975 closed

[2019-09-05 17:28] dvdplm commented on #11021
I agree wholeheartedly.

[2019-09-06 07:04] vishalgupta96 commented on #11005
Hi, Did anyone look into it? Its an Open issue and we are waiting on this to be fixed in our current project. We even tried upgrading it to latest version 2.5.7-stable but it seems it is still present. In case you are not able to replicate, is there a way that i can reach out to parity team and show them on a meeting?

[2019-09-06 07:19] Vid201 commented on #11021
I tried with the node shut down. It works now and I get the same `state.json` as you. But now I can't manage to get the state after the last commited block (I am getting the state after genesis). What's wrong with the following **command**: `$ parity export state ./state.json --chain demo-spec.json --fat-db on --at "latest"`

[2019-09-06 09:37] SurajitMalik opened #11026 "POA issue"
_Before filing a new issue, please **provide the following information**._

_If you think that your issue is an exploitable security vulnerability, please mail your bugreport to security@parity.io instead; your submission might be eligible for our Bug Bounty._
_You can find mode info on the reporting process in [SECURITY.md](https://github.com/paritytech/parity-ethereum/blob/master/SECURITY.md)_

[2019-09-06 11:30] nikita-fuchs commented on #10968
Roughly two weeks later, the same thing happens:

[code]

[2019-09-06 11:32] dvdplm commented on #10968
Same disk?

[2019-09-06 11:45] nikita-fuchs commented on #10968
Yes, it doesn't show any signs of corruption, is there another diagnosing tool you could recommend ?

[2019-09-06 12:08] dvdplm commented on #10968
Not sure tbh, maybe @joshua-mir has a recommendation. As for signs of corruption: the above panic is a sign of probable corruption. Do you have a second disk you can try copying over the DB to?

[2019-09-06 12:18] joshua-mir commented on #10968
[`badblocks`](https://wiki.archlinux.org/index.php/badblocks) is a good testing suite which can be more thorough, but you'd need to be careful not to run one of the destructive tests and wiping your storage 😅

[2019-09-06 13:13] sidharthaa commented on #10085
I have same issue. @jcortejoso let me know if you able to solve this

[2019-09-06 13:23] joshua-mir commented on #10085
@sidharthaa could you share more information like the version you are running and any logs showing the issue?

[2019-09-06 14:19] sidharthaa commented on #10085
[code]

[2019-09-06 14:24] joshua-mir commented on #10085
It'd be useful to know if there are any transitions activated around that block in your chain specification as well, I'll reopen this for now

[2019-09-06 14:28] sidharthaa commented on #10085
No chain specs updated. I was observing Block generation timing of 3 nodes.
[code]
"engine": {
        "authorityRound": {
            "params": {
                "stepDuration": "10",
                "validators": {
    "multi": {
        "0": {
            "list": [ "0x314a298054f660d8128b78ced1087d5921fda422", "0x643bb732810421056de703cff8c321b247fda642", "0xa89cae778b61f88926ba0198f20a5410f27c

[2019-09-09 11:46] #10942 closed

[2019-09-09 13:10] debris commented on #10824
@niklasad1 yes

[2019-09-09 13:10] #10824 closed

[2019-09-09 19:08] VladLupashevskyi opened #11031 "eth_gasPrice takes too long to execute when there were no transactions for a long time"
**Parity Ethereum version**: 2.7.0-nightly, other stable and beta versions

While testing prometheus block exporter I found out that there are lots of open tcp connections are piling up which leads to a huge CPU load, and finally stuck client.

I found out that function `gas_price_corpus` will be looping back trough blocks until it finds at least one transaction. In my case it was 200k blocks whic

[2019-09-09 22:26] #10994 closed

[2019-09-10 07:57] holiman opened #11032 "Enable `Istanbul` in state tests"
I rebuilt today with `blake` merged in, attempting to do some `Istanbul`-fuzzing.

[code]
file:
[code]
(ignore the stateroot, it's not correct)

[2019-09-10 12:33] ordian commented on #11032
@holiman I've got the [following output](https://gist.github.com/ordian/818e8647003286a78157f0d96ee31826) on #11033 with stateroot changed.

[2019-09-10 13:01] holiman commented on #11032
Matches what I get on geth:: `da363c024ac6a78e24f89972305607dfff09c73e16e16a375ab99f2959b47489,`

if you want some more, there are `10K` testcases in the zip-file here: https://github.com/holiman/goevmlab/tree/master/cmd/blake-generator  :)

[2019-09-10 16:28] #11032 closed

[2019-09-10 19:18] holiman commented on #11032
I can confirm that parity now passes all those `10K` tests

[2019-09-11 07:19] skinderis opened #11037 "Parity does not start syncing with warp-barrier parameter provided"
- **Parity Ethereum version**: 2.6.2-beta (version used as it's "stable" for me)
- **Operating system**: Linux
- **Installation**: docker image (no installation)
- **Fully synchronized**: no
- **Network**: ethereum
- **Restarted**: yes

Last time I started parity with warp enabled, it snapshot 8030000 blocks and then continued to sync. But, as it would take forever to sync another 500000 blocks, I

[2019-09-11 08:53] joshua-mir commented on #11037
@skinderis if you set a warp-barrier that is too high, it is possible that no peers on your network have a snapshot that is recent enough for your node to accept - you will simply wait without syncing until you discover a peer with a recent enough warp-snapshot.

[2019-09-11 10:37] skinderis commented on #11037
@joshua-mir so with warp mode it is taking the latest best block snapshot from the network (which is currently 8030000 blocks? Seems quite old 🤔

[2019-09-11 11:16] joshua-mir commented on #11037
Generally it just takes the first snapshot it finds, unless you specify a warp-barrier. The higher you set the barrier, the less likely you are to get a snapshot.

[2019-09-11 16:44] #9660 closed

[2019-09-12 22:48] MrChico opened #11044 "Cannot build package evmbin"
Building evmbin from source from current master (https://github.com/paritytech/parity-ethereum/commit/eb811686742c669e4294e141b610a731adaf1bfd),
`cargo build --package evmbin` fails with an error:
[code]

The tag `v2.5.7` seems to build it fine though.

[2019-09-13 06:23] Daniel600 opened #11046 "Configuring Response to parity_allTransactions/parity_allTransactionHashes - Question"
Parity Ethereum version: 2.5.0
Operating system: Linux
Installation: built from source
Fully synchronized: yes
Network: ethereum
Restarted: yes

HI All - Thanks for the great support!
Following up from https://github.com/paritytech/parity-ethereum/issues/10963
We notice - the response to RPC call - parity_allTransactions is generally around 8.5k -9k Trxs and are all trxs which are not included in

[2019-09-13 07:38] #11044 closed

[2019-09-13 12:56] niklasad1 commented on #10937
`unable to get mut ref for engine for shutdown` is not possible on `latest master` can we close this @dvdplm ?

[2019-09-13 13:28] #10937 closed

[2019-09-14 08:31] iFA88 commented on #10724
Greetings! My archive node still syncing, but now the same issue has happened on my full node:

https://www.fusionsolutions.io/doc/ethlog.tar.gz

The issue has started on `2019-09-14 00:12:22` The node has dropped all peers and then probably they had requested ancient blocks from the new peers..

This is the first time that this happened with my full node.
`Parity-Ethereum/v2.5.7-stable-6bd7db9-20

[2019-09-14 09:00] iFA88 commented on #10821
Hey @dvdplm ! Can you please check my last comment with the `--cache-size` issue? Thank you!

[2019-09-14 17:04] dvdplm commented on #10821
@iFA88 apologies for the late answer. I have not been able to reproduce the problem with ram usage and `--cache-size` and I have tried many different versions and chains. On my machine, running macOS and 32Gb, memory usage is very stable. I know this is kind of useless and it's much more interesting to see what happens on a machine with less ram.
What happens on your end if you run with the other

[2019-09-14 17:27] iFA88 commented on #10821
@dvdplm Do we have any command to get cache statuses (usable/limit) or any debug level/trace?

[2019-09-14 17:40] dvdplm commented on #10821
No, not that I know of. It would be quite useful.

[2019-09-14 17:41] iFA88 commented on #10821
I'm running now with `--cache-size-blocks=128 --cache-size-db=2048` parameters. I dont use `--cache-size` now.

[2019-09-16 08:04] phahulin opened #11055 "Parity doesn't restart after disk full"
- **Parity Ethereum version**: 2.5.7
- **Operating system**: AWS Linux
- **Installation**: binary
- **Fully synchronized**: yes
- **Network**: ropsten
- **Restarted**: yes

Disk was running full on our ropsten archive node and parity service crashed.
The problem is that parity wouldn't start after disk volume was increased, looks like db got corrupted
[code]
Indeed, there was no such file.

[2019-09-16 08:07] joshua-mir commented on #11055
I'll need to go back through other issues, but we are aware that we don't fail gracefully when you run out of disk space while parity is running.

[2019-09-16 09:14] iFA88 commented on #10952
I have the same issue with the latest stable release ( `Parity-Ethereum/v2.5.7-stable-6bd7db9-20190829/x86_64-linux-gnu/rustc1.36.0` ). Sometimes takes one `eth_getTransactionByHash` for 2 minute.. 334 query takes 795 seconds.

[2019-09-16 09:16] iFA88 commented on #10821
The node uses now 9150mb RES after 1 days with the above parameters.

[2019-09-16 11:08] c0deright commented on #10371
17 days later and still no issues. Parity v2.6.1 now running over a month.
Did anyone else here affected by the memory leak test with v2.6.x?

![combined](https://user-images.githubusercontent.com/20477825/64953440-18ce4f00-d883-11e9-8a78-fa1f8e04d745.png)

[2019-09-16 13:06] grbIzl commented on #10724
Yes, I see this stuck in logs, but I cannot say, what caused it without corresponding log targets enabled. I suggest for the sake of simplicity to track this problem with the full node separately and create another issue, if it repeats.

[2019-09-16 13:55] iFA88 commented on #10724
Sadly it is very hard  to reproduce with the full node. I think the problem is the same for both, If my archive node finish with the sync then i can apply trace outputs. I need at least 30 days for that.. :(

[2019-09-16 15:12] #10130 closed

[2019-09-16 15:22] niklasad1 commented on #10618
Hey,

To give some context of this, when you query `eth_getBalance` it will query the network the first time and it depends on a valid `Account proof` from a `full node`. If no valid proof to request is received within the `--on-demand-time-window` then `Bad response on request` will be returned. You can configure how long a request will wait for a successful response yourself, see the light clien

[2019-09-16 15:22] #10618 closed

[2019-09-16 15:49] niklasad1 commented on #10253
`ethcore::client::TestBlockChainClient` doesn't implement `BlockProvider` anymore closing as stale.

[2019-09-16 15:49] #10253 closed

[2019-09-16 15:51] niklasad1 commented on #11011
Fixed by #11053

[2019-09-16 15:51] #11011 closed

[2019-09-16 15:55] niklasad1 commented on #10412
Not a priority with these micro-benches ATM

[2019-09-16 15:55] #10412 closed

[2019-09-16 16:23] kepikoi commented on #11037
Having the same issue here with my azure hosted VM in westeurope region. I cannot get a snapshot with any of  `--warp-barrier=8300000`, `--warp-barrier=8400000` or `--warp-barrier=8500000` and seem to be stuck with syncing from 8030000 which will likely take weeks
[code]
I'm using basic config options to speed up the sync
[code]

[2019-09-16 16:25] joshua-mir commented on #11037
We can't control how many nodes have updated snapshots - if, for example, a large proportion of nodes on the network disable periodic snapshots, as you are doing in your example, it's unlikely that there will be warp snapshots available on the network for other nodes 😅

[2019-09-16 16:27] joshua-mir commented on #11037
I'm closing this issue since this isn't something we can control or fix without changing how warp sync works in the longer-term - feel free to continue discussing the issue here though.

[2019-09-16 16:27] #11037 closed

[2019-09-16 17:35] dvdplm commented on #10821
So I think I'm seeing something similar here: omitting the `--cache*` parameters seem to keep memory usage within limits. What I see here is that the sync speed slows down significantly as memory usage goes up (after restart the sync speed goes back up). So until we fix the bug I'd say the best work-around seems to be to avoid using those params.

[2019-09-16 17:53] iFA88 commented on #10821
I can not measure the importing speed because very block has very different EVM calls. I will try now using the `--cache-size` again to check the issue.

[2019-09-16 19:36] Baranowski commented on #9089
I just briefly skimmed through the code, and this seems easy. If you don't mind, I would like to take a stab at this as my first project in parity and in Rust in general.

One thing I would appreciate help with is a detailed (ideally, specific command lines and expected outputs) instruction how to test my patch. Or, even better, suggestion how to add an automated test, if feasible. Thanks in advan

[2019-09-16 19:54] dvdplm commented on #9089
@Baranowski welcome, and we're very happy to accept contributions! We'll do out very best to be responsive ofc, feel free to post any questions here and maybe @phahulin would be willing to assist as well? :)

[2019-09-16 20:02] joshua-mir commented on #9089
@Baranowski looking at the tests [here](https://github.com/paritytech/parity-ethereum/blob/2af3140a2677b5a7e08b9fb8a133320a2d4ba908/rpc/src/v1/tests/mocked/eth.rs#L738) might be a good place to start - of course there are also a few tests[ in PriceInfo itself](https://github.com/paritytech/parity-ethereum/blob/16e0ad1288c794472297254e8c4ccd1ba9a2708a/miner/price-info/src/lib.rs#L116)

You could pr

[2019-09-17 07:49] kepikoi commented on #11037
Thanks for bringing this to my attention. I guess it's a Catch 22 situation since that config is what pops up in the search results for people struggling with slow synchronization issues. I will remove `disable_periodic` from my configs

[2019-09-17 08:21] niklasad1 commented on #10655
Closed by #10835

[2019-09-17 08:21] #10655 closed

[2019-09-17 12:41] soc1c commented on #10770
https://github.com/goerli/testnet/issues/60#issuecomment-532200530

- Görli block `1561651` (Oct 30, final decision)
- Ropsten block `6485846` (Oct 2, not final yet)

[2019-09-17 13:53] ngyam opened #11063 "Validating Aura node crashes on startup with 2.5.8"
- **Parity Ethereum version**: 2.5.8
- **Operating system**:  Linux
- **Installation**: built from source
- **Fully synchronized**: yes
- **Network**: Volta Testnet (POA/Aura)
- **Restarted**: yes

Validator node crashed with this error message, when upgrading from 2.5.7 to 2.5.8 right at startup:
[code]

Expectations: backward compatibility. it shouldn't be necessary to include the new EIPs if no

[2019-09-17 14:35] niklasad1 commented on #11063
yes, this was bad sorry about it... I'm trying to implement something more `scalable` for changing `builtin prices` https://github.com/paritytech/parity-ethereum/pull/11039. I will consider it there.

[2019-09-17 17:32] pooleja opened #11064 "Docs - no_consensus flag not defined"
I am looking at the documentation, and I see references to the `no_consensus` flag, but it is not defined anywhere what this actually does.  Am I missing something in the docs?  If not, can we include what this flag does?

[2019-09-17 17:49] joshua-mir commented on #11064
@pooleja https://paritytech.github.io/parity-config-generator/ has more information, it's also available with [`parity -h`](https://wiki.parity.io/Configuring-Parity-Ethereum#cli-options-for-parity-ethereum-client)

[2019-09-17 17:50] #11064 closed

[2019-09-18 10:33] gituser commented on #10636
I have this issue as well. Why it's not fixed yet?

Happens on the `parity-v2.5.7-stable-6bd7db9-20190829` when you try to send transaction with previously used `nonce` (e.g. `nonce: 0x0`) parity errors out:

[code]

[2019-09-18 10:37] joshua-mir commented on #10636
Thanks for the report, the additional specificity you've provided may help.

[2019-09-18 12:20] mewwts commented on #10371
I've been seeing some issues on Digital Ocean, but the nodes we migrated to GCP have been running for a week+ without issues at all.

[2019-09-18 16:52] Baranowski commented on #9089
Sorry, I won't implement this after all, as I mentioned in the closed PR above.

[2019-09-19 12:18] niklasad1 opened #11070 "[rpc tests]: sometime fails"
The following tests sometimes in CI:
- [v1::tests::mocked::signing::should_check_status_of_request_when_its_resolved](https://github.com/paritytech/parity-ethereum/blob/master/rpc/src/v1/tests/mocked/signing.rs#L205)
[code]
- [tests::rpc::tests::should_extract_rpc_origin](https://github.com/paritytech/parity-ethereum/blob/master/rpc/src/tests/rpc.rs#L70)
[code]
- [tests::rpc::tests::should_respond

[2019-09-19 19:52] 3esmit opened #11071 "Warp sync keeps failing"
- **Parity Ethereum version**: Parity-Ethereum/v2.6.2-beta-25936ae-20190829/x86_64-linux-gnu/rustc1.36.0
- **Operating system**: Linux
- **Installation**: standalone file
- **Fully synchronized**: no
- **Network**: ethereum
- **Restarted**: yes

Snapshot seems to work fine, until it stops progressing the download, restarting it attempts to download a different snapshot, and starts from beginning a

[2019-09-19 21:12] dvdplm commented on #11071
Can you run the sync with logging enabled? `parity -l sync=trace`

[2019-09-19 21:58] 3esmit commented on #11071
Ok, doing it now. I just tried again with removed the db and happened again..
![image](https://user-images.githubusercontent.com/224810/65284138-1a13ac00-db0f-11e9-881a-7552b7ce9bd3.png)
1 hour later...
![image](https://user-images.githubusercontent.com/224810/65284125-12ec9e00-db0f-11e9-9e7a-eedf6d235f2a.png)

Now I cleared the db again and Im running with `-l sync=trace`... Lets now wait more on

[2019-09-19 22:02] 3esmit commented on #11071
I'm being spammed with this and can't see whats happening on the node!
[code]
![image](https://user-images.githubusercontent.com/224810/65284425-da00f900-db0f-11e9-86f6-3029eb8045bc.png)

Can I stop it making this warning over and over and over ?

[2019-09-20 00:14] 3esmit commented on #11071
https://www.sendtransfer.com/download.php?id=e53dc54a90a5cde2183907a2175d8561&email=378610
Here is the full log. This file will be available for 7 days. I'll be notified of all downloads through SendTransfer tooling. (let's hope this works).
In the logs, you can see all my past attempts, even when I was using WiFi (thats why the LAN IP changed to 192.168.1.4 when I used the cable to remove) The Wi

[2019-09-20 04:03] Pr0methean opened #11072 ""No space left on device" when 24 GiB free"
- **Parity Ethereum version**: v2.5.8-stable-c52a6c8-20190916
- **Operating system**: Linux (Ubuntu 19.04 x64)
- **Installation**: one-line installer
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I got the following error:
[code]
`df` in

[2019-09-20 06:36] joshua-mir commented on #11072
What filesystem are you running on? Some don't report disk usage accurately to `df` which may be what is going on here.

[2019-09-20 07:53] #10770 closed

[2019-09-20 13:18] dvdplm opened #11073 "[json-tests] stRevertTest blockchain test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON tests fail in [`stRevertTest`](https://github.com/ethereum/tests/tree/b64fd32dd897285a3884f68b40cee358a4b3c54f/LegacyTests/Constantinople/BlockchainTests/GeneralStateTests/stRevertTest) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-ski

[2019-09-20 13:24] dvdplm opened #11074 "[json-tests] stReturnDataTest blockchain test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON tests fail in [`stReturnDataTest/`](https://github.com/ethereum/tests/blob/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stReturnDataTest/returndatasize_after_successful_callcode.json#L2) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[c

[2019-09-20 13:30] dvdplm opened #11075 "[json-tests] stSpecialTest blockchain test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON tests fail in [`stSpecialTest`](https://github.com/ethereum/tests/tree/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stSpecialTest) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-skip" them.

**Investigation

[2019-09-20 13:33] dvdplm opened #11076 "[json-tests] stStaticCall blockchain test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON tests fail in [`stStaticCall`](https://github.com/ethereum/tests/blob/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stStaticCall/static_callBasic.json#L388) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-ski

[2019-09-20 13:35] dvdplm opened #11077 "[json-tests] stTransactionTest blockchain test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON tests fail in [`stTransactionTest`](https://github.com/ethereum/tests/tree/f386934ce509fa0a4dbd1c68421b3361b01b2efa/BlockchainTests/GeneralStateTests/stTransactionTest) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-skip" them.

[2019-09-20 13:41] dvdplm opened #11078 "[json-tests] stRevertTest/RevertPrecompiledTouch_storage state test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON state tests fail in [`stRevertTest`](https://github.com/ethereum/tests/blob/bafd45f0d6a63efa03fadae5270c9553eecfe5b4/GeneralStateTests/stRevertTest/RevertPrecompiledTouch_storage.json#L2) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-s

[2019-09-20 13:43] dvdplm opened #11079 "[json-tests] stRevertTest/RevertPrecompiledTouchExactOOG state test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON state tests fail in [`stRevertTest`](https://github.com/ethereum/tests/blob/bafd45f0d6a63efa03fadae5270c9553eecfe5b4/GeneralStateTests/stRevertTest/RevertPrecompiledTouchExactOOG.json#L2) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-s

[2019-09-20 13:45] dvdplm opened #11080 "[json-tests] stRevertTest/RevertPrecompiledTouch state test failures"
After https://github.com/paritytech/parity-ethereum/pull/11054  the following JSON state tests fail in [`stRevertTest`](https://github.com/ethereum/tests/blob/bafd45f0d6a63efa03fadae5270c9553eecfe5b4/GeneralStateTests/stRevertTest/RevertPrecompiledTouch.json#L2) and are added to the list of skipped tests in `ethcore/res/ethereum/tests-issues/currents.json`.

[code]

Fix the tests and "un-skip" the

[2019-09-20 15:26] A2be opened #11081 "Odd behavior starting up Parity on Win10"
- **Parity Ethereum version**: 2.5.5
- **Operating system**: Windows
- **Installation**: from Parity site for Intel 64 bit build
- **Fully synchronized**: yes
- **Network**: ethereum
- **Restarted**: yes, the behavior is repeatable

Parity is now auto-updating the version of my Parity (I don't know when this began), and places it in `Parity\EthereumUpdates\parity-2.5.8-c52a6c8fb7188ee01fcf90d8094e

[2019-09-20 15:32] joshua-mir commented on #11081
(I just want clarify that if a message on gitter is from matrixbot, that just means that it comes from the other side of our gitter-matrix bridge, and the first part of the message is the name of the sender 😅)

[2019-09-20 16:17] A2be commented on #11081
So can I assume that "JAM" is joshua-mir?  :)

[2019-09-20 16:40] Pr0methean commented on #11072
I'm using ext4.

[2019-09-21 13:42] iFA88 commented on #10821
Ok, It seems the issue is somehow solved, When I'm using `--cache-size` the process RES usage doens't goes up 7-9 GB ( with `--cache-size` 2048 ). If i face with this issue again i will reopen the thread. Thanks for the support!

[2019-09-21 13:42] #10821 closed

[2019-09-23 08:15] dforsten opened #11082 "Race Condition and incorrectly dropped consensus messages"
In ethcore/src/client/client.rs the implementation of the `queue()` function of IoChannelQueue there is no guarantee that `self.currently_queued` is incremented before it is being decremented.

This potentially results in an underflow of `self.currently_queued` and incorrectly dropped consensus messages if new consensus messages are being processed on another thread at the same time:
[code]

We ha

[2019-09-23 08:51] dvdplm commented on #11082
Thank you for the report. Are you interested in submitting a PR to fix this? :)

[2019-09-23 09:21] dforsten commented on #11082
I will see to get a PR submitted later today.

[2019-09-23 10:05] 3esmit commented on #11071
Related conversation from [Gitter](https://gitter.im/paritytech/parity?at=5d881271c7ec2e2208d4efec) :

@3esmit said:

@joshua-mir said:

@3esmit said:

@joshua-mir said:

@3esmit said:

@joshua-mir said:

@3esmit said:

@joshua-mir said:

[2019-09-23 12:13] voith commented on #11073
@dvdplm The same tests are failing in `py-evm` https://github.com/ethereum/py-evm/pull/1852.
Did you get time to dig into these?
Since these tests are failing for two clients could this be an error in the upstream tests?

[2019-09-23 15:23] ordian commented on #11074
Closed by #11083.

[2019-09-23 15:23] #11074 closed

[2019-09-23 15:23] #11075 closed

[2019-09-23 15:24] ordian commented on #11076
Closed by #11083.

[2019-09-23 15:24] #11076 closed

[2019-09-23 15:24] ordian commented on #11077
Closed by #11083.

[2019-09-23 15:24] #11077 closed

[2019-09-23 16:35] tayvano commented on #11071
Responding here bc fuck gitter.

Have you considered your collective attitude and comments like these may be turning more people off than Rust?

Or that your failure to properly prioritize internally and communicate those priorities properly externally is perhaps the cause of the declining opinion of Parity?

Or that your opinion that "goodwill" is not valuable while simultaneously using "people h

[2019-09-23 16:47] tkstanczak commented on #11071
Just leaving it here:
https://github.com/NethermindEth/nethermind

[2019-09-23 18:41] dvdplm opened #11084 "[json-tests] Sort out the logging as tests run"
The logging of activity during json-test runs is a bit odd, with copious use of `flushln!` and `flush!` which makes it hard to follow what is printed where.
Switch to using proper logging with `info!`/`warn!`/`debug!`/`trace` as appropriate. Use `target: "json-tests"` to make filtering easy.

[2019-09-23 18:50] dvdplm opened #11085 "[json-tests] run all tests (or justify why not)"
The json tests from https://github.com/ethereum/tests are organized in folders. We use the `decl_test!` macro to slurp up all the test files and build rust tests out of them. It is possible that we do not have a `decl_test!` for all folders. If that is so, add the missing test folders with a `decl_macro!` or figure out why a certain folder is not relevant to us.

Bonus points for figuring out a wa

[2019-09-23 21:54] evgeniuz commented on #10218
Found exact cause by by attaching debugger while tracing this transaction, the issue is caused by 'Out of gas' during specific instruction order (i. e. 'Out of gas' should occur exactly between specific opcodes for issue to occur). Working on a fix, will submit PR with details when ready.

[2019-09-24 08:35] ordian commented on #10387
No longer relevant after #10929.

[2019-09-24 08:35] #10387 closed

[2019-09-24 08:50] CorentinPacaud commented on #10364
Can anyone confirm this issue has been fixed ?

[2019-09-24 08:54] dvdplm commented on #10364
As mentioned above there are possibly several other causes with the same symptom. We have fixed a few but there might be others. FWIW we have experienced or afaik not had reports of shutdown issues for several months now.

[2019-09-24 13:11] andresilva commented on #11071
I hope everyone in this issue realizes that the feature being discussed here is not part of the standard Ethereum protocol and is **not supported by any** of the other Ethereum clients.

I don't really understand what the issue is with deciding not to spend more time on a feature that is not core to the product and has not been working properly for some time now (it doesn't really scale as state s

[2019-09-24 13:39] dvdplm commented on #11071
This.

From here on out, this thread is going back to being about the original bug report. Anyone with thoughts to share about anything else are kindly requested to find a different forum for it.

[2019-09-24 17:53] ptescher opened #11087 "Incorrect EIP-712 Hashing for Arrays of Structs Inside Structs"
- **Parity Ethereum version**: 2.5.7
- **Operating system**: Windows / MacOS / Linux
- **Installation**: built from source
- **Fully synchronized**: n/a
- **Network**: n/a
- **Restarted**: n/a

Had an issue trying to use the EIP-712 code to encode some typed data. The hash of the typed  data differs from https://github.com/ethereumjs/ethereumjs-util which results in an incorrect recovery address.

[2019-09-24 18:40] dvdplm commented on #11087
Thank you for the report and the test case, that is really helpful. Have you by any chance had time to dig into the parsing code and have an hypothesis about what we might be doing wrong here?

[2019-09-24 21:16] dtran320 commented on #11071
@3esmit In the interest of getting back to the original bug report, just wanted to say that we've run into this issue with warp-sync snapshots getting stuck and believe it has to do with the source node that you're downloading the snapshot from no longer being available as a snapshot peer and there not being other Parity nodes on the network that have the snapshot. We've also found that disabling

[2019-09-25 00:22] 3esmit commented on #11071
Suggestions:
- Re-serve snapshots once client validates it (improve validation time by downloading block headers first)
- Incremental/diff snapshots
- Download multiple snapshots simultaniously and stop/delete others after validation
- Implement fast sync

[2019-09-25 10:50] joshua-mir commented on #11072
Hey @Pr0methean, it looks like most cases of this issue are related to some process reserving space they shouldn't be reserving, which the OS reports as free. If you haven't tried already, simply restarting your machine may resolve the problem m

[2019-09-25 13:38] seunlanlege commented on #11087
@ptescher what function in eth-util are you using? can't seem to find anything

[2019-09-25 14:50] dvdplm commented on #11087
@seunlanlege take a look here: https://github.com/ptescher/parity-ethereum/tree/fix-eip-712-arrays/util/EIP-712/js-comparison

[2019-09-25 19:01] Pr0methean commented on #11072
I've done that, but sometimes the node jumps back to an old block when I do so.

[2019-09-25 23:52] roninkaizen commented on #11071
encountered allmost the same, with a slight difference on AMD-systems,
had to do with mem-limits i sat up recently after testing around (we had this behaviour before and we will always sometimes have it as we use parity, i think),
I need to look it up how i fixed it, but personally came to a productive solution;
nowadays it takes now much longer to get "updated" until the latest block, and yes,
"i

[2019-09-26 07:08] dforsten commented on #11082
Fixed with PR #11086, thank you!

[2019-09-26 07:08] #11082 closed

[2019-09-26 22:25] ptescher commented on #11087
@dvdplm I took a quick look at the code but couldn't come up with anything. What is weird is that `PrimaryType -> Array(OtherType)` works but `PrimaryType -> OtherTypeA -> Array(OtherTypeB)` does not. Something with the recursion seems to break.

[2019-09-27 05:47] garywu921207 commented on #10636
I have this issue as well. but i don't know is it a bug or i send the transaction wrong?

[2019-09-27 10:35] dvdplm commented on #10636
We recently merged https://github.com/paritytech/parity-ethereum/pull/11086 which could be related to this. It is not in any of the releases yet, but if anyone here has the time to compile from master it would be good to see if the issue is solved.

[2019-09-27 15:15] ayrat555 opened #11097 "parity node stops syncing on high load from json rpc"
- **Parity Ethereum version**: Parity-Ethereum//v2.5.5-stable-3ebc769-20190708/x86_64-linux-gnu/rustc1.36.0 (the same behaviour is for 2.5.8)
- **Operating system**: Linux
- **Fully synchronized**: yes
- **Network**: ethereum main
- **Restarted**: yes

Parity node stops synchronisation under high load from json rpc. I'm using json rpc to run blockscout instance and it uses some heavy tracing reque

[2019-09-27 15:24] joshua-mir commented on #11097
@ayrat555 this may be unavoidable if disk IO is the bottleneck as you are describing, as server_threads only determines CPU threads being used. If it's feasible, you may want to run two separate nodes for staying in sync and running heavy rpc queries.

[2019-09-27 16:14] ayrat555 commented on #11097
@joshua-mir but I won't be able to run rpc queries on newer blocks?

[2019-09-27 16:19] joshua-mir commented on #11097
Do you also see this issue for recent blocks on a non-archive node with tracing enabled? IIUC that may be grabbing from cache and io shouldn't be the bottleneck.

[2019-09-28 08:41] gituser commented on #10636
@dvdplm parity also errors out with this when trying to replace existing transaction with `nonce: 0x0` (happens on the latest stable `parity-v2.5.9-stable`:

[code]

[2019-09-29 04:17] stone212 commented on #10617
@joshua-mir it seems that I did not cause the problem, but that moving workers to Parity 2.4.9 caused a fork in the chain with no errors or changes to the chain spec.  What information can I provide to de-bug?

[2019-09-29 07:38] stone212 opened #11098 "Error: Error(Block(InvalidReceiptsRoot(Mismatch"
_Before filing a new issue, please **provide the following information**._

- **Parity Ethereum version**: 2.3.9 downgraded from 2.5.5
- **Operating system**: Linux
- **Installation**: binary
- **Fully synchronized**: no (that is the problem)
- **Network**: Private Blockchain
- **Restarted**: yes

I had a blockchain that worked well.  I upgraded to Parity 2.4.x and there were many problems.  Refer

[2019-09-29 09:31] joshua-mir commented on #10617
@stone212 do you happen to know about the on-chain activity during the period between the time you disabled eip1283transition in your chainspec and the time you added it back in? The problems caused by a bad hardfork won't happen at the fork number that enabled/disabled an eip, but at the first transaction that behaves differently than expected that is part of the chain.

I'm also assuming that yo

[2019-09-29 11:42] 3esmit commented on #11071
An indication of progress for large chunks in warp sync would be very helpful.

More information on the warp sync to help user guide if they should restart or not would be a great start!

[2019-09-29 21:03] whysthatso opened #11099 "feature: support for ipv6"
currently running version Parity-Ethereum/v2.5.9-stable
will parity-ethereum receive it? or is it able to listen on ipv6 addresses, but i just can't find the documentation?

[2019-09-29 23:21] stone212 commented on #10617
@joshua-mir

Thank you for the reply.

First I want to be clear that this did not happen.  The problem was with my reporting because we have two private blockchains and one of them had this in the spec, the other did not and so much time passed between my messages to this thread that I was confused when I replied to you.  So actually I do not think at this time that I removed and then re-added any

[2019-09-30 05:55] SidhMj commented on #10040
@joshua-mir I am running something like this

- 3 validator nodes
- 1 regular node.
- regular node is connected to one of the validators nodes.

Any transaction that is submitted in the regular node are propagated to the network and included in the next block.

[2019-09-30 07:53] joshua-mir commented on #10040
@SidhMj does that imply that you aren't seeing this issue?

[2019-09-30 07:59] SidhMj commented on #10040
@joshua-mir yes

[2019-09-30 08:01] joshua-mir commented on #10040
OP also mentioned they can't replicate so will close unless someone states otherwise

[2019-09-30 08:01] #10040 closed

[2019-09-30 09:09] stone212 commented on #11098
Update.  When I add `--fat-db=off --tracing=off --pruning=fast` to parity command this node syncs again.

[2019-09-30 09:26] CorentinPacaud commented on #10364
So, after my server automatically restarted this weekend, I can confirm that the parity server restart normally with pm2. No error.
Thx

[2019-09-30 09:58] phahulin opened #11100 "Ropsten archive node InvalidStateRoot"
- **Parity Ethereum version**: 2.5.9
- **Operating system**: Linux
- **Installation**: binary
- **Fully synchronized**: yes
- **Network**: ropsten
- **Restarted**: yes

After upgrading from `2.5.8` to `2.5.9` on our ropsten archive node the following error happens:
[code]
I couldn't compare this block with https://ropsten.etherscan.io/ because there are no new blocks there for ~6 hrs (probably for

[2019-09-30 10:08] joshua-mir commented on #11100
@phahulin our ropsten bootnode is currently resyncing and there may be blocks on the network from before we updated, sorry about that

[2019-09-30 10:14] phahulin commented on #11100
I don't understand what you mean, sorry :) When we rolled back to 2.5.8 syncing continued. So it seems there is an error in 2.5.9.

[2019-09-30 10:25] joshua-mir commented on #11100
@phahulin you shouldn't have gone back to 2.5.8. there is a fork on the ropsten network atm. One side of the fork (2.5.8) doesn't have the Istanbul fork enabled because some miners are apparently still running 2.5.8, the correct side of the fork is the one you can access with 2.5.9, which will complain about blocks generated by 2.5.8

[2019-09-30 10:28] zet-tech commented on #10364
I just installed 2.6.4. Problem still occurs, exactly as before.

Answering previous questions:
1). outdated
2).
[eth.txt](https://github.com/paritytech/parity-ethereum/files/3670406/eth.txt)

I removed the IP address because it is public IP.

3). By bind only to localhost, I meant that if there is no RPC calls to parity then the error does not occur. But even one RPC call cause that parity cannot

[2019-09-30 11:26] phahulin commented on #11100
Ah I see, Ropsten HF already happened about 7 hrs ago. I thought it was scheduled to be on Sep 2...

[2019-09-30 16:05] KaiRo-at opened #11101 "beta tag on docker hub still ships 2.6.2"
It looks like something is broken in shipping docker containers on docker hug, as the "beta" tag still ships 2.6.2 (and apparently "stable" and "latest" also have not been updated in a month), which is especially problematic with the istanbul hardfork on the test networks, see https://hub.docker.com/r/parity/parity/tags

[2019-09-30 16:36] s3krit commented on #11101
Hi, this was due to an oversight after a change to our release procedure. I've subsequently resolved the situation, could you confirm that it is fixed on your end? Apologies for any inconvenience!