[2017-08-14 07:54] #6288 closed

[2017-08-14 08:02] tomusdrw commented on #6083
Looks like hardware support for signatures is missing, somewhere over here:
https://github.com/paritytech/parity/blob/604ea5d684b05f63ab2a32f68fdf50b8bbe38498/rpc/src/v1/helpers/dispatch.rs#L516

I'll have a look.

[2017-08-14 08:31] 5chdn commented on #6285
@nueverest could you test whether this happens with firefox too, if possible?

[2017-08-14 08:34] 5chdn commented on #6287
You can ignore that warning. It will be improved with the next release.

See #6130 and #6273.

[2017-08-14 08:34] #6287 closed

[2017-08-14 08:35] 5chdn commented on #6289
Which parity version? How did you configure your client?

[2017-08-14 08:36] 5chdn commented on #6290
Which Parity version? Which operating system? And which browser do you use?

[2017-08-14 08:37] 5chdn commented on #6291
There is nothing like a most recent version, could you state which version exactly you are running? Thanks

[2017-08-14 08:39] 5chdn commented on #6292
You only provided 50_000 gas, try something like 200_000 and it should work.

[2017-08-14 08:39] #6292 closed

[2017-08-14 08:51] Surfang commented on #6289
$ git clone https://github.com/paritytech/parity
$ cd parity

# build in release mode
$ cargo build --release

[2017-08-14 08:52] 5chdn commented on #6261
The dapps server was removed / merged with rpc server in 1.7.0.

What happens if you enter a new token in the wallet?

[2017-08-14 08:52] #6251 closed

[2017-08-14 08:56] 5chdn commented on #6289
What's the output of `parity --version`? And what configuration are you using? Any config file or command line flags you can share?

[2017-08-14 08:57] tomusdrw commented on #6261
Seems that the UI is not handling missing dapps server correctly (but it should). Will have a look at that today.

[2017-08-14 09:03] tomusdrw commented on #6285
@nueverest @dev-dan do you guys any `config.toml`? Is `parity_accounts` API enable on WebSockets interface?

[2017-08-14 09:27] Surfang commented on #6289
version Parity/v1.8.0-unstable-604ea5d-20170810/x86_64-linux-gnu/rustc1.19.0

[2017-08-14 09:46] 5chdn commented on #6289
Ok, please subscribe to #6239 - I didn't see this before. If you don't need latest nightly builds, you can still use 1.7.0 which is not affected.

[2017-08-14 09:46] #6289 closed

[2017-08-14 10:06] msbachler opened #6293 "Array size limit of a returned array from a contract function call in Solidity"
I have a contract storing rdf data in various mappings on our Parity dev chain. It is all  working lovely except for large array returns. I have functions to  return arrays of hashes matching certain criteria. I have found, through  testing, that a function call to the contract that returns an array of 36,000 bytes32 hashes works fine. However, a function call to the contract that should return an

[2017-08-14 10:10] stone212 opened #6294 "error: `pub(restricted)` syntax is experimental (see issue #32409)"
_Before filing a new issue, please **provide the following information**._

From current source tree 14 August 2017

Debian 9

Attempting to install from source.

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am attempting to install from source on Debian 9.

The following are fine:
`# apt-get install openssl

[2017-08-14 10:14] 5chdn commented on #6293
Thanks for opening this issue, context: https://ethereum.stackexchange.com/questions/23918/what-is-the-array-size-limit-of-a-returned-array-from-a-contract-function-call-i

[2017-08-14 10:25] 5chdn commented on #6294
https://github.com/rust-lang/rust/issues/32409

Are you building from master branch? What's the output of `rustc --version`?

[2017-08-14 10:46] Vurich commented on #5972
`sort_unstable` is stablised on beta right now, we can close this as of the next stable release (should be at the end of this month).

[2017-08-14 10:58] blockchainhong commented on #6287
@5chdn thanks, but i'm worried about normally while i using thansfer especially transfer after exact block function without solve this problem, or it doesn't effect them. thanks a lot.

[2017-08-14 11:13] tomusdrw commented on #6285
@nueverest Couple of additional questions:
1. What Opera version did you use?
2. How did you get Parity 1.7? Can you tell us the price version string (bottom left corner of the Wallet)

[2017-08-14 12:04] PhABC opened #6297 "No Snapshots downloaded when using warp with Ubuntu 16"
Using the `parity --warp` command in my Ubuntu 16 console, I was expecting to see some snapshots being downloaded via the warp function. Not specifying the `--warp` argument results in the same behavior, where no snapshots seem to be downloaded. My girlfriend synced her parity on her windows machine in about 15 minutes after not opening it for > 1 months, and it took me about the same time to sync

[2017-08-14 12:50] MasX opened #6298 "Improve filesystem error logging"
Parity failed to save its cache folder (already fixed (#6207)), but not in the version I'm running. The issue here is how I/O errors are reported.

Issue: logged error is vague:
[code]
The actual problem is writing a `$BASE/.cache`, NOT reading the toml as the log suggests.

Expected:
[code]

[2017-08-14 12:57] c0deright commented on #6280
![Disk Usage while still Syncing](https://i.imgur.com/WrydXSg.png)

This is the disk usage whill the node was still syncing. After syncing was complete, disk usage dropped and stayed almost at the same value.

[2017-08-14 12:57] MasX commented on #6275
Unfortunately upgrading is not possible, as we have a `Error: Engine(DoubleVote(852902070f097e5ee70824104cdf9cc3c6ac2dab))` when syncing 1.6.10 and 1.7.0, but not with 1.6.6. I do realise that is an issue in 1.6.6 that has been fixed, but we can not start with a new chain at this point, unless there is a way to port all transactions.

We will disable `force_sealing` to decrease the likelihood of a

[2017-08-14 12:57] #6275 closed

[2017-08-14 13:32] madnight commented on #6290
All parity versions (at least for this year). Arch Linux (up to date). Chromium / Firefox.

[2017-08-14 14:19] tomusdrw commented on #6293
I was able to reproduce that, still need to identify the issue.

[2017-08-14 14:33] arkpar commented on #6280
Cache settings does not really affect write amplification. These are designed to reduce read amplification and minimize block processing times when the node is up to date. `db_compaction` is the only option what trades write amplification for space IIRC. Parity uses RocksDB as the underlying database. Importing a block involves adding a lot of random key-value pairs into the database some space is

[2017-08-14 14:39] dev-dan commented on #6285
I would like to clarify my comment, I am not currently experiencing the issue, though have many times experienced this 'method CLOSE not found' error in my original installation. I experienced it on more than one system as well. I should have been more clear, in my initial comment --  I had said I "previously" experienced this, but I did not provide clear context as to when and under what version.

[2017-08-14 15:00] tomusdrw commented on #6293
The issue is that the transaction is running out of gas, the default is 50M. As a workaround you can specify gas limit manually.

[2017-08-14 15:03] msbachler commented on #6293
I did try the maximum amount of gas and it made no difference in my tests (see stack exchange thread)

[2017-08-14 15:06] msbachler commented on #6293
As I said in the stack exchange, I thought reads where free. I am not specifying even an account to take money from and it gets an array of 60,000 records. So where would it be taking the ether from?

[2017-08-14 15:11] tomusdrw commented on #6293
Yes, reads are indeed free, but `eth_call` is just creating a "virtual" transaction that gets executed in the context of the blockchain. It's not subject to block gas limit that you tried (4.7M), but still gas calculation is being done for anything that `eth_call` does (for instance to prevent infinite loop). Our default gas limit was `50M` and taking out ~64k of `bytes32` was hitting the limit, y

[2017-08-14 15:13] msbachler commented on #6293
Sorry for my ignorance. Is this something I do on the individual call or in the parity config/spec of my chain?

[2017-08-14 15:22] tomusdrw commented on #6293
It's an optional parameter of `eth_call`:
[code]

[2017-08-14 15:23] msbachler commented on #6293
Thank you for your clear explanation. I thought if I specified more than the 4.7M it would throw and error. I will test.

[2017-08-14 15:48] tomusdrw commented on #6286
I think it fits more to `parity-evm` binary.

[2017-08-14 16:40] dataninja23 commented on #6291
I am not sure how to tell since the application won’t open?  Can you assist?

From: Afri [mailto:notifications@github.com]
Sent: Monday, August 14, 2017 3:37 AM
To: paritytech/parity <parity@noreply.github.com>
Cc: dataninja23 <jennifersmith23@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [paritytech/parity] Database error when attempting to run (#6291)

There is nothing like a mos

[2017-08-14 21:10] stone212 commented on #6294
[code]
I think I am building from master branch.  I am typing what it says in the instructions.  Here is my Git command:

`$ git clone https://github.com/paritytech/parity`

[2017-08-14 23:12] MicahZoltu commented on #5493
@tomusdrw Neither of your comments above appear to be true with 1.7.0.  The UI no longer prompts to install when I open it and the Settings page does not have a link to install it.

[2017-08-14 23:38] shane1900 commented on #6253
In Chrome PC the link does not work and I don't see my transaction ID until the transaction fully goes thru.

[2017-08-14 23:38] MicahZoltu opened #6300 "Parity burning CPU."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

When I open the Parity UI, the CPU pegs for several seconds.  If I close the UI and open it again (without restarting Parity) the CPU pegs again.  The same symptoms occur if I open any d

[2017-08-14 23:43] MicahZoltu commented on #6300
Actually, in general doing anything in the UI seems to peg my CPU for a while and all of my interactions are really delayed.  For example, I just went to execute a contract method.  While I was filling in the parameters the UI was pegged (not sure what it was doing).  Then when I clicked to send the UI pegged for a while and I had to wait a non-trivial amount of time for the signer to appear.  The

[2017-08-14 23:48] MicahZoltu opened #6301 "Parity is incorrectly displaying REP as AUG."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Augur's REP token had to be migrated to a new contract due to a Serpent bug in the original contract.  The original contract still exists and has balances but they are non-transferable.

[2017-08-15 03:39] nueverest commented on #6285
Opera 47.0.2631.39

[2017-08-15 03:43] nueverest commented on #6285
When I try to open with Firefox I get:

![image](https://user-images.githubusercontent.com/2917370/29301463-383af20e-8131-11e7-8df3-71d484dc3df2.png)

[2017-08-15 08:40] 5chdn commented on #6285
What happens if you follow the instructions in Firefox?

[2017-08-15 08:42] 5chdn commented on #6301
Thanks for the reminder, will do that asap.

[2017-08-15 08:43] 5chdn commented on #6300
Could you do me a favor and check your logs while you are using the UI?

Does the number of RPC requests increase significantly after opening the UI?

[2017-08-15 08:55] 5chdn commented on #6294
Parity requires Rust version 1.19.0 to build.

[2017-08-15 08:55] #6294 closed

[2017-08-15 09:00] #5872 closed

[2017-08-15 09:14] 5chdn commented on #6291
`parity --version` should print out the version string without opening the database. Should work.

`parity db kill` is the first thing I would check if my database misbehaves. Please report back if this resolves your issue.

[2017-08-15 09:23] 5chdn commented on #6290
Yeah, that's a very dark gray `rgb(18, 18, 18)` on a very opaque black.

[2017-08-15 09:27] 5chdn commented on #6298
That's already fixed in master #6207 via #6212 - please wait for the 1.7.1 release.

[2017-08-15 09:27] #6298 closed

[2017-08-15 09:29] 5chdn commented on #6297
Note, `--warp` is enabled by default and the flag does nothing. If you have issues with snapshot restoration, try adding additional warp sync peers with something like `--snapshot-peers 15`.

[2017-08-15 09:47] arkpar commented on #6297
Snapshot sync only kicks in if the node is more than 100000 blocks behind the head of the chain. We might want to revise that constant give that recent blocks are much slower to process.

[2017-08-15 12:48] WouterSchaekers opened #6303 "Error upgrading parity data: CannotCreateConfigPath when starting parity"
**actual behavior**
Error upgrading parity data: CannotCreateConfigPath

**expected behavior**
Start parity.

**steps to reproduce**
Run: $parity

[2017-08-15 13:52] NikVolf opened #6304 "WASM: 256-bit arithmetic examples and tests"

[2017-08-15 13:53] msbachler commented on #6293
Finally, after one of my Parity chains was just refusing to play, I managed, on a different chain, to pull down 100,000 bytes32 array by specifying the massive gas on the function call. Thank you so much again for walking my brain through this issue.

[2017-08-15 15:34] folsen commented on #4500
@prusnak Is there any more detailed documentation than the protobufs on what wire-protocol is followed. AFAICT it's not using APDU like the Ledger, judging from what I can see on the Python and Java implementations. For instance, looking at this: https://github.com/trezor/trezor-android/blob/master/trezor-lib/src/main/java/com/satoshilabs/trezor/lib/TrezorManager.java#L250-L261
Where does all the

[2017-08-15 15:35] #6293 closed

[2017-08-15 15:49] prusnak commented on #4500
This is our own protocol. Documented here: https://github.com/trezor/trezor-common/blob/master/protob/protocol.md

[2017-08-15 16:16] dataninja23 commented on #6291
Yes…the db kill resolved my issue.

From: Afri [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 4:15 AM
To: paritytech/parity <parity@noreply.github.com>
Cc: dataninja23 <jennifersmith23@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [paritytech/parity] Database error when attempting to run (#6291)

parity --version should print out the version string without opening

[2017-08-15 16:35] PhABC commented on #6297
@5chdn Yes I know, just wanted to make it explicit. I will try to use the `snapshot-peers' argument next time.

@arkpar 100k seems like a lot. Even 10k can take up to 1-2 hours.

[2017-08-15 22:08] AdamJacobMuller commented on #4891
I have the same issue, lots of RlpExpectedToBeData and then eventually

[code]

[2017-08-16 03:13] AndrewKralovec opened #6306 "Parity will not open"
_Before filing a new issue, please **provide the following information**._

parity_1.7.0

Windows 10

Windows installer found here `https://parity.io/parity.html`

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hey guys, i have parity installed. I had it originally working and put some etherum in it. It has been

[2017-08-16 03:18] AndrewKralovec commented on #6306
Update, someone suggested i do, parity db kill is
And now it opens. But my wallet is empty
Did i just lose my etherum ?

[2017-08-16 05:58] folsen commented on #6306
Your database is not really associated with your private keys, as long as you didn't delete your private keys you will not have lost any Ether.

Are you sure that you have synced to the best block? Make sure your node is fully synced and your Ether should show up again!

[2017-08-16 06:12] stone212 commented on #6294
Thank you.  But if that is true then maybe it's time to update this page:
https://github.com/paritytech/parity/blob/master/README.md

Specifically, the part where it says:

`Build dependencies

Parity requires Rust version 1.18.0 to build

We recommend installing Rust through rustup. If you don't already have rustup, you can install it like this:

    Linux:

`

[2017-08-16 08:22] stefek99 opened #6307 "How do I restore account / wallet from private key?"
Research: https://github.com/paritytech/parity/wiki/Backing-up-&-Restoring

It's related to - https://0xproject.com/sale - I'd like to configure Parity to send after a certain block / timestamp...

So I need to use whitelisted account, so I need to import wallet into Parity... Just don't know how?

UI:

<img width="1201" alt="screen shot 2017-08-16 at 09 20 36" src="https://user-images.githubuserc

[2017-08-16 08:28] MicahZoltu commented on #6300
After a lot more trial and error and troubleshooting with @tomusdrw I found that rolling back to 1.6.10 did not resolve the issue (including a full chain re-sync since that was required with rollback), and deleting chain and 1.6.10 then installing 1.7.0 and fully syncing also didn't resolve the issue.  I also found that it wasn't just a problem when the UI was open, though the UI being open _did_

[2017-08-16 08:28] MicahZoltu commented on #6300
cc @rphmeier per recommendation from @tomusdrw.

[2017-08-16 08:29] MicahZoltu commented on #6300
@5chdn I suspect the tags are wrong, since it turns out this isn't specifically related to the UI.  I can edit the description (or you can) if you like to make it more clear what the issue is about.

[2017-08-16 08:33] kommen commented on #6297
I'm running into the exact same issue here.
Partity 1.7.0 on Ubuntu 16.

Then it starts syncing one block at a time, which will take me ages to catch up to the latest block.

[2017-08-16 08:45] 5chdn commented on #6307
Go to ACCOUNTS -> click + ACCOUNT -> and select PRIVATE KEY -> click NEXT and enter your hexadecimal private key.

[2017-08-16 08:45] #6307 closed

[2017-08-16 08:47] 5chdn commented on #6306
You are not the first reporting this issue. Could you try resetting your database with `parity.exe db kill`.

[2017-08-16 08:48] 5chdn commented on #6303
Could you paste the full log output here please?

[2017-08-16 09:04] Ochir commented on #5689
yes, the same bug was reproduced twice with 1.7.0-beta

[2017-08-16 09:07] Ochir commented on #5689
As far as I know, @Masx also have had this issue.

[2017-08-16 09:31] deanstef commented on #5689
Is with --force-sealing the bug resolved?

[2017-08-16 09:39] Ochir commented on #5689
I also don't use "force-sealing" option as well. I will try to use 1.6.6, let see if problem exists with this version.

[2017-08-16 09:51] 5chdn commented on #6297
@PhABC yes, this is due to the huge amount of transactions per day currently processed by the Ethereum blockchain. 100k blocks used to be no issue one year ago.

[2017-08-16 09:52] deanstef commented on #5689
Before the 1.7.0 official release i was using 1.6.9 and it works well with and without 'force sealing', but i'm really interested on the new version.

[2017-08-16 09:55] 5chdn commented on #6300
You are describing multiple issues here.

1. High CPU usage when fetching ancient blocks (core)
2. Even higher CPU usage when using the wallet, especially with detached hardware wallets (ui)
3. Regarding the insane disk I/O please subscribe here #6020

Does this sum it up correctly?

[2017-08-16 10:00] 5chdn commented on #6294
Yes. Will update this now. Did you manage to build it with Rust 1.1.19?

[2017-08-16 10:08] 5chdn commented on #4891
Which parity version are you using?

[2017-08-16 10:18] #6291 closed

[2017-08-16 11:56] ANDYVDL opened #6309 "Memory leak with pruning=fast on Kovan"
I'm running: Parity 1.6.9 on Linux via installer

Parity constantly runs out of memory when i'm using 'pruning = "fast"' on Kovan. On the mainnet pruning works fine. 'pruning = "archive"' also works flawless on Kovan.
Somehow it synced to block ~2.000.000 before it started leaking, since then it just eats up my 3GB memory till it crashes. I tried playing around with the cache-size and pruning-hist

[2017-08-16 12:24] tomusdrw commented on #6083
Since the hardware wallets don't support signing arbitrary messages yet it's not possible to implement that.
Please re-open if the hardware supports this.

[2017-08-16 12:24] gregMartin12 opened #6310 "Parity account does not credit deposits (ETH)"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---ETH deposits to my parity account do not appear and are not credited even though etherscan shows deposit successfully going in and displays correct account balance

[2017-08-16 15:05] stefek99 opened #6315 "When setting point in the future to send funds - allow resolution up to the second."
https://www.reddit.com/r/0xProject/comments/6tplja/0x_token_sale_megathread/

Of course it will be sold in a single block!

![image](https://user-images.githubusercontent.com/249703/29370218-9a2d413a-829c-11e7-85ab-8ab51c8c2fb0.png)

[2017-08-16 15:12] shane1900 opened #6316 "Scheduling 1 Transaction Forces All to be Scheduled"
Hi,

I scheduled a transaction for a future time and then started to create some normal transactions but none went through.  An hour later when my first transaction was scheduled went through then automatically all the other transactions went through.  None of these transactions had selected send a at a future time etc.

There was no way to see this in transaction viewer.  Would like to be able to

[2017-08-16 19:38] WouterSchaekers commented on #6303
There is nothing in the logfile, even when I run with --log-file.
I found out I can run parity with sudo, so it had to do with permissions. Seems like it tries to find the blockchain and keys in a different folder than before.
After supplying --db-path and --keys-path, the problem was fixed.

[2017-08-16 19:38] #6303 closed

[2017-08-17 01:16] ldanicel commented on #3544
I still get this with Parity//v1.6.10-stable-1a5b176-20170721/x86_64-linux-gnu/rustc1.18.0
while a transaction is pending - lots of identical
2017-08-17 04:15:27  Error while sending response: WS Error <Queue(NotifyError::Full(..))>
 especially after it changes status from pending to mined.

[2017-08-17 02:18] AndrewKralovec commented on #6306
@5chdn I did parity.exe db kill, but my wallet is now empty.
@folsen  i don't think i deleted my keys. My wallet address is the same. You can even see that i sent ETH to it from my coin base account. But the balance just inst there. Do you think sycning would fix this issue, and how do i do that ?

![image](https://user-images.githubusercontent.com/6210337/29393267-65074876-82c8-11e7-9507-572206eb

[2017-08-17 06:05] MicahZoltu commented on #6300
I'm not sure if (3) is unrelated or related, the disk IO didn't bother me but it stood out when I went investigating the CPU burn.

Unfortunately, after running Parity all day today with `--no-ancient-blocks` the CPU issue returned.  :'(  I don't know what triggered it, but I'm now into a state where it is burning CPU, then idling for a bit, then burning CPU, then idling.

[2017-08-17 06:28] rphmeier commented on #6300
@MicahZoltu does the problem persist once ancient block download is complete?

I actually do expect that ancient block download will lead to high CPU usage, since ethash verification of the header chain is still required. The heavy I/O usage is also because ancient block headers, bodies, and receipts are being written to disk, and the spikes are likely rocksdb compaction. This is something which s

[2017-08-17 07:14] 5chdn commented on #6306
Are you fully synchronized? Please check the status page. Balance will not show up unless you fetched the latest state.

[2017-08-17 07:14] #6306 closed

[2017-08-17 07:22] 5chdn commented on #6303
Please, don't run Parity with superuser privileges.

I didn't refer to a log file, but the terminal output. Where do you see `CannotCreateConfigPath`? Is there anything else?

[2017-08-17 07:36] blockchainhong commented on #6287
i have sent Ether from my another wallet to my new one(parity), and already in network confirmed, why can't it  just display? cause of  parity wallet not syned yet?

[2017-08-17 08:00] blockchainhong commented on #6316
i used also mac client, can't even syned,  so that can't show what it already has received, can you help me? thanks!

[2017-08-17 08:07] blockchainhong commented on #6310
i have same questions, have you solved it already ?

[2017-08-17 08:08] 5chdn commented on #6310
What's your node status? Do you have any peers? Are you fully synchronized?

[2017-08-17 08:09] Ochir commented on #5689
Issue was reproduced with 1.6.7. The version 1.6.6 works well. However, it is still unclear how to clearly to reproduce this bug. It looks like it happens after some error with network and further disconnect between PoA nodes. I keep further investigation.

[2017-08-17 08:13] 5chdn commented on #6316
@shane1900 That's due to the transactions nonces. Each transaction gets a number, `0`, `1`, `2`, `3`, and the Ethereum chain only includes the `2` if `1` was already mined. If you schedule a transaction, let's say`1`, to be broadcasted in one hour, it will block all other transactions created afterwards because they will get higher nonces, `2`, `3`, `4`, etc. If you want to circumvent this, you wo

[2017-08-17 08:13] #6316 closed

[2017-08-17 08:14] blockchainhong commented on #6310
@5chdn  it show up all-time like this:
 Unable to reach time API: NTP error: NTP server is not provided.. Make sure that your clock is synchronized.
connect peers was stabilize between 6~7

[2017-08-17 08:16] JeremyRubin opened #6319 "Parity Light Client Sync Stuck"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---
I tried running `parity --light --scale-verifiers --num-verifiers 4 --fast-and-loose` (and `parity --light`) but both times I get stuck at:

    2017-08-16 21:42:48  Syncing #1925655 ac02

[2017-08-17 08:19] 5chdn commented on #6309
Does this also happen with 1.6.10 or 1.7.0?

[2017-08-17 08:23] 5chdn commented on #6310
And block number? Are you fully synchronized?

[2017-08-17 08:33] blockchainhong commented on #6310
@5chdn  see that on right lower corner? by me it just shows up %0.00 warp restore, and now the status of node health shows like this:**Your node is still syncing, the values you see might be outdated. Wait until it's fully synced.**
and what makes me very disappointed is , the client crashed all time  so that i have to always restart it.

[2017-08-17 08:43] stefek99 opened #6320 "Question - is it possible to schedule transaction in the future and execute while being offline, or do I need to be connected all times?"
I'll be taking a plane.

I've transmitted some ETH to Jaxx wallet so I can participate in the ICO on mobile.

Is is possible to schedule transaction in the future (while still online) to be executed while on the plane (offline)?

https://twitter.com/decentraland/status/897869824080175104

![image](https://user-images.githubusercontent.com/249703/29403489-59e331b8-8330-11e7-9d38-54b981870b31.png)

[2017-08-17 08:45] 5chdn commented on #6320
You need to be online to broadcast the scheduled transaction.

[2017-08-17 08:45] #6320 closed

[2017-08-17 08:46] 5chdn commented on #6310
Which version, which operating system? What crash message do you see?

[2017-08-17 08:52] blockchainhong commented on #6310
@5chdn
mac installer
version:1.7.0
Crash means it dosen't reaction any more whatever i do, so i have to close it by forcing...then restart, however it happened this again and again.

[2017-08-17 09:38] ldanicel commented on #3544
It triggers everytime while using chrome extension + parity backend and I browse to etherdelta.github.io

[2017-08-17 10:19] grbIzl commented on #4858
Hi @gobitfly I'm working on this issue. I've created PRs for rewards and paging (they are not merged yet). I have a couple of questions about 2d and 3d parts of this issue.

What do you mean? To output accounts just in reversed order? If yes, it seems more appropriate to make such reversion on client's side. Array.prototype.reverse() for example.

Also not clear for me. Which exactly parameters ar

[2017-08-17 11:26] gobitfly commented on #4858
Hello,

thanks for addressing this ticket. Most of the functionality would be nice to have in order to built a suitable blockchain explorer based just on Parity.

Regarding your questions:
- Reverse account enumeration would allow backwards paging in the following view: https://light.etherchain.org/accounts. Currently only forward paging is possible.

- The idea is to use Parity as a backend for t

[2017-08-17 12:01] 5chdn commented on #6319
Can reproduce this, at a different block number though. Sync simply stalls.

    2017-08-17 13:47:11  Syncing #2210563 73a6…e17b   658 hdr/s  16027+    0 Qed  #2210563    4/50 peers   10 MiB cache 13 MiB queue  RPC:  0 conn,  0 req/s,   0 µs
    2017-08-17 13:47:16  Syncing #2213435 2385…a45f   573 hdr/s  21088+    0 Qed  #2213435    3/50 peers   10 MiB cache 18 MiB queue  RPC:  0 conn,  0 req/s,

[2017-08-17 14:16] shane1900 commented on #6316
Thanks for the update.  Be great to see that in some help menu in Parity.

[2017-08-17 17:04] MicahZoltu commented on #6300
@rphmeier I had previously been running my node locally for months, maintaining sync and without the `--no-ancient-blocks` flag, so I _suspect_ that I was all caught up with history when the problem started.

I don't notice problems falling behind on block processing when blocks arrive during normal operation, though when it is running at 100% CPU (to the point where other applications on my compu

[2017-08-17 18:05] MicahZoltu opened #6324 "Improve container support."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

At the moment, several of Parity's configuration options come in via files only, such as reserved node list.  When running Parity in a container (e.g., Docker), adding custom configurati

[2017-08-17 18:26] BatLesStakes opened #6325 "Withdraw from SSH"
Hey,

I have 3.75 ETH on a Parity's instance.
This is a VPS without graphic interface so I can't access the Parity's website.
I was also searching how to withdraw from SSH connection, I don't have it neither.
Do anyone has a solution to withdraw my coins ?

Thanks

[2017-08-17 18:59] WouterSchaekers commented on #6303
_Error upgrading parity data: CannotCreateConfigPath when starting parity_
is the only thing I see.

[2017-08-17 23:19] xenoexclusive opened #6326 "DB corrupted due to 'cannot access stderr during shutdown'"
I'm running:

Upon terminating Parity in terminal via CTRL+C, parity has the following error, which leads to a corrupted database/chain:

_'thread '<unnamed>' panicked at 'cannot access stderr during shutdown', /checkout/src/libcore/option.rs:794
stack backtrace:
    0: <unknown>
    1: <unknown>
    2: <unknown>
    3: <unknown>
    4: <unknown>
    5: <unknown>
    6: <unknown>
    7: <unknown>

[2017-08-17 23:45] andrebeat commented on #6165
Can I take this?

[2017-08-18 04:25] MicahZoltu opened #6327 "Feature Request: Separate UI from Node"
My recent performance problems with Parity on my laptop have given me a desire to use my cloud Parity node (which seems to have no problems) as a backend for my current local Parity frontend.  However, I am not comfortable with putting my private keys on my cloud node and I want to be able to use the Parity UI.

I would like to see the Parity UI split from the Parity Ethereum Node so that I can ru

[2017-08-18 05:19] stone212 commented on #6294
Yes, can confirm success with Rust 1.19.0.  (Also, the way to update to 1.19.0 from the instructions on your README.md is to make sure your environment is set and then then run the following command:

`$ rustup update stable`

)

[2017-08-18 07:06] 5chdn commented on #6325
You have multiple options here. You can either copy the keys to your local machine (scp, rsync) and use then with your local node; Or you use [eth_sendTransaction](https://github.com/paritytech/parity/wiki/JSONRPC-eth-module#eth_sendtransaction) RPC call to create the transaction from command line, like this:

    curl --data '{"method":"eth_sendTransaction","params":[{"from":"0xb60e8dd61c5d32be80

[2017-08-18 07:06] #6325 closed

[2017-08-18 07:12] 5chdn commented on #6327
Probably what you are looking for: This feature is already implemented and called _public node_. It's not very well documented yet, but if you have a cloud node, run it with the `--public-node` flag. This will serve a public accessible user interface on your remote instance. But all keys and configuration are stored locally in your browser. We need this documented #6181

Please, let me know if you

[2017-08-18 07:12] #6327 closed

[2017-08-18 07:39] stone212 opened #6328 "mainnet chain spec file is 404"
Go to here:
https://github.com/paritytech/parity/wiki/Chain-specification

Click on mainnet link:
https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/frontier.json

See 404 Jedi.  Be sad. :(

---

[2017-08-18 07:46] 5chdn commented on #6328
Thanks, fixed.

https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/foundation.json

[2017-08-18 07:46] #6328 closed

[2017-08-18 10:54] gagarin55 opened #6330 "Inconsistent JSON-RPC results for Ethereum Classic - network id"
Having Parity with --chain=**classic**

`net_version` returns **network id = 1**

[code]

Whereas `eth_getTransactionByHash` return **network id = 61**

[code]

Should we have equal network id in both cases ?

---

[2017-08-18 11:08] Vurich commented on #6165
Sorry @andrebeat, [a PR is open already](https://github.com/paritytech/parity/pull/6193).

[2017-08-18 11:25] 5chdn commented on #6165
Please always link issues to PRs. https://github.com/blog/1506-closing-issues-via-pull-requests

[2017-08-18 14:39] btchip commented on #6083
It should support personal signing (see https://github.com/LedgerHQ/ledger-node-js-api/blob/master/src/ledger-eth.js#L113) - is this what you're looking for ?

[2017-08-18 14:42] sorpaas commented on #6330
Related to https://github.com/paritytech/parity/pull/6329

Just think that there're also several cases in Parity which should be called `chain_id` but instead is `signing_network_id`, which creates some confusion.

[2017-08-18 15:01] AndrewKralovec commented on #6306
@5chdn , yeah i re-synced it and waited a few hours. The balance is now showing up correctly.

[2017-08-18 15:16] arkpar commented on #6083
@btchip Interesting, this could use some documentation at https://raw.githubusercontent.com/LedgerHQ/blue-app-eth/master/doc/ethapp.asc

What is the minimum required eth app version that supports this? Is the message presented on the device display hex-encoded?

[2017-08-18 15:48] ValeryDubrava opened #6334 "web3.eth.getBlock returns null on certain blocks (e.g. 924645)"
**actual**

**web3.eth.getBlock** method returns null for block 924645. But previous block (924644) exists! Even more, the latest and the earliest blocks are existing.

**expected behavior**
Method should return information about block (you can found it on https://etherscan.io/block/924645).

**steps to reproduce**

Parity run with script:
`$ parity daemon ./parity.pid --db-compaction ssd --cache-

[2017-08-18 16:15] UNST4BL3 opened #6335 "My transaction was not cancelled."
A transaction from my address to another was sent.
While this transaction was still being confirmed, I clicked the "cancel transaction" button.
The transaction was not cancelled and the ether arrived at the destination.

[2017-08-18 16:47] 5chdn commented on #6335
Once broadcasted, a transaction can not be cancelled anymore.

Was your client still synchronizing the chain while this happened?

[2017-08-18 21:10] btchip commented on #6083
that's right, I'll update the documentation. This message has been added into version 1.0.8 - the device displays a sha256 hash of the encoded message (to handle the case where a long binary message is sent)

[2017-08-18 22:56] rphmeier commented on #6335
Right, only scheduled transactions can be reliably canceled (and only then when they haven't reached the scheduled point). Parity will _try_ to replace a broadcasted transaction with another that miners will be more likely to accept, but the miners may still choose to include the previously broadcasted one.

[2017-08-18 22:56] #6335 closed

[2017-08-18 23:29] patrick99e99 opened #6336 "Changing password results in multiple passwords existing??"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

1. When I initially created my account and was asked for a password.

2. I performed and signed various transactions successfully.

3. Much time went by without using parity, and the next time I needed to make a transaction, I used the password that I thought I

[2017-08-18 23:46] MicahZoltu commented on #6300
As a minor update, its now a day later and Parity is still running at 100% CPU (default flags at the moment and has been for a while).  I have been turning it off periodically so I can actually use my computer, but I try to leave it running overnight at least and when I am doing non-CPU intensive things.  Of course, Parity itself has become largely unusable but I would really like to resolve this

[2017-08-20 13:24] kondratovich opened #6339 "Stratum double notify"
Each new stratum job message is duplicated:
[code]

[2017-08-20 16:28] sbuljac commented on #6319
Same here, different block number.(macOS 10.12.6)

[2017-08-20 16:32] cstegmann opened #6340 "District0x Token has wrong TLA in the Token Registry"
Current TLA: D0X
Correct TLA: DNT

Token Contract Address: 0x0AbdAce70D3790235af448C88547603b945604ea
Token Contract Creator: 0x395ABb8B97268480229e6c3784a545dAEe325A83

I'm running:

Parity version: Parity//v1.7.0-beta-5f2cabd-20170727/x86_64-windows-msvc/rustc1.18.0
Operating system: Windows
And installed: via installer

[2017-08-21 07:07] 5chdn commented on #6340
DNT on the Parity Token Registry is DENT, and District0x is D0X.

I can fix both entries, but the communities should decide first which token gets which TLA. Maybe DENT is fine with DEN?

[2017-08-21 07:07] #6340 closed

[2017-08-21 07:16] 5chdn commented on #6336
This is interesting. Could you please check manually your key files? It's possible that Parity created a new key file without removing the old one.

Your keys are in `~/Library/Application\ Support/io.parity.ethereum/keys`. You will see the public address by checking the JSON field `address`? Could you check if there are multiple files containing this address?

[2017-08-21 07:26] patrick99e99 commented on #6336
Ah.. There are two files starting with a utc timestamp, and both of them have identical address and name fields..  Yet only one has my password hint under meta, but both have the exact same timestamp under meta...  What do you advise?  I should delete one of these files?

[2017-08-21 07:46] 5chdn commented on #6336
Well, deleting is nothing I could recommend when it comes to handling key files :)

What you can do now, is _move_ on of the files out of that directory (i.e., to your Desktop), and see if the password is the one you desire. If it's not, move the file back and move the other out, test again. :-)

[2017-08-21 08:22] kondratovich commented on #6339
The same behavior is reproduced on stable.

[2017-08-21 08:22] rphmeier commented on #6319
could be simply that request credits are running out. "pip=trace" logs would be helpful, although it would produce a lot. the last 30 seconds would be enough in any case.

[2017-08-21 10:36] phahulin opened #6342 "Out of gas txs stuck in the txqueue in PoA network"
Hello, everyone

We have a PoA network with validators via contract. Nodes are connected and generate blocks - that's all OK.
Here is [spec.json](https://github.com/oraclesorg/oracles-scripts/blob/alphadevtestnet/spec.json)
Here is node.toml from one of the mining nodes:
[code]

If miner tries to deploy some other regular contract that exceeds gas limit (here a default truffle's migration contract

[2017-08-21 10:40] mills-nick opened #6343 "Parity 1.7.0 fails to sync with "immediateTransitions": true and 1.6.8 style validator contract"
[config.toml.txt](https://github.com/paritytech/parity/files/1238549/config.toml.txt)

[chain-spec.json.txt](https://github.com/paritytech/parity/files/1238547/chain-spec.json.txt)

I am trying to migrate my blockchain created with Parity 1.6.8 over to Parity 1.7.0.
I know that the validator contract ABI changed but am using "immediateTransitions": true as indicated in this bug: https://github.com

[2017-08-21 10:42] 5chdn commented on #6342
To accept transactions with more than 4.7 million gas, just run your sealing nodes with `--gas-floor-target 6666666` (or any value you like).

To remove transactions from the pool, either restart your nodes with the `--no-persistant-txqueue` flag or replace them with transactions of same nonce but higher gas price (any simple transaction should do).

[2017-08-21 10:47] mills-nick commented on #6343
As evident from the logs the other nodes on the network still run 1.6.8

[2017-08-21 10:51] phahulin commented on #6342
But isn't this a potential DDoS attack vector? A malicious user can join the network and flood it with as many out-of-gas transactions as possible.

[2017-08-21 10:55] 5chdn commented on #6342
A malicious user would require access to your PoA configuration (chain spec) and some decent amount of ETH to be able to DoS your network.

Reopening for a 2nd opinion.

[2017-08-21 10:57] phahulin commented on #6342
Well, our configuration is open as I've provided a link to spec.json in the first post.
Please note, that this user even need not to be a validator, he just needs to connect and run `truffle migrate`

[2017-08-21 11:06] tomusdrw commented on #6342
Transactions significantly above current block gas limit are not accepted by other peers at all. If the transaction is a little bit above gas limit (0.5%) it will be accepted, but evicted from the queue when it's not mined. Also it will get a very low priority, so it's easily removed from the queue by other transactions in the network.
Note that because the gas limit doesn't allow that we don't ev

[2017-08-21 11:20] 5chdn commented on #4833
FYI "EIP649" via https://github.com/ethereum/EIPs/pull/669 implements https://github.com/ethereum/EIPs/issues/649 and supersedes https://github.com/ethereum/EIPs/issues/186 was recently accepted in https://github.com/ethereum/pm/issues/20 via https://github.com/ethereum/EIPs/pull/688

[2017-08-21 11:21] keorn commented on #6342
Third party accounts will also have not access to the tokens on your PoA network so will be unable to submit a transaction in the first place. If you want to restrict connectivity since tokens are widely distributed, then use reserved peers.

[2017-08-21 11:49] tomusdrw commented on #6330
Indeed, `net_version` returns the network id (used for networking) not the chain id (used for signing). Working on a PR to fix up the naming.

[2017-08-21 11:57] zhumingu commented on #6218
will  `parity db kill` reset db? `--tracing on` be must full data? Is there a fast sync method? I just need the trace after current block.

[2017-08-21 12:14] phahulin commented on #6342
@tomusdrw what is the eviction period equal to?

[2017-08-21 12:17] 5chdn commented on #6218
Unfortunately not, tracing only works from the beginning.

[2017-08-21 12:20] tomusdrw commented on #6342
It's 128 blocks: https://github.com/paritytech/parity/blob/8500252e699b0b318b1707d71d368d5b9bc82985/ethcore/src/miner/transaction_queue.rs#L553

[2017-08-21 22:47] NiklasKunkel commented on #6319
Having the exact same problem. Constantly stalls and will remain stalled until I kill and restart the client.

[2017-08-22 01:50] reiven opened #6348 "ERC20 deposit do not fire Deposit on Multisig"
Hi, looks like the Deposit event do not track ERC20 token deposits because normally token transfers have 0 ether value

I'm using parity 1.7.0 on linux, and Wallet contract link is https://github.com/paritytech/parity/blob/6b0e4f9098be6b841353e7c4f116aa86b7c2e3d6/js/src/contracts/snippets/enhanced-wallet.sol

[2017-08-22 05:27] Robzz commented on #6319
FWIW I had the same problem but it went away when compiling and running the latest master.

[2017-08-22 06:02] karthik2883 commented on #4980
start your geth with  --rpcapi "eth,net,web3,personal"

[2017-08-22 08:27] 5chdn commented on #6348
![screenshot at 2017-08-22 10-25-25](https://user-images.githubusercontent.com/15729797/29555895-5892d35c-8724-11e7-8277-99bc0cc76069.png)

Wallets fully support ERC20 tokens. What kind of event are you talking about? Notifications?

[2017-08-22 08:39] 5chdn commented on #6334
How are you calling getblock? Can not reproduce via JavaScript console.

    {
      author: "0x68795c4aa09d6f4ed3e5deddf8c2ad3049a601da",
      difficulty: 10825574453474,
      extraData: "0xd783010400844765746887676f312e352e31856c696e7578",
      gasLimit: 3141592,
      gasUsed: 102947,
      hash: "0x6d9d3292485e2e43991e9ef245867ee08086290dafb689b8e32f6e4fe1acb707",
      logsBloom: "0x000000

[2017-08-22 08:47] 5chdn commented on #6310
Don't force a shutdown. It's writing the chain and state to the database. Your balance will display as soon as your client is fully synchronized.

[2017-08-22 08:47] #6310 closed

[2017-08-22 08:48] 5chdn commented on #6309
Can not reproduce with 1.7.0, user not responding.

[2017-08-22 08:48] #6309 closed

[2017-08-22 08:58] 5chdn commented on #6301
Fixed.

[2017-08-22 08:58] #6301 closed

[2017-08-22 09:01] #6330 closed

[2017-08-22 09:10] arkpar opened #6350 "Keep existing blocks when restoring from a snapshot."
When restoring from a snapshot parity should try and re-import ancient blocks existing in the current database starting from genesis.

[2017-08-22 09:10] csillag commented on #4500
FYI: Trezor support has been merged to geth: https://github.com/ethereum/go-ethereum/pull/14885

[2017-08-22 09:13] arkpar opened #6351 "Instant finality mode"
With this mode enabled Parity RPC would report head of the chain to be N blocks behind the actual head. Pending state would include last N blocks and all transactions from the last N blocks would be returned as "pending".
A more advanced version could be implemented on a per-dapp basis.

[2017-08-22 09:26] #1100 closed

[2017-08-22 09:30] #6297 closed

[2017-08-22 09:33] 5chdn commented on #884
Is eth_pubsub complete now?

[2017-08-22 09:35] 5chdn commented on #3079
This issue keeps coming up once in a while. Is it worth keeping this open here?

[2017-08-22 09:44] 5chdn commented on #3217
What's preventing you to deploy a contract from a DApp with the existing tools right now?

[2017-08-22 10:32] #3417 closed

[2017-08-22 10:47] 5chdn commented on #4754
Etherscan shows token transfers but they don't expose it via API.. (yet?)

[2017-08-22 10:48] 5chdn commented on #3417
Tracked in #4793

[2017-08-22 11:07] 5chdn commented on #5638
related #3910 #4123 #6228

[2017-08-22 11:08] 5chdn commented on #5660
Does this still happen?

[2017-08-22 11:09] YaaMe opened #6353 "contract invoke another contract function"
---
start on

here's test contract A
[code]

here's invoker contract B
[code]

[2017-08-22 11:10] #5725 closed

[2017-08-22 11:12] #5744 closed

[2017-08-22 11:17] #5926 closed

[2017-08-22 11:20] 5chdn commented on #5968
Does this still happen with 1.7.0?

[2017-08-22 11:22] 5chdn commented on #6011
Can you confirm that the wallet is slow in Safari while it's running fine with Chrome _at the very same time_?

[2017-08-22 11:28] 5chdn commented on #6353
This is the Parity bug tracker, you might want to consider asking this question on Stack Exchange. https://ethereum.stackexchange.com/

[2017-08-22 11:28] #6353 closed

[2017-08-22 11:28] AlexanderSupersloth commented on #5660
I'm not sure. I haven't been opening the Parity UI much lately. I will keep an eye on it and let you know.

[2017-08-22 11:33] 5chdn commented on #6261
Did #6296 address this?

[2017-08-22 11:37] 5chdn commented on #6158
Could you explain the steps how to reproduce this?

[2017-08-22 11:39] reiven commented on #6348
Thats for mainnet only, correct?
I've deployed a ERC20 compatible wallet in Ropsten and the wallet didnt see the transaction, just ETH transactions. Also, the token was deployed using parity

![image](https://user-images.githubusercontent.com/362717/29563679-0c8fa5fc-8715-11e7-942f-e52b4c0700d1.png)

[2017-08-22 11:40] tomusdrw commented on #6261
After #6296 the UI works without dapps server, the issue with `NoSlabSpace` will be resolved when we update to `jsonrpc-http-server` (no issue for that, feel free to create one and assign me).

[2017-08-22 11:46] 5chdn commented on #6189
What exactly do you mean by this? All chains have their separate DApps.

Default token name, see #4123

[2017-08-22 11:49] 5chdn commented on #6348
That screenshot was taken on Kovan. After deploying your token, you need to register it with the Token Registry Dapp. https://github.com/paritytech/parity/wiki/Token-Registry

[2017-08-22 11:49] #6348 closed

[2017-08-22 11:52] #6190 closed

[2017-08-22 12:06] 5chdn commented on #6217
You can modify the chain specification to say ETH rather than Foundation, by just renaming the `name` field, like this: https://gist.github.com/5chdn/a67fe2082d59a07fdaa34c16632742e4

![screenshot at 2017-08-22 14-04-03](https://user-images.githubusercontent.com/15729797/29564649-087aa81c-8743-11e7-8194-989ac02327b9.png)

And then just run `parity --chain eth.json`

[2017-08-22 12:06] #6217 closed

[2017-08-22 12:14] tomusdrw commented on #6189
I think @destenson meant local dapps, but that works as desgined. Developers should be able to easily test the same dapp on Kovan and Mainnet.

[2017-08-22 12:15] dip239 commented on #6351
opened correspondend RFE at [web3.js](https://github.com/ethereum/web3.js/issues/1003)

[2017-08-22 12:27] General-Beck commented on #3079
@5chdn I think you can close. Solution `cargo -j `

[2017-08-22 13:28] #3079 closed

[2017-08-22 13:33] 5chdn commented on #6230
Do you mind disabling this "application stopped working" dialogue in Windows? Because the Parity process is still running in the background and Windows is preventing to show what's going on / or what's _not_.

[2017-08-22 13:35] #6240 closed

[2017-08-22 13:35] 5chdn commented on #6242
Duplicate of #6319

[2017-08-22 13:35] #6242 closed

[2017-08-22 13:42] Grix commented on #6230
Ah, when I disable the error and try again, it shows this message:

`thread 'IO Worker #1' panicked at 'assertion failed: `(left == right)` (left: `1015`, right: `0`)', ethcore\src\miner\transaction_queue.rs:398`

[2017-08-22 13:47] 5chdn commented on #6230
Interesting. Could you post the full back trace from the terminal?

[2017-08-22 14:03] Grix commented on #6230
Excuse my ignorance, how do I do that?

[2017-08-22 14:45] 5chdn commented on #6230
The message `thread 'IO Worker #1' panicked at ' ... ` should be followed by multiple lines of information. If you could just paste them all here, thanks :)

[2017-08-22 15:06] Grix commented on #6230
That was the last line it printed... There was no other info relating to the crash.

And just now I tried multiple times to reproduce it, but I can't get that error to show again. I tried six times: two times I got the error message I screenshot in OP, and four times it crashed completely silently (or maybe the "stopped working" message would have been shown if I hadn't disabled it). So I apologiz

[2017-08-22 16:48] deanstef opened #6357 "Byzantine nodes stress Aura - Finality"
Hello,
I'm running:
Parity version: 1.7.0
Operating system: Linux
And installed: from source

I'm trying to stress Parity Aura engine with some byzantine behaviours of custom malicious nodes.
Actually i'm thinking to implement a byzantine authority who sends, at it's turn, different blocks. For example if i've three nodes A,B C; the byzantine primary sends one block to A, B and a similar block, bu

[2017-08-22 17:16] bamos01 commented on #6217
This would only fix the problem in my computer. but would not address it for other users.

Would you consider a more general fix?

On Tue, Aug 22, 2017 at 8:06 AM, Afri <notifications@github.com> wrote:

[2017-08-22 17:37] chevdor commented on #6158
as far as I recall:
- clear local storage
- start parity
- follow the guide

I may have clicked 'next' and 'back' a few times though.

[2017-08-22 17:39] chevdor commented on #3217
The goal is not to deploy a contract but to do with code what you do when you decide to watch a given contract in the UI.

[2017-08-23 02:15] ANDYVDL commented on #6309
I think it was my fault due to a too high pruning history setting.
Still struggling with random mem leaks from time to time.

[2017-08-23 02:32] Fredouh opened #6358 "token shows wrong balance by decimals"
_Before filing a new issue, please **provide the following information**._

token (contract adress: 0xb110ec7b1dcb8fab8dedbf28f53bc63ea5bedd84) shows wrong balance by decimals (1.23456 instead of 1,234.56).
balance appears right on etherscan. fully synced. parity doesnt let me transfer the token saying
"the transaction total is higher than the available balance". seems to be an issue with token re

[2017-08-23 04:11] zhumingu commented on #6218
thanks. How much disk space does full data need now? and daily increase?

[2017-08-23 06:43] 5chdn commented on #6358
Which token is that? Can you confirm it's 8 decimals not 9?

[2017-08-23 06:48] 5chdn commented on #6309
Thanks!

[2017-08-23 06:49] 5chdn commented on #6218
Some users report around 200GB.

[2017-08-23 09:24] debris opened #6360 "Migrate to ethabi 4.0.0"
I think this could be split into 2 separate steps:

- [x] make current generator use `ethabi 4.0.0`
- [x] add generator functionality to `ethabi`
- [x] replace generator with `use_contract!` macro
- [x] `updater` crate should use `ethabi_contract` crate (@axelchalon)

[2017-08-23 09:29] keorn commented on #6357
Yes, should work fine. With [Validator Set contract](https://github.com/paritytech/parity/wiki/Validator-Set#contracts) the malicious authority should also get kicked out.

[2017-08-23 09:30] #6357 closed

[2017-08-23 09:33] deanstef commented on #6357
Thank you. But how the network reacts to this? Nodes A,B will have a different block from C, they simply rejects the block from the malicious node?

[2017-08-23 09:37] keorn commented on #6357
A,B can not know its malicious before they receive another block from the same authority through the node C.

[2017-08-23 09:41] deanstef commented on #6357
Thank you.

[2017-08-23 10:01] chpio opened #6361 "Is this release for real?"
Is the v1.7.1 release for real or are you going to silently swap some commits like it happened for 1.7.0 and 1.6.10?

[2017-08-23 10:05] arkpar commented on #6361
Releases are "for real" when they are published on the releases page. Before that tag might be pulled if it fails internal testing

[2017-08-23 10:05] #6361 closed

[2017-08-23 10:06] chpio commented on #6361
ok, thank you.

[2017-08-23 13:28] shane1900 opened #6362 "Feature Request : Close Vault Automatically After X Minutes of Last View of Accounts"
I notice I forget to close the vault often, be great if it did it for me.

[2017-08-23 15:57] 5chdn commented on #6361
Now it's real. https://github.com/paritytech/parity/releases/tag/v1.7.1

[2017-08-23 15:57] 5chdn commented on #4672
Switched to sha256. https://github.com/paritytech/parity/releases/tag/v1.7.1

[2017-08-23 15:57] #4672 closed

[2017-08-23 19:44] jon-choi commented on #6290
Think the simplest solution is actually upping the opacity from 0.25 to 0.5. PR coming.

`js/src/views/Account/Header/header.css`
![image](https://user-images.githubusercontent.com/9872658/29635030-9d4177ce-8800-11e7-91b0-2cf7ee35198b.png)

before
![image](https://user-images.githubusercontent.com/9872658/29635071-bd1077e4-8800-11e7-825f-eff5a77400f8.png)

after
![image](https://user-images.github

[2017-08-23 20:39] madnight commented on #6290
yes, that should fix the issue, the "after" screenshot is also perfectly readable on my screen

[2017-08-24 01:35] NiklasKunkel commented on #6319
@Robzz I just tried with the latest commit on master running on Ubuntu and it still stalls during sync.

[2017-08-24 04:54] MicahZoltu commented on #4672
@5chdn That link took me to a verified and sha256 checksummed release earlier today, but now it isn't and 1.7.0 is showing as latest.  Was the release pulled?

[2017-08-24 04:58] MicahZoltu opened #6367 "Allow skipping Parity UI account creation."
---

When installing Parity on a new machine, upon launch of the UI you are prompted to create an account.  There does not appear to be a way to skip account creation, even if you only plan on using Parity for monitoring on-chain contracts, or you plan on importing keys via import, or if you plan on using a hardware signing device.

While I recognize that I can just create a dummy account and then

[2017-08-24 06:17] rstormsf opened #6368 "InvalidNetworkID dev chain"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

0. Run parity dev chain
[code]
1. Deploy some contract
2. Generate abi call
[code]
3. In Metamask, connect to your local parity dev node
4. Send a tx to your Contract with Data provided

Result:
[code]
I always get this error

OR
I even tried to generate a signedTran

[2017-08-24 06:32] rstormsf commented on #6368
I figured it out:

https://gist.github.com/anonymous/22c1391189e8abfd8bdf3736adbd4483

[2017-08-24 06:32] #6368 closed

[2017-08-24 07:36] 5chdn commented on #4672
Yes it was pulled. Stay tuned. But I will ensure there will be sha256sums for future releases.

[2017-08-24 07:49] 5chdn commented on #6367
The Parity wallet is not intended to work without accounts and might fail at certain points if there was no account. But I agree, instead of an account creation, there should be an import option.

[2017-08-24 15:14] luckymf opened #6371 "Parity stopped syncing"
Hi, I have downloaded from https://parity.io/ and installed Windows Parity wallet about 5 days ago, followed the instructions and setup an account "LUCKYMF" (uuid: 71c9ef0a-b2e1-8477-5ff9-7965c0296cef). I needed to withdraw my ETH tokens from Bittrex.com. So I made a withdrawal request and it suceeded. Thansaction was successful and confirmed soon afterwards (check here https://etherscan.io/tx/0x6

[2017-08-24 16:32] destenson commented on #6189
I'd have to try it out again to be sure, but IIRC, when I would switch chains, all of the DApps remained as if I were on the same chain. But since the chains have different DApps deployed on them and at different addresses, icons & images had broken links and smart contracts weren't functional (different deployment addresses, etc). Overall, from a user experience, it just seemed to be quite broken

[2017-08-24 16:39] MicahZoltu opened #6372 "Parity warp sync is no longer very warpy."
---

I just installed Parity onto a brand new computer with a fresh install of Windows 10 Pro.  The computer has Hyper-V enabled and Docker, but otherwise is a stock Windows 10 Pro computer of reasonable power (Dell XPS 9560).  It is connected via wireless ab/n 5GHz to a nearby router and is able to easily max out my internet connection (100Mb/s down, 12 Mb/s up).

It launched after install about

[2017-08-24 16:45] MicahZoltu commented on #6372
Upon further inspection, it appears that the initial launch of Parity post-install is `ui --warp --mode=passive` (this differs from the start menu shortcut that is created which is just `ui`).

[2017-08-24 17:47] XelionIO opened #6373 "hardware_wallet::ledger Error reading device info: Ledger protocol error: Unexpected chunk header"
My Ledger is not detected by Parity.
I've used ``parity.exe" -l hardware_wallet=trace`` and the output is :

[code]

https://pastebin.com/J6Azek8W

[2017-08-24 18:28] MicahZoltu commented on #6373
@XelionIO Make sure you have the Ethereum app open on the ledger and in settings within the Ledger ethereum app you have _disabled_ browser support.

[2017-08-24 18:29] MicahZoltu commented on #6372
As an update, I just restarted my computer (for unrelated reasons) and Parity crashed on startup the first time, then on re-launch it started the Warp Restore over again from 0% and my best block says 3,831,654 (where it was at time of restart).

Perhaps this should be a separate issue (let me know if so) but it would seem that restarting in the middle of a warp restore causes problems.

[2017-08-24 18:38] XelionIO commented on #6373
@MicahZoltu I've done that but same problem and same error.

[2017-08-24 19:35] cryptoking88 opened #6374 "Cannot transfer Altcoins"
I cannot seem to make a transfer of alt coins from Parity to another wallet.. if I pull up EOS for example it says that the total transaction amount exceeds the amount I own. Thoughts.Help?

[2017-08-24 20:20] forgetso commented on #4546
Thanks @megacrypto

[2017-08-24 20:29] etscrivner commented on #5805
This is probably worth getting a patch release out for. Still happening on 1.7.0 and causing some issues her at Coinbase.

[2017-08-24 23:27] MicahZoltu commented on #6300
In a desperate attempt to resolve this issue I bought a new computer (Dell XPS 9650).  After fully syncing the chain (see #6372) it is back to burning way more CPU than I would expect while not doing any meaningful work (just keeping up with new blocks).  I have no accounts or contracts, outside of one account I created to satisfy the wizard.  I have done no customization of Parity or anything not

[2017-08-25 03:14] MicahZoltu commented on #6300
After many more hours of sitting idle on the computer, it appears to have calmed down to acceptable levels.  Perhaps the issue is simply that the UI doesn't give enough information about what is happening (both for troubleshooting, and to make me not freak out)?  Presumably, something changed over the past few hours but the UI gives me no indication that it is in any different of a state now than

[2017-08-25 07:29] 5chdn commented on #6372
Please share some logs. It's hard to tell why the warp sync is stuck at a certain state / block.

[2017-08-25 07:34] 5chdn commented on #6374
Which version are you running?

Is your client fully synchronized?

[2017-08-25 07:38] 5chdn commented on #5805
Hi @etscrivner, #5881 is included in 1.7.0 - could you share the full logs here, so we can confirm it's the exact same issue?

[2017-08-25 07:45] 5chdn commented on #6300
:rofl:

Go to the status tab, scroll to the bottom and follow the logs by clicking the play button. After a warp sync it fetches ancient blocks, this process takes several hours and fits very well your description above.

[2017-08-25 08:10] 5chdn commented on #6189
That's a browser caching issue. If you switch chains, you should hard-refresh (CTRL+F5) or start a new session. Regarding account creation see #6367

[2017-08-25 08:10] #6189 closed

[2017-08-25 08:12] 5chdn commented on #6371
You are not synchronized. Could you scroll down on the status page to the bottom, enable the logs and paste them here?

[2017-08-25 08:15] sbuljac opened #6375 "Creating account - password problem"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

When I try to create a new account and as password paste randomly generated 32 ch long password with upper letters, lower letters, numbers, and special characters the Parity UI block/stu

[2017-08-25 08:31] #6290 closed

[2017-08-25 08:34] 5chdn commented on #6375
Please specify what exactly is happening. Please also share logs or screenshots.

[2017-08-25 08:41] axelchalon commented on #6138
I'd be interested in working on this!

[2017-08-25 09:03] tomusdrw commented on #884
Still missing less important methods, I'll implement them next week to finally close this:
- [ ] syncing
- [ ] Pending (local?) transactions

[2017-08-25 09:14] hankuksui opened #6378 "我看有中文语言文件呢，为什么浏览器里还是显示的英文呢。。。"
_Before filing a new issue, please **provide the following information**._

浏览器
navigator.language："zh-CN"
navigator.languages：["zh-CN", "zh", "zh-TW", "en", "en-US"]

---
怎么让它显示中文呢？

[2017-08-25 09:15] mills-nick commented on #6343
I double checked my chain-spec.json and it is mostly identical to the chain-spec.json on the network.
With the only differences being that I added "immediateTransitions": true for the authorityRound.params and         "gasLimitBoundDivisor": "0x400" for the engine.params sections.

[2017-08-25 09:16] keorn commented on #6378
Question about how to enable Mandarin in the UI.

[2017-08-25 09:34] ixiangjin opened #6379 "application crash when changging syncing ropsten blocks in setting tabs on windows"
_ anyone has that problem？  when i choose to sync ropsten test network， the brower stop and no repondding

- some place said could use ropsten.json to start. but not found any ropsten.json file
---

[2017-08-25 10:07] 5chdn commented on #6379
Can you try to run parity from a command prompt?

[code]

And see if this produces any useful error messages?

[2017-08-25 10:17] ethshan opened #6380 "help for "double vote""
_Before filing a new issue, please **provide the following information**._

the console show me error info "double vote" when i run pairity with private chain(POA) ,two nodes.
I have migrate some smart contract on my chain,and send transaction to the contracts.The error info will come when hundreds of block mining.

my config like this
contract-product-spec.json:
{
    "name": "ProductPoA",
    "e

[2017-08-25 10:20] 5chdn commented on #6380
Please share your complete logs here, including the full error message.

[2017-08-25 10:20] luckymf commented on #6371
[25.08.2017, 13:19:03]Syncing snapshot 1/400 #2399226 7/25 peers 5 MiB
chain 61 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 8 req/s, 137 µs

[25.08.2017, 13:18:53]Syncing snapshot 1/400 #2399226 6/25 peers 5 MiB
chain 61 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 7 req/s, 138 µs

[25.08.2017, 13:18:43]Syncing snapshot 1/400 #2399226 6/25 peers 5 MiB
chain 61 MiB db 0 bytes queue 10 KiB sync R

[2017-08-25 10:29] 5chdn commented on #6371
Log shows the warp sync just started. Keep it running like that. If the issue persists, please come back with new logs. :)

[2017-08-25 11:40] kondratovich opened #6381 "Crash on RPC call"
Spam this RPC request for a while.

[code]

[code]

[2017-08-25 12:56] CraigglesO commented on #6378
I was going to take pictures to answer this with steps. But I don't see language setting in the UI anymore.

[2017-08-25 14:20] arkpar commented on #6300
@MicahZoltu After the initial warp sync is complete there's a background process that downloads and validates historical blocks. This process takes a few hours and is CPU demanding. Currently there's progress indication in the console output/logs, but not in the UI.

[2017-08-25 14:23] arkpar commented on #6373
@XelionIO Are you sure you have browser support disabled in Ethereum app settings? Try restarting the device after you've disabled it

[2017-08-25 15:41] gegereno opened #6382 "QR Scanner fails to launch computer camera on Safari"
--
**Actual Behaviour**

![screen shot 2017-08-25 at 4 56 08 pm](https://user-images.githubusercontent.com/7646945/29720901-97f91e2c-89bb-11e7-9ac0-245b03710562.png)

**Expected Behaviour**

Inside the box to show a live camera view in order to scan QR Code (as it does on Chrome)

**Steps to Reproduce**
1. Launch Parity using Safari Version 10.1.2 (12603.3.8)
2. Try to scan QR code from Signer App

[2017-08-25 15:44] debris commented on #5869
address is always derived from public. it's a bug, and it's very easy to fix on rust side of the project, although it also requires some work on ui side

[2017-08-25 16:31] hankuksui commented on #6378
@CraigglesO 非常感谢！是的，现在是看不到修改语言的功能，我是在代码里看到的。
实在不好意思，我的英文不太好，还在努力学习，给你们添麻烦了。

[2017-08-25 17:07] MicahZoltu commented on #6372
It has recovered at this point, is it possible to see a log history or are they pruned over time?  If not, the repro steps are:
1. Buy new computer.
2. Re-install OS without manufacturer bloatware.
3. Install Chrome, Docker, Parity.
4. Let it sit warp syncing for a bit.
5. --> Notice that it gets stuck.

If I end up resetting my chain and reproducing this myself I'll try to enable the log capture

[2017-08-25 17:13] rstormsf commented on #6342
@tomusdrw @keorn @5chdn
We have over 200k blocks already passed and none of the transactions were evicted.
http://testnet.oracles.org:4000/tx/pending

2. We tried replacing those transactions with higher gas limit - doesn't work
3. The main issue for me is that I cannot use my account from Parity node(just sending a simple transfer transaction) makes it stuck in the network. However, if I send it

[2017-08-25 17:40] tomusdrw commented on #5869
It's should also be possible for accounts that have sent at least one transaction, we can recover the public key from the signature.

[2017-08-25 17:49] Basguy opened #6383 "I'm running:"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

[2017-08-25 17:53] Basguy opened #6384 "Parity not opening"
_Before filing a new issue, please **provide the following information**._

left parity open yesterday to sync (warp doesn't seem to be a thing for me) and was performing about as good as usual. Turned off laptop to go to bed and when I opened it in the morning and booted parity it would not open. Shows up in task bar for a split second then vanishes, have tried uninstalling and reinstalling as we

[2017-08-25 18:31] #6383 closed

[2017-08-25 18:45] Basguy commented on #6306
I am having a similar issue, but when I try the `parity.exe db kill` function I get
"this app cant run on your PC" error and the command prompt says access denied.
As far as I know I am the admin of this computer, any suggestions?

[2017-08-25 19:05] tomusdrw commented on #6342
So most likely the node that initiated the transactions has all of them and keeps propagating them to the network.
One of those transactions is being rejected by the mining/authority node - and rest of them goes to future.
Sending another transaction renders different behaviour depending on the node, because:
1. On the node that initiated the transaction the `nonce` that is used is the one after a

[2017-08-25 20:02] rstormsf commented on #6342
@tomusdrw Nope, I killed the node long time ago and all pending txs were still there.
We waited ~ 200k blocks - they were still there txs. (there still are http://testnet.oracles.org:4000/tx/pending)
So how do I figure out which node keep propagating txs?

[2017-08-25 20:33] XelionIO commented on #6373
@arkpar I've upgraded Parity to 1.7.0-beta and disabled browser support in the Ethereum App. Even after complete reboot, same error :/

[2017-08-25 21:42] #6384 closed

[2017-08-26 06:01] stone212 opened #6385 "Thread '<unnamed>' panicked at 'index out of bounds: the len is 0 but the index is 1', ethcore/src/ethereum/ethash.rs:537"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Parity starts up fine on a custom genesis file.  Then I invoke open-ethereum-pool (https://github.com/sammy007/open-ethereum-pool) and Parity instantly crashes.  This is the output from

[2017-08-26 07:39] mi2zha opened #6386 "TraceDB resync required"
_Before filing a new issue, please **provide the following information**._

parity db kill
parity --pruning archive --base-path /Volumes/mnt/parity --port 3304 --rpcport 8550
parity --tracing on

TraceDB resync required

curl --data '{"method":"trace_transaction","params":["0xc7213d1f6a356ceb889eb138865ee104133c3cda2760ae0beb23a4a1d843d5cc"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/j

[2017-08-26 08:10] tomusdrw commented on #6342
Ok, sorry I got confused. I thought that you meant that future queue is filled up with some transactions.

If the transactions are in the pending queue they will be re-propagated by all those nodes, we anticipate a block gas limit increase, but if it does not happen it won't ever be included.

To remove the transaction you need to replace the one that has this super high gas limit with something t

[2017-08-26 09:44] 5chdn commented on #6381
Can you update to latest master?

At what rate are you spamming this call, and why?

[2017-08-26 09:50] 5chdn opened #6387 "Token Registry lookups cause 1000's of eth_calls if you have multiple accounts"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Token Registry lookups cause 1000's of eth_calls if you have multiple accounts. Token registry currently has more than 300 entries. They are queried for each account you have and cause the RP

[2017-08-26 09:51] 5chdn commented on #6300
I'm tempted to close this as _working as desired_. This is not really a Parity issue but an Ethereum issue. Your client is processing 400k transactions per day currently, even if it's not sync'ing, that's 5 per second.

Regarding the high IO, there is room for optimization regarding the database layer, but there is a separate ticket open. #6280 #6020

Regarding the accounts and dapps issue, that's

[2017-08-26 09:51] #6300 closed

[2017-08-26 09:52] 5chdn commented on #6020
I would like to close this as duplicate of #6280 - let's keep this in one place.

[2017-08-26 09:52] #6020 closed

[2017-08-26 09:59] 5chdn commented on #6372
Actually, I can reproduce this on different setups. Sometimes it feels random. https://gist.github.com/5chdn/683b905aa410de0232690fd9ddaf32fb

The current state grew to around 1.3 GB and we have 6.3 million unique addresses. https://etherscan.io/chart/address

Not sure what the future will bring for warp sync, but it's quite probable that end-users will switch to light mode by default on most mach

[2017-08-26 10:30] chpio commented on #6361
but now it's just the 1.7.0 version showing up in the release page, 1.7.1 & 1.7.2 isn't. so i assume they are broken and the latest stable version is 1.7.0?

[2017-08-26 12:56] debris commented on #6387
So the problem is caused by each call creating a new state copy. afaik @tomusdrw recently addressed this issue by added `parity_call` rpc method which reuses a single state copy for multiple calls. Our ui should use this method and check all balances together

[2017-08-26 13:46] AlexanderSupersloth commented on #5493
@MicahZoltu I regularly get prompted to install the extension on 1.7.0, even though I already have it installed. It is very irritating.

[2017-08-26 13:50] tomusdrw commented on #5493
@AlexanderSupersloth The issue is already addressed on the development branch of the Extension and will be released shortly.

[2017-08-26 13:57] luckymf commented on #6371
Now got stuck again on block #2,423,899 (not changing more then 30 hrs), the line"Syncing snapshot 166/445 #2423835" is not changing for more then 7  hours. By the way I noticed that every time when my PC goes into sleep mode, parity program stops running and in the morning when I wake up my PC the parity icon dissappears from taskbar. So I have to start over the program, and it starts syncing sna

[2017-08-26 14:32] AlexanderSupersloth commented on #5660
Yes, it is still happening. Since I first reported this bug I have upgraded to 1.7.0.

![screen shot 2017-08-26 at 15 21 53](https://user-images.githubusercontent.com/24178244/29742263-b045321e-8a73-11e7-8d6e-5bf486b7797f.jpg)

[2017-08-26 15:49] 5chdn commented on #6361
Yes, we pulled 1.7.1 due to a bug in the interface. 1.7.2 will be next but needs further testing.

Latest stable is 1.6.10 by the way. Latest beta is 1.7.0.

[2017-08-26 16:18] kondratovich commented on #6381
I can confirm that last nightly build (Parity/v1.8.0-nightly-5c0f9f1-20170824/x86_64-macos/rustc1.19.0) cashes too.

It's easy reproducible for me, I send requests by hand in console using curl. Sometimes it's enough one request, sometimes 4-5.

I'm not sure, but seems crash happens just after new block.

[2017-08-26 16:36] Grix opened #6388 "Parity web interface nags about chrome extension even though it's already installed"
I'm running:
- **Parity version**: Parity//v1.7.0-beta-5f2cabd-20170727/x86_64-windows-msvc/rustc1.18.0
- **Operating system**: Windows 10
- **installed**: Via installer
- **Chrome version**: 60.0.3112.113 (Official Build) (64-bit)
- **Parity extension version**: 2.7.2

Sometimes the parity web interface will display the chrome extension message even though it's already installed and connected: ht

[2017-08-26 17:47] 5chdn commented on #6386
You need to enable tracing on first run

    parity --tracing on --pruning archive --base-path /Volumes/mnt/parity --port 3304 --rpcport 8550

You can also use a config file: https://github.com/paritytech/parity/wiki/Configuring-Parity#config-file

[2017-08-26 17:47] #6386 closed

[2017-08-26 17:48] 5chdn commented on #6381
Duplicate of #6239

[2017-08-26 17:48] #6381 closed

[2017-08-26 17:49] 5chdn commented on #6385
Duplicate of #6239

[2017-08-26 17:49] #6385 closed

[2017-08-26 17:50] 5chdn commented on #6239
Keeps to get triggered in many different situations #6289 #6381 #6385

[2017-08-26 17:53] 5chdn commented on #6371
Duplicate of #6372

[2017-08-26 17:53] 5chdn commented on #6371
You are not alone with these kind of issues, let's track them in #6372 if you don't mind.

[2017-08-26 17:53] #6371 closed

[2017-08-26 17:54] 5chdn commented on #6372
#6371 same issue, logs look similar to mine.

[2017-08-26 17:56] 5chdn commented on #6388
Yeah, we are aware of and a fix is already available. Will be probably included in the next version of the extension.

[2017-08-26 18:49] MicahZoltu commented on #6300
@5chdn I won't fight closure of this issue since it doesn't seem like anyone has any ideas for what I can do to further troubleshoot, but I would argue pretty strongly that "working as intended" is not correct (perhaps could-not-reproduce instead?).  When I say Parity is burning CPU, I mean 100% CPU 24/7.  My computer is unusable, to the point where the OS itself even locks up sometimes (I thought

[2017-08-26 18:54] gituser commented on #6280
subscribing to this as well, it's so annoying, parity is eating I/O like a monster constantly, 1000 times more than bitcoin or any bitcoin based coin.

there is no workaround currently to control/limit the i/o without breaking syncing process @arkpar?

[2017-08-26 19:53] Fredouh commented on #6358
0xb110ec7b1dcb8fab8dedbf28f53bc63ea5bedd84 SphreAir-token. Yes its 8 decimals. @5chdn

[2017-08-26 20:25] luckymf commented on #6372
Yes, that's my issue https://github.com/paritytech/parity/issues/6371. Is there any way to restore parity account in other ethereum-based wallet?

[2017-08-26 21:01] xenoexclusive commented on #6326
Rendering Parity basically unusable as of 1.7.0.

About 50 percent of sessions end up corrupting so I'm having to warp sync every use.

[2017-08-26 23:20] luckymf commented on #6372
Just noticed that operating mode is passive. Should it be that way?
[27.08.2017, 02:15:13] Syncing snapshot 2/555 #2423899 20/25 peers 7 MiB chain 103 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 8 req/s, 121 µs
[27.08.2017, 02:15:03] Syncing snapshot 2/555 #2423899 19/25 peers 6 MiB chain 103 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 7 req/s, 119 µs
[27.08.2017, 02:14:53] Syncing snapshot 2/

[2017-08-27 00:04] stone212 commented on #6239
If you would recommend using an older version temporarily, which version?  I assumed that building the current release from source was considered most "stable" but I will install another version if you recommend it.  Perhaps an older binary from this page: https://github.com/paritytech/parity/releases

What version have you found success with?  Thank you.

[2017-08-27 09:47] debris commented on #6239
thanks to @kondratovich I reproduced the issue

curl to parity several times asking for pending block

[code]

debug stack trace:

[code]

[2017-08-27 09:51] debris commented on #6239
I think the bug was introduced in 2d7a7867caf7eedc3e0efb1c1f8243aeb517aa3f

[2017-08-27 10:15] debris commented on #6239
As can be seen in the pr, client is now returning `block`, `block_header` and `block_body` for `BlockId::Pending`. All returned headers have invalid (empty) seals. This leads to various types of crushes

As a temporary solution, I suggest reverting the part of pr #6195 which modifies client.rs.

As a long term solution, I suggest refactor of header, block and sealing to give compile time guarantee

[2017-08-27 10:48] debris commented on #6239
After talking with @tomusdrw we decided, that it's enough for temporary fix to change only `extra_info` method

[2017-08-27 12:46] #6239 closed

[2017-08-27 16:35] debris opened #6395 "our CI should run project using toolchain specified by rust-toolchain file"
instead of using stable rust

related: #6267 #6268

[2017-08-27 19:32] kkrasick opened #6396 "Issue accessing funds in parity wallet"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---
Hello,

I am a Parity user on Windows - installed through the installer application and I am having trouble as some coins I recently purchased have confirmed the transaction was complete

[2017-08-28 01:47] ethshan commented on #6380
@5chdn
the console log like this:
Reported malicious calidator 590c....710e
stage 3 block verification failed for #44(2a07....c8c6)
Error:Engine(Douvlevote(590c1d7b99aa4134ca0d17793b3750c9c2d2710e))

and the current block's "step" less than the parent's block's "step"

[2017-08-28 07:13] 5chdn commented on #6300
Yeah, I'm getting this pretty much and therefore referred to the open IO tickets.

If you say it's not IO but CPU and your computer does that 24/7, I would have to ask you for logs to figure out what's going on (Status tab at the bottom).

Could you also tell me, did you have a lot of accounts on your old computer?

[2017-08-28 07:24] 5chdn commented on #6396
The question mark just means that nobody has registered an icon in the token registry for your tokens. That's no issue. You can go to applications > token registry and query the registry by TLA or Address to confirm the correct token is registered. If not, get back to me.

[2017-08-28 07:24] #6396 closed

[2017-08-28 08:05] keorn commented on #6380
Are you running both nodes with node1.toml or configs that have the same `engine_signer`? This is not something that you should do (see [docs](https://github.com/paritytech/parity/wiki/Proof-of-Authority-Chains#running-the-authority-nodes)), since it can lead to consensus failure. You need to run the second node with a different or no `engine_signer`.

[2017-08-28 08:18] 5chdn commented on #6387
Just looking at the logs: it's currently around 100-thousand RPC requests per minute.

[2017-08-28 08:34] 5chdn commented on #6358
Removed the entry, you can go ahead and register it with 8 decimals.

[2017-08-28 08:34] #6358 closed

[2017-08-28 09:16] arkpar commented on #6280
@gituser could you post logs?

[2017-08-28 09:27] #6186 closed

[2017-08-28 09:28] #6374 closed

[2017-08-28 09:29] 5chdn commented on #6375
Had a similar experience with changing password today. Probably #6387

[2017-08-28 09:29] #6375 closed

[2017-08-28 09:33] #6379 closed

[2017-08-28 09:52] MrMonotone opened #6397 "Tutorial 3 issues"
Parity version:  version Parity/v1.8.0-unstable-622632616-20170828/x86_64-linux-gnu/rustc1.19.0
EDIT: Also tired on stable version as well!
NPM version: 5.3.0
Browser: Firefox 55.0.3
Operating system: linux
Installed: built from source

I have tired multiple times to get this example to work. I have even tired different distros (Arch and Solus). I followed the tutorial exactly the way it was writt

[2017-08-28 10:04] 5chdn commented on #6334
Your client is probably still fetching ancient blocks.

[2017-08-28 10:04] #6334 closed

[2017-08-28 10:37] 5chdn commented on #6378
The language selector is not yet released. Stay tuned.

[2017-08-28 10:37] #6378 closed

[2017-08-28 10:37] 5chdn commented on #6111
Questions should be addressed here: https://github.com/paritytech/contracts/pull/74

[2017-08-28 10:37] #6111 closed

[2017-08-28 10:59] reuptaken opened #6400 "Cannot connect to node, token problems on OS X"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---
Cannot connect with parity from browser.

"Blocked connection from http://127.0.0.1:8180 using invalid token." on the parity node and "Connecting to the Parity Node. If this informational

[2017-08-28 11:16] tomusdrw commented on #6400
Could you post logs from Parity? Try running it in the terminal with `$ ./parity -lsigner=trace` switch.

[2017-08-28 11:17] reuptaken commented on #6400
https://www.pastiebin.com/59a3e5701b8c5

[2017-08-28 11:21] petko10 commented on #6250
I'm having similar trouble. I have the same setup, but I'm trying to connect via a ssh tunnel. I create the tunnel with "ssh -L 8180:localhost:8180 192.168.1.50" (on the laptop) after I run parity with no options (on the server) and in the browser (laptop) I get the error message with the token and clock warnings. I entered the generated token and checked the clocks, but the message persists. That

[2017-08-28 11:22] reuptaken commented on #6400
And without ui option:
[code]

[2017-08-28 11:24] tomusdrw commented on #6400
Do you use any hardware wallets? Seems that the RPC to fetch hardware accounts is blocking the whole RPC.

[2017-08-28 11:25] reuptaken commented on #6400
after

[code]

I entered token generated by previous parity ui run. Then ""Connecting to the Parity Secure API."" was displayed, then I refereshed (last 2 lines) and it's cannot connect message again.

[2017-08-28 11:25] reuptaken commented on #6400
Yes I do.

[2017-08-28 11:27] tomusdrw commented on #6250
@petko10 1.7 requires port `8546` to be tunnelled as well. Can you try with `ssh -L 8180:localhost:8180 8546:localhost:8546 192.168.1.50`?

[2017-08-28 11:33] petko10 commented on #6250
@tomusdrw Worked like a charm, thank you !

[2017-08-28 11:37] reuptaken commented on #6400
So the problem was apparently with Nano S Ledger, connect to computer but not authorized.

[2017-08-28 12:25] #6286 closed

[2017-08-28 12:41] 5chdn commented on #6400
Thanks for your report. It's probably this issue #5672.

[2017-08-28 12:41] #6400 closed

[2017-08-28 13:01] 5chdn commented on #6388
@tomusdrw could you comment on this if you have time, you mentioned somewhere this is fixed. can we close this issue?

[2017-08-28 13:02] 5chdn commented on #6285
Does this still occur?

[2017-08-28 13:36] debris commented on #6204
closed by #6398

[2017-08-28 13:36] #6204 closed

[2017-08-28 14:00] Basguy opened #6401 "Parity Wallet Not Opening"
_Before filing a new issue, please **provide the following information**._

(most recent 1.7.0 I think?)

Windows

Installer

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Expected: Click on parity app icon which normally opens a browser tab connecting my Parity wallet

Actual: Click on parity causing it to show

[2017-08-28 14:04] petko10 opened #6402 "Stage 3 block verification failed (with --light option)"
I'm running:
Operating system: Manjaro (Linux, Arch based)
Parity version: 1.7.0-1 , installed from the repos

I ran parity with the --light option. Several times I had the sync process stop advancing (while still giving updates in the cli, just with hdr/s = 0 and the block being the same). I restarted parity whenever that happened (ctrl-c, and re-run, like 3-4 times).
 Now I got the error:

and I

[2017-08-28 14:20] 5chdn commented on #6402
the 0 hdr/s issue is logged here #6319 and the block verification issue might be related to this issue. you could try resetting the database and sync again.

note that light client support is still highly experimental and you should not use it in production.

[2017-08-28 14:23] 5chdn commented on #6401
Please see if you can open a command prompt, and change the directory to your installation:

[code]

and execute Parity:

[code]

And share the logs here if there is any issue.

[2017-08-28 18:30] Basguy commented on #6401
I am currently at work, but I will do this as soon as I get home (4 ish hours)
I appreciate the speedy reply, sorry I cannot hold up my end right about now

[2017-08-28 20:47] MicahZoltu commented on #6300
Things were actually looking healthy for a bit, then around 1:42 CPU jumped to 100% for 4.5 minutes, finally stabilizing at ~1:44:30.
[code]

[2017-08-28 22:28] Basguy commented on #6401
I attempted to change the directory but was given this message (possible I deleted ethcore while trying to delete and reinstall from scratch)

<img width="960" alt="2017-08-28" src="https://user-images.githubusercontent.com/20199669/29796319-af959cbe-8c0d-11e7-8586-858c49d8c208.png">

[2017-08-28 23:24] stone212 commented on #6239
@debris Does this mean that the error is gone with the build-from-source version of Parity?

[2017-08-28 23:30] rstormsf commented on #6342
why this issue is closed?

@tomusdrw yes the future tx is filled up with the same pending transactions and they never get killed.

when you said - you need to replace. There are some txs that were generated by some unknown users. That's why @phahulin mentioned that someone can just come to the network, generate bunch of pending tx that will never be killed to spam the network.
What is the solution

[2017-08-29 01:02] ethshan commented on #6380
@keorn yeah,I have run it with two computers and the different engine_signer.

[2017-08-29 02:59] MicahZoltu opened #6405 "Parity performance problem with Ledger attached/contract usage."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I'm sure you all are tired of me reporting these hard-to-reproduce performance problems, but I seem to be completely plagued with them.  The latest is on my _new_ computer, for those fol

[2017-08-29 03:09] MicahZoltu commented on #6405
I found a `LOG` file in my feeble attempts to self troubleshoot that appears to indicate that Parity is doing something at incredibly high frequency (and logging all of it).  I don't understand the logs so I can't speak to what it is, but based on the timestamps I would assume that it is not normal to repeat at this speed when sitting idle.

Gist: https://gist.github.com/MicahZoltu/c3241b8d81ce078

[2017-08-29 05:16] keorn commented on #6380
Can you try with 1.7, contract validator set has been changed there?

[2017-08-29 06:58] 5chdn commented on #6401
Can you manually check where your Parity installation is?

[2017-08-29 06:58] debris commented on #6239
yes

[2017-08-29 07:01] 5chdn commented on #6300
Logs are looking good. I'm pretty sure the issues you are describing is related to #6387. We are preparing a fix currently. I would like you to stay tuned for the patch to test it on your machine.

[2017-08-29 07:23] 5chdn commented on #6405
Thanks, @MicahZoltu, I really appreciate your detailed reports.

You are not alone and we are currently working on multiple performance fixes.

The most simple way to do this would be writing a log file. Please, locate your [config file]https://github.com/paritytech/parity/wiki/Configuring-Parity#config-file) which is probably in:

[code]

Where `%USERPROFILE%` should resolve to `C:\Documents and

[2017-08-29 07:40] 5chdn opened #6406 "WS Error <Internal>: Attempting to send a message to closed connection."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Probably related to #6387 - when closing the UI, the logs get spammed with 1000's of the following lines:

    WS Error <Internal>: Attempting to send a message to closed connection.

It's pr

[2017-08-29 08:45] yudilevi opened #6407 "Make the transaction hash in the new transaction popup clickable"
Hi,

In the new version (1.7.0 / Windows), once you execute a transaction, instead of the old huge popup, there's a smaller popup on the bottom right of the screen.
This is actually a great change, but one of the features that was really useful in the previous version was the ability to click the transaction hash which opened the transaction on etherscan.
Would be great to have that feature added

[2017-08-29 08:46] tomusdrw commented on #6406
Yup, should the warning be supressed?

[2017-08-29 08:54] 5chdn commented on #6406
Supressed or better integrated to the parity logging format (with timestamp, log level, colors, etc.).

[2017-08-29 09:07] tomusdrw commented on #6342
@rstormsf The PR that lowers maximal gas of a single transaction is pending: #6408. The transactions are still valid, they are just awaiting for a miner willing to rise the block gas limit to accept them (alike low gas price transactions).

They occupy the queue, but they are getting a very low priority so they won't block other transactions from being included and they don't really cause any thre

[2017-08-29 09:14] BatLesStakes opened #6409 "Where are keys ?"
Hello,

I'm searching my ETH keys but as long as I searched I didn't have found them yet.
Can anyone help me about it ? This is for a ETH pool and people are waiting.

Thanks

[2017-08-29 09:23] 5chdn commented on #6409
https://github.com/paritytech/parity/wiki/FAQ%3A-Backup%2C-Restore%2C-and-Files#where-can-i-find-paritys-local-files

https://github.com/paritytech/parity/wiki/Backing-up-%26-Restoring

If you tell me your OS and Parity version, I tell you where your keys are.

[2017-08-29 09:23] #6409 closed

[2017-08-29 09:24] BatLesStakes commented on #6409
Last Parity version, Ubuntu 16.04

[2017-08-29 09:27] 5chdn commented on #6409
[code]

[2017-08-29 09:27] BatLesStakes commented on #6409
On io.parity.ethereum I have the folder "keys". Inside there is a file named "ethereum" and inside there's nothing

[2017-08-29 09:28] BatLesStakes commented on #6409
On a root account I have "address_book.json" and there's only "{}" on it

[2017-08-29 09:37] BatLesStakes commented on #6409
When I type curl --data method: parity_expôrtaccount I have this :
{"jsonrpc":"2.0","error":{"code":-32601,"message":"Method not found"},"id":1}

[2017-08-29 09:39] chevdor commented on #6157
I am seeing the same issue when starting **geth** btw.
@5chdn using --mode offline, the issue seems not to occur. I will let it run a little longer though.

[2017-08-29 09:40] chevdor commented on #6157
@dev-dan what router do you have?
I am using a Fritzbox 6490.

[2017-08-29 09:54] chevdor commented on #6157
@5chdn using --mode offline seems to NOT trigger the issue.

[2017-08-29 10:04] saulbein opened #6410 "eth_getBlockByNumber gives null results for some blocks"
Parity consistently (same blocks) gives JSON response to `eth_getBlockByNumber` with `"result": null`.

The node is confirmed to have the ancient blocks available and is ahead of them (so far it has only been encountered with ancient ones).

The issue persists after restart with the same exact blocks returning `null` response.

The issue just popped up at some point seemingly without any trigger (

[2017-08-29 10:35] 5chdn commented on #6409
How did you create the accounts?

Which Parity version are you running? ('Last' is no version.)

Which chain are you using? Could you share your configuration?

[2017-08-29 10:45] 5chdn commented on #6157
Can you try one more thing? Does this also happen with the following reduced networking configuration?

    parity --min-peers 4 --max-pending-peers 4 --max-peers 8 --allow-ips=public --no-discovery

Thanks.

[2017-08-29 10:58] BatLesStakes commented on #6409
I created account by "parity account new" and I'm using the v1.8.0 unstable.
To sync, I ran "parity" simply.

[2017-08-29 11:02] chevdor commented on #6157
@5chdn sure, happy to test anything that could help spotting the issue.
with parity running as:
`parity --min-peers 4 --max-pending-peers 4 --max-peers 8 --allow-ips=public --no-discovery
`
I do NOT see the issue, even after a few minutes.

[2017-08-29 11:06] 5chdn commented on #6409
What's the output of `parity account list` ?

[2017-08-29 11:08] BatLesStakes commented on #6409
Two addresses

[2017-08-29 11:08] BatLesStakes commented on #6409
That I have created
And one has some money inside

[2017-08-29 11:15] 5chdn commented on #6409
What's the output of

    find ~/.local/share/io.parity.ethereum/ | grep -i utc\-\-

[2017-08-29 11:17] BatLesStakes commented on #6409
/root/.local/share/io.parity.ethereum/keys/ethereum/UTC--2017-08-05T19-16-24Z--eaed8862-365c-1e16-b01d-531382f82ec9
/root/.local/share/io.parity.ethereum/keys/ethereum/UTC--2017-08-05T19-16-36Z--72b8166f-342a-095f-6788-39fe5eb1535f

[2017-08-29 11:18] 5chdn commented on #6157
Then I'm happy to inform that this is neither a parity nor geth issue, but probably your router (unlikely) or ISP (more likely) blocking your internet access because it believes you are trying to spam the network / scan the network / hack the whole internet of things, or whatever an ISP could think you do.

Try to play around with the network configuration and check https://github.com/paritytech/p

[2017-08-29 11:18] #6157 closed

[2017-08-29 11:21] 5chdn commented on #6409
Congratulations, that's your two keys :)

[2017-08-29 11:22] BatLesStakes commented on #6409
Oh ayy nice thanks haha

[2017-08-29 11:30] BatLesStakes commented on #6409
How can I add it to my Windows wallet now that I have the key and the address ?

[2017-08-29 11:40] 5chdn commented on #6409
Copy it to `C:\Users\<You>\AppData\Roaming\Parity\Ethereum\keys\ethereum`

[2017-08-29 13:09] nodermann opened #6412 "Using of the methods personal_unlockAccount or parity_unlockAccount"
---

## Long story short
I need unlock my account in the kovan testnet using **personal_unlockAccount** or **parity_unlockAccount**
I don't want to use a geth but I have no choice. Please enable it as before.

## Actual behaviour
**personal_unlockAccount**
curl --data '{"method":"personal_unlockAccount","params":>
["0x...","password",null],"id":1,"jsonrpc":"2.0"}' -H > "Content-Type: application/j

[2017-08-29 13:15] Basguy commented on #6401
Absolutely

<img width="960" alt="2017-08-29" src="https://user-images.githubusercontent.com/20199669/29822733-beedb9fe-8c89-11e7-9249-549fdad19812.png">

[2017-08-29 13:16] 5chdn commented on #6412
What flags are you running Parity with? Do you use any config file?

Did you enable the JSONRPC APIs for `parity_accounts` or `personal`?

Feel free to contribute a pull request.

Feel free to draft updates to the documentation or point me to the docs that failed you and I can look into that.

[2017-08-29 13:19] 5chdn commented on #6401
All right, could you open the properties of that shortcut and figure out the full path of the link?

[2017-08-29 13:24] Basguy commented on #6401
whoops sorry, is this what you were looking for?
<img width="960" alt="2017-08-29 1" src="https://user-images.githubusercontent.com/20199669/29823183-22c6124a-8c8b-11e7-9e2e-fef5b2814bf7.png">

[2017-08-29 13:27] rphmeier commented on #6343
I'll keep this open until the genesis mismatch issue is fixed.

[2017-08-29 13:34] nodermann commented on #6412
$ parity --testnet

No

I use parity_accounts, I created the accounts using parity. I didn't enable JSONRPC because it is enabled by default, for example the method **eth_sendTransaction** working fine via jsonrpc.

Thanks!

[2017-08-29 13:41] rphmeier commented on #6412
Certain groups of RPC APIs are not enabled for HTTP transport by default because they are considered sensitive. You can manually override this by supplying `parity_accounts` to the `--jsonrpc-apis` flag: by default, the list of APIs allowed for http is `web3,eth,pubsub,net,parity,parity_pubsub,traces,rpc,secretstore,shh,shh_pubsub`

[2017-08-29 13:42] nodermann commented on #6412
BTW If I use
$ parity --testnet --unlock 0x...1 --password passwords.txt

The parity ui http://127.0.0.1:8180/#/accounts doesn't work, however jsonrpc continues to work, I check it with this command:
{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id": 1}

{'jsonrpc': '2.0', 'result': '0x3502af', 'id': 1} // 3474095

[2017-08-29 13:43] rphmeier commented on #6412
UI is disabled when you use `--unlock`, but you can force it with the `--force-ui` flag.

[2017-08-29 13:54] 5chdn commented on #6401
Yes, thank you, now let's start over again.

Please, see if you can open a command prompt, and change the directory to your installation:

[code]

and execute Parity:

[code]

And share the logs here if there is any issue.

[2017-08-29 13:55] #6412 closed

[2017-08-29 15:49] micaldas1 opened #6414 "Unable to do transfers"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I'm running Parity 1.7.0 in windows 10, installed via installer.
Since this morning I'm unable to complete any transfers. I'm able to do all the process in Parity, he gives a hash number

[2017-08-29 15:51] dev-dan commented on #1435
This is currently occurring for me on windows with parity 1.7, If I open the signer, my cpu spikes to 100% until it is disabled.

[2017-08-29 15:52] dev-dan commented on #4940
This is currently occurring for me on windows with parity 1.7, If I open the signer extension, my cpu spikes to 100% until it is disabled.

[2017-08-29 15:52] dev-dan commented on #1314
This is currently occurring for me on windows with parity 1.7, If I open the signer extension, my cpu usage for parity.exe spikes to 100% until the signer is disabled.

[2017-08-29 15:53] dev-dan commented on #6300
I don't know if related, but when I have the parity signer extension open, my parity 1.7 parity.exe shoots to 100% with small drops down to 50% but mostly staying at 100%. This occurs until I close the signer.

[2017-08-29 16:08] kondratovich opened #6415 "Snapshot sync is started from scratch after restart"
I'm starting new parity node with empty state. Snapshot sync in progress. When I restart node, all synced snapshots are ignored and counter starts from zero.

Does snapshot sync has some disk state?

[2017-08-29 16:58] MicahZoltu commented on #6300
I don't use the signer extension so that isn't the same symptoms as I have, though perhaps similar root cause?

[2017-08-29 17:22] Basguy commented on #6401
no on no, thank you! And here you are,

<img width="960" alt="2017-08-29 2" src="https://user-images.githubusercontent.com/20199669/29834510-462b130e-8cac-11e7-90a3-b0a8c9321786.png">

[2017-08-29 17:24] clar commented on #4380
I also meet this issue, i think this is a bug on parity side

[2017-08-29 17:46] MicahZoltu commented on #6405
I'll get that data together.  For future reference though, your instructions could use a bit of improvement.  :)

`%APPDATA%` should be used instead of `%USERPROFILE%\AppData\Roaming` as the folder could move depending on OS setup.

`%TEMP%` by default is `%LOCALAPPDATA%\Temp` which (on modern Windows) is `C:\Users\<username>\AppData\Local\Temp` by default.

Also, `%USERPROFILE%` is `C:\Users\<use

[2017-08-29 17:51] MicahZoltu commented on #6405
[code]

[2017-08-29 18:02] MicahZoltu commented on #6405
With the UI open, there is definitely a ton of RPC traffic based on the logs.  Howwever, as soon as I closed the UI the logs switched to just the following, yet CPU utilization remained high:
[code]

Note: I'm still catching up on syncing, will update once I'm fully synced.  I'll also try different logging options to see if I can find root cause.

[2017-08-29 19:17] MicahZoltu commented on #6405
Upon fully syncing, the problem appears to have gone away.  As a next step in troubleshooting, I plugged in my Ledger.  Unfortunately, Parity didn't pick it up right away (saw it as in use by another application).  Upon restarting Parity (with the ledger plugged in and Ethereum app open on the Ledger), the problem came back.  The RPC logs show no activity (UI is closed) other than the standard syn

[2017-08-29 23:36] cloudzombie opened #6416 "Windows 10 Parity Hang before Launch"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I installed from source using git pull in powershell, I get as far as it initializes and seems like its starting to sync, then hangs. I am just trying to get parity back to working on my machine. At this point I cannot get it to even fully launch and sync a chain.

T

[2017-08-30 00:53] mills-nick commented on #6343
@rphmeier please refer to the attached chain-spec.json.txt and config.toml.txt files to reproduce the genesis mismatch issue.

[2017-08-30 04:41] nueverest commented on #6285
I found that running `parity signer new-token` fixes the issue. However, I have to run this command every time I start Parity or open a new browser window.  It also makes me accept the terms of service every time. This is getting cumbersome.

[2017-08-30 06:01] 5chdn commented on #1314
@dev-dan please see #6387 (via #6300). we are working on it.

[2017-08-30 06:05] 5chdn commented on #6415
Slightly related to #6350.

I'm not entirely sure how the snapshot sync works in this case. Did you restart the node immediately? Or was there some time passing between stopping and starting the node? It's quite possible that the client started fetching a _new_ snapshot and therefore started from scratch.

[2017-08-30 06:10] 5chdn commented on #6401
Ah yes, that happens sometimes. Your database is corrupted. If you have the prompt still open:

    parity.exe db kill

And after that you can run Parity from your start menu entry again.

[2017-08-30 06:10] #6401 closed

[2017-08-30 06:12] Basguy commented on #6401
much appreciation!

[2017-08-30 06:21] 5chdn opened #6417 "Config file does not accept environment variables in Windows"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Split from #6405. Panic:

    C:\Program Files\Parity\Parity>parity.exe ui
    Loading config file from C:\Users\micah\AppData\Roaming\Parity\Ethereum\config.toml
    thread 'main' panicked a

[2017-08-30 06:21] 5chdn commented on #6405
I don't have windows available. Didn't know environment variables are not working in config. Thanks for the heads-up. #6417

Thanks, this is #6406. What you see is directly related to RPC not catching up in #6387. The client sends old responses to a closed session.

This is #6387 but I can't be sure before you share the logs with RPC tracing enabled. Could you upload a full log to pastie or gist s

[2017-08-30 06:23] 5chdn commented on #6285
You are probably deleting cookies and clearing cache on shutdown? There is not much we can do about,  except this #6331.

[2017-08-30 06:24] 5chdn commented on #6285
@tomusdrw might be authentication issues.

[2017-08-30 06:28] 5chdn commented on #6414
What's the status of your client? Are you fully synchronized? Are you connected to any peers? Did you check Etherscan if your transactions are visble in the explorer?

[2017-08-30 06:55] MicahZoltu commented on #6405
Based on my understanding of that issue (which may be mistaken), #6387 is about the volume of calls being made over the RPC when the UI is open.  The symptoms I'm seeing are that if you close the UI in the middle of those calls, Parity will consume significant CPU _indefinitely_ (until it is shut down).  While the volume of calls may make it easier to trigger the bug here, there is a much worse pr

[2017-08-30 08:19] chevdor commented on #6157
I am not so happy as you are 😄 but agree with your conclusion.
I also tested with my VPN on and tada, no more issues. I will have a call with my ISP...

[2017-08-30 08:40] debris commented on #1803
most of the re-exports and all glob imports has been removed from util

[2017-08-30 08:40] #1803 closed

[2017-08-30 08:42] debris commented on #3380
replaced by #6360

[2017-08-30 08:42] #3380 closed

[2017-08-30 09:44] debris opened #6418 "Tracking issue util refactor"
- [ ] @Hawstein journaldb and rocksdb dependencies should be separated from util.
- [ ] @Hawstein all trie traits from util should be separated from util.
- [ ] migrations should be a library
- [x] @debris -> replace sha3::Hashable trait and all of usages of it with a simple function called `hash`
- [x] @debris -> this `hash` function should be a standalone library importing C impl of sha3 and tin

[2017-08-30 09:50] folsen commented on #6373
I've had an issue with my Ledger that stemmed from a bug in the Ethereum app on the Ledger itself. What version of the Ethereum app on your device are you running (it's shown under About when you go into the app)?

[2017-08-30 10:00] rphmeier commented on #6418
I'm not convinced about flattening util subcrates. Why not group non-blockchain-specific utilities within a single folder?

[2017-08-30 10:27] #6343 closed

[2017-08-30 10:28] debris commented on #6418
ok, let's keep all subcrates in util directory for now. We'll discuss it again someday

[2017-08-30 10:33] 5chdn commented on #6157
Hard to tell what exactly triggers. You could play around with lifting the flags until you find something that works out for you without breaking the internet, try for instance:

    parity --max-pending-peers 10 --no-discovery

Or only one of the two flags above.

[2017-08-30 10:34] 5chdn commented on #6373
From the first post:

- Ledger Firmware: 1.3.1
- Ethereum App: 1.0.17

[2017-08-30 10:38] debris commented on #6418
I'll take

[code]

[2017-08-30 10:43] NikVolf commented on #6418
Also fixed hash should be crates.io library dependant on bigint and little more

[2017-08-30 10:48] 5chdn commented on #6405
Thanks for sharing the logs!

Duplicate of #6387

Duplicate of #6406

Duplicate of #6417

[2017-08-30 12:12] axelchalon commented on #6418
I'll take `util should not reexport HeapSizeOf` for now

[2017-08-30 12:39] 5chdn commented on #6011
#6387

[2017-08-30 12:39] #6011 closed

[2017-08-30 12:41] 5chdn commented on #4213
What does this mean? PLS?

[2017-08-30 12:44] 5chdn commented on #4226
@paritytech/ci anyone willing to do this?

[2017-08-30 12:45] 5chdn commented on #4490
What are _futures_ in this context?

[2017-08-30 12:46] debris commented on #4490
https://crates.io/crates/futures

[2017-08-30 12:48] 5chdn commented on #4591
Is anyone actively working on this?

[2017-08-30 12:49] 5chdn commented on #4702
This is probably something the UI-2 respects? :)

[2017-08-30 12:52] 5chdn commented on #4572
Is this still valid / desired?

[2017-08-30 12:52] rphmeier commented on #4213
Initially there was LES support in Parity, but it was a) unspecified as implemented in Geth and b) unsuitable to the direction we wanted to take the light client. We branched this off into the `PIP` protocol since.

[2017-08-30 12:52] rphmeier commented on #4213
I think this can be closed.

[2017-08-30 12:52] #4213 closed

[2017-08-30 15:29] NikVolf opened #6421 "Improve performance of modexp builtin"

[2017-08-30 17:10] MicahZoltu commented on #6405
I want to stress how dangerous I think closing this issue as a dupe of #6387 is.  Yes, I am suffering from #6387.  Yes, leveraging the bug defined in #6387 is what allowed me to reproduce the bug described here.

However, I am describing a _different_ bug from #6387 and if the dev team ignores this bug until #6387 is fixed reproducing the bug I referenced here will likely become _much harder_.

I

[2017-08-30 17:28] 5chdn commented on #6405
Opening for a 2nd opinion, anyone?

[2017-08-30 17:43] arkpar commented on #4572
Requires some experimenting and would also require changes in the database API.
See https://github.com/facebook/rocksdb/wiki/Transactions#repeatable-read
Given that we want to migrate to a custom database I would set this to lowest priority.

[2017-08-30 19:34] chevdor commented on #6157
thanks @5chdn, much appreciated

[2017-08-30 19:55] AlexanderSupersloth commented on #5660
This one may give some clue as to the cause, because it happened just after I logged into my Protonmail email account:

![screen shot 2017-08-30 at 20 28 40](https://user-images.githubusercontent.com/24178244/29892170-841883b2-8dc5-11e7-9a48-9bb16163f2da.jpg)

[2017-08-30 22:49] rstormsf commented on #6342
@tomusdrw Thank you for taking your time to understand our problem and submitting a PR.
Looks like it's merged into master. We will test the change in our devtestnet and we will let you know.

Here is what I don't understand:
How does Kovan network solves this problem? They always have 0 pending txs:
https://kovan.etherscan.io/txsPending

Could you explain more on that? I don't believe that PoA Ko

[2017-08-31 00:57] mills-nick commented on #6343
This is fixed in https://github.com/paritytech/parity/pull/6413

[2017-08-31 06:25] 5chdn commented on #5660
But that's not your "Proton Mail Password" ... in the screenshot, is it?

What browser is that, and do you use any extensions for password management?

[2017-08-31 06:36] AlexanderSupersloth commented on #5660
Nope, though you did just give me a mini heart attack. I read PWD as 'print working directory' rather than 'password'.

I use Chrome and LastPass.

I should stress Protonmail was not actually open at the time this happened, but it had been open very recently. The word 'Proton' and 'Mailbox' could be coincidental, though that seems somewhat unlikely.

Other than that I am really out of ideas. This

[2017-08-31 11:48] tzapu opened #6426 "add newPendingTransactions to subscriptions"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---
**actual**
when trying to subscribe for new pending transactions you get a not implemented message
[code]

**expected**
to be able to subscribe for new pending transactions

thank you

[2017-08-31 12:32] yuelipeng commented on #3544
mee too

[2017-08-31 12:43] 5chdn commented on #3544
Might be caused by #6387 (and related to #6406).

[2017-08-31 12:50] yuelipeng commented on #3544
maybe, i add many accounts in parity recently.

[2017-08-31 13:47] NikVolf commented on #4591
Nope, there are some concepts, but nobody has agreed on the best way to reimplement

[2017-08-31 14:07] rphmeier commented on #4591
The language has definitely developed so we can do this better now. The most important thing to me is that we do it in such a way that connecting different "channels" of communication to sub-binaries is not any more difficult than doing it without IPC.

Then we won't end up feeling pressure to put functionality in places it doesn't belong. But I still don't think it's a huge priority.

[2017-08-31 14:17] VoR0220 opened #6427 "eth_sendTransaction and eth_sign both hang dramatically in RPC"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

** expected behavior**

To be able to send signed transactions with relative ease via Curl or via the node.js console (I tried with both) in a dev chain environment or PoA environment (also t

[2017-08-31 14:19] rphmeier commented on #6427
Requests that require signatures need to be approved using the [signer RPC](https://github.com/paritytech/parity/wiki/JSONRPC-signer-module) before they will return.

[2017-08-31 14:35] #6427 closed

[2017-08-31 14:35] VoR0220 commented on #6427
I didn't unlock the account first....

https://media.giphy.com/media/WB26CBqrXXLjO/giphy.gif

[2017-08-31 15:38] debris commented on #6418
I will take `triehash should be separated from util`

[2017-08-31 16:24] phahulin opened #6429 "Some spec params from kovan are not described in docs"
Hello,

There are some parameters in [kovan's chain spec](https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/kovan.json) that are not described neither in [general parity docs](https://github.com/paritytech/parity/wiki/Configuring-Parity) nor in PoA specific docs [[1](https://github.com/paritytech/parity/wiki/Proof-of-Authority-Chains)], [[2](https://github.com/paritytech/parity

[2017-08-31 16:42] rstormsf commented on #6429
👍

[2017-08-31 16:50] rstormsf commented on #6342
@tomusdrw if you may. I've seen @phahulin filed new issue #6429

[2017-08-31 17:32] ldanicel commented on #3544
Yes, its most probably #6387 . Let's wait and see if it reproduces after that gets fixed

[2017-08-31 22:48] stephenjudkins commented on #6087
We've also seen this. Here's an example TX showing this issue: https://etherscan.io/vmtrace?txhash=0xe3c884a2bc63e033ab3110a8bb50156f81e50c72bc329b1471a1aadedeff3850&type=parity

[2017-09-01 01:17] marciobuss opened #6430 "Incorrect behavior when providing a different base path"
I'm running:
- **Parity version**: v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0
- **Operating system**: Linux Ubuntu 16.04.3 LTS
- **And installed**: via "bash <(curl https://get.parity.io -Lk)"

I ran parity with the default options and everything worked (chain = homestead). I also wanted to have a local copy of chain "classic", on another folder, so I did the following:

mkdir \~/Ex

[2017-09-01 03:35] ethshan commented on #6380
@keorn I haven't found the 1.7's contract.Could you show me? thanks.

[2017-09-01 06:10] 5chdn commented on #6430
Thanks for the report.

That's already fixed in master #6207 (#6298) via #6212 - please wait for the 1.7.2 release including the fix.

@tomusdrw can you confirm #6212 also fixes `~` directories, not only `$BASE` (see above)?

@marciobuss Please note, you don't need the base-path parameter if you run a different chain configuration. Parity will take care of that and create different sub-dirs for ea

[2017-09-01 06:10] #6430 closed

[2017-09-01 10:49] tomusdrw commented on #6388
So it seems it's a bug in both extension and Parity detection code. Working on the fix now.

[2017-09-01 12:19] LogvinovLeon opened #6432 "Pending events filters don't work"
_Before filing a new issue, please **provide the following information**._

  version Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-macos/rustc1.18.0

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

I've set up a filter for all pending events from EtherDelta on mainnet and I get all the events, but I don't get t

[2017-09-01 13:00] keorn commented on #6380
See the docs: https://github.com/paritytech/parity/wiki/Validator-Set#contracts

[2017-09-01 13:40] folsen commented on #6418
I'll take `util should not reexport bigint`

[2017-09-01 14:06] LogvinovLeon commented on #6432
@tomusdrw Helped me to solve this issue by suggesting to run parity with: `--force-sealing --reseal-min-period=1 --reseal-on-txs=all`
Closing now.

[2017-09-01 14:06] #6432 closed

[2017-09-01 14:46] Hawstein commented on #6418
I'll take `util should not reexport ansi_term` if you guys don't mind:)

[2017-09-01 15:05] chymian opened #6434 "snap crashes while initial syncing"
Dear maintainers,
The parity-snap crashed while initial syncing the blockchain after having downloaded:
[code]
The path ```/home/guenter/snap/parity/``` is a crossmounted btrfs-subvolume, no compression

## Running:
* in a KVM
* Host & VM: debian stretch
* VM:
[code]
## screenlog:
### initial run
[code]
### restart:
[code]

There was nothing in the systemd-journal.
After rebooting the VM and an ad

[2017-09-01 15:07] Hawstein commented on #6418
I'll take one more: `util should not reexport ParkingLot`.

[2017-09-01 15:51] debris commented on #6418
@Hawstein thanks, merged!

[2017-09-01 16:22] #6304 closed

[2017-09-01 17:05] 5chdn commented on #6434
There is probably not much we can do right now for you. The panic indicates there is something wrong writing to the disk, _probably_ a corruption. If this is corrected somehow after the system restart, and it does not appear again, you are fine.

Please report back if this issue persists.

[2017-09-01 17:05] #6434 closed

[2017-09-01 17:09] Hawstein commented on #6418
I will take `timer::PerfTimer should be a part of ethcore`.

[2017-09-01 17:31] pyskell opened #6436 "Parity repeatedly syncing the same blocks on Classic network"
---
Parity syncing seems to be very slow going whereas yesterday it was quite fast. I'm seeing issues around block 2.4 million where the same block is being synced many many times. Below block 2,425,168 takes 11 attempts to verify/sync. This is happening for a lot of blocks.

[code]

[2017-09-01 17:37] Hawstein commented on #6418
I will take `semantic_version should be separated from util`.

[2017-09-01 18:45] #6436 closed

[2017-09-01 18:46] pyskell commented on #6436
I have a feeling it's just slow, didn't realize those stdout messages are every 10 seconds.

[2017-09-01 20:34] chymian commented on #5474
it seems it happened.
after having pbl. with the lastest snap crashing due to seemingly fs-erros, while there where non (pls see https://github.com/paritytech/parity/issues/6434) , it finally crashes as startup with:
[code]

[2017-09-01 20:41] chymian commented on #6434
I had the issue 5 or 6 times more and it finally corrupted the db. I added to https://github.com/paritytech/parity/issues/5474.
what is the preferred version: docker, source install, snap?

[2017-09-02 03:31] anardo opened #6439 "[-32023] Could not create account."
I'm running:

- **Parity version**: 1.7.0
- **Operating system**: MacOS Sierra 10.12.6
- **And installed**: Via installer

Hello,

While trying to recover my account I received the following error.

![screen shot 2017-09-01 at 11 11 55 pm](https://user-images.githubusercontent.com/2040769/29992568-8ea9fad8-8f6c-11e7-983c-6cb42479db21.png)

**Steps to recreate:**

Went to ~/Library/Application Supp

[2017-09-02 08:32] terzim opened #6440 "Installation issue"
`bash <(curl https://get.parity.io -L)`

returns

[code]

Specifications: Ubuntu 16.04

[2017-09-02 10:17] roninkaizen commented on #6439
best to ask the devs within gitter chat- https://gitter.im/paritytech/parity
just to get a chance get this solved

[2017-09-02 11:04] Omar-Itani opened #6442 "Unable to make a connection to the Parity Secure API (MacOS Installer 1.6.10)"
<img width="758" alt="screen shot 2017-09-02 at 6 03 47 am" src="https://user-images.githubusercontent.com/29649917/29995019-86d3ae2a-8fa4-11e7-95fe-2c6d7af0ae42.png">
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

[2017-09-02 11:10] #6442 closed

[2017-09-02 11:10] Omar-Itani commented on #6442
Found the solution here: https://ethereum.stackexchange.com/a/13772/9180

[2017-09-02 15:16] debris opened #6443 "Define contribution rules"
and place them in CONTRIBUTION.md

[discussion](https://github.com/paritytech/parity/pull/6428#discussion_r136693669)

[2017-09-02 16:29] Hawstein commented on #6418
I will take
* journaldb and rocksdb dependencies should be separated from util.
* all trie traits from util should be separated from util.

[2017-09-02 21:28] tshachaf opened #6444 "Feature Request - Update account balance before sync"
Parity is a great software, but syncing ethereum can take a while, it would be nice if parity would listen in on any information concerning specific user accounts while it is syncing. So the user wouldn't have to wait to be updated on any important transactions.

[2017-09-02 22:14] joeshae opened #6445 "Public node: the advanced conditions for transactions do not work at all."
In web wallet, the advanced conditions for transactions do not work at all.
No matter you set blockNumber or Timer as a condition, the transaction will be handled immediately.

[2017-09-02 23:03] kayabaNerve commented on #4928
What's the progress on this? My Parity version doesn't seem to support it (if it's been added in, is on by default...). If it is added in, how can I enable it?

Parity//v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0

[2017-09-03 01:00] gituser opened #6446 "segfault on ethclassic chain with parity-v1.6.10 stable"
After upgrading from `v1.6.6` to `v1.6.10` on the ethclassic chain I'm getting segfault right after starting parity:
[code]

v1.6.6 is working just fine on ethclassic chain, but 1.6.10 segfaults.

EDIT: v1.6.10 died on the main ethereum chain as well after running for few minutes.

EDIT2: might be an issue with rust, building with 1.18.0 right now to check, previously built with latest stable v1.2

[2017-09-03 01:40] gituser commented on #6446
seems to be working if compiled with `rust v1.18.0`.

[2017-09-03 01:40] #6446 closed

[2017-09-03 02:53] Hawstein commented on #6418
@debris Should I move the `journaldb`, `migration` and `trie` out of `util/src` dir and put them in the `util/` dir just like other libs. Seems that this is a reasonable way to arrange them.

[2017-09-03 09:43] pierreDev33 commented on #6014
Hello,

I have exactly the same problem, I sent some ethereum from my Bittrex account to my Parity Ether wallet. The transaction has gone through according to Bittrex and etherscan.io  yet there has been no Ether deposited. When I enter my Parity wallet adress at etherscan.io, everything looks good (I see the transaction with the right amount).

In Parity I only see one transaction I did 2 months

[2017-09-03 10:43] debris commented on #6418
@Hawstein yes, this would be a great first step. Eventually, we would also like to decouple `journaldb` and `rocksdb` :)

[2017-09-03 11:11] matiwinnetou opened #6447 "UI glitch on parity when ERC20 token name too long"
I'm running:
- **Parity version**: 1.7.0 (beta?)
- **Operating system**: Linux
- **And installed**: Arch installation (AUR)
(https://git.archlinux.org/svntogit/community.git/log/trunk?h=packages/parity)

![image](https://user-images.githubusercontent.com/335933/30002417-421f7bc8-90a9-11e7-9075-a7c7341910b9.png)

Actual behaviour: There seems to be wrong folding or lack of space for TokenCard token

[2017-09-03 13:23] rphmeier commented on #6418
@debris they are already decoupled to some degree via the `KeyValueDB` trait.

[2017-09-03 19:56] AyushyaChitransh commented on #6440
I was not able to replicate this behavior using `bash <(curl https://get.parity.io -L)`. Few searches suggest that it might be possible due to conflicting packages. You should be able to resolve this by

`sudo dpkg -P ethkey:amd64`

Borrowed from [source](https://askubuntu.com/a/433510/353904)

The installation procedure worked correctly with these specifications:
[code]

[2017-09-03 20:29] AyushyaChitransh opened #6448 "[wiki] Demo PoA tutorial"
### Expected behavior

Both the nodes that are created by toml files are able to run alongside each other.

### Actual behavior

Before `and create the second authority account:` in heading `3. Setting up the two nodes` it says to start second node with `parity --config node1.toml`. But following errors come up:

[code]
### Possible Fix

Update `node1.toml` and add following lines:

    [websocket

[2017-09-03 20:53] jaredohmni opened #6449 "Parity long hangs/stalls during syncing upon "Block queue full, pausing sync" (Windows)"
I'm running:
 - **Parity version**: Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-windows-msvc/rustc1.18.0
 - **Operating system**: Windows 10
 - **And installed**: via installer

I've been running parity in --pruning=archive mode trying to do a full sync and noticed extreme slowness that isn't related to the DDOS/attack blocks.  Specifically, after getting to around block 3,000,000+, I noticed that

[2017-09-03 22:57] MicahZoltu opened #6450 "Signer UI should sort transactions by nonce"
---

Using MetaMask (backed by local Parity node) and Etherdelta, when I deposit funds it creates two transactions back to back.  The first is an approval, and the second is a transaction to withdraw the approved funds from my account.  In this scenario, the approve transaction has a lower nonce than the withdraw transaction.  Since MetaMask is connected to my local Parity node, I can look at the

[2017-09-03 22:59] MicahZoltu commented on #6450
Note: Once the transactions are mined, they show up in the correct order in the list.

[2017-09-03 23:25] MicahZoltu opened #6451 "Make Parity Signer UI live update as blocks are mined."
---

If you open the Parity signer UI and just let it sit it will populate with new transactions as they are submitted to the chain.  However, when a block is mined with one of the transactions in the list in it, the UI does not update to indicate the the transaction has been mined and instead just sits with the transaction in a pending state.  The only way I have found to get the UI to correctly

[2017-09-04 06:01] jaredohmni commented on #6449
Update: actually, I am still seeing the same kinds of periodic hangs even with --cache-size-blocks=2048, so there may be something else going on here.  Are there any other trace logs that I should enable to help pinpoint this?

I'm still seeing that killing parity and starting it up again seems to immediately make forward progress past where it was previously stuck, so it still seems like there's

[2017-09-04 06:58] 5chdn commented on #6439
If you lose your password, you can still recover your account with the recovery phrase. Otherwise there is not much we can do.

Ref #4764

[2017-09-04 06:58] #6439 closed

[2017-09-04 07:00] 5chdn commented on #6440
@terzim do you have cpp-ethereum installed? you should remove that first.

[2017-09-04 07:00] #6440 closed

[2017-09-04 07:03] 5chdn commented on #6444
It's not possible to know the balance of an account without reading it from the blockchain, and in most cases this means a full synchronization process.

Parity eases this by introducing the warp-sync which downloads the latest snapshot and takes you _fast-forward_ to the latest chain head allowing you to display your account balance before the ancient block sync is fully finished.

[2017-09-04 07:03] #6444 closed

[2017-09-04 07:06] 5chdn commented on #6445
Have you tried turning it off and on again? Are you fully synchronized? Which version of Parity are you running? Which operating system are you using? How did you install Parity? Is your time synchronized?

[2017-09-04 07:08] 5chdn commented on #6447
Can you check this source of this please? It looks like the link to the TokenCard Token image is just broken and it displays the alternative text instead. There is not much we can do, the maintainer of the token has to keep the icons updated.

[2017-09-04 07:08] #6447 closed

[2017-09-04 07:08] 5chdn commented on #6448
Thanks, will look into it.

[2017-09-04 07:12] 5chdn commented on #6449
That's being worked on, please subscribe to #6280

The Ethereum blockchain utilization beyond block 3_000_000 is a problem for any full client currently.

Are you on SSD or HDD? Do you use the UI while this happenes?

[2017-09-04 07:14] 5chdn commented on #6450
And what's the issue you experience with the unordered list of transactions in the signer tab?

[2017-09-04 07:20] MicahZoltu commented on #6450
The problem was that I found it very confusing when I was reviewing transactions.  The approval transaction was showing up higher on the list (newer) which, if true, would result in a failure of the second transaction (which was showing up lower).   I almost cancelled the transactions because I thought one was going to fail.  However, I first verified the  order in another tool (etherscan) and it

[2017-09-04 07:43] #5412 closed

[2017-09-04 07:43] #5660 closed

[2017-09-04 07:43] #5706 closed

[2017-09-04 07:43] #5747 closed

[2017-09-04 07:43] #5963 closed

[2017-09-04 07:43] #5998 closed

[2017-09-04 07:43] #6098 closed

[2017-09-04 07:43] #6238 closed

[2017-09-04 07:43] #6336 closed

[2017-09-04 07:43] #6382 closed

[2017-09-04 07:46] #3562 closed

[2017-09-04 07:46] #3684 closed

[2017-09-04 07:46] #3925 closed

[2017-09-04 07:46] #4078 closed

[2017-09-04 07:46] #4079 closed

[2017-09-04 07:46] #4185 closed

[2017-09-04 07:46] #4373 closed

[2017-09-04 07:46] #4395 closed

[2017-09-04 07:46] #4430 closed

[2017-09-04 07:46] #4802 closed

[2017-09-04 07:46] #4963 closed

[2017-09-04 07:46] #4991 closed

[2017-09-04 07:46] #5382 closed

[2017-09-04 07:46] #5468 closed

[2017-09-04 07:46] #5472 closed

[2017-09-04 07:46] #5483 closed

[2017-09-04 07:46] #5493 closed

[2017-09-04 07:46] #5517 closed

[2017-09-04 07:46] #5638 closed

[2017-09-04 07:46] #5726 closed

[2017-09-04 07:46] #5819 closed

[2017-09-04 07:46] #5920 closed

[2017-09-04 07:46] #6222 closed

[2017-09-04 07:47] #6236 closed

[2017-09-04 07:47] #6367 closed

[2017-09-04 07:47] #6407 closed

[2017-09-04 07:47] #6451 closed

[2017-09-04 07:50] #6450 closed

[2017-09-04 07:58] 5chdn commented on #5412
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 07:58] 5chdn commented on #5660
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 07:58] 5chdn commented on #5706
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 07:59] 5chdn commented on #5747
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 07:59] 5chdn commented on #5963
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 07:59] 5chdn commented on #5998
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:00] 5chdn commented on #6098
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:00] 5chdn commented on #6238
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:00] 5chdn commented on #6336
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:00] 5chdn commented on #6382
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:00] 5chdn commented on #6450
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:01] 5chdn commented on #3684
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:02] 5chdn commented on #5483
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:02] 5chdn commented on #5493
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:02] 5chdn commented on #5517
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:02] 5chdn commented on #5638
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:02] 5chdn commented on #5726
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:03] 5chdn commented on #6236
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:03] 5chdn commented on #6367
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:03] 5chdn commented on #6407
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:04] 5chdn commented on #6451
Closing this UI-bug/-annoyance issue as _stale_ and tracking it in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference. There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now.

[2017-09-04 08:06] 5chdn commented on #6014
@pierreDev33 you need to wait until your wallet is fully synchronized.

[2017-09-04 08:07] 5chdn commented on #6446
Yes stable requires rust 1.18.

[2017-09-04 08:08] 5chdn commented on #4928
@kayabaNerve No, it's not done yet.

[2017-09-04 08:09] 5chdn commented on #6434
Whatever _you_ prefer :)

[2017-09-04 08:37] gkapkowski opened #6453 "Missing opcode name in `trace_call`"
I'm running:

- **Parity version**: latest from docker hub
- **Operating system**: Linux/Docker
- **And installed**: docker

`trace_call` is missing `opcode` name.

[code]

I would expect additional `opcode`/`instruction` key containing information about what opcode is being executed.

The serialization code at https://github.com/paritytech/parity/blob/50495c68984c6907a9dfa5977488d0fc71794a0b/rpc/

[2017-09-04 08:42] #2125 closed

[2017-09-04 08:42] #2143 closed

[2017-09-04 08:42] #2145 closed

[2017-09-04 08:42] #2281 closed

[2017-09-04 08:42] #2594 closed

[2017-09-04 08:42] #3074 closed

[2017-09-04 08:42] #3114 closed

[2017-09-04 08:42] #3180 closed

[2017-09-04 08:42] #3217 closed

[2017-09-04 08:42] #3292 closed

[2017-09-04 08:42] #3352 closed

[2017-09-04 08:42] #3408 closed

[2017-09-04 08:42] #3409 closed

[2017-09-04 08:42] #3538 closed

[2017-09-04 08:42] #3542 closed

[2017-09-04 08:42] #3610 closed

[2017-09-04 08:42] #3626 closed

[2017-09-04 08:42] #3696 closed

[2017-09-04 08:42] #3802 closed

[2017-09-04 08:42] #3803 closed

[2017-09-04 08:42] #3826 closed

[2017-09-04 08:45] #3941 closed

[2017-09-04 08:45] #3944 closed

[2017-09-04 08:45] #4064 closed

[2017-09-04 08:45] #4072 closed

[2017-09-04 08:45] #4230 closed

[2017-09-04 08:45] #4267 closed

[2017-09-04 08:45] #4282 closed

[2017-09-04 08:45] #4353 closed

[2017-09-04 08:45] #4425 closed

[2017-09-04 08:45] #4622 closed

[2017-09-04 08:45] #4660 closed

[2017-09-04 08:45] #4704 closed

[2017-09-04 08:45] #4707 closed

[2017-09-04 08:45] #4708 closed

[2017-09-04 08:45] #4754 closed

[2017-09-04 08:45] #4768 closed

[2017-09-04 08:45] #4793 closed

[2017-09-04 08:47] #4795 closed

[2017-09-04 08:47] #4876 closed

[2017-09-04 08:47] #4924 closed

[2017-09-04 08:47] #4925 closed

[2017-09-04 08:47] #4928 closed

[2017-09-04 08:47] #4950 closed

[2017-09-04 08:47] #5005 closed

[2017-09-04 08:47] #5007 closed

[2017-09-04 08:47] #5293 closed

[2017-09-04 08:47] #5296 closed

[2017-09-04 08:47] #5322 closed

[2017-09-04 08:47] #5344 closed

[2017-09-04 08:47] #5361 closed

[2017-09-04 08:47] #5368 closed

[2017-09-04 08:47] #5476 closed

[2017-09-04 08:47] #5491 closed

[2017-09-04 08:47] #5604 closed

[2017-09-04 08:49] #5690 closed

[2017-09-04 08:49] #5723 closed

[2017-09-04 08:49] #5732 closed

[2017-09-04 08:49] #5754 closed

[2017-09-04 08:49] #5776 closed

[2017-09-04 08:49] #5818 closed

[2017-09-04 08:49] #5990 closed

[2017-09-04 08:49] #6099 closed

[2017-09-04 08:49] #6126 closed

[2017-09-04 08:49] #6253 closed

[2017-09-04 08:49] #6315 closed

[2017-09-04 08:49] #6362 closed

[2017-09-04 09:01] c0deright commented on #6280
![Disk Usage today](http://i.imgur.com/LWk6hdI.png)

Parity running with

[code]

just went from 250G in to 500G in 1 hour, filling the volume.

After resizing the volume to 750G, disk usage drops back to 250G as soon as I started parity again.

I'm constantly having WTF moments working with parity :)

It seems we have to deploy monit to restart parity as soon as it goes nuts to prevent it filling

[2017-09-04 09:05] 5chdn commented on #6280
The work on that already started, but it includes a new database layer and a lot of refactoring. It will not be available before 1.8.

[2017-09-04 09:06] c0deright commented on #6280
The cause of this spike seems to be a reorg:

[code]

The growing starts at around 09:30 where the reorg is logged.

[2017-09-04 09:16] madhavajay opened #6454 "MD5 for parity 1.6.10 OSX doesnt match"
MD5 (parity-1.6.10-osx-installer.pkg) = e9509312a33798f59a8b31132e167492

Page says:
https://github.com/paritytech/parity/releases
darwin | x86_64 | parity-1.6.10-osx-installer.pkg | fe25d71a0396e0aeab83ac421e8c4754

[2017-09-04 09:21] 5chdn commented on #6454
Indeed, it does not match. @paritytech/ci any idea why? cc @arkpar

[2017-09-04 09:49] dmatuszak92 commented on #6250
Sorry I'm a newb. But where do I even go to type in these lines/settings?

[2017-09-04 10:05] 5chdn commented on #6250
@dmatuszak92 what are you trying to do?

[2017-09-04 10:07] dmatuszak92 commented on #6250
I have the error message unable to reach time api. I'm running windows 10

[2017-09-04 10:13] dmatuszak92 commented on #6250
I've tried manually resyncing my time but didn't work

[2017-09-04 10:19] 5chdn commented on #6250
You can ignore that warning. Do you experience any other issues?

[2017-09-04 10:21] dmatuszak92 commented on #6250
@5chdn yeah but if I ignore it, my balance doesnt show up for me to make a tx. I know I have eth in from looking at the explorer. But in my wallet its not syncing

[2017-09-04 10:22] 5chdn commented on #6250
Yes, that's a known annoyance. Please just leave it syncing for a while.

Could you open the status tab on the left and scroll down and copy the logs here?

[2017-09-04 10:23] dmatuszak92 commented on #6250
[‎9‎/‎4‎/‎2017‎ ‎3‎:‎23‎:‎11‎ ‎AM]
Syncing snapshot 130/305 #131 7/25 peers 147 KiB chain 4 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 8 req/s, 87 µs
[‎9‎/‎4‎/‎2017‎ ‎3‎:‎22‎:‎49‎ ‎AM]
Syncing snapshot 126/305 #131 7/25 peers 147 KiB chain 4 MiB db 0 bytes queue 10 KiB sync RPC: 1 conn, 6 req/s, 117 µs
[‎9‎/‎4‎/‎2017‎ ‎3‎:‎22‎:‎06‎ ‎AM]
Syncing snapshot 124/305 #131 6/25 peers 147 KiB chain 4 M

[2017-09-04 10:25] rphmeier commented on #6280
The thing about archiveDB is that it keeps _everything_. It will keep the full state of all blocks processed, even those which are eventually reorganized out of the chain. I'm not sure how well rocksdb handles having that much data, but it will definitely put a strain on your storage. I am not sure that even a specialized database (which we are in the process of building) would alleviate this much

[2017-09-04 11:15] Arachnid commented on #4928
Can I ask why you closed this?

Does parity not intend to support ENS?

[2017-09-04 11:17] jandetlefsen commented on #4928
I would read it as a clear statement that this feature is not planned.

[2017-09-04 11:41] dmatuszak92 commented on #6250
@5chdn now it's stuck at "Connecting to the Parity Node. If this informational message persists, please ensure that your Parity node is running and reachable on the network."

[2017-09-04 11:44] gituser opened #6456 "Constant 100% cpu load when there is over >20k accounts"
_Before filing a new issue, please **provide the following information**._

Parity is using 100% cpu all time when there is about 20000 account addresses in it.

From strace I can see that it's doing a lot of lstat() calls to directory with keys. Maybe it's time to implement some sort of caching?

I'm running parity with these parameters:

[code]

I've checked on other hosts where there is identic

[2017-09-04 12:03] hankuksui opened #6457 "how to change the web gui"
I want to change text:

TO:

---

I think it should automatically check the network and show some tips to user. But I don't know what to do.

---

[2017-09-04 12:13] travs opened #6458 "Syncing issue: panicked ... out of range for slice of length 0"
I'm running:
[code]
installed via arch user repos ([`parity-git` package](https://aur.archlinux.org/packages/parity-git/))

_Expected behaviour_: syncs without a hitch
_Actual behaviour_: Syncs to a certain point, but then panics like so:

[code]

[2017-09-04 12:40] 5chdn commented on #4928
@Arachnid I'm reorganizing tickets. The current UI does not receive any new features anymore. We are launching a new version in a future release and only fix critical bugs. All tickets like this one will be revisited once the new UI is in place. The overall checklists are available here: https://github.com/paritytech/parity-long-term-issues/issues/2

[2017-09-04 12:47] 5chdn commented on #6458
Your installation is running an outdated nightly version from 3 months ago.

    yaourt -S parity-git

Should get you to the latest head.

[2017-09-04 12:47] #6458 closed

[2017-09-04 12:51] 5chdn commented on #6457
Have you tried turning it off and on again? The node? Your computer?

Are you on a server environment? How are you trying to connect? How's your client configured?

[2017-09-04 12:51] travs commented on #6458
@5chdn Thanks! :)

[2017-09-04 12:53] 5chdn commented on #6250
It's syncing the latest snapshot. Everything is fine.

![big_1468116673_image](https://user-images.githubusercontent.com/15729797/30027327-b6a84786-9180-11e7-9d38-57398b2fdc04.jpg)

It's probably better you wait for some time till the synchronization is finished.

[2017-09-04 12:54] 5chdn commented on #6458
Just report back if this still persists. Also, parity in the community repository is probably more stable.

[2017-09-04 12:56] 5chdn commented on #3217
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:57] 5chdn commented on #3352
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:57] 5chdn commented on #3696
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:58] 5chdn commented on #4230
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:59] 5chdn commented on #4754
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:59] 5chdn commented on #4793
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:59] 5chdn commented on #4795
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:59] 5chdn commented on #5491
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 12:59] 5chdn commented on #5690
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:00] 5chdn commented on #5990
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:00] 5chdn commented on #6099
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:00] 5chdn commented on #6253
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:00] 5chdn commented on #6315
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:00] 5chdn commented on #6362
We are not adding any features to the current user interface until the new version is released. This ticket will be revisited once the release is out. Meanwhile it's logged [here](https://github.com/paritytech/parity-long-term-issues/issues/2).

[2017-09-04 13:27] travs commented on #6458
@5chdn Ok, I am all synced now with the latest `parity-git` from AUR. Didn't know that it was in the communtiy repo as well, so will try that one if this ever fails again. Cheers.

[2017-09-04 13:29] #3200 closed

[2017-09-04 13:29] #3202 closed

[2017-09-04 13:29] #3205 closed

[2017-09-04 13:29] #3294 closed

[2017-09-04 13:29] #3497 closed

[2017-09-04 13:29] #3734 closed

[2017-09-04 13:29] #3834 closed

[2017-09-04 13:29] #3989 closed

[2017-09-04 13:29] #4105 closed

[2017-09-04 13:29] #4116 closed

[2017-09-04 13:29] #4124 closed

[2017-09-04 13:29] #4324 closed

[2017-09-04 13:29] #4529 closed

[2017-09-04 13:29] #4721 closed

[2017-09-04 13:29] #4727 closed

[2017-09-04 13:29] #4758 closed

[2017-09-04 13:29] #4830 closed

[2017-09-04 13:29] #4969 closed

[2017-09-04 13:29] #4978 closed

[2017-09-04 13:29] #5001 closed

[2017-09-04 13:29] #5878 closed

[2017-09-04 13:29] #27 closed

[2017-09-04 13:29] #147 closed

[2017-09-04 13:29] #542 closed

[2017-09-04 13:29] #620 closed

[2017-09-04 13:29] #646 closed

[2017-09-04 13:29] #765 closed

[2017-09-04 13:29] #816 closed

[2017-09-04 13:29] #947 closed

[2017-09-04 13:29] #999 closed

[2017-09-04 13:29] #1184 closed

[2017-09-04 13:29] #1294 closed

[2017-09-04 13:29] #1327 closed

[2017-09-04 13:29] #1425 closed

[2017-09-04 13:29] #1987 closed

[2017-09-04 13:29] #2097 closed

[2017-09-04 13:29] #2235 closed

[2017-09-04 13:29] #2319 closed

[2017-09-04 13:29] #2424 closed

[2017-09-04 13:29] #2452 closed

[2017-09-04 13:29] #2458 closed

[2017-09-04 13:29] #2608 closed

[2017-09-04 13:33] 5chdn commented on #6324
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:34] 5chdn commented on #5878
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:34] 5chdn commented on #5687
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:34] 5chdn commented on #4858
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:34] 5chdn commented on #4830
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:34] 5chdn commented on #4529
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:38] #6324 closed

[2017-09-04 13:44] #3113 closed

[2017-09-04 13:44] #3758 closed

[2017-09-04 13:44] #3795 closed

[2017-09-04 13:44] #3410 closed

[2017-09-04 13:48] #5004 closed

[2017-09-04 13:48] #4422 closed

[2017-09-04 13:48] #3155 closed

[2017-09-04 13:53] #5022 closed

[2017-09-04 13:53] #5622 closed

[2017-09-04 13:53] 5chdn commented on #5622
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:53] 5chdn commented on #5022
Moved inactive feature requests to the [long-term enhancement-list here](https://github.com/paritytech/parity-long-term-issues/issues/3) to keep our bug-tracker clean.

[2017-09-04 13:55] #6380 closed

[2017-09-04 13:55] #6414 closed

[2017-09-04 14:10] Vurich commented on #999
I'm pretty certain that nanomsg relies on glibc extensions, so we'd have to remove our dependency on that. If you try to compile `parity` with a `musl` target you get missing definitions all over the place.

[2017-09-04 14:11] rphmeier commented on #5427
Specification at the top isn't valid anymore (alternative is ~close), if somebody wants details of the new workings, LMK

[2017-09-04 15:54] matiwinnetou commented on #6447
I think you *could do* something about this to fallback better but of course you are free to ignore this and focus on more important items.

[2017-09-04 19:20] #5427 closed

[2017-09-04 20:10] Commenter123 opened #6460 "How to use Parity over Tor"
How to use Parity over Tor? Electrum (a Bitcoin wallet) can use the proxy provided by Tor browser. Is something similar possible with Parity?

[2017-09-04 20:45] gituser commented on #6456
So this is a confirmed bug?

[2017-09-04 23:59] BreezeRo commented on #6415
This just occurred to me running 1.7.0 on docker

[2017-09-05 06:42] 5chdn commented on #6447
Thanks. Added it to https://github.com/paritytech/parity-long-term-issues/issues/1 until we release the new UI.

[2017-09-05 06:43] 5chdn commented on #6456
Yes, we are looking into it.

[2017-09-05 06:45] 5chdn commented on #6415
@BreezeRo  Did you restart the node immediately? Or was there some time passing between stopping and starting the node?

[2017-09-05 06:48] 5chdn commented on #6460
Well, did you try it so far? You probably have to disable discovery, UDP is not supported by Tor.

Or you tunnel the UDP traffic via SSH or VPN. Or just directly use a VPN. :)

[2017-09-05 06:48] #6460 closed

[2017-09-05 06:54] sonpython commented on #6210
I have the same problem

[2017-09-05 08:42] 5chdn commented on #6210
@sonpython what's your exact problem?

[2017-09-05 08:52] kondratovich commented on #6415
@5chdn In my case - few seconds, maybe minute

[2017-09-05 08:55] sonpython commented on #6210
@5chdn The parity GUI does not accept the new created token using
`parity signer new-token`

Unable to make a connection to the Parity Secure API

I'm using parity 1.7
It used to worked before

[2017-09-05 08:57] 5chdn commented on #6210
@sonpython which operating system? which user is running the parity client?

[2017-09-05 09:04] debris commented on #6418
I will take `error::UtilError should be replaced by error_chain`

[2017-09-05 09:04] sonpython commented on #6210
@5chdn
===
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
===
I'm running parity under `root`

[2017-09-05 09:06] 5chdn commented on #6210
@sonpython so you have to run `sudo parity signer new-token` (or simply as root)

or grab one valid token from `/root/.local/share/io.parity.ethereum/signer/authcodes`

[2017-09-05 09:09] sonpython commented on #6210
@5chdn

`sudo parity signer new-token` ==> also NOT WORK

but the token grabbed from `/root/.local/share/io.parity.ethereum/signer/authcodes` worked

thank you man!!

[2017-09-05 09:41] gavofyork commented on #6453
this is a feature. you can look up the opcode manually from the `code` value given in the parent json element and the `pc` value of the opcode element.

[2017-09-05 09:41] #6453 closed

[2017-09-05 10:04] gavofyork commented on #6397
should be fixed now.

[2017-09-05 10:04] #6397 closed

[2017-09-05 10:52] CyberLizard opened #6462 "Windows Installer for 1.7 does not upgrade from 1.6 versions of Parity."
- **Parity version**: 1.7.0
- **Operating system**: Windows
- **And installed**: via installer

Is the versioning correct?

Installed the latest release 3x now since it's been published and the bottom left footer reckons "Parity//v1.6.10-stable-1a5b176-20170721/x86_64-windows-msvc/rustc1.18.0
Unknown capability"

[2017-09-05 11:30] 5chdn commented on #6462
Did you restart the client after installing the update?

[2017-09-05 11:49] 5chdn commented on #5976
#6443 is this the same issue?

[2017-09-05 13:02] debris opened #6466 "Reopen Light-client sync for contract-based PoA"
pr #6370

It was reverted due to conflicting changes than were merged to master at the same time and were not trivial to resolve

cc @rphmeier

[2017-09-05 13:20] CyberLizard commented on #6462
Well, I started it after installing the 1.7 tagged release version from GitHub. I'm saying that I am getting the same version number "since" the release and I've since installed for the 3rd time.  I thought that the version might not have been changed prior to the latest release. If that is not the case then I don't know, just reporting an issue I've noticed as "user".

![screenshot_1](https://use

[2017-09-05 13:27] 5chdn commented on #6462
Opening the user interface is probably just connecting to the old parity version still running. You would have to shut it down (i.e., in task manager). Could you check if this resolves your problem?

[2017-09-05 14:36] CyberLizard commented on #6462
I think we're talking past each other. What I am saying is that I have installed the 1.7 release several times since the release, my system has been shut down many times between those installs, I installed today again after pulling v1.7 from GitHub and Parity wasn't running prior to this, neither is it now (also not in the task manager.

However, if this is only happening to me then it must be on

[2017-09-05 15:03] rphmeier commented on #6466
can re-merge once the architectural issues surrounding the TX-filtering feature are resolved: https://github.com/paritytech/parity/pull/6441#discussion_r137011858

[2017-09-05 17:01] Hawstein commented on #6418
@debris Hi, I am working on the `all trie traits from util should be separated from util`. Since it depends lots of stuffs in `util/src`, so I decide to move all the `*.rs` file in `util/src` out of the src dir and make it a lib. It needs to be done for other tasks too. Does it make sense for you?

[2017-09-05 17:18] debris commented on #6418
@Hawstein yes, I believe it's one of the last things needed ;)

[2017-09-05 19:17] joeshae commented on #6445
Have you tried turning it off and on again?
Yes.

Are you fully synchronized?
Yes.

Which version of Parity are you running?
https://wallet.parity.io/

Which operating system are you using?
No matter. Windows, MacOS, Linux have the same issue.

How did you install Parity?
Official web version ( https://wallet.parity.io/ ), no need to install.

Is your time synchronized?
Yes.

[2017-09-05 19:55] Moxymore commented on #4940
Using Parity for 2 days only, i had issues when playing a game... and by inspecting my opened processus, it was Parity using like 90% + of my cores for like 20 full min. What the hell is this?

[2017-09-05 21:18] pyskell commented on #4177
To clarify for others you'll need to do the following, if and only if you still want the transaction to be mined. If you want to completely cancel the transaction you'll need to change the `nonce` as previously mentioned and that can't be done through the GUI.

Open `TxQueue Viewer`
![image](https://user-images.githubusercontent.com/9665963/30083726-b038d90a-925d-11e7-8873-fadb591388ac.png)

Find

[2017-09-06 00:44] gituser commented on #6456
@5chdn, I'd appreciate giving some examples/how-tos how to properly implement external accounting.
The current system is implement strictly on parity and relies on creating new address and monitoring it.
It does work apart but seems to be not scaling good at all.

[2017-09-06 01:17] debris commented on #6143
`ethabi_derive` could be used here. It doesn't have dispatch yet, but this could be easily implemented.

[2017-09-06 01:35] gituser commented on #6456
Yes, it seems to be a confirmed bug.
I've just moved 25k empty accounts out of the keydir and parity stopped eating CPU instantly.

As local accounts growing parity's CPU usage is increasing. So that means parity's accounting is useless for anything more than 10k accounts.

Sure local accounting is a way to go, but it might be complicated for already built systems based on RPC functions.

I'll cer

[2017-09-06 01:52] Hawstein commented on #6418
@debris Great! Then I will take the following tasks too:
* migrations should be a library
* remove public reexports of traits modules

Since once I make those `*.rs` files into a lib, the above tasks are almost done.

[2017-09-06 04:41] jaredohmni commented on #6449
Thank you - I'm closing this issue and subscribing to #6280 as I agree that's the likely the root cause.   I've tested this on Windows 10 (with a mid-range SSD) and on a Linux box with a higher end NVMe SSD and both exhibit the same write amplification issues which get worse around 3_000_000+ as you mentioned.  There's no UI usage and I'm running straight from command line in both cases without th

[2017-09-06 04:41] #6449 closed

[2017-09-06 05:45] WyseNynja opened #6473 "Releasing with md5 in 2017?"
I went to download parity and noticed that the release section lists md5 sums. Why is a secure hashing algorithm not being used? Why not use signatures with a tool like https://jedisct1.github.io/minisign/?

[2017-09-06 05:56] 5chdn commented on #6473
Duplicate of #4672

Starting with 1.7.1 we switched to Sha256. However, due to a bug, we had to pull 1.7.1, please wait for 1.7.2.

[2017-09-06 05:56] #6473 closed

[2017-09-06 05:57] 5chdn commented on #6473
Regarding signatures, see #3574

[2017-09-06 05:58] 5chdn commented on #3574
From #6473

[2017-09-06 06:00] 5chdn commented on #6445
The public web wallet is not officially released yet.

@maciejhirsz can you look into this?

[2017-09-06 06:02] 5chdn commented on #4940
@Moxymore your client is synchronizing the Ethereum blockchain, see #6280

[2017-09-06 06:30] maciejhirsz commented on #6445
Will look into it, but I think best we can do there is disable the feature on the public wallet.

[2017-09-06 06:47] 5chdn commented on #6462
Just tested. Installs 1.7.0.

Have you tried uninstalling the old version first?

[2017-09-06 07:14] tomusdrw commented on #6456
@gituser What's your workflow? Do you ask for `eth_accounts` often? Number of accounts should not affect CPU usage unless you are trying to fetch or use them over RPC.

[2017-09-06 09:08] CyberLizard commented on #6462
I've installed v1.7 to a new folder and it's working fine now. Thus it appears if one simply installs that version to the directory of a previous version the wallet will not update properly.

[2017-09-06 09:13] NikVolf commented on #6054
After all, we added custom panic handlers

and the work is somewhat shown in https://github.com/paritytech/parity/pull/6474

[2017-09-06 09:13] #6054 closed

[2017-09-06 09:14] brucelkp commented on #3584
my hardisk crashed after reinstalling windows unable to restore back my account with the phase key; it will create one with another address; any other information i need other then the phrase key?

[2017-09-06 09:15] NikVolf commented on #6056
waiting for #6073 for proper schedule management

[2017-09-06 09:53] NikVolf commented on #6143
isn't ethabi_derive is the other way around - generating invokes from json?

[2017-09-06 10:55] tomusdrw opened #6476 "Migrate to latest jsonrpc and futures"
Includes:
- Get rid of `BoxFuture`
- Get rid of `.boxed()`
- Rewrite `ipfs` server to hyper@latest
- Rewrite `parity-dapps` to hyper@latest

[2017-09-06 11:07] girraficlife commented on #6014
Hello,

I have a similar issue. I signed up for parity because I thought it would be a straight forward way to request and bid for domain names on the ethereum name service. I transferred ethereum to my parity account and its is not showing up in my account.

Parity//v1.6.10-stable-1a5b176-20170721/x86_64-macos/rustc1.18.0

13.98% warp restoreHOMESTEAD25/25 peers

[2017-09-06 11:58] gituser commented on #6456
No. I do not. I only query them when I do display history but that happens only once when user loads the page.

The most queried thing over RPC is transaction information (e.g. confirmations, etc).

But I do have separate database with another parity instance which indexes whole blockchain into relationship database (MySQL).

So workflow is like this:

1) I generate new address for the client to a

[2017-09-06 12:57] gavofyork commented on #4858
@5chdn this one might be worth keeping current.

@NikVolf point 3 should be addressable through an alternative serialisation of the existing trace datastructure.

[2017-09-06 13:54] 5chdn commented on #3584
@brucelkp which parity version did you use to create that account? and which operating system did you use?

[2017-09-06 14:43] sleepndevelop commented on #4940
hello,
i have the same issue but from the Status section of the browser i read
Node Health
Chain Synchronized (yes)

So apparently it is not synchronizing.
Why is it taking over all my CPU then ?

[2017-09-06 15:37] pierreDev33 opened #6477 "Restoring a wallet from the 12 words seeds generating new address ?"
---

hi, I have deleted parity and installed it again and I'd like to get my account (with ETH on it) back. I have my 12 words seed which i writted down when creating my account 2 months ago, and also a backup from C:\Users\xxx\AppData\Roaming\Parity\Ethereum\keys\ethereum   folder.

Which option should I use through user interface to restore my account with my ETH adress ? I tried the "Restore" o

[2017-09-06 16:48] IdiomoftheGods commented on #6477
Hello pierreDev33,

To import the account from a json file backup open command line and type

`C:\Users\USER> path\to\parity.exe account import path\to\long_hex.json`

Then refresh/restart parity ui to see the account under the account tab

[2017-09-06 17:00] pierreDev33 commented on #6477
Thanks a lot, it worked instantly !

[2017-09-06 17:00] #6477 closed

[2017-09-06 18:19] WyseNynja commented on #6181
Any movement on this? I have haproxy running with SSL certs in front of 8180, but am not sure how to setup the other ports. I was hoping for something where the client uses 443 for everything and haproxy (or nginx or w/e) routes to the proper backend.

[2017-09-06 18:20] 5chdn commented on #4940
@sleepndevelop it's fetching the latest state first and after that downloading the ancient blocks, this usually takes a couple of hours.

[2017-09-07 01:07] hankuksui commented on #6457
5chdn I use this url: http://192.168.1.127:8180. I start parity on 192.168.1.127:
         `parity --geth --ui-interface 192.168.1.127 --ws-interface 192.168.1.127 --force-ui --jsonrpc-cors "all" --jsonrpc-interface all --jsonrpc-hosts="all" --ui-hosts "all"`

[2017-09-07 01:10] hankuksui commented on #6457
@5chdn Thanks you. Sorry I forgot this.

[2017-09-07 03:57] rickw opened #6479 "Parity Missing admin API"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
When trying to access the admin API interface I get an error

`ReferenceError: 'admin' is not defined
    at <anonymous>:1:1`
---

[2017-09-07 07:18] 5chdn commented on #6479
What are you trying to do? We have a lot of other interesting APIs to offer.

https://github.com/paritytech/parity/wiki/JSONRPC

[2017-09-07 07:28] rickw commented on #6479
The web3.admin API:

admin
— — —
addPeer
peers
nodeInfo
datadir
importChain
exportChain
startRPC
stopRPC
startWS
stopWS
verbosity
setSolc
sleep
sleepBlocks
startNatSpec
stopNatSpec
getContractInfo
register
registerUrl

[2017-09-07 07:38] 5chdn commented on #6457
Your configuration has some issues<sup>1</sup>,<sup>2</sup>, but that's not related to the warning you see.

Have you tried to restart your parity node yet? Is your node fully synchronized, or is it still downloading ancient blocks? Is there anything in the logs?

<sup>1</sup>) Do you really need the `--geth` flag? If not, you can remove it and `--force-ui` all together.
<sup>2</sup>) Please, do n

[2017-09-07 07:40] 5chdn commented on #6479
That's a specific API to configure Geth and not available for Parity.

[2017-09-07 07:41] #6479 closed

[2017-09-07 10:26] 5chdn commented on #6448
Note to self:

- [ ] Option '--dapps-port' is deprecated. Please use '--jsonrpc-port' instead.
- [ ] 2017-09-07 12:18:55  Unable to listen on 127.0.0.1:8546
- [ ] WebSockets address 127.0.0.1:8546 is already in use, make sure that another instance of an Ethereum client is not running or change the address using the --ws-port and --ws-interface options.
- [ ] Go to localhost:8080 in your browser an

[2017-09-07 10:43] 5chdn commented on #6448
Updated everything. Except:

Not sure how I can make this more clearly: It says _let's create a file_ and _each line will contain a password_.

[2017-09-07 10:43] #6448 closed

[2017-09-07 10:46] AyushyaChitransh commented on #6448
Towards the end of paragraph we can write:

[2017-09-07 10:58] 5chdn commented on #6448
Done :+1:

[2017-09-07 12:50] 5chdn commented on #6429
What do you need it for? It's basically small bug fixes or improvements to the kovan network. Just looked through the change-logs:

This is an Ethash parameter for EIP 155 (replay protection), but also available for PoA.

- EIP: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md
- Docs: https://paritytech.github.io/parity/ethcore/ethereum/ethash/struct.EthashParams.html#structfield.eip15

[2017-09-07 12:50] #6429 closed

[2017-09-07 13:35] phahulin commented on #6429
Yes, we want to run our own PoA network. This question is related to the last one (still unanswered) question asked in https://github.com/paritytech/parity/issues/6342
where we are trying to figure out discrepancy between our PoA network and Kovan in relation to out of gas txs.

Since these parameters are not listed in docs, I couldn't know if we need them, thank you for the clarifications.

[2017-09-07 14:42] sjStefan opened #6481 "Insufficient funds while trying to send a transaction"
## Actual behaviour:
From time to time I'm stumbling upon the error

while trying to send the entire amount of the address (minus the cost for gas) by using personal_sendTransaction.

In my specific case I'm trying to empty an address which owns 1 ETH.

The details for the transaction looked like this:

- gasPrice: '27221063327' in wei
- gas: '21000'
- value: '999428360000000000' in wei

Converted

[2017-09-07 16:55] rickw commented on #6479
So in Parity there is no way to list the connected peers?

[2017-09-07 18:27] 5chdn commented on #6479
Try `parity_netPeers` :)

https://github.com/paritytech/parity/wiki/JSONRPC-parity-module#parity_netpeers

[2017-09-07 21:11] rickw commented on #6479
Thanks, apologies for missing that.

[2017-09-08 01:14] hankuksui commented on #6457
@5chdn Thank you for your reply. I want to customize those pages, and this warning does not matter to me. : )

[2017-09-08 07:14] 5chdn commented on #6479
Just ask me if you need anything else. Most of the APIs are similar in the different clients. We prefix all APIs that are custom with `parity_`.

[2017-09-08 07:42] #6457 closed

[2017-09-08 08:11] ValeryDubrava opened #6482 "Failed on creating contract"
Fill the contract creating form (with advanced). After all, "create" button do nothing. In chrome development console I've found the error:
![image](https://user-images.githubusercontent.com/1236525/30202210-3731bd94-9486-11e7-91ea-07a2609f3297.png)

[code]
---

[2017-09-08 08:22] 5chdn commented on #6482
Please share the contract and ABI, I can try to look into this.

[2017-09-08 08:58] ValeryDubrava commented on #6482
Api:

`[{"constant":false,"inputs":[{"name":"myid","type":"bytes32"},{"name":"result","type":"string"}],"name":"__callback","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"queryId","type":"bytes32"},{"name":"result","type":"string"},{"name":"","type":"bytes"}],"name":"__callback","outputs":[],"payable":false,"stateMutability":"non

[2017-09-08 09:06] 5chdn commented on #4833
Added [EIP-658](https://github.com/ethereum/EIPs/pull/658) and also requires split into two forks [EIP-609](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-609.md).

[2017-09-08 09:11] 5chdn commented on #6481
Without testing the RPC, your math is off by some wei:

[code]

Which is exactly:

How are you calculating these numbers?

[2017-09-08 09:12] #6481 closed

[2017-09-08 11:50] ValeryDubrava commented on #6482
I will try to check this on small contract with the same signature.

[2017-09-08 11:52] sjStefan commented on #6481
You're right. Shame on me.
The issues lies in the language I'm using for this.
The precision for the calculations wasn't high enought, as I calculated the total gas cost (gas * gasAmount) in ether in the first place and converted this value to wei, which ended up in a much shorter number.

Thanks.

[2017-09-08 12:22] tomusdrw opened #6484 "Warp sync failing on fresh DB"
---

Warp sync failed with no apparent reason, and wouldn't continue at all later.

[code]

[2017-09-08 15:52] ngotchac opened #6485 "Graceful exit when invalid CLI flags are passed"
Parity should panic and exit with an non-0 exit code when invalid CLI flags are passed.

[2017-09-08 15:54] arkpar commented on #4833
EIP-649 is implemented in #5855

[2017-09-08 16:00] rphmeier commented on #6485
panicking seems a little drastic. a helpful message and exit should be fine

[2017-09-08 18:58] KenoLeon opened #6486 "Safari support"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Actual: When running parity Ui from terminal Safari opens and freezes.
expected behavior:  Can click the next button.

Solution/Workaround: Worked on chrome.

---

[2017-09-08 22:29] rstormsf opened #6487 "Token Registration is not allowed if totalSupply is 0"
Example:
100% valid token contract with 0 totalSupply (Mintable)

https://etherscan.io/address/0x1C3beD5bD4B0E6a8389EfD0D2876F948a907ab5b

https://github.com/paritytech/parity/blob/8404edb656693270ec1cd3956d204f625d28ec7c/js/src/dapps/tokenreg/Inputs/validation.js#L85

Because of this validation it thinks that it's not valid. So I had to register this token by calling TokenReg contract directly:
h

[2017-09-09 06:54] 5chdn commented on #6083
This is not limited to hardware wallets, isn't it?

![normal](https://files.gitter.im/paritytech/parity/XDpB/ed1.PNG)

[2017-09-09 14:13] adbleu opened #6488 "Personal list accounts throws "method not found""
I'm running:

**Parity version**: Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0
**Operating system**: Linux

<code>
curl --data '{"method":"personal_listAccounts","params":[],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545
</code>

<code>
{"jsonrpc":"2.0","error":{"code":-32601,"message":"Method not found"},"id":1}
</code>

[2017-09-09 14:33] adbleu commented on #6488
personal API is disabled by default for rpc. closing issue

[2017-09-09 14:33] #6488 closed

[2017-09-09 20:47] murich commented on #4891
Parity
  version Parity/v1.5.12-stable-0caaa01-20170327/x86_64-macos/rustc1.16.0

Same issue

[2017-09-09 20:58] CryptoMagnetron opened #6489 "Problems with Parity Sync - Slower than new blocks are being formed!"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

---

Hi!  First time poster on github, so please bear with me.  If you can assist me in diagnosing and fixing my issues here, your time and help will be greatly appreciated!

My parity wallet

[2017-09-10 04:50] newmzy opened #6490 "Parity not syncing or connecting to nodes"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

When I look at the status/node health page it often/usually says "You are not connected to any peers. There is most likely some network issue. Fix connectivity." I don't know how to "fix conn

[2017-09-10 16:09] asymmetric commented on #5413
Interested in taking this. Should [`RequestBuilder`](https://github.com/paritytech/parity/blob/f1a050366f62804a5122ff7c975690ee0f9a3192/ethcore/light/src/types/request/builder.rs#L30) become `BatchBuilder`?

Also, where should the newly created `batch` module live?

[2017-09-10 17:56] ChristophSiegenthaler opened #6492 "Resending transaction with TxQueue Viewer fails"
Can't resend transaction with a higher gas price. Parity tries to send the old transaction double instead of sending the new one with the higher gas price.

Expected behavior:
1. Send transaction
2. Resend transaction with higher gas price in TxQueue Viewer
3. ... sends new transaction and makes old transaction obsolete.

Actual behavior:
1. Send transaction
2. Can't resend transaction with higher

[2017-09-10 18:03] roninkaizen commented on #5805
I'm running:

        Parity version: 1.7.0
        Operating system: Linux mint 18 Sarah-
 uname -r = 4.4.0-93-generic
        And installed: via deb on 2017.09.09
  version Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0

although not being asked- i respond myself onto this as follows
2017-09-09 17:22:28  Starting Parity/v1.7.0-beta-5f2cabd-20170727/x86_64-linux-gnu/rustc1.18.0

[2017-09-10 21:21] tomusdrw commented on #6492
How big is the gas price increment? Parity will only accept transaction if gas price is at least 12.5% higher.

[2017-09-10 21:52] tom-seddon opened #6493 "Password hints are shown in upper case"
Password hints are displayed in upper case, which is unhelpful, as my password hints are case-sensitive.

Thanks,

--Tom

[2017-09-10 23:05] xorxornop opened #6494 "ShapeShift transfer from ETH origin coin type non-operational"
---

When attempting to use the ShapeShift functionality, in Step 1 where you select the origin coin type for the transfer, when attempting to use ETH as this type, the text in the button to proceed to the next step is : `No price match was found for the selected type`, and further progress is blocked.

![parity shapeshift eth price match error](https://user-images.githubusercontent.com/3627862/30

[2017-09-11 06:12] ChristophSiegenthaler commented on #6492
It was indeed lower. Okay, I wasn't aware of that and didn't make the right connection there. Thanks for the clarification.

[2017-09-11 06:12] #6492 closed

[2017-09-11 07:07] tomusdrw commented on #6492
Yeah, it's a new feature present in version 1.7 to prevent excessive traffic that could be caused by constantly-replaced transactions. The UI should suggest the expected increase in the gas price, that will be implemented in UI2.

[2017-09-11 07:31] 5chdn commented on #6494
Well, what's the general plan here? You want to fund your ETH parity wallet with ETH through shapeshift?

You could simply generate a new account and transfer the ETH directly without any intermediary.

[2017-09-11 07:31] #6494 closed

[2017-09-11 07:36] 5chdn commented on #6490
This could be an issue. How are you running Parity? Do you use a config file?

[2017-09-11 07:38] 5chdn commented on #6489
Please share some logs. Does your mac contain an SSD or HDD?

Might be either #6372 or #6280

[2017-09-11 07:41] 5chdn commented on #6487
Yes, the idea is to keep the registry clean from dead tokens. A mintable token is a lovely idea, however, we will probably not remove that constraint in the UI since you already have proven it works out well for advanced users by simply calling the contract directly.

[2017-09-11 07:41] #6487 closed

[2017-09-11 07:43] 5chdn commented on #6486
Probably #6387.

Does Safari _always_ freeze? Does it work if you leave it like that for 15 minutes and try again? Might be also #6280. Are you on SSD or HDD?

[2017-09-11 07:45] 5chdn commented on #6493
There will be new user interface in one of the upcoming releases and the current wallet will only receive critical fixes for now. However, I'm tracking your annoyance in the meta issue [here](https://github.com/paritytech/parity-long-term-issues/issues/1) for future reference.

[2017-09-11 07:45] #6493 closed

[2017-09-11 07:48] 5chdn commented on #1425
@tymat I don't have access to a FreeBSD machine, what's missing so far?

[2017-09-11 08:01] 5chdn commented on #4891
@murich 1.5.12 is not supported anymore, please upgrade to 1.6.10 or 1.7.0!

[2017-09-11 08:04] 5chdn commented on #5805
@tomusdrw can you comment on this?

[2017-09-11 09:36] rphmeier commented on #5413
@asymmetric it could just be called `Builder` since it can be referenced with `batch::Builder`. The batch module should live where the "builder" module does now, so essentially just a file and type rename.

[2017-09-11 09:48] tomusdrw commented on #5805
`$BASE_PATH/cache` should be writeable. @roninkaizen Could you run with `strace` and check what path it expects to write the cache files to?

[2017-09-11 12:16] roninkaizen commented on #5805
@tomusdrw ->still learning
avail-@-> https://github.com/roninkaizen/recipes/blob/master/trace.log.170

[2017-09-11 12:26] 5chdn opened #6495 "Logger is broken"
Expected:

	-l, --logging=[LOGGING]

Actual:

`-lrpc=trace` does nothing / is ignored.

Probably introduced with #6356 /cc @axelchalon ref #2066

[2017-09-11 12:29] tomusdrw commented on #5805
@roninkaizen The strace you published contained some sensitive data - I removed the comment. Could you please run it for some more and publish only relevant part maybe `| grep cache`

[2017-09-11 13:13] alaflam opened #6496 "Parity/Raspbian - terminate called after throwing an instance of 'std::bad_alloc'"
I tried for more than 8 days 24h/24 h to sync a node on my Raspberry and arrive after multiple failures only to 2418000 block on Homestead.
I also installed VNC server to connect to my raspberry to check the progress of the process and it seems like the process was sleeping or failed each time before I re-connect to VNC.
I analysed the logs and I see that I often get "full memory error".
Thinking

[2017-09-11 13:16] rphmeier commented on #6496
@alaflam this indicates that the Pi has run out of memory. The blocks you're reaching were part of last fall's attacks and contain very resource-heavy transactions. Given the current volume of the Ethereum chain, I don't think it's reasonable to expect to run a full node on a raspberry pi. You could try running a light client on the Pi, though.

[2017-09-11 13:16] #6496 closed

[2017-09-11 13:17] rphmeier commented on #6496
(More generally, this is a duplicate of other memory-related footprint issues)

[2017-09-11 13:27] 5chdn commented on #6387
#6471 closes this, does it?

[2017-09-11 13:39] tomusdrw commented on #6387
Indeed.

[2017-09-11 13:39] #6387 closed

[2017-09-11 13:49] avk2 opened #6499 "Recovery phrase ?"
I first created my wallet with Ethereum Wallet, then I moved to Parity, importing the keystore file + password.

I saw that Parity can recover a wallet with a recovery phrase. Is this like bitcoin wallets does with 12 word phrase? If so, how can I backup my wallet generating that phrase? I just dont want to keep a json file that can be easily lost.

[2017-09-11 13:54] rphmeier commented on #6499
When creating your account, Parity gives you a 12-word phrase. If you have not saved it, you cannot generate a new one for the account (because the private key is generated from the phrase, not vice-versa). You can generate a new account and transfer your funds to it if you want one with a phrase. Of course, please guard the phrase carefully. Anyone with access to it has access to your account.

[2017-09-11 13:54] #6499 closed

[2017-09-11 13:59] avk2 commented on #6499
Parity had not given me any 12-word phrase when I **imported** the account (I already had one with Ethereum Wallet / Mist and they neither provided me with any phrase). So there is no way to generate that phrase without creating a new account?

[2017-09-11 14:01] rphmeier commented on #6499
No, there's no way without generating a new account.

[2017-09-11 14:54] roninkaizen opened #6500 "restoring account"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

![Image of error](https://files.gitter.im/roninkaizen/K8PE/error-cannot-create-account.PNG)
---

While testing to restore a wallet i was shown this error as visible.

**expected behavior:** a

[2017-09-11 15:04] axelchalon commented on #6495
isn't `-l rpc=trace` the correct syntax? the latter works fine for me

[2017-09-11 15:27] thomasfire opened #6501 "Panicked at 'DB flush failed'"
I'm running:
**Parity version**: Parity/v1.8.0-unstable-246b528-20170908/x86_64-linux-gnu/rustc1.20.0
**Operating system**: Linux
 **And installed**: from source

I just run either `parity --db-compaction ssd --cache 1024` or `parity --db-compaction ssd --cache 2048`, and soon after running i have this panic message:
[code]
And I cannot sync it normally!

[2017-09-11 15:57] rphmeier commented on #6500
(tagged as ASAP since any bugs in the account recovery pipeline should be addressed quickly)

[2017-09-11 16:24] rphmeier opened #6502 "Flag to start a parking_lot deadlock detector"
https://amanieu.github.io/parking_lot/parking_lot/deadlock/index.html

Should basically just do the same as the example there:
  1. check for deadlocks every N seconds
  2. print backtraces
  3. exit

[2017-09-11 16:24] rphmeier commented on #6502
Should wait for the feature to become non-experimental, though.

[2017-09-11 19:24] 5chdn commented on #6495
Ok, can work with that. :p

[2017-09-11 19:24] #6495 closed

[2017-09-11 19:24] 5chdn commented on #6387
:tada:

[2017-09-11 19:32] ildr3him opened #6503 "Error: Block(InvalidGasUsed(Mismatch { expected: 82410, found: 98892 }))"
---

I try to run Parity with Ropsten Testnet (via config, just that nothing else).
I download on an external volume to save diskspace (i dont have enough space to download directly).
I already tried this several times, but i couldn't manage to finish the download in one session (slow connection).
Everytime I restart via "cargo run --release" it starts downloading some snapshots, maybe 0-3 more an

[2017-09-11 20:08] tomusdrw commented on #6500
Can't reproduce on 1.7.2. What steps did you take?
It seems that you are on the "Status" page while restoring the account how is it possible?

[2017-09-11 23:26] rickw opened #6504 "Error Syncing on SSD"
issue resolved (would dete is I could)

[2017-09-11 23:30] #6504 closed

[2017-09-12 00:05] KenoLeon commented on #6486
After about 10 tries it freezes every single time, I got it past the splash/account creation part but when trying to consult transaction history it froze again. I am on SSD. It does work on chrome without issues.

[2017-09-12 06:06] 5chdn commented on #6501
Does this also appear after you reset your database with `parity db kill`?

[2017-09-12 06:09] 5chdn commented on #6503
What's the exact version of your client?

[2017-09-12 06:11] 5chdn commented on #6500
Probably related to #6387. Can you retry with latest head of the beta branch?

[2017-09-12 07:02] ildr3him commented on #6503
Starting Parity/v1.8.0-unstable-03e039b-20170911/x86_64-macos/rustc1.20.0

[2017-09-12 07:35] andrewbernard opened #6506 "Parity fails syncing blockchain"
I'm running:
**Parity version**: 1.8.0 head revision branch master from git
**Operating system**: Ubuntu Xenaial 16.0.4. LTS
**And installed**: from source

Unable to sync blockchain. Following log explicity says this failure is a bug.

---

stack backtrace:
   0:     0x5631a497f024 - backtrace::backtrace::libunwind::trace
                        at /root/.cargo/registry/src/github.com-1ecc6299db9

[2017-09-12 07:37] tomusdrw commented on #6342
`gasLimitBoundDivisor` is indeed related. How much block gas limit is allowed to change between blocks (next limit must be within `(gasLimit - gasLimit/divisor, gasLimit + gasLimit/divisor)`).
AFAIR this value is mandatory, setting it to some large number would cause block gas limit to stay constant.

The fix doesn't accept such transactions at all, so after you upgrade your nodes to a patched Par

[2017-09-12 07:58] 5chdn commented on #6506
Which exact version are you running? Does it still occur if you reset your database with `parity db kill`?

[2017-09-12 08:12] CryptoMagnetron commented on #6489
Hi!  Thanks for trying to help me out.   It's an HDD.  Is this what you're looking for?

NODE LOGS
-

[9/12/2017, 2:11:18 AM]
 Syncing #4264846 8de6…cac6 0 blk/s 27 tx/s 0 Mgas/s 0+ 384 Qed #4265231 16/25 peers 6 MiB chain 84 MiB db 41 MiB queue 13 MiB sync RPC: 2 conn, 13 req/s, 246 µs

[9/12/2017, 2:11:08 AM]
 Syncing #4264845 2c7b…a837 0 blk/s 0 tx/s 0 Mgas/s 0+ 384 Qed #4265231 16/25 peers 6 M

[2017-09-12 08:43] grbIzl opened #6507 "Cannot run Rust tests on Parity Gitlab in the specific scenario"
Please look through https://github.com/paritytech/parity/pull/6312
1) I've made a commit with Rust and Js code b316852. The checks failed because of syntax error in Js code
2) I've fixed syntax error in js and made new commit b18d555. This time it contained only Js code.
3) I see in logs of Gitlab jobs for the last commit "Skipping Rust tests since no Rust files modified." message. And all checks

[2017-09-12 09:16] 5chdn commented on #6372
https://gist.github.com/tomusdrw/9b6a4a8d6ab02a657ae8b121ef4a8c1a

[2017-09-12 09:44] rphmeier commented on #6507
cc @paritytech/ci

[2017-09-12 10:53] wnz99 commented on #6250
Hi,

I'm trying to put Parity 1.7.0 behing a nginx reverse proxy on a remote server with external IP x.x.x.x, and I'm facing a similar issue.

So far I am only proxing the RPC and WS ports. Parity binds the UI to the external IP.

Unfortunately when I try to access the UI at http://x.x.x.x:8180 the browser console shows the following error:

Firefox can't establish a connection to the server at ws

[2017-09-12 15:14] phahulin opened #6508 "In nightly 1.8 gasLimitBoundDivisor field is set in multiple locations"
It seems that starting from parity 1.8 `gasLimitBoundDivisor` field became required in `params` block of spec, I get this error trying to start a node with 1.7 spec:
[code]
We are trying to setup private PoA network and in [docs](https://github.com/paritytech/parity/wiki/Pluggable-Consensus) there is also  `gasLimitBoundDivisor` field in `engine.authorityRound.params`.

How are they related, shoul

[2017-09-12 15:32] rphmeier commented on #6508
@phahulin for 1.8.0 we are currently undergoing a refactor to make all consensus engines compatible with an abstract notion of a chain. This includes moving some parameters relevant only to ethereum-like chains (like `gasLimitBoundDivisor` and some hard forks) into the more general "params" section.

Upcoming PRs will shuffle things around further, so the advice I can currently give is to stay wit

[2017-09-12 15:32] #6508 closed

[2017-09-12 20:15] roninkaizen commented on #6500
@tomusdrw - completely right- some of the status page came up- and the error note-
way to come there
logged in, tried to recover- (got allmost no response) -> klicked status
cause i wanted to see at which block the chain is-
no further interaction possible.
node had to be restarted.

[2017-09-12 21:01] imkane commented on #6490
I have this exact problem. Very frustrating. None of my other digital currency wallet apps ever do this ...

It's intermittent too, sometimes I have 20 peers, sometimes 0 for a long period of time. ALWAYS "unable to reach time API" even though I've tried disabling/enabling my Win 10 auto time update.

[2017-09-13 04:01] CryptoMagnetron commented on #6506
@5chdn, I'm also having trouble syncing and tried using the command you suggested to try to reset my database.  Is that something you're supposed to paste into Terminal?  Because when I do, I get "-bash: /usr/local/bin/parity: Permission denied" and no luck resenting the database..  Am I doing something wrong, or is there something wrong that this isn't working?  (sorry to jump in!)

[2017-09-13 10:25] chpio opened #6511 "Non-determinism caused by wasm floats [question]"
Hi,

Floating point operations can introduce non determinism into the system. Non determinism is really bad for crypto systems (eg. breaks hash validity on some machines). Are there already measures in place to avoid that?

I think we should avoid that by disallowing `wasm`s float operations all together (marking a contract invalid if there are float ops).

[2017-09-13 10:27] 5chdn commented on #6490
@imkane could you share logs? Either from the terminal or from the bottom of the status page? Would be nice to get some eyes on what's happening.

[2017-09-13 10:28] 5chdn commented on #6506
@CryptoMagnetron you are welcome to jump in. Which OS are you using?

[2017-09-13 11:10] NikVolf commented on #6511
Hi, there is no floating point non-determinism in WebAssembly except some cases of handling NaN arguments across various platforms.

NaN can cause some problems, but we might handle them in exchange of reduction in performance by requiring interpreters to canonicalize NaN always. See https://github.com/WebAssembly/design/blob/master/Rationale.md#nan-bit-pattern-nondeterminism if you need some deta