[2018-03-02 09:45] 5chdn commented on #8037
Might be worth to bump the default for all networks to 8M.

[2018-03-02 10:01] postables commented on #8001
I just recently began digging into Rust myself, and this sounds quite interesting. I'd be happy to help out if any way possible.

[2018-03-02 10:01] tomaka commented on #7915
Should the network code be hard-coded to libp2p/devp2p (eg. pass an instance of `libp2p::Transport`), or should it be more generic?

I'd go for the first option, because Parity may depend on some specific networking behaviours. If we go for the second option, every single corner case would need to be documented in the API.

[2018-03-02 10:22] holgerd77 opened #8038 "devp2p: node discovery ping echo hash bug"
Attributes to: current ``master``, os-and sync-independent

### Intro

Hi, this is Holger from the ``ethereumjs`` team. We had an [issue](https://github.com/ethereumjs/ethereumjs-devp2p/issues/17) on our devp2p implementation (``ethereumjs-devp2p``) not being able to connect to Parity clients, which in the end turned out to be a bug on the Parity side (I now fixed with a hotfix for the moment).

#

[2018-03-02 11:12] andresilva commented on #7531
Could you try increasing `--cache-size-db` depending on the available RAM on your system, just to make sure that this isn't DB related (i.e. RocksDB compactions taking too much CPU time)?

[2018-03-02 11:32] 5chdn commented on #7531
I can reproduce this behaviour on a machine with --cache-size 12288

Should I try --cache-size-db instead? @andresilva do you want access to such a machine?

[2018-03-02 11:54] 5chdn commented on #8037
https://github.com/kovan-testnet/config/pull/8

[2018-03-02 11:54] #8037 closed

[2018-03-02 11:56] roninkaizen opened #8039 "question- repeated sync steps"
I'm running:

Which Parity version?  1.9.4
Which operating system?**:
Linux -Linux m 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
How installed? via installer with the deb-file provided, after looking for my kernel version (ssl-regarding)
Are you fully synchronized? not sure about that
Which network are you connected to? ethereum
Did you try

[2018-03-02 13:02] roninkaizen commented on #7155
thanks, did as told.

[2018-03-02 13:02] roninkaizen commented on #6500
not yet

[2018-03-02 13:22] rphmeier commented on #7915
Keeping it generic seems the best way to make it testable. Right now the light client network code is fairly network-independent and exposes a few hooks that can be called by devp2p or libp2p or an in-memory test network.

[2018-03-02 13:42] ashellwig opened #8040 "Documentation Page Github-Hint 404 Error"
Version Information (I know this is irrelevant but in keeping with tradition, why not give the details of my `Parity` version anyway)

Issue details:

![parity-github-hint-issue](https://user-images.githubusercontent.com/25649488/36901395-3d17b118-1de4-11e8-809d-013b27df5c4c.png)

[2018-03-02 14:47] hazardv opened #8041 "Clicking "Open Parity" launches Chrome to blank page"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I was previously running Parity version 1.7.x (I don't remember the actual version). It was working fine and then one day (about two weeks ago) the Parity client was running and I clicked on

[2018-03-02 14:55] kirushik commented on #8040
Hey, @ashellwig, nice catch!

Our wiki lives in a separate repo [paritytech/wiki](https://github.com/paritytech/parity), I've already created a PR to fix it there: paritytech/parity#28

[2018-03-02 14:55] #8040 closed

[2018-03-02 15:35] MichaelA2014 commented on #7937
The file system is NTFS. The permission is read/write allowed for all users

[2018-03-02 16:24] tomaka commented on #7915
You can fairly easily create an implementation of [the `Transport` trait](https://github.com/libp2p/rust-libp2p/blob/3b859b683357abbb13bb9f48c97643363446beb1/libp2p-swarm/src/transport.rs#L73-L103) that reads/write to/from memory, or that calls a custom handler.

[2018-03-02 17:30] hazardv commented on #8041
This issue seems to have resolved it's self.

[2018-03-02 17:30] #8041 closed

[2018-03-02 19:01] adyshimony opened #8043 "Getting blocks and transactions performance"
Hi all,

I am running v1.9.3-beta on ubuntu, fully sync.
Running as  parity --no-warp --cache-size 2048, network ethereum.
Web3 1.0.0-beta.27.

I am indexing all transactions to a local db, for fast data query.

In the last blocks, the fetching is very very slow... I guess cause its a lot of data.
Asking for 100 block (include transactions) takes around 10 seconds.
The real problem is running on e

[2018-03-02 23:04] debris commented on #8001
if you need any intro to parity codebase and/or rust, just message me on riot @marek:matrix.parity.io or send a mail to marek@parity.io

[2018-03-03 02:02] Ben-and-Ellen commented on #7839
$ whoami
xxx

$ ls -lsha ~/.local/share/io.parity.ethereum/
4.0K drwxrwxr-x 8 xxx xxx 4.0K Feb  9 16:40 .
4.0K drwxrwxr-x 4 xxx xxx 4.0K Feb 20 08:31 ..
4.0K drwxrwxr-x 2 xxx xxx 4.0K Feb  9 13:42 cache
4.0K drwxrwxr-x 3 xxx xxx 4.0K Feb  9 11:10 chains
4.0K drwxrwxr-x 2 xxx xxx 4.0K Feb  7 15:21 dapps
4.0K drwxrwxr-x 3 xxx xxx 4.0K Feb  7 15:21 keys
4.0K drwxrwxr-x 2 xxx xxx 4.0K Feb  7 15:21 net

[2018-03-03 03:43] bbjunaid opened #8044 "Change Token Decimals"
Hi,

I registered a token RFR:

Contract: 0xd0929d411954c47438dc1d871dd6081f5c5e149c

I used wrong decimal places 18. It should be 4.

Can someone please fix it, I cannot seem to edit token registry.

Thanks,
Bilal

[2018-03-03 09:31] jamesray1 commented on #8001
@postables cool, here is a link to an intro doc: https://github.com/Drops-of-Diamond/parity/blob/Sharding/Sharding-info.md.

[2018-03-03 09:32] jamesray1 commented on #8001
@debris thanks Marek, I sent you an email.

[2018-03-03 10:55] poolisa01 commented on #8001
Currently learning Rust, willing to support in whatever form I can. Let's make #ETH Scale!

[2018-03-03 11:33] unixfox commented on #8009
Same issue with Debian Jessie (8).

Ubuntu 14.04, Debian 7 & 8 use openssl 1.0.1 instead of openssl 1.0.2:
- https://packages.ubuntu.com/trusty/openssl
- https://packages.debian.org/jessie/openssl
- https://packages.debian.org/wheezy/openssl

[2018-03-03 11:36] ddorgan commented on #8009
We could rebuild these using 1.0.1 maybe ... but this is no longer in support and has multiple security issues. Will review some options.

[2018-03-03 12:17] ddorgan commented on #8009
@travs Could you maybe try the snap package instead? This seems to work much better on older distros from my testing. Thanks for the input @General-Beck

Just run:
[code]
Then run:
[code]
Let us know if this helps.

[2018-03-03 16:07] lsgrep opened #8045 "Thread 'IO Worker #0' panicked at 'DB flush failed"
2018-03-03 14:49:40 UTC DB corrupted: Corruption: block checksum mismatch: expected 355184344, got 2324967102  in /root/.local/share/io.parity.ethereum/chains/kovan/db/9bf388941c25ea98/overlayrecent/db/014412.sst offset 38787337 size 10529. Repair will be triggered on next restart

====================

stack backtrace:
  0:     0x56085899470c - <no info>
  1:     0x560858993db2 - <no info>
  2:

[2018-03-03 16:51] Dmatafonov commented on #7924
Can I get UP on this? Please?

Today had the same issue, received tx_id and sent it to client, but transaction never appeared on the blockchain.

[2018-03-03 16:55] Dmatafonov commented on #7924
If you cant fix it may be you tell if there is a reliable way to check that something wrong? Lets say transaction SHOULD appear on the blockchain in one hour or so.

Then I'll write the script to check all those stuck transactions, and will restart node and will send again. I dont kbow how others use parity, but Im using it fully automated, so I dont even know id it stops working and need to be re

[2018-03-03 18:27] rphmeier commented on #7924
@Dmatafonov are you choosing the nonce manually for the transaction? or allowing the node to choose it for you?

[2018-03-04 05:14] abrahamchaibi commented on #6432
hello! I know this is closed but @LogvinovLeon were you able to get this to work with --infinite-pending-block? I am having exactly the same issue you are describing with the below command: `./target/release/parity --cache=4048 --jsonrpc-apis=all --min-peers=500 --snapshot-peers=5000 --no-ui --no-dapps --rpcaddr=0.0.0.0 --no-persistent-txqueue --jsonrpc-threads=10 --jsonrpc-server-threads=10 --no-

[2018-03-04 06:48] jamesray1 commented on #8001
@poolisa01 cool, get back to me when you finish! (As outlined above, I'm still learning it too.)

[2018-03-04 06:59] postables commented on #8001
Thanks James, I'll take a look over it Tonight!

[2018-03-04 07:12] LogvinovLeon commented on #6432
I ended up just using `eth_getLogs` instead of subscriptions

[2018-03-04 07:15] abrahamchaibi commented on #6432
ah interesting and then you basically poll that against pending? that actually makes a lot of sense it just never (and honestly it's been longer than I care to admit) occurred to me to try. Giving it a shot now many thanks!!

[2018-03-04 07:16] LogvinovLeon commented on #6432
Web3.js doesn't support that, but you can use ethers.js or the provider directly. Or just JSON-RPC directly. Or maybe 1.0.beta does. Dunno

[2018-03-04 07:17] abrahamchaibi commented on #6432
thanks again much appreciated!!!

[2018-03-04 13:59] rphmeier commented on #8037
changing network parameters only requires collaboration on the part of authorities, not changing client defaults.

[2018-03-04 16:45] Dmatafonov commented on #7924
@rphmeier, I dont choose it manually. All I do is I call metheod `personal_sendTransaction` and it does return me txid always.

[2018-03-04 17:05] rphmeier commented on #7924
@Dmatafonov if you allow the node to choose it it shouldn't be importing into the future queue (which is what happens when next usable nonce is X but the transaction has at least X + 1).

@tomusdrw maybe something with the new RPC nonce reservation thing?

[2018-03-04 18:00] Dmatafonov commented on #7924
I even tried to resintall everything. I bought new VPS and installed everything from scratch,  hoping that it was come kind local mess up.

And I never had this issue with Geth (though I had too many other issues with geth).

I saw in tx-que-log `imported to the future`

[2018-03-04 19:00] kondratovich opened #8049 "Disk utilization with pruning"
I'm using pruning option `fast`. While sync, parity has been utilized constant disk space. After sync disk utilization started to grow up like on `archive` option.
Is there an option to configure parity to clean up old blocks over time? So disk utilization become bounded.

Thank you.

[2018-03-04 23:59] epheph commented on #7819
I also experienced this behavior on mainnet while using the UI:

`Parity v1.9.2-20180201 beta`

I did have 2 tabs open, perhaps that could have contributed? My specific transaction wasn't that bad to send twice, but it seems like a very serious issue for other transaction types

[2018-03-05 04:11] gravcat opened #8050 "Parity doesn't maintain database upon upgrade"
Issue:

Parity resyncs from scratch when an upgrade is performed. I use the same arguments including the same data directory when performing the upgrade, but the node re-syncs from scratch as if it never noticed.

Expected behavior:

Parity picks up where it left off prior to the upgrade, continuing with the existing working data.

----

Has anyone else experienced this issue, and is there a worka

[2018-03-05 09:56] Vurich commented on #6350
I'll have a look at this

[2018-03-05 11:39] quake3a commented on #7966
hey @5chdn
unfortunately even wallet.parity.io does not help.
I can't even sign the transaction for token registry
please help:
![photo_2018-03-05_13-25-57](https://user-images.githubusercontent.com/36665661/36973173-87b070be-207a-11e8-8911-6de849d13857.jpg)
![photo_2018-03-05_13-27-18](https://user-images.githubusercontent.com/36665661/36973175-8bb664f2-207a-11e8-9620-d3581ceb77e3.jpg)

[2018-03-05 12:41] jamesray1 commented on #8001
Thanks Afri.

[2018-03-05 16:49] alvarosevilla95 commented on #7765
I'm having the same issue, it looks like there is a missing transfer from `0xB57b9206d75c1bb02Cb64F97fB5176eAE731a62d` to `0x0000000000000000000000000000000000000003` that is reflected on the current balance but is not in the trace history.

I'm also missing ether in `0x4509008d923eF571FC1D29fD66D3135Fa02f0B64`, `0x0000000000000000000000000000000000000001`, same value in both cases: `1000000000000

[2018-03-05 18:06] tomusdrw commented on #7765
@iFA88 @alvarosevilla95 Did you guys re-import the chain while using 1.9.3? It is required to regenerate the trace database.

[2018-03-05 18:12] ascjones commented on #7686
I was able to reproduce this as described with 1.8.6, as well as the latest stable release 1.8.10.

However, in the most recent beta [1.9.4](https://github.com/paritytech/parity/releases/tag/v1.9.4) the trace requests work as expected. Haven't been able to figure out exactly which commit has fixed it (#7979 is a tracing fix but the prior release 1.9.3 also worked okay).

@0v1se are you able to run

[2018-03-05 18:17] iFA88 commented on #7765
Yes. Completely re synced.

[2018-03-05 19:51] alvarosevilla95 commented on #7765
Looks like whatever is going on is indeed happening in transations `0x92ddeb8df37c1b43debeecb07aa25a0ed96f13f8405aca9dba08ab204a8d2e29` and `0x51c0baead6c3d9e5cb678fe534ef33e61627a321b4b8ee60a21b47acc432fa84`.

The `stateDiff` for tx `0x92ddeb8df37c1b43debeecb07aa25a0ed96f13f8405aca9dba08ab204a8d2e29` shows:
[code]
Neither of these changes can be explained by the trace, and same thing in `0x51c0ba

[2018-03-05 23:15] abrahamchaibi commented on #6432
ugh so @LogvinovLeon sorry to bug you again but I tried running with infinite pending block, force sealing, and then just polling eth_getLogs (using fetch) for relevant topics. Still not getting the right pending events. Also tried using mem pool watcher in 0x and it's largely the same. Has this really worked for your team in practice?

[2018-03-06 11:37] ascjones commented on #8033
I'm looking at this

[2018-03-06 13:55] 0v1se commented on #7686
I tried https://github.com/paritytech/parity/releases/tag/v1.9.4 and confirm issue is resolved in latest beta.
Will use it for development.
Thank

[2018-03-06 14:04] izgzhen commented on #8027
I'd like to help on this issue :)

[2018-03-06 14:07] rphmeier commented on #8049
currently there is no support for block pruning, only state. Still, the state is expected to grow over time so even that won't give you bounded disk usage.

[2018-03-06 14:09] #8049 closed

[2018-03-06 15:16] rphmeier commented on #6350
it shouldn't re-import per se but rather migrate over into the DB restoration is done into. But only after general warp restore has finished; otherwise it poses too much of a cost to start a warp sync.

[2018-03-06 17:28] gmile opened #8063 "Transaction counter is updated, but no transactions visible"
I'm running:

- **Which Parity version?**: v1.9.2-20180214 beta
- **Which operating system?**: Linux
- **How installed?**: binaries (via docker-compose)
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: private
- **Did you try to restart the node?**: yes

---

Expected behaviour:

* I can see transactions for a given address,
* I can see created contracts.

Observed

[2018-03-06 17:43] ddorgan commented on #8009
@travs do you have any update on this?

[2018-03-06 18:49] unixfox commented on #8009
@ddorgan Snap is not the solution because:
- it requires root access
- it recreates a directory of the blockchain for each updates and this takes quite lot's of space after multiple updates, it has been discussed here: https://github.com/paritytech/parity/issues/7254

Nowadays launching parity on Debian 7/8 & Ubuntu 14.04/16.04 without root requires compiling it from source, it's quite a pain beca

[2018-03-06 19:41] pdarcos opened #8064 "missing transaction history"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Using a Nano S hardware wallet.
After installing the debian package it took me a long time to sync (days) but now that it is synced I'm surprised to see only 1 transaction in the transaction

[2018-03-06 20:11] debris commented on #8027
great! :)

[2018-03-06 20:15] afiorenza opened #8065 "Error when updating validators contract"
I have a PoA chain running with 5 nodes. This is my current genesis:

[code]

I'm trying to change the validator contract for a new (already deployed) version so i changing the multi to:
[code]

Without touching any other parameter. But i'm receiving the following error when it starts syncing:

[code]

Thanks in advance.

[2018-03-06 20:56] debris commented on #8065
@afiorenza thanks for the report!

[2018-03-07 01:16] izgzhen commented on #8027
I wonder if we should move `execute` in `main.rs` to library, which can be pulled in conveniently to test code, or should I invoke the built binary directly and test it as a process?

[2018-03-07 08:18] debris commented on #8027
I would prefer tests invoking built binary

[2018-03-07 08:21] vincentserpoul commented on #8063
I have the same issue as you, running 1.9.3, private PoA setup.
the mining seems to be happening, but no contract address is given.

[2018-03-07 09:48] cleanunicorn opened #8068 "Feature request : Display error message for Revert opcode in transaction traces"
When a contract message uses the `REVERT` opcode with a message is this message available in the traces?
I know it's not part of the receipt and I understood it could be part of the traces (either `trace_block` or `trace_transactionReplay`) https://github.com/ethereum/solidity/issues/1686#issuecomment-370800950

`trace_block` only contains this about the transaction
[code]

Other transactions cont

[2018-03-07 10:39] alvarosevilla95 commented on #7765
Updated and resynced on 1.9.4 and no changes.

[2018-03-07 10:45] bbjunaid commented on #8044
Well?

[2018-03-07 10:57] alvarosevilla95 commented on #7765
Some more info on transaction `0x51c0baead6c3d9e5cb678fe534ef33e61627a321b4b8ee60a21b47acc432fa84`.

According to etherscan the transaction calls the function `__callback(bytes32 _queryId, string _result, bytes _proof)`.

[code]

And the following events were emitted:
[code]

It looks like `0x0000000000000000000000000000000000000003` was drawn as the winner and the amount was succesfully sent as b

[2018-03-07 12:25] LogvinovLeon commented on #6432
Mem pool watcher depends on proper node config.
This article has our node config described. https://0xproject.com/wiki#Mempool-Setup-Guide
I haven't tried that in a while (2-3 month) but the last time I did - it worked and got me all the events from an infinite pedning block.

[2018-03-07 12:26] aleksuss opened #8069 "`Method not found` while trying to invoke `importRawKey`"
While I trying to invoke method `importRawKey` I get an error from partity like this:
[code]

Is the method removed ? If so, does exist another way to import an account from a private key ? Thanks

[2018-03-07 12:58] kirushik commented on #8009
We're going to completely drop the openssl dependency as a part of #7829, building a (hopefully) distro-independent linux binary.

I'm closing this issue (since it's superceeded), but please feel freee to use this thread to continue the discussion on problems with snapcraft and possible alternatives.

[2018-03-07 12:58] #8009 closed

[2018-03-07 14:20] alesl opened #8070 "trace_filter"
It seems to me that there is a minor issue with `trace_filter` rpc method.
If only `fromAddress` is provided, api also returns unrelated block reward calls.
If I understand correctly, the issue is in [filter.rs](https://github.com/paritytech/parity/blob/master/ethcore/src/trace/types/filter.rs#L120).
Empty `to_address` shouldn't match, eg:
[code]

[2018-03-07 14:38] tomaka commented on #7915
This is really difficult, so instead I suggest adding an optional `mio` feature to `ethcore-io`.
Only `network-devp2p` would require that `mio` feature.

[2018-03-07 17:03] gituser commented on #7999
I've just updated to `v1.9.4` to check if that tracing bug has been fixed and got the same error:

[code]

[2018-03-07 17:29] gituser commented on #7228
I guess the fix has only been applied to `1.9.4` ?

`1.9.4` is failing for me right now on testnet: https://github.com/paritytech/parity/issues/7999#issuecomment-371208226

[2018-03-08 02:42] bitcodernull opened #8072 "gasprice is higher than https://ethstats.net/"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below.

i get the gasprice by  eth_gasPrice  api, the gas price is higher than https://ethstats.net/
https://ethstats.net/ is 3~4 Gwei,   eth_gasPrice return 20Gwei

thanks

[2018-03-08 10:45] phahulin commented on #8006
Hi, I'd appreciate if you could give some hints on this one

[2018-03-08 10:46] misrab commented on #8001
Am getting increasingly into Rust (by programming basic algos) and Sharding. Reach out whenever!

[2018-03-08 12:12] adyshimony commented on #5729
Still getting errors for the default file taken from here
https://wiki.parity.io/Configuring-Parity#config-file

"Error opening reserved nodes file"

[2018-03-08 12:29] Tbaut commented on #5729
@adyshimony if you have a look at the config file:

You need to adapt this to your environment and OS.
Feel may find the [config generator](https://paritytech.github.io/parity-config-generator/) more handy to create your config file.

[2018-03-08 12:38] rphmeier commented on #8006
@phahulin AFAIK we haven't done anything special on Kovan to make warp sync speedier.
Perhaps @ddorgan can shed some light on the specs of our Kovan bootnodes.

[2018-03-08 13:19] ddorgan commented on #8006
The specs are 4 x cpus ( E5-2660 0 @ 2.20GHz) with 16 gigs of memory and they aren't under any sort of heavy load either.

[2018-03-08 14:56] phahulin commented on #8006
@ddorgan thanks! Maybe some `parity`options also affect this? Do you set any options except `--chain kovan`?

[2018-03-08 14:58] ddorgan commented on #8006
Run with:
[code]

[2018-03-08 17:20] afiorenza commented on #8065
@debris You are welcome. Do you have an ETA for this? This is blocking some updates on our chain.

[2018-03-08 19:00] Flazky opened #8077 "1.9.4 Not showing wallet list under accounts."
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Opened Parity Wallet App/Accounts but does not show any of my wallets. However, I can see accounts on the status toolbar above.

Also, Parity Apps periodically either work, or get stuck on the loading screen (white with parity logo in the middle).

[2018-03-08 19:22] ratake commented on #7955
I got parity compiling for and running on iOS – it was fairly straightforward because iOS is very similar to macOS. The changes I had to make were:
- Disable USB hardware wallet support
    - Did this by commenting things out, not sure of the best location for the target/feature flag checks.
- https://github.com/alexcrichton/cc-rs/pull/285
- Update [snappy-sys](https://github.com/paritytech/rust-s

[2018-03-08 19:23] ratake commented on #7955
It would still need #4842 to be usable inside of an iOS app or extension (also light syncing needs some love in general).

[2018-03-09 00:47] gitsparty opened #8079 "eth.getBlock("X") starts to return null for a given block"
**Actual**
I started syncing ropsten network. Side-by-side, I could lookup a block X, in the console, by doing eth.getBlock("X"). However, after a few minutes, the lookup stopped working.

**Expected**
I understand that older blocks may not have been synced. But, why would a block that was query-able once disappear?

In addition, i don't understand how the following could be true. Sync is complete

[2018-03-09 05:55] jamesray1 commented on #8001
@misrab, best if I start working on it myself before I actually talk to others about working on it. But others are welcome to take the initiative and start working on it before I do.

[2018-03-09 11:33] niklasad1 commented on #7340
@MrMarioMichel @tinbka
I'm trying to reproduce this without success

1. Does this happen on empty DB?
2. Does this require to sync some blocks and then restart?

I use the following configuration:
[code]

[2018-03-09 15:00] rphmeier commented on #7955
@ratake nice work! it's true, we do need a library as well as better light sync. #8075 should address some of the syncing issues but beyond that we need stronger guarantees from the consensus layer.

[2018-03-09 15:32] #6206 closed

[2018-03-09 15:51] rphmeier commented on #8079
@gitsparty did your node warp sync in the meantime? it will actually discard downloaded blocks when it does that (although we are already working on fixing that -- #6350

[2018-03-09 19:09] vieiralc opened #8080 "Tutorial Part 6"
_Before filing a new issue, please **provide the following information**._

I'm following the parity dapp tutorial part 6 which is creating a new contract. But I can't deploy any contracts because I don't have ethers. I tried to connect to ropsten but I get the message "You are not connected to any peers. There is most likely some network issue. Fix connectivity."

How can I get some ethers to dep

[2018-03-09 20:30] MysticRyuujin commented on #7792
I'm still getting errors on 16.04.4

[code]
AND
[code]

[2018-03-09 20:47] MysticRyuujin commented on #7792
So I was able to work around it by first installing libssl via this:

[code]

That lead to this error:

[code]

I corrected that via this script on Stack Overflow:

[code]

Parity started working after that...

I'm not entirely sure which part of that script fixed the issue as it does quite a few things but I'm hoping this will help diagnose or provide others with a workaround.

[2018-03-10 03:49] gitsparty commented on #8079
It was downloading snapshot when ```eth.getBlock("X")``` was working. Sometime after the snapshot restore was complete, ```eth.getBlock("X")``` stopped working. **Note:** I had not specified ```--warp``` in the cmdline.

[2018-03-10 13:51] debris commented on #8065
less then a week.

@rphmeier the error seems to originate from here:

https://github.com/paritytech/parity/blob/29d7a0e3c93600d26e3237a3e2c2fa4f9f592789/ethcore/src/engines/authority_round/mod.rs#L232-L252

any tips?

[2018-03-10 14:06] Tbaut commented on #8080
Did you get connected to some peers in the mean time ?
If not, please follow the instruction listed [here](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#what-can-i-do-when-parity-has-trouble-getting-in-sync) and more specifically step 2, making sure that your time is exact.

Once you are fully synced, you can get some rEth (Ropsten Ether) using faucets such a

[2018-03-11 15:27] svantetobias commented on #7820
I have the same problem in Parity 1.9.4. @5chdn you gave a hint on reddit that this should have been fixed in 1.9.4. Know anything about it? :)

[2018-03-11 15:37] rphmeier commented on #8079
@gitsparty ok, going to close as a duplicate of #6350 then

[2018-03-11 15:37] #8079 closed

[2018-03-11 16:03] rphmeier commented on #8080
It's also possible to use a local "dev" chain where only you are connected, and transactions are mined instantly, by running with `parity --config dev`. There is an account in the UI there with empty password that has a huge premine.

[2018-03-11 20:04] rphmeier opened #8082 "Optimize notification of the sync service about imported transactions"
https://github.com/paritytech/parity/pull/8074/files/1f1694b444592857bfd9811e72d4e40c0d835b64#r173615792

[2018-03-12 07:12] hopkinskong opened #8083 "Is public node is not supported in 1.9?"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Is 1.9 does not support public node? I don't know where should I import my account:
![image](https://user-images.githubusercontent.com/2718385/37269846-4c6b0a4a-2607-11e8-9135-3a6e056969ff.pn

[2018-03-12 07:14] hopkinskong commented on #8083
@5chdn

Viewing "Node Status" also result in blank page, with following errors:
![image](https://user-images.githubusercontent.com/2718385/37270022-0b159da2-2608-11e8-97d4-f324587edaf1.png)

[2018-03-12 09:55] #7292 closed

[2018-03-12 10:06] #8038 closed

[2018-03-12 11:00] andresilva commented on #8038
@holgerd77 Can you check that this is fixed with the latest master?

[2018-03-12 11:07] holgerd77 commented on #8038
@andresilva Phew, I am neither Parity nor Rust guy and would do the whole ``master`` deployment setup for the first time. On the other hand would be an interesting task/Parity get-to-know challenge, so I will try to get this in within the week. Can't promise though, have other things on the table.

[2018-03-12 11:17] andresilva commented on #8038
Sorry, totally understand the commitment that would be necessary. We publish nightly binaries so you can grab one of those instead (https://vanity-service.parity.io/parity-binaries?format=markdown&version=nightly), a new one should be available by tomorrow that includes the fix. 👍

[2018-03-12 11:30] Tbaut commented on #8083
@hopkinskong I could not reproduce the issue. Could you make sure that you only run 1 instance of the UI (no other tab with parity and no other browser ?).
It looks like you have a port conflict, could you make sure there are not used by another application or try using other ports ?

[2018-03-12 13:43] rphmeier commented on #7725
@jamespic we do fully intend to support the same RPC interfaces as currently. The only things that will be changing are the extraction of the UI to a community-managed organization (which provides look-and-feel primitives as well as development libraries for others to create DApps) and a stronger focus on the light client for users.

[2018-03-12 14:02] hopkinskong commented on #8083
@Tbaut

The issue is reproducible when I am using **SSH Tunneling**:

![image](https://user-images.githubusercontent.com/2718385/37287731-721ade26-2640-11e8-8aa0-01034da879e7.png)

Is there other ports I need to forward besides from these 3 ports?

Viewing locally seems better (not fine though...) as despite there is something to see, the information appears to be incorrect:
![image](https://user-

[2018-03-12 14:08] hopkinskong commented on #8083
@Tbaut Some extra (weird) info.

If I view the *Node Status* page locally first, **THEN** view the *Node Status* page via SSH tunnel, the page will appear (but still with invalid information). The page will still work via SSH tunnel until I restart parity, then the page will immediately disappear. Loading the page locally first will then some sort of "activate" the page again and allow SSH tunnel

[2018-03-12 15:06] Tbaut commented on #8077
@Flazky it sometimes takes time for the accounts to appear on the wallet page. Did you manage to see the account once you refreshed / relaunched Parity ?
If not, could you please post a screenshot of your browser console (Ctrl + Shift + i ) > "Console tab" while you are on the Account page ?

[2018-03-12 16:08] vieiralc commented on #8080
@Tbaut No I didn't connect to any peers. My pc is 3.1 seconds late. I'll try to sync here, thanks

[2018-03-12 16:10] vieiralc commented on #8080
@rphmeier I've tried to run `parity --config dev` but I get the error:  There was an error reading your config file at: dev The sustem cannot find the file specified.

[2018-03-12 16:18] vieiralc commented on #8080
@Tbaut  How do I sync my pc with time.is? It is just change the time manually? Isn't there any other way? Because it's always a few milliseconds late D:

[2018-03-12 16:19] vieiralc commented on #8080
@Tbaut Ok I have it  fully synced now

[2018-03-12 16:49] svyatonik opened #8088 "Panic (deadlock) on Parity shutdown when using AuthorityRound engine"
Environment: linux + branch with up-to-date master merged-in (`origin/secretstore_doc_key_via_contract`) + PoA of three nodes (configs are generated using [this script](https://github.com/svyatonik/sstore_test/blob/master/poa_integration/config_generate_list.sh)).

When trying to stop parity instances, I often see:
[code]

The reason is that we're trying to drop IO service from IO worker thread. H

[2018-03-12 17:02] chevdor opened #8090 "Very high CPU usage on OSX"
This issue may be related to #7958 however, I don´t think the issue was present around end of february. I did see also the issue on fresh installs on Ubuntu machine using 1.9.4-beta.

Although the chain is synchronised, the PU usage is abnormally high and seems to never go down.
![image](https://user-images.githubusercontent.com/738724/37297993-74a3a96e-261f-11e8-9549-12b3edf8df43.png)

[2018-03-12 17:07] chevdor commented on #8090
Additionally, in this state, the node fails on shutting down with a 'regular' duration:

[code]

It does stop pretty much exactly 3 minutes later.

[2018-03-12 17:16] J-A-M-E-5 opened #8091 "Is it possible to sync up to a certain block and then idle?"
I've read the doc and wiki and don't see a way so I guess this will require a code modification, which being new to Rust I'm willing to try and experiment with.

Let me explain what I'm trying to do. I am processing all transactions logs with some code and I would like to be able to set a low pruning number, e.g. 16 so I can conserve as much diskspace as possible as I will have to retire my full n

[2018-03-12 17:24] J-A-M-E-5 commented on #8043
What I'm doing is I am caching those calls. This way I only need to run them once slowly. I wrote my own file format to handle it as I didn't want to have 6,000,000+ files representing every block, or every block of transaction receipts/logs. You basically record everything to some big files, and note the position/length of what you recorded. Can start recording the JSON, but obviously a future re

[2018-03-12 17:35] chevdor commented on #8090
`Parity/v1.10.0-unstable-e54c33d9a-20180228/x86_64-macos/rustc1.24.1` seems affected as well

[2018-03-12 18:18] chevdor commented on #8090
Testing `Parity/v1.10.0-unstable-76a098114-20180218/x86_64-macos/rustc1.24.1`.
It requires a `db kill`

This version is not affected. First, you get a warp sync which is rater intensive and uses multiple cores (so you likely see >100% CPU usage).
After 5-6 minutes, my system is definitely usable with  50% < CPU < 100%. At that point, parity is still working on older blocks but the user won´t notic

[2018-03-12 21:10] adyshimony commented on #8043
Thanks, actually this is what I am doing, indexing it to couchdb.
I wanted to index it faster if possible.

[2018-03-12 21:33] calvintam236 opened #8092 "parity: /usr/lib/aarch64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by parity)"
I tried to install and run `parity` in my Pi. The installation is successful, but I cannot run it. I only get `parity: /usr/lib/aarch64-linux-gnu/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found (required by parity)`. Installing `libstdc++6` do not fix it.
Can you help or offer static build binary with libstdc++ for aarch64 binary?

_Your issue description goes here below. Try to include **actua

[2018-03-12 21:45] Dmatafonov commented on #7924
@rphmeier @5chdn any update on this?

[2018-03-12 23:17] jamesray1 opened #8094 "Thread 'IO Worker #1' panicked at 'DB flush failed.: Error(Msg("Corruption: block checksum mismatch: expected 3328599191, got 751106850 in /home/james/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d/overlayrecent/db/310415.sst offset 36308894 size 13789"), State { next_error: None, backtrace: None })', /checkout/src/libcore/result.rs:916"
CLI output extract:
[code]

[2018-03-13 02:38] pohng commented on #8077
Same issue.

Mac Os

![image](https://user-images.githubusercontent.com/2709202/37319504-f64007aa-2634-11e8-933f-5ae91cbcca47.png)

![image](https://user-images.githubusercontent.com/2709202/37319526-0a552bbc-2635-11e8-999a-3e32154bbe0c.png)

![image](https://user-images.githubusercontent.com/2709202/37319536-17b9d4ce-2635-11e8-8388-54540d3f340c.png)

Tried refresh, restart, reinstall. Also tried

[2018-03-13 02:39] pohng commented on #8077
Also, left machine on with parity running full 24 hours now, no change.

[2018-03-13 06:12] Flazky commented on #8077
@Tbaut Ive tried multiple fresh installs, refreshes, relaunches etc..but still not working. Ive sinced reinstalled an older ver 1.8.11 stable ver and it works now

[2018-03-13 06:48] Michael2008S opened #8096 "Thread 'IO Worker #2' panicked at 'db get failed"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]

[2018-03-13 06:53] Michael2008S commented on #8096
When I restart parity, the error show below:
[code]

[2018-03-13 08:18] gaoxiangxyz commented on #7109
@5chdn which release does include the fix of this issue?

[2018-03-13 09:56] jamesray1 opened #8097 "PR draft: faster sync"
If the first syncing line of the output has `Syncing  #<block_number>`, restart the sync.

[code]

This will then keep trying until the first line of output that contains `"{} Syncing",timestamp` is followed by `" snapshot"`, which will break the loop and continue normal execution.

[2018-03-13 10:01] drandreaskrueger commented on #7801
Ouch.

If I have not only seen an odd artifact on my one machine, but a general behavior of Ethereum, then it sounds as if the block time needs to be increased.

[2018-03-13 10:23] debris commented on #8097
hi @jamesray1 ! Could you clarify what is this issue about? I don't understand if this is a bug report or feature request 😉

[2018-03-13 10:25] debris commented on #8094
Thanks for the report! I believe this is a duplicate of #7766

[2018-03-13 10:25] #8094 closed

[2018-03-13 10:29] niklasad1 commented on #6138
@rphmeier @axelchalon
What is the status on this?
I can take over this if you want

[2018-03-13 11:03] chevdor commented on #8090
`Parity/v1.10.0-unstable-d90ab40a7-20180222` is affected.
So the issue should be between `76a098114` and `d90ab40a7`

[2018-03-13 11:35] chevdor commented on #8090
`Parity/v1.10.0-unstable-684322cd6-20180219/x86_64-macos/rustc1.24.1` seems to be not affected.
That reduces the issue down to a few commits:
[code]

[2018-03-13 12:23] debris commented on #8003
It's probably quite serious. There are multiple places in our codebase when we create `Duration::from_secs` and add it to `Instant` or `SystemTime`. rust std executes the addition by converting `Duration` to nanoseconds which may cause unhandled overflows.

[2018-03-13 14:45] axelchalon commented on #6138
I had started some work on this a while back (https://github.com/axelchalon/parity/tree/whisper-v6-cli for what it's worth). I think you can take it over.

[2018-03-13 16:15] chevdor commented on #8077
The issue should be fixed in master by now since #8066
If you wait long enough (like long....) they will appear. The problem is that your machine is kept busy by a very high CPU usage and the UI (incl. what you report) is VERY slow.

I´d recommend using another version and/or waiting until the regression is removed in the 1.9x branch. A version before 18.02 should be ok.

[2018-03-13 16:54] vieiralc opened #8106 "IPC error: Nodes on DEMOPOA Tutorial should run simultaneously?"
_Before filing a new issue, please **provide the following information**._

I'm following the DEMOPOA tutorial ([this one](https://github.com/paritytech/parity/wiki/Demo-PoA-tutorial)). And it says to run `node0` and `node1`. My doubt is: should they run simultaneously? Because when I try to run node1 when node0 is already runnig the node1 just can't start and I get the message:

IPC error: Access

[2018-03-13 17:04] NikVolf commented on #8106
Have you tried to update to v1.8.11-stable ?

[2018-03-13 17:21] vieiralc commented on #8106
No I didn't. Well now it's working don't know why. Thanks

[2018-03-13 17:22] #8106 closed

[2018-03-13 19:51] emocanu opened #8110 "Crash on fresh sync"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I expect parity to sync the Ethereum blockchain without crashing.
Here is the command line and the output (parity194.exe is the renamed parity.exe):

2018-03-13 16:07:30  Starting Parity/v1.9

[2018-03-13 20:55] jamesray1 opened #8111 "database is locked"
These errors occurred after I deleted the ~/.local/io.parity.ethereum folder along with older versions of Parity that I had, to clear disk space. Unfortunately I didn't realize that it would also delete the data for the latest version. After restarting the errors still occur. However, the folder has been created again. Will I need to uninstall Parity and reinstall it to clear these errors?

[code]

[2018-03-13 21:35] rphmeier commented on #8097
@jamesray1 the sync code currently attempts to warp sync whenever possible. I agree the heuristics can be improved but I don't think adding logic based on parsing the output of the program (which itself is just a representation of the internal state) is the right way to go about it.

[2018-03-13 22:04] rphmeier commented on #8111
@jamesray1 you're seeing this error in the Parity console?

[2018-03-13 22:49] jamesray1 commented on #8097
Yeah, I realised that there might be a better way to do it, which is why it was an issue / draft PR.

[2018-03-13 22:50] jamesray1 commented on #8111
No, in Bash. I didn't check the browser UI.

[2018-03-13 22:55] jamesray1 commented on #8111
After restarting I didn't get the error.

[2018-03-13 23:07] Tbaut commented on #8096
@Michael2008S could you please post your config file "config.toml" ?

[2018-03-14 00:05] #8039 closed

[2018-03-14 00:06] roninkaizen commented on #8039
noted the differences and decided to run a "full" node 8-)

[2018-03-14 08:58] k06a opened #8112 "Slow archive sync"
_Before filing a new issue, please **provide the following information**._

I am using following options:
- `--pruning archive`
- `--cache-size 4096`
- `--mode active`
- `--db-compaction ssd`

First 2.2M blocks were synced at speed about 60Mgas/s, but then I stopped process and then continued and speed now is about 0-1Mgas/s and sometimes it is about 40Mgas/s. The most of time speed is 0-1Mgas/s,

[2018-03-14 09:21] azulmarino commented on #8003
Hit on Parity v1.9.4-20180228 beta

[2018-03-14 09:52] k06a commented on #8112
<img width="1243" alt="2018-03-14 12 50 41" src="https://user-images.githubusercontent.com/702124/37395080-5f5c4bfc-2786-11e8-8dbd-f57b99adc0c3.png">

[2018-03-14 09:54] k06a commented on #8112
Didn't know what just happened:
<img width="1250" alt="2018-03-14 12 53 57" src="https://user-images.githubusercontent.com/702124/37395244-d72c17f2-2786-11e8-9bbd-92f805704f24.png">

[2018-03-14 10:10] k06a commented on #8112
For some reason it downloaded more than 2.4M blocks and I noticed `--networkid 3` not gives me ropsten, added `--chain ropsten` and restarted with empty DB.

Is it possible to have two configs in one? For mainnet to be `light` and for ropsten to be `archive`.

[2018-03-14 10:34] k06a commented on #8112
I like current speed, not going to stop it.
<img width="1254" alt="2018-03-14 13 32 16" src="https://user-images.githubusercontent.com/702124/37397250-2b9656ae-278c-11e8-8b12-00b92ff04b42.png">

[2018-03-14 11:10] Tbaut commented on #8112
@k06a the network was attacked during these blocks and it is therefore expected to have a slower sync since the blocks have a great amount of transactions. See [our documentation](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#sync-is-stuck-around-block-2421000-or-2675000)

Network ID 3 is Ropsten but the flags `--network-id` and `--networkid` override the net

[2018-03-14 11:10] #8112 closed

[2018-03-14 11:26] #6147 closed

[2018-03-14 11:37] AntoniosHadji commented on #7199
This issue does not exist for me when installing 1.8.10

[2018-03-14 11:44] ddorgan commented on #8111
@jamesray1 Looks like a common error for a chrome corrupt profile.

Can you verify that when you start parity you have no errors and you get peers and it begins to sync. If so we can close this ticket.

[2018-03-14 12:01] jamesray1 commented on #8111
Yes, after starting Parity there were no errors and I got peers and it began to sync.

[2018-03-14 12:01] #8111 closed

[2018-03-14 12:40] #7829 closed

[2018-03-14 14:51] Tbaut commented on #8092
@calvintam236 could you tell us which version of GLIBCXX you have by running
`strings /usr/lib/x86_64-linux-gnu/libstdc++.so.6 | grep GLIBCXX`

[2018-03-14 16:27] phahulin commented on #8006
Increasing number of cpus and memory improved just a little. I see that download is pretty fast except for some snapshots 36-49 that are slow. They probably correspond to a period when we were stress-testing the network and had a lot of txs _per block_. Could this make snapshots heavier?

[2018-03-14 18:16] joejordan opened #8115 "Parity randomly stops syncing, restarts syncing after CTRL+C"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I run Parity via the command line in Powershell, I'm usually synced with the network, but occasionally the executable "freezes" for lack of a better word. No new imported blocks are received,

[2018-03-14 18:52] vieiralc opened #8116 "Method parity_postTransaction not supported"
_Before filing a new issue, please **provide the following information**._

I'm following the [Dapp tutorial](https://github.com/paritytech/parity/wiki/Dapp-Tutorial), I'm creating a smart contract for voting in solidity and when I click on the vote option the Parity Signer is not called so I can type the password and aprove the transaction.

This is the error on chrome developers tools:
![image](

[2018-03-14 18:55] #8080 closed

[2018-03-14 19:27] #8070 closed

[2018-03-14 21:02] ianaya89 opened #8117 "CLI for WS connections capacity."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am running some parity nodes and interacting with them using web3 and WS provider. After ~100 connections I get the error:

[code]

I just want to check if this is an expected behaviour and

[2018-03-15 01:10] jakecraige commented on #7924
I'm seeing a similar issue from time to time. A transaction is broadcast and is shortly marked invalid. Later I attempt to broadcast the same transaction and it broadcasts successfully. The transaction content is the exact same in both.

This is the first transaction from an account that had just received funds. I attempt to broadcast right after it receives them. This is happening constantly (100

[2018-03-15 03:54] BransonGitomeh commented on #6181
im also having the same issues @daithi-coombes with the proxy redbird over letsencrypt ssl proxying the ws connections to 8546 on parity, im getting the error `WebSocket connection to 'wss://parity.braiven.io:8546/' failed: Error in connection establishment: net::ERR_SSL_VERSION_OR_CIPHER_MISMATCH` on the browser

any clue how i can fix this?

[2018-03-15 07:17] xsslong opened #8119 "Parity.exe has been stopped."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

My node is still syncing, There's always a program crash, Parity.exe has been stopped.

![image](https://user-images.githubusercontent.com/16704850/37448954-6e681b5c-2863-11e8-9a66-fd767bce34

[2018-03-15 07:26] kgcorps opened #8120 "Parity not syncing"
Parity is not syncing. So the following scenario - node syncs to up around (best block - 120k) and then it basically halts and processes around 5 block per 10 seconds (at best). I've tried changing versions (1.9.2./1.9.3/1.8.11) same result. I've tried **deleting nodes.json**, and weird is that there always only present around 4-5 peers. Also there is the  **Stage 1 block verification failed for d

[2018-03-15 10:13] tomusdrw commented on #8117
@ianaya89 It's indeed current limitation of websocket server: https://github.com/tomusdrw/ws-rs/blob/master/src/lib.rs#L132 we don't allow more than 100 concurrenct connections. I think it makes sense to expose this as a CLI parameter, though.

That said, if web3 is opening a new connection for EVERY transaction you are sending and not closing the previous ones there is something clearly wrong.

[2018-03-15 10:21] chebykin opened #8123 "Parity json-rpc module crashes with a huge amount of requests"
I'm trying to send a huge amount (~10K) of requests (personal_sendTransaction) at once to Parity `json-rpc` endpoint and it crashes with the following message:

[code]
I will try to use a persistent connection to handle this issue, as it was described in the tickets above.

But I believe that this is a bug with Parity's module too. If I send too many http requests for ex. to Apache or Nginx, they

[2018-03-15 10:25] tomusdrw commented on #8123
@chebykin If you want to handle more connections you need to increase your system's `ulimit`, I believe it would be the same for Nginx and Apache (depending on mpm)

[2018-03-15 10:35] tomusdrw commented on #8123
@chebykin I think I found a culprit, fixed upstream: https://github.com/paritytech/jsonrpc/pull/244

[2018-03-15 12:55] chebykin commented on #8123
@tomusdrw Thank you! I'm closing this one since it doesn't relate to this repo anymore.

[2018-03-15 12:55] #8123 closed

[2018-03-15 13:13] Tbaut commented on #8119
@xsslong could you please try the [latest release](https://github.com/paritytech/parity/releases) and if this still happens give us the logs from the windows command line ?

[2018-03-15 14:51] ianaya89 commented on #8117
@tomusdrw Makes sense. I think would be great a CLI parameter to set concurrent ws connections.
Regarding web3, is probably something wrong there. Thanks for your help!

[2018-03-15 16:11] rbeach commented on #7902
I am experiencing this issue as well

v1.11.0-20180312 unstable
OSX 10.12.6
synced
ethereum

I received the parity verification code via SMS, and the transaction is also showing as a success:
https://etherscan.io/tx/0x27c145615213c961e0ea7a0f2ff5266c4a91d706a8de5990bf9b55aea7036902

[2018-03-15 16:17] Tbaut commented on #7902
@rbeach @boneyard93501 if you have received the code per email/sms you can go back to your account>verify and once you enter your email/sms the UI will make a request to the relevant contract and jump directly to the confirmation step where you can enter the code.

[2018-03-15 16:33] rbeach commented on #7902
After repeating the steps as listed, when I get to step 3, the parity signer creates a new request, requesting an additional .007 ether. Since the first transaction already posted, I already sent .007 ether for the first one

[2018-03-15 16:39] robdoesstuff commented on #8117
I work with an environment with a distributed worker backend. Each worker is its own process, so at scale it's easy to have thousands of workers, each managing its own outbound connections. When testing, I found that parity is roughly 18 times faster at processing WS requests than keepalive HTTP and 72 times faster at WS than non keep alive HTTP, so it makes sense to want to use WS always for it,

[2018-03-15 16:42] robdoesstuff commented on #8117
FWIW this is a little more than an "F3-annoyance" - seriously impacts application architecture on scaled apps.

[2018-03-15 16:47] vieiralc commented on #4575
@tomusdrw How can I make these changes?

[2018-03-15 16:56] Tbaut commented on #4575
@vieiralc these changes should be made in the code, not by the end user.

[2018-03-15 16:57] vieiralc commented on #4575
@Tbaut Ok, so I'll try to update parity as you said, thanks

[2018-03-15 16:57] Tbaut commented on #8116
@vieiralc could you please [upgrade your parity to 1.9.4](https://github.com/paritytech/parity/releases) and tell us if the problem is still there.

[2018-03-15 17:10] Tbaut commented on #7902
Interresting, I got it working that way with email.
Then you can try to manually confirm the code :

1. Enable "Contracts" tab in Parity Wallet (go to "Settings")
2. Add a SMS Verifier contract:
Address: 0x673f0dec1416803a39d50760c697fb26f4c539b0
ABI: https://etherscan.io/address/0x673f0dec1416803a39d50760c697fb26f4c539b0#code
3. Invoke `confirm` function with sha3 of the code (look for ascii to h

[2018-03-15 17:36] vieiralc commented on #8116
@Tbaut I've upgrade to 1.9.4 and the error -32000 "Method parity_postTransaction not suported" disappear but now I have the error -32015: Transaction execution error eth_estimateGas

![image](https://user-images.githubusercontent.com/19657718/37480559-4f288ede-285e-11e8-94b3-3904b2635e74.png)

[2018-03-15 23:54] naddison36 opened #8127 "ecrecover differences between Geth and Parity"
When I call the `testEcrecover` function in the below Solidity contract using a local developer Geth node I get the expected address of `0x1563915e194D8CfBA1943570603F7606A3115508`. When I call the exact same function when the contract is deployed to a local developer Parity node I get the address `0x0000000000000000000000000000000000000000`

Have I configured my Parity node incorrectly? Or does G

[2018-03-16 01:53] taoeffect opened #8128 "Stage 1 block verification failed ... Block(TemporarilyInvalid(OutOfBounds ..."
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

After updating my system and rebooting, parity is now returning strange errors (?) whose meaning and severity is indiscernible to me:

[code]

So, I don't know what to do... It seems to still be importing new blocks. How bad is this? Do I need to start over? How? And

[2018-03-16 03:00] xsslong commented on #8119
Application has been upgraded to the latest version, parity_1.9.4_windows_installer,  but still happens, Prompt: There are unprocessed exceptions, illegal instructions.Program cannot be debugged.
![image](https://user-images.githubusercontent.com/16704850/37501345-fb508e50-2908-11e8-91f5-8586de0f6007.png)

[2018-03-16 05:11] svyatonik commented on #8127
`ecrecover` is a builtin and must be explicitly enabled in a chain spec file. Example: https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json#L30

[2018-03-16 05:11] #8127 closed

[2018-03-16 07:27] XertroV opened #8129 "Pruning History keeps states in memory - not explicit"
In an attempt to get a "semi-pruned-archive" node going (basically turn on archive from block 4_400_000) I had set pruning-history to 1_100_000. The config generator complained but parity didn't. **I presumed this was stored on disk in the same way a `pruning=archive` node would.**

Suggestion is to make it *explicit* that `pruning_history` is stored in RAM.

Ran into an issue where nodes would ea

[2018-03-16 07:35] Michael2008S commented on #8096
@Tbaut
This is my config file：

[code]

[2018-03-16 08:08] tomusdrw commented on #8128
@taoeffect Could you please try to synchronize your local time?

[2018-03-16 08:11] #8129 closed

[2018-03-16 09:15] MDSchaeffer opened #8131 "DOTs not visible in Accounts Overview address"
Parity v1.9.0-20180125
MacOS 10.12.6 (16G1212)
installed via installer
Fully synchronized
Connected to Foundation
I have tried to restart the node

Expected: I am not able to see associated Parity DOT tokens.  These were purchased through crowdsale and were visible at one point.

Actual: I cannot see DOT tokens held.  I am able to see other, Parity Registered, tokens.

Steps to reproduce: **Accoun

[2018-03-16 10:04] Tbaut commented on #8131
@MDSchaeffer could you please upgrade Parity to the [latest release](https://github.com/paritytech/parity/releases) and let us know if you still have the problem ?

[2018-03-16 10:24] Tbaut commented on #8119
Could you please run with the [command line](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-using-the-command-line-on-windows-), and post here the logs when it crashes ?

[2018-03-16 11:11] Tbaut commented on #8120
@kgcorps it should have been fixed with 1.9 could you please upgrade ?
See https://github.com/paritytech/parity/issues/6704

[2018-03-16 11:11] #8120 closed

[2018-03-16 11:47] MDSchaeffer commented on #8131
upgraded to Parity v1.9.4-20180228 beta, problem resolved.  Thanks @Tbaut !

[2018-03-16 11:47] #8131 closed

[2018-03-16 13:38] gmile commented on #8063
@vincentserpoul I was able to work around this by creating contracts from the UI, that's all I know...

I'd love to find see documentation covering contract creation by means of JSON-RPC, but I was unable to find any. Meanwhile I'll close this issue to keep the tracker clean, since the problem was somewhat worked around.

[2018-03-16 13:38] #8063 closed

[2018-03-16 14:46] taoeffect commented on #8128
I just checked, and it already is synchronized, per output of `date` command.

[2018-03-16 15:16] Tbaut commented on #8128
@taoeffect could you please run the beta docker `parity/parity:beta`, this error should be fixed in 1.9 according to https://github.com/paritytech/parity/issues/6704

Just for information about the time, you checked manually right ? we're talking about milliseconds difference eventually here. The easiest to verify is to visit https://time.is

[2018-03-16 16:18] taoeffect commented on #8128
I'll give it a try and report back, but just fyi, i think this is ridiculous. Surely you can figure out a way to make it less time dependent and robust, otherwise you're asking for network faults and flakiness.

See also [Blockchain Timestamps Unnecessary In Proof-of-Work](https://ethresear.ch/t/thoughts-on-removing-timestamps-in-pow/1148).

[2018-03-16 16:57] epheph opened #8138 "Subscription to newBlockHeaders emits blocks VERY slowly"
I am attempting to upgrade my system from polling for new block information (eth.getBlock("latest") on a timer) to using a real websocket subscription (`eth.subscribe("newBlockHeaders")`). The websocket emits the blocks significantly later than they are available via polling, on the order of about 1 to 2 seconds. I wrote a quick typescript program to verify this behavior. Here are the results usin

[2018-03-16 17:20] naddison36 commented on #8127
Thanks, all working now.

The [Chain Specification](https://wiki.parity.io/Chain-specification.html) documentation states "To make the chain behave like the public Ethereum chain the 4 contracts need to be included in the spec file, as shown in the example below:"
[code]
I can see `ecrecover`, `sha256` and `ripemd160` all related to Solidity functions.
What does the `identity` builtin contract do?

[2018-03-16 18:28] bizlevel opened #8139 "bad binding address, or hidden bind."
I try run parity in 127.0.0.1:8545 and nginx on 0.0.0.0:8545
But parity lies about used ports! How to resolve it?

1st way: run parity, next run nginx - i got this:
[code]

2th way - i run nginx, next parity:

[code]

[2018-03-16 21:50] tomusdrw commented on #8139
`0.0.0.0:8545` includes `127.0.0.1:8545`. You should try running nginx listening on external IP instead.

[2018-03-16 21:59] tomusdrw commented on #8128
@taoeffect The message is not critical, Parity will just ignore a block until it becomes valid according to the miner. If your time is in sync it's miner faults to produce "future block" and it may become and uncle instead. Miners are incentivised by difficulty algorithm to declare a fair timestamp from one side and by preference to include blocks that match current timestamp from the other.

[2018-03-16 23:01] robdoesstuff opened #8141 "RPC call net_peerCount inconsistent on Linux, very slow to return or times out, maybe blocking broadcasts?"
**Expected** - consistent response time (< 100ms at a very low load of 1/s), no timeouts, no broadcast timeouts.

**Actual** - here is the output from running wrk using a jsonrpc lua that requests net_peerCount

[code]

The same server does 30k requests/sec with no timeouts on eth_call queries.

This behavior was exhibited on hosts at both AWS and Packet.net. It does not reproduce locally for me o

[2018-03-17 00:31] Dar13 opened #8142 "IO Worker panicked, 'DB flush failed ... Corruption: block checksum mismatch'"
I'm running:

 - **Which Parity version?**: 1.9.4
 - **Which operating system?**: Linux
 - **How installed?**: from source
 - **Are you fully synchronized?**: no
 - **Which network are you connected to?**: ethereum
 - **Did you try to restart the node?**: yes, DB is attempting repair

Process dumped core, error messages told me to post an issue here.

Full log:
[code]

[2018-03-17 00:34] netkachev commented on #6640
just hit this issue on Parity/v1.8.9-stable-1952d05-20180201/x86_64-linux-gnu/rustc1.23.0 , removing nodes.json helped.
@5chdn could you please elaborate what is the root cause here? do i have to remove nodes.json again in future either when i upgrade to newer minor in 1.8.x or t0 1.9 once it becomes stable? or in both cases? thanks in advance!

[2018-03-17 00:37] netkachev commented on #5926
@kot-begemot seems like removing chains/$(chain_name)/network/nodes.json does help, check out this issue - https://github.com/paritytech/parity/issues/6640

[2018-03-17 00:38] Dar13 commented on #8142
After restarting the node this was printed to my journal:
[code]

[2018-03-17 12:14] dmitrysenkovich opened #8143 "Initial migration hangs forever"
I'm running:
- Parity: 1.9.4
- OS: Windows 10
- Installed: via installer
- Synchronized: no (I don't seem to need it)
- Network: private
- Tried restart: yes

Actual:
I'm trying to create a private chain using `parity` and `truffle` but when I do `truffle migrate` it hangs forever with the following output:

[code]
Expected behaviour:
Migration is finished

Steps to reproduce:
Create a chain with

[2018-03-17 14:09] drandreaskrueger commented on #7801
@5chdn please reopen, until I have fully understood what to do, thanks

[2018-03-17 14:11] drandreaskrueger commented on #7801
what is going wrong here?

[code]

but the current block is 5271351.

that is 5271351 - 4881651 = 389,700 blocks in the future.

It would take days or weeks to catch up with that.

[2018-03-17 14:17] drandreaskrueger commented on #7801
If the above was the right way, i.e. there is nothing I can do now ...

then `parity` (or probably also `geth` for that matter, or is `geth` syncing cleverer, faster, differently?) have become completely useless. Not your fault of course, it's the curse of popularity, I assume.

But ME, I need a solution now. How to move my money?

Am I right in this? --> `parity` does not seem to allow sending fu

[2018-03-17 14:22] drandreaskrueger commented on #7801
feature request 2:  snapshots more often

why would I need 400k blocks to catch up?

[2018-03-17 14:23] drandreaskrueger commented on #7801
I am trying again now, without the `--no-ancient-blocks `

so

[code]

[2018-03-17 14:36] drandreaskrueger commented on #7801
found some more switches, using this now:
[code]
without the `--no-ancient-blocks` it would sync the chain since genesis, see *bonkers* above. Trying again:

[code]

by the way:

    parity --version
    version Parity/v1.8.9-stable-1952d05d9-20180201

[2018-03-17 14:39] drandreaskrueger commented on #7801
third workaround:

any 24/7 full node, please go into your `~/.local/share/io.parity.ethereum/chains/ethereum/db` folder, and zip the  `906a34e69aec8c0d` folder, and upload it somewhere please.

Then I download that, and use the age-old Bitcoin type of `bootstrapping via blockchain file` method to catch up.

Thanks!

[2018-03-17 15:01] drandreaskrueger commented on #7801
### newest version is worse

[code]

[code]

ooooohhhh nooooo.

That one now goes direectly into full bonkers mode.

ignoring the `--no-ancient-blocks` switch to choose snapshot mode??

Is there a list of snapshot servers perhaps, that I can manually add, or how else can I force parity to sync from last snapshot?

[2018-03-17 15:02] drandreaskrueger commented on #7801
What am I doing wrong?

What are you doing wrong?

[2018-03-17 15:02] drandreaskrueger commented on #7801
third workaround:

any 24/7 full node, please go into your `~/.local/share/io.parity.ethereum/chains/ethereum/db` folder, and zip the  `906a34e69aec8c0d` folder, and upload it somewhere please.

Then I download that, and use the age-old Bitcoin type of `bootstrapping via blockchain file` method to catch up.

**Thanks!**

[2018-03-17 15:06] drandreaskrueger opened #8145 "please zip your .../chains/ethereum/db/906a34e69aec8c0d folder and upload (manual bootstrapping, because Zeno's paradox) - thanks!"
Please

any 24/7 full node ...

... please go into your `~/.local/share/io.parity.ethereum/chains/ethereum/db` folder, and zip the  `906a34e69aec8c0d` folder, and upload it somewhere please.

Then I can download that, and use the age-old Bitcoin type of `bootstrapping via blockchain file` method to catch up.

Why? See this issue:  https://github.com/paritytech/parity/issues/7801#issuecomment-37392

[2018-03-17 18:48] Tbaut commented on #8145
@drandreaskrueger Parity is an Ethereum client, meant to synchronize the full chain and verify it to provide the best possible security. It **is** meant to be run 24/7. If you only want to move the eth out of your account and are not interested about running a full node, then what you need is a light client. It is less secure, but easier and quicker to use. Parity has a experimental light client v

[2018-03-17 18:48] #8145 closed

[2018-03-17 20:10] Tbaut commented on #8117
For the record, @robdoesstuff told me on gitter later on :

I've seen numbers now using wrk to benchmark keepalive HTTP to parity ranging from 26000 req/s up to almost 50000
so actually parity can be extremely fast
but still we're having connection timeouts on the same machine that benches 26k

He posted an issue : #8141

[2018-03-18 02:17] robdoesstuff commented on #8117
I seemed to have maxed out around 250 HTTP connections while testing - this should also be configurable or people will end up writing and running external multiplexors

[2018-03-18 07:56] djKooks opened #8146 "Build error, from source code"
I just tried build up the source, but it shows error like this.

[code]

Is there something I need to check?

[2018-03-18 17:01] bgrieder opened #8147 "arithmetic operation overflow running Tendermint"
Hello,

I am getting

    Thread 'IO Worker #1' panicked at 'arithmetic operation overflow', cargo/registry/src/github.com-1ecc6299db9ec823/bigint-4.2.0/src/uint.rs:1227

When starting a node with Tendermint (single validator).
Same issue with Parity 1.7.2

My config.toml is

    [parity]
    chain = "resources/blockchain/genesis.json"
    base_path = "/Volumes/EXT/Ethereum/networks/XYZ"
    [netw

[2018-03-18 20:26] drandreaskrueger commented on #8145
Thanks a lot, @Tbaut - I'll try that.

What does experimental mean in this context?
Unstable? Buggy? Insecure?

I wasn't aware of that, thanks.

I suggest to be transparent about it:

  \+

Parity is meant to be run 24/7.
If you plan to connect only occasionally, this is not the right tool for you.
For that we suggest ... instead.

Thanks.

[2018-03-18 20:29] drandreaskrueger commented on #8145
interest is not the criterion.

I do switch off my computer when I am not using it.  50 Watts.

And while Parity is syncing, the little remaining CPU power of the machine is pretty useless.

How well does parity run on a RaspberryPi?

Thanks.

[2018-03-18 20:37] drandreaskrueger commented on #8145
nice one, thanks.

when I do that on my local machine, it creates a file in my local folder.

Is that the same with your webwallet wallet.parity.io ?

Then why do you suggest that?
You would get hold of all my private keys.
Intention = ?

Or:

Have you implemented the webwallet like NXT / ARDOR did, so that everything private never leaves my browser?
Then great - What are the switches to start suc

[2018-03-18 20:43] drandreaskrueger commented on #8145
A chat has amnesia. You might want to rethink pointing to that for solutions that more than one person might be benefit from.

[2018-03-18 20:46] drandreaskrueger commented on #8145
I trust you have some internal scheme to remind you to check already closed issues for follow up answers and questions.

[2018-03-18 20:51] drandreaskrueger commented on #8145
I still think that is a good idea.

When I have a machine/rPi to run a full node ... to [sync 390k blocks after a --warp](https://github.com/paritytech/parity/issues/7801#issuecomment-373923000) **would take ages**. What speaks against automating a bootstrap file upload?

Probably snapshot syncing was designed to provide exactly that?

But when you look into that [(closed) issue 7801](https://gith

[2018-03-18 22:46] drandreaskrueger opened #8148 "--light client stuck at #2088992"
[code]
on Debian Linux ; installed from latest github release. Mainnet. Yes, tried restarting.

---

### --light client is stuck at #2088992

see bottom half of issue 8145 comment https://github.com/paritytech/parity/issues/8145#issuecomment-374042321

[2018-03-18 23:46] taoeffect commented on #8128
I updated to `v1.9.4-beta-6f21a32-20180228`, and while the problem has lessened somewhat, I did just notice a single:

[code]

So it's not completely gone, but definitely seems to be complaining less at least.

Also, strangely, when I checked the fullnode (before updating), it had stopped syncing completely, displaying a long series of this for several hours (up to the point that I checked):

[cod

[2018-03-18 23:53] taoeffect commented on #8128
Also, this just happened with the beta, don't know if it's worth opening another issue or not, so I'm posting it here (but let me know if you want me to put it in another issue):

[code]

[2018-03-19 01:37] ewtoombs opened #8149 "minimum hardware requirements missing from website"
For instance it seems like parity is literally _unusable_ without an SSD. It would have been nice of you guys to mention that to new users with HDDs. I just wasted like days on this thing. Running version

Parity/v1.8.11-stable-21522ff86-20180227/x86_64-linux-gnu/rustc1.24.1

I was getting a sync rate of 0 blk/s. In fact it was about 1 block every 3 seconds, but you get the idea.

[2018-03-19 05:48] debris commented on #8146
It looks like your rust version is lower than `1.23`. Please run `rustup update stable` and try again.

[2018-03-19 05:48] #8146 closed

[2018-03-19 06:17] rphmeier commented on #8127
@naddison36 it's used to copy memory. Solidity uses it for returns AFAIR

[2018-03-19 06:19] rphmeier commented on #8128
@taoeffect the periodic snapshot failing is expected behavior on a pruned node.

[2018-03-19 07:54] bgrieder commented on #8147
This seems to be happening when the validators list contains a single entry.
I would expect that it is possible to set-up a chain with a single validator

[2018-03-19 10:00] bizlevel commented on #8139
Very strange! Because other program / services i can run separately listen on 0.0.0.0 and 127.0.0.1 .

[2018-03-19 10:00] #8139 closed

[2018-03-19 10:51] Tbaut commented on #8145
@drandreaskrueger I advised you to talk on gitter to follow-up. You missed a lot of information (mostly available in our [wiki](https://wiki.parity.io) ) that I kindly proposed to summarize to you in a chat. Feel free to reach out.

[2018-03-19 14:07] nyl9488 opened #8156 "Parity auto close"
Hello, I can't even use the parity .... when I open parity.... its show parity icon at the top and disappear after 1 minute.

I'm running:

Parity version : 1.9.4
Operating system: MacOs
Install: via installer
Are you fully synchronized: yes (sync on ethereum wallet)
Which network are you connected to : ethereum
Did you try to restart the node: yes

[2018-03-19 14:18] phahulin commented on #7611
Today one of our users communicated with us that they encountered the same problem. From their words they're using `personal_sendTransaction` to sign and send txs and were getting this error when node was processing a lot of txs. As txs load decreased, error stopped.
We were unable to reproduce this error ourselves yet, but noticed that there seems to a [single place in source code](https://github

[2018-03-19 14:44] bgrieder opened #8157 "Tendermint: no blocks generated"
This setup of 3 validator nodes work fine with Authority Round (blocks are generated) but does not work with Tendermint (validators see each other but no blocks are generated). The  general guidelines of https://wiki.parity.io/Demo-PoA-tutorial.html have been followed.

From the working set-up for Aura,  the `engine` entry of genesis.json was replaced:

**Original (Aura)**

    "engine": {

[2018-03-19 14:58] tomusdrw commented on #7611
@phahulin The code path you linked is not reacheable when using `personal_sendTransaction` and also in such case the password always need to be provided so it does not matter if the account is unlocked or not.

Could you please let us know a bit more detailed scenario of that bug? I.e. was the account unlocked via CLI or using `personal_unlockAccount`? Was `eth_sendTransaction` being used?

[2018-03-19 15:18] cleanunicorn opened #8158 "StateDiff does not contain refunded address account"
`trace_replayTransaction` does not contain in the `stateDiff` the account that ETH was refunded to after suicide.
I am expecting the account `0x6c6677787779626e676572657265726572657374` to be part of the `stateDiff` section and to contain its balance change

Transaction hash 0x5816cb0c95789787803ba22bf73e5d1be8a1bc21ac8c91523ce128ac3bb7a157

It's one of the DOS txs

[code]

[code]

In this request

[2018-03-19 15:46] Tbaut commented on #8156
@nyl9488 Could you please run Parity from the terminal and paste here what it prints ?
To do so, please launch the Terminal application, paste in `/Applications/Parity\ Ethereum.app/Contents/MacOS/parity` and hit Enter.

[2018-03-19 20:14] dmdque opened #8161 "Ethkey always generates addresses prefixed with "00" when using --brain"
## Actual
ethkey generates key with address starting with "00"

## Expected
ethkey generates fully random key

When using `ethkey` to generate keys with `ethkey generate random --brain`, the generated addresses always start with "00". Is this expected? Are these addresses fully random?

I'm running `ethkey` from `a59f6d9b`, built from source.

[2018-03-19 20:39] tomusdrw commented on #8161
Yes, the keys are random. The algorithm is described here:
https://github.com/ethereum/wiki/wiki/Brain-Wallet
and implementation can be found here:
https://github.com/paritytech/parity/blob/4a7940ea485daa091041d6ae3534021c1d4bf4b3/ethkey/src/brain.rs#L51

That also makes the addresses icap-compatible.

[2018-03-19 20:39] #8161 closed

[2018-03-20 02:50] debris commented on #8158
that's an interesting finding. tbh I don't how is it possible, but it should be fairly easy to fix

[2018-03-20 02:52] #8149 closed

[2018-03-20 02:56] debris commented on #1680
as this is not an issue, but a long-term goal I remove it from the issue list

[2018-03-20 02:56] #1680 closed

[2018-03-20 02:58] #2772 closed

[2018-03-20 03:04] debris commented on #4228
I will close this pr as most post of the points have been addressed by independent pull requests.

[2018-03-20 03:04] #4228 closed

[2018-03-20 03:06] #4402 closed

[2018-03-20 03:07] debris commented on #4406
I'm closing it in favor of #8033

[2018-03-20 03:07] #4406 closed

[2018-03-20 03:11] #6249 closed

[2018-03-20 03:11] #6136 closed

[2018-03-20 03:12] debris commented on #6143
@NikVolf can this issue be closed?

[2018-03-20 03:14] debris commented on #6577
as there are not enough details to reproduce this issue I am closing it

[2018-03-20 03:14] #6577 closed

[2018-03-20 03:15] debris commented on #6373
@niklasad1 do you think we can close this issue?

[2018-03-20 03:17] debris commented on #6668
the documentation is available here https://wiki.parity.io/Chain-specification.html

[2018-03-20 03:17] #6668 closed

[2018-03-20 03:20] debris commented on #7188
closing in favour of #8033

[2018-03-20 03:20] #7188 closed

[2018-03-20 03:21] debris commented on #7524
this has been resolved

[2018-03-20 03:21] #7524 closed

[2018-03-20 05:36] calvintam236 commented on #8092
[code]

[2018-03-20 07:51] niklasad1 commented on #6373
@debris I don't think so because [update_devices](https://github.com/paritytech/parity/blob/master/hw/src/ledger.rs#L120) haven't been changed so it will iterate through all devices and only add ledger devices to the list. That looks ok according to the trace but response looks strange but it is worth testing for sure!

My guesses are:
1. Ledger is in the wrong state or has some hardware/software

[2018-03-20 08:13] niklasad1 commented on #6373
@XelionIO Hey, do you think you re-run this on [parity 1.9.4](https://github.com/paritytech/parity/releases/tag/v1.9.4) and provide the logs?

If that doesn't work can you try plugging out all USB devices except `Ledger` and provide the logs?

Thanks

[2018-03-20 09:03] drandreaskrueger commented on #8145
Thanks for your help, @Tbaut.

Once the "... stuck at #2088992" bug is fixed, I am happy to just run parity in lightmode.

[2018-03-20 09:22] max-block opened #8162 "RPC call trace_transaction always returns null"
For example:
maxblock@mbp ~ $ curl --data '{"method":"trace_transaction","params":["0xd51efc65dc542c221d83ed707ef848e3ce63e84596c358f8473dc938c578c36e"],"id":3,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST http://123.123.123.123:1234
{"jsonrpc":"2.0","result":null,"id":3}

[2018-03-20 09:33] chevdor commented on #7963
I initially thought the issue would be per badge but this is not the case.

I certified 8 accounts with the same badge and when I display those 8 accounts, badges show up for only 2 of them.

For the others, the issue seems to be:
`03a4a9d214ce694f3ec277bb35a7e94742707bff072dbd0509c6c73d640f567a:1 GET http://127.0.0.1:8545/api/content/03a4a9d214ce694f3ec277bb35a7e94742707bff072dbd0509c6c73d640f567

[2018-03-20 09:39] drandreaskrueger commented on #8148
solution was: Wait 2 days, then try again.

[2018-03-20 09:50] chevdor commented on #7963
After several reload, the images of the badges seem to load once. That allows the badge to show up afterwards although the errors still show up in the console.

[2018-03-20 09:53] stone212 commented on #6668
@debris This is the same inadequate information that caused me to open the issue in the first place.  Did you read the thread?

@AyushyaChitransh I just now saw that the wiki is editable.  Maybe I can help to create a list of Chain Specification Values Definitions if other people who actually know the values and their definitions want to work with me.  I can add the few that I have surmised.  But

[2018-03-20 10:08] tomusdrw commented on #6668
@stone212 Wiki is now in that repository:
https://github.com/paritytech/wiki/

This specific file can be found here:
https://github.com/paritytech/wiki/blob/master/Chain-specification.md

You can submit a Pull Request to alter the file content. Feel free to contact me on Gitter to clarify all the terms.

[2018-03-20 10:14] cleanunicorn commented on #8158
I've added a few more info. There are 7716 refunds and none of the destination accounts are added in the `stateDiff`
All of the refunds are for 1 wei

[2018-03-20 10:32] #6143 closed

[2018-03-20 10:32] Tbaut commented on #8148
In such cases, restarting the light client would help.
This issue will be worked around with https://github.com/paritytech/parity/pull/8075

[2018-03-20 10:32] #8148 closed

[2018-03-20 10:57] Tbaut commented on #8092
@calvintam236 as the error message says,
`/usr/lib/aarch64-linux-gnu/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found (required by parity)` at least v3.4.21 is needed for parity to work.
Please try to get the latest version of GCC for your platform. or find a way to work around it [have a look at this](https://github.com/nodejs/docker-node/issues/259) or [this](https://github.com/doublethinkco/c

[2018-03-20 12:44] ascjones commented on #8033
This is being split across several PRs, since lots of changes

Phases:

- [ ] Replace 'trusted' usages of Rlp with UntrustedRlp and handle Results, unsafely unwrapping where appropriate
- [ ] Replace usages of Rlp where data received from other nodes, and propogate Results
- [ ] Delete original Rlp and rename UntrustedRlp to Rlp

[2018-03-20 12:49] XelionIO commented on #6373
@niklasad1 I've moved to Arch linux in the meantime and my Ledger is working great with parity now, even tough i have the issue #7786 too.

[2018-03-20 13:21] AyushyaChitransh commented on #8128
This issue is happening on my private network also. My parity version:

    Parity//v1.10.0-unstable-fb4582a90-20180205/x86_64-linux-gnu/rustc1.23.0

I have synchronized my time using chrony, and I hope that my node does not go out of sync again. I am running chrony on centos using these commands:

[code]

[2018-03-20 13:39] drandreaskrueger commented on #8148
Oh, misunderstanding. Of course I [had](https://github.com/paritytech/parity/issues/8148#issue-306292347) restarted parity, several times:

But that did not help.

What did help was waiting 2 days, and now trying again.

[2018-03-20 15:00] mantoshelis commented on #7160
Happyning on my nodes too.
Parity v1.9.5

[2018-03-20 21:04] kamilk91 opened #8169 "Tracing_on, trace_filter not working on windows"
_Before filing a new issue, please **provide the following information**._

**try**
Im trying to trace filter on every crosses (with fromBlock, toBlock, fromAddress, toAddress, any combinations) i can see only:

`{'jsonrpc': '2.0', 'result': [], 'id': 1}`

i tried to update, but i cant compile from source on Windows.
I tried to use parity_Subscribe, this is the same result [] and it cannot detect

[2018-03-21 00:00] tjayrush opened #8170 "Missing "re-org" message"
_Before filing a new issue, please **provide the following information**._

 Mac

1.9.1

MacOS

installer shell script

yes

mainnet

no.

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Usually, when there's a re-org, it shows a reorg message in the console. I happened to notice the odd behavior shown clearly in

[2018-03-21 00:18] kryvel commented on #7924
Hi, I have the same issue.
But only when I send nonce parametr.
Any update on this ? TIA

[2018-03-21 03:37] #8092 closed

[2018-03-21 08:14] Emperornero opened #8172 "Parity Wallet Remote Access Not working properly"
I'm running:
**Which Parity version?**: 1.9.4
**Which operating system?**: Windows
**How installed?**: via installer
**Are you fully synchronized?**: yes
**Which network are you connected to?**: ethereum
**Did you try to restart the node?**: yes

Running with following flags

parity.exe --warp --no-ancient-blocks --pruning=fast --pruning-history=8  --pruning-memory=32 --db-compaction="hdd" --jsonr

[2018-03-21 09:11] Tbaut commented on #8172
You are most likely missing the flag `--ws-origin all`. If this doesn't solve your problem, can you give the errors from the terminal and the console browser?

[2018-03-21 09:22] #8069 closed

[2018-03-21 09:49] tomusdrw commented on #8172
@Emperornero port 8546 is required as well. See details here: https://wiki.parity.io/Wallet-Remote-Access.html

[2018-03-21 10:42] Emperornero commented on #8172
Seems the Wallet Remote Access Page has been updated since I looked at it a week ago.   I was missing the --unsafe-expose flag.

This machine is direct connected to my main computer, I just like to keep a full node synced without taking up disk space or cpu usage on my main rig, so this will work great.

Issue can be closed.  Thanks.

[2018-03-21 10:53] tomusdrw commented on #8172
@Emperornero `--unsafe-expose` on non-firewall protected node is a terrible idea, where did you read that it's required? If you only have the node in your local network it's still accessible by everyone in that particular network.

Wallet dapp is using 8546 interface (WebSockets) to work, other dapps not necessarily.

[2018-03-21 10:56] Emperornero commented on #8172
All external ports but 30303 are blocked on the node.  The Wallet Access Page suggested that, it has not been working without that.

I'll try remapping to direct IP instead of using 0.0.0.0 .  I'm able to access the UI however it's not saving account information after importing.

[2018-03-21 11:10] #8172 closed

[2018-03-21 11:30] chevdor opened #8174 "Parity does not use the gas values it shows in the UI when using "advanced sending options""
I am deploying a contract. It requires ~588k gas. Parity estimates around 700k gas.
I am deploying the contract with the same arguments and those do NOT throw.

If I don´t use the **advanced sending options** for sending the tx, the contract deploys all fine:
https://kovan.etherscan.io/tx/0x7a2623afe89dd5389ce392edea0e16be360fbf19a6620b3a64712291085f4a76

Now in **advanced sending** mode, I see:
-

[2018-03-21 12:02] chevdor commented on #8174
I just saw the same issue on mainnet:

- start parity
- make a tx to deploy an ERC20 for instance
- directly use the **advanced sending option**
- see if your tx go thru.

I would rather not share the mainnet tx but the amount of gas sent was ~189k

[2018-03-21 13:42] kamilk91 commented on #7479
if you are using HDD disk please set in config.toml

`db_compaction = "hdd"`

[2018-03-21 13:43] holgerd77 commented on #8038
Hi, I will be able to look into this at the end of the week. Hope this still helps.

[2018-03-21 14:24] kunalransing opened #8177 "Parity node shutdown when try to call parity's trace filter using web3j"
**Parity version** ->  v1.9.4-beta-6f21a32-20180228
 **operating system** -> Ubuntu 16 on AWS
 **How installed?** ->  $ bash <(curl https://get.parity.io -kL)
 **Are you fully synchronized?** ->  yes
 **Which network are you connected to?** -> kovan
 **Did you try to restart the node?**  -> Yes.

[code]

**Steps to reproduce :**
1. This occurs when I try to call web3j's  parity trace filter.
[code

[2018-03-21 14:59] tomusdrw opened #8178 "Auto-updater upgradability verification"
When updating a major release (say 1.8-stable -> 1.9-stable) there might be breaking changes with CLI flags or config entries.
Auto-updater should first test if new binary will be able to execute with the same parameters and only update if it's successful. Otherwise it should print a warning message every now and then.

[2018-03-21 17:35] bjornwgnr opened #8179 "Add parameter in chain spec for wasm-only network"

[2018-03-21 18:03] Tbaut commented on #8179
Isn't that the same issue ? https://github.com/paritytech/wiki/issues/29
I'll do that prob. tomorrow

[2018-03-21 18:13] niklasad1 commented on #8179
@Tbaut I think this is not implemented yet and is on the ```wishlist```

[2018-03-21 18:24] ravensorb commented on #6806
So what is needed to get things running?

[2018-03-21 20:39] Melvillian commented on #6548
Yes, still an issue

[2018-03-21 20:52] Melvillian opened #8183 "parity 1.9.5 stable breaks backwards compatibility with system libraries"
I'm running:
parity 1.9.5
OS: Ubuntu 14.04.05
How Installed: first via installer, but then it seemed to update itself (see paste below)
Are you fully synchronized?: No
Which network are you connected to: Kovan
Did you try to restart the node?: yes

expected behavior: I start the node and it fully synchronizes and then starts reading new blocks as they come in

actual: parity doesn't start correctl

[2018-03-21 21:51] ddorgan commented on #6548
Yes did some debugging, basename isn't found it the host cannot be resolved or nothing comes back:

e.g. after adding 127.0.0.1 vanity-service.parity.io to /etc/hosts:

[code]

[2018-03-21 22:36] tomusdrw commented on #8183
Hi @Melvillian we've rolled out a critical update for Kovan (upcoming Hard Fork). Your node is updating because `--auto-update=critical` is enabled by default.

The binary your node auto-updates to is build against `openssl1.0.2` as you may notice. We are working on resolving the issues and the fix will most likely be rolled out with 1.10.1 (see #8132).

As a workaround, please:
1. Update to 1.10.

[2018-03-21 22:44] calvintam236 commented on #8092
It is already on the latest gcc, and I still get this error.
[code]

[2018-03-21 22:49] Melvillian commented on #8183
@tomusdrw Thank you for the update. Then we'll wait on the 1.10.0-beta release packages. Once they're out I'll let you know how these 4 steps go.

[2018-03-21 22:59] tomusdrw commented on #8183
@Melvillian ok! To clarify those are not steps, those are options if you still want to use your old binary.

New binaries for 1.10.0 can be found [here](https://vanity-service.parity.io/parity-binaries?format=markdown&version=v1.10.0), we are still working on the release notes though.

[2018-03-22 01:22] debris opened #8184 "use debug_struct to print trie"
discussion: https://github.com/paritytech/parity/pull/8166#discussion_r175972677

[2018-03-22 02:23] debris opened #8185 "Initial ethcore-io refactor"
Currently ethcore-io event loop is based on deprecated part of `mio`. Let's replace it with `tokio`

[2018-03-22 02:31] debris opened #8186 "refactor the way tasks are scheduled in event-loop"
after #8185

Current design requires us to define all tasks types in a single place in `ClientIoMessage`. It makes it difficult to modularize `ethcore` . Let's think how we could refactor that so tasks could be scheduled without the need of defining them in a single place.

cc @tomaka @0x7CFE

[2018-03-22 02:42] izgzhen commented on #8158
@debris let me try to investigate into this :)

[2018-03-22 03:03] debris commented on #8158
sure @izgzhen ! Ask me anything if you need any help :)

[2018-03-22 03:46] EighteenZi opened #8188 "One question of JournalDB"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I read the JournalDB many times, and still confused.

1. Why do we need JournalDB?   Add some overlays to speed up some actions like 'get'?
 If so, the StateDB's global cache will do the same

[2018-03-22 04:05] EighteenZi commented on #8188
Is the JournalDB  similar to 'ring buffer'?
But i still don't understand what the word 'journal' means..

[2018-03-22 06:21] EighteenZi commented on #8188
The OverlayRecentDB will reduce the times of operations, such as insertions and deletions,  to the KVDB.

[2018-03-22 07:10] EighteenZi commented on #8188
Archive (Archive): as geth Archive we keep all states
Fast (OverlayRecent): as geth Fast we keep all the full states of the B[-i] blocks
Light (EarlyMerge): we keep all the states of the B[-i] blocks but in differential (so it is smaller than fast but slower access)
Basic (RefCounted): we keep all the states of the B[-i] blocks like with OverlayRecent but we remove states after x changes... so we

[2018-03-22 07:15] #8188 closed

[2018-03-22 09:32] tomaka commented on #8185
Can you actually use tokio (actual question, I don't know ethcore-io enough to know)?
I think the `Core` and the `Handle` are not `Send` or `Sync`, so you cannot send sockets or (futures that contain a socket) amongst threads.

[2018-03-22 09:59] #7699 closed

[2018-03-22 10:04] holgerd77 commented on #8038
Hi @andresilva, ok, found some time today to check this, here are the results:

---

### Parity v1.8.11, local node, no internet connection

#### ethereumjs-devp2p Parity Hotfix (taking the wrong hash) enabled:
Working! (expected)

[code]

#### Parity Hotfix disabled
Not working! (expected)

[code]

### Parity v1.11.0 (nightly binary, 2018-03-22), local node, no internet connection

Binary chosen:

[2018-03-22 10:20] andresilva commented on #8038
Great! Thanks a lot for the initial report and for taking the extra time to verify that the fix is working properly. We'll include this in the next release. 🙌

[2018-03-22 11:05] 5chdn opened #8190 "Release next-beta 1.11"
**Prepare Code:**
- [x] Decide on a rough timeline, feature freeze, release date
  - [x] Feature freeze: Apr 20, 2018
  - [x] Estimated release: **Apr 30, 2018**
- [x] Do a reality-check against the [roadmap-known-issues](https://paritytech.github.io/wiki/Known-Issues-Priorities)
- [x] **Make sure UI related changes are done**
  - [ ] Remove UI and Public Node completely
  - [x] Replace :8180 with

[2018-03-22 11:43] EighteenZi commented on #8188
The key to master OverlayRecentDB is OverlayRecentDB.journal_overlay.backing_overlay.
But I still don't know why use 'journal' as the DB's name.

[2018-03-22 11:52] EighteenZi commented on #8188
Is journal  similar to 'Index'?

[2018-03-22 13:20] aditbhrgv opened #8191 "New Token Deployment and registry not working with Parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
Expected behaviour:
1.  Token deployment and token registry should work for new tokens as mentioned here https://github.com/paritytech/parity/wiki/Token-Deployment

Actual behaviour:
1.Parity

[2018-03-22 13:58] tomaka commented on #7263
cc #8075

[2018-03-22 14:00] triamazikamno opened #8192 "Can't build ubuntu-jit image"
_Before filing a new issue, please **provide the following information**._

current master branch

Linux

building from source

`docker build -f docker/ubuntu-jit/Dockerfile --tag ethcore/parity:ptx .`

[code]

[2018-03-22 14:07] tomaka opened #8193 "Implement a libp2p network backend"
Now that `network` and `network-devp2p` are separate, we can add an alternative backend for `libp2p`.

This is important if we want to put a light client in the browser, as devp2p requires dialing an UDP port, which isn't possible in the browser.

[2018-03-22 14:15] tomaka commented on #4842
Reopening as I'm going to work on this soon-ish.

[2018-03-22 14:40] Tbaut commented on #8191
* Can you update to the [latest release](https://wiki.parity.io/Parity-Wallet)
* Can you verify if the token deployment transaction went through ?
* You should find your contract address in the token overview :

![image](https://user-images.githubusercontent.com/33178835/37777171-37becc52-2de7-11e8-846a-6139bedd975c.png)

[2018-03-22 15:06] aditbhrgv commented on #8191
Hey @Tbaut,

I updated Parity to latest release 1.10.0
But now when I am starting parity with Ropston chain, My parity doesn't start up on localhost port 8180.

Logs:

parity --chain ropsten --bootnodes "enode://20c9ad97c081d63397d7b685a412227a40e23c8bdc6688c6f37e97cfbc22d2b4d1db1510d8f61e6a8866ad7f0e17c02b14182d37ea7c3c8b9c2683aeb6b733a1@52.169.14.227:30303,enode://6ce05930c72abc632c58e2e4324f7c7

[2018-03-22 15:24] Tbaut commented on #8191
@aditbhrgv here is the [new way of accessing your parity wallet](https://wiki.parity.io/Parity-Wallet)

[2018-03-22 15:46] #8191 closed

[2018-03-22 16:07] tomaka commented on #3202
This was more or less done in https://github.com/paritytech/parity/pull/8048 (except that there's only a single implementation available for now).

[2018-03-22 16:17] aditbhrgv commented on #8191
How can  I start parity with Ropston test network ?

[2018-03-22 16:46] aditbhrgv commented on #8191
Hi @Tbaut

I tried with my private blockchain with POW using ethminer and still I cannot deploy a new token.
How can I check  if my "token deployment transaction went through" ?
I mean the Dapp on parity shows that your "Token has been deployed".

Also, I am still waiting for some test ethers on my Ropston network to test same  on Ropsten test net.

[2018-03-22 17:06] Tbaut commented on #8191
As a side note, did you have a look at the [private dev blockchain](https://wiki.parity.io/Private-development-chain.html) ? It's a nice alternative to private blockchain with POW to test things.
Does your private blockchain support Ethereum smart contract ?
To check if it went through on Ropsten for instance, you can see it on https://ropsten.etherscan.io/

[2018-03-22 17:18] aditbhrgv commented on #8191
Yes I also tried the dev chain. Still no success.

My private blockchain support Smart contracts.
I checked on etherscan.io and cannot see my token transaction.

Logs:

![dev_testnet](https://user-images.githubusercontent.com/19718391/37786547-44822c70-2dfd-11e8-86cd-44d0be0aac83.png)
![token_adit](https://user-images.githubusercontent.com/19718391/37786576-54183684-2dfd-11e8-989b-71e0e7a5c99c.png

[2018-03-22 17:31] amaurymartiny opened #8194 "1.10-beta MacOS installer opens 127.0.0.1:8180"
Just download the 1.10.0-beta binary from parity.io. The installer on OSX opens 127.0.0.1:8180 in the browser (behavior in previous installers), but now ui is disabled by default, so it shows page not found.

[2018-03-22 18:18] abrahamchaibi opened #8195 "Parity Archive Mode memory consumption"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]

My node just ran out of memory. It is running on a 1tb ssd and df -h returns the following:

[code]

[2018-03-22 18:38] nyl9488 commented on #8156
2018-03-23 02:38:12  Starting Parity/v1.9.4-beta-6f21a32-20180228/x86_64-macos/rustc1.24.0
2018-03-23 02:38:12  Keys path /Users/nyl9488/Library/Application Support/io.parity.ethereum/keys/Foundation
2018-03-23 02:38:12  DB path /Users/nyl9488/Library/Application Support/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d
2018-03-23 02:38:12  Path to dapps /Users/nyl9488/Library/Application Sup

[2018-03-22 21:32] moadif opened #8196 "Synchronization error"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

This is what I get when trying to sync it for hours, I tried reinstalling multiple times and resetting database countless of times.

[code]

[2018-03-23 00:10] Tbaut commented on #8156
@nyl9488 this issue duplicates https://github.com/paritytech/parity/issues/7766
Could you please comment in this issue with your error. We will followup on the other issue and I close this one.

[2018-03-23 00:10] #8156 closed

[2018-03-23 02:44] bdrehmer opened #8197 "Verifier #1 panicked"
stack backtrace:
   0:     0x55ad5a5738dc - <no info>

Thread 'Verifier #1' panicked at 'DB flush failed.: Error(Msg("Corruption: block checksum mismatch: expected 3110324462, got 2294949896  in ~/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d/overlayrecent/db/895296.sst offset 53253 size 25483"), State { next_error: None, backtrace: None })', /checkout/src/libcore/result.rs:9

[2018-03-23 03:45] jamesray1 commented on #8001
Another update: https://gitter.im/Drops-of-Diamond/Lobby?at=5ab474e15f188ccc15e892ff

[2018-03-23 05:30] vogelito opened #8198 "Unable to build v1.9.5 from source"
These are the commands i'm trying to run:

[code]

Unfortunately the build fails with:
[code]

The full log here https://pastebin.com/yAFTGZ6X

Any help would be appreciated.

[2018-03-23 05:48] vogelito commented on #8198
My version of cargo is `0.21.0`

[code]

[2018-03-23 05:58] vogelito commented on #8198
And here is the output of `cargo build --release --verbose`: https://pastebin.com/2ta9RS5p

[2018-03-23 06:06] vogelito commented on #8198
I had to update the version of rustc.

[2018-03-23 06:06] #8198 closed

[2018-03-23 10:16] 5chdn commented on #8191
To deploy a dapp on a custom chain, you need to deploy registries first. Otherwise, you will not be able to register your Dapp for the Parity UI. This is, however, an undocumented process. I can guide you through if you insist, but I would rather recommend using chains that have registries deployed such as Ropsten or Kovan.

[2018-03-23 10:17] 5chdn commented on #7966
What's the issue?

[2018-03-23 10:20] 5chdn commented on #8092
I recommend to build from source if this leads to annoyances.

[2018-03-23 10:28] 5chdn commented on #8195
Can confirm, our archive nodes also hit that threshold. It's no. 1 on our priority list.

Duplicate of #7967

For now, get a 2TB SSD to survive another 3 months :)

[2018-03-23 10:28] #8195 closed

[2018-03-23 10:29] 5chdn commented on #8196
Please upgrade, this has been addressed!

[2018-03-23 10:29] #8196 closed

[2018-03-23 10:31] 5chdn commented on #8142
Duplicate of #7748

[2018-03-23 10:31] #8142 closed

[2018-03-23 10:31] 5chdn commented on #8110
Duplicate of #7748

[2018-03-23 10:31] #8110 closed

[2018-03-23 10:32] 5chdn commented on #8045
Duplicate of #7748

[2018-03-23 10:32] #8045 closed

[2018-03-23 10:33] 5chdn commented on #7766
Duplicate of #7748

[2018-03-23 10:33] #7766 closed

[2018-03-23 10:33] 5chdn commented on #8197
Duplicate of #7748

[2018-03-23 10:33] #8197 closed

[2018-03-23 10:36] 5chdn commented on #8128
This is not a client issue, this could be also an Authority node with wrong time settings. This is rather a warning not an error.

[2018-03-23 10:36] #8128 closed

[2018-03-23 10:37] 5chdn commented on #7160
@andresilva any idea?

[2018-03-23 10:56] 5chdn commented on #8183
1.10 is out

[2018-03-23 10:56] #8183 closed

[2018-03-23 11:00] 5chdn commented on #8161
See also https://ethereum.stackexchange.com/questions/15411/parity-account-addresses-all-having-prefix-0x00

[2018-03-23 11:03] lastperson commented on #7166
@debris
Same applies for the `callcode`.

[2018-03-23 11:39] 5chdn commented on #8094
Duplicate of #7748

[2018-03-23 12:13] c0deright commented on #7531
Issue is present in 1.8.11-stable

[2018-03-23 12:52] jamesray1 commented on #7748
![img_20180323_234924](https://user-images.githubusercontent.com/16969914/37829969-e50aa956-2e98-11e8-8003-e5304eef0fbe.jpg)
I had the same issue (but not now), and have no memtest.

[2018-03-23 14:15] 5chdn commented on #7531
Interesting: it works if you delete the network key?

Could it be we do some too aggressive peer blocking in some cases? @tomusdrw any idea?

[2018-03-23 14:31] 5chdn commented on #7263
While #8075 is the groundwork for this I would appreciate more control options for the end user here

[2018-03-23 14:32] c0deright commented on #7531
Deleting the network key and the very big (several MB) nodes.json usually works, yes. But only for about a week or so.

[2018-03-23 14:38] 5chdn commented on #7531
The nodes.json issue is fixed already. #7716

I'm interested to figure out the relationship with the network key. Blocking peers (obviously by key) could be a reason.

[2018-03-23 14:47] niklasad1 commented on #7542
@tsutsu @debris
Is this solved?

[2018-03-23 14:51] niklasad1 commented on #7268
@dushad

Can you give us an update on this?
Do you still have this problem on ```Parity 1.9.4```?

[2018-03-23 15:05] tomusdrw commented on #7531
@c0deright Could you please collect logs by running with `-lsync=trace`? It will produce a lot of output, but it would be best to start it after you have troubles connecting to other peers. If you send us the logs together with your `nodes.json` file at that point in time we'll analyze what's going wrong.

[2018-03-23 15:10] 5chdn commented on #8192
Which rust version is that?

[2018-03-23 15:12] 5chdn commented on #7268
Or 1.10.0 :)

[2018-03-23 15:24] triamazikamno commented on #8192
Whatever is installed by that Dockerfile I suppose - 1.24.1 at the moment

[2018-03-23 19:11] vogelito opened #8206 "Transaction Trace does not match Etherscan transaction trace"
I see a different output when using my node's JSON RPC and run

```(reverse-i-search)`curl': curl --data '{"method":"trace_transaction","params":[ "SOME_TX"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST localhost:8545
[code]

Any help would be appreciated :)

[2018-03-23 19:36] clowestab commented on #7166
Led here from the release notes for 1.10.0

"We fixed DELEGATECALL" imo is an insanely unhelpful release note - it points here where no definitive conclusion was documented as to exactly what the issue was. Nowhere (apart from the code) is it explained what has changed and why.

I think this is pretty important in the context of tjayrush's comment. 3rd parties rely on responses from Parity. They a

[2018-03-23 19:42] UGatgithub opened #8207 "Parity crashes at startup"
Hi, my parity crashes at startup. PC restart uninstall and reinstall Parity did not help.
I had to reset my home network this week and don't know if it is related to that.

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

2018-03-23 20:35:57  Starting Parity/v1.9.5-stable-ff821daf1-20180321/x86_64-windows-msvc/rust

[2018-03-23 20:06] UGatgithub commented on #8207
Did a test and renamed c:\Users\r-u-g\AppData\Local\Parity\Ethereum\ to c:\Users\r-u-g\AppData\Local\Parity\Ethereum.bak\, tried to restart and now Partity works again and started to resync.

[2018-03-23 21:31] ravensorb commented on #7212
I too am running into this issue using the latest docker container

[2018-03-23 22:11] vogelito commented on #8206
Actually, I found that calling `trace_transaction` is different to calling `trace_replayTransaction` with `trace` as a parameter. Any reasons why?

[2018-03-23 22:14] iFA88 commented on #7765
On `Parity/v1.9.5-stable-ff821daf1-20180321/x86_64-linux-gnu/rustc1.24.1` with full re-sync the problem is still available.

[2018-03-24 00:28] jamespic commented on #7820
The issue looks to be that `signer_confirmRequest` is being called with `null` as a password, which the backend doesn't accept. If I inject an empty string as the password, then I can sign transactions. I can't tell whether it's going to be easier to make the backend accept null, or the front-end send send a non-null password (I don't totally grok the signer code yet).

[2018-03-24 05:42] debris commented on #7542
afaik no. this bug originates from hidapi and pr which fixes it is still pending -> https://github.com/signal11/hidapi/pull/359

[2018-03-24 11:19] aditbhrgv commented on #8191
HI @5chdn

That would be great if you can guide me regarding that.
But as of now, I just need to generate and deploy my custom Token(even on Ropsten).

I already started my parity as "parity ui --chain ropsten"
and I requested some test ethers from http://faucet.ropsten.be:3001/
But unfortunately I don't get the ethers to test my custom token deployment.

How can I get test ethers in my parity acc

[2018-03-24 12:44] EighteenZi opened #8208 "Does the AccountDBMut::combine_key works in the correct way?"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

In the method 'AccountDBMut::insert', we call 'combine_key', and then call db.emplace.
If AccountDBMut's db is 'MemoryDB', and the value is new, the 'emplace' method will call entry.insert(),

[2018-03-24 13:27] aditbhrgv commented on #8191
I can finally able to deploy tokens and register them on Ropsten network.
One last thing I need to know, is How can I add image to my tokens ?
I tried to set meta data by giving URL of images and it is mined as well, still I can't see images on my tokens.
How can I do that ?

[2018-03-24 14:11] Tbaut commented on #8206
@vogelito could you give the output of the calls on the tx you are analyzing ? It would help us reproduce the behavior.

[2018-03-24 15:51] Tbaut commented on #8191
@aditbhrgv I just tried with success, please follow carefully the tutorial and make sure to sign both transactions. The token image can take time to appear, but after a couple minutes it appears next to you account.

[2018-03-24 20:47] AntoniosHadji commented on #8077
I'm seeing  the same behavior on v1.9.5.  just upgraded from 1.8.10 a few hours ago.

[2018-03-25 02:10] RJW1875 opened #8210 "Help Updating Please"
Just wondering how to update without losing all the chain-data as the auto-update doesn't seem to be working. Current version works fine; but would like to go to 1.9. Is it as simple as uninstalling and installing the newer file?

Cheers

[2018-03-25 03:52] xftroxgpx opened #8211 ""multiple applicable items in scope" & "multiple `flatten` found" (while compiling from source)"
commit 8c02211dc369f109d64701838ea2b57ddc2e3a11 (HEAD -> master, tag: nightly, origin/master, origin/HEAD)

Linux

not yet, compiling from source...

**steps to reproduce**

1. git clone https://github.com/paritytech/parity
2. cd parity
3. cargo build --release

[code]

[code]

[2018-03-25 10:04] UGatgithub commented on #8207
I found a solution for myself but not sure i fyi should close this now.

[2018-03-25 10:11] UGatgithub opened #8212 "Best block shows time but no date"
Checking the Node information on Windows I see something like:

#5,215,466
Best block, at 01.09.22

which looks to me like there is a date missing to be displayed.

I'm running:

Which Parity version?: v1.9.5-stable-ff821daf1-20180321/x86_64-windows-msvc/rustc1.24.1
Which operating system?: Windows
How installed?: via installer
Are you fully synchronized?: no not synced completely yet
Which networ

[2018-03-25 15:15] bjornwgnr opened #8213 "Whisper: Mock network for testing applications"
@rphmeier should be able to provide additional information

[2018-03-25 15:16] bjornwgnr opened #8214 "Whisper: Full RPC integration"
@rphmeier should be able to provide additional information

[2018-03-25 17:32] maxidev commented on #8065
Is there any update on this? PoA networks using validator contracts actually can't fork the chain due to this bug.
Thanks in advance.

[2018-03-25 18:18] ravensorb commented on #6372
So is this a "not to fix"?  If so, does that mean that parity is being retired -- this is a show stopper for anyone looking to setup a new node. I have been trying for almost 4 days and have resulted to now try the "no warp" sync which looks like it may take another 4 days.  If so, that is going to be pretty much useless in terms of bringing new nodes online.

[2018-03-25 19:53] AntoniosHadji commented on #8077
I'm seeing this message in the console:
[code]

[2018-03-25 19:54] drandreaskrueger opened #8215 "tokens never shown (v1.9.4 & 1.9.5 --light)"
I have tried to restart it a few times, but with

    parity --light ui

... tokens are never showing.

Perhaps this console output helps you?
[code]

Parity/v1.9.4-beta-6f21a32b2-20180228/x86_64-linux-gnu/rustc1.23.0

also tried
Parity/v1.9.5-stable-ff821daf1-20180321/x86_64-linux-gnu/rustc1.24.1
... = same

no tokens shown

tokens shown.

[2018-03-25 20:48] bittylicious commented on #7730
We are finding this happening alot, often blocking many transactions afterwards. We don't specify a gas price (just leave it up to Parity) and definitely not a nonce, yet we see this regularly. Any ideas why?

[2018-03-26 01:32] gaia opened #8216 "Low Peer Count on 1.9.5 stable"
Been running since 1.9.5 stable was released but peers are still 28/50. Conf is 20/50.

I've had this problem with an earlier version (see https://github.com/paritytech/parity/issues/7531) but the last stable was consistently near 50 peers.

[2018-03-26 01:50] jamesray1 commented on #8001
I just updated the header comment.

[2018-03-26 03:09] codewiz commented on #6372
With warp-sync no longer working and the light client not ready yet, Parity is completely unusable for me and, I guess, for anyone who can't afford to sync the full blockchain.

The suggested workaround of killing the db does the trick, but has to be redone every time I open Parity so it's also unfeasible.

If warp mode can't be fixed, can it at least any mention to it be removed from end-user doc

[2018-03-26 03:33] brandoncurtis opened #8217 "`eth_getFilterLogs` does not return most logs between blocks 5,200,000 and 5,300,000"
`parity --pruning=archive --fat-db=on --tracing=on`

## Expected Behavior

`eth_getFilterLogs` should return all of the logs that match the filter.

## Actual Behaviour

`eth_getFilterLogs` only returns a tiny subset of the logs between blocks 5,200,000 and 5,300,000.

We're currently at block 5,382,200.  This is a full-archive node, and I believe the last snapshot process may have been interrupte

[2018-03-26 03:50] brandoncurtis commented on #8210
Yep!  You can install 1.9 over 1.7.11 and it should work perfectly.

[2018-03-26 04:07] boxofscraps opened #8218 "Unlock Password"
I am trying to unlock my account.  First, I added the public address for accounts to unlock in toml config. I then set the password file location to "%UserProfile%/password.file" for the toml configuration.

I keep getting the error: invalid type: string "%UserProfile%/password.file", expected a sequence for key `account.password`.

My password.file is located in my %UserProfile% directory. Inside

[2018-03-26 05:42] brandoncurtis commented on #8218
To unlock an account, put this in your config.toml:
[code]
in password.file, put your password in plaintext.

Place the keyfile for 0xYOURADDRESS in $PARITYDIR/keys/kovan/yourkeyfile.

You can use a tool like https://github.com/ethereum/eth-keyfile or https://github.com/ethereumjs/keythereum to convert your raw private key into a password-protected keyfile.

[2018-03-26 05:48] rphmeier commented on #8208
yes, it does work, please read more carefully.

[2018-03-26 05:48] #8208 closed

[2018-03-26 06:04] 0x7CFE commented on #8185
@tomaka, please correct me if I'm wrong, but I do not see a problem here.

Looks like Parity internals use `util::io` facade to get even loop functionality. And if we [look at the API](https://github.com/paritytech/parity/blob/master/util/io/src/service.rs#L44)  we may see, that most of the `Message` generics are bounded  by `Send + Sync`.

I even tried forcing `+ Sync` bound to `IoChannel`, `IoMe

[2018-03-26 07:01] tomaka commented on #8185
Right now the sockets are identified by a `StreamToken`, which is just a `usize`, but it is essentially the mio events loop that *owns* the sockets.

If you switch to tokio, however, you would need to manipulate `TcpStream` objects instead of `usize`s, and these are not `Send` or `Sync` if I'm not mistaken (could be wrong here).
Since `TcpStream` implements traits from the `futures` crate, the cod

[2018-03-26 07:03] tomaka commented on #8185
Also, once you build a `future` you need to send it back to `ethcore_io` in the correct thread so that it is passed to the `Core::run` function. This further complicates the problem.

[2018-03-26 07:14] EighteenZi commented on #8208
Sorry...
I misunderstood the meaning of "HashMap.entry".
Thans a lot.

[2018-03-26 08:13] boxofscraps commented on #8218
I obtained a keystore file from myetherwallet and placed it in %UserProfile%\AppData\Roaming\Parity\Ethereum\keys\kovan.

for the password.file, I have just put in the password for the keystore.  Which one should it be? Nothing is working.  I have tried the same process with a second wallet to no success.
My file path for toml is : password = "%UserProfile%/password.file" . Perhaps something needs

[2018-03-26 08:16] #8210 closed

[2018-03-26 08:38] Tbaut commented on #8077
@AntoniosHadji could you please upgrade to [v1.10](https://github.com/paritytech/parity/releases/tag/v1.10.0) (notice the changes in [accessing Parity Wallet](https://wiki.parity.io/Parity-Wallet) ) and report back the errors in parity console and web console (ctrl+shift+i in Parity UI app)

[2018-03-26 09:02] tomaka commented on #8185
Another problem is that even if you track which thread each `TcpStream` belongs to, a particular user of `ethcore_io` may want to merge multiple `TcpStream` objects together, and these streams may belong to multiple different threads.

I think `tokio` in general is not meant to be used from multiple different threads.
It could make sense to use only a single worker and make Parity as a whole entir

[2018-03-26 09:40] 0x7CFE commented on #8185
@tomaka, thank you very much for the detailed explanation! It is much clearer now. I would try to find a solution.

[2018-03-26 09:46] Tbaut commented on #8218
@boxofscraps getting a bash shell such as [git bash](https://gitforwindows.org/) would probably help a lot to run linux commands. You can try withing the command line with `--unlock "0xYOURADDRESS" --password <(echo "YOURPASSWORD")`

[2018-03-26 09:51] debris commented on #8185
cc @tomaka

You could also `split` `&TcpStream` into `ReadHalf` and `WriteHalf`. There would still be a single place owning streams, but halfs could be safely passed between threads

[2018-03-26 09:52] debris commented on #8185
wouldn't that be enough?

[2018-03-26 09:55] debris commented on #8185
ah, actually that would not work... That's how I 'solved' this problem in [parity-bitcoin](https://github.com/paritytech/parity-bitcoin/blob/master/p2p/src/io/sharedtcpstream.rs)

[2018-03-26 10:00] quake3a commented on #7966
I can not fully synchronized with the chain on wallet.parity.io and register the token...
Can not sign the transaction for the registration.

[2018-03-26 10:06] 5chdn commented on #6372
@ravensorb The issues have been identified and split into sub-tasks, you can find an overview here: https://wiki.parity.io/Known-Issues-Priorities

@codewiz Warp-sync is not broken per se, and it works very well for any other chain than Ethereum. The current state size for Ethereum is a serious problem, and this is not a Parity issue in first place.

[2018-03-26 10:08] Tbaut commented on #6372
@ravensorb we will definitely attempt to fix it, this is a duplicate. See the list of [known issues](https://wiki.parity.io/Known-Issues-Priorities), this is the 1.3
Anyone looking to setup a new node should be either interested in having the whole DB locally to query it heavily, the need for a full node is implicit. These user will have to wait for a full sync, this is clear. Anyone looking for a

[2018-03-26 10:12] Tbaut commented on #8216
@gaia May I ask what real world difference you see between 25 and 50 ?

[2018-03-26 10:15] 5chdn commented on #7730
Nonces are a known annoyance but there is not much the client can do about this if a transaction is not mined - for instance - blocking all following transactions, this has to be watched carefully in a 2nd layer application and handled appropriately.

[2018-03-26 10:16] Tbaut commented on #7730
@bittylicious as discussed in the chat, please open a new issue as soon as you get a trace of these "stuck transactions" to see if this is a bug.

[2018-03-26 10:20] debris opened #8221 "Command line utility for recreating traces"
It should be possible for users with fatdb to recreate tracesdb.

cc #8217

[2018-03-26 10:23] debris commented on #8217
Thanks for the report @brandoncurtis . We will investigate the issue. We'll also add a possibility to recreate traces for fatdb nodes #8221

[2018-03-26 10:26] tomaka commented on #8185
I don't think `Arc<TcpStream>` would solve the problem, because it wouldn't be `Send` either.

I don't know how parity-bitcoin is organized, but from a quick look you don't seem to use a thread for I/O (and therefore not facing the same issues).

[2018-03-26 10:29] axelchalon commented on #8218
The value of `password` needs to be an array.

In your toml use this:
`password = ["%UserProfile%/password.file"]`
instead of this:
`password = "%UserProfile%/password.file"`

[2018-03-26 10:31] tomusdrw commented on #8221
Why fatdb? I think you can recreate tracesdb from any db, given that you have the state (so probably archive would be required) before the block.

[2018-03-26 10:36] melnikaite commented on #6372
I tried light client 1.9.5-stable. Unfortunately it took 5 hours to get synced. Database size is just 2.5 Mb, but downloading speed is extremely slow.

[2018-03-26 11:02] 0x7CFE commented on #8185
Maybe we could solve the issue by not trying to send stuff that isn't `Send` in the first place? I may imagine an architecture, where requests are delegated to `TcpStream` (that resides in the same thread where it was created) using messages that are dispatched by the event loop.

[2018-03-26 11:17] 0x7CFE commented on #8185
@tomaka, as for version 0.1.4 I believe [they are implemented](https://docs.rs/tokio/0.1.4/tokio/net/struct.TcpStream.html#synthetic-implementations).

[2018-03-26 11:26] m5x commented on #7820
I have the same issue with Parity 1.9.5 and Trezor. Is there some workaround? I really need to send some ethereum out...

[2018-03-26 11:32] niklasad1 opened #8222 "util/patricia_tree `eliminate expect()`"
https://github.com/paritytech/parity/blob/master/util/patricia_trie/src/lookup.rs#L58

[2018-03-26 12:00] tomaka commented on #8185
Oh, I guess I was mistaken then.
But I suppose that you still have to run them in the correct thread afterwards, right?

[2018-03-26 12:06] aditbhrgv commented on #8191
Hi @Tbaut

I tried to add metadata by giving a URL of an image. My transactions are mined as well as shown below, still no picture.
![transactions_metadata_mined](https://user-images.githubusercontent.com/19718391/37905265-950db52a-30fe-11e8-82a4-93822b3a0bf3.png)

A read somewhere that you might have to register URL first on  GITHUB HINT ?
Is it the case which I am doing wrong ?

THanks

[2018-03-26 12:18] niklasad1 commented on #8207
@UGatgithub

Hi, can you verify if you get these errors running parity without hardware-wallet:
[code]

If that works then run parity with hardware wallet and provide the logs please:
[code]

[2018-03-26 13:00] jennazenk opened #8224 "DB corrupted"
When I run `parity --chain kovan`, I get the following error message.

[code]

If I try to restart I get:

[code]

[2018-03-26 13:01] ravensorb commented on #6372
@5chdn @Tbaut thank you for the update -- it is much appreciated and I am glad to see it is on the list of items to be fixed.  While it is being worked on is there any options for getting a full DB on a new node up and working?

[2018-03-26 13:02] ravensorb commented on #6372
Also if it helps, I think the warp sync issue also occurs when parity maxes out the IO of the storage system (its not just low memory)

[2018-03-26 13:27] 5chdn commented on #6372
@melnikaite 5 hours is incredibly fast for verifying 5.3 million block headers :)

@ravensorb to get a full parity DB synchronized, just leave your client running overnight. ideally, on a machine with SSD.

[2018-03-26 13:28] 5chdn commented on #8191
One of the two transactions is Github hint. Try to hard-reload your wallet, please.

[2018-03-26 13:30] melnikaite commented on #6372
@5chdn Is it possible to disable verifying?

[2018-03-26 13:33] 5chdn commented on #6372
@melnikaite yes #8075 - in 1.11:

[2018-03-26 13:39] aditbhrgv commented on #8191
Thanks ..Got it fixed finally!

[2018-03-26 13:47] quake3a commented on #7966
oh :(
what you could recommend me ?

[2018-03-26 13:50] 5chdn commented on #7966
Couldn't you just sync a node and wait till it's done?

[2018-03-26 13:52] 5chdn commented on #8224
Duplicate of #7748

[2018-03-26 13:52] #8224 closed

[2018-03-26 13:53] quake3a commented on #7966
Right, i can't sync a node.
Waiting for a 2 days since start. It's still 33%

[2018-03-26 13:53] 5chdn commented on #8224
Duplicate of #7766

[2018-03-26 13:55] ravensorb commented on #6372
@5chdn I was afraid of that :)  I am now going on 23 hours using the nightly docker image (pulled just before I started the sync) and it is stuck at 90.90%

I'll give it another few hours and than if it doesn't make any progress, I'll kill it, clear the db, and try again.

[2018-03-26 13:55] 5chdn commented on #7859
Duplicate of #7340

[2018-03-26 13:56] 5chdn commented on #8207
Duplicate of #7340

[2018-03-26 13:56] #8207 closed

[2018-03-26 13:58] 5chdn commented on #6372
No need to kill the DB, just leave it running, otherwise it will start from scratch again

[2018-03-26 13:58] 5chdn commented on #7966
33% of what? which is your latest block number?

[2018-03-26 14:00] #8218 closed

[2018-03-26 14:03] 5chdn commented on #8216
You have 28 of 50 and configured for 20 of 50? Not sure if I understand your question correctly, but you have more peers than you are configuring your node for.

[2018-03-26 14:03] #8216 closed

[2018-03-26 14:06] p-s-dev opened #8226 "portshift not accounted for in "signer new-token" console link"
when running command line to generate a token...
/parity/parity signer new-token

it prints a link to visit.  This link uses the standard port.  It does not take in to account if the node is running with shifted ports.

Open: http://127.0.0.1:8180/#/auth?token=123

Actual:
`/parity/parity --ports-shift 7777 `
`/parity/parity signer new-token`
Open: http://127.0.0.1:8180/#/auth?token=123

Expected:

[2018-03-26 14:06] 5chdn commented on #8077
Should be tracked here: https://github.com/Parity-JS/dapp-wallet/issues

[2018-03-26 14:08] tomusdrw commented on #8226
Is the port-shift configured in a config file? If no, what does `parity --ports-shift 100 signer new-token` return?

[2018-03-26 14:09] 5chdn commented on #8226
The node does not know about your ports-shift unless you tell it about it.

[code]

[2018-03-26 14:09] #8226 closed

[2018-03-26 14:11] 5chdn commented on #8065
#6211 #6656 ?

[2018-03-26 14:12] quake3a commented on #7966
#4,321,010
and it is very very slowly raising

[2018-03-26 14:14] #8215 closed

[2018-03-26 14:14] 5chdn commented on #7966
Are you on HDD or SSD?

[2018-03-26 14:17] 5chdn commented on #8212
@Tbaut  Please move this to https://github.com/Parity-JS/dapp-status/issues

[2018-03-26 14:24] 5chdn commented on #8179
We could have an `EvmActivationTransition` so custom chains could set this to `0x7fffffffffffff` to have Wasm only.

[2018-03-26 14:34] 5chdn commented on #8170
It can not reorg at depth 0 from what I understand if both blocks (received within 1 second) are valid. The miner of the next block 5292043 can include one of the two previous blocks as an uncle, so this is not a reorganization per se.

[2018-03-26 14:34] #8170 closed

[2018-03-26 14:45] Tbaut commented on #8212
Moved to https://github.com/Parity-JS/dapp-status/issues/2

[2018-03-26 14:45] #8212 closed

[2018-03-26 14:46] niklasad1 commented on #6373
I'm closing this because the responses are not even on the same channel and I can't reproduce this.

[2018-03-26 14:46] #6373 closed

[2018-03-26 15:12] jamespic commented on #7820
You can work around it with `parity signer list`, `parity signer sign SIGNING_REQUEST_ID` from the command line.

[2018-03-26 15:30] Tbaut commented on #7407
[code]
in https://github.com/paritytech/parity/blob/master/parity/cli/mod.rs#L773

Should be
[code]

[2018-03-26 15:36] gaia commented on #8216
@Tbaut for certain as first come first serve tasks, it seems that having 50+ peers increases the speed in which transactions are picked up.

@5chdn Min: 20 & Max:50. Previous versions had no problems running close to the max # of peers.

[2018-03-26 15:47] niklasad1 commented on #8211
Yeah, but officially `parity` is on the stable channel of Rust as the `rust-toolchain` file specifies where those warnings doesn't show yet at least!

[2018-03-26 16:44] twittner commented on #8185
I think more recent mio versions and tokio >= 0.1 are `Send + Sync` from tip to toe (except for explicit current thread execution), so moving a `TcpStream` over thread boundaries or using it concurrently should not be an issue AFAICT.

[2018-03-26 16:53] niklasad1 commented on #8192
I have verified the behavior: ```rust version 1.24.1 (d3ae9a9e0 2018-02-27) ```

[2018-03-26 17:10] ravensorb commented on #6372
@5chdn I noticed :)  It seems to take about 2 hours to get to block 4880040 and then it drops to syncing a block every 2 seconds.  If my math is right, that means I am looking at almost 10 days to complete the last 446k blocks.  Does that sound correct??

[2018-03-26 17:17] kirushik commented on #8211
I don't think rust-lang/rust#48213 is going to land in stable Rust anytime soon, so I'm lowering the priority.
Also, I don't see any reason to run on `nightly`, even in development — since both incremental compilation and RLS are available in `stable`.

[2018-03-26 17:41] Tbaut commented on #7405
For [rpc] https://github.com/paritytech/parity/blob/master/parity/cli/mod.rs#L444 has per default
`"web3,eth,pubsub,net,parity,parity_pubsub,traces,rpc,shh,shh_pubsub"`

For [websockets] https://github.com/paritytech/parity/blob/master/parity/cli/mod.rs#L477 has per default
`"web3,eth,pubsub,net,parity,parity_pubsub,traces,rpc,shh,shh_pubsub"`

For [ipc] https://github.com/paritytech/parity/blob/m

[2018-03-26 18:42] Boterick commented on #7859
problem unchanged, why closed?

[2018-03-26 19:14] vieiralc commented on #6779
what do you have in your "ropstenpeers.txt"?

[2018-03-26 19:19] m5x commented on #7820
Thanks for the hint. Worked like a charm.

[2018-03-26 21:39] taoeffect commented on #8128
Well, it wasn't an "Authority node" and the time settings were correct. However, I'll note that the issue does seem to have mostly gone away with the latest beta.

[2018-03-26 22:10] Tbaut commented on #7859
Because a similar issue has already been open, please follow https://github.com/paritytech/parity/issues/7340

[2018-03-27 01:42] AntoniosHadji commented on #8077
@Tbaut in v1.10 I can access the built-in Dapp and it appears to be working normally.  There are web console errors. I'm not seeing any errors in the parity logs.
As suggested by @5chdn, I reported console errors here: https://github.com/Parity-JS/dapp-wallet/issues/6

[2018-03-27 02:18] debris commented on #8221
I would put this feature in database-fix utilities, so I believe that we do not need an rpc for that

[2018-03-27 03:38] boxofscraps commented on #8218
I suggest that Parity Config Tool should be updated to reflect that path for address needs to be an array.
https://paritytech.github.io/parity-config-generator/

[2018-03-27 03:55] boxofscraps opened #8230 "Format of Password File"
I am getting "Unable to read password file. Ensure it exists and permissions are correct." error when trying to unlock my account:

I have verified that the account I am trying to unlock is listed under: parity account list

I have tried what was explained here: https://github.com/paritytech/parity/issues/6615
In my password.file, I current have: password  (on the first line, no extra spaces in pl

[2018-03-27 05:49] boxofscraps commented on #8218
Now I am getting the error: Unable to read password file. Ensure it exists and permissions are correct.
My password.file only has my password, no spaces. (I used echo password > password.file. When I copy the text from my password.file into myetherwallet, it is able to unlock my address.

[2018-03-27 06:01] 0x7CFE commented on #8185
FYI https://crates.io/crates/tokio-pool

[2018-03-27 07:45] niklasad1 commented on #7229
@nicholasfoden

Hi, can you upgrade to `parity 1.9.4` or later and verify if you still have this issue.

If that is the case, can you verify if you get these errors running parity without hardware-wallet:
[code]

If that works then run parity with hardware wallet and provide the logs please:
[code]

[2018-03-27 07:52] niklasad1 commented on #7859
@Boterick Sorry for the inconvenience I have updated the reference to relevant open issue!

[2018-03-27 07:55] niklasad1 commented on #7859
@5chdn @Tbaut I don't agree I think they are unrelated and therefore re-opened again!

[2018-03-27 09:27] romemore opened #8232 "Thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value', /checkout/src/libcore/option.rs:335"
Node running via docker/stable-release on Ubuntu 16.04
Occured during synchronization(~81%)

[2018-03-27 09:33] Tbaut commented on #8232
Duplicates, @romemore please follow and if you can, help us answer open questions from https://github.com/paritytech/parity/issues/7340

[2018-03-27 09:33] #8232 closed

[2018-03-27 10:05] AntoniosHadji commented on #8077
This morning, my accounts are not showing again in the wallet dapp.  I suspect this has to do with the signer token being changed.

[2018-03-27 10:21] #7405 closed

[2018-03-27 10:21] #7407 closed

[2018-03-27 10:28] 5chdn commented on #8097
Partially addressed in #8228

For the other warp-sync issues see a listing at https://wiki.parity.io/Known-Issues-Priorities

[2018-03-27 10:30] 5chdn commented on #8128
What I meant is that the authority node authoring a block with a wrong timestamp sending it to your node with correct time settings. So not much you can do about it

[2018-03-27 10:31] 5chdn commented on #6779
@vieiralc please upgrade your client, it contains a list of working bootnodes.

See:

https://github.com/paritytech/parity/blob/dbc4d85f0abff5c81f862325890ff6da885f0be1/ethcore/res/ethereum/ropsten.json#L56-L59

[2018-03-27 10:32] 5chdn commented on #6372
Looks about right

[2018-03-27 10:35] 5chdn commented on #8216
It does not try to connect to more than `min` peers.

If you want more than 50, set min accordingly! :)

[2018-03-27 10:36] jamesray1 commented on #8097
I'm still syncing on my desktop and laptop. I'm up to #4139126 on the desktop and# 2464590 on the laptop.

[2018-03-27 10:42] 5chdn commented on #8097
Nice!

[2018-03-27 10:44] #8077 closed

[2018-03-27 10:46] 5chdn commented on #7859
Happy to have them both if you can distinguish them :)

[2018-03-27 10:47] jamesray1 commented on #8097
Well, kinda, but not really, it's taking a very long time!

[2018-03-27 10:48] 5chdn commented on #8230
Please share how you are passing the file to parity.

[2018-03-27 10:50] 5chdn commented on #8211
I'm even further lowering the priority by closing this issue so we can take care once this actually is an issue :)

[2018-03-27 10:50] #8211 closed

[2018-03-27 10:51] 5chdn commented on #8097
Yeah, the story of my life :(

It's worth getting decent SSDs with huge capacity at some point if you plan to play around with Ethereum a lot.

[2018-03-27 11:13] jamesray1 commented on #8097
Haha. Yeah, my desktop is Intel Core i3 with a smallish SSD.

![screenshot from 2018-03-27 22-11-41](https://user-images.githubusercontent.com/16969914/37964066-eb62ab52-320b-11e8-9afe-841327775c92.png)

I've got upgrading my desktop on the to-do list, and I am working on sharding full-time, so that is playing around with Ethereum a lot.

https://wiki.parity.io/Known-Issues-Priorities is a good li

[2018-03-27 13:27] oryband commented on #6784
any chance to continue development of this issue?

[2018-03-27 13:36] ascjones commented on #8222
I added this as part of #8033. Originally the call to Node::decoded was unsafe for invalid rlp, because of the unwraps in Rlp e.g. https://github.com/paritytech/parity/blob/master/util/rlp/src/rlpin.rs#L126

The DecoderErrors are now propogated and can be handled further up. In this case I originally added a DecoderError case to `TrieError` but ran into a couple of issues and decided to add the ex

[2018-03-27 14:11] Tbaut commented on #8218
I gues the problem is the path to your password file. Make sure it doesn't contain any macro such as %UserProfile% or $HOME. I just tested it successfully with relative and direct path. I'll update the wiki.

[2018-03-27 14:31] izgzhen commented on #8158
From what I found, https://github.com/paritytech/parity/blob/04931618ed840decdaa7e90c20d2855c74355763/ethcore/transaction/src/transaction.rs#L40-L47 might be related.

There is no `Suicide` action in this `enum Action`.

[2018-03-27 14:43] folsen commented on #6784
@oryband we've been working on some big refactorings of the UI, so this has been continually downprioritized. There just aren't all that many trezor users and even fewer that use the passphrase option. That said, it would still be nice to get it in there. With the UI split off in its own repo maybe it'll be easier to attract contributions from those who actually intend to use the feature.

[2018-03-27 14:50] drandreaskrueger commented on #8215
WHAT?

*meh*

Then I am only 60% helped now. I have value in tokens. Am I the only one?

? --> How to move my tokens now  that

(a) parity --warp is [unable to catch up](https://github.com/paritytech/parity/issues/7801), but
(b) the [light client is not compatible](https://github.com/paritytech/parity/issues/8215#issuecomment-376180479)

?

In https://github.com/paritytech/parity/issues/8145#issue

[2018-03-27 15:06] julien-marchand opened #8235 "Performance improvement on Elliptic Curve operations"
**Actual state**
I'm working on a application/platform on parity using PoA.
Network: 50 nodes Parity on 1.10.0-beta-0a9d41e
Consensus: PoA, 1s block time, 20M gas
Transactions: All transactions involve huge solidity calculations: zkp using ecmul and ecadd precompiles on alt-bn128 elliptic curve.
Gas per tx: ~200 * ecmul + 150 * ecadd + 1,3 M (= 1,7 M given our genesis)
My current throughput is rea

[2018-03-27 15:30] boxofscraps commented on #8230
Thanks for the quick response.
I used the toml configuration and my config.toml has the following.

chain = "kovan"
[account]
unlock = ["0xADDRESS"]
password = ["%UserProfile%/password.txt"]

I then used the command line from %UserProfile%. echo password > password.file

[2018-03-27 15:36] Tbaut commented on #8230
I answered you in https://github.com/paritytech/parity/issues/8218
I guess the problem is the path to your password file. Make sure it doesn't contain any macro such as %UserProfile% or $HOME. I just tested it successfully with relative and direct path. I'll update the wiki.

[2018-03-27 16:17] AyushyaChitransh opened #8237 "[RPC] Error while generating receipt of transactions: Transaction with the same hash was already imported."
--

I'm trying to send many transactions from a account rapidly. It works to some extent. I am able to successfully send ~200 txns(transfer eth from one EOA to another). But when I try to send more txns, I get an error response from the client stating that

or

But when I check the explorer, I see that all txns have gone through. Even the ones which said `Transaction with the same hash was already

[2018-03-27 16:31] tomusdrw commented on #8237
Do you mind running with `-lrpc=trace,txqueue=debug,miner=debug`?

Could you check if the behaviour occurs as well when running with `--jsonrpc-threads 0`

[2018-03-27 17:55] vogelito commented on #8206
Hi @Tbaut - anything else I can provide to help you get to the bottom of this? The specific problem is that one of the traces in the `trace_replayTransaction` call includes `"error": "Reverted"` whereas the same trace in the `trace_transaction` call doesn't include the error message.

Any help would be very appreciated.

[2018-03-27 18:36] AyushyaChitransh commented on #8237
Yes sure, I'll update more details on this by tomorrow.

[2018-03-27 21:05] jamesray1 commented on #8097
Do you have any suggestions for a good desktop computer tower?

[2018-03-27 22:36] taoeffect commented on #8128
"Authority node"? I thought those were only for Proof-of-Authority? This was happening on the main chain which doesn't have authorities AFAIK.

[2018-03-28 01:50] debris opened #8238 "add test for NodeFilter which checks if cache is cleaned up properly"
If needed, change the interface of NodeFilter as well

https://github.com/paritytech/parity/pull/8231#issuecomment-376733001

[2018-03-28 01:53] debris commented on #8158
@izgzhen it's not related. If transaction rlp has destination, it's a call to a contract. If it does not, it's creating a new one. There is no other option :)

[2018-03-28 01:59] debris commented on #8097
I'm not an expert in hardware, bo for me, anything below i7 + 16gb ram is unusable for dev work

[2018-03-28 02:53] boxofscraps commented on #8230
Yes, I appreciate your help in https://github.com/paritytech/parity/issues/8218. Unfortunately, I still have an issue with unlocking my account. I have attempted at reading every github issue or stackoverflow question regarding unlock parity but still cannot figure out what to do. I feel very frustrated at myself as everyone else has been able to do it without so much assistance.

Previously, I wa

[2018-03-28 03:07] #8230 closed

[2018-03-28 04:09] debris opened #8239 "impl error::Error for ethcore::Error"
Could be also done by moving `ethcore::Error` to `error_chain`

https://github.com/paritytech/parity/pull/8150#discussion-diff-177361219R276

[2018-03-28 06:29] debris opened #8240 "unify FakeFetch/TestFetch"
[code]

[code]

There are 4 implementations which are almost the same. Let's replace them with a library

[2018-03-28 06:42] debris opened #8241 "use accrue_bloom to build header Bloom"
as described [here](https://github.com/paritytech/parity/pull/8227#discussion_r177649844) it is more efficient to use `accrue_bloom` than `|` operator

[2018-03-28 07:46] olzhas498 opened #8243 "Expanse Node don't sync to peers"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

![image](https://user-images.githubusercontent.com/35574087/38013816-f3345eba-327f-11e8-8895-f5d48f886166.png)
![image](https://user-images.githubusercontent.com/35574087/38015701-081fa4e6-32

[2018-03-28 07:54] nicholasfoden commented on #7229
@niklasad1
Seems to be fixed now!

[2018-03-28 08:07] chevdor opened #8244 "Add an option to stop parity once in sync"
This is not a bug but a feature request aiming at having more users in sync, faster and more consistently, especially for those not operating nodes running 100% of the time.

Similar issue reported for geth: https://github.com/ethereum/go-ethereum/issues/16400

In the early days, Parity has been built as a node and the priority was/is obviously to never stop or break.Today, if we consider the user

[2018-03-28 08:08] tomusdrw commented on #8128
@taoeffect on main chain it will be a miner producing blocks with timestamp set tiny bit in future. I will suppress this warning and make it a debug message instead, it's something that we were always doing anyway it just became a bit more visible now.

[2018-03-28 08:11] AyushyaChitransh commented on #8237
Yes. The issue still exists. Out of 700 txns, 341 txns were mined in first block 354 were mined a block later. The issue was that I received error response `Error: Invalid JSON RPC response: ""` from RPC for 331 txns.

 - For the first run, all 700 txns were mined without error.
 - Then I sent again. Out of that, I received error in 41/700 txns. But all 700 were mined.
 - Then I sent again. Now I

[2018-03-28 08:47] izgzhen commented on #8158
https://github.com/paritytech/parity/blob/04931618ed840decdaa7e90c20d2855c74355763/ethcore/src/externalities.rs#L357-L381

Maybe we should insert the `refund_address` into the `self.substate.touched`?

[2018-03-28 09:32] 5chdn commented on #8244
Just turn it off after sync like this:

    parity --mode passive --mode-alarm 2147483647

It will stop syncing once done for 68 years.

To do this for multiple chains, just do:

    parity --mode passive --mode-alarm 2147483647 & \
    parity --mode passive --mode-alarm 2147483647 --chain kovan --ports-shift 100 & \
    parity --mode passive --mode-alarm 2147483647 --chain ropsten --ports-shift 2

[2018-03-28 09:32] #8244 closed

[2018-03-28 09:39] Tbaut commented on #8243
You're here on Parity repo. Feel free to post any Parity related issue :)

[2018-03-28 09:39] 5chdn commented on #8230
Duplicate of #6417

[2018-03-28 09:42] 5chdn commented on #8097
Yeah, the latest Core i7 is a must, 2 TB SSD, and since you want a tower, just squeeze in as much RAM as possible, I would go for at least 64 GB.

[2018-03-28 09:54] 5chdn commented on #8243
It's a valid issue though because it also affects Parity.

@chrisfranko do you have _any_ working bootnodes?

[2018-03-28 09:57] 5chdn commented on #8215
That's technically not possible because the client does not know about your balances and the transaction nonces before fully syncing the chain.

[2018-03-28 09:58] 5chdn commented on #8215
We are tracking the light client RPCs required for the wallet to work in #6202

For a full list of issues we are working on to ease your synchronization experience, please see https://wiki.parity.io/Known-Issues-Priorities

[2018-03-28 10:09] tomusdrw commented on #8237
@AyushyaChitransh `Error: Invalid JSON RPC response: ""` is a different error than `Transaction with the same hash was already imported.`

The first one is generated by web3 and it's most likely caused by your request timeing out (since you are spamming a lot of requests at the node, some of them might be processed out of order and with some timeout). Please increase the timeout period, or send re

[2018-03-28 10:10] 5chdn commented on #8243
Nevermind, the Parity bootnodes are working.

[2018-03-28 10:10] #8243 closed

[2018-03-28 10:28] #7404 closed

[2018-03-28 10:51] phahulin opened #8245 "health api with disabled dapps"
If `[dapps]` are disabled with `disable = true`, endpoint `/api/health` does not work (at least I don't know how to use it in this case)
[code]
Is there another way to retrieve node health status?

[2018-03-28 10:55] 5chdn commented on #8143
Could you try to run the authorities with `--force-sealing` ?

[2018-03-28 10:56] 5chdn commented on #8143
@Tbaut we might need to check the PoA Demo if it's still functional.

https://wiki.parity.io/Demo-PoA-tutorial

[2018-03-28 10:56] #7935 closed

[2018-03-28 10:56] 5chdn commented on #7935
Done

[2018-03-28 11:01] chevdor commented on #8244
Thanks @5chdn
I tried using: `parity --mode passive --mode-alarm 15` but parity never exited.

[2018-03-28 11:13] jord903 opened #8246 "Musicoin MCIP-6 Synchronization failed"
My English is very bad
The following are all using Google Translate

I encountered the following error while synchronizing
The same error occurs when deleting database resynchronization

2018-03-28 18:59:16  Syncing #2220295 3a69…a9dd    29 blk/s  397 tx/s  13 Mgas/s    610+  237 Qed  #2221191    8/30 peers   1 MiB chain 25 MiB db 6 MiB queue 620 KiB sync  RPC:  0 conn,  3 req/s, 178 µs
2018-03-28

[2018-03-28 11:39] 5chdn commented on #8244
`15` means it will switch back to active after 15 seconds

[2018-03-28 11:43] 5chdn commented on #8246
ref #8242

[2018-03-28 11:47] 5chdn commented on #6181
Public node feature is discontinued and to be removed in 1.11

[2018-03-28 11:47] #6181 closed

[2018-03-28 11:47] #8119 closed

[2018-03-28 11:49] #7902 closed

[2018-03-28 11:53] 5chdn commented on #8245
If you disable the dapps server, the health status is not available, correct.

If you want status about your node, please either enable the dapps server for health api or use the rpc apis.

[2018-03-28 11:53] #8245 closed

[2018-03-28 11:56] candro opened #8247 "Double Sends"
_Before filing a new issue, please **provide the following information**._

We use Windows Server, where "Parity" is installed. The program instance is launched from the user1 and the tab in the browser is opened, and the wallet tab is opened on user2.
If we send money from the user2 browser, then we can create 2-3 transactions.

[2018-03-28 11:57] cmal opened #8248 "crash when loading config file."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]

[2018-03-28 12:02] #7199 closed

[2018-03-28 12:04] 5chdn commented on #8248
Please share your config file.

[2018-03-28 12:06] 5chdn commented on #8247
And how?

[2018-03-28 12:06] 5chdn commented on #8247
Also please upgrade your node.

[2018-03-28 12:07] 5chdn commented on #8083
Yes, public node is discontinued.

[2018-03-28 12:07] #8083 closed

[2018-03-28 12:09] 5chdn commented on #8091
1. Start Parity
2. Write a script that monitors the block number via RPC
3. Kill Parity once your block is reached
4. Restart Parity in `--mode offline`

[2018-03-28 12:09] #8091 closed

[2018-03-28 12:13] candro commented on #8247
Just people should know about this bug. I'll check in the latest stable version.

[2018-03-28 12:13] #8043 closed

[2018-03-28 12:14] #8006 closed

[2018-03-28 12:14] 5chdn commented on #8115
Does this also happen in other shells?

[2018-03-28 12:17] 5chdn commented on #8247
You did not describe the bug yet. Are you signing the transaction twice or the signed transaction broadcasted twice? In neither of the two options it would be a bug, so please expand what you mean by "double sends".

[2018-03-28 12:18] #7792 closed

[2018-03-28 12:20] 5chdn commented on #8072
I don't know how ethstats is calculating the gas price, but you can always manually adjust it if you think it's too high.

[2018-03-28 12:20] #8072 closed

[2018-03-28 12:35] Tbaut commented on #8248
solved in [gitter](https://gitter.im/paritytech/parity), @cmal didn't have the rights to access this file. This was solved by using
[code]

[2018-03-28 12:35] #8248 closed

[2018-03-28 13:06] pepyakin commented on #8235
Hey! I don't have answers for the most of the questions, but here is for a few:

1. I would say that the current implementation of wasm is quite slow, since it uses an interpreter atm and that interpreter haven't yet seen any work on optimizations.
4. https://github.com/paritytech/parity/pull/8229

[2018-03-28 13:37] grbIzl opened #8250 "Add private transactions validation before propagating"
In the first implementation all private transaction messages propagated blindly. Some basic validation needs to be added in order not to spam the network with not already valid transactions.

[2018-03-28 15:50] nicholasfoden commented on #7229
updated to Parity v1.9.5-20180321 stable
it is stuck on
5,334,029/5,337,843 syncing
25/25 peers
for the last 2 hours now.

[2018-03-28 16:06] nicholasfoden commented on #7229
ok after restarting with `--no-hardware-wallets` it is still stuck (after warp restore) at:

... `Syncing #5334029 ed32…7635     0 blk/s    0 tx/s   0 Mgas/s      0+ 1237 Qed  #5335269   25/25 peers      3 MiB chain   62 MiB db   93 MiB queue    4 MiB sync  RPC:  1 conn, 18 req/s, 296 µs` ...

now deleting chains folder and starting with  `--no-hardware-wallets`  again...

will post again if it sy

[2018-03-28 16:13] niklasad1 commented on #7229
@nicholasfoden

Ok, so if I understand `parity` doesn't crash anymore with or without hardware wallet?

Instead, syncing is stuck?

That's a different issue and If you can confirm I will close this issue and you have to open another issue regarding the syncing.

[2018-03-28 16:49] nicholasfoden commented on #7229
oops, yes. it doesn't crash anymore. sorry you are correct this is a different issue. I was getting this behaviour before it started crashing last time. I will find the relevant issue and post there.

[2018-03-28 17:35] olzhas498 commented on #8243
Hello! Help me. How do I Sync Node?

[2018-03-28 18:03] ravensorb commented on #6372
@5chdn all I can say is WOW. If your curious, in the past 48 hours its only progressed 1%.  Are there any options to speed this up?

If it helps, here is the command I am using to launch the docker container
[code]

[2018-03-28 19:04] #8027 closed

[2018-03-28 23:20] Zvezdin opened #8253 "Add option in trace_filter to skip empty/spam traces"
Throughout the blockchain, there are many transactions that generate thousands upon thousands of traces, each one with `zero gas provided`, `zero gas usage` and `zero value transfer`. Please refer to the following etherscan parity trace: https://etherscan.io/vmtrace?txhash=0x3e20787055fdd28e5134ec8125743b89acf5422655410d770695528f8e7a9d4a&type=parity

Since they have no gas usage, nor value transf

[2018-03-29 03:51] Varunram opened #8254 "Parity doesn't compile on macOS 10.13"
Expected behaviour: Parity builds
Actual behaviour:
[code]

[2018-03-29 04:57] Varunram commented on #8254
Oops, turned out my rust version was out of date. Closing.

[2018-03-29 04:57] #8254 closed

[2018-03-29 06:46] Varunram opened #8255 "Single click doesn't work inside the UI"
_Before filing a new issue, please **provide the following information**._

Expected Behaviour: Able to access different tabs with a single click
Actual Behaviour: Can access tabs only with a double click

[2018-03-29 07:19] Tbaut commented on #8243
@olzhas498 If your question is related to Parity, Please have a look at [our wiki](https://wiki.parity.io/Getting-Synced) and feel free to ask anything on our [Gitter channel](https://gitter.im/paritytech/parity)

[2018-03-29 08:41] 5chdn commented on #6372
Increase the `--cache-size` as much as possible and get a decent SSD :)

[2018-03-29 09:05] Tbaut commented on #8206
Maybe @andresilva or @tomusdrw can help here.

[2018-03-29 09:08] tomusdrw commented on #8206
Hey @vogelito most likely traces were generated using different version than you run currently. Seems that the issue is same as here #7187

[2018-03-29 09:19] 5chdn commented on #8255
Can you try the external wallet dapp with 1.10? https://github.com/Parity-JS/shell/releases

1.9 UI is discontinued.

[2018-03-29 09:19] #8255 closed

[2018-03-29 09:20] #8097 closed

[2018-03-29 09:25] Varunram commented on #8255
Will do, thanks.

[2018-03-29 10:03] tomusdrw opened #8259 "Allow to reset the chain to a particular block"
Re-syncing archive nodes is not always feasible nowadays. And sometimes due to bugs your DB might be missing or have incorrect values for Parity-generated data (think traces, fatdb, logs).
It should be possible (and easy) to re-sync the chain from some particular block to re-produce those values.
If I'm not mistaken, for archive nodes it's just a matter of reseting best block hash if `"best"` key

[2018-03-29 10:20] 5chdn commented on #8246
fixed in nightly. please wait for next release

[2018-03-29 10:20] #8246 closed

[2018-03-29 10:36] #7815 closed

[2018-03-29 10:37] niklasad1 commented on #8178
I will wait with this one until #7272 is merged seem to be significant changes

[2018-03-29 10:59] 5chdn commented on #7817
By default, Parity listens on all network devices. This is not configurable afaik.

Peering issues should be resolved, please upgrade to 1.9.5 or 1.10.0.

[2018-03-29 10:59] #7817 closed

[2018-03-29 11:00] tomaka opened #8260 "Replace the various constants indicating durations with `Duration` objects"
Parity's codebase contains this kind of code at several places:

[code]

But Rust 1.25 that was released yesterday allows creating constant `Duration`s, which means that we can do this instead:

[code]

This is arguably better, for both the small performance gain and for strong typing.

[2018-03-29 11:00] 5chdn commented on #7961
Probably outdated certificates on Ubuntu? I manually checked the certs and they are valid. Not a Parity issue.

[2018-03-29 11:00] #7961 closed

[2018-03-29 11:02] 5chdn commented on #4858
Submit a pull request :)

[2018-03-29 11:03] 5chdn commented on #7996
Closing as UI is discontinued. Please try with 1.10 and the Parity UI from https://github.com/Parity-JS/shell/releases

[2018-03-29 11:03] #7996 closed

[2018-03-29 11:04] 5chdn commented on #8028
Pull requests welcome :)

[2018-03-29 11:04] 5chdn commented on #7995
Duplicate of #7852

[2018-03-29 11:04] #7995 closed

[2018-03-29 11:06] 5chdn commented on #7839
Ok cool!

[2018-03-29 11:06] #7839 closed

[2018-03-29 11:08] 5chdn commented on #8050
Please share how you configure your node and how you upgraded it.

[2018-03-29 11:08] #7686 closed

[2018-03-29 11:10] 5chdn commented on #8064
The UI is discontinued, please test 1.10 with https://github.com/Parity-JS/shell/releases and let me know if this issue persists.

[2018-03-29 11:10] #8064 closed

[2018-03-29 11:17] 5chdn commented on #8044
Removed it. You can correct the decimals now :)

[2018-03-29 11:18] #8044 closed

[2018-03-29 11:24] 5chdn commented on #7819
Fixed in 1.10

[2018-03-29 11:24] #7819 closed

[2018-03-29 13:44] vogelito commented on #8206
Thanks @tomusdrw. I’ll do a fresh full sync with tracing to get around this issue then

[2018-03-29 15:07] niklasad1 commented on #7859
@Boterick

Hey, I can see that `unwrap` is triggered on `UntrustedRlp`
Can you provide the log in order to deduce which module fails by running the following:

[code]

[2018-03-29 15:36] dmitrysenkovich commented on #8143
@5chdn no, it doesn't work

[2018-03-29 16:13] chrisfranko commented on #8243
We are in the process of launching a handful of new bootnodes because the
ones that are there are bogged down. Give me a few days and ill submit a
PR. Thanks. I apologize for the inconvenience. The problem is because we
moved from azure to digital ocean to save some money so half of them are
down.

On 29 March 2018 at 03:19, Thibaut S <notifications@github.com> wrote:

[2018-03-29 16:56] vieiralc opened #8263 "Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval'"
_Before filing a new issue, please **provide the following information**._

I'm following the Dapp tutorial but when I open the dapp on the browser nothing is shown and I get the following errors:
![image](https://user-images.githubusercontent.com/19657718/38102213-faef15c6-3358-11e8-878b-c5c51dfe69e0.png)

[2018-03-29 18:01] OleksandrBlack commented on #8216
@5chdn @gaia

**I'm running:**

- Which Parity version?: **Parity v1.9.5-20180321 stable**
- Which operating system?: **Ubuntu 16.04**
- How installed?: **parity_1.9.5_ubuntu_amd64.deb**
- Are you fully synchronized?: **yes**
- Which network are you connected to?: **classic**
- Did you try to restart the node?: **yes**

# parity.log
[code]
# config.toml
[code]

[2018-03-29 18:04] tomusdrw commented on #8263
Hi @vieiralc please add `allowJsEval: true` to your `manifest.json`. We've recently disallowed `eval` by default.
To avoid that you should configure your build process to produce JS without `eval` (possibly it's just sourcemaps, so make sure to configure them differently).

[2018-03-29 18:36] atlanticcrypto opened #8264 "1.9.5 block prop times"
After upgrade to 1.9.5 to solve the peering issues from the stable 1.8 series, the 1.9.5 stable releases running on our production node servers are realizing horrible lag on block prop times. These are geographically diverse machines hosted in our facilities, and the 3rd party hosted cloud instances we have running that have historically had higher latency are still running 1.8.9 stable and they a

[2018-03-29 21:06] bittylicious opened #8265 "Transactions get stuck in "In queue: Future" state"
I'm running:

Parity/v1.8.11-stable-21522ff86-20180227/x86_64-linux-gnu/rustc1.23.0

Linux Debian 9

Official .deb

Yes

ethereum

Yes (not on this time, but it hasn't worked in the past)

Transactions are, for no reason that we can see, getting stuck in the "In queue: Future" state.

I have not been able to determine why this happens, but when it affects one Parity account, it causes all subseque

[2018-03-29 21:10] Boterick commented on #7859
@niklasad1 Hi Niklas, thanks for your attention; when I try to run the command string above, I get the result below:

C:\Program Files\Parity Technologies\Parity>parity.exe -l debug --log-file err.txt

====================

stack backtrace:
   0:     0x7ff7ba9bcf2a - hid_error
   1:     0x7ff7ba9bd3c3 - hid_error
   2:     0x7ff7ba1a9e96 - <no info>
   3:     0x7ff7baa914b3 - hid_error
   4:     0

[2018-03-29 21:38] LogvinovLeon opened #8266 "Support snapshots (evm_snapshot/evm_revert)"
When developing smart contracts it's usefull to have your tests independent on each other. That simplifies writing and debugging them. Currently frameworks like truffle allow you to do so.
When they run against clients supporting snapshots (`evm_snapshot/evm_revert`) they use that. When they run against Parity/Geth they just redeploy all the contracts before each test. That's inefficient. Setup ta

[2018-03-30 04:02] rleungx opened #8267 "Cargo build failed due to using app_dirs with rustc 1.26.0-nightly"
[code]

[code]

It seems that app_dirs doesn't work with both the stable and the nightly Rust.
AndyBarron/app-dirs-rs#28

[2018-03-30 05:15] rleungx commented on #8267
Also `ntp` can not work with rustc 1.26.0-nightly. See JeffBelgum/ntp#12.
It might need to wait until rustc fixes nightly.

[2018-03-30 05:29] AdvancedStyle opened #8269 "Add filtering capability to `parity_pendingTransactions`"
Is there a way to limit the information returned from parity_pendingTransactions over JSON RPC?

Currently it returns all transactions in mempool with full transaction data in JSON format....which takes a long time to parse.

Is it possible to get only the transaction hashes?

In my use case I'd like to be able to poll the mempool and then compare it against my previously list of mempool transacti

[2018-03-30 05:41] kenneth opened #8270 "build failed"
[code]

[2018-03-30 06:08] kenneth commented on #8270
[code]

[2018-03-30 06:14] AyushyaChitransh commented on #8270
@kenneth What is the version of your rust compiler?

[2018-03-30 07:05] tomusdrw commented on #8269
Have you considered using `eth_subscribe(newPendingTransactions)`? Currently there is no way to get limited set of data, but I think it's a pretty good idea to allow that.

[2018-03-30 07:46] bittylicious opened #8271 "getBalance with argument of "pending" reports wrong balance"
I'm running:

Parity/v1.9.5-stable-ff821daf1-20180321/x86_64-linux-gnu/rustc1.24.1

Linux Debian 9

Official .deb

Yes

ethereum

No

Using the "pending" argument with getBalance, e.g. getBalance(<account>, 'pending'), appears to just return the actual balance (as per 'latest') instead of actually the balance of just pending transactions.

[code]

I can confirm that there doesn't just happen to be

[2018-03-30 07:51] tomusdrw commented on #8271
Parity does not create pending block by default. Please try with `--force-sealing`. Upcoming 1.11 version will display warnings to make it easier to detect such behaviour.

[2018-03-30 08:37] jamesray1 commented on #8001
Hi everyone, work is well underway. I started developing the sharding manager contract in Rust, then realised that it was better to develop just one SMC in Vyper, which is easier to develop while referring to the [sharding phase 1 spec](https://ethresear.ch/t/sharding-phase-1-spec/1407). Feel free to reach out on Gitter [here](https://gitter.im/Drops-of-Diamond/Development) for dev queries or [her

[2018-03-30 08:39] niklasad1 commented on #8270
@kenneth

Hey,
1.  Check so you are running `rustc 1.24` or later
2. ```$ cargo clean && cargo build```

[2018-03-30 08:48] bittylicious commented on #8271
Thanks. I'm happy to consider this invalid then.

[2018-03-30 08:48] #8271 closed

[2018-03-30 11:26] nicholasfoden opened #8272 "Parity will not finish syncing."
# Parity won't sync.

## expected behaviour:

## actual behaviour:

## logs

here is a snippet of where it was stuck (parity.exe ui -l sync=trace)

[code]

[2018-03-30 12:06] #7229 closed

[2018-03-30 13:23] hliu1020 opened #8273 "Why does Parity complain 'Unable to make a connection to the Parity Secure API'?"
I run Parity on a remote server running Ubuntu 14.04 using Docker like this

    docker run -ti -d -p 8180:8180 -p 8545:8545 -p 8546:8546
    -p 30303:30303 -p 30303:30303/udp parity/parity:v1.7.0
    --ui-interface all --jsonrpc-interface all'

Then I visit http://[my remote server IP]:8180 from my laptop but run into the following errors

    Unable to make a connection to the Parity Secure API.

[2018-03-30 13:34] bittylicious commented on #8265
The few transactions that were stuck appeared to be stuck for around 12-16 hours. However, they appeared to be broadcast after this huge delay for some reason.

I have restarted the node with ```--no-persistent-txqueue``` to clear the remaining transaction (and re-send it) and restarted again as normal. So, I now have a clean slate and if this happens again, I should have some debug to show you.

[2018-03-30 14:16] Tbaut commented on #8273
Could you please try by binding a volume like this `-v ~/.local/share/io.parity.ethereum/docker/:/root/.local/share/io.parity.ethereum/` ?

[2018-03-30 14:40] Tbaut commented on #8272
You have only 1 peer, that's definitely not enough.
Can you please visit [our Wiki](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#what-can-i-do-when-parity-has-trouble-getting-in-sync) and make sure you have a good internet connection and synced time.

[2018-03-30 14:42] nicholasfoden commented on #8272
it has been at 25 peers for a while, but after a while the peer number drops

[2018-03-30 14:49] #8270 closed

[2018-03-30 15:12] kryvel opened #8274 "parity_removeTransaction - Method not found"
Hi,
wiki says that the module "parity" contains method parity_removeTransaction
But actually it doesn't work without module "parity_set" added to "apis = []' configuration option.

Wiki [parity](https://wiki.parity.io/JSONRPC-parity-module.html) page
Wiki [parity_set](https://wiki.parity.io/JSONRPC-parity_set-module.html) page

curl --data '{"method":"parity_removeTransaction","params":[],"id":1,"

[2018-03-30 15:25] jack750155 opened #8275 "Light node connection on a private network parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I have this configuration:
  - 2 full nodes (Geth implementation)
  - 1 Bootnode (Geth implementation)
This network correctly works. I tried to connect a full node with Parity implementation

[2018-03-30 16:24] mezhenko opened #8277 "Can't approve erc20 tokens"
We are running parity with this configs
[code]

We are trying to send erc20 tokens using unlock, approve, eth_signTransaction, eth_sendRawTransaction.

When we are executing approve, we got hash from parity.
But when we checking allowance it is zero.

Problem temporarily don't reproduce after daemon restart, so we can send few transactions.

Our code
[code]

[2018-03-30 18:36] bittylicious commented on #8265
I can confirm this is still an issue with Parity 1.9.5 as another transaction just got stuck in the "In queue: Future" state. In fact, lots of them have gotten stuck:

![image](https://user-images.githubusercontent.com/15180124/38148877-8e1372f2-3458-11e8-9031-69852ba1c28c.png)

The first transaction that had an entry of ```Imported to Future``` and no corresponding ```Imported to Current``` (yet)

[2018-03-30 21:55] ktmine opened #8279 "musicoin unable to sync"
I would like to sync to the musicoin network.  I used to run a node for mining on the network, and have not turned it on for a while.  Recently I attempted to restart it to mine again.  I updated my copy of parity to 1.10 and started it up.  It would get 1-2 peers for a few seconds and then go to 0 peers.  I shut parity down and deleted my nodes.json file and restarted. same thing happened.  After

[2018-03-31 00:13] roninkaizen commented on #8272
would work with reserved peers also to assure not to get stuck.
described within the wiki.
how to get some very reliant nodes is a question of expense-
looking into the own nodes.json within the chains directory
might give you an "impression"
"who to set as reserved peer",
at earlier times this year it was senseful to erase the mentioned file,

a "move" wtih it into another directory with "detaill

[2018-03-31 04:42] rleungx commented on #8267
Since the rust team has fixed this, close for now.

[2018-03-31 04:42] #8267 closed

[2018-03-31 08:11] sorpaas commented on #8028
@gagarin55 Looks like `miner` field cannot be `null`. If I understand it correctly, if it is not set, the default will be `0x00...00`.

[2018-03-31 08:34] bittylicious opened #8282 "Ability to cancel/edit future transactions has been removed in 1.9"
I'm running:

1.9.5

Linux Debian 9

Official .deb

Yes

ethereum

Yes

I am having an issue where transactions were are getting stuck in the "In queue: Future" state - see https://github.com/paritytech/parity/issues/8265

In 1.8.11, these transactions were visible in the Signer tab, and I could cancel or edit these to actually push them through manually.

However, in 1.9, this functionality is no

[2018-03-31 09:06] #7783 closed

[2018-03-31 17:59] nicholasfoden commented on #8272
I dont have a problem with getting peers.

I have been stuck at a block > 5,000,000 3 times now this week, with 25 peers.
deleted the chains folder and node.json and started again.
I havent actually been able to sync parity since last year or before due to it either crashing or this.

so to re-iterate, to reproduce:

delete chains folder, start again. ( or use another wallet as I have been doing )

[2018-03-31 19:29] nicholasfoden commented on #8272
OK parity has actually synced this time... I will close this issue but if it fails again I will post the logs etc

[2018-03-31 19:29] #8272 closed

[2018-04-01 18:46] binarybana commented on #7961
I believe this an error upstream on ARM platforms (or at least my raspberry pi). See https://github.com/seanmonstar/reqwest/issues/276 for example.

[2018-04-01 18:53] xenoexclusive commented on #7961
You're absolutely right, it does. Do you recommend the workaround provided or do you think a future update will resolve these issues?

Apologies, I'm not really technically experienced in this stuff at all.

[2018-04-01 19:23] 1blockologist opened #8286 "Use/inject web3 1.0.0 or any version of choice"
How would I tell Parity to use a different web3 version if I wanted to?

Such as on the console

If that feature isn't there, then please implement it.

Last checked on Parity 1.9.5 on OSX

[2018-04-02 08:00] r0ck3r commented on #8279
Have this bug too! Stopped to sync at block 2,254,594.
Need help.
Parity 1.9.5, previous was 1.9.2

[2018-04-02 08:47] #8260 closed

[2018-04-02 09:04] #8028 closed

[2018-04-02 10:33] #8117 closed

[2018-04-02 11:14] whitenoiseL opened #8288 "Parity UI not accepting new token when run with docker?"
_Before filing a new issue, please **provide the following information**._

I was trying to run a private chain via docker. It ran and mined pretty well.  Then I want to deploy a smart contract to it. When I tried to do it by browser, it asked me to enter a newly generated token. However, nothing happened after I did that.
![image](https://user-images.githubusercontent.com/16938270/38194307-4c11e5

[2018-04-02 13:46] unixfox opened #8289 "Verifier #3' panicked at 'index 288 out of range for slice of length 32"
22 days ago my parity node crashed without errors, according to systemd the process got killed on my own physical server:
[code]
Then systemd restarted the process and I got a strange error:
[code]
Systemd tried a third time to restart the process and parity threw this error:
[code]

When I realized that parity was off I tried to upgrade to a newer version. This didn't resolve my issue, I tried th

[2018-04-02 13:53] Sceat commented on #8289
Exact same error here :cry: !

[2018-04-02 14:47] Pzixel opened #8290 "Snapshot sync doesn't work in most cases"
I'm trying to syncronise my node with existing network. I'm connected to four servers with parity v1.7.7. Here are logs for two sequental runs with same parameters. As you can see, the first time I'm trying to syncronise it tries to download snapshots, but the other run it just starts to download each block individually and it lasts forever:

[code]

I didn't change any settings between these two

[2018-04-02 16:29] toasteruk commented on #7820
I have the same issue. It's way beyond my skills to use the command line (wherever that is). What do I do?

[2018-04-02 16:43] jamespic commented on #7820
@toasteruk I don't know of an easier workaround than that.

If you're on Windows or Ubuntu, you can get a command line by clicking the start menu, and typing "command line" (not sure about Mac). On Ubuntu or Mac the commands should work as-is, on Windows you may need to change to the directory you installed Parity to.

Another workaround would be to use MyEtherWallet, if it works for your use case

[2018-04-02 17:02] vieiralc commented on #8263
@tomusdrw Thanks, it worked!

[2018-04-02 17:02] #8263 closed

[2018-04-02 17:08] vieiralc commented on #8116
I running parity with a config toml file. I'm now running with the flags `--config dev`
And it is working fine
I think the problem may be my toml configuration

[2018-04-02 17:08] #8116 closed

[2018-04-02 17:22] toasteruk commented on #7820
I was having issues with a dapp that I was using my ledger with. Parity is
the only option until Metamask add ledger support. I got it sorted though
by reverting to an older version of Parity. Thanks

On Mon, 2 Apr 2018, 17:43 James Pickering, <notifications@github.com> wrote:

[2018-04-02 17:36] jamespic commented on #7820
Funnily enough, this issue (and the more general context of the Parity UI being deprecated) prompted me to look at adding Ledger support to MetaMask. I made some progress (which I discussed on https://github.com/MetaMask/metamask-extension/issues/717), but some weird architectural choices by Chrome are making it much harder than it needs to be (either Chrome or MetaMask would need to make some pai

[2018-04-02 18:37] toasteruk commented on #7820
Oh right! Well I can certainly say you'd be a hero to many of us Ledger
owners if did find the time :)

On Mon, 2 Apr 2018, 18:37 James Pickering, <notifications@github.com> wrote:

[2018-04-03 02:39] binarybana commented on #7961
I'm just using the env var myself. Not too keen to go try and hack the cross compiler.

[2018-04-03 02:48] JBeckintosh opened #8291 "Where did Parity download the Ethereum blockchain to?"
My C: filled up when synchronizing with Parity. For space reasons, I want to delete the ethereum blockchain that must have been downloaded, however I don't know where it is.

A lot of suggestions online say that it should be C:/users/{Username}/AppData/Parity or in some .parity file, neither of which are there.

I recognised that I wouldn't have enough space to download the blockchain into C: so I

[2018-04-03 03:24] xenoexclusive commented on #7961
I have no idea what that means :D

[2018-04-03 05:48] Lemon-Essential commented on #6541
Hi! I have 72 hours to find my Novalend tokens in my Parity wallet after which they will no longer honor their exchange for new tokens...can you please help me register them in the Parity Token Registry? I am at Duncanjulius9@gmail.com thanx!

[2018-04-03 06:54] rhofset opened #8293 "Trouble syncking Parity. DB flush failed."
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Thread 'IO Worker #2' panicked at 'DB flush failed.: Error(Msg("Corruption: block checksum mismatch: expected 214673060, got 3257567002  in C:\\Users\\xxx\\AppData\\Local\\Parity\\Ethereum\\chains\\ethereum\\db\\906a34e69aec8c0d\\overlayrecent\\db/937740.sst offset 6

[2018-04-03 08:17] Tbaut commented on #8293
Duplicate https://github.com/paritytech/parity/issues/7748

[2018-04-03 08:17] #8293 closed

[2018-04-03 08:19] rphmeier commented on #7141
Hey, sorry for missing this one before. It's because the `finalizeChange` function is currently an extra-transaction call (like the proposed `BLOCKHASH` changes -- this is also why we use the same `SYSTEM_ADDRESS`). There are no corresponding transaction or receipt objects for such calls, so they don't provide log events.

[2018-04-03 08:19] #7141 closed

[2018-04-03 08:20] kgcorps commented on #7880
Managed to reproduce on **another machine** and on my **local machine** as well. On version 1.9.5-STABLE.
This seems to be a hard to reproduce bug since you can literally send several hundred transactions at first, but manage to hit a timing where parity shuts down several times in a row.

[2018-04-03 08:37] Tbaut commented on #6541
Get in touch on [Gitter channel](https://gitter.im/paritytech/parity), I'll be happy to help. This is an unrelated Github issue ;)

[2018-04-03 08:50] Tbaut commented on #8291
If you have installed Parity with the installer, without changing any install directory, and launched Parity with the windows application (not the command line) then your chain should be indeed in `C\Users\'username'\appdata/Parity/Ethereum`. AppData is a hidden directory, so make sure to enable these. Alternatively, do a search for ethereum (also within hidden files), you#ll find it.

Note that u

[2018-04-03 08:50] #8291 closed

[2018-04-03 09:07] Tbaut commented on #8290
This is a [known issue](https://wiki.parity.io/Known-Issues-Priorities) and a [new feature](https://github.com/paritytech/parity/pull/8228) have been merged recently to overcome it with the flag `--warp-barrier`.
Give it a try now if you know how to build from source (master branch) otherwise, you'll have to wait a new release

[2018-04-03 09:07] #8290 closed

[2018-04-03 09:13] 0x7CFE opened #8296 "Multiple Rayon dependencies"
Current dependency tree contains two Rayon versions: `v0.8.2` and `v0.9.0`.
This is suboptimal and should be refactored eventually.

Actual for `master` revision 9f775a7673bb4e3d6197703d248b0c120eee3fa9.

[2018-04-03 09:16] Tbaut commented on #8288
If you have a look at the browser console or the parity logs, you'll probably see that the WS calls from the UI are blocked.
You should make sure to tunnel the proper ports and allow the UI to get accessed from another IP. You may eventually also need to mount your local docker file. Give it a try with (some flags might not be needed/safe in your environment) : `sudo docker run --rm -ti --name par

[2018-04-03 09:16] #8288 closed

[2018-04-03 09:40] JBeckintosh commented on #8291
I've checked, and the ethereum chain data is not there. I still have no idea where it is, or where it could be

[2018-04-03 09:43] Tbaut commented on #8286
web3.js 1.0  [is not yet released](https://web3js.readthedocs.io/en/1.0/web3.html) so the console won#t use it yet.
Still, nothing prevents you to [install it on your machine with npm](https://web3js.readthedocs.io/en/1.0/getting-started.html#adding-web3-js) and [pointing it](https://web3js.readthedocs.io/en/1.0/web3.html#web3) to use your parity local node.

[2018-04-03 09:43] #8286 closed

[2018-04-03 09:43] JBeckintosh commented on #8291
This is not closed!

[2018-04-03 10:01] whitenoiseL commented on #8288
Thanks a lot!!! I stupidly missed a port which caused the request kept being denied. Now it works!

[2018-04-03 10:06] Tbaut commented on #8291
The default path has been given to you, this was your question. Now if your setup isn't standardyou should do a proper "windows search" including hidden files, there's not much more we can do for you here.

[2018-04-03 10:16] #8241 closed

[2018-04-03 11:33] 5chdn commented on #7162
Copy-pasty from Gitter:

Last site got DoS’d because someone posted the link to reddit. Moved it to the casper github repo
https://github.com/ethereum/casper/blob/master/IMPLEMENTATION.md

[2018-04-03 11:38] 5chdn commented on #8279
Duplicate of #8246

[2018-04-03 11:38] #8279 closed

[2018-04-03 12:33] 5chdn commented on #8289
The node crash corrupted your database, please reset it with `parity db kill`.

[2018-04-03 12:33] #8289 closed

[2018-04-03 12:40] 5chdn commented on #8282
Should be moved but can't find the txqueue dapp repository, @jacogr @amaurymartiny ?

cc @Tbaut

[2018-04-03 12:46] amaurymartiny commented on #8282
Here: https://github.com/parity-js/dapp-localtx

[2018-04-03 12:53] jack750155 commented on #8275
[EDIT]
I forgot to write the --lightserver VALUE on my first full nodes, so I light client couldn't be connected to them. :)

[2018-04-03 12:54] #8275 closed

[2018-04-03 13:00] 5chdn commented on #8282
Thanks, moved to https://github.com/parity-js/dapp-localtx/issues/1

[2018-04-03 13:00] #8282 closed

[2018-04-03 13:09] #8273 closed

[2018-04-03 13:12] 5chdn commented on #8274
Created a ticket on the wiki tracker

[2018-04-03 13:12] #8274 closed

[2018-04-03 13:16] 5chdn commented on #8277
This might be out of scope for the Parity bug tracker. But I would discourage using `personal_unlock`, rather use a proper library to sign the transaction directly in your script and broadcast the signed raw transaction directly.

If you have any further questions, you could consult Ethereum Stack Exchange or the Ethereum Developer Subreddit r/EthDev. Cheers!

[2018-04-03 13:16] #8277 closed

[2018-04-03 13:21] Tbaut commented on #8253
@Zvezdin, these transactions with a big amount of subtraces should definitely fit in memory, even though they might not always be meaningful for your use case, they remain valid. These blocks are most probably the victims of the spam attack that happened on the network. We believe that the filtering of these transactions should happen on the client side and will not implement any filter for this a

[2018-04-03 13:21] #8253 closed

[2018-04-03 14:02] #8143 closed

[2018-04-03 14:26] 1blockologist commented on #8286
Is it possible to do it the other way around, pulling it in within the parity console?

[2018-04-03 14:42] Tbaut commented on #8068
Parity does not support it yet, I edited your title it to make it a feature request.

[2018-04-03 14:49] #7272 closed

[2018-04-03 14:51] Tbaut commented on #8286
Unfortunately not sorry.

[2018-04-03 15:45] rphmeier commented on #8275
@jack750155 note that the Geth and Parity light client protocols are different (both experimental, will likely be merged at some point) so Parity light clients will only be able to connect to Parity full nodes. Probably the issue is that since the bootnodes are geth, they don't accept the Parity light client or connect it to the Parity full client.

[2018-04-03 15:46] bittylicious commented on #8282
Are you sure this should be moved? The LocalTX app never had this functionality; only the Signer tab in main Parity did.

I do agree it makes sense to put it in the LocalTX app though.

[2018-04-03 16:10] vogelito commented on #8206
I can confirm that doing a complete resync on `1.9.5` solved this satisfactorily.

[2018-04-03 16:11] Tbaut commented on #8015
This transaction [0x719e4d93ea80c23b799d128a703accd5b4fdb32253384a6b86bd772a2fd82b87](https://etherscan.io/tx/0x719e4d93ea80c23b799d128a703accd5b4fdb32253384a6b86bd772a2fd82b87) seems to be a transfer, what makes you think you have storage deleted ? Or do you simply mean that it has a -15000 balance according to the receipt and traces ?

[2018-04-03 16:33] iFA88 commented on #8015
That is the point, in the traces are not mentioned that gas are freed. Only the used gas are shown. If you sum every gasUsed then you should got the transactionReceipt gasUsed amount.

[2018-04-03 17:58] niklasad1 commented on #7576
Solved in #8087

[2018-04-03 17:58] #7576 closed

[2018-04-03 19:15] xenoexclusive commented on #7961
Just to confirm, because I'm truly an idiot, what exactly am I putting in place of './your-binary'?

`$ SSL_CERT_DIR=/etc/ssl/certs ./your-binary`

[2018-04-03 19:41] unixfox commented on #8289
@5chdn Thank you for your reply. I already tried this solution by deleting the folder `~/.local/share/io.parity.ethereum/chains` but that doesn't resolve the issue.
I still have errors when I start parity:
[code]
[code]
[code]
[code]
[code]

[2018-04-04 02:39] olekon opened #8299 "Ropsten. Incorrect sync state reported"
_Before filing a new issue, please **provide the following information**._

I installed and fully synchronized ropsten node about a week ago. I've made my contracts migrations and left it for some time. The highest block was 2922152 at that time.

Yesterday I noticed that web interface shows 'Best block' as about 2936000. Node didn't contain fresh transactions which my colleague made while testing

[2018-04-04 08:30] folsen commented on #8235
I can try to answer the rest of the questions, but there isn't a satisfactory answer to your overall problem without looking in more details at the code.

2) This is only possible in combination with 1), to which pepyakins comment above applies, the first implementation of the wasm VM has seen focus on safety & correctness, and optimisation is on the roadmap for the future, before then it's questi

[2018-04-04 08:56] usd-yamazaki opened #8301 "Transactions are not sealed forever"
I am sending externally created transactions to private PoA chain with eth_sendRawTransaction.
Most of the transactions you submitted will be sealed normally, but occasionally they may remain unsealed.
The transaction remains in the Pending state at the source node that executed eth_sendRawTransaction,
On other nodes, it is repeatedly in Future state or disappearing.

### Node list
- au1: Sealing

[2018-04-04 09:07] #6205 closed

[2018-04-04 09:07] #8192 closed

[2018-04-04 09:30] chevdor commented on #8244
So in short, there is no way to exit the client using this option, it will only switch back to 'active' sooner or later. Is that correct?

[2018-04-04 09:49] #8158 closed

[2018-04-04 10:03] 5chdn commented on #8244
Yes, there is no way to terminate parity "from within"

[2018-04-04 10:05] 5chdn commented on #8289
Please share your full configuration and full logs after you actually run `parity db kill`

[2018-04-04 10:10] chevdor commented on #8244
Ok, thanks for the confirmation. So I think ethup remains a valid workaround for now but I like samples you provided for `--ports-shift`.

[2018-04-04 10:29] sorpaas commented on #7747
Are there more info on the raw transaction RLP posted? I tried v1.8.7 on Ropsten but cannot reproduce the bug.

[code]

[2018-04-04 10:30] #8235 closed

[2018-04-04 10:40] Tbaut commented on #7993
Duplicates https://github.com/paritytech/parity/issues/7993

[2018-04-04 10:40] #7993 closed

[2018-04-04 10:44] whitenoiseL opened #8303 "Stuck transaction block!"
_Before filing a new issue, please **provide the following information**._

One of my transactions which sends ether to contract stuck suddenly. The mining is running fine and other transactions can be deployed as usual. And when I try to deploy another function which sends the ether in the contract to an account, the gas limitation error occurs.
![_20180404183548](https://user-images.githubuserco

[2018-04-04 10:47] Tbaut commented on #7981
@huangkuan the best way would be to provide us with the logs of your node and a trace when this happens, running parity with `-lsync=trace` (very verbose).
Please make sure to update your client and report here if it happens again.

[2018-04-04 10:47] #7981 closed

[2018-04-04 10:53] Tbaut commented on #8303
The error message indicates that you are not sending enough gas.
To change the gas amount, click on `Edit conditions/gas/gasPrice` and make sure to have a higher value as the minimal estimated one (21272).
To understand better how gas and gasPrice works in Ethereum, have a look at https://myetherwallet.github.io/knowledge-base/gas/what-is-gas-ethereum.html

[2018-04-04 10:53] #8303 closed

[2018-04-04 11:07] olekon commented on #8299
Thanks. Let me get it clear.
I send a contract method transaction to my node, it gets committed and shown on ropsten.etherscan. Watching contracts in the parity web interface shows correct data as well. But best block is behind by about 20000. So you say that my node could get into a fork. Is there a way to check if this really happened?
Also, what --pruning-methods should I use? Would fast be OK?

[2018-04-04 11:40] Tbaut commented on #8299
The chain has forked and your node according to your peers chose to go on branch 2. Now until it realizes that the branch it's on hasn't the highest difficulty (meaning that there is a longer branch) the state trie has been pruned, it can not do the reorg to go to the longest branch because the state is lost. Now if you allow your node to keep older states, it will be able to revert should it chos

[2018-04-04 11:55] olekon commented on #8299
Ok. I assume I should delete the whole blockchain prior to running with pruning history 1024?

[2018-04-04 11:59] Tbaut commented on #8299
yes, doing a `parity --chain ropsten db kill` is needed.

[2018-04-04 12:29] Tbaut commented on #8015
@debris will be able to tell us if it's a bug or not and make this issue a feature request if needed.
@iFA88 Just for info, why would you need this info in your application?

[2018-04-04 12:35] bittylicious commented on #8282
OK fine, just was hoping this was clarified. It's sort of a bug in the main Parity app (regression) but the enhancement/fix should probably go in the Dapp.

[2018-04-04 13:14] olekon commented on #8299
Thank you
Should I use —pruning-history 1024 with —pruning fast or archive? How much disk space can it require approximately?

[2018-04-04 15:06] olekon commented on #8299
Should I also delete the contents of snapshots folder in datadir? There were about 1.5Gb of snapshots left after 'db kill'

[2018-04-04 15:15] #8147 closed

[2018-04-04 15:56] Tbaut commented on #8299
This isn't needed no

[2018-04-04 15:58] unixfox commented on #8289
I don't have any configuration, I'm running parity with his default values:
[code]
And here is the full logs:
[code]
And the logs after restarting parity:
[code]

[2018-04-04 18:27] ksedgwic commented on #7994
Here is the code that subscribes to the events:
[code]

[2018-04-04 18:29] ksedgwic commented on #7994
Geth:
[code]

Parity:
[code]

[2018-04-04 21:29] tzapu opened #8311 "eth_calls to some addresses seem to never return, they just hang indefinitely"
**actual**
making and `eth_call` for `name()` or `symbol()` on address `0x6a0a0fc761c612c340a0e98d33b37a75e5268472` just hangs forever.
one test ran for 8 hours not returning anything. trying the same curl in geth seems instant.

**expected behavior**
to return something, be it the result or an error... anything

**steps to reproduce**
[code]

thank you very much

/edit: tested various configurati

[2018-04-04 21:45] fatboyslip opened #8312 "SMS account verification stuck at Request (step 3)"
**actual**

The SMS account verification failed - I received the SMS (actually I received 2 sms) but the parity interface never let me enter them.

I have tried to run confirm from the ProofOfSMS contract without any luck as detailled in #7902 , I did put as argument 0x(sha3 of the sms code I received, with or without space between the words)

**expected behaviour**

I would like to confirm my pho

[2018-04-05 05:14] olekon commented on #8299
Now sync is finished. Best block matches the actual one. Disk space usage is:
'db' folder is 7.01 GB
'overlayrecent' folder 5.43 GB
'snapshots' folder 1.51 GB

It doesn't seem a lot heavier than with default pruning settings.

Config used
[code]
Thank you, @Tbaut

[2018-04-05 08:11] #7694 closed

[2018-04-05 08:18] Tbaut commented on #8299
Thanks for the report @olekon  ;)

[2018-04-05 08:26] Barun-Sharma opened #8314 "Registering new token in an account for erc 20 via CLI"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am able to successfully create account from Ubuntu CLI. I want to create wallet for each user in my application which should exchange only OMG token, to do so I need to add OMG in the token

[2018-04-05 08:29] 5chdn commented on #8289
Duplicate of #7766

[2018-04-05 08:30] 5chdn commented on #8289
Or rather #7748 sorry. Please contribute to that ticket instead :)

[2018-04-05 08:32] Tbaut commented on #7740
Duplicates https://github.com/paritytech/parity/issues/8312

[2018-04-05 08:32] #7740 closed

[2018-04-05 08:33] Tbaut commented on #6859
Duplicates https://github.com/paritytech/parity/issues/8312

[2018-04-05 08:33] #6859 closed

[2018-04-05 08:42] Tbaut commented on #8312
The UI has definitely a bug, but the contract should work normally. There must be a problem with the way you interact with it. Can you share the step by step workflow, are you 100% sure about the sha3 and the 32 bytes you're sending?
Can you share the tx id ?

[2018-04-05 08:59] #8050 closed

[2018-04-05 09:00] #8247 closed

[2018-04-05 09:00] #8115 closed

[2018-04-05 09:26] 5chdn commented on #7737
1. Parity does not fully support all required RPC APIs for Remix, see https://github.com/ethereum/remix/issues/754

2. Just run two instances of ethminer pointed at either of the Parity nodes.

[2018-04-05 09:26] #7737 closed

[2018-04-05 09:27] #7638 closed

[2018-04-05 09:27] #7631 closed

[2018-04-05 09:28] #7608 closed

[2018-04-05 09:28] #7925 closed

[2018-04-05 09:30] 5chdn commented on #6526
Please check if this happens with the new UI, too.

[2018-04-05 09:30] #6526 closed

[2018-04-05 09:30] #6677 closed

[2018-04-05 09:31] #6201 closed

[2018-04-05 09:32] 5chdn commented on #7998
Does this still happen with latest master?

[2018-04-05 09:33] #7712 closed

[2018-04-05 09:33] 5chdn commented on #8002
#7748

[2018-04-05 09:33] #8002 closed

[2018-04-05 09:34] #8237 closed

[2018-04-05 09:46] mudlee opened #8315 "Parity Stable branch does not compile on OSX"
Hi all. Parity stable branch does not compile for me on OSX with the newest (1.25.0) rust.

See the output here: [https://gist.github.com/mudlee/829364a63a6acbd359705cd2c11a7f8f](https://gist.github.com/mudlee/829364a63a6acbd359705cd2c11a7f8f)

[2018-04-05 10:00] niklasad1 commented on #8315
Hi, you are using an old version of `app_dirs` it should be version `1.2.1`.

if you are running the latest version try:
[code]

[2018-04-05 11:24] mudlee commented on #8315
But... how should upgrade? The rust is the latest (installed today than rustup update), and I cloned out this repo today. The master compiles well, the stable does not.

[2018-04-05 12:02] dushad commented on #7268
@niklasad1

Hi, this problem still can be reproduced in 1.9.5.
I connected my numpad-only keyboard (so no Ctrl, Alt, Shift keys) - and the situation repeated, but it was slightly different, looks like Shift and Alt keys weren't blocked, only Ctrl - since i was able to use Alt+Tab and use mouse selection on desktop.

[2018-04-05 12:30] rphmeier commented on #8315
Indeed. We would need to either release an update to our stable and beta branches, or you can build them using an old version of the rust compiler (new versions of `rustc` broke old versions of `app_dirs`)

[2018-04-05 12:38] #7954 closed

[2018-04-05 12:41] tomaka opened #8317 "Android binary depends on libc++_shared.so"
After #8036 Parity can compile for Android using the supplied Dockerfile (in `docker/android`)

However the final binary depends on `libc++_shared.so`, which regular Android devices don't have by default. We need to find out where that dependency comes from, and remove it.

[2018-04-05 12:42] 5chdn commented on #8314
The token registry can be found at `0x5F0281910Af44bFb5fC7e86A404d0304B0e042F1` and the ABI should be available on Etherscan, but I think OMG is already registered.

[2018-04-05 12:42] #8314 closed

[2018-04-05 12:49] 5chdn commented on #8311
can you make sure you are on the latest parity version?

[2018-04-05 13:25] geckoslair opened #8319 "Change from instantSeal to PoA"
Hi team! I'm Enrico from github.com/Paratii-Video, a decentralized video platform. Since now we've developed using and instant seal engine. We'd would like to know if it's possible to replace the current engine with a PoA engine without losing our current BC state, txs, etc. We've tried to use the last block of the instant seal chain as a genesis block for the PoA chain (without success), i don't

[2018-04-05 14:17] 5chdn commented on #8319
Hi, that's not directly possible.

However, your idea to copy over the genesis is a possible approach. But to restore the full chain state, you would have to add all accounts you need to your chain spec. This is feasible for maybe a dozen accounts, but if you want a full chain state this will be a hell of a chain spec (and a lot of work to create it).

[2018-04-05 14:25] geckoslair commented on #8319
thanks @5chdn

[2018-04-05 14:30] 5chdn commented on #7008
This just happened to one of my fresh 1.10.0 nodes if anyone wants to debug this.

[2018-04-05 14:47] yrashk commented on #7567
Any thoughts on how we can resolve this? I asked the specification author why does it use 128 types and the answer was "we need to decide upon some arbitrary number. 128 is as good as any other.". I am not sure that's a great rationale, but that's what we have so far.

[2018-04-05 15:30] ordian commented on #8157
I was able to reproduce the issue [here](https://github.com/ordian/parity-issue8157) with the panic at the end:
[code]
Trying to dig deeper.

[2018-04-05 15:43] rphmeier commented on #7567
Well the real reason is that we decided to reserve additional packet codes for whisper (actually so Geth can keep using its `MailServer` extensions). We should just register the `ParityExtensions` to whisper using fewer packet types since it only needs a couple.

[2018-04-05 17:06] rustyx commented on #5438
https://wiki.parity.io/IPFS

[2018-04-05 17:17] lopezm94 commented on #6806
I got the same issue

[2018-04-05 17:58] AyushyaChitransh opened #8321 "[RPC] Return more information by `eth_getTransactionReceipt`"
As of now, the response given by `eth_getTransactionReceipt ` is as follows:

[code]

It would be more informative if we have some more fields like:

 - from
 - to
 - gasPrice
 - Timestamp

We can refer to documentation of [web3.eth.getTransactionReceipt](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethgettransactionreceipt) for more details.

Its just speculative as to which details w

[2018-04-05 18:26] resolver commented on #5550
hi ddorgan - my parity runs in an unusual directory structure after parity-deploy.sh
how can i run my docker with the mount a local directory and replicate what a local node would have?

it runs here: ed@ubuntu:~/dev_lab/test/parity-deploy/data$
not here:
ed@ubuntu:~/.local/share/io.parity.ethereum/keys/ethereum$

~/.local/share/io.parity.ethereum/docker/:/root/.local/share/io.parity.ethereum/

[2018-04-05 20:49] tzapu commented on #8311
latest nightly, stable? i tried with 1.8.7, 1.10 beta(v1.10.0-beta-0a9d41e-20180320), and a nightly from a few days ago

thanks for looking into this

[2018-04-05 22:08] fatboyslip commented on #8312
I eventually managed to interact with the contract and verify my account. The right way to do it was to  generate the sha3 using the web3.utils.sha3 function. The web based sha3 calculator I used before was not returning to the same result for some unknown reason.
The UI has definitely a bug though.

[2018-04-06 07:16] resolver commented on #5550
one of them "spec.json":

{

	"name": "parity",
    	"engine": {
        "authorityRound": {
            "params": {
                "gasLimitBoundDivisor": "0x400",
                "stepDuration": "2",
                "validators" : {
                    "list": [ "0x5f0d4538231a913af91769562a7f9d6f0aefe7a9", "0x8ba39f58f31da45453deadea716c2c67bd24ef43" ]
                }
            }
        }