[2017-12-07 03:57] stone212 commented on #7184
@5chdn This is what I see without implementing the workaround:

[code]

[2017-12-07 03:59] stone212 commented on #7203
@5chdn This is not a workable solution.  I don't only intend to have reserved nodes or even to know the enode of each node in advance.  But also: even if this did solve my issue (which is doesn't), it doesn't actually solve whatever bug/issue is causing connections to drop off.

[2017-12-07 04:01] stone212 commented on #7210
That completely misses the point.  The idea is to have the file available from one remote/central location.  I know Parity doesn't do that now, which is why this is a feature request.  It is like you're going out of your way to read my issues and find some corner case where what I stated is a problem is not actually a problem, and then try to get me to use Parity in that corner-case way.  That's e

[2017-12-07 04:02] stone212 opened #7231 "Feature Request: specify custom chain spec at remote location"
A feature request. Currently you can specify a custom chain spec with:

$ parity --chain /path/to/chain-spec.json

The request is to allow:

$ parity --chain http://aws-for-example.com/chain-spec.json

This would allow multiple nodes to use one central chain spec file

[2017-12-07 04:03] stone212 commented on #7212
I will look for that the next time I have this issue.  This time I simply compiled from source.

[2017-12-07 04:59] stone212 opened #7232 "signer is not asking for token"
EDIT: this was my error.  Deleted.

[2017-12-07 08:48] #7232 closed

[2017-12-07 10:05] 5chdn commented on #7231
Duplicate of #7210

[2017-12-07 10:05] #7231 closed

[2017-12-07 10:10] 5chdn commented on #7231
This idea is not something we consider but pull requests are welcome.

[2017-12-07 10:30] tomusdrw commented on #7231
That works:
[code]

[2017-12-07 10:32] tomusdrw commented on #7176
@khaschuluu Can you elaborate more on your case? It seems different than this one - do you see `AlreadyImported` in your logs? Feel free to create a new issues to start the discussing.

[2017-12-07 12:36] rphmeier commented on #7203
In your private chain, what do you have the bootnodes set to? If you don't have any mainnet bootnodes set you shouldn't be connecting to or discovering any mainnet peers. Those connections would be immediately discarded regardless.

[2017-12-07 12:41] rphmeier commented on #7210
I don't see why Parity should support fetching of the chain spec. IMO it's beyond the scope of the software (which is just to interpret the spec and run a corresponding node). It would be simpler to configure your node deployment (docker images or w/e) to be bundled with the chain spec or to write a wrapper script that fetches it.

[2017-12-07 12:47] tjayrush commented on #7210
@stone212 I think the idea is to use the Linux design philosophy. If there's already excellent facility to do what you want to do outside the software, use that as opposed to loading down the software with another feature.

[2017-12-08 03:57] bettiah opened #7241 "eth_estimateGas returns Transaction execution error"
I'm running:

 - **Which Parity version?**: v1.8.3-beta-b49c44a-20171114
 - **Which operating system?**: MacOS
 - **How installed?**: homebrew
 - **Are you fully synchronized?**: no
 - **Did you try to restart the node?**: yes

I am on a test network with InstantSeal engine.

While testing, "eth_estimateGas" rpc method starts to return code -32015. It seems to get stuck here, until the contract st

[2017-12-08 11:55] l0rb commented on #5893
@calvintam236 We are running parity in a docker container for production, that solves all the issues with dependencies.

[2017-12-08 13:11] jdetychey opened #7242 "Red ribbon covering critical buttons in the UI"
**actual**
We landing on the ```http://127.0.0.1:8180/#/v1``` I have a red ribbon saying:
[code]
which prevent me to access the buttons that it covers (account,contract,...)

**expected behavior**
I would like to be able to close the red ribbon.

[2017-12-08 13:21] mehemmedv commented on #6513
Now I am able to access to UI, but when I try from another machine, it says on the terminal: Blocked connection from http://IP:8180 using invalid token. How can I solve it?
I also tried it with generating new tokens. but it didn't help me.
![capture](https://user-images.githubusercontent.com/3164582/33767674-f6d1cf16-dc22-11e7-998b-f736a1d60e48.PNG)

[2017-12-08 13:23] mehemmedv commented on #6513
Resolved. Thanks.

[2017-12-08 13:47] tomusdrw commented on #7241
@bettiah Please make sure that all transactions (especially the transaction deploying the contract) has been mined correctly. There used to be some issues with `InstantSeal` engine, where some transactions were not properly mined if you are not using `--force-sealing`
You can also try to pass a `pending` argument to `eth_estimateGas` to make sure it's using the pending block, not latest one.

Coul

[2017-12-08 13:58] 5chdn commented on #7228
related #7211

[2017-12-08 14:22] gituser commented on #7228
Thanks for the acknowledgement. Would be nice to fix this issue ASAP if possible.

[2017-12-08 15:03] 5chdn commented on #6568
this happens if two validator nodes are using the same key to author blocks.

[2017-12-08 15:04] 5chdn commented on #5689
this happens if two validator nodes are using the same key to author blocks. make sure to use different keys per validator node as described in the wiki.

[2017-12-08 15:04] #5689 closed

[2017-12-08 15:05] 5chdn commented on #7071
We need to finalize the rebranding in 1.9

[2017-12-08 15:33] clowestab commented on #7176
I am just syncing a node and constantly get streams of:

`Error importing transaction: Transaction(AlreadyImported)`

With an occasional correct import.

Occurs in 1.7.6 and 1.8.3

[2017-12-08 15:46] Feuda opened #7247 "How to trace my own token(Ethereum-based token) issued on Ethereum?"
For example, my token's name is O2O, how can I trace an O2O transaction on special address? As we know that an address can hold multiple types of token, ETH, O2O, .etc, how can I trace the type to know that the transaction belongs to which token? Does the JSON-RPC method 'trace_filter' work and which param hold the type?

[2017-12-08 16:18] ETHorHIL opened #7248 "RPC method to generate signatures for Secretstore"
_Before filing a new issue, please **provide the following information**._

I am looking into secretstore. Discussed with Slava over the Riot EWF channel, that eth_sign is not appropriate to generate the signature for the secretID in KeyServer::generate_document_key().

It would be good to have an RPC method to replicate the behaviour of this script:
https://gist.github.com/svyatonik/cf36dec262368

[2017-12-08 16:34] onemanstartup commented on #6513
@mehemmedv how?

[2017-12-08 17:26] arkpar commented on #6643
@bipbippp Is your windows version 32-bit? Parity only supports 64-bit windows

[2017-12-08 17:51] AndreKR commented on #6581
How do I access the localStore variable from Chrome developer tools?

[2017-12-08 17:52] AndreKR commented on #6581
Ah, never mind, it's just a copy of the browsers localStorage.

[2017-12-08 18:02] bettiah commented on #7241
@tomusdrw Thank you for the detailed list of suggestions. Below are logs from 2 consecutive transactions, 1 passes & second one fails. I have also tried your suggestions about --force-sealing & adding "pending" and it does not change things. Also eth_getCode shows a contract. Furthermore, I can send another, different, transaction to the same contract that 'releases' the failure, and this transact

[2017-12-08 18:32] Krum3l88 opened #7249 "Synchronizing Parity Signer with accounts."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Where at first I needed to sign transactions by password I now need to do so with Parity signer app on my telephone. How can I get synchronized between telephone and computer Parity? I seem o

[2017-12-08 19:30] k06a commented on #6426
[code]
=>
[code]

[2017-12-08 19:42] GoldenDave opened #7250 "Wiki update required"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Wiki states :

eth_newBlockFilter
-------------------

Creates a filter in the node, to notify when a new block arrives. To check if the state has changed, call eth_getFilterChanges.
.......

[2017-12-08 20:09] deanpatrick opened #7251 "parity ui wont open"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

when I startup parity in terminal:

:~user$ parity
Loading config file from /Users/dean/Library/Application Support/io.parity.ethereum/config.toml
2017-12-08 12:05:37  Starting Parity/v1.8.3-

[2017-12-08 20:29] robbiehanson commented on #7148
Is it safe to just use `rsync` ? Is there a chance the database would get corrupted ?

[2017-12-08 21:50] k06a opened #7252 "parity_pendingTransactions is limited to 8192 results"
## Actual behavior:
[code]
=>
[code]

## Expected behavior:
More than `8192` results.

[2017-12-08 21:56] k06a commented on #7252
Or at least sort transactions by decreasing `gasPrice` before truncation :)

[2017-12-08 22:23] k06a commented on #7252
DIscovered option `tx_queue_size = 8192` of config: https://github.com/paritytech/parity/wiki/Configuring-Parity

Created file `$HOME/Library/Application Support/io.parity.ethereum/config.toml`:
[code]

And solved this issue.

[2017-12-08 22:23] #7252 closed

[2017-12-08 23:12] tjayrush commented on #7148
I've copied the full parity database (--tracing on --pruning archive) from an internal SSD hard drive to an external SSD hard drive and back. It works "most" of the time. I've done it three or four times. It worked two or three of those copies. I think it failed once and then I had to re-build the whole thing. Copying the database with only --tracing on (no --pruning archive), I've done a lot more

[2017-12-09 02:12] 3esmit commented on #7201
I think that the template didn't fit the case, and this shouldn't be the case for close it and set invalid, anyway feel free to reopen this issue in the model you wish, @5chdn.

[2017-12-09 05:15] bwheeler96 commented on #5490
@fumecow you are a champion

[2017-12-09 12:18] nicholasfoden commented on #7229
I re synced my blockchain and this happened again after parity had restarted a few times. will try and replicate the issue and provide steps.

[2017-12-09 13:20] hiheyhi opened #7253 "money gone"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I tried to transfer eth out, but it stop syncing at 4370,001 , so I delete the file here
C:\Users\user\AppData\Local\Parity\Ethereum\chains\ethereum\db\906a34e69aec8c0d\overlayrecent\db
then

[2017-12-09 16:02] nicholasfoden commented on #7229
To replicate:

[2017-12-09 17:34] robbiehanson opened #7254 "Problems with snap"
Prior to switching to `snap`, I was using the simple one-liner install. Which means that prior to switching to snap, I had my `config.toml` file & all data stored in:

- ~/.local/share/io.parity.ethereum

However, after switching to snap, I eventually noticed that the locations had changed to:

- ~/snap/parity/[number]/.local/share/io.parity.ethereum

I tried to tell parity to use a custom base-pa

[2017-12-09 21:52] robbiehanson commented on #7148
To be more specific: I'm sure that `rsync` would work fine if parity server is NOT running. However, what if the parity server IS running? Is it safe to use rsync then? Does this present a possibility of corruption?

[2017-12-09 22:21] tjayrush commented on #7148
Never copied while Parity was running.

[2017-12-10 02:09] brandoncurtis commented on #7253
You can only know your Ether balance when you node is fully synchronized with the network.  Please resynchronize your node and check again.

In the meantime, if you know your Ethereum address, you can check the balance here: https://etherscan.io/

[2017-12-10 10:27] vsdigitall opened #7255 "Build Failed on CentOS 7.4"
Hello, and thanks for what you're doing.

I am trying to build parity from sources with following command query:

And I am getting constantly this error (tested on two powerful servers):

[2017-12-10 10:36] izderadicka commented on #6372
Same problem here - 1.8.2 beta on Ubuntu 16.04 -   warp sync was interrupted before end - in best case still 200K blocks behind -   with speed of regular sync around ~ 3 blocks per sec, it still long time to go.
Once warp sync was interrupted only program restart forced parity to try again warp.    I tried to add more peers -  `parity --snapshot-peers=25 --max-peers=100 --min-peers=50` maybe it he

[2017-12-10 10:52] vsdigitall commented on #7255
If I use this method:

I receive the following error:

[2017-12-10 15:14] mehemmedv commented on #6513
I followed this: http://balticdatascience.com/2017/11/16/how-to-create-your-own-blockchain/
and used all of the following options: --jsonrpc-apis all --jsonrpc-hosts all --ui-hosts=all --jsonrpc-interface all --ui-interface all --ws-interface all --ui-no-validation

[2017-12-10 18:09] MichaelGoeSlm commented on #4177
i'm having exactly the same issue . Can i overwrite the panding transaction using MEW and how should i do it ? Thank you for your help !

[2017-12-11 03:17] xorxornop opened #7256 "Adding external account without having a camera on the PC running the Parity node"
I need to add an external account, so that I may use Parity Signer on my Android phone to sign transactions. However, I have no webcam, and therefore I cannot scan the necessary QR code.

Please add some way of achieving this - or even just let me know how I may create the necessary file (eg. the `/keys/ethereum/` folder contains files such as `UTC--2017-12-08T22-06-35Z--7b21a114-dd27-52b3-5473-XX

[2017-12-11 04:20] khaschuluu commented on #7176
I solved it. My last txs stacked on my broken node (on geth), and I starts new node on parity and above problems appears. And it's fixed when I recreate tx with fee is greater than before (overwrite tx nonce). In last few days, ethereum average tx fee is up and some new tx (pending) are stacks with message like underprice, fee is too low etc. and then, after txs can't broadcast, because tx nonce i

[2017-12-11 04:44] Frzifus commented on #7255
same here

[2017-12-11 05:17] epheph opened #7257 "Unexpected backspace behavior in uint256 field on contract execution interface"
When executing a transaction-creating function on a custom contract with a uint256 field, the interface does something unexpected when backspacing when in "eth" mode (rightmost slider flipped right, to blue). Whenever you are deleting the first number after the period, it deletes the number _AND_ the decimal itself. For example, type:

`1.3`
then try to erase the 3 to replace with a 4. When this i

[2017-12-11 08:41] 84915797613 commented on #4177
Tôi có tài khoản số dư trong etherscan.io, có bạn nào biết cách giao dịch không,xin liên hệ 0915797613, nếu thành công muốn bao nhiêu eth tôi cũng đưa, cảm ơn

[2017-12-11 08:55] vbuterin opened #7258 "Syncing efficiency inconsistent, sometimes quickly changes Mgas/s"
Running on Ubuntu 17.10 with a 512GB SSD, --cache-size 6144.

[code]

A similar thing also happened a few hours earlier, but with the Mgas/s going from ~33 to ~5-10.

The efficiency changes seem too neatly aligned to fairly long time intervals (fast for a while, slow for a while, fast for a while) for this to reflect differences in block contents. So what's happening? Is this some kind of memory o

[2017-12-11 10:02] jacogr opened #7261 "Remove explicit inject.js from internal dapps"
Parity now injects this https://github.com/paritytech/parity/pull/7260

[2017-12-11 10:03] jacogr commented on #7261
Only potential area where it would still need to be explicit is when served via `localUrl` from manifest (development apps)

[2017-12-11 10:31] 5chdn commented on #7253
Try to update your software. https://github.com/paritytech/parity/releases

[2017-12-11 10:31] #7253 closed

[2017-12-11 10:33] 5chdn commented on #7201
Okay, maybe just be more verbose about what you are experiencing, or maybe add some steps to reproduce and I will be able to look into it.

[2017-12-11 10:33] rphmeier opened #7263 "Allow user to reset light client to a trusted block hash"
By default, the light client will attempt to download synchronize all headers from the genesis. This is a costly operation but necessary for bootstrapping trust.

If a user has some block hash that they've obtained from e.g. etherscan or some other trusted source, they should be able to bootstrap their light client from that block hash. The only downside is that data like historical logs, block bo

[2017-12-11 10:34] rphmeier commented on #7116
The light client caches handle this feature to some degree, although the requested data won't be permanent.

[2017-12-11 10:43] clowestab commented on #7176
Whilst transactions may be failing to import due to reused nonces, my company operates a number of public nodes and at the moment the console is filled with these error messages. This is no real issue (apart from looking messy). The problem is that the pending transactions API calls return empty responses during this.

It would seem there is a bug of some sort with the importing of pending transac

[2017-12-11 10:53] 5chdn commented on #7255
Please update your rust to 1.21.0+ thanks!

[2017-12-11 10:53] #7255 closed

[2017-12-11 10:57] 5chdn commented on #7256
That's not possible, unfortunately, even if you would _trick_ your Parity client into believing it knows the external account, you won't be able to sign a transaction without a webcam.

[2017-12-11 10:57] #7256 closed

[2017-12-11 10:58] 5chdn commented on #7148
Yes, stop it for the rsync.

[2017-12-11 10:58] #7148 closed

[2017-12-11 11:05] 5chdn commented on #7254
The idea of having snaps is to introduce a whole lot of redundancies, why did you switch to snaps in the first place? Can't you attach the snap to your previous id?

Maybe @elopio can help you with this.

[2017-12-11 11:05] #7254 closed

[2017-12-11 11:44] tjayrush commented on #7116
This is exactly what QuickBlocks (http;//QuickBlocks.io) does. Second and subsequent retrieval of the same block is literally 30 times faster than RPC.  You have the run a trace node.

[2017-12-11 12:00] jacogr commented on #7171
Closed in https://github.com/paritytech/parity/pull/7134

[2017-12-11 12:00] #7171 closed

[2017-12-11 12:04] arkpar commented on #7258
Basically block import in parity is organized into a pipeline: There are N threads that do parallel block checks (PoW verification and ecrecover for transactions) where N equals to number of logical cores - 1. Then there's a single thread that executes transactions of pre-verified blocks. Most of the times these N threads are idle because the bottleneck is the execution. But when doing full sync o

[2017-12-11 15:07] robbiehanson commented on #7254
Are you trying to say that "the point of having snaps is to make a whole bunch of copies of the ethereum blockchain data" ?

Because I can't imagine that's what you're implying. But, as I pointed out, this is what the current snap solution is doing.

- I have never been able to get parity's autoupdate feature to actually work. (Yes, it's enabled.)
- The one-liner install still points to an old ver

[2017-12-11 15:21] elopio commented on #7254
@robbiehanson, to let you write to /home/robbie, we would have to add the `home` plug in the snapcraft.yaml. That's doable, but well, it opens the door for any other snaps that have the `home` plug to read your wallet. I didn't want to do it before being sure that people would need it.

About the duplicated data, that's what allows the rollback when a snap update goes wrong. If you have all the in

[2017-12-11 18:56] stone212 commented on #7231
@tomusdrw No that doesn't work.  It accomplishes a different goal, which is to get the chain spec onto the localhost from a remote location.  My suggestion was to allow configuration from a remote file.  It's a significant difference.

@5chdn you said "pull requests are welcome" and normally that would make sense to me but I think I don't understand in this case.  Usually with git a person needs t

[2017-12-11 19:00] stone212 commented on #7203
@rphmeier I assume that by "bootnodes" you mean the nodes that are specified in the chain spec, yes?  In that case, the bootnodes refer to two servers that are always on and available.  And these two bootnodes also have the problem of losing all connections after about 12-18 hours.

I see your point about #6640 but I disagree because:

a) that error happens during sync only, but mine never happens

[2017-12-11 19:04] stone212 commented on #7210
@tjayrush Ironically I think the very reason for my suggestion is the Linux design philosophy.  Because now, Parity includes several chain spec files in it by default and so Parity has a choice.  Either continue to add chain specs for every well-ish-known ethereum-like blockchain, or add this feature which allows people to specify which chain spec to read from.

You also made the suggestion of usi

[2017-12-11 19:08] stone212 commented on #7210
@rphmeier

To take this seriously would imply that instead of a small change to Parity, the entire way that one deploys a private blockchain should be limited to using "docker images or w/e".  That is never a good thing, and it's especially bad because it either assumes that only one team will be deploying nodes, or that end users who want to join a node must have the ability to support this limit

[2017-12-11 19:10] 3esmit opened #7267 "Error while running"
[code]

[2017-12-11 19:10] 3esmit commented on #7267
Hmm, I guess I run out of disk space :(

[2017-12-11 21:39] vsdigitall commented on #7255
Hello, rust 1.22.1, the same error..

[2017-12-11 22:08] robbiehanson commented on #7254
That makes sense. For now I've modified my system so /home/robbie/snap is on the proper disk.

By the way, does parity automatically disable it's own autoupdate feature when running via a snap ?

[2017-12-11 22:28] elopio commented on #7254
As far as I know, it is not doing anything special about autoupdates, which seems to mean that it will try to apply just critical updates. If it tries to update, I guess it will fail because the snap files are read-only. Do you know if an update fails silently, or causes any visible problem?

We could modify the `parity` snap command to always pass `--auto-update none`, but I don't know enough of

[2017-12-11 22:46] tomusdrw commented on #7231
@stone212 the issue doesn't describe under what circumstances the file might change, Parity would need to poll and somehow update internal settings without interuption of regular work or you would need to restart.

Second, and most important - there is no good and generic enough way to ensure security of such setup. If http is used you are suspectible to mitm attack (the attacker will be able to c

[2017-12-11 22:48] Frzifus commented on #7255
i did try this in a new archbase docker container. Doesnt work for me.

[2017-12-11 23:13] zumbatan commented on #6759
@5chdn  @rphmeier   why did you close this issue?
it is still open and me and friends are still experiencing this. it is as you agreed an essential matter since erc20 tokens keep rising in the market. would be nice if you could solve this big issue that erc20 tokens are not displayed  within the "ACCOUNTS" tab.

i can give you now more examples: Golem for example, is shown. But Centra for example

[2017-12-12 02:11] 3esmit commented on #7201
What I'm experiencing: I'm having slowness while in CryptoKitties watched contract, seems like its for too much events.
How to reproduce: Watch for both CryptoKitties contract, and try using that for a while.

[2017-12-12 02:14] #7267 closed

[2017-12-12 02:14] 3esmit commented on #7229
Can you check the disk space?

[2017-12-12 07:24] dushad opened #7268 "Using multiple keyboard blocks inputs system-wide."
I'm running:

Starting parity with this command line: parity --chain kovan --light --db-path E:\Ether
Console starts up as expected and then keyboard is blocked effectively for the entire system - it looks just like control key is stuck.
Shutting down the console doesn't help, only PC reboot helps.

[2017-12-12 07:40] dushad commented on #7268
Ok, screen keyboard shows that Ctrl+Alt+Shift is always pressed.
The issue tracks down to my multiple keyboard - I have my old PS/2 keyboard, Logitech wireless keyboard with touchpad and separate numpad USB keyboard. If I leave only one, it works fine. I guess I'll have to recompile from sources while dropping anything related to keyboard filtering.
Thanks.

[2017-12-12 09:11] rphmeier commented on #7258
Is that not covered by the fact that the workers call `set_sync` when they finished verifying a block, yielding the thread to the import logic?

[2017-12-12 09:19] rphmeier commented on #7268
Maybe something to do with hardware wallet implementation
cc @folsen @arkpar

[2017-12-12 09:40] vsdigitall commented on #7255
looks like we need to use ubunto or mac to get parity work..

[2017-12-12 09:43] tomusdrw commented on #7255
Cargo install is broken, please don't use it like this:
`$ cargo install --git https://github.com/paritytech/parity.git parity`
Details: #6007

To build parity clone the repo and build using:
`$ cargo build --release && sudo cp ./target/release/parity /usr/loca/bin/parity`

[2017-12-12 09:52] vsdigitall commented on #7255
actually I tried both methods with no success, looks like developers are using mac & ubuntu, and other *nix-es are not tested yet

[2017-12-12 09:54] tomusdrw commented on #7255
Just noticed:
[code]

Did you install required dependencies:
https://github.com/paritytech/parity#build-dependencies

?

[2017-12-12 09:57] vsdigitall commented on #7255
You mean this?

**`yum install gcc g++ libssl-dev openssl libudev-dev pkg-config`**

These deps are installed..

[2017-12-12 10:25] #7242 closed

[2017-12-12 10:37] vsdigitall commented on #7255
After installing

**pkg-config:**
[code]

**libudev-devel (systemd-devel)**
[code]

Compilation successfully passed hidapi/ring-asm error. Thanks a lot.

[2017-12-12 11:47] 5chdn commented on #7267
I'm sorry #6280 :)

[2017-12-12 11:48] 5chdn commented on #7201
Thanks :)

[2017-12-12 11:48] 5chdn commented on #6759
Can you try to clear your localstorage/cache of your browser?

[2017-12-12 12:26] maxbaluev commented on #3565
It will be awesome

[2017-12-12 12:31] davidqw commented on #7185
@5chdn please refer the information above

[2017-12-12 15:09] 5chdn commented on #7247
Hey @Feuda - tokens are just a smart contract that store balances for each token holder.

To trace transactions related to your token, all you have to do is filtering the token contract executions for transfers.

[2017-12-12 15:09] #7247 closed

[2017-12-12 15:26] samot4 opened #7270 "error"
v1.8.3-beta-b49c44a-20171114/x86_64-windows-msvc/rustc1.20.0
W 10
isnstaller
no
no
Thread 'IO Worker #3' panicked at 'DB flush failed.: "Error converting string"', src\libcore\result.rs:860

2017-12-11 23:17:27  Syncing #2108114 ef60…c20a    98 blk/s  560 tx/s  16 Mgas/s      0+ 5192 Qed  #2113310   22/25 peers      6 MiB chain  101 MiB db   37 MiB queue    9 MiB sync  RPC:  0 conn,  0 req/s, 4742

[2017-12-12 15:30] 5chdn commented on #7249
Hey @Krum3l88 - you don't need external accounts, you can open your Wallet and go to ACCOUNTS, click + ACCOUNT, and select NEW ACCOUNT, this will create an account on your computer without the link to the mobile signer app. Let me know if you have any further questions.

[2017-12-12 16:13] Krum3l88 commented on #7249
Dear Afri,

I already have Parity accounts, but I need to sign with Parity signer to make a transfer. Before I just needed to insert my password, but somehow I now need to sign it with Parity signer. Do I still need to make a new account? Even though, I already have an account? Hope you can help me out. Thanks in advance!

kind regards,

Lucas

________________________________
Van: Afri Schoedon <

[2017-12-12 16:35] #7224 closed

[2017-12-12 17:31] 5chdn commented on #7251
Does it work with `parity --ports-shift 100 ui` ?

Do you already have a parity instance running?

[2017-12-12 17:31] #7251 closed

[2017-12-12 17:48] 5chdn commented on #7250
Hi Dave, these docs are generated from the source code.

    $ cd parity/js
    $ npm i && npm run build:markdown
    $ ls -lsha docs/*.md

You can suggest improvements directly by editing the source at: ... where did the source go lol... @jacogr can you comment on this for a second?

[2017-12-12 17:56] 5chdn commented on #7249
I am not sure if I understand your issue. What do you mean by "Parity Signer"? The mobile signer app? Or the small Overlay in the wallet that pops up?

[2017-12-12 17:59] 5chdn commented on #7185
Hey @davidqw I removed them both!

[2017-12-12 18:00] 5chdn commented on #7270
Hey, thanks for your report. It seems you are affected by this one: #6959

[2017-12-12 18:00] #7270 closed

[2017-12-12 18:05] andresilva opened #7272 "Auto-updater improvements"
- [x] A random delay should be added before starting an auto-update. This is necessary to make sure that all existing nodes don't trigger an auto-update and restart at the same time.
- [x] When there is a failure in downloading the binary (hash mismatch, eg) the time between next attempt should increase exponentially.

[2017-12-12 23:13] arkpar commented on #7268
Try adding `--no-hardware-wallets`

[2017-12-13 02:47] richardartoul commented on #6372
Just to add another data point here, I was having this exact problem. I was using warp and it was unbelievably slow, I was probably never going to catch up to the chain.

What solved it for me was deleting the Cache and Chains folders from paritys data directory. After I did that and I restarted parity, I synced an entire snapshot in about 10 minutes.

Also note that `parity db kill` was not suffi

[2017-12-13 03:36] davidqw commented on #7185
@5chdn thanks a lot, but i can still find "PRO" in Token Registry Dapp

[2017-12-13 05:57] PhilosopherRex opened #7273 "can't recover account"
This is likely a noobish problem, so apologies.  I've updated to 1.8.4 and when I go into the ui 127.0.0.1:8180   it immediately wants me to create a new account.  I don't want a new account, I want to get into my existing accounts .... do I have to create a new account everytime update before I can import old/existing accounts?  What am I doing wrong?

To be clear, I was able to do this in previo

[2017-12-13 06:02] PhilosopherRex commented on #7273
I did find this link:  https://blog.ethcore.io/restoring-blank-seed-phrase/

but it is only for AFTER you are already into the accounts page - and I can't get there without creating a NEW account in the popups that come up when the ui loads.

[2017-12-13 06:18] PhilosopherRex commented on #7273
On a related note, in order to get to the area where I could actually recover my existing account, I was compelled to create a new temporary account ... unfortunately I didn't record the password as I was going to immediately delete it ... much to my chagrin however, when deleting accounts it asks for the account password ... lol ... SO ... how do I delete accounts when I have no password?

[2017-12-13 07:38] Krum3l88 commented on #7249
The overlay in the wallet says I need to scan a QR code with Parity signer or something like that. Whereas in the past I needed to use my password.

Greetings, Lucas

Verstuurd vanaf mijn iPhone

Op 12 dec. 2017 om 18:57 heeft Afri Schoedon <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

I am not sure if I understand your issue. What do you mean by "Parity Sig

[2017-12-13 08:58] EighteenZi opened #7274 "Does Algorithm::OverlayRecent works in the right way?"
_Before filing a new issue, please **provide the following information**._

I'm reading the source code of overlayrecentdb, and get confused of the usage of 'journal_under'.
In 'journal_under', the rlp key of the journalEntry that will be stored into disk contains 'index', which is the number of JournalEntries in the vector, as the Value of journal hashmap. But the 'index' will always be '0', beca

[2017-12-13 09:19] rphmeier commented on #7274
`index = n` for the n'th block journaled at that height. In general there will be only one block journaled per height, but there can be reorgs and small forks that must be handled.

Note that journalled insertions and deletions are kept in a separate overlay. When marking a block in an era canonical, all of the inserted items in each candidate are removed from that overlay. The insertions and dele

[2017-12-13 09:19] #7274 closed

[2017-12-13 11:15] xtien commented on #6372
I started having this issue yesterday, parity got out of sync and didn't manage to get back in sync. Last thing I did now, I noticed I didn't have a config.toml file, is add a config.toml file with just the [parity] section with default values (I have mode=active, not sure that is default). Now it started syncing snapshot, hopefully it will fully sync the snapshot.

I did see a "sync snapshot" yes

[2017-12-13 11:25] xtien commented on #6372
But, unfortunately, after 199/743 syncing snapshot, it's back to normal syncing at block 253,566. It'll probably take a year or so to sync.

[2017-12-13 13:24] svyatonik opened #7278 "UI: first auto-compilation of contract fails in Contracts/Develop mode"
By @jacogr request - logging the issue here.

Steps to reproduce:
1) open UI/Parity Wallet/Contracts/Develop
2) previously developed Solidity contract is auto-loaded
3) since auto-compilation is on by default, it starts compiling

Actual behavior:
text in compilation results window is changing from "Loading Solidity 0.4.19"
..to "Compiling..."
..and finally to "An error occurred with the following

[2017-12-13 16:37] tim0k commented on #6684
<img width="698" alt="screen shot 2017-12-13 at 18 35 47" src="https://user-images.githubusercontent.com/2950540/33950203-7fb4bc2a-e034-11e7-9970-a15a9e9a9ce4.png">
I have this same issue with mac version. Could it be caused by high cpu load or something similar? As you can see, I'm syncing my time automatically.

[2017-12-13 16:40] tomusdrw commented on #6684
The threshold to produce warning has been increased in 1.7.10 and 1.8.4 in #7238. Please update Parity.

[2017-12-13 16:40] #6684 closed

[2017-12-13 16:47] tim0k commented on #6684
I was able to get rid of this error by simply restarting my mac. Thanks anyway

[2017-12-13 17:54] alex-miller-0 commented on #6821
I was having the same problem, but it appears to be fixed in 1.8.4

[2017-12-13 23:47] brandoncurtis commented on #6319
I was having this problem intermittently when trying to sync both the Kovan and Mainnet chains using `parity --light`.  Since it was announced that everyone needs to update their Parity Kovan nodes for tomorrow's hard fork, the problem has disappeared on Parity.  It persists with Mainnet light nodes unless I provide the light node with a list of known-good fully-updated Parity full nodes using `--

[2017-12-14 01:05] morelazers opened #7279 "Thread 'Verifier #0' panicked at 'DB flush failed.: "Corruption: block checksum mismatch"'"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Trying to sync from approximately block 4710000, this has happened a few times. Starts syncing successfully and then throws this error after ~30 mins.

stack backtrace:
   0:     0x55a8af0666

[2017-12-14 01:29] EighteenZi commented on #7274
yes, the backing_overlay stores `insertions` and don't store 'deletions'.

I have another question: is to_short_key(&k)  necessery? what's the purpose of this?
Could you help me on this question?

thans a lot.

[2017-12-14 04:04] alex-miller-0 commented on #7176
I get this error in Metamask with every first transaction I make (e.g. every time I load the page with a fresh parity chain booted). Once I disconnect (i.e. choose a new provider) and reconnect, every transaction works fine.

I am also getting this on a backend process for every transaction I make.

The error is very perplexing. I added `--no-persistent-txqueue` to no avail.

I'm using v1.8.4 with

[2017-12-14 06:27] morelazers commented on #6372
I was having the same problem today until I changed the port to 30302, then the warp sync seemed to fetch the correct number of snapshots (430) instead of the ~760 it was previously trying to sync.

[2017-12-14 09:22] rphmeier commented on #6319
@brandoncurtis exactly. Most of these "sync stuck" reports are simply due to having only a single serving peer which rate-limits the client. Right now the amount of time servers are willing to serve light clients is hardcoded but the machinery exists for it to be configurable.

[2017-12-14 10:39] denis4net opened #7280 ".deb package dependencies issue"
[code]

[code]

Is it possible to build .deb package for latest Debian with correct dependencies?

[2017-12-14 11:08] 5chdn commented on #6372
@xtien @morelazers which version?

[2017-12-14 11:52] 5chdn commented on #7249
But have you ever used the mobile signer app?

[2017-12-14 11:54] Krum3l88 commented on #7249
No I have not. Downloaded it after Parity somehow changed to Parity signer instead of password though.

Verstuurd vanaf mijn iPhone

Op 14 dec. 2017 om 12:52 heeft Afri Schoedon <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

But have you ever used the mobile signer app?

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2017-12-14 11:56] 5chdn commented on #7249
I see, this should not happen.

[2017-12-14 13:00] morelazers commented on #6372
@5chdn version Parity/v1.8.2-beta-1b6588c-20171025/x86_64-linux-gnu/rustc1.21.0

[2017-12-14 13:01] ng0177 opened #7281 "build error: latest version of parity on an out-of-the-box Fedora 27"
Hi, in the latest version of parity on an out-of-the-box Fedora 27, cargo --build release results in this error (no prior tweaks etc.):

   Compiling ethcore-io v1.9.0 (file:///home/ng0177/parity/util/io)
error: failed to run custom build command for `snappy-sys v0.1.0 (https://github.com/paritytech/rust-snappy#858eac97)`
process didn't exit successfully: `/home/th6mas/parity/target/release/build/

[2017-12-14 13:03] jacogr commented on #7216
Same with Vaults, etc. Basically the old-style subscriptions interface is not working across the PostMessage provider.

[2017-12-14 13:33] BulliteShot commented on #6372
Thanks morelazers, I managed to warp sync with the following CLI on Linux 1.9.0-nightly

/usr/bin/parity --port 30302 --no-ancient-blocks --no-serve-light --max-peers 250 --snapshot-peers=25 --min-peers=50 --mode active --db-compaction ssd

Disabling light clients, ancient blocks, changing the network port and deleting the parity database folder seems to have fixed the issue for me. I was able to

[2017-12-14 14:11] jacogr commented on #7216
APi fixes -

https://github.com/paritytech/js-api/pull/21
https://github.com/paritytech/js-api/pull/22

[2017-12-14 15:29] jacogr opened #7284 "v1 Wallet layouts are stretching to full height on Chrome"

[2017-12-14 16:56] 5chdn commented on #7281
You need gcc installed. Please check the build dependencies: https://github.com/paritytech/parity#build-dependencies

[2017-12-14 16:56] #7281 closed

[2017-12-14 16:58] 5chdn commented on #7280
Can you try this package?

- debian | x86_64 | [parity_1.7.10_amd64.deb](http://d1h4xl4cr1h0mo.cloudfront.net/stable/x86_64-unknown-debian-gnu/parity_1.7.10_amd64.deb) | db151bee67c2ed12b04e2edccae6161a

This is our debian build, I am wondering if this includes the new ssl library.

[2017-12-14 16:59] #7280 closed

[2017-12-14 17:00] 5chdn commented on #5893
Could anyone check if our debian binaries/packages work?

- debian | x86_64 | [parity 1.7.10](http://d1h4xl4cr1h0mo.cloudfront.net/stable/x86_64-unknown-debian-gnu/parity) | 6019681788349877c1fbb591d62e7d8e
- debian | x86_64 | [parity_1.7.10_amd64.deb](http://d1h4xl4cr1h0mo.cloudfront.net/stable/x86_64-unknown-debian-gnu/parity_1.7.10_amd64.deb) | db151bee67c2ed12b04e2edccae6161a
- debian | x86_64

[2017-12-14 17:03] 5chdn commented on #7279
Please, reset your database with `parity db kill` in your command prompt.

Duplicate of #7088

Duplicate of #7087

Duplicate of #7029

Duplicate of #6974

Duplicate of #6960

Duplicate of #6905

Duplicate of #6798

Duplicate of #6790

Duplicate of #6670

Duplicate of #6506

Duplicate of #6501

Duplicate of #5837

Duplicate of #3634

Duplicate of #3432

Duplicate of #2830

Duplicate of #2640

Dupli

[2017-12-14 17:03] #7279 closed

[2017-12-14 17:05] 5chdn commented on #7273
You can import your existing account manually into your keystore by copying the json file into

    ~/.local/share/io.parity.ethereum/keys/ethereum/

[2017-12-14 17:05] #7273 closed

[2017-12-14 17:07] iFA88 commented on #5893
`Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-linux-gnu/rustc1.22.1`  Works on `3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u5 (2017-09-19)`

[2017-12-14 17:46] TimBobkov opened #7288 "Parity does not start at Kubernetes with Azure File Share storage"
I use PoA config converted to Kubernetes style without members.
When I use as volume Azure Disk all start and work properly. But When I switch to Azure File Share - parity goes down with error: "Client service error: Client(Database("IO error: directory: Invalid argument"))". I have check access to folder by root user wich is used in container - user has full access to file share. Parity also crea

[2017-12-14 17:47] 5chdn commented on #5893
Ok, thanks for confirming.

[2017-12-14 17:53] SnowLeopard71 commented on #7177
Version: 1.8.4-beta-c74c8c1-20171211/x86_64-windows-msvc/rustc1.22.1
Options: --cache 10240 --min-peers 50 --max-peers 80 --snapshot-peers 50 --warp --no-ancient-blocks

Similar problem, but I've only seen the "Syncing snapshot" once!   It got to 385/388 and then switched to the excruciatingly slow "Syncing".
In spite of running "parity db kill" and deleting the "chains" and "cache" folder, it alm

[2017-12-14 17:58] 5chdn commented on #7288
Please share your config :)

[2017-12-14 18:14] domgolonka opened #7289 "Genesis hash mismatch - Cannot Sync"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I am having issue with sync. I am getting 0/25 peers.

[code]

[2017-12-14 19:11] TimBobkov commented on #7288
For now I use this config:

[2017-12-14 19:28] nezzard opened #7290 "How to send coins to new addresses, private network."
Hi, i'm looking for information, how to create smart contract wich send coins to new wallets?
Or maybe,  can i execute contract without gas?

I'm trying to create app with user registration system. And when new user is registerred, contract must to send him coins.

But, for other transactions gas must be as in a main network.

Sorry, for my English :)

[2017-12-14 19:29] 5chdn commented on #7289
Your client is connecting to other peers in different networks with the same ID. This is expected behaviour.

Try to randomize your `networkId` or run with `--no-discovery`.

[2017-12-14 19:29] #7289 closed

[2017-12-14 20:04] domgolonka commented on #7289
Tried doing both but still the same error:

[2017-12-14 20:05] 5chdn commented on #7290
What you are looking for is a faucet for your chain.

You can run one, for example:

- https://github.com/transmute-industries/eth-faucet
- https://github.com/Nethereum/Nethereum.Faucet
- https://github.com/brytorres/ethereum-faucet-epay

Users can request coins from the faucet on their own. All you need to do is to keep a positive balance :)

[2017-12-14 20:05] #7290 closed

[2017-12-14 20:09] 5chdn commented on #7289
If you do not have any other peers in your network you can try `--mode offline`.

If you have other peers in your network, you can add them to a _reserved peers_ list and run your node with `--reserved-only`.

Hope this helps.

[2017-12-14 20:10] nezzard commented on #7290
@5chdn It's not what i'm looking for.
For example, when user registering in Akasha, he receive coins from them, it's automatically.
I thought, if user can execute contract, so contract send him coins, but, for execute contract he need coins.
I need to automize it, faucet bad choise

[2017-12-14 20:49] 5chdn commented on #7290
From what I understand, does Akasha implement their custom form of a faucet and preload each new user account with a balance.

[2017-12-14 20:59] nezzard commented on #7290
@5chdn i thought about it. But i ask again, is it real to execute specific contract without gas?

[2017-12-14 21:30] 5chdn commented on #7290
Not without hacking the EVM.

[2017-12-14 21:34] kennygay opened #7291 "Newbie with "Unable to make a connection to the Parity Secure API" issue on Mac"
I have been running Parity with no issues for a couple of months. I upgraded to the latest parity recently. The update worked for at least a day but now when I open parity i get the "Unable to make a connection to the Parity Secure API" alert.

When I enter `parity signer new-token` into terminal i just get `-bash: parity: command not found`

I am a newbie so please speak in as layman terms as you

[2017-12-14 22:50] NikVolf opened #7292 "Tracking issue of wasm support in Kovan"
- [ ] merge https://github.com/paritytech/parity/pull/7970
- [x] augment call to include gas limit #7356
- [x] refactor runtime to avoid allocation in contract memory
- [x] drop allocations from runtime
- [x] audit functionality to reduce risk of further hardforks
- [x] ban floats
- [x] test the hardfork
- [x] deterministic stack limiter
- [x] decide block number 6,500,000

[2017-12-15 00:57] sindzy commented on #6372
Managed to warp with the settings above to snapshot 640 on 1.8.4 on Win64. Note that simply executing "parity --light db kill" didn't fully clear. It kept trying to sync to snapshot 163 or starting from scratch. I had to remove parity folders from AppData. I believe there is some cache interaction producing these issues.

[2017-12-15 01:20] jakecraige commented on #7230
We also encountered this issue noticing that the response time of RPC `personal_newAccount` and `personal_listAccounts` calls degrading over time as we used the node and created many accounts.

We were able to locate the source of the problem with both the [`newAccount`](https://github.com/paritytech/parity/blob/master/parity/account.rs#L94) and [`listAccount`](https://github.com/paritytech/parity

[2017-12-15 02:31] OneOfMany07 opened #7293 ""One liner install" on Linux gives 1.8.2, but latest to download is 1.8.4"
I downloaded a .deb file for x86 64 bit Linux, but then noticed the wiki had a one liner script for install.  Running it on Ubuntu 17.10 I just received version 1.8.2_amd64, but the download I have is 1.8.4.  I assume something needs to happen to update that other installation method to use the latest beta version as the wiki claims.

Steps to repro:
bash <(curl https://get.parity.io -Lk)
(then en

[2017-12-15 09:00] calvintam236 commented on #5893
I ran the binary in docker using base `debian:stretch-slim`. I get this error with `libssl1.1` installed: `parity: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory`. Tried installing binary on the same container, same error @iFA88 have.

[2017-12-15 09:49] 5chdn commented on #5893
On it. We have a debian pipeline, I just need to figure out why it does not link the new ssl lib.

[2017-12-15 09:58] 5chdn commented on #7292
ref #7080

[2017-12-15 10:02] 5chdn opened #7294 "Update Branding Everywhere for 1.9.0"
I don't want to see the old logo on any interface, installer, etc. after the 1.9.0 release. :)

This blocks #7071

[2017-12-15 10:12] aarond10 commented on #6372
Existence of the chain/ directory seems to be key.

I could warp after "rm chains/ cache/ -r". Not very intuitive. I had assumed "parity db kill" should be sufficient to make the next sync be a warp sync.

[2017-12-15 10:15] 5chdn commented on #7291
Just click the Parity tray icon and select "Open".

Or install the binary via homebrew:

    brew install parity

You can also try to find the binary in your application contents, but I don't have access to a mac right now and can not tell you the correct path.

[2017-12-15 10:15] #7291 closed

[2017-12-15 10:29] jacogr commented on #7216
Additional signer alias fix on the API -

https://github.com/paritytech/js-api/pull/23

[2017-12-15 10:31] 5chdn commented on #7063
#7294

[2017-12-15 10:31] #7063 closed

[2017-12-15 10:35] 5chdn commented on #6761
Should be fixed in 1.7.10 and 1.8.4

[2017-12-15 10:35] #6761 closed

[2017-12-15 11:10] amaurymartiny opened #7295 "Wallet does not remember permissions approval"
On master.

Repro:
- Go to Wallet
- Accept the `accountInfo` permission request in the orange bar
- Navigate to the Accounts tab

Expected:
The `accountInfo` permission request does not show again.

Actual:
The `accountInfo` permission request shows up again.

Notes:
In the localStorage, the permission for v1 is correct. v1 is just not reading it somehow.
Behavior works fine with other dapps.

[2017-12-15 11:48] #7216 closed

[2017-12-15 13:48] #7284 closed

[2017-12-15 17:56] grazz commented on #7026
Was this ever clarified? That's an address that has been used to store stolen ethereum. It's still being actively used right now.

[2017-12-15 18:26] OneOfMany07 opened #7300 "Parity initial sync taking much longer than geth on same host."
I'm running:

- **Which Parity version?**: 1.8.4
- **Which operating system?**: Linux (Ubuntu 17.10 x64)
- **How installed?**: first did one liner install, then dpkg the newer deb file (bug filed that one liner old)
- **Are you fully synchronized?**: no
- **Did you try to restart the node?**: no

I initially installed and set up geth, and figured I might also let parity start its initial sync.  I

[2017-12-15 18:27] OneOfMany07 commented on #7300
Oh, I did use a non-standard port (changed from 30303 to 30309) to allow both clients to run simultaneously.  Wonder if that put me into a lower priority pool, or do some clients not allow non-standard ports?  Meaning this could be an external cause, and not parity itself.

[2017-12-15 21:36] nhoussay opened #7302 "Thread '<unnamed>' panicked at 'Transaction was signed by AccountsProvider; it never produces invalid signatures; qed: Ethkey(InvalidSignature)', src/libcore/result.rs:906"
Hi,

I am trying to run Parity on a private blockchain. I can see the accounts and everything seems to be in sync. When i try to transfer ether from my account to another account, i get the following error

====================

stack backtrace:

Thread '<unnamed>' panicked at 'Transaction was signed by AccountsProvider; it never produces invalid signatures; qed: Ethkey(InvalidSignature)', src/lib

[2017-12-15 22:32] xtien commented on #6372
I had parity 1.7.2, I upgraded to 1.8.2, now it has been syncing for two days, I expect it to finish in another day. I'll just leave it running.

[2017-12-16 05:26] ltfschoen commented on #6759
I am experiencing similar issues.

**Problem 1:**
I have both DATAcoin [with DATA symbol](https://etherscan.io/token/0x0cf0ee63788a0849fe5297f3407f701e122cc023) tokens and Datum [with DAT symbol](https://etherscan.io/token/0x81c9151de0c8bafcd325a57e3db5a5df1cebf79c#readContract) tokens.
I have x DATA tokens and y DAT tokens, but in my Wallet view (of the Accounts tab in the Parity Client it only d

[2017-12-16 19:07] iFA88 commented on #7187
I will increase your bounty @fanatid with another 0.5 ETH. (SUM: 1 ETH)

[2017-12-16 20:09] ltfschoen opened #7303 "ERC20 Token Symbol shown incorrectly or missing when multiple Token Symbols that have the same first three letters are held at the same Ethereum address"
_Before filing a new issue, please **provide the following information**._

* Note: same issue occurs with Parity v1.8.3-beta

* macOS Sierra 10.12.6

* Downloaded https://parity-downloads-mirror.parity.io/v1.8.4/x86_64-apple-darwin/parity-1.8.4-macos-installer.pkg
* Validated checksum with `shasum -a 256 parity-1.8.4-macos-installer.pkg`
* Run parity-1.8.4-macos-installer.pkg
* Updating to latest

[2017-12-16 20:17] ltfschoen opened #7304 "ERC20 Tokens not appearing in Wallet view (of the Accounts tab in Parity Client)"
_Before filing a new issue, please **provide the following information**._

* Note: same issue occurs with Parity v1.8.3-beta

* macOS Sierra 10.12.6

* Downloaded https://parity-downloads-mirror.parity.io/v1.8.4/x86_64-apple-darwin/parity-1.8.4-macos-installer.pkg
* Validated checksum with `shasum -a 256 parity-1.8.4-macos-installer.pkg`
* Run parity-1.8.4-macos-installer.pkg
* Updating to latest

[2017-12-16 20:30] ltfschoen opened #7305 "ERC20 tokens that are limited-time marketing promotions cannot be archived"
_Before filing a new issue, please **provide the following information**._

* Note: same issue occurs with Parity v1.8.3-beta

* macOS Sierra 10.12.6

* Downloaded https://parity-downloads-mirror.parity.io/v1.8.4/x86_64-apple-darwin/parity-1.8.4-macos-installer.pkg
* Validated checksum with `shasum -a 256 parity-1.8.4-macos-installer.pkg`
* Run parity-1.8.4-macos-installer.pkg
* Updating to latest

[2017-12-16 20:57] ltfschoen opened #7306 "ETC Altcoin not appearing in Wallet view (of the Accounts tab in Parity Client)"
_Before filing a new issue, please **provide the following information**._

* Note: same issue occurs with Parity v1.8.3-beta

* macOS Sierra 10.12.6

* Downloaded https://parity-downloads-mirror.parity.io/v1.8.4/x86_64-apple-darwin/parity-1.8.4-macos-installer.pkg
* Validated checksum with `shasum -a 256 parity-1.8.4-macos-installer.pkg`
* Run parity-1.8.4-macos-installer.pkg
* Updating to latest

[2017-12-16 23:00] gaia opened #7307 "Bandwidth usage of Parity extension when connected to remote server"
I don't have Parity installed on my (Win10) machine. I have the Chrome extension and parity is running on a VPS (Ubuntu Xenial).

The Parity Chrome Extension uses copious amounts of bandwidth when I have the SSH tunnel to the node active.

It is my impression this is the default behavior. But is there a setting in parity (node or client) which I can use to diminish the amount of bandwidth my local

[2017-12-16 23:00] gaia commented on #7307
Also opened here (https://github.com/paritytech/parity-extension/issues/110). Not sure where would be best since the issue nor the solution are in the Extension itself.

[2017-12-17 02:07] zumbatan commented on #6759
@5chdn  my browsers do this automatically for each new session...
have you tried to add Centra token in your client for windows? Try it if possible, to figure out whether this is a global issue or not.

[2017-12-17 06:43] fidaaayoub opened #7308 "parity not syncing"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

i am getting stuck with sync on block #4,370,001 which is 2 month old.... getting only 1 peer, and it's showing fully synchronized while it's not....below some logs

here is some logs

12/17/

[2017-12-17 07:01] fidaaayoub commented on #7308
i tried to run parity -- wrap

Fidaas-MacBook-Pro:~ Fidaa$ parity --warp
Loading config file from /Users/Fidaa/Library/Application Support/io.parity.ethereum/config.toml
2017-12-17 11:00:01  main INFO parity::run  Starting Parity/v1.7.2-beta-9f47909-20170918/x86_64-macos/rustc1.19.0
2017-12-17 11:00:01  main INFO parity::run  Keys path /Users/Fidaa/Library/Application Support/io.parity.ethereum/ke

[2017-12-17 08:44] gituser opened #7309 "panicked at 'Expected to find transaction hash.'"
_Before filing a new issue, please **provide the following information**._

Parity just crashed:

[code]
Parity version:

[code]

Had to rollback to `v1.7.8` for now.

[2017-12-17 09:06] phahulin commented on #6429
@5chdn Hello, could you tell me: if these parameters are not included in `chain.json` of a new AuRa network build on parity 1.8, will corresponding bugfixes still apply?
If not then these parameters **must** be included and set to `0` in every new network?

[2017-12-17 09:37] tomusdrw commented on #7307
There are ongoing efforts in Parity UI to reduce the bandwidth by using Pub/Sub. This should improve with 1.9, although please note that it's not really our main goal - we optimize for local node experience.

[2017-12-17 09:37] #7307 closed

[2017-12-17 12:02] a1654 opened #7310 "Coins didn't arrive? Also problem with synchronizing"
this was my first transaction with Pairty, but no coins appearing in my account!

https://etherscan.io/tx/0x0d46075c62d441edeff4213f2654130f5e24d56b55bea25bd12878876118a514 but nothing arriving in Parity Wallet.

Also no sync here's the log file details:

2017-12-17 14:00:28  main INFO parity::run  Starting Parity/v1.7.8-stable-d5fcf3b-20171025/x86_64-windows-msvc/rustc1.20.0
2017-12-17 14:00:28

[2017-12-17 12:41] dcxblockchain opened #7311 "change token registration"
Hi,

Some time ago i registered a token, back when i didnt totally comprehentet the impact of this.... Now i want or actually need to change the token adress as the on i use then isn;t the one thats actually used in crowdsale.

- can i somehow change the registered contract address and number of decimals?
- and if not, can you then please delete the entry so i can re-register?

[2017-12-17 15:23] ng0177 opened #7312 "Stratum start error: Address(AddrParseError(()))"
Hi,

following https://github.com/paritytech/parity/wiki/Mining to run fully synchronized parityv1.9.0  on Linux (CentOS):

parity --author <Your_Ethereum_Address> --stratum --stratum-interface=eu1.ethermine.org --stratum-port=4444

I receive this error:
2017-12-17 15:48:05  Starting Parity/v1.9.0-unstable-50ed1f9d1-20171211/x86_64-linux-gnu/rustc1.21.0
2017-12-17 15:48:05  Keys path /home/user/.l

[2017-12-17 16:12] phahulin opened #7313 "Clarification about some AuRa chain options"
This question is related to https://github.com/paritytech/parity/issues/6429
Could you clarify: when building a new AuRa-based network using parity v >= 1.8.4 can these chain.json options (validateScoreTransition, validateStepTransition, validateReceiptsTransition, eip155Transition) be safely omitted or they _must_ be specified in chain.json and set to `0`? In the latter case, in there a list of a

[2017-12-17 16:39] Neurone commented on #7126
This isn't an issue, it's an intended behaviour. Parity looks up only for tokens submitted in its own [Token Registry](https://github.com/paritytech/parity/wiki/Token-Registry), it does not show all ERC20 compatible tokens an address owns.

[2017-12-17 16:43] Neurone commented on #7304
This isn't an issue, it's an intended behaviour. Parity looks up only for tokens submitted in its own [Token Registry](https://github.com/paritytech/parity/wiki/Token-Registry), it does not show all ERC20 compatible tokens an address owns.

[2017-12-17 17:02] oeneme opened #7314 "dependancy not supported"
libssl1.0.2 not supported (but libssl1.0.0 is) making it uninstallable on the current stable release branch of Debian

Parity 1.7.10-stable
Debian 9
installed from command line (x86_64 | parity_1.7.10_amd64.deb)

[2017-12-17 19:24] radarcg commented on #6783
I'm on 1.8.4 beta, and I still see the PNS token.

[2017-12-17 19:52] OneOfMany07 commented on #7300
I ran it for almost 2 days and it still wasn't sync'd, all the while geth was keeping current fine.  Something feels wrong there, but I'll ignore it and use geth for now.

[2017-12-17 20:32] thaynetaylor commented on #7304
Neurone - so who's responsibility is it to register tokens, the one who receives or the one who issues the token?

[2017-12-17 20:35] thaynetaylor commented on #7308
I'm having the same problem with version 1.8. Been looking for syncing problems here and fixes but haven't found any. Been almost 2 days now.

[2017-12-17 20:59] ltfschoen commented on #7304
I've requested GZE and COV via their respective Telegram groups to register on the Parity Token Register. GZE has informed me that they will contact their developers and then respond.
I'm surprised that they don't offer a bounty for reminding them. What's stopping anyone else from just creating a token symbol with the same three letter acronym as theirs and squatting on it, all for just 0.05 ETH.

[2017-12-17 21:01] Neurone commented on #7304
There's no "responsability", anyone (the owner, a token holder or simply a fan of that token) can send 0.05 ETH and register a token. If there's interest to see that token apper in the Parity UI, the person with more interest in it will do the registration.

[2017-12-18 00:40] ltfschoen commented on #7310
Have you tried updating to Parity Client 1.7.10 stable or Parity 1.8.4-beta from the [releases page](https://github.com/paritytech/parity/releases)?

[2017-12-18 04:13] daraosn commented on #7308
I can confirm I had the same issue, my node was not syncing at after updating to latest stable (1.7.10), I upgraded to beta (1.8.4) and it syncs ..

[2017-12-18 09:06] nicexe opened #7315 "Parity fails to build on Raspberry Pi"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I'm trying to build Parity on my Raspberry Pi (rev. 2) from source but `syntex_syntax` seems to be failing.
`cargo build --release -vv` exits with
[code]

[2017-12-18 09:13] nicexe commented on #7315
This might be more helpful to the `syntex_syntax` devs. Its all the output that I could capture before failing
[https://gist.github.com/nicexe/0920714071e196d83b951c8287954de2](https://gist.github.com/nicexe/0920714071e196d83b951c8287954de2)

[2017-12-18 09:16] NikVolf commented on #7314
duplicate of https://github.com/paritytech/parity/issues/5893

[2017-12-18 09:16] #7314 closed

[2017-12-18 09:37] NikVolf commented on #7302
Does it happens when you use specific account or any one?
Can you try to generate another account and see it happens again?

[2017-12-18 10:06] cleanunicorn opened #7317 "Transaction out of gas but creates contract"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**actual**
Transaction is mined but it seems to give out of gas error. I'm pretty sure of the error because it uses ALL of the gas provided.
https://etherscan.io/tx/0x86bbff92ebe9d85cec33b9e7

[2017-12-18 10:12] rphmeier commented on #7300
Most likely a duplicate of #6372 -- warp sync isn't kicking off, so your node is attempting a full sync.

[2017-12-18 10:12] #7300 closed

[2017-12-18 10:14] cleanunicorn commented on #7317
Seems to be an etherscan bug.

[2017-12-18 10:14] #7317 closed

[2017-12-18 10:14] NikVolf commented on #7312
Hi, Parity implements stratum server, not stratum client

So `--stratum-interface` option should ip-address of the service Parity will accept stratum connections (`0.0.0.0` for all interfaces)

[2017-12-18 10:14] #7312 closed

[2017-12-18 10:19] NikVolf commented on #7312
To mine ethermine, you don't even need parity - only miner, and pool will dispatch job for your miner without parity involved.

[2017-12-18 11:09] jacogr opened #7319 "Top status bar icons are not aligned in latest Chrome"
<img width="109" alt="parity 2017-12-18 15-13-21" src="https://user-images.githubusercontent.com/1424473/34110177-2a5ba628-e406-11e7-99aa-abf9b0b6f22b.png">

[2017-12-18 11:13] ng0177 commented on #7312
understood! very useful hints... Thanks!

On Mon, Dec 18, 2017 at 11:19 AM, Nikolay Volf <notifications@github.com>
wrote:

[2017-12-18 11:16] jacogr opened #7320 "When stopping the node, the UI does not pop up a connecting message"
To reproduce -

1. start node `parity --testnet`
2. connect to `http://127.0.0.1:8180`
3. kill node

[2017-12-18 11:16] jacogr opened #7321 "Fix bug where dapp asks for loadApps (external ones) before shell has loaded them."

[2017-12-18 12:11] kirushik commented on #7026
@grazz @ablazhey I think it's OK to use this bug for you to figure out the whole situation (I don't understand it at the moment, unfortunately. Like, what is "stolen" ethereum and so on) — but it will remain closed unless we figure out that Parity is involved in the problem.
Please mention me or @5chdn if you decide this is indeed something we should address.

[2017-12-18 12:26] tomusdrw commented on #7026
@grazz @ablazhey Could you guys please clarify how the account was created? My guess would be that it used a weak brain wallet phrase, that's easily crackable.

[2017-12-18 12:37] 0x7CFE opened #7322 "Use `Faster` crate to enhance number crunching"
[Faster](https://github.com/AdamNiederer/faster) is a SIMD library for humans. Faster allows convenient application of explicit SIMD to existing code. It allows you to write explicit SIMD code once and compile it for any target, regardless of architecture, SIMD capability, or age.

As stated in the project readme:

Easy, powerful, portable, absurdly fast numerical calculations. Includes static dis

[2017-12-18 13:53] alfatop commented on #7309
anyone?

[2017-12-18 13:54] gituser commented on #7309
ping @5chdn @tomusdrw

[2017-12-18 13:57] jacogr opened #7324 "Tokens & Badges don't show up with images"
![image](https://user-images.githubusercontent.com/1424473/34109416-c9aa6b36-e403-11e7-8b92-7dcdd97246c1.png)

v1 wallet. (Possibly related to update pub-sub for old-style? Does not return the current values by default.)

Reported by @tomusdrw

[2017-12-18 14:05] rphmeier commented on #7322
Is there any specific bottleneck or place you're thinking of using this for now? I can see it used in keccak computation perhaps.

[2017-12-18 14:14] jacogr commented on #7319
Still an issue :(

[2017-12-18 15:06] ddorgan commented on #7288
Is it possible to run this with strace -fF and check at the end where you see "IO error: directory: Invalid argument" in the logfile. It should have a filename with an open() in front of that somewhere near the end of the logs.

What's the filename?

[2017-12-18 17:52] alex-miller-0 commented on #7176
For anyone who stumbled on this: in my case, this message seemed to be a blanket statement for any failed transactions. I had an error on my side -- once I fixed it this message went away.

[2017-12-19 02:46] benjamincburns opened #7328 "Add UI to educate users on potential reasons for sync slowdowns"
Boilerplate:

Description:
As a user experiencing a slowdown during a node sync, all I know is that the current "Best Block" isn't increasing, or at least that it isn't increasing as quickly as it might've been a few minutes ago. Given the time involved for a full archive sync, having to figure out whether action is required when slowdowns occur, let alone _which_ action is required, makes the ini

[2017-12-19 06:05] ng0177 opened #7329 "export import core dump"
017-12-19 06:25:34  Syncing #3687844 d908…3694    93 blk/s 1911 tx/s  81 Mgas/s      0+ 2705 Qed     7 MiB chain 78 MiB db 41 MiB queue
2017-12-19 06:25:44  Syncing #3688933 e933…d188   110 blk/s 2385 tx/s  92 Mgas/s      0+ 2790 Qed     7 MiB chain 78 MiB db 39 MiB queue
2017-12-19 06:25:54  Syncing #3689964 de1b…0117    96 blk/s 1833 tx/s  89 Mgas/s      0+ 2700 Qed     8 MiB chain 78 MiB db 40

[2017-12-19 06:07] ng0177 opened #7330 "Syncing #3714708 takes very long"
[th6mas@freckle ~]$ parity
2017-12-19 06:37:55  Starting Parity/v1.9.0-unstable-5cb53ddd8-20171218/x86_64-linux-gnu/rustc1.21.0
2017-12-19 06:37:55  Keys path /home/th6mas/.local/share/io.parity.ethereum/keys/Foundation
2017-12-19 06:37:55  DB path /home/th6mas/.local/share/io.parity.ethereum/chains/ethereum/db/906a34e69aec8c0d
2017-12-19 06:37:55  Path to dapps /home/th6mas/.local/share/io.parity

[2017-12-19 09:44] jacogr commented on #7319
And gone again.

[2017-12-19 11:46] aditbhrgv opened #7332 "Send transactions not working with Demo POA tutorial in Parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

actual Behaviour:
1. Create user account
2. Create node0 authority account
3. create node1 authority account
following the steps in https://github.com/paritytech/parity/wiki/Demo-PoA-tutorial

[2017-12-19 12:10] phahulin commented on #7313
Could someone please take a look at this?

[2017-12-19 13:27] The-Raa opened #7334 "Thread 'IO Worker #0' panicked at 'DB flush failed.: "Corruption: block checksum mismatch"'"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

trying to sync parity and receiving an error of the following;

2017-12-19 12:00:42 UTC Syncing #2158564 6b84…a609   306 blk/s 2302 tx/s  64 Mgas/s      0+ 7476 Qed  #2166040   25/25 peers

[2017-12-19 13:38] amaurymartiny opened #7335 "When making a transfer, no suggested accounts are shown"
If I remember correctly, when transferring to another account, a list of accounts was shown here before.

![screen shot 2017-12-19 at 2 37 38 pm](https://user-images.githubusercontent.com/1293565/34159690-664a7dac-e4ca-11e7-9f5e-f1b63c1ace2e.png)

[2017-12-19 13:58] #7324 closed

[2017-12-19 14:47] chevdor opened #7337 "UI: Badge fail showing up for the first row"
Hi @jacogr :)

The issue is not very simple to reproduce:
- You will need at least 4 accounts (I tested with 10).
- All the accounts should have the same tag.
- All the accounts should have a given Badge.

Now filter using the tag.

The result list should show you more than 1 row, each row with 3 results.

The issue is that **in the first row, the Badge never shows up** on the account.
If you clic

[2017-12-19 14:52] chevdor commented on #7337
As far as I see, you can even see the issue without applying tags and filtering.

[2017-12-19 17:00] jacogr commented on #7335
Removing `overflow: auto` here shows the cards, although they are then massive.

<img width="354" alt="parity 2017-12-19 17-59-10" src="https://user-images.githubusercontent.com/1424473/34169030-5ae41c04-e4e6-11e7-9d58-7d434239e438.png">

[2017-12-19 17:02] jacogr commented on #7335
And there is an additional general issue now with modals, e.g. this one (had to remove the `flex` as shown)

<img width="992" alt="parity 2017-12-19 18-01-16" src="https://user-images.githubusercontent.com/1424473/34169153-b99d991e-e4e6-11e7-9f41-edda0cc7cbc9.png">

[2017-12-19 17:04] jacogr commented on #7335
The last one is probably the general solution - it also shows the content in the address box, however the sizing is not correct of the scrollable area. (Rather fix the general issue as per the last imaqge and then the specific one to extend the box)

[2017-12-19 17:07] jacogr commented on #7335
Yes first flex removal plus this one seems to do the trick -

<img width="311" alt="parity 2017-12-19 18-06-32" src="https://user-images.githubusercontent.com/1424473/34169381-815f6c16-e4e7-11e7-8961-ea3c2777aa3b.png">

[2017-12-19 17:33] helxsz opened #7339 "parity wallet show 0 eth after 20 hours withdraw from bitstamp"
_Before filing a new issue, please **provide the following information**._

![screen shot 2017-12-19 at 17 18 22](https://user-images.githubusercontent.com/669670/34169857-af93138c-e4e0-11e7-962a-1a2b123b0e08.png)

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I have withdrawaled the eth from bitstamp 20 hours a

[2017-12-19 19:50] Krum3l88 commented on #7249
Anyone knows how to fix this? Still having this problem

[2017-12-19 22:15] MrMarioMichel opened #7340 "0x55e56968c18c - <unknown>"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

stack backtrace:
   0:     0x55e56968c18c - <unknown>

Thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:335

This is a bug. Please report it at:

[2017-12-19 22:24] yrashk commented on #7313
To the best of my understanding:

1. validateScoreTransition, validateStepTransition are AuRa params, validateReceiptsTransition and eip155Transition common params.
2. All of them are specified as `Option<Uint>` in the specification for JSON structures.
3. All of them WILL be set to 0 if omitted:

https://github.com/paritytech/parity/blob/master/ethcore/src/spec/spec.rs#L181-L182
https://github.co

[2017-12-20 00:06] joshuad31 commented on #6783
I'm on 1.8.4 beta and I still see the PNS token.

[2017-12-20 00:27] nicexe commented on #7315
This might be more helpful to the `syntex_syntax` devs. Its all the output that I could capture before failing
[https://gist.github.com/nicexe/0920714071e196d83b951c8287954de2](https://gist.github.com/nicexe/0920714071e196d83b951c8287954de2)

[2017-12-20 01:36] wiryonolau opened #7341 "Transaction mark invalid"
Hi, I try sending normal tx from normal address to normal address ( not smart contract ), using current smallest gas price which is 1 gwei.

On the parity log, my transaction is always mark as invalid.
Why was that ? On etherscan and ethgasprice website there is a lot of tx send with gas price equal to 1 gwei.

I check the smallest price from parity_getPriceHistogram whis smaller then 1 gwei.

Is

[2017-12-20 07:14] atalax commented on #6319
Is there any recommended workaround for this issue at the moment? I tried adding a bunch of random Parity>=1.7 nodes to my reserved peers list, but it doesn't seem to help all that much (or maybe at all). Increasing the min-peers count also does not lead to any improvement.

[2017-12-20 08:10] tomusdrw commented on #7341
@wiryonolau usually this means that the transaction has been created incorrectly. Could you please run your node with `-lown_tx=trace` command line option and send us the logs?

[2017-12-20 09:40] TimBobkov commented on #7288
The log file attached.
[log.LOG](https://github.com/paritytech/parity/files/1574985/log.LOG)

The last opened files:
open("/tmp/io.parity.ethereum/chains/parity-poa-playground/db/d24f9ddc2dd71e78/overlayrecent/db/003192.log", O_RDWR|O_CREAT|O_TRUNC, 0644) = 16
openat(AT_FDCWD, "/tmp/io.parity.ethereum/chains/parity-poa-playground/db/d24f9ddc2dd71e78/overlayrecent/db", O_RDONLY|O_NONBLOCK|O_DIRECTO

[2017-12-20 09:54] dzmitro opened #7342 "Parity personal_unlockAccount doesn't work as described"
I'm trying unlock account for send transaction as described here
https://github.com/paritytech/parity/wiki/JSONRPC-personal-module#personal_unlockaccount
by passing third parameter as integer, but getting unexpected behavior:
"error":{"code":-32602,"message":"Invalid params: invalid type: integer `300`, expected a 0x-prefixed, hex-encoded number of length 32."}

**actual**

curl --data '{"method":

[2017-12-20 10:18] wiryonolau commented on #7341
i only specify put from, to, gasLimit and gasPrice no other parameters.

It sometime work when I use average fee calculated from priceHistogram.

I'll post the traced failed tx later.

[2017-12-20 10:30] wiryonolau commented on #7342
all integer parameters need to be in hex format.
It still integer :D

[2017-12-20 10:37] kantium opened #7344 "IO Error, Permission denied"
Hello,

My node was syncing on Kovan (#3956916 f8a0…2bdf) and suddenly crashed :

====================
stack backtrace:
   0:     0x55acea221d9c - backtrace::backtrace::trace::hc468106bb72538f7
   1:     0x55acea221dd2 - backtrace::capture::Backtrace::new::hcac85f526df079fd
   2:     0x55ace9831de8 - panic_hook::panic_hook::hdec4e963f0478d78
   3:     0x55acea3ce426 - std::panicking::rust_panic_wi

[2017-12-20 10:40] kirushik commented on #7339
@helxsz yes, the yellow icon on your screenshot means that not all bocks have been caught up so far. It turns green when the syncing is done.
Unfortunately, because of #6372, initial synchronization in Parity currently takes longer than expected (especially if you're not on SSD).

Please be patient, your balance in Parity will be updated as soon as block with your withdrawal transaction hits your

[2017-12-20 10:40] #7339 closed

[2017-12-20 10:44] kirushik commented on #7340
Hi, @MrMarioMichel

Can you please post the full screenshot of your terminal window when this error happens? It looks like the stacktrace got truncated somehow, it's important for us to make sure this is exactly what you see when the error happens.

Also, does this happen directly after the launch of `parity`, or after some time?
Have you run any previous versions of `parity` on the same machine?

[2017-12-20 10:53] guigzz commented on #7308
Same problem here, I'm around block 4,230,000, it says it is syncing, but it is very very slow and it seems like it would need an eternity to catch up the latest block (currently 4,765,000)...
I tried to clean up the cache, empty the db folder, and tried this with the stable 1.7.10 and with the beta 1.8.4 with the same result.

[2017-12-20 11:14] dzmitro commented on #7342
wiryonolau, yes :), I'm understand your sarcasm , but go-geth use non-hex(integer) format in json-rpc requests, and we cannot switch to parity without pain :(

[2017-12-20 11:17] tomusdrw commented on #7342
https://github.com/ethereum/wiki/wiki/JSON-RPC#hex-value-encoding

We don't recommend using `personal_unlockAccount` at all. It's better to provide password for one time usage with `personal_sendTransaction(transaction, password)`. Alternatively sign transaction externally and use `eth_sendRawTransaction`.

[2017-12-20 11:17] #7342 closed

[2017-12-20 11:36] #7335 closed

[2017-12-20 13:34] amaurymartiny commented on #7219
Reopening.

Problem only half solved: DappIcons show correctly in the shell, but not in dapps.

### Repro:
- In a dapp, install `@parity/ui >=3.0.21`
- Add a `<DappIcon app={...} />` where `app` is a local dapp

Expected: Icon shows

Actual: Icon doesn't show.

---

### Debug Repros:

#### Scenario 1:
- In a dapp, install `@parity/ui >=3.0.21`
- In the dapp, add a `<DappIcon app={...} ref={ref =>

[2017-12-20 14:24] MrMarioMichel commented on #7340
My LOG File in the chain bd :
https://pastebin.com/et2vuvEn

Terminal
![bildschirmfoto vom 2017-12-20 15-22-56](https://user-images.githubusercontent.com/30075959/34211532-b0957afe-e599-11e7-90f1-f63082df5732.png)
config file
![bildschirmfoto vom 2017-12-20 15-23-31](https://user-images.githubusercontent.com/30075959/34211560-c11f81f8-e599-11e7-9dfa-b21625f670b3.png)

[2017-12-20 16:19] #7320 closed

[2017-12-20 16:41] amaurymartiny commented on #7295
Freshly built, and cannot reproduce. @jacogr Would like to see if you can reproduce. If not we can close this.

[2017-12-20 17:59] andresilva commented on #7272
https://github.com/paritytech/parity/pull/7348#issuecomment-353059939

[2017-12-20 18:19] SJablonska opened #7349 "parity crash"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
====================

stack backtrace:
   0:     0x564d0f5b084c - <no info>

Thread 'IO Worker #0' panicked at 'DB flush failed.: "Corruption: block checksum mismatch"', /checkout/src/libcore/

[2017-12-20 20:55] VladLupashevskyi opened #7350 "Transaction permission contract is not used by validators"
Hi people,

I was testing transaction permission contract on my Aura PoA chain since we need to implement some permission logic for our users based on tx types.

I set up basic transaction permission contract to return always 0 for everybody, so no transactions were allowed.

Everything worked fine when I was using 1.8.4 beta version of Parity for sealers and non-sealers.

Then I decided to change

[2017-12-20 22:10] tomusdrw commented on #7309
Most likely a race condition caused by the re-org. @0x7CFE another reason to disallow non-hash-based quering inside client.

@gituser Are you able to reproduce the issue? From my interpretation this can only happen in case there is a pending query and a specific re-org happens causing some transactions to be removed from DB.

[2017-12-20 22:28] phahulin commented on #7313
Great, thank you

[2017-12-20 22:28] #7313 closed

[2017-12-20 23:49] NiklasKunkel opened #7351 "Can't list new MKR token in Token Registry"
Apologies if this issue is filed in the wrong place, I wasn't quite sure how to get in contact with someone at Parity.

The MKR token was recently deployed to enable some new functionality. I tried to register it in the Token Registry but was met with the error "This TLA address is already registered".

Okay, so apparently you can't have two tokens with the same TLA. Fine I'll look up the old MKR

[2017-12-21 00:12] GothicIII opened #7352 "Warp syncing not working at all on foundation network"
_Before filing a new issue, please **provide the following information**._

Issue: Warp syncing broken on foundation network.

How to produce:
Install parity via installer/run binary without parameters. After a short while warp sync either won't even start or breaks at random points and start a normal sync.

Detailed description:
First time I started parity from command line. It started to sync wi

[2017-12-21 02:18] dan-turner commented on #3565
Any progress on this?

[2017-12-21 02:28] stone212 commented on #7231
If you think this means that it should not be included, then I accept the decision.  I think that it should be up to the user to make the choice but I understand the logic.

I see what you mean by "public" but I meant "public writeable" since we were talking about a commit.  But okay I looked up how GitHub handles pull requests.  It's more complicated than working in a small team but I guess it ha

[2017-12-21 09:42] Ochir opened #7354 "Problem with synchronization between nodes in PoA"
_Before filing a new issue, please **provide the following information**._

2 nodes in PoA cluster at one machine are run. Periodically after some usage, especially after heavy load, I met such error messages:

_2017-12-21 09:39:35 UTC IO Worker #1 DEBUG own_tx  Imported to Current (hash 1bf351520afa05b7102047205b59df55e997fdc074ee6448117e461c7b4d5b78)
2017-12-21 09:39:35 UTC IO Worker #1 INFO imp

[2017-12-21 13:49] davidqw commented on #7185
@5chdn will you help me to remove the 'PRO' Token as well?  The 'PRN' has disappeared, thanks

[2017-12-21 14:27] baskinsy commented on #7050
I have this issue on a fully synced 1.8.4-beta, is there any way to debug it?

[2017-12-21 14:50] rphmeier opened #7358 "Expose finality information to BlockChain"
- Reorganization past finalized blocks should not be allowed
 - `parity_lastFinalized` RPC call
 - Maybe fire an event when a block is finalized

[2017-12-21 15:55] aas312 commented on #7332
Did you unlock the sender account?

[2017-12-21 16:12] kirushik commented on #7352
Thanks for your report, @GothicIII! It's really detailed and seems to cover all the necessary info.

Yes, we're aware that warp sync has multiple problems and is currently not helping much. We hope to solve that for most usecases in the upcoming releases (but I can't give you any ETA on that, sorry).
There's already an issue #6372 for warp sync failing at arbitrary times, so I'm closing this one i

[2017-12-21 16:12] #7352 closed

[2017-12-21 16:34] kirushik commented on #7050
@baskinsy can you please share the etherscan.io link to the transaction you're missing? I will check this out, and will open a new issue about your case, if it will be reproducible. (Can you please double-check that your local Parity node is not on some alternative network, where the transaction never happened, by the way?)

[2017-12-21 23:46] leonardok opened #7360 "Parity account is not updated with balance"
My node is not showing up my account balance. I did a test transfer and it is not showing up.
This is the account: https://etherscan.io/address/0x009fb0671906722427aA7Fb04Ba286b6B8Db991B

In my config file:
[code]

[2017-12-21 23:47] leonardok commented on #7360
![image](https://user-images.githubusercontent.com/214789/34279537-8e3753f6-e698-11e7-9bc8-6e538dea1047.png)

[2017-12-22 04:39] zhangdongbo opened #7361 "no-serve-light can not take effect"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

run parity with --no-serve-light true
error ' invalid arguments' is shown
Aftger remove  --no-serve-light true , all is ok
![image](https://user-images.githubusercontent.com/5865113/34285513-

[2017-12-22 05:11] lastperson commented on #6087
This is an old solidity compiler bug https://github.com/ethereum/solidity/issues/827 mentioned contract was deployed 2 weeks before the bug was fixed. There is indeed out of gas internal call, though it doesn't affect the execution, parity reports correctly on this one.

[2017-12-22 05:18] lastperson commented on #7166
I confirm that parity traces was always behaving like this (incorrectly). It is not entirely wrong though. It copies `from` and `to` fields because that is how context looks like, as `msg.sender` is still the original caller and `address(this)` is still the same contract. So parity shows the context of the call instead of the actual call parameters. Actual call parameters is what expected here by

[2017-12-22 07:11] RafaelCosman commented on #6995
Thought I'd post some resources to help people that come across this thread:

In historical order:
1. [Original Security Alert](https://paritytech.io/blog/security-alert.html)
2. [Parity Technologies Multi-Sig Wallet Issue Update](https://paritytech.io/blog/parity-technologies-multi-sig-wallet-issue-update.html)
3. [A Postmortem on the Parity Multi-Sig Library Self-Destruct](https://paritytech.io/

[2017-12-22 07:46] Shekelme opened #7362 "Thread 'IO Worker #3' panicked - no space left?"
_Before filing a new issue, please **provide the following information**._

I'm running:

- **Which Parity version?**: 1.8.3
- **Which operating system?**: Linux
- **How installed?**: binaries
- **Are you fully synchronized?**: yes
- **Did you try to restart the node?**: no

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the

[2017-12-22 08:07] tomusdrw commented on #7361
It's either `--no-server-light` (for 1.7+) or also `--no-server-light=true` (for 1.8+)

[2017-12-22 08:07] #7361 closed

[2017-12-22 08:08] tomusdrw commented on #7360
Can you pleast post a screenshot from `Status` page (click the signal indicator)

[2017-12-22 08:35] karalabe commented on #7166
But the problem is that Parity displays the context 2 level up, not the correct one. For this particular transaction, we have

[code]

So the `from` field when inside delegatecall should be `0x13204f5d64c28326fd7bd05fd4ea855302d7f2ff` since that was the outer context when entering, but Parity reports as `0x269296dddce321a6bcbaa2f0181127593d732cba`, which is one CALL higher in the call stack.

[2017-12-22 08:38] karalabe commented on #7166
Ah wait, I see what you're saying. The context is `0x269296dddce321a6bcbaa2f0181127593d732cba -> 0x13204f5d64c28326fd7bd05fd4ea855302d7f2ff`, and that is what delegatecall retains. Yes, indeed I was wrong here.

Then again, you may again be right in that the Parity trace currently cannot discern the actual contract being delegatecalled. Interesting case :)

[2017-12-22 08:58] oliverw opened #7364 "Server taken down by datacenter network security for repeated perceived port scans"
I'm running:

 **Which Parity version?**: 1.7.10
 **Which operating system?**: Linux
 **How installed?**: DEB Package
 **Are you fully synchronized?**: yes
 **Did you try to restart the node?**: N/A

Command Line:

`/usr/bin/parity --chain $ETH_CHAIN --base-path "/data" --mode "active" --no-ui --no-dapps --jsonrpc-interface "0.0.0.0" --jsonrpc-threads 4 --no-discovery --jsonrpc-apis "eth,net,web3,

[2017-12-22 09:07] tomusdrw commented on #7364
@arkpar could you please take a look? `--no-discovery` and `--nat` is present in the CLI flags, what else might cause this?

[2017-12-22 10:22] tzapu opened #7365 "add a trace_replayBlockTransactions RPC call"
Feature request, add a trace_replayBlockTransactions RPC call that can be used to replay all transactions in a block.

The current replay code would loop needlessly and execute transactions multiple times if you manually loop through them and issue a trace_replayTransaction for each transaction

On my server, looping through block 4197391 for instance takes ~4minutes to replay everything.

[2017-12-22 10:24] tzapu commented on #7365
i have proof of concept code here https://github.com/tzapu/parity/commit/1a4dca05a6ff6cbb6c09ca1632e57cb1777845ee
that drops the time above from 4 minutes to 11 seconds for the whole block.

this is however my first run in with rust, so i need help error checking and testing before making it a pull request

[2017-12-22 10:53] folsen commented on #7349
This looks like a database corruption issue. `parity db kill` and resyncing would probably fix it, but of course has the downside of requiring resyncing. A corruption can happen for several reasons though so it's hard to pinpoint from just this information.

[2017-12-22 10:56] folsen commented on #7344
For some reason you didn't have permission to write the logs to that particular file when it was trying to, and it seems because it crashed in the middle of doing that, the database then got corrupted so when you're trying to start now it can't read the database correctly.

A 30GB drive may not be enough, while syncing there can be significant write amplification due to how RocksDB works (we're wo

[2017-12-22 11:58] kirushik commented on #7364
@oliverw I guess the "datacenter hosting" mentioned is Hetzner, am I right ;-)?
I guess we need to contact their security team sooner or later, I'm getting like 1 report per week about Parity causing the security lockdown there in my private channels -- maybe we can help them to set their IDS/IPS straight, or change our networking to be less agressive.

Please add `--allow-ips=public` flag (as spe

[2017-12-22 12:04] oliverw commented on #7364
@kirushik Yes, it was hetzner 👍

[2017-12-22 12:31] kirushik commented on #7364
@oliverw please feel free to reopen this bug if `--allow-ips=public --no-discovery` won't help your case.

[2017-12-22 12:31] #7364 closed

[2017-12-22 13:38] ahrcoin opened #7367 "Unable to read password file. Ensure it exists and permissions are correct."
_Before filing a new issue, please **provide the following information**._

I keep getting this same error no matter where I place the pass.txt file.  One other thing that is strange is that when I create a new account and run the parity account list function.....the accounts listed do not match my account I created.

here is my config file:

[parity]

chain = "classic"

[account]
unlock = ["0x72e

[2017-12-22 13:41] tomusdrw commented on #7367
Config files don't support environment variables, or bash-like `~` for home directory, please use absolute path: `/home/user/.local/...`

[2017-12-22 13:41] #7367 closed

[2017-12-22 13:46] ahrcoin commented on #7367
Thank you very much.  That is what it was.

[2017-12-22 15:14] amaurymartiny commented on #7219
Finally found the answer to this: there were multiple instances of mobx in the code:

- `@parity/mobx` had a dependency mobx
- `@parity/ui` had a dependency mobx
- The host app (shell or dapp) had a dependency mobx

So `import { ... } from 'mobx'` each time imported a different mobx.

Solution:

In all `@parity/*` libraries, set mobx & mobx-react as **peer dependency**, so that there's only one in

[2017-12-22 15:14] #7219 closed

[2017-12-22 17:28] enriquefynn opened #7369 "Parity sent 2 transactions with *almost* the same input"
_Before filing a new issue, please **provide the following information**._

Unfortunately it would be quite difficult to reproduce this behaviour, but it's really scary that it could happen (that's why it's an unstable version I guess)
I signed one transaction to an address never used before, input only one time password, 2 transactions were created with different nonces with the same inputs.
Sinc

[2017-12-22 17:41] amaurymartiny commented on #7294
#7370 updates all logos in the interface. I'll see next week about the installer.

[2017-12-22 18:09] MicahZoltu commented on #7177
Using the docker image, I'm seeing the same behavior.

Docker Image: `parity/parity:v1.8.4`
Run Command: `--base-path /mnt --jsonrpc-interface all --jsonrpc-hosts="all"`

It gets to a random X/Y and then switches to excruciatingly slow normal syncing, which will take days to get through.  I have been unable to figure out any way to get it to finish, each restart gets to a random spot and then stop

[2017-12-22 18:10] fugroup commented on #6297
Any way to force snapshotting? Version 1.7.10 and 1.8.4beta is not fetching snapshots at all, sync is horribly slow. It used to fetch snapshots though, it's weird, but no more.

[2017-12-22 18:27] MrMarioMichel commented on #7340
@kirushik

Just some addings

when I launch parity it just happens 3 secounds later or so.

[2017-12-22 20:38] aigarius commented on #6372
Quick note - you are kind of misreading the initial data on the disk IO. Looking from Linux I see the sync actually *reading* hundreds of gigabytes of data over and over while writing only some of it (I am seeing sustained 150-200 Mbytes of reads on my SSD, and it is making the rest of the system really unresponsive). What could be the big problem is that the database layer underneath the system i

[2017-12-22 20:40] fugroup commented on #6319
Same thing happens here. And normal warp does not fetch any snapshots. Been trying to sync for 5 days now.

[2017-12-23 06:49] Varunram opened #7371 "Change unstable version headers"
[code]
I was on an older version of parity (v1.8.0) and wanted to upgrade versions to current master, so I pulled the repo and built the release to find the release version as 0.1.0. Now, I didn't know this was intended and proceeded to delete the repo, clean the db and rebuild only to find the same thing, when I realised that the version header was to be expected (or is it?).

I think this is hig

[2017-12-23 06:56] Varunram commented on #7371
Looks like version `0.1.0` was defined in commit https://github.com/paritytech/parity/commit/d80dd81d7799a63ab68507e0c1a36d01bf0b6826 by PR #7136

[2017-12-23 06:58] leejy016 opened #7372 "failed to run custom build command for keccak-hash v0.1.0"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

root@q352-2643:~/parity# ~/.cargo/bin/cargo build --release

   Compiling arrayvec v0.4.4
   Compiling textwrap v0.8.0
   Compiling rustc_version v0.2.1
   Compiling aho-corasick v0.6.3
   Co

[2017-12-23 09:21] davidqw commented on #7185
@5chdn The two token are both deployed by me with a same contract owner address :)

[2017-12-23 12:22] frisnit opened #7373 "Core dump when out of storage space"
I'm running:
- Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-linux-gnu/rustc1.22.1
- Linux 4.4.0-1043-aws #52-Ubuntu SMP Tue Dec 5 10:49:06 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- Installed from one line install script
- Not fully synchronised
- Didn't restart node as the storage volume was at 100%

While syncing the storage volume ran out of space and Parity quit with the following error:

[code]

[2017-12-23 13:37] gituser commented on #7309
@tomusdrw no I wasn't able to re-produce the issue yet.

But I think the issue is still there most likely occurs under high load or some race condition as you've mentioned.

I've upgraded for now to `1.8.4` and will see how it goes.

[2017-12-23 18:43] black2714 commented on #7360
Same for me! It doesn't reflect the transaction I made yesterday... My address is: 0x00fCD1d33dd1506d3a22cd22bB18B85556D2A4A3

I have a mac
Parity version: Parity//v1.8.2-beta-1b6588c-20171025/x86_64-macos/rustc1.21.0

I am new on this, what can I do? I am not a developer, I would be really grateful if you please explain it simply!

Thank you very much!

![screenshot 2017-12-23 at 19 30 07](https:

[2017-12-23 20:01] briskycat opened #7374 "Parity Docker containers run as root"
Docker images defined in https://github.com/paritytech/parity/tree/master/docker run with UID 0, which is not very secure: although "containerized" `root` user has fewer capabilities than the real `root`, Docker developers recommend running container processes as unprivileged users.
Even if I specify unprivileged UID:GID in the `--user` option of the `docker run` command I still can not run these

[2017-12-23 22:32] AlexanderSupersloth opened #7375 "Public node does not recognise Ledger Nano S"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

The wallet UI does not recognise my Ledger Nano S when connecting to https://wallet.parity.io

I have checked the setting on the Ledger. It connects to my local Parity wallet perfectly well.

[2017-12-24 03:32] davidqw commented on #7185
@5chdn
ID:390
NAME:ProToken
TLA: PRO

For more information in Etherscan, this token contract is no longer used by our team:)
https://etherscan.io/token/0x20c11E5E049CC1F13B3F27780Cc7830059d92984

[2017-12-24 08:46] MicahZoltu commented on #6372
Any progress on this?  Any additional information or troubleshooting from us that would help isolate the issue?

I am effectively unable to use Parity at the moment because I can't get it to warp sync and doing a non-warp sync is looking like it is going to take weeks to catch up.

[2017-12-24 09:56] aigarius commented on #6372
After doing "db kill" *and* deleting cache and chain folders, the warp sync did work by syncing up to block 4610381. The problem is, however, that *after* that, the regular sync is super slow. Left it running overnight, in 9 hours it only got to 4669722, disk read of 978Gb, write 2.8Gb. Meanwhile geth managed to do full sync from zero without warp in the same time ...
Log - https://pastebin.com/qA

[2017-12-25 01:01] ltfschoen commented on #4604
Append to bash_profile and restert the terminal with single command:
[code]

[2017-12-25 03:41] joycoin opened #7376 "How to unregister a token?"
Before filing a new issue, please **provide the following information**._
I'm running:
**Which operating system?**: Windows
**How installed?**: via installer
**Are you fully synchronized?**:yes
**Did you try to restart the node?**: yes

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

How to unregister a token from

[2017-12-25 05:55] joycoin commented on #7376
Executed the contract and found the function details. I will go with unregister and hope for the best.

[2017-12-25 06:20] joycoin commented on #7376
Transaction went through, unregister was called on he correct ID but it is still listed in the registry.

[2017-12-25 06:20] ZNTtrader opened #7377 "Setting up QASH token in parity wallet"
_Before filing a new issue, please **provide the following information**._

I transferred ERC-20 token QASH to my Parity Wallet, but instead of seeing a symbol of the token, I see a question mark (?). Do I need to set up a new token before transferring it to my wallet? How is it done?

[2017-12-25 10:11] jackieWhn opened #7378 ""reseal_min_period" does not work!"
_Before filing a new issue, please **provide the following information**._

I set up two nodes under private network by using POA.
Every node got one validator.
In the node config file, I set force sealing = true and reseal_min_period = 300000(5minutes). But the new block was created about 2-4 seconds without any transcation. But i want 5 minutes. pls help me to see whether something wrong with my

[2017-12-25 11:10] ydaniels opened #7379 "Server Shutdown Parity is Scanning Private network"
_Before filing a new issue, please **provide the following information**._

_
I just started installing parity on another server  but  after a few hours my server was suspended for netscan abuse . Mostly scanning these ips 10.0.0.0,100.64.0.0, 192.168.0.0 port 30303.
This problem seems to occur with ethereum software nodes including geth

why is parity scanning local networks for other nodes, can

[2017-12-25 11:27] nezyav opened #7380 "Not enough gas to claim EOS"
_Before filing a new issue, please **provide the following information**._

Hello, 2 days ago I sent ethereum to claim EOS.

I followed a guide step by step and I'm pretty sure I did it correctly. I've added EOS to my contracts and have tried to claim my tokens using the 'claim all' button to the account I used to buy them.

The transactions to claim all keep failing. Etherscan states there is not

[2017-12-25 11:57] Trophonix commented on #6319
Same issue as @fugroup

[2017-12-25 17:36] fugroup commented on #6319
I ended up using geth and mist instead of parity, with the --fast option and --cache 512, synced in about 15 hours, 60 GB disk space used. Use an SSD disk or it will not work. The chain data count reached about 50 million. Light mode neither worked for geth nor parity, not enough peers.

[2017-12-25 20:55] bartgb opened #7381 "Issue connecting to Musicoin network"
When im switching to the Musicoin network parity client is going down.
There is no issue with Ethereum network.

[2017-12-25 21:49] nueverest opened #7382 "Token Supply is unexpectedly very small"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

- Switched and sync'd to the Kovan Testnet.
- Opened the builtin Token Deployment App
- Entered 125 into the supply.
- Registered the Token via the Token Registry App.

**Expected:** Since it says base 1,000,000 I expected to see **125,000,000 tokens**.

**Actual:**

[2017-12-25 23:33] leonardok commented on #7360
There it is the screenshot. I had it run all the sync again against parity 1.7 stable with no luck.

![image](https://user-images.githubusercontent.com/214789/34343558-302d5fe6-e9bb-11e7-9e7c-b56f318e75ea.png)

[2017-12-26 00:12] leonardok commented on #7360
I am waiting for a full resync with parity 1.7 stable

[2017-12-26 02:03] jackieWhn commented on #6568
@5chdn, i got this problem too. I use parity 1.7.8, two validator nodes, and each node has its own validator.

[2017-12-26 02:07] jackieWhn commented on #6568
@5chdn what do you mean the same key?

[2017-12-26 11:02] rarigita commented on #6372
Hi, I'm trying many days to sync Parity with Foundation chain with no success, in 2 different Ubuntu 16.04 Dell machines. I deleted the chain/ethereum/ and cache/ folders. However it syncs well with Ropsten and Classic chains. I have read many posts about this, and tried many parity command arguments with the same result. It gets stuck on +4.000.000 blocks and syncs very slow after that.

Any adva

[2017-12-26 13:37] ArranMcC opened #7384 "Another Parity Sync Question"
_Before filing a new issue, please **provide the following information**._

Hi, I really need help. My Parity node is at 4,602,142 and falling further behind all the time, syncing at 0 blks/s. I've restarted the node and computer several times. I've read it's possible to speed up sync by using an argument like: parity --mode active --tracing off --pruning fast --db-compaction ssd --cache-size 1024

[2017-12-27 03:15] harishperfect commented on #7126
@Neurone From a dumb user perspective, it simply makes sense to have a hide option on the tokens displayed. Nobody wants to see Penis Coin as soon as they open a new wallet account. #Rant

[2017-12-27 06:03] libotony opened #7385 "cannot unregister token"
Apologies if this issue is filed in the wrong place. We had announced through our official twitter (@vechainofficial) and medium, VeChain Token is in the process of being rebranded from VEN to VET. Hence VET will be the new name of our token, the trading symbol will remain the same.

We checked the source code of token registry smart contract, only the contract owner can do the token unregister, y

[2017-12-27 06:52] marshallstokes commented on #7126
@Neurone I suppose this explains why I cannot interact with what seems to be a growing number of ERC20 tokens - they aren't in the registry. This alone is likely a deciding factor for countless end users when choosing a wallet to use or recommending wallet software to new users. The registry's 3-character limit on token tickers creates confusion and seems arbitrary and uncooperative; while it is n

[2017-12-27 08:00] AyushyaChitransh opened #7386 "[wiki] Proof of Authority Chains links to aura and tendermint incorrectly"
Towards the bottom of the page [Proof of authority chains](https://github.com/paritytech/parity/wiki/Proof-of-Authority-Chains) it contains a link to aura and tendermint and link redirects to page of `Consensus engine` which is non existent.

** Expected Behavior**
 - `Aura` redirects to https://github.com/paritytech/parity/wiki/Aura or https://github.com/paritytech/parity/wiki/Pluggable-Consensus

[2017-12-27 08:18] tomusdrw commented on #7386
Fixed, thanks!

[2017-12-27 08:18] #7386 closed

[2017-12-27 08:22] tomusdrw commented on #7308
The original issue is a node being stuck after Byzantium hardfork at 4.7M, please upgrade your node if it's stuck on the same block.

@guigzz slow syncing is a separate issue, please follow #6372

[2017-12-27 08:22] #7308 closed

[2017-12-27 08:26] tomusdrw commented on #7310
@a1654 please upgrade your node to recent releases as per @ltfschoen recommendation.

[2017-12-27 08:26] #7310 closed

[2017-12-27 08:28] a1654 commented on #7310
I updated it to the latest release but it didn't solve the problem yet! not sure what's wrong

[2017-12-27 08:29] tomusdrw commented on #7332
@aditbhrgv From the screenshot it seems that your network never created any block yet, please make sure sure that:
1. There is at least one node running with `--engine-signer <address> --unlock <address>`
2. The node you're sending a transaction from is connected to the authority (you can use `--reserved-peers` for that)

[2017-12-27 08:29] #7332 closed

[2017-12-27 08:47] tomusdrw commented on #7310
@a1654 your node is not synchronized, you need to make sure that:
1. Port 30303 is open
2. Your time is in sync
3. Your network connection is decent and you have enough peers (currently it seems you have 0, so most likely Parity cannot connect to anyone).
4. You can also try stopping Parity, clearing `%AppData%/Parity/Ethereum/chains/ethereum/network/nodes.json` file and restarting it.

[2017-12-27 09:43] tomusdrw commented on #7334
@The-Raa Could you please scan your hard drive for issues? It looks like a hardware issue to me.

[2017-12-27 09:44] tomusdrw commented on #7337
@jacogr can you have a look?

[2017-12-27 09:52] tomusdrw commented on #7340
@MrMarioMichel Could you please check if the issue happens as well with `--base-path $HOME`? What filesystem is mounted at `/run/media/...`?

[2017-12-27 09:54] tomusdrw commented on #7344
@kantium Please re-open if killing the database doesn't solve your problem.

[2017-12-27 09:54] tomusdrw commented on #7349
@SJablonska please re-open if `db kill` doesn't solve your issue.

[2017-12-27 09:56] tomusdrw commented on #7360
@leonardok @black2714 Please make sure you are fully synced with the chain. `Status` page should show all green.

Also try clearing your browser's cache and site data and see if this works. Please re-open if the issue persists.

[2017-12-27 09:56] #7360 closed

[2017-12-27 09:58] tomusdrw commented on #7354
@Ochir what do you mean by "heavy usage"? Perhaps the synchronization thread is starved when doing a lot of DB reads over RPC. Can you please try runing with `--jsonrpc-processing-threads 4` and version 1.8?

[2017-12-27 09:59] tomusdrw commented on #7369
@jacogr Could you please make sure that it's not possible to press `Confirm` button twice on the signer page?

[2017-12-27 10:04] tomusdrw commented on #7372
Please make sure to install all build dependencies:
https://github.com/paritytech/parity#build-dependencies

Especially `apt install build-essential`

Re-open if the issue persists after installing the deps.

[2017-12-27 10:04] #7372 closed

[2017-12-27 10:07] tomusdrw commented on #7373
@frisnit what would be an acceptable behaviour for you?

Parity is not able to operate when there is not enough disk space. Right now it crashes with this error message, the only difference I could think of would be to just print a different error message in case it runs out of disk space (without core dump), but it would require some significant refactorings. Feel free to submit a Pull Request fo

[2017-12-27 10:07] #7373 closed

[2017-12-27 10:08] tomusdrw commented on #7374
@paritytech/ci Please have a look.

@briskycat PRs are very welcome.

[2017-12-27 10:10] tomusdrw commented on #7375
Public wallet does not work with Ledger indeed. @maciejhirsz could you estimate how difficult it would be to get that in?

[2017-12-27 10:11] tomusdrw commented on #7376
@joycoin could you please send a link to the transaction so that we can inspect it?

[2017-12-27 10:11] #7349 closed

[2017-12-27 10:12] #7344 closed

[2017-12-27 10:14] tomusdrw commented on #7377
Parity displays tokens as specified in the Token Registry: https://github.com/paritytech/parity/wiki/Token-Registry
If you are the owner of the TokenReg entry, please update it with an image, otherwise to get rid of question mark it needs to be updated by the entry owner (most likely someone behind the QASH token).

[2017-12-27 10:14] #7377 closed

[2017-12-27 10:18] tomusdrw commented on #7378
@jackieWhn Since you are running with `stepDuration: 2` and `--force-sealing` it means that authority will produce blocks every 2 seconds.
If you want a block time of 5 minutes, please run with `stepDuration: 300`, if you don't want empty blocks to be created, ditch the `--force-sealing` flag (authority will only seal new block if there is at least one pending transaction).
You can also use `--res

[2017-12-27 10:18] #7378 closed

[2017-12-27 10:19] tomusdrw commented on #7379
Please run with `--allow-ips public`. Duplicate of #2478, #7364

[2017-12-27 10:19] #7379 closed

[2017-12-27 10:22] tomusdrw commented on #7380
@nezyav Seems that the last transaction went through correctly:
https://etherscan.io/tx/0x0c8fc5c62208523f324d72ac3dffa81f30e57891373b489a493e6d050e5dcf97

Parity should estimate the required gas automatically and inform you if the transaction is likely to fail. Also please make sure to follow EOS guideline regarding claiming carefuly, although I haven't read it I'm pretty sure they specify what p

[2017-12-27 10:22] #7380 closed

[2017-12-27 10:23] tomusdrw commented on #7381
@bartgb Could you try to run Pairty from command line and let us know what you see in the logs?

[2017-12-27 10:25] Ochir commented on #7354
@tomusdrw I don't see the option "jsonrpc-processing-threads". Did you mean jsonrpc-threads?

[2017-12-27 10:26] tomusdrw commented on #7382
The unit depends on the decimal number you set later on, most likely you have set `12`.
If you are the owner of the entry in TokenReg you can easily unregister it using the Token Registry dapp.

[2017-12-27 10:28] tomusdrw commented on #7384
@ArranMcC We are working on improving the sync speed in release 1.9, as a workaround for now you can try warp-syncing from scratch. Please try to:
1. Stop Parity
2. Wipe-out `%AppData%\Parity\Ethereum\chains\ethereum` directory
3. Restart Parity

Also make sure to store parity database on a fast SSD drive.

[2017-12-27 10:28] #7384 closed

[2017-12-27 10:33] tomusdrw commented on #7354
Oh, sorry. Just noticed you are on 1.7, the option was introduced in 1.8. You can try `--jsonrpc-threads` as well, but note it may change the behaviour of HTTP jsonrpc server (since 1.7 contains an experimental implementation).

[2017-12-27 10:36] Ochir commented on #7354
@tomusdrw I installed 1.8 as you asked. However, I don't see the option jsonrpc-processing-threads in documentation as well.

[2017-12-27 10:50] Ochir commented on #7354
I configured Parity with jsonrpc-threads, I will write if it helps.

[2017-12-27 10:54] frisnit commented on #7373
Thanks @tomusdrw yes I would just suggest the absence of the core dump but understand if the solution is more complicated than the problem justifies.

[2017-12-27 11:31] bartgb commented on #7381
@tomusdrw

2017-12-27 12:22:34  Starting Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-windows-msvc/rustc1.22.1
2017-12-27 12:22:34  Keys path C:\Users\Bartek\AppData\Roaming\Parity\Ethereum\keys\Musicoin
2017-12-27 12:22:34  DB path C:\Users\Bartek\AppData\Local\Parity\Ethereum\chains\musicoin\db\a9974ec0e92bf923
2017-12-27 12:22:34  Path to dapps C:\Users\Bartek\AppData\Roaming\Parity\Ethereum\dapp

[2017-12-27 11:39] tomusdrw commented on #7381
@bartgb Did you stop Parity tray icon first? Do you have geth running or anything else that listens to port 30303?
Does it work if you run with `parity --ports-shift 100`?

[2017-12-27 12:27] bartgb commented on #7381
@tomusdrw

Sorry my bad , im new with this.
When im starting parity from a console "parity --chain musicoin"  its working fine. But when im starting parity like everyone else using parity.exe and then in settings  changing chain to musicoin then parity is going down.

[2017-12-27 12:38] #7371 closed

[2017-12-27 13:14] davidqw commented on #7385
@5chdn  @tomusdrw
ID:390
NAME:ProToken
TLA: PRO
Address: 0x20c11E5E049CC1F13B3F27780Cc7830059d92984

Thanks for unregister our useless address, we will replace with new address below
https://etherscan.io/token/0x9041Fe5B3FDEA0f5e4afDC17e75180738D877A01

[2017-12-27 13:44] Ochir commented on #7354
"jsonrpc-threads" didn't help, the same error appears.

[2017-12-27 13:44] bartgb commented on #7381
@tomusdrw
I generated config.toml and i set default chain to musicoin and now everything is working fine.
Thanks.

[2017-12-27 13:46] #7381 closed

[2017-12-27 18:29] radarcg commented on #6783
@5chdn can this be reopened? It is still an issue.

[2017-12-27 19:58] cheeselord1 opened #7391 "eth_getFilterChanges don't receive logs in pending state when toBlock: 'pending'"
Steps to reproduce:

1) Pick an address
2) Open a filter in RPC eth_getFilter with specified address and toBlock: "Pending"
3) Send a 0 ETH transaction to that address. Low Gwei gives more time for step 4
4) Before the transaction occurs, call eth_getFilterChanges on the created filterId

Result: eth_getFilterChanges only displays the described transaction when it is mined into the latest block, n

[2017-12-28 00:21] ZNTtrader commented on #7377
Thank you!

[2017-12-28 01:17] ltfschoen opened #7392 "Parity TOML config file inconsistently interprets $HOME for path values using Kovan network"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: yes

# **actual behaviour**

Parity Configuration file (i.e. kovan-config.toml) is able to interpret `$HOME` in the value of the path for Parity Operating Options `[parity]` such as the following:
[code]
But it is no

[2017-12-28 03:03] ltfschoen opened #7393 "Parity UI using Kovan Network connects when secure token is bypassed by providing `--ui-no-validation` Flag but not when equivalent UI Option in TOML config provided"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: no, N/A
**Did you try to restart the node?**: yes

# **actual behaviour**

I am using a custom Parity Configuration file (i.e. kovan-config.toml) to run the Parity UI connected to the Kovan Test Network.

When I run `parity ui --config ./kovan-config.toml` i

[2017-12-28 03:29] jackieWhn opened #7394 "Why empty block still be issued while Force-sealing = false?"
Before filing a new issue, please provide the following information.

    I'm running:

        Which Parity version?: 1.7.8
        Which operating system?: Linux(Ubuntu)
        How installed?: via parity_1.7.8_amd64.deb
        Are you fully synchronized?: yes
        Did you try to restart the node?: yes

I set up two nodes under private network by using POA.
Every node got one validator.
In t

[2017-12-28 03:44] jackieWhn opened #7395 "Stage 1 block verification failed"
Before filing a new issue, please provide the following information.

    I'm running:

        Which Parity version?: 1.7.8
        Which operating system?: Linux(Ubuntu)
        How installed?: via parity_1.7.8_amd64.deb
        Are you fully synchronized?: yes
        Did you try to restart the node?: yes

I set up two nodes under private network by using POA.
Every node got one validator.
In t

[2017-12-28 07:26] Varunram opened #7396 "[enhancement] Don't show conversion rate for non Eth chains"
Parity version: master at https://github.com/paritytech/parity/commit/26e4fc680c7bbe5654ba65627af5e6852f8a8235

It'd be nice to omit this line in the console output when syncing non Ethereum chains:
[code]
(This is the line just below the "configured for xxx using yyy Engine" part)

[2017-12-28 07:38] ltfschoen commented on #1798
I got the same error using Parity v1.8.4-beta `Unable to read password file. Ensure it exists and permissions are correct.` when using a custom `config.toml` file with the following:
[code]
I fixed it by replacing `$HOME` with my home directory i.e. `/Users/Ls`

[2017-12-28 08:54] EighteenZi opened #7398 "One Bug of OverlayRecentDB??"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Thesee days i'm reading the source code of OverlayRecentDB.
I have an question:  Will the backing_overlay's size in memory keep in growing, bigger and bigger??
 In 'journal_under', the k-v da

[2017-12-28 09:16] stone212 opened #7399 "1.9.0 does not read 1.7.10-valid chain spec file and vice versa"
_Before filing a new issue, please **provide the following information**._

On a private blockchain running versions up to and including 1.7.10, the gasLimitBoundDivisor parameter goes under the "engine" section of the chain spec.

However as of version 1.9.0 it must move to the params section or it gives an error when starting parity from the command line:

Now if I move the gasLimitBoundDivisor

[2017-12-28 09:51] ArranMcC opened #7400 "2FA on Parity?"
_Before filing a new issue, please **provide the following information**._

I asked this on Gitter yesterday and no one replied. How do you set up 2FA for a Parity wallet? There's no option for it in Home, Settings, Signer, in the wallet under Passwords, or anywhere else. And it's not mentioned in the Parity User Guide, or anywhere online. It is possible, right?

[2017-12-28 11:10] tomusdrw commented on #7398
@rphmeier ?

[2017-12-28 11:15] tomusdrw commented on #7392
Indeed special flags like `$HOME` or `$BASE` are parsed only for some specific CLI options (namely: keys, db, cache, dapps).
For consistency we should support it everywhere.

[2017-12-28 11:18] tomusdrw commented on #7393
`--ui-no-validation` is development option and should never be used. That's also the reason why it's not present in a config file.

You're config file states:
[code]

You should leave it default or allow connections from `127.0.0.1:8180`:
[code]

[2017-12-28 11:18] #7393 closed

[2017-12-28 11:20] tomusdrw commented on #7395
With only 2 nodes in case of network issue between them they can end up on different forks. After reconnecting they will have trouble re-organizing to the same chain, because most likely both chains will have the same length/difficulty.

Please run at least 3 nodes or ensure good connectivity between the nodes (use `--reserved-peers`).

[2017-12-28 11:20] #7395 closed

[2017-12-28 11:22] tomusdrw commented on #7394
Please set `--reseal-max-period` to a very high value, otherwise authorities might be creating new blocks even if they are empty.

[2017-12-28 11:22] #7394 closed

[2017-12-28 11:24] tomusdrw commented on #7396
Duplicate of #6228
Fixed in #6877

[2017-12-28 11:25] tomusdrw commented on #7396
Hmm just noticed, that you mentioned latest master. Can you please post full log including chain and version?

[2017-12-28 11:28] tomusdrw commented on #7400
There is no 2FA in Parity itself. However you can use:
1. A multisig with a second account on a different machine.
2. Parity Mobile Signer https://paritytech.io/blog/announcing-parity-1-8.html - allows you to store your private key on air-gapped mobile device and sign transactions by scanning qrcodes.

[2017-12-28 11:28] #7400 closed

[2017-12-28 12:38] Varunram commented on #7396
@tomusdrw I noticed I was running parity from an outdated version (v1.8.0, which was before the commit came into place.) Running from my other directory, where master is at, it works great. Thanks and sorry!

[2017-12-28 12:38] #7396 closed

[2017-12-28 13:13] tomusdrw commented on #7399
Yes, unfortunatelly you need two different spec files if you want to support both 1.7 and 1.9 nodes. The file structure has been altered in 1.9, the migration guide will be included in release notes when 1.9 is out.

[2017-12-28 13:13] #7399 closed

[2017-12-28 13:14] tomusdrw commented on #7391
@cheeselord1 Parity is not producing pending block by default (note that light clients won't do that either). Please include `--force-sealing` flag if you require pending block.

[2017-12-28 13:14] #7391 closed

[2017-12-28 15:03] rphmeier commented on #7398
The `backing_overlay` is basically just a hash map. We remove elements from it, but don't ever call `shrink_to_fit` (the only way I know of to reclaim memory used in a hash map). The allocated memory can be reused for other elements.

Thus the size of the backing overlay will remain at the peak necessary during a given run of the Parity node.

One simple improvement would be to periodically (every

[2017-12-28 15:03] #7398 closed

[2017-12-28 15:16] rphmeier commented on #7272
wouldn't this random delay be encapsulated by the differences in time to receive the block that triggers the update?

[2017-12-28 15:34] tomusdrw commented on #7272
It's too little. For Kovan block time is 3seconds, and if every authority runs with auto-updated we are basically killing the entire network.
The second issue is potential database migrations that might happen right after upgrade (they can take up to 30 minutes). See the linked comment for proposed solution.

[2017-12-28 16:36] mingfang opened #7402 "trace_filter missing an internal transaction"
There is a transaction in block 3851974 with txnHash 0x8bead8b.. sent to address 0x851b7f3...
You can see it here https://etherscan.io/tx/0x8bead8b3681af9ce385cfe4f2ce5a114a07df0daec127a581a2263317aec5ee9
But this transaction is not returning when using the trace_filter.

**steps to reproduce**
step 1:  call trace_filter setting the from address

```curl -s --data '{"method":"trace_filter","params

[2017-12-28 17:50] tomusdrw commented on #7402
Token transfer is not an internal call, it's just a change in internal contract storage mapping balances to accounts.
Since there is no internal call to `0x851b...` it's not possible to use `trace_filter` for that. You can however use `topics` to filter for `Transfer` event with that address as destination.

[2017-12-28 17:50] #7402 closed

[2017-12-28 18:02] gaia opened #7403 "Upgrades, release branches questions"
A) Why are there two release branches being updated?
https://github.com/paritytech/parity/releases/tag/v1.7.11
https://github.com/paritytech/parity/releases/tag/v1.8.5

B ) Which one should I use headless on ubuntu?

C) Why does
`bash <(curl https://get.parity.io -Lk)`
update it to 1.8.4 not 1.8.5?

[2017-12-28 21:10] ltfschoen opened #7404 "Parity CLI Options and TOML file config inconsistently use "None", "none", and "null""
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: N/A

# **actual behaviour**

The guidelines for using configuring Parity with either the CLI options or a TOML file config inconsistently use values of values `"None"`, `"none"`, and `"null"`.

For instance, the defa

[2017-12-28 21:33] stone212 commented on #7399
@tomusdrw Thank you.  Is there any guess when 1.9.0 will be out?  (Or some other stable release that supports the new file structure)?

[2017-12-28 21:53] ltfschoen opened #7405 "Parity CLI options have "Default" values that are not included in "Available" values. "eth_pubsub" and "ssh" JSONRPC Modules are missing from the Configuring Parity Wiki page"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: N/A

# **actual behaviour**

Some values shown in the list of "Default" CLI Options are not shown in the list "Available" CLI Options. Below I have highlighted the "Differences".

For the CLI's Options described at h

[2017-12-28 22:01] ltfschoen opened #7406 "Parity CLI options that are "required" are not included correctly in the Sample TOML config file"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: Yes

# **actual behaviour**

Some examples of where CLI options are specified as being "required" at https://github.com/paritytech/parity/wiki/Configuring-Parity#cli-options, but are not actually used the Sample TOML

[2017-12-28 22:20] ltfschoen opened #7407 "Parity Sample TOML config file uses different Default values than those specified in CLI options"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: N/A

# **actual behaviour**

In the CLI Options for API and Console Options it specifies that for `--jsonrpc-cors` the Default value of `"None"`, but in the Sample TOML config file they use a value of "null"
[code]

[2017-12-28 22:29] ltfschoen opened #7408 "Parity Sample TOML config file does not show how to use Import/Export, Legacy, and Internal CLI Options"
# INFO
**Which Parity version?**: 1.8.4-beta
**Which operating system?**: MacOS
**How installed?**: homebrew
**Are you fully synchronized?**: N/A
**Did you try to restart the node?**: N/A

# **actual behaviour**

The Parity CLI Options https://github.com/paritytech/parity/wiki/Configuring-Parity#cli-options show how to use "Import/Export Options", "Legacy Options", and "Internal Options" as CLI fl

[2017-12-28 22:55] joycoin commented on #7376
0xbca9253ee4e8103cb6c66172e225e48b5edaffb74fd6f0595de168c020337ded

Function: unregister(uint256 _id)

MethodID: 0xa02b161e
[0]:00000000000000000000000000000000000000000000000000000000000002eb

[2017-12-29 01:43] stone212 commented on #7231
@tomusdrw you said "the issue doesn't describe under what circumstances the file might change" and now I have a great example:

https://github.com/paritytech/parity/issues/7399#event-1403552991

If I start a private blockchain with 50 nodes now, then when I upgrade to Parity 1.9.0 I will have to copy the file 50 times.  If it was possible to invoke Parity to read a chain spec file remotely, then I

[2017-12-29 08:47] tomusdrw commented on #7404
- `None` indicates that there is no default value for parameter
- `none` indicates that default value for the parameter is `"none"` - a special string that is parsed to have some meaning
- `null` indicates a `null` origin in case of CORS parameters and it's different from `none` (default config file is most likely wrong, since `null` is not a default for that particular parameter).

We are working

[2017-12-29 08:49] tomusdrw commented on #7403
The release process looks like this:
1. We create a tag on github
2. Our CI servers produce binaries for that tag and upload them to S3 buckets
3. In the meantime we draft release notes
4. We hit the red button and publish the release everywhere.

You caught us in the middle of the process, version 1.7.11 and 1.8.5 will be released today.

[2017-12-29 08:49] #7403 closed

[2017-12-29 08:50] tomusdrw commented on #7399
@stone212 Sure, please PM me on Gitter.

[2017-12-29 08:56] tomusdrw commented on #7405
The list of available APIs in parity help can be updated here:
https://github.com/paritytech/parity/blob/master/parity/cli/mod.rs#L459

We are also preparing a community-contributable version of Parity Wiki really soon, stay tuned.

[2017-12-29 09:02] tomusdrw commented on #7406
Config file does not need to contain all possible Parity parameters. It's only used to override some of the Parity defaults, while leaving the rest untouched.
The parameters are applied in this order:
1. Internal Parity defaults (all parameters listed in `--help` with default values)
2. Parameters set in the config file override the defaults.
3. Paremeters set via CLI flags override the defaults a

[2017-12-29 09:02] #7406 closed

[2017-12-29 09:06] tomusdrw commented on #7376
@joycoin the transaction cannot have any `value` associated with it, please send the same transaction but with value `0` instead.

[2017-12-29 09:18] tomusdrw commented on #7231
@stone212 I still believe that the solution I provided:
[code]
works well in your example and doesn't lead to any security discussions within Parity. While the feature seems simple to implement the security tradeoffs associated with it are better left for the users.

Note that in my example I'm using http without any checksums so it's susceptible to man-in-the-middle attack (where attacker connect

[2017-12-29 10:10] #7248 closed

[2017-12-29 10:44] #6209 closed

[2017-12-29 12:52] debris commented on #4910
I'm closing it as it is not a priority, not a bug and it is not clear how it could be improved

[2017-12-29 12:52] #4910 closed

[2017-12-29 12:56] debris commented on #7278
duplicate of #6082

[2017-12-29 12:56] #7278 closed

[2017-12-29 12:59] debris commented on #6406
@tomusdrw is it still an issue?

[2017-12-29 13:00] v-gu opened #7410 "A strange failed issue"
_Before filing a new issue, please **provide the following information**._

Parity/v1.8.3-beta-b49c44a-20171114/x86_64-linux-gnu/rustc1.21.0

Linux in Docker

Docker hub: parity/parity:v1.8.3

yes

no

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

A transaction was mined but failed

0x6170f594c794513fd62ddc26929

[2017-12-29 13:01] debris commented on #6821
@MicahZoltu please reopen if it still occurs

[2017-12-29 13:01] #6821 closed

[2017-12-29 13:06] tomusdrw commented on #6406
Will be fixed by https://github.com/paritytech/jsonrpc/issues/158 in near future, imho no reason to dig into it earlier (it doesn't happen that often now, when UI RPC spam has been fixed).

[2017-12-29 13:12] debris commented on #6880
it's **NOT** a bug.

it's caused by insidious [change in the specification](https://github.com/ethereum/wiki/wiki/JSON-RPC/_compare/677ad3a74a992a544c20e0485e43a39665ea187e...c248e86f1719f57f8546114eda88ae11dd6a84a5) on `18 Jul 2016` followed by the [commit](https://github.com/ethereum/go-ethereum/commit/f52a1ae849492480b6505ab7805305640518a568) in go-ethereum in Dec 2016.

[2017-12-29 13:18] debris commented on #6188
closing in favour of #6507

[2017-12-29 13:18] #6188 closed

[2017-12-29 13:23] debris commented on #884
@tomusdrw what is the status of it?

[2017-12-29 13:25] tomusdrw opened #7411 "Warn when reading date from non-existing ancient blocks."
Currently after warp sync not all blocks might be present, although you can see the latest state in the UI.

This might be especiall frustrating for developers, since RPC is just simply not returning data for such blocks.

Example:
Fetching all the logs for particular address can render an empty list even though there are clearly blocks with logs out there.

Proposal:
1. Display a warning if such

[2017-12-29 13:25] debris commented on #1496
I believe that this issue is not relevant anymore and will become even more obsolete as soon as we merge #7348. I'm closing

[2017-12-29 13:25] #1496 closed

[2017-12-29 13:28] tomusdrw commented on #6880
That said, we are aiming for compatibility between clients, so it is important to implement that soonish.

@debris I don't agree that it's insubstantial, since we currently don't inform about removed log events at all - it requires quite significant change in filters logic to support that.

[2017-12-29 13:29] debris commented on #2913
any update on this?

[2017-12-29 13:30] tomusdrw commented on #884
Still missing those two methods, but on my list.

[2017-12-29 13:31] tomusdrw commented on #884
It's actually tracked in #6426, let's close this one.

[2017-12-29 13:31] #884 closed

[2017-12-29 13:32] debris commented on #2772
is it still relevant? I see that we use `mime_guess` crate now

[2017-12-29 13:43] tomusdrw commented on #2772
We do, but not everywhere. I would close for now or move to long term / easy issues.

[2017-12-29 14:18] #7350 closed

[2017-12-29 20:03] windemut commented on #6372
I also cannot get Parity to sync. Have waited several days now, creeping along slowly at block 4206888, at this rate will never catch up. I have read all of the above, but am not 100% of the workaround. Do I delete cache and chains and start fresh? Will that allow me to sync up completely in reasonable time? Or do I have to add extra flags? My version is Parity/v1.9.0-unstable-6bc8866-20171219/x86

[2017-12-29 20:28] windemut commented on #6372
So, I jjust tried that, and it warped ahead nicely until snapshot 200/430. Then, it appears to switch to regular synching. Currently, still fast enough, but I fear it will slow down to the same snails pace as before when it reaches those heights. Excerpt of log at end.

From this issue it appears this is happening to everyone trying to catch up to the chain. Any suggestions as to what I can do? An

[2017-12-29 20:34] windemut commented on #6372
The GUI says "47.21% warp restore", which appears to be a lie. It is also not advancing, even though the sync is, per the log.

[2017-12-29 21:46] implicit-invocation commented on #6372
I have managed to sync 2 nodes on AWS EC2 m4.xlarge instance (I used m4.xlarge for the network performance, switched back to t2.medium after synced).

The parameters I used: `parity --cache-size 1024 --db-compaction ssd --jsonrpc-hosts all --jsonrpc-interface all --snapshot-peers=25 --max-peers=100 --min-peers=50`
(strangely, if I set `--cache-size` to something larger, the `Syncing snapshot` is n

[2017-12-29 23:03] Melvillian opened #7413 "kovan parity stops progressing, must wipe node.json"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Expected behavior: parity stays fully synced to the latest block

Actual behavior: parity randomly stops getting new blocks from peers, and the peer count goes to 0. Restarting does not help.

[2017-12-29 23:32] songlinm commented on #6372
I have been having this issue for a while. Tried the above solutions, e.g. db kill + cache/chain deletion, but the synchronisations keep getting stuck. Not sure if it's coincidence but each time, the stuck block is "4,xxx,001". The first time it was stuck at 4,300,001. Another time it was 4,4??,001. And now it stops at 4,370,001.

Parity version is "Parity/v1.8.0-unstable-684b14271-20170921/x86_64

[2017-12-30 00:06] windemut commented on #6372
I tried --light, but that did not work, either. It went synching really fast for a while, then suddenly stopped:

2017-12-29 18:48:52  Syncing #1169644 972c…38ba   370 hdr/s  12835+    0 Qed  #1169644   27/50 peers     10 MiB cache   11 MiB queue  RPC:  0 conn,  0 req/s,   0 µs
2017-12-29 18:48:57  Syncing #1170812 f603…1f29   233 hdr/s  11666+    0 Qed  #1170812   27/50 peers     10 MiB cache   1

[2017-12-30 07:36] Canalytic opened #7414 "Problem syncing, corrupt SSD?"
Am running: Parity//v1.8.0-beta-9882902-20171015/x86_64-linux-gnu/rustc1.20.0
installed with one-line
have been synced through 3-4 previous versions until last week.

I've read through many similar issues.  Don't know if this should be grouped with #6372, #3247, or #7807
The error:
`stack backtrace:
   0:     0x55cf448c0dfc - <no info>

Thread 'IO Worker #3' panicked at 'DB flush failed.: "Corrupt

[2017-12-30 07:53] Canalytic commented on #7414
I was synced until a few days ago, I found I was stuck somewhere around 4700000.  I at first thought it was similar to problem in #6371 that warp wasn't warpy anymore.

[2017-12-30 07:54] Canalytic commented on #7414
And I was sometimes getting the error from #3247.  Yet the advice was to run with --warp enabled, but from 1.8 --warp is enabled by default.

[2017-12-30 16:43] windemut commented on #6372
Tried to run overnight with parameters suggested by implicit-invocation, above. Warped for maybe 200  snapshots, up to some early block number, then started syncing regularly at 100-200 blk/s. This morning, was around block 2,700,000, but slowed to a crawl at 1-2 blk/s. Until someone fixes this or posts a workaround, parity no longer works for me. I'll see if I have less problems with geth.

Did t

[2017-12-30 23:13] thorstenhirsch commented on #5770
There's no longer error message.
It happens when db_path is not writable, thus chains/ver.lock cannot be created.

[2017-12-30 23:34] stone212 commented on #7231
@tomusdrw I understand that you don't want to implement the feature but the wget example you provided is what I had already been using that led me to make this feature request.  Your example does nothing to address the actual request.  It is entirely unrelated.  I've said that before and I'm not sure why you think it addresses this issue.  Unless you're also suggesting that every parity node in a

[2017-12-31 05:44] ARastogi19 commented on #6783
This is happening to new accounts too:

![image](https://user-images.githubusercontent.com/1001943/34459638-cd620302-edb2-11e7-8db1-3d0983b28d1f.png)

Version: v1.8.2-beta-1b6588c-20171025/x86_64-linux-gnu/rustc1.21.0

[2017-12-31 09:21] Sjors commented on #6923
uninstall and reinstall worked for me as well, maybe as a result of the recent fix.

[2017-12-31 10:38] Serpent6877 commented on #7061
Any news on this? What happens to the coins that were mined after the fork on the old chain using Parity?

[2017-12-31 10:59] thorstenhirsch commented on #7408
I guess one will update https://github.com/paritytech/parity/wiki/Configuring-Parity#default-configtoml to resolve this issue, so I add another point to this issue:

- the current default config in the wiki also enables mining

This results in the error message "Consensus signer account not found for the current chain" unless additional setup has been done. So my suggestion is to present a default

[2017-12-31 15:36] daithi-coombes commented on #6181
In issue referenced above is an `nginx` configuration I'm using to run `parity` over `ssl`, some may find it usefull... also solution, when I find it, may be worth putting in docs?

[2017-12-31 16:22] rr8187 opened #7415 "Parity will not open from Start Menu"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

When i try to run Parity Ethereum from the start menu it won't open.  A window pops up for a second and then disappears.

Here is the output when I run parity.exe

![pairty](https://user-imag

[2017-12-31 20:59] ltfschoen commented on #7408
@thorstenhirsch Yes, great suggestion. I think we'll all be able to contribute to this soon, as I've received messages from @tomusdrw stating that Parity are are working on making the Parity Wiki pages amendable by the community!

The current [Default Config TOML](https://github.com/paritytech/parity/wiki/Configuring-Parity#default-configtoml) uses the Proof-of-Work (PoW) chain Homestead. It also

[2018-01-01 09:21] Shachindra opened #7416 "Parity stops; Issue: all back-references to answered requests have been filled"
I'm running:

Error: While syncing with the kovan testnet, parity abruptly gets stopped.

2018-01-01 06:39:03 UTC Syncing #4973397 5101…5fb5     0 hdr/s      0+    0 Qed  #4973397   24/50 peers   10 MiB cache 0 bytes queue  RPC:  0 conn,  3 req/s,  53 µs
2018-01-01 06:39:08 UTC Syncing #4973397 5101…5fb5     0 hdr/s      0+    0 Qed  #4973397   24/50 peers   10 MiB cache 0 bytes queue  RPC:  0 con

[2018-01-01 10:09] Shachindra commented on #7416
Happened again even after full sync was completed:
2018-01-01 09:30:32 UTC Syncing #5194214 9123…a74c     0 hdr/s      0+    0 Qed  #5194214   25/50 peers   10 MiB cache 0 bytes queue  RPC:  0 conn,  0 req/s,  96 µs
2018-01-01 09:31:02 UTC   25/50 peers   10 MiB cache 0 bytes queue  RPC:  0 conn,  0 req/s,  97 µs
2018-01-01 09:31:32 UTC   25/50 peers   10 MiB cache 0 bytes queue  RPC:  0 conn,  0

[2018-01-01 11:44] 5chdn commented on #7162
http://notes.eth.sg/MYEwhswJwMzAtADgCwEYBM9kAYBGJ4wBTETKdGZdXAVmRvUQDYg=?view

https://arxiv.org/abs/1710.09437

[2018-01-01 11:52] LunarExplorer opened #7417 "Unable to send transactions with any gas limit money just get consumed and transaction fail"
I have created this issue in wrong repo. It's not parity issue. Would like to delete or close it please.

[2018-01-01 12:32] tomusdrw commented on #7415
Please upgrade to 1.8.5-beta, there was an issue in CLi arguments parsing that could lead to this behaviour.

[2018-01-01 12:32] #7415 closed

[2018-01-01 12:33] axelchalon commented on #2913
Marek:

**Separating global help from help of subcommands**
`parity --help` only shows global options, and the options for a specific subcommand are shown by `parity account --help` for example, so this already reduces the size of the help outputs in general.

**Hiding some options from the CLI help output**
Currently, the `parity --help` output (for the global options only) is generated by us (th

[2018-01-01 13:07] jo-tud commented on #7258
And I assume correctly that the second number tells the number of blocks awaiting execution? Is there an explanation of all the columns, somewhere? @arkpar

[2018-01-01 13:28] geiszla commented on #7229
I get the same error, just with all of them being "hid_error" and not "<no info>", and I have ~70GB free space on the partition where the blockchain database is. Another thing to note is that this error only came up at a later point of syncing (at block #4463711). Before it I had no problem at all.

[2018-01-01 13:33] jo-tud commented on #6640
I have 30303 open and still have sudden disconnects of peers, regularly. Strangely it seems to be correlated to the pre-verification cache...

[code]

[2018-01-01 14:26] klimenko opened #7418 "dev-chain: Couldn't connect to node http://127.0.0.1:8545/rpc/ in web-browser"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I expecte: there is no error :)
What I did (by my memory):

[code]
[code]

In Safari i click Applications, then Parity/Web3 Console and receive (same in Chrome)
[code]
If i try geth there is no error:
[code]
![2018-01-01 17 20 32](https://user-images.githubuserconten

[2018-01-01 16:14] windemut commented on #6372
Just FYI: I went back and tried geth, because I needed to get some ether sent right now. Geth managed to sync the chain in roughly 8 hours and I am moving on. Will monitor here, though, and after there is a fix give it another go. Sorry I can't help other than by reporting my experience....

[2018-01-01 17:46] remiprev commented on #6783
@43061b4a Did you trying clearing your browser local storage?

[code]

Did the trick for me!

[2018-01-01 20:02] rphmeier commented on #7162
The paper is pretty good documentation for a start, but I haven't dug into how votes are broadcast/accumulated in practice -- does a smart contract keep track of votes and justified checkpoints? or does a full node have to track all justified checkpoints internally? How are light clients meant to track finality?

Engineering concerns:
  - `BlockChain` currently holds the whole fork-choice decision

[2018-01-01 21:16] joshuad31 commented on #6783
window.localStorage.clear() - This goes where exactly?  Saying things like this is like saying "we don't expect non-technical users to use our product" or "penis coin is not real just get over it"

Its gross and in very poor taste.  Do something about it.  That one of the first things a user notices when using the Parity wallet and it means I can't really tell my friends to use it, its embarrassin

[2018-01-01 21:48] 43061b4a commented on #6783
This goes in the web-developer console area. See more details [here for firefox.](https://stackoverflow.com/questions/6084099/how-to-view-delete-local-storage-in-firefox) Local storage is somewhat newer data storage mechanisms and hence browser and software may not be as mature just yet. But I agree that this is something that should be addressed.

[2018-01-01 22:01] joshuad31 commented on #6783
Unable to make a connection to the Parity Secure API. To update your secure token or to generate a new one, run parity signer new-token and paste the generated token into the space below.

Ensure that both the Parity node and this machine connecting have computer clocks in-sync with each other and with a timestamp server, ensuring both successful token validation and block operations.

Pathetic

[2018-01-01 22:01] joshuad31 commented on #6783
And its STILL THERE even after going to all the trouble

[2018-01-01 22:05] 43061b4a commented on #6783
What version of Parity are you running? and on what OS? Clearing storage fixed it for me, I'm running on Ubuntu.

[2018-01-01 22:11] joshuad31 commented on #6783
Windows
Parity/1.8.4/1.22.1/wi
Tried on BOTH Chrome and Firefox

[2018-01-02 00:54] rbranston opened #7419 "Parity Taking Up All My C: Drive. HELP!"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hi,

My C drive says it is full. Under C:\User\myname\AppData\Parity\Ethereum\chains\ethereum\db
I see tons and tons of gigabyte files here. Can I delete all these? I there a simple way to co

[2018-01-02 03:47] simbo18 opened #7420 "Parity won't start"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hello,
         Tried to upgrade to latest version, but get this msg
![screenshot 12](https://user-images.githubusercontent.com/29782285/34473849-931f5ef8-efc7-11e7-81d4-061adf78de61.png)
Can

[2018-01-02 03:51] vbuterin commented on #7162
Yes. The Casper contract basically keeps track of everything.

Probably via a special-purpose protocol, like randomly selecting 50
validator indices and verifying that valid votes for enough of those
validators exist.

targeting non-finalized checkpoints to avoid violating slashing conditions.

You can simplify this by simply tracking the highest epoch you're used as a
target and the highest epoch

[2018-01-02 05:03] yrashk commented on #7144
@zot I think your assessment is spot on. The reason `relay` compiles is because `bool` implements Copy and that's what happens within the move semantics. The value just gets copied.

[2018-01-02 07:43] jo-tud commented on #6640
Another instance of weird peer decrease:
[code]

[2018-01-02 07:57] jo-tud opened #7423 "jsonrpc call trace_replayTransaction slows dramatically with bigger db"
I'm running:
**Which Parity version?**: v1.9.0-unstable
**Which operating system?**: Linux
**How installed?**: from source
**Are you fully synchronized?**: no
**Did you try to restart the node?**: yes

*I'm running parity with the parameters: --pruning archive --tracing on --mode active --fat-db on --scale-verifiers*

**RPC-Call (Tx in block 2396812) :** `curl --data '{"method":"trace_replayTransa

[2018-01-02 08:04] aleksey-makarov opened #7424 "IO Worker #2' panicked at 'DB flush failed'"
I've got a sigsegv, see the attachment [log.txt](https://github.com/paritytech/parity/files/1597028/log.txt)

[2018-01-02 08:12] aleksey-makarov commented on #7424
#7334 looks the same

[2018-01-02 08:29] aleksey-makarov commented on #7424
fsck.ext4 reported some errors.  I think it should not oops anyway.

[2018-01-02 09:58] joycoin commented on #7376
Would a new transaction done with the same function the job? If so, the new tx would be 0x8fa5bb786e5888c4d7c662c47f61f4a0158df29625212b908b95f853fc190354
Function: unregister(uint256 _id)

MethodID: 0xa02b161e
[0]:00000000000000000000000000000000000000000000000000000000000002eb

[2018-01-02 10:26] jacogr commented on #7295
Tested on 127.0.0.1:8180 with a fresh build after clearing permissions - cannot reproduce. Must have been a glitch in the matrix.

[2018-01-02 10:26] #7295 closed

[2018-01-02 11:08] debris commented on #7188
This panic is cause by corrupted database on disk. Most likely epoch was not written to a disk properly due to lack of space. https://github.com/paritytech/parity/pull/7348 should fix the issue

[2018-01-02 11:14] debris commented on #7151
iirc, the array is not stored in an event, but only a hash of the array. Regardless, hashing so many elements is indeed a waste of resources.

@rphmeier @snd what do you think?

[2018-01-02 11:16] debris commented on #4402
I already started working on unifying [`ethereum-types`](https://github.com/paritytech/primitives) in all of our projects. It will be done in 1.10 and, will resolve this issue

[2018-01-02 11:18] debris commented on #4858
@grbIzl what is the status of it? Do you think we could move remaining work to 1.10?

[2018-01-02 11:19] debris commented on #4139
@jacogr @jesuscript @tomusdrw what is the status of it?

[2018-01-02 11:20] 5chdn commented on #7419
Please upgrade to 1.7.11-stable or 1.8.5-beta and reset your database with:

    parity.exe db kill

[2018-01-02 11:20] #7419 closed

[2018-01-02 11:21] 5chdn commented on #7419
Duplicate of #6280

[2018-01-02 11:26] debris commented on #7293
@paritytech/ci can you look into it?

[2018-01-02 11:47] aleksey-makarov commented on #7424
have got it agan
[code]

[2018-01-02 11:48] 5chdn commented on #7424
Thanks for your report. Let's track it in #7334

[2018-01-02 11:48] #7424 closed

[2018-01-02 11:49] 5chdn commented on #7334
Might be related to #7279 #7088 #7087 #7029 #6974 #6960 #6905 #6798 #6790 #6670 #6506 #6501 #5837 #3634 #3432 #2830 #2640 #2603 #763

[2018-01-02 11:51] 5chdn commented on #7420
Thanks

Duplicate of #7334

[2018-01-02 11:51] #7420 closed

[2018-01-02 11:51] 5chdn commented on #7420
And please upgrade your node to 1.7.11 or 1.8.5

[2018-01-02 11:52] 5chdn commented on #7418
Please run parity in development mode with `--force-ui` if you want to use the interface. Thanks :)

[2018-01-02 11:52] #7418 closed

[2018-01-02 11:53] #7417 closed

[2018-01-02 11:55] 5chdn commented on #7414
Please upgrade to 1.7.11 or 1.8.5 :)

[2018-01-02 11:55] #7414 closed

[2018-01-02 11:56] 5chdn commented on #7414
The db issue is tracked here #7334

[2018-01-02 11:56] 5chdn commented on #7413
This is fixed in 1.7.11 and 1.8.5 :)

Randomly flashing nodes.json is a good idea though :)

[2018-01-02 11:56] #7413 closed

[2018-01-02 11:58] aleksey-makarov commented on #7334
I have run fsck.ext4 after the last failure of the bug #7424, it said everything was ok.

[2018-01-02 11:59] 5chdn commented on #7410
Please ask the bitmart support for help. Are you allowed to move the tokens?

[2018-01-02 11:59] #7410 closed

[2018-01-02 12:02] ddorgan commented on #7293
Is this still an issue? basically get.parity.io will given the latest beta (and it just tried to install 1.8.5).
To use stable you need to specify the -r flag, e.g.:

bash <(curl https://get.parity.io -Lk) -r stable

Which currently tries to fetch 1.7.11 ..

[2018-01-02 12:05] #7382 closed

[2018-01-02 13:10] amaurymartiny commented on #7319
Present on :8180, but not on :3000

[2018-01-02 13:17] rphmeier commented on #7151
That won't work for light clients (or warp sync) unless we also add a `getPendingValidators() -> [Address]` function used to generate the necessary state proofs.

Embedding the new validator set in a log event means we don't have to store indefinitely state proofs for justification to light clients while syncing. Aura and Tendermint both will not function effectively with anywhere near 2400 valida

[2018-01-02 13:25] debris opened #7427 "Add tests for sending whisper messages"
related #7421

[2018-01-02 13:26] Netherdrake opened #7428 "Using a password file"
### Issue
Unable to unlock parity with a password file.

[code]

[2018-01-02 13:58] Canalytic commented on #7414
I've upgraded to 1.8.5 and problem still persists.  Should I move the issue to #7334 ?

[2018-01-02 13:59] Canalytic commented on #7334
I'm having the same issues. SSD seems ok.

[2018-01-02 14:24] 5chdn commented on #7354
Can you please attach the logs of both nodes with `-l sync=trace` ? Thanks

[2018-01-02 14:29] 5chdn commented on #7428
Yes, this is annoying. Try to put `--password` as last argument.

[2018-01-02 14:32] 5chdn commented on #7330
Are you on SSD or HDD?

[2018-01-02 14:35] 5chdn commented on #7329
Duplicate of #7334

[2018-01-02 14:35] #7329 closed

[2018-01-02 14:38] 5chdn commented on #7414
Yes :)

[2018-01-02 14:42] #7144 closed

[2018-01-02 14:43] #7187 closed

[2018-01-02 14:43] 5chdn commented on #7399
This was changed in 1.8 already and is documented in the changelog

[2018-01-02 14:45] 5chdn commented on #7403
We maintain stable (think LTS) and beta release channels.

[2018-01-02 14:55] 5chdn commented on #7376
Users can not unregister tokens. Please let me know which one and I'll do it for you.

[2018-01-02 15:04] 5chdn commented on #7415
Where did you download parity from?

[2018-01-02 15:12] tomusdrw commented on #7428
or use `--password=/Users/user/Github/tmp/unlock.txt`

[2018-01-02 15:13] tomusdrw commented on #7428
IMHO It's actually not a bug since help states that you can provide many `--password` files.

[2018-01-02 15:24] 5chdn commented on #7428
But a space should separate cli options and not password files...

[2018-01-02 15:25] #7151 closed

[2018-01-02 15:26] ng0177 commented on #7330
on SSD. Thanks.

On Tue, Jan 2, 2018 at 3:32 PM, Afri Schoedon <notifications@github.com>
wrote:

[2018-01-02 15:27] fanatid commented on #7187
@tomusdrw @debris can you explain how #7412 fix this issue? What was the problem?
In which version #7412 will be included?

[2018-01-02 15:30] rr8187 commented on #7415
I installed the stable version from parity.io.  But I just updated to 1.8.5 beta and that seems to have corrected the issue.

[2018-01-02 15:32] 5chdn commented on #6783
Are you fully synchronized?

[2018-01-02 15:33] 5chdn commented on #7377
Please upgrade your client to 1.7.11 or 1.8.5 :)

[2018-01-02 15:34] tomusdrw commented on #7187
In our intepreter implementation the execution may either exit correctly (`Ok`) or Error (`Err` variant). Before revert `Err` signified a failed call. Revert is special in a way that it is a correct end of execution (`Ok`), but the `apply_state` flag is set to false (so the state changes done by the execution should not be commited).
The change traces a failed call in case it's a revert operation

[2018-01-02 15:35] iFA88 commented on #7187
When will you release it for linux binary? I would like to test it :)

[2018-01-02 15:36] 5chdn commented on #7187
1.9.0 and 1.8.6 :)

[2018-01-02 15:38] 5chdn commented on #7330
Duplicate of #6372

You could try to remove your `nodes.json` and increase the number of `--snapshot-peers` to trigger a warp-sync.

[2018-01-02 15:38] #7330 closed

[2018-01-02 15:39] 5chdn commented on #7293
This is working now, but not fixed.

[2018-01-02 15:39] #7293 closed

[2018-01-02 15:44] 5chdn commented on #7061
No idea. You can start Expanse Classic :stuck_out_tongue:

Closing as there is nobody maintaining this anymore.

[2018-01-02 15:44] #7061 closed

[2018-01-02 15:45] 5chdn commented on #7071
Remove expanse #7146

[2018-01-02 15:48] 5chdn commented on #7373
regarding disk space #6280

[2018-01-02 15:49] 5chdn commented on #6568
please share how you run both nodes here

[2018-01-02 16:02] 5chdn commented on #6297
Try to remove your nodes.json and increase the number of --snapshot-peers

[2018-01-02 16:03] 5chdn commented on #7364
Duplicate of #2478

[2018-01-02 16:53] aleksey-makarov commented on #7334
This is what I get with a custom-built parity.  I hope it will help.
[code]

[2018-01-02 16:54] kirushik commented on #7231
_My 2¢:_

I think this would actually be an anti-feature, because it (even if slightly) replaces distributed control over what are the consensus rules with a centralized one.
What would happen if the centralized server is hacked? The attacker then would be able to force all the consumers of remote chainspec to mine `foundation` Ethereum to his coinbase instead of their expected function. Or introd

[2018-01-02 17:16] aleksey-makarov commented on #7334
Log from a dev [unoptimized + debuginfo] build:
[code]

[2018-01-02 17:55] rphmeier commented on #7144
Technically it's just an RPC error if the messages actually did get posted to the network. But nice catch and fix regardless!

[2018-01-02 21:19] NiklasKunkel commented on #7351
It seems some 3rd party has registered the new MKR token with the MAC TLA. Please delete this TLA when the "MKR" TLA is released.

[2018-01-02 21:30] Quantenkosmos opened #7429 "Thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src\libcore\option.rs:335"
_Before filing a new issue, please **provide the following information**._

starting with follwoing config.toml

[parity]
mode = "last"
mode_timeout = 600
mode_alarm = 3600
auto_update = "none"
release_track = "current"
public_node = false
no_download = false
no_consensus = false
no_persistent_txqueue = false

[footprint]
tracing = "auto"
pruning = "auto"
pruning_history = 64
pruning_memory = 5000

[2018-01-03 01:09] uberfounder commented on #5765
Hey guys,
First of all - Happy New Year!
I have a quick question: I have just deployed a new token ERA with the total supply of 100,000,000,000 - then I have registered the token using the registry app and it shows up a 1,000.00. Have I messed something up with the number of decimals?
Thanks!
Evgeni

[2018-01-03 01:19] ekouris opened #7430 "A token has a wrong total supply after registration"
Hey guys!

First of all - Happy New Year!

**actual**
I have deployed a new token ERA with a total supply of 100,000,000,000
Then I have registered the ERA into the registry and it shows up as 1,000.00 instead
![bildschirmfoto 2018-01-03 um 02 17 04](https://user-images.githubusercontent.com/203002/34506352-3f7f42b2-f02c-11e7-854a-fcce5c35683b.png)

**expected behavior**
I had expected to have the

[2018-01-03 02:03] mtbitcoin commented on #7334
We’ve encountered the same issue on multiple machines running on ssd drives too

[2018-01-03 03:07] rbranston commented on #7419
Where can I preform this upgrade?

[2018-01-03 03:17] cgruber commented on #7050
I'm running 1.8.5 beta and I'm still not seeing any transactions either (all transactions from imported geth accounts).  I am running in --light mode.  Is that possibly the issue?

[2018-01-03 03:55] Feuda commented on #2744
Removed the nodes.json, it worked. For linux, the file locates in '/share/io.parity.ethereum/chains/ethereum/network/'.

[2018-01-03 04:14] goodfake opened #7431 "Access to Parity"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hi! So in June 2017 i installed my parity. After not using my computer for last 6 months i tried to access my parity but whenever i try to run it through desktop icon it shows in right corner

[2018-01-03 04:20] rbranston commented on #7419
I figured it out.

Im switching my parity wallet to chrome instead of firefox because i was told its better. Its asking me for a new token now though. Do I just get that from this page?
![image](https://user-images.githubusercontent.com/35016027/34509032-904638d6-f013-11e7-97c4-ff334f84c97e.png)

[2018-01-03 04:54] jamiew commented on #6372
This was not working for me in 1.8.2, but worked after upgrading to 1.8.5

[2018-01-03 06:18] zumbatan commented on #6759
@5chdn  @rphmeier   HI, do you have any new information for this issue? Thx

[2018-01-03 06:54] joycoin commented on #7376
Thank you 5chdn, ideally I only wanted to update the contract portion into 0x143832e4bc4757114D4610fEf606eC0a7a3C02D0 for id 747 not unregister and attempt to start all over. The rest of the registration was correct, the owner remains the same 0x00059091346be9009287BCFe79c76a2fc666A892 it is 18 decimals and it has the desired TLA. If that cannot be done, I would rather wait for your 1.9 update so

[2018-01-03 09:49] #7319 closed

[2018-01-03 10:00] #6280 closed

[2018-01-03 10:11] 5chdn commented on #6280
:tada:

[2018-01-03 12:05] 5chdn opened #7436 "Impossible to create snapshots with OverlayRecent pruning"
As discussed on Riot.

[2018-01-03 12:08] 5chdn commented on #7436
related to but not certainly the same issue #6372

[2018-01-03 12:08] 5chdn commented on #7294
thanks @amaurymartiny can you also check the installers?

[2018-01-03 12:11] 5chdn commented on #7008
Can we also make sure we do not purge ancient blocks whenever a warpsync kicks in?

[2018-01-03 12:18] 5chdn commented on #7349
Duplicate of #7334

[2018-01-03 12:47] bjornwgnr commented on #7061
@chrisfranko FYI ^

[2018-01-03 12:52] 5chdn commented on #7061
Happy to accept a PR with a working integration. For now it's urgent to remove it to avoid users getting stuck on the wrong fork.

[2018-01-03 12:54] 5chdn commented on #7419
Wait until your client is fully synchronized.

Your issue will be fixed in 1.8.6 coming up this week.

[2018-01-03 12:55] 5chdn commented on #7050
Depends, what are you looking at? The wallet's account details? This is an etherscan API.

[2018-01-03 12:56] 5chdn commented on #5765
If the balances are not correctly displayed - yes :)

[2018-01-03 12:58] 5chdn commented on #7430
Yes.

[2018-01-03 13:00] 5chdn commented on #7126
@harishperfect @marshallstokes see #6783

@JediJuice see https://github.com/paritytech/parity/wiki/Token-Registry

[2018-01-03 13:00] #7126 closed

[2018-01-03 13:04] 5chdn commented on #7352
Duplicate of #7436

[2018-01-03 13:07] 5chdn commented on #7339
Duplicate of #7436

[2018-01-03 13:11] 5chdn commented on #6759
@zumbatan is centra registered with the token registry? https://github.com/paritytech/parity/wiki/Token-Registry

You are saying:

Of course, you need to register it :)

[2018-01-03 13:15] 5chdn commented on #7431
Please upgrade to 1.7.11 or 1.8.5 :)

You wont lose access to your accounts.

[2018-01-03 13:15] #7431 closed

[2018-01-03 13:17] 5chdn commented on #7429
Duplicate of #7340

[2018-01-03 13:17] #7429 closed

[2018-01-03 13:18] 5chdn commented on #6985
Duplicate of #7340

[2018-01-03 13:18] #6985 closed

[2018-01-03 13:34] 5chdn commented on #7303
The token registry only accepts TLA, where T stands for _three_.

So probably one of them is not registered?

https://github.com/paritytech/parity/wiki/Token-Registry

[2018-01-03 13:34] #7303 closed

[2018-01-03 13:37] 5chdn commented on #7305
Duplicate of #6783

[2018-01-03 13:37] #7305 closed

[2018-01-03 13:39] 5chdn commented on #7306
There is no way to know the balance without synchronizing the chain.

For ETH run `parity --chain foundation`

For ETC run `parity --chain classic`

There is currently no plan to enable synchronization of two chains in parallel.

[2018-01-03 13:39] #7306 closed

[2018-01-03 13:42] 5chdn commented on #7304
It's a decentralized application. Go ahead and register the tokens :)

[2018-01-03 13:42] #7304 closed

[2018-01-03 13:44] 5chdn commented on #7300
Duplicate of #7436

[2018-01-03 13:59] 5chdn commented on #6880
Note, A-labels are for pull-requests and Q-labels for issues.

[2018-01-03 14:02] 5chdn commented on #7177
@SnowLeopard71 you received a snapshot from a non-byzantium node, that's very unfortunate.

[2018-01-03 14:06] 5chdn commented on #7315
There is no error in your log at all. It only says "killed". This usually happens if your device runs out of memory.

[2018-01-03 14:06] #7315 closed

[2018-01-03 14:25] #7194 closed

[2018-01-03 14:42] jlopp commented on #7413
@5chdn can you specify which commit fixed this issue?

[2018-01-03 14:46] #5976 closed

[2018-01-03 14:47] #6525 closed

[2018-01-03 14:47] #6765 closed

[2018-01-03 14:47] #6780 closed

[2018-01-03 14:48] #6846 closed

[2018-01-03 14:49] #6867 closed

[2018-01-03 14:49] #6879 closed

[2018-01-03 14:49] #6980 closed

[2018-01-03 14:50] matt93310 commented on #5765
Hi all,
could you please stop copying me in this email chain.
My issue has long been resolved by the community and I thank everyone involved towards that outcome.
Mathieu

[2018-01-03 14:50] #6986 closed

[2018-01-03 14:50] #7062 closed

[2018-01-03 14:51] #7107 closed

[2018-01-03 14:52] 5chdn commented on #7137
Just do the load balancing a step earlier and assign different clients to different servers. No need to provide the same work.

[2018-01-03 14:52] #7137 closed

[2018-01-03 14:56] #6482 closed

[2018-01-03 14:56] #6612 closed

[2018-01-03 14:57] #6635 closed

[2018-01-03 15:00] 5chdn commented on #6704
Should be fixed actually.

[2018-01-03 15:00] #6704 closed

[2018-01-03 15:01] #6734 closed

[2018-01-03 15:01] #6805 closed

[2018-01-03 15:02] #6835 closed

[2018-01-03 15:03] #6851 closed

[2018-01-03 15:04] #6857 closed

[2018-01-03 15:05] #6888 closed

[2018-01-03 15:05] 5chdn commented on #6945
Fixed.

[2018-01-03 15:05] #6945 closed

[2018-01-03 15:06] #6981 closed

[2018-01-03 15:06] #6983 closed

[2018-01-03 15:07] #7085 closed

[2018-01-03 15:07] 5chdn commented on #7122
Please remove your nodes.json and try this again with 1.8.5.

[2018-01-03 15:07] #7122 closed

[2018-01-03 15:09] #7302 closed

[2018-01-03 15:10] #7341 closed

[2018-01-03 15:11] 5chdn commented on #5765
Just unsubscribe on Gihtub. We can not do that for you :)

[2018-01-03 15:13] 5chdn commented on #7413
Yes https://github.com/paritytech/parity/pull/7296/commits/4a9a0f6f554e49b75d0c1da44481b0b48faa915f

[2018-01-03 15:29] russianNinja commented on #7249
I have this problem too

[2018-01-03 15:33] 5chdn commented on #7249
@jacogr do you know what's going on here?

[2018-01-03 15:50] zumbatan commented on #6759
@5chdn  @rphmeier   Hi , why did you close this highly relevant ERC20 token issue?
Centra is registered in the token registry! And as I said this issue relates NOT only to one token, but to many different registered erc20 tokens! Centra is just one example!

So please open this again, and have you already tried yourself to reproduce the issue? ::
"have you tried to add Centra token in your client

[2018-01-03 17:00] fatihATtargens opened #7441 "Parity PoA authorities are not syncing"
_**Authority sync not work correct**._

I'm running a private parity poa network with verion 1.7.7 stable.
The following issue I get:

and after that the two atuhorities are not able to sync again correct.
In the following screenshot you can see that on of the authorities imports higher blocknumbers and than back again lower blocknumber (the lower numbers are the same like at the other authority a

[2018-01-03 17:22] debris commented on #7441
@tomusdrw can you confirm that this is fixed in #7343 ?

[2018-01-03 18:22] fatihATtargens commented on #7441
Sorry but i'm not able to change the version of parity.

[2018-01-03 19:19] mingfang commented on #2060
This is still a problem in v.18.4; The create is still not marked as error.

[2018-01-03 21:51] chrisfranko commented on #7061
Except there is someone maintaining it and we were waiting on guidance because we updated everything we thought we were supposed to update.

[2018-01-03 22:06] 5chdn commented on #7061
I'm sorry if this was due to a misunderstanding. Let's keep working on #7146 and I'll try to guide you.

[2018-01-03 23:35] spaceywolfi opened #7443 "add support for libressl 2.5.5"
currenlty parity build fails when not having the compatible version of openssl and/or libressl
please add support for libressl 2.5.5

[2018-01-03 23:40] 5chdn commented on #7443
Please share the exact error message. The rust-openssl crate supports libressl. https://github.com/sfackler/rust-openssl/pull/538

[2018-01-04 00:17] emmick4 opened #7444 "trace_replayTransaction shows no balance change"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
Expected Behavior:
run trace_replaytransaction on:
`0x09a7e3a46176657dff7f3063253651597a690f846613968612c623cde27523c3`

should return something like:
`{'output': '0x', 'stateDiff': {'0x52bc44

[2018-01-04 00:29] goodfake opened #7445 "Parity doesn't open /// Invalid argument: you have to open all column families"
Description of issue

Hi! So in June 2017 i installed my parity ( 1.6.8 ver ). After not using my computer for last 6 months i tried to access my parity but whenever i try to run it through desktop icon it shows in right corner parity icon and it dissapear after few seconds. I got advice to upgrade my version so i did it to 1.8.5 ver ( now when i want to uninstall program it shows both 1.6.8 and 1

[2018-01-04 01:07] cgruber commented on #7050
Wallet account details - there's a box for transactions in the UI, and it's empty.

[2018-01-04 01:43] rbranston commented on #7419
Ok,

I did a parity kill and my chain is resyncing now.

I was also told to do this cmd: parity.exe --min-peers 100 --max-peers 500 --log-file=parity.log

is that ok?

[2018-01-04 01:44] viardomc opened #7446 "Parity going in and out of sync."
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

My parity keeps on going in and out of sync and there is a problem finding stable number of connected peers (is this normal?). I have just sent ETH from binance to parity and while the transa

[2018-01-04 04:10] stone212 commented on #7231
@kirushik I'd enjoy discussing possibilities.  I'm on gitter now.  I did not mean for this to balloon the way it has.  But I will also reply to what you wrote here:

And that would be a bad feature - for a public blockchain.  Not so much for a private one.

[2018-01-04 04:19] sambgord opened #7447 "Panicked at "State Root of Best Header is Always Valid"."
_Before filing a new issue, please **provide the following information**._

Hello -

I continue to get the following message: "Connecting to the Parity Node. If this informational message persists, please ensure that your Parity node is running and reachable on the network."
My clock is synchronized as well.
<img width="950" alt="parity screenshot" src="https://user-images.githubusercontent.com/35

[2018-01-04 04:33] #7446 closed

[2018-01-04 04:42] winsvega opened #7448 "Parity not syncing either"
[code]

I've tried geth and parity. nor of the clients syncing in fast mode. light client is barely working.
full sync takes insane amount of time. it seems that ethereum network is unsable at the moment.

[2018-01-04 07:47] zumbatan opened #7449 "help-Parity 1.7.10 & 1.7.11 not warping correctly-warping only until block height around 200,000"
_Before filing a new issue, please **provide the following information**._

Expected:  after installing Parity, warping is done relatively fast and then syncing begins and ends in couple hours

Actual:  after installing both parity clients several times deinstalling, re-installing, still no correct warping (warping is being finished while still at block heights around 150,000 till 450,000). This m

[2018-01-04 08:20] tomusdrw commented on #7441
@debris It's a similar bug that was fixed in previous release, but the cause is a bit different. We have identified it and working on a fix.

[2018-01-04 08:21] ekouris commented on #7430
Thanks a lot - just for my better understand 2 more questions
- Could you point me to a place where I can better learn about the difference between "deployed" and "registered" tokens?
- My understanding is that I cannot send the unregistered tokens to any other accounts, nor publish contracts on these. But as soon as I register a token I could start leveraging the Ethereum network & parity tools,

[2018-01-04 09:00] fatihATtargens commented on #7441
If you know the bug and the causes is there a workaround for it?

[2018-01-04 09:02] tomusdrw commented on #7441
@fatihATtargens Restart both nodes and they should reorganize. Also make sure that the time on both authorities are properly synchronized.

[2018-01-04 09:04] amaurymartiny commented on #7294
@arkpar is taking care of it

[2018-01-04 09:10] fatihATtargens commented on #7441
@tomusdrw thanks a lot! I'll give that a try and let you know if that works!

[2018-01-04 09:35] tomusdrw commented on #7241
What kind of contract is it? Maybe there is just some assertion that causes it to fail (and consume all the gas)?

[2018-01-04 09:37] jacogr commented on #7369
Confirmed. There is a breakage on current master when the actual isSending state is not pulled through into the pending item list.

[2018-01-04 09:54] 5chdn commented on #7050
Hopefully, the new User Interface will fix this.

[2018-01-04 09:55] 5chdn commented on #7419
looks good.

[2018-01-04 09:56] 5chdn commented on #7446
Duplicate of #7436

[2018-01-04 09:57] 5chdn commented on #7445
Does this happen if you start your parity node again?

If yes, try `parity.exe db kill` - this will reset your database but it will not remove your accounts.

[2018-01-04 09:57] #7445 closed

[2018-01-04 09:58] 5chdn commented on #7448
Unfortunately, yes.

[2018-01-04 09:58] #7448 closed

[2018-01-04 09:59] 5chdn commented on #7449
Duplicate of #6372 :(

[2018-01-04 09:59] #7449 closed

[2018-01-04 10:02] 5chdn commented on #7430
Deployed tokens - they are live on the blockchain. You can send unregistered tokens by executing the token contract directly.

Registered tokens - they are listed in some kind of record that allows lookup. This allows the Parity wallet to interact with the tokens because it knows where to direct the transactions at.

[2018-01-04 10:56] spaceywolfi commented on #7443
[code]

[2018-01-04 11:39] gaoxiangxyz commented on #3081
@keorn @5chdn The issue is still present on windows with SSD, task manager shows 99% ram utilized out of 64GB. The private working set of parity.exe process is only about 1GB. The current block number is about 2.5 million and sync is blocked when ram utilized reach to 99%.

config file is as below
[code]

[2018-01-04 11:59] jacogr commented on #7337
Ok, this is a _weird_ one, but definately exists,

[2018-01-04 12:13] #7369 closed

[2018-01-04 12:32] jacogr commented on #7337
@chevdor Could you try this branch - https://github.com/paritytech/parity/pull/7454

(Build with `cargo build --release --no-default-features --features ui`)

The reason for asking is that the changed I made (which was actually just cleanups as I went though), made it "just start working". As it stands the issue is weird since the rows have no significance on the display anyway, each indv. card ge

[2018-01-04 12:46] 5chdn commented on #7447
Can you locate the Parity tray Icon, right-click it, and shut down the process.

Afterwards, please start Parity again and let me know if this issue persists.

[2018-01-04 12:57] 5chdn commented on #7443
:+1:

[2018-01-04 13:27] General-Beck commented on #5893
Parity also requires gcc, g++, libssl-dev/openssl, libudev-dev and pkg-config packages to be installed.
See pls https://github.com/paritytech/parity/blob/master/README.md#build-dependencies

[2018-01-04 13:45] goodfake commented on #7445
Im not sure if by "start your parity node again " you mean i run 'parity' application ( icon which has 38.610 mb ) if so that's the case everytime.

could you explain me how  can i  db kill of parity.exe ?  Im total newbie, thanks for your time , appreciate that

[2018-01-04 13:45] sambgord commented on #7447
I've right-clicked on the Parity try icon, but do not see an option to shut down the process.

[2018-01-04 13:59] 5chdn commented on #7447
![capture](https://user-images.githubusercontent.com/15729797/34566711-e4e924a0-f15f-11e7-80ff-d4479fa16f69.PNG)

[2018-01-04 14:01] sambgord commented on #7447
I don't have that icon showing at the bottom left of my screen.

[2018-01-04 14:02] sambgord commented on #7447
bottom right*

[2018-01-04 14:03] chrisfranko commented on #7061
Thanks. So im pretty sure i got it right in the new commit. What I did was
add a new param to the ethparams struct called EXPIP2 duration time and
transition. Then below, checked to see if block.number > expip2 transition

Then updated the duration limit based on if that variable is true.

On 3 January 2018 at 17:06, Afri Schoedon <notifications@github.com> wrote:

[2018-01-04 14:04] chrisfranko commented on #7061
I'm not familiar with compiling rust so I havnt tested it yet, but it looks
right.

On 4 January 2018 at 09:03, Christopher Franko <chrisjfranko@gmail.com>
wrote:

[2018-01-04 14:17] goodfake commented on #7445
Unfortunately after writing down those lines it ask me if i want to make some changes i click yes --
for very short time ( less then second ) black window shows up and immediately closes.

I tried to run icons in C:\Program Files\Parity\Parity but both don't work

![parity error](https://user-images.githubusercontent.com/35054086/34567351-db27f294-f159-11e7-9024-0d77351046d0.png)

[2018-01-04 14:18] slavicd commented on #6297
This should not have been closed: confirmed behavior in 1.8.4: no snapshots are used either before or after deleting the db.

[2018-01-04 14:33] sambgord commented on #7447
i'm able to get the ptray icon to show at the bottom right when i double click on the ptray icon located in the folder where my downloads were sent to. however, when i try to start parity, it disappears.

[2018-01-04 14:44] fatihATtargens commented on #7441
@tomusdrw the workaround doesn't work! The same error occures.

[2018-01-04 15:08] 5chdn commented on #6297
@slavicd #6372

[2018-01-04 15:10] 5chdn commented on #7447
Please open a command prompt by clicking "Start" > and enter "cmd", hit ENTER.

Type

    cd "C:\Program Files\Parity\Parity\"

And

    parity.exe

And show me the output (could be an error message).

[2018-01-04 15:10] slavicd opened #7458 "No snapshots available after ~ block 4600000"
It looks like no snapshots after #520 (block ~4600000) are available for warp restore. Same happens with the current beta (1.8.4).

[2018-01-04 15:12] #7443 closed

[2018-01-04 15:14] 5chdn commented on #7458
Yeah, we are aware of that issue. #7436

[2018-01-04 15:14] #7458 closed

[2018-01-04 15:19] ppratscher commented on #7334
I also experienced a db corruption issue on a running Parity node during the last days:

[code]

[2018-01-04 15:43] sambgord commented on #7447
Okay. I will be out for the day, but will follow those instructions when I get back to my computer later and will follow-up with you in results. Thanks!

[2018-01-04 16:26] #7218 closed

[2018-01-04 16:27] slavicd commented on #7436
What does it mean for the regular user, though? Should one use geth for now or can this be mitigated somehow with parity? (Waiting 40+ hours for sync is not a solution, I believe)

[2018-01-04 17:25] rbranston commented on #7419
Will I keep having to delete my parity chains every few weeks though to keep my C drive from filling up again?

[2018-01-04 17:57] andresilva opened #7462 "Add `eth_signTypedData` RPC method"
https://github.com/ethereum/EIPs/pull/712

[2018-01-04 17:57] andresilva commented on #7462
This will also require support in the signer UI.

[2018-01-04 20:54] 5chdn commented on #7419
No. Not once we released 1.8.6 :)

Stay tuned :)

[2018-01-04 20:58] SjonHortensius opened #7464 "parity --help|x crashes"
This is a extremely minor issue, but parity segfaults and tells me to report this. `parity --help|x` (piping to any non-existing binary) will crash saying:

[code]

This issue was previously reported (#4295) and marked as fixed, but it seems this is broken again.

[2018-01-04 22:53] sambgord commented on #7447
Here is the output.
<img width="320" alt="capture" src="https://user-images.githubusercontent.com/35054073/34587886-d810a888-f16f-11e7-9944-bc4eb56aa95a.PNG">

[2018-01-04 22:56] sambgord commented on #7447
I've reinstalled to save it in the location you referenced above. See my new output.
<img width="322" alt="capture" src="https://user-images.githubusercontent.com/35054073/34587975-427721b6-f170-11e7-8c32-7bac3baaf441.PNG">

[2018-01-04 23:00] sambgord commented on #7447
nevermind. i see what you're saying. sorry for the confusion. i will send a new output

[2018-01-04 23:01] sambgord commented on #7447
<img width="943" alt="capture" src="https://user-images.githubusercontent.com/35054073/34588108-edbd0694-f170-11e7-9ec0-8a0a2ac1607c.PNG">

[2018-01-04 23:02] sambgord commented on #7447
<img width="890" alt="capture" src="https://user-images.githubusercontent.com/35054073/34588133-0eda869e-f171-11e7-95c7-513ba25c2079.PNG">

[2018-01-05 00:28] pgconlin opened #7465 "Thread 'main' panicked"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Was running fine, stopped parity to adjust --max-peers= setting from 64 to 48, relaunched and got the below results.

2018-01-04 16:24:36  main INFO parity::run  Starting Parity/v1.9.0-unstab

[2018-01-05 00:52] pgconlin commented on #7465
Ah well, looks like this was a case of --fast-and-loose working as expected.  However, according to parity's standard ctrl-c exit statements it looked like there was not an unclean exit.  Oh well.

[2018-01-05 03:57] goodfake opened #7466 "access to account - Lost Password / 12 words"
_Before filing a new issue, please **provide the following information**._

Hi, so i had this problem that my parity didn't run properly after 6 months of not using it , i had to reset my database by parity.exe db kill but i didn't remove my accounts. I found as well my UTC keys if it matters.

My question is if is there any solution to get access to my account/tokens without knowing password/12 s

[2018-01-05 09:37] 5chdn commented on #7466
Unfortunately, not.

There are commercial wallet recovery services available on the internet. If you roughly remember the password, you have good chances to get this recovered.

[2018-01-05 09:37] #7466 closed

[2018-01-05 09:39] 5chdn commented on #7465
Duplicate of #7340

Yes, using _fast and loose_ is not a good idea.

[2018-01-05 09:39] #7465 closed

[2018-01-05 09:42] 5chdn commented on #7340
Did you use `--fast-and-loose` ? @MrMarioMichel

[2018-01-05 09:46] 5chdn commented on #7464
It's a rust bug and the upstream developer decided not to fix it.

https://github.com/rust-lang/rust/issues/24821

[2018-01-05 09:46] #7464 closed

[2018-01-05 09:59] MrMarioMichel commented on #7340
@5chdn No I haven't used `--fast-and-loose` only the config file nothin more !

[2018-01-05 10:05] 5chdn commented on #7430
Removed ERA.

[2018-01-05 10:05] #7430 closed

[2018-01-05 10:12] 5chdn commented on #7185
Removed PRN

[2018-01-05 10:13] 5chdn commented on #7185
Removed PRO

[2018-01-05 10:13] #7185 closed

[2018-01-05 10:14] 5chdn commented on #7351
Removed MKR

[2018-01-05 10:14] 5chdn commented on #7351
Removed MAK

[2018-01-05 10:14] #7351 closed

[2018-01-05 10:15] #7311 closed

[2018-01-05 10:17] 5chdn commented on #7376
Can't find neither 747 nor 0x143832e4bc4757114D4610fEf606eC0a7a3C02D0

[2018-01-05 10:19] 5chdn commented on #7385
Removed PRO

[2018-01-05 10:20] 5chdn commented on #7385
Removed VEN

[2018-01-05 10:20] #7385 closed

[2018-01-05 10:22] tomusdrw commented on #7340
@MrMarioMichel Could you please check if the issue happens as well with --base-path $HOME? What filesystem is mounted at /run/media/...?

[2018-01-05 10:23] 5chdn commented on #7447
Thanks for your report

[2018-01-05 10:38] tomusdrw commented on #7008
As a workaround:
1. Remove database
2. Warp again to latest snapshot (hopefuly warp health improves soon with new bootnodes being rolled out)
3. Download ancient blocks again.

@5chdn That's a separate issue, can you log it?

[2018-01-05 10:44] jacogr commented on #7294
Installers are a bit of an issue - I don't know anybody apart from @arkpar that knows how these fit together. (And how test build, test)

[2018-01-05 10:49] 5chdn commented on #4251
Closing as solved with `--light`

[2018-01-05 10:49] #4251 closed

[2018-01-05 10:55] andresilva commented on #7133
I'll take this.

[2018-01-05 10:58] 5chdn commented on #7008
@tomusdrw I think it is this one: #6350

[2018-01-05 11:00] 5chdn commented on #4228
What's the take on this?

[2018-01-05 11:06] andresilva commented on #7334
The error `Corruption: block checksum mismatch` is thrown by RocksDB, it's own checksums failed for a given block (database block) so this points to some kind of hardware failure that is causing the corruption, but since there are many people with this error it may be a RocksDB bug? (https://github.com/facebook/rocksdb/blob/master/HISTORY.md)

[2018-01-05 11:09] 5chdn commented on #7294
#7469

[2018-01-05 11:09] #7294 closed

[2018-01-05 11:11] 5chdn commented on #7334
I always close these type of reports as "hardware failure", but the recent spike of reports indicates some other issues. Also, users were checking their devices and couldn't find any indicators for hardware issues.

[2018-01-05 11:15] andresilva commented on #6959
I'm not sure RocksDB error messages are working on Windows (https://github.com/paritytech/rust-rocksdb/blob/master/rocksdb-sys/src/ffi.rs#L100) so this could be throwing the same error as #7334.

[2018-01-05 11:19] mtbitcoin commented on #7334
The issue can be reproduced more frequently on the latest release by killing the daemon without doing a proper shutdown. Didn’t see this so often on 1.7.10

I don’t think it’s hardware related as we encountered this running on different azure instances and various different bare metal servers all running enterprise level ssd/nvme drives

[2018-01-05 11:22] tomusdrw commented on #7334
@mtbitcoin did you experience it when doing proper shtudown as well? Perhaps some db tuning in recent versions increased the amount of data that needs to be synchronized to disk, that would explain why it happens more often now.

Seems more like a db-synchronization-on-shutdown issue then.

[2018-01-05 11:37] aditbhrgv opened #7470 "How to use mining in private test setup with PARITY?"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Hi,

Thanks for reading my post. I have some questions:

1. How should I develop a private test network with mining enabled ? I tried using the dev chain but it doesn't perform mining. I want

[2018-01-05 11:39] mtbitcoin commented on #7334
@tomusdrw I cannot say for sure. We run a lot of nodes that get auto-restarted. But i did notice that with 1.7.11 it happened more often and normally after a restart. Then again it could have been the monitoring service restarting the node because it had already crashed.

We've moved to "graceful" shutdowns vs a task kill and haven't seen much of this anymore.

[2018-01-05 11:54] 5chdn commented on #7470
A private development testnet automatically seals the blocks once transactions are broadcasted. All you need to do is running `parity --chain dev`.

If you want to connect more than 1 node to a private network, please consider setting up a proof-of-authority network. Have a look at the tutorial: https://github.com/paritytech/parity/wiki/Demo-PoA-tutorial

You can basically use the default gas para

[2018-01-05 11:54] #7470 closed

[2018-01-05 11:55] dcxblockchain commented on #7311
Hi,

sorry for late reply, i was in hospital unfortunatly. Correct DCX token is 0xbE8eb4c36a6f6ccB9bdB8533bE70DC5988011466

[2018-01-05 11:57] 5chdn commented on #7311
Removed DCX

Get well soon!

[2018-01-05 12:08] 5chdn commented on #6585
Wiki migrated to: https://paritytech.github.io/wiki/

Submit your pull requests here: https://github.com/paritytech/wiki

[2018-01-05 12:08] #6585 closed

[2018-01-05 12:26] #7337 closed

[2018-01-05 13:00] 5chdn commented on #7470
Then you have to point a miner at your parity node: https://paritytech.github.io/wiki/Mining

Or connect a mining Geth node.

I'm not sure if I understand the 2nd question correctly. Could you expand on that?

[2018-01-05 13:31] aditbhrgv commented on #7470
For ex: If I doesn't specify enough gas price required to mine a block, the transaction should fail and should not pass through..

Like, to execute a transaction or to deploy a contract  I need some amount of gas specified by the miner for computing terms, I want to specify lower gas than that, so that My contract is not deployed successfully.. This is a negative test i want to test.. How to do it

[2018-01-05 14:26] andresilva commented on #7133
I've been unable to reproduce this. The `--no-periodic-snapshot` flag is parsed correctly and the snapshot watcher service is not started. Is this still happening to you? Do you have more of the logs available?

[2018-01-05 14:31] iFA88 commented on #7133
Version `Parity/v1.8.4-beta-c74c8c1-20171211/x86_64-linux-gnu/rustc1.22.1` does not produce this, so I think its solved.
The `snapshots` folder is also empty.

[2018-01-05 14:31] #7133 closed

[2018-01-05 14:34] jacogr commented on #6158
Closing, not applicable for 1.9+

[2018-01-05 14:34] #6158 closed

[2018-01-05 15:09] andresilva commented on #7133
I checked out `v1.8.3` and couldn't reproduce it there either. Please reopen if you see this happen again.

[2018-01-05 18:23] shahvicky commented on #5926
Having a similar issue:
`2018-01-05 12:13:30     0/25 peers   8 KiB chain 111 KiB db 0 bytes queue 448 bytes sync  RPC:  0 conn,  0 req/s,   0 µs
2018-01-05 12:14:00     0/25 peers   8 KiB chain 111 KiB db 0 bytes queue 448 bytes sync  RPC:  0 conn,  0 req/s,   0 µs
2018-01-05 12:14:30     0/25 peers   8 KiB chain 111 KiB db 0 bytes queue 448 bytes sync  RPC:  0 conn,  0 req/s,   0 µs
2018-01-05 1

[2018-01-05 20:50] andresilva commented on #5794
We no longer depend on `nanomsg`. I was able to build and run parity on alpine using this Dockerfile (https://gist.github.com/andresilva/ea8c77edcb66f646f298f281b973e4ec).

[2018-01-06 00:53] Netherdrake opened #7477 "Parity does not setup the IPC on macOS"
Running:
[code]

Expected `~/Library/Application Support/io.parity.ethereum/jsonrpc.ipc` to exist. It does not.

Stdout: https://pastebin.com/Y8hz9ds4

[2018-01-06 04:14] goodfake opened #7478 "Parity and Status Tokens/Ethereum"
_Before filing a new issue, please **provide the following information**._

**Which Parity version?**: 1.8.5> -
**Which operating system?**: Windows  10
**How installed?**: via installer /

Hi, I had lots of troubles with parity and couldn't access it but lately I found my password in 'test password' but I'm not sure if I'm logged in

according to screen below it shows 0 eth but on link below it s

[2018-01-06 06:42] sjd-s commented on #5924
I have this issue as well. Four hours ago I had zero peers so i was not concerned but now I have plenty. I still get the warning "unable to reach time API: NTP error, NTP server is not provided"
I checked multiple times and my time clock is perfectly synchronized with time.is so that's not the problem.
Any ideas how to solve this??

thanks

[2018-01-06 08:40] bitcodernull opened #7479 "rpc interface is very slow when parity import block"
_Before filing a new issue, please **provide the following information**._

parity  config params:
`pruning = "archive"
tracing = "on"
fat_db = "off"
cache_size = 2048`

Problem:
when the pairy import new block , the rpc is very slow, send_tx/gasprice  will be used about 20s~40s

[2018-01-06 13:56] christopher8827 opened #7480 "Parity refuses to finish syncing"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

Expected behaviour: Parity should finish syncing
Actual behaviour: Parity does not finish syncing despite being open for several days. It seems to be stuck on warp restore at around 80% or th

[2018-01-06 14:16] ekouris commented on #7430
Thanks a lot!

[2018-01-06 16:13] Canalytic commented on #7334
@mtbitcoin  How do you execute a "graceful" shutdown?

[2018-01-06 18:26] baskinsy commented on #7050
Upgraded to 1.8.5 beta and still the same issue as @cgruber reported. I think the issue should be re-opened.

[2018-01-06 19:20] miningpoolhub commented on #5968
Similar erro from Parity/v1.7.8-unstable-d5fcf3b-20171025/x86_64-linux-gnu/rustc1.19.0

[code]

[2018-01-06 20:56] jimscarver commented on #7478
the yeelo bars top right of your screen mean you are not synced yet. Click them to see how far behind you are.  Just leave parity running until you catch up. If it seems to not be progressing (current block does not change) exit parity (rightclick icon in tray) and restart parity

[2018-01-06 21:00] jimscarver commented on #7480
when it gets stuck restart parity. if the current block number is changing all is well.

[2018-01-06 21:15] jimscarver opened #7481 "erc20 tokens no longer displayed or tradable"
ERC20 tokens are no longer visible in accounts or selectable in a transfer.

The problem may coincide with an auto update to 1.8

[2018-01-06 21:16] lsaether opened #7482 "Parity crashes when attempting to start a private network"
I'm trying to run a private network using parity. I configured my genesis file to look like this:
[code]

I generated these validator accounts by fist inputting null addresses and running `parity --chain bowery_gen.json account new`. `bower_gen.json` is the relative path to the json file I pasted above. When starting the parity node with the command `parity --chain bower_gen.json` I receive the fo

[2018-01-06 21:21] lsaether commented on #7482
Immediately after submitting this issue I had a hunch the problem was with the`gasLimitBoundDivisor` paramter being set to "0x0". Changing this variable to "0x1" solves the crash and starts the node. However, I did not find this parameter on the documentation page and only added it in when creating the accounts asked for it. I'm confused about what this parameter actually is and I believe it needs

[2018-01-06 21:52] Sebhabit opened #7483 "Transaction sended 2 times from account 0xaac92bb57cb3d635bc8e70a4e52e22bf81a925d6"
Hi !

I’m running with Parity v1.9.0-20171127 unstable on Linux Ubuntu 64, it was installed from the official binaries. The blockchain was sync and, sure, i restarted the node. The problem was in a transfert between accounts, i have validated the same transaction (password verification) two time to run the transfert. The result was the following : **1 × 2 ethers sended**. It is a security issue, p

[2018-01-06 23:13] ahrcoin opened #7484 "Stratum Option"
_Before filing a new issue, please **provide the following information**._

Background
I am running a pool for Musicoin with stratum mining enabled.  I have yet to receive any blocks and its been around a week.

My config.toml is set up to unlock my address and some other options enabled.

I just noticed that there is a -stratum option in the configuration......if I did not have this enabled under

[2018-01-07 04:41] miningpoolhub commented on #7160
Happening on my nodes too.

Starting Parity/v1.7.8-unstable-d5fcf3b-20171025/x86_64-linux-gnu/rustc1.19.0

6    1/25 peers    202 KiB chain  871 MiB db  0 bytes queue  168 KiB sync  RPC:  0 conn,  0 req/s,   0 Âµs
2018-01-07 04:07:16 UTC Block import failed for #4861103 (a7f9â€¦f48e)
Error: Execution(Internal("Database missing expected key: 7979â€¦8978"))

[2018-01-07 04:43] miningpoolhub opened #7485 "Is there any way to prioritize some transactions by sender address?"
Hi
I'm running a mining pool.

I want to know that is there any way to prioritize transactions by sender's address.
Pool distributes coin from one address usually and sometimes transactions are stuck due to low gas price.
It's hard to resend every pending transaction with higher gas fee.

I found that ethermine and nanopool is sending their transaction more quickly whatever they set for gas price.

[2018-01-07 08:34] v-gu commented on #7410
I'm the developer of Bitmart, this is what we spot on our node

[2018-01-07 09:40] nicksavers opened #7486 "Export blocks crashes without specifying output"
I'm running:

**Parity version?**: `v1.8.5-beta-54bae9a-20171228/x86_64-windows-msvc/rustc1.22.1`
**Operating system?**: Windows
**Installed?**: via installer
**Fully synchronized?**: yes

When running `parity.exe export blocks --from 0 --to 4860000`, I expected a process to start running. Instead the process crashed.

[code]

Only when specifying an output file `parity.exe export blocks --from 0

[2018-01-07 12:23] joycoin commented on #7376
ID is 747, not the tla. I will try to be more clear.
In contract 0x5F0281910Af44bFb5fC7e86A404d0304B0e042F1 (token registry)
there is a query called "token". In the field "_id: uint256" set it to "747" and query. You should see:
addr: 0xcBA8F31997504223aD5E46A7f9eaD57e7bf3c454 RFT
tla: rft
base: 1000000000000000000
name: Rubicon Financial Technologies
owner: 0x00059091346be9009287BCFe79c76a2fc666A