[2018-05-10 05:44] nlandeker commented on #7531
my update on parity 1.10:
- in the time passed no low peer count (below 10)
- min set to 75, max to 125
- most of the time under 75, currently holding around 30
I still do not understand why it cannot keep over minimum.

[2018-05-10 06:05] wellcomez opened #8594 "Poor web3.js query performace"
while i use web3.js or curl directly , I find its performance is quite poor for example, I can just finish 9 or 8 times call for getblockbynumber  in 1 second. And any other api has similar problem. Is there some way can improve it ?

But if i use command line to export ,its speed raises up more.

_Before filing a new issue, please **provide the following information**._

➜  parity git:(master) ✗

[2018-05-10 11:46] antikantian opened #8597 "Can someone give me an idea of how long it takes to sync a full archive node?"
We need an archive node up and running to continue some dev work, and I just need to get an estimate of how long this process is going to take, or at least *should* be taking, so that we can better plan our work priorities for this month.

We started this sync on a fresh instance, and we're currently at 8 days, 6 hours, and 38 minutes, and on block #2434031.  I expect some delay on this block rang

[2018-05-10 16:15] jacobrosenthal commented on #8560
I think this is worthy of inclusion on the light client dashboard? cc @tomaka

[2018-05-10 16:46] RSAManagement commented on #8593
HDD or SSD?

[2018-05-10 18:38] brandoncurtis commented on #7749
Exact same problem here with v1.10.0, amd64, kovan light client.  Killing the db and resyncing "fixed" it.

[2018-05-10 21:28] tomaka commented on #8560
My knowledge of events and the API around it is still limited, but I think this issue is here by design and not actually a bug.

cc @rphmeier

[2018-05-10 21:38] rphmeier commented on #8560
it should be sending new events. we should investigate if the `LightChainNotify` trait is ever firing and whether that leads to a filter update/push.

[2018-05-10 21:41] rphmeier commented on #8560
I'm not sure how well this will work unless synced in general though unless we pause syncing while we check every block for log updates.

[2018-05-10 21:42] limsammy opened #8598 "Cannot sync node with test network"
The following are my logs when running `parity --chain=dev`. I have tried reinstalling this as well as restarting.

[code]

[2018-05-10 21:47] jacobrosenthal commented on #8560
@rphmeier Happy to test, though not sure what. Can you link or provide a snippet?

[2018-05-10 22:02] devinrsmith opened #8599 "Parity UI old and archived?"
The readme says that Parity UI will now be a separate app, but the repository seems to indicate that it's old and archived, https://github.com/paritytech/parity-ui. I'm a bit confused.

Also, the "follow these steps" link to keep using the UI in the browser is 404ing: https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.md#the-parity-ui-application-isnt-working-the-way-i

[2018-05-10 22:07] Tbaut commented on #8598
The dev chain is not intended to sync. More about this [private development chain in our wiki](https://wiki.parity.io/Private-development-chain.html)

[2018-05-10 22:07] #8598 closed

[2018-05-10 22:27] Tbaut commented on #8597
There will be definitely a substantial speed up.

This might not be enough anymore. The space requirement for a `tracing+fat db` was over 1TB a month ago, I expect archive only node to be over 1TB now as well.

This very much depends on your configuration. I personally can't give you any better info than a couple weeks. Maybe @5chdn can give you a hint as we've been synching a trace+archive node r

[2018-05-10 22:38] Tbaut commented on #8594
Please be more specific/provide a call example. What performance would you expect?

[2018-05-10 22:47] Tbaut commented on #8592
It seems that the `5400000` was simply too high as the creation of a snapshot takes a lot of time now. however, it shouldn't get back to normal sync. A solution got merged 2 days ago https://github.com/paritytech/parity/pull/8543, it will most probably get fixed in 1.11.1 next week. stay tuned. You can also follow https://github.com/paritytech/parity/pull/8544

[2018-05-10 22:47] #8592 closed

[2018-05-10 22:51] Tbaut commented on #8599
Thanks for the heads-up. The repo for the UI is: https://github.com/parity-js/shell/ and the link to the wiki: https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization#the-parity-ui-application-isnt-working-the-way-i-want I'll correct it

[2018-05-11 00:36] past2017 commented on #8593
@RSAManagement SSD Coud Disk

[2018-05-11 01:03] antikantian commented on #8597
@Tbaut Ok, thanks.  That time reference was pretty much what I was looking for.  I just wanted to make sure our sync wasn't taking drastically longer than normal.

[2018-05-11 01:03] #8597 closed

[2018-05-11 07:04] #8599 closed

[2018-05-11 09:33] #8553 closed

[2018-05-11 10:07] Levino opened #8603 "Can't connect to Parity with websocket in the browser"
Docker:
[code]

I try to access a deployed parity node via the web3.js library. In order to do that, I have to open a websocket connection from my React app, running on `http://localhost:3000`. As you can see above, I am setting appropriate `ws-host` and `ws-origins` values. But still parity will not allow a connection because (from the logs):

[code]
I do not want to store any information on the

[2018-05-11 10:09] #8529 closed

[2018-05-11 11:00] ngotchac commented on #8592
An issue solved in #8555 was also the root of slow snapshot restoration.

[2018-05-11 11:25] tomaka opened #8604 "Write examples for parity-clib in other languages"
Right now there is a single example in C/C++, but we may want to show more example usages for `parity-clib`.

An open question is: do we want to show how to compile Parity in each example's package manager? For example, should `CMakeLists.txt` include the `cargo build` step? Technically it is the same, but when it comes to the educative value of the example both ways have advantages and disadvanta

[2018-05-11 11:56] tomusdrw opened #8605 "Generic request sender in sync is not generic enough"
It seems that `Requester::send_request` only supports two protocols (ETH, PAR), while claiming it's generic:
https://github.com/paritytech/parity/blob/master/ethcore/sync/src/chain/requester.rs#L136

Actually it should take under consideration the protocols supported by remote peer and also other protocols than ETH and PAR.

[2018-05-11 13:03] dvdplm commented on #6339
@kondratovich like @gnunicorn I am also unable to repeat this. I run `parity --stratum` and connect to `telnet 127.0.0.1 8008` but see no messages at all (other than JSON RPC errors when hitting the enter key). I take it you were running a miner on the system as well? Which miner/version did you use?
Thanks!

[2018-05-11 13:11] trustfarm-dev commented on #8492
@debris  @5chdn  ,
Thanks for reply.
Above case::
There's duplicated or not removed SST Files exists. so, As you mentioned above, Hard to find what's used or not.

1. My rough idea is rocksdb has compaction and compact unused DB.
It may be stored  MANIFEST files.
If search the offline searching the whole what used and not, It can be possible to remove not use one.

One snapshot results on how many

[2018-05-11 13:13] dvdplm commented on #8478
Can't repeat on master.

[2018-05-11 13:37] Tbaut commented on #8603
The token check is just used for the UI. From what I understand you do not use the UI.
You do not need to generate or handle tokens if all you need is to do RPC calls to your node. Do you have anything not working as expected with your current configuration?

[2018-05-11 13:55] Tbaut commented on #8571
More RAM, faster SSD, higher bandwidth?

[2018-05-11 15:30] lopezm94 commented on #8567
Ok, I think I found the part of the source code I was looking for:

[code]

The address key is harcoded as `"A"` when calling the contract function.

[2018-05-11 18:04] cseberino commented on #7531
For what it's worth I can confirm Parity 1.9.7 seems to have same problem on a fresh Ubuntu 18.04.  It was at well over 16 peers about a week ago and the slow death march now it down to 9 peers.

[2018-05-12 00:46] past2017 commented on #8533
@ddorgan @Tbaut I  have filed another issue #8593 , please help me,thanks very much

[2018-05-12 01:52] arthurcolle opened #8607 "Parity MacOS pkg seems to be corrupted after performing the update located bottom-right in the web UI."
_Before filing a new issue, please **provide the following information**._

When I open up Launchpad (all the apps displayed as a grid on MacOS for those unfamiliar), I click on Parity and it no longer opens. I know I've backed up private keys/my account, so hopefully I'll be able to recover relatively easily - I don't understand why but for some reason the web app doesn't "open up" automatically

[2018-05-12 08:32] Levino commented on #8603
I was expecting that I could connect to the server running this piece of code **in Chrome** (after babeling it of course):
[code]

But this gives the following error:

[code]

On the server I get, as I said above the log message that access was denied because of invalid token:
[code]
As I said in the headline, I would love to be able to tell parity to not check tokens but I do not know how to do t

[2018-05-12 11:57] rsl15 opened #8608 "Registering KIN ERC-20 token with parity"
I'm running:

version: v1.11.0-20180508 beta
operating system: MacOS 10.12.6
How installed: via installer
Are you fully synchronized: no
Which network are you connected to: ethereum
Did you try to restart the node: no
Connected Peers: 26/50
Time synchronized: 1117ms

I sent my KIN from Yobit exchange to a local parity wallet expecting it to appear since it's a  ERC20 token, and come to find out KI

[2018-05-12 11:58] catalsdevelop opened #8609 "How to keep state trie data from a specified block"
I am using a full sync mode right now, it's very slow. 11 days just  to 4.7M, while disk cost reached 480G.
I just want to retrieve transaction receipt data after block 5M. Is there any way that sync faster, save disk storage and keep state data from a specified block number?  After dig wiki, I got `--pruning-history`, but this args make state in memory and it is the `latest` number of blocks stat

[2018-05-12 18:43] jacobrosenthal commented on #8560
Also would like to learn how to gdb cargo builds but havent figured that out yet if anyone has a workflow for parity that would be ideal.

[2018-05-13 02:55] saltyminer commented on #8561
Hi @Tbaut you can find the PIRL genesis file here on their [github](https://github.com/pirl/pirl/blob/master/genesis.json).  Let me know if you need anything else to add PIRL support.

[2018-05-13 09:56] Levino commented on #7560
BTW the health endpoint is not documented: https://wiki.parity.io/index.html?q=%2Fapi%2Fhealth

[2018-05-13 11:05] Levino commented on #8603
So I switched off the UI and use `http://nodeip:8545/api/health` for the health check. Still same issue.

To reiterate: I can run the following test successfully in node:
[code]

[code]
When I load `blockchain.ts` in the browser, I get aforementioned error because parity denies access without a "valid token". **I excpect the library to function in the browser too.**

Where are these tokens documen

[2018-05-13 22:16] akru opened #8612 "parity-1.11.x build failure for nix"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[code]

[full log](https://hydra.aira.life/build/1788/nixlog/2)

So, it's not supported by paritytech use case, but building with Nix is important for us.
May be someone from programmers or d

[2018-05-14 01:49] quantumproducer opened #8613 "Pruning question"
_Before filing a new issue, please **provide the following information**._

Hello, I'm trying to access a contract I deployed last week. With parity's default pruning behavior, if I begin syncing now, will this be a problem? When I attempt to read from my contract with web3: https://github.com/ethereum/web3.js/issues/1629

It isn't clear to me if parity syncs all smart contract data.

[2018-05-14 02:07] Akira-Taniguchi opened #8615 "I can't get transaction information"
- **Which Parity version?**: v1.9.7-stable-7919629-20180423/x86_64-linux-gnu/rustc1.25.0
 - **Which operating system?**: Ubuntu 16.04.4 LTS (Xenial Xerus)
 - **How installed?**: binaries
scp /Users/user/Downloads/parity_1.9.7_ubuntu_amd64.deb user@parity-host:/home/user
sudo dpkg -i parity_1.9.7_ubuntu_amd64.deb
 - **Are you fully synchronized?**: yes
 - **Which network are you connected to?**: et

[2018-05-14 04:05] gaoxiangxyz opened #8616 "sync hangs at block 5593664"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
**actual**: sync hangs at block 5593664
**expected behavior**: sync not hang

Restart parity, it only shows below logs and hangs
[code]

Config file:
[code]

[2018-05-14 05:47] nlandeker commented on #7531
@c0deright 1.11 did not solve the peer problem for me. I upgraded when you release and yesterday it dropped to 1-5 peer range and stayed there.

[2018-05-14 06:11] sorpaas commented on #8612
Looks like update of ring broke NixOS build. Might also consider opening this issue on ring's repo or nixpkgs' repo.

In particular, I think if we can trick ring's build script to not use pregenerated asm, this issue can be fixed. https://github.com/briansmith/ring/blob/master/build.rs#L399

[2018-05-14 07:28] dvdplm commented on #8616
Thank you for the bug report. Do you think you can try this with the latest beta build from https://github.com/paritytech/parity/releases/tag/v1.11.0 ? Thanks!

[2018-05-14 07:32] dvdplm commented on #8572
@robdoesstuff going to close this now. Feel free to open a new issue if you feel the problem needs further work. Thanks!

[2018-05-14 07:32] #8572 closed

[2018-05-14 07:37] dvdplm commented on #8615
Hi, and thank you for the bug report. I tried the above with the current master and could not repeat it. Here's what I see:

[code]

Can you try with the latest beta and see if that solves the problem for you? https://github.com/paritytech/parity/releases/tag/v1.11.0

Thanks!

[2018-05-14 08:10] #8547 closed

[2018-05-14 08:15] #7263 closed

[2018-05-14 08:28] Tbaut commented on #8561
As I said above, please submit a PR.

[2018-05-14 08:31] tomaka commented on #8575
Changed to "somedaymaybe" because we can run a light client in the browser or on Android without having to customize the database or networking layer (although that would be a plus).

[2018-05-14 08:47] Tbaut commented on #8603
The token has nothing to do with your problem. What you want to do should work without bothering with the UI.
You must have a problem with your configuration (your flags). Let's start easy and unsecure with `--ws-origins all --ws-hosts all --jsonrpc-interface all --jsonrpc-cors all` as well as
[code]
in your code instead of `const PARITY_URL = 'wss://redacted.com'` and see if it works.  If it does

[2018-05-14 08:50] Pzixel opened #8617 "Add support for HTTPS clients"
I'm trying to deploy my sample application on github pages. The problem is that github pages required `https` and I cannot perform http requests which seems to be working on my local machine.

When I'm trying to access network via https, I get an error:

It's kinda blocker to me because I cannot use "GitHub Pages" to host my sample app because all browsers refuses to perform HTTP requests from HTT

[2018-05-14 08:53] Levino commented on #8603
The above works if I replace parity with geth. This is not an issue with configuration or my javascript. As I am saying: When I load my code in the browser, I get the following error locally in chrome:
[code]
**at the same time** I get the following log on the server:
[code]
The server sends back a 403!

As I said, I meanwhile replaced the server part with geth, and everything works fine.

[2018-05-14 08:56] sorpaas commented on #8575
This is actually do-able given we've done the rocksdb refactoring. We basically just need to copy and re-implement this mod (https://github.com/paritytech/parity/blob/master/parity/db/rocksdb/mod.rs), and then expose that to C.

[2018-05-14 08:56] Levino commented on #8603
Also to note: The server **only** sends the 403 when the request comes from the browser (aka "contains headers"). When the request comes from node, the server responds fine and the websocket connection is established.

[2018-05-14 09:06] Tbaut commented on #8613
The pruning affects the state tree, it does not interfere with contracts. Once the blockchain is fully synced (and particularly the block containing your contract) it will be accessible and you will be able to interract with it.

[2018-05-14 09:06] #8613 closed

[2018-05-14 09:08] c0deright opened #8618 "parity-1.11.0 invoked oom-killer / memory leak"
I'm currently trying to test whether https://github.com/paritytech/parity/pull/8541 has fixed issue https://github.com/paritytech/parity/issues/7531 for me.

While looking at the test machine in question that did run the new beta over the weekend I see kernel messages about parity being oom-killed by the kernel.

The specs are:
* 4GB of RAM
* 2 vCPU Cores
* machine solely for parity - besides post

[2018-05-14 09:15] 5chdn commented on #8190
**Backports for 1.10.4-stable**
- [ ] #8486 `Remove depth == 0 check for tracing precompiled contracts`
- [ ] #8545 `Handle socket address parsing errors`
- [ ] #8570 `Decoding headers can fail`
- [ ] #8596 `Fix account list double 0x display`

**Backports for 1.11.1-beta**
- [ ] #8486 `Remove depth == 0 check for tracing precompiled contracts`
- [ ] #8530 `Don't block sync when importing old bloc

[2018-05-14 09:36] 5chdn opened #8619 "Release next-beta 2.0"
**Release Blockers:**
- [x] Make sure UI related changes are done
  - [x] Remove UI and Public Node completely
  - [x] Replace :8180 with static page (link to docs, simple stats)
- [x] Remove installers (code, ci, ...)
  - [x] windows
  - [x] mac
  - [x] debs, rpms, ...
- [x] make sure libssl isn't linked anymore #8099
- [x] Consider rebranding the client
- [x] Update light headers for Foundation,

[2018-05-14 09:59] Tbaut commented on #8607
It's not clear to me what you did.
Please upgrade your parity node to the [latest version](https://github.com/paritytech/parity/releases) and make sure to download and install Parity UI following [these instructions](https://wiki.parity.io/Parity-Wallet).

[2018-05-14 10:15] Tbaut commented on #8608
KIN is present in the Mainnet Token registry. If your node is fully synced, you should see your tokens.
![image](https://user-images.githubusercontent.com/33178835/39991590-5768792e-5770-11e8-936c-3623e293e246.png)

[2018-05-14 10:15] #8608 closed

[2018-05-14 10:28] Tbaut commented on #8609
You mention "state trie" in your title and "transaction receipt" in your message. The latter does not need `--pruning-history` or `--pruning archive`. Any node launched with the default flags will be able to query transaction receipts.

Please describe the flags used. A full node should be able to sync the top of the chain within less than a day (using warp sync and [warp-barrier](https://wiki.par

[2018-05-14 10:41] rphmeier opened #8620 "Make patricia-trie usable from Polkadot (WAS: Extract patricia-trie to its own repo)"
Along with various bits of generalization in it and its dependencies to make generic over hash function, hash type, and node encoding and decoding.

CC https://github.com/paritytech/polkadot/pull/157

[2018-05-14 11:02] esocode opened #8622 "RPC access not working after 1.9.7"
I have two parity nodes running, configured (via config.toml) to accept remote RPC requests in the local network. Up to version 1.9.7 accessing the RPC interface from another system in the network works without problems. But after installing 1.10.3 RPC access is not working, not even locally on the nodes although the "Node Status" page displays RPC as active on the configured interface. I tried th

[2018-05-14 11:28] dvdplm commented on #1267
@debris is the second part of this issue still relevant? If yes, do I understand it correctly:
- split `Header` into `Header` and `SealedHeader`
- leave all fields on `Header` except `hash`
- implement `bare_hash()` on `SealedHeader` and change code to get&use a `SealedHeader` anywhere `bare_hash()` is called
- how are `Header` and `SealedHeader` linked? In cases both are needed, how to we link th

[2018-05-14 12:02] Tbaut commented on #8617
You realise that you are on parity repo right?
What is your question?

[2018-05-14 12:14] Tbaut commented on #8603
Geth and parity are different as you can see :) Something that works on one might not work on the other out of the box. We have Dapps running in a browser that do not require tokens. Please consider testing with the flags I suggested. We might find bugs/problems along the way, but we first need to make it work right?

[2018-05-14 12:38] Tbaut commented on #8622
Can you describe your configuration (flags, toml file if you have) and the way you call your node?

[2018-05-14 12:43] Tbaut commented on #8169
Closing for inactivity.

[2018-05-14 12:43] #8169 closed

[2018-05-14 12:46] Tbaut commented on #8174
Moved to the right repo: https://github.com/parity-js/shell/issues/103

[2018-05-14 12:46] #8174 closed

[2018-05-14 12:52] Tbaut commented on #7937
Closing for inactivity. Please reopen if the problem persists.

[2018-05-14 12:52] #7937 closed

[2018-05-14 12:55] Tbaut commented on #7998
Close for inactivity. Please reopen if it persists.

[2018-05-14 12:55] #7998 closed

[2018-05-14 12:59] esocode commented on #8622
The nodes are started via `ptray.exe ui` without extra parameters and use the config.toml below. This works without problems for 1.9.5 and I could not find any hint in the change logs about changes of the RPC configuration. Any kind of calling fails with a connection error (no response), be it curl, Postman, or my own code.

[code]

[2018-05-14 13:05] Tbaut commented on #8622
I don't recall any change in RPC either.
To be able to debug it, you should run the node in the [command line](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-using-the-command-line-on-windows) and read the errors.

[2018-05-14 13:07] Pzixel commented on #8617
Yes.

This is clearly implementation detail that parity ignores client tries to establish SSL connection and just return a plain text instead. It doesn't work with clients that expect HTTPS error.

For me as client it looks that I'm unable to call parity API if my client forces me to use HTTPS, which is a real issue when I host my site somewhere and trying to access parity via JSONRPC API.

[2018-05-14 13:27] esocode commented on #8622
Just tried that but the log output doesn't seem to indicate a problem (unless _Multi-threaded server is not available on Windows. Falling back to single thread._ is unexpected).

[code]

[2018-05-14 13:41] gaoxiangxyz commented on #8616
@dvdplm

It hangs too with below logs. And memory usage increases rapidly too.
[code]

[2018-05-14 13:52] dvdplm commented on #8616
Thanks, that is useful. Can you try it without tracing please?

[2018-05-14 14:12] Tbaut commented on #8622
No error displayed even when doing some RPC calls?
Can you share the calls you're doing (or samples with curl)?

[2018-05-14 14:44] rphmeier commented on #8468
can you show the contract source?

[2018-05-14 14:44] tomaka commented on #8574
This is complicated because of the `parity_devLogs` RPC query which requires returning the logs.

[2018-05-14 15:06] rphmeier commented on #8468
nit: not side chains

[2018-05-14 15:52] esocode commented on #8622
The only error message is a timeout, e.g. _curl: (7) Failed to connect to server port 8545: Timed out_. This is just a simple curl request:
[code]
And if I use Parity 1.9.5 this call succeeds. As I said, it's as if the port hasn't been opened at all.

[2018-05-14 17:13] quantumproducer commented on #8613
Thank you. So State Tree is just records of transactions?

[2018-05-14 19:08] gnunicorn commented on #6339
@dvdplm pretty sure you have to send the following two commands on the telnet session in order to inform the server you are interested in the events:

[code]

However, as you said, this might require a miner to run, too, as I am not receiving any events non-the-less.

[2018-05-14 19:48] esocode commented on #8622
A small correction: 1.9.7 also works, so it seems to be a problem of the 1.10 versions. I thought I had tried 1.9.7 too but I had only downloaded it.

[2018-05-14 22:05] catalsdevelop commented on #8609
sorry for my bad english writing, @Tbaut . Maybe I am misunderstanding the `state tire` and `transaction state`. What I need is rpc interfaces such as *eth_getBalance* and *balance_of_contract* at a certain block with web3.js. When use default warp sync mode, I got the follows error in web3.js
[code]
Switch to a full sync mode node, everything was fine.

warp sync flags
[code]

full sync flags, no

[2018-05-15 01:28] gaoxiangxyz commented on #8616
@dvdplm

Below is log with "tracing=on" commented in config file, the tracing cannot be turned off if there have been chain data.

[code]

[2018-05-15 02:01] Akira-Taniguchi commented on #8615
result is failed.

[code]

result

[code]

[2018-05-15 04:55] dvdplm commented on #6339
@gnunicorn thank you, that was helpful! Indeed I need to run a miner. @kondratovich I cannot repeat your problem unfortunately: events are sent as expected. See:
<img width="1235" alt="stratum-events" src="https://user-images.githubusercontent.com/18515/40037256-9ec80770-580c-11e8-81e3-360e823139bc.png">

I run parity with `--stratum --author=0x…` and ethminer with `./ethminer -F http://localhost:

[2018-05-15 04:55] #6339 closed

[2018-05-15 05:57] dvdplm commented on #8620
Tasks:

- [ ] extract patricia_trie's in-tree dependencies into own repos
  - [ ] extract `ethcore-bytes`
  - [ ] extract `keccak-hash`
  - [ ] extract `hashdb`
  - [ ] extract `rlp` (maybe wait on this one, might be a big task)
  - [ ] extract `triehash`
  - [ ] extract `memorydb`
  - [ ] extract `ethcore-logger`
- [ ] extract patricia_trie into own repo
- [ ] make `trait Hash` generic over the h

[2018-05-15 06:50] Levino commented on #8603
Feeling a bit like a schoolboy beeing pushed around, but I set up parity locally and used the http provider instead of the websocket provider: It works.

But that is not at all what I want. I want a **websocket provider**. So I took the liberty to change things a bit:
[code]

[code]
No I locally get again in Chrome
[code]
and in the local docker logs for the parity node I get **at the same moment*

[2018-05-15 08:30] Tbaut commented on #8603
hmm I tried the same setup with another script, no problem:

using:
[code]

result:
[code]
launching parity in a docker:
`docker run --rm -ti --name parity -p 8545:8545 -p 30303:30303 -p 8546:8546 parity/parity:1.11.0 --ws-interface all --jsonrpc-interface all --ws-origins all --chain dev`

[2018-05-15 08:35] Levino commented on #8603
Thanks for taking the time to followo up. You are running your test **in node**. This is not what I am talking about. The problem arises when running the code in the browser. Most possibly because when you run it from node, no headers will be sent with the requests. Please produce an example that works when the javascript code is executed in the browser.

[2018-05-15 08:37] Levino commented on #8603
Also please see https://github.com/paritytech/parity/issues/8603#issuecomment-388618714:

[2018-05-15 08:47] dvdplm commented on #8615
Do you run the curl command from the same host (i.e. from "parity-server")? If not, can you try to run it from `localhost:8545`? Thanks!

[2018-05-15 10:55] Tbaut commented on #8603
It's a bug in the latest web3@1.0.0-beta34 reported https://github.com/ethereum/web3.js/issues/1559, using the beta33 works as expected.
Thanks a lot @amaurymartiny for the precious help.

To reproduce with a working web3@1.0.0-beta33:
`git clone https://github.com/amaurymartiny/simple-web3`
`cd ./simple-web3`
`yarn install`
`yarn start`
Visit http://localhost:8080/

[2018-05-15 10:57] #6159 closed

[2018-05-15 10:59] Levino commented on #8603
Cool. I will give it a spin tomorrow. Thanks for looking so deeply into it!

[2018-05-15 11:02] Levino commented on #8603
One further remark: As I said, it worked fine when I used geth as the backend. So either parity is checking this header for no reason (wasting cpu cycles) or geth has a security vulnerability. So for me one of the two has a bug here.

[2018-05-15 11:10] rphmeier commented on #8620
Looks about right. We might want to introduce a small crate just for the hash trait so other code (hashdb, triehash, etc.) can depend on it, and a separate crate for `rlp-node-codec`.

[2018-05-15 11:17] Tbaut commented on #8603
In the issue linked above:

Sure Parity could ignore it, but I don't think it's the right thing to do. I'll close the issue for now.

[2018-05-15 11:17] #8603 closed

[2018-05-15 12:29] Tbaut commented on #8622
There is definitely a problem in your network configuration, firewall, port... You imagine that if RPC stopped working in 1.10, this would have been a major issue.

I can't reproduce your issue and you'd have to give me a detailed overview of your network and your config for me to help.

[2018-05-15 13:35] #8468 closed

[2018-05-15 13:42] Tbaut commented on #8613
No, the state tree contains the state (the balance) of all account of the Ethereum blockchain for a given block. [Here is an article that gives a better overview](https://medium.com/cybermiles/diving-into-ethereums-world-state-c893102030ed)

[2018-05-15 15:15] esocode commented on #8622
After some more experimenting I discovered that with the 1.10.x version I need to explicitly allow incoming connections for parity.exe in the Windows firewall. With 1.9.x versions this was not necessary, probably because the firewall rules had been created automatically. With the rule present RPC access works again. I had already tried adding such a rule when I encountered the problem but for some

[2018-05-15 15:15] #8622 closed

[2018-05-15 20:55] quantumproducer opened #8638 "Cannot create config path"
parity --light --base-path "/mnt/tryit"
Error upgrading parity data: CannotCreateConfigPath

I've tried --base-path="/mnt/tryit"
--base-path /mnt/tryit
--base-path=/mnt/tryit

[2018-05-15 21:28] catalsdevelop commented on #8609
thx, @Tbaut. Seems like only use my full sync flags' solution

[2018-05-15 21:28] #8609 closed

[2018-05-15 23:36] lopezm94 opened #8639 "Docs: Difference between service and normal transaction?"
On the [permissioning site](https://wiki.parity.io/Permissioning.html) service transactions are [described](https://wiki.parity.io/Permissioning.html#how-it-works-3) as 0 gas price transactions. But I can already do zero gas price transactions in a PoA network, what is the purpose of service transactions then? Do they have a different mining priority than normal transactions?

[2018-05-16 02:53] Akira-Taniguchi commented on #8615
[code]

result is not returned.....

[2018-05-16 08:38] sorpaas commented on #7162
Discussed with @ascjones. I'll take over the Casper ABI work and try to see whether we can use the fork choice and metadata framework to make an implementation to connect to the Casper testnet.

[2018-05-16 08:39] Tbaut commented on #8639
You are mixing 2 different things:
- PoA network
You can set a gas price to 0, but this won't be per account. All transactions on the network will be for free.

- Permissioned network (can well be based on PoA)
You are able to set a gas price to 0 **per account**, these accounts only will be able to perform transaction freely (these are called service transactions).
Service transactions are free t

[2018-05-16 08:39] #8639 closed

[2018-05-16 09:00] djrtwo commented on #7162
Just fyi, vyper is soon moving to `fixedMxN` rather than `decimal`. Casper contract will move to a subtype of this when vyper releases the update.

[2018-05-16 12:02] akru commented on #8612
Okay, I have success build with patched `ring`.

[2018-05-16 12:39] tomaka commented on #8574
Also there's a "conflict" with the CLI options that allow controlling the mode, color and file of the logging.

[2018-05-16 13:43] rphmeier commented on #6350
@Vurich's patch should work fine to fix this, except for the snapshot service changes

[2018-05-16 13:46] rphmeier commented on #6155
I think this is already handled but we don't have a test for it. We should just try the `rpc::light_helpers::execute_tx` with a proof of some call that throws. Probably easier said than done -- setting up the contract, state, and state proof necessary for that will probably be a nuisance.

[2018-05-16 14:25] Tbaut commented on #8638
I can't reproduce on linux with v1.11.1 with ` --base-path` and `-d`
[code]

Please make sure you have the rights to create and modify this directory.

[2018-05-16 16:50] Tbaut commented on #8638
you are running parity as root, this is not recommended, please try with a normal user.

[2018-05-16 19:32] cowpig opened #8646 "Double-send"
I'm running:
version: Parity v1.10.4-20180514
OS: Ubuntu 18.04 LTS
installed via: snap
fully synched: yes
connected to: ethereum

I used the UI to send ETH, and parity sent it twice.

When it asked me for confirmation it was very laggy, so I think I hit 'enter' more than once after entering the password to unlock the account.

Luckily this was a shapeshift xfer so it was refunded...

I imagine thi

[2018-05-16 19:55] 5chdn commented on #3268
We are removing installers.

[2018-05-16 19:55] #3268 closed

[2018-05-16 19:56] 5chdn commented on #4139
"GDPR"? :D

[2018-05-16 19:57] 5chdn commented on #4664
Won't fix, we will remove the installers with 1.12.

[2018-05-16 19:57] #4664 closed

[2018-05-16 19:57] 5chdn commented on #5806
No more tray soon.

[2018-05-16 19:57] #5806 closed

[2018-05-16 20:01] #8194 closed

[2018-05-16 20:02] 5chdn commented on #6415
Fixed in #8544

[2018-05-16 20:02] #6415 closed

[2018-05-16 20:03] 5chdn commented on #7862
Partially addressed in #8544

[2018-05-16 20:27] 5chdn commented on #8646
Are you using the built-in UI or the external UI? If external, which version?

[2018-05-16 20:53] ed2k opened #8647 "not able to build v1.8.4 anymore"
test@t420:~/parity$ git reset --hard v1.8.4
HEAD is now at c74c8c1 [beta] Backports + HF block update (#7244)

root@02c36d3afc27:/build/local# cargo build --release --verbose
    Updating git repository `https://github.com/paritytech/js-precompiled.git`
error: failed to load source for a dependency on `parity-ui-precompiled`

Caused by:
  Unable to update https://github.com/paritytech/js-precompil

[2018-05-16 21:04] cowpig commented on #8646
I type `parity ui` into my terminal, and then use `http://127.0.0.1:8180/#/v1` in my browser. I wasn't aware there was a different UI I could be using.

[2018-05-16 21:32] quantumproducer commented on #8638
Not recommended, but is it expected to work? I'll try creating a normal user..

[2018-05-16 21:38] quantumproducer commented on #8638
[code]

[2018-05-17 00:51] briansmith commented on #8612
I recommend trying to get back onto a release version of *ring* so that you don't need workarounds like this. Changes in the pipeline for *ring* will make it more difficult to maintain a fork of *ring*, and also building from a git checkout instead of from crates.io will become more complicated and will likely require some special tooling.

[2018-05-17 02:47] quantumproducer opened #8648 "How to determine Sync progress?"
What is "  0+13281 Qed  #2438294" in the log mean?

[2018-05-17 04:33] debris commented on #8620
Sorry for not replying immediately to this thread. I don't agree with one of the points here, which is `extract patricia_trie's in-tree dependencies into own repos`. I believe it's redundant and will introduce **a lot** of maintenance burden.

great catch, sure!

historically, plain_hasher was a separate repo, but it's usacase is very specific for us, and after discussing it with Arkadiy it decide

[2018-05-17 04:49] #4139 closed

[2018-05-17 04:53] debris commented on #1267
yes, it's still relevant.

`SealedHeader` has all fields that `Header` has + `hash` field. Or it can contain `header` and `hash. We did something like this in [parity-bitcoin](https://github.com/paritytech/parity-bitcoin/blob/160e8c636f9b92a30519d2e8050485e5f0f8b43d/chain/src/indexed_header.rs#L7-L11).

[2018-05-17 06:04] akru commented on #8612
Sounds good, @briansmith, can I hope for your help to build mainstream ring via cargo-vendor tool? Currently I have a problem on top of this issue.

[2018-05-17 06:40] brucexiu commented on #8461
about 5 peers when I send transaction.
**It takes 2 minutes to be imported in transaction queue**

2018-05-16 15:33:00 UTC  TRACE own_tx  Importing transaction: PendingTransaction { transaction: SignedTransaction { transaction: UnverifiedTransaction { unsigned: Transaction { nonce: 948, gas_price: 20000000000, gas: 50000, action: Call(69d7d6034ff10b0966cdcdf2ca5c08cecbbfbb88), value: 1800000000000

[2018-05-17 07:37] 5chdn opened #8649 "Parity node clean-up tracker ticket."
The next release shall not happen if we did not address the following points.

---
- [x] Remove MacOS installers, trays, etc. from code (and CI) #8875
- [x] Remove Windows installers, trays, etc. from code (and CI) #8778

---
- [x] Remove all left-overs of User Interface from code, CLI, etc. #8783
- [x] Remove all left-overs of Public Node from code, CLI, etc. #8758 (#8763)

---
- [ ] ~~Enforce co

[2018-05-17 07:37] 5chdn commented on #8620
I have no strong opinion here, but I want to highlight that we should rename `ethcore-*` crates to `parity-*` soon. If we touch this code now, let's keep it in mind. cc #8649

[2018-05-17 08:06] Tbaut commented on #8646
If you type `parity ui` in v1.10.4 you should see this screen (just tested):

![image](https://user-images.githubusercontent.com/33178835/40164373-a0faccfe-59b9-11e8-87d0-10b7aacfece2.png)

Can you tell what flags you were using?
Do you remember if you had 2 tabs open?

[2018-05-17 08:16] 5chdn commented on #8647
Yes, the UI was removed and 1.8 is not supported anymore.

[2018-05-17 08:16] #8647 closed

[2018-05-17 08:55] neocarmack commented on #8548
@Tbaut thanks, i will try again

[2018-05-17 09:06] Tbaut commented on #4139
GDPR is about some user info, we still can have a Mamota (ex Piwik) GDPR compliant to collect anonymous data...

[2018-05-17 10:19] #8548 closed

[2018-05-17 10:20] 5chdn commented on #8648
https://ethereum.stackexchange.com/questions/10491/what-does-parity-logs-means

:)

[2018-05-17 10:20] #8648 closed

[2018-05-17 10:22] #7362 closed, assigned to nobody

[2018-05-17 10:50] JokerCatz opened #8651 "private chain eth_getTransactionReceipt status always 0x1"
I use Parity 1.10.4-stable(Debian) , MacOSX + docker(Debian) , & use custom genesis.json

    {
      "name": "DevelopmentChain",
      "engine": {
        "instantSeal": null
      },
      "params": {
        "gasLimitBoundDivisor": "0x0400",
        "accountStartNonce": "0x0",
        "maximumExtraDataSize": "0x20",
        "minGasLimit": "0x1388",
        "networkID" : "0x11",
        "registr

[2018-05-17 11:46] Tbaut commented on #8638
This is I think a problem with the snap. Could you try to install it with [the binaries](https://wiki.parity.io/Setup#binaries) if you are on Ubuntu?

[2018-05-17 12:29] quantumproducer commented on #8638
@Tbaut thanks - that seems likely. I am letting the main sync run as it looks like it will actually fit on my HDD with compression.

[2018-05-17 12:29] #8638 closed

[2018-05-17 12:59] 5chdn commented on #7531
Can't reproduce peering issues with 1.11.1 anymore. Can easily get 256+ peers.

    2018-05-17 14:50:18  Syncing snapshot 833/1400        #0   238/256 peers   8 KiB chain 3 MiB db 0 bytes queue 150 KiB sync  RPC:  2 conn,  1 req/s, 106 µs
    2018-05-17 14:50:24  Syncing snapshot 834/1400        #0   238/256 peers   8 KiB chain 3 MiB db 0 bytes queue 150 KiB sync  RPC:  2 conn,  1 req/s, 117 µs

[2018-05-17 13:26] c0deright commented on #7531
I'm still running on 1.11.0 since 3 days and 3 hours and it's looking good. Peer count at 22 right now.

[2018-05-17 13:41] Tbaut commented on #8648
you mean: https://wiki.parity.io/FAQ-CLI,-Mining,-and-Networks.html#what-do-parity-command-line-output-mean ? :dango:

[2018-05-17 13:47] Tbaut commented on #8461
Could you update your [client to v1.11.1](https://github.com/paritytech/parity/releases) and tell if it still happens? The transaction queue has been recently reworked.

[2018-05-17 13:48] 5chdn commented on #7531
:tada:

[2018-05-17 14:41] Pzixel opened #8652 "Cannot deploy pwasm contract in private chain"
I have a private playground where I test some stuff, as I already mentioned, I published it as a docker-compose repository so I can easily deploy it anywhere.

It worked fine with basic setup, however, I was dissapointed in EVM so I wanted to swtich to the WebAssembly.

So I stopped my playground, cleared all volumes, and [added `"wasmActivationTransition": "0"` to the JSON](https://github.com/orb

[2018-05-17 15:07] NikVolf commented on #8652
Hi!

What is final size of the wasm binary you are trying to deploy?

[2018-05-17 15:09] Pzixel commented on #8652
@NikVolf Hi.

`codeHex` length is `29728` (including leading `0x`).

[2018-05-17 15:15] NikVolf commented on #8652
It's too much, Kovan limit to size of the contracts is matched the Ethereum settings (24kb)

It's probably tutorial problem with dependencies, try branch from this PR:
https://github.com/paritytech/pwasm-tutorial/pull/22

[2018-05-17 15:35] rphmeier commented on #8648
both of those links have some wrong information: the number which is shown isn't the number downloaded but the number processed.

[2018-05-17 15:36] Pzixel commented on #8652
`28048`

[2018-05-17 15:38] NikVolf commented on #8652
should be 14kb:

`-rwxr-xr-x  1 admin  staff  14016 17 May 19:11 pwasm_tutorial_contract.wasm`

try `cargo clean` and do after `./build.sh`

[2018-05-17 15:43] Pzixel commented on #8652
Yep, that's right.

But then I transform it into hex string, which transforms each byte into two chars, so 14024*2 and we get our `28048`. I thought you are asking about string length. File size is twice as less.

[2018-05-17 15:55] Tbaut commented on #8648
@rphmeier then let's make it right: https://github.com/paritytech/wiki/pull/110

[2018-05-17 17:17] JokerCatz commented on #8651
I think this promise by eip658Transition , the eth_getTransactionReceipt => status will return 0x1 or 0x0 to show the contract process is success or fail , right ? , or you have any another way to check it ? even EVM ?

I know the token / balance will not be transfer , but if multiple transactions from different wallet transfer to single wallet , how can I check a transaction is success ? always t

[2018-05-17 20:08] cowpig commented on #8646
I wasn't using any flags, literally just use (and used) `parity ui`, and this is what I see:
![screenshot from 2018-05-17 16-07-35](https://user-images.githubusercontent.com/1253515/40201261-930dab42-59ec-11e8-9971-31502e4a453d.png)

I don't remember for sure whether I had two parity tabs open, but I don't believe I did.

[2018-05-17 20:58] briansmith commented on #8612
In general I think supporting cargo-vendor sounds like a good idea. I don't know what's required; maybe we just need to add a check in build.rs to see if we're running in a cargo-vendor'd environment? I'm not sure if that's exposed to build.rs.

[2018-05-18 01:36] brucexiu commented on #8461
I'll try it thanks

[2018-05-18 03:56] wellcomez commented on #8594
I tried two ways to export
one: by construct http request like method eth_getBlockByNumber , as a result 5 block will received every 1 second, I also try web3.js , result is similar.
tow: use command export xxxx ,additionary  I change its code and make export data in json format , as a result it can export 200~300 blocks every 1 second..
From results, I found web rpc's performance is too poor.

I

[2018-05-18 03:56] bjornwgnr commented on #8652
Is it possible to deploy a wasm contract with geth?

[2018-05-18 05:28] Shekelme opened #8655 "v1.10.0 - Thread '<unnamed>' panicked at 'Error registering user timer: TimerError"
I got this error message:

 I'm running:
 - **Which Parity version?**: v1.10.0-beta-0a9d41e-20180320
 - **Which operating system?**: Linux Mint 18.2
 - **How installed?**: binaries
 - **Are you fully synchronized?**:  yes
 - **Which network are you connected to?**: ethereum
 - **Did you try to restart the node?**:  yes, it says:

`Client service error: Client(Database(Error(Msg("IO error: While lo

[2018-05-18 08:12] Pzixel commented on #8652
[This instruction uses web3](https://github.com/paritytech/pwasm-tutorial#deploy) so it should work.

[2018-05-18 08:50] Tbaut commented on #8594
Can you post your code please?

[2018-05-18 11:06] JokerCatz commented on #8651
hmm ... I said ... it default contract example code in parity call "HumanStandardToken.sol" ... only I use custom genesis.json (& this version is same as "instant_seal.json" ... I only add my own address and balance)

you can redo by UI , like use `Parity Wallet` > `CONTRACTS` > `DEVELOP` > `LOAD` > `HumanStandardToken.sol` > `DEPLOY` ... and set totalSupply or something to get it work ... then yo

[2018-05-18 12:12] Tbaut commented on #8655
Thanks for the report, could you tell us what flags you're using to launch parity?
Does this error always happen when you launch it?

[2018-05-18 13:16] Shekelme commented on #8655
I don't use any flags, just launching it with "parity" in terminal. This is the first time I got this error message. After killing the parity process I was able to start it again successfully.

[2018-05-18 15:17] Tbaut commented on #8651
Confirmed this on Kovan, I want to send 1000 tokens from an account that has a balance of 900 with the followoing code:
[code]
Result is :
[code]

The contract is:
[code]

[code]

[code]

@sorpaas do you think you can have a quick look?

[2018-05-18 15:37] stevenroose commented on #8157
I bumped into this. Anyone solved it??

[2018-05-18 16:14] Tbaut commented on #8567
Thanks for the feedback @lopezm94 .  If you have some spare time and would like to share the acquired knowledge, feel free to submit a PR in our wiki https://github.com/paritytech/wiki to document things better.

[2018-05-18 16:25] Tbaut commented on #8655
Thanks, if it's a one time issue I'll close it then and we can reopen if it happens again.

[2018-05-18 16:25] #8655 closed

[2018-05-18 16:29] Tbaut commented on #8559
The UI was removed recently and will not be supported anymore.

[2018-05-18 16:29] #8559 closed

[2018-05-18 20:36] BillSantos opened #8660 "Huge db file crashes parity"
Parity crashed with the following output.

Also, the db file in ~/.local/ has grown to 78 GB! **How do I set parity to pare the size of this file??**

====================

stack backtrace:
   0:     0x55f0f735403c - <no info>

Thread 'IO Worker #1' panicked at 'DB flush failed.: Error(Msg("IO error: No space left on device While appending to file: /home/username/.local/share/io.parity.ethereum/ch

[2018-05-18 21:23] se3000 opened #8661 "Difference in contract execution between local POA Chain and DevelopmentChain"
When deploying and testing our contract suite on Parity, we run into an unexpected `bad instruction` error when running against our local POA network. As of 1.9, this also happened against the DevelopmentChain, but as of 1.10 it works on the development chain, but for some reason I get the failure on the POA chain. I assume that execution within the EVM should be the same, so I assume it's a bug,

[2018-05-19 02:04] Shekelme commented on #7362
Filesystem                 Size  Used Avail Use% Mounted on
udev                       7,6G     0  7,6G   0% /dev
tmpfs                      1,6G  9,7M  1,6G   1% /run
/dev/mapper/mint--vg-root  442G  401G   19G  96% /
tmpfs                      7,7G  188K  7,7G   1% /dev/shm
tmpfs                      5,0M  4,0K  5,0M   1% /run/lock
tmpfs                      7,7G     0  7,7G   0% /sys/fs/cgroup

[2018-05-19 05:00] zformular opened #8662 "rpc"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

[2018-05-19 05:26] zformular opened #8663 "rpc eth_getBlockByNumber eth_getBlockByHash eth_getTransactionByHash for some old block return null"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
actual:
  return null

expected behavior:
  return block data, transaction data

steps to reproduce:
  don't no, i just request rpc
![1526710691893](https://user-images.githubusercontent.com/1

[2018-05-19 05:27] folsen commented on #2221
Closing due to upcoming large changes to snapshots in general. Needs to be more specific if reintroduced.

[2018-05-19 05:27] #2221 closed

[2018-05-19 05:28] folsen commented on #2479
Could be resolved by ParityDB, closing in favor of that.

[2018-05-19 05:28] #2479 closed

[2018-05-19 05:31] folsen commented on #2831
We don't really want to make any major changes to devp2p, and throttling is already introduced for libp2p. If this issue is still relevant it should probably be described in the context of libp2p and it also needs more details for someone to be able to pick up and work on this.

[2018-05-19 05:31] #2831 closed

[2018-05-19 05:31] folsen commented on #2858
UI being moved.

[2018-05-19 05:31] #2858 closed

[2018-05-19 05:34] folsen commented on #2913
@axelchalon What is the current status of this? Could we get a summary on this issue and an actionable list of what needs to be done so that someone can pick this up. This is potentially an issue we could create a bounty for.

[2018-05-19 05:38] folsen commented on #2944
@ngotchac Could you take a look at this and potentially add anything that's missing and still relevant? Otherwise please close the issue.

[2018-05-19 05:40] folsen commented on #3081
@Tbaut can we try to reproduce this on a windows setup somehow? If not, please close.

[2018-05-19 05:42] folsen commented on #3102
Closing because we don't know how much this actually affects performance. If we can produce a benchmark or profiling report that says this is a significant issue.

[2018-05-19 05:42] #3102 closed

[2018-05-19 05:43] folsen commented on #3332
Closing, if there's any more specific blocker to slow shutdown time please open separate issue.

[2018-05-19 05:43] #3332 closed

[2018-05-19 05:44] folsen commented on #3333
Closing, if there's any specific proposal on how it can be simplified please reopen.

[2018-05-19 05:44] #3333 closed

[2018-05-19 05:45] folsen commented on #3484
Closing, @5chdn if this is something you want for builds/releases in general, please re-open in devops repo.

[2018-05-19 05:45] #3484 closed

[2018-05-19 05:46] folsen commented on #3574
@5chdn We now have some version of this right? If not, it should be considered as part of the release management and added as a separate issue to the devops tracker for automation.

[2018-05-19 05:46] #3574 closed

[2018-05-19 05:47] folsen commented on #3708
I can't really even make out what this means, @rphmeier if you have a more specific proposal that someone else could pick up, please reopen with that description.

[2018-05-19 05:50] folsen commented on #3744
Closing this because while it's still relevant, it's probably not something we will work on in the next 6-12 months. Getting light clients used is step 1 which is still pretty far off, then finding some incentive structure that makes sense is step 2, and as part of that this would be relevant. It should be considered at the right time when we're working on step 2.

[2018-05-19 05:50] #3744 closed

[2018-05-19 05:54] folsen commented on #3905
@tomaka Is this something you intend to work on? I would close this in favor of something more specific that is directly actionable by a developer, right now it's a very general "refactor the code" type issue and isn't possible to pick up without deep knowledge and mentoring.

[2018-05-19 05:57] folsen commented on #3993
Closing because it seems of questionable value given @Vurich's closed PR and the difficulty in actually doing this. Would consider reopening if a profiler said this was a big bottleneck.

[2018-05-19 05:57] #3993 closed

[2018-05-19 05:58] folsen commented on #4143
Geth put out a poll if they should keep their CLI console and the response was lax at best, seems people don't use this much. Closing.

[2018-05-19 05:58] #4143 closed

[2018-05-19 06:02] debris commented on #4724
Closing, cause js is being moved from this repo

[2018-05-19 06:02] #4724 closed

[2018-05-19 06:03] folsen commented on #4172
@kumavis I don't really have enough context for the motivation here to be honest. Why would you want to store data on both network? The blocks are retrievable through the ethereum network, why copy data to the IPFS network as well?

@maciejhirsz What's the status of our work on this issue? You had a PR here, is there anything more we want to do here or can we close this issue?

[2018-05-19 06:03] #4265 closed

[2018-05-19 06:04] debris commented on #4692
Closing due to inactivity and because it's rpc api specific. Please reopen if it's still relevant and is caused by a bug in rust code

[2018-05-19 06:04] #4692 closed

[2018-05-19 06:05] folsen commented on #4533
@svyatonik how much of this is related to UI vs client-side. If there is still relevant work to be done on client-side to solve this problem, could you describe that more specifically so that people can pick up the work and fix it.

[2018-05-19 06:06] debris commented on #5431
Closing, cause this behaviour has been 'standarized' and is the same in both parity and get.

[2018-05-19 06:06] #5431 closed

[2018-05-19 06:07] folsen commented on #4572
Closing in favor of work on ParityDB.

[2018-05-19 06:07] #4572 closed

[2018-05-19 06:08] debris commented on #4798
Closing, cause UI is being moved from this repo

[2018-05-19 06:08] #4798 closed

[2018-05-19 06:08] folsen commented on #4574
Closing because UI is moving.

[2018-05-19 06:08] #4574 closed

[2018-05-19 06:09] debris commented on #5430
It's done

[2018-05-19 06:09] #5430 closed

[2018-05-19 06:12] folsen commented on #4575
@jacogr @tomusdrw How high priority is this? I don't understand the motivation behind it. Is it possibly an issue we want to put a bounty on for external contribution?

[2018-05-19 06:14] debris commented on #4897
We already have stratum support in parity. I'm not sure if this issue implies that we should add something else, but since noone has requested that in years, I'm closing

[2018-05-19 06:14] #4897 closed

[2018-05-19 06:15] folsen commented on #4596
@ddorgan @fevo1971 Could you please move this issue to devops repo. Go over the docker image and make sure it follows best-practices, is documented correctly and has a `VOLUME` declared (if it's supposed to use volumes).

[2018-05-19 06:15] #4596 closed

[2018-05-19 06:16] folsen commented on #4678
This is an important topic but isn't really a single thing for this issue. People are being hired to help figure out release automation together with Afri.

[2018-05-19 06:16] #4678 closed

[2018-05-19 06:18] folsen commented on #4679
Moving to devops repo.

[2018-05-19 06:18] #4679 closed

[2018-05-19 06:35] folsen commented on #5014
@danfinlay (Going through stale issues here) Does @tomusdrw comment above satisfy your requirements in any way. I agree that anything that is dependent on parity-specific RPCs isn't going to be very nice to use, have you thought about opening an EIP for adding this? I would certainly support it.

[2018-05-19 06:38] folsen commented on #5323
@rphmeier would like to keep this issue around, but could you provide some more details so this is easier to just pick up and work on?

[2018-05-19 06:42] folsen commented on #5538
Closing as it's not really a race condition in the traditional sense and has been fixed on the web3 side.

[2018-05-19 06:42] #5538 closed

[2018-05-19 06:48] folsen commented on #5673
Closing as UI is being moved.

[2018-05-19 06:48] #5673 closed

[2018-05-19 06:50] folsen commented on #5727
@3esmit Do you know if there's any up to date list for changes required to work with Remix?

[2018-05-19 06:59] folsen commented on #5760
@gavofyork I understand the motivation behind this as a way for miners to follow other miners and thus try to avoid uncles as much as possible, is there anything else? Would be alleviated by PoS obviously. Closing because it's a lot of work for questionable benefit. Reopen if you really want it (or if I've misunderstood it) and we'll get someone working on it.

[2018-05-19 07:02] folsen commented on #5880
Closing because I don't believe dapps will ever be able to rely on having your own local node (someone will always run Metamask).

[2018-05-19 07:02] #5880 closed

[2018-05-19 07:05] folsen commented on #5936
Closing unless a profiler tells me this is a really important thing.

[2018-05-19 07:05] #5936 closed

[2018-05-19 07:30] #8662 closed

[2018-05-19 08:03] folsen commented on #5966
Plenty of other people have succeeded with this since this issue was reported. Closing.

[2018-05-19 08:03] #5966 closed

[2018-05-19 08:08] folsen commented on #5968
@gituser This is not the same issue as the one you have reported, the error message for the others is

and your error message is

Please open a separate issue, closing this issue because it is most likely a DB/Disk error and the only thing we can do about it is improve the error message, but it hasn't happened in so long that it's questionable how much it happens.

[2018-05-19 08:08] #5968 closed

[2018-05-19 08:09] tomusdrw commented on #4575
IMHO can be closed, I don't remember the motivation behind it. I think the idea was to separate signing and broadcasting.

[2018-05-19 08:11] folsen commented on #5979
@NikVolf whatever happened to this? Is this still desirable?

[2018-05-19 08:13] folsen commented on #5987
@Vurich what was the outcome of your looking at this? Is it worth doing?

[2018-05-19 08:26] folsen opened #8664 "Replace Tendermint engine with Substrate PoC-1 engine"
The Tendermint consensus engine has gone unmaintained for a while, we should make a decision whether we update and maintain it and write a test-suite etc necessary to keep this in shape, or if we remove it until we have a more concrete user for it. I would vote remove.

@rphmeier @andresilva might be interested in chiming in.

[2018-05-19 08:27] folsen commented on #6142
Closing in favor of https://github.com/paritytech/pwasm-tutorial/issues/23

[2018-05-19 08:27] #6142 closed

[2018-05-19 08:28] #4575 closed

[2018-05-19 08:29] folsen commented on #6155
@tomaka Anything you'd be interested in picking up?

[2018-05-19 08:30] #6165 closed

[2018-05-19 08:32] folsen commented on #6170
Closing on the assumption that it is fixed in https://github.com/paritytech/parity/pull/6827, if it's still reproducible then please reopen.

[2018-05-19 08:32] #6170 closed

[2018-05-19 08:34] folsen commented on #6202
@tomusdrw @rphmeier @tomaka What's the status on this? Is this required, if so, for what, and who can do it? It's tagged as a substantial issue so would need more description for anyone to actually pick up the issue and work on it.

[2018-05-19 08:38] folsen commented on #6230
@niklasad1 What's the status of the issue above, have we done anything that would affect this bug, i.e updated or removed libusb or anything else? I am inclined to just close this issue.

[2018-05-19 08:40] folsen commented on #6235
Closing as I think this is less relevant with hardcoded light client sync.

[2018-05-19 08:40] #6235 closed

[2018-05-19 08:41] #6281 closed

[2018-05-19 08:46] folsen commented on #6351
@arkpar What's the motivation behind this, is there anyone else doing this?

[2018-05-19 08:48] folsen commented on #6395
Closing and moving to devops repo.

[2018-05-19 08:48] #6395 closed

[2018-05-19 08:52] folsen commented on #6406
@5chdn @tomusdrw does this still happen? Looks like some PRs to jsonrpc in the meantime may have fixed the issue?

[2018-05-19 08:52] #6416 closed

[2018-05-19 08:52] folsen commented on #6416
Reopen if reproducible after `parity db kill`

[2018-05-19 08:55] folsen commented on #6443
I will create a draft and share for commenting then PR

[2018-05-19 08:56] folsen commented on #6502
It is still experimental, someone re-raise this issue if it ever becomes non-experimental (seems unlikely).

[2018-05-19 08:56] #6502 closed

[2018-05-19 08:58] #6548 closed

[2018-05-19 08:59] folsen commented on #6593
Closing as unreproducible, please re-open if you have sync trace logs available to be able to debug.

[2018-05-19 08:59] #6593 closed

[2018-05-19 09:03] folsen commented on #6644
Closing as UI is moving.

[2018-05-19 09:03] #6644 closed

[2018-05-19 09:04] folsen commented on #6674
Closing as UI is moving.

[2018-05-19 09:04] #6674 closed

[2018-05-19 09:05] #6682 closed

[2018-05-19 09:06] folsen commented on #6743
@Tbaut can you see if you can get an example usage working?

[2018-05-19 09:09] folsen commented on #6766
@Tbaut Could you see if we could add a wiki page with RPC error codes and their layman explanation?

[2018-05-19 09:14] folsen commented on #6791
@Tbaut I believe this is an OS error, when a websocket want to create a new connection it creates a new "file" and there's a max limit of files open that the OS enforced (this is a huge number though but is typically a problem for webservers with websocket connections). It almost sounds like there's some dapp or UI bug that spawns a ton of connections, not sure.

Pure speculation, but restarting p

[2018-05-19 09:16] folsen commented on #6825
Closing after #8504

[2018-05-19 09:16] #6825 closed

[2018-05-19 09:26] folsen commented on #6863
@Tbaut can you add the two things above to the RPC doc pretty please?

* List returns only connected peers
* Peers with non-empty protocols have completed handshake

[2018-05-19 09:29] folsen commented on #6871
Closing based on work done on updater by André recently.

[2018-05-19 09:29] #6871 closed

[2018-05-19 09:30] folsen commented on #6873
@niklasad1 Can you confirm or deny whether the new USB stuff fixes this?

[2018-05-19 09:33] debris commented on #7027
Closing as per https://github.com/paritytech/parity/pull/8073#issuecomment-374543166

[2018-05-19 09:33] #7027 closed

[2018-05-19 09:40] 5chdn commented on #7531
No, 1.9 is EOL. Why do you need it?

[2018-05-19 09:40] folsen commented on #6887
@gaoxiangxyz Closing this issue as 1) is a misconfigured spec file, please report separate issues for 2) and 3) if the problem still exists. It seems like 2) and 3) is the result of running Parity without `--tracing on`.

[2018-05-19 09:40] #6887 closed

[2018-05-19 09:40] debris commented on #7114
@whilei issue seems to be a different one and resolved with changing udp settings https://github.com/ethereumproject/go-ethereum/issues/346#issuecomment-351892844

This is extremely unlikely. I'm closing, cause this issue cannot be resolved without more details and/or more people experiencing the same problems. Please reopen if it still occurs and you can provide a scenario that allows us to repro

[2018-05-19 09:40] #7114 closed

[2018-05-19 09:41] debris commented on #7130
Closing as ui is being moved from this repo

[2018-05-19 09:41] #7130 closed

[2018-05-19 09:42] folsen commented on #6912
Closing in favor of https://github.com/paritytech/wiki/issues/112

[2018-05-19 09:42] #6912 closed

[2018-05-19 09:43] debris commented on #7176
@tomusdrw can we close this since we have a new transaction pool?

[2018-05-19 09:47] debris commented on #7184
I strongly disagree that it is a problem with parity. It is a problem with shitty web3 internals and should be resolved over there.

[2018-05-19 09:47] #7184 closed

[2018-05-19 09:49] debris commented on #7205
@tomusdrw was this issue fixed by introducing new transaction-pool?

[2018-05-19 09:54] debris commented on #7230
Closing in favour of #7691

[2018-05-19 09:54] #7230 closed

[2018-05-19 09:56] stone212 commented on #7184
@debris I didn't say it is a problem with the Parity code.  But the doc gives instructions that do not work.  I gave the modified instructions that will work (as of 3 Dec!  Not sure why you are commenting now?)

[2018-05-19 10:01] danfinlay commented on #5014
At MetaMask, we've addressed this problem by tracking pending transactions locally.

This makes sense for us because we point at a load balanced cluster, can be pointed at different clients, and keep a transaction queue.

If we were the only ones holding this open, it could be fine to close it.

[2018-05-19 10:41] 5chdn commented on #3574
Moved https://github.com/paritytech/devops/issues/101

[2018-05-19 10:43] 5chdn commented on #7362
You have a virtual encrypted file system in ~/.Private that has only 19GiB space available.

Try running parity with `--db-path /srv/parity` this will write outside of that filesystem

[2018-05-19 10:45] 5chdn commented on #3484
Moved https://github.com/paritytech/devops/issues/102

[2018-05-19 12:55] Shekelme commented on #7362
No-no, now the parity is running OK. The reason was in something else I guess.

[2018-05-19 15:05] folsen commented on #6948
The spec here

https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethgettransactionreceipt

Does not match what is here

https://wiki.parity.io/JSONRPC-eth-module.html#eth_gettransactionreceipt

Specifically `from` and `to` are missing. They should be added to match the spec.

[2018-05-19 19:36] xenoexclusive commented on #7531
Is it possible to get an ETA on this being incorporated into 1.10?

[2018-05-19 20:30] quantumproducer opened #8667 "This is a bug, please report it."
_Before filing a new issue, please **provide the following information**._

[code]

The last few days I've been checking and it's crashed a few times, just says "Killed" and I restart it. This time I saw this error message.

I am running with: parity --pruning fast --db-compaction hdd --cache-size=2048 --rpc --warp

[2018-05-19 23:41] stone212 commented on #7184
@debris Are you saying that the problem is that web3 is "broken" somehow that means that Parity can't support it?  Specifically how so I can bring this to them.

@5chdn Is there a roadmap to have web3 1.0 working with Parity?  If not then you must have some knowledge of what is broken with web3 that needs to be fixed for Parity compatibility.  Then I can bring that Issue to web3.

[2018-05-19 23:55] folsen commented on #6351
@dip239 so a basic version of this feature would look like `parity --delayed` and it just pretends it's 5 blocks behind the tip?

[2018-05-20 00:01] #5014 closed

[2018-05-20 01:32] HatimTim opened #8668 "web3.personal.unlockAccount call issue"
I'm using web3 **1.0.0-beta.34** to connect to parity node.
The parity node is started with:
[code]
and also using
[code]
The account unlock using the below command is not successful
[code]
The error below is generated:
TypeError: Cannot read property 'unlockAccount' of undefined

Please help to solve this issue . Thanks

[2018-05-20 03:49] sorpaas commented on #8651
@Tbaut Yeah I think in this case it's just that the difference of meanings on a transaction being throwed/reverted and on contract's execution being succeeded.

[code]

The transfer function would not throw. It would return `true` when the transfer succeeds, and `false` when the transfer fails. Both shows in the transaction receipt with `status: true`. To actually check this value one needs to loo

[2018-05-20 04:25] debris commented on #7184
We are just going through old issues.

Yes, it's just broken and we should not do any compromises. It should be resolved over there

I guess that at start web3 is just making some silly requests that are not supported by parity (we don't have shh interface). But this **should never** break the whole library. It's a web3 bug

[2018-05-20 04:31] #6965 closed

[2018-05-20 04:35] folsen commented on #7008
@ngotchac can you double-check that #8642 addresses this and if so close the issue please.

[2018-05-20 04:37] folsen commented on #7019
@dvdplm is this related to what you're working on?

[2018-05-20 04:37] debris commented on #7938
Closing as this is not a priority and will not be worked on any time soon.

Also it would be much more useful to just create entirely new rlp encoding interface that is typesafe.

[2018-05-20 04:37] #7938 closed

[2018-05-20 04:42] folsen commented on #7077
A month later it is still not 1.0, I think we should consider it for new code, but closing this issue until it is in a more stable place.

[2018-05-20 04:42] #7077 closed

[2018-05-20 04:45] debris commented on #7731
Closing, cause both clients are now compatible

[2018-05-20 04:45] #7731 closed

[2018-05-20 04:53] debris commented on #8466
No and we'll not implements it anytime soon. Although we'll definitely consider it in future

[2018-05-20 04:53] #8466 closed

[2018-05-20 04:56] debris commented on #8594
I believe that's related to the fact that blocks are being imported in the same time and rpc thread is waiting to get an access to block data. We'll improve it, but meanwhile I'm closing this as a duplicate of #8007

[2018-05-20 04:56] #8594 closed

[2018-05-20 05:01] debris commented on #7268
Closing as stale. Please reopen if it still occurs

[2018-05-20 05:01] #7268 closed

[2018-05-20 05:13] debris commented on #8660
This error is very descriptive and it's actually not a bug. You simply run out of space on your disk. Please read [this article](https://dev.to/5chdn/the-ethereum-blockchain-size-will-not-exceed-1tb-anytime-soon-58a) about parity blockchain size and adjust your parity configuration to your needs and hardware capabilities

[2018-05-20 05:13] #8660 closed

[2018-05-20 05:16] debris commented on #8615
Does it happen only for this transaction or also for other transactions? What's the result of `eth_blockNumber` call?

[2018-05-20 08:46] folsen commented on #7008
@GoodMirek Thanks so much for this, it's really helpful, however I don't think it's related to this issue. I'd also say that 4GB RAM is probably not enough to run Parity with those caches, ram usage can depend a bit on peers as well although not a ton. My own node consumes about 10gb ram with similar cache sizes, though that is still a bit above expectation for various reasons. It would be a separ

[2018-05-20 08:47] folsen commented on #7080
@5chdn Should we move these kinds of meta-issues/checklists to some other system or are you happy keeping them here?

[2018-05-20 08:51] folsen commented on #7094
Currently this is partially served by services like stats.parity.io and related. While I agree this would be a nice-to-have, I'm closing this in favor of tracking it in long-term-issues.

[2018-05-20 08:51] #7094 closed

[2018-05-20 08:53] folsen commented on #7098
@0x7CFE Is this addressed in #7038? If so please close.

[2018-05-20 08:57] GoodMirek commented on #7008
@folsen The point is that on the same container with the same command line options a previous version built with rustc 1.25 ran just fine for more than a week. Though I do not remember which commit hash it was, but not more than a month old.
I know the previous build I ran suffered from this particular issue "Ancient block sync stalls", as I had to restart the process several times to complete dow

[2018-05-20 10:44] zhangyijun commented on #8607
when Upgrade to v1.10.x, Parity client Service will corrupt, I try invoke from shell, finnaly get Error as:
Client service error: Client(Database(Error(Msg("Received null column family handle from DB."), State { next_error: None, backtrace: None })))

Detail Info as following:

zhangyijun$ /Applications/Parity\ Ethereum.app/Contents/MacOS/parity ui
2018-05-20 18:17:39  Parity browser interface is

[2018-05-20 11:54] tomaka commented on #6155
I can pick this up in the next few weeks.

[2018-05-20 11:55] tomaka commented on #3905
@folsen I didn't look into this issue and have no specific plan.

[2018-05-20 14:17] fckt commented on #8652
@Pzixel
before I'll go through the tutorial step to check it, could you confirm that you've got the hang using the chainspec from the tutorial (to make sure that the problem is not related to something else)?

[2018-05-20 15:35] dzh opened #8670 "Why does the synchronization stop at block 4210149？"
_Before filing a new issue, please **provide the following information**._

My run command is 'parity --rpcaddr=0.0.0.0 --tracing=on --pruning=archive --db-compaction=hdd --cache-size=512 --datadir /data/eth'

I want to synchronize the next block 4210150.

Output log :
2018-05-20 23:28:25     6/25 peers    107 KiB chain   15 KiB db  0 bytes queue   18 MiB sync  RPC:  0 conn,  0 req/s,   0 µs
2018-

[2018-05-20 16:11] #8670 closed

[2018-05-20 16:59] rphmeier commented on #3708
This is about the `--scale-verifiers` flag which activates threads for parallel ethash verification dynamically.

[2018-05-20 17:00] rphmeier commented on #7019
I think this is a part of it yeah. I forgot I filed this one!

[2018-05-20 17:06] rphmeier commented on #8664
I am planning to move the substrate PoC-1 consensus engine out of tree. It is really similar to tendermint; perhaps we can use it in Parity as well. Changes necessary to support this:
  - allow multiple valid seals per block (any 2/3+ majority signoff). requires building the chain based on `parent_hash = parent.bare_hash()` instead of `parent.hash()`.
  - have engine's block production be a `Futur

[2018-05-20 20:39] Tbaut commented on #8660
Our wiki has updated requirements and overview: https://wiki.parity.io/Setup#ethereum-mainnet-hardware-requirements

[2018-05-20 21:16] Tbaut commented on #6766
Logged it here: https://github.com/paritytech/wiki/issues/115

[2018-05-20 21:16] #6766 closed

[2018-05-20 21:34] BillSantos commented on #8660
Thanks debris & Tbaut. That was just what I needed!

[2018-05-20 22:01] Tbaut commented on #8667
Thanks for reporting it, it's a duplicate from https://github.com/paritytech/parity/issues/8444, please follow it.

Note that `--warp` and `--rpc` do nothing as they are on per default.

[2018-05-20 22:01] #8667 closed

[2018-05-20 22:05] Tbaut commented on #8668
As of web3.js v1.0, you have to go through `eth` in order to reach personal from nodejs:

`web3.eth.personal.unlockAccount("0x..", "<passs>", 1000);`

[2018-05-20 22:05] #8668 closed

[2018-05-20 22:10] Tbaut commented on #8651
Thanks @sorpaas for the explanations and solutions.
I'll close as it's not a bug.

[2018-05-20 22:10] #8651 closed

[2018-05-21 01:57] stone212 commented on #7184
Absolutely correct.  Two questions:

1. Is it possible to find out what these "silly requests" are so you or I or someone can take the Issues to the web3 team?

2. What is "shh interface"?  Did you mean ssh?  How does ssh interface have anything to do with web3?

[2018-05-21 01:58] folsen commented on #7176
Closing regardless because it's a misconfiguration error, solution is improved documentation.

[2018-05-21 01:58] #7176 closed

[2018-05-21 01:59] #3905 closed

[2018-05-21 02:01] folsen commented on #7008
@GoodMirek Interesting, please open a separate issue for the difference between 1.25 and 1.26, we definitely don't want regressions between rust versions.

[2018-05-21 02:02] folsen commented on #7177
A lot of work has been done on warp sync in the last few months and we have plans to make drastic changes in the future. Closing this issue in favor of more specific (and up to date) ones.

[2018-05-21 02:02] #7177 closed

[2018-05-21 02:08] #7207 closed

[2018-05-21 02:09] folsen commented on #7250
Closing as stale documentation issue. If still relevant please submit issue to wiki repo.

[2018-05-21 02:09] #7250 closed

[2018-05-21 02:12] folsen commented on #7258
Closing as it was answered by @arkpar

@Tbaut Can you double-check that we have documentation for what the different parts of the log-line means?

[2018-05-21 02:12] #7258 closed

[2018-05-21 02:14] folsen commented on #7288
Closing as stale.

[2018-05-21 02:15] folsen commented on #7309
Closing as Unreproducible.

[2018-05-21 02:15] #7309 closed

[2018-05-21 02:16] folsen commented on #7322
Closing as unspecific, if there are any particular places we can benefit from using the faster crate then open new issues.

[2018-05-21 02:16] #7322 closed

[2018-05-21 02:25] folsen commented on #7408
Closing as we now have https://github.com/paritytech/wiki/, please submit PR or issue to there.

[2018-05-21 02:25] #7408 closed

[2018-05-21 02:29] folsen commented on #7423
@tzapu Is this on a HDD or SSD?

[2018-05-21 02:32] folsen commented on #7436
Closing in favor of all the ongoing work to improve snapshot creation/downloading/chunking.

[2018-05-21 02:33] folsen commented on #7447
Closing as a disk corruption issue (unreproducible).

[2018-05-21 02:33] #7447 closed

[2018-05-21 02:37] folsen commented on #7479
Unfortunately this is just a matter of computation power, importing a block takes a lot of effort (especially running archive, trace & fatdb) and if your computer can't do it quickly enough then other things (like tx processing) will slow down.

I would recommend running a lighter full node to send transactions from if your archive node has a hard time keeping up.

Closing for now, but will keep i

[2018-05-21 02:37] #7479 closed

[2018-05-21 02:37] folsen commented on #7525
Closing as unreproducible. Probably a disk corruption issue.

[2018-05-21 02:37] #7525 closed

[2018-05-21 02:38] folsen commented on #7536
Closing as unreproducible, probably a disk issue.

[2018-05-21 02:38] #7536 closed

[2018-05-21 02:50] folsen commented on #7627
This should be reported as an issue on the relevant contract, probably https://github.com/parity-contracts/kovan-validator-set

[2018-05-21 02:50] #7627 closed

[2018-05-21 02:58] folsen commented on #7602
Closing in favor of https://github.com/paritytech/parity/issues/6982

[2018-05-21 02:58] #7602 closed

[2018-05-21 03:00] folsen commented on #7689
This is likely a result of how Parity handles RPC requests for blocks that are no longer part of the chain (e.g. regorgs). Requires investigation on what the correct answer is, not convinced it's a bug, but could be.

[2018-05-21 03:04] folsen commented on #7691
Some additional things previously discussed around this issue:

* There would be a problem with usability if it was always folders, it is a very niche use-case to have thousands of keys handled by Parity, the average user would prefer to have one folder, so the feature would need to be opt-in.
* If one opts in after already having keys, keys need to be moved into the folder structure in a migratio

[2018-05-21 03:08] folsen commented on #7747
Closing as unreproducible, please reopen if you can reproduce.

[2018-05-21 03:08] #7747 closed

[2018-05-21 03:10] folsen commented on #7772
Problem was due to an issue on the website, not with any program.

[2018-05-21 03:10] #7772 closed

[2018-05-21 03:17] folsen opened #8672 "Make Parity work with Remix"
This is a broad issue that requires investigation, but there are a couple of RPC calls that remix uses that Parity doesn't have (as reported in earlier issues), and sometimes there appears issues like https://github.com/paritytech/parity/issues/7813 that are failures of doing certain actions in remix.

Solving this issue probably includes getting in touch with the people working on remix to find o

[2018-05-21 03:17] folsen commented on #7813
Closing in favor of https://github.com/paritytech/parity/issues/8672

[2018-05-21 03:18] #7813 closed

[2018-05-21 03:49] folsen commented on #7859
@niklasad1 Did you make any progress on this?

[2018-05-21 03:53] folsen commented on #7875
@andresilva Closing this issue because #7605 is merged, reopen if there's more work to be done with a specifics of that work.

[2018-05-21 03:53] #7875 closed

[2018-05-21 03:59] stone212 commented on #6766
@Tbaut I am not sure what you logged.  It seems that what you did was create a new Issue that basically links back to the page that was so inadequate that I opened this Issue originally.

This page needs two things to be useful for anyone other than a dev who already knows the answers:

1. Provide actual, layman explanation of the RPC error codes.  Some of the comments in that code are useful.  Ot

[2018-05-21 04:03] folsen commented on #7924
This is a really vague and general issue where the cause could come from many different factors. The best way to debug would get on chat and help us reproduce, however, it may be addressed by the new transaction queue in v1.11.1

@tomusdrw Please reopen if you think this is _not_ addressed at all by tx queue and merits further investigation.

To all others on this thread, I encourage you to find u

[2018-05-21 04:03] #7924 closed

[2018-05-21 04:04] JokerCatz commented on #8651
okay ... I will create new issue to upgrade old contract of example code ...

[2018-05-21 04:09] folsen commented on #7989
@Tbaut Could you please move this issue (or just fix it 😇❤️) to the wiki repo?

[2018-05-21 04:09] #7989 closed

[2018-05-21 04:12] folsen commented on #8001
@jamesray1 I'm going to leave this issue open because I want to hear updates, if you want to move your updates to another format please close this issue as it is too vague/broad for anyone to pick and work on directly. I will however change the labels.

[2018-05-21 04:15] folsen commented on #8003
The issue was identified to probably come from expontential backoff time additions in auto-updater. There may however be other cases where it's from adding times with different resolutions, see rust-lang/rust#48980

[2018-05-21 04:15] #8003 closed

[2018-05-21 04:16] folsen commented on #8004
@Njcrypto We did some investigation on our side but couldn't think of any potential cause. Does this issue still persist? If so we may need some help investigating.

[2018-05-21 04:17] folsen commented on #8005
This seems likely to be a disk failure, for some reason parity can't write to disk, maybe you're out of harddrive space?

Closing, but please re-open if you can reproduce.

[2018-05-21 04:17] #8005 closed

[2018-05-21 04:19] JokerCatz opened #8673 "help to upgrade example contract to new version ......"
previous discussion : https://github.com/paritytech/parity/issues/8651

the example contract is too old and has many bug(like overflow attack ... ) , the new version of contract must support `eip658Transition` and use `SafeMath` , & the function define must add `public` keyword , not support `throw` anymore ... so I try to make a new version like this

    pragma solidity ^0.4.18;
    contract Tok

[2018-05-21 04:47] folsen commented on #8082
@tomusdrw Can this be closed after #8074?

[2018-05-21 04:55] folsen commented on #8096
This sounds very much like a disk issue, either corrupt db or disk our of space or something like that. It is unconfirmed for a month so am closing, please reopen if reproducible still.

[2018-05-21 04:55] #8096 closed

[2018-05-21 05:06] folsen commented on #8141
@robdoesstuff The request time will vary greatly depending on how many peers you're connected to. Creating all the data necessary and returning it (which can be quite a lot of data) is very different if your list contains 300 peers vs if it's 0 where it would essentially be a noop.

Can you verify that the difference persists even though the peer count is the same on both nodes (or both have for i

[2018-05-21 05:07] folsen commented on #4533
Then closing this issue due to UI being moved. Can reopen for handling node-side if there's a large demand.

[2018-05-21 05:07] #4533 closed

[2018-05-21 05:10] folsen commented on #6766
@stone212 We have changed around the way we handle our wiki and it is now community contributable, we are tracking documentation issues on the repo for the wiki instead of in this repo. Having it tracked there indeed doesn't mean that it's done, it just means that we're now tracking it in a place where it's less likely to get lost.

[2018-05-21 05:10] folsen commented on #8157
Closing this in favor of https://github.com/paritytech/parity/issues/8664

[2018-05-21 05:10] #8157 closed

[2018-05-21 05:13] folsen commented on #8178
@niklasad1 @andresilva Is this now addressable, do you still intend to take this Niklas or do you want to unassign yourself?

[2018-05-21 05:19] folsen commented on #8217
Update: We know there is a very rare corner-case bug that affects bloom filters on re-orgs, a partial solution has already been implemented but a full solution is being worked on and coming out soon.

[2018-05-21 05:27] folsen commented on #8264
@Njcrypto we've done a lot of work on the peering issues in 1.10 and 1.11, can you please try 1.11.1 and report back here if the issue persist. I will close the issue in the meantime but will reopen if you report back with issues. Cheers.

[2018-05-21 05:29] folsen commented on #8266
@maciejhirsz Is this something we would want to support in Parity directly or just through the evm lib and like adapt the vm to be usable directly with ganache and truffle?

[2018-05-21 05:44] tzapu commented on #7423
@folsen this was on an assortment of hosted or local ssd s
cheers

[2018-05-21 07:07] stone212 commented on #6766
Oh!  Then I will write more and complain less.

[2018-05-21 07:11] jamesray1 commented on #8001
For updates you can follow https://twitter.com/DropsOfDiamond, releases will be published there (there's a new release today on blob serialization). For plans you can have a look at the issues and projects in https://github.com/Drops-of-Diamond/diamond_drops.

[2018-05-21 07:11] #8001 closed

[2018-05-21 08:41] triamazikamno commented on #8141
@folsen net_peerCount is just a counter, why would it need to create all the data?

[2018-05-21 08:52] folsen commented on #8141
@triamazikamno Because it iterates over the peers and filters them then counts https://github.com/paritytech/parity/blob/master/ethcore/sync/src/chain/mod.rs#L463

It's very possible there's a way to optimise this, but the original issue claims it's a linux issue when it might just be a general optimisation issue.

[2018-05-21 08:57] triamazikamno commented on #8141
@folsen Oh I see, makes total sense them

[2018-05-21 09:17] folsen commented on #8311
Possibly related to https://github.com/paritytech/parity/issues/6840

[2018-05-21 09:29] folsen commented on #8344
1.10 and 1.11 has seen several improvements to peering and the difficulty to keep peer count high has been recorded in other issues so closing this one in favour of those.

[2018-05-21 09:29] #8344 closed

[2018-05-21 09:32] #8349 closed

[2018-05-21 09:36] folsen commented on #8353
Parity uses RocksDB under the hood, which has its own compaction algorithms, so indeed the data is being compressed to some degree. Work is being done to replace RocksDB in some places, but it's not in the Soon™ horizon really, when we get there dedup might be more effective because it uses a more deterministic storage strategy. Closing this issue until then. (See https://github.com/paritytech/par

[2018-05-21 09:36] #8353 closed

[2018-05-21 09:37] folsen commented on #8358
@andresilva what's the motivation behind this?

[2018-05-21 09:42] andresilva commented on #7358
Only the first bullet point is implemented right now, there's no way to get finality info through the RPC and no event is fired when a block is finalized. I think we should at least implement the RPC method before closing this.

[2018-05-21 09:43] fckt commented on #8652
@Pzixel check this https://github.com/paritytech/pwasm-tutorial/blob/master/dev-node-setup.md

[2018-05-21 09:46] folsen commented on #8394
Closing as a misconfiguration, please reopen if the comment above did not resolve the issue.

[2018-05-21 09:46] #8394 closed

[2018-05-21 09:48] folsen commented on #8405
Closing because UI is moving.

[2018-05-21 09:49] folsen commented on #8417
@grbIzl Did your PR fix this issue? If so please close.

[2018-05-21 09:49] andresilva commented on #8358
The issue isn't entirely correct. The chainspec allows defining constructor bytecode to instantiate new accounts at specific addresses:

https://github.com/paritytech/parity/blob/master/ethcore/res/authority_round_block_reward_contract.json#L58

If you have a constructor that takes arguments you'll have to append the encoded arguments to the bytecode (there's no separate field in the JSON file for

[2018-05-21 09:50] folsen commented on #8423
Closing as UI is moving.

[2018-05-21 09:50] #8423 closed

[2018-05-21 09:50] dvdplm commented on #8663
I cannot reproduce this.

[code]

and

[code]

Are you sure you're synch'd?

[2018-05-21 09:50] andresilva commented on #8178
Yes, I don't expect any more changes on the auto-updater for now so I think this is  addressable.

[2018-05-21 09:51] folsen commented on #8426
@tomusdrw I can't remember if we fixed this yet or if it's still in waiting to be picked?

[2018-05-21 09:54] folsen commented on #8437
Closing this as UI (and subsequently installers of various kinds) are moving to its own repo. Ideally whether or not you want a light client should be configured when you start the UI / download the electron wrapper for the first time.

[2018-05-21 09:54] #8437 closed

[2018-05-21 09:57] folsen commented on #8461
Closing as it's probably addressed by new tx queue in 1.11.1, if not, please reopen!

[2018-05-21 09:57] #8461 closed

[2018-05-21 09:58] #8469 closed

[2018-05-21 09:58] folsen commented on #8478
@tomusdrw Can you reproduce?

[2018-05-21 09:59] #8479 closed

[2018-05-21 10:01] folsen commented on #8480
Closing this issue since it is becoming stale and @tomusdrw has answered to the best of our abilities right now. @ppratscher if the answer isn't satisfactory please reopen.

@tomusdrw Please open a separate issue for `--jsonrpc-no-keep-alive` if you believe we should add that.

[2018-05-21 10:01] #8480 closed

[2018-05-21 10:05] folsen commented on #8485
Closing as it is most likely a result of the fork and resyncing would fix.

[2018-05-21 10:05] #8485 closed

[2018-05-21 10:06] folsen commented on #8487
Closing as @tomusdrw has answered the question, please reopen if there are followup questions.

[2018-05-21 10:06] #8487 closed

[2018-05-21 10:08] chevdor commented on #8423
Would not it be better to move this instead of just closing and forgetting?
That´s quite a regression to lose Ledger Nano S support.

In general, any UI Issue should be re-opened in the UI repo before being closed, otherwise, you null all the efforts of people, like me, who took the time to:
- open an issue to report a problem
- provide requested details about the issue

We have seen unfortunately

[2018-05-21 10:14] folsen commented on #8423
@chevdor totally understand, but we will not "lose Ledger Nano S support", Ledger Nano S should still work, as you showed. A lot has changed in the past month, there is no way of knowing if this issue still persists in the Electron Wrapped UI. No one in the Parity team has been able to reproduce this issue in the past month.

I appreciate the work you've put into this report, but there is neither

[2018-05-21 10:16] #8358 closed

[2018-05-21 10:16] ascjones commented on #8393
@tomusdrw still need to update to a new version of primitives in order to complete the fix

[2018-05-21 10:20] chevdor commented on #8423
Thanks for the clarification @folsen, from the last interactions, I understand it was more a planned todo than an issue no one could reproduce.

Isn´t there a 'cannot reproduce' or similar label for those then? This would at least provide (beside your explanation above, thanks for that) a bit of context if someone would ever run into such an issue again.

I will be more than happy to report  the i

[2018-05-21 10:26] folsen commented on #8525
How are you deploying it and what gas are you giving it? The error from Parity indicates that you are giving it 21000 gas to deploy and it needs at least 71236.

[2018-05-21 10:27] chevdor commented on #8423
Also easier for your guys :) "Cannot reproduce" is never a nice outcome but sometimes that´s what it is. It is easier to put a label than to have to provide a nice explanation as you just did :) Also easier to get to the point for an 'external reader'.

[2018-05-21 10:29] folsen commented on #8531
Closing this issue as the latest PRs should have addressed it. Reopen if it persists.

[2018-05-21 10:29] #8531 closed

[2018-05-21 10:32] folsen commented on #8550
@Tbaut you added the sometimesoon label to this, do you think there's anything to do here? Like automatically fixing the user defaults when changing to fat-db on a dev chain or something? Please elaborate so a dev can pick it up.

[2018-05-21 10:35] folsen commented on #8552
@debris will your new bloom work address this at all?

[2018-05-21 10:51] tomusdrw commented on #8478
It's been reported by @gavofyork I wasn't experiencing that.

[2018-05-21 10:52] tomusdrw commented on #8426
Not fixed yet, UI is required for the extension for now, so waiting to be picked.

[2018-05-21 10:57] niklasad1 commented on #8178
I’m on it, will fix it soon has taken some time to understand to updater code though!

[2018-05-21 10:59] tomusdrw commented on #8082
Not really, the link actually leads to a comment in that particular PR, @0x7CFE thougts? Is it worth implementiing in your opinion?

[2018-05-21 11:07] andresilva commented on #8178
You should also have a look at `parity/main.rs`, I think most changes will have to be done there (that code is a bit hairy right now). The updater downloads new binaries to `io.parity.ethereum-updates` and updates a file named `latest` in that directory to point to the latest version. By default, when parity starts it checks this file and launches that binary instead.

[2018-05-21 11:12] outofgas commented on #8525
@folsen: I tried to deploy it via `truffle migrate`, via the builtin *deploy*, and via the builtin *develop/deploy* in Parity's web frontend. All with same results. Provided gas was 8M (set in `truffle.js` or *advanced sending options* in Parity's web frontend). Parity's *TxQueue viewer* and an Etherchain Light client connected to the same dev network show that a block was mined (by the InstantSea

[2018-05-21 12:38] folsen commented on #8617
Parity can't embed an SSL certificate in the distributed binary for obvious reasons, so the only thing you could use is a self-signed certificate if you're on localhost, but if you're running it remotely (as `my.parity.node` indicates) then the solution is for you to set up something like nginx with an SSL certificate as a proxy in front of the parity node.

You can also use various SSL terminatio

[2018-05-21 12:38] #8617 closed

[2018-05-21 12:43] folsen commented on #8618
You ran 1.9.5 for similar amounts of time with the same cache size without issue I assume? If so then it does sound like we have some regression in memory usage. 4gb is pretty low, are you able to test at all with more to see if it doesn't OOM-kill it at some point?

@Tbaut / @5chdn  We should try to have some default setups like this that aren't bootnodes and document their rough usage stats with

[2018-05-21 12:46] folsen commented on #8649
I would argue the last point is not a release blocker. That is strictly behind-the-scenes and could actually be a lot of work.

[2018-05-21 12:49] folsen commented on #8663
This might be because you haven't finished downloading ancient blocks, I can't remember if it returns null or gives an error but I think it returns null. If you warp-synced then wait until you have downloaded ancient blocks and try again.

[2018-05-21 13:25] folsen commented on #4858
@grbIzl I've unassigned you from this for now, could you give an up to date summary on what the state of this issue is; what remains to be done? Also please re-assign yourself if you would like to do it.

[2018-05-21 13:41] folsen commented on #3708
Reopening as it might actually be some amount of boost in performance if we could parallelise more/better.

[2018-05-21 14:35] tomusdrw commented on #8649
Yeah, I had also a discussion with @debris where we think that `parity-*` should be reserved for potential secondary product names (like `parity-evm`, etc) and not necessarily internal crates. Most of the crates are sort of "ethereum core" and that's where the name came from (suprisingly colliding later with the company name).

[2018-05-21 14:37] NikVolf commented on #5979
i don't think the outcome is worth the effort and increase in complexity

[2018-05-21 14:37] #5979 closed

[2018-05-21 14:48] Njcrypto commented on #8264
@folsen I installed a 1.10.3 stable node at a new facility last week - set min peer count to 1000 - current peer connections total 36.

We are still having peer drop issues with our other nodes (running 1.8.x stable), but not as bad as the 1.10.x series now. I believe this is the driver of block prop latency - I am unable to sustain a large peer connection set.

In the 1.7.5+ series I was able to

[2018-05-21 15:10] Njcrypto commented on #8264
Just restarted the 1.10.x node with discovery option set to false and removed the nodes.json file. This was a clean install though, so removing that nodes.json file seems like a band-aid?

I'll let you know how this is performing in a few hours.

[2018-05-21 15:14] gituser commented on #7531
With `v1.11.1` I can see that parity no longer picks up more than 10-15 peers at all.

I've tried deleting `nodes.json` but it didn't help. The only way for parity to pick up some peers is to get good `nodes.json` file from healthy node and put it into problematic one, then peer count goes to 30-40 of 100 minimum.

Also, with new version there are more errors like: "There are too many transactions

[2018-05-21 15:57] edevil commented on #8661
Have you tried enabling some of the EIPs on your genesis file? My params section looks like this:
[code]

I've had ```TRACE executive  res=Err(BadInstruction { instruction: 253 })``` errors in the past and these seemed to influence them.

[2018-05-21 16:22] edevil opened #8675 "eth_estimateGas - Requires higher than upper limit of X"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I have deployed a contract based on OpenZeppelin's MintableToken and HasNoEther, and I can mint tokens with no problems using a Ganache test node. However, when I do the same against a parity

[2018-05-21 17:40] quantumproducer opened #8676 "Current size of synced blockchain?"
How can I calculate how much disk space I need for a parity sync?
My 80 GB drive just got filled from warp syncing.

[2018-05-21 18:03] tomaka commented on #8186
Ideally the long-term plan would be to remove the current `ethcore_io` crate and use futures and streams.
If that happens, each individual message could have its own stream.

[2018-05-21 18:05] iFA88 commented on #8676
Foundation network:
-warp full sync ~21GB
-normal mode full sync ~105GB
-full node ~1115 GB

[2018-05-21 18:06] iFA88 commented on #8676
If you don't need old blocks use `--no-ancient-blocks` flag.

[2018-05-21 18:09] iFA88 commented on #8675
I have `Parity/v1.11.1-beta-6654d0216-20180515/x86_64-linux-gnu/rustc1.25.0` and `Parity/v1.9.5-stable-ff821daf1-20180321/x86_64-linux-gnu/rustc1.24.1`, my results are twice:
[code]

[2018-05-21 19:28] quantumproducer commented on #8676
@iFA88 very helpful, thank you. Does a warp node require a full sync (105 GB) and then downsize to 21 GB?

[2018-05-21 20:45] Tbaut commented on #8550
If my advice solved the problem, then I'd suggest to automatically reset the `user_defaults` when doing a `db kill` as it seems not to be the case right now.

[2018-05-21 21:51] Tbaut commented on #7258
It's here: https://wiki.parity.io/FAQ-CLI,-Mining,-and-Networks.html#what-do-parity-command-line-output-mean

[2018-05-21 22:59] #6743 closed

[2018-05-21 23:14] Tbaut commented on #8676
Please find updated numbers here: https://wiki.parity.io/Setup#ethereum-mainnet-hardware-requirements.

@iFA88 I do not agree with your naming.
A full node is what you get without any flag (~80GB). A full node with archive state tree is ~1.1TB

It is also useful to mention that `--no-ancient-blocks flag` isn't secure as the client does not perform the full blockchain verification from the genesis

[2018-05-21 23:14] #8676 closed

[2018-05-21 23:21] levirak opened #8678 "Panic on invalid back-reference."
In the process of using Web3 to inspect the Ethereum main chain, I feed the Parity light client an RPC call that crashed it. Specifically, I asked for for the block `0x1784ac` (full hash given below), which is as an uncle of `0x248fe7`. Asking for `0x248fe7` successfully returns the block, including any requests for an arbitrary depth of ancestors.

My naive assessment of the situation is that bec

[2018-05-21 23:33] 5chdn commented on #8676
That's the size without ancient blocks.

[2018-05-21 23:53] tempofeng commented on #5014
@danfinlay Can you share how you guys tracking pending transactions locally? We're having this nonce problem as well.

[2018-05-22 00:06] quantumproducer commented on #8676
@Tbaut , running wirth --pruning=light says "unstable". Is this the same as insecure, or is light a reliable way to sync?

I need to get smart contract data from a recent contract.

[2018-05-22 00:08] AntoniosHadji commented on #8265
same issue with 1.10.4.  ```--no-persistent-txqueue``` fixed it for me

[2018-05-22 01:56] debris commented on #8552
yes, entirely

[2018-05-22 02:12] folsen commented on #8550
@debris any reason not to delete `user_defaults` when doing `db kill`?

[2018-05-22 02:17] debris commented on #8649
Crate renaming definitely shouldn't be a release blocker. I would also reorganize location of our executables. Now they are difficult to find for people not familiar with the project. It would be cool if we place all of them in a single directory

[2018-05-22 02:25] debris commented on #8550
no, they should be deleted

[2018-05-22 04:49] quantumproducer commented on #8667
@Tbaut could this be related to
"2018-05-22 02:58:10 UTC Syncing #1299793 b60d…ff95    83 blk/s  425 tx/s  11 Mgas/s      0+ 6588 Qed  #1306382   31/50 peers   6 MiB chain 2 GiB db 40 MiB queue 13 MiB sync  RPC:  0 conn,  0 req/s,   0 µs
Killed"

I return and it just says "Killed".. I can start it fine. Why would this happen?

[2018-05-22 05:24] andrewheadricke opened #8679 "Local transactions rejected due to low fee that work elsewhere"
When submitting a transaction to the node, either via local wallet OR some externally signed tx it returns an error saying gas price is too low and tx queue is too long, therefore its dropped.

However my fee is always above the suggested average at ethgasstation, and when I send my tx via another provider it goes through immediately and is confirmed usually within 30-60 seconds.

There needs to b

[2018-05-22 05:34] Akira-Taniguchi commented on #8615
[code]

I tried it today and the result came back.
It's a mystery.

This ticket closes.

thanks

[2018-05-22 05:34] #8615 closed

[2018-05-22 06:14] trappist commented on #8540
Happens reliably here. It prints `Finishing work, please wait...` and never exits, I have to kill -9.

[2018-05-22 08:03] gnunicorn commented on #8184
@debris just to be clear, what we want to do here:
1. switch all debug statements to pretty-printing with `{:#}`
2. add debug_struct formatters where missing

Correct?

I am a bit unclear what should happen to the `writeln` and what it should be replaced with. Do want to replace it with `println!`? Arent' `writeln!` and `println!` using the same formatter (internally), thus `{:#}` is also supporte

[2018-05-22 08:18] c0deright commented on #7691
Hi @folsen

* Opt-In: That's fine. Only power-users will need this feature
* Moving key files by parity when enabling/disabling that feature I guess it not the best way. Nobody would assume parity doing this.

I would propose a flag that just enables searching in *all* subdirectories beneath `keys/ethereum` for private keys instead of only the `keys/ethereum` directory itself. Parity should not mo

[2018-05-22 08:32] dvdplm commented on #8678
Confirmed. The panic comes from [here](https://github.com/paritytech/parity/blob/master/rpc/src/v1/helpers/light_fetch.rs#L435). Investigating.

[2018-05-22 08:32] c0deright commented on #8618
I ran 1.9.7 (and releases before that) with 4 GB of RAM and `cache_size = 2000` without problems for weeks/months. I didn't test 1.10 because I was interested in https://github.com/paritytech/parity/pull/8541 which is not available in 1.10.

With 8 GB of RAM available to the VM parity 1.11.0 is running stable for 8 days without being OOM-killed:
[code]

At the same time parity 1.9.7 on a productio

[2018-05-22 08:37] edevil commented on #8675
@iFA88 I just tried with the v1.11.1 docker image and got:

[code]

[2018-05-22 08:48] c0deright commented on #7531
@5chdn

Because the only release that has this fix incorporated is a beta release. This fix fixes a serious issue and we're using a *stable* version that was released only 29 days ago and you're telling me we should use beta software to get rid of this issue?

That's not how we're operating. If 1.10-stable had this fix we would think about switching. But not to 1.11 at this stage.

Please reconsid

[2018-05-22 09:25] grbIzl commented on #8417
Closed by #8473

[2018-05-22 09:25] #8417 closed

[2018-05-22 09:34] grbIzl commented on #4858
@folsen two requirements were implemented (include traces for block and uncle rewards and
allow paging in the trace_filter call to limit the number of returned traces).
For the third one (align the vmTrace output of the trace_replayTransaction call with Geths debug_traceTransaction) @gavofyork  wanted to write some js adapter. Frankly, I would create a separate issue for this (or may be include in

[2018-05-22 09:52] ascjones commented on #8393
This issue keeps closing automatically by github from the other repo issue, probably because of the fix keyword.

[2018-05-22 10:02] debris commented on #8184
hi @gnunicorn .

1. yes
2. I want entire trie to be formatted only with `debug_struct`.  The is no need to use `writeln!` or `println!` inside fmt function at all

[2018-05-22 10:51] folsen commented on #4858
@grbIzl Thanks for the summary, moving the first issue to #8672 and closing this one.

[2018-05-22 10:51] #4858 closed

[2018-05-22 11:04] gituser commented on #7531
I'm rolling back to `v1.10.4`, because `v1.11.1` now starts to lose peers and transactions are not propagated in the network sitting forever in the queue.

[2018-05-22 11:11] fckt commented on #8652
interesting. I'm going to investigate.
Also your case suggested me that it would make sense to add a Docker option into the deployment tutorial.

[2018-05-22 11:31] gs201510 opened #8680 "syncing snapshot stopped"
_Before filing a new issue, please **provide the following information**._

syncing snapshot stopped at 678/1426, how should I do?

[code]

[2018-05-22 11:53] pepyakin commented on #6744
I thought that these wasm vm use-cases might be useful to keep in mind if and when performing the overhaul:

For now, the wasm engine performs validation of the wasm code [each time before executing a contract](https://github.com/paritytech/parity/blob/fe5f5b28d9be6b894545cfbbb42580068e14524b/ethcore/wasm/src/lib.rs#L91). The validation run time depends on the code size. Since it depends only on a

[2018-05-22 11:54] nlandeker commented on #7531
@gituser i agree parity 1.11.1 is not usable atm. We are also using 1.10.4 and it appears to be ok so far.

[2018-05-22 12:00] 5chdn commented on #7531
Can you create a new issue where we can discuss the tx queue issues? I'll reopen this to further investigate the peering issues.

[2018-05-22 12:03] 5chdn commented on #8667
"Killed" usually means your machine is out of memory.

[2018-05-22 12:22] folsen commented on #7691
@c0deright putting the burden on the user to manage the keyfiles and folders doesn't seem great, but it would make implementation a lot easier if we just said that it's supposed to read files from all folders in the keys folder, not just keys in the root.

[2018-05-22 12:29] rphmeier commented on #5979
kind of disagree. a specialized queue for validator-set based engines which essentially runs a light client would be a fairly massive performance improvement.

[2018-05-22 12:31] axelchalon commented on #2913
Sure! First off, to clarify: @tomusdrw could you specify what your thoughts are behind this issue? I imagine you find the current output of `--help` too long. When printing the help by default (in non-verbose mode), would for example shortening the help messages for each option, or skipping some rarely used options be good solutions for you?

[2018-05-22 13:15] niklasad1 commented on #7821
Only partly, because it requires some major refactoring in instantiation of `ethcore/client` in order to import the registrar contact from `registrar`. So, for now the contract `registrar.json`is duplicated in `registrar` and in `ethcore`!

[2018-05-22 13:34] quantumproducer commented on #8667
@5chdn isn't that handled with --cache-size=1024 ? That sets 1 GB aside, right?

[2018-05-22 13:34] niklasad1 commented on #6873
@folsen I will check this next week when I'm back in Berlin with access to a `Ledger`

@MicahZoltu meanwhile If you could run ```parity.exe -l hardware_wallet=trace``` and provide the log that would help too!

[2018-05-22 14:17] quantumproducer commented on #8680
My light node stopped syncing with no message. Light seems to not work at all in the last 16 hours for me.

[2018-05-22 15:31] AdvancedStyle commented on #8679
I'm having exact same issue after upgrading from v1.9.4 to 1.11.1:

Even if I increase the gas price to double the suggested gas price it still gives this error.

`parity_localTransactions` is showing rejected transactions with this error:

This  transaction has a gas price of 0x560de0700

[2018-05-22 16:40] zhangyijun opened #8684 "Parity 1.10.4 corrupted: Client service error: Client(Database(Error(Msg("Received null column family handle from DB.")"
Parity Ethereum will corrupt and exit. I try from command line, get Errors as following:
[code]

[2018-05-22 17:07] #8577 closed

[2018-05-22 17:40] gituser commented on #8679
I'm having same issue, getting this response over RPC:

[code]

also, some transactions reported as mined, but in fact they were never included in the block and thus any new outgoing transactions are stuck because the nonce should be incremented from the last mined tx.

[2018-05-22 17:40] gituser commented on #7531
check this issue - https://github.com/paritytech/parity/issues/8679

[2018-05-22 19:04] S3bb1 opened #8685 "Discovery on private PoA Network"
We're currently running 5 PoA Nodes on AWS and Azure on docker with a private chain. 3 of the nodes are defined in the nodes section of the chain definition. The 2 other nodes are currently finding each other (after hours) through discovery. When i start a parity client locally on my notebook i only find the 3 nodes in the definition and not the other 2 which aren't defined in the nodes section. A

[2018-05-22 19:18] andresilva commented on #7531
@c0deright Did 1.11.1 solve the low peer count issues for you? I can try backporting #8541 when we do the next release but I'm not sure it solves the issue entirely (and there were also other changes made in 1.11 that help with low peer count #8530).

[2018-05-22 19:23] dvdplm commented on #8540
Happens sporadically here (~1/day) using a variety of flags.

[2018-05-22 19:33] dvdplm commented on #8675
@edevil Can you try the same RPC call against parity running against a different chain, e.g. `parity --chain testnet`? Also, can you post the full command line invocation you use to start parity on your private chain? Thanks!

[2018-05-22 19:34] c0deright commented on #7531
@andresilva It's much much better with 1.11.0 (still running 1.11.0 to get longterm metrics). I'm running 1.11.0 for over 8 days now and I have between 22 and 24 peers constantly. It's a big improvement. Out production systems with parity 1.9.7 are running fine with the `--no-discovery` workaround, too. They only have about 7-9 peers but that's constantly maintained, too.

I can't confirm 1.11(.0)

[2018-05-22 20:28] danfinlay commented on #5014
@tempofeng We calculate the next nonce like this:
https://github.com/MetaMask/metamask-extension/blob/develop/app/scripts/controllers/transactions/nonce-tracker.js

This thread is probably the wrong place to discuss this. If you have a question about how MetaMask works, please [open an issue there](https://github.com/MetaMask/metamask-extension/issues/new).

[2018-05-22 21:54] 1blockologist commented on #8145
Thank you for the real and honest criticism @drandreaskrueger that is refreshing to see in this space

How does the lite client work out for you, I am considering it

[2018-05-22 22:00] 1blockologist commented on #8215
This is hilarious, I love these honest criticisms

Something that every wallet does is not technically possible with Parity. I know why this is, but it 'merely' needs a lite mode that is analogous to every other lite client out there.

I'm also here for the progress update

[2018-05-23 00:33] andrewheadricke commented on #8679
@tomusdrw I don't believe they are all from the same sender.. my tx queue is showing 8192 transactions, with varying senders and gas prices.

I have just set `--min-gas-price` to 20 gwei, that has dropped my tx queue down to a more reasonable number. Not sure if Parity will allow me to submit a local tx with a lower gas price, my gut feeling is that it will.  If so, that solution will do for now.

[2018-05-23 01:20] gituser commented on #8679
@tomusdrw, in my case - most transactions are going from the same sender or to the same sender.
Also some are just stuck waiting to be mined, althrough log indicates that transaction has been mined.

But it doesn't matter, with `v1.10.4` it works and with `v1.9.7` it worked, why it should fail with `v1.11.1` ?

I've also set `--tx-queue-size` to big number, I'll try your workaround, but I'm strong

[2018-05-23 01:43] andrewheadricke commented on #8679
Can confirm setting `--min-gas-price` works by reducing the tx queue to a point where its not full, and then was able to submit a tx below the `--min-gas-price` locally and Parity accepted it and relayed it.. to which it then got mined.

[2018-05-23 02:15] gituser commented on #8679
@andrewheadricke I never submit any transactions with gasPrice below 20 Gwei. The node is only used by me so I can't see how this is relevant in my case.. I'll try though your suggestion. Thanks.

[2018-05-23 02:45] cachvico commented on #8531
I've been using Parity since my successful sync two weeks ago, but didn't have too much luck on a clean restart today.

Can I confirm the fixes are merged into `master`? I deleted `~/.local/share/io.parity.ethereum`, switched to master, pulled, built and restarted with `./target/release/parity --db-compaction ssd --cache-size 1024 --warp-barrier 5650000`, but it's not looking too promising - I've

[2018-05-23 02:50] folsen commented on #8531
@cachvico The first two times you're shutting your node down while it's trying to download a snaphot? And it's actually successfully picking up where it left off. The last time I think you're being hit by a bug that's only on master that's a deadlock issue, it's being fixed right now (in general building and running from master is not always the most reliable).

[2018-05-23 04:05] cachvico commented on #8531
Thanks @folsen - which is the branch to build from to pick up all the fixes referenced in this issue?

[2018-05-23 04:46] folsen commented on #8531
@cachvico I don't know, it depends on what you're trying to do, are you trying to develop something and work on a fix for something? Otherwise I'd just recommend to download the latest release.

[2018-05-23 04:53] cachvico commented on #8531
I'm simply trying to run the Parity client (e.g. for blockchain querying via web3). If all the above fixes are rolled into the latest release, I'll give that one a go.

[2018-05-23 04:56] cachvico commented on #8531
I'm simply trying to run the Parity client (e.g. for blockchain querying via web3).

Sorry can you confirm which release version to use? My build is on 1.12.0-unstable, but the latest release on the website is 1.10.4. Given all the problems I had earlier (hence this Issue thread), I don't want to try again with the wrong version..

[2018-05-23 05:49] nlandeker commented on #7531
@c0deright I moved our parity from 1.11 to 1.10.4 and in a day run it has a stabled 70 peer count (min/max set to 256/1024) 1.11 has a memory leak that kills it in a way that it cannot self recover.

Hope this helps.

[2018-05-23 05:56] folsen commented on #8531
Try 1.11.1 from here https://github.com/paritytech/parity/releases

[2018-05-23 06:06] BenKnigge opened #8687 "full archival fat-db sync stuck"
_Before filing a new issue, please **provide the following information**._

 I'm running:

**Which Parity version?**: 1.9.7-stable
 **Which operating system?**: Ubuntu 18.04
**How installed?**: via installer parity_1.9.7_ubuntu_amd64.deb
**Are you fully synchronized?**: no
**Which network are you connected to?**: ethereum
**Did you try to restart the node?**: yes multiple times

 ** issue descript

[2018-05-23 07:01] iFA88 opened #8688 "Parity uses all available memory during sync"
I run `Parity/v1.11.1-beta-6654d0216-20180515/x86_64-linux-gnu/rustc1.25.0` with the following flags: `--no-periodic-snapshot --no-warp --tracing on --pruning archive --peers 10 --rpcport 8549 --port 30307 --no-ws --no-dapps --no-secretstore --no-ui --cache-size 2048`. The client is still syncing the blockchain.

Issue:
The node fill up my whole memory (32 gb) until the kernel kills them. The node

[2018-05-23 07:12] rsinensis commented on #8506
Using --no-warp doesn't work on me.
[code]

[2018-05-23 07:17] gs201510 opened #8689 "When sync to the highest block, parity stop syncing"
_Before filing a new issue, please **provide the following information**._

I just run ./parity with no params.After syncing snapshot , it began to sync blocks. But when it comes to the newest block, it stop syncing.
[code]
stopped at `Imported #5661802 0x420a…0c63 (174 txs, 8.00 Mgas, 1166 ms, 27.13 KiB) + another 2 block(s) containing 370 tx(s)`

[2018-05-23 07:38] gs201510 commented on #8689
When I run parity with ./parity -l sync=trace, I saw it stop at here:

2018-05-23 07:25:06 UTC IO Worker #0 TRACE sync  Deactivating peer 33
2018-05-23 07:25:06 UTC IO Worker #0 TRACE sync  Syncing with peers: 6 active, 13 confirmed, 16 total
2018-05-23 07:25:06 UTC IO Worker #0 TRACE sync  Skipping busy peer 37
2018-05-23 07:25:06 UTC IO Worker #0 TRACE sync  Skipping busy peer 1
2018-05-23 07:25

[2018-05-23 07:40] #8688 closed

[2018-05-23 08:59] peterjoel opened #8690 "Parity UI should not allow browsing to arbitrary websites"
Inside Parity UI there are links to blogs and external resources. Any of these can have links to arbitrary websites. Having 3rd party websites load inside the UI presents the risk that a site could attempt a phishing attack simulating the wallet DApp, or make a signing request.

The web browser inside Parity UI should be restricted to a very limited whitelist of domains. All other pages should ope

[2018-05-23 09:27] #8393 closed

[2018-05-23 09:28] Tbaut commented on #8676
@quantumproducer the `--light` flag is statistically less secure than a full node where you verified all blocks from the genesis but the level of security remains very high as any transaction you do would be verified by fetching data from full nodes and verifying it against merkle roots.

`Unstable` is related to the release stability. Here it simply means that potential bugs remain. You should de

[2018-05-23 09:40] tomusdrw commented on #8679
@andrewheadricke I've submitted a fix for a local transaction policy in case the pool is full. Indeed local transactions should be accepted even if they are below configured min gas price.

@gituser Your issue seems a bit different if you are running with 65k pool size. I don't think it should ever be completely filled. Would you be able to provide logs for running with `-ltxqueue=debug`?

[2018-05-23 10:05] ascjones commented on #8516
Is this fixed by https://github.com/paritytech/parity/commit/af90fbfb3344fdc2447d97d4c48dcdfd69899a4f

[2018-05-23 10:07] dvdplm opened #8693 "Test eth RPC interface for the light client."
Currently there are no tests for [RPC calls against the light client](https://github.com/paritytech/parity/tree/master/rpc/src/v1/impls/light) and there is a significant amount of logic to manage requests.
The [tests for the full client require a fair amount of setup](https://github.com/paritytech/parity/blob/master/rpc/src/v1/tests/eth.rs#L84) and the difference in style of implementation means t

[2018-05-23 10:08] Tbaut commented on #3081
I do not have access to an archive windows node right now. Due to the age of the issue, I'll close it.  We can reopen if it still happens on a recent release.

[2018-05-23 10:08] #3081 closed

[2018-05-23 11:27] iFA88 opened #8694 "Question: TX with future nonce"
Greetings.
If I or another else broadcast a transaction with future nonce (example the next should be 3 but I give 4) when will be dropped from my `Parity/v1.11.1-beta-6654d0216-20180515/x86_64-linux-gnu/rustc1.25.0` node when I use the following flags: `-no-ancient-blocks --min-gas-price=1000000000 --tx-queue-mem-limit=128 --tx-queue-size=128000 --reseal-on-txs=all --force-sealing` ?

[2018-05-23 13:51] quantumproducer commented on #8676
Thank you @Tbaut . --light seemed to sync faster but eventually stopped working.
My current solution is : increased storage space, running with fast, and a cache size of 1024. It reached block 5,000,000 in a few days, slow moving from here (is this expected?)

But it hasn't crashed and seems to be gradually incrementing :)

[2018-05-23 14:15] Tbaut commented on #8673
This is definitely a [Parity UI](https://github.com/Parity-JS/shell/issues) related issue. I don't think this will be addressed any time soon though. Feel free to copy it to this repo.

[2018-05-23 14:15] #8673 closed

[2018-05-23 14:40] Tbaut commented on #8680
@quantumproducer this issue is not related to a `--light`. Please use the [this issue](https://github.com/paritytech/parity/issues/6319) to track it.

@gs201510 this problem should go away if you try to resync (restarting parity). We have worked on a lot of improvements lately (https://github.com/paritytech/parity/pull/8659 for instance) that will be part of the next release. I'll close this issue

[2018-05-23 14:40] #8680 closed

[2018-05-23 14:40] folsen opened #8696 "Massive increase in CPU usage with 1.11.1"
- **Which Parity version?**: 1.11.1
- **Which operating system?**: Linux
- **How installed?**: via binaries
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: ethereum
- **Did you try to restart the node?**: yes

After upgrading from latest 1.10 to 1.11.1 I use way way more CPU, while network usage is down.

![Stats](http://s.3h.se/MkdvzqYtw3.png)

[2018-05-23 14:48] Tbaut commented on #8684
This is a duplicate from https://github.com/paritytech/parity/issues/7748
This error indicates a DB corruption most likely due to a memory error. Could you please make sure that your memory passes a memtest?

[2018-05-23 14:48] #8684 closed

[2018-05-23 14:51] rphmeier commented on #8693
We should be able to mock the `OnDemand` service completely for the light client RPCs. IMO that would work better than actually trying to set up a dummy network to request data from.

[2018-05-23 14:54] Tbaut commented on #8676
@quantumproducer let's not mix discussions. Feel free to have a look at our [Gitter channel](https://gitter.im/paritytech/parity) to continue the discussion.

[2018-05-23 15:04] tomaka commented on #8193
When it comes to the CLI, here is what I'm going with:

- The `--with-libp2p` flag enables libp2p.
- `--no-devp2p` allows disabling devp2p.
- `--libp2p-port` specifies the port that libp2p uses.
- `--libp2p-bootstrap` specifies a list of bootstrap nodes for libp2p.
- The `--reserved-nodes` flag will try to parse each node address as either devp2p or libp2p, and dispatch as appropriate.
- `--port`

[2018-05-23 15:32] Tbaut commented on #8687
It would be interesting to understand why this happens. Could you please add the config:
[code]
and post the result?

[2018-05-23 15:33] Tbaut commented on #8506
I could not reproduce the problem :(

[2018-05-23 15:44] JokerCatz commented on #8673
okay , I just think it need be fix & add to issue , I'll copy to there

[2018-05-23 15:47] Tbaut commented on #8689
I can reproduce, here is the full log: https://gist.github.com/Tbaut/79dee1e5dac1f64fb6b2e0127a177eac

[2018-05-23 17:03] BenKnigge commented on #8687
I restarted it a few more times and eventually it started syncing again. If it happens again I'll enable the trace log and include it. I'm just guessing that there may not have been a peer with the archival data for  that block. It was stuck on the same block for several hours. I'm currently syncing at a rate of 1 block every 2 seconds. Is it possible that there are simply not enough full archival

[2018-05-23 17:30] BenKnigge commented on #8687
I've upgraded to 1.10.4-stable still not syncing

[2018-05-23 17:35] BenKnigge commented on #8687
I've attached a bit of the trace. Hopefully it's helpful. Feel free to close this if it's not an I can reopen it if the sync stops again.

[log.zip](https://github.com/paritytech/parity/files/2032146/log.zip)

[2018-05-23 20:34] jrischma opened #8698 "Online installer not working in FRESH Ubuntu 16.04"
Hi, i cant install parity, say:
[code]
thanks
[code]

[2018-05-23 20:55] cachvico commented on #8531
Built 1.11.1 from source and it's running, however not sure it's working. Output attached - first run from clean build after 2 hours.

Couple of more minor observations:

- Is there a newcomer guide to all the columns in the standard output? Half of the chit-chat in this bug report has (unfortunately) been due to me not having a clue what's going on - I see a bunch of zeros but have basically no i

[2018-05-23 21:17] sammy1991106 commented on #6548
What is the fix for this?

[2018-05-23 22:39] cowpig opened #8700 "UI doesn't work at all"
_Before filing a new issue, please **provide the following information**._

I'm running:
version: Parity/v1.10.4-unstable-39b9f1e-20180514/x86_64-linux-gnu/rustc1.26.0
OS: Ubuntu 18.04 LTS
installed via: snap
fully synched: yes
connected to: ethereum

parity-ui installed via snap as well

As advised in the [double-send issue that I reported](https://github.com/paritytech/parity/issues/8646) I inst

[2018-05-23 22:40] cowpig commented on #8700
Also, this might be the wrong place for this, but I find it pretty annoying to have to install a separate electron app. Browser UI is a much better UX for me.

[2018-05-24 01:19] folsen commented on #6548
@sammy1991106 If it still doesn't work (I thought the fix was the above comment about name resolution), please let us know again what the error message is. If you're just looking for the latest version just head to github.com/paritytech/parity/releases

[2018-05-24 03:36] wcw84 opened #8701 "transaction(block) is reverted"
Hi

I run my Dapp based on my parity node, and my script will check very newest block every 5 seconds again and again.
And it found a weird problem:

[code]

The message above show the transaction "0x9b481b191b295787f88854aba85d41b578a4f81b688db1f2f4d0f348e5f05cac" is in block 5661999 and succeed.
But now you can check it from the [etherscan](https://etherscan.io/tx/0x9b481b191b295787f88854aba85d4

[2018-05-24 04:33] AdvancedStyle commented on #8679
Do you know if it's possible to set this from the config file instead of passing as flag?

[2018-05-24 06:02] madnadyka opened #8702 "Can't broadcast transactions to queue"
I'm having problem with transactions broadcasting to the node, such message is appeared :

If I increase the gas price it still gives this error. If I restart node I can broadcast transactions but only for a small time -  I have this error again after maybe 5 mins.

[2018-05-24 06:07] madnadyka commented on #8007
Seems that this  issue persists, but can’t use 1.11 - another issue(more critical for me) is occurred:

https://github.com/paritytech/parity/issues/8702 <https://github.com/paritytech/parity/issues/8702>

[2018-05-24 06:26] dvdplm commented on #8193
How about adding a `--network-backend` switch that can be set to `devp2p` or `libp2p` and leave `--port`/`--bootnodes` as they are? Or can users run both networking backends at the same time?

[2018-05-24 07:20] dvdplm commented on #8698
Hi! Thank you for the report. What was the command you ran to get the reported output please?

[2018-05-24 07:25] ppratscher opened #8703 "eth_getBlockByNumber("pending", "false") returns null for block number"
Parity versions < 1.11.1 return the actual number of the pending block in the eth_getBlockByNumber("pending", "false") call, while parity version 1.11.1 returns "null" as pending block number. In order to not break backwards compatibility the call should return again the correct block number of the pending block. I assume the change is related to the new tx queue module.

[2018-05-24 07:41] dvdplm commented on #8702
The queue limit is 50 transactions. Is it possible that the transactions you are enqueueing are not getting processed properly?

Can you help us reproduce the problem please? How do you start parity and what config options are you using? Are you running a miner?

Thanks!

[2018-05-24 07:56] varasev opened #8704 "Add "multi" option in spec.json for BlockReward contract"
Parity 1.11.1 doesn't have "multi" option in `spec.json` for `BlockReward` contract. Therefore, once the `BlockReward` has been deployed, it cannot be changed.

The suggestion is to add the same "multi" option as it's done for validator set: https://wiki.parity.io/Validator-Set.html#multi-set

[2018-05-24 08:26] dvdplm commented on #8703
Thank you for the report. I think that the `pending` option is deprecated, but there seems to be a bug around this and it shouldn't return `null`. Investigating!

[2018-05-24 08:30] Tbaut commented on #8531
@cachvico thanks for your feedback. A newcomer guide isn't available right now but a work to make [our FAQ](https://github.com/paritytech/wiki/issues/93) more beginner friendly has already started.

For such cases as yours, please join our [Gitter channel](https://gitter.im/paritytech/parity) to get to understand how things work under the hood, not only from the parity team but also from the commu

[2018-05-24 08:46] madnadyka commented on #8702
I send to queue maximum 1-2 transaction and there are no other pending transactions in queue.
Everything was ok with the previous version and I don’t make changes in my program code.
I send transaction throw RPC API - eth_sendRawTransaction.

Parity config:

parity --no-warp --pruning fast  --pruning-memory 1024 --db-path /mnt/parity_data_1024/ --port 30336 --jsonrpc-port 18560 --jsonrpc-interface

[2018-05-24 09:13] tomaka commented on #8193
Yes. Full nodes need to run both in order to make the bridge.

[2018-05-24 09:19] tomusdrw commented on #8679
@AdvancedStyle yes, it's:
[code]

[2018-05-24 09:40] Tbaut commented on #8687
The logs are useful if it stops syncing (and it doesn't resume syncing after relaunching parity with syncing on).
An Archive node only relies on full node peers, you do not need archive full node peers. The archive is built by your node as the sync goes by evaluating each block and storing the state of the blockchain at each block. I'll close, please reopen if you can reproduce with a trace.

[2018-05-24 09:40] #8687 closed

[2018-05-24 10:03] Tbaut commented on #8685
Thanks for your report. Discovery can take time, how long did you let your local node running and discovering?
Could you please add the `-l discovery=trace,network=trace` flags to your local node and post here a couple minutes of logs?

[2018-05-24 10:08] cachvico commented on #8531
Sorry what does "cases like mine" mean?

Please note that since opening this Github Issue (at your request @Tbaut on StackOverflow) *I still don't have a functioning Parity client* despite following instructions and due diligence with clean builds, etc.

Ever so slightly frustrating to be given the brush-off here.

[2018-05-24 10:38] folsen commented on #8531
@cachvico A case like yours would be where someone despite (your) best efforts can't get parity running properly, we've had this back-and-forth in this issue for over a month. Most people don't have this experience, and having one message back and forth per day for another month is not the most effective way to deal with it. If you jump into chat with us, we can probably get it resolved faster.

[2018-05-24 11:04] iFA88 opened #8706 "Parity has some freememory issue"
Greetings!

I need restart almost every day my `Parity/v1.11.1-beta-6654d0216-20180515/x86_64-linux-gnu/rustc1.25.0` node before the kernel kills them, it eats all available memory.
In the logs there is no unusual line.
[code]
I run the node with the following flags:
`-no-persistent-txqueue --no-ancient-blocks --min-gas-price=1000000000 --tx-queue-mem-limit=1024 --tx-queue-size=128000 --reseal-on-

[2018-05-24 12:09] Tbaut commented on #8694
Local transactions are not dropped unless you specify it with the flag:
[code]

[2018-05-24 12:09] #8694 closed

[2018-05-24 12:13] iFA88 commented on #8694
The node has received a transaction with a future nonce and very high gas price. If I query the pending transactions, this  "wrong" transaction is inside and causes problem for my fee calculator.
I have cleared that with `--no-persistent-txqueue` but this is only temporary solution.

[2018-05-24 12:40] dvdplm commented on #8703
There has been plenty of activity in this area lately and I'm not sure exactly if this is a bug or intentional.

The docs for [`eth_getBlockByNumber` say](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbynumber) that the call returns "A block object, or null when no block was found", so it seems to me that the behavior of the normal client on master is correct, and that 1.10 and the li

[2018-05-24 12:59] saulbein commented on #8088
Having same issue on linux environment, with Parity 1.10.4, on Kovan, with large number of addresses

[2018-05-24 13:10] tomusdrw commented on #8703
Pending block is never available on light client and might not be available on full node as well (if you are not force-sealing).
IMHO If pending block is available some fields should be set to `null` as per #8028, otherwise the query should return `null`.
But for historical reasons we fallback to `latest` block if `pending` is not available (some dapps pending block being always present).

The cur

[2018-05-24 13:14] Tbaut commented on #8701
Your version of Parity is EOL, please upgrade to benefit from the latest improvements :)

Where did you see it succeeding? Am I right in thinking that the log you gave was the result of a trace_transaction call?

Getting a transaction receipt:
[code]

[2018-05-24 13:28] #8706 closed

[2018-05-24 13:47] saulbein opened #8708 "Parity timeout on JSON-RPC after some calls, with large number of addresses"
running with: `parity --chain kovan --jsonrpc-apis web3,eth,net,parity,rpc,personal,traces --cache-size 1024 --tracing on`

I have ~300k addresses in a single Parity node. When I try to generate more, it starts dropping JSON-RPC connections due to timeouts. The behaviour is that first some requests will be handled properly, then it will start timing out with 100% CPU usage on a single core, with a

[2018-05-24 13:47] Tbaut commented on #8702
This is a duplicate of https://github.com/paritytech/parity/issues/8679 A fix has been merged and will be introduced in the next minor version.

[2018-05-24 13:47] #8702 closed

[2018-05-24 14:00] iFA88 commented on #8708
This is maybe your RPC client problem. Do you close and open the connection for every query?
I recommend to use keeps alive IPC socket.

[2018-05-24 14:15] Tbaut commented on #8007
Please have a look at the linked issue for a workaround (for instance [here](https://github.com/paritytech/parity/issues/8679#issuecomment-391183581)) and let us know if 1.11.1 fixed the OP issue.

[2018-05-24 14:40] saulbein commented on #8708
Nope, checked that Connection: Keep-Alive is set, so not sure what to make of this.

[2018-05-24 14:41] mtrubs opened #8709 "Log Rotation Support"
We run 1.10.4 stable via Docker on Ubuntu 16.4 are fully synced and connect to ethereum mainnet.

It would be useful to support some form of log rotation. This would allow us to keep the node up 100% of the time while keeping disk space in check. This could either be managed internally (but of course means more things to maintain). Or it could be managed by support for a utility like `logrotate`.

[2018-05-24 14:44] julien-marchand commented on #8664
We are using Tendermint for a project (see previous [issue](https://github.com/paritytech/parity/issues/8235)).

The need is an instant finality PoA compatible with ValidatorSets so Tendermint is a good candidate but as far as I understand, Substrate PoC-1 would also be a good candidate, right?

[2018-05-24 14:58] rphmeier commented on #8664
Yep, Substrate PoC-1 fulfills those needs as well.

[2018-05-24 15:08] Tbaut commented on #8708
What interface do you use? What RPC calls?

[2018-05-24 15:18] iFA88 commented on #8708
I can preform avg 6850 request / s with my own IPC client for `node.eth_getBalance('0x97c6fF18f68827967D233bdA4dE319408990beBF')`. I have do more than 300k request without any problem.

[2018-05-24 15:29] #8678 closed

[2018-05-24 16:40] wcw84 commented on #8701
@Tbaut
OK, i will upgrade.
Yes, the log is the result of trace_transaction in my log file, as I said above, I have a script which will check the latest block every 5 seconds, and logged to file.
 And I am sure the transaction succeed firstly, because I also opened etherscan after I sent out the transaction, and I saw it succeed indeed.

[2018-05-24 16:47] Njcrypto commented on #8703
Hello,

Experiencing this issue as well. Upgrading 1.8.11 to 1.11.1 yields the same RPC response. Same db, and as soon as I roll back to 1.8.11 it works correctly again.

More than an annoyance, this is going to break every open source eth pool out there and delay upgrading to 1.11.x.

[2018-05-24 17:42] dvdplm commented on #8703
[This PR](https://github.com/paritytech/parity/pull/8711) does not affect the recent change where the `number` member of the block is set to `null` for pending blocks. Instead it ensures that the light and full client behave the same (see PR description for details).

The question of nulling fields is a thorny one: [respect the spec](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbyhas

[2018-05-24 17:43] iFA88 commented on #8694
Please reopen this, because this was not a local transaction.

[2018-05-24 17:50] Njcrypto commented on #8703
The use-case for this RPC call is in Sammmy007's open-ethereum-pool. The specific location of the RPC getblockbynumber [pending] use is: https://github.com/sammy007/open-ethereum-pool/blob/master/rpc/rpc.go

For reference, this pool software is deployed at the majority of small to medium sized pools, and powers a lot of the smaller ethash coin network mining as well.

[2018-05-24 19:06] cachvico commented on #8531
To be clear, I was running the fix set up for me by yourselves, for 2 weeks of that month. You then (reasonably) closed the bug but I was stranded on a dev branch so now all I need to do is build from the fixed release.

Except the fixed release given is not working, so back to square 1 (in fact a step backward because now I don't have a functioning node at all, which I did before).

I can now be

[2018-05-25 03:48] folsen commented on #8531
@cachvico Yeah I feel you, you've been hit by a cacophony of different issues, all of them should have been fixed, but I think you may just need some patience until we cut a 1.11.2 release to get all of them. Building from master you hit another issue and we don't recommend running a node that is built from master. You'd probably have more luck going back to 1.9.x or 1.10.x or some stable release

[2018-05-25 04:55] gotnull commented on #6372
My favorite cache size is 31337

[2018-05-25 07:41] saulbein commented on #8708
I left it overnight, and it still seems stuck at the same state - last INFO log message was from yesterday. Still using 100% of a single core as well.

[2018-05-25 11:19] #8184 closed

[2018-05-25 11:59] madnadyka opened #8714 "Subscription "newPendingTransactions" doesn't work properly"
Subscription "newPendingTransactions" doesn't work  properly - I am receiving only small part of all new pending transactions. In version 1.10.4 this subscription is ok.

[2018-05-25 12:17] ahiatsevich commented on #8516
Yes, this is. Thanks. Verified `Parity/v1.12.0-unstable-80528c534-20180524/x86_64-macos/rustc1.25.0`

[2018-05-25 12:17] #8516 closed

[2018-05-25 12:33] Tbaut commented on #8694
The transaction queue in Parity is built in such a way that your local transactions will always be prioritized. There was recently a bug that prevented this to happen, a fix has been prepared and will be added in a future minor release: https://github.com/paritytech/parity/pull/8691
So even if your queue is full of external future transactions, if a new local transaction is added, one of the futur

[2018-05-25 13:09] Tbaut commented on #8714
Can you provide an example as well as how you subscribe to new pending transactions and verify that it's not working as expected?

[2018-05-25 14:08] quantumproducer commented on #8648
My logs today:

2018-05-25 13:55:27 UTC Imported #5674662 0x423b…5bb2 (148 txs, 7.97 Mgas, 3081.36 ms, 22.78 KiB)
2018-05-25 13:56:34 UTC Imported #5674665 0x07e9…b339 (121 txs, 7.73 Mgas, 1264.24 ms, 23.62 KiB)
2018-05-25 13:57:39 UTC Imported #5674670 0x0933…dcfe (122 txs, 8.00 Mgas, 3100.51 ms, 27.04 KiB)
2018-05-25 13:58:25 UTC Imported #5674671 0xca9c…5747 (87 txs, 8.00 Mgas, 1064.10 ms, 14.7

[2018-05-25 14:33] Tbaut commented on #8701
I assume that there was a chain reorganisation and that your transaction was situated on an uncle block. Your block (with your transaction) was got included in a new block later on. [This helps to understand](https://ethereum.stackexchange.com/questions/21146/what-happens-to-transactions-in-orphaned-forked-blocks).

[2018-05-25 14:33] #8701 closed

[2018-05-25 16:24] iFA88 commented on #8714
I also use this, it seems it works without issue with `Parity/v1.11.1-beta-6654d0216-20180515/x86_64-linux-gnu/rustc1.25.0`. I receive about 4-10 new pending TX in every 10 sec.

[2018-05-25 16:46] Tbaut commented on #8648
This is when your node is downloading and verifying older blocks (in your case, the block #1) after a warp sync. I will add a comment about this in the doc.

[2018-05-25 18:23] cachvico commented on #8531
Tbaut verified my above results in chat, confirmed fast sync from clean start is currently unavailable, and advised me to keep retrying.

I'm trying `--no-warp`, which sounds like it will beat the hare at this rate.

[2018-05-25 18:30] S3bb1 commented on #8685
Hi, the local node runs about 6 to 8 hours. I try to get a log and will post it.

[2018-05-25 20:02] toodlesmcgee opened #8716 "unable to connect to a node, db corrupted error"
_Before filing a new issue, please **provide the following information**._

Non technical person here, i downloaded version 1.11.1, UI, and Parity Ethereum chrome extension (stating not connected to a local node http://127.0.0.1:8180)  to access my wallet. When i launch version 1.11.1 its stating db corrupted and column families not opened  co15, co10, co13, co16, co11 then states attempting repai

[2018-05-25 20:04] SwaroopH commented on #8696
Same with us. Even did a full db reset couple of days later to ensure it wasn't some background db upgrade causing the load as you can see the graph.

<img width="892" alt="screenshot 2018-05-25 13 02 41" src="https://user-images.githubusercontent.com/62628/40564047-fff2d5a4-601b-11e8-808a-2670a9c87c53.png">

[2018-05-27 11:04] d10r commented on #8664
We want to use Parity with Tendermint for a public chain and were evaluating 2 options:
* fixing / improving / optimizing the existing native implementation
* create an [Ethermint](http://ethermint.readthedocs.io/)-style Parity based [ABCI](http://tendermint.readthedocs.io/en/master/introduction.html#abci-overview) app and use it with the [Go Tendermint](https://github.com/tendermint/tendermint) r

[2018-05-27 13:58] ankitarora121 commented on #7631
What is the final call on this issue? What's the best way to detect internal transactions in a block? I'd love to try it out myself but my node full sync will take a decent while. Both the above commenters proposed different solutions. Trace_block seems like a bulletproof way to do it, right?

[2018-05-27 15:42] raphadko opened #8718 "Interact with parity through the CLI"
I'm running parity on a VPS, without a GUI, and I'vve been trying (without success) to run commands on parity through a CLI - basic stuff like generating wallets and addresses, without parity UI.

Is there a way to send commands from the cli to Parity? Is there documentation for the available commands?

[2018-05-27 17:44] madnadyka commented on #8714
I display in my program quantity of received by subscription pending tx per minute. Displaying data is a dictionary, where key is timestamp and value is tx quantity (not sorted by timestamp, yellow color) :
parity v1.10.4:
<img width="1184" alt="2018-05-27 20 20 17" src="https://user-images.githubusercontent.com/29851936/40588963-a7625d6a-61f6-11e8-925e-54e868f98d80.png">
parity v1.11.1:
<img widt

[2018-05-27 19:52] pfilippi24 commented on #7642
@folsen
Looks like this ticket was already solved by https://github.com/paritytech/parity/pull/8699
Or is there something else to work on?

[2018-05-27 22:41] Tbaut commented on #6873
Tested successfully with parity UI 0.2.5 and v1.11.1

[2018-05-27 22:41] #6873 closed

[2018-05-27 23:08] julian1 commented on #7642
As the original issue submitter, this looks right to me. Nice one!

[2018-05-28 00:26] KYawn opened #8720 "Thread '<unnamed>' panicked at 'other was less than the current instant'"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

**expected behavior**: running stably.
**actual**: It will stop unexpectedly after running serval hours.

====================
host2        |
host2        | stack backtrace:
host2        |

[2018-05-28 00:32] KYawn commented on #8720
**steps to reproduce**: Just running the parity, and wait for serval hours.

And here is my Docker-compose file.
[code]

[2018-05-28 05:41] folsen commented on #7642
@pfilippi24 That's right, but since the PR is still open this isn't closed yet.

[2018-05-28 07:04] fanatid commented on #7748
Same issue. Memtest86 says that memory is fine. New SSD was not helpful. Receive error with `1.9.6`, `1.10.4`. Interesting that on another laptop I was able to run Parity without problems on same system (Fedora28, kernel 4.16.3).

[2018-05-28 08:56] folsen commented on #8703
@tomusdrw would you like to join the next core dev call to discuss this? I can try to get it added to the agenda

[2018-05-28 09:24] ayrat555 opened #8721 "Distance between nodes in node discovery"
https://github.com/paritytech/parity/blob/master/util/network-devp2p/src/discovery.rs#L236

It looks like the distance between nodes is calculated as a common prefix of each byte. Shouldn't it be just a common binary prefix?

I wrote a test

[code]
`1_000_000_000` - `[0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
 0, 0, 0, 0, 0, 0]`
`9_000_000_000` - `[0, 0, 0, 0, 0

[2018-05-28 09:56] Tbaut commented on #8716
Hey @toodlesmcgee, you seem to have several issues that are not related with each other.

Regarding the DB corruption, it is a duplicate from #7748
This error indicates a DB corruption most likely due to a memory error. Could you please make sure that your memory passes a memtest?
You will need to do a `parity db kill` and resync the whole blockchain (tipp, [use --warp-barrier](https://wiki.parity

[2018-05-28 09:56] #8716 closed

[2018-05-28 09:59] Tbaut commented on #8531
@cachvico It's related to https://github.com/paritytech/parity/pull/8710 to be patched in 1.11.2

[2018-05-28 10:13] Tbaut commented on #8694
Your logic to check the pending queue is obviously not ideal.

For a lot of reasons, one of them being because we are in a p2p network and getting external txs from the network, they are not ordered and we need to buffer them.

[2018-05-28 10:44] Tbaut commented on #8714
Can you share how you subscribe? This visual way of checking is not very straightforward for us to pinpoint problems?
Did you have a look at the resources of the computer? It could also miss events because of lagging behind (v1.11.1 is more demanding in terms of CPU usage: https://github.com/paritytech/parity/issues/8696). A safer way to make sure not to miss any transaction would be to use the tr

[2018-05-28 11:14] iFA88 commented on #8694
I query one time all pending transaction from the node with `parity_pendingTransactions` and then I use filter to get new pending TX's. Do you have any better idea?

Alright, that's a good point, we need buffer that forever? At this moment the node has `60851` pending TX and from that `184` TX has "nonce hole".

[2018-05-28 11:27] madnadyka commented on #8714
By websocket in my program (python):

CPU of server with my program - 2 GB, CPU of server with node - 8 GB

[2018-05-28 12:32] vs77bb commented on #6840
@omar408 Could you please clarify your approach here?

Also thanks for the thought @rphmeier - if it's already implemented, we can pull the bounty here and re-allocate it elsewhere 🙂

[2018-05-28 14:18] ngotchac commented on #2944
I don't think any tests have been added, so I guess these are still relevant.

[2018-05-28 15:05] Tbaut commented on #8720
Thanks for reporting it. This is a duplicate of https://github.com/paritytech/parity/issues/8444
Please follow this thread.

[2018-05-28 15:05] #8720 closed

[2018-05-28 15:18] Tbaut commented on #8718
You can also create and list accounts using the CLI:
[code]

But the [parity_accounts module](https://wiki.parity.io/JSONRPC-parity_accounts-module) should fit all your needs as stated by @saulbein.

[2018-05-28 15:18] #8718 closed

[2018-05-28 15:28] Tbaut commented on #8694
Is there any reason you don't use [eth_estimategas](https://wiki.parity.io/JSONRPC-eth-module#eth_estimategas)? That'd be my suggestion.
Regarding the pending TXs, if that's a resource problem for you, you can reduce the queue size, mem limit etc using :

[code]

[2018-05-28 16:15] Tbaut commented on #8714
This could be due to the new transaction queue, @tomusdrw can you have a look?

[2018-05-28 16:53] iFA88 commented on #8694
EstimateGas? You mean i should run `estimateGas` for every pending transaction? Why? This will take 15-20 mins for the first time and for every block I should run again, because maybe calls a contract and we don't know whats happenning in other blocks. This is a terrible idea.
I don't have any resource problem :) I already use the following flags: `--min-gas-price=1000000000 --tx-queue-mem-limit=1

[2018-05-28 17:42] rphmeier commented on #8664
@d10r Right, for one there's no maintainer, and it's also not a proper tendermint implementation AFAIK, because it requires the proposer himself to commit instead of treating any 2/3+ set of commit messages as a seal.

The Substrate PoC-1 engine is pretty close to tendermint in terms of performance, design, and security. It was just meant to be a simple consensus engine to implement in an asynchro

[2018-05-28 18:16] cachvico commented on #8531
OK. I'm back on geth in the meantime, completed a full sync in about two days.

[2018-05-28 18:46] drewstaylor commented on #8506
I encountered this issue today and it seems to have set the head of blockchain snapshot way far back in time:

`ubuntu@ip-172-31-80-54:~$ parity --chain=kovan --jsonrpc-hosts=all --jsonrpc-interface=all --jsonrpc-cors=all
2018-05-28 18:43:14 UTC Starting Parity/v1.10.4-unstable-39b9f1e-20180514/x86_64-linux-gnu/rustc1.26.0
2018-05-28 18:43:14 UTC Keys path /home/ubuntu/snap/parity/12080/.local/sha

[2018-05-28 19:04] jagnarong commented on #6948
https://t.me/RusChanel

[2018-05-28 22:17] MysticRyuujin commented on #6852
This hasn't changed as far as I'm aware:

Run a Parity node with the `--identity` parameter, then check its name against a peer:

I run with `--identity "MysticRyuujin-PARITY01"`

But my peers only see:
[code]

They should see:
[code]

On ethstats.net you used to see the identity under 'node type' field, however for Parity you just see:
`Parity//v1.10.4-stable-39b9f1e-20180514/x86_64-linux-gnu/rus

[2018-05-29 03:04] zformular opened #8724 "How to speed up syncing?"
_Before filing a new issue, please **provide the following information**._

net：5M

actual
syncing very slow, unable to catch up.

expected behavior
catch up the highest block
<img width="636" alt="image" src="https://user-images.githubusercontent.com/1741302/40635994-76bd56c6-632f-11e8-8507-75a240f1e707.png">
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/1741302/406

[2018-05-29 09:02] Tbaut commented on #8694
I get it, you have several ways of achieving what you need without checking the pending queue. In Parity UI we used the average gasPrice from the transactions in previous blocks AFAIK, this is much more reliable as it will follow the trend of actually mined transactions. I believe you already know about the [eth_gasprice method](https://wiki.parity.io/JSONRPC-eth-module#eth_gasprice) or  [ ethgass

[2018-05-29 09:29] adirmola opened #8725 "Transactions hashes missing in trace_replayBlockTransactions method result"
_Before filing a new issue, please **provide the following information**._

Hi,

When running the method "trace_replayBlockTransactions" with "stateDiff" parameter I'm getting back a list of stateDiff of all transaction in a specific block.
The problem is that the result doesn't include the transactions hashes so we cant link the specific stateDiff to the related transaction.

For example, if runn

[2018-05-29 09:44] sorpaas commented on #8721
Might be related to https://github.com/paritytech/parity/pull/8589

[2018-05-29 11:10] Tbaut commented on #8724
- What version of parity is it?
- Can you share the flags you use to launch parity?
- Are you on HDD or SSD?
- You must have a bottleneck with the disk IO or the network bandwidth. Can you share the result of `iostat -x 1` and tell what kind of internet connection you have?

[2018-05-29 12:10] gnunicorn commented on #5628
Is this still the case/relevant?

I am unable to test this at the moment (VM segfaulting :( ), but from my investigation, I understand the error above should now be [prefixed with a "IPC error"](https://github.com/paritytech/parity/blob/bd1e3fc606c3bf6337cb5cabcc068a63c4e8a029/parity/rpc.rs#L324) (and thus IMHO clearly enough implying you might want to switch of IPC and try again). This was [merge

[2018-05-29 12:45] gnunicorn commented on #6791
Now, this one is odd. Even going back to that specific version, the only  place this error could occur is when trying to [create the handshake for a p2p-connection (only place having "Can't create handshake")](https://github.com/paritytech/parity/blob/v1.8.0/util/network/src/session.rs#L180), however, that point the socket is already open and [internally the `::new` doesn't even do anything, just

[2018-05-29 13:07] jrischma commented on #8698
Hi , i try with
1. bash <(curl https://get.parity.io -Lk)
2. bash <(curl https://get.parity.io -Lk) -r stable

with 1 or 2 show the error

for that i use "sudo snap install parity" but now i cant get a stable version, always snap install unstable version, so i remove parity and run "bash <(curl https://get.parity.io -Lk) -r stable" now install but when i check the version show "bash: /snap/bin/par

[2018-05-29 13:52] ddorgan commented on #8698
@jrischma did you install the snap package before doing the one liner install? The one liner doesn't use snap so maybe remove this snap package and re-try.

[2018-05-29 13:54] ddorgan commented on #8661
@se3000 have you tried adding the Byzantium options to your spec file?

[2018-05-29 15:08] folsen commented on #6791
@gnunicorn Parity itself won't use that many handles (although I wouldn't rule out a leak entirely). But creating a websocket connection takes up a file handle afaik, so if people have a thousand websocket connections from a dapp or something that in turn is leaking handles or something beyond our control, then there's not much we can do about it.

[2018-05-29 16:50] rasarasan opened #8729 "Parity Sync Freezes midway!"
I'm running:

 **Which Parity version?**: Parity v1.11.1-20180515 beta
 **Which operating system?**:  MacOS
 **How installed?**: via installer
 **Are you fully synchronized?**: no
 **Which network are you connected to?**: ethereum
 **Did you try to restart the node?**:  yes

I have my storj tokens in my parity wallet. But it has been syncing for days/weeks now. After a while it freezes with no pro

[2018-05-29 18:07] celsoendo commented on #6548
Still an issue for me.

OS: Ubuntu 16.04.4

Basename:
[code]

I can reach the domain `vanity-service.parity.io`:

[code]

Output from one-line installer:

[code]

[2018-05-29 18:24] vaibhavchellani commented on #6948
is some one working on this ?

[2018-05-29 18:34] vieiralc opened #8730 "Request failed with status code 521"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

![image](https://user-images.githubusercontent.com/19657718/40678041-c61491fa-6355-11e8-87ac-4ebaef42f3a3.png)

[2018-05-29 18:56] folsen commented on #6948
@vaibhavchellani nope, feel free to pick it

[2018-05-29 18:57] folsen commented on #6548
@ddorgan any idea of what could be up here?

[2018-05-29 19:16] gnunicorn commented on #6791
true, @folsen , but if I take @pussinboot 's word for it:

`--no-ui --geth --chain ropsten --no-dapps --mode active --tracing off --pruning fast --db-compaction ssd --cache-size 1024 --snapshot-peers 50`

There is no way this can be caused by dapps (`--no-dapps`) and considering the "leaving it running for a while" to be true, there isn't any other user interaction causing that (`--no-ui`) but jus

[2018-05-29 19:34] ddorgan commented on #6548
@celsoendo thanks for the update. So all is working ok now?

@folsen the http response never came back (e.g. there was an issue with the vanity service) so no file names were returned. I'm going to move this service to a better home...

[2018-05-29 20:37] celsoendo commented on #6548
@ddorgan Yup, everything's good now! Thanks!

[2018-05-29 21:39] http403 opened #8732 "Parity don't get peers from bootnode in private blockchain env"
**Description**:
I'm trying to build my own private chain for learning smart contract. However, Parity doesn't get peers on bootnode while Geth can. I have to specify nodes as reserved node to get it in sync. I tried to install parity in locally as well as LXC environment. No luck at all. I'm using `bootnode` that ship with `geth v1.8.9-stable-ff9b1461`.

**Actual Behaviour**
Unable to get peers w

[2018-05-29 21:57] GeRikz opened #8733 "Parity drops transactions"
I'm running:
*Which Parity version?**: 1.11.1
*Which operating system?**: centos 6
*How installed?**: bash <(curl https://get.parity.io -Lk)
*Are you fully synchronized?**: yes
*Which network are you connected to?**: ethereum
*Did you try to restart the node?**:  yes

Parity is droping all transactions with error
There are too many transactions in the queue. Your transaction was dropped due to lim

[2018-05-30 06:09] dacibov opened #8734 "No More Space on device"
_Before filing a new issue, please **provide the following information**._

_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._

I was letting the node run in the background I am using the ethereum network so as to sync up my mist wallet. It was fully synced when this happened. I get a similar error with Geth as well,

[2018-05-30 06:11] dvdplm commented on #6791
Perhaps `Too many open files; can't create handshake. Check your resource limits and restart parity!` and perhaps a platform specific advice to check `/etc/security/limit.conf` (linux), `sysctl` (mac), `something` (win)?

[2018-05-30 08:55] Tbaut commented on #8729
I'm sorry to hear you're having problems getting in sync. Syncing with warp is tricky these days because of [several issues we're working on](https://wiki.parity.io/Known-Issues-Priorities). To give us the best chances to succeed, you should learn [how to launch parity with the command line](https://wiki.parity.io/FAQ-Basic-Operations,-Configuration,-and-Synchronization.html#how-to-launch-parity-u

[2018-05-30 09:20] Tbaut commented on #8730
Please reopen the issue in https://github.com/Parity-JS/shell/issues  and attach the logs as asked in the error message :)

[2018-05-30 09:20] #8730 closed

[2018-05-30 09:34] #8679 closed

[2018-05-30 10:04] iFA88 commented on #8694
Please let me ask an anohther:
Is there any way to find out which pending transactions is no more in the queue? In few hours I receive about 30'000 pending TX with `eth_getFilterChanges` on `eth_newPendingTransactionFilter` filter which are not even in block and not anymore in the queue.. they simple varnishes.
I can use `eth_getTransactionByHash` for check pending TX, but this is huge performance

[2018-05-30 10:36] Tbaut commented on #8733
This is a duplicate of #8679 A fix has been prepared and will be introduced in the next minor version.

[2018-05-30 10:36] #8733 closed

[2018-05-30 10:43] Tbaut commented on #8734
Please free up some disk space! :)
Disk requirements according to the node you're running can be found on our wiki: https://wiki.parity.io/Setup#storage-requirements-overview

[2018-05-30 10:43] #8734 closed

[2018-05-30 10:49] Tbaut commented on #8694
@iFA88 we are completely diverging from the OP here. Please join the [Gitter channel](https://gitter.im/paritytech/parity) to continue this discussion or post another issue.

[2018-05-30 11:19] Grix commented on #6230
It appears to maybe have been fixed. I tried two times to restart from sleep mode and parity resumed normally both times.

[2018-05-30 11:40] ddorgan commented on #8732
@http403 also can you connect from one node to the boot node on port 30303?

[2018-05-30 11:44] folsen commented on #6230
@Grix Thanks, we've made quite a lot of changes over the past 6 months on stuff that this could be related to (like libusb) so hopefully it's fixed :) Closing.

[2018-05-30 11:44] #6230 closed

[2018-05-30 12:05] Tbaut commented on #8274
The answer is given in OP, just add `parity_set` to the list of available APIs using the flag `--jsonrpc-apis`

[2018-05-30 12:51] gnunicorn commented on #6791
After runnig it over night, and parity never even coming close to 300 open files even during sync, but staying around 122 for most of it, I don't think there is any leak (at this point). So I attempted to clarify the error message, which turned out to be a little ugly as we have to check for its particular system-code-number and wrap around things... Not sure that is really that much better to hav

[2018-05-30 13:07] S3bb1 commented on #8685
after adding more nodes, discovery seems to be working okay and faster. I'll reopen the issue when the problem reappears. Thank you.

[2018-05-30 13:07] #8685 closed

[2018-05-30 13:38] jrischma commented on #8698
@Tbaut , yes thanks, is possible change the path ? how ?

[2018-05-30 13:39] ddorgan commented on #8698
@jrischma try running ```snap remove parity ``` and then try to run it again.

[2018-05-30 13:46] jrischma commented on #8698
i run
1. snap remove parity
2. bash <(curl https://get.parity.io -Lk) -r stable

but the PATH not change

[2018-05-30 15:41] iFA88 opened #8740 "Question about pending transaction queue"
Greetings!
Is there any way to find out which pending transactions is no more in the queue? In few hours I receive about 30'000 pending TX with `eth_getFilterChanges` on `eth_newPendingTransactionFilter` filter which are not even in block and not anymore in the queue.. they simple varnishes.
I can use `eth_getTransactionByHash` for check pending TX, but this is huge performance loss.

I use `Parit

[2018-05-30 15:55] Tbaut commented on #8729
Yes, this looks good. Just need to wait for the warp sync to end and the latest blocks to sync. Depending on your connection it can take ~3h overall.

[2018-05-30 17:50] iFA88 opened #8741 "Filter gives constant empty array after some time"
Greetings,
I have updated my node from 1.9.5-stable to `Parity/v1.10.4-stable-39b9f1e25-20180514/x86_64-linux-gnu/rustc1.25.0` and I run with `--tx-queue-mem-limit=1024 --tx-queue-size=128000` flags.
I have set up `eth_newPendingTransactionFilter` filter and I call `eth_getFilterChanges` in every 30 sec. For the first 10-15 minute works perfect, I receive the new pending transactions, and after th

[2018-05-30 18:13] TimBobkov commented on #7288
Hmmm... @folsen you close issue, but it still present... I check it right now with Parity 1.11.1 from Docker Hub.
![image](https://user-images.githubusercontent.com/5930766/40739139-07c86aba-644e-11e8-83ac-efba6dad0e92.png)
So maybe there is some solve solution for this issue?

[2018-05-30 21:20] vs77bb commented on #6840
@folsen Would you mind confirming if this is already complete? If not, I will make sure this gets back in front of Gitcoiner's who may want to pick it up. 😄

[2018-05-30 21:46] Tbaut commented on #8740
Your node listens to the network and will potentially receive a lot of transactions. As explained in your previous issue (https://github.com/paritytech/parity/issues/8694), the queue can be configured. Now because of your configuration, you may not accept them all in your queue. Some will inevitably get dropped and this is expected.

May I ask you what you want to do with these transactions?

[2018-05-30 21:46] #8740 closed

[2018-05-30 22:49] rphmeier commented on #6840
closed in https://github.com/paritytech/parity/pull/7075

[2018-05-30 22:49] #6840 closed

[2018-05-30 22:59] Tbaut commented on #8741
Can you paste here the code that you are using?
As always, knowing what you want to achieve can help us point you in the right direction in case there are better ways to do. Can you explain why you need the new pending transactions?

[2018-05-31 03:31] vs77bb commented on #2913
Hi @folsen @axelchalon I'll hold off posting the bounty until the scope is clarified 👍

[2018-05-31 04:33] SergeyZYX opened #8742 "Parity is dead slow"
Hello.

I want to make a full copy of ethereum database on my server, so synching in fat mode. I have not so fast hdd 5400rpm. As of now I am already synching for about 2 weeks and it's on 4'800'000 block. About 1 million blocks to go. Disk load near 100%. Taking current synch speed it's gonna take about 2 weeks more to complete synch.

This is how I start it from command line:

./parity --db-comp

[2018-05-31 06:41] se3000 commented on #8661
@edevil @ddorgan I haven't, I'll try that shortly and get back to you.

[2018-05-31 06:42] folsen commented on #7288
@TimBobkov I don't think anyone here is an expert at running nodes in K8s on Azure, I know other people have done it before so it's not impossible. Do you have any suggested configuration changes to any particular part of our stack?

[2018-05-31 06:49] iFA88 commented on #8741
I would like to create a database from all pending transactions what my node receives for my own purposes. For example:
- Estimating new transactions processing time
- Display pending transactions on my web wallet

I use https://github.com/iFA88/EthereumIPC for IPC client. The I can not past the whole code, but simplified looks so:
[code]

I have downgraded the client to `Parity/v1.10.3-stable-b9c

[2018-05-31 06:57] sorpaas commented on #8499
I think this is duplicate of #8725

[2018-05-31 06:57] #8499 closed

[2018-05-31 07:19] folsen commented on #6791
I actually just got hit by this error myself, so it still definitely is a thing.

I had 479 peers when it crashed and had ethstats ping the RPCs at the same time, on top of this it might've been sending out snapshots.

There's definitely something going on here, but it might be related to having really high peer count and not necessarily time. This node was running for well over a week before cras

[2018-05-31 07:45] folsen commented on #6791
@dvdplm 24, `Incoming streams error, closing sever: Os { code: 24, kind: Other, message: "Too many open files" }`

Also, peak peers was 512, but an hour+ earlier than the shutdown.

[2018-05-31 08:28] 5chdn commented on #8649
Makes sense, thanks for your input.

[2018-05-31 08:29] TimBobkov commented on #7288
@folsen It's not necessary to use K8s for reproduce this issue. You can just use Azure File Share or any SMB shares. Btw with NFS share everything works fine. Does Parity use symbolic link anywhere?

[2018-05-31 08:33] Tbaut commented on #8742
As stated in our wiki: [parity hardware requirements](https://wiki.parity.io/Setup#ethereum-mainnet-hardware-requirements). We strongly advise against HDD (not even mentioning slower HDD). As more recent blocks get bigger, you might never be able to reach the top of the chain.
As a side note:
[code]
`--fatdb on` doesn't give you a better copy of the "ethereum database". It makes the sync slower an

[2018-05-31 08:33] #8742 closed

[2018-05-31 08:45] dvdplm commented on #6791
@folsen so it's the shell that started parity that blew the limit. And it's not while setting up the handshake – that's the nasty part of resource limit issues: they can pop up anywhere.  Can you repeat it by lowering the process `ulimit`? :/

[2018-05-31 09:08] iFA88 commented on #8741
`Parity/v1.9.7-stable-7919629f3-20180423/x86_64-linux-gnu/rustc1.25.0`
Without any problem.
[code]

[2018-05-31 09:27] iFA88 commented on #8740
Answered to the same question here: #8741

Can you please tell me which conditions are for dropping pending transaction? Like:
- Queue length limit
- Queue memory limit
- Minimum gas price flag (`--min-gas-price`).
In this situation I receive the transaction which below the min-gas-price in the filter?
- Processed in block

[2018-05-31 09:38] gnunicorn commented on #6791
When trying to implement that message, we've noticed there are actually _two distinct_ Errors reported in this ticket: 23 ("too many open files in system", first post) and 24 ("too many open files in process"). The later the proposed message is appropriate for (and being handled in the PR), however for 23 this isn't the case yet.

Do we want to have a better message for that, too? Considering that

[2018-05-31 09:39] TimBobkov commented on #7288
How can I contact them?

[2018-05-31 09:42] Tbaut commented on #8741
Thanks for the details.
cc @tomusdrw or @debris could help us shed some light on what might go wrong here.

[2018-05-31 09:48] gnunicorn commented on #8708
@saulbein would you have the request (or a script to create the request) handy that you are performing exaclty, so we might be able to reproduce this?

[2018-05-31 10:02] folsen commented on #6791
@gnunicorn Agree with you, when I originally phrased this I was thinking of a simpler situation "Can't create handshake" isn't very informative. If we could say "Can't create handshake because you have too many websocket connections open" then that'd be better. Unfortunately it seems we can't boil it down to anything so simple. Something like @dvdplm suggested might be appropriate, but yeah, don't

[2018-05-31 10:07] gnunicorn commented on #6791
@folsen

How long did you have this process running? Even with 512 connections open, we shouldn't be reaching the default ulimit of 1024 open files. This is odd. Did you run on master? Which command did you run it with?

Either way, I don't think the current approach in  #8737 is particular useful: it wouldn't even catch this case, as it came up somewhere else (in "Incoming stream" rather than at

[2018-05-31 10:56] iFA88 commented on #8741
If I give a Filter ID which not exist, then I didn't get any error message, not even in (STABLE) 1.9.4 / 1.9.5 / 1.9.7 / 1.10.3 / 1.10.4.

For example:
[code]

On beta 1.11.1 I receive the message `{u'message': u'Filter not found', u'code': -32000}`

[2018-05-31 10:59] iFA88 commented on #8741
If you see my first log:
[code]
There is 137 second delay, maybe the filter have uninstalled itself because timeout ( https://wiki.parity.io/JSONRPC-eth-module#eth_uninstallfilter ) And when I request I receive empty array bevcause the filter did not exist anymore and the error is missing.

[2018-05-31 11:19] Tbaut commented on #8740
I've started to write a doc about this, please find it here: https://github.com/paritytech/wiki/blob/Tbaut-tx-queue-doc/Transactions-queue.md

[2018-05-31 11:20] Tbaut commented on #7288
I pinged them so they will have a look at the issue and let you know if they have questions or thoughts ;)

[2018-05-31 11:26] iFA88 commented on #8740
Great!

[2018-05-31 11:28] ddorgan commented on #7288
We have run parity on k8s. This is a known working config:

[code]

[2018-05-31 11:36] #7642 closed

[2018-05-31 11:37] 5chdn commented on #7642
@gnunicorn you can claim that bounty, I guess ;)

[2018-05-31 11:51] mikhail-manuilov opened #8746 "up to 30 seconds delay to rpc response"
I'm running:

- **Which Parity version?**: 1.10.4
- **Which operating system?**: Linux
- **How installed?**: docker
- **Are you fully synchronized?**: yes
- **Which network are you connected to?**: ethereum
- **Did you try to restart the node?**: yes

I'm running parity with nginx as a reverse tls-proxy on Digital Ocean instance with ssd disks 8GB ram, 4 vcpu.

It's fully synced, but I ran rsync t

[2018-05-31 11:57] ankitchiplunkar opened #8747 "Add block and uncle reward in the JSON-RPC method trace_replayBlockTracations mode='stateDiff'"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
This is a feature request and not a bug issue
The JSON-RPC method trace_replayBlockTracations when run in mode stateDiff returns the differences in state after every transaction. Is it possible to also get the difference in the state due to the rewards during the bloc

[2018-05-31 12:00] adirmola opened #8748 "reading data performance"
Hi,

I'm trying to run some process of reading data (stateDiff of blocks with "trace_replayBlockTransactions") from local parity node to mysql.
The problem i'm facing is speed.
The reading rate (before writing. i'm writing to sql per 10,000 txs) is in avg something like 6 txs/sec:
output of my process:
[code]
Extremely slow.

The node is on offline mode.
The i/o performance are as following:
![ima

[2018-05-31 12:17] ddorgan commented on #7288
@TimBobkov please try with blob storage. For the other question can you please open another issue or ask on gitter.

[2018-05-31 12:30] Tbaut commented on #8747
@andresilva Is this issue at least partly solved by: https://github.com/paritytech/parity/pull/8490 ?

[2018-05-31 12:32] rphmeier commented on #2913
@axelchalon sounds like basically the same thing. `--help` and `--help --verbose` being different, but the config TOML still being able to affect those flags might be enough. But we might want to go a step further and have config options that are not CLI flags at all.

[2018-05-31 12:38] Tbaut commented on #8748
Can you tell if this is a regression from v1.11.1 or 1.10.4? this would help.

[2018-05-31 12:55] TimBobkov commented on #7288
@ddorgan but I was asking about File Storage... I know that blob storage working fine, but I need File Storage.

[2018-05-31 13:08] ddorgan commented on #7288
@TimBobkov can you actually read the toml file?

In your posts above you mention two locations:
``` /root/.local/share/io.parity.ethereum/config/authority.toml ``` but the logfile shows another location ```  /parity/config/authority.tom ```

[2018-05-31 14:00] saulbein commented on #8708
I use a different program (the one in my project, closed source), but I can reproduce the same (or similar) issue with a simple terminal script:
[code]
With small wallets it works just fine (I've tried with 1, 1k, 10k addresses), but with wallets which have >100k addresses it starts freezing seemingly at random (does very heavy disk reads with IO worker #1 at that time). This is not a problem with

[2018-05-31 15:18] TimBobkov commented on #7288
As you can see at last screen the `authority.toml` loading successfully. And when I run the same config file with storing data at NFS storage - everything work fine. But when I change storage to SMB - the error above appears.

[2018-05-31 18:13] WonkyGiraffe opened #8753 "Is there a bug preventing to broadcast a transaction that calls a function in a smart contract?"
_Before filing a new issue, please **provide the following information**._

![1](https://user-images.githubusercontent.com/39807899/40799746-16f2ea46-6517-11e8-94da-62d464076b10.png)
![2](https://user-images.githubusercontent.com/39807899/40799750-1aeea414-6517-11e8-9910-8a3339fc5330.png)
![3](https://user-images.githubusercontent.com/39807899/40799755-1e441234-6517-11e8-8bb2-021f9613992b.png)
![5

[2018-05-31 19:10] cooganb commented on #6616
@tomusdrw @5chdn @folsen Seems like the issue is in [`paritytech/jsonrpc`](https://github.com/paritytech/jsonrpc), not `paritytech/parity` itself. Is that correct?

[2018-05-31 19:12] fvictorio opened #8754 "Transaction runs out of gas using example development chain"
_Before filing a new issue, please **provide the following information**._

I am experimenting with private chains using parity. I took the example chain from [the docs](https://wiki.parity.io/Private-development-chain) and ran it (command: `parity --chain chain.json -d ./data`). I did a small modification in the spec:

[code]

I changed the account with the huge balance (`0x00a32...`) to an addre

[2018-05-31 19:19] snd opened #8755 "ethcore::client::TransactResult looks like a Result type but isn't"
https://github.com/paritytech/parity/blob/102bc7809f0deb7ab39b6d301b8e77481e618027/ethcore/src/client/evm_test_client.rs#L259

like `std::result::Result` `ethcore::client::TransactResult` has the `Ok` and `Err` variants.
that's where the similarities end.

`ethcore::client::TransactResult` requires odd, special error handling. the usual `unwrap`, `expect`, `and_then`, etc don't work.

`ethcore::cl

[2018-05-31 20:58] tomusdrw commented on #6616
@cooganb correct, see https://github.com/paritytech/parity/issues/6616#issuecomment-337229845

[2018-05-31 22:09] jimpo opened #8757 "Improvements to discovery implementation"
There are a number of issues with the current implementation of the Ethereum discovery protocol, mainly in terms of divergence from the Kademlia protocol. Here is a list of possible improvements.

- The XOR distance metric is implemented incorrectly (fixed by #8589).
- The k-buckets can grow beyond k=16 entries.
- Evictions from k-buckets are wrong because entries are not maintained in most-recent

[2018-05-31 22:10] Tbaut commented on #8753
1 days for a transaction seems prohibitively long indeed :)
You wrote that you are synced but I couldn't tell from your screenshot. What blocks is your node at?
This could be one reason. Your screenshot shows 22Gwei which is definitely enough according to [ethgasstation](https://ethgasstation.info/). Can you see the transaction in Etherscann? in the TxQueueViewer Dapp?

[2018-06-01 05:55] sorpaas commented on #8649
I'm going to take a look at UI and Public Node removal if no one else is working on that.

[2018-06-01 06:35] Tbaut commented on #8754
Note that the development chain specifications have evolved. I'll update the wiki: https://github.com/paritytech/parity/blob/master/ethcore/res/instant_seal.json

Could you also pass a gasPrice (and you can lower the gas). For instance:
[code]

[2018-06-01 08:03] fevo1971 commented on #7288
@TimBobkov running parity on a network-file-system (at least on CIFS) is not possible
at the moment, so this is not related to azure / kubernetes, it's related
to the underlying file-system.

best solution is to use kubernetes persistent volumes like in our example
posted above or describes here: https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv

maybe(!) by tweaking the mount-opti

[2018-06-01 08:13] folsen commented on #6616
@cooganb if you fix it over there and reference this issue so it's closed by that PR then hopefully gitcoin still works and gives you your reward

[2018-06-01 08:35] WonkyGiraffe commented on #8753
![6](https://user-images.githubusercontent.com/39807899/40830723-d50e6140-658f-11e8-9c80-9fae25133a35.png)

It's quite synced :)

I can't see the transaction in etherscan, will check in TxQueueViewer as well shortly

[2018-06-01 08:49] TimBobkov commented on #7288
Thanks for answer @fevo1971.
I already try PV with mount options, but I don't know which one I should add :( do you have any suggestions?

[2018-06-01 09:39] carlosgj94 commented on #5484
Hi 👋,
I would like to contribute with this, but I am bit new in Rust and not very familiar with the architecture you have (working on this).
Could someone provide me some info?
I am checking the the cli to add in the config.toml a lifetime for the poll manager and also in the poll_manager.rs modifying the "new_with_timer" method to pass it a u32 to erase the need for the constant.
Am I going in th

[2018-06-01 10:03] antimoth opened #8759 "Can parity json rpc respond a http HEAD request?"
### Can parity json rpc respond a http HEAD request? Our SLB health check uses a HEAD request to specify that is the service available.  But in my test,

### when send a HEAD request using 'curl', an empty response received.
[code]

### but requestes a geth client, the response is
[code]

### Is there a feature to support the HEAD request? or How to set the parity to support the HEAD request?

[2018-06-01 11:16] Feuda opened #8760 "Upgrade Parity from source did not work"
I want to upgrade Parity from 1.7.10 to 1.10.4, I pulled the latest code from branch 'stable' and ran` $ cargo build --release
`, after successfully processed, `parity -v ` shows that Parity version is still 1.7.10

[2018-06-01 11:37] #6791 closed

[2018-06-01 12:02] cooganb commented on #6616
@vs77bb Hey there! There's a question here about Gitcoin's reward system, wondering if you could help illuminate. Essentially, the work required is a dependency of `paritytech/parity` but located in `paritytech/jsonrpc` -- i.e. the PR will be on the `jsonrpc` repo, not here.

Is there a way to register this through Gitcoin?

[2018-06-01 12:04] Tbaut commented on #8760
Your binary of the new version you built is in `. /target/release/parity`. Your path uses most probably `/usr/bin/party`. You should copy the new version in  `/usr/bin/party`.

[2018-06-01 12:04] #8760 closed

[2018-06-01 13:04] tomusdrw commented on #6616
@cooganb I believe the bounty is also for integrating that fix with parity, so you can first open `jsonrpc` PR and then another PR integrating that work with Parity

[2018-06-01 13:08] tomusdrw commented on #8759
What's the issue exactly? Responding without content to `HEAD` request is actually what should be done, trying running `curl` with `-v` option to see the headers.
For health checks we also support `http://localhost:8545/api/health` endpoint - it will return non-200 in case we detect peering or time sync problems.

[2018-06-01 13:10] #8759 closed

[2018-06-01 13:17] tomusdrw commented on #7787
Closed via #8656

[2018-06-01 13:17] #7787 closed

[2018-06-01 13:54] holiman opened #8761 "Feature-request: debug_getBadBlocks"
Geth has an endpoint called `debug_getBadBlocks`, which is very useful for two purposes.

1. It can be used to detect consensus flaws more quickly, by correlating what one client considers bad blocks and what the other client has in it's chain.
2. It can be used to analyze consensus flaws more easily, since even if I run a client that does not import a rejected block, it can still provide me with

[2018-06-01 14:02] folsen commented on #7642
@vs77bb what should @gnunicorn do here, since the issue is already closed?

[2018-06-01 14:15] Tbaut commented on #8759
Documentation issue was opened here https://github.com/paritytech/wiki/issues/119

[2018-06-01 14:16] ankitchiplunkar opened #8762 "Bug_report: trace_replayBlockTransactions responds with error to set pruning to archive at block 0"
_Your issue description goes here below. Try to include **actual** vs. **expected behavior** and **steps to reproduce** the issue._
I am not able to use the JSON-RPC command  trace_replayBlockTransactions at block 0

[code]
The above command should return a null Array

[code]

This might be linked to a previous issue: https://github.com/paritytech/parity/issues/7547
The difference is that I can vi

[2018-06-01 14:17] hlogeon commented on #7176
The link to improved part of documentation would be nice. It would be hard to go through all the docs to figure it outt

[2018-06-01 14:49] ddorgan commented on #8698
@jrischma ok not sure what's up with your system.

If you run ```/usr/bin/parity ``` it works as expected, right?

Can you also give us the output of ``` which parity ``` and ``` env ``` please.

[2018-06-01 14:52] fvictorio commented on #8754
Great, just using the updated specification in your PR worked for me. I didn't need to change the gas price. Thanks!

[2018-06-01 14:52] #8754 closed

[2018-06-01 16:33] vs77bb commented on #7642
@gnunicorn Feel free [to now submit work](https://gitcoin.co/issue/paritytech/parity/7642/504) on Gitcoin, linking to your PR. This will allow us to pay you out for the bounty!

[2018-06-01 19:04] WonkyGiraffe commented on #8753
Turns out the gas price wasnt enough to enter the queue even if it was in the middle of the parity estimations.

TxQueueViewer showed the reason, oddly parity has no way to show that.

Thank you!

[2018-06-01 19:04] #8753 closed

[2018-06-01 20:04] asmodat opened #8764 "Data error (cyclic redundancy check)."
This error is extra annoying and happens 100% of the time on windows after few days/weeks of starting and stopping the node randomly. To fix this I have to use command: db kill ... so obviously the whole history has to resync over again.

This issue is the same for all parity for windows dating back to dozen releases in the past. Please investigate, because its unbearable user experience.

[code]

[2018-06-01 22:13] http403 commented on #8732
@Tbaut I don't have any bootnode running parity since they all run in separate LXC container. [Log](https://gist.github.com/http403/6cc6ea8816c6290b5a29694a1590d40e)
Command line I used:
[code]
@ddorgan Yes, but Geth client only. Parity doesn't want to connect. I can verify this in bootnode log.

[2018-06-01 22:37] roninkaizen commented on #8764
had almost the same error with samsung and seagate discs with win 7,8,10,
exchanging them against other vendors brought better results,
even with energy saving discs from western digital (former green line) caused such
"accidents" as you described above.
As you have the choice to switch,
please also give feedback if this issue could be answered by diffentiated buy suggestions for parity "long term

[2018-06-01 22:41] asmodat commented on #8764
That is SSD OCZ-AGILITY 3, I had the same issue on other PC's too with different drives. It's the same system my OS is installed on, so if it was failing so horribly because of the drive It would be BSOD'ing as hell, which id does not.

[2018-06-02 01:08] jjzazuet commented on #1314
Hi. Same issue here if it helps. I've got three different Xeon nodes running Parity 1.10 on Debian. All three of them oscillate between 12% to 70% CPU usage in the Kovan test net. I'm running out of ideas on why would this happen in the test net. `top` snapshots attached. Thanks!

Node 1
[code]

Node 2
[code]

Node 3
[code]

[2018-06-02 02:18] antimoth commented on #8759
but it isn't a normal http response, no protocol, no status code, etc.

[2018-06-02 09:16] 5chdn commented on #8190
**Backports for 1.10.5-stable**
- [ ] #8528 Fix light sync with initial validator-set contract
- [ ] #8641 Don't open Browser post-install on Mac, fixes #8194
- [ ] #8682 Fix cli signer
- [ ] #8683 Set the request index to that of the current request
- [ ] #8686 network-devp2p: handle UselessPeer disconnect
- [ ] #8710 ethcore-sync: fix connection to peers behind chain fork block

**Backports for

[2018-06-02 09:18] 5chdn commented on #7080
I'm super happy to keep this here. We need to update it though and think about the next hardfork if this is still desired. cc @tomusdrw

[2018-06-02 10:33] bizhua opened #8766 "DB corrupted: Corruption: block checksum mismatch: expected 190745535"
I'm running:

Which Parity version?: 1.10.4
Which operating system?: ubuntu 16.04 and 18。04
How installed?: via installer
Are you fully synchronized?: no
Which network are you connected to?: ethereum
Did you try to restart the node?: yes

[code]

[2018-06-02 13:46] vs77bb commented on #6616
@cooganb @folsen Yes, the Gitcoin reward will still work! In fact, now knowing the scope is two PR's, we're happy to also tip a bit extra to get both accomplished 👍

[2018-06-02 14:54] candro opened #8767 "[JSONRPC] cURL error 28: Operation timed out after 1001 milliseconds with 0 out of -1 bytes received (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)"
Method eth_sendTransaction returned:
cURL error 28: Operation timed out after 1001 milliseconds with 0 out of -1 bytes received (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

**Request:**
[code]
**Parity config:**

[2018-06-02 19:08] jrischma opened #8768 "identity NOT work ..."
I'm running:
 - Parity/v1.10.4-stable-39b9f1e-20180514/x86_64-linux-gnu/rustc1.25.0
-  Ubuntu 16.04.4 LTS
- bash <(curl https://get.parity.io -L) -r stable
- **Are you fully synchronized?**:  yes
- **Which network are you connected to?**: ethereum Classic
- **Did you try to restart the node?**:  yes

parity --chain classic .... --extra-data "ETC.CHILEMINERS.CL"  --identity "ETC.CHILEMINERS.CL"

![

[2018-06-02 19:39] TheTesla opened #8769 "stack backtrace: 0: 0x562b95f5bdbc - <no info>"
ran:

[code]

[2018-06-02 22:08] iFA88 opened #8770 "Dev chain issues"
Greetings,

I using `Parity/v1.10.4-stable-39b9f1e25-20180514/x86_64-linux-gnu/rustc1.25.0` node with the following flags:
[code]
The `chain.json` is a simple developer chain config with custom account balances.

First issue:
Using `eth_estimateGas` will create transaction into the block, but only after the first estimate gas call.

Second issue:
If I send two transactions the second will be never

[2018-06-02 23:43] pro-respirator commented on #6372
this problem is clearly still occurring, but I've noticed that when it drops out of warp mode into normal syncing, I usually get the error:
"encountered error during state restoration. chunk size is too large"

[2018-06-03 00:42] roninkaizen commented on #8766
try a parity db kill,
had exact the same and for sure to warp&sync again,
never came up again with this version ;-)

[2018-06-03 09:34] elichai opened #8772 "Creating separate repos for ethkey and maybe other crates"
Hi,
I'm using ethkey for key generation, signing and other of the tools it provides inside my core.
I wonder why not put it in a different git repository and maybe even upload it to crates.io so it will be easier to use.
Right now I copied it manually so I'll need to update it manually because I can't even clone and update from upstream because it's a directory inside parity.

I think it would be

[2018-06-03 10:48] niklasad1 commented on #8772
@elichai

Actually you can use `ethkey directly` by specifying the following in your `Cargo.toml`:

[code]

But yes, would probably be easier for everyone if it was published on `crates.io`

[2018-06-03 11:33] elichai commented on #8772
it will work even though one of ethkey's dependencies is a relative path? `ethcore-crypto = { path = "../ethcore/crypto" }`

[2018-06-03 14:38] WonkyGiraffe opened #8773 "Parity token registry hangs-on forever with everything filled in and "register" never becomes active"
_Before filing a new issue, please **provide the following information**._

I have all the fields in Token Registry Dapp filled in correctly.
The one with the contract address keeps the circle "circling" forever and thus the "Register" button never becomes active.
Node was fully synced and I waited for hours.

[2018-06-03 15:33] santtu opened #8774 "Parity does not close domain socket properly, runs out of memory"
While running analysis program over IPC, parity started crashing due to Linux OOM killer (like in https://github.com/paritytech/parity/issues/8618). I checked around and based on https://github.com/paritytech/parity/issues/6516 took a look at `lsof` on the parity program and it shows a huge number of open sockets:

[code]

The program doing the analysis isn't optimized and opens and closes an IPC

[2018-06-03 15:35] santtu commented on #8774
I also observed the same problem with 1.10.1. Also, this issue seems to affect only IPC sockets as using HTTP instead will not cause a file descriptor leakage.

[2018-06-03 16:22] kchernyshev opened #8775 "[JSONRPC] eth_getBlockByXXX return nothing for some old blocks"
JSON rpc calls work fine for recent blocks
e.g. (using EthJsonRpc for python)
c.eth_getBlockByNumber(5726015)
c.eth_getBlockByHash("0xd7807183f083dbeb453c610a0b44737542ca9de28943fb633f02147727b5073a")

but if I try to fetch an older block, it returns nothing:
c.eth_getBlockByNumber(2502000)
c.eth_getBlockByHash("0x90a608af9ae76de675ec90bbd87a5ec435fe3bd3d50ba3fe8eafa599586690cf")

{'id': 1,
 'json

[2018-06-03 19:00] diego-G opened #8776 "Thread IO worker panicked at DB flush"
**Actual behaviour**

[code]

[2018-06-03 19:13] sammy1991106 commented on #7423
Experience the same issue on Ropsten

[2018-06-03 19:20] diego-G commented on #8776
Duplicate #8766

[2018-06-03 19:20] #8776 closed

[2018-06-03 19:45] kchernyshev commented on #8775
Oh, I see, that makes sense, yes

[2018-06-03 19:45] #8775 closed

[2018-06-03 21:29] AntoniosHadji commented on #8766
I had the same issue with Parity 1.10.4 on Ubuntu 16.04 installed via deb package. Node was fully synced to mainnet.  I had parityJS shell dapp wallet open but I was not using it when the crash occurred.

[code]
I restarted node.
[code]

I executed ```parity db kill``` using 1.10.4
I upgraded to 1.11.1 beta.  I had to empty cache and snapshot folders before the chain would start syncing.

[2018-06-04 07:35] Tbaut commented on #8729
We've found some issues in the v1.11.1 related to the sync (https://github.com/paritytech/parity/pull/8710 https://github.com/paritytech/parity/pull/8544 https://github.com/paritytech/parity/pull/8658) that will be resolved in the next minor release (should come this week.) From this point, warp sync should be more reliable.

[2018-06-04 07:35] #8729 closed

[2018-06-04 07:48] iFA88 commented on #8775
You should know after warp sync follows the normal sync also as default. If you run your node about 3-4 days, you will have a full node.

[2018-06-04 08:35] niklasad1 commented on #8772
Yes, according to the cargo docs

[2018-06-04 08:51] debris commented on #8774
thanks for the report!

[2018-06-04 08:55] Tbaut commented on #8769
Can you please paste the whole error message?

[2018-06-04 08:57] Tbaut commented on #8769
By the way, you are using `--fast-and-loose` which corrupts the DB most probably each time you'll stop the node.

[2018-06-04 09:02] elichai commented on #8772
ok, I'll use that. although If you will make a different repository for great tools like that It would be great :)
(and the docs for ethkey can be better, maybe I'll try to make a PR for them )

[2018-06-04 09:23] MicahZoltu opened #8779 "Change name/description of fast_and_loose."
The config option fast-and-loose has a name and documentation that currently implies that the node can be restarted, it just isn't resilient to failure.  This makes it sound like a great solution for running a dev chain or test chain, and lead me (and others #7910) to try to use it that way only to find out after much troubleshooting that that isn't the case.

My particular use case is to create a

[2018-06-04 09:29] Tbaut commented on #1314
@jjzazuet please follow https://github.com/paritytech/parity/issues/8696

[2018-06-04 09:47] Tbaut commented on #8767
I'm surprised you use `no_consensus = true`. Why?

[2018-06-04 10:08] Tbaut commented on #8766
This is a duplicate of https://github.com/paritytech/parity/issues/7748 Please follow this thread.

[2018-06-04 10:08] #8766 closed

[2018-06-04 10:16] Tbaut commented on #8768
duplicates https://github.com/paritytech/parity/issues/6852

[2018-06-04 10:17] gnunicorn commented on #8774
This sounds very much like it might be the underlying cause of the errors we've seen and discussed in #6791 .

Thanks @santtu for the specific details, I'll try to reproduce this.

[2018-06-04 10:47] Tbaut commented on #8770
What makes you think that it's a dev chain problem? Did you test on a testnet such as kovan or ropsten?

[2018-06-04 11:06] kgcorps commented on #7880
Are there any updates on this bug?

[2018-06-04 11:23] ayrat555 opened #8781 "RETURNDATACOPY op bounds"
![img](https://i.imgur.com/fiGe0OQ.png)
I think `RETURNDATACOPY` shouldn't return an error if current index is bigger than output data size. it should fill those indices with zeros.

https://github.com/paritytech/parity/blob/98b7c07171cd320f32877dfa5aa528f585dc9a72/ethcore/evm/src/interpreter/mod.rs#L576

[code]

[2018-06-04 11:43] wulfraem commented on #8467
@tomusdrw
"The wiki seems to be a bit misleading.
`allowedTxTypes` should most likely be a constant function, even if you modify the state, the changes are not persistent."

I used the contract from the wiki and implemented the `allowedTxTypes` function as `constant`, because it just made sense that way. Unfortunately the [ABI JSON](https://github.com/paritytech/parity/blob/master/ethcore/res/cont

[2018-06-04 13:20] iFA88 commented on #8770
Because I run the parity on custom developer chain like on `--chain dev` with instant mining. Either Kovan or Ropsten doesn't have instant mining.

In this status the parity dev chain config is unusable, i have switched to https://github.com/trufflesuite/ganache-cli  for testing my scenarios.