[2017-03-26 18:39] dubersz4 opened #5253 "evertonfraga plz stop"
evertonfraga plz stop

[2017-03-26 18:39] peniizes opened #5254 "fjl likes anal"
fjl likes anal

[2017-03-26 18:39] btcistopdog opened #5255 "PoS is never going to work"
PoS is never going to work

[2017-03-26 18:39] iloveeveryone opened #5256 "Github sponsors me"
Github sponsors me

[2017-03-26 18:39] poopdogg opened #5257 "obscuren has blue balls"
obscuren has blue balls

[2017-03-26 18:39] ropstendied opened #5258 "ETC is better than ETH but still shit"
ETC is better than ETH but still shit

[2017-03-26 18:39] ilikepussy opened #5259 "O(log(n)) sucks"
O(log(n)) sucks

[2017-03-26 18:39] ethismeth opened #5260 "BTC is going places"
BTC is going places

[2017-03-26 18:39] ethupmybutt opened #5261 "5chdn spread your legs"
5chdn spread your legs

[2017-03-26 18:39] paintosay opened #5262 "DAO attacker did nothing wrong."
DAO attacker did nothing wrong.

[2017-03-26 18:39] btcisheretostay opened #5263 "cdetrio you are a retard fuck you and ropsten"
cdetrio you are a retard fuck you and ropsten

[2017-03-26 18:39] welovemeihateyou opened #5264 "Souptacular plz interview me at devcon3"
Souptacular plz interview me at devcon3

[2017-03-26 18:39] thecandymans opened #5265 "BTC is better than this trash"
BTC is better than this trash

[2017-03-26 18:39] btckingpin opened #5266 "31 March = Ethereum dead again"
31 March = Ethereum dead again

[2017-03-26 18:40] buysomebtc opened #5267 "Ropsten died for a reason"
Ropsten died for a reason

[2017-03-26 18:40] dubersz4 opened #5268 "solc exit status 1 must provide a file"
solc exit status 1 must provide a file

[2017-03-26 18:40] peniizes opened #5269 "Return "VM error" in core.ApplyMessage"
Return "VM error" in core.ApplyMessage

[2017-03-26 18:40] btcistopdog opened #5270 "You have more issues than me"
You have more issues than me

[2017-03-26 18:40] iloveeveryone opened #5271 "tgerring has no friends"
tgerring has no friends

[2017-03-26 18:40] poopdogg opened #5272 "nickjohnson fuck you and learn to wipe"
nickjohnson fuck you and learn to wipe

[2017-03-26 18:40] ropstendied opened #5273 "karalabe has a tiny cock"
karalabe has a tiny cock

[2017-03-26 19:13] #5249 closed

[2017-03-26 19:13] #5250 closed

[2017-03-26 19:13] #5251 closed

[2017-03-26 19:13] #5252 closed

[2017-03-26 19:13] #5253 closed

[2017-03-26 19:13] #5254 closed

[2017-03-26 19:13] #5255 closed

[2017-03-26 19:13] #5256 closed

[2017-03-26 19:13] #5257 closed

[2017-03-26 19:13] #5258 closed

[2017-03-26 19:13] #5259 closed

[2017-03-26 19:13] #5260 closed

[2017-03-26 19:13] #5261 closed

[2017-03-26 19:13] #5262 closed

[2017-03-26 19:13] #5263 closed

[2017-03-26 19:13] #5264 closed

[2017-03-26 19:13] #5265 closed

[2017-03-26 19:13] #5266 closed

[2017-03-26 19:13] #5267 closed

[2017-03-26 19:13] #5268 closed

[2017-03-26 19:13] #5269 closed

[2017-03-26 19:13] #5270 closed

[2017-03-26 19:13] #5271 closed

[2017-03-26 19:13] #5272 closed

[2017-03-26 19:13] #5273 closed

[2017-03-26 19:14] #5224 closed

[2017-03-26 19:14] #5225 closed

[2017-03-26 19:14] #5226 closed

[2017-03-26 19:14] #5227 closed

[2017-03-26 19:14] #5228 closed

[2017-03-26 19:14] #5229 closed

[2017-03-26 19:14] #5230 closed

[2017-03-26 19:14] #5231 closed

[2017-03-26 19:14] #5232 closed

[2017-03-26 19:14] #5233 closed

[2017-03-26 19:14] #5234 closed

[2017-03-26 19:14] #5235 closed

[2017-03-26 19:14] #5236 closed

[2017-03-26 19:14] #5237 closed

[2017-03-26 19:14] #5238 closed

[2017-03-26 19:14] #5239 closed

[2017-03-26 19:14] #5240 closed

[2017-03-26 19:14] #5241 closed

[2017-03-26 19:14] #5242 closed

[2017-03-26 19:14] #5243 closed

[2017-03-26 19:14] #5244 closed

[2017-03-26 19:14] #5245 closed

[2017-03-26 19:14] #5246 closed

[2017-03-26 19:14] #5247 closed

[2017-03-26 19:14] #5248 closed

[2017-03-26 19:14] #5199 closed

[2017-03-26 19:14] #5200 closed

[2017-03-26 19:14] #5201 closed

[2017-03-26 19:14] #5202 closed

[2017-03-26 19:14] #5203 closed

[2017-03-26 19:14] #5204 closed

[2017-03-26 19:14] #5205 closed

[2017-03-26 19:14] #5206 closed

[2017-03-26 19:14] #5207 closed

[2017-03-26 19:14] #5208 closed

[2017-03-26 19:14] #5209 closed

[2017-03-26 19:14] #5210 closed

[2017-03-26 19:14] #5211 closed

[2017-03-26 19:14] #5212 closed

[2017-03-26 19:14] #5213 closed

[2017-03-26 19:14] #5214 closed

[2017-03-26 19:14] #5215 closed

[2017-03-26 19:14] #5216 closed

[2017-03-26 19:14] #5217 closed

[2017-03-26 19:14] #5218 closed

[2017-03-26 19:14] #5219 closed

[2017-03-26 19:14] #5220 closed

[2017-03-26 19:14] #5221 closed

[2017-03-26 19:14] #5222 closed

[2017-03-26 19:14] #5223 closed

[2017-03-26 19:15] #5174 closed

[2017-03-26 19:15] #5175 closed

[2017-03-26 19:15] #5176 closed

[2017-03-26 19:15] #5177 closed

[2017-03-26 19:15] #5178 closed

[2017-03-26 19:15] #5179 closed

[2017-03-26 19:15] #5180 closed

[2017-03-26 19:15] #5181 closed

[2017-03-26 19:15] #5182 closed

[2017-03-26 19:15] #5183 closed

[2017-03-26 19:15] #5184 closed

[2017-03-26 19:15] #5185 closed

[2017-03-26 19:15] #5186 closed

[2017-03-26 19:15] #5187 closed

[2017-03-26 19:15] #5188 closed

[2017-03-26 19:15] #5189 closed

[2017-03-26 19:15] #5190 closed

[2017-03-26 19:15] #5191 closed

[2017-03-26 19:15] #5192 closed

[2017-03-26 19:15] #5193 closed

[2017-03-26 19:15] #5194 closed

[2017-03-26 19:15] #5195 closed

[2017-03-26 19:15] #5196 closed

[2017-03-26 19:15] #5197 closed

[2017-03-26 19:15] #5198 closed

[2017-03-26 19:15] #5149 closed

[2017-03-26 19:15] #5150 closed

[2017-03-26 19:15] #5151 closed

[2017-03-26 19:15] #5152 closed

[2017-03-26 19:15] #5153 closed

[2017-03-26 19:15] #5154 closed

[2017-03-26 19:15] #5155 closed

[2017-03-26 19:15] #5156 closed

[2017-03-26 19:15] #5157 closed

[2017-03-26 19:15] #5158 closed

[2017-03-26 19:15] #5159 closed

[2017-03-26 19:15] #5160 closed

[2017-03-26 19:15] #5161 closed

[2017-03-26 19:15] #5162 closed

[2017-03-26 19:15] #5163 closed

[2017-03-26 19:15] #5164 closed

[2017-03-26 19:15] #5165 closed

[2017-03-26 19:15] #5166 closed

[2017-03-26 19:15] #5167 closed

[2017-03-26 19:15] #5168 closed

[2017-03-26 19:15] #5169 closed

[2017-03-26 19:15] #5170 closed

[2017-03-26 19:15] #5171 closed

[2017-03-26 19:15] #5172 closed

[2017-03-26 19:15] #5173 closed

[2017-03-26 19:15] #5124 closed

[2017-03-26 19:15] #5125 closed

[2017-03-26 19:15] #5126 closed

[2017-03-26 19:15] #5127 closed

[2017-03-26 19:15] #5128 closed

[2017-03-26 19:15] #5129 closed

[2017-03-26 19:15] #5130 closed

[2017-03-26 19:15] #5131 closed

[2017-03-26 19:15] #5132 closed

[2017-03-26 19:15] #5133 closed

[2017-03-26 19:15] #5134 closed

[2017-03-26 19:15] #5135 closed

[2017-03-26 19:15] #5136 closed

[2017-03-26 19:15] #5137 closed

[2017-03-26 19:15] #5138 closed

[2017-03-26 19:15] #5139 closed

[2017-03-26 19:15] #5140 closed

[2017-03-26 19:15] #5141 closed

[2017-03-26 19:15] #5142 closed

[2017-03-26 19:15] #5143 closed

[2017-03-26 19:15] #5144 closed

[2017-03-26 19:15] #5145 closed

[2017-03-26 19:15] #5146 closed

[2017-03-26 19:15] #5147 closed

[2017-03-26 19:15] #5148 closed

[2017-03-26 19:15] #5099 closed

[2017-03-26 19:15] #5100 closed

[2017-03-26 19:15] #5101 closed

[2017-03-26 19:15] #5102 closed

[2017-03-26 19:15] #5103 closed

[2017-03-26 19:15] #5104 closed

[2017-03-26 19:15] #5105 closed

[2017-03-26 19:15] #5106 closed

[2017-03-26 19:15] #5107 closed

[2017-03-26 19:15] #5108 closed

[2017-03-26 19:15] #5109 closed

[2017-03-26 19:15] #5110 closed

[2017-03-26 19:15] #5111 closed

[2017-03-26 19:15] #5112 closed

[2017-03-26 19:15] #5113 closed

[2017-03-26 19:15] #5114 closed

[2017-03-26 19:15] #5115 closed

[2017-03-26 19:15] #5116 closed

[2017-03-26 19:15] #5117 closed

[2017-03-26 19:15] #5118 closed

[2017-03-26 19:15] #5119 closed

[2017-03-26 19:15] #5120 closed

[2017-03-26 19:15] #5121 closed

[2017-03-26 19:15] #5122 closed

[2017-03-26 19:15] #5123 closed

[2017-03-26 19:15] #5074 closed

[2017-03-26 19:15] #5075 closed

[2017-03-26 19:15] #5076 closed

[2017-03-26 19:15] #5077 closed

[2017-03-26 19:15] #5078 closed

[2017-03-26 19:15] #5079 closed

[2017-03-26 19:15] #5080 closed

[2017-03-26 19:15] #5081 closed

[2017-03-26 19:15] #5082 closed

[2017-03-26 19:15] #5083 closed

[2017-03-26 19:15] #5084 closed

[2017-03-26 19:15] #5085 closed

[2017-03-26 19:15] #5086 closed

[2017-03-26 19:15] #5087 closed

[2017-03-26 19:15] #5088 closed

[2017-03-26 19:15] #5089 closed

[2017-03-26 19:15] #5090 closed

[2017-03-26 19:15] #5091 closed

[2017-03-26 19:15] #5092 closed

[2017-03-26 19:15] #5093 closed

[2017-03-26 19:15] #5094 closed

[2017-03-26 19:15] #5095 closed

[2017-03-26 19:15] #5096 closed

[2017-03-26 19:15] #5097 closed

[2017-03-26 19:15] #5098 closed

[2017-03-26 19:15] #5049 closed

[2017-03-26 19:15] #5050 closed

[2017-03-26 19:15] #5051 closed

[2017-03-26 19:15] #5052 closed

[2017-03-26 19:15] #5053 closed

[2017-03-26 19:15] #5054 closed

[2017-03-26 19:15] #5055 closed

[2017-03-26 19:15] #5056 closed

[2017-03-26 19:15] #5057 closed

[2017-03-26 19:15] #5058 closed

[2017-03-26 19:15] #5059 closed

[2017-03-26 19:15] #5060 closed

[2017-03-26 19:15] #5061 closed

[2017-03-26 19:15] #5062 closed

[2017-03-26 19:15] #5063 closed

[2017-03-26 19:15] #5064 closed

[2017-03-26 19:15] #5065 closed

[2017-03-26 19:15] #5066 closed

[2017-03-26 19:15] #5067 closed

[2017-03-26 19:15] #5068 closed

[2017-03-26 19:15] #5069 closed

[2017-03-26 19:15] #5070 closed

[2017-03-26 19:15] #5071 closed

[2017-03-26 19:15] #5072 closed

[2017-03-26 19:15] #5073 closed

[2017-03-26 19:16] #5030 closed

[2017-03-26 19:16] #5031 closed

[2017-03-26 19:16] #5032 closed

[2017-03-26 19:16] #5033 closed

[2017-03-26 19:16] #5034 closed

[2017-03-26 19:16] #5035 closed

[2017-03-26 19:16] #5036 closed

[2017-03-26 19:16] #5037 closed

[2017-03-26 19:16] #5038 closed

[2017-03-26 19:16] #5039 closed

[2017-03-26 19:16] #5040 closed

[2017-03-26 19:16] #5041 closed

[2017-03-26 19:16] #5042 closed

[2017-03-26 19:16] #5043 closed

[2017-03-26 19:16] #5044 closed

[2017-03-26 19:16] #5045 closed

[2017-03-26 19:16] #5046 closed

[2017-03-26 19:16] #5047 closed

[2017-03-26 19:16] #5048 closed

[2017-03-27 09:24] 5chdn commented on #5029
Looks like a bug, thanks for reporting.

![screenshot at 2017-03-27 11-22-21](https://cloud.githubusercontent.com/assets/15729797/24349640/fb755ea0-12df-11e7-816d-083d10d584f0.png)

[2017-03-27 11:23] jacogr opened #5291 "Contract interface displays boolean false as [Object object]"
As reported by @gavofyork

[2017-03-27 14:04] jacogr commented on #5291
![parity 2017-03-27 16-04-31](https://cloud.githubusercontent.com/assets/1424473/24360267/1ebba8de-1307-11e7-874c-818dc8c1f0ad.png)

[2017-03-27 14:23] jacogr opened #5292 "Order contracts not only based on address"
- Default by Name
- Allow for selection of ordering like on Accounts (e.g. Address, Name, ...)

[2017-03-27 14:26] jacogr opened #5293 "Expose lint:i18n info as JSON, CSV"
- JSON for machine-readable (e.g. dashboard display)
- CSV for imports elsewhere

[2017-03-27 14:27] jacogr commented on #5293
https://github.com/paritytech/parity/pull/5290#issuecomment-289464779

[2017-03-27 14:27] #4989 closed

[2017-03-27 15:37] jacogr opened #5296 "Contract constant queries should also update where inputs are specified"
Currently only non-input values are queried/refreshed on block changes.

[2017-03-27 16:32] ngotchac commented on #5291
Fixed via #5295

[2017-03-27 16:32] #5291 closed

[2017-03-27 16:46] ngotchac commented on #5026
I'm not sure I really understand this issue ; I cannot reproduce it. If something else than a number is entered in the value input, it will send 0 ETH.

[2017-03-27 17:15] ngotchac commented on #5016
What would be the use case for this? When a user would have a content hash and no URL ?

[2017-03-27 17:17] ngotchac commented on #5292
The ordering is already there. The default is on Mined Block, then on the name AFAIR

[2017-03-27 17:35] NikVolf opened #5300 "Delete file associated with unix socket on startup (with warning)"

[2017-03-27 17:37] D-Nice opened #5301 "Parity adds itself to Windows startup"
It's quite an annoyance, with every new update, having to disable Parity from Windows startup. Could there at the very least be an option or prompt to disable this.

[2017-03-27 17:52] arkpar commented on #5301
Should not do that on upgrade

[2017-03-27 18:05] arkpar commented on #5300
Why not delete it automatically and inform if failed to delete/create?

[2017-03-27 18:06] ngotchac commented on #5017
Wouldn't inputting the right URL be enough? Not sure I understand this one..

[2017-03-27 19:52] D-Nice opened #5306 "Stage 2 block verification failed on Kovan testnet"
Attempting to sync to Kovan, on a Windows 7 x64 machine. Attempted with parity 1.6.3 and 1.6.4.

Paramaters used: --chain=kovan --no-warp

After it syncs to the best block, I get the following error, and lose connection to all peers:

    Stage 2 block verification failed for 866d.9b1a: Block(InvalidSeal)

Here is a longer example of the output

[code]

[2017-03-27 20:09] keorn commented on #5306
Make sure that your https://time.is/ exact.

[2017-03-27 20:13] D-Nice commented on #5306
@keorn Thank you, it indeed seems to be sync'd fine now. It was only 6.5 seconds behind though prior, what is the allowed threshold, and I presume the verification failed due to a timestamp mismatch with my local clock?

[2017-03-27 20:36] keorn commented on #5306
4 seconds away should be good enough. Any NTP server is fine, but it seems that it can drift pretty fast (was also the case for another Windows user).

[2017-03-27 20:36] #5306 closed

[2017-03-27 23:16] bg1156 commented on #4971
was able to finally get 1.7.0 up and running, thanks to all @ paritytech

[2017-03-27 23:16] #4971 closed

[2017-03-28 06:17] jacogr opened #5308 "eth_sign requests shows up as wallet/json requests"
Reported by @gavofyork

[2017-03-28 06:21] pplwjd opened #5310 "Parit 1.6.4 cannot display VSL token amounts correctly in wallet address"
My Parity 1.6.4 in Windows  displays wrong VSL token amounts  in wallet address. It displays  as follow:  3,888,888,888,888,888,888,888.9 VSL

[2017-03-28 06:34] #5029 closed

[2017-03-28 06:35] #5292 closed

[2017-03-28 07:30] tomusdrw commented on #5310
Seems that the amount of decimals is configured incorrectly. How many decimals is your token supposed  to have?
![screenshot from 2017-03-28 09-29-37](https://cloud.githubusercontent.com/assets/581548/24393644/20eba090-1399-11e7-8cb7-8badb9481186.png)

[2017-03-28 07:31] jacogr commented on #5007
RPC for node type https://github.com/paritytech/parity/pull/5025

[2017-03-28 08:35] pplwjd commented on #5310
I don't think it is because of decimals configuration. The number is  also totally wrong.   The number 3,888,888,888,888,888,888,888.9 seems weird and has no any relation with the token amounts that I have.

[2017-03-28 08:43] rphmeier opened #5311 "OnDemand dispatch improvements"
Currently using `OnDemand` is a bit of a nuisance due to the required network context on all dispatch calls, and it isn't very efficient, dispatching only one request per packet.

A couple of small changes which would go a long way towards addressing this:
1. decouple submitting requests and dispatch to network. this will make chaining results easier.
2. have dispatch fetch groups of unrelated req

[2017-03-28 09:24] #5308 closed

[2017-03-28 12:32] jacogr opened #5313 "Tx progress display should take care of all node transactions"
Currently it does not display for dapps. It would make sense to actually use the local transactions queue (as per the signer view), to get a list of transactions for the node as opposed to the current API hooks.

Additional benefits of the above is that when cancelling transactions via the Signer, it would also be detected. (https://github.com/paritytech/parity/pull/4958)

[2017-03-28 12:37] jacogr opened #5314 "Tx progress should optimize display and align sizes of the boxes"
Boxes are currently not aligned,

![parity 2017-03-28 14-20-08](https://cloud.githubusercontent.com/assets/1424473/24405066/c39afab4-13c3-11e7-9c7e-fbc4f12d6cb6.png)

Additionally, it would make sense to have the details more "graphical". Instead of the currect table display, something along the lines of

![parity 2017-03-28 14-37-08](https://cloud.githubusercontent.com/assets/1424473/24405134/0fc

[2017-03-28 12:38] jacogr opened #5315 "Tx progress should display tokens in the case of token transfers"
Currently is just indicates that a method is executed (Incoming txs shows tokens, it would be good if the outgoing tracker can do the same)

![parity 2017-03-28 14-20-08](https://cloud.githubusercontent.com/assets/1424473/24405185/3ba4edf8-13c4-11e7-936b-ff5bff7b68d6.png)

[2017-03-28 15:38] jacogr opened #5322 "Organise Signer transactions by dapp & submission order"
- If a dapp submits 4 txs in a row, there's really no point showing all four to the user at once
- it would not make any sense for the user to inspect them all and sign, the third tx but not the first
- views should show the oldest tx not yet dealt with and at the bottom show "X more transactions queued"
- when you approve/reject that one, it should show you the next for that dapp
- signer snippet

[2017-03-28 16:08] ngotchac commented on #4921
Closed via #4942

[2017-03-28 16:08] #4921 closed

[2017-03-28 16:43] rphmeier opened #5323 "Shared queue of PIP requests between handlers"
Multiple benefits:
  - no racing between handlers on who gets ticked first
  - no duplicate logic

[2017-03-28 23:21] MicahZoltu opened #5325 "eth_getCode does not return contract code."
After getting back a transaction receipt indicating that my contract has been mined, I call `eth_getCode` but get back `0x` response.  Minting additional blocks and waiting doesn't resolve the issue.  Nothing I do seems to make `eth_getCode` return the contract code.

Dockerfile that reproduces the issue:
[code]

Output (interesting bits, lightly formatted/cleaned):
[code]

In the output you can s

[2017-03-28 23:29] MicahZoltu commented on #5325
Dockerfile available here as well: https://github.com/MicahZoltu/parity-repro

[2017-03-29 03:42] rrevanth opened #5326 "Cannot see ETH in parity wallet"
I transferred ETH from my coinbase to parity wallet installed on my mac.

The transaction in my coinbase account shows done but I still cannot see the transaction in my parity wallet.

how much time will it take until its reflected?

[2017-03-29 06:25] AntonioJuliano opened #5327 "Unable to fetch update: HashMismatch. Infinite re-fetch leads to out of disk space"
Parity [stable-release docker image](https://store.docker.com/community/images/ethcore/parity) has been repeatedly trying to fetch an update, and failing with a HashMismatch:

[code]

This issue is made much worse because it appears every time it tries to do the fetch it stores something in the tmp/ folder which is not cleaned up afterwards. This causes the size of the image to keep growing indefi

[2017-03-29 07:15] tomusdrw commented on #5325
It just seems that there is no contract code in your deployment `data`. Probably something went wrong with compilation?

Copying `0x0` bytes starting from `0xe`
![Uploading Screenshot from 2017-03-29 09-06-24.png…]()

[2017-03-29 07:35] tomusdrw commented on #5326
Make sure you are:
1. Connected to the right network (homestead?)
2. Fully synced (compare the block number)

In case you're not synced:
1. Check how many peers do you have (should be something like `0/10/25 peers`)
2. Check if you time is in sync (https://time.is should render "Your time is exact.")
3. Check that Parity is not blocked by a firewall.

Before you're fully synced you can pre-verify

[2017-03-29 07:48] mmervecerit opened #5328 "Typo in Readme/Build from Source"
<img width="921" alt="screen shot 2017-03-29 at 10 34 45" src="https://cloud.githubusercontent.com/assets/15267081/24443957/5ee3b69c-146d-11e7-93ef-5ef269e8ffc1.png">

"git clone https://github.com/ethcore/parity" should be replaced with "git clone https://github.com/paritytech/parity".

[2017-03-29 09:57] 5chdn commented on #5327
Same happens via brew, reported on gitter:

[2017-03-29 10:22] 5chdn commented on #5328
spotted while wildly grepping the source:

    github.com/ethcore
    githubusercontent.com/ethcore
    ethcore.github.io

unsure whether the following items are affected:

    travis-ci.org/ethcore
    coveralls.io/github/ethcore

still working with the old name:

    gitter.im/ethcore

[2017-03-29 12:34] #5313 closed

[2017-03-29 14:05] ngotchac commented on #5315
Closed via #5324

[2017-03-29 14:05] #5315 closed

[2017-03-29 15:08] jacogr opened #5333 "UI WS API should not queue transactions when not connected"
Return error, retry on UI when node is available (stops the flood of requests when node comes back up, which will be very detrimental to public & light nodes)

Needs a full end-to-end test of all functionality once done.

[2017-03-29 15:15] rphmeier commented on #5328
Fixed in #5330

[2017-03-29 15:15] #5328 closed

[2017-03-29 15:19] jacogr opened #5334 "Status difficulty display readability"
Currently the numbers are not very useful, updating to a formatted display as https://ethstats.net/ (e.g. 1.45TH) would be more user-friendly

![parity 2017-03-29 17-16-16](https://cloud.githubusercontent.com/assets/1424473/24462327/ffd2f97e-14a3-11e7-8079-8b79f2903e72.png)

[2017-03-29 15:25] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24324260/8d166a56-1183-11e7-8c5f-98db20bfe232.png)
![image](https://cloud.githubusercontent.com/assets/138296/24324265/a612047a-1183-11e7-9536-83324ad97465.png)
![image](https://cloud.githubusercontent.com/assets/138296/24324263/9f3918fa-1183-11e7-8cbd-d04527addcd1.png)
![image](https://cloud.githubusercontent.com/assets/138296/24324268/b1

[2017-03-29 15:25] gavofyork commented on #4457
the rest of the tutorials

[2017-03-29 15:35] piotrbednarczyk commented on #5326
I noticed this issue as well. Transferred amount from Poloniex, transaction is confirmed (checked at etherscan.io), client is in sync and what is more, it shows me the incoming transaction on the transaction list for account, but still "There are no balances associated with this account".

[2017-03-29 16:50] MicahZoltu commented on #5325
Ah, okay.  It would be nice if there was more clear documentation around the ABI (though I recognize that isn't a Parity specific problem.  To me, the screenshot you have shown looks like contract code to me (I see valid op-codes and a return at the end) and I expected that to end up on-chain.  Further investigation (after you made this comment) caused me to find out that it isn't (though I still

[2017-03-29 16:50] #5325 closed

[2017-03-29 17:18] MicahZoltu opened #5335 "Make it easier to use Parity for continuous integration testing."
At the moment, Parity is a bit awkward to use for integration testing because it is designed to be secure (generally a good thing).  This means things like `unlockAccount` RPC call only last for a single request and creating a new account (`parity_newAccountFromPhrase`) needs to be run against a live node.

The ideal outcome of this issue would be for Parity to have a well established pattern for

[2017-03-29 20:27] MicahZoltu opened #5339 "Incorrect error message when passing invalid interface to CLI."
Due to a mistake in a script, I called parity with the following (note that shell expansion didn't occur for the code between the backticks):
[code]
The error printed to stdout was `Invalid port specified: 8180`.

Expected error message would be:
[code]

[2017-03-29 20:35] MicahZoltu opened #5340 "Add support for wildcard interface binding."
When running parity it defaults to only binding the UI to localhost, which is good (secure).  However, when running a dev chain for testing it is often useful to bind to an external port (incredibly insecure).  It would be nice if the UI allowed for binding to a wildcard (`*`) as a developer ergonomic issue.  Binding to a specific interface requires the script that is launching Parity to know what

[2017-03-29 23:05] rrevanth commented on #5326
After full sync, I got it in my account! Sorry about that!

Closing the issue!

[2017-03-29 23:05] #5326 closed

[2017-03-30 07:22] tomusdrw commented on #5340
Using `--ui-interface 0.0.0.0` should work fine, but you will also need to run it with `--ui-no-validation` flag to disable `Host/Origin` validation.
As part of #4474 we will also introduce an option to automatically listen on all interfaces using `--ui-interface all`

[2017-03-30 07:23] tomusdrw commented on #5339
Should be covered with #4474

[2017-03-30 07:29] xmaenx opened #5342 "Zero Ether"
Hi ,

yesterday I downloaded the mac version, and new account successfully done. But when I transferred ETH from my exchange to my parity account wallet address , Nothing went to my address although in etherscan the transaction was done,
Should I wait more time or something is wrong ? the transaction now passed 10 hours and nothing happened still my wallet address haas 0 ETH

[2017-03-30 07:32] xmaenx commented on #5342
Sorry I was not syced ,
the issue resolved

[2017-03-30 07:32] #5342 closed

[2017-03-30 08:30] 5chdn commented on #5326
@piotrbednarczyk can you update to the latest release?

https://github.com/paritytech/parity/releases

[2017-03-30 08:32] 5chdn commented on #5342
which version was that?

[2017-03-30 08:41] piotrbednarczyk commented on #5326
After update to 1.6.5 works fine. Thanks.

[2017-03-30 09:27] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24465379/1a275082-14ad-11e7-88f4-140eb2c3ab74.png)
![image](https://cloud.githubusercontent.com/assets/138296/24465867/014d519a-14af-11e7-83f1-f39fa46a898a.png)

[2017-03-30 10:14] 5chdn commented on #3669
@bokkypoobah I'm doing a full sync +fatb +tracing now and try to reproduce this.

while digging through the old similar issues (e.g., #1704), it was suggested to remove and reimport the database. How old is your db? Does it still happen if you resync or reimport the chain with the current version?

    parity export blocks ./blocks.db
    rm -rf ~/.local/share/io.parity.ethereum/chains/ethereum/db

[2017-03-30 10:24] jacogr opened #5343 "Evaluation/compare UglifyJS to Babili"
Swap if benefits in terms of size, fit into build pipeline

[2017-03-30 10:44] jacogr opened #5344 "UI pub-sub for blockNumber"
First polling (major, used everywhere) is blockNumber since a number of checks in the parity.js & UI subscriptions hang off that, couple of things to keep in mind here -

1. node may drop, come back - subscription manager should auto-connect (still valid) subscriptions
2. public node could manage a large number of subscriptions, not all cleaned when dropping (node-side), currently since it is clie

[2017-03-30 11:00] arkpar commented on #3976
Fixed in #5018

[2017-03-30 11:00] #3976 closed

[2017-03-30 13:34] housemobile opened #5347 "Windows download from ethcore.io website gave me Parity 1.4.3"
Had to get it from github

[2017-03-30 13:35] housemobile opened #5348 "Malwarebytes blocks IP"
After installing 1.6.5 I got a Malwarebytes block for outbound IP: 91.214.47.84

Looked it up and it's in Luxembourg. Is this Parity related?

[2017-03-30 14:17] jacogr opened #5349 "Tx display doesn't handle syncing very well"
1. Node was syncing
2. Send tx to contract (contract interface)
3. Tx display doesn't update, even after node indicated Tx has been mined
4. UI refresh still doesn't make the display update

![parity 2017-03-30 16-15-37](https://cloud.githubusercontent.com/assets/1424473/24508619/4c054142-1564-11e7-9c62-d3fd8f01cd63.png)

[2017-03-30 14:43] jacogr opened #5352 "Tx minimised display should revert to UI palette"
The current contrast is too jarring.

[2017-03-30 16:44] cduchesne opened #5354 "docker ethcore/parity:v1.6.5 contains a nightly build"
I just upgraded to 1.6.5 and noticed that it was showing up as a nightly build and not 1.6.5.

[code]

[code]

[2017-03-30 20:06] hcekne commented on #5347
I had the same issue..

[2017-03-30 20:07] rphmeier commented on #5347
cc @paritytech/ci

[2017-03-30 20:14] hcekne opened #5355 "Ethereum not showing up in account"
Hi,

Earlier today I transferred 200 ETH from my coinbase ethereum wallet to the Parity wallet but the funds don't seem to show up in the account. It only says:

"There are no balances associated with this account"

The TxHash is:
	0x8e32de1d1f8b165428571367dfcf6911b6ff7332bf7220ccd9225cdd3806517c

I tried to send another .1 ETH from another account and that doesn't show up in the account balance

[2017-03-30 20:49] #5355 closed

[2017-03-31 07:56] 5chdn commented on #5347
had multiple support requests on reddit and stack exchange with the same issue.

[2017-03-31 08:15] 5chdn commented on #5348
Did you use the installer? Parity was probably trying to connect to other peers.

[2017-03-31 08:34] jacogr opened #5358 "Tx minimised should not use localSorage"
Get transactions for local/available from the Node as per the Signer views.

[2017-03-31 08:35] jacogr commented on #5358
Should also resolve #5349

[2017-03-31 08:37] jacogr opened #5359 "Tx minimised shows transactions cross-chain"
e.g. tx in-progress on Homestead shows up in-progress on Kovan with the additional issues that

(a) cannot be resolved/authenticated via Signer,
(b) addresses are not mapped to names &
(c) MethodDecoding may not work

[2017-03-31 08:37] jacogr commented on #5358
Should also resolve https://github.com/paritytech/parity/issues/5359

[2017-03-31 09:15] jacogr commented on #4810
Closed via https://github.com/paritytech/parity/pull/5287

[2017-03-31 09:15] #4810 closed

[2017-03-31 09:20] jacogr opened #5361 "Hide Vaults when in Parity is running in public mode"
- Vault views
- Assigning vaults (e.g. CreateAccount)

[2017-03-31 09:48] jacogr commented on #5361
Requires https://github.com/paritytech/parity/pull/5312 (pulls in Redux nodeKind)

[2017-03-31 11:50] jacogr commented on #5333
Drop it around here, returning exception -

https://github.com/paritytech/parity/blob/master/js/src/api/transport/ws/ws.js#L243

(As well as removing sending queued messages when re-connected).

[2017-03-31 15:29] jacogr opened #5368 "Don't poll hardware (via Parity) when in running as public node"
Related https://github.com/paritytech/parity/issues/5361

Requires https://github.com/paritytech/parity/pull/5312 (pulls in nodeKind into Redux)

[2017-03-31 17:39] songproducer opened #5369 "Can't install on Mac"
When I run:

curl https://sh.rustup.rs -sSf | sh

I get:

curl: (35) Unknown SSL protocol error in connection to sh.rustup.rs:443

[2017-03-31 17:42] MicahZoltu opened #5370 "Parity burning CPU."
Standard Windows install of `Parity/v1.5.2-beta-948a538-20170208/x86_64-windows-msvc/rustc1.14.0`.  Today I caught Parity burning 15%-25% of CPU steadily and it would not stop.  I am fully synced to main network.  Restarting Parity resolved the issue.

When I opened up the logs I saw the following error message spammed multiple times per second consistently (and no other logs):
[code]

I don't bel

[2017-03-31 17:45] MicahZoltu opened #5371 "Add in-app documentation about Vaults."
I installed Parity 1.6.x today and noticed the Vaults button.  I clicked on it and couldn't easily figure out what they were.  Recommend adding some documentation to the Vaults page (perhaps even a short tutorial) explaining what the feature is.

[2017-03-31 21:32] #5352 closed

[2017-03-31 21:33] #5016 closed

[2017-04-01 00:43] ngotchac commented on #5358
I don't think we want that. The main issue is for contract deployment : the node doesn't know anything about contract deployment, it just executes transactions. Storing them in localstorage enables the UI to recover a contract deployment even if it's closed in the middle of the mining.

[2017-04-01 05:25] stone212 opened #5373 "--jconrpc-cors setting not allowing access from server's public IP"
After working with the application that is making use of Parity, I think this bug is a Parity bug so I am posting here.  The scenario:

Parity is running on a VPS with the following invocation:
./parity --chain dev --jsonrpc-interface 0.0.0.0 --jsonrpc-hosts all --jsonrpc-cors http://127.0.0.1:8000 --jsonrpc-apis web3,eth,rpc --networkid "11321" --force-ui --ui-no-validation --log-file /var/log/pa

[2017-04-01 10:42] bokkypoobah commented on #3669
@5chdn, I exported and imported as you suggested and Parity stopped crashing when issued with the same RPC command:

Thanks! Happy for this issue to be closed.

[2017-04-01 19:57] SilverPin opened #5375 "Enable use by launchd on OSX"
I'd quite like to be able to run a node in the background on my computer and simply forget about it. Ideally I want the node to startup automatically when I open my computer and not clutter up my desktop with terminal windows. I figure it would maximise my node's uptime whilst being un-intrusive for me.

One way to do this is to add it to launchd so the daemon launches on startup. I tried to do th

[2017-04-01 20:06] SilverPin commented on #5375
Sorry, user error. I wrote a bad .plist!

[2017-04-01 20:06] #5375 closed

[2017-04-01 21:29] jackweath commented on #5369
I can't reproduce this.

What version of cURL are you using? `curl -V` should tell you.

Is the error persistent on different networks?

[2017-04-02 09:10] jacogr opened #5376 "Be explicit with warning that busy syncing has outdated info"
While it's syncing, the UI should block with a button "I know it will show out-of-date information, let me use the wallet anyway" and a checkbox "never show this again"

[2017-04-02 14:36] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24588110/807cec58-17c2-11e7-8e08-610f972c63ed.png)

[2017-04-02 16:07] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24588762/3e436f08-17cf-11e7-9d78-e7e6b528514a.png)

[2017-04-02 18:44] MicahZoltu opened #5377 "Registry dApp external links are broken."
When using the Registry dApp inside Parity UI, if you do a lookup and then click on the result it tries to send you to etherscan.io.  However, the link it results in is incorrect as it has two protocols (the second missing the `:`).

Example: Lookup `Zoltu` then click and it tries to take you to:
`https://https//etherscan.io/address/0x00730819b8b1f47022a9a40c6cc55b8014c4c2da`

[2017-04-02 18:53] MicahZoltu commented on #5340
`0.0.0.0` worked.  Feel free to close this if you believe #4474 covers the usability/documentation aspects of this such as providing a consistent and documented mechanism for port/host binding across the various CLI options.

[2017-04-02 19:22] MicahZoltu commented on #4565
On Windows, I believe the right location for a cache managed by the application is `%LOCALAPPDATA%/paritytech/parity`.  It is up to the application to ensure the cache is cleared as necessary.  `%TEMP%` should be used if you truly have temp files that *should* be deleted as soon as the process that created them exits.  In this case, since this is a cache it presumably should live across runs of th

[2017-04-02 19:28] MicahZoltu opened #5378 "Parity is creating %USERPROFILE%/.ethash on startup."
For the most part, parity is doing the right thing on Windows and storing its files in `%APPDATA%` and `%LOCALAPPDATA%`.  However, every time I launch Parity (`parity.exe -ui`) it creates a folder at `%USERPROFILE%/.ethash`.  This folder has a single subfolder named `light` with a 32MB file inside it named with a hash of some kind.  Sometimes I find that there are multiple such files in this folde

[2017-04-02 19:30] MicahZoltu commented on #5378
The problem appears to be here: https://github.com/paritytech/parity/blob/master/ethash/src/compute.rs#L108-L114

I don't know how to resolve this properly in rust, but presumably using the same logic for file location as the rest of Parity.

[2017-04-03 02:23] zertrin commented on #5327
Confirmed here too (Debian Jessie, Docker 17.03.1-ce, Parity stable-release from dockerhub):

![image](https://cloud.githubusercontent.com/assets/1447163/24593468/5cb03d86-1856-11e7-95b6-b81b877aeaa1.png)

Parity's container `/tmp` ate about 1 TB of disk space, downloading a 27.7 MB file over and over again.....

Good that I caught it today by checking the logs and then finding this issue, and the

[2017-04-03 07:13] tomusdrw commented on #5373
`--jsonrpc-cors` setting should be equal to an URL you will see in your browser when accessing the app.

So if you see `http://localhost:8080` then you need to set `--jsonrpc-cors http://localhost:8080` if you want to be able to acces over `http://192.168.0.1:8080` as well the setting should be `--jsonrpc-cors http://localhost:8080,http://192.168.0.1:8080`.
If you prefer to allow all Origins to ac

[2017-04-03 07:15] tomusdrw commented on #5370
Are you using only WS interface (port 8180; Parity UI) or are there also some requests happening over HTTP RPC (port 8545)?

[2017-04-03 07:37] 5chdn commented on #5378
Seeing same behavior on Linux `~/.ethash`, I always assumed this was by-design.

[2017-04-03 07:40] 5chdn commented on #5377
duplicate of #4941 and should be fixed in #4984 with 52c81fe4eeed111d5f6e1ce6debcafa2960f6e0d

which version are you using?

[2017-04-03 07:40] #5377 closed

[2017-04-03 07:43] #5373 closed

[2017-04-03 08:05] jacogr commented on #5322
- QR camera should only have one active at any time
- Display QR camera & QR code simulatenously

[2017-04-03 08:40] 5chdn commented on #3669
Glad this works. I know re-syncing the full chain takes weeks.

Closing as dupe of #1704, exporting/importing as per [this comment https://github.com/paritytech/parity/issues/1704#issuecomment-235224503] helps fixing the tracedb.

[2017-04-03 08:40] #3669 closed

[2017-04-03 08:53] jacogr opened #5380 "parity.js does not pass js-release after public update"
https://gitlab.ethcore.io/parity/parity/builds/51859

[2017-04-03 09:08] 5chdn commented on #5371
will draft a wiki page which explains accounts, wallets and vaults and recommend something for in-app documentation which could be used in-app.

[2017-04-03 09:22] jacogr opened #5382 "QR scan should show if invalid address added"
Currently with the non-compliant native-signer, the error is just swallowed. The UI should report if errors are found in the actual QR decoding.

[2017-04-03 09:28] SilverPin commented on #5375
A good idea, @5chdn.

I had inadvertently included an invalid argument in the plist, which was causing the daemon to crash on startup. Here is a copy of the working plist for others to use in `/Library/Launchdaemons` or `/Library/LaunchAgents`.

[code]

[2017-04-03 09:35] 5chdn commented on #4889
@sant9ga could you add more details about what issues you are experiencing?

@jacogr can this be closed now?

[2017-04-03 09:39] arkpar commented on #5375
Our macOS installer now includes an alternative way to auto start Parity at log on. This can be toggled with the icon menu in the menu bar.

[2017-04-03 09:41] SilverPin commented on #5375
@arkpar

I wish I had known that before I spent hours teaching myself to write and troubleshoot a plist ;)

[2017-04-03 09:42] arkpar commented on #5378
The idea was that these files can be shared between different client implementation, e.g. geth. This turned out to be not much of an issue. Anyway we already have an issue for this here: https://github.com/paritytech/parity/issues/4565

[2017-04-03 09:42] #5378 closed

[2017-04-03 10:07] jacogr opened #5384 "Convert timestamp retrieval to use parity_getBlockHeaderByNumber"
- Light clients have headers available, but full bodies require a network call - where only the timestamp of the block is used, convert the call to use `parity_getBlockHeaderByNumber` (basically everywhere `eth_getBlockByNumber` is used)
- Requires https://github.com/paritytech/parity/pull/5383

[2017-04-03 10:16] #5380 closed

[2017-04-03 10:57] rphmeier commented on #4581
Closed in #4687

[2017-04-03 10:57] #4581 closed

[2017-04-03 11:55] jacogr opened #5387 "Signer bar sometimes pop up on top right"
Originally reported by @tomusdrw

![riot 2 2017-04-03 13-54-43](https://cloud.githubusercontent.com/assets/1424473/24608097/3730ddf8-1875-11e7-84ab-e3611df045cb.png)

[2017-04-03 12:04] tomusdrw commented on #5387
Seems that the issue happens only on `#/home`.
Recent Dapps component is loading some dapps, which in turn fire `loaded` event in `dappsStore`, that event is received by `ParityBar` and last dapp setting is actually applied (for me it was Pairty Web3 Console).

[2017-04-03 12:30] 5chdn commented on #5371
@MicahZoltu any feedback welcome.

https://github.com/paritytech/parity/wiki/Accounts,-Wallets,-Vaults#vaults

[2017-04-03 13:53] jacogr opened #5389 "Hide unsupported creation types on nodeKind === public"
Supported -
- new account
- import phrase
- import json
- import private key
- external account

[2017-04-03 15:28] #5314 closed

[2017-04-04 04:42] MicahZoltu opened #5391 "Replace `minBlock` property on `eth_sendTransaction` Transaction parameter in documentation with `condition` property."
I'm running `ethcore/parity:v1.6.5` in Docker with:
[code]

When I try to call `eth_sendTransaction` via HTTP with this payload (note the `minBlock` property):
[code]
I get this response:
[code]

According to [the documentation](https://github.com/paritytech/parity/wiki/JSONRPC-eth-module#eth_sendtransaction), `minBlock` is a valid property to have on a Transaction.

This seems related to https://

[2017-04-04 07:14] tomusdrw commented on #5391
`minBlock` property is now part of `condition`, so transaction should look like this:
[code]
Seems that the documentation is outdated.

[2017-04-04 09:17] General-Beck commented on #5354
corrected

[2017-04-04 09:17] #5354 closed

[2017-04-04 10:44] 5chdn commented on #4889
@jacogr check this. https://www.reddit.com/r/EtherMining/comments/6377ym/the_problem_with_accounts_paritymist/

The same issue appears if you watch an account before importing it from geth. Is this also covered by #4912 ?

[2017-04-04 11:01] songproducer commented on #5369
curl 7.38.0 (x86_64-apple-darwin14.0.0) libcurl/7.38.0 OpenSSL/0.9.8zd zlib/1.2.8 libidn/1.20 libssh2/1.4.3

When I tried:
multirust override beta
I got:
-bash: multirust: command not found

[2017-04-04 11:45] arkpar commented on #5369
@songproducer You don't need `multirust` or `rustup` to install on macOS unless you want to build from source for some reason. Just use the installer download available here https://github.com/paritytech/parity/releases or homebrew.

[2017-04-04 11:51] jackweath commented on #5369
@songproducer Also, your version of cURL is from 2014, so you may want to update it.

[2017-04-04 15:37] MicahZoltu commented on #5391
Do you happen to know if this API change will occur in geth as well?  When writing a dApp, working with multiple node client types is desirable and little API differences like this can really make that difficult.

[2017-04-04 15:38] MicahZoltu commented on #5391
Also, does this mean that parity isn't following semantic versioning?  This is a backwards incompatible change after all.

[2017-04-04 15:47] tomusdrw commented on #5391
That feature is not available in `geth` as far as I know. It's a custom Parity extension. The way it was described in docs actually never reached `beta` channel (was like this only in `master` for few days), but the documentation was not updated.

[2017-04-04 15:57] MicahZoltu commented on #5391
Hmm, okay.  I wonder how it ended up in our code (which was originally written for Geth).  Searching in the go-ethereum repository doesn't return anything for `minBlock` though, so it would seem you are right that it is a Parity only thing.  I'll leave this open for the documentation update and rename the title of this issue to reflect as much.

[2017-04-04 16:07] adrianbrink commented on #4842
@debris But wouldn't that be the worry about an implementor to compile libraries that contain C code. From our side we would only need to worry about writing the C interfaces (which will take a lot of time).

[2017-04-04 16:11] adrianbrink commented on #4842
To expose the C api something like [rusty-binder](https://gitlab.com/rusty-binder/rusty-binder) or [rusty-cheddar](https://github.com/Sean1708/rusty-cheddar) would be good to use.

Also, let's see if the rust team will support this in the [future](https://github.com/rust-lang/rust/issues/10530).

[2017-04-04 16:16] chevdor opened #5394 "Add support for --jsonrpc-apis all"
It would be nice to be able to use:
`parity --jsonrpc-apis all`

with all being the entire list of available apis.

[2017-04-04 16:35] MicahZoltu commented on #5371
I would recommend changing the wording around Vaults from `security` to `privacy`.  Vaults don't really add any additional _security_, but they do add some additional _privacy_.  I think the distinction is important for readers, especially those who don't really understand the cryptography.  By using the phrase "additional layer of _security_", the naive user will assume that adding a vault is nec

[2017-04-04 16:37] MicahZoltu commented on #5370
At the time, I believe I was only using the UI.  It is possible that I had at some point used the HTTP JSON-RPC (likely on accident while testing), though I had restarted my computer not long before so the chances of that are mildly low.

It definitely could have been #4389.

[2017-04-04 17:02] adrianbrink commented on #5323
@rphmeier What does pip refer to? I have searched through the parity codebase with ripgrep, but only ever find it in some doc string. :-)

[2017-04-04 17:07] rphmeier commented on #5323
https://github.com/paritytech/parity/wiki/The-Parity-Light-Protocol-(PIP)

Implemented in the `ethcore/light/src/net` directory

[2017-04-04 17:20] adrianbrink commented on #5323
Oh right, I kept reading this as a capital i instead of a lower case L. :-)

[2017-04-04 17:31] rphmeier commented on #5323
It is a capital `I`... the Parity lIght Protocol ;)

(naming could be subject to change...)

[2017-04-04 21:13] MicahZoltu opened #5396 "`eth_gasPrice` should not return a value smaller than `parity_minGasPrice`."
If the Parity node has a `parity_minGasPrice` set, it should not return an `eth_gasPrice` that is lower than it will accept.

At the moment, if the average gas price for the last 100 transactions is 0 and you call `parity_setMinGasPrice` with `0x2` parameter, `eth_gasPrice` will return `0x0`.  Any dApp that uses this to determine how much gas to supply transactions with (with I believe is the comm

[2017-04-05 06:53] tomusdrw commented on #5396
Local transactions are always accepted to the queue even if it's below minimal gas price. IMHO `minGasPrice` is a bit disjoint setting, it's a threshold required by external transactions (those propagated over the network) and it's only useful for miners. Your local transactions can use any `gasPrice` you want. `eth_gasPrice` is estimating the sensible gas price for your (local) transaction based

[2017-04-05 06:55] tomusdrw commented on #5394
Great idea!
I'll implement sth like this:
- `all` - All APIs exposed (warning should be printed)
- `readonly` - Read only APIs exposed (safe APIs)

and maybe additional syntax for:
- `all,-parity_accounts` - All APIS without `parity_accounts`

[2017-04-05 07:26] chevdor commented on #5394
@tomusdrw `readonly` and the `-api` features would definitely be a cool extra to `all`!

In the context of `--chain dev`, it would make it convenient, as you mentioned, to have things like `all,-parity_accounts` to start quicker.

`safeonly` may be a better name than `readonly` since you felt the need to explain that `read only` APIs are the safe ones.

[2017-04-05 08:14] 5chdn commented on #5371
Thanks for your feedback, updated.

[2017-04-05 09:09] pplwjd commented on #5310
Parity 1.6.5 still has this issue. Any progress?

[2017-04-05 09:15] rphmeier opened #5398 "Specific cache for `light::HeaderChain`"
Perhaps it can just be given a handle to the `LightDataCache` other services share.

@adrianbrink You might be interested in this one, I can mentor.

[2017-04-05 09:25] 5chdn commented on #5310
Can you provide an address and/or maybe a screenshot?

[2017-04-05 09:34] rphmeier commented on #4842
@adrianbrink I think @debris was referring to C/C++ libraries we have as dependencies, which may be hard to cross-compile.
To expose a C API we can just use `#[no_mangle] pub extern fn` in Rust code.

[2017-04-05 09:47] chevdor opened #5400 "Parity fails returning tx receipt (truffle)"
Let me introduce everyone:
- Parity/v1.7.0-unstable-801a2339e-20170331/x86_64-macos/rustc1.16.0
- Truffle v3.2.1
- issue in the truffle repo: https://github.com/trufflesuite/truffle/issues/389

Additionally I am using `geth attach ...` for the tests.

**How to reproduce:**

`parity --chain dev --jsonrpc-apis web3,eth,net,personal,parity,parity_set,traces,rpc,parity_accounts --unlock 0x0061... --pa

[2017-04-05 10:12] chevdor commented on #5400
Note for self: test again with `-ltxqueue=trace` for @tomusdrw

[2017-04-05 10:28] adrianbrink commented on #4842
Oh right. Didn't know parity had C/C++ deps.
Yeah, rusty-cheddar/binder could be used then to auto-generate the C header files.

[2017-04-05 11:50] #5012 closed

[2017-04-05 12:21] adrianbrink commented on #5398
@rphmeier Okay. That would be great :-)

I've opened a PR fix the initial setup and also merged the CLI changes. All tests are still passing.

[2017-04-05 12:23] adrianbrink opened #5404 "Update link in cla bot"
The automated message from CLA bot contains the link to https://cla.ethcore.io/form/parity which does not load, since the website no longer exists. It should be updated to point to https://parity.io/cla.html

[2017-04-05 12:25] adrianbrink commented on #5398
[clabot:check]

[2017-04-05 13:22] rphmeier commented on #5404
https://github.com/paritytech/ethcore-cla-bot/pull/1

[2017-04-05 14:26] rphmeier commented on #5400
It looks like the transaction isn't sealed into any blocks for some reason (as indicated by the empty `transactions` list). Getting the receipt will only work once that happens. Txqueue tracing will definitely help to diagnose.

[2017-04-05 14:39] ngotchac commented on #5026
@CraigglesO Any update on this ?

[2017-04-05 15:59] adrianbrink commented on #5404
Fixed through the above commit.

[2017-04-05 15:59] #5404 closed

[2017-04-05 16:21] CraigglesO commented on #5026
I updated to the latest and no longer receive the error.

![alt-img](https://cdn.pbrd.co/images/GCLlNpeM.png)

Should we make sure it says 0.00Eth instead of nothing though?

[2017-04-05 17:32] ngotchac commented on #5026
Definitely !

[2017-04-05 18:31] chevdor commented on #5400
I also think the parity UI is suffering from that same issue. If I deploy a contract, all looks ok but the contract never appears in the list of contracts. Just short on time atm but I will try getting you the Txqueue.

[2017-04-05 20:04] rphmeier commented on #4685
cc @gluk256 @adrianbrink

[2017-04-05 22:28] chevdor commented on #5400
I started parity as `parity --chain dev --jsonrpc-apis net,eth,web3,personal,parity -ltxqueue=trace ui` and deployed a contract:

[code]

[2017-04-05 23:11] georgek146 opened #5407 "Is there any way to run parity with less memory?"
I am trying to run parity on a low memory vps, and I am getting fatal runtime error: out of memory. Is there any way that I could run parity with less memory? If not how much memory do I need to be able to reliably run it?

[2017-04-06 02:00] MicahZoltu commented on #5396
Thanks for giving the clarity on the difference.  There may be value in improving the Wiki documentation on these calls to make it more clear to the reader what exactly they do (`parity_minGasPrice`) and/or where the data is sourced from (`eth_gasPrice`).  Before posting this issue, I did a lot of manual troubleshooting and read the docs several times but I still came to the wrong conclusion.

I a

[2017-04-06 06:15] DaveAppleton opened #5408 "Event logging in Remix does not work with Parity / Kovan"
[code]

in Remix, I can deploy using injected Web3 & clicking create but calling buyGold gets a JSON response as shown but NOT the correct event

![image](https://cloud.githubusercontent.com/assets/1858302/24740202/8ab43c04-1ad2-11e7-87d8-8a2d007e9e74.png)

![image](https://cloud.githubusercontent.com/assets/1858302/24740244/b13c6fae-1ad2-11e7-9653-5154b73d6bee.png)

Subsequently calling it with a

[2017-04-06 06:18] DaveAppleton opened #5409 "Events and a load more not supported in solc in Parity / Develop mode"
[code]
![image](https://cloud.githubusercontent.com/assets/1858302/24740424/b17b845e-1ad3-11e7-8d14-f3fce58e421a.png)

![image](https://cloud.githubusercontent.com/assets/1858302/24740436/c558129e-1ad3-11e7-9cf5-de9390344aeb.png)

[code]

[2017-04-06 06:19] DaveAppleton commented on #5409
It seems that the events are logged but incorrectly again

![image](https://cloud.githubusercontent.com/assets/1858302/24740489/11146a66-1ad4-11e7-8edd-27c649fd0c63.png)

[2017-04-06 06:20] DaveAppleton commented on #5409
Contract is at 0xC6CdF3f868762A86B5EB97Fbe41f534aA537aC7A

[2017-04-06 07:17] tomusdrw commented on #5396
Actually Parity calculates `eth_gasPrice` as a median of transactions in last 100 blocks. So pretty much you need to send one transaction with gas price higher than 0. If you already have 100 transactions with gas price 0, then yes, you would need to send 51 transactions to rise the value returned by `eth_gasPrice`.

The idea of `eth_gasPrice` is to estimate sensible gas price in the network takin

[2017-04-06 07:19] tomusdrw commented on #5400
Ok, so in the log you provided the transaction seems to be mined. Did the issue also occur in the last case?

I think on Gitter we figured out that the issue here was caused by non-mineable transaction blocking the queue and all subsequent transactions.

[2017-04-06 07:24] chevdor commented on #5400
Hi @tomusdrw, indeed the issue we discussed on Gitter was a blocker. I unlocked the tx but parity still seem to have the same issue than truffle. This is visible by the fact that the contracts are not registered on the contract tab. I may be wrong and that would be a second issue though.

[2017-04-06 07:36] tomusdrw commented on #5400
Let's close this one then and I'll open another one regarding the UI issues. Can confirm that on latest `master`.

[2017-04-06 07:36] #5400 closed

[2017-04-06 07:39] tomusdrw opened #5411 "Contract deployment doesn't watch contracts automatically."
Running `--chain dev`. Doesn't matter if I use "Deploy" or "Develop".
When the contract is deployed (the transaction is mined) it doesn't popup in the watched contracts list.

Not sure if the error is related:
![screenshot from 2017-04-06 09-38-36](https://cloud.githubusercontent.com/assets/581548/24743009/d71154b8-1aac-11e7-8349-2ae6ae287e1a.png)

[2017-04-06 07:39] tomusdrw commented on #5411
Related #5400

[2017-04-06 07:49] 5chdn commented on #5407
How much memory do you have available?

You can use `--cache 16` which reduces the internal caching in memory to a minimum of 16MB.

[2017-04-06 07:52] tomusdrw commented on #5407
Also try this:
`--pruning-history 16 --pruning-memory 16`, but note this will cause your node to be unable to handle more than 16 blocks long forks.

What version are you running?

[2017-04-06 08:08] tomusdrw opened #5412 "Creating new account doesn't properly refresh the list of accounts"
![screenshot from 2017-04-06 10-07-01](https://cloud.githubusercontent.com/assets/581548/24744037/e34a9bc8-1ab0-11e7-8842-7e48db5ddb19.png)

Note that newly imported account BLUE has verification icons, and `Green Boi` doesn't have them anymore.
![screenshot from 2017-04-06 10-07-20](https://cloud.githubusercontent.com/assets/581548/24744052/f5e7a76c-1ab0-11e7-8341-ec50ce44e524.png)

[2017-04-06 09:28] rphmeier opened #5413 "Rename `light::request::Requests` to `Batch`"
...and move it and the builder into a "batch" module.

"Batch" conveys the role of the structure w.r.t. partially handling responses much better.

[2017-04-06 11:17] chevdor commented on #5411
This is not only `--chain dev`. I get the exact same issue + error with `--chain testnet`

[2017-04-06 11:47] DaveAppleton commented on #4959
Zeppelin and most other token contracts will use the same names as the contracts that you use for the token builder.

So even though I save a file called StandardToken.sol, it includes your version instead of mine.

I will try again when I get back on Kovan and report.

[2017-04-06 12:57] adrianbrink commented on #5398
Should we cache theses things:

- status - &H256 -> BlockStatus
- cht_root - usize -> Option<H256>
- block_header - BlockId -> Option<encoded::Header>

I am asking because the Cache in cache.rs doesn't support those mappings yet.

Should I attempt to make the cache generic (ideally using a macro) or just implement a cache specific to HeaderChain and later on make it generic.

@rphmeier

[2017-04-06 13:04] rphmeier commented on #5398
@adrianbrink Just headers should be cached for now. The `Cache` has a mapping `H256` -> `encoded::Header`, and headers are stored on disk also keyed by hash.

Basically, we just need to replace anywhere we go to the DB for headers to first check the cache. If we do go to the DB, it should cache the header after it loads it.

We could cache CHT roots also, but they're really tiny and rarely used, s

[2017-04-06 13:05] rphmeier commented on #5398
The `Cache` structure is also fine as is, for now. These are the main things which need caching, although we will want to cache recent state values in the future.

[2017-04-06 13:50] adrianbrink commented on #5398
I've updated the PR.

[2017-04-06 17:38] #5394 closed

[2017-04-06 18:05] BHSDuncan opened #5420 "ENODE Returned Has Odd + Symbol as Part of Port"
I was trying to follow that Demo PoA Tutorial, and I got to a point where I'm trying to call "parity_addReservedPeer" via RPC but the ENODE value I'm entering isn't working.

The call to "parity_enode" actually returns a value that's slightly odd to me (take a look at the port section towards the end), and so when I pass it in, adding a reserved peer returns "invalid port value". here's the enode

[2017-04-06 20:11] greggdourgarian opened #5421 "gui overlays my other tabs with sign button, is not closeable"
Hi
When I run Parity, it presents a button on the bottom right of my Windows screen for signing transactions.  This button appears even if I'm on another page.  It gets in the way and is uncloseable.

[2017-04-06 20:20] arkpar commented on #5420
`+`  appears when your UDP port is different from TCP port. Parity tries to map both ports to the external network to allow incoming connections over NAT. And I guess your router assigned different ports for TCP and UDP. If you are trying to connect the from internal network you should use internal IP and default port (30303). You can also disable NAT mapping with `--nat=none`

That said, the enod

[2017-04-06 21:25] BHSDuncan commented on #5420
The "+" causing the error was my best guess, since it says "invalid port value", and removing the "+" sign allows the RPC call to go through (but the peer doesn't look to be actually registered since it's using what would appear to be an incorrectly mapped or somehow invalid port).

Regardless, starting Parity with the --nat=none flag gave me an ENODE value that worked with adding the node to the

[2017-04-07 09:01] tomusdrw commented on #5421
On what page does it happen for you? I suspect you're talking about Parity Chrome Extension. Are you using any other ethereum-related extensions?

[2017-04-07 10:56] 5chdn commented on #5421
@greggdourgarian just tested. this is probably not parity but the parity-chrome-extension. you can disable it via `chrome://extensions`. but yes, it should be possible to move and hide it.

[2017-04-07 10:57] 5chdn commented on #5421
Closing in favor of https://github.com/paritytech/parity-extension/issues/72

[2017-04-07 10:57] #5421 closed

[2017-04-07 11:00] 5chdn commented on #5421
On more note, if you access etherdelta via the parity dapp browser, the signer is movable. (just enter `etherdelta.github.io` on parity's home page in the address field and hit enter.

[2017-04-07 13:05] rphmeier commented on #4833
@tomusdrw yeah, it should be done with a whitelist of accepted abstraction contracts. Running to check if it pays the miner is a DoS vulnerability.

I think we can do it similarly to the service-transaction checker: either pass a list of addresses from the command line or fetch them from a Parity-maintained contract.

[2017-04-07 13:39] 5chdn opened #5424 "Hardware wallet not recognized as multi-sig owner"
If you create a multi-signature wallet with one hot key from parity, one cold key (i.e., paper wallet) and one key from nano ledger s, the signer does not allow me to sign the transaction with the hot key + ledger key.

All it says is that it requires an additional signature from another owner. But it does not realize that the ledger key is available for immediate signing :)

[2017-04-07 14:22] rphmeier opened #5426 "Indicate when Engine can warp or light sync"
Just add `can_warp` and `can_light_sync` functions.
On startup, if we can't warp, fall back to full sync.
If we can't light sync, fail gracefully.

[2017-04-07 14:23] rphmeier commented on #5426
Maybe even have `can_light_sync` take a `BlockNumber` so we could, for example, sync all the way to the contract HF even before light sync is implemented there.

[2017-04-07 15:38] rphmeier opened #5427 "Warp/Light-friendly Authority Contract chains"
cc @keorn

Needs to be introduced soon-ish, but there are still a couple small problems I'd like to iron down first.
Opening this issue for discussion.

## Specification

Add a seal field: "authority_transition":
If the authorities set is the same as the prior block, the field's value is empty.
If the authorities set has changed since the last block, the field's value is set to:
    `sha3([nonce:

[2017-04-07 16:12] rphmeier opened #5429 "Have `Handler::on_connect` return a flag indicating whether the peer is kept"
Could be an enum or a simple bool.
If no `Handlers` keep the peer, `LightProtocol` should disconnect them.

Ensure that at least one of the full node handlers says to keep peers.

@adrianbrink Maybe one you'd be interested in?

[2017-04-07 17:09] rphmeier commented on #5427
Consensus proofs should be kept in the state column of the DB, so they play nicely with pruning.

[2017-04-07 17:56] rphmeier opened #5430 "Start CI for pull requests, not branch heads"
cc @paritytech/ci

Otherwise nobody outside the org can contribute effectively!

[2017-04-07 18:55] adrianbrink commented on #5430
I agree :-)

[2017-04-07 20:23] adrianbrink commented on #5430
Maybe it could a system, where a member has to comment ```[ci/check]``` and only then does it build the PR and all subsequent pushes to it.

[2017-04-07 22:42] MicahZoltu opened #5431 "Change eth_sign to expect the user to prepend the message, not Parity."
Since https://github.com/paritytech/parity/issues/4459 was "fixed", Parity has begun prepending the message passed to `eth_sign` with `\x19Ethereum Signed Message:\n`.  This leads to incredibly confusing behavior for the developer since the expectation is that when one callse `eth_sign(address, message)` Parity will sign `message` with the private key associated with `address`.  However, this is _

[2017-04-09 16:39] rphmeier commented on #5427
There's still an open problem with warp where you don't have any way to tell whether the authority set at the warp block is unchanged from the last transition proof you've gotten. It can be solved by periodically setting a header field to the authorities hash + current transition nonce, and only warping to blocks which contain a "heartbeat".

[2017-04-10 04:00] pplwjd commented on #5310
![parity_vsl](https://cloud.githubusercontent.com/assets/5856591/24845521/4a2a1e5e-1de5-11e7-9824-b325580a3adc.png)

[2017-04-10 06:30] pplwjd commented on #5310
The amount displayed in Mist  is Ok.

[2017-04-10 07:42] tomusdrw commented on #5431
The reason the message is prepended is to protect your private key from [chosen-plaintext attack](https://en.wikipedia.org/wiki/Chosen-plaintext_attack).
As you noticed signing arbitrary transactions can be achieved via `eth_signTransaction`.

Documentation needs to be updated for sure, the behaviour of the message not containing the prepended text was implemented to keep it compatible with geth.

[2017-04-10 07:46] 5chdn commented on #5409
Can not reproduce. I compiled the contract above with Solidity 0.4.10, 0.4.3, and 0.3.6 from within Parity 1.6.3 and it compiles without any warnings.

Could you add additional information what exactly you are trying to do, which versions you are using and how it fails for you? Do you have optimizations in place and auto-compile activated?

[2017-04-10 07:52] 5chdn commented on #5408
Not understanding what you are reporting here. is this related to #5409 and if yes, how does this differ?

[2017-04-10 07:58] tomusdrw commented on #5421
@5chdn please note that the behaviour of Parity's home page address field differs if the extension is installed or no. The case you're referring to is when the extension is disabled/not installed.
Updated extension supporting moving of the bar will be released soon as well.

[2017-04-10 08:08] debris opened #5432 "Missing UI icons"
Latest master, chrome, osx, they are missing on all tabs

<img width="551" alt="screen shot 2017-04-10 at 16 07 06" src="https://cloud.githubusercontent.com/assets/2613714/24851896/f1584b0c-1e07-11e7-94bb-b241bb15388e.png">

<img width="580" alt="screen shot 2017-04-10 at 16 07 01" src="https://cloud.githubusercontent.com/assets/2613714/24851900/f3589970-1e07-11e7-9607-a2532163e8c2.png">

[2017-04-10 08:51] 5chdn opened #5433 "Multi-sig: Disabling daily limit sets it to 100,000,000."
Regarding the multi-sig interface: disabling the daily withdrawal limit sets it to 100,000,000. In my eyes that's the exact opposite of disabling the limit. It should be 0, else it would be no multi-sig contract anymore.

I'm tagging this with the security label because on Gitter I've seen there are contracts in the wild with 100,000,000 ETH daily limit. This is no multi-sig at all and I'm sure th

[2017-04-10 09:40] Bunjin commented on #4905
I agree that this feature is a must for HW support :)!

[2017-04-10 12:49] greggdourgarian commented on #5421
?tx!

________________________________
________________________________
From: Tomasz Drwiega <notifications@github.com>
Sent: Monday, April 10, 2017 2:58 AM
To: paritytech/parity
Cc: Gregg Dourgarian; Mention
Subject: Re: [paritytech/parity] gui overlays my other tabs with sign button, is not closeable (#5421)

@5chdn<https://github.com/5chdn> please note that the behaviour of Parity's home page a

[2017-04-10 14:31] 5chdn opened #5435 "docker versions do not match tags"
related to #5354, docker hub images versions do not match:

    docker pull ethcore/parity:stable  # 1.6.3 - should be 1.5.12
    docker pull ethcore/parity:v1.5.12 # 1.7.0 - should be 1.5.12
    docker pull ethcore/parity:beta    # 1.7.0 - should be 1.6.5-beta
    docker pull ethcore/parity:v1.6.5  # 1.6.5 - correct \o/
    docker pull ethcore/parity:latest  # 1.6.3 - should be 1.7.0-unstable

[2017-04-10 14:42] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24861206/2a4a5046-1df8-11e7-8fd9-fc8ff9102c1c.png)
![image](https://cloud.githubusercontent.com/assets/138296/24861213/329d70d4-1df8-11e7-8251-624df30f2458.png)
![image](https://cloud.githubusercontent.com/assets/138296/24861219/397b32ce-1df8-11e7-8297-5bf3e8fc6a72.png)
![image](https://cloud.githubusercontent.com/assets/138296/24864065/5e

[2017-04-10 16:41] MicahZoltu commented on #5431
I'm guessing since this is designed to be geth compatible there is no hope in getting it changed?

Is there some other method that can be used that will allow me to use Parity to sign a message (without a prefix)?

It seems like this attack vector only applies to unlocked accounts, and if you are running an untrusted dApp with an unlocked account they can already steal everything from you so allow

[2017-04-10 16:46] rphmeier commented on #5431
@MicahZoltu I think something close was was added in #5423

[2017-04-10 16:53] MicahZoltu commented on #5431
Hmm, not quite what I was looking for.  In particular, I would never give my passphrase to an untrusted dApp, but with Parity's signer I would not hesitate to let a dApp submit whatever signing requests it wanted (because I have to manually approve each).  Also, I would want to be able to sign any arbitrary byte array.  It is unclear if that call supports that (it says "hashed message").  I suspec

[2017-04-10 17:48] adrianbrink commented on #5398
@rphmeier You can close the issue :-)

[2017-04-10 17:49] adrianbrink commented on #5429
@rphmeier I'll take this one too :-)

[2017-04-10 17:52] #5398 closed

[2017-04-10 17:56] rphmeier commented on #5429
Thanks!

[2017-04-11 00:35] FortHart opened #5436 "Transaction reception Issue"
Parity Wallet : 0x00B8658026c34c50E30E214e3a51BE75557fAFD4

Txid: 0xfa64ba00afab0508d71f96602991e94690208851ac9290edda28f4575be9a23b

The problem is that the Block says the transaction was complete and the funds are inside the Parity wallet. The reality is that the balance of the wallet is 0, And nothing appears on the transaction historty

its been 5 days since both the wallet creation and the tr

[2017-04-11 06:26] 5chdn commented on #5436
Hi. Which Parity version are you using? Which operating system? Are you fully synchronized?

[2017-04-11 06:43] 5chdn opened #5438 "What does the IPFS API in Parity do?"
From Gitter:

Needs docs.

[2017-04-11 06:50] 5chdn commented on #2163
Fixed.

    parity export blocks b.rlp
    2017-04-11 08:49:27  Configured for Foundation using Ethash engine
    2017-04-11 08:49:27  Export completed.

[2017-04-11 06:50] #2163 closed

[2017-04-11 06:54] 5chdn commented on #2170
Looks like fixed.

    parity export blocks b.rlp --from 2 --to 5
    2017-04-11 08:51:20  Configured for Foundation using Ethash engine
    Error exporting incomplete chain

[2017-04-11 06:54] #2170 closed

[2017-04-11 06:54] 5chdn commented on #2523
Ok.

[2017-04-11 06:54] #2523 closed

[2017-04-11 07:00] #3545 closed

[2017-04-11 07:00] #3687 closed

[2017-04-11 07:03] #3693 closed

[2017-04-11 07:06] #4936 closed

[2017-04-11 07:08] #5348 closed

[2017-04-11 07:09] #5371 closed

[2017-04-11 07:16] 5chdn commented on #4406
The link to the log is broken. Did you have time to check the integrity of the RLP data, yet?

[2017-04-11 07:21] 5chdn commented on #5347
Is this fixed?

[2017-04-11 07:37] 5chdn commented on #4523
The boot nodes from https://github.com/ethereum/ropsten/ are not working anymore.

Just tested with latest master 1.7.0-unstable-d3b2bcdd7:

    2017-04-11 09:33:17  Starting Parity/v1.7.0-unstable-d3b2bcdd7-20170410/x86_64-linux-gnu/rustc1.16.0
    2017-04-11 09:33:17  State DB configuration: fast
    2017-04-11 09:33:17  Operating mode: active
    2017-04-11 09:33:17  Configured for Ropsten usin

[2017-04-11 07:45] #5369 closed

[2017-04-11 07:48] 5chdn commented on #4295
Seems to be fixed upstream.

    parity --help | grep -i
    Usage: grep [OPTION]... PATTERN [FILE]...
    Try 'grep --help' for more information.

[2017-04-11 07:48] #4295 closed

[2017-04-11 07:54] 5chdn commented on #3081
Do you still experience this issue with 1.5 or 1.6?

[2017-04-11 07:54] 5chdn commented on #2474
Was anyone able to reproduce this?

[2017-04-11 07:56] #4875 closed

[2017-04-11 07:58] #5340 closed

[2017-04-11 07:59] mtbitcoin commented on #3081
Yes,  issue still persists at least till ver 1.6.2.  Did not further test after that

[2017-04-11 08:09] FortHart commented on #5436
Hello there , Im using the last release on this website "https://parity.io/index.html" i dont know how to check which version i got  , Windows 10 not sure if im fully Synchronized i just downloaded the client and did a normal installation , if you want pictures or any other information just ask it . I appreciate the help

[2017-04-11 08:12] 5chdn commented on #5436
Could you open the Wallet (`parity ui`) by navigating your browser to http://127.0.0.1:8180/ ? This will show version, synchronization status, and connected peers in footer.

[2017-04-11 08:20] FortHart commented on #5436
Parity//v1.6.5-beta-987390f-20170328/x86_64-windows-msvc/rustc1.16.0
Unknown capability

2,401,062/3,515,526  syncing  HOMESTEAD  0/1/25 peers

[2017-04-11 08:57] 5chdn commented on #5436
You are not fully synchronized. Your balance will show up as soon as this process is finished. You might want to switch to warp sync.

https://github.com/paritytech/parity/wiki/FAQ#why-is-warp-synchronization-so-fast

[2017-04-11 08:57] #5436 closed

[2017-04-11 09:51] belgacoin opened #5441 "Event Log links to Etherscan don't work"
In Parity//v1.5.11-stable-f067f12-20170314/x86_64-macos/rustc1.15.1
when clicking "Registry" you'll get a new window with the Event Log.
when clicking on a Ether address, the link to etherscan.io has a double https:// in front so it doesn't work properly.

[2017-04-11 09:54] jesuscript commented on #5347
yeah, we fixed it

[2017-04-11 09:54] #5347 closed

[2017-04-11 10:06] 5chdn commented on #5441
duplicate of #4941 #5377 and should be fixed in #4984 with 52c81fe4eeed111d5f6e1ce6debcafa2960f6e0d on master

@ngotchac this needs backporting, does it?

[2017-04-11 10:06] #5441 closed

[2017-04-11 11:01] gavofyork commented on #5427
Alternative is where it's at.

[2017-04-11 13:28] gituser commented on #884
Guess this has been postponed. Would be nice to have feature analog of [bitcoin's walletnotify](http://bitcoin.stackexchange.com/questions/24457/how-do-i-use-walletnotify) where you can pass incoming txid to any of the wallet addresses to the external script or notify backend instead of querying parity every minute.

[2017-04-11 14:58] rphmeier commented on #5438
Pretty good description here: https://github.com/paritytech/parity/issues/4172

[2017-04-11 15:29] rphmeier commented on #5427
I thought so initially, but it's much less clean to implement since you have to pass parent block receipts into the validation functions on top of the header.

[2017-04-11 16:17] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24910906/88da3b5e-1ec9-11e7-9060-5776f20e89d3.png)
![image](https://cloud.githubusercontent.com/assets/138296/24910910/8ba7f420-1ec9-11e7-95a1-2aa5596709a4.png)

[2017-04-11 16:53] MicahZoltu opened #5442 "Parity crash at startup."
Windows 10

I turned on my computer this morning (Parity set to auto-start) and I received this error while all of my various startup apps were being loaded.

Parity version: `Parity//v1.6.5-beta-987390f-20170328/x86_64-windows-msvc/rustc1.16.0 Capable`

[code]

[2017-04-11 18:13] cdetrio commented on #4523
@5chdn you got unlucky and probably tried to connect when one bootnode had reached its max peers limit and the other was undergoing maintenance. The given bootnodes should be considered [permanent ropsten](https://github.com/ethereum/go-ethereum/pull/14310) bootnodes, and will be maintained going forward.

[2017-04-11 18:52] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24923831/18de9f82-1ef3-11e7-84d2-a4ee1c5cbe78.png)
![image](https://cloud.githubusercontent.com/assets/138296/24924134/060692d8-1ef4-11e7-8ee4-a79c5a1055b4.png)
![image](https://cloud.githubusercontent.com/assets/138296/24924187/369c9ca8-1ef4-11e7-871f-d9bca011377f.png)

![image](https://cloud.githubusercontent.com/assets/138296/24924146/1

[2017-04-11 21:21] miohtama opened #5443 "Parity account action icons lack tooltip and/or labels"
It is unclear what these icons mean - only way to find out is to dare to click them

<img width="880" alt="image" src="https://cloud.githubusercontent.com/assets/49922/24931414/d33ee234-1f15-11e7-9ed0-4241a6992c78.png">

[2017-04-11 22:57] ngotchac commented on #5441
@5chdn Yes it does indeed !

[2017-04-11 23:00] FortHart opened #5444 "Cant Sync please help"
Im trying to get my parity wallet to work , someone told me that i may be out of sync so i checked it out and this was the outgoing message

"

web3.eth.syncing
<
Object { currentBlock: 2401062 , highestBlock: 3519090 , startingBlock: 2401062 , warpChunksAmount: null , warpChunksProcessed: null }
"

Paritiy info:
Parity//v1.6.5-beta-987390f-20170328/x86_64-windows-msvc/rustc1.16.0
Unknown capabili

[2017-04-12 07:01] 5chdn commented on #5444
Looks good, you are syncing fine. You might be wondering why it is so slow? Read this: https://ethereum.stackexchange.com/questions/9883/why-is-my-node-synchronization-stuck-extremely-slow-at-block-2-306-843

To circumvent this, you can use warp sync by resetting your database with `parity db kill` and starting parity again.

[2017-04-12 07:01] #5444 closed

[2017-04-12 07:02] 5chdn commented on #5438
thanks.

[2017-04-12 07:31] 5chdn commented on #5443
which version?

[2017-04-12 07:32] tomusdrw commented on #5443
That's what it looks like on smaller screens I suppose. Are you zoomed in? Is your window maximized?
That said I think it would be good to add at least some tooltips on small screens.

[2017-04-12 07:39] 5chdn commented on #4523
Works now, was just a misconfigured client 0:)

[2017-04-12 07:39] #4523 closed

[2017-04-12 08:20] miohtama commented on #5443
This is OSX / Firefox / 1024 px window.

[2017-04-12 08:56] 5chdn commented on #5435
Also, what's the difference between stable and stable-release?

    $ curl -sS 'https://registry.hub.docker.com/v2/repositories/ethcore/parity/tags/'  | jq '."results"[]["name"]' |sort
    "beta"
    "latest"
    "master"
    "nightly"
    "stable"
    "stable-release"
    "v1.5.12"
    "v1.6.4"
    "v1.6.5"
    "v1.6.6"

[2017-04-12 09:12] 5chdn commented on #5327
@paritytech/ci `stable-release` docker image is still on 1.5.11

[2017-04-12 10:58] bjornwgnr opened #5446 "Parity UI doesn't connect to local node that was previously set to --mode offline"
Steps to reproduce:

1) In UI: change 'mode of operation' to 'Parity doesn't sync'
2) Restart node (no mode config, --> default: last)
3) UI persistently shows `Connecting to the Parity Node. If this informational message persists, please ensure that your Parity node is running and reachable on the network.`

OR

1) start node with `--mode offline`
2) UI persistently shows `Connecting to the Parit

[2017-04-12 10:59] tomusdrw commented on #5446
`enode` not available?

[2017-04-12 11:29] bjornwgnr opened #5448 "web3.site forwards to home.web3.site:8180"
[Wiki](https://github.com/paritytech/parity/wiki/Parity-Wallet) states that one can navigate to http://web3.site/ in order to access UI but instead it forwards to home.web3.site:8180.

![capture](https://cloud.githubusercontent.com/assets/17831185/24955231/d4e30f12-1f82-11e7-8768-f138beff9d69.JPG)

Going straight to `home.web3.site:8080` works for me. (afaik no custom proxy settings)

[2017-04-12 12:04] bjornwgnr opened #5450 "Update wiki subsection Back-up & Restore (for 1.7 release)"
[Back-up & Restore wiki subsection](https://github.com/paritytech/parity/wiki/Backing-up-&-Restoring) needs to be updated to account for [In-Wallet acc export functionality](https://github.com/paritytech/parity/pull/4973).

Probably on hold until 1.7 is released.

[2017-04-12 12:05] 5chdn commented on #5448
I also noticed a couple of issues here, for example, there are many places that explain users to use `localhost:8080` but this is also blocked.

[2017-04-12 12:41] 5chdn commented on #4596
rfc https://github.com/paritytech/parity/wiki/Docker#persistent-data-directory

[2017-04-12 18:39] jamesgroton commented on #5310
We are in the process of fixing this issue now. A small mistake was made putting the token listing back up.

[2017-04-12 19:27] MicahZoltu commented on #4596
@5chdn Recommend just linking to DockerHub rather than explaining complicated CLI commands on how to query for images and/or versions.  If someone wants to use the CLI to query docker hub, they can read the Docker docs on that.  Teaching users the CLI seems out of scope for this, and the web interface is intuitive enough that teaching isn't necessary.

In the ports section, you may want to mention

[2017-04-12 19:30] MicahZoltu commented on #4596
https://github.com/paritytech/parity/wiki/Docker#run-in-background I believe that `-d` and `-it` don't really make sense together.  If you want to run in the background you can just do `-d`.  Setting it up to be interactive but in the background doesn't really make sense.

[2017-04-12 22:55] General-Beck commented on #4596
What privileges we will consider and how to connect the volume. I would be glad to hear your suggestions. For example, if it's just a Ubuntu server or it's Ubuntu core

[2017-04-13 08:25] gavofyork commented on #4457
![image](https://cloud.githubusercontent.com/assets/138296/24996522/794af884-2033-11e7-8762-9e4e30d60967.png)

[2017-04-13 09:09] 5chdn commented on #4596
@MicahZoltu thanks for your feedback.

[2017-04-13 09:36] debris commented on #2474
not really... but anyway, do we need still homebrew in one line installer?

[2017-04-13 09:56] arkpar commented on #2474
Need a clean machine without homebrew to reproduce this

[2017-04-13 16:08] chanwit commented on #5411
+1

I was using `truffle migrate` and it got hang by this bug.

[2017-04-13 17:16] FortHart opened #5453 "Warp sync keeps failing"
i Tried this https://github.com/paritytech/parity/issues/5444

and now im getting stuck at 2,398,406/3,529,305 syncing

Info

Parity//v1.6.5-beta-987390f-20170328/x86_64-windows-msvc/rustc1.16.0
Unknown capability

[2017-04-14 13:50] tomusdrw opened #5457 "CLA website is not working correctly"
http://take.ms/XeX9x
Some issues with SSL and callback URL.

Related #5455

[2017-04-14 14:15] rphmeier commented on #5457
cc @jesuscript

[2017-04-14 15:12] FortHart commented on #5453
LOG

2017-04-14 11:08:40
 Syncing #2401050 93d8…7d6c 0 blk/s 0 tx/s 0 Mgas/s 0+ 0 Qed #2401050 8/10/25 peers 194 MiB db 5 MiB chain 0 bytes queue 60 MiB sync RPC: 1 conn, 4 req/s, 92 µs

2017-04-14 11:08:50
 Syncing #2401050 93d8…7d6c 0 blk/s 0 tx/s 0 Mgas/s 0+ 0 Qed #2401050 7/ 9/25 peers 194 MiB db 5 MiB chain 0 bytes queue 60 MiB sync RPC: 1 conn, 4 req/s, 84 µs

2017-04-14 11:08:55
 Syncing #2

[2017-04-14 15:18] tomusdrw commented on #5453
Are you running on HDD? Those blocks may take realy, realy long to process.

Have you tried syncing with `--warp`? It should sync to the top of the chain in less than 10 minutes.

[2017-04-14 15:26] FortHart commented on #5453
Yes running on HDD, ive tryed that parameter actually the that log session is running with the parameter on

The number is stuck on 2,401,050/3,534,757 syncing should i keep waiting ? how long do you think it may take?

[2017-04-14 21:00] tomusdrw commented on #5453
Please update to latest version 1.6.6, make sure that your time is exact (go to https://time.is) and try `--warp` syncing again. I think that wiping the blockchain data may actually help (remove `C:\Users\<username>\Application Data\Local\Parity\chains\ethereum\db`, cause your computer might be under heavy load while processing those particular blocks and it may inhibit warp sync.

[2017-04-15 03:06] FortHart commented on #5453
2017-04-14 23:02:54
 Starting Parity/v1.6.6-beta-8c6e3f3-20170411/x86_64-windows-msvc/rustc1.16.0

2017-04-14 23:02:54
 State DB configuration: fast

2017-04-14 23:02:54
 Operating mode: passive

2017-04-14 23:02:54
 Configured for Foundation using Ethash engine

2017-04-14 23:02:55
 Updated conversion rate to Ξ1 = US$47.85 (2487933700 wei/gas)

2017-04-14 23:03:00
 Public node URL: enode://064a61

[2017-04-15 05:43] russdirks opened #5458 "Parity crashes on wifi reconnect."
I've been running Parity on Windows 10 for about 3-4 months now, and it crashes every 5-10 days, more or less.  Up until about 3 weeks ago I was running an old version of Parity (1.4 I think), but for the last 3 weeks I've been running 1.6.5.  It has crashed 3 times since then.  Here is the latest crash dump:

[code]

I've used MemTest to test my memory and everything checks out ok.   I tried moni

[2017-04-15 13:47] clesaege opened #5459 "Parity does not allow sending ETH while creating a contract."
Some contracts need to receive ETH when they are created (you can perfectly make the constructor payable), however parity does not show a field to specify the amount of ETH sent at the creation of the contract and does not send any ETH.

A way to fix this would be to add a field to specify the amount of ETH to be sent at contract creation.

[2017-04-15 14:07] rphmeier commented on #5453
@FortHart You can also run with `--snapshot-peers NUM` (replace `NUM` with 10 or 15 or something) to reserve additional slots for warp sync peers, which should help with warp sync success rate.

[2017-04-16 02:39] FortHart commented on #5453
It took around 12 hours but im finally syncded, Thanks for the help

[2017-04-17 00:08] thisbejim opened #5462 "Warp syncs the whole blockchain"
Running `parity --warp` takes ages and seems to be syncing the whole blockchain. I'm on parity v1.6.4 on mac (I used `bash <(curl https://get.parity.io -Lk)` which installed this version).

Edit: Ran the installer again which updated to v1.6.6, looks like it is actually using snapshots now.

[2017-04-17 00:56] #5462 closed

[2017-04-17 09:43] mawenpeng opened #5463 "CentOS Docker file error"
In file docker/centos/Dockerfile, Line#9:
` sh rustup.sh -s -- --disable-sudo`

Seems like it should be:
`sh rustup.sh --disable-sudo`

[2017-04-17 19:45] reiven opened #5464 "Parity wallet running in ropsten should use ropsten.etherscan.io"
Hi!

I'm using Parity and Parity Walletwith Ropsten, but in the wallet i cannot see the related transactions in etherscan because looks like is searching in testnet.etherscan instead of ropsten.etherscan.
It will be posible to detect the network and use the appropiate 'blockexplorer'?

Thanks

[2017-04-18 05:59] qnimate opened #5465 "What is a step and what happens when the next primary doesn't broadcast?"
I don't actually understand what a step is and what's it's use? Does a node always keep updating the step? And when time to create to create and broadcast a block comes it will take the current step value and check if he should broadcast or not.

What do you mean by "Blocks from more than 1 step into the future are rejected."? Does this mean that if block time is 5 seconds then the next block time

[2017-04-18 07:58] keorn commented on #5465
To be clear this question refers to Aura, let me know if the [wiki page](https://github.com/paritytech/parity/wiki/Aura) does not answer your questions.

[2017-04-18 08:16] qnimate commented on #5465
@keorn I had already read the wiki page. The wiki page is very high level. Can you answer the specific questions I mentioned above?

[2017-04-18 08:33] 5chdn commented on #5464
That's exactly what Parity is doing, however, last week etherscan decided to move Ropsten from `testnet.` to `ropsten.` sub-domain. Thanks for reporting.

[2017-04-18 10:09] 5chdn commented on #5453
I can reproduce this issue with 1.6.6, warp sync keeps failing even with `--snapshot-peers 64`.

    0 ✓ user@alcor ~/.opt/parity $ ./target/debug/parity
    Loading config file from /home/user/.local/share/io.parity.ethereum/config.toml
    2017-04-18 12:01:44  Starting Parity/v1.6.6-unstable-a099f549f-20170321/x86_64-linux-gnu/rustc1.16.0
    2017-04-18 12:01:44  State DB configuration: fast

[2017-04-18 10:12] 5chdn commented on #5453
2017-04-18 12:11:56  Encountered error during state restoration: Snapshot restoration aborted.

[2017-04-18 10:22] ruchevits opened #5467 "parity_nodeKind: -32601: Method not found"
Trying to run the example from `https://github.com/paritytech/oo7-parity`

Parity is running with the following arguments:
[code]

[2017-04-18 10:45] tomusdrw opened #5468 "Accounts selector in the Dapp should display all accounts."
Currently the accounts are limited only to the ones that are exposed.

In the snippet it should be possible to:
1. Select a default account
2. Expose accounts for a dapp

but you should be able to choose from all accounts available, currently it seems that only a subset is available.

Not sure if it's only for the Extension bar or for iframed dapps as well (i.e. without extension)

[2017-04-18 10:59] 5chdn commented on #5467
Which version are you running? nodekind was introduced in #5025 (for #5007) and is only available in 1.7.0 nightly branch.

[2017-04-18 11:08] ruchevits commented on #5467
Oh, got it, I was running 1.6.6. Thank you for the quick answer!

[2017-04-18 11:08] #5467 closed

[2017-04-18 11:09] tomusdrw opened #5469 "Support extrernal accounts for `eth_sign` and `parity_decryptMessage`"
UI should generate QRCode for those.

- [x] eth_sign
- [ ] parity_decryptMessage

[2017-04-18 11:40] rphmeier commented on #5465
@qnimate One block may be issued per step, and only one authority is allowed to issue a block for any given step.

Each step corresponds to an `N`-second interval in "real-world" time.
Longer step times give more leeway for authorities' clocks to be out of sync, but also lead to a longer block time. Accepting blocks from 1 step in the future also helps deal with clocks being out of sync.

[2017-04-18 12:04] qnimate commented on #5465
@rphmeier What happens when the next primary doesn't create and broadcast block?

[2017-04-18 12:07] rphmeier commented on #5465
Nothing happens. When the next step after that starts, the next primary has the opportunity to build on the existing chain. The only negative effect is a longer block time during the steps where no blocks are produced.

[2017-04-18 12:20] qnimate commented on #5465
@rphmeier Thanks.

[2017-04-18 12:24] jesuscript commented on #5457
my bad, will fix it up today

[2017-04-18 12:29] 5chdn commented on #5453
Was due to slow debug build. release works.

[2017-04-18 12:29] #5453 closed

[2017-04-18 12:47] Corto77 commented on #5453
Hello
I'am new here and i try to run Parity 1.6.6 (installed from the binary release) on a raspberry pi 3
I launched parity with this arguments
$ parity --pruning fast --mode passive --warp -l info --log-file ~/Parity/parity.log &
after several hours the process aborted with this error
  ' terminate called after throwing an instance of "std::bad_alloc" '
So I restarted Parity adding the argument -

[2017-04-18 13:23] qnimate commented on #5465
@rphmeier How do nodes calculate and find the next validator. I am assuming this formula

[code]

Here 45 is the length of validators list and 5 is the step_duration.

Here the output is sometimes 1 and 4. I don't get any other number. Am I doing something wrong?

[2017-04-18 14:05] keorn commented on #5465
its `t / 5 % 45`

[2017-04-18 14:06] rphmeier commented on #5465
@qnimate you might want to head over to our gitter channel at https://gitter.im/paritytech/parity
or https://gitter.im/paritytech/parity-poa for more questions.

Github issues aren't really suitable for back-and-forth discussion; we prefer to use them to track bugs and enhancements.

[2017-04-18 14:06] #5465 closed

[2017-04-18 17:30] dstarcev opened #5470 "IPC endpoint gets into invalid state when accessed concurrently"
IPC endpoint seems to get broken when there are more than two connections to it.
I have written a small script that helps to reproduce the bug by sending requests from 5 concurrent connections and printing how many of them succeed.
https://github.com/dstarcev/parity-ipc-killer

[2017-04-19 10:10] jacogr opened #5472 "Chrome background image doesn't fill without gaps"
![parity 2017-04-19 12-00-04](https://cloud.githubusercontent.com/assets/1424473/25174921/3182eda2-24f9-11e7-87f7-359d1ac33d36.png)
![parity 2017-04-19 12-03-36](https://cloud.githubusercontent.com/assets/1424473/25174922/319f2774-24f9-11e7-83ef-6bc79f62edb6.png)

[2017-04-19 10:33] NikVolf commented on #5470
The fix will require synchronizing api of two libs (tokio-uds/tokio-named-pipes) and will take some (hopefully short) time

[2017-04-19 12:45] rphmeier commented on #3497
As a first step, I'd like to give engines the ability to manage some of their own data. Should be simple as adding an `Engine::init_db(&mut self, &mut DbConfig)` allowing them to create custom-named column families and be given handles to them which will be usable once the database is opened.

[2017-04-19 13:15] #5359 closed

[2017-04-19 13:47] Ochir opened #5474 "Parity crash during launch."
We wrote a lot of different data to blockchain.
Recently, after new portion of data, parity became to crash with the following output:

     parity --chain morden-new.json --jsonrpc-hosts all --rpcaddr all --rpccorsdomain "*" --usd-per-tx 0 --force-sealing --keys-path batch/parity-$port/keys --db-path batch/parity-$port/db --base-path batch/parity-$port --no-ui --no-dapps --rpcport $rpcport --port

[2017-04-19 13:58] arkpar commented on #5474
Could you do the following?

1. Install dependencies as described here: https://github.com/paritytech/parity#build-dependencies
2. Run
[code]
This should produce a more meaningful crash trace.

[2017-04-19 14:02] #5026 closed

[2017-04-19 14:40] rphmeier commented on #5474
`--fast-and-loose` might be part of the culprit here; this flag disables checks used to prevent database corruption.

[2017-04-19 15:54] jacogr opened #5476 "Make language selection available outside development mode"

[2017-04-19 16:00] #4255 closed

[2017-04-20 16:02] jacogr commented on #5472
Also with dialogs.

![parity 2017-03-22 13-48-27](https://cloud.githubusercontent.com/assets/1424473/25240612/92b18d90-25f3-11e7-913f-d4ae75d4db62.png)

[2017-04-20 16:05] rphmeier opened #5482 "PIP: Get transaction (and receipt) by txhash"
Transaction responses are easily verifiable, but receipts less so. We will need to require a merkle proof of the receipt and corresponding transaction in the header's receipt and transaction tries, respectively

Without these RPCs, a lot of UI functionality doesn't work.

[2017-04-20 18:16] PhABC opened #5483 "Word Search in Develop Console"
Hello all,

I find it rather inconvenient that one can't use 'ctrl+f' in order to search through solidity code. In addition, it would be cool if identical selected words could be highlighted in the current contract, as many IDE do.

If there is already a way to search, please excuse me, I couldn't find it.

[2017-04-20 20:02] se3000 opened #5484 "Make filter poll lifetime configurable"
Poll lifetime is [currently hardcoded](https://github.com/paritytech/parity/blob/v1.6.6/rpc/src/v1/helpers/poll_manager.rs#L22) to 60 seconds. Scheduling software like cron runs at granularity of 60 seconds, and with high traffic, or a queue of filters to check, it's easy to exceed the 60 second lifetime.

Is it possible to make this configurable? Is there a downside?

[2017-04-21 11:09] tjayrush opened #5485 "Account names lost / incorrect for all accounts BANDIT_EVENT_INTEREST_BUTTON_COPY"
The attached image shows the problem very clearly. The names of all accounts is very obviously wrong. I'm running 'parity --tracing on --pruning archive' from the command line on a Mac with macOS Seirra, 10.12.4. Safari browser.

<img width="1467" alt="screen shot 2017-04-21 at 7 03 55 am" src="https://cloud.githubusercontent.com/assets/5417918/25275077/65d9de62-2661-11e7-9ab8-6fbeb0c56a37.png">

[2017-04-21 11:59] realcodywburns opened #5487 "Export state null characters"
OS: Windows 10
Ver: 1.6.6
Config:
`warp = false
[footprint]
fat_db = "on"
db_compaction = "hdd"
cache_size_db = 640
cache_size_blocks = 80
cache_size_queue = 500
cache_size_state = 250`

Command: parity.exe export state >> h:/04212017.json

Expected outcome: json file with all accounts

Actual outcome: json file with all accounts, but after each character a null character is inserted creating a fi

[2017-04-21 12:15] arkpar commented on #5487
What shell are using on windows? Is it configured to produce UTF-16 output? If you are using standard cmd.exe try configuring it for UTF-8 with `CHCP 65001`

[2017-04-21 12:18] realcodywburns commented on #5487
Using powershell

[2017-04-21 12:18] arkpar commented on #5487
Or just pass a filename to parity instead of piping it through the shell
`parity.exe export state h:/04212017.json`

[2017-04-21 12:41] realcodywburns commented on #5487
Removing the pipe resolves the issue.

[2017-04-21 12:59] #5487 closed

[2017-04-21 15:46] ngotchac commented on #5485
What happens if you try to modify the names ?

[2017-04-21 15:46] #4750 closed

[2017-04-21 15:47] ngotchac commented on #5483
Nope you're right, search haven't been implemented yet...

[2017-04-21 18:19] fumecow commented on #5431
Parity is also returning the signature in (v,r,s) order instead of (r,s,v).  I made a diagram illustrating the differences with the way eth_sign works currently for the three clients we typically use:

![signature generation validation](https://cloud.githubusercontent.com/assets/27297969/25290819/c62aed94-268c-11e7-96d4-5c30bcebf51d.png)

[2017-04-21 18:29] MicahZoltu commented on #5431
@fumecow That is probably worth of its own issue.  That is a pretty significant compatibility difference between Geth/Parity.

[2017-04-21 18:29] fumecow commented on #5431
I will create a new issue then.  Thanks...

[2017-04-21 18:38] DaveAppleton commented on #5408
#5409 is primarily reporting a SOLC issue when used in Parity Develop tab.

The main point of this is the error reporting - however this appears to be a MIST issue.

[2017-04-21 18:38] #5408 closed

[2017-04-21 18:40] fumecow opened #5490 "eth_sign behavior differences between Parity and other clients"
Hello, we were having issues with a script running between different nodes using eth_sign and on-chain ecrecover().  Tracked down the differences and created a diagram illustrating the differences we observed here:

![signature generation validation](https://cloud.githubusercontent.com/assets/27297969/25291256/86ecd9ec-268e-11e7-98ec-fc339c4dbafe.png)

[2017-04-22 06:46] holiman commented on #4406
I assume it's invalid RLP, as geth is also reporting ` rlp: too few elements for types.Header,`. So I guess you can close this if it's expected behaviour.

[2017-04-22 09:12] Corto77 commented on #4694
Hello
I am running parity1.6.6 from the binary releases (parity_1.6.6_armhf.deb) on a raspberry pi 3 with debian Jessie
I encounter the same problem even with --warp and --pruning-history 64 (or 128)
As the pi has not a lot of memory (1GB) I use the --cache=256 ARGS...

Starting Parity/v1.6.6-beta-8c6e3f3-20170411/arm-linux-gnu/rustc1.16.0
2017-04-22 05:41:40  State DB configuration: fast
2017-04-

[2017-04-22 13:43] chevdor commented on #5411
I compiled master from today and this issue is no longer there. I would close this issue.

[2017-04-22 13:57] chevdor opened #5491 "UI: Value input fields: add support for 1eX"
Improvement.

Since the default values are in wei, entering small realistic values (from the equivalent of 1cent to 1 euro/dollar) requires quite some zeroes.

Supporting exponential notation would help as:
- 1 finney = 1000000000000000 wei = 1e15 wei

Sure there is the ETH switch but this is not the default and still require a bunch of zeroes.

[2017-04-22 17:06] rphmeier commented on #4406
Panic isn't ideal in this case, but CLI blockchain import is considered to be "trusted" data so there's not much to do in the case that it's invalid. Downgrading to `enhancement` until we can get a better error message there.

[2017-04-23 06:01] wighawag opened #5492 "parity.js native Error with : api.util.decodeMethodInput(methodAbi,callData.paramdata);"
Here is the error I get :

[code]

when executing
[code]

with as parameter:

methodAbi =
[code]

and paramData =
[code]

Note: tested on windows only

[2017-04-23 13:29] tjayrush commented on #5485
I didn't want to do that because it seemed kind a messed up, so I simply rebooted my machine, and I haven't seen the problem since.

[2017-04-23 14:36] AlexanderSupersloth opened #5493 "Missing link to install Chrome extension."
I did not install the Chrome extension when I first installed Parity. Now I cannot find it in the Chrome store. I have tried searching for "Parity" and "Ethereum", but it is not there. I followed an old link I found on Github, but it went to a 404.

I have uninstalled and reinstalled Parity in an attempt to get it to query whether I want to install the extension, but there must be a file somewhere

[2017-04-23 21:41] tomusdrw commented on #5493
The extension can be found here: https://chrome.google.com/webstore/detail/parity-ethereum-integrati/himekenlppkgeaoeddcliojfddemadig

The UI will prompt you to install it in the future if you won't do it, but there should also be a link available in the Settings tab. @jacogr do we have it there?

[2017-04-24 09:17] SilverPin commented on #5493
Thank you for that link. It is curious that a search for neither "Parity" nor "Ethereum" turns up that result. So much for Google having the best search engine!

I am certain there is no link in the settings tab.

[2017-04-24 09:19] tomusdrw commented on #5493
Yeah, the extension is not public, cause it doesn't make much sense without a node.

[2017-04-24 10:11] 5chdn commented on #5493
We should add such a link to settings maybe. And an option to turn off/dismiss the notification if you have it installed but deactivated.

[2017-04-24 10:17] 5chdn commented on #5474
@Ochir can you reproduce this if you do not use `--fast-and-loose`?

[2017-04-24 10:20] 5chdn commented on #5490
I'm not sure how to deal with this issue. This needs a dialogue between all client's developers. Maybe you can push things forward by stating which way you prefer and drafting a proposal?

[2017-04-24 10:42] hrishikeshio opened #5494 "Check the validity of passphrase before recovering"
Currently if you generate a new account by clicking "Recover using passphrase" and do not fill any details, it generates this address

https://etherscan.io/address/0x00a329c0648769A73afAc7F9381E08FB43dBEA72

As you can see someone possibly generated this address using above method and used it to store real ether. This mistake can happen from anyone. Please check validity of passphrase before recov

[2017-04-24 12:43] Ochir commented on #5474
@5chdn No, I wasn't able to reproduce yet without fast-and-loose. I followed Arkadiy's recommendation and compiled beta debug version. When it is launched. the message is shown "Client service error: Client(Database("Invalid argument: You have to open all column families. Column families not opened: col6, col5, col4, col0, col1, col2, col3"))
"

[2017-04-24 12:44] Ochir commented on #5474
At the same time release version 1.6.6 just core dumps after launch

[2017-04-24 13:17] Ochir commented on #5474
I unarchived broken DB again, launched beta debug Parity and it core dumped again.
Below is traceback

2017-04-24 13:16:02 UTC main INFO parity::run  Starting Parity/v1.6.6-unstable-36015c960-20170418/x86_64-linux-gnu/rustc1.16.0
2017-04-24 13:16:02 UTC main INFO parity::run  State DB configuration: fast
2017-04-24 13:16:02 UTC main INFO parity::run  Operating mode: active
2017-04-24 13:16:02 UTC

[2017-04-24 13:27] gavofyork commented on #5494
this is not a "passphrase" and nowhere is stated as such. it clearly states "IMPORT ACCOUNT", and is labelled "recover from passphrase". there are good reasons for recovering from phrases of fewer than 12 words, such as conveniently sharing low-security accounts on a test net or dev chain.

when using a piece of software that is potentially handling real value such as parity, it is generally sensi

[2017-04-24 13:27] #5494 closed

[2017-04-24 13:35] gavofyork opened #5495 "Add information box to "recover from phrase""
Should inform the user that phrases of fewer than 11 words were not generated by Parity and therefore may be insecure.

CC @hrishikeshio

[2017-04-24 13:35] gavofyork commented on #5494
replaced with https://github.com/paritytech/parity/issues/5495

[2017-04-24 15:10] fumecow commented on #5490
I'm not particularly vested in one versus the other.  The documentation on the ethereum wiki for Web3 gives a format for the signature byte order so I would personally lean toward that format.  However, v should probably be returned as 27 or 28 and not 00 or 01 as it states in the documentation.

https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsign

I'd be inclined to change the byte o

[2017-04-24 15:21] ngotchac commented on #5485
Okay, looks strange but totally unrelated to Parity. If it ever occurs again please re-open :)

[2017-04-24 15:21] #5485 closed

[2017-04-24 18:59] elopio commented on #542
PPAs are very insecure both for the user and the developer, because during the installation the maintainer scripts are executed with root permissions. We learned a lot about PPAs here in Ubuntu, so now have a better alternative called snaps, which are secure during installation and execution. The packaging format is a lot simpler than a deb. I made one for parity, you can check it in #5496 .

[2017-04-24 20:05] bizwarp opened #5497 "Mist gets plenty of peers, parity only gets 0-3"
This is for Linux. I installed Mist and synched the blockchain quickly due to lots of peers. Parity is only getting 0 to 3.  303030 is open.  Not sure why Parity is behaving differently than Mist/geth.  Any ideas?  Thanks very much.

[2017-04-25 10:50] svyatonik opened #5502 "SecretStore: dynamically generate KeyPairs"
During encryption/decryption session, every KS[i] -> KS[j] message is encrypted with SHARED_KEY=GENERATE(KS[i].KeyPair.Public, KS[j].KeyPair.Public).
KeyPair.Private of KS[i] is currently stored in plain text in configuration file on KS[i].

As @keorn suggested, it would be good not to store this in plain text => suggestion is to generate these values when encryption session is initializing, so we

[2017-04-25 11:02] 5chdn commented on #5497
Please share your parity node log to start looking into this. You can also run the node with `-lsync=trace,network=trace` and paste the output somewhere.

[2017-04-25 11:06] 5chdn commented on #5474
This may sound strange, but this is _expected_. It looks like your db got corrupted due to an unclean exit in fast and loose mode. From the help:

      --fast-and-loose             Disables DB WAL, which gives a significant speed up
                                   but means an unclean exit is unrecoverable. (default: false)

I'm going to close this. If you can reproduce this with a database cr

[2017-04-25 13:25] arkpar commented on #5497
@bizwarp how exactly do you measure peer count?

[2017-04-25 15:00] bizwarp commented on #5497
@arkpar It shows up on the parity feed in the terminal.  I am running for 2 hours and I finally got to 3/ 3/25.
I will post a log shortly.  I have to do my crappy day job for a little while :)

[2017-04-25 15:42] bizwarp commented on #5497
Getting 5/5/25 now.  I guess it takes a while to acquire peers.  I am closing this.  Thanks for your help.

[2017-04-25 15:42] #5497 closed

[2017-04-26 08:11] ngotchac commented on #5492
Can I ask you where did you get this paramData from ?
Because strings are supposed to be encoded as UTF-8, and the one you provided seems to be standard ASCII (the value being `Eduardo Fernández (@eduardo)`):

* UTF-8: `0x4564756172646f204665726e` `c3a1` `6e64657a2028406564756172646f29`
* ASCII: `0x4564756172646f204665726e` `e1` `6e64657a2028406564756172646f29`

[2017-04-26 15:52] ruchevits opened #5515 "Can I use web3.shh with Parity client?"
I'm trying to whisper a message using web3.shh following the example here: https://github.com/paritytech/parity/wiki/Whisper-Overview

[code]

And it throws an error:

[code]
My Parity client is running with the following arguments:

[code]

Parity version: `x86_64-unknown-debian-gnu/parity_1.7.0_amd64.deb`
Web3 version: `0.18.4`

Also asked on Ethereum SE: https://ethereum.stackexchange.com/quest

[2017-04-26 16:04] ngotchac commented on #5492
@jacogr Here's the issue : https://github.com/paritytech/parity/blob/30b3b5e2a7ebaea2a9e21f7bc11629892f2da905/js/src/abi/decoder/decoder.js#L116

We might want to try to decode as ASCII if the UTF8 decoding fails, but I'm not sure...

[2017-04-26 17:26] rphmeier commented on #5515
Hi @ruchevits,

Whisper support hasn't landed yet, but we are targeting it for the 1.8 release. The wiki pages are up as design documents and references as opposed to tutorials, but I understand the confusion!

[2017-04-26 17:26] #5515 closed

[2017-04-27 01:06] rstormsf opened #5516 "Account verification state"
Flow:
1. Open Parity
2. Click verify
3. initiate a contract(request)
4. Close the Verification window
5. Open Signer tab
6. Confirm the request(Pay 0.007eth)
Receive SMS, but have no way to enter it if the Verification window was previously closed.

[2017-04-27 01:21] rstormsf opened #5517 "Sms verified accounts are not displayed in KOVAN"
I just sms-verified my account in FOUNDATION chain.
When I switched to Kovan, I don't see that account.

[2017-04-27 07:22] 5chdn commented on #5516
Doesn't the signer pop after step 3? You should not be required to do steps 4 and 5.

[2017-04-27 07:23] 5chdn commented on #5517
And what if you import that account from your foundation keys?

[2017-04-27 08:10] Corto77 commented on #4694
Hi
I increased the cache from 256 to 512
parity --warp --mode active --pruning-history 128 --cache=512 --logging info
Parity is running as a service (debian jessie)

The event occurs less frequently, but it still occurs ( around each  14hours)
 terminate called after throwing an instance of 'std::bad_alloc'
 what():  std::bad_alloc

[2017-04-27 10:05] arkpar commented on #4694
@Corto77 Since your system is running out of memory you need to decrease cache size, not increase it. Try setting to 8

[2017-04-27 13:37] Corto77 commented on #4694
I am surprised by your suggestion : do you suggest me to set the --cache to 8 ?
As I said, increasing the value of the cache decreases the occurrence of the error... So it seems to me that doing the opposite will make it worse...

[2017-04-27 13:46] arkpar commented on #4694
`--cache` specifies how much memory Parity will use for data cache. Lower values reduce memory requirements. Also consider setting `--pruning-memory 32` instead of `--pruning-history`

[2017-04-27 14:05] rudolfix commented on #4905
Ideal scenario would be to provide derivation path when account from hardware wallet is added, the workaround would be to provide the root from which several accounts are derived in the settings. For example you can provide `44'/60'/103'` and several accounts like `44'/60'/103'/0'` `44'/60'/103'/1'`...

[2017-04-27 18:42] rstormsf commented on #5516
You are right that I'm not required to do step 4 and 5, but it happens that I closed my browser tab with partiy and opened it again and made a payment in signer tab.

[2017-04-27 18:45] rstormsf commented on #5517
@5chdn sure I can import the account and have some Kovan ether in that. But it shouldn't be that way, right? Please correct me if my expectations are wrong.

[2017-04-27 21:59] Dwyane36 opened #5520 "Client service error: Client(Database("Error converting string"))"
I get this message when i try to open parity with --geth. How can i fix it?
![2017-04-28_02-48-55](https://cloud.githubusercontent.com/assets/19737554/25506146/a8389002-2bbe-11e7-8523-fe2c0713b57a.png)

[2017-04-27 22:17] General-Beck commented on #5463
https://github.com/paritytech/parity/commit/81c449fc99e6b4b5208a0be2df4d0781866962d0

[2017-04-27 22:17] #5463 closed

[2017-04-28 02:21] #5520 closed

[2017-04-28 06:26] daithi-coombes opened #5522 "Docker host can't access image"
I'm having issues getting the Docker image to be accessed by the host machine. It appears that parity is binding to the container's localhost (127.0.01) instead of 0.0.0.0. I'm not sure if changing this is a security issue? For me it seems like a bug for access to the web-wallet.

Here is the docker-compose file I'm trying to get working...

[code]

[2017-04-28 06:27] daithi-coombes commented on #5522
What I'm trying to do is provide parity as a linked container for my own dapp. Been a while since I used docker and only way I could get my dapp to work out of the box is to bind it to 0.0.0.0 instead of 127.0.0.1. This is essential as I will be using both my dapp & parity as a training tool.

[2017-04-28 11:32] wighawag commented on #5492
Sorry to getting back only now,

the data was from the original devcon 2 token contract (0x0a43edfe106d295e7c1e591a4b04b5598af9474c) and the paramData come from calling
```_api.util.decodeCallData(transaction.input).paramdata```

you can see the error in action with https://github.com/etherplay/ethreader

[2017-04-30 02:20] pplwjd opened #5529 "Seems my parity cannot synchronize smoothly"
Parity//v1.6.6-beta-8c6e3f3-20170411/x86_64-windows-msvc/rustc1.16.0 , running in windows 10.

Today I opened the Parity client, but it cannot synchronize with the latest blocks like before.

The Node Logs as follow:

    2017-04-30 09:05:53 Starting Parity/v1.6.6-beta-8c6e3f3-20170411/x86_64-windows-msvc/rustc1.16.0
    2017-04-30 09:05:53 State DB configuration: fast
    2017-04-30 09:05:53 Oper

[2017-04-30 14:57] chrisfranko opened #5530 "When trying to make an IPC connection on 1.7"
`thread '<unnamed>' panicked at 'assertion failed: self.remaining_mut() >= src.len()', /home/notroot/.cargo/registry/src/github.com-1ecc6299db9ec823/bytes-0.4.1/src/bytes.rs:1122
stack backtrace:
   1:     0x55fded3cf66c - std::sys::imp::backtrace::tracing::imp::write::hf33ae72d0baa11ed
                        at /buildslave/rust-buildbot/slave/stable-dist-rustc-linux/build/src/libstd/sys/unix/bac

[2017-04-30 17:04] NikVolf commented on #5530
hi can you please run node with extra argument `-lipc=trace` and post the result?

[2017-05-01 13:09] chrisfranko commented on #5530
yes ill be able to do it later, flying on planes today

On 30 April 2017 at 13:04, Nikolay Volf <notifications@github.com> wrote:

[2017-05-02 09:00] 5chdn commented on #5517
Yes, that's a valid concern.

[2017-05-02 09:46] 5chdn commented on #5529
Can you check that your time is in sync with the rest of the world? https://time.is/

[2017-05-02 09:50] bjornwgnr opened #5532 "Update wiki to include composeTransaction RPC"
see PR: #https://github.com/paritytech/parity/pull/5524

[2017-05-02 09:52] 5chdn commented on #5522
Hi there, could you clarify the difference between your expectations versus what you experience? Also, could you add details how your parity is configured inside the docker container. I'm having difficulties to understand what you are binding to 0.0.0.0, the dapps server, the wallet, or any apis?

[2017-05-02 12:25] 5chdn commented on #4937
Also reported on Gitter, probably related:

For convenience, here is [Debian Policy 5.6.20](https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Installed-Size):

[2017-05-02 15:34] #5532 closed

[2017-05-02 15:50] bjornwgnr opened #5535 "Parity v1.6.6-beta running on Kovan doesn't update to nightly"
Running `Parity//v1.6.6-beta-8c6e3f3-20170411/x86_64-windows-msvc/rustc1.16.0`

[2017-05-02 15:52] #5492 closed

[2017-05-02 16:02] coinkiwi opened #5536 "parity -geth crashing with Mist Wallet (Ethereum Wallet)"
MacOSX
Parity - current from GitHub
Ethereum Wallet - 0.8.9 (Foundation version)
Chain: foundation

Starting parity, after it synced with chain, starting Ethereum Wallet. Parity node crashes.

    $ ./target/release/parity --chain foundation --cache=4096 --geth -lipc=trace
    2017-05-02 17:53:36  main INFO parity::run  Starting Parity/v1.7.0-unstable-b0e4c913c-20170502/x86_64-macos/rustc1.17.0

[2017-05-02 16:41] ngotchac commented on #5472
@jacogr Did #5475 fixed it ?

[2017-05-02 16:52] NikVolf commented on #5536
should be related to
https://github.com/paritytech/jsonrpc/issues/132

[2017-05-02 16:53] NikVolf commented on #5530
No worries, got log from another issue
Must be related to
https://github.com/paritytech/jsonrpc/issues/132

[2017-05-02 17:58] YangNation opened #5537 "No identities have been found on the page."
Hi,

Parity throws the message

"Connecting to the Parity Node. If this informational message persists, please ensure that your Parity node is running and reachable on the network."

Parity Ethereum Integration throws this error message:

"No identities have been found on the page."

I have tried re-installing Parity and restarting my computer. Neither fixed the issue.

Please help.

Yang

[2017-05-02 18:24] kumavis opened #5538 "race condition - getCode / getTransactionReceipt"
we seem to have found a race condition

when deploying a contract, the transactionReceipt is (sometimes) available before the contract code of the freshly deployed contract. Parity returns empty code for the freshly deployed contract.

This causes an issue with web3 when it checks for the presence of contract code as a sanity check after deployment.

https://github.com/ethereum/web3.js/blob/7560f2

[2017-05-02 18:29] kumavis commented on #5538
transactionReceipt
[code]
[code]
getCode
[code]
[code]

[2017-05-02 18:55] rphmeier commented on #5538
I'd guess this is because we some pending changes end up in the `BlockChain` before writing the `StateDB` changes. The way to work around this should be the same way as it's done for light client import: have `BlockChain` return a `Pending` struct with all pending changes to avoid anything going into cache before disk, and then `commit(pending)` to caches after things are written to the database.

[2017-05-02 21:37] kumavis commented on #5538
im not familiar with your priority system, but to give you an idea of the impact, this issue causes all contract deploys made through web3 to seem to fail

[2017-05-03 02:53] YangNation commented on #5537
![capture](https://cloud.githubusercontent.com/assets/15274205/25646835/c8fd50be-2fee-11e7-9c62-ab03fa35dfff.PNG)

[2017-05-03 04:51] YangNation commented on #5537
Parity's keystores reside here
1 - %HOMEPATH%/AppData/Roaming/Parity/Ethereum/keys/ethereum

Parity's chain data resides here:
%HOMEPATH%/AppData/Local/Parity/Ethereum

Delete the chain data and reboot Parity to solve this problem.

[2017-05-03 04:51] #5537 closed

[2017-05-03 07:48] 5chdn commented on #5529
Looks good now. Are you using an HDD or SSD? You could optimize your database compaction with:

    --db-compaction TYPE           Database compaction type. TYPE may be one of:
                                   ssd - suitable for SSDs and fast HDDs;
                                   hdd - suitable for slow HDDs;
                                   auto - determine automatically (default: auto).

[2017-05-03 07:48] #5529 closed

[2017-05-03 08:04] 5chdn commented on #5537
No need to remove the database, just (re)start parity.

[2017-05-03 08:21] 5chdn commented on #5538
@kumavis Thanks for reporting, the priority is really only an internal thing to organize tickets. I'm pretty sure @rphmeier has already a fix in the pipe. I have to admit, the term _annoyance_ keeps confusing people.

(_`F3-annoyance`: The client behaves within expectations, however this "expected behaviour" itself is at issue._ / _`F2-bug`: The client fails to follow expected behavior._ [wiki:Lab

[2017-05-03 09:02] JanKalin commented on #4664
Sorry, still here...
![clipboard01](https://cloud.githubusercontent.com/assets/18305372/25654053/ee78d63c-2fef-11e7-85d1-6ceaec35c8ac.png)
![clipboard02](https://cloud.githubusercontent.com/assets/18305372/25654057/f2373d5e-2fef-11e7-928e-82ce09e836f7.png)

[2017-05-03 09:25] rphmeier commented on #5538
@5chdn duly noted :)

I don't have a fix yet, but I'll try and get to this before the next release.

[2017-05-03 12:12] #5384 closed

[2017-05-04 03:00] myqq0000 opened #5550 "How to run a private chain with Docker?"
Hi! I'm new to Parity. I try to run a private chain with Docker these days. I follow
[https://github.com/paritytech/parity/wiki/Docker](url) to write a configuration file and mount it with `docker -v`. But it returns ```Could not load specification file.```
I thinked it because the configuration file doesn't mount at first. But then I tried default configuration file, it run successfully. So I thi

[2017-05-04 06:05] marekkirejczyk opened #5551 "Parity stoped syncing after block 860047/860048 [ropsten]"
I run parity on 3 separate computers, two different locations. And both stopped syncing. One is stuck on block #860047 and the second is stuck at #860048.

After couple restarts, they got to #860054. Anyone else experiencing that?

Parity v1.6.5, Tried on macOS Sierra and Ubuntu 16.04.

Screenshot attached:
<img width="1266" alt="foodtoken_ _deploy_sss-staging____apps_sss_current_log_ _ssh_deploy_

[2017-05-04 07:21] #5536 closed

[2017-05-04 07:21] #5530 closed

[2017-05-04 07:41] 5chdn commented on #5551
What mode of operation is configure, could you check this? (UI -> Settings -> Parity)

[2017-05-04 07:46] 5chdn commented on #5550
You have to pass the demo-spec.json also to your docker container, something like this:

    $ mkdir -p ~/.local/share/io.parity.ethereum/docker/
    $ touch ~/.local/share/io.parity.ethereum/docker/config.toml
    $ touch ~/.local/share/io.parity.ethereum/docker/demo-spec.json

Edit config and spec as you wish, and add the full path to the config:

    [parity]
    chain = "/mnt/demo-spec.json"

[2017-05-04 08:19] myqq0000 commented on #5550
![image](https://cloud.githubusercontent.com/assets/19700709/25695212/cf32fb5e-30e4-11e7-8538-7ed0ba1c811f.png)
Oh! I forget the configuration is effective in docker, not in my local directory. That's so stupid.
I just change the

to

in the config.toml. It works successfully!

Thanks a lot!!

[2017-05-04 08:53] #5550 closed

[2017-05-04 08:58] 5chdn commented on #5551
Ropsten is dead again, probably someone attacked it. You could switch to kovan or a develop chain meanwhile.

[2017-05-04 08:58] #5551 closed

[2017-05-04 08:58] 5chdn commented on #5551
Closing as this is beyond our control.

[2017-05-04 10:40] 5chdn commented on #5551
If this is only a temporary chain reorganization you could try to reset your ropsten database with `parity --chain ropsten db kill` and increase pruning history to something like `parity --chain ropsten --pruning-history 512` to prevent medium sized forks from interfering with your chain.

[2017-05-04 10:45] ddorgan commented on #5550
Hi Myqq0000,

     Have you looked at the parity POA page at: https://github.com/paritytech/parity/wiki/Private-development-chain, it has some very useful references. Basically if you only want to do a one node system with instant sealing, you can run parity with the option --chain dev and that's it! You should then be able to open the UI and see an account with lots of ether in it and instant sea

[2017-05-04 10:59] ddorgan commented on #5522
Can you try adding this option to your parity configuration: ```--ui-interface 0.0.0.0```

[2017-05-04 12:31] bjornwgnr commented on #5535
It worked for me this morning.

[2017-05-04 12:53] myqq0000 commented on #5550
@ddorgan That helps me a lot! Thank you very much! 👍

[2017-05-04 13:57] ngotchac commented on #5411
Yes this should be fixed now. Please re-open if it happens again.

[2017-05-04 13:57] #5411 closed

[2017-05-04 15:20] marekkirejczyk commented on #5551
Thanks for update (switched to kovan)

[2017-05-05 08:00] #4277 closed

[2017-05-05 08:00] #5387 closed

[2017-05-05 09:52] ngotchac commented on #5424
@5chdn Could you confirm that this is still happening? I cannot reproduce the issue.

[2017-05-05 10:28] 5chdn commented on #5424
@ngotchac Actually this is not about hardware wallets, but if you have two of the required keys in your local accounts, parity signer does not request the 2nd signature.

[2017-05-05 10:28] 5chdn commented on #5433
That's actually not the case. The switch just enables ETH vs. Wei.

[2017-05-05 10:28] #5433 closed

[2017-05-05 10:32] 5chdn commented on #5424
Needs documentation. The pending requests are not at the signer tab but at the wallet details.

[2017-05-05 10:32] #5424 closed

[2017-05-05 13:19] ngotchac commented on #5464
This should have been fixed in #5455

[2017-05-05 13:19] #5464 closed

[2017-05-05 13:22] ngotchac commented on #5446
@bjornwgnr Is this still happening ? I cannot reproduce the issue.

[2017-05-05 13:26] ngotchac commented on #4886
This is done.

[2017-05-05 13:26] #4886 closed

[2017-05-05 13:27] #3869 closed

[2017-05-05 13:27] ngotchac commented on #3869
This is done

[2017-05-05 13:28] ngotchac commented on #3870
This is done

[2017-05-05 13:28] #3870 closed

[2017-05-05 13:29] ngotchac commented on #4824
Closed via #4973

[2017-05-05 13:29] #4824 closed

[2017-05-05 13:33] ngotchac commented on #4557
Closed via #4598

[2017-05-05 13:33] #4557 closed

[2017-05-05 15:46] ngotchac commented on #5017
Users can enter `https://codeload.github.com/<owner>/<repo>/zip/<hash>` in the Dapp edit dialog, and the dapp will load correctly. Thus, closing this issue.

[2017-05-05 15:46] #5017 closed

[2017-05-05 17:19] ngotchac commented on #5409
These are warnings reported by the formal verification tool in Solidity. It's thus not related to Parity.

[2017-05-05 17:24] ngotchac commented on #5409
Sorry, didn't see the second part of the issue. When events has no names, it does display them incorrectly.

[2017-05-05 21:35] brenzi opened #5568 "message signing with eth.sign() broken"
I'm trying to sign a text message with the private key of my ethereum wallet, but the function seems to be broken.

reproduce (web3 console):
[code]
now parity trusted signer asks me for the passphrase. Then I get:
[code]
now, this signature doesn't verify on https://etherchain.org/verify/signature
nor manually (using ethereumjs-utils):
[code]
ecrecover fails:
[code]
This seems to work for others

[2017-05-06 05:40] MicahZoltu commented on #4905
At the moment BIP32 derivation paths are a [bit of a mess in Ethereum](https://github.com/ethereum/EIPs/issues/84#issuecomment-292324521).  Because of this, allowing the user to provide a custom derivation path is fairly essential.

Going forward, hopefully EIP 600, 601 and 602 will go through that will provide a more user friendly solution in this space.

[2017-05-06 05:53] MicahZoltu opened #5569 "Ledger Blue support"
I am trying to use a Ledger Blue with Parity `Parity//v1.6.6-beta-8c6e3f3-20170411/x86_64-windows-msvc/rustc1.16.0` but Parity doesn't seem to like it.  When I run `"C:\Program Files\Ethcore\Parity\parity.exe" -l hardware_wallet=trace` I see the following output:
[code]

Ledger Ethereum App: 1.0.5
Ledger OS Firmware MCU: 2.1
Ledger OS Firmware Secure Element: 2.0

I have tried with both contracts

[2017-05-06 06:22] MicahZoltu commented on #5569
Apparently I _didn't_ actually try with browser support disabled (or perhaps I didn't wait long enough).  _Disabling_ browser support did the trick.  This is a bit counter-intuitive since Parity UI is in a browser.

[2017-05-06 06:22] #5569 closed

[2017-05-06 06:24] MicahZoltu commented on #4905
For anyone wondering what derivation path Parity is using with a Ledger device attached it is `m/44'/60'/0'/0`.

[2017-05-06 10:10] MagaTailor commented on #1003
It seems this issue is not about parity any longer, thanks to @malbarbo's rustc work.

[2017-05-06 10:10] #1003 closed

[2017-05-06 20:26] holiman opened #5571 "Block import does not exit after import (sometimes)"
When I run parity within Hive, parity sometimes does not exit after import.

Example log:
[code]

The termination was after I explicitly killed the process after a couple of hours. The Hive-test process is several steps; and the command which did not exit was `parity $FLAGS import blocks/$block`, which is executed here: https://github.com/karalabe/hive/blob/master/clients/parity:master/parity.sh#L

[2017-05-07 11:39] lfrickel opened #5572 "Error: "Events not supported""
I take an example from the "Events" section of the OFFICIAL guide to Solidity (http://solidity.readthedocs.io/en/develop/contracts.html?highlight=event#events):
[code]
I compile this through the Parity editor and get a number of errors:
[code]

Someone can explain to me: HOW CAN IT BE?

**I MUST have events for my contract!**

Thankful in advance for the answer!

[2017-05-07 16:30] rphmeier commented on #5572
@ngotchac aren't these just warnings from the static analyzer as opposed to the solidity compilation  itself?

[2017-05-07 16:34] rphmeier commented on #5571
logging with `shutdown=trace` might help us know if something is deadlocking or not shutting down correctly.

[2017-05-07 21:34] holiman commented on #5571
Ok, I've set it to:
[code]
Based on the answer here: https://ethereum.stackexchange.com/questions/3331/how-to-make-parity-write-logs.

[2017-05-08 08:27] 5chdn commented on #5572
Duplicate of #5409

[2017-05-08 08:27] #5572 closed

[2017-05-08 08:31] 5chdn commented on #5568
This might be the issue here #5490

[2017-05-08 08:32] 5chdn commented on #5490
Merging #5568:

[2017-05-08 08:33] 5chdn commented on #5568
I merged your comment to #5490 if you don't mind subscribe it.

[2017-05-08 08:33] #5568 closed

[2017-05-08 09:21] ngotchac commented on #5572
@rphmeier You are right. Maybe the static analyser messages should be hidden by default (could be/is misleading)

[2017-05-08 10:35] rudolfix commented on #4905
FYI: I've modified current master to allow passing derivation path in command line. It's dirty and I use it myself now but if anyone is interested here it is: https://github.com/Neufund/parity . I'll try to clean it up and then make a pull request. Command line is like this: `parity ui --chain dev --hardware-wallet-key-path "44'/60'/103'/0"`

[2017-05-08 10:46] rphmeier commented on #5571
yep, that works. you can also set the `RUST_LOG` environment variable as an equivalent solution.

[2017-05-08 10:49] ngotchac commented on #5334
Actually Etherstats doesn't format this number, just display the full figure.
Using T/K/M won't be of much help since on Mainnet the difficulty is at `2.5 * 10^20` H currently, which would be `2.5 * 10^8` TH and isn't a lot more readable (and using anything above T is not the common).

![image](https://cloud.githubusercontent.com/assets/2864519/25801136/b2ecc0be-33ec-11e7-99bf-42c83b731902.png)

F

[2017-05-08 10:49] #5334 closed

[2017-05-08 10:55] ngotchac commented on #5343
The benchmarks (https://github.com/babel/babili#benchmarks) aren't quite satisfying yet... And it seems that it targets newish browsers (compiles to ES2015+), which might be fine but we need to make a decision on that.

[2017-05-08 11:11] ngotchac commented on #5459
This has been done in #4919
Note that you need to add the `payable` modifier to the constructor function.

[2017-05-08 11:11] #5459 closed

[2017-05-08 17:12] daithi-coombes commented on #5522
sorry late reply...

@5chdn I was hopping that running the docker image would give me access to JSONRPC and the web interface, but instead they appear to only be available on the docker interface and not by 127.0.0.1 or localhost on the host machine.

@ddorgan I'm thinking it would be a switch as such, but no joy with it.
I've started `ethcore/parity:nightly` with the following to get an interacti

[2017-05-08 17:25] daithi-coombes commented on #5522
... I'm wondering if its a problem with Docker. Could they have decided to only support ipv6 and parity is only setup for ipv4?

On my host..
[code]

In the parity container...
[code]

[2017-05-09 03:35] slothbag opened #5576 "defaultAccount not working for browser extension"
When using the browser extension I change the default account using the parity overlay/popup panel that appears, however defaultAccount still shows the first address.

[2017-05-09 08:14] rstormsf opened #5578 "ZeroTier, parity network remote access"
I can't figure out what should be a way to expose parity for external connections.
I've been trying to set it up with some flags in order to allow it working with zerotier.com but no such luck.

Please let me know what parity cli flags I should run with in order to connect externally.

The same problem when I try to use it with EC2+ECS as docker image and forwarding ports.

Any advice would be hel

[2017-05-09 08:56] tomusdrw commented on #5578
Depending what exactly you want to expose it's either:
1. For JSONRPC:
`--jsonrpc-interface all --jsonrpc-hosts all`

2. For Wallet (UI)
`--dapps-interface 0.0.0.0 --ui-interface 0.0.0.0 --ui-no-validation` (NOTE: it's insecure)
More details on *securely* exposing Parity Wallet:
https://github.com/paritytech/parity/wiki/Wallet-Remote-Access

or both of those things.

To have a little bit more cont

[2017-05-09 08:56] #5578 closed

[2017-05-09 10:33] 5chdn commented on #5576
What do you mean by _'still shows the first address'_? You can't change the default account? What steps to reproduce this (working for me)?

[2017-05-09 10:43] 5chdn commented on #4261
This issue is critical and labelled with _consensus_, means this could lead to a consensus failure. It's also labelled with _asap_: No need to stop dead in your tracks, but issue should be addressed as soon as possible. It is assigned to @arkpar and attached to milestone _patch_.

It's unclear if this issue still appears with the latest stable or beta releases, and I'm tempted to close this as _st

[2017-05-09 10:46] 5chdn commented on #2152
This issue is labeled with _security_: The client fails to follow expected, security-sensitive, behavior. It is however, neither assigned to a developer nor attached to milestone. It's also inactive for more than 6 months.

I'm tempted to close this issue as _wontfix_ unless someone objects, and adds an assignee and milestone within 7 days,

[2017-05-09 10:51] 5chdn commented on #2285
This issue is labelled with _security_: The client fails to follow expected, security-sensitive, behaviour; and _asap_: No need to stop dead in your tracks, but the issue should be addressed as soon as possible. It is assigned to @jacogr and @tomusdrw and attached to milestone 1.7. It is inactive for 3 months.

Could you comment within 7 days on the progress of this issue and if this is still rele

[2017-05-09 10:53] 5chdn commented on #3574
This issue is labelled with _security_: The client fails to follow expected, security-sensitive, behaviour. However, it is inactive for several months, and neither assigned nor attached to a certain milestone.

Please assign this issue to someone at devops and add a deadline/milestone within 7 days, or close the issue if fixed otherwise.

[2017-05-09 10:56] #5409 closed

[2017-05-09 10:56] 5chdn commented on #4315
This issue is labelled with _security_: The client fails to follow expected, security-sensitive, behavior. It is inactive for 4 months and not assigned to any developer. It is however, scheduled for the 1.7 release.

Please, comment within 7 days if this deadline is realistic, and assign a developer to the task or close the ticket if the issue is fixed or stale.

[2017-05-09 10:58] 5chdn commented on #4672
This issue is labelled with _security_, but has neither an assignee nor a deadline.

Please, assign this issue to someone at @paritytech/ci, attach a milestone and comment on the progress within 7 days or close as stale otherwise.

[2017-05-09 11:00] 5chdn commented on #2137
Closing as stale. Please reopen if this issue persists with newer macos versions.

[2017-05-09 11:00] #2137 closed

[2017-05-09 11:03] 5chdn commented on #2215
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for more than 6 months. It's neither assigned nor linked to a milestone.

Please, decide on a deadline and assign this ticket to a developer within 7 days or close it if fixed otherwise.

[2017-05-09 11:05] 5chdn commented on #2689
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for several months. It's neither assigned nor linked to a milestone.

Please, decide on a deadline and assign this ticket to a developer within 7 days or close it if fixed otherwise.

[2017-05-09 11:06] 5chdn commented on #3749
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for several months. It's neither assigned nor linked to a milestone.

Please, decide on a deadline and assign this ticket to a developer within 7 days or close it if fixed otherwise.

[2017-05-09 11:08] 5chdn commented on #4389
This issue is labelled with _bug_: The client fails to follow expected behavior; and was fixed 3 months ago but the fix was reverted. It's assigned to @tomusdrw and linked to the _patch_ milestone.

Could I get an update within 7 days if this is fixed or not and if you are going to re-introduce the fix?

[2017-05-09 11:09] 5chdn commented on #4439
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for several months. It's neither assigned nor linked to a milestone.

Please, decide on a deadline and assign this ticket to a developer within 7 days or close it if fixed otherwise.

[2017-05-09 11:17] 5chdn commented on #4541
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for several months. It's assigned to @arkpar and linked to the _patch_ milestone.

@lgpawel do you still have connectivity issues with 1.7.0-unstable (latest master)?

Could anyone get back to the last question by @lgpawel (previous comment) within 7 days and state if this is still relevant? Please clo

[2017-05-09 11:19] 5chdn commented on #4664
This issue is labelled with _bug_: The client fails to follow expected behavior. It's assigned to @arkpar but not linked to a milestone.

Please, decide on a deadline within 7 days or close it if it's fixed already.

[2017-05-09 11:26] bjornwgnr commented on #5446
@ngotchac It is not happening on my `Parity//v1.7.0-nightly-8fdda2f-20170503/x86_64-windows-msvc/rustc1.17.0` anymore.

[2017-05-09 11:34] 5chdn commented on #4680
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for several months now. It's assigned to @arkpar and linked to the _patch_ milestone.

@slothbag could you state whether this is still an issue with 1.6 or 1.7 branches? Does this only occur if you use PoA? And could you also run the client with `-sync=trace,network=trace` and share the log with us (pa

[2017-05-09 11:39] 5chdn commented on #4694
This issue is labelled with _bug_: The client fails to follow expected behavior. It's neither assigned nor linked to a milestone.

@Corto77 could you please state whether _reducing_ cach size and pruning history solves this issue?

@paritytech/core-devs is this related to #4439? Please, decide on a deadline and assign this ticket to a developer within 7 days or close it otherwise.

[2017-05-09 11:40] 5chdn commented on #5301
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for 2 months. It's neither assigned nor linked to a milestone.

Please, decide on a deadline and assign this ticket to a developer within 7 days or close it otherwise.

[2017-05-09 11:45] 5chdn commented on #5327
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@zertrin @AntonioJuliano the initial issue should be fixed for quite a while now, and this issue is the `stable-release` branch on docker is pointing to an outdated version of parity. See #5435 - please use version string till this is fix

[2017-05-09 11:45] #5327 closed

[2017-05-09 11:47] 5chdn commented on #5349
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's assigned to @ngotchac but not linked to a milestone.

Please, decide on a deadline within 7 days or close it otherwise.

[2017-05-09 11:49] 5chdn commented on #5446
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

Closing as _stale_ as it can not be reproduced anymore.

[2017-05-09 11:49] #5446 closed

[2017-05-09 11:53] 5chdn commented on #5370
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@paritytech/core-devs Please, assign this issue and decide on a deadline within 7 days or close it as duplicate of #4389 otherwise.

[2017-05-09 11:57] 5chdn commented on #5412
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@paritytech/ui-devs Please, decide on a deadline within 7 days or close it otherwise.

[2017-05-09 12:00] 5chdn commented on #5420
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@paritytech/core-devs is `--nat none` a valid workaround or should the ports containing `+` issue be addressed? Please, assign a developer and decide on a deadline within 7 days or close it otherwise.

[2017-05-09 12:03] 5chdn commented on #5432
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@paritytech/ui-devs Is it related to #5443? Please, assign this to a developer and decide on a deadline within 7 days or close it otherwise.

[2017-05-09 12:05] 5chdn commented on #5443
This issue is labelled with _bug_: The client fails to follow expected behavior. It's assigned to @ngotchac but not linked to a milestone.

Since there's a patch available, I added it to the 1.7 milestone. Please, don't forget to close it once #5562 is merged. Please, also check if #5432 is a duplicate of this issue.

[2017-05-09 12:07] 5chdn commented on #5457
This issue is labelled with _bug_ but neither assigned nor linked to a milestone.

@paritytech/ci @jesuscript Please, assign this and decide on a deadline within 7 days.

[2017-05-09 12:09] 5chdn commented on #5470
This issue is labelled with _bug_: The client fails to follow expected behavior. It's assigned to @NikVolf but not linked to a milestone.

I'm closing this as fixed as a patch is available in #5489 and attaching it to milestone 1.7.

[2017-05-09 12:09] #5470 closed

[2017-05-09 12:11] 5chdn commented on #5535
Closing as fixed.

[2017-05-09 12:11] #5535 closed

[2017-05-09 12:17] 5chdn commented on #5538
Adding this to the 1.7 milestone as @rphmeier promised to get this into the next release :)

[2017-05-09 12:25] 5chdn commented on #5571
@holiman anything in the logs yet?

@paritytech/core-devs @rphmeier please assign this issue and link it to a milestone within 7 days.

[2017-05-09 12:27] holiman commented on #5571
No, it's been running fine since I added that flag :) It'll pop up sooner or later I guess..

[2017-05-09 12:29] 5chdn commented on #5458
This issue is labelled with _panic_: The client panics and exits without proper error handling. It's inactive for one month and neither assigned nor linked to a milestone.

@paritytech/core-devs Please, assign a developer to this issue and decided on a deadline within 7 days.

[2017-05-09 12:30] 5chdn commented on #5442
This issue is labelled with _panic_: The client panics and exits without proper error handling. It's inactive for one month and neither assigned nor linked to a milestone.

@paritytech/core-devs Please, assign a developer to this issue and decided on a deadline within 7 days.

[2017-05-09 12:35] 5chdn commented on #1899
I'm tempted to close this as _stale_ unless someone cares to test this setup and answers this question on parity chain reorg.

@paritytech/ci or @paritytech/core-devs Please assign this issue to someone and decided on a deadline within 7 days, thanks.

[2017-05-09 12:38] slothbag commented on #5576
When using a custom dapp with the parity browser extension it shows a small html overlay in the bottom right of the browser, when you click on that overlay it shows a list of accounts, and you can click on an account and it gets highlighted.. I assume by highlighting the account it sets it as the 'default'?

If that is the case, then doing a web3.eth.defaultAccount from within the dapp does not re

[2017-05-09 12:40] 5chdn commented on #4187
I'm tempted to close this as _stale_ unless someone answers this question on reorg notifications.

@paritytech/core-devs Please assign this issue to someone and decide on a deadline within 7 days, thanks. Also, check if this one is a related question: #1899

[2017-05-09 12:43] 5chdn commented on #5014
I'm tempted to close this as _stale_ unless someone steps up to join this discussion on the `pending` state.

Please assign this issue to someone and decide on a deadline within 7 days, thanks.

[2017-05-09 12:44] 5chdn commented on #5310
Fixed this last week.

[2017-05-09 12:44] #5310 closed

[2017-05-09 12:47] 5chdn commented on #5396
Bumping this discussion to make sure we move on.

@keorn should we return `minGasPrice` instead of `0` if there are no transactions found in last 100 blocks? Please try to add a comment within 7 days. Also, if you are consent on a solution, please assign this ticket and decide on a deadline.

[2017-05-09 12:47] 5chdn commented on #5407
Closing as answered.

[2017-05-09 12:47] #5407 closed

[2017-05-09 12:55] 5chdn commented on #5576
Are you talking about the browser available at http://127.0.0.1:8180/#/web (this overaly is the parity trusted signer) ? Or the _browser extension_ you see on external sites like https://etherdelta.github.io ?

[2017-05-09 13:02] slothbag commented on #5576
The latter, the browser extension you see on external sites..

Am I assuming correctly that clicking on one of your accounts in the parity overlay that it changes the defaultAccount?

[2017-05-09 13:02] tomusdrw commented on #5576
@slothbag Could you provide a code snippet? We update `web3.eth.defaultAccount` on a global `web3` object (https://github.com/paritytech/parity-extension/blob/086ca27447f687c0ec8453ae6bfd296e038562c1/web3/provider.js#L94)
If you initialize `web3` on your own like this:
[code]
then `web3.eth.defaultAccount` is not updated (since we don't even have a reference to your `web3` instance)
In such case y

[2017-05-09 13:04] 5chdn commented on #5522
Well, this might be both, a docker and a parity issue, however, this should clearly not happen:

@paritytech/core-devs could anyone comment on this, the client should not tell users to open 0.0.0.0 in their browser. Once confirmed, please assign and decided on a deadline.

@daithi-coombes I tried thinking forth and back, but docker should expose the ports passed with `-p 8180:8180` to the host, so

[2017-05-09 13:07] slothbag commented on #5576
Ahhh, thanks that makes sense.

So I updated the code to not do a `web3 = new Web3(web3.currentProvider)` and it still does not appear to be working.. it always returns the same address which funnily enough is not [0], now its [5], but always [5] even after a refresh.

[2017-05-09 13:08] 5chdn commented on #1152
Closing as _wontfix_ as per @arkpar's comment. Feel free to reopen this if it's still relevant.

[2017-05-09 13:08] #1152 closed

[2017-05-09 13:09] slothbag commented on #5576
Interesting, if I disable the extension and then re-enable the extension then the defaultAccount is updated, but it clicking on new accounts does not update (unless I disable/re-enable the extension)

[2017-05-09 13:11] 5chdn commented on #2474
Migrated to https://github.com/paritytech/scripts/issues/13

[2017-05-09 13:11] #2474 closed

[2017-05-09 13:13] 5chdn commented on #3081
This issue is labelled with _bug_: The client fails to follow expected behavior; and is inactive for one month. It's neither assigned nor linked to a milestone.

@paritytech/core-devs Please, decide on a deadline and assign this ticket to a developer within 7 days or close it otherwise.

[2017-05-09 13:21] gavofyork commented on #5490
At the time of writing, `eth_sign` was written to be consistent with Ethereum's RPC documentation as provided in the example on the wiki.

There should either be an EIP process to change the RPC spec on the wiki or geth should respect that wiki.

[2017-05-09 13:21] 5chdn commented on #4592
It's not clear what contract resides at `0xeDBaF3c5100302dCddA53269322f3730b1F0416d` and I have issues to figure out how we can help you with this question. I also don't see how this is related to parity. Have you tried asking this very same question on [Ethereum Stack Exchange](https://ethereum.stackexchange.com/)?

[2017-05-09 13:21] #4592 closed

[2017-05-09 13:22] 5chdn commented on #4937
@paritytech/ci could you assign this issue to anyone at devops and decide on a deadline? Are we going to improve the debian binaries or are we going to switch to swap? Please, update this ticket within 7 days.

[2017-05-09 13:25] 5chdn commented on #4959
Sorry, I can not reproduce this. Please reopen this issue if you can provide exact steps on what you are doing which allows us to reproduce this very same issue. Thanks!

[2017-05-09 13:25] #4959 closed

[2017-05-09 13:26] 5chdn commented on #5010
Closing as fixed as per patches in #4958 and #4949 .

[2017-05-09 13:26] #5010 closed

[2017-05-09 14:14] tomusdrw commented on #3243
Closing since it's addressed by #5304 and NativeSigner.

[2017-05-09 14:14] #3243 closed

[2017-05-09 14:18] tomusdrw commented on #2285
RPCs for dapp-specific accounts are complete. UI should work fine for Parity Extension Signer, but doesn't work correctly for network/builtin dapps.

[2017-05-09 14:27] russdirks commented on #5458
Just thought I would mention, since I reported this issue (24 days ago), it has not crashed once.

[2017-05-10 08:21] 5chdn commented on #3484
This issue is labelled with _asap_: No need to stop dead in your tracks, however issue/PR should be addressed as soon as possible. But it is inactive for more than 6 month and neither assigned nor linked to a milestone.

@paritytech/ci Please, review this ticket within 7 days, assign it to someone at devops and decide on a deadline.

[2017-05-10 08:23] 5chdn commented on #5335
This issue is labelled with _asap_: No need to stop dead in your tracks, however the issue should be addressed as soon as possible. But it is inactive for more than 2 months and not assigned.

@paritytech/core-devs Please, review this ticket within 7 days, assign it to a developer and decide if the 1.7 milestone is a realistic deadline. Thanks :)

[2017-05-10 08:25] 5chdn commented on #5469
This issue is labelled with _asap_: No need to stop dead in your tracks, however the issue should be addressed as soon as possible.

I'm adding it to the 1.7 milestone as a patch is available.

[2017-05-10 08:27] 5chdn commented on #4802
This issue is labelled with _trivial_: Can be fixed by anyone with access to a computer. But it is inactive for more than 2 months and neither assigned nor linked to a milestone.

@paritytech/ui-devs Please, review this ticket within 7 days, assign it and decide on a deadline. Thanks :)

[2017-05-10 08:28] 5chdn commented on #4288
This issue is labelled with _trivial_: Can be fixed by anyone with access to a computer. But it is inactive for more than 3 months and neither assigned nor linked to a milestone.

@paritytech/ui-devs Please, review this ticket within 7 days, assign it and decide on a deadline. Thanks :)

[2017-05-10 08:28] 5chdn commented on #4246
This issue is labelled with _trivial_: Can be fixed by anyone with access to a computer. But it is inactive for more than 3 months and neither assigned nor linked to a milestone.

@paritytech/ui-devs Please, review this ticket within 7 days, assign it and decide on a deadline. Thanks :)

[2017-05-10 08:32] 5chdn commented on #884
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it is inactive for several months.

It was initially scheduled for 1.4, now it's attached to the 1.7 milestone. Is this a realistic deadline?

[2017-05-10 08:33] tomusdrw commented on #884
Yup, initial part ready in #5456 we still may want to implement geth-compatible subscriptions (I'll work on that soon)

[2017-05-10 08:55] 5chdn commented on #1295
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's not assigned and postponed to 1.9 and beyond.

It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 08:56] 5chdn commented on #1496
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's postponed to 1.9 and beyond.

It probably needs a re-prioritization, or a proper deadline.

[2017-05-10 08:57] 5chdn commented on #1582
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's neither assigned and nor linked to a milestone.

It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 08:57] 5chdn commented on #2479
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's not assigned and postponed to 1.9 and beyond.

It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:06] 5chdn commented on #2831
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's neither assigned nor linked to a milestone.

@paritytech/core-devs It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:08] 5chdn commented on #3091
This issue is labelled with _sometimesoon_: Issue is worth doing soon; and _easy_: Can be fixed by copy and pasting from StackOverflow. But it's neither assigned nor linked to a milestone.

It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:09] 5chdn commented on #3135
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's neither assigned nor linked to a milestone.

@paritytech/ui-devs It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:11] 5chdn commented on #3188
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for several months and not linked to a milestone.

@paritytech/ci It probably needs a re-prioritization, or a proper deadline.

[2017-05-10 09:12] ngotchac commented on #3542
As #3541 is closed, what's the status of this issue?

[2017-05-10 09:13] 5chdn commented on #3268
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for more than 6 months and neither assigned nor linked to a milestone.

It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:14] 5chdn commented on #3332
This issue is labelled with _sometimesoon_: Issue is worth doing soon; and _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. But it's inactive for more than 6 months and neither assigned nor linked to a milestone.

@paritytech/core-devs Please, review this issue within 7 days. It probably needs a re-prioritization, or a proper deadline and a

[2017-05-10 09:19] 5chdn commented on #4402
This issue is labelled with _sometimesoon_: Issue is worth doing soon. A patch is available but _inprogress_ for several months now without activity.

Please check if the 1.8 deadline is still realistic :)

[2017-05-10 09:20] 5chdn commented on #4445
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for several months and neither assigned nor linked to a milestone.

@paritytech/ci It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:24] 5chdn commented on #4500
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for several months and neither assigned nor linked to a milestone.

Do we have a Trezor yet? It probably needs a re-prioritization, or a proper deadline and an assignee.

[2017-05-10 09:32] 5chdn commented on #4519
Is #4958 solving this issue? Can this be closed?

[2017-05-10 09:35] tomusdrw commented on #4519
I don't think so, IIRC still don't have "cancel via replace with no-op transaction" implemented.

[2017-05-10 09:42] 5chdn commented on #4858
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for 2 months and not assigned.

@paritytech/core-devs Please make sure this is correctly prioritized, assigned, and the selected milestone 1.7 still realistic.

[2017-05-10 09:43] 5chdn commented on #5430
This issue is labelled with _sometimesoon_: Issue is worth doing soon. But it's inactive for more than a month and neither assigned nor linked to a milestone.

@paritytech/ci Please make sure this is correctly prioritized, assigned, and decide on a proper deadline.

[2017-05-10 09:57] 5chdn commented on #1968
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/core-devs Are we keeping geth and mist compatibilty or are we going to drop it at some point? Please, decide within 7 days on a deadline and add an assignee or close it otherw

[2017-05-10 10:00] 5chdn commented on #1988
Do we need an issue to track forked dependencies? Please consider closing this issue and create a page on the wiki somewhere.

[2017-05-10 10:01] 5chdn commented on #3333
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/core-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:04] rphmeier commented on #1988
It's a _tracking_ issue to be closed when we use solely crates on crates.io

[2017-05-10 10:13] luclu commented on #1968
Hi there, we are currently refactoring the IPC endpoint selection in Mist the be node agnostic.

Once merged any node added to Mist's [clientBinaries.json](https://github.com/ethereum/mist/pull/2093/files#diff-e33487aa70598f95497e969cdd109b0a) will be recognized with any arbitrary dataDir/ipc-socket/etc specified in the JSON file.

[2017-05-10 10:14] keorn commented on #4891
Warp works on Kovan now.

[2017-05-10 10:14] #4891 closed

[2017-05-10 10:16] 5chdn commented on #1988
Thanks for clarification. I'm well aware of the implications, just was wondering if this could be tracked somewhere else. However, having a ticket for this makes sense.

[2017-05-10 10:20] 5chdn commented on #3413
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/ui-devs Dapps server authentication has been removed. Can this ticket be closed?

[2017-05-10 10:21] 5chdn commented on #3648
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/dapp-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:22] rphmeier commented on #2479
I did finish an implementation of this, but under testing we found that it was actually slightly slower due to increased pruning overhead. I think it's possible to make this into a real optimization, but it would take a lot of refactoring of the pruning code. This is something @krl and I might be working on in a few months.

[2017-05-10 10:22] 5chdn commented on #3679
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:24] 5chdn commented on #3688
Closing question as answered.

[2017-05-10 10:24] #3688 closed

[2017-05-10 10:25] 5chdn commented on #3744
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/core-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:27] 5chdn commented on #3837
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/core-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:27] rphmeier commented on #3744
Hard to say what the deadline will be since it depends how far into light client avenues we explore. This enhancement will only be useful upon integrating micropayments into the light client protocol.

[2017-05-10 10:30] 5chdn commented on #3855
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

Also, while I think this is already complete in most cases, we should also consider not using the term _UI_ (technical term) but _Wallet_ (the product).

@paritytech/ui-devs Please, decid

[2017-05-10 10:31] #3188 closed

[2017-05-10 10:33] 5chdn commented on #3744
Ok, if this is rather an enhancement, I'm fine with tracking and prioritizing it in the _light client_ project dashboard. Thanks :)

[2017-05-10 10:39] 5chdn commented on #3889
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

It's probably sufficient to patch out any 'unknown' commit strings to mark major and minor releases with something like this `Parity/v1.4.6-beta/x86_64-linux-gnu/rustc1.13.0`. The commit

[2017-05-10 10:42] 5chdn commented on #2813
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year and not assigned.

@paritytech/core-devs Please, add an assignee within 7 days and review the _1.9 and beyond deadline_ or close it otherwise. Thanks.

[2017-05-10 10:44] 5chdn commented on #3562
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year and not assigned yet.

@paritytech/ui-devs Please, review within 7 days the 1.8 deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:45] 5chdn commented on #4058
Agreed, adding your suggestions to #3268.

[2017-05-10 10:46] 5chdn commented on #3268
Suggestions from #4058:

[2017-05-10 10:46] #4058 closed

[2017-05-10 10:47] 5chdn commented on #4078
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:49] 5chdn commented on #4123
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/ui-devs @paritytech/dapp-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:50] 5chdn commented on #4185
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:51] 5chdn commented on #4229
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January and not assigned yet.

@paritytech/ui-devs Please, review the 1.8 deadline within 7 days and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:52] 5chdn commented on #4321
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/core-devs Please, decide within 7 days on a deadline and add an assignee or close it otherwise. Thanks.

[2017-05-10 10:52] ngotchac commented on #3413
Yes, this is no longer relevant. Please re-open if I'm wrong @tomusdrw

[2017-05-10 10:52] #3413 closed

[2017-05-10 10:53] adrianbrink opened #5589 "Kovan testnet not syncing beyond 32,321"
I'm using the newest build of parity master.

Command
[code]

[code]
<img width="1280" alt="screen shot 2017-05-10 at 12 50 59" src="https://cloud.githubusercontent.com/assets/11320251/25895269/7e47b672-357f-11e7-8b21-31687d591cd8.png">

I would expect Kovan to fully sync. Any idea why this doesn't work? Also, how to I reset my entire chain history, but ideally only for Kovan.

[2017-05-10 10:53] ngotchac commented on #3679
@jacogr Is this still an issue ? Don't have Mac OS, cannot test...

[2017-05-10 10:57] keorn commented on #5589
Should be fixed in the PR above. To reset the Kovan chain use `parity db kill --chain kovan`.

[2017-05-10 11:03] 5chdn commented on #3141
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:05] 5chdn commented on #3684
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since last year, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:06] 5chdn commented on #3925
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March and not assigned yet.

@paritytech/ui-devs Please review the 1.8 deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:09] 5chdn commented on #4079
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:11] 5chdn commented on #4373
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since January, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:12] 5chdn commented on #4370
This issue is labelled with _panic_: The client panics and exits without proper error handling. It's inactive for several months and neither assigned nor linked to a milestone.

@paritytech/core-devs Please, assign a developer to this issue and decide on a deadline within 7 days.

[2017-05-10 11:13] 5chdn commented on #4393
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since February, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:16] 5chdn commented on #4401
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since February, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:16] 5chdn commented on #4430
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since February, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:18] 5chdn commented on #4511
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since February, neither assigned nor linked to any milestone.

Also, the toggle should use the token TLA instead of ETH in this case, related to #4123.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:20] rphmeier commented on #4321
I'd call this a duplicate/portion of #3332, will close and edit accordingly.

[2017-05-10 11:20] #4321 closed

[2017-05-10 11:20] lgpawel commented on #5589
Sadly, after `git pull`, `git checkout revert-aura`, `cargo build --release`, and `parity db kill --chain kovan` the result is the same.

[2017-05-10 11:21] ngotchac commented on #4229
This feature is now available in the Wallet :)

[2017-05-10 11:21] #4229 closed

[2017-05-10 11:22] rphmeier commented on #3332
Slow NAT detection also an issue, reported by @tomusdrw in #4321:

[2017-05-10 11:26] tomusdrw commented on #3413
Correct, dapps can be retrieved via RPC now as well.

[2017-05-10 11:39] ngotchac commented on #4393
This is fixed in the current Wallet version.

[2017-05-10 11:39] #4393 closed

[2017-05-10 11:39] 5chdn commented on #4798
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March, neither assigned nor linked to any milestone.

@paritytech/dapp-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:40] 5chdn commented on #4963
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:41] 5chdn commented on #4991
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:42] 5chdn commented on #5008
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March, neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:43] ngotchac commented on #4802
Is the action bar button that needs to be auto focused? Not sure why...

[2017-05-10 11:43] 5chdn commented on #5300
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since March, neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:45] 5chdn commented on #5311
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since April, neither assigned nor linked to any milestone.

@paritytech/core-devs I see there is a (partial) patch available. Will this make it into 1.7? Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:46] tomusdrw commented on #5300
Fixed in https://github.com/paritytech/jsonrpc/issues/89

[2017-05-10 11:46] #5300 closed

[2017-05-10 11:46] 5chdn commented on #4401
Yes, sorry for the noise.

[2017-05-10 11:49] 5chdn commented on #4394
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's inactive since February, neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:52] 5chdn commented on #4406
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:54] 5chdn commented on #4889
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:55] 5chdn commented on #4474
From #5339:

[2017-05-10 11:56] 5chdn commented on #5339
Closing in favor of #4474.

[2017-05-10 11:56] #5339 closed

[2017-05-10 11:56] 5chdn commented on #5382
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:57] 5chdn commented on #5413
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:59] 5chdn commented on #5431
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 11:59] 5chdn commented on #5435
This issue is labelled with _annoyance_: The CI behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ci Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:00] 5chdn commented on #5435
Actually, this is more than just _annoyance_.

[2017-05-10 12:00] 5chdn commented on #5448
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:00] 5chdn commented on #5468
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:01] 5chdn commented on #5472
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Did #5475 fix this? Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:01] arkpar commented on #4889
@sant9ga "Contract mode" should be enabled to send tokens. Everything else has been addressed I believe

[2017-05-10 12:01] #4889 closed

[2017-05-10 12:02] 5chdn commented on #5482
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/core-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:03] 5chdn commented on #5483
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:04] 5chdn commented on #5490
Closing as _intended_ as per comment above.

[2017-05-10 12:05] arkpar commented on #4694
Memory usage reduced with #5526. 1GB should be more than enough now unless doing a full sync.

[2017-05-10 12:05] #4694 closed

[2017-05-10 12:05] 5chdn commented on #5493
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:06] 5chdn commented on #5516
Closing as _intended_. The verification window explicitly tells you not to close it :-)

[2017-05-10 12:06] #5516 closed

[2017-05-10 12:06] tomusdrw commented on #5490
The wiki examples now state differently:
https://github.com/ethereum/wiki/wiki/JSON-RPC#example-21
https://gist.github.com/bas-vk/d46d83da2b2b4721efb0907aecdb7ebd#file-ercevocer-js-L42

I'm in favour of returning geth-compatible result (`r,s,v` where `v` is [27,28])

[2017-05-10 12:09] 5chdn commented on #5517
This issue is labelled with _annoyance_: The client behaves within expectations, however this "expected behaviour" itself is at issue. It's neither assigned nor linked to any milestone.

@paritytech/ui-devs Please decide on a deadline and add an assignee within 7 days, thanks!

[2017-05-10 12:10] arkpar commented on #4670
Has been fixed a while ago by @gavofyork

[2017-05-10 12:10] #4670 closed

[2017-05-10 12:10] adrianbrink commented on #5589
The issue still persists

[2017-05-10 12:11] 5chdn commented on #5490
Ok, are we going to include this in 1.7 milestone or rather later?

[2017-05-10 12:13] tomusdrw commented on #5490
I think would be sensible to do it in 1.7 and also backport the change to 1.6

[2017-05-10 12:18] #4615 closed

[2017-05-10 12:31] ngotchac commented on #5472
I talked with @jacogr and #5475 did not fix this. If anyone can reproduce it would help.

[2017-05-10 12:34] ngotchac commented on #5468
Should it display all accounts like so?
![image](https://cloud.githubusercontent.com/assets/2864519/25898767/b994bf50-358d-11e7-805d-6445d86526dd.png)

[2017-05-10 12:42] tomusdrw commented on #5468
I think it should be sometihng like this, but:
1. The dialog should close after single click.
2. Single click should select default account
3. Making account visible should be done by a smaller checkbox (like default on a screenshot)

Cause here the use case is "Select an account", not "Select visible accounts"

[2017-05-10 12:42] #4246 closed

[2017-05-10 12:44] arkpar commented on #5458
@russdirks Have you been running the same 1.6.5 version all this time?

[2017-05-10 12:46] arkpar commented on #1152
Worth mentioning that we've disabled debug symbols by default anyway to improve compilation speed

[2017-05-10 12:54] arkpar commented on #3749
Fixed by #4100

[2017-05-10 12:54] #3749 closed

[2017-05-10 12:54] ngotchac commented on #5468
Ok, I agree.

[2017-05-10 12:54] arkpar commented on #4439
Resolved with #5526

[2017-05-10 12:54] #4439 closed

[2017-05-10 12:56] arkpar commented on #4541
The original issue is fixed in #4563

[2017-05-10 12:56] #4541 closed

[2017-05-10 13:02] #5376 closed

[2017-05-10 13:19] rphmeier commented on #5311
necessary improvements (although not exactly the ones described here) have been made in #5419 and #5573 and this issue will be closed when those are reviewed and merged.

[2017-05-10 13:24] #4394 closed

[2017-05-10 13:24] rphmeier commented on #5008
@debris interested in taking this one? if you think it's not worth refactoring feel free to close, since I don't see an immediate API solution to make it better.

[2017-05-10 13:43] keorn commented on #5589
Please check with the current branch, works fine for me.

[2017-05-10 14:19] #5443 closed

[2017-05-10 14:31] russdirks commented on #5458
I have been running 1.6.5 since about 3 weeks prior to reporting this issue all the way until now.  In those 3 weeks prior it crashed 3 times.

[2017-05-10 15:00] guanqun commented on #4972
Is this still a valid issue? If so, I'll can help fix this, this seems to be a small ticket. Basically I believe we'd move stuff move `ethstore/src/dir/paths.rs` to `util/path/src/lib.rs`.

[2017-05-10 15:15] guanqun commented on #2913
This looks like small enough issue for me to dive in, but I don't quite get what you mean. Do you mean we should support `--help --verbose` instead of reporting `Unknown flag`?

[2017-05-10 15:19] rphmeier commented on #2913
@guanqun Right now our help message is really big. The feature here is to reduce the CLI help to only essential options unless specifying `--verbose` to make the message more approachable.

[2017-05-10 15:25] guanqun commented on #2913
Ah, I got it. It's like `git help` vs `git branch --help`. :)

[2017-05-10 15:33] #5349 closed

[2017-05-10 15:33] #5358 closed

[2017-05-10 15:34] rphmeier commented on #2913
Yep, something like that. I think this would be an awesome opportunity to port our CLI to [clap](https://github.com/kbknapp/clap-rs) over docopt, but that would be a much larger change.

[2017-05-10 15:53] lgpawel commented on #5589
After re-cloning the repo, `git submodule init` and `update`, and `cargo build --release`, unfortunately cannot confirm. The version number I get is `Parity/v1.7.0-unstable-8146cbdae-20170510/x86_64-linux-gnu/rustc1.17.0`.

[2017-05-10 16:12] keorn commented on #5589
You will need `git checkout revert-aura`, its the pending fix.

[2017-05-10 16:38] lgpawel commented on #5589
OK, seems to work now. Thanks!

[2017-05-10 17:37] lfrickel commented on #5572
First, thanks to @rphmeier, @5chdn and @raingloom for the comments.
Secondly, it seems strange to me that the validator, the compiler and the official manual have three different and conflicting opinions, based on such basic functions as events.
Thirdly, I, of course, immediately checked the work of this example, regardless of the messages of the validator.
Result: Parity writes me "No events has

[2017-05-10 20:30] rstormsf commented on #5578
Thank you @tomusdrw I will give it a try.
Is there a way to expose both UI and JSONRPC?

[2017-05-10 20:41] rstormsf commented on #5522
@daithi-coombes https://github.com/rstormsf/ethcore_parity - try this one, it uses Docker image and deploys to AWS using EC2 and ECS services

[2017-05-11 01:33] jcalfee opened #5596 "Docker build failed [stable]"
https://github.com/paritytech/parity/blob/master/docker/ubuntu-stable/Dockerfile
[code]

[2017-05-11 08:04] Corto77 commented on #4694
hi

I've tried several configurations of --cache and --pruning-history

With --cache =128 the problem occurs after a little bit more than one day

right now, It has been running with  "--warp --mode active
--pruning-history 64 --cache=64 --logging info" for 3 days without error...

the top command shows that parity is using almost 50% of the memory

"USER      PR  NI    VIRT    RES    SHR S  %CPU

[2017-05-11 08:28] rphmeier commented on #5596
Seems like one of our dependencies is using a really old version of `nix` which fixed this issue over a year ago: https://github.com/nix-rust/nix/pull/353

[2017-05-11 08:35] tomusdrw commented on #5578
Sure, just run with all the flags listed there, so `--jsonrpc-interface all --jsonrpc-hosts all --dapps-interface 0.0.0.0 --ui-interface 0.0.0.0 --ui-no-validation` or have a look at the wiki page how to do it in a more secure way.

[2017-05-11 13:40] tomusdrw commented on #2913
The issue here is also that currently any option that is available in config file needs to have a CLI argument, we can start with a possibility to have config options without CLI flag behind them and move some advanced CLI options to config files.

[2017-05-11 13:42] rphmeier commented on #5589
@adrianbrink Have you tried as well?

[2017-05-11 13:56] #5008 closed

[2017-05-11 14:43] #5490 closed

[2017-05-11 15:45] ngotchac commented on #5572
Hey @lfrickel I tried the code you posted here web3j/web3j#85
and I could see the events getting logged in the Parity Wallet (in the Contract view).

![image](https://cloud.githubusercontent.com/assets/2864519/25958616/66b23152-3671-11e7-85c9-da04e8dbe812.png)

Can you confirm that
[code]

doesn't work when you try to deploy and execute `triggerEvent`?

[2017-05-11 19:20] russdirks commented on #5458
I think I'll close this.  If the problem starts reappearing I'll re-open or file a new issue.

[2017-05-11 21:27] tomusdrw opened #5604 "UI should detect if time is out of sync."
Should check some external serice and compare local time.
Would help with supporing a lot of cases with out of sync time for token and sync.

[2017-05-12 01:34] guanqun commented on #2913
From the comments we want to do two things:

- convert docopt to clap
- remove some advanced CLI arguments. For this one, I don't think I'm in the right position to say which one should be removed. :) Hopefully someone can come up a list.

[2017-05-12 04:08] rstormsf opened #5605 "Adding multiple files when developing new contracts"
As a Dapp developer, I'd like to have an ability to add multiple files when I'm writing a contract in order to use `import` keyword in Solidity.
[code]
http://127.0.0.1:8180/#/contracts/develop

Let me know if there is already a way to do it, otherwise, it's a feature request.

[2017-05-12 04:42] #5605 closed

[2017-05-12 08:34] ngotchac commented on #4698
@arkpar The thing is that TLAs are supposed to be unique. Adding them in metadata won't ensure that. So it's whether a contract change, or we register tokens with random free TLAs and add the real one in the metadata...

[2017-05-12 08:59] tomusdrw commented on #4698
Solving uniqueness issue can be handled by GUI (using some ranking or just taking the one that was registered first (currently the uniqueness pretty much works like that)).

[2017-05-12 09:04] ngotchac commented on #4698
But then how to let the user that want to register the same TLA that it's already taken and that his token won't show up in the Wallet?

[2017-05-12 09:37] lfrickel commented on #5572
Hey @ngotchac. Thank you again for your attention. I can confirm that

[code]

doesn't work when I try to deploy and execute `triggerEvent`.

[code]
I checked with TestRPC. I do not see a fundamental difference between these examples, but since you insist, then I tried to check through Kovan / Parity this example too. Now I have another problem: deployment.

![1](https://cloud.githubusercontent.co

[2017-05-12 10:36] ngotchac commented on #5572
@lfrickel This is very strange... Could you try to run with `-lown_tx=trace` CLI flag, and send the logs when this transaction hanging happens. Also if you see anything in the JS console it would be useful.

[2017-05-12 10:37] tomusdrw commented on #5572
@lfrickel Could you also check if the transaction is visible on https://kovan.etherscan.io/txsPending after you send it?

[2017-05-12 11:26] General-Beck commented on #5435
@5chdn we move to https://hub.docker.com/r/parity/parity/ with reorganisation

[2017-05-12 11:34] #1899 closed

[2017-05-12 11:53] jesuscript commented on #3484
this requires a tricky solution, should be discussed

[2017-05-12 12:31] debris commented on #5435
imo, the problem is caused by [this line](https://github.com/paritytech/parity/blob/2f757babb9d29607682fcb5a8c1f6af18033281c/docker/ubuntu/Dockerfile#L32)

- Dockerfile:

[code]

Cloning repo always takes the latests version of given repo, whereas we should use [local copy](https://github.com/paritytech/parity-bitcoin/blob/228c97ad85a4dd1de530804a18d293f315a97df3/docker/ubuntu/Dockerfile#L3) of th

[2017-05-12 13:25] debris commented on #4972
Yes it is. Any help is much appreciated ;)

[2017-05-12 13:39] bgadmin opened #5611 "Parity not working properly after few days of running and needs restart"
After some random time period, a couple of days maybe, parity misbehaves. I've noticed this problem when I try to create a new account through my application.

When the new account is created in application it automatically creates ethereum account and sends some ether to it.

Accounts get created but ether is never sent to the new account. I didn't get to catch the log for send ether transaction.

[2017-05-12 14:35] ngotchac commented on #3091
This has been done in #4066

[2017-05-12 14:35] #3091 closed

[2017-05-12 15:22] guanqun commented on #4972
Thank you @debris  I'll get some spare time to fix this.

[2017-05-12 16:36] lfrickel commented on #5572
To @tomusdrw : "Unable to locate Transaction entry"

[2017-05-12 16:45] lfrickel commented on #5572
@ngotchac Is this the information that you had in mind?

![6](https://cloud.githubusercontent.com/assets/28390130/26007935/5be145d0-374b-11e7-8de9-33a9b6263c99.png)

[2017-05-12 18:27] General-Beck commented on #5435
@debris for hub we use https://github.com/paritytech/parity/tree/master/docker/hub and https://github.com/paritytech/parity/blob/master/.gitlab-ci.yml#L515

[2017-05-12 18:30] tomusdrw commented on #5572
Can you try to increase `gas_price` of your transaction? You're using 10Gwei, and it seems that every transaction on Kovan is using 20Gwei. Did you set it manually or was it proposed by Parity?

[2017-05-12 20:00] holiman commented on #5596
I got it also
[code]

Only on the [beta branch](https://github.com/karalabe/hive/blob/master/clients/parity:beta/Dockerfile), not the [master](https://github.com/karalabe/hive/blob/master/clients/parity:master/Dockerfile)

[2017-05-12 20:48] General-Beck commented on #5596
@rphmeier rust 1.17? 1.16 works

[2017-05-12 22:53] PeterBorah commented on #5400
I'm running into the original problem with my Truffle migrations. It seems to be some sort of race condition where the transactions come in too fast and end up getting lost. Running Parity with `--reseal-min-period 0` fixes it.

[2017-05-13 07:55] lfrickel commented on #5572
@tomusdrw I increased the price from 130K to 3M. Unfortunately, it did not get better.

![3](https://cloud.githubusercontent.com/assets/28390130/26023689/a2d4fa7a-37ca-11e7-834a-c8ac4e7a3729.png)

[2017-05-13 08:12] lfrickel commented on #5572
@ngotchac I found that a few days ago in the test network Kovan I was already deploying this contract.

[code]

Here is his address: `0xF45e5FebD63E5f6225a1b08429FC332f3B231826` You can check the functionality of events.

![1](https://cloud.githubusercontent.com/assets/28390130/26023794/f1e3aeca-37cc-11e7-80e8-6dd2cc940ee9.png)

[2017-05-13 19:34] yuanfeiz opened #5615 ""Invalid params" for simple sendRawTransaction"
I have the following simple snippet to transfer ether

    let rawTx = {
      nonce: '0x06',
      gasPrice: '0x09184e72a000',
      gas: '0x2710',
      to: '0x007798de8A3a892c6cB1cce33F6aE88f3e2dfa55',//config.registrar.address,
      value: '0x0de0b6b3a7640000',
      data: '0x00',
    };

    let tx = new Tx(rawTx);
    tx.sign(Buffer.from(privKey, 'hex'));

    let signedTx = tx.serialize().

[2017-05-14 17:35] pietervdvn opened #5617 "Parity can't generate token for UI and fails with obscure UTF-8 message"
Suddenly, the parity client would not load the ui anymore, syncing works fine though (running parity without ui)

Full error message when running `parity ui`:

      Error generating token: Error { repr: Custom(Custom { kind: InvalidData, error: StringError("stream did not contain valid UTF-8") }) }

version Parity/v1.6.6-beta-8c6e3f3-20170411/x86_64-linux-gnu/rustc1.16.

If you guys want some fil

[2017-05-14 20:22] rstormsf opened #5618 "Document CLI parity account import"
There is no clear way of explaining how to import an account using CLI method
`parity account import`
What are the arguments? Json file? Password? Mnemonics phrase? Private keys?

I've tried to use:

[code]
Importing accounts failed.

[2017-05-14 20:44] holiman commented on #5571
Ok, hit it again. Here's the complete log:
[code]
It was terminated after being stalled for about a day... Here's how a similar looks when it shuts down succesfully:
[code]

[2017-05-14 21:11] rstormsf opened #5619 "Inform the user if unlocking the account fails in CLI mode"
if you run
[code]
it doesn't tell anything to a user whether the unlock was succesfull or not

It's also not clear which format address it needs to be accepted since:
[code]
returns accounts in the format of
`00bccdc04ded0f28fa5e098998950b22e4f7051b` without `0x` at the beginning, so
which format does it have to be used in `--unlock` cli mode? with `0x` or without?

Is it possible to show an error

[2017-05-14 22:04] ocminer commented on #4389
I can confirm this issue as well, is there a fix in sight ?

[2017-05-15 08:12] tomusdrw commented on #5617
Could you check if this file: `~/.local/share/io.parity.ethereum/signer/authcodes` is a valid text file?
Does removing (please make a backup) the file fix the problem?

[2017-05-15 08:14] tomusdrw commented on #5618
This command expects a keys directory as an input. Inside there should be a per-chain directory containing key files.

Perhaps it makes more sense to actually change the command to import key files directly:
[code]

[2017-05-15 08:17] ngotchac commented on #5572
@lfrickel It seems that you nevers actually sent a transaction to the contract : https://kovan.etherscan.io/address/0xf45e5febd63e5f6225a1b08429fc332f3b231826

The only transaction received it the one I just made to test. Again it might be the gas price you send the transaction with that is too low. Whenever you send a transaction, you can go check its status on `https://kovan.etherscan.io/tx/<txh

[2017-05-15 09:41] tomusdrw commented on #4389
#5580 should contain a fix.

[2017-05-15 09:46] tomusdrw commented on #5615
All `Bytes` fields (`data`) should have even length and also `to` should have fixed length. Other fields (`nonce`,`gasPrice`,`gas`,`value`) should be encoded as `QUANTITY` and leading `0` should be omitted:

[code]

Can you run Parity with `-lrpc=trace`? What version do you run? We have enhanced RPC errors recently and it should be displaying some more details.

[2017-05-15 09:49] tomusdrw commented on #5400
@PeterBorah This should not be required in versions 1.6+ (fixed here: https://github.com/paritytech/parity/pull/4671), the setting is applied by default when running `--chain=dev`

[2017-05-15 09:49] 5chdn commented on #5618
Crossposted here: https://ethereum.stackexchange.com/questions/16164/how-to-import-an-account-in-parity-using-cli

@rstormsf are you trying to import an existing account?

[2017-05-15 09:50] 5chdn opened #5620 "Document parity-deploy"
https://github.com/paritytech/parity-deploy

[2017-05-15 10:02] 5chdn commented on #5611
Could you explain _expected behavior_ versus _actual behavior_? How does parity misbehave?

Also, which version are you running, and which network is configured? How does your configuration/cli look like?

Finally, could you explain why a new account-creation process should send some ether to it? Do you have some script for this or are you referring to mining?

[2017-05-15 10:16] 5chdn commented on #5619
It should work with or without `0x` as the client expects a hex value.

The `--unlock` feature is for testnets and development only and it's expected that users acutally know their passwords. If you have trouble passing the correct password, you can use the Wallet UI (Accounts > 0x00bcc... > Password) to check your password or use the JSONRPC API.

[2017-05-15 10:16] #5619 closed

[2017-05-15 10:19] 5chdn commented on #5617
You need to tell which module should be logged, i.e., `-lsigner=trace`. (This said, I'm not sure whether this is a signer issue.)

[2017-05-15 10:24] tomusdrw commented on #5522
@daithi-coombes Parity is verifying Host headers (so the address used to access the server) for security reasons.
You need to run it with:
`--jsonrpc-interface 0.0.0.0 --jsonrpc-hosts all --ui-interface 0.0.0.0 --ui-no-validation`
to be able to access it externally from any IP/domain.

[2017-05-15 10:34] 5chdn commented on #4457
Closing because the tutorial is complete.

[2017-05-15 10:34] #4457 closed

[2017-05-15 10:38] 5chdn commented on #5391
Reopening as the wiki is still outdated. @tomusdrw I can update the wiki, what else does `condition` accept?

[2017-05-15 10:44] tomusdrw commented on #5391
RPC wiki should be updated from auto-generated files from code, so please don't update it manually.
The update process looks like this
[code]

Update `eth` wiki page now.

[2017-05-15 10:44] #5391 closed

[2017-05-15 10:45] 5chdn commented on #5431
Related: #5490

[2017-05-15 10:49] 5chdn commented on #5391
Thanks for the hint.

[2017-05-15 11:22] pietervdvn commented on #5617
@tomusdrw : Spot on: it is not a valid text file, it contains garbage. Removing authcodes indeed fixes the UI, and I can (again) access my wallet. I still have a copy of it, if you want it, I can send it to you in PM to debug.

@5chdn : Yes, I know, but even enabling each module did not give any output. I saw [your post on stackexchange](https://ethereum.stackexchange.com/questions/3331/how-to-mak

[2017-05-15 11:26] tomusdrw commented on #5617
@pietervdvn Yes, please send me a copy. Is it possible that your disk got corrupted?
Closing since the issue is solved, I double checked the code and it's not possible to generate a non-text file, so it must be caused by some external software.

[2017-05-15 11:26] #5617 closed

[2017-05-15 11:45] yudilevi opened #5622 "eth_sendTransaction with InstantSeal should return execution errors"
When executing a transaction from a truffle test that causes the solidity code to fail (invalid opcode / invalid JUMP), the error isn't reported back to the truffle test and instead, the transaction silently fails.
Note that it does work correctly when using truffle with TestRPC.

Here's the parity trace log -

[code]

[2017-05-15 11:49] tomusdrw commented on #5622
In `--chain=dev` the transactions are executed immediately, so instead of just pushing the transactions to the queue we could run them/seal the block and return possible errors to the caller (similar to `eth_call`).

[2017-05-15 12:09] yuanfeiz commented on #5615
I figured out it was caused by `signedTx` not prefixed by `0x`. Other than that, everything works fine. While that worked in geth really trapped me. So glad to know the errors would be more verbose .

Thanks for the help!